[2019-04-09 23:50] #4659 closed

[2019-04-10 00:02] Shazwazza commented on #5206
Tags are used for published content and as such are available publicly but that said i do understand that in some rare situations it isn't ideal to have this data public. Removing this controller would result in breaking changes but it is possible for you to remove this controller from the resolvers/containers on startup so it is not auto routed. This controller has been around since 2013 and alth

[2019-04-10 00:07] Shazwazza commented on #5207
Hi! The repository you are looking for is here https://github.com/umbraco/UmbracoIdentityExtensions and you can follow along with the currently logged issue here https://github.com/umbraco/UmbracoIdentityExtensions/issues/31

[2019-04-10 00:07] #5207 closed

[2019-04-10 00:25] Shazwazza commented on #5211
looking forward to the PR :) then we can also have @nielslyngsoe have a peek too

[2019-04-10 00:27] Shazwazza commented on #5215
I'm pretty sure @nielslyngsoe would be absolutely thrilled about this

[2019-04-10 00:33] Shazwazza commented on #5217
I think you probably need the version in there, have you tried?

You are not installing a brand new Umbraco site which is when this value is empty. You are upgrading a site so that value will not be empty. I am not sure if that value should be 8.0.0 or if it should be 7.14.0 (or maybe it doesn't even matter). Please try and see what happens.

I'll close this issue for now but feel free to reopen i

[2019-04-10 00:33] #5217 closed

[2019-04-10 00:43] Shazwazza commented on #5170
All makes sense and we have a meeting about this tomorrow. I'm all for making things consistent so will push for changing this correctly.

I'm just going to list some ugly options here though for reference:

* Create a new `AllChildren` property (we'll need it anyways) - adding a property to this interface is not very breaking since 99% of people won't have implemented IPublishedContent
* Obsolete

[2019-04-10 00:50] Shazwazza commented on #5190
@nielslyngsoe I'll have a look tomorrow for you but just to give you some context on what might be happening (if i remember all of these silly rules correctly):

* Invariant properties are validated on the server side for the default language
* Invariant properties are validated on the server side for a non-default language IF there is currently no published version of the content (i.e. If you hav

[2019-04-10 00:51] Shazwazza commented on #5112
I will close this issue then unless someone else has steps to replicate with the latest codebase. Thanks!

[2019-04-10 00:51] #5112 closed

[2019-04-10 00:52] Shazwazza commented on #5214
Thanks for reporting, have marked as up for grabs to see if the community might be able to assist.

[2019-04-10 00:53] Shazwazza commented on #4804
So shall i close this one then @PeteDuncanson ?

[2019-04-10 00:54] Shazwazza commented on #4913
Sorry pretty swamped this week, have added a reminder for this next week.

[2019-04-10 05:27] hartviglarsen opened #5218 "V8.0.1: Node remains in the index after being unpublished"
I encountered an issue where a content node will remain as a document in my ExternalIndex after being unpublished, which means I will get it in my ISearchResults if I query for its NodeTypeAlias. All its values will be null if I convert it to an IPublishedContent, obviously. Since it is unpublished.

Reproduction
------------

1. Create a new document type and allow it as root.
2. Create a content

[2019-04-10 05:51] FransdeJong commented on #5170
I would certainly pick the first option. Add to that good documentation and a talk about choices at codegarden or a small section in the keynote about continuous improvements and I think you'r all set. The community can handle the questions on our and I think you'll never hear about it after a year ;-)

[2019-04-10 06:22] mattbrailsford commented on #5204
@Shazwazza good to know. Thanks for the extra info :+1:

[2019-04-10 07:21] zpqrtbnk commented on #5035
Hey - thanks for the details - just FYI I am away at the Barcelona meetup, with little time for this issue - will resume work on it at the end of the week (so don't feel bad if I don't reply).

[2019-04-10 07:25] zpqrtbnk commented on #5170
I am in favor of breaking the interface once and for all and for good in 8.1 - and then there are other questions and changes that have been mentioned to me that we'd need to do as well.

[2019-04-10 07:51] zpqrtbnk commented on #5170
And now... something that has been in my mind for a while... models (such as those created by ModelsBuilder) implement `IPublishedContent` *and* define C# properties corresponding to Umbraco properties.

This can cause collisions. Imagine creating an Umbraco property with alias "Parent" - which should become C# property `Parent` - and will not build, because `IPublishedContent` already has a built

[2019-04-10 08:12] reillydom commented on #5214
Np @Shazwazza, more than happy to help where I can.

It also looks like the other 'multiple picker' type editors for macro parameters may be affected by the same issue. I've just tried adding the 'Multiple Content Type Picker', 'Multiple Property Type Picker' and the 'Multiple Tab Picker' which all only allow me to select one item instead of many?

More than happy to have a look at fixing these is

[2019-04-10 08:42] Shazwazza commented on #5170
Well, really we should be doing this https://github.com/umbraco/Umbraco-CMS/issues/3667 , but i think that's is v9 sort of breaking at this stage.

I'm not sure about the container thing, that means that IPublishedContent is just a shell, for those not in MB land, this is super ugly, and what about methods? They would collide too

[2019-04-10 08:47] zpqrtbnk commented on #5170
Renaming the issue and targeting 8.1 - let this be a larger discussion about how to properly refurbish `IPublishedContent` - and identify sub-tasks.

[2019-04-10 08:49] base33 commented on #5215
Have a PR ready on standby.  Typescript compilation has been added to the build process (compiles to plain JS) and then the gulp JS step does its thing.
Have also converted the notificationsService into TypeScript for others to use as an example.  I will submit this later today.

[2019-04-10 08:53] ronaldbarendse commented on #5206
I would argue removing the controller, but marking it as a breaking change would be the best option. If the controller is used in a website (which is unlikely, as this isn't documented), copying the controller to the website project is enough to restore it...

If you could provide an example of how to remove this controller on startup, a temporary 'fix' could be implemented for those that are also

[2019-04-10 09:31] ReVoid opened #5220 "V8: No linebreaks, invisible completing paragraph tag in "View Source Code" bar in Richtext editor (RTE) in Backcoffice"
When you try to view a souce code in richtext editor (RTE), there is no linebreaks depended of current sidebar container size. And, for some reason completing `</p>` tags are invisible while you don't select any text.

![error](https://user-images.githubusercontent.com/12345710/55868311-e1010400-5b8c-11e9-9660-23c1541f695b.gif)

Reproduction
------------

### Specifics

Umbraco 8.0.1

### Steps to

[2019-04-10 10:16] zpqrtbnk opened #5222 "NuCache Vanishing Content"
There have been reports of NuCache missing some content after a site restart. It had already been reported as #5121, we confirmed an issue with media, fixed it, assumed that was all, and closed. However, some users are reporting issues with *content* too.

**_How can you help?_**

We need to be able to reproduce the issue, in an as simple and small situation as possible. What can help too is:
* th

[2019-04-10 10:30] warrenbuckley commented on #5061
I have done the merge in it's own PR here https://github.com/umbraco/Umbraco-CMS/pull/5223

@Shazwazza or @zpqrtbnk please can you tripple check this as I am not 100% confident in this mege :S

[2019-04-10 10:57] nielslyngsoe commented on #5190
@Shazwazza

First one sounds correct to me, but I´m not sure thats whats happening...

The Second one sounds interesting, I think it makes sense, but then we might have a problem with the way the validation-feedback is served.

It would be nice if the feedback could correspond to the properties on the default-language, so the feedback doesn't get display on the non-default-language, cause here you

[2019-04-10 12:31] hundebol opened #5224 "Composition checkbox property always false until doctype is saved"
A checkbox in a compostion will always return false until the doctype where the composition is included is saved again.

**Reproduce:**

1. Imagine having a doctype named "Home"
2. In this doc type you have a composition named "Settings"
3. Now add the Checkbox (or true/false) property to the "Settings" composition and save.
4. The Checkbox is now present and can be edited in a page with the doc t

[2019-04-10 12:52] base33 commented on #5215
Pull request submitted https://github.com/umbraco/Umbraco-CMS/pull/5225

[2019-04-10 12:57] dawoe commented on #5215
I'm in favor of a better structure of all the js code in the backend.

But I have a concern this will make contributing harder. Suddenly you need to know typescript to be able to make fixes in the core.

And not everybody knows typescript. Speaking for myself I never touched typescript before. I think many of the current contributors haven't either.

What does @hartvig think about this ?

Dave

[2019-04-10 13:19] PeteDuncanson commented on #5215
So nice to see this one so well received. Been discussing with Craig and the plan of attack is something like this:

* Get the build chain up to date (which should be sorted by a PR thats coming in today)
* Pick a service and convert it to TS (this does mean renaming it to the .ts file format but we will do a rename in git so we don't lose the history.
* Identify and pull out and interfaces that w

[2019-04-10 13:31] #5154 closed

[2019-04-10 13:43] PeteDuncanson commented on #5215
@dawoe I honestly don't think that adding another tool to make a better code base should be a show stopper, why choose AngularJS in the first place if that is the logic, every choice comes with trade offs right?

The code base as is stops people contributing if you ask me hence all the issues I've been raising to try to get it all updated, straightened out and cleaned up. As you say its a bit of a

[2019-04-10 13:44] nielslyngsoe commented on #5172
Hi @kjac

Good one, would have been a failure to remove it, this just underlines that we need to revisit the UX of the media-picker for good.

Thanks

[2019-04-10 13:45] abjerner opened #5227 "v8: No way to get culture of node that doesn't vary by culture"
### Specifics

In both `v8.0.0` and `v8.0.1`, if a given `IPublishedContent` varies by variant, we can get the variants (cultures) via `node.Cultures`. This part works like it should 😄

However, on the other hand, if I have another `IPublishedContent` that doesn't vary by culture, `node.Cultures` is empty. I haven't found a way to then determine the culture (eg. `CultureInfo` or just the ISO code)

[2019-04-10 13:53] nielslyngsoe opened #5228 "V8: Rethink the UX of Media-Picker"
We need to re-think the UX of the Media-Picker, in order to provide a simple and intuitive UI.

I think we need to remove the option to open and edit a media-item from the selection-dialog. Instead we should provide a dedicated option to edit the selected-media(s).

This would mean that you need to pick a media-item before you can choose to edit it.

We also need to be aware about media-folders, i

[2019-04-10 13:56] dawoe commented on #5215
I all for improvements. But like I said...no experience in Typescript so don't know how steap the learning curve is.

On a side note... I am just raising my concern because most of the PR i have reviewed the last year where only changes in the angular code. So that is the area where I see the community contributing the most.

On the other hand we have merged in changes that needed a patch release

[2019-04-10 14:08] kjac commented on #5172
Yep.

Want me to fix that up as an intermediate fix while a UX redo is pondered?

[2019-04-10 14:13] mattbrailsford opened #5229 "v8: ICreateBuilder PrimaryKey should allow non clustered config"
Currently in the ICreateBuilder if you define a PrimaryKey column it is assumed that it should be clustered if the database supports it, however if you are using GUIDs for your primary key, it's advantageous to set these as non clustered as by their nature, GUIDs are random and so clustering doesn't really help. With that in mind, if you are defining a GUID primary key, it should be possible to co

[2019-04-10 14:38] base33 commented on #5215
Unit testing should be quite easy once most of it has been refactored. Services, controllers and "helpers" are all classes or class-based in a sense, and so unit testing should feel very natural.  It may also make people think about design before "just hacking something together" and us all regretting it later :)

[2019-04-10 14:47] madsoulswe commented on #5222
Replicate it by
1. Install umbraco with startkit.
2. Added a content picker property to the home doctype
2. Go to home and pick something.
3. Go back to settings and rename the property.

Then children of home will be empty. =)

[2019-04-10 15:17] PerplexDaniel commented on #5228
Probably a bit too radical, but I would love it if Umbraco would unify the media cropper and media picker into 1 editor. Then we can finally have the best of both worlds; re-use images and crops across multiple pages if we want (= media picker), while also being able to finetune the crops for a specific page on the page itself with a nice interface (= media cropper).

Whether or not an image is sa

[2019-04-10 15:33] PeteDuncanson commented on #5215
@dawoe baby steps, baby steps. I agree we should unit test but can't do it all in one hit. Incremental improvements are were we are at as time, interest and knowledge are in short supply. I'd rather we add something in that wait for the whole code base to magically get to this "perfect" state. I don't think the code base as is lends itself to being easily testable.

However, by:

* Getting TypeScr

[2019-04-10 15:44] PeteDuncanson commented on #4804
@Shazwazza I think so as I'll add it to one of my tasks to do for #5215 :)

[2019-04-10 17:49] bjarnef opened #5230 "v8: Log message should wrap inside container"
In Log Viewer the log message doesn't wrap inside the container, e.g. for long media url.

![image](https://user-images.githubusercontent.com/2919859/55901486-b71a0280-5bc9-11e9-9d2b-4d92d304c5d5.png)

[2019-04-10 18:12] bjarnef opened #5231 "v8: Carets in Tiny MCE toolbar are not vertical center aligned"
It seems carets in Tiny MCE toolbar are not vertical center aligned.

![image](https://user-images.githubusercontent.com/2919859/55902709-6bb52380-5bcc-11e9-84b6-6406d39758e7.png)

The skin.min.css sets the following, but `margin-top: 6px;` looks more to be in center.

[code]

[2019-04-10 18:23] bjarnef opened #5232 "v8: Make tree item annotations clearer"
A the moment it is a bit difficult to see the tree item annotations, e.g. when a node is using listview or saved, but not published.

I think it for example could have a background color on these icons to make it clearer.

[code]

![image](https://user-images.githubusercontent.com/2919859/55903651-7670b800-5bce-11e9-9a0f-36373b545434.png)

[2019-04-10 18:35] danEdmonds opened #5233 "Error in Backoffice when selecting Order By Document Type in Custom List View"
The following error message is displayed when viewing the page with the list view applied in Umbraco:

![UmbracoListViewErrorMessage](https://user-images.githubusercontent.com/997000/55904411-c1260c00-5b9d-11e9-919b-a8f080196b2a.jpg)

To reproduce this error, add a custom list view to the document type, select the "Document Type" option in the "Columns Displayed" property and then in the "Order By

[2019-04-10 20:16] Zweben opened #5234 "Deploy 3.0: Accessing backoffice from an alternate URL breaks deployment"
Accessing the backoffice from an alternate URL, via a rewrite rule in Web.config, causes Deploy to break.

### Bug summary

When trying to deploy content from Local to a Cloud environment, the source environment will throw a "Umbraco.Deploy.Exceptions.RemoteApiException" error every time.

This same configuration and process works without issue in Umbraco 7.14.0 / Deploy 2.0.15.

### Steps to repr

[2019-04-11 04:05] Shazwazza commented on #5224
That does seem quite odd! Have marked as a bug and up for grabs to see if the community might be able to assist

[2019-04-11 04:17] Shazwazza commented on #5227
I think this is more just confusion about the APIs. If an `IPublishedContent` object is invariant (does not vary), then it has no cultures. That is expected.

You've assigned a culture to that branch in the back office, but that is the culture the page is being rendered in, it's not the culture of the content item. This is the same as how v7 works (i.e. there is no culture assigned to the content

[2019-04-11 04:17] #5227 closed

[2019-04-11 04:20] Shazwazza commented on #5231
Thanks, have marked up for grabs in case you or someone else in the community can help by submitting a PR

[2019-04-11 04:21] Shazwazza commented on #5232
Thanks, have marked up for grabs in case you or someone else in the community can help by submitting a PR

[2019-04-11 04:21] Shazwazza commented on #5233
Hi, any chance you can test with the latest v7 version to check if it's already been fixed?

[2019-04-11 04:23] Shazwazza commented on #5234
Hi thanks for reporting, would you be able to submit this issue to the Cloud repo? https://github.com/umbraco/Umbraco.Cloud.Issues

Thanks!

[2019-04-11 04:23] #5234 closed

[2019-04-11 04:27] Shazwazza commented on #5190
We do have a problem with the way validation feedback is served, especially for creating new content - but that's a different issue (already logged). Lets chat through some of this today.

[2019-04-11 05:28] Shazwazza commented on #5206
I wrote a quick blog post about how to remove routes during startup so this can be achieved: https://shazwazza.com/post/need-to-remove-an-auto-routed-controller-in-umbraco/

Will chat to the team about this controller soon and get back to you

Cheers!

[2019-04-11 05:33] Shazwazza commented on #5007
Hi sorry for the delay but i think the referenced PR didn't reference this correctly, it is here and is merged https://github.com/umbraco/Umbraco-CMS/pull/5033 so i believe this is fixed and due out in 8.1

[2019-04-11 05:34] Shazwazza commented on #5007
Doh! actually sorry my mistake, it's this PR (the other one was closed) https://github.com/umbraco/Umbraco-CMS/pull/5034

[2019-04-11 05:42] Shazwazza commented on #5044
Thanks for reporting, i'll see if i can replicate but it might very well be related to a few of the other valiation, variant issues we've been fixing recently.

[2019-04-11 07:19] Philipdl opened #5235 "V8: Content disappear when save and publish in split view"
When I create new content in the split view for a new language and save and publish. The content seems to disappear. However when I reload the content appear again.

**I have attached two images:**
**First picture** shows that the content in German disappeared after i Saved and Publish

**Second picture** shows that when i refresh the page the content appears again.

Reproduction
------------

[If

[2019-04-11 08:24] FransdeJong opened #5236 "Ability to delete the logfile on a running application"
In v8 there is a lock on the log file preventing me from deleting the logfile. This wasn't the case with v7.

I've run into issues with this on cloud where I can't simply stop the application and delete it. Cloud support asked me to twice to wait until tomorrow to see my corrupted logfile is solved when a new file is created.

This is time consuming and it would be a lot better if we could simply

[2019-04-11 08:41] ronaldbarendse commented on #5206
Thanks @Shazwazza!

I've checked the Umbraco source and instead of removing routes based on URL (which might even remove other, custom, routes, since it's quite greedy with the contains check), doing this based on route name seems like a better solution:

[code]

[2019-04-11 08:48] ronaldbarendse commented on #5206
The route names are hard-coded in the `RouteLocalApiController` and `RouteLocalSurfaceController` methods of `WebBootManager` (V7) or `WebFinalComponent` (V8), so these shoudn't change.

Umbraco could even add an extension method (for convenience) to remove auto-routed controllers, e.g. `RouteTable.Routes.Remove<TagsController>()` that checks the type (API/Surface, using genetic type constraints),

[2019-04-11 08:49] jmoumbraco commented on #5215
All,

Thank you very much for your input on the topic of front-end code in Umbraco and TypeScript.

This is a big topic that we are very much aware of at HQ along with other architecture options for the future of Umbraco CMS, but are not quite ready to move on yet. We are looking forward to engaging in these front-end options going forward and we’ll keep you updated when we do and when additional

[2019-04-11 09:42] Shazwazza commented on #5206
Nice! I can update my blog at some stage with that too.

In v8 you can actually remove the TagsController, etc.. by type from the composers and they won't be auto routed at all but in v7 you can't do that so thought I'd write a similar solution that works for both.

But yes having an extension method on routes would be nice too, happy to accept a PR if you have time too :)

[2019-04-11 09:49] #5235 closed

[2019-04-11 11:09] kjsguld opened #5237 "SqlException Execution Timeout Expired - On move > 1000 items"
Copy of issue from [old tracker](https://issues.umbraco.org/issue/U4-11613)

When you move more than 1000 items in the backoffice you will be met by a timeout error.

Reproduction
------------

Go into the backoffice and move more than 1000 nodes.

## Specifics

### Expected result

That the action is carried out without errors.

### Actual result
I got the following message in the log (I use Micr

[2019-04-11 12:10] PeteDuncanson commented on #5215
@jmoumbraco is this issue effectively closed then or can we expect some discussion from HQ to share their thoughts? Currently we've not heard anything other than "no thanks". Difficult to know were we stand or how to progress without some more communication. My reasons for wanting to do it are pretty clearly layed out above, what parts of that do HQ disagree with that we don't know about?

[2019-04-11 12:17] lars-erik commented on #5215
I heartily approve of that part, I just don't see why TypeScript needs to be an intermediary step.

If nothing has happened since last I dabbled in Umbraco "front-end" code, there are like 1% test coverage, a horribly old build process and a half-baked structure rewrite to use a more "component-based" approach.

I say switch to parcel or some very light-weight build process, start getting things u

[2019-04-11 13:10] hartviglarsen opened #5238 "V8: Saving a document type in Infinite Editing on a non-created content node results in 404"
If you open your document type in Infinite Editing on a non-created content node and **Save and Close** you will encounter 404s.

Reproduction
------------
1: Create a document type
2: Create a new node based on that
3: Open the document type in Infinite Editing
4: Save and Close the Infinite Editing overlay

![j6dLDmgCFn](https://user-images.githubusercontent.com/4366314/55959790-c6518c80-5c6b-11

[2019-04-11 14:05] FransdeJong commented on #5222
I have the problem consistent now for the latest few pushes to live.
I have it narrowed down to adding documenttypes and templates and or changing existing ones.

This is a live site so I can't test to much but I will make a reliable reproduction scenario with a test cloud project this weekend.

@zpqrtbnk Does nucache take the cloud environment into account? The content issue only presents itself

[2019-04-11 14:07] PeteDuncanson commented on #4804
Well...given #5215 does that mean this issue gets reopened?

[2019-04-11 14:10] nielslyngsoe commented on #5172
@kjac, I think that could be part of the right solution.

Let me summarise how I think we can make the experience more simple and intuitive:

- Lets get rid of the option to edit a media-item and media-folder from the media-picker selection-dialog (it has offen shown to cause confusion when people hit it by accident)
- When a media-picker is configured to allow folder-selection, we would have to s

[2019-04-11 14:10] lars-erik commented on #5215
That being said, I do agree that it seems like this issue is suffering from the same lack of transparency and openness as several other issues. In my experience the process of contributing to Umbraco often goes something like this:

1. Someone in the community proposes something
2. Someone at HQ gets personally excited and helps a bit
3. Eager community / (personal) HQ (members) discussion goes on

[2019-04-11 14:25] kjac commented on #5172
Thanks for the feedback. I'll get on it 😀

[2019-04-11 14:27] Jeavon commented on #5237
Have you tried setting the "Connection Timeout" to 300 or higher in the connection string? Umbraco will use this value for Command Timeout as well as Connection Timeout as detailed in https://issues.umbraco.org/issue/U4-7887

[2019-04-11 16:15] zpqrtbnk commented on #5222
@madsoulswe Reproduced - excellent, now debugging.

@FransdeJong Don't thing Cloud environments have an impact - more... it could be that documents have not created exactly in the same order on each environment (ie Deploy has its own order). Will know more when I find out what's going on

[2019-04-11 16:24] opr opened #5239 "Media library reports image dimensions incorrectly in some cases"
If you upload a 1200x800px image at 300dpi, the media library reports the image dimensions as 5072x3620

Reproduction
------------

Upload [this image](http://darwindigital.co/129.jpg) which is 1200x800 and observe the dimensions in the media library.

When changed to 72dpi it is correct, and also at 144dpi the dimensions are also reported correctly.

Can't seem to reproduce this with any other im

[2019-04-11 16:54] zpqrtbnk commented on #5222
Silly issue with cache refresh - PR on its way.

[2019-04-11 16:58] zpqrtbnk commented on #5222
PR #5240

_**NOTE TO REVIEWERS this is an 8.0.2 fix, please merge the PR and THEN cherry-pick the fix in `v8/8.0`**_

[2019-04-11 17:54] kjac commented on #5172
@nielslyngsoe PR in #5241

[2019-04-11 18:21] lars-erik commented on #5215
I want to apologize for the first version of my previous post. It included an unjustified and groundless accusation of HQs motives which did nothing but paint a false picture I do not support. It did not belong in this discussion, nor any other. I am truly sorry for letting rash, poisonous thoughs like that slipping into a frindly forum. It should not have happened.

I do understand that HQ is wor

[2019-04-11 18:55] FransdeJong commented on #5222
@zpqrtbnk do you still want me to check it in a cloud deploy? Or is it the same issue?

[2019-04-11 20:31] cleversolutions commented on #2961
I have a 7.12.3 site where @Umbraco.UmbracoContext.InPreviewMode is always returning false. That said, it's not a clean install, it's a site that has been upgraded numerous times. It's ugly, but I can use Request.Cookies["UMB_PREVIEW"] != null instead to detect preview mode.

[2019-04-11 20:35] ckobel-hbside opened #5242 "Format styling does not render in Rich Text Editor"
I have created a stylesheet, added it to a data type (rich text editor), and I am able to select it and apply it to text within a rich text editor, but the style does not render within the rich text editor. Example: I have an h1 style, I can apply it to text in the RTE, view the source code and the style is in fact wrapping the text I intended to format, and it displays properly formatted when pub

[2019-04-11 23:19] Shazwazza commented on #5237
What version are you specifically using?

[2019-04-12 07:48] #5152 closed

[2019-04-12 07:59] MMasey opened #5243 "V8: Improve focus states present for the top menu icons (top right hand side)"
Similar to issue #5129, the focus states for the icons on the top right hand menu are either not clear, or in the case of the user icon, not present.

![image](https://user-images.githubusercontent.com/6573613/56021277-ee3eff80-5d00-11e9-9a6f-32f459d475cd.png)

I order to achieve conformance with Level AA : 2.4.7 accessibility standards, there should be a clear focus area. I think @nielslyngsoe fo

[2019-04-12 08:00] #5155 closed

[2019-04-12 08:22] zpqrtbnk commented on #5222
Don't think it is cloud related - OTOH it is related to "making changes to document types" be it via the user interface or deploying - if you can confirm that you were seeing the problem when making changes or deploying, but not in "normal" operations, that'd be great.

[2019-04-12 09:20] kjac commented on #5233
This is a problem on the latest V7 and also V8. I'm on it 👍

[2019-04-12 09:38] #4628 closed

[2019-04-12 09:49] #5129 closed

[2019-04-12 10:01] abjerner commented on #5227
@Shazwazza thanks for the answer. I figured there was a reason for why it works like it does in Umbraco 8.

However in Umbraco 7, the `GetCulture` method actually does reflect the culture in some way. If the current node I'm calling the method on doesn't have a culture (via cultures and host names), the method will traverse up the path of the node. This also works outside the Umbraco request pipel

[2019-04-12 10:52] kjsguld opened #5244 "Delete content notifications not sending"
The delete notification on content does not send notifications.

Reproduction
------------

### Bug summary
Notifications are not send on deletion.

### Specifics
Inspecting the logs in the backoffice under /settings/logViewer/overview doesn't provide any further insights either.

### Steps to reproduce
Create an environment running 8.0.1
Set up SMTP settings in web.config
Set up notification mail

[2019-04-12 11:00] FransdeJong commented on #5222
Yeah, it only happens when I'm changing something on a documenttype so this should be fixed to.

[2019-04-12 11:04] rasmusjp commented on #5123
Looks like it's already implemented with https://github.com/umbraco/Umbraco-CMS/pull/4001, only difference is that the src isn't removed, but reading the comments I'm not sure if that's desired or not.

[2019-04-12 11:25] PeteDuncanson commented on #5211
Again given #5215 I assume this one is just not going to happen, its going to be seen as too big a change. Its a same as its one of those PR's that will go stale really quickly and the work will be lost but I can't see much value in putting it in right now if there are bigger discussion and choices to be made about how to improve the code base. I'll choose my battles.

I'd love for @nielslyngsoe i

[2019-04-12 11:26] dawoe commented on #5123
I had a PR merged and reverted for V7 for removing the data-udi attributes. Maybe you can read the discussion there as well : https://github.com/umbraco/Umbraco-CMS/pull/2531

Dave

[2019-04-12 11:53] zpqrtbnk commented on #5222
Cool. Note for reviewers: can close the issue after merging!

[2019-04-12 12:56] #4521 closed

[2019-04-12 12:59] kjac commented on #5233
PR in #5245

[2019-04-12 15:05] jmoumbraco commented on #5215
@PeteDuncanson

Please consider the issue as open for discussion (but not ready for PRs) and know that we welcome and value all ideas, opinions, POCs, etc. on the topic of TypeScript in Umbraco, all very helpful input for us for future decisions to be made.

Rest assured that we are not holding anything back, so as soon as we are ready to pick this up or know more about the timing - we will let yo

[2019-04-12 15:36] umbracolegion commented on #5243
We're working on it now! Stay tuned.

[2019-04-12 15:41] PeteDuncanson commented on #5215
@jmoumbraco thanks for that. How best to help get something together to help inform the conversation? We want to help not hinder.

Could I suggest that as there are a number of us who would like to continue exploring the TS route we do so but in a separate fork/branch. Then we can report back on what we learn at Code Garden face to face? Assuming that would give something to discus and either way

[2019-04-12 15:50] jonathantwite commented on #4969
I have created a fix on my fork which appears to fix the solution: https://github.com/jonathantwite/Umbraco-CMS/commit/bc9075a780ee15527d0904671d9682b7ae9a9520
This checks the SQL version before using CONCAT.  Shall I create a pull request as this seem to be the only real issue with SQL2008R2 - otherwise I will need to keep a parallel fork running as this is the SQL available on our hosting compan

[2019-04-12 16:03] nul800sebastiaan commented on #4969
Sorry @jonathantwite we won't support SQL2008 any more and neither should your hosting company :)

[2019-04-12 16:16] jmoumbraco commented on #5215
@PeteDuncanson That sounds fantastic 👍 Would bring us very valuable input.

[2019-04-12 17:03] zpqrtbnk commented on #5035
Have looked at your logfile and... here is the thing: the new process (P564) is starting for a *different* application (since you swapped). So P8108 was for the *other* application. It does not have to release its lock for P564 to acquire it... OTOH the lock *has* to be released... but that should happen on the *other* slot. And so... I would love to see the *other* log. Is this possible?

Note th

[2019-04-12 17:23] kjac commented on #5233
PR for V8 in #5250

[2019-04-12 17:43] kjac commented on #5233
And another V7 PR for media in #5251

[2019-04-12 19:12] zpqrtbnk commented on #5035
I have created an Azure App Service hosting a simple MVC web app, with two slots. Had to have one per-slot appSetting in order to force slot-swaps to trigger a restart. Then, have our MainDom system and some temp file lock to the app... and I can swap slots, and see the MainDom lock being properly released, and swaps happening without issues.

I have to accept that *something* is wrong, considerin

[2019-04-12 21:23] kjac commented on #5242
Hi @ckobel-hbside,

You'll need to add styles to the classes in your stylesheet. Otherwise the RTE has nothing to apply.

The styles are purely for editorial reference and won't be used in your frontend rendering (unless of course you explicitly include the stylesheet in your markup).

[2019-04-13 06:51] kjac commented on #5244
I can reproduce this and a few other notification issues as well... will look at a fix.

[2019-04-13 09:00] mjbarlow opened #5253 "V8: Chrome with downloads bar present causing images to move in editor pane"
On Google Chrome - Windows - with downloads bar at bottom of screen.  Open the media picker with images in the preview pane that are a certain width. Then moving the mouse - this causes the overflow auto to kick in and out quickly - this flicks the images between rows. This is only occurring when the downloads bar is present at the bottom of the browser window.

Reproduction
------------

### Bug

[2019-04-13 09:31] mjbarlow opened #5254 "V8: Copying images in media section between folders doesn't update after completion, images should be removed from current view."
Copying media in media section between folders doesn't update after completion, images should be removed from current view.

Reproduction
------------

### Bug summary

![Copy image issue](https://raw.githubusercontent.com/mjbarlow/img/master/image-copy-issue.gif)

See above, when moving media between folders, once the operation is complete then the current view should be updated and the images sh

[2019-04-14 06:37] AndyButland opened #5257 "V8: Can't use culture and fallback with image cropper"
As noted [here on the forum](https://our.umbraco.com/forum/umbraco-8/96790-fallback-on-crop-url-in-v8) (I couldn't see that the proposed solution in the response to the question works).

Can resolve by adding some overloads to the `GetCropUrl` methods and providing the culture, segment and fallback optional parameters when looking up the associated content.

PR to follow.

[2019-04-14 07:18] marcemarc opened #5259 "U4-10518 - Adding a ListView to the Media Picker"
Moving this issue from the old issue tracker...

... not least as I can see that @kjac is updating ux for the Media Picker in another PR, and also updating sorts in listviews ... and I'm confident I can pique his interest just enough to roll together a smoother interaction than what I put together as a proof of concept back in v7! (I'm aware of how machiavellian this is of me :-P)

Essentially nav

[2019-04-14 07:41] marcemarc opened #5260 "Media Picker UX: Quickly pick most recently uploaded media"
When using the Media picker one of the most common interactions is to pick something you or another member of the editorial team has just uploaded into the CMS.

Now if you are creating content, and adding Media as you write, then this isn't an obvious issue, you just upload your new media and pick it, that editorial journey is catered for! - but If you are working in a team, you might not have up

[2019-04-14 08:20] kjac commented on #5254
Thanks for reporting 😀 this was fixed just recently in #5117

[2019-04-14 11:22] kjac commented on #5229
Well that was fun! PR in #5261.

@mattbrailsford could I bother you to test it in your particular scenario?

[2019-04-14 11:40] JoseMarcenaro commented on #5035
@zpqrtbnk ,
The error is no longer happening.
By the time I reported this and send you the log, it was happening on *every* swap.

I did not change anything in Umbraco since then - the same package 8.0.1 is used.

I'm almost sure the difference is that, while trying to workaround the error, I completely disabled Application Insights on Azure - it was enabled by default when I first created the App

[2019-04-14 11:49] kjac commented on #5244
OK. This is a bit of a pickle.

All notification subscriptions for a specific content item are deleted when the content item is deleted due to database consistency considerations. Thus the delete notification subscriptions aren't available afterwards in the event handler that is supposed to process them.

This is one for HQ to consider. So far I can see four possible solutions, all of which are le

[2019-04-15 00:37] Shazwazza commented on #5227
Hi @abjerner there would be a couple ways to achieve the same thing IIRC. Firstly the thread culture should be set to the culture detected for the route. So like any .NET app you can do either:

` Thread.CurrentThread.CurrentCulture` or `CultureInfo.CurrentCulture`

In v8 we then also have something called a `IVariationContextAccessor` which is the thing that returns the current variation context.

[2019-04-15 02:16] Shazwazza commented on #5244
Great investigation! :)

As for #1, #3 and #4 - we cannot do any of those unfortunately.

however a variation of  #2  can work.

There is an undocumented 'feature' of events which has been there since about 7.13 where we are able to pass state between the "Firing" and "Fired" events at the service layer.

We send notifications in the `NotificationsComponent` by listening to events, in this case it

[2019-04-15 02:38] Shazwazza commented on #5187
I just received this (or similar too)

full error

[code]

All i did was:

* latest v8 codebase
* already have multiple root content
* installed starter kit
* click on the Home page to edit

[2019-04-15 02:55] #5222 closed

[2019-04-15 04:00] kjac commented on #5244
Cool 👍 If you're comfortable with that "shared" notification workload I'll have a look at it, hopefully today 😊

[2019-04-15 04:08] Shazwazza commented on #5244
I guess there's 2 ways to do this:

* What i mention above, which means that the ContentService would take on a dependency on the INotificationsRepository OR
* More like what you said but it is thread safe - The ContentService.Deleting event is handled by the NotificationsComponent, then it adds whatever state it wants to the event args `EventState` dictionary. This even state will carry through t

[2019-04-15 04:14] kjac commented on #5244
Awesome. Sounds like a better alternative 👍 I'll poke around in it later.

[2019-04-15 04:16] Shazwazza opened #5263 "Move the lastsynced info to the database instead of a local file"
Based on the research/outcome of #4944 we should implement this. There's a draft PR made as well https://github.com/umbraco/Umbraco-CMS/pull/5169

we will then need to consider if this brings with it breaking changes or if we can avoid these by obsoleting, etc...

[2019-04-15 04:19] Shazwazza commented on #4944
Good effort, have created sub tasks for those items.

[2019-04-15 04:19] #4944 closed

[2019-04-15 05:56] aaronpowell opened #5264 "Migrate Umbraco.Core and Umbraco.Web to SDK projects"
MSBuild 15 (shipped in VS 2017) introduced a new MSBuild project file structure called 'sdk projects': https://docs.microsoft.com/en-us/visualstudio/msbuild/how-to-use-project-sdk?view=vs-2019

These are often thought of as part of [.NET Core](https://docs.microsoft.com/en-us/dotnet/core/tools/csproj) but it can be used for .NET full framework projects (such as Umbraco).

In v8 it already starts t

[2019-04-15 06:24] zpqrtbnk commented on #5264
What could be the unexpected / unwanted consequences?

[2019-04-15 06:34] aaronpowell commented on #5264
I'm pretty sure it'll prevent VS 2015 from being supported (although I don't know if net472 works there anyway) and _maybe_ 2017 (but I haven't had 2017 on a machine for a long time).

I'm not sure if the project type supports web services, which I see are still referenced in `Umbraco.Web`. If it's not supported the easiest thing would be to slice off that part of the codebase into a separate DLL

[2019-04-15 06:40] zpqrtbnk commented on #5264
Don't think we want to support VS 2015. Dropping VS 2017 support.... might be more of a concern. Guess the only way is to try?

[2019-04-15 06:43] aaronpowell commented on #5264
Yeah I'd be surprised if you're still wanting to support a 4 year old IDE.

Mostly I want SourceLink support, it'll make debugging from a package so much nicer!

[2019-04-15 06:51] zpqrtbnk commented on #5035
Thanks for keeping up with the detective work ;-) I have tried to experiment with enabling/disabling AppliCation Insights on my test app, but still cannot reproduce the out-of-order lock management that you see.

Happy that it works for you, but it annoys me.

Will lower the priority of this issue, but still, will try to send you a DLL to test, that would log way more details about what is going o

[2019-04-15 06:56] zpqrtbnk commented on #5187
hard to reproduce, but obvious issue - I read from a dictionary, and write to it on some rare occasions, all without a lock - fixing

[2019-04-15 07:36] andersbrohall opened #5265 "V7: Culture and Hostname is ignored when occupied by thrashed item"
When setting a Culture and Hostname to a string that is already in use, but located in the Recycle bin, the value is not saved. Nor do you get a message about it being in use.

Reproduction
------------
Set a hostname on any published node.
Reload, and check the Info tab.
Delete the node.
Set the same hostname on any published node.
Reload, and check the Info tab.

Been there since forever, but al

[2019-04-15 07:54] #5174 closed

[2019-04-15 08:27] zpqrtbnk commented on #5187
PR #5266

Review = code review, I _did_ repro with a test, and with the fix the test does not fail anymore, but since this all depends on timing, it cannot be reliably reproduced nor tested.

Also, this was introduced in 8.1 which has not been released yet = no need to label with a version

[2019-04-15 09:02] teusch opened #5267 "u 8.0.1 minRequiredPasswordLength in UmbracoMembershipProvider has no effect"
### Bug summary

For our development environment we want a simple small password(less then 10 chars) to login as admin.
But if I change the minRequiredPasswordLength in te UmbracoMembershipProvider in the web.config  I still get the "Minumum 10 characters" when I try to change the password in the user section. I tried more then 10 and less then 10 , rebuild the site  and stop/started the app_pool

[2019-04-15 09:12] nul800sebastiaan commented on #5267
Make sure to add the attribute (`minRequiredPasswordLength="16"`) to the `UsersMembershipProvider`, currently you've only updated the password length for members, not backoffice users.

![image](https://user-images.githubusercontent.com/304656/56120851-4f6c0a80-5f6f-11e9-8183-100007df3179.png)

[2019-04-15 09:12] #5267 closed

[2019-04-15 09:12] maybgit commented on #5214
I have also encountered this problem and are looking for a solution.

[2019-04-15 09:23] zpqrtbnk commented on #5035
This: [Debug.zip](https://github.com/umbraco/Umbraco-CMS/files/3079389/Debug.zip) contains a patched DLL that just logs infos when acquiring the main lock (process id, but also user name, app id and maindom hash) - if you have a moment to try it...

[2019-04-15 10:09] dampee commented on #5264
While I am an absolute fan of the new format (hello multi targeting), I got a lot of issues when converting to the new format

* Default is to "include" all files in a project, they will be included as all files are included except if you exclude them.
* the SourceLink Github package is still a beta package with 400k+ downloads (not sure what @nul800sebastiaan thinks about that)

[2019-04-15 10:59] minorum commented on #3790
Hello, it's almost half a year and this bug still applies.

[2019-04-15 12:59] filefontaine opened #5268 "V8 : Auditservices sql error"
Hello,
I have a error when i use AuditService GetUserLogs

Reproduction
------------
### Bug summary

Sql problem conversion fail nvarchar to int

### Specifics

* In a controller with `UmbracoAuthorizedJsonController`
* An `[HttpGet]` public function

### Steps to reproduce

Use the function like this (user exist) :

[code]

### Expected result

a `IEnumerable<IAuditItem>`

### Actual result

[co

[2019-04-15 13:06] nul800sebastiaan commented on #5268
@filefontaine Which Umbraco version are we talking about here please?

[2019-04-15 13:19] zpqrtbnk commented on #5268
Think I have reproduced it on 8.0.1.

[2019-04-15 13:27] zpqrtbnk commented on #5268
Confirmed. We have
[code]
And our query mapper ends up mapping this to SQL `AND ([umbracoLog].[logHeader] = @1)` (which is fine) but then assigns the value of `@1` to the object representation of `type`, which is an Enum, so it ends up being an `int` (eg `2`) -- but in our database, we expect a `string` (eg `Unpublished`).

[2019-04-15 13:29] zpqrtbnk commented on #5268
Following test (if added in `AuditServiceTests`) fails:
[code]

[2019-04-15 13:56] ReVoid opened #5269 "V8 Missing methods of PublishedCultureInfo (CultureInfo)"
In Umbraco V7 `IPublishedContent` has an extension method `GetCulture()` that returns an `CultureInfo` instance, but now in V8 it returns an `PublishedCultureInfo` instance. In current case, developers can't just intantly use `System.Globalization.CultureInfo` [methods](https://docs.microsoft.com/en-us/dotnet/api/system.globalization.cultureinfo?view=netframework-4.7.2#methods) that can't be used

[2019-04-15 14:37] zpqrtbnk commented on #5268
Have fixed in 8.1 with PR #5270
Still needs to be fixed in 8.0
And @filefontaine  if you can tell use in which version you are seeing this? Probably exists in 7.x too

[2019-04-15 14:54] zpqrtbnk commented on #5269
This is related to #5170 - some additions to `IPublishedContent` for variants (1:1 multilingual) see to collide with older methods & we need to sort this out.

[2019-04-15 15:19] kjac commented on #5244
@kjsguld @Shazwazza upon further reflection...  shouldn't delete notifications really be sent when content is moved to the recycle bin instead of deleted from it? Moving an item to the recycle bin is conceptually a delete operation (it's even called "Delete" in the tree context menu).

Receiving a notification *after* content is deleted from the recycle bin doesn't help anyone - you can't really d

[2019-04-15 15:44] kjsguld commented on #5244
@kjac I agree with this perception of the concept. It's it should rather be a message concerning the fact that a given content node has been sent to the recycle bin - or "staged for deletion" in other words.
Likewise the idea of a notification about a "soft" deletion rather then a possibly irreversible change would be a much better UX for an administrator in my opinion, since it could easily be ac

[2019-04-15 16:49] reillydom commented on #5214
I think I've found the problem @Shazwazza.
It looks like the default mapping is being ignored by AutoMapper(I think you still use this?) when the action method 'GetMacroParameters' is being called.
When I inspected the 'Configuration' property for the multi picker Macro Parameter it was an empty collection, instead of being populated with the defaults.

I think I've seen an update/ pull requests f

[2019-04-15 16:59] kjac commented on #5244
There's also the fact that the deleted notification (yes I eventually managed to get it to send) contains a link to edit the deleted item. Which obviously results in an error message stating that the element does not exist. So... all the more reason to send delete notifications when an item is moved to the recycle bin.

I have an existing PR that fixes move/copy notifications (#5255). I'll amend t

[2019-04-15 17:14] kjac commented on #5244
PR #5255 is updated to handle deletion

[2019-04-15 19:29] 0Neji commented on #3494
Hi @nul800sebastiaan,

Sorry to bring this back up. I'm still seeing the behaviour I outlined in my original post - even in Umbraco 8.0.1.

Just to be clear, my problem is when creating a template **programatically**, I've seen another issue where it's been fixed when creating a new template in the back office.

Would it be possible to recreate this and take another look at the issue please?

Than

[2019-04-15 19:29] kjac commented on #5232
Well... this wasn't the easiest of styling tasks! Would've been easier if the icons where all the same size 😆 PR in #5271

[2019-04-15 19:49] kjac commented on #5259
@marcemarc I see what you did there 😆

It's not a bad idea. But does it really solve the actual editorial challenge "I don't know where the stuff is"? The editors still have to find the correct folder first. If the editors have been good at subdividing the media library into folders, finding the correct folder can be a hassle in itself.

My initial thought was "why not just use the search field?".

[2019-04-15 20:24] 0Neji opened #5273 "V8: Can't set configuration for DropDownFlexiblePropertyEditor"
I'm trying to create a set of data types via code and have been able to successfully create and specify configuration for MediaPickerPropertyEditor and MultiUrlPickerPropertyEditor data types.

However, when I try to do this for the DropDownFlexiblePropertyEditor, I'm told I can't create the configuration due to it's protection level.

I'm wondering if there's any reason for this or if we could ma

[2019-04-15 21:20] JoseMarcenaro commented on #5035
Done.
I could reproduce the error. No slot swapping involved, I just enabled Application Insights.

Initial state:
* App Service with the patched debug version of Umbraco.Core.dll
* Umbraco working normally

Clean restart to clean up logs
* stop App Service
* delete log files
* start App Service, open Umbraco

Enable Application Insights
* enable from Azure portal (use default configuration)
 * te

[2019-04-16 01:24] Shazwazza commented on #5244
Yup yup and yup! of course that all makes logical sense and probably makes the coding a little less painful :)

[2019-04-16 01:38] Shazwazza commented on #5269
Also related to #5227 (have some notes in there too https://github.com/umbraco/Umbraco-CMS/issues/5227#issuecomment-483073323)

[2019-04-16 01:48] #5232 closed

[2019-04-16 01:51] Shazwazza commented on #5273
Should be one extremely easy PR, just need to make the class `DropDownFlexibleConfiguration` public instead of internal. Have marked up for grabs :)

[2019-04-16 01:55] Shazwazza commented on #5214
In 8.1 we no longer have AutoMapper and mapping is done internally with our own logic (but the mapping calls look the same). Are you using the code from the latest v8/dev branch? If so, you'll probably want to look into where this mapping logic occurs which i think is in: `MacroMapDefinition`

[2019-04-16 05:29] Shazwazza commented on #4963
## Notes

Trying to make sense out of this has been 'interesting' but i think I've figure out the gist of it all.

### Background

When a member type is saved, we ensure that special properties are added - this is an absolute requirement. These properties are there to support both ASP.Net Membership Providers and ASP.Net Identity for members.

For some reason, our initial data install of Umbraco d

[2019-04-16 05:41] Shazwazza commented on #4963
I have added the unit test to core to show the problem https://github.com/umbraco/Umbraco-CMS/commit/02ddf80014093fa4dc4b60c8dd01f954519c9b61

So the core will need to be fixed to deal with this correctly which I believe is 2 fold:

* I think we are not handling the `MemberType.MemberTypePropertyTypes` correctly
* We need to stop writing to the DB during a read operation

As for Deploy, we will ne

[2019-04-16 06:56] filefontaine commented on #5268
Hello @zpqrtbnk sorry for the late response.
My version is 8.0.1.
I check with the GetLogs() methods and i have the same error.

[2019-04-16 07:10] zpqrtbnk commented on #5035
From the log:
[code]

We see `P9404/D2` booting, acquiring the MainDom lock, running, then releasing the MainDom lock, because it has been notified by the environment that it had to shut down. And _then_ `P9404/D3` boots, acquires the MainDom lock, and runs.

And _then_, `P1480/D2` starts and... acquires the MainDom lock, even though `P9404/D3` has not been notified of its shutdown and has not rel

[2019-04-16 07:19] marcemarc commented on #5259
@kjac first of all, thanks for thinking about it, I raised it again mainly as it seemed the two things you were looking at in other PRs, might coalesce into this old issue. The issue was raised back in the day before 'Search' searched the whole of the Media section - so agree search does mitigate a number of the picking issues.

The search does not search filenames (as far as I can tell, only the

[2019-04-16 07:42] zpqrtbnk commented on #5035
Note to self: have run some tests of the MainDom class on local machine, with two console apps, and it all works as expected. Note that the app that releases the lock is `Signaled (signal)` whereas in the above log, it's always `(environment)` meaning... `P9404/D3` is not even signaled to stop?!

[2019-04-16 07:45] kjac commented on #5230
Tables are terrible with long lines 😆 PR in #5274

[2019-04-16 08:08] zpqrtbnk commented on #5035
If I can bother you with another [Debug.zip](https://github.com/umbraco/Umbraco-CMS/files/3083716/Debug.zip)... MANY THANKS for your time here!

[2019-04-16 08:19] kjac commented on #5239
Basically this happens because Umbraco manages to read the width and height from the image EXIF metadata. For this particular image, I think the EXIF metadata is wrong... I have tried reproducing with other 300 DPI JPEG images with valid EXIF metadata and I their dimensions are correctly read.

[2019-04-16 08:22] opr commented on #5239
Thanks Kjac, I suppose saving it as 72dpi re-wrote the EXIF data. I'll let our client know. Thanks again

[2019-04-16 08:22] #5239 closed

[2019-04-16 08:28] kjsguld opened #5275 "V8: Content templates with RTE's can't be created."
Creating content templates with RTE's will trigger a System.InvalidOperationException: Cannot run a repository without an ambient scope.

Reproduction
------------

### Bug summary

When trying to create a content template with a RTE, you'll receive an error in the backoffice.

### Specifics

CMS 8.0.1

### Steps to reproduce

Create a new document type called "testtemp1"
Add a property that is a

[2019-04-16 08:29] 0Neji commented on #5273
Perfect, thanks @Shazwazza!

PR created 👍

[2019-04-16 08:49] MMasey opened #5277 "V8: Fix A & AA accessibility issues throughout the back-office"
# IMPORTANT UPDATE
We have an updated trello board with all the tickets from the latest Accessibility Audit.
Trello Board for Umbraco Accessibility Issues (8.4>) - https://trello.com/b/7M8RosrE/umbraco-accessiblity-issues-84

Note - I've left the link for the old trello board for reference. We may close this ticket soon and open a new one to tidy things up a little bit.

---

There are currently a

[2019-04-16 09:13] MMasey commented on #5277
To make things easier I've moved the spreadsheet over to here 😄

![image](https://user-images.githubusercontent.com/6573613/56197140-19db2600-6030-11e9-9f91-e2e7f770b1f3.png) |  | Umbraco V8 Accessibility Audit  |   |  
-- | -- | -- | -- | --
Issue | Level | Description | Area | PR Link
1 | Level AA : 2.4.7 - Unclear focus area | Tab states (focus) is insufficient or missing | General |  
2 | Leve

[2019-04-16 09:20] kjac commented on #5214
I've been digging into this and I think I have a fix 👍

[2019-04-16 09:27] Jeavon commented on #5035
@JoseMarcenaro just wondering, do you have any applicationInitialization configuration?

[2019-04-16 09:43] kjac commented on #5214
PR in #5278

[2019-04-16 09:45] JoseMarcenaro commented on #5035
Done. Same secuence as before, same error result.
[error2-log.zip](https://github.com/umbraco/Umbraco-CMS/files/3084145/error2-log.zip)

[2019-04-16 10:03] kjac commented on #5253
Really weird looking issue! I can't reproduce it, though:

![media-issue-5253](https://user-images.githubusercontent.com/7405322/56200528-45194180-603f-11e9-87df-5836fed8ef5c.gif)

I can't entirely figure out what should cause the CSS to shift things around like that with random mouse movements. Any chance you have some Chrome extensions running that could cause this? Or in other words, does it ha

[2019-04-16 10:23] GitCorne opened #5279 "V8 - Removing fallback language results in Page not found"
I have 3 languages configured:

- English (default)
- Dutch (fallback to English)
- French  (fallback to English)

I have correctly added the culture and hostnames for each language:

![image](https://user-images.githubusercontent.com/11057750/56201694-afcb7c80-6041-11e9-8b7a-f7af101b1582.png)

Then I navigate to Settings > Languages and change the fallback language for the French language from En

[2019-04-16 10:34] JoseMarcenaro commented on #5035
@Jeavon you are right. I do have applicationInitialization configuration.

[2019-04-16 10:36] zpqrtbnk commented on #5035
Thanks for the log. What it contains is:
* `P3488/D7` starts, acquires the lock, runs...
* `P3488/D7` is signaled by the hosting environment that it needs to release the lock... and releases
* `P3488/D8` starts, acquires the (now released) lock, runs...
* when `P3488/D8` requires the lock, it signals `P3488/D7` - which *does* report it
* `P7468/D2` starts, and wants the lock

At that point... `P74

[2019-04-16 10:37] Jeavon commented on #5035
@JoseMarcenaro I think that might be a clue for @zpqrtbnk
I only asked as I only saw the error once I had added applicationInitialization, could be coincidence but with applicationInitialization IIS is internally within the module starting up a new site

[2019-04-16 10:39] zpqrtbnk commented on #5035
afraid I don't understand ;-) can you be more... something?

[2019-04-16 10:39] Jeavon commented on #5035
And it's starting internally before shutting down the currently running one, once it gets the 200 then it makes it public to serve requests

[2019-04-16 10:43] Jeavon commented on #5035
@zpqrtbnk to enable locally add within system.webServer element of web.config

[code]

[2019-04-16 10:45] Jeavon commented on #5035
Trying to find out how it works exactly, this seems to be the most info https://docs.microsoft.com/en-us/iis/get-started/whats-new-in-iis-8/iis-80-application-initialization

[2019-04-16 10:46] MMasey commented on #5277
Here are some links to various tools and reference materiel should you require any help 🙂

**Websites & Articles**

- [Web Content Accessibility Guidelines (WCAG) Overview](https://www.w3.org/WAI/standards-guidelines/wcag/)
- [Getting Comfortable with WCAG](https://seesparkbox.com/foundry/getting_comfortable_with_wcag)
- [Accessibility according to actual people with disabilities](https://axesslab

[2019-04-16 10:46] JoseMarcenaro commented on #5035
I thought ApplicationInitialization configuration was used by the Azure infrastructure only when launching a swap, to warm up the stage slot before performing the swap and starting to send requests to it.
But that "doAppInitAfterRestart" attribute shows me it might not be the case.
In my app, I do not have the attribute set.
[code]

[2019-04-16 10:49] Jeavon commented on #5035
@JoseMarcenaro it is used whenever IIS needs to start/restart. For Web Apps it's correct you are using it. It will be used for things such as Slot Swapping, Scale (cold boots) and server transition (when your site is moved to a new server) and app recycle. Without it, you will not get continuous operation.

[2019-04-16 10:50] JoseMarcenaro commented on #5035
From https://docs.microsoft.com/en-us/iis/configuration/system.webserver/applicationinitialization/:
**doAppInitAfterRestart**

Optional Boolean attribute.Specifies that the initialization process is initiated automatically whenever an application restart occurs. Note that this is different than the preLoadEnabled attribute in the application element, which specifies that the initialization proces

[2019-04-16 10:57] Jeavon commented on #5035
@JoseMarcenaro have you tried setting it to true?

[2019-04-16 11:00] zpqrtbnk commented on #5035
So... the reason why the new domain starts before the previous one is down, would be because IIS is warming up the new domain, *then* swaps them, *then* terminates the old domain. Makes sense.

Nevertheless, *in theory*, the new domain should signal the old domain, and then wait for the old domain to release the lock, before acquiring it. Whereas... it all looks like the new domain is running in i

[2019-04-16 11:00] JoseMarcenaro commented on #5035
@Jeavon no, but I don't think it will add any useful information.
I can run my site without these errors - it now happens *only when setting on Application Insights* and then everything goes right.

So avoiding the error it is not the priority. Finding more information about how it happens is.

[2019-04-16 11:14] bjarnef opened #5280 "v8: Get specific culture dictionary value"
At the moment `UmbracoHelper` have two overload methods to get value or an dictionary item.

[code]

https://github.com/umbraco/Umbraco-CMS/blob/853087a75044b814df458457dc9a1f778cc89749/src/Umbraco.Web/UmbracoHelper.cs#L174-L198

It would be great if we also could get a dictionary value of a specific culture and/or fallback to a culture, e.g. `en`.

Maybe something like this:

[code]

[2019-04-16 11:19] zpqrtbnk commented on #5035
Odd, on my test app it always shuts an app pool before starting another - either I fail at configuring app initialization, or ...

[2019-04-16 12:32] 0Neji opened #5281 "V8: Can't Save and Publish Content during startup due to notifications issue"
I'm attempting to create content, then save and publish using the content service but I'm running in to a null reference exception.

I'm not sure why this is happening, my hunch at the moment it is that I'm trying to create it from a composer and wondering if maybe something isn't initialised for me at that point.

Anyway, here's the code I'm using (or at least, the important parts):

    using Sy

[2019-04-16 13:16] zpqrtbnk commented on #5281
What happens is this: the `RedirectTrackingComponent` uses the `Current.UmbracoContext.HttpContext` to store some state items that need to be carried over the different `ContentService` event handlers. In a `IComponent` when running `Initialize`, since there is no current request, there is no `UmbracoContext`, and it all ends in a `NullReferenceException`.

Turns out there *is* a way to ensure the

[2019-04-16 13:28] 0Neji commented on #5281
Thanks @zpqrtbnk - worked an absolute treat! Thanks for the super speedy reply, really good information.

[2019-04-16 13:46] rasmusjp commented on #4942
PR https://github.com/umbraco/Umbraco-CMS/pull/5282

[2019-04-16 14:15] JoseMarcenaro commented on #5035
@zpqrtbnk - would it be possible that one of the composable components we coded in our app, or third-party packages we use (i.e. [UmbracoFileSystemProvider.Azure](https://github.com/JimBobSquarePants/UmbracoFileSystemProviders.Azure/tree/develop-umbraco-version-8)) are delaying the release of the app domain, and causing the collision? That would explain why you cannot reproduce the error.

[2019-04-16 14:25] 0Neji commented on #5281
Actually, may have spoken too soon. I'm now getting the following error:

[code]

Stack trace:

[code]

Just to note, I think this worked because my homepage had half been created but when I deleted the content and tried again, I didn't get the original error but the one above.

It looks like the content node is created and published just fine.

Also, this part of your code:

[code]

Throws the fo

[2019-04-16 15:04] zpqrtbnk commented on #5170
Proposal for `IPublishedContent` changes, step 1, work-in-progress.
* Anything `-` is removed
* Anything `+` is added
* Anything `=` is unchanged

[code]

[2019-04-16 16:07] ssougnez opened #5283 "[V7] Incorrect string value \xE9 for tags"
Hello,

we are using Umbraco with mysql and when we try to save a page with some tags that contains diacritics (in french), we get the error:

Clearly, the issue comes from the fact that the Tag column of the cmsTags table is using utf8_general_ci.

While the source of the error is obvious, the resolution is not that obvious to me. What am I supposed to do to fix it?

Do I have to change something

[2019-04-16 16:44] kjac commented on #5275
@kjsguld this is already fixed in #4782

[2019-04-16 16:51] kjac commented on #5202
@yaplex I can't reproduce this - Works On My Machine with a simple doctype on vLatest:

![import-document-type](https://user-images.githubusercontent.com/7405322/56228512-46b32b80-6078-11e9-987e-d8bbb9f6c5a5.gif)

Can you check the dev tools console output and network traffic for suspicious errors - and if that doesn't yield anything, maybe check the logs for clues?

[2019-04-16 17:07] 0Neji opened #5284 "V8: Can't Render SurfaceController Script"
I'm trying to use a surface controller in Umbraco 8 to render out some scripts - really simple stuff usually and something I've done a ton of times in Umbraco 7.

I've transferred this code from an Umbraco 7 project but can't get it to work.

First of all, is my surface controller:

    using System.Web.Mvc;
    using Umbraco.Web.Mvc;
    using Papermoon.Umbraco.Kupo.Core.Services;
    using Paper

[2019-04-16 17:22] yaplex commented on #5202
@kjac I have this issue in 8.0.1, but I just tested using the latest source code and I see the issue is fixed.

Just FYI, you were right, it was an error in the console, the error message is below.

[code]

[2019-04-16 17:41] kjac commented on #5202
Awesome 🎉 I suppose this issue can be closed then?

[2019-04-16 17:50] zpqrtbnk commented on #5281
Oops, yes, it's a method call - thanks for correcting ;-)

Now about the other error - going to look into it.

[2019-04-16 18:01] yaplex commented on #5202
yes. Thanks @kjac

[2019-04-16 18:01] #5202 closed

[2019-04-17 05:09] kjac commented on #5284
Hi 😀

You have an error in your usings... There is no longer a namespace called "umbraco" - it's now "Umbraco" with a capital U. So the error message `The type or namespace name 'umbraco' could not be found` actually makes sense.

Things may have moved around between 7 and 8, so your old usings might not work anymore. Visual Studio should be very helpful in resolving your required namespaces.

[2019-04-17 05:22] #5273 closed

[2019-04-17 05:22] Shazwazza commented on #5273
Merged! 🎉 nice one

[2019-04-17 08:20] #5198 closed

[2019-04-17 11:33] kjac commented on #5280
Good idea!

Come to think of it, shouldn't the dictionary value automatically perform a fallback to the specified fallback language (if any)? Would make sense to me, at least 🤔

Being able to explicitly grab a dictionary item in another culture than the current one is also meaningful in some cases for sure.

[2019-04-17 11:45] mjbarlow commented on #5253
Ok, will look again and see if I can figure out what is causing the issue.

[2019-04-17 11:53] Shazwazza commented on #5280
@zpqrtbnk this sort of relates to some work you're doing

[2019-04-17 12:19] Shazwazza commented on #4963
I have pushed more changes:

* Fixed issues with INotifyCollectionChanged collections which were wrong - and fixing this seems to have fixed issues above with the unit test
* Added code to enforce unique property type aliases - but have commented it out for now since if we put this in a patch release it is too risky
* Makes sure we don't write during a read, this is a big cause of some of these is

[2019-04-17 12:28] Shazwazza commented on #5187
Have added a review to the PR, we should be using ConcurrentDictionary specific methods

[2019-04-17 12:29] zpqrtbnk commented on #5187
See my comment on the PR, not sure we can.

[2019-04-17 12:31] zpqrtbnk commented on #5280
Yup - making a note, will look into it.

[2019-04-17 12:46] nul800sebastiaan commented on #5061
Just pushed the merge to `v8/dev`.

[2019-04-17 13:43] jattwood opened #5289 "V7 - Preview button publishing un-published content."
There are bug reports of the same occurring on V8 that are now closed. This is happening on Umbraco version 7.12.4 assembly: 1.0.6879.21982.

Steps to reproduce:

1) Create new content node
2) Click Save, not Save and publish
3) Next, click preview. Preview page and close window.
4) Go back to umbraco window, click on another node and then return back to the newly created node.
5) Go to the info t

[2019-04-17 13:54] nul800sebastiaan commented on #5289
I can't reproduce in 7.14.0 with those steps, let me know if you can reproduce in that version!

[2019-04-17 13:54] #5289 closed

[2019-04-17 13:54] RoboDot opened #5290 "v8: Routing by template is not working anymore"
In the previous version (7) I could route my (template)page by a TemplateName. If I do the same thing in 8, umbraco returns a 404.

Reproduction
------------
In 7 I created a DocumentType with 2 or more templates. If I created a contentpage based on this documenttype I could give the templatename with it like this www.example.com/myPage/TemplateName and it returns the right template.
In 8 this isn

[2019-04-17 14:02] jattwood commented on #5289
I can't duplicate this on 7.14. Any suggestions for a quick fix on 7.12.4 without having to do a complete upgrade? Many thanks for getting back so fast.

[2019-04-17 14:04] nul800sebastiaan commented on #5289
Should be a fairly straight-forward upgrade :)

Sorry, don't know how/where/when this was fixed, no workarounds that I know of.

[2019-04-17 14:06] jattwood commented on #5289
Roger that – thank-you Sebastiaan.

Jamie

From: Sebastiaan Janssen <notifications@github.com>
Sent: April 17, 2019 10:05 AM
To: umbraco/Umbraco-CMS <Umbraco-CMS@noreply.github.com>
Cc: Jamie Attwood <jattwood@proteaninteractive.com>; Author <author@noreply.github.com>
Subject: Re: [umbraco/Umbraco-CMS] V7 - Preview button publishing un-published content. (#5289)

Should be a fairly straight-forwa

[2019-04-17 14:08] nul800sebastiaan commented on #5290
You can still use `?altTemplate=TemplateName` - not sure if we are going to support the other method where the template name is added to the URL, I'll ask around.

[2019-04-17 14:14] nul800sebastiaan commented on #5290
Heard back: this is still supported if you must, you can do `composition.ContentFinders().Append<ContentFinderByUrlAndTemplate>()` in a composer.

The way altTemplates and routing are handled is a bit odd and convoluted so we're not enabling it by default so as not to encourage it too much.

[2019-04-17 14:14] #5290 closed

[2019-04-17 14:26] RoboDot commented on #5290
Hi Sebastiaan,

Thx, that is what I m looking for. I have tested it and it works :)

[2019-04-17 16:22] zpqrtbnk commented on #5151
Also reported by Shan today
[code]

[2019-04-17 17:39] bmargevicius opened #5291 "V8: Moving Member Types"
### Bug summary
When trying to move a member of one type to another type the backoffice hangs.

### Specifics
Umbraco 8.01
Chrome 73.0.3683

### Steps to reproduce
Create a member type
Create a member of type "member" (The default)
Select the new member (put a green check next to it)
The top menu bar will change and add a button labeled move.
Click the move button
The right pane slides open with t

[2019-04-17 18:54] kjac commented on #5291
Whoa. I'm pretty sure it's not supposed to be possible! I'll have a look.

[2019-04-17 18:57] ahwm opened #5292 "Umbraco 8 HSTS Default Setting"
I just started up a new, empty copy of Umbraco 8.0.1. While exploring the backoffice, it recommended adding the HSTS header. However, there are a couple of issues with the implementation.

As per https://hstspreload.org/:

The HSTS health check does add the `preload` directive by default. It's not a huge deal for me as my domain is preloaded already, but this will cause problems for other users do

[2019-04-17 19:05] kjac commented on #5291
The "Move" action doesn't seem available on vLatest:

![image](https://user-images.githubusercontent.com/7405322/56314109-7172b200-6154-11e9-890d-401e45ec15f2.png)

[2019-04-17 22:42] MMasey commented on #3560
I've put together a draft PR that can be found at https://github.com/umbraco/Umbraco-CMS/pull/5293 🙂

[2019-04-17 22:45] MMasey commented on #3560
In regards to the SVG sanitization, I have a separate project in which I have used the suggested package, add added a bunch of custom config to make it work with SVG's. So far it has worked like a charm.

[2019-04-18 00:37] skartknet opened #5294 "Full path for DocType on Nested Content configuration"
Some times we have doctypes with different aliases but same name because they live in different folders in the DocTypes tree. It would be good to see that path structure in the doctype selector when configuring a nested content property.

How can you help?
-------------------------------
I can work on this myself but I want to know if this is a feature everybody else consider useful.

[2019-04-18 07:38] #4417 closed

[2019-04-18 09:38] #4932 closed

[2019-04-18 10:42] nul800sebastiaan commented on #5069
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/5090

[2019-04-18 10:42] #5069 closed

[2019-04-18 11:17] aaronpowell commented on #5264
@dampee What's in the class library projects of Umbraco that you wouldn't want included by default?

I know the web project has a bunch of files but the web project can't be used with SDK project style as it doesn't support IIS Express (to the best of my knowledge).

Regarding SourceLink, it might be pre-release but it's already pretty widely used. Some of the dependencies of Umbraco 8 use it (Jso

[2019-04-18 11:20] ssougnez commented on #5283
Hi,

any news about this? Our content editor are starting to get impatient not to be able to insert diacritics in theit tag :-D

Can you at least tell me if it's an issue in Umbraco or something wrong we did in the database setup ?

[2019-04-18 11:41] nul800sebastiaan commented on #5283
Sorry for the delay, unfortunately this seems to have never have been a problem before, I can't find similar errors relating to Umbraco. No idea what's going on but let us know if you figure out what causes this.

[2019-04-18 11:45] nul800sebastiaan commented on #5264
I'd be happy to experiment with 1 project being changed and seeing what the effects are on the build server, our build scripts and (HQ/contributor) developer experience.
I would be wary of not being able to decide which files do and do not get included in the solution, just excluding is no longer enough? We do require support for VS2017 but I think that should work.

Note that this is a comment ou

[2019-04-18 12:28] stodolos commented on #5035
We're having the same issue very frequently!  Several times a day...  Here are the settings we have in our App Service's configuration (not in the config file itself, in case that has any bearing on this):

- Umbraco.Examine.LuceneDirectoryFactory = **Examine.LuceneEngine.Directories.TempEnvDirectoryFactory, Examine**
- Umbraco.Core.LocalTempStorage = **EnvironmentTemp**

Seems similar to [this is

[2019-04-18 12:54] ssougnez commented on #5283
Well, the issue is that utf8_general_ci (in MySql) cannot store character encoded on 4 bytes like the one that correspond to an "é" and other accentuated characters.

I can investigate this but first, I have a question for you. I noticed that the xml column of the table cmscontentxml is set on latin1_swedish_ci. Is it Umbraco that does that? (I'm not aware of all actions taken by the infrastructur

[2019-04-18 13:09] nul800sebastiaan commented on #5283
Your guess is as good as mine mate, I'd have to investigate the same thing. I'd recommend reproducing on a test environment first and see how it goes.

[2019-04-18 13:54] ssougnez commented on #5283
Mmmmh, don't waste time on that for now. I just did a new installation with a mysql db and I don't have the issue. Maybe our infra team did something wrong. I'll close the issue if it's not Umbraco related.

[2019-04-18 14:44] CodeCheetah commented on #4620
Yes, same problem using v7.14.0

[2019-04-18 14:57] croban opened #5295 "setting just an hash link is ignored by RTE"
Settings just hash link just with the hash is ignored by RTE
Umbraco version 7.12.4 assembly: 1.0.6879.21982

Reproduction
------------
![image](https://user-images.githubusercontent.com/7048578/56369991-b4876080-61fa-11e9-956e-12e33a439ffa.png)

1) Select text inside RTE
2) Klick at RTE link icon
3) Set just hash link
4) Save and Close
5) look at HTML, nothing have changed

[2019-04-18 15:38] nul800sebastiaan commented on #5295
Hey @croban - that's what the "Anchor" button is for, make sure to use that one instead 👍

![image](https://user-images.githubusercontent.com/304656/56373238-d71c7800-6200-11e9-9fde-5a181ad5b924.png)

[2019-04-18 17:07] croban commented on #5295
This "Anchor" icon adds A Tag with specified ID, but how would you link to that hash tag?
This should not be closed

[2019-04-19 08:27] ksolberg opened #5296 "Document Type alias filter in List View"
Ability to configure a document type alias filter in a List View. This is useful in scenarios where you have a mixed set of children and want grouped lists without an intermediate grouping node.

F.ex

Instead of this:

* Fruits
  * Apples
    * Apple
  * Bananas
    * Banana

You can have this:

* Fruits
  * Apple
  * Banana

Where Fruits have two list views with Apple and Banana document type fi

[2019-04-19 08:39] nul800sebastiaan commented on #5295
Ah sorry, I wasn't paying close enough attention to what you're trying to do. You need to link to the current page, with the anchor you want.

![image](https://user-images.githubusercontent.com/304656/56415897-6e301100-628f-11e9-8d56-3bee88512d8c.png)

[2019-04-19 08:52] nul800sebastiaan commented on #5296
Gut feeling says: if we do this then we should enable all search boxes to allow filter by doctype, which might be a good thing or complete overkill. This seems like a scenario where it's only occasionally useful for some people, which is typically what we try to avoid.

I'll have to discuss this in our next regular meeting at HQ, I'll let you know the outcome.

[2019-04-19 09:07] nul800sebastiaan opened #5297 "v8: Linking to an anchor doesn't give the handy anchor dropdown any more in v8"
When you are in a rich text editor linking to a page, in v7 the properties on that page would get parsed to find possible anchor tags to pre-populate the link picker with. This now longer works on v8.

![image](https://user-images.githubusercontent.com/304656/56417122-35923680-6293-11e9-8b50-3cc998b5a4cc.png)

I've traced it down to https://github.com/umbraco/Umbraco-CMS/blob/v8/dev/src/Umbraco.We

[2019-04-19 09:08] nul800sebastiaan commented on #5295
This used to be a bit easier in v7, we should fix the pre-population of the anchors in v8, see: https://github.com/umbraco/Umbraco-CMS/issues/5297

[2019-04-19 09:10] croban commented on #5295
Okay, that is fair solution, just that internal link must be selected also, even if the anchor is on the same site. That is one or n clicks away (depends on where internal link reside in tree). My problem is also that I use RTE for some newsletter content (jumping around in email client), means those links will have absolute url+hash which on click leave email client. For those kind of links I hav

[2019-04-19 10:02] nul800sebastiaan commented on #5295
Make sure to ask around on [the forum](https://our.umbraco.com), sounds be too hard to come up with something that can help strip the URL off the anchor tags before sending it as an email.

[2019-04-19 15:34] croban commented on #5295
I know how to do that by using ValueConvert, but I need to invest time for doing that and just because because "Link" field ignores values like "#....". That is why I think "Link" field should allow "#hashtag" values.

[2019-04-19 16:49] croban opened #5298 "Internation Domain Names"
Umbraco version 7.7.9 assembly: 1.0.6596.21099

If there are internation domain specified than I geting constantliy this error:
For example this Hostname: www.öetwas.at

2019-04-19 16:31:38,202 [74] ERROR Umbraco.Core.UmbracoApplicationBase [(null)] - An unhandled exception occurred

HOSTNAME: RD0003FF74A1C6
HTTP_HOST: www.%C3%B6etwas.at
URL: (null)
QUERY_STRING: (null)

System.UriFormatException:

[2019-04-19 17:46] abjerner commented on #5298
Hi @croban and thanks for reporting this issue 👍

As 7.7.9 was released a little over a year ago, would it by any chance be possible for you to test whether this issue still exists in the most recent version of Umbraco 7?

I'm not 100% sure when you're seeing this error. Is it when Umbraco is booting up?

If so, from what I can tell, newer versions (I'm testing with 7.13.2), Umbraco will correctly

[2019-04-19 18:05] croban commented on #5298
Domain name is set in punycode format, really strange, everything works correctly on Frontend also inside backoffice. I think that checktimeout ajax call from umbraco which happens periodically cause this one also. I don't see this error log4net send me emails ;)

[2019-04-19 21:38] ksolberg commented on #5296
I was thinking in a List View data type configuration.

[2019-04-19 22:53] Nicholas-Westby commented on #4365
I'm glad to see this error is handled a bit better now. I just had this issue and had it a while back as well: https://issues.umbraco.org/issue/U4-11331

I imagine there is some good reason that the login can't continue to work, and so you must show the login screen rather than allow the login to continue to work. Still, this is better than a confusing error and having to clear my cookies. Thanks

[2019-04-20 00:47] markadrake commented on #3427
First and foremost, I'm not a fan of links being hidden and I don't think that's an appropriate UI/UX pattern. Even if we don't iterate now, somebody should update the CSS so **"Open in split view** is always visible.

![image](https://user-images.githubusercontent.com/713355/56448501-b8d87a00-62dd-11e9-85c6-a2fd9d08e25b.png)

One way we might make this friendlier is by reducing the target area fo

[2019-04-20 09:32] flobadea opened #5299 "Boolean property editor uses labelOn value for the Off label"
In Umbraco 7.13.2, the boolean property editor has a feature to display the on/off label. When this feature is enabled, the editor displays the on label in both on and off states. The current implementation is below.

...
        label-on="{{model.config.labelOn}}"
        label-off="{{model.config.labelOn}}"
...

[2019-04-20 09:37] flobadea opened #5300 "Colorpicker editor NullReference error"
In Umbraco 7.13.2, the colorpicker editor generates an error after clearing the currently selected error and trying to select a new one.
In the editor controller there is the following check
[code]
after the model.value is set to null, we'll get the error the next time we want to select a color

[2019-04-20 15:03] abjerner commented on #5300
@flobadea thanks for reporting this 👍

It does however seem that this has already been fixed in the latest release of Umbraco 7:

https://github.com/umbraco/Umbraco-CMS/commit/62463ecc21c741085100b83bc22caad75dacc7b6

Would it be possible for you to upgrade to Umbraco 7.14.0?

[2019-04-20 15:35] abjerner commented on #5299
@flobadea thanks for creating this issue 👍

In the prevalue options, it's only possible to specify `labelOn`, which to the user is just presented as a general label - not specifically shown for either state:

https://github.com/umbraco/Umbraco-CMS/blob/v7/dev/src/Umbraco.Web/PropertyEditors/TrueFalsePropertyEditor.cs#L24

This is also the same for Umbraco 8:

https://github.com/umbraco/Umbraco-CMS

[2019-04-20 19:50] MMasey commented on #5277
PR for addressing 26 & 28 - #5304

[2019-04-21 07:30] kjac commented on #5170
The proposed changes make sense, although I foresee a lot of people having issues with removing `.Name` despite the reasoning. But again, it makes sense.

If `.UrlAbsolute()` is removed, please make sure that `.Url(string culture = null, ...)` provides a way to retrieve absolute URLs for the current culture. They're necessary for various micro data and meta data.

[2019-04-21 07:49] zpqrtbnk commented on #5170
The `.Name` change is sure going to be a little annoying... but maybe for the best?

Was thinking `.Url(string culture = null, UrlMode mode = UrlMode.Auto)` but `UrlMode` can also be `Relative` or `Absolute`, would that make sense? And ppl can always create an `.UrlAbsolute()` ext method if they really want it

[2019-04-21 07:53] kjac commented on #5170
Makes sense indeed 👍 and yes it'll be for the best. Hopefully people will see it 😆

[2019-04-22 07:16] #5077 closed

[2019-04-22 07:55] #5092 closed

[2019-04-22 07:57] #5094 closed

[2019-04-22 10:27] nul800sebastiaan commented on #5195
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/5200 and https://github.com/umbraco/Umbraco-CMS/pull/5201

[2019-04-22 10:27] #5195 closed

[2019-04-22 10:31] nul800sebastiaan commented on #5198
Not sure why this was closed already, anyway: fixed in https://github.com/umbraco/Umbraco-CMS/pull/5203 - great feedback ! 👍

[2019-04-22 18:14] skttl commented on #5294
I have thought about that too. I think the Nested Content config could use an overhaul, and this is a good start. We also recently added the full path to the composition dialog.

[2019-04-22 18:26] skttl commented on #5296
I like this.

I think you should be able to configure different list views on your container doctypes, for each doctypes.

Say you have the following doctypes.
- FruitList
- Apple
- Banana

On your fruitlist, you would then add a listview for children of the Apple type, and a listview for children of the Banana type.

You might even then have children of other types, who will be visible in the tre

[2019-04-22 20:06] shearer3000 opened #5310 "Feature Request: 'unpublish' something within the Umbraco.NestedContent editor"
Would it be possible for a Umbraco.NestedContent editor to allow the content editor to unpublish a particular item.

We have certain situations where a content editor has a page with various content constructed using a NestedContent editor and wish to temporality unpublish a specific piece of content without removing it entirely from the editor/page i.e. just to “hide” it on the website. Is there

[2019-04-23 06:46] nul800sebastiaan commented on #5310
Hey there @shearer3000 - we currently don't have plans to implement this as an added feature, I would encourage you to read the discussion here as well https://github.com/umbraco/Umbraco-CMS/issues/2887 and you'll also find a package there that could help you out with the implementation you're looking for. 👍

[2019-04-23 06:46] #5310 closed

[2019-04-23 06:52] zpqrtbnk commented on #5269
Is going to be fixed as part of #5170, introducing `content.GetCultureFromDomains()` which returns a `string` - the ISO code of the culture. Closing this issue, please check #5170 for details + comment.

[2019-04-23 06:52] #5269 closed

[2019-04-23 06:55] zpqrtbnk commented on #5170
PR is #5311, up for testing and reviews and comments - we want this to be consistent!

**_Contains Breaking Changes!_**

Two new interfaces have been introduced: `IPublishedContentType` and `IPublishedPropertyType`, and `IPublishedElement` and `IPublishedContent` use them exclusively (vs `PublishedContentType` and `PublishedPropertyType`), thus making them easier to mock and test.

The following `

[2019-04-23 06:58] zpqrtbnk commented on #5187
Done, back for review

[2019-04-23 07:00] nul800sebastiaan commented on #5296
Taking a step back, list view was created to make sure that you didn't have endless items in the tree when expanding nodes and to help you find the last few items you've edited quickly so you could make some more edits to them. I don't think they were ever intended as a library to organize content in.

I think it should already be possible to create custom list views that do the things you're imag

[2019-04-23 07:32] abjerner commented on #5170
@zpqrtbnk Braking changes are always a bummer, but I think the changes make good sense. I can see the reasons for doing so. Are the plans to ship this for 8.1?

I'll see if I can find some time to help test this 😉

[2019-04-23 07:40] zpqrtbnk commented on #5170
Plans is indeed to ship with 8.1.

[2019-04-23 07:57] sofietoft opened #5313 "V8 - Start node for new UserGroups doesn't utilize the default language"
Creating a new UserGroup and setting a start content-node doesn't utilize the default language, when using language variants.

Reproduction
------------

### Bug summary

I have a small site that's using language variants - 1 default language (EN) and 1 additional language (DA).
I've created a single content node - this has been published in both EN and DA.
I create a new UserGroup, and when I wan

[2019-04-23 08:39] claushingebjerg opened #5314 "Image cropper on CMYK images generates large files"
A brief description of the issue goes here.

When cropping a CMYK image with the image cropper, the output filesize is almost 20x the needed size

Reproduction
------------

Upload an image to umbraco, crop it using the cropper and output it using razor.

### Specifics

V8 in Chrome - hasnt testet other browser, but should'nt matter since its serverside.

### Steps to reproduce

Upload an image to

[2019-04-23 08:51] nul800sebastiaan commented on #5314
What do you suggest? It's an ImageProcessor problem, so I would think that there might be a magic querystring to make it all better.

Also, make sure to attach a sample image so this can be tested.

[2019-04-23 09:01] zpqrtbnk commented on #4682
Just don't understand, this is really messy, the PR is still there, reopening the issue

[2019-04-23 09:01] claushingebjerg commented on #5314
Report updated with test files, rgb comes out at 3kb, CMYK comes out at 643kb after cropping...
I dont really know what to suggest, i just spotted the "bug". The problem is, i can and will avoid cmyk images for web, but i cant guarantee editors will, and this hits the page size pretty hard, without anyone knowing... If it cant be fixed in imageprocessor, maybe a warning could be issued when upload

[2019-04-23 09:02] #4682 closed

[2019-04-23 09:04] zpqrtbnk opened #5315 "Bug in RebuildContentDbCacheLocked"
As reported in https://our.umbraco.com/forum/umbraco-8/96924-bug-in-rebuildcontentdbcachelocked-not-paging-correctly paging is totally wrong

[2019-04-23 09:13] zpqrtbnk commented on #5315
PR #5316

**_Note to reviewer: this is an 8.0.2 fix. Merge into `v8/dev` and then make sure to cherry-pick in `v8/8.0`!_**

[2019-04-23 09:13] zpqrtbnk commented on #5315
oops

[2019-04-23 09:14] zpqrtbnk commented on #5315
oops

[2019-04-23 09:53] HalldorLyngmo opened #5317 "V8: Unable to publish all languages on a node in a single publish when it's a draft"
When you have more than one language and save a node as a draft it will disable the checkbox when you try to publish them. You will only be able to publish the language that is in the main or left view on the node.

Reproduction
------------
### Bug summary
After saving the node as a draft it will disable the input checkbox in the publish modal when you try to publish. You won't be able to unselec

[2019-04-23 11:07] zpqrtbnk commented on #4963
Reviewing now. Which means, I had to merge with the changes that were made to content/media/member type repositories in `v8/dev`. Which means... I am trying to make sense of it all as *maybe* some of these changes broke a few things, too.

So, here is what I have now.

* Instanciate a new member type, it does *not* have a builtin properties
* Save a *new* member type, the missing builtin propertie

[2019-04-23 11:37] zpqrtbnk commented on #3667
Note: there was a `temp8-3667-move-navigation-methodes-from-ipublishedcontent` branch in progress, which I have deleted, as changed in #5170 already do most of what it did, ie migrate from properties (`.Children`, `.Parent`...) to methods (`.Children()`, `.Parent()`...).

And then, Working on this as part of #5170 - at the moment, *everything* related to navigation is done via extension methods, b

[2019-04-23 11:46] nielslyngsoe commented on #5075
PR https://github.com/umbraco/Umbraco-CMS/pull/5318

[2019-04-23 11:46] zpqrtbnk commented on #4963
Super-H5IS, I have merged the PR manually into `v8/dev` although it was targeting `v8/8.0`.

So. It *is* in `v8/dev` now, and I'm looking into merging into `v8/8.0`.

[2019-04-23 11:55] zpqrtbnk commented on #4963
The appropriate branch has now been merged into `v8/8.0` even though the PR does not appear "merged" because GitHub would not detect it. My bad. Closing issue.

[2019-04-23 11:55] #4963 closed

[2019-04-23 12:02] #5214 closed

[2019-04-23 12:03] nul800sebastiaan commented on #5214
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/5278

[2019-04-23 12:05] #5315 closed

[2019-04-23 12:09] nul800sebastiaan commented on #5315
Merged and cherry picked into `v8/8.0` https://github.com/umbraco/Umbraco-CMS/commit/57c567c57099d54c36ad8393bfc52627da84045d.

[2019-04-23 12:24] #5244 closed

[2019-04-23 13:41] #4685 closed

[2019-04-23 14:12] nielslyngsoe opened #5319 "V8: Nested Content should have a 'no blueprint'-state"
After making it possible to configure Nested Content with no blueprints, I would like the UI to be clear if a Nested-Content property is in that state.

Meaning in a state where no blueprints have been allowed for the Nested Content, then we should remove the Add-button and display the text: "No content is allowed for this property".

Idea and suggestions are very welcome.

[2019-04-23 15:29] nul800sebastiaan commented on #4778
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/4821

[2019-04-23 15:29] #4778 closed

[2019-04-23 15:33] shane-sigma commented on #5277
PR for 4 - #5320

[2019-04-23 17:32] #4942 closed

[2019-04-23 17:33] zpqrtbnk commented on #4942
Have tested OK, created my own provider and it works, etc - merged the PR

[2019-04-23 17:56] hfloyd commented on #5294
Also I think the Nested Content datatype config should store  GUIDs for the doctypes used. In V7 if you change the alias of a Doctype, it loses the configuration, and if you update the configuration to re-select the doctype, any content nodes using the Datatype lose their data.

[2019-04-23 18:18] nul800sebastiaan commented on #4949
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/5136

[2019-04-23 18:18] #4949 closed

[2019-04-23 18:28] #5233 closed

[2019-04-23 19:03] #5229 closed

[2019-04-23 19:06] nul800sebastiaan commented on #5229
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/5261

[2019-04-23 19:40] nul800sebastiaan commented on #4747
Whoops., PR #5074 fixes #4746 instead of this one ;-)

[2019-04-23 19:41] nul800sebastiaan commented on #4746
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/5074

[2019-04-23 19:41] #4746 closed

[2019-04-23 20:31] FyinInc commented on #5217
[Umbraco 7 to Umbraco 8 upgrade failure.pdf](https://github.com/umbraco/Umbraco-CMS/files/3109459/Umbraco.7.to.Umbraco.8.upgrade.failure.pdf)

@Shazwazza we did try that before posting. Here are the steps we have tried.

[2019-04-23 20:33] FyinInc commented on #5217
[Umbraco 7 to Umbraco 8 upgrade failure.pdf](https://github.com/umbraco/Umbraco-CMS/files/3109467/Umbraco.7.to.Umbraco.8.upgrade.failure.pdf)

We had tried that. No luck.

[2019-04-24 06:26] zpqrtbnk commented on #5217
I am not sure I fully understand what you are trying to do - to upgrade a database from v7 to v8... well yes, you *do* need to configure a connection string in `web.config`, pointing to a v7 database, and you *do* need to configure a version in `web.config`, indicating the v7 site version.

Then, migrating from v7 does not fully work at the moment. First, migrating from 7.14 is not supported, only

[2019-04-24 06:53] nielslyngsoe opened #5326 "Search shadow-layer should be on top of the user-dialog"
Search shadow-layer should be on top of the user-dialog.

![image](https://user-images.githubusercontent.com/6791648/56638383-4f09f880-666e-11e9-9e84-21f2656047fb.png)

[2019-04-24 07:24] nielslyngsoe opened #5327 "V8: I would like to use the umbraco confirm dialog for deleting a nested content entry"
I would like to use the umbraco confirm dialog for deleting a nested content entry.

like this (just with a red-button aka. warning button style):
![image](https://user-images.githubusercontent.com/6791648/56640184-a742f980-6672-11e9-81a7-a88fe597e001.png)

[2019-04-24 07:25] filefontaine opened #5328 "V8.0.1 - recycle bin / restoration problem"
When you delete a node ( for me the root node) and you restore it, the children cannot be published.

Reproduction
------------

### Bug summary

publish node error (see screen below)

### Specifics

It's like a node is between the node and the child

### Steps to reproduce

* delete a node with multiple children, and this children have children
* restore the root node
* publish only the root node

[2019-04-24 10:20] shane-sigma commented on #5277
PR for 11 - #5333

[2019-04-24 10:35] #4709 closed

[2019-04-24 10:47] shane-sigma commented on #5277
PR for 19 - #5334

It's worth noting that many of these focus state bugs are related to there being specific `outline:0` rules in the CSS.
From an accessibility POV, these should not be present without an alternate focus state/style - which isn't generally present from what I have seen - it would be good to completely remove all of these rules but I am unsure of why they were added in the first pl

[2019-04-24 10:48] skttl commented on #5228
@PerplexDaniel I already did some of that: https://github.com/umbraco/Umbraco-CMS/pull/2946

[2019-04-24 11:02] PerplexDaniel commented on #5228
@skttl Very nice! Was not aware of that one, though it seems to be targeted at v7 rather than v8. In any event it's cool that there's already work done on this one.

[2019-04-24 11:23] Tobelemo opened #5335 "Multiple Media Picker not available as macro parameter"
The Partial View Macro File snippet "Gallery" recommends the use of the property editor "Multiple Media Picker".
This property editor is not available as an option in the "Editor" dropdownlist when adding parameters to a macro.

[2019-04-24 13:31] miketaylorco commented on #4870
![image](https://user-images.githubusercontent.com/7547847/56663262-96f44400-669d-11e9-8ec8-412463392688.png)
Maybe even simpler...?

[2019-04-24 14:06] zpqrtbnk commented on #5170
OK, I think this PR is big enough *and* makes sense, moving to review.

Reviewers, *please* do a code review but *also* think about whether this is all consistent or not!

[2019-04-24 14:17] warrenbuckley commented on #5264
I am investigating & trying to get this to work/happen @aaronpowell

Step one is in progress & creating newer NuGet .snupkg formats & a draft/WIP PR is in progress to convert to newer SDK .csproj filetypes

[2019-04-24 14:39] zpqrtbnk commented on #5281
Ok, so when you save the content item, we want to send a notification, and we want to know the Url of the site - but, that Url is determined when the first request hits the site. During a component `Initialize` method, it therefore is... `null`.

If we initialize it with an "empty" (not `null`) value, the notification message will look weird. We could try to run a first detection... but then you w

[2019-04-24 14:46] MMasey commented on #5277
Thanks for the great work Shane, as per the comments in your PR, I've updated the table with the PR submitted by @nielslyngsoe for 19.

[2019-04-24 14:47] kjac commented on #5335
Hi 😊 thanks for reporting!

This has been fixed already, see https://github.com/umbraco/Umbraco-CMS/pull/5278

[2019-04-24 14:48] kjac commented on #5335
... disregard my last comment 😊

[2019-04-24 15:37] FyinInc commented on #3973
@clausjensen any ETA?

[2019-04-24 17:58] JohnBergman commented on #4144
Just wondered if this make it into 7.15.0(or 7.14.1 if you decide to do a minor)?  We have a client facing mobile app that depends on this functionality for self service, I currently don't see it in the list

[2019-04-24 18:48] kjac commented on #5319
Makes sense, @nielslyngsoe 👍 PR in #5342

[2019-04-24 20:28] kjac commented on #4687
PR in #5343

[2019-04-25 00:05] dampee commented on #3355
I've been testing with sourceLink for some time now.  The only thing which you need to do is add the (pre-release) nuget package:

    <ItemGroup>
      <PackageReference Include="Microsoft.SourceLink.GitHub" Version="1.0.0-*" PrivateAssets="All"/>
    </ItemGroup>

[2019-04-25 06:36] kjac commented on #5260
I think this makes excellent sense. Perhaps this might spark some ideas in the UX mind of @nielslyngsoe too?

[2019-04-25 07:30] warrenbuckley commented on #3355
@dampee hmmm 🤔 I did try this & had no luck when I added the NuGet reference to that package. The Powershell build was not creating the nuget artifacts with the XML metadata for the commit SHA & the GitHub repo URL that SourceLink should be creating.

Hence from my understanding of how SourceLink works was that it needs to work with the newer SDK CSProj files. Once I had that done I was going to c

[2019-04-25 08:33] alikazai opened #5344 "There needs to be a way to see if Umbraco is processing tasks in the background."
Imagine working on a project and you press save or any other button, but nothing seems to happen. so you decided to press it again, and again, until you give up, without knowing that Umbraco is actually processing this in the background and you just needed to wait.

A number of times this has happened to me either if there is a slow connection or one of the plugins added to Umbraco was processing,

[2019-04-25 08:37] kjac commented on #5224
I dug a bit in this, and just to clarify a few things:

1. The issue happens while rendering the content, *not* in the backoffice - the composition property values are actually saved correctly.
2. This seems to happen for all composition properties (I have replicated with textbox and checkbox).

It's a caching issue. Something isn't flushed when the composition content type is updated, leaving Umb

[2019-04-25 08:41] nul800sebastiaan commented on #5328
I can reproduce this one, it works on the second-level child (for me) but not on the 3 level.

So "About this starter kit" publishes just fine, but "Test" under that doesn't (neither does "Test2").

![image](https://user-images.githubusercontent.com/304656/56722022-759b6280-6746-11e9-9e58-e07be9189386.png)

Even after using "Publish with descendants" on "About Us" I can't publish "Test" nor "Test2

[2019-04-25 08:48] nul800sebastiaan commented on #5344
This is a good point, to make sure that all of these places get fixed, I would suggest you open an issue for each place where you run into this problem so that we can fix these areas one by one.

The reason it's good to make an issue for each one of them is that we could start fixing a few of them now and in the release notes it will say: `Fixed: There needs to be a way to see if Umbraco is proces

[2019-04-25 08:48] #5344 closed

[2019-04-25 08:53] alikazai commented on #5344
Thanks

[2019-04-25 08:54] nul800sebastiaan commented on #5344
As an example, we recently fixed it for the notification panel: https://github.com/umbraco/Umbraco-CMS/pull/5097

[2019-04-25 11:31] #4911 closed

[2019-04-25 11:36] nul800sebastiaan commented on #4911
I'm in the process of applying the PR to v8.0.2, due out next Tuesday.

[2019-04-25 11:43] nul800sebastiaan commented on #4911
All done, commit: https://github.com/umbraco/Umbraco-CMS/commit/f82dff597b7e57ac81f7e587cf2fc6132cca680b

[2019-04-25 12:27] PeteDuncanson commented on #5215
Quick update on our findings so far:

* Its quite amazing how your brain starts "seeing types" pretty quickly when you get into it. We've only focused on a few services to start us off and we've got dozens of interfaces pulled out already. These have highlighted some deep seated issues in the back office.
* Trying to work out what fields should be passed in or around or which are required or optio

[2019-04-25 12:31] zpqrtbnk commented on #5328
Reproduced.

Details:
* deleted the root document, then restored it. The restored root document is unpublished. All documents underneath are "published but not visible" because a document up in their tree branch is not published - so far, it's all normal
* "saved and published" the root document. Now it is published. And all documents underneath become visible again, one can navigate to them, they

[2019-04-25 12:40] sumedhashyam opened #5345 "RTE editor in grid collapsed/disappears after reordering"
Hello Support,

When we reorder RTE editors in Grid, it collapsed. The client thinks he lost the data.

Reproduction

We can easily reproduce this error by reordering RTE editors in Grid.

Bug summary

RTE elements in the grid often get hidden after sorting the grid elements

Specifics

Umbraco version 8.0.1

Reproduced in browsers:
Chrome Version 74.0.3729.108
Safari Version 11.1.2 (13605.3.8)

S

[2019-04-25 12:42] zpqrtbnk commented on #5328
That is the database after the restore:

![image](https://user-images.githubusercontent.com/2846429/56736357-3d0c8080-6768-11e9-9d82-8717f4036012.png)

The `level` there are wrong, so we have an issue with levels when moving things around / restoring things.

[2019-04-25 12:47] zpqrtbnk commented on #5328
One can fix the levels with:
[code]
And then everything works again.

Now on to figuring out what is corrupting levels.

[2019-04-25 12:56] zpqrtbnk commented on #5328
Oh but... *this* is the database after moving to the Recycle Bin...

![image](https://user-images.githubusercontent.com/2846429/56737210-33841800-676a-11e9-9023-47ced94b816b.png)

So it's not so much moving *back* (restoring) that does weird things: moving *to* the recycle bin breaks levels!

[2019-04-25 12:57] zpqrtbnk commented on #5328
But, if I fix the levels in the bin and restore, it breaks again, so it's moving "in general" that is broken.

[2019-04-25 13:05] digbyswift commented on #4138
Just adding this a reference in case someone else comes here as I have. As discussed, this is almost always an issue with the front end loading some cookie preference javascript.

In my case the issue was still occurring even when the backoffice was the only tab open. In this scenario, I checked the browser's dev tools Network view and I could see that a backoffice resource was 404ing and so was i

[2019-04-25 13:09] sumedhashyam opened #5346 "Umbraco Form submission throws "The anti-forgery cookie token" error."
Hello Support,
When we submit the form (Umbraco forms) it returns "The anti-forgery cookie token and form field token do not match"

Reproduction
------------

Select Umbraco form in the RTE using Macro. Fill the form and submit. It throws the anti-forgery token mismatch error.

### Bug summary
Umbraco form submission often throws anti-forgery token mismatch error

### Specifics

Umbraco version 8

[2019-04-25 13:14] cheeseytoastie commented on #4138
Nice detective work! Glad my post has helped someone else in some way.

[2019-04-25 13:58] Flaeng commented on #3524
It know its not 100% like in the original posts gif, but i think i got the functionality down. If you guys have any feedback at this point please let me know.

I hope to have fixed the last few bugs and make a PR in the coming week.

@nul800sebastiaan
Should the import and export-actions implement Umbraco.Web.Actions.IAction ?

Branch:
https://github.com/Flaeng/Umbraco-CMS/commits/temp-3524

Previ

[2019-04-25 14:04] kjac commented on #3524
@Flaeng that's awesome 🎆

How does it determine which language you're importing?

[2019-04-25 14:11] PeteDuncanson commented on #5215
Fork btw is here: https://github.com/base33/Umbraco-CMS/commits/typescript

Not pushed over the easter break but you'll start seeing some updates soon as both @base33 and me have been chipping away on it.

One issue we've had is where to discuss the issues we've had. Seems we can't have issues on a fork which is a shame. Anyone got any ideas?

[2019-04-25 14:21] nul800sebastiaan commented on #3524
Looks pretty good!

I don't have answers on where to implement this at the moment but some initial feedback on the import: can we have just 1 format (namely: the format we exported as). I wouldn't expect anyone to know the difference between ANSI and ISSO-8859 ... Maybe this can be detected, but then again.. it should not be a choice at all really. I doubt that CSV is the best export format, but I

[2019-04-25 14:34] dawoe commented on #3524
A common format used by translation tools is XLIFF..so if we should settle on a format I think this should be it : https://en.wikipedia.org/wiki/XLIFF

Dave

[2019-04-25 15:48] zpqrtbnk commented on #5328
PR #5347

Review = now, should be possible to move to and from recycle bin without problems.

**_Note to Reviewer: this is an 8.0.2 fix. Merge to v8/dev and then cherry pick to v8/8.0._**

[2019-04-25 18:03] bmargevicius opened #5348 "V8: contentService.Save doesn't save nested content"
Nested content is saved through the content service as a json string. Traditionally this json string is serialized from a List of Dictionary<string, object>. Where the string is the nested content type alias, and the object is the value. You can see it demonstrated here https://our.umbraco.com/packages/backoffice-extensions/nested-content/nested-content-feedback/88895-creating-nested-content-progr

[2019-04-25 19:02] Flaeng commented on #3524
@kjac
as of now its does so based on the first row which contains the "culturename" of the language... come to think of it it should be the 4-culture code instead i think. this way editors can use the automatic translator in google docs so they only have to proff read the translations.

@nul800sebastiaan
Youre right. the options are a bit too technical. if it should only import/export in one encod

[2019-04-25 23:11] PeteDuncanson commented on #3553
As a follow on from this (not sure if this should be a separate issue or not) I've had the build server fail due to a conflict in package-lock.json for #4871

Looking into it some more its a issue with the lock files differing and it needs to be regenerated (see: https://docs.npmjs.com/files/package-locks#resolving-lockfile-conflicts).

However there is a package (https://www.npmjs.com/package/npm

[2019-04-26 00:34] PeteDuncanson commented on #5215
My fork is here btw https://github.com/PeteDuncanson/Umbraco-CMS/commits/temp-typescript and I've pushed some puts up. If you do a pull then do a npm install and then run "gulp dev" then you can see it compiles and all is good in the world. Then you can poke through and see what I'd been up to.

[2019-04-26 00:48] PeteDuncanson commented on #4913
I've added a new "services" sheet to that spreadsheet for the work @base33 and I are doing for #5215

@Shazwazza still swamped?

[2019-04-26 06:26] Rabea-M opened #5349 "Video not playable in Umbraco 8 backoffice"
Umbraco 8 backoffice video not playable. Before this when you click on a video in Media tab, the video opened in a new tab, but now that's not work, anyone has any idea why that is so?
This is the current video uploaded which is not even clickable
![Screenshot_19](https://user-images.githubusercontent.com/41620110/56787479-0e4ce380-6816-11e9-86fc-fd54e26b8fcc.png)

[2019-04-26 06:58] nielslyngsoe commented on #5215
Hi @PeteDuncanson

I can understand that you would be expecting some kind of response from me, though the truth is that I dont have much of a respons.
I think its very usefully to bring some learnings to the table regarding rewriting the code into TypeScript. And thank you very much for pushing and looking into this.
I feel very sure that we will be using TypeScript at one point, the question is j

[2019-04-26 07:13] nul800sebastiaan commented on #5349
Hmm, I see no reason why it shouldn't be clickable. I know for images we set up the image cropper so you won't be able to click those, but other files can just be clickable.
For now, you can click the filename in the "Info" app (top right).

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-04-26 07:19] Rabea-M commented on #5349
Sebastian for now it doesn't even open from info tab but rather downloads the video

[2019-04-26 07:22] nul800sebastiaan commented on #5349
@Rabea-M Hmm, not in my case. Maybe your browser doesn't know how to deal with an mp4 or maybe you should look into how mime types are set up in your app.

[2019-04-26 07:23] nul800sebastiaan commented on #4913
@PeteDuncanson He went on holiday, how rude (and lazy 😉).

By the way, your Google doc is restricted so nobody can read it.

[2019-04-26 07:28] zpqrtbnk commented on #5348
The serialized format of Nested Content property values has quite probably changed in v8. Here is what I have in database for a Nested Content property with only 1 TextBox:
[code]
You will therefore need to adjust how you set the value.

I have also commented on the Our thread and suggest this is discussed there, as it is not really an "issue" that we can "fix". Closing this issue, if you don't mi

[2019-04-26 07:28] #5348 closed

[2019-04-26 07:29] Rabea-M commented on #5349
I am using chrome and all default settings, video was uploaded directly to media folder but  maybe something missing at my end. Thanks for the help

[2019-04-26 08:10] mattbrailsford opened #5350 "v8: Make TypeCollectionBuilderBase chainable"
When composing collections, most of the CollectionBuilderBase classes are chainable such that you can chain add / remove commands in a fluent manor. For some reason though this doesn't appear to be possible with the TypeCollectionBuilderBase. I think this should be made consistent with the other base classes and allow a similar API.

[2019-04-26 08:38] nielslyngsoe commented on #4845
Looks good.

Did you see any noticeable difference in compile times?

[2019-04-26 09:04] nul800sebastiaan commented on #4845
Compile times are the same, so seems fine.

[2019-04-26 09:06] #4845 closed

[2019-04-26 09:18] zpqrtbnk commented on #5350
would totally make sense indeed. Would it be a breaking change? Guess yes... 8.1 then?

[2019-04-26 09:20] mattbrailsford commented on #5350
I don't think so as all Add / Remove methods are currently return `void` so those can continue to function as before, then just now return a instance of the collection to allow chaining.

[2019-04-26 09:21] mattbrailsford commented on #5350
ie, yes the signature is changing, but because they didn't return anything before, I think it's ok to now make them return something.

[2019-04-26 09:29] zpqrtbnk commented on #5350
fancy a PR? :-)

[2019-04-26 10:30] PeteDuncanson commented on #4913
@nul800sebastiaan I've made it public, thanks for the spot.

[2019-04-26 10:34] Jeavon commented on #5263
This is super nice! For scenarios where replica servers have only readonly db access, they can switch to using the current file-based storage or create a IServerMessengerSyncRepository using something else such as Redis.

As you mentioned, I also think it would be useful if there was a way for explicitly defined servers to be able to register in the umbracoServer table but perhaps this could also

[2019-04-26 11:10] PeteDuncanson commented on #5215
Had a great night of hacking on this last night. We now have 5 services converted over and I'm getting in the swing of it. The support for TS in VSCode is a dream, full intellisense, suggested corrections, high lighting of errors and so much more. A joy to code with. Couple more issues are raised though.

Interface, these are shared "shapes" for your types in TypeScript land and are fantastic for

[2019-04-26 12:12] #3985 closed

[2019-04-26 12:35] zpqrtbnk opened #5351 "UmbracoDatabaseFactory fix"
So we have [this commit](https://github.com/umbraco/Umbraco-CMS/commit/b8db430615d76521a4394a23f9928dc7c12f87bd) in 8.x at the moment that reverted [this fix](https://github.com/umbraco/Umbraco-CMS/commit/716fc582a083a750e29e7b73d24e4386f097a8bf) for `UmbracoDatabaseFactory` because, IIRC, that caused problems with Deploy (?) - yet, the fix was meant to be there. And I _think_ it should be in 8.1.

[2019-04-26 12:45] bmargevicius commented on #5348
No problem. I, and probably others, need a documented answer somewhere. I'm going to try to code this out and report back later so others can use this to import/create nested content.

[2019-04-26 12:48] nielslyngsoe opened #5352 "V8: Starter Kit — Umb-Tags not always saving"
I'm experiencing that Tags are disappearing on products in the Starter Kit — haven't got time to investigate fully.

But to reproduce, save a product with a tag, refresh, save again, and see that the tag is gone.

It only happens on Products in the starter kit, so it very weird.

![image](https://user-images.githubusercontent.com/6791648/56808555-1024a000-6832-11e9-9555-73a16cace443.png)

[2019-04-26 13:01] #5328 closed

[2019-04-26 13:20] nul800sebastiaan commented on #5328
Merged to 8.0.2 in 1b5d614f5ae794f5c27af2222146315e6286d973

[2019-04-26 13:25] zpqrtbnk commented on #3611
Work in progress on issue 302 on that other tracker ;-(

[2019-04-26 15:01] mattbrailsford commented on #5350
@zpqrtbnk would love to if I wasn't spending all my time v8-ifying TC 😁

[2019-04-26 16:00] bmargevicius commented on #5348
Thanks for updating the forum to look here. Here is what I did to make it work.

I have a piece of nested content with two properties. it's alias is cardConfigurations

advertiser - a member picker type - you need to convert this to the member udi to save
number - a numeric type - this gets saved as an int..

In your models folder create a class. I called mine AdvertiserConfig. I added an INestedC

[2019-04-27 07:09] zpqrtbnk commented on #5350
PR #5354

[2019-04-27 20:38] kjac commented on #5349
PR in #5355

[2019-04-27 20:45] kjac commented on #5327
Wouldn't it be nice to add a generic confirm dialog directive to handle these things - and do it as part of solving this issue instead of adding yet another custom delete overlay for NC?

I'd be happy to build it - in fact I think I might already have promised @nul800sebastiaan to do it at some point 🤔

[2019-04-27 23:12] abjerner commented on #5327
I'm not sure how a directive would work in this case, but we could add a `delete` function to the `overlayService`. Even if there is a directive, I think a function like this would be a good idea - it could also be used by said directive.

For one of my packages, I currently have this:

[code]

which looks like:

![image](https://user-images.githubusercontent.com/3634580/56855896-21fc6500-6950-11e

[2019-04-28 14:40] uniquelau opened #5356 "Media Picker "include subfolders in search" label does not toggle checkbox"
The `<label>` element does not reference it's corresponding `<input>` field.

This means as a content editor, when I click on the label to toggle the checkbox nothing happens.

This makes toggling difficult for touch screen / people with very high resolution screens.

![image](https://user-images.githubusercontent.com/914735/56865941-b0fa9300-69cb-11e9-87a5-80fb947b5751.png)

As a side note, if th

[2019-04-28 19:25] kjac commented on #5327
As it turns out, `overlayService` can't have a generic delete dialog with default texts because it causes circular references on `localizationService`.

If we're to do this, another component/service must be introduced. For the time being I think it's wiser to stick with the default `overlayService` handling for this issue. I'll submit a PR momentarily.

[2019-04-28 19:48] kjac commented on #5327
PR in #5357

[2019-04-29 03:13] Shazwazza commented on #5351
Here was some of the discussion on Slack:

[code]

Then it continues:

[code]

[2019-04-29 03:18] Shazwazza commented on #5317
In order to publish a content variant - ALL mandatory languages need to be published which is the point of the mandatory flag so this is the expected behaviour... unless I'm not reading this correctly?

[2019-04-29 03:29] Shazwazza commented on #3667
I think the main point of this was that IPublishedContent could just be a POCO, it is the separation of model vs service instead of the model being the service. I think we are too far gone with v8 to consider doing this properly. We still need to limit the breaking changes of #5170 once it is where we want it to be - we can't go 1000% percent here and just change everything.

[2019-04-29 03:34] Shazwazza commented on #3524
@simonech might have some input on this since he is the king of xliff and translations plus in know he was working on a translation tool for that in umbraco already.

[2019-04-29 05:47] zpqrtbnk commented on #3667
For #5170 there's a PR already I a really would like to *not* change more things, there's already a lot there.

For `IPublishedContent` being POCO ... I would like to keep it out of #5170, plus it would require some thinking (see my post above) - suggesting, if everyone's OK, that this goes back to long-term backlog.

[2019-04-29 05:50] nul800sebastiaan commented on #5098
Thanks, that's a weird one! I've just tried to reproduce on the latest code and I can't make it fail at this point, loads has been fixed since 8.0.1 so I am assuming we already fixed this along the way.
Be on the lookout for the 8.1.0 release coming up!

Thanks for reporting!

[2019-04-29 05:50] #5098 closed

[2019-04-29 06:04] Shazwazza commented on #3667
Yup i agree, will have to review the other bits this week

[2019-04-29 06:24] nul800sebastiaan commented on #5205
Currently this is not supported.

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-04-29 06:25] clausjensen commented on #3973
@FyinInc unfortunately no ETA yet. There won't be a beta for gold partners, as when we have something ready and working, it will simply be available to everyone.

[2019-04-29 06:29] #5061 closed

[2019-04-29 06:38] nul800sebastiaan commented on #5242
Yep, as @kjac said, make sure to put the styles in your frontend stylesheet as well. If you have more questions around this @ckobel-hbside them make sure to head on over to the forum at https://our.umbraco.com for some help! 👍

[2019-04-29 06:38] #5242 closed

[2019-04-29 06:39] nul800sebastiaan commented on #5243
The related PR was closed with a reply from @nielslyngsoe - if you have more / better suggestions then let us know! For now I'll close this one. :)

[2019-04-29 06:39] #5243 closed

[2019-04-29 06:40] nul800sebastiaan commented on #5253
I also can't repro, let us know if you have more info!

[2019-04-29 06:40] #5253 closed

[2019-04-29 06:40] nul800sebastiaan commented on #5254
Duplicated #5117

[2019-04-29 06:40] #5254 closed

[2019-04-29 06:43] nul800sebastiaan commented on #5260
Note: we just merged PR https://github.com/umbraco/Umbraco-CMS/pull/2441 that allows you to set up pickers to ignore the user's start node, so you could show the recently uploaded files that were made outside of their permission area too.

[2019-04-29 06:49] nul800sebastiaan commented on #5279
Yep, that is to be expected, you will have to create a new variant with the French version of the content, since we can't fall back to anything else now. :)

[2019-04-29 06:52] nul800sebastiaan commented on #5291
You should definitely not be able to "Move" members. Since a member type is basically a document type, you would need to map the properties from one membertype to the next. So yeah, that option should not have been there and is now unavailable 👍

[2019-04-29 06:52] #5291 closed

[2019-04-29 06:56] nul800sebastiaan commented on #5292
Maybe we should remove preload, that makes sense. We have other health checks to check for the correct HTTPS configuration though, which will make sure you redirect from HTTP to HTTPS as well, so that's covered there.

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-04-29 06:59] GitCorne commented on #5279
@nul800sebastiaan Thx for you answer, but I don't understand yet why this is expected behavior. I've already the french variant in place. It's present. I only decided to change the Fallback setting from 'English' to 'No fallback', because I want (for some reason) no fallback for the french culture at all anymore. So, the french site should still be alive I thought? It's not that I don't have Frenc

[2019-04-29 07:06] kjac commented on #5327
Turns out @bjarnef also did a PR for this in #4831 🤔

[2019-04-29 11:06] nielslyngsoe commented on #5215
Hi @PeteDuncanson

Just regarding interfaces, we are adding I's in front of interfaces in the C# code, so I think it would make sense to have those in the front-end code as well.

Based on my own experience with TypeScript and OOP, it also becomes handy if you have a interface and a implementation that shares the same name( you might debate that that should not happen, but there are situations whe

[2019-04-29 11:26] lars-erik commented on #5215
Reg. the I prefix in interfaces, my recommendation is to go with the recommended language convention. C# has it as convention. Java has not. JavaScript doesn't have them, and TS is somewhere in between the three. As far as I've seen (without researching any convention) TS convention is to _not_ use prefixes for interfaces.

[2019-04-29 11:50] filefontaine opened #5360 "V.8.0.1 Multi url picker have the wrong language for content page node"
When i select a node page in the multi url picker its select a /de/ and not a /fr/.

Reproduction
------------

### Bug summary

The multi url picker does not select the right language when the link is create. I'm editing the fr page but put a /de/ link

### Specifics

french is fallback other is English and German

### Steps to reproduce

* add an multi url picker in a node (3 languages published

[2019-04-29 12:15] nielslyngsoe commented on #5260
Hi @marcemarc

Thanks for raising this very relevant issue, I think this issue is related to many of the daily tasks that are begin done by editors everywhere. And this problem can be applied to many scenarios — not only media and not only to find the latest in a folder — but multiple scenarios depending on the solution and the way their editors work.

How or if we will solve this in short term I

[2019-04-29 12:20] nielslyngsoe opened #5361 "Suggestion: Improve the search feature to solve multiple scenarios"
I would love us to rethink the search features of Umbraco. A first we need to expand the data that is begin searched, but we should also make several features that enhances the power of search. Not only begin a search feature but begin a way to find content that fits certain criterias.

We should expand the search fields in Umbraco to be more clever and have better knowledge of the query begin con

[2019-04-29 12:31] warrenbuckley commented on #3355
A PR for this is here @dampee @kristianschneider & @tcmorris feel free to test & prod it too if you like - https://github.com/umbraco/Umbraco-CMS/pull/5359

[2019-04-29 12:43] base33 commented on #5215
Here's a very good blog article regarding interfaces and the 'I' prefix. https://medium.com/@jonyeezs/hey-typescript-wheres-my-i-prefixed-interface-cd70efa10bd1.  It comes down to behaviour and intent. In regards to the majority of Umbraco models that are passed around, most can be considered interfaces rather than concrete classes because most models are just passing properties around.  Some prop

[2019-04-29 12:56] marcemarc commented on #5260
Thanks @nielslyngsoe agree that superfying the search may be a great approach to solving the underlying issues here, anything that makes the editor feel like they are not hunting for things they have just created, will have a big positive effect on the day to day editing experience  - with specifically the Media Picker in mind - I think being able to toggle between showing images/icons and a listv

[2019-04-29 13:07] pralthom commented on #5360
Hi,

I have made some researches and I think I found where the problem is.
It is the `Umbraco.Editors.LinkPickerController` which is located in the `umbraco.controllers.js` file.

In the `nodeSelectHandler` function, `$scope.model.target.url` is set with the first value of an Array of URLs. Why the first element of the array?

![image](https://user-images.githubusercontent.com/44721265/56897985-41

[2019-04-29 13:33] pralthom commented on #5360
So we could replace the lines 1735 and 1776 by:

`$scope.model.target.url = resp.urls.filter(item => item.culture === $scope.currentNode.metaData.culture)[0].text;`

I've tested and it works fine in my testing environments.

[2019-04-29 14:20] ahwm commented on #5292
Except for one thing - the current configuration sets IIS to send the HSTS header. That means it's getting sent by the server before the application (Umbraco) can perform any checks. So it's still non-conforming.

[2019-04-29 15:22] nul800sebastiaan commented on #5279
@GitCorne I see what you mean now, I thought you didn't have a French version yet. Well, the good news is: this seems like a "simple" caching issue, once you recycle the app pool (or touch the web.config) your French content should show up.

But I can reproduce this by publishing a page in both languages and then removing the fallback language for one of them.

[2019-04-29 15:48] zpqrtbnk commented on #5279
probably a cache refresh issue: i fail to see why changing some language settings would impact routing - but it will trigger some cache refreshes - will look into it

[2019-04-29 16:07] nul800sebastiaan commented on #5292
Not sure what you mean.. if you follow the health checks recommendations then you'll get a http to https redirect. It doesn't all happen in 1 go, for sure, but not having a redirect for 1 minute doesn't hurt anyone.

[2019-04-29 16:10] PeteDuncanson commented on #5215
One thing that I think is coming clear is the difference between how it "should be done" and "what can be done". As much as possible we should adopt or agree on some best practises moving forward but equally think we all know we can't just rewrite the whole code base to be perfect. My aim with all this stuff is to take one stepping stone at a time which gets us a little closer to a better code bas

[2019-04-29 21:16] johancruyff2019 opened #5362 "Caches refreshing too many things on publish/updates?"
umbraco v8
after publish or update pages or articles or any document type, umbraco goes to update cache (database and files)
but when i have about 120,000 record it take about one hour!!! it need to wait about one hour to publish a not or update a document.

but we need just update updated document cache not all cache date, you remove all cache data and rebuild it from binning, it's not impossible

[2019-04-29 21:29] Sourcenew commented on #5362
Hi I re-created a new brand site with Umbraco V8, we need to transfer old site items to new one. I created a simple program to do that and it worked perfectly but after that I noticed transferred objects is available in backoffice but not in site.

After a quick lookup I found that every node should have a record in cmsContentNu table, I'm wondering how to that? Also I tried re-building NuCache da

[2019-04-29 21:35] PeteDuncanson commented on #5215
I've added two new worksheets to the spreadsheet here for listing the new interfaces and enums we are creating. I know you might be able to get this out with a script or something but for speed and easy of seeing progress I though some old school cut and paste would do for now.

If anyone is lurking and wants to help out we do need some jsdoc style comments adding to some of the enums and interfac

[2019-04-30 02:52] Shazwazza commented on #5361
Just a technical note on searching - There are 2 types of searching being performed for content/media: Lucene based and SQL based. The Lucene based search (which is a lot more powerful than the SQL based search) is done in the global search area. The SQL based search is done in the list view area. There were reasons for doing this due to paging and legacy issues with indexes, etc... but if we want

[2019-04-30 06:01] christophnz opened #5363 "v8: Richtext editor view source code editor should get focus"
### Bug summary

After clicking the `View Source Code` icon in the Richtext editor, the code editor opens, but doesn't get focus, so if I start typing or paste, the content still goes into whatever field last had focus.

### Specifics

Umbraco v8.0.1
Reproduced in Firefox 66 and Chrome 73

### Steps to reproduce

* Put the focus (cursor) in any text field or the richtext editor
* Click the `View S

[2019-04-30 08:29] jesperbrasmussen opened #5364 "Styling missing for Nested Content with "min items" = 1 and "max items" = 1"
If you create a nested content data type, and set "min items" = 1 and "max items" = 1  (first screen shot), the styling is not as pretty as if you set "min items" = 0 (second screenshot).

**EDIT: An issue if the Nested Content i nested in another Nested Content**

![MinimumOne](https://user-images.githubusercontent.com/1080053/56948668-22078b00-6b31-11e9-813f-51e6693d2876.PNG)

![MinimumZero](htt

[2019-04-30 08:31] #5075 closed

[2019-04-30 09:40] ProNotion opened #5365 "Granular User Group Permissions Should Only Optionally Cascade"
The term granular indicates a fine level of control. At the moment setting granular permissions impacts child nodes and therefore reduces its usefulness.

Reproduction
------------

### Bug summary

Granular permissions cascade to children which limits their usefulness. If I want to allow members of an "authors" group to edit all site content except for the homepage, setting a granular permission

[2019-04-30 10:04] zpqrtbnk commented on #5362
There are several, distinct questions here.

About the second one, importing content... the easiest way would be, once your content has been updated, to go to the *Settings* / *Published Status* dashboard, and hit the *Rebuild* button - that would re-populate the `cmsContentNu` table entirely, from what you have in database.

About the first one, I hope we don't really rebuild the entire content c

[2019-04-30 10:23] kjac commented on #5364
It looks like you've got your Nested Content within another Nested Content?

It makes sense with the white background color if the Nested Content is at "root" level:

![image](https://user-images.githubusercontent.com/7405322/56955641-491a8880-6b42-11e9-8dcc-c908f3642c62.png)

I guess the background could be made transparent though, although the gray background should still be applicable for each

[2019-04-30 10:41] jesperbrasmussen commented on #5364
@kjac Yes your right. It is is nested within another Nested Content. That would have been relevant info in my description. I have updated the description :)

[2019-04-30 13:28] drbldgtl commented on #4702
This has been the only issue blocking the release of 7.15 for weeks as far as I can tell - is there something blocking it?

[2019-04-30 13:42] nul800sebastiaan commented on #4702
It's not blocking the release, we're just not ready to release 7.15 in general at this point due to other priorities. Unfortunately, we don't yet have a release date for 7.15.

[2019-04-30 14:06] #5349 closed

[2019-04-30 14:06] nul800sebastiaan commented on #5349
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/5355

[2019-04-30 14:15] #4687 closed

[2019-04-30 14:45] #5319 closed

[2019-04-30 15:16] simonech commented on #3524
@Shazwazza @dawoe Indeed... that's the only "official" standard for translation requests
I'll show a demo of what I'm doing at CG19... now sure when and how, but I guess I can do it during the package demo or during a open space during the last day.
@Shazwazza, what do you think would work better?

[2019-04-30 18:24] #4894 closed

[2019-04-30 18:35] nul800sebastiaan commented on #4947
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/4997

[2019-04-30 18:35] #4947 closed

[2019-04-30 18:45] #4979 closed

[2019-04-30 18:46] nul800sebastiaan commented on #4979
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/4980

[2019-04-30 18:47] kjac commented on #5364
@jesperbrasmussen turns out... on vLatest the Nested Content styling has changed a bit, and this is solved along with it:

![image](https://user-images.githubusercontent.com/7405322/56985660-252e6580-6b89-11e9-9cab-0b0df6fcb9d2.png)

[2019-04-30 18:47] #4965 closed

[2019-04-30 18:48] nul800sebastiaan commented on #4965
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/4968

[2019-04-30 18:57] #4924 closed

[2019-04-30 19:08] #4686 closed

[2019-04-30 19:19] #4830 closed

[2019-04-30 19:22] #4905 closed

[2019-04-30 19:23] #4740 closed

[2019-04-30 19:34] #4789 closed

[2019-04-30 19:38] kjac commented on #5231
The carets look fine in the regular RTE; this is a problem isolated in the grid.

![image](https://user-images.githubusercontent.com/7405322/56988428-4c3c6580-6b90-11e9-83f1-d0c9ac56efc0.png)

I've got a fix ready, will submit a PR shortly.

[2019-04-30 19:53] kjac commented on #5231
PR in #5367

[2019-04-30 19:54] #4772 closed

[2019-04-30 20:05] nul800sebastiaan commented on #5275
Yep that's fixed in #4782 👍

[2019-04-30 20:05] #5275 closed

[2019-04-30 20:08] #4690 closed

[2019-04-30 20:11] nul800sebastiaan commented on #4661
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/4662

[2019-04-30 20:11] #4661 closed

[2019-04-30 20:17] #5231 closed

[2019-05-01 00:08] Shazwazza commented on #3524
@simonech both if you can do it, if people are interested in the open space session then there will be plenty of folks to help and discuss

[2019-05-01 00:20] Shazwazza commented on #5365
This is a very tricky issue and has been discussed at length several times. I just wish I remember where all of those discussions happened previously, some of it is here: https://issues.umbraco.org/issue/U4-10075 and here https://issues.umbraco.org/issue/U4-8632 and i'm sure plenty of other places.

There are several other issues than the one you describe such as delete permissions - you want to a

[2019-05-01 01:00] mathewknott opened #5368 "Multiple Media Picker Not working"
I've tested this for a "Multiple" Media Picker. It could be for single items too. I'm note sure of the behaviour in that case

This is for both 8.01 and 8.0.2. I upgraded my project thinking bug fixes around the Media Picker may have resolved this.

Steps to recreate.

1. In Data Types area, I create a Data Type called "Multiple Image Picker". It uses the following settings

Property Editor: Media

[2019-05-01 05:17] kjac commented on #5368
@mathewknott sounds annoying! Thanks for reporting 😄

A few clarifying questions...

1. Is your media picker part of a composition by any chance? There's a known issue with property changes on compositions.
2. Is the problem resolved if you restart the site?

[2019-05-01 05:25] #5187 closed

[2019-05-01 05:26] Shazwazza commented on #5187
Merged, not marking this as 8.1 release since it was a bug introduced in the making of 8.1

[2019-05-01 06:19] jesperbrasmussen commented on #5364
@kjac That sounds good. I upgraded to version 8.0.2 but it is not solved on that release. Are you talking about the next release?

[2019-05-01 06:27] kjac commented on #5364
@jesperbrasmussen not sure when it's released to be honest. Does your NC look anything like the screenshot above in 8.0.2?

[2019-05-01 06:30] jesperbrasmussen commented on #5364
@kjac No it looks the same. Also after doing a hard reload.

[2019-05-01 06:30] nul800sebastiaan commented on #5364
The change mentioned will be in 8.1.0. I think this issue can be closed since it will be fixed in 8.1.0 :)

[2019-05-01 06:30] #5364 closed

[2019-05-01 06:32] jesperbrasmussen commented on #5364
@nul800sebastiaan Yes :) Thanks for the help @kjac

[2019-05-01 06:45] #5350 closed

[2019-05-01 06:45] Shazwazza commented on #5350
Have merged, it's marked as breaking (since the generic signature changes) but expect this will affect a very very tiny amount of people

[2019-05-01 07:30] Shazwazza commented on #3667
I'm going to close this issue then and tag with idea for later

[2019-05-01 07:30] #3667 closed

[2019-05-01 07:37] Shazwazza commented on #4940
_Notes from PR:_

Links to media is now stored as localLink in  the RTE and Grid RTE and the URL is resolved when rendering, img tags are already handled (see https://github.com/umbraco/Umbraco-CMS/commit/99b80e0f569ce24623eb331fd683b5255a64c672)

The migration looks for all links that starts with `/media/`  and if it can be looked up in the DB the value is replaced with the UDI

### Breaking chan

[2019-05-01 08:33] nielslyngsoe commented on #5215
Just to wrap up the interface talk — I had a talk with a fellow colleague and I see that continuing without Prefixed interfaces is a good option. If it happens that we will have an interface and one implementation then we will be postfixing the implementation. Like: "Overlay" for interface and "OverlayImplementation" or "OverlayImp" for the concrete class. So I'm cool going forward with that.

[2019-05-01 11:19] marcemarc opened #5370 "V8 Settings - Remove old 'Editors Manual' link from the 'Start Here' dashboard message"
On a fresh install of Umbraco V8, if you switch to settings section there is a Start here dashboard, that points people to 'find out more'

There is a link here to an 'Editors Manual' - but the link is to a V7 manual circa  v7.1

I can't find a more up to date version online, so was wondering out loud whether it's helpful to include the link here at all? or should we update the text to say V7 Edit

[2019-05-01 11:50] sumedhashyam commented on #4144
Any solution on this thread. Our clients are also facing the same issue.

[2019-05-01 12:05] Zweben opened #5372 "In Backoffice API, editorService > contentPicker > "multiPicker: false" not working"
I created a content picker in a custom dashboard via the backoffice API. I set the "multiPicker" property to false, but it still allows multiple items to be picked.

### Steps to reproduce

1. In Umbraco 8.0.1, create a "contentPicker" with the "editorService" in the Backoffice API in a custom dashboard.
2. Try to select more than one item.

### Expected result

- Selection should be limited to on

[2019-05-01 12:08] mathewknott commented on #5368
Its not a part of a composition. I'm current not using compositions on the site
I haven't tried restarting the site.

[2019-05-01 12:23] bergmania commented on #5236
As far as I understand, Serilog opens the log files in a way that allows other applications to open, read and write the file, but not getting an exclusive lock on it (as I expect is needed to delete it).

I could be possible to delete the file from Umbraco, using the following steps:

1. Dispose the existing logger
1. Delete the file
1. Re-construct the logger

But if the underlying problem (the c

[2019-05-01 12:39] Zweben commented on #5372
Update: I see now that the line "editorService.close();" must be added to both the submit and close functions for the editor to behave as expected. This seems like a strange requirement. Is there a reason that this is not done automatically?

[2019-05-01 12:39] #5372 closed

[2019-05-01 12:56] jannikanker commented on #3022
@KimHolzmann @nul800sebastiaan I'm still seeing this happen in 7.12.4 :-s Also the browse dialog seems to pop up three times, seemingly unmotivated (although that might be an entirely different issue).

Any idea what is happening?

![3022](https://user-images.githubusercontent.com/1769849/57017787-f1068380-6c20-11e9-850c-6c4944ecce05.gif)

[2019-05-01 13:06] nul800sebastiaan commented on #5368
A quick test shows it works fine:

[code]

Make sure to get some more help on the forum at https://our.umbraco.com/ where our friendly community can show you better ways of querying these kinds of things! 👍

[2019-05-01 13:06] #5368 closed

[2019-05-01 13:13] bergmania opened #5373 "V8: Make async file logging possible with serilog"
We need to make it possible to let the file logging be async.

[2019-05-01 13:17] mathewknott commented on #5368
Did you go through my steps to try and replicate?

[2019-05-01 13:39] FransdeJong commented on #5236
I think it has to do with a way of working. In the beginning of a project we have had cases of some errors spamming the log. The easiest way was always to delete the file and find the error on top.

Maybe it's a case of getting used to the new way of working, if the file can't get corrupted anymore that is.

[2019-05-01 13:41] elit0451 commented on #3611
PR: umbraco/Umbraco-CMS#5272

Changes have been made to `build-docs.ps1` ->  this is the script only responsible for generating the API documentation of v8.

However, I've added updates to build.ps1 which will enable us to generate both C# and Angular API documentation directly through that script by calling the corresponding functions.

In order to test just add `{ Local = $local; WithDocFx = $tr

[2019-05-01 14:26] nul800sebastiaan commented on #5370
I think that link should just be removed until there's an editor's manual that is maintained by HQ. For now the best thing to do would be to point at documentation it seems.

And as an idea for docs: editor's documentation?

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-05-01 14:28] nul800sebastiaan commented on #5220
That's certainly annoying! It should definitely just only be as wide as the editing panel and not have a horizontal scroll bar.

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-05-01 14:29] nul800sebastiaan commented on #5363
Yeah, that seems annoying 🙈

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

Relates to https://github.com/umbraco/Umbraco-CMS/issues/5220 as well.

[2019-05-01 14:31] nul800sebastiaan commented on #5360
That is cool @pralthom ! Any chance you can submit this change as a pull request so we can have a look at merging it?

[2019-05-01 14:35] nul800sebastiaan commented on #5335
Yeah, that seems like an oversight! The media picker can be configured as a multiple media picker as well, but I'm not sure how we'd do that for a macro parameter editor. 🤔

[2019-05-01 14:40] nul800sebastiaan commented on #5265
Yep, it would be great to improve the behavior here!

Some background info: we really want to keep the hostnames configured on items in the trash as you might have accidentally put them there. If we were to delete the hostnames when you trash and item you'd never know that restoring them doesn't restore the hostnames/cultures.

But it could be really good when you're trying to add a new hostname t

[2019-05-01 14:43] nul800sebastiaan commented on #5081
Ah.. not normally a problem, but maybe with loads of data.. sure. I've asked Shannon about this and his reply was:

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-05-01 15:02] kjac commented on #5335
I had a stab at it really quick the other day but since the multinode treepicker doubles as multiple content picker for macros, there is no easy fix for this. The required fix sadly involves a new dedicated value converter for a new macro parameter property type.

[2019-05-01 15:45] mattbrailsford opened #5376 "v8: DB TableBuilder can't handle Currency field types"
I've created a migration plan that attempts to create some DB tables using the TableBuilder helpers and for one of the columns I need it to be a currency field. Now, I can do the following:

    Create.Table("myTableName")
        .WithColumn("price").AsCurrency().NoNullable()
        .Do()

And all of this is valid code (it compiles). However, when the `Do()` is executed it throws an exception. T

[2019-05-01 18:58] ronaldbarendse commented on #2925
@nul800sebastiaan This issue still requires your input/review... I would argue merging PR #2922 for version 7.15.0, as it's a minor breaking change (2 public classes merged/renamed to 1), should suffice.

[2019-05-01 19:50] marcemarc commented on #5370
@nul800sebastiaan done! - yes there is an issue open in the UmbracoDocs repo: https://github.com/umbraco/UmbracoDocs/issues/877 it's a bit blocked, need to understand overlap with the new content course, but also having an editor focused Tour, might be a quick win too! (also this dashboard is on the settings section, so not sure how relevant the editor manual link was)

[2019-05-01 20:49] kjac commented on #5297
PR in #5379

[2019-05-01 21:52] ronaldbarendse commented on #5206
Looking at `WebBootManager`, removing automatically registered surface and API controllers could also be done by removing the types from `SurfaceControllerResolver.Current.RegisteredSurfaceControllers` or `UmbracoApiControllerResolver.Current.RegisteredUmbracoApiControllers` (from within a `ApplicationStarting` event). That way it doesn't even try to add the controller to the route table and doesn

[2019-05-01 21:53] bjarnef opened #5380 "v8: Changing icon color in listview layout break icon"
In config of listviews (custom or extending existing ones) it is possible to add custom listview layouts and set an icon for these.

![image](https://user-images.githubusercontent.com/2919859/57044760-e6251080-6c6b-11e9-9b01-c420a18b9c98.png)

Howeever when changing color of the icon, e.g. selecting green `color-green`, the icon is broken, because the icon get the class `undefined color-green` ins

[2019-05-01 22:09] bjarnef opened #5381 "v8: Toggle color picker labels squeeze spectrum color picker"
When toggling color picker labels in configuration, it seems to squeeze spectrum color picker.

![image](https://user-images.githubusercontent.com/2919859/57045638-8a0fbb80-6c6e-11e9-9d05-f81eb5e1c163.png)

![image](https://user-images.githubusercontent.com/2919859/57045645-909e3300-6c6e-11e9-80d5-7d56a31b3065.png)

[2019-05-01 22:12] bjarnef opened #5382 "v8: Use custom checkbox and radiobutton in listview config"
In listview configuration I think we should use the custom styles radiobutton and checkbox, e.g. like used in other parts of backoffice UI, e.g. in configuration richtext editor.

![image](https://user-images.githubusercontent.com/2919859/57045936-14581f80-6c6f-11e9-83ef-3a7ffc5cb0fc.png)

![image](https://user-images.githubusercontent.com/2919859/57045953-26d25900-6c6f-11e9-9120-087e9ad54fa4.png)

[2019-05-02 05:56] nul800sebastiaan commented on #5370
Oh yes. One could argue the admins would know about the manual and pass it on to their editors, which turns out not to be very useful. :)

[2019-05-02 05:57] nul800sebastiaan commented on #5370
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/5378

[2019-05-02 05:57] #5370 closed

[2019-05-02 06:03] nul800sebastiaan commented on #5380
Oh that's unfortunate!

I'm sure @nielslyngsoe has an opinion on this as he doesn't seem to like people throwing loads of colors on everything. So I'm not sure he wants this fixed at all. :-)

[2019-05-02 06:04] nul800sebastiaan commented on #5381
Whoops, that seems like an oversight!

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-05-02 07:07] srikesavanj opened #5383 "Content is not allowed between the opening and closing tags for element 'Macro'"
![image](https://user-images.githubusercontent.com/39899582/57060386-de4e8600-6cd6-11e9-9d4b-d2e36dcf4f2d.png)

[2019-05-02 07:09] srikesavanj opened #5384 "How to get admin properties in Master"
I tried to below code

<umbraco:Macro runat="server" language="cshtml">
@Helper.getPropertyWithoutRootLookup(ref homepageID, "mENU-", selectedLanguage);
@Umbraco.Field("Id")
</umbraco:Macro>

But facing content is not allowed between the opening and closing tags for element 'Macro'
![issue](https://user-images.githubusercontent.com/39899582/57060513-54eb8380-6cd7-11e9-8c0d-f948b6a81bb7.jpg)

[2019-05-02 07:46] GionataAladinoCanova opened #5385 "Passing parameter to Macro Gallery now working"
Hi

@Model.Value("gallery") return
System.Collections.Generic.List`1[Umbraco.Core.Models.PublishedContent.IPublishedContent]
instead (example) 1150

Umbraco.RenderMacro("HomePageGallery", new {mediaId=@Model.Value("gallery")})
obviously not working

[2019-05-02 07:47] nielslyngsoe opened #5386 "V8: ModelsBuilder fails too offen"
Hi Stephan

I'm reporting this without any specifics, but because I think we need to look into this, my impression is that I'm not the only one experiencing this.

When testing and working with Umbraco I too offen see errors regarding ModelBuilder. I dont know what is happening or why, but my point is that for the small things I change in the StarterKit I should not be seeing issues like this — It

[2019-05-02 07:50] abjerner commented on #5383
Hi @srikesavanj

Isn't this the same as your other issue: https://github.com/umbraco/Umbraco-CMS/issues/5384 ?

[2019-05-02 07:55] bjarnef commented on #5380
In that case we might need to re-consider which colors should be available from icon picker, but in any case it would be great to have an option to disable selection colors in icon picker via a property/parameter in icon picker and e.g. in this case not allow picking colors, while it still could be available on document, media and member types.

[2019-05-02 08:07] Shazwazza commented on #5190
oops, didn't mean to close this

[2019-05-02 08:18] tcmorris commented on #3355
Nice one @warrenbuckley not sure I'll have much time to test this, but wanted to say cheers for looking into it and the relevant changes to make it work. #H5YR

[2019-05-02 08:32] nul800sebastiaan commented on #5380
Yep, it's on Niels' todo list to start limiting the number of color choices in the icon picker for doc/media/member types in the future. :)

[2019-05-02 08:33] abjerner commented on #5385
Hi @GionataAladinoCanova and welcome to GitHub 👍

Is it correct to assume that the `gallery` property is either a content or media picker? For a while now, these have returned a list of `IPublishedContent`. So based on the information you have provided here, it sounds like Umbraco is actually working as intended.

In your case, the issue is that your macro expects an ID instead of a list of an `IP

[2019-05-02 08:33] #5385 closed

[2019-05-02 09:00] srikesavanj commented on #5383
#5384 - How to get admin properties in Master. (**Asking the options**)
#5383 - Content is not allowed between the opening and closing tags for element 'Macro'.
(**I tried one option. But isn't working**)

[2019-05-02 09:06] nul800sebastiaan commented on #5383
This is correct, content is not allowed there and we don't plan to support that. :-)

[2019-05-02 09:06] #5383 closed

[2019-05-02 09:06] nul800sebastiaan commented on #5384
As you've figured out, this syntax is not supported.

Hey @srikesavanj - Make sure to ask your questions on how to use Umbraco on the forum at https://our.umbraco.com please! 👍

[2019-05-02 09:06] #5384 closed

[2019-05-02 09:13] srikesavanj commented on #5384
Thanks @nul800sebastiaan

[2019-05-02 10:01] GionataAladinoCanova opened #5388 "Object Automatic naming"
I have "Work" document type.

When I make a new property, like "Title", the automatic name given is "title".

Better is concat Document Type with Property Name es "workTitle"

[2019-05-02 10:23] GionataAladinoCanova commented on #5385
Hi and thanks for reply!

I create "New partial view macro from snippet " and select "Gallery"
On relative Macro I create paramenter mediaIds with Media Picker Editor

The call @Umbraco.RenderMacro("HomePageGallery", new {mediaIds = @Umbraco.Field("GalleryField")})
fails!

[2019-05-02 11:02] nul800sebastiaan commented on #5376
Hehe, nice one. Who would need a currency column in a CMS! ;-)

For now you can work around it with a full SQL query instead `base.Context.SqlContext.Sql("CREATE TABLE ... ");`

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-05-02 11:05] nul800sebastiaan commented on #5388
Hey @GionataAladinoCanova this is more of a support question,  make sure to ask your questions on how to use Umbraco on the forum at https://our.umbraco.com

Thanks!

[2019-05-02 11:05] #5388 closed

[2019-05-02 11:36] GionataAladinoCanova commented on #5388
My english is very bad! I suggest to modificate Umbraco.

Now: umbraco suggest "**title**" as property alias.
Tomorrow: umbraco suggest "**workTitle**" as property alias  (Document Type Name + Property Name)

Sample:
![workTitle](https://user-images.githubusercontent.com/50195729/57072783-338e9580-6cdf-11e9-9f6d-4834a254437a.jpg)

[2019-05-02 11:40] nul800sebastiaan commented on #5388
I understand, and this can be done! You just need to click on the little "lock" icon next to the title to give it a better name.

I am recommending you ask your questions on the forum so people can help you there, the issue tracker here is not suitable for questions on how to use Umbraco. :-)

[2019-05-02 13:09] Gansted opened #5392 "Umbraco.Core.dll - Assembly version not updated for patches"
### Description
The assembly version for Umbraco.Core.dll has not been updated for the 8.0.1 and 8.0.2. Both have assembly version 8.0.0.0.

This is particularly problematic when working with Umbraco Cloud in Visual Studio as described in https://our.umbraco.com/documentation/Umbraco-Cloud/Set-Up/Working-With-Visual-Studio/. In this setup there is a need to automaticly check if the web project has

[2019-05-02 13:14] Gansted commented on #5392
I imagine that the fix for this is automating assembly versioning in your release pipelines.

[2019-05-02 13:19] nul800sebastiaan commented on #5392
If you need to know that info, we update the File Version and Product Version.

![image](https://user-images.githubusercontent.com/304656/57077994-aacb2600-6ced-11e9-8681-4372866f7862.png)

[2019-05-02 13:19] #5392 closed

[2019-05-02 13:35] poornimanayar opened #5393 "Issue with colorpicker"
**Steps to reproduce**

1. Create a datatype of type "color picker"
2. Toggle to include labels, the input  for label should show
3. Save the datatype
4. The input field for label disappears with the toggle for label still on

![image](https://user-images.githubusercontent.com/3941753/57079094-8cfac280-6ce7-11e9-816a-2cb3aa87aad5.png)

[2019-05-02 13:51] mathewknott commented on #5368
@nul800sebastiaan You seem pretty quick to dismiss this as a non-issue. Can you please explain why this was closed?

[2019-05-02 14:04] nul800sebastiaan commented on #5368
I went through your steps to replicate and used the code above, not your code. The code above seems to work. Make sure to get some more advise on the forum!

It is entirely possible that I'm overlooking something obvious but I am able to do what you're trying to do so it seems to work. Apart from that if the picker did not actually work then we very likely would have had more bug reports, which I

[2019-05-02 15:05] HalldorLyngmo commented on #5317
Sorry I should have been more clear. It's not the mandatory language that is the issue here. But it does make it worse when you try to publish as you can't publish at all if there are two mandatory languages.

When you save as draft you will have an issue when trying to publish all the languages later. I made a short video that hopefully explains it a bit better.

http://recordit.co/h7u2SIs8tR

[2019-05-02 15:05] mathewknott commented on #5368
Ok thanks for clarifying.

[2019-05-02 16:17] zpqrtbnk commented on #5392
And, we cannot really change the assembly version. If anything is built against, say, 8.0.0, it would fail to run against 8.0.1 (or require a binding redirect). To keep things simple and not force ppl to use binding redirects, we do not change the assembly version.

[2019-05-02 16:26] GionataAladinoCanova commented on #5388
Yes, MANUALLY I just need to click etc. I mean "AUTOMATICALLY" :)

[2019-05-02 16:36] mattbrailsford opened #5395 "v8: Update umbToggle directive to support ng-model"
Currently the umbToggle directive requires you to provide a `checked` property reference and a `click` handler where the click handler is responsible for toggling the value.

The problem is that for the majority of cases people will just want to have the checkbox toggle the linked property. In order to achieve this more simply, the umbToggle directive should be updated to also support `ng-model` b

[2019-05-02 17:04] tormnator commented on #3790
Umbraco 7.14: any keypress in the Umbraco.TinyMCEv3 causes the "You have unsaved changes" to appear when navigating away. To reproduce, click in the RTE field, press the right arrow key, and then try to go to a different node.

[2019-05-02 18:21] dampee commented on #5376
Do you mean money SQL server column type?
What is wrong with decimals?

[2019-05-02 19:56] mattbrailsford commented on #5376
@dampee decimal is fine, I've done a workaround for now using `.AsDecimal(19, 4)` which seems to be the common accuracy for money. The point of this issue is that if you use `.AsCurrency()` you'll get an error because there is no mapping for it. I don't mind what it maps to, it just needs to map to something 😁

[2019-05-02 22:33] Shazwazza commented on #5317
I think this is a UI glitch which i think might already be fixed, have you tried 8.0.2 ? Else will need to check if it's already fixed in 8.1

[2019-05-03 03:23] Shazwazza commented on #5206
Hi, yup i was going to do that originally as the work around but because they are internal in v7 the work around won't work for existing versions which is why I posted how to do it by modifying the routes. But yes, it would work if they are public, and they are in v8 already so that will certainly work too. If you want to make these public in v7 i'd be happy to merge that in.

[2019-05-03 07:05] kjac commented on #5393
Heh... that was a funky root cause. PR in #5396

[2019-05-03 07:55] uli-weltersbach commented on #5392
For anyone else looking for a thorough explanation: https://stackoverflow.com/a/3905443/1764844

[2019-05-03 09:09] nielslyngsoe opened #5397 "V8: Improve UX of ItemPicker"
We need to improve the UX & UI of the ItemPicker to provide a better support for more situations, covering these ones:

- Having many doc-types to pick from.
— Ability to have grouped types.
— Ability to read the description.
- Ability to paste things + clearing the clipboard.
— Ability to read details about the content to paste.
— Ability to remove a specific paste-entry, maybe paste + forget fea

[2019-05-03 09:22] kjac commented on #5363
That indeed is annoying! Nice catch!

PR in #5398

[2019-05-03 09:25] nielslyngsoe commented on #5093
It would defiantly need to be doing dirty-checking. As we would have to do for the escape key(if not already in place). Which as well would be the same for clicking something that would take you away. There are multiple scenarios that can take you away from something. Same goes for the state before we had infinity editing, not less important to do the dirty checking just before of that.
There is o

[2019-05-03 09:28] nielslyngsoe commented on #5131
Thanks for notifying us.
I think this makes very good sense, feel free to implement if you have a solution up your sleeves. :-)

[2019-05-03 10:29] FransdeJong opened #5399 "Modelsbuilder custom tool stuck in 8.0.2"
Modelsbuilder custom tool is broken in 8.0.2.
If you run it it keeps running and the only way to stop it is by force closing Visual Studio.
This hapens in VS2017 and VS2019

Since Cloud auto updated this patch on all my V8 projects I'm stuck right now for all of them...

Reproduction
------------
Start a cloud project,
Clone the project using Uaas
Get the Modelsbuilder and API packages from nuget.

[2019-05-03 10:57] HannesWinston commented on #5035
@stodolos We had this exact problem on two of our Umbraco 8 sites running in Azure Web App. However the issue seems to be fixed now (3 days without a single crash). Here is what we did:

1. Upgraded Umbraco to 8.0.2
2. Disabled the Application Insights on the web apps (both production and stage deployment slots)
3. Completely removed the Application Insights resource in the resource group
4. Remov

[2019-05-03 11:28] nul800sebastiaan commented on #5399
Sorry to be a bit of a "stickler for the rules" here, but can you kindly report this at https://github.com/zpqrtbnk/Zbu.ModelsBuilder instead please? Umbraco doesn't make the custom tool 😄  👍

Thanks!

[2019-05-03 11:28] #5399 closed

[2019-05-03 11:29] FransdeJong commented on #5399
No problem. I thought it was part of Umbraco now.

[2019-05-03 11:32] dawoe commented on #5399
@nul800sebastiaan

Does that mean that API models are not officially supported by Umbraco. Because you need this tool to use that mode to generate your models in visual studio. We use it on all our projects that way.

I am not a fan of the live or dll modes

Dave

[2019-05-03 11:37] nul800sebastiaan commented on #5399
We're talking about the custom tool here...

The Modelsbuilder part that ships with Umbraco is supported by Umbraco.

[2019-05-03 11:40] FransdeJong commented on #5399
Feels a bit strange that a tool that makes one of the modelsbuilder modes work falls outside the scope, but maybe that's a discussion for the future ;-)

[2019-05-03 11:46] dawoe commented on #5399
Yes feels very strange to me as well.

So you can use Models Builder in 5 different modes...but one is not officially supported because it needs a tool ?

Dave

[2019-05-03 11:46] nul800sebastiaan commented on #5399
We're giving as much support as we can. 😊

I'm just putting issues in the correct repositories so they relate to the actual code. 👍

[2019-05-03 12:10] poornimanayar commented on #5326
PR at https://github.com/umbraco/Umbraco-CMS/pull/5400

[2019-05-03 12:37] ronaldbarendse commented on #4493
@bsubasic Maybe this is related to https://github.com/zpqrtbnk/Zbu.ModelsBuilder/issues/196?

As it throws the error on getting types from an assembly (just like SignalR does), I would look into incompatible C#/.NET versions. No experience with Umbraco 7 on .NET 4.7.1, but `Microsoft.Net.Compilers` shoudn't be installed when using `Microsoft.CodeDom.Providers.DotNetCompilerPlatform` > v2: https://

[2019-05-03 13:13] nul800sebastiaan commented on #5388
@GionataAladinoCanova I understand what you mean. Unfortunately for you, this is not a feature we plan to implement.

[2019-05-03 13:23] nul800sebastiaan commented on #5376
I've just noticed that other types also seem to not be wired up (the dimmed ones). I don't know why they're there if we don't intend to wire them up. 🤔

![image](https://user-images.githubusercontent.com/304656/57140124-4c6a7a00-6db7-11e9-8b10-1750e3f89809.png)

[2019-05-03 13:27] nul800sebastiaan commented on #3790
That's good point @tormnator - I was going to have a look at this PR again (apologies for the delay @minorum!) but that reminded me of why I was hesitating to accept it in the first place.

Which keypresses do we want to ignore, in reality? I don't think it makes a great deal of sense to make a long list of things that don't produce a character in the RTE to "fix" this issue. Is there any more cle

[2019-05-03 13:43] dawoe commented on #5376
Hi @nul800sebastiaan

I was just looking at this as well. But I found these methods implemented in this class : https://github.com/umbraco/Umbraco-CMS/blob/v8/dev/src/Umbraco.Core/Migrations/Expressions/ExpressionBuilderBaseOfNext.cs

[2019-05-03 14:04] nul800sebastiaan commented on #5025
Hey there @HistoricEnglandDigitalTeam and thanks for bringing this up again. It's still functionality we'd love to have and as you can imagine this is a big feature to build.

We've outlined how we think it should work in this comment: https://issues.umbraco.org/issue/U4-6317#comment=67-45995

At HQ we don't currently have this listed as one of our highest priorities but we will be happy to look a

[2019-05-03 14:54] nul800sebastiaan commented on #5184
Hey @BatJan - we had a chat about this earlier this week and we came to the following conclusion:

This is, as noted a good idea, but a breaking change. We would love for it to get done, but unfortunately it would have somewhat of the opposite effect of what you described above:
We can have a new datatype ("Tags2") and obsolete the existing one. That way, new installs won't see the old datatype an

[2019-05-03 15:02] nul800sebastiaan commented on #5294
Hey @skartknet - we had a bit of a chat about this at HQ this weke, we definitely agree that it should be a bit more clear what you're selecting. We want to expand it a little bit though:

When you hit "Add" then configuring the NC config

![image](https://user-images.githubusercontent.com/304656/57146150-f7356500-6dc4-11e9-94e8-fe86ecc5b6a3.png)

It would be good to pop up the doc type picker, li

[2019-05-03 15:14] nul800sebastiaan commented on #5003
Hi @NikRimington - as it stands I don't ave the feedback on why this was not an option in v7, however updating it now would be too much effort (think testing upgrades, backwards compatibility, Cloud, etc) to make it worth the effort in v7. We're focusing our efforts on v8 instead where this is indeed already supported.

I'll close this issue, thanks for reporting and apologies that we can't be muc

[2019-05-03 15:14] #5003 closed

[2019-05-03 15:16] nul800sebastiaan commented on #5070
@AndyButland It would definitely be something to consider re-instating that award for in the next year ;-)

As Claus mentioned, we won't put the work in right now, but we're open for incoming PRs!
I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-05-03 16:10] bsubasic commented on #4493
@ronaldbarendse Thanks, I will check it.

[2019-05-03 19:18] alanmac commented on #5126
Scenario:

I am the only user of the site and therefore the admin. I want to create an Umbraco Form that has sensitive data fields. To do that, I need to be assigned to the Sensitive Data group.

As it is, I currently need to create another admin user, log in as that user and assign the Sensitive Data group to the first Admin User in order to add fields that are marked as Sensitive Data to a form.

[2019-05-03 20:45] stodolos commented on #5035
@HannesWinston Thanks for the info.  Once we upgraded to the new version of Examine, we only saw this once in 2 weeks (vs every day).  I also saw how 8.0.2 generates the cache file folder/name, and it's way better b/c it goes off of the process id.  You would think that should avoid any collision on the same file going forward.  Application Insights had no bearing for us FYI.

[2019-05-04 11:57] mattbrailsford opened #5402 "V8: Provide an ability to deselect current menu itm"
Currently, you can select (highlight) a tree node via `navigationService.syncTree` however, there is no ability to deselect a node.

It is clearly doable some how as when you navigate to a dashboard the active tree node is deselected but I can't for the life of me find out how it's being done.

It would be handy if there was a simple API for achieving this.

[2019-05-04 17:28] mattbrailsford opened #5403 "V8: syncTree causing trees to flicker"
If you have a tree with more than 1 level in the nodes path and those nodes edit screens call `navigationService.snycTree`, switching between tree nodes causes the tree to flicker (it appears to disappear and reappear). I thought it was to do with the `forceReload` syncTree option, but even with this set to false, it still flickers.

You can replicate this by creating some content which goes 2 or

[2019-05-05 13:41] bjarnef opened #5404 "v8: Avatar should use hand cursor"
The avatar in top right corner in backoffice used to use a hand cursor style, because it is clickable.

Furthermore I think previously elements with `ng-click` elements get the hand cursor style, but it doesn't seem to be the case anymore.

![image](https://user-images.githubusercontent.com/2919859/57194874-478aff00-6f4c-11e9-860c-25f57561b8c0.png)

[2019-05-05 13:59] bjarnef commented on #5380
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/5405

We can look further into hiding colors in icon picker via a property and limiting the number of colors.

[2019-05-05 14:14] bjarnef opened #5406 "v8: Add empty state in user layout views"
In user section when filtering users and user groups and there are no match, it should show an empty state message, similar to listviews in content section.

![image](https://user-images.githubusercontent.com/2919859/57195225-77d49c80-6f50-11e9-8a8b-744e98a39753.png)

![image](https://user-images.githubusercontent.com/2919859/57195270-db5eca00-6f50-11e9-9e53-5e496348a0a1.png)

![image](https://use

[2019-05-05 17:04] kjac commented on #5406
Nice one! PR in #5407

[2019-05-05 23:13] skartknet commented on #5294
That sounds good @nul800sebastiaan , I can work on it.

[2019-05-06 02:06] Shazwazza commented on #3611
[AB#497](https://umbraco.visualstudio.com/243e7927-03b2-44e2-908f-d4ac7ea5daaa/_workitems/edit/497)

[2019-05-06 06:34] nul800sebastiaan commented on #5404
👍 Let's start with the avatar and figure out where else we need to fix the ng-clicks.

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-05-06 07:40] nul800sebastiaan commented on #5317
I can't still repro in 8.0.2 and it works weirder in 8.1.0 - you can create a new node in v8.1.0, switch to split view but when you hit "Save" you can only save the language on the left. Closing split view and switching to the other language works (as long as it's not in split view) and then you can actually publish both at the same time, so this specific bug is fixed, but it's introduced somethin

[2019-05-06 07:50] Shazwazza commented on #5317
We've got this and a couple other validation issues we are still fixing and working on so might very well be related https://github.com/umbraco/Umbraco-CMS/issues/5190

[2019-05-06 08:53] marcemarc commented on #5386
Hi @nielslyngsoe it would be great to get some context to the small changes you have made...

ModelsBuilder is the bit that takes what the Umbraco Services provide, and generates a model to use in a View, so if there is a problem anywhere with your Umbraco site... it will be ModelsBuilder that throws the error, and is the bearer of the bad news ;-( - that doesn't necessarily mean that ModelsBuilde

[2019-05-06 12:06] bjarnef commented on #5380
@nul800sebastiaan can you mark this with "community/pr"? :)

[2019-05-06 12:41] AndersBrohus commented on #4910
@nul800sebastiaan - I kinda have the same problem with Umbraco 7.14, because the focal point on the rendered image is wrong.. :(

[2019-05-06 12:58] kjac commented on #5220
PR #5398 covers this

[2019-05-07 05:01] Shazwazza commented on #5123
@rasmusjp Regarding this one, I think there's still some work we should do for this. As @dawoe mentions, there was a PR to remove the data-udi attributes in v7 but it was reverted in favor of being implemented for v8 which i think we should still do while v8 is still young.

Having the data-udi attributes rendered on the front-end is sort of a security risk like @dawoe mentions in his links so ide

[2019-05-07 05:12] Shazwazza commented on #5263
This item has been added to our backlog AB#420

[2019-05-07 06:33] #4940 closed

[2019-05-07 07:06] #5236 closed

[2019-05-07 07:06] #5373 closed

[2019-05-07 07:11] nielslyngsoe commented on #5131
I'm making a PR for this now.

[2019-05-07 07:58] MMasey commented on #5131
Awesome, thanks @nielslyngsoe, my bank holiday weekend plans left me to busy to jump in on this so I appreciate it 😄

[2019-05-07 08:13] natashadecanha opened #5410 "v8: Unpublishing a variant does not trigger Unpublished event"
### Bug summary

The published event triggered every time I unblished a page. So I took a look in the code and saw that in the UnpublishCulture the PublishedState is set to Publishing instead of Unpublishing. So likely this is the problem. I tested it and it works on my machine :)

So I propose the following pull request for change. But I cannot be sure if this is on purpose or an accidental overs

[2019-05-07 08:20] Shazwazza commented on #5170
This has been added to our backlog AB#385

[2019-05-07 08:25] mattbrailsford opened #5411 "v8 UX: ListView should be it's own directive"
Currently, it appears that the ListView UI is all wrapped up in a property editor. This kind of made sense in v7 when a listview was essentially a property on a model, however now that we have content apps and list views have moved to these apps, it doesn't make sense any more that the listview UI should be constructed in this way.

Being a property editor also makes it hard for others to reuse as

[2019-05-07 09:10] nielslyngsoe commented on #5131
No worries, not your responsibility ;-) but always very appreciated.

Its was a bit more tricky that I though, but captured a few other things in the making.

PR https://github.com/umbraco/Umbraco-CMS/pull/5412

[2019-05-07 10:54] mattbrailsford opened #5413 "V8: ListView should accept an item click handler"
Currently the ListView assumes that when an item is clicked, it should perform a navigation to

    $location.path($scope.entityType + '/' + $scope.entityType + '/edit/' + (item.id === 2147483647 ? item.key : item.id));

The problem with this is this is that it assumes a very specific route path structure that is unlikely to match anything outside of umbraco. Because of this, the list view is comp

[2019-05-07 11:02] Shazwazza commented on #5351
linked to AB#496

[2019-05-07 11:19] Shazwazza commented on #5268
has been added to our backlog AB#435

[2019-05-07 13:33] bjarnef commented on #5404
I wonder if this approach to style `ng-click`, `data-ng-click` with cursor hand style has been removed.
https://stackoverflow.com/a/18896948/1693918

[code]

This PR https://github.com/umbraco/Umbraco-CMS/pull/5414 fix it in this case, but there are other places as well where only `ng-click` is used.

https://github.com/umbraco/Umbraco-CMS/blob/853087a75044b814df458457dc9a1f778cc89749/src/Umbraco.

[2019-05-07 14:06] MortenL opened #5415 "Media file location"
When changing the physical location of the media folder, Umbraco still thinks that the physical files are located inside the root directory.

to reproduce, create a simple class like this:

[code]

next upload an image. It'll be stored in the right folder, but umbraco won't serve the file from the virtual directory (in this case /MyMediaPath).

[2019-05-07 14:16] nul800sebastiaan commented on #5415
Hey @MortenL - thanks for reporting. I have a few questions:

1. What version of Umbraco are we talking about
2. How did you change the physical location of the media folder?

I am not sure how this works currently, in v8, in v7 you needed to update a config file, did you do that?

[2019-05-07 15:41] mattbrailsford opened #5416 "V8: navigationService.executeMenuAction doesn't appear to set $scope.currentNode for dialog"
When a tree menu action that opens a dialog is executed from the tree menu, the related dialogs scope contains a `currentNode` object such that it has context as to the node that created it, however it appears that triggering a menu action via `navigationService.executeMenuAction`, although you pass it the action and a node, it doesn't appear to pass through the node as the dialogs `currentNode` l

[2019-05-07 15:51] mattbrailsford commented on #5416
On further investigation, it appears you have to call `appState.setMenuState("currentNode", node);` before calling `navigationService.executeMenuAction`. I don't think this is overly intuitive though. If you are calling `executeMenuAction` and you are providing it with a node context, would it not therefore dictate that the passed in node should be set as the appState current node? (if it potentia

[2019-05-07 16:01] darrenferguson opened #5417 "v7 Umbraco.TypedMedia can cause a YSOD - System.FormatException: String was not recognized as a valid DateTime."
Umbraco.TypedMedia can cause a YSOD - System.FormatException: String was not recognized as a valid DateTime.

Reported:

https://our.umbraco.com/forum/using-umbraco-and-getting-started/87309-formatexception-after-upgrade-from-757-to-761
https://our.umbraco.com/packages/developer-tools/umbraco-core-property-value-converters/feedback/80678-string-was-not-recognized-as-a-valid-datetime-exception-in-r

[2019-05-07 16:09] darrenferguson commented on #5417
Related: http://www.heikniemi.net/hardcoded/2015/08/windows-10-breaks-net-date-parsing-in-certain-locales/

[2019-05-07 16:20] darrenferguson commented on #5417
As a workaround you can change your time and date separator on the server: https://www.softwareok.com/?seite=faq-Windows-10&faq=146
For us, it was Norway and Finland that were the issue

[2019-05-07 17:45] MortenL commented on #5415
Hi @nul800sebastiaan
1. 8.0.2
2. In U8, /config/FileSystemProviders.config is no longer present

[2019-05-07 20:17] mvanhelmont commented on #4696
The problem that @nielslyngsoe describes also applies to media. Pull request fixes both, but after testing the pull request i also found another bug that's only applies to media.

You get Create an item under Folder 1 with title Reload, but that's not the startnode.

![media](https://user-images.githubusercontent.com/5310629/57330248-c1baaf80-7115-11e9-8495-77514f520570.png)

[2019-05-07 23:51] Shazwazza commented on #5416
it's probably a case do to a mashing together of code from a very long time ago. If you have time for a PR i'd be happy to review. have marked up for grabs. Cheers!

[2019-05-07 23:53] Shazwazza commented on #5417
So is this an issue with how the value is stored in Lucene or how it is parsed outside of it?

[2019-05-08 01:47] DontPanic345 commented on #5295
Hi @croban, @nul800sebastiaan
I have the same issue exactly as described, we don't use Umbraco for serving the site at all, only content management so having to provide .

It really does seem like you should be able to set "#someid" in the Link field, as to produce html like
`href="#someid"` without having to modify source code.

Also when you do enter "#someid" into the Link field and press submi

[2019-05-08 06:51] darrenferguson commented on #5417
@Shazwazza I haven't quite got to the root yet, but I think it happens when the item is queried from Examine - and put in to the memory cache. The Dictionary<string, string> that is placed in the memory cache appears to contain the dots, and can't be parsed by other locales on retrieval.

We could handle the DateTime.Parse in PublishedMediaCache.cs - but that would be masking the issue.

I expect

[2019-05-08 07:35] ArnoldV opened #5420 "v8 Invited user keeps showing as "has not logged in yet""
Reproduction
------------

Invite a new user to your Umbraco Backoffice, they accept the invite, login an even publish a page, but the Userview still says "Person has not logged in yet".

![umbraco-bug-invite-contentview](https://user-images.githubusercontent.com/4798968/57357974-974c0f00-7174-11e9-9ff4-6e7b1a0af6f4.PNG)
![umbraco-bug-invite-userview](https://user-images.githubusercontent.com/4798

[2019-05-08 07:48] mvanhelmont commented on #4696
I have added a new commit to fix this, was just placing the next line on the right place.

[code]

[2019-05-08 07:51] Shazwazza commented on #5190
When we fix this, we'll then have to look into this other issue which has to do with creating content with validation messages and redirects: https://github.com/umbraco/Umbraco-CMS/issues/5156
will see if we can add this next sprint

[2019-05-08 08:36] EmbraceSBS-Umbraco opened #5421 "V7 - Multinode Treepicker bug allow items of type"
With Umbraco 7.1.4.0 The Umbraco.MultiNodeTreePicker2 doesn't working correct with the setting 'allow items of type'. I can select other items than allowed. Can this with high prio solved? Because it is now possible to select other items than allowed.

Reproduction

See video for reproduce steps, with standard Umbraco 7.14.0 with the example database of
Umbraco.
[Multinodetreepicker-wrong-nodes.zi

[2019-05-08 08:51] dalyUSN opened #5422 "V8 Content tab dropdown inconsistent with rest of back office"
Although I'm not a massive fan of the "Content tab" dropdown, in part because it is pretty clunky to use and feels hacked on, it is completely inconsistent with the rest of the back office, particularly with the "Actions" dropdown that sits next to it.

![dropdown on hover](https://user-images.githubusercontent.com/24275922/57362413-adf36580-7176-11e9-91b6-375e604143e9.png)

To use the "Actions" d

[2019-05-08 09:27] warrenbuckley commented on #4144
Been playing spot the difference this morning - will investigate further when the regression happened to do some more detective work 🕵 🔍

![image](https://user-images.githubusercontent.com/1389894/57364857-db8edd80-717b-11e9-8942-59f6f20a6a3a.png)

[2019-05-08 10:01] warrenbuckley commented on #4144
Found the commit that removed this b0292159331f62ca755fa855b5ed30a98974387d
@Shazwazza I have added this back in the PR #5423 for this, as I assume this was simply removed by mistake?

[2019-05-08 10:03] nielslyngsoe commented on #5422
Hi @dalyUSN

Thanks for taking your time making us aware about what is annoying you, when using the BackOffice, very appreciated.

I agree with you, but would like you to think about the solution.

The dropdown is meant as a shortcut-option for DocTypes that presents multiple property groups. Its not meant as a must-use feature, but an option. Very usefull if you have very large documents. Meaning

[2019-05-08 12:09] rasmusfjord opened #5425 "Blueprints in multisite solutions"
So as it is right now Blueprints is in Umbraco, and it rocks. But if your running a multi site, with multiple users isolated in their own respective site/area, inside the same solution, the blueprints looses their functionality, because they are shared amoung all users.

**Suggestion**
So I was thinking what is it that "isolates" users into "silos" like on a multisite solution. My suggestion is th

[2019-05-08 12:35] mhughes4 opened #5427 "V8: Selecting doc type for nested content field"
I have created a nested content field, in single item mode, with multiple document types. When it came to adding the content, I would have expected it to have given me a choice between one of the multiple document types. Instead, it has served me an instance of the first document type. It should give me an option to choose between one of the multiple doctypes.

[2019-05-08 13:30] nielslyngsoe opened #5428 "Changes made in property settings are applied instantly"
Changes made in property settings should not be applied before "submit" has been clicked. (Would love as well to rename to 'save')
Meaning that if a change has been made and the user click "close" we should ask the user if they are sure that they dont want to save their changes.

Screenshot from the crime scene:
![image](https://user-images.githubusercontent.com/6791648/57378308-c37f8400-71a4-11e9

[2019-05-08 19:44] kjac commented on #5421
Pretty sure this is a duplicate of #5137 which has a PR in #5199 ?

[2019-05-08 20:41] kjac commented on #5427
@mhughes4 Thanks for reporting 😄

As you have no doubt gathered, Nested Content automatically adds the minimum required items using the first available item type.

Your best bet here (at least on the short term) is to set minimum number of items to 0. That will allow your editors to pick the applicable item type. I'm looking into the problem, time will tell if it's fixable.

[2019-05-08 21:12] kjac commented on #5427
PR in #5429

[2019-05-09 04:10] elit0451 commented on #3611
Testing process:

- Execute `$uenv=build/build.ps1 -get -doc` to get the environment variable and download Docfx
- for the C# docs run `$uenv.PrepareCSharpDocs()`
    - you will find **csharp-docs.zip** in the _build.out_ folder
- and for Angular - `$uenv.PrepareAngularDocs()`
    - **ui-docs.zip** will be located also in _build.out_ dir
- extract the zip files, open in VS Code (for example) and f

[2019-05-09 06:13] zpqrtbnk opened #5431 "NuCache Vanishing Content (2)"
See #5222 - happening again?

[2019-05-09 06:13] zpqrtbnk commented on #5222
Duh. Let's discuss in #5431.

[2019-05-09 06:15] zpqrtbnk commented on #5431
According to Frans:

restart the application locally does it to

The DLL Stephan send me to test prior to the 8.0.2 patch worked great so I don't get it

I don't get it either. The fixes that were in that DLL are in 8.0.2. Need to look into it.

[2019-05-09 06:24] EmbraceSBS-Umbraco commented on #5421
Yes, that is a workaround, but it is time consuming to change all our installations, so we prefer a fix in UmbracoCMS.

[2019-05-09 06:42] nul800sebastiaan commented on #5402
From some Twitter convo's you seem to have managed to fix this, or no? Not sure. Can you update please? :)

[2019-05-09 06:48] nul800sebastiaan commented on #5403
I can repro, weird :-)

![5403](https://user-images.githubusercontent.com/304656/57432775-0db14580-7237-11e9-8908-14ef6b2466f8.gif)

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-05-09 06:57] nul800sebastiaan commented on #5411
It's a great feature request, not sure how feasible it is, we'll discuss at HQ soon.

[2019-05-09 07:03] nul800sebastiaan commented on #5420
Turns out that when they get invited and set their password, that doesn't count as a "login" but as soon as you log out and in again, the "first" login gets recorded.

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-05-09 07:05] nul800sebastiaan commented on #5425
I'm not sure what you mean? Surely if someone is limited to their own "area" they also have their own specific doctypes that they can create?

Maybe you can give a bit more of a practical example of what two different users in your system will encounter?

[2019-05-09 07:09] ArnoldV commented on #5420
@nul800sebastiaan awesome, will try to fix this, should no be that hard.

[2019-05-09 07:12] nul800sebastiaan commented on #5295
We'll have a chat at HQ about it soon to see how this feature would make the most sense.

[2019-05-09 07:28] EmbraceSBS-Umbraco opened #5433 "V7 - bug create a link, for only navigate to anchor (on current page)"
When a content editor create a link, for only navigate to anchor (on current page). The content editor fill an anchor and title, but this link don't appear in the source code. With Umbraco 7.7.13 was this still working, but after upgrade to newer version of Umbraco (7.14.0) the anchor does't working as expected.

Reproduction
------------

1. See video in create-link-to-anchor.zip
[create-link-to-

[2019-05-09 07:31] nul800sebastiaan commented on #5433
Interesting, never knew this was possible! That answers https://github.com/umbraco/Umbraco-CMS/issues/5295 then.. I'll mark this as a duplicate of #5295

[2019-05-09 07:31] #5433 closed

[2019-05-09 07:32] nul800sebastiaan commented on #5295
As noted in #5433 this is apparently a bug in both v7 and v8 at the moment. We'll fix.

[2019-05-09 07:38] FransdeJong commented on #5431
Could it be that the temporary dll has messed up this project in any way?

[2019-05-09 07:57] IainMartin-Ayr commented on #5202
Unfortunately I'm still getting the same error using 8.0.2 - cleared the browser cache, updated ClientDependency version number, set read/write permissions on the TEMP folder to Everyone, had the upload file in E:\file.udt, stopped the project and Visual Studio all to no avail.

It is uploading it into the temp directory as I can see it appearing when I click on the Import button and the error is

[2019-05-09 08:03] nul800sebastiaan commented on #5202
The fix will be part of 8.1.0, we only put a number of specific fixes in 8.0.2, this one did not make it.

[2019-05-09 08:43] mattbrailsford commented on #5402
I've managed to work around it, but it would be beneficial to have a proper solution.

I'm currently syncing to my root node and giving it a CSS class that removes the selection BG colour so it's more of a hack atm.

[2019-05-09 08:53] FransdeJong commented on #5431
I found the problem.
If you use modelsbuilder api and use the constructor to set a property based on a variant it will break the cache.

I think it would be wise to disable the functionality of overwriting the constructor? Or at least have a warning in there?

https://our.umbraco.com/forum/umbraco-8/97190-ancestorsorselft-returns-wrong-culture

[2019-05-09 08:57] IainMartin-Ayr commented on #5202
No problem Sebastian, gives me a good opportunity to review the documents that I have created for the old site and take out all the duplicate items, things I'm not using and things that looked like a good idea at the time but actually were more problem than they're worth - and correct the spelling mistakes that you just leave because it's easier to do that than refactor half your code :-)

[2019-05-09 09:06] martinjgriffiths opened #5436 "Umbraco.Dropdown.Flexible remains $dirty after save and publish"
Saved and Published item after changing something in the dopdown and navigated away.

Prompted of unsaved changes.

Version 7.13.2

[2019-05-09 09:55] dzordzs opened #5437 "The Insert Value dialog (template editor) is not outputting the correct markup for built in properties"
## Updated Report

The issue here is that the Query builder is not outputting the correct values for 'built in' properties like 'pageName' (which is just Model.Name) see https://github.com/umbraco/Umbraco-CMS/issues/5437#issuecomment-490871090

Same issue goes for other built in values like created date, etc...

## Original Report

Rendering standard fields using Umbraco Helper does not work.

Ste

[2019-05-09 10:04] Shazwazza commented on #5437
I think this only worked sort of, in v7 because of dynamics

If you want to render the standard fields, these are available on the model as strongly typed properties. I don't think we want to take a step backwards to have non-strongly typed results with magic strings?

* `@Model.Name`
* `@Model.Level`
* `@Model.CreateDate`
* etc...

[2019-05-09 10:09] dawoe opened #5438 "Have option to bulk set a "Allow varying by culture" on properties"
Now when you create a doctype the first view you see is the "Design" view.
You will start to add properties to your doctype.

After you added all your properties you will go to your settings tab and then check the "Allow varying by culture" setting and save your doctype.

If you try to create content now all your properties are not varied by culture. So you need to go in to the doctype editor agai

[2019-05-09 10:11] dawoe commented on #5438
Forgot to mention is that on property level  you don't even have the option to "Allow varying by culture" if it is not enabled on doctype level.

Seems to cause a lot of confusion. Seen this come by on twitter at least twice

https://twitter.com/rsoeteman/status/1126087122484641792

[2019-05-09 10:17] tom-ingeniuus commented on #5438
Yup, I would find this nice as well if you had the option to change existing properties to have variants.

[2019-05-09 10:22] hartvig commented on #5438
It sounds like discoverability and a faster UX would be an improvement (however, without too much clutter for the majority of sites which probably wouldn't use variant capabilities).

For discoverability, we could
1) Check if there's more than one language enabled (if not, there's no need to give variants much attention)
2) If there's more than one language enabled and variants are turned on for a

[2019-05-09 10:41] dzordzs commented on #5437
Strongly typed does work indeed but then I guess we would need to change the output of what Umbraco serves. If you do use the helper then it should automagically output ```Model.Name``` instead of ```@Model.Value("pageName")```.

[2019-05-09 10:52] callumbwhyte commented on #5438
Agreed it's pretty easy to forget / overlook property level variation. A pretty common journey for me has been jumping between content and the doctype editor to enable property-level variation.

In addition to the modal, some other ideas:

- In the doctype editor "designer" view, when a doctype is set to be variant, have a some kind of identifier (an icon?) next to each property that says whether

[2019-05-09 10:57] dawoe commented on #5438
That is already there. When property is set to vary by culture that is indicated.
![image](https://user-images.githubusercontent.com/1193822/57448582-03ed0980-725a-11e9-93f7-d329abbeb31d.png)

[2019-05-09 11:02] callumbwhyte commented on #5438
Sorry I was a little unclear... 🙂

I meant when a property is invariant it's very easy to overlook, and you can miss that you've not set it to be variant.

[2019-05-09 11:13] Shazwazza commented on #5437
Just a quick note - with this syntax, there is no 'helper' :) this is just `@Model` is just `IPublishedContent`, we're just dealing with a model here.

What are you referring to here @dzordzs  ? The query builder or something? If umbraco is generating this syntax somehow then that's the issue, not the other way around

[2019-05-09 11:49] dzordzs commented on #5437
It's the one you can use in the template @Shazwazza
Insert -> Value:
![image](https://user-images.githubusercontent.com/25767542/57451349-4cf48c00-7261-11e9-8a0b-bda478a298a3.png)

[2019-05-09 11:52] dawoe commented on #5438
Ah yes..now i get it :-D

[2019-05-09 12:21] dave0504 commented on #5362
We are also having the same issue as Johan. Having looked at the [ContentService](https://github.com/dave0504/Umbraco-CMS/blob/v8/dev/src/Umbraco.Core/Services/Implement/ContentService.cs#L1195) it appears that the treeChangeType for exitsing published nodes is always set to refresh the whole branch, rather than the individual node, causing the node and descendants to be processed during the Cache

[2019-05-09 12:39] Shazwazza commented on #5437
ok, that's the bug then, i'll update the title

[2019-05-09 13:08] #5131 closed

[2019-05-09 14:11] Shazwazza commented on #4144
@warrenbuckley I think it's because the password should be changed on this line, not where the code that you've put back in executes https://github.com/umbraco/Umbraco-CMS/pull/5423/files#diff-8529397cc05f7165e5300ea16e775622R193

The code you put back in was marked that it was there for legacy reasons, I vaguely remember this stuff, but will run some tests to see whats going on.