[2019-08-08 13:36] stevemegson commented on #5504
This turns out to be nice and easy, I've submitted a PR. The check for "disable sorting if `$scope.isMultiPicker` is false" runs before we've set up `$scope.isMultiPicker`, so sorting is always disabled.

[2019-08-08 13:40] nul800sebastiaan commented on #6066
Oh man.. so yes.. I've missed a lot. ☹

Things always sound so easy, and then reality comes checking in. Really good points that people might already be relying on this user, and it will be hard to potentially move over permissions (and permissions for Deploy, Courier, Forms, etc.).

Then.. new proposal, which was the original proposal, with some learnings applied:

Let's make the user with id -1

[2019-08-08 13:41] NicolaSA commented on #4713
Hiya,

Our client on multisite, cloud 17.5.1 is experiencing this bug too.
One user is set to receive send to publish notifications on 4-5 sites and zero emails fire to this user whilst my colleague and I successfully receive notifications as we only subscribe to one site.

Is there a rough timelime for a 17.5.2 patch that you can advise us so we can advise our client please?

Many thanks in advan

[2019-08-08 13:48] johnsonp57 commented on #4713
We are also being affected by this issue for a client - it seems to have been broken for quite a few versions and this patch looks like it will fix the issue - can it be applied in the next release?  7.15.2 would be ideal.
Thanks
Peter

[2019-08-08 14:00] #5504 closed

[2019-08-08 14:00] nul800sebastiaan commented on #5504
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/6078

[2019-08-08 14:03] nul800sebastiaan commented on #5504
Cherry picked into 8.1.2 - https://github.com/umbraco/Umbraco-CMS/commit/88349c6b6613d16592d7d5f79d59f4b0dede800c

[2019-08-08 15:10] nul800sebastiaan commented on #6062
Thanks @jdphenix - I'll close this for now as I believe it's more of a one-of edge case. Good luck with the rest of the migration! 😅

[2019-08-08 15:10] #6062 closed

[2019-08-08 15:31] nul800sebastiaan commented on #5919
I can reproduce this one on 8.1.1 as well.

[2019-08-08 15:39] nul800sebastiaan commented on #5954
Thanks @sebkirller - that sure is annoying and puzzling! We've seen it a few times now on screens that are not high enough. Would definitely be good to see if we can fix this somehow by scrolling the element into view or something.

[2019-08-08 15:53] nul800sebastiaan commented on #5971
Yes! Love the ideas here, for both the datatype names AND the icon names.

I don't see a problem in putting those in a config file to load when starting Umbraco, why would this be a loadbalancing problem? Maybe I missed a memo there.

As to where to put this config file.. not sure if it really fits in `~/Config` since not many people would be updating the defaults, I would think (?).

Maybe this c

[2019-08-08 15:59] nul800sebastiaan commented on #5977
Hi @Zweben - very strange, can't say we heard about this before. Of course that class is not currently marked as Serializable, but I also don't know if it should be. Do you have logs with a stack trace maybe? We could have a look as to why it's trying to serialize this class.

[2019-08-08 16:02] nul800sebastiaan commented on #5997
@AlphaDelta I would tend to agree, if someone wanted to do something malicious and they can create macros then that is much easier than getting an editor to execute some arbitrary scripts.

This was most likely just an oversight. Would you care to help fix it maybe?

[2019-08-08 16:07] nul800sebastiaan commented on #6007
Hey @cerdts - apologies for the delay. Seems like your database is in some kind of inconsistent state. We expect PK_umbracoLock to exist.

Try creating it like so:

[code]

After that you should be able to continue the migration.

[2019-08-08 16:07] #6007 closed

[2019-08-08 16:17] nul800sebastiaan commented on #6018
Not sure what this means Marc, I'll ask around at HQ!

[2019-08-08 16:37] nul800sebastiaan commented on #6021
That certainly seems strange @Appstract-fjellvang that you would not be able to move an item with it's children. I can reproduce the problem in 8.1.1, we'll need to have a look at it.

[2019-08-08 16:39] nul800sebastiaan commented on #6060
I love the conversation you two have going here, thanks for helping each other out! I am a bit lost on what is actually going on but that's alright. Have you gotten any further now @SorenHjelmLarsen or are you stuck?

The changes so far as suggested by @stevemegson seem to help, maybe it's time to start a PR for them?

[2019-08-08 16:41] nul800sebastiaan commented on #6063
Good investigation @bjarnef - do your solutions grouped together work now? Could be good if they could be combined in a PR maybe?

[2019-08-08 16:45] nul800sebastiaan commented on #6064
Seems fine to me, if you'd like to give it a go then that would be great. No idea why the file is in the forms folder so feel free to move it.

[2019-08-08 16:46] nul800sebastiaan commented on #6065
Thanks @twincliff - seems like a fine solution to me! Would you care to give it a go and send us a PR for that?

[2019-08-08 16:49] Zweben commented on #5977
@nul800sebastiaan - Fortunately/unfortunately, I am no longer able to reproduce the issue. This and other stability issues in v8.1.0 seemed to resolve themselves after importing content onto the site. I believe when the error occurred, there was no content on the site, only settings.

[2019-08-08 16:52] nul800sebastiaan commented on #6079
Good to hear this has been fixed in v8, that means it might be easier to find a way to fix it in v7 too.

Care to have a look at it and see if you can create a PR for this?

[2019-08-08 16:55] #6068 closed

[2019-08-08 16:57] nul800sebastiaan commented on #6068
Thanks for the PR @amitch17 - it will take a little while to roll the documentation out since it's not entirely automated right now but rest assured it will pop up on Our soon enough. 👍

[2019-08-08 17:14] nul800sebastiaan commented on #6075
Thanks for reporting @elliottjb7 - this seems to be a little wonky indeed! We'll get it looked at, thanks for reporting!

[2019-08-08 17:15] kjac commented on #5959
I'll pick this one up 👍

[2019-08-08 17:51] nul800sebastiaan commented on #4713
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/4806 and cherry picked for 7.15.2 in https://github.com/umbraco/Umbraco-CMS/commit/ff595df7caa656664246d92fc13fab55491b3142

I don't have a solid date yet, but I expect 7.15.2 to be out in the next few weeks. 👍

[2019-08-08 17:51] #4713 closed

[2019-08-08 18:31] nul800sebastiaan commented on #5977
Fortunately/unfortunately! I'll close this for now and hope for the best :-)

[2019-08-08 18:31] #5977 closed

[2019-08-08 18:35] nul800sebastiaan commented on #5957
Thanks @KevinJump  I'll close this one and #5959 will be worked on. I'm sorry for the trouble we caused @deMD ! 🙈

[2019-08-08 18:35] #5957 closed

[2019-08-08 19:11] skttl commented on #6070
This is what it looked like in v6

![billede](https://user-images.githubusercontent.com/3726467/62729912-36f09600-ba1f-11e9-9bd6-c228771dc157.png)

When you select something and right click, you get the option to add or remove a link.
![billede](https://user-images.githubusercontent.com/3726467/62729997-67d0cb00-ba1f-11e9-9c10-9215162cebfa.png)
Especially the removal of links is not obvious today,

[2019-08-08 19:14] kjac commented on #5959
OK so... we can't solve this with an opt-in/overload on the affected method(s) without causing a breaking change on `ILanguageRepository`.

Given how #5358 now allows us to localize the backoffice independently of the dictionary and the active languages, perhaps the best approach here is to simply revert #4519 and no longer (attempt to) support fallbacks to culture invariant translations in the di

[2019-08-08 19:58] kjac commented on #6075
@elliottjb7 looks like there's a temporary workaround for you: If you browse the node structure in the picker (open a folder and go back to where you came from), the upload button starts working.

I'm digging into the root cause now.

[2019-08-08 20:04] kjac commented on #6075
Upon further investigation... this only happens when Umbraco can remember your last opened media node (it's in localstorage). I found the culprit, PR incoming.

[2019-08-08 20:13] kjac commented on #6075
PR in #6081

[2019-08-08 20:25] kjac commented on #6075
Turns out this is an issue in V8 as well; PR for V8 in #6082

[2019-08-08 20:26] kjac commented on #6079
Pretty sure I fixed this for V8 at some point. Lemme have a quick look.

[2019-08-08 20:41] kjac commented on #6079
Yep, same fix... PR in #6083

[2019-08-08 21:23] kjac commented on #6058
Ah. Turns out we can safely remove the typo. "infinityMode" is not used in any directive specifications or similar. It is solely used for inner workings (and wrongly so, see PR description in #6084), so we're not breaking anything by removing it.

[2019-08-08 22:50] mzajkowski commented on #6079
Jeeezzz.. love it! And you're a machine @kjac 💥 Big #h5yr and I love to contribute and collaborate like that!

[2019-08-09 05:26] leekelleher commented on #6058
![buzz_lightyear_to_infinity_and_beyond](https://user-images.githubusercontent.com/209066/62756157-9de96b80-ba6e-11e9-8853-306f74bcf1a7.jpg)

[2019-08-09 06:40] SorenHjelmLarsen commented on #6060
The `if(control is JObject)` led to Installation Completed message and the solution I have is indeed now running on 8.1.1 @nul800sebastiaan

It did show a error during retrieving the Index values, which was caused by a null refference, it may have been the exact same data set that caused the original error. A simple check for `if(control.Value != null)` will avoid that.

[2019-08-09 06:52] bjarnef commented on #6070
I agree with this. As I remember the current TinyMCE in Umbraco based on v4.x.x however has the simple popover when clicking a table cell. The right-click context menu has a fewer additional actions, e.g. adjust cell and row properties.
https://www.tiny.cloud/docs-4x/demo/basic-example/

[2019-08-09 07:46] soreng commented on #6058
"infinie" was also in use until recently

https://github.com/umbraco/Umbraco-CMS/pull/6054/commits/4d91f6b3d7341df99c4bd32f3cee3bf7febd361e

[2019-08-09 09:00] simonech opened #6087 "When upgrading to 7.15, custom web api filters stop working"
With the upgrade to 7.15, many MVC and WebAPI dlls have been upgraded to the latest version.
One of them causes the reference of `System.Net.Http` to go from 4.0.0.0 to 4.2.0.0.

Umbraco keeps on working fine, but custom web api that use filters give this error

[code]
The error doesn't appear on a local machine, but only on the servers (which do not have 4.7.2 installed)

We solved the problem by

[2019-08-09 09:18] nul800sebastiaan commented on #6087
Yep, going from .NET 4.5 to 4.5.2 and upgrading all dependencies will be a bit painful for 7.15 upgraders. This is exactly what you need to do, most of the time, NuGet will do the right thing and update this redirect for you.. but magically, it sometimes does not. 🤦‍♂️

Weirdly, it works fine with a redirect to 4.0.0.0 for most people. I don't know why it wouldn't work for you though. DLL hell is

[2019-08-09 09:18] #6087 closed

[2019-08-09 09:22] tom-ingeniuus opened #6088 "Popup window contents are cleared when you are logged out due to an inactivity timeout"
If you have a popup dialog and you are logged out due to inactivity, the contents of the dialog have been removed and the height of the dialog reduces accordingly (screenshot supplied)

This happens in v8.1.1. in the latest Chrome on Windows. I've seen this on both the initial Tours welcome popup and also with a popup page.

Initially I thought thought this was the popup height changing, but when

[2019-08-09 09:51] nul800sebastiaan commented on #6088
Ha, that's weird. I clearly have never been logged out yet. I need more distractions! 😉

_I don't, I really, really don't_

[2019-08-09 10:07] nul800sebastiaan commented on #6070
As far as I can tell this is coming from the Context Menu plugin? Maybe you two can play with that for a bit and see if it can work right now? https://www.tiny.cloud/docs-4x/plugins/contextmenu/#contextmenu

[2019-08-09 10:46] nul800sebastiaan commented on #5959
Thanks @kjac - I know you slept on it and had some more clever ideas, look forward to seeing those!

[2019-08-09 13:04] PeteDuncanson commented on #5971
@nul800sebastiaan how would you have multiple options for the same field by using the lang file though? Might have to have a poke around in the format of it as its been a while, maybe it can do more than I thought it can. Great if so, one less thing to have to code up. If you have any pointers or examples feel free to share as you seem to know where to look :)

[2019-08-09 13:04] nul800sebastiaan commented on #5971
Not sure, but might be fine as a comma-delimited list that we know how to parse (or some other delimiter)?

[2019-08-09 13:05] nul800sebastiaan commented on #5971
It can handle CDATA blocks too, so if you want to try something funny: try and store it as a json? 😉

Okay, I'll stop now.

[2019-08-09 13:59] #6058 closed

[2019-08-09 14:02] nul800sebastiaan commented on #6058
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/6084

Cherry-picked for 8.1.3 in https://github.com/umbraco/Umbraco-CMS/commit/a0cd542ba30a1c93022cd8f55ff2c3917900f103

[2019-08-09 14:37] nul800sebastiaan commented on #6075
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/6082

[2019-08-09 14:37] #6075 closed

[2019-08-09 14:43] nul800sebastiaan commented on #6075
Cherry picked to 7.15.2: 79c4d7797cc67ddc70f195e62961addd7613ef2b
And 8.1.3: c87a22f3475bc14f51a42690dc91afa0fabcb63b

[2019-08-09 14:48] nul800sebastiaan commented on #6079
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/6083

Cherry picked for 7.15.2 9865596dcce3735ad2573d9fc596ff16ed4f9a90

[2019-08-09 14:48] #6079 closed

[2019-08-09 14:50] nul800sebastiaan commented on #6048
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/6041

[2019-08-09 14:56] #6006 closed

[2019-08-09 14:56] nul800sebastiaan commented on #6006
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/6008 and https://github.com/umbraco/Umbraco-CMS/pull/6012

[2019-08-09 14:58] #6022 closed

[2019-08-09 15:00] nul800sebastiaan commented on #6022
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/6026

Cherry picked for 8.1.3 - c87a22f3475bc14f51a42690dc91afa0fabcb63b

[2019-08-09 15:01] #6048 closed

[2019-08-09 15:11] kw-jeremic commented on #6022
I manually applied the fix :) All good from our side, it works now as charm.
General question, fix should be included in version 8.1.3, right?

[2019-08-09 15:23] nul800sebastiaan commented on #6022
Great to hear!

That's what `release/8.1.3` means yeah! ;-)

[2019-08-09 16:09] LennardF1989 opened #6089 "JsDiff.diffWords in Rollback freezes browser"
After a deploy we somehow accidentally messed up our homepage. When trying to rollback to the last working version, the browser kept freezing up.

After diving into the code, I noticed that the point where the code started to hang was when it tried to call `JsDiff.diffWords(property.value, oldProperty.value)`, obviously used to display the changes between the two version.

However, we have one ver

[2019-08-09 21:02] bjarnef commented on #6089
Not sure if specific `JsDiff.diffWords` has issues with handling large data size, but since rollback compare each part which is different it might repeat a lot of entries and I know if using `ng-repeat` on 1000 element, maybe also fewer, it has a many DOM elements and the browser freeze or become slow. Adding `track by` can improve the permance and use one-way binding ud possible, but not sure if

[2019-08-10 09:44] kjac commented on #5959
@nul800sebastiaan you got it 😆 new PR in #6090 reverts the changes from #4519 and adds the same feature by other means.

[2019-08-10 16:07] RaminMT commented on #5925
We also has this problem with same amount of data with Umbraco 8.1
We moved to Umbraco 8.1 as a replace to U8 caching problems but this time we hitted by startup time!

[2019-08-10 21:32] LennardF1989 commented on #6089
I'm fairly certain it's the `JsDiff.diffWords` as I set a breakpoint right before it executed the large property-value and performed it manually. It will immediately lock up the browser-tab and inspector.

[2019-08-11 11:21] kjac commented on #6064
Nice idea 😄 PR in #6091

[2019-08-11 17:27] bjarnef commented on #6063
@nul800sebastiaan I will have a look at this and submit a PR. It would also be nice if we could have this loader in core, so we could re-use this like `umb-load-indicator` and e.g. use this in the tree loader. https://github.com/umbraco/Umbraco-CMS/pull/4987
At the moment this is a div inside the tree, but much if the styling for `umb-loader` is redundant several places in backoffice UI.

[2019-08-11 18:15] bjarnef commented on #6063
PR submitted https://github.com/umbraco/Umbraco-CMS/pull/6094

[2019-08-11 18:40] mjbarlow commented on #4934
Is this two separate issues? mouse up outside the right hand side pane vs an issue with swipe left? Should this ticket: https://github.com/umbraco/Umbraco-CMS/issues/5132 be reopened as it seems to refer to the mouse-up issue, and this ticket refers to the swipe left issue?

[2019-08-11 18:42] mjbarlow commented on #5132
Can this be reopened, as far as I can see they are separate issues.

[2019-08-11 18:43] bjarnef opened #6095 "Rename component for flatpickr"
At the moment Umbraco v8 has a directive/component named `umbFlatpickr` for a daterange picker which is using the Flatpickr library: https://github.com/umbraco/Umbraco-CMS/blob/v8/dev/src/Umbraco.Web.UI.Client/src/common/directives/components/umbflatpickr.directive.js

The name is very much bound to the name of the library and a bit inconsistent with naming of other components/directives in core.

[2019-08-12 00:04] Shazwazza commented on #5925
We are looking to start investigate this in the next week or two, i'll post updates/findings when i have them.

[2019-08-12 06:14] nul800sebastiaan commented on #6089
We are aware that the stored data for grid element was an unfortunate choice and unfortunately can't be changed since we need to maintain backwards compatibility. With all of the experience we have had with Grid over the years, we've started the process of building a better block editor https://github.com/umbraco/rfcs/pull/12.

As for the performance issue, that's pretty unfortunate! What do you s

[2019-08-12 06:39] nul800sebastiaan commented on #6095
Sure thing, if we can do it in a backwards-compatible way then that's great!

[2019-08-12 07:03] Shazwazza commented on #6018
Hi @marcemarc OOTB when we shipped v8, webforms and friends such as httphandlers are not DI compatible. However, with the .net framework version we are using: net472, you can do this: https://devblogs.microsoft.com/aspnet/use-dependency-injection-in-webforms-application/

But, this has not been tested at all and I don't even know if LightInject has a provider (probably not). It would seem to wire

[2019-08-12 08:51] suedeapple commented on #5504
Just wondered if this was disabled in order for the sort order to be retained on "multilingual sites".  Fingers crossed this will just "work" :-)

[2019-08-12 08:53] soreng opened #6097 "Allow lang-files placed relative to package.manifest"
A brief description of your feature request goes here.

Umbraco 8 allows for manifest files to be placed "where ever" under app_plugins like App_Plugins/Plugin/Feature1/f1.manifest and App_Plugins/Plugin/Feature2/f2.manifest and so forth.

You could then build a plugin that can have multiple features.

Lang-files on the other hand can only live in one place -- App_Plugins/Plugin/Lang/*.xml

From o

[2019-08-12 09:11] clausjensen commented on #6057
We've talked a bit about this and decided that it needs to be split in two different issues.

This first issue will be taking care of the actual bug allowing you to edit parent permissions by editing permissions of one of the affected children.

This should not be possible and we will need to simply disable the option for editing inherited permissions, with a message telling the editor to navigate

[2019-08-12 09:15] nul800sebastiaan commented on #6057
As for the current problem, I think it would be good to fix the bug and not allow updates to public access from the descendant nodes, that is too confusing.

If you'd like to help out fixing this then that would be much appreciated!

As Claus mentioned, the feature request to make more granular permissions should be discussed in a separate issue so we can work out the details first before work can

[2019-08-12 09:20] clausjensen opened #6098 "Missing dirty check in document type editor"
When using the doctype editor, there seems to be no dirty check happening when trying to navigate away.

Reproduction
------------

### Specifics

Tested in latest Umbraco 8.

### Steps to reproduce

- Navigate to a document type.
- Add or remove a property.
- Navigate to a different document type.

### Expected result

I would expect to get the "you have unsaved changes" warning.

### Actual resu

[2019-08-12 09:45] nul800sebastiaan commented on #5504
@suedeapple Can you elaborate please? I would assume that if the sort changes on a property that is marked as multilingual then it shouldn't change on all of the languages, just the language that the sort has been done on. Is that what you mean?

[2019-08-12 09:50] nul800sebastiaan commented on #6097
You can update files in `~/Config/Lang` - isn't that what you need?

So the hierarchy is:

- `~/Umbraco/config/Lang`
- `~/Config/Lang` (overrules `~/Umbraco/config/Lang`)
- `~/App_Plugins/{myPlugin}/Lang` (overrules `~/Umbraco/config/Lang` and  `~/Config/Lang`)

I do understand the requirement you have here, but it seems like a bit of an edge case and technically you can already handle this in `~/

[2019-08-12 10:26] tomhicklingnc opened #6099 "Member password reset checkbox doesn't hide "new" and "confirm" password fields."
On an Umbraco 8 site, editing the password of a member presents you with a checkbox entitled "Reset password" and 2 password boxes. On previous versions of umbraco, ticking the "Reset password" checkbox would hide the two password boxes, and upon saving the changes would show you the new random password that was generated for the member. In 8, the checkbox doesn't seem to do anything, and saving t

[2019-08-12 11:00] deMD opened #6100 "v8 - Multinode Treepicker does not show language specific url"
When using the multinode treepicker in a multi language setting, the url shown for selected items is always the default language url instead of the url for the selected language as shown below:
![image](https://user-images.githubusercontent.com/22070292/62860602-ee77f780-bd00-11e9-9e9c-67b41038d16c.png)
![image](https://user-images.githubusercontent.com/22070292/62860620-fb94e680-bd00-11e9-872d-88

[2019-08-12 11:22] suedeapple commented on #5504
Depends if you have "vary by culture" turned on for that property.  I just can't at the moment get into my head how this is going to look/feel visually, and also from a UX standpoint.

Just seems "Odd" how the existing sort has been mysteriously been turned off at some point.  Maybe by reason, to ensure a full postback/render occurs to reflect any new sort orders across node variants (cultures)

[2019-08-12 11:27] NicolaSA commented on #4713
Magic!. Thanks a mill, super appreciated

[2019-08-12 11:43] soreng commented on #6097
@nul800sebastiaan it's all about only shipping the needed files :)

I can easily create new lang/da-dk.xml files, but I can't easily edit the files in the places you list -- other than the "only root-folders" under App_Plugins

I just don't think it makes sense to have the manifest scattered allover the places, if you can't have all the required files in the same place as the manifest. Just seems

[2019-08-12 11:55] Appstract-fjellvang opened #6101 "8.1.1 Element type Invariant By Culture Property will have messed up alias."
As of umbraco 8.1.1 if you have an Document type, maked as element type, being variant by culture, any of its invariant properties will have a messed up alias.

Reproduction
------------

1. Create a document type, mark it as varying by culture.
2. Create one property, call it variant, mark it as varying by culture.
3. Create another property, call it invariant, mark it it as not varying by cultur

[2019-08-12 12:04] stevemegson commented on #5504
I'm almost certain that this was an unintended side effect of another change, rather than sorting being deliberately turned off.

Sorting items within the picker is really no different to removing an item and re-adding it again at the end of the list, so it shouldn't cause any problems that you wouldn't also encounter by removing and adding items.

[2019-08-12 13:10] stevemegson commented on #6057
What's the expected behaviour after the initial bug fix?

Currently, setting permissions on a parent after a child leaves the child and its descendants with their original permissions, which seems reasonable.

When opening 'Public access' on a child after setting permissions on the parent, I think there are three easy options before considering a possible feature request for a more complex change:

[2019-08-12 14:39] LennardF1989 commented on #6089
@nul800sebastiaan I knew about the other one and am not blaming anyone for it :) Just added it for some context as to why `JsDiff.diffWords` hung up.

I see 3 possible solutions:
- Skip diffing big property values
- Truncate big property values before diffing
- Cap the amount of diffs that can be detected in `JsDiff.diffWords`

Skipping is relatively easy, but just like truncating, you will need t

[2019-08-12 14:54] YvoLinssen commented on #5817
Problem still occurs....

[2019-08-12 15:04] kjac commented on #5817
@YvoLinssen yep, the PR hasn't been merged in yet.

[2019-08-12 15:28] amitch17 opened #6102 "V8: Cannot edit dates in custom (en-GB) formats with date picker (flatpickr)"
If a data type is set to use the date picker (Flatpickr) with a custom date format, it is not handled correctly when editing content.

Dates may be parsed as invalid and blanked, or dates and months get switched around.

### Specifics

This occurs when editing content in the back office.
Umbraco 8.1.1 (cloud)
Observed in Chrome.

### Steps to reproduce

* Create a data type using the Date Picker p

[2019-08-12 15:48] Harrysoon opened #6103 "v8: Custom MVC route breaks PluginController routing in the backoffice"
Hi,

I've got a basic route setup in my route table that's setup in an IComponent to get picked up on application startup.

`RouteTable.Routes.MapRoute(
                "CustomRoute",
                "custom/{controller}/{action}",
                defaults: new
                {
                    controller = "{controller}",
                    action = "{action}"
                }
            )

[2019-08-12 15:52] elliottjb7 opened #6104 "Macro Content Picker start node configuration"
When setting up macro's it'd be fantastic if macro content pickers could be configured to have a start node. It's cumbersome to navigate to a particular node from the beginning of the content tree. I'm just beginning to add new Authors to our instance of Umbraco and this would be a really handy feature!

[2019-08-12 15:55] elliottjb7 opened #6105 "Native Macro RTE"
I have just upgraded from 7.4.2 to 7.15.1 and notice that there is still no native Macro RTE property editor. I have created my own for our purposes but feel for those who are unable to do that it must be sorely missed as it's an essential tool when setting up how content is created.

[2019-08-12 16:19] stevemegson commented on #6103
In v8, your routes are registered earlier than they would have been when using `ApplicationStarted` in v7. As a result, your routes can take priority over the backoffice's routes when they wouldn't have before.

That'll probably change, but until then you can work around it with a composer like this:

[code]

The `ComposeAfter` attribute ensures that your component runs after the backoffice has re

[2019-08-12 16:26] JamesSherborne opened #6106 "Media Picker: Custom Media Types Being Treated As Folders"
Hi,

I think I have a new issue and was hoping someone could help or advise as to a workaround.

Background:
- I have recently upgraded a solution from 7.12.4 to 7.15.1.
- I have a number of custom Media types, all using the Image Cropper for the file upload.
- Images are stored in Azure Blob Storage.
- The images show on the front end.
- The images show in the media section and I can edit the cro

[2019-08-12 17:22] YvoLinssen opened #6107 "v8.1.1 - Variation "xx, <null>" is not supported by the property type"
We are currently facing an issue during the synchronization of content between environments. It seems to have something to do with content inheritance. It only occurs in sites that contain multiple languages and that have the allowance of varying per culture for one or more Document Types.

Reproduction
------------

### Specifics

**Versions(s):** Umbraco 7.X.X, 8.0.0, 8.1.0, 8.1.1.
**Deploy:** 3

[2019-08-12 17:41] kjac commented on #6101
Hi @Appstract-fjellvang, thanks for reporting 😄

I do believe this is a duplicate of #5817 - specifically https://github.com/umbraco/Umbraco-CMS/issues/5817#issuecomment-511808227 - which has a PR in #5952

[2019-08-12 18:21] nul800sebastiaan commented on #5504
Yeah it was a bug introduced in 8.1.0, worked fine in 8.0.x

[2019-08-12 18:25] nul800sebastiaan commented on #6102
I think this is a duplicate of https://github.com/umbraco/Umbraco-CMS/pull/6001? Can you confirm please @amitch17?

[2019-08-12 19:11] kjac commented on #6098
I could've sworn I fixed this once. Maybe that was in V7... or maybe my memory is playing tricks on me 😆 anyway.... PR in #6108

[2019-08-12 19:59] kjac commented on #6100
Oh great catch @deMD 😄 PR in #6109

[2019-08-13 05:15] nathanwoulfe commented on #6105
Is it essential? Personally I avoid macros (DTGE + grid + NC instead), so not entirely sure of the use case?  Example would be awesome.

[2019-08-13 05:29] Shazwazza commented on #6103
This is a duplicate of https://github.com/umbraco/Umbraco-CMS/issues/6045

[2019-08-13 05:29] #6103 closed

[2019-08-13 06:08] nul800sebastiaan commented on #5669
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/6031

[2019-08-13 06:15] Shazwazza commented on #5804
@marcemarc I tried your dacpac file but i get this error when restoring it:

[code]

Have you tried restoring this locally on your machine?

[2019-08-13 06:25] shaishavkarnani opened #6111 "Umbraco Multi Url Picker - Recursive not working in RTE"
We tried Umbraco Multi Url Picker - Recursive option in a macro and tried to access in RTE. But it is not able to pickup the parent value if current node is empty.

So, we tried with this work-around as recursive is not working. It always show HasValue as True even if node has empty Multi Url Picker.
[code]

[2019-08-13 06:31] kjac commented on #6057
I agree with @stevemegson here. Since the you can "reverse" this issue by applying access restrictions to children first and then parents, we need to handle the case where children have specific access restrictions regardless.

Perhaps all that's needed is something as simple as a message like _"This item currently inherits public access settings from [Parent]. If you apply new settings you will b

[2019-08-13 07:14] amitch17 commented on #6102
Yes, this is a duplicate of that issue, well spotted mr @nul800sebastiaan

I did search for flatpickr but didn't find this report. Sorry for the noise.

Haven't tested the fix myself but it looks to be doing the right things - can the PR by @stevemegson
 get some attention please?

[2019-08-13 07:14] #6102 closed

[2019-08-13 07:22] Appstract-fjellvang commented on #6101
@kjac Yeah that seems right. Thank you!

[2019-08-13 07:22] #6101 closed

[2019-08-13 07:23] nul800sebastiaan commented on #6057
Well, egg on my face... It seems like this used to work as following in v7, so let's restore that functionality in v8.

- When you set Public Access for a node, all descendants inherit those Public Access settings
- When you then set up Public Access setting for a child or decendant, that specific child will have it's own Public Access settings and all descendants inherit those Public Access setti

[2019-08-13 08:02] kjac commented on #6057
I'll have a look later unless someone beats me to it 😛 I did the V8-ification of public access, so I'm sure it's my fault 🙈

[2019-08-13 08:25] elliottjb7 commented on #6105
It's absolutely essential for us which is why I created my own. Our website is built using components. Each macro is then inserted into the grid as either a content model or a picker to pick a prewritten component (ie something that's used in multiple locations) - using the macros as content models on a page by page basis allowing us to restrict the content to our design rules. It also makes creat

[2019-08-13 11:26] PeteDuncanson commented on #5215
Found some reading on avoiding the use of the "any" type which was a good read, dropping it here for reference.

https://itnext.io/avoiding-any-in-typescript-advanced-types-and-their-usage-691b02ac345a

This one was a good read too about the 5 rules to follow:

https://codewithstyle.info/5-commandments-for-TypeScript-programmers/

Both go into some depth and if you're new to TypeScript they might

[2019-08-13 11:39] stevemegson commented on #6111
You've identified the underlying bug here - `HasValue` is always true for a Multi Url Picker. V7's test for HasValue is equivalent to `String.IsNullOrWhitespace`, but a Multi Url Picker stores `[]` for an empty list. V8 solves this problem by allowing an `IPropertyValueConverter` to provide its own implementation of `IsValue`.

The simplest fix would be to always treat `[]` as not-a-value. That wo

[2019-08-13 12:10] nul800sebastiaan commented on #6099
Hey there @tomhicklingnc - thanks, I can reproduce in 8.1.2!

I hear that this might be a merge issue (merging changes from v7 to v8). I'm sorry that this one slipped through, we'll work on it soon!

[2019-08-13 12:21] bielu opened #6112 "V7 User groups display all assigned users"
In Umbraco back office groups, we are displaying all users and for websites with a large number of content editors it takes ages to load:

Here is an example from a user group where we have around 700 users:
![image](https://user-images.githubusercontent.com/2244074/62941004-d79ed700-bdcc-11e9-8521-455f82904bb2.png)

The 30s are a still optimistic situation I had already few times about a few minu

[2019-08-13 12:40] bielu commented on #6065
I prepare proposed by @twincliff  changes and make PR for both V8 and V7 as that bug happens in both :)

[2019-08-13 12:55] nul800sebastiaan commented on #6106
Hmm, that is strange, I just gave this a spin on 7.15.1 and it works fine. However, I am not using the any Azure Blob Storage plugins, could it be that this is the issue, are you using version 1.0.3 of this one? https://our.umbraco.com/packages/collaboration/umbracofilesystemprovidersazure/

[2019-08-13 13:04] Migaroez opened #6116 "List view links do not respect the chosen culture variant"
After changing the language in the top left and navigating to a node with a listview, the children are shown in the chosen language. But when clicking on a child node, the node is opened in the default language

Umbraco version 8.1.1

Reproduction
------------
### Bug summary
![ChildVariants](https://user-images.githubusercontent.com/6025797/62943858-af6aa480-bddb-11e9-87a5-5fbfa944b218.gif)

###

[2019-08-13 13:15] JamesSherborne commented on #6106
Hi @nul800sebastiaan. Yes we are using version 1.0.3 of UmbracoFileSystemProviders.Azure Its strange that only the Media Picker seems to have trouble. Displaying images on the front end and the in the Media section works fine. It looks like the media picker thinks the images are folders.

For now, we are having to roll back to 7.12.4 but I am conscious of the security vulnerability that 7.15.1 was

[2019-08-13 13:28] nul800sebastiaan commented on #6111
Yep, Steve hits the nail on the head, unfortunately when we implemented HasValue for this, we didn't consider the value might be an empty json array. However, changing this now to work better is a breaking change.

I believe this workaround is working for you? It is a totally legitimate way to do querying of the multi URL picker and we'd encourage you to keep using it! 👍

I'll close this for now a

[2019-08-13 13:28] #6111 closed

[2019-08-13 13:31] nul800sebastiaan commented on #6106
Make sure to use the workaround for the security issue for now! I'll see what I can find out about this problem.

[2019-08-13 13:44] Zweben commented on #6018
@Shazwazza - I have been trying to implement UmbracoHttpHandler normally, without using DI, and with no ctor specified. Even with a bare-bones implementation, I get a NullReferenceException before any breakpoints inside the implementation are hit. Example code below:

[code]

As soon as I switch it to implement IHttpHandler instead, as shown below, it starts working normally:

[code]

Here is the

[2019-08-13 13:50] NikRimington opened #6117 "Content Picker - Start Node - If content doesn't exist it still holds the setting (seen in Umbraco Cloud)"
**Apologies for not having reproduction steps**

### The issue:
If a content picker has a start node selected from the content tree, and then that content node is deleted the picker still holds that setting. However, going into the data type doesn't show the start node field as populated it shows it as empty. Saving the data type in this state doesn't clear the start node.

### How was this witnes

[2019-08-13 13:58] emmaburstow commented on #6117
Hi Nik,

Thanks for reporting this issue. I can confirm that this is a problem :)

Emma

[2019-08-13 14:00] Migaroez commented on #5532
I think I know what @ragivi is talking about. And I will try explain this with some gifs.

No Variance
![NC No variance](https://user-images.githubusercontent.com/6025797/62947634-29525c00-bde3-11e9-83d9-ced6ddf562f7.gif)

Activating full variance => Nested content items are lost, need to reenter everything
![NC Full variance](https://user-images.githubusercontent.com/6025797/62947681-3cfdc280-bde

[2019-08-13 14:13] stevemegson commented on #6106
Can you check whether the `mediaPath` column of the `cmsMedia` table is populated? I suspect that the Azure plugin stops that column being populated, leading to something like #5847. That would explain the missing thumbnails, though I don't think it should stop you selecting the images.

[2019-08-13 14:42] JamesSherborne commented on #6106
@stevemegson we have around 23,000 images and 17,000 do not have a media path. Could this be the cause?

[2019-08-13 14:45] nul800sebastiaan commented on #6106
I'm afraid I don't know how this is caused? Could it be an older version of the Azure FileSystem Provider that didn't set the media path correctly? I have done a full end-to-end test with a custom media type in v7.12.4, using the Azure FileSystem Provider, then upgrading to 7.15.1 and uploading a new image there. All works great.

I think it's best to continue the conversation on #5847 then and se

[2019-08-13 14:45] #6106 closed

[2019-08-13 14:50] nul800sebastiaan commented on #5847
To explain why this might have worked in 7.14: in 7.15 we updated a lot of the underlying code for retrieving media items because in 7.14 it was giving back ALL of the properties of each media item in the media picker. That was way too much info and with the introduction of the feature from PR https://github.com/umbraco/Umbraco-CMS/pull/2441 we did not want to expose the full set of data to all ed

[2019-08-13 14:53] nul800sebastiaan commented on #5532
Thanks all! I understand the issue now and I'll close this as a duplicate of https://github.com/umbraco/Umbraco-CMS/issues/5817 - we'll fix it soon! 👍

[2019-08-13 14:53] #5532 closed

[2019-08-13 15:01] nul800sebastiaan commented on #5909
I think this is indeed a duplicate of https://github.com/umbraco/Umbraco-CMS/issues/5817 - let's continue the conversation there, the fix provided by @kjac seems good so we'll test and review that one which should fix this as well. @miackers if you could try to apply the change manually on your current 8.1 install to see if you can test it then that would be awesome!

In `~/Umbraco/Js/umbraco.cont

[2019-08-13 15:01] #5909 closed

[2019-08-13 15:03] nul800sebastiaan commented on #5817
We're working on this soon!

In the mean time, if anyone wants to help test, you could try to apply the change manually on your current 8.1 install to see if you can test it then that would be awesome!

In `~/Umbraco/Js/umbraco.controllers.js` around line 20042 replace this block:

                for (var v = 0; v < node.variants.length; v++) {
                    var variant = node.variants[v];

[2019-08-13 15:21] nul800sebastiaan commented on #6112
Can you elaborate on this? As far as I know there is paging on the Users overview, does that mean that it just loads all users anyway, even though it only needs to display a few of them on a page?

[2019-08-13 15:26] bielu commented on #6112
@nul800sebastiaan yeah it is using paging everywhere excluding one place:

![Untitled](https://user-images.githubusercontent.com/2244074/62954250-f4480880-bde6-11e9-810a-4aded09dd863.jpg)

the problem is about loading all of them :)

[2019-08-13 15:33] nul800sebastiaan commented on #6116
I noticed @kjac fixed something similar for https://github.com/umbraco/Umbraco-CMS/issues/6100 so hopefully it can be fixed in the same way here.

[2019-08-13 15:45] stevemegson commented on #5847
@JamesSherborne, could you post your `FileSystemProviders.config`, redacting the connectionString value? It might be that a fresh install with the default config works OK, but you've inherited config from an older version of the package.

Also, can you tell whether older media items have their mediaPath populated and newer ones are broken, or vice versa? (I'm going to optimistically assume that it

[2019-08-13 16:15] JamesSherborne commented on #5847
@stevemegson attached is the FileSystemProviders.config

With regards to the mediaPath, I have just added a new image to test. Steps:

- created a new media document using one of our custom Media Types.
- used the Image Crop to select the image file
- gave the node a name and saved.

The cmsMedia table  shows that this item does not have a mediaPath. It is not selectable in the Media Picker.

Conv

[2019-08-13 16:47] stevemegson commented on #6112
I'd guess that the slow request after startup is populating the cache of avatar URLs and making hundreds of requests to Gravatar.

After that, it may be that just downloading the response is the bottleneck and there's nothing useful we can do to speed things up. Even if we can speed it up, how useful is a list of 726 users on that page? We have access to the user count before populating the Users

[2019-08-13 16:49] bielu commented on #6112
Sure I will check that tomorrow

[2019-08-13 18:26] #5959 closed

[2019-08-13 18:29] nul800sebastiaan commented on #5959
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/6090

Cherry picked to 8.1.3 in 87845ee907c65a5ba09c62803b98c34649fde6ba

[2019-08-13 19:22] kjac commented on #6057
PR in #6118

[2019-08-13 19:56] #6064 closed

[2019-08-13 19:56] kjac commented on #6116
@Migaroez I can't reproduce this (and the fix for #6100 is not yet merged in so that can't be it)... can you shed anymore light as to how you've managed this?

Here's how it looks when I test:

![list-view-child-link-language](https://user-images.githubusercontent.com/7405322/62972792-21abab00-be15-11e9-9628-d1725a58c87f.gif)

[2019-08-13 19:56] nul800sebastiaan commented on #6064
Fixed in: https://github.com/umbraco/Umbraco-CMS/pull/6091

[2019-08-13 20:04] kjac commented on #6095
Shoot sorry, accidentally mentioned this issue on #6118 - it has no relevance to #6118 whatsoever.

[2019-08-13 20:07] #6055 closed

[2019-08-13 20:07] nul800sebastiaan commented on #6055
Fiuxed in: https://github.com/umbraco/Umbraco-CMS/pull/6059

[2019-08-13 20:21] nul800sebastiaan commented on #6065
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/6115
Cherry picked for 7.15.2 12ad9dd36b802e5785672a9a8eb35576f549a723
Merged up to v8 ba040674cb29c07b4900f3564dd6b043c38229c8
Cherry picked for 8.1.3 6123c0d4752f97d2c1ee912b6fad6919f6b11ca7

[2019-08-13 20:21] #6065 closed

[2019-08-13 20:40] #6047 closed

[2019-08-13 20:41] nul800sebastiaan commented on #6047
Fixed in v7 - https://github.com/umbraco/Umbraco-CMS/pull/6050\
Cherry picked for 7.15.2 f829ac4e6cfc9c20af70f0ce90e6c7a44e0111e8

Fixed in v8 - https://github.com/umbraco/Umbraco-CMS/pull/6049
Cherry picked for 8.1.3 ece7178ef544cd5f359d9f9c695c675616776dc3

[2019-08-13 20:45] #6063 closed

[2019-08-13 20:47] nul800sebastiaan commented on #6063
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/6094
Cherry picked to 8.1.3 d5d213cd44a264606e3139bc5bc3df7af92cb429

[2019-08-13 20:55] nul800sebastiaan commented on #5958
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/5912
Cherry picked for 8.1.3 3b60815e5304d39cc8fa5dc686fcd0656b68b5ca

[2019-08-13 20:55] #5958 closed

[2019-08-13 20:59] #5939 closed

[2019-08-13 21:00] kjac commented on #6099
PR in #6119

[2019-08-13 21:11] nul800sebastiaan commented on #5932
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/5934
Cherry picked for 7.15.2 ea591c87a257d0b80c18d5d20336baaa79106f1f

[2019-08-13 21:11] #5932 closed

[2019-08-13 21:17] nul800sebastiaan commented on #5931
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/5933
Cherry picked in 7.15.2 802e6d7979b521b2f6fc9ed78090fc1f348b4e31

[2019-08-13 21:17] #5931 closed

[2019-08-13 23:13] Myster commented on #5771
Note: This bug also occurs when searching in the sidebar, not just in the MNTP

[2019-08-13 23:43] Myster commented on #5771
The workaround suggested by @kjac works for me.
I only needed to change the icon for the 'File' media Type, and then I needed to rebuild the internal index in the examine management dashboard.

[2019-08-13 23:59] Myster commented on #5771
Still an issue in 7.15.1

[2019-08-14 02:29] Shazwazza commented on #6003
Hi all - There is now a development issue with the inlining of these templates. Now when we are developing and we change a view with the file watch enabled, we don't get the updated view.

I've fixed this in the gulp build here 9d77114d5038b6403f78d67202f5f8f60c383afa

* don't inline the templates if not in `isProd` build
* removes `fastdev`, only Niels L used this but we don't need it, the normal

[2019-08-14 02:40] Shazwazza commented on #6099
I'm fixing this up but it turns out that member saving has other issues and the changed values are not re-bound to the UI after saving so am fixing this too.

[2019-08-14 02:50] Shazwazza commented on #6099
New PR: https://github.com/umbraco/Umbraco-CMS/pull/6120

[2019-08-14 03:15] Shazwazza commented on #5804
the v7 -> v8 migration does try to drop all keys/indexes but this migration specifically queries the existing database for it's aliases, we are not using hard coded named values to do this.

For me to proceed further I need:

* ~~A full error message and stack trace relating to dropping these indexes (since none is listed on this issue)~~
* A dacpac file, that is tested for restoring that exhibits

[2019-08-14 03:19] robertjf commented on #5804
@shazwazza the dacpac posted by @rgdagostino is from the same database I was trying to update - he should be able to provide a clean one if necessary

[2019-08-14 03:34] Shazwazza commented on #5804
@robertjf ah thanks, that one did restore, so will test with this.

[2019-08-14 03:55] nathanwoulfe commented on #6105
@elliottjb7, Interesting - I'd never have considered using macros that extensively. Always find DTGE to give enough flexibility without allowing content editors to create anything too horrible.

Like you said, cats and their skin...

[2019-08-14 04:53] Shazwazza commented on #5804
The PR is here https://github.com/umbraco/Umbraco-CMS/pull/6121

It's slightly hard to to test this because if you are using a dacpac you have to manually populate all of the basic data required to run which is a fair few tables. I'll see if i can post a nightly build to here to see if @robertjf ,  @rgdagostino or anyone else can test, stay tuned.

[2019-08-14 04:57] robertjf commented on #5804
@Shazwazza I'm sure we can supply you with a bacpac of the file if necessary (or at least a .bak) :)

[2019-08-14 06:17] Shazwazza commented on #5804
@robertjf I've attached the zip of binaries for a nightly release called 8.1.2-alpha, you should just drop these all into your bin and then see if it works. Please let me know the outcome ... also for anyone else that wants to test so we can get this closed asap. Thanks!

[UmbracoCms.AllBinaries.8.1.2-alpha.4505.zip](https://github.com/umbraco/Umbraco-CMS/files/3500047/UmbracoCms.AllBinaries.8.1.2

[2019-08-14 08:06] stevemegson commented on #5847
It'll be the property aliases causing the problem. `mediaPath` is being populated assuming that it comes from the `umbracoFile` property and starts with `/media/`. This causes further problems if your media picker has "Disable folder select" enabled. The media picker's test for `isFolder` is effectively "has no mediaPath", making any affected media items behave as folders.

As noted in comments in

[2019-08-14 08:34] bielu commented on #6112
@stevemegson
Hmm interesing results
`SELECT *
FROM [umbracoUser]
WHERE (umbracoUser.id IN (SELECT umbracoUser.id
FROM [umbracoUser]
INNER JOIN [umbracoUser2UserGroup]
ON [umbracoUser].[id] = [umbracoUser2UserGroup].[userId]
WHERE (umbracoUser2UserGroup.userGroupId = 3)))
`
![image](https://user-images.githubusercontent.com/2244074/63005932-636c3e00-be75-11e9-9115-bee0f3515d0c.png)

`SELECT umbraco

[2019-08-14 08:52] soreng commented on #6097
I just changed the title to clarify a bit

If the package.manifest can live in multiple places, then the lang folder should be possible to live in the same folder as the package.manifest

so a plugin can live in a structure like
/App_Plugins/Newsletters/Templates/package.manifest
/App_Plugins/Newsletters/Templates/lang/da-DK.xml

/App_Plugins/Newsletters/Composer/package.manifest
/App_Plugins/News

[2019-08-14 09:01] msoelvsteen commented on #6097
I agree, that it should be possible to have the lang-folder located next to the package.manifest file.

This would allow us to ship our default/"out-of-the-box" components inside a folder, so they dont get mixed up with customer-specific plugins.

[2019-08-14 09:20] prjseal commented on #6097
I agree, it makes sense to do this.

[2019-08-14 09:45] TobiasJensen commented on #6116
I have reproduced similar issue.

1. Created new project and installed a clean 8.1.2 Umbraco sample site.
2. Added Language "Swedish" keeping en-us as default language.
3. Making document types "Home" and "Products" to allow varying by culture
4. Reload Content section.
5. Change language in upper left to swedish
6. Click "Home" and main content area/mid is shown in default language

When I play a

[2019-08-14 09:56] Allemannen opened #6123 "Custom index fields disappearing"
Please, can somebody help!

We're running Umbraco v8.1.1 deployed to an Azure Web App.

We're adding custom fields to the ExternalIndex by hooking up to the TransformingIndexValues event (code is shown further down).

After the site has been running for a while and server goes to sleep or some kind of swapping occurs (can't determine exactly what triggers it and don't know exactly how Azure works)

[2019-08-14 11:32] nul800sebastiaan commented on #6123
Hi @Allemannen - that sounds pretty annoying! I'll check with the team if there's any obvious configurations that are missing or wrong. In the mean time, you write:

Do you have logs from when some or all of the fields went missing?
What does it mean they are missing, are they just not in the index (and how do you check this)?
Is there a common theme to the missing fields, for example do they all

[2019-08-14 11:47] rgdagostino commented on #5804
Thank you for the effort @Shazwazza  .

I tried to use the whole bin folder but was not running because we might have different versions of some nuget packages. I tried with just all the "umbraco.*" files and goes one step ahead, but I get this error eventually:

![image](https://user-images.githubusercontent.com/8196233/63018446-356e1480-bedc-11e9-8708-96fb710e5c18.png).

[2019-08-14 11:49] ralphguiao opened #6124 "Umbraco section tree add loader when the page is not fully loaded"
Clients said it's a big annoyance when this happens
![image](https://user-images.githubusercontent.com/54104626/63018869-6cd4c500-becc-11e9-9a1d-cd05dab07feb.png)

the JS is not yet loaded but they're going to the media section the content section list is still there

can we put a loader that the content tree is disabled when the whole page is not loaded

umbraco version 7.15.1

[2019-08-14 11:56] nul800sebastiaan commented on #6124
Hey @ralphguiao - thanks for the feature request. I understand that this can be annoying for sure.
Please note that we're not building new features for v7 any more, we're only fixing bugs. See "What does this mean when you’re still running version 7?" in this post: https://umbraco.com/blog/umbraco-715-release/

That said, if you would like to work on this *and can find a simple way* (ie: it should

[2019-08-14 11:57] stevemegson commented on #5804
@rgdagostino That looks like the fix has worked and you're now running into a different issue at a later step of the upgrade. Specifically, you've probably got rows in `cmsPropertyData` with `versionId` values that don't exist in `cmsContentVersion`.

[2019-08-14 12:28] nul800sebastiaan commented on #6097
Alright thanks for the feedback

Why not? 😊

I'll make sure to discuss this in our regular meetings at HQ soon though, I'm probably just overthinking it and we should probably just do it.

[2019-08-14 12:46] stevemegson commented on #6112
At least we know it's not SQL Server coming up with some terrible query plan that explodes with too many users.

I threw 1000 new users into my test database to see what else might be taking time. Once the avatar cache is populated, my call to `GetUserGroup` only takes around 300ms (albeit with IIS and SQL running loocally, so there's no network to worry about).

Interestingly, your response with

[2019-08-14 12:48] rgdagostino commented on #5804
Confirming that the main issue seems resolved. Thank you for putting me in the right direction @stevemegson , i ran the script below and I managed to go one more step forward

(14 rows affected)

Unfortunately it did not finish the update because of the following:

![image](https://user-images.githubusercontent.com/8196233/63021949-16c04b80-bee5-11e9-8f10-5678eec0395e.png)

Exception
System.Reflec

[2019-08-14 12:51] nul800sebastiaan commented on #5804
@rgdagostino Glad to see some progress! You might have a lot of data to migrate, I ran into a similar issue with a large database, try to fiddle with the timeouts in web.config: https://github.com/umbraco/Umbraco-CMS/issues/5803

[2019-08-14 12:54] rgdagostino commented on #5804
I pasted the wrong image (just edited the post) @nul800sebastiaan . The timeout error was an easy fix :)

[2019-08-14 13:03] rgdagostino commented on #5804
I've got a full backup of a test version if anyone had time to have a look
https://drive.google.com/open?id=1J8ELoDcU19UTacc9Z4TMHJUwRtQZQseT

[2019-08-14 13:03] bielu commented on #6112
@stevemegson yes, I get all information about my users, it is about an additional 10 fields per each.

[2019-08-14 13:08] bielu commented on #6112
@stevemegson No my users don't have additional data here, but I think sections could be quite big in case :)

[2019-08-14 13:32] Allemannen commented on #6123
Hi @nul800sebastiaan - thank you very much for replying!

### How the fields are missing
We inspect a node in the backoffice Examine Management, and all custom fields on that node are _gone_. In other words, the field _value_ is not empty, the field simple doesn't exist. Though, the same field can exist on another node where the problem didn't occur, and either have a value or empty value dependin

[2019-08-14 13:32] JamesSherborne commented on #5847
@stevemegson if I were to rename the aliases in my project to umbracoFile, is there a way for me get Umbraco to create the mediaPath automatically?

[2019-08-14 13:55] nul800sebastiaan commented on #6003
Yikes. Sounds like a small thing until it suddenly explodes! 🙈

Let's reset:

Problem: view files are copied to `~/src/Umbraco.Web.UI/Umbraco/views` but they should not be because they're being inlined with the js files.

Given that fact: is there any reason `~/src/Umbraco.Web.UI/Umbraco/views` needs to exist at all any more?
I guess there is, since I am ignorant about what "directive templates" m

[2019-08-14 14:23] PeteDuncanson commented on #6003
Good spot @Shazwazza and a good fix.

@nul800sebastiaan dependancies on their own aren't an issue, old abandoned ones are though (like the docs task). But NPM makes updating any others pretty easy so I wouldn't be worried about adding those if it helps us make Umbraco better/faster. It is good that we don't just add anything we fancy and that there are some over watch on what gets added.

I believ

[2019-08-14 14:42] nul800sebastiaan commented on #6003
The reason I'm worried is because we keep running into "oh, this doesn't work any more.. Ah, that's because we need to update 43 dependencies now, oops, this module doesn't work with this version of that module, we need to make a dependency a fixed version.. oh but now we can't update module 'xyz' because...".

I know, we're probably doing it all wrong but you know: once bitten, twice shy (thrice

[2019-08-14 14:55] #6098 closed

[2019-08-14 15:02] stevemegson commented on #5847
@JamesSherborne in principle you could make 7.15 think that your database needs upgrading from pre-7.8.0,  then the "upgrade" would recreate the cmsMedia table. Something like:

- Drop the `cmsMedia` table
- Set `umbracoConfigurationStatus` in appSettings to 7.7.0
- Delete all rows from the `umbracoMigration` table
- Let the "upgrade" to 7.15 run

[2019-08-14 15:11] #5941 closed

[2019-08-14 15:37] aaronshelbySBA opened #6126 "Permissions for users in multiple user groups are incorrect"
It looks like users assigned to more than one user group are being assigned incorrect permissions.

Assuming that you have a basic navigational structure of:
Home
-Menu1
--Menu1sub1
--Menu1sub2
-Menu2
--Menu2sub1
-Menu3

And user groups consisting of:
a group named Menu2Group that has publish permissions for Menu2 (with Menu2 as its start node),
and another Group (ReadOnlyGroup) that has read-only

[2019-08-14 16:28] soreng commented on #6097
Since “I’m” a nuget-package ;-)

[2019-08-14 17:21] stevemegson commented on #6112
Adding in a few hundred permissions for the group definitely gets the response size up to what you're seeing, but I still can't reproduce your times. I'm still seeing times in the hundreds of milliseconds.

[2019-08-14 18:50] kjac opened #6127 "V8: Can't navigate to another node when the editor is in "create" state"
If you start creating a new node and then want to open another node instead, you're kind of stuck in the editor "create" state; whatever other node you attempt to open simply won't open. Only the next node you click actually opens. This all sounds very convoluted so here's a GIF:

![navigation-issue-1](https://user-images.githubusercontent.com/7405322/63047470-cd680000-bed4-11e9-892c-03cb73362a29.

[2019-08-14 18:52] stevemegson commented on #6126
It looks like this happens when Menu2Group has default permissions, rather than permissions explicitly set on Menu2. Default permissions on a group are applied to any content that the user can see, not only to that group's start node and its descendants.

[2019-08-14 20:23] nathanwoulfe commented on #6003
My issue was around the combination of this change and adding the view path into the markup - if the markup references a file which has been removed because it is inlined in the Javascript, is it still useful to have the view path referenced?

I think this relates to Shannon's change - what should happen in a dev vs production build? Inlining views for prod, definitely, deleting filed where view i

[2019-08-14 21:58] aaronshelbySBA commented on #6126
Yes, that does appear to be the case. I tried a few additional tests and came up with expected behavior when treating the granular permissions as the primary permission source (essentially ignoring default permissions). The prominent display of the default permissions, combined with the collapsed view of the granular permissions is counter intuitive. But at least I understand how it works now.

[2019-08-15 05:06] theideasaler commented on #4977
I have met the same issue with the two editor layers created by _umb-overlay_

[2019-08-15 06:24] nul800sebastiaan commented on #6126
Good to hear it's working now, I'll close this one. :)

[2019-08-15 06:24] #6126 closed

[2019-08-15 08:37] nul800sebastiaan commented on #4867
Thanks @bjarnef just saw this now, a bit late 🙈

[2019-08-15 08:37] #4867 closed

[2019-08-15 09:15] Shazwazza commented on #5925
So some notes from investigation...

There's no 'quick wins' based on the perf analysis and the major drain really comes down to just iterating a lot of a ton of querying against the concurrent dictionary to build up the graph. The main bottleneck (as noted) in this method is the AddNodeLocked method which is used in SetAll. SetAll does a lot of stuff while ensuring sort orders, generations, etc..

[2019-08-15 09:34] Shazwazza commented on #5925
@zpqrtbnk  I've also added a TODO here https://github.com/umbraco/Umbraco-CMS/pull/6131/files#diff-b3bc5e82b4179038edbe4e61342d49ffR44 ... since it seems to me if we 'just' persisted the `FirstChildContentId` + `NextSiblingContentId` values to the btree file we wouldn't need to manually populate these values which means we wouldn't need to sort the whole thing on startup either?

[2019-08-15 09:57] nul800sebastiaan commented on #3458
Whoops, not sure why this is still open? It was added to 8.1.0.

[2019-08-15 09:57] #3458 closed

[2019-08-15 09:58] nul800sebastiaan commented on #5669
Whoops, forgot to close this issue it looks like :-)

[2019-08-15 09:58] #5669 closed

[2019-08-15 10:10] nul800sebastiaan commented on #6127
We'll have a chat about this at HQ, interesting/strange issue 🙈

[2019-08-15 10:32] zpqrtbnk commented on #5925
_have a few comments - let's discuss on Monday_

[2019-08-15 10:55] nul800sebastiaan commented on #5224
Thanks for the report and investigation. I've followed the steps above in v8.1.2 and can't reproduce any more so I am assuming this was fixed along the way.

[2019-08-15 10:55] #5224 closed

[2019-08-15 11:11] nul800sebastiaan commented on #5817
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/5952

[2019-08-15 11:11] #5817 closed

[2019-08-15 11:29] nul800sebastiaan commented on #5817
Cherry picked to 8.1.3 7e8364eae48be9bbd3a160c3f3aab03eb374ab1f

[2019-08-15 13:52] Shazwazza commented on #5925
@RaminMT , @DMCK96 here's a nightly build of the binaries with a possible solution. This won't be the final solution but would love to see what the results are with this. Just drop the DLLs in your bin (take a backup first of course!)

[UmbracoCms.AllBinaries.8.1.2-alpha.4521.zip](https://github.com/umbraco/Umbraco-CMS/files/3505737/UmbracoCms.AllBinaries.8.1.2-alpha.4521.zip)

[2019-08-15 14:58] lars-erik opened #6132 "The date picker is empty after save/publish for users with locales not matching the angular locale files"
The date picker is empty after save/publish for users with locales not matching the angular locale files. (Probably affects more than the date picker)

Reproduction
------------

(done with Umbraco 7.13.1)

- Create a data type using the property editor Umbraco.DateTime.
- Keep the default format DD.MM.YYYY HH:mm (dunno if it affects anything)
- Keep offset on (dunno if it affects anything)
- Use

[2019-08-15 15:03] lars-erik commented on #6132
To make it better, this doesn't work on vanilla Azure Apps, so I'll update when I find a fix that works "all over".

[2019-08-15 15:32] stevemegson commented on #6132
Is this definitely being triggered by the user's locale? It looks similar to #6102, which is triggered by the date picker's format being set to something other than YYYY-MM-DD HH:mm.

[2019-08-15 16:07] joecklau commented on #4934
I am also suffering from this dialog problem in many umbracoDialog/umb-pane from Umbraco 7.12 to 7.15.1.
p.s. iframe dialogs ("Culture and Hostname", "Sort", etc.) are not affected.

The problem can be reproduced by
case 1: selecting any blank area in many different dialogs 1-2 times. OR
case 2: text selection, mouse-down to select text in textbox but mouse-up outside the dialog.

[2019-08-15 18:33] nul800sebastiaan commented on #4934
Thanks everyone for the feedback! At the moment we're looking for someone who would like to get their hands dirty, find the source of the problem and try to fix it. Who's game? :-)

[2019-08-15 19:06] #6057 closed

[2019-08-15 19:07] nul800sebastiaan commented on #6057
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/6118

Cherry picked for 8.1.4 16ac2c5589dabf65747b95e7122e58b9a82858d3

[2019-08-15 19:09] #6095 closed

[2019-08-15 19:19] nul800sebastiaan commented on #6000
Fixed in: https://github.com/umbraco/Umbraco-CMS/pull/6052

Cherry picked for 8.1.4 cec4376d199e617546292d726829c0a456c75655

[2019-08-15 19:19] #6000 closed

[2019-08-15 19:57] nul800sebastiaan commented on #5993
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/6046

[2019-08-15 19:57] #5993 closed

[2019-08-15 23:25] nathanwoulfe opened #6133 "V7: inverted behaviours when adding picking media in RTE vs media picker property"
Selecting media using the link picker in the RTE behaves differently to selecting media using the media picker property editor - former uses the old dialog, latter uses overlay.

I have fixed this in our site, happy to provide the PR if these types of changes are still warranted in 7. Not sure if the issue is the same in 8.

To reproduce, add a link in an RTE, then switch to select media
- clickin

[2019-08-16 05:06] Shazwazza commented on #6067
Hi @tom-ingeniuus , we cannot replicate this issue with 60k+ members. Paging to any given page has relatively the same performance whether it's last or in the middle or at the start including when search is used or not.

I can only conclude that perhaps you have an upgraded database from an older version of umbraco? and it might be missing some important indexes?

Let us know if you have more info

[2019-08-16 06:08] nul800sebastiaan commented on #6133
Hey @nathanwoulfe sure thing, we'd be happy to review a PR to make things a bit more consistent there!

Hint a gif to visualize would be awesome, without trying it out myself I am having a hard time understand what you mean exactly. 🙈

[2019-08-16 06:17] Shazwazza commented on #5804
Ok so what I recommend we do here is open up a new issue specifically for this new error(s) so we can close this one since it will probably fix the issue for other installs.

Sound good? @rgdagostino I've downloaded your file and will see what we can do but can you open up a new issue for it with the new details?

[2019-08-16 06:21] #5804 closed

[2019-08-16 06:38] nul800sebastiaan commented on #6132
Hey @lars-erik ! I think it might be time for an upgrade. I can't reproduce in 7.15.2 (coming up on Tuesday).

![image](https://user-images.githubusercontent.com/304656/63148337-2cc32e80-c001-11e9-9921-01143da21c49.png)

And in fact that language file is there:

![image](https://user-images.githubusercontent.com/304656/63148207-c76f3d80-c000-11e9-9e5d-4d271f870823.png)

We updated a lot in 7.15 so

[2019-08-16 06:43] #6100 closed

[2019-08-16 06:45] nul800sebastiaan commented on #6100
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/6109
Cherry picked for 8.1.4 0e565ddbf83811138712e38614caf208bd2f452c

[2019-08-16 06:53] nul800sebastiaan commented on #6067
Unfortunately this seems to be localized to your install Tom, let us know if you can think of anything else to reproduce the issue or if you figure out what causes it in your instance, then we can have another look! Sorry that we don't have better news for you.

[2019-08-16 06:53] #6067 closed

[2019-08-16 07:19] skttl opened #6134 "Make it easier to allow varying properties, or set as mandatory"
When you are converting a regular site to be multilingual, you have to click through every property setting dialog and mark as "allow varying". I would like to be able to do this a bit easier.

Without taking the option away from the dialog, I propose to add a simple button (could be visible only on hover/focus) for doing this right from the overview, see gif:

![gif of quick access to property se

[2019-08-16 07:40] lars-erik commented on #6132
@nul800sebastiaan As mentioned in the OP, the `_no.js` file does no good. Users with Norwegian locale attempt to load `_nb-NO.js`.
Also, the solution fails if you modify the timezone on an Azure App Service.
So it works to have the `_nb-NO.js` file locally, but when deployed to a webservice with `WEBSITE_TIME_ZONE` set to `W. Europe Standard Time` it starts breaking down again, and to make matters

[2019-08-16 07:50] nul800sebastiaan commented on #6134
Sure, it definitely could be easier. But I can pretty much predict the answer to be: not in this way. 😉

I'll get back to you after we have a chat at HQ.

[2019-08-16 08:10] skttl commented on #6134
Cool :) There is a similar discussion going in #5438

[2019-08-16 08:24] nathanwoulfe commented on #6133
DEMANDING!

I was going to, but got sidetracked by going to get coffee. Will add giffy goodness with the PR>

[2019-08-16 08:35] nul800sebastiaan commented on #6133
😁  yessir! 😉

[2019-08-16 09:05] 0Neji opened #6135 "Existing Views Are Overwritten When Creating a New Template"
Linked to #3494

This issue was closed at the time and haven't been able to re-open so just raising the issue again here (and have updated for Umbraco 8).

### Bug summary

When creating a new template via code, if a view exists with the same name, it is overwritten. I believe there should be a check in place that if the view exists, it's left alone but the template is added to the database regard

[2019-08-16 09:26] marcemarc commented on #6018
@Shazwazza this follows a forum post here: https://our.umbraco.com/forum/umbraco-8/96270-using-umbracohelper-in-a-custom-class-in-v8#comment-310037

and yes accessing via the provided base class UmbracoHttpHandler properties without any DI is what was tried first, and also throws the null error, so it's likely the order in which the HttpHandler creation sits in respect to lightinject's service loc

[2019-08-16 09:36] AndersBrohus-MySupport commented on #5551
This would be awesome 👍

[2019-08-16 09:52] #4958 closed

[2019-08-16 10:01] nul800sebastiaan commented on #6135
You're doing an explicit `_fileService.SaveTemplate(template);` though, there's really no way we could tell that this is not intentional.. Don't you think it would be weird if that method just did nothing?

We're explicitly setting the template content because you asked for it:

https://github.com/umbraco/Umbraco-CMS/blob/853087a75044b814df458457dc9a1f778cc89749/src/Umbraco.Core/Persistence/Reposi

[2019-08-16 10:12] 0Neji commented on #6135
Hi @nul800sebastiaan,

I have a package (to be hosted by both NuGet and the package repository) that creates content types and templates through code. The package comes with some views so they are always on disk by the point Umbraco is installed. During start up, `SaveTemplate` is called because it then needs adding to the database (so it's available to set as a template in the content types creat

[2019-08-16 12:03] lars-erik commented on #6132
Bah. Looks like you're right. We do have another format. I was positive that had to be some default setting, but I'm sure we have tampered with it. Crossing fingers for 15.2, then.

[2019-08-16 12:05] lars-erik commented on #6132
Although it doesn't work with default format either on 7.15.1. It goes blank on save/publish, even with the nb-NO.js file loaded. (Something tells me that actually doesn't have to do with anything)
It does not go blank on blur like #6102

[2019-08-16 12:17] lars-erik commented on #6132
Can currently reproduce on 7.15.1 on Azure WebApps, but can't reproduce locally (iisexpress). (!)
It does not matter what I put in the format settings for the datatype. Fails with blank as well.
It surely must be related to timzone on the server... (?)

[2019-08-16 12:32] stevemegson commented on #6132
It does sound like a time zone issue rather than a format issue. Can you see what value the server is returning in `/umbraco/backoffice/UmbracoApi/Content/GetById?id=xxxx`? That should tell us whether the value is being discarded on server, or the correct value is being sent to the client and then discarded there.

[2019-08-16 12:38] lars-erik commented on #6132
I just discovered the place in the property editor controller where it fails. Took a while, but the time is separated with dot instead of colon which is expected by my current locale.

![image](https://user-images.githubusercontent.com/350918/63167975-22ba2380-c033-11e9-9b3b-b45ec8d29577.png)

The server returns the time with dot as separator, but moment finds it invalid.

    {
        "label": "

[2019-08-16 12:58] nul800sebastiaan commented on #2999
Hey @Icarium666 - this is now a feature we have since Umbraco 7.15.0, each media picker can be configured to ignore the start node - https://github.com/umbraco/Umbraco-CMS/pull/2441

I'll close this one!

[2019-08-16 12:58] #2999 closed

[2019-08-16 13:05] lars-erik commented on #6132
There we go!
Tuesday, please? 🤣

[2019-08-16 13:07] nul800sebastiaan commented on #3276
Thanks @bjarnef - I'll close this one as this is available in v8.

![image](https://user-images.githubusercontent.com/304656/63169625-98c08980-c037-11e9-9d67-240437277721.png)

[2019-08-16 13:07] #3276 closed

[2019-08-16 13:09] nul800sebastiaan commented on #2986
Thanks @bjarnef - it looks like this functionality is now available in v8.

![image](https://user-images.githubusercontent.com/304656/63169702-c7d6fb00-c037-11e9-8672-3244322fa9fd.png)

[2019-08-16 13:09] #2986 closed

[2019-08-16 13:12] nul800sebastiaan commented on #3537
I don't think this is an actual bug, when you don't enter a name, a save doesn't get triggered and everyone is happy. Closing this one 👍

[2019-08-16 13:12] #3537 closed

[2019-08-16 13:14] John-Blair commented on #4969
Just upgraded to v8 and ran into this issue. I first had to upgrade from VS 2015 to VS 2019 to install v8 and now I need to upgrade SQL from SQL2008R2. This is indeed a painful upgrade.

[2019-08-16 13:17] nul800sebastiaan commented on #6132
Tuesday's release was closed yesterday. 😊

[2019-08-16 13:23] nul800sebastiaan commented on #3604
I noticed this was not showing at the moment, could be a nice one for a pull request.

![image](https://user-images.githubusercontent.com/304656/63170458-97905c00-c039-11e9-8e12-45d25b63d51a.png)

This box should show the dates on which the item will be published or unpublished if they are set (if not, then don't show).

Also, different publish dates can be set per language, so that should be incl

[2019-08-16 13:26] nul800sebastiaan commented on #3606
I think this is working as intended already, so instead of forcefully publishing it, it shows you a notification that it's scheduled for publishing and cancels the publish. You can publish by clearing the publish date.

![image](https://user-images.githubusercontent.com/304656/63170725-30bf7280-c03a-11e9-89e6-3b198f28f851.png)

[2019-08-16 13:26] #3606 closed

[2019-08-16 13:30] nul800sebastiaan commented on #3607
Yep, this would be nice. So currently when you clear all publish dates it still say "Schedule".

![image](https://user-images.githubusercontent.com/304656/63170821-754b0e00-c03a-11e9-871f-bdf28e8ad166.png)

What happens in reality is that it immediately gets published when there's no dates set. So might as well rename that button if there's nothing whatsoever scheduled for publish to "Publish now"

[2019-08-16 13:32] nul800sebastiaan commented on #3512
I believe weve updated the Slide component since then AND in v8 we don't have tabs, closing for now. :)

[2019-08-16 13:32] #3512 closed

[2019-08-16 13:35] nul800sebastiaan commented on #3636
Hey @tiffy74 - it's been a while on this one! We'd still love any help if you think it's necessary, but feel free to just submit a PR for that, we don't need an issue to track this. I'll close this one for now! 👍

[2019-08-16 13:35] #3636 closed

[2019-08-16 13:36] nul800sebastiaan commented on #3644
Closing this for now as it's outdated.

[2019-08-16 13:36] #3644 closed

[2019-08-16 13:38] nul800sebastiaan commented on #2957
Looks like I forgot to close this issue when we merged #3692

[2019-08-16 13:39] nul800sebastiaan commented on #3671
I don't think this is an issue any more. Closing for now!

[2019-08-16 13:39] #3671 closed

[2019-08-16 13:44] nul800sebastiaan commented on #3698
I think the related PR fixed enough of the issue didn't it @abjerner ? I don't really have indications that people are experiencing problems any more.

I'll close this for now, let me know if there's something else that still needs to REALLY be fixed (if it can be reproduced it can hopefully be fixed).

[2019-08-16 13:44] #3698 closed

[2019-08-16 13:45] nul800sebastiaan commented on #3704
No opinions have come in since the last comment. I'll close this for now, if there's something that really needs to be fixed then make sure to open a new issue.

[2019-08-16 13:45] #3704 closed

[2019-08-16 13:48] nul800sebastiaan commented on #3726
This issue has been open for a while now and v8 came out since then. If this is still an issue on v8, make sure to open a new issue for it so it can be looked at!

[2019-08-16 13:48] #3726 closed

[2019-08-16 15:31] stevemegson commented on #5804
@rgdagostino it may not be the same issue, but I'd have a look at `cmsDataTypePreValues` and #6062

[2019-08-16 15:42] JamesSherborne commented on #5847
@stevemegson tahnks, looks like your proposed steps do the trick. Umbraco seems to have no problem parsing all of the images but I now only have 6000 rows in the cmsMedia table rather than the 23000 I started with. Is this because it fails to process all or does the migration perform some housekeeping?

[2019-08-16 15:54] stevemegson commented on #5847
I guess the migration won't have recreated rows for any old versions of your custom items, since those versions didn't have an `umbracoFile` property. As long as it's created rows for all the current versions, that shouldn't matter.

[2019-08-16 16:39] stevemegson commented on #4934
I think there are two separate things here. First, `ng-swipe` in 7.x. Hopefully that's easily addressed with `ng-swipe-disable-mouse`.

Second, in both 7.x and 8.x, a mouse-up outside the dialog looks like a click outside the dialog, and therefore closes it. This is trickier, I'm not sure how we tell "real" clicks from the end of an overenthusiastic text selection.

[2019-08-16 16:51] marcemarc commented on #2957
@nul800sebastiaan I think this is still an issue, separate to the PR, the PR just fixed the underlying flaw in the API preventing any sort ordering working anywhere that used the API, it doesn't provide an option to configure the default order of the picker or associate the picker with the options in the ListView...

[2019-08-16 22:20] sulmbrant opened #6139 "2-factor authentication break backoffice"
Implemented Owin Startup with 2-factor authentication. 2-factor auth working just fine but multiple backoffice actions breaks like can't save and publish or delete nodes, doctypes and so on.

When save and publish a new node in content tree I'm getting Null reference exception and can see that UmbracoContextAccessor is null when debugging (don't know if it should be), even if the custom owin start

[2019-08-17 05:42] Allemannen commented on #6123
After monitoring the site a couple of days its become clear that eventually after a couple of sleep/boot cycles all nodes lose their custom fields, even media (images, files).

Please is it possible to fix this in the source code?

[2019-08-17 08:33] rasmuseeg commented on #5215
Hi there, this sounds absolutely amazing!

On a side note, we should consider updating the package located at: @types/umbraco during release pipeline.

[2019-08-17 09:08] Myster commented on #4934
Why not change it from click to mouse-down outside the pane to close it?

On Sat, 17 Aug 2019 at 4:39 AM, stevemegson <notifications@github.com>
wrote:

[2019-08-18 02:09] jaddie commented on #6135
It would be odd for the method to indeed do nothing in its current state, however there should be either a result returned with nothing done but showing the reason being the file exists already, after which you could then call the method and over-write it.

Alternatively the method to save could have arguments which allow for more control such as switching the database saving aspect on & off, and

[2019-08-18 08:06] RaminMT commented on #5925
Hi again @Shazwazza
I replaced them It started up very soon for the upgrade It also upgraded soon but creating NuCache files took a lot time.
Content cache created in 5 mins but now it's 50 mins waiting to create Media caches and nothing still.
We used to have problem with cache since U8.0, it takes too much time, I tested and find that the "GetPaged" method on NPoco is very slow on U8.0.

[2019-08-18 14:57] opr commented on #5925
So the site starts up nice and fast now, (previously it would hang while building the NuCache.media.db file) - however the NuCache.Media.db file is now only 4096kb and doesn't look to be growing, furthermore trying to do something like so:

[code]

causes a null reference exception.

[2019-08-18 17:50] Swimburger opened #6141 "Content query with document containing RTE with Macro's throws ArgumentNullException"
Reproduction
------------

### Bug summary

I performed an upgrade from 7.15 to 8.1.2 following the upgrade blog post provided by Umbraco. After refactoring the code to the new API everything works except this one issue.

I have a document containing an RTE field with Macro's.
Instead of having the Macro render using my Macro code, it's simply returned as part of the HTML without calling the macro

[2019-08-18 17:52] Swimburger commented on #6141
Same issue has been described on [this Our Umbraco post](https://our.umbraco.com/forum/umbraco-8/98186-v81-umbracocontentatxpath-bug).

[2019-08-19 01:29] viksohal commented on #2967
Hi @nul800sebastiaan , There is still an issue with the link picker when used in a macro, "ignoreUserStatusNodes" comes as null, I did a null check for this and that has fixed it but that js file will get overwritten with a clean build.  This is the error we are getting.

TypeError: Cannot read property 'ignoreUserStartNodes' of null
    at Object.$scope.openLinkPicker (umbraco.controllers.js?cdv=

[2019-08-19 05:05] Shazwazza commented on #6018
@marcemarc will need to investigate 🤔 First thing is that when using IsReusable = true in an http handler, it tells asp.net that it's a singleton which means only one instance of it will be created which means that no injected request based instances will actually work. This is probably part of the problem.

I think that perhaps injecting the UmbracoHelper into this is a mistake or can be done dif

[2019-08-19 05:36] Shazwazza commented on #6123
Hi, I'd recommend updating to 8.1.2 there is a couple things in there that fixes/changes some Examine indexing issues, https://our.umbraco.com/download/releases//812

There was a timing issue which is fixed.

When using `SyncTempEnvDirectoryFactory`, indexes should not 'just' rebuild out of nowhere because when using this setting the 'master' index files are located on the 'slow drive' in azure (o

[2019-08-19 05:54] Shazwazza commented on #5925
@RaminMT + @opr Sorry i should have been clear, the fix i put in for this DLL is loading from the nucache file, not loading from the DB to create the nucache files. Sounds like you are both starting the website without these local files at all.

There's some unit tests failing that i'll need to fix before i push a diff zip to test, i just wanted to see the difference startup made on your sites whe

[2019-08-19 06:01] nul800sebastiaan commented on #6141
Does it help if you remove and re-insert the macro in the RTE? It seems like your current macro might be storing some unexpected data.

It would be good to see what data is stored for the macro currently and then try to update by removing and re-inserting the macro.

[2019-08-19 07:06] hartviglarsen opened #6143 "Notify the editor if an unpublished node is picked in a content picker"
Currently an editor will see a message at a node's content picker if the picked node is unavailable (deleted/recycle bin) - which is sweet!

However, there's no feedback if the node has been unpublished. That means editor A can open node X and think that everything is OK, even though editor B has unpublished node Y, which is picked on node X.

![contentpicker](https://user-images.githubusercontent

[2019-08-19 08:26] rsoeteman commented on #5527
Hope this can be added to the core. For my extension I want to pick a locale specific 404 page. The user expects it to be in Dutch but can only pick the English version and can only hope the Dutch version exists.

[2019-08-19 09:58] Shazwazza commented on #5925
I've attached another test fix for you, this fixes a couple of issues and also includes an update for loading the cache in via the db if the nucache files don't exist. In theory this fix should solve the issue though it's still not in it's most ideal format. We do plan on improving this even more for when it's released which i cannot currently provide a date for but please give the attached a try

[2019-08-19 10:29] deMD opened #6144 "When publishing content, Postsave throws an error"
When publishing content PostSave stays pending a long time until it throws an 500 error. Reading the error log shows an error where it seems like it comes from the cache (see error below). When trying to reload the nucache I also get a timeout exception.

Reload cache exception:
![image](https://user-images.githubusercontent.com/22070292/63260550-846fcd00-c281-11e9-9231-6efbe6beb569.png)

Postsave

[2019-08-19 10:35] opr commented on #5925
Ooh wow yes this is super quick now! The rebuild takes about four or five minutes with 200k+ nodes (including media and content) and the reload takes about 30 seconds, I think for a site with this much content these times are 100% acceptable! Thanks for investigating this, looking forward to the release, please let me know if I can help any more.

[2019-08-19 10:55] nul800sebastiaan commented on #6105
Thanks for the suggestion @elliottjb7 !

After a few chats at HQ we have some feedback on this:

Macro's were always meant to provide a piece of complex functionality that can be configured with parameters. This includes providing some text (for labels and such things) but mostly pickers to use other existing content in the functionality you want to provide.

Macro's were never meant to be present

[2019-08-19 10:55] #6105 closed

[2019-08-19 11:02] nul800sebastiaan commented on #6097
Hi @soreng - great seeing you at the BBQ last week!

I forgot to talk to you about this one, but we've had a chat at HQ about it. Funnily enough, I had interpreted your feature request completely wrong and after reading it a few more times and talking about it I now do understand what you're trying to do.

The example you provided by updating the default location of lang file using the `package.ma

[2019-08-19 11:23] nul800sebastiaan commented on #6104
Hi again @elliottjb7 - it is a lovely feature request but unfortunately not something that we are going to work on. Currently there is no way for any macro parameter editor to be configured, that would be a large change.

I'll refer to #6105 as well for this one and mention the new block editor which should hopefully make things a lot easier for you.

For now, you can definitely do this yourself,

[2019-08-19 11:23] #6104 closed

[2019-08-19 11:32] deMD opened #6145 "Multi url picker doesn't return culture variant url"
When picking a content url in the multi url picker in a multi language website, the default language url is returned and saved instead of the culture variant url:
![image](https://user-images.githubusercontent.com/22070292/63262157-83d93580-c285-11e9-8ecb-54b028779e96.png)

This might be fixed in #6100

If so, is there a possibility that that issue gets released as soon as possible (possibly 8.1.3

[2019-08-19 12:00] Shazwazza commented on #5925
Great news :) it might actually get a little faster but we'll see. When items are created or updated, the cache updating will be faster with the next iteration of enhancements (not including in these DLLs).

[2019-08-19 12:04] RaminMT commented on #5925
Wow!!!
I deleted all the folders in App_Data and that was amazing, It started up very quickly.
I really hope that we can use this build or something better than this on our production site.
Currently we have a mini database (I made a copy with much less data on it) so we could have get our site back working again

[2019-08-19 12:06] stevemegson commented on #6141
I think the problem is where the macro rendering is happening, rather than the macro itself.

`RteMacroRenderingValueConverter` is setting the current page to `umbracoContext.PublishedRequest?.PublishedContent`. If we're not currently rendering a page, this may be null (in this case we haven't finished routing the request, so we haven't yet identified the current page).

Even when it's not null, w

[2019-08-19 12:25] nul800sebastiaan commented on #6144
Hi @deMD - that looks very ugly. First off, I would recommend trying to increase the request time-out in web.config for now and see if you can make it work that way.

After that.. we'll need a lot more information to be able to give any kind of answer, obviously (I hope) this doesn't happen for everybody so this seems limited to your implementation.

Please always mention the version you're using.

[2019-08-19 12:25] #6144 closed

[2019-08-19 12:27] nul800sebastiaan commented on #6145
The fix in #6100 is merged into 8.1.4 and will be released in the next few weeks.

[2019-08-19 12:27] #6145 closed

[2019-08-19 12:32] nul800sebastiaan commented on #6139
Thanks for the report, which Umbraco version are you using?

Can you show the code you're using, specifically you `ConfigureTwoFactorAuthentication` method please?

[2019-08-19 12:33] vishalno opened #6146 "Migration from v7.15.1 to 8.1.2 causes error ERROR: The database configuration failed with the following message: Value cannot be null. Parameter name: text"
I am trying to migrate from v7 to v8 and i get an issue and i am unable to resolve.

Initially i had issues with unique indexes, and also with obsolete mediapicker and memberpicker. But this issue i am not having any clues what can be wrong.

Error during installation
The database failed to upgrade. ERROR: The database configuration failed with the following message: Value cannot be null.
 Paramet

[2019-08-19 12:40] nul800sebastiaan commented on #6146
Hmm, It's really not possible to see anything from this log file, are you running with `debug="true"` in your web.config? Do you have more log messages near this one that have more info in them maybe.

Please always add the Umbraco version that you're using.

[2019-08-19 12:52] vishalno commented on #6146
Thanks for the prompt reply. Site was initially running 7.12.4 which i upgraded to 7.15.1. Now running the migration to 8.1.2

I have now set debug true.

{"@t":"2019-08-19T12:46:25.6733394Z","@mt":"SQL [{ContextIndex}]: {Sql}","ContextIndex":1533,"Sql":"ALTER TABLE [cmsContentNu] ADD CONSTRAINT [FK_cmsContentNu_umbracoContent_nodeId] FOREIGN KEY ([nodeId]) REFERENCES [umbracoContent] ([nodeId]) O

[2019-08-19 13:19] Swimburger commented on #6141
@nul800sebastiaan thanks for the suggestion.
I created a new document where there's no Macro in the RTE which works fine.
The moment I add a new fresh Macro in the RTE in the new document, the same issue occurs.

@stevemegson that sounds like it would apply to my case. My XPath query is happening in an `IContentFinder`.
When I Query the same document as mentioned above (without xpath, using Model.

[2019-08-19 14:00] bgunnarsson opened #6148 "NestedContent - Missing data-attribute on property editors."
### Bug summary
***
If someone has a better idea for a fix then I'm all ears.
***

NestedContent items are missing a data-attribute (data-element) which is added by default when not using NestedContent.

This is stopping a package I'm using from working properly when I'm using it with NestedContent since it relies on that data-attribute.

### Specifics
Currently using version 7.15.1 - I'm fairly c

[2019-08-19 14:01] bgunnarsson commented on #6148
I'm currently working on a fix for this.

[2019-08-19 14:07] nul800sebastiaan commented on #5335
PR to fix this: https://github.com/umbraco/Umbraco-CMS/pull/6149

[2019-08-19 14:18] nul800sebastiaan commented on #6146
Alright, it looks like this is happening for members (`RebuildMemberDbCacheLocked`) is it possible that one or more of your members does not have a node name for some reason?

If you can query the database for: `SELECT * FROM umbracoNode WHERE nodeObjectType = '39eb0f98-b348-42a1-8662-e7eb18487560' AND (text IS NULL OR text = '')` does this give you any results?

[2019-08-19 14:27] nul800sebastiaan commented on #6141
Ah okay, I understand now, the macro is failing because the code in your macro is no longer working. I though the migration might have forgotten about some macro configuration somewhere.

Alright, it seems like you might need to update the way you get your content for now.

Does something like this work for you?

`umbracoContext.Content.GetByRoute(slug);`

`GetByRoute` is properly cached so I don'

[2019-08-19 14:31] bgunnarsson commented on #6148
[Pull Request #6150](https://github.com/umbraco/Umbraco-CMS/pull/6150)

[2019-08-19 14:32] soreng commented on #6097
hi @nul800sebastiaan

Great seeing you to - as always

I'm glad the examples helped. To only reason it's an array, was that everything else in the manifest is arrays ;)

[2019-08-19 14:32] Swimburger commented on #6141
So the Macro itself works fine when I add it to an RTE. The preview even renders properly and I can see it execute my Razor code. Only after publishing the issue occurs in my code.

Also will try your suggestion when I get home.

[2019-08-19 14:43] jsheard02 commented on #5035
@ealse @Shazwazza

We have tried this on 8.1.0, 8.1.1 and 8.1.2, and we experience the same NuCache.Content.Db error as you point out. For some additional context, we add the `umbracoLocalTempStorage` into the Application Settings of the Web App on azure, and not directly into the web app itself. I will try and add this directly into the `web.config` file now, and let you know if the issue persist

[2019-08-19 15:07] bgunnarsson commented on #6148
Currently adding this to v8 as well.

[2019-08-19 15:51] sulmbrant commented on #6139
It's version 8.1.1. Is it this code you want to see?

[code]

[2019-08-19 17:42] Swimburger commented on #6141
@nul800sebastiaan
When using `GetByRoute`, the exception is not thrown and works as expected.
Though, we should be able to still use the XPath queries, correct?

I noticed that the macros are being calculated at site startup and then cached.
This is different behavior than v7, isn't it? This seems like a large breaking change for anyone relying on macros being executed at HTTP request time instead

[2019-08-19 19:54] marcemarc commented on #6018
@Shazwazza sorry to report I have tried both true and false for IsReusable and the error is still the same.
I think the below is what we are saying 'should work'
[code]
with handler
` <add name="CustomHttpHandler" verb="*" path="*.shaz" type="umbraco_8_1_release.Handlers.CustomHttpHandler"/> `

but when requesting /wazza.shaz

the following error is thrown (this is before the ProcessRequest is fir

[2019-08-19 20:25] Zweben commented on #6018
@Shazwazza I can confirm marcemarc's result. I set IsResuable => false on my code, and I got the same result of a NullReferenceException as when IsReusable was true.

Is there a way we can work around the lack of a working IUmbracoHttpHandler by accessing Umbraco services from an IHttpHandler, via DI or otherwise? I need to set up access restrictions on certain static file HTTP requests, and I am

[2019-08-20 02:25] Shazwazza commented on #5035
@jsheard02 `umbracoLocalTempStorage` isn't the correct setting, that is for v7, see https://github.com/umbraco/Umbraco-CMS/issues/5035#issuecomment-476477802

[2019-08-20 02:33] Shazwazza commented on #5925
Here's a newer zip with binaries, this is basically what we will release. If this works for you please feel free to use it until it's available in an upcoming release. Not sure yet if that will be a patch release or a minor.
[UmbracoCms.AllBinaries.8.1.3-alpha.4573.zip](https://github.com/umbraco/Umbraco-CMS/files/3518411/UmbracoCms.AllBinaries.8.1.3-alpha.4573.zip)

[2019-08-20 03:54] Shazwazza commented on #6018
Yes so the reason for the null ref isn't because of the UmbracoHelper, it's because of the UmbracoContext. An UmbracoContext is not created for every single request, we detect if one should be built (this was the same in v7 but maybe some other odd stuff was working).

The code is in the `UmbracoInjectedModule` where we create the context but before that we do this check:

[code]

The IsClientSide

[2019-08-20 06:18] vishalno commented on #6146
Yups i get 1 record and i also checked an old hosted site and can see the member without a name. I will update the text and try again.

Also one weird thing i see is that some members have same usernames, that may cause some issue i guess.

[2019-08-20 06:49] nul800sebastiaan commented on #6141
Great to hear!

There's loads of large breaking changes in v8 :-)

If this works for you then roll with it. We don't have an XML cache in v8 and getting by XPATH is not as performant as it was before.

If someone wants to fix this issue then feel free to help out if you can.

[2019-08-20 06:50] nul800sebastiaan commented on #6146
Yep that could cause some trouble too, but maybe not in migrating the members.. not sure!

Anyway, good that we've identified the bug now!

[2019-08-20 06:53] RaminMT commented on #5925
Thanks dear Shannon
I made multiple test on the final release you supplied, it started up in about 1 min on a site with 240K records in umbracoNode table, also it reads and writes to NuCache files so fast event it loads the data from database quickly.
But I found some other problems:
1. Rebuilding database cache will fail with sql connection timeout.
2. Modifying root nodes previously caused rebui

[2019-08-20 06:54] kjac commented on #6097
Been looking into this... I daresay it would make the implementation a whole lot simpler if we simply look for `Lang` directories in all sub directories of `App_Plugins` (much in line with how we look for `package.manifest`  files. Obviously this will have a slight performance impact on startup if the installed plugins have a gazillion sub directories, but for "normal" use it shouldn't be noticeab

[2019-08-20 07:29] nul800sebastiaan commented on #6139
You might be doing `app.ConfigureUserManagerForUmbracoBackOffice` too early,

This is the `Composer` code that works for me:

[code]

I'll close this issue since I can't replicate the problem in a clean install of 8.1.1 - hope the code above helps for you!

[2019-08-20 07:29] #6139 closed

[2019-08-20 07:39] vishalno commented on #6146
The migration works. I will now work with the template changes. Thanks @nul800sebastiaan for your help on this.

[2019-08-20 07:39] #6146 closed

[2019-08-20 07:44] opr commented on #5925
Ramin, I think the timeout is just a product of running queries that take a long time, I guess you'll have to change the timeout and test what works for you.

Furthermore I know point 2 was addressed here https://github.com/umbraco/Umbraco-CMS/pull/5439 - but a fix wasn't put in place (The PR was rejected because of an oversight) so perhaps something that's being looked at at HQ?

FYI our timeout

[2019-08-20 08:29] marcemarc commented on #6018
That works with the .axd extension, and makes sense, it was interesting to try and see what was going on...
will update the forum post where the attempt is to handle a request to style.theme but no reason that shouldn't be style.axd

thanks!

[2019-08-20 08:29] #6018 closed

[2019-08-20 08:42] greystate commented on #6097
"Just" looking for `Lang` files makes a whole lotta sense to me 👍

[2019-08-20 08:45] kjac commented on #6097
@greystate that is `Lang` folders 😆

[2019-08-20 09:05] kjac commented on #6097
PR in #6153

[2019-08-20 09:42] soreng commented on #6097
@nul800sebastiaan not the PR guys have been by, but they opted for the "simple" solution

Would you prefer it as is, or should it support the manifest-setting instead (or both?)

[2019-08-20 13:01] PGGMTeam5 commented on #2957
@nul800sebastiaan I agree, my initial problem is _not_ solved with the PR.
It is good to see though that there is still some attention for this issue, and that the underlying API is now fixed.

[2019-08-20 14:51] JeffreyPerplex commented on #6053
I can confirm that the backoffice is sometimes really, really slow and using a lot of memory...

We we're creating a website and only creating some doctypes and datatypes and moving these datatypes into folders and every 5 minutes the browser crashed.

Using Umbraco 8.1.1, in both Firefox and Chrome

[2019-08-20 15:05] Swimburger commented on #6141
@nul800sebastiaan What's the high performance alternative for complex querying?

[2019-08-20 15:51] NikRimington opened #6155 "Duplicate Content Templates causes list to disappear."
**Not tested in v8, but believe to be an issue there as well**

In Umbraco v7, by chance, multiple content templates were created with the same name (unsure how this occurred). However, the consequence of this was that a `Duplicates in repeater are not allowed` error is thrown. Looking at the v8 code this is still going to occur.

**To fix:**

Add ` track by $index` to ng-repeats here:
https://git

[2019-08-20 17:08] anthonydotnet commented on #5035
This doesnt seem to work in v8.1.2. We still need to restart the app after a slot swap :(

[2019-08-20 18:17] JoseMarcenaro commented on #5035
We have three similar Azure environments with v8.1.1
In one of them we get the error every time - the other two are good. And I can't figure out what the difference is. Any suggestions for further testing?

[2019-08-20 18:23] kjac commented on #6155
In V8 the UI protects us from creating content templates with duplicate names - not sure that's the case in V7?

![image](https://user-images.githubusercontent.com/7405322/63373478-4c06e680-c388-11e9-8824-b28d941b87cf.png)

![image](https://user-images.githubusercontent.com/7405322/63373538-68a31e80-c388-11e9-8394-c4f756c6f5f0.png)

[2019-08-20 19:38] Zweben opened #6157 "umb-tree directive in custom property editor saves node on toggle"
**NOTE: Please see the replacement issue here: https://github.com/umbraco/Umbraco-CMS/issues/6187**

Reproduction
------------

### Bug summary
In Umbraco 8.1.3, using the `<umb-tree>` directive in a custom property editor causes the node on which the property editor is included to be saved every time a tree item is expanded or collapsed. This seems to happen regardless of the settings on the <umb

[2019-08-20 19:58] sulmbrant commented on #6139
I can't get it working with your code either. The problem isn't that I can't login with the two factor authentication. The problem is when I'm inside backoffice and trying to create a content node in the content tree. When I hit Save and publish the Null reference exception appears.

If there is no issue then I must be doing something in a totally wrong way with my custom BackOfficeUserStore and B

[2019-08-20 21:54] nickh364 opened #6158 "V8 Migrated media folders not showing up in Media Picker or on the left side of the Media tab"
On all our sites after we migrate to 8 the media folders don't show up in the Media Picker or the left side of the media tab. Example below. On some of our smaller sites I have just recreated the folders and copied the media to the new folders but on some of our bigger sites that would take hours.
![umbraco media](https://user-images.githubusercontent.com/5198147/63387274-a5601d00-c36a-11e9-8826-5

[2019-08-21 01:36] jamiepollock opened #6159 "Added logic for copying data types"
Adding the underlying business logic for copying a data type in Umbraco v8.

This would only include the business logic. If this feature is accepted I will then I'll add the tree actions in a separate PR.

How can you help?
-------------------------------

I'll be submitting a PR within the next week for this feature.

[2019-08-21 01:42] jamiepollock commented on #6159
Updated the title to make it clear at a glance this a v8 PR.

[2019-08-21 01:51] theideasaler opened #6160 "V8: Media Picker returns wrong image width and height (always returns 150px width & height)"
I am upgrading a custom grid editor plugin from Umbraco v7 to Umbraco v8 which uses `mediaPicker` function provided by `editorService`
(Reference: [https://our.umbraco.com/apidocs/v8/ui/#/api/umbraco.services.editorService](url))

In Umbraco v7, the `dialogService.mediaPicker` will return images with their original image size
![Capture1](https://user-images.githubusercontent.com/17869748/63395892-

[2019-08-21 06:32] nul800sebastiaan commented on #5035
This sounds like a configuration problem, at least for @JoseMarcenaro - it might be good to triple-check all differences between those 3 servers.

Other than that, if it can be reproduced with a clean install then we can have a look at additional fixes.

[2019-08-21 06:46] skttl opened #6161 "Data type usage stats"
I am trying to prevent unnecessary duplicates of data types, specifically caused by the document type editor offering "create new" before "reuse".

And also prevent breaking changes to existing data types (like if you were to remove the root node on an MNTP for example)

Could it be possible to show which document types a data type is used on, and which data types have the same configuration?

Tha

[2019-08-21 07:24] kjac commented on #6161
I think usage information is a brilliant idea 👍

Duplicate detection however is a not a trivial task and thus subject to be rather error prone - specially as the detection must happen live while editing the datatype. And while I agree with your take on duplicate datatypes, I'm not entirely sure this opinion is shared by HQ.

Let me know if you would like some help with this 🙂

[2019-08-21 07:40] nul800sebastiaan commented on #6157
That is pretty unfortunate, any idea what this might be caused by? Where does the custom tree go, is this in a custom section or..?

[2019-08-21 07:40] skttl commented on #6161
I know HQ doesn't want reuse as the default, this is why I thought some information was needed when people were about to create duplicates :)

I would love to submit a PR - but waiting for HQ approval of the idea.

[2019-08-21 07:43] nul800sebastiaan commented on #6158
Are these sites that have first been upgraded to 7.15.x before you upgraded them to v8? Specifically did these sites start their life as a site older than 7.8.0?

It may be related to https://github.com/umbraco/Umbraco-CMS/issues/5847

[2019-08-21 08:02] runegronkjaer opened #6162 "Nested content copy choice label is just one letter"
When copying and then inserting content in the nested content data type, the label with the content name is just one letter and some dots. E.g. "C...". See screenshot from Chrome.

Umbraco v 8.1.3

Reproduction
------------
1. Make a nested content data type and add it to a documenttype
2. Create some content
3. Copy the content
4. Click "Add Content" again and see how the content is named

### Ex

[2019-08-21 08:14] nul800sebastiaan commented on #6161
I think, currently, we're much more interested in auditing after the fact than live detection of duplicates. [Media item tracking](https://github.com/umbraco/rfcs/pull/17) is just the first new thing we want to work on, later on we know we want a more complete tracking tool like "Nexu".

We'll discuss it at HQ soon!

[2019-08-21 08:23] nul800sebastiaan commented on #6160
Since v8.1.0 we do limit the data that comes back from the mediaPicker, to prevent having to do database lookups, therefore improving performance.
However, I can't find any code specifically setting these to 150 so I'm not sure where this might be coming from. Maybe you can investigate some more?

Ultimately, the question is: what do you want to use the original width/height for, is there a reason

[2019-08-21 08:25] nul800sebastiaan commented on #6155
It might do in the interface, but I'm pretty sure, with a bit of forceful C# coding you could create duplicates anyway. I would imagine, for example, this could happen in an edge case with uSync.

The fix proposed is good @NikRimington - care to make it "official"? 😊

[2019-08-21 08:26] nul800sebastiaan commented on #6159
Thanks for the feature request. What is the use case for this please? Who will it benefit and how?

[2019-08-21 08:43] nul800sebastiaan commented on #6162
That seems to be a problem in your particular site, I can't reproduce this problem in a fresh 8.1.3 install.

Let us know if when you have more info to reproduce!

![image](https://user-images.githubusercontent.com/304656/63416813-6f6d7800-c400-11e9-81d7-31db4b3b7429.png)

[2019-08-21 08:46] TobiasJensen commented on #6116
#6026 fixed this imo. 👍

[2019-08-21 09:00] nul800sebastiaan commented on #6116
Thanks @TobiasJensen - I'll close this as fixed in 8.1.3 for now.

[2019-08-21 09:00] #6116 closed

[2019-08-21 09:00] runegronkjaer commented on #6162
Are you sure? Your screenshot is not of the copy feature.
This is where the issue is:
![copy label](https://user-images.githubusercontent.com/3272628/63418066-c1170200-c402-11e9-8939-9fd50ea933ad.png)

[2019-08-21 09:00] nul800sebastiaan commented on #6162
My screenshot was supposed to be an animated gif, oops!

![6162](https://user-images.githubusercontent.com/304656/63418173-eefc4680-c402-11e9-98c2-32658ee0fdb3.gif)

[2019-08-21 09:21] nul800sebastiaan commented on #2957
Looks like I misunderstood, so more work is needed here? I just can't really figure out what the problem is at this point? Can't you set a sort order on list views already? And what exactly does not work then?

[2019-08-21 09:23] nul800sebastiaan commented on #2957
Ah, I got it, it's the mini-listview, so the one that's used in pickers.

We'd be happy to look at a suggested change to implement this feature request, I imagine it would look very similar to the sorting headings on the regular list view.

[2019-08-21 09:24] nul800sebastiaan commented on #2957
Please do note, however, we're not adding new features to v7 any more (https://umbraco.com/blog/umbraco-715-release/) so any new code for this would need to be based on v8.

[2019-08-21 09:38] Migaroez commented on #6116
Great, ill have a look if it is fixed on my instance once 8.1.3 is out.

Thx guys!

[2019-08-21 09:47] nul800sebastiaan commented on #6116
@Migaroez - Keep up mate, it was released yesterday 😅😉

[2019-08-21 09:53] abellisai opened #6163 "Login using Azure AD redirects always to my login page"
I'm working on a project that use Azure AD for login the Users and Members using Umbraco Identity Extension.

Some times when i try to login an User on Azure AD i'll always redirect to umbraco login page.

Reproduction
------------

### Bug summary

Some times when I try to login an User on Azure AD i'll always redirect to umbraco login page.

### Specifics

I've replicate this problem on Umbraco

[2019-08-21 10:04] Migaroez commented on #6116
I guess its upgrade time then.

[2019-08-21 10:18] SoerenDeger opened #6164 "If Grid Module contains object in value, then Grid Layout property is not in Examine Index"
We using a lot of custom Grid Modules in Umbravo v8.1.2. But the Property of "Grid Layout" is not every time in the examine index.

It seems, that the grid layout property is always not indexing, if $scope.control.value contains an object instead a string.

At first I add a custom Grid module with an object in value:
![screen1](https://user-images.githubusercontent.com/7769446/63423763-4a333680-c4

[2019-08-21 10:56] nul800sebastiaan commented on #6164
Unfortunately only the first value is displayed in the backoffice, there's more info and a PR for this available in this issue: https://github.com/umbraco/Umbraco-CMS/issues/5994

[2019-08-21 11:01] nul800sebastiaan commented on #6163
I am not sure if removing all sessions is a good idea, doesn't that also mean you can no longer work in the backoffice and on the frontend at the same time, since you can only be logged in in *one* of those environments?

[2019-08-21 11:10] nul800sebastiaan commented on #6097
I've left questions on the PR.

[2019-08-21 11:14] SoerenDeger commented on #6164
@nul800sebastiaan I think this issue is related to #5994, but it's not the same.

Now, I have enter this headline:
![screen7](https://user-images.githubusercontent.com/7769446/63427092-a3eb2f00-c414-11e9-89ff-c1b93bacad89.jpg)

But If I search in Examine Dashboard for this headline, I get null results:
![screen8](https://user-images.githubusercontent.com/7769446/63427280-13f9b500-c415-11e9-86ba-19

[2019-08-21 11:15] #5335 closed

[2019-08-21 11:24] runegronkjaer commented on #6162
Ok. I have got news on this. After many tests I have found out that the problem disappears if I delete the "UmbracoForms" folder in \App_Plugins. So I guess I'll have to move the issue to Umbraco Forms instead? It's most likely overwriting a truncate filter or something like that.

[2019-08-21 11:39] nul800sebastiaan commented on #6164
Okay, we'll need to try and reproduce then.

[2019-08-21 11:41] SoerenDeger commented on #6164
@nul800sebastiaan Thank you! Now, I have tested this again with the code from the PR in 5994. The issue here still exists... The field is complete missing in examine index. It's not in the management dashboard and a search for the term has null results.

[2019-08-21 11:48] nul800sebastiaan commented on #6162
Yikes!

[2019-08-21 11:49] nul800sebastiaan commented on #6162
No, no need to move it.. this just means that we need to anticipate other people doing things that might affect core as well.. Great find! Really unfortunate.. we'll have to have a look how to avoid this problem.

[2019-08-21 12:07] runegronkjaer opened #6165 "Nested content copy/paste problem when having a nested content in a nested content"
When having a nested content datatype on on some content that can be created in another nested content something is not being updated on the inner nested content.

Reproduction
------------
### Bug summary
The problem is that the new copy of the content keeps the same id's as the one that has been copied. This results in changes on the copied version not being applied.
I specifically have a nested

[2019-08-21 12:08] stevemegson commented on #6164
There are a couple of things going on here. The `__Raw.gridLayout` field isn't indexed, so your search won't find the text there. The text content of the grid should also appear in the `gridLayout` field, where it's indexed. You should see `Anchor 1` in that field in your example, and be able to search for it.

The grid chooses to ignore non-string values when building the value for `gridLayout`,

[2019-08-21 12:14] jamiepollock commented on #6159
Hi Sebastiaan,
Thanks for the quick response to clarify the need for this feature request.

In my mind, copying a data type would have been a useful feature to have in v7 and assumedly in v8 too. It would be most useful to developers who are creating data types that are similar but need minor configuration changes between variants.

The types of data type that come to mind are;

 - RTE
 - Nested C

[2019-08-21 12:22] nul800sebastiaan commented on #6165
Thanks for the extensive report! This has been reported before and we'll look at a PR for this soon: https://github.com/umbraco/Umbraco-CMS/issues/5913

[2019-08-21 12:22] #6165 closed

[2019-08-21 12:35] SoerenDeger commented on #6164
Hi @stevemegson, thank you, this is all comprehensibly. But there must definitely be some way to index values ​​of grid layout objects.
Otherwise nobody can use a working full-text search in V8 anymore if the grid layout is used with custom modules.

[2019-08-21 12:38] Zweben commented on #6157
@nul800sebastiaan - This happens for me when the tree is included in a custom property editor that is attached to a content node.

This may be an atypical use-case for `umb-tree`, because I am using it for a content picker in which the tree is persistently visible in the main property editor view, rather than in an overlay, but as far as I can tell, that should still work without this behavior.

I

[2019-08-21 12:54] abellisai commented on #6163
Hi Sebastian
In this hours i'm trying this solution, and I'm able to use the same AZ AD account both as a member and as a user, at the same time without side effect.

The wired thing is that without removing all session on `ExternalLogin` action, then on `RenderDefaultOrProcessExternalLoginAsync` method, the `loginInfo` variable returned by the invocation of `await OwinContext.Authentication.GetEx

[2019-08-21 13:09] nul800sebastiaan commented on #6163
Thanks @abellisai - I honestly have no idea if this is intended behavior or if we want to fix this behavior. Currently the person able to answer this the best is on holiday, so please know that it will take a while before we have a further update for you on this.

[2019-08-21 13:11] nul800sebastiaan commented on #6157
Thanks @Zweben for the additional explanation! Yes, this is indeed a pretty a-typical use-case I would say. I wish I could say something about the cause of the problem but I'm also way out of my depth here.

To set expectations: we don't mind looking at a fix for the problem if someone can come up with one but it is not something we ever intended to support, if it worked in v7 then it was mostly j

[2019-08-21 13:19] abellisai commented on #6163
Hi Sebastiaan
No problem for the timing and the luky guy on holyday, good for him ;-)

I would like to add a note that could be helpful for digging in to the problem (maybe OWIN bug???):

The strange behavior (without removing all  session) persist also if session contains no variable at all.
It's start to work if i add the removeAll session code also in a session with no keys.

Thanks to you!
HFY

[2019-08-21 13:25] nul800sebastiaan commented on #6132
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/6138

[2019-08-21 13:25] #6132 closed

[2019-08-21 13:37] skttl opened #6166 "📮 Set defaults for "create new package""
When creating packages from the backoffice (I often do that, to export different schema data from one install to another), you have to type in a few fields.

I would love for these (especially the mandatory ones) to be prefilled, so all I had to do, was to input a name and the contents.

Could we extend umbracoSettings.config, with some keys for this?
Like

[code]

[2019-08-21 13:47] nul800sebastiaan commented on #6166
We don't want to add any more configuration than what is strictly necessary, so I would say we're almost definitely not going to create more config keys for this scenario.

Also, please remember you are a (wonderful) outlier here, not many people make packages very often. I understand the pain in having to fill in all the details every time though and we should look into making this easier somehow

[2019-08-21 13:48] nickh364 commented on #6158
Yes I updated to 7.15.1 then to 8.1.1 or 8.1.3. All our sites started before 7.8.0.

[2019-08-21 13:50] marcemarc commented on #2957
The three options are above, are still steps forward in this... eg as soon as you have the A-Z sorting (2) option, you'll want to be able to configure the pickers 'default' sorting direction, and then if you are picking from a ListView the compellng thing is that already has configuration for sort order, should the picker honour this:? (3) is that too complicated? - option (1) is the simplistic 'w

[2019-08-21 13:52] nul800sebastiaan commented on #6158
Thanks @nickh364 - it seems to me that you're running into the exact same issue as #5847 then, or you might have ran into the issue that was fixed by running the SQL query from this comment, could you try this query on one of your upgraded sites and see if that fixes your issue?

https://github.com/umbraco/Umbraco-CMS/issues/5848#issuecomment-510801892

Of course, I should warn you to back up your

[2019-08-21 14:35] nickh364 commented on #6158
There is no cmsMedia table in the DB after migrating to Umbraco 8. Are you saying to run this before migrating to 8? I can see all my folders on 7.15.1.

[2019-08-21 15:48] mistyn8 opened #6168 "umb8.1.2 ContentService unable to retrieve the enumeration of an umbraco.tags datatype property"
_Umbraco 8.1.2, dataType Umbraco.Tags (Json storage)_

Using the content service, I don't seem to be able to get tags other than as a plain string.
I can use the extension methods AssignTags() and RemoveTags()  but there doesn't seem to be a way to get the enumeration?

Reproduction
------------
[code]

I did see in the source code some references to a GetTagsValue() but these are private/internal

[2019-08-21 18:03] kjac commented on #5035
@nul800sebastiaan This also happened to me with 8.1.2 when using deployment slots on Azure. Here are my findings.

### Symptoms

Whenever a deployment slot swap was executed, the target (production) slot would crash with the `The process cannot access the file` error. The source slot would still boot fine when requested after the swap.

This happened with manual swaps from the Azure portal as well

[2019-08-21 18:42] skttl commented on #6166
I could hack it in too - just thought it would be useful :)

The required fields are (IIRC) package url, package version (pre-filled at 1.0.0), author name and author url.

I would be equally happy, if the url fields got the current site url, and author name got the current user.

I only wan't to not have to fill out a lot of fields :)

[2019-08-21 23:55] theideasaler commented on #6160
I have tried several times with different images and always got the same results. I have no idea how come the height is `numeric 150 ` and the width is `string "150"` since all the result is returned by Umbraco without any customization at my client side. The only third-party plugin I have used for image storage is [UmbracoFileSystemProviders.Azure v2](https://github.com/umbraco-community/UmbracoF

[2019-08-22 07:10] nul800sebastiaan commented on #6168
I hope you have a really good reason for not using the cached version of these values, you really only want to use the contentservice is you must manipulate the data. As such, we don't provide convenient conversions.

[code]

Make sure to discuss in the forum if you need more help with this! 👍

[2019-08-22 07:10] #6168 closed

[2019-08-22 07:23] nul800sebastiaan commented on #6139
Attached is the full 2FA implementation including a dashboard for enabling and disabling Google Authenticator.

[2FA.zip](https://github.com/umbraco/Umbraco-CMS/files/3528795/2FA.zip)

There must be something else wrong in your setup since I can create an publish nodes just fine with this solution.

[2019-08-22 08:20] mistyn8 commented on #6168
Thanks for the response, so this is in the back office for a daily import of content, where another property is reliant on the existence of a specific tag.
So are you saying that any custom property will be returned as a string, no matter the underlying datatype, and that node.GetValue<TYPE> has no use? When using the contentService?

[2019-08-22 08:26] nul800sebastiaan commented on #6168
Honestly, I have no idea, there might be converters for things. But.. it's not something we encourage to use. If at all possible, I would recommend you look at the published content for tags, that will be cached and avoid all the database overhead.

[2019-08-22 08:29] mistyn8 commented on #6168
But some of the content we are importing and consolidating may not be published?

[2019-08-22 08:30] nul800sebastiaan commented on #6160
I can't find the 150 either in the FileSystemProvider source, really no idea where it comes from. I'll need to talk to some people at HQ to see who can help debug this. I'll get back to you when I know more.

If you want to keep  digging yourself until then, then that would be great if we can get closer to a reason!

[2019-08-22 08:31] nul800sebastiaan commented on #6158
Aah, I am getting all my versions confused, sorry about that! I have absolutely no idea what is going on then, it seems to be very specific to your sites, as I've not seen any other issues like this for v8.

Any chance you can send us a database (my email: sj@umbraco.dk) so we can investigate better?

[2019-08-22 08:34] nul800sebastiaan commented on #6168
So not at all possible :-)

I'll refer to the working code sample above!

[2019-08-22 08:48] NikRimington commented on #6155
PR's submitted, one for v7 and one for v8 😃

[2019-08-22 09:05] NikRimington opened #6172 "v8 - Link Picker errors upon re-opening when only a Query String / Anchor is provided."
When only adding a Query String or Anchor value to the Multi-Url Picker, if you go back in to edit the value it will throw an exception and not load the editor. This only seems to occur if you've not saved the page you are editing, however saving it seems to allow the editor to work.

I've been unable to identify where the error is being thrown but it relates to the URL being empty.

Umbraco versi

[2019-08-22 09:06] nul800sebastiaan commented on #6172
Hmmm, pinging @kjac - he did fix this but I guess not when you haven't saved the page? I guess it can't find the anchor anywhere because the page does not exist, so we need to just ignore that we can't find it.. or something? 🤔

[2019-08-22 09:08] soreng commented on #6160
@theideasaler do you have a crop defined that is 150x150?

[2019-08-22 09:21] IK1235 commented on #6158
I have the same problem. Upgraded from Umbraco 7.12.4 to 7.14.0 and then to 7.8.3.
Folders which I created on new version is ok, but not from old version.

I also use plugin Tinifier to optimize images.

[2019-08-22 10:06] ribsdigital opened #6173 "'allow items of type' in the multinode treepicker doesn't show media types when the 'node type' is set to media"
when setting the 'node type' of a new datatype based on the 'multinode treepicker' to 'media' the 'allow items of type' selection doesn't show media types.

Reproduction
------------
create a new data type with a property editor of 'multinode treepicker', select 'media' as the node type and click 'add'. the resulting list of content types are doctype based rather than media types.

![v8-mntp](http

[2019-08-22 10:22] nul800sebastiaan commented on #5983
Hey @kjac - I see I totally forgot to answer this! 🙈

Yes, definitely go for option 2!

[2019-08-22 10:23] nul800sebastiaan commented on #6173
Thanks, this has been reported in https://github.com/umbraco/Umbraco-CMS/issues/5983

Apparently, something was overlooked in all v8 versions where filtering by member and media types doesn't work.

[2019-08-22 10:23] #6173 closed

[2019-08-22 12:32] nul800sebastiaan commented on #3871
I guess we can close this now. :-)

https://github.com/umbraco/rfcs

[2019-08-22 12:32] #3871 closed

[2019-08-22 13:22] stevetemple commented on #6033
This also causes problems as you can pick folders if that is allowed, but it assumes everything will be an image so errors when trying get the value when both images and folders (or just folders are selected).

I'm able to reproduce on 8.1.3

[2019-08-22 13:25] kjac commented on #5983
I'll get on it 😀

[2019-08-22 13:45] kjac commented on #6172
I have been pinged 😂 will dive into it.

[2019-08-22 13:54] nickh364 commented on #6158
I just sent you a dropbox link for one of the DBs.

[2019-08-22 14:01] pwasik commented on #4896
Hi,
sorry to get back to this query so late.
We're on 7.12.4. The table is not present in the database, but have been in previous versions of Umbraco. Had it been removed or renamed to another by any chance?

[2019-08-22 14:42] PerplexDaniel opened #6174 "Saving ContentType with Segment variation throws NotSupportedException"
### Bug summary
When saving a ContentType with Variations set to ContentVariation.Segment, a NotSupportException is thrown. This also happens for PropertyType Variations.

### Steps to reproduce
Execute the following code in the Starter Kit.

[code]
### Expected result
ContentType is saved successfully and the database column "variations" is updated correctly in the cmsContentType table. Similarly

[2019-08-22 14:50] nul800sebastiaan commented on #6174
That's a nice feature request! 🙂

[2019-08-22 15:01] nul800sebastiaan commented on #4896
I see, this table was deleted in v7.7.0 - you should not have it in your database and you can just delete it, this is why the health check tells you about it, the table is invalid :-)

[2019-08-22 15:01] #4896 closed

[2019-08-22 15:05] nul800sebastiaan commented on #6174
This might serve as some inspiration, possibly: https://github.com/umbraco/Umbraco-CMS/issues/5148

[2019-08-22 15:18] bourpie opened #6175 "Sort state not persisted when using the back link"
When a listview is sorted, and you go to a document, the back link doesn't persist the sorted state

### Specifics

Umbraco version 8.1.1

### Steps to reproduce

![sort1](https://user-images.githubusercontent.com/4865432/63526956-41ef0000-c4ce-11e9-9914-c4a6aed7eb10.gif)
![sort2](https://user-images.githubusercontent.com/4865432/63527014-592ded80-c4ce-11e9-96fa-7bcc75874cf8.gif)
![sort3](https://

[2019-08-22 15:39] bourpie opened #6176 "Search state not persisted when using the back link"
When searching in list view, and then you go to a document, the search state is not persisted when returning to list view using the back link.

### Specifics

Umbraco version 8.1.1

### Steps to reproduce
1. Initial state
![search1](https://user-images.githubusercontent.com/4865432/63528463-fbe76b80-c4d0-11e9-983b-df9ebddacdd1.gif)
2. Search and go to document
![search2](https://user-images.github

[2019-08-22 17:42] sulmbrant commented on #6139
Thank you very much! It's working now. I however get an error 402 when doing the login
POST /umbraco/backoffice/UmbracoApi/Authentication/PostLogin 402 (Payment Required)

[2019-08-22 18:13] nul800sebastiaan commented on #6139
Cool! 402 is the response you get when you need to provide your second factor, this is normal and is how Umbraco works with 2FA.

[2019-08-22 18:27] kjac commented on #5983
@nul800sebastiaan PR in #6177. MNTP property editor support for the configured "allowed types" should be implemented later on (see the PR for details).

[2019-08-22 18:42] kjac commented on #6172
Fixed in #6178

[2019-08-22 19:04] #6172 closed

[2019-08-22 19:36] Zweben commented on #6157
@nul800sebastiaan

I found out something new regarding this issue: it's a lot broader than I thought. What's happening is that, in a property editor being used in a content node, clicking _any_ `<button>` HTML element causes the node to save. I still don't know why, but I thought this might warrant an upgrade from 'up-for-grabs'.

I tested this on a brand-new, completely empty 8.1.3 installation w

[2019-08-22 19:37] nul800sebastiaan commented on #6172
Cherry picked to 8.1.4 a2899b21b66b1bca9be193a03644596d6c94dc90

[2019-08-22 20:17] nul800sebastiaan commented on #6155
Cherry picked for 7.15.3 55d0ca25571f819e51caee1242483d8f9d511551
Cherry picked for 8.1.4 b396cc340cfdf0b1ea90ab3729a35758f435642c

[2019-08-22 20:17] #6155 closed

[2019-08-22 20:53] nul800sebastiaan commented on #6148
Cherry picked for 7.15.3 d2649e935489bb0a6a0395323c3254082f786c25
Cherry picked for 8.1.4 88145d70fc1cd919cebd0245ecc8ed0b0e1d967f

[2019-08-22 20:53] #6148 closed

[2019-08-22 21:34] #5984 closed

[2019-08-22 21:41] nul800sebastiaan commented on #5987
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/6010
Cherry picked to 8.1.4 703092c12c979a8902afe7676c18beade4005f99

[2019-08-22 21:41] #5987 closed

[2019-08-22 21:41] nul800sebastiaan commented on #5984
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/6010
Cherry picked to 8.1.4 703092c12c979a8902afe7676c18beade4005f99

[2019-08-22 21:41] nul800sebastiaan commented on #6141
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/6010
Cherry picked to 8.1.4 703092c12c979a8902afe7676c18beade4005f99

[2019-08-22 21:41] #6141 closed

[2019-08-22 23:45] theideasaler commented on #6160
Although I am not using any Crops in my Umbraco project, to make sure it is not related to my existing code, I have installed a brand new Umbraco v8.1.1 into a blank MVC project (.NET MVC 4.7.2)  and still get the same results with `numeric 150` height and `string "150"` for width.

[2019-08-22 23:48] nathanwoulfe commented on #6133
Turns out this was not the issue I thought it was - was caused by a bad merge in the tinyMce config when I upgraded from 7.8 to 7.15, which left the old umbracolink plugin in place. Updated the config and all is well. Plus I don't need to create any gifs.

[2019-08-22 23:48] #6133 closed

[2019-08-23 05:30] kjac commented on #6176
I can reproduce this and #6175. Took a bit of detective work, but I think I found it... Will report back later.

[2019-08-23 06:56] PerplexDaniel opened #6179 "SetValue without segment on segmented content type fails"
### Bug summary
Trying to call SetValue on an IContent based on a content type with its "Variations"-property set to `ContentVariation.Segment` without providing a value for the segment parameter results in Umbraco not saving the property value and throwing a NotSupportedException:
`Variation "<null>,<null>" is not supported by the property type`.

When Variations is set to `ContentVariation.Cultu

[2019-08-23 06:56] #6097 closed

[2019-08-23 07:08] nul800sebastiaan commented on #6097
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/6153

[2019-08-23 07:11] #6045 closed

[2019-08-23 07:12] nul800sebastiaan commented on #6045
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/6074

[2019-08-23 08:01] PerplexDaniel opened #6180 "Content properties are empty when current segment is null on segmented content type"
### Summary
When a content type is set to ContentVariation.Segment, property values of the IPublishedContent are all empty when the current segment is null. In this case it is possible to read segmented property values, using `@Model.Value("heroHeader", segment: "s1")`. It appears when ContentVariation.Segment is set, you can *only* read segment values, and not the unsegmented values, i.e.
`@Model

[2019-08-23 08:28] nul800sebastiaan commented on #2923
With the progress on the newly proposed Block Editor I'll close this one, please refer to: https://github.com/umbraco/rfcs/pull/12

[2019-08-23 08:28] #2923 closed

[2019-08-23 08:33] NikRimington opened #6181 "Feature - Reduce the number of "content" pickers down to only Multi-Node Tree Picker"
So I've been thinking about whether it is worth having the following 3 pickers:

- Content Picker
- Media Picker
- Multi-Node Tree Picker

The functionality of both the content picker and the media picker are present in the Multi-Node Tree Picker and it would make sense if we removed the Content and Media pickers. MNTP is a much more flexible picker and with a few tweaks to it (for example enablin

[2019-08-23 08:59] nul800sebastiaan commented on #5115
I'll close this one as we're not putting any new features into v7 any more.

[2019-08-23 08:59] #5115 closed

[2019-08-23 09:00] nul800sebastiaan commented on #5060
See #5115 :)

[2019-08-23 09:00] #5060 closed

[2019-08-23 09:23] nul800sebastiaan commented on #6181
Initial thoughts: maybe in the future..

- Currently MNTP can not filter out media/member types, which is a bug that needs fixing.
- Then we need to make sure MNTP has the best user experience. In the past it used to be less elegant than the separate pickers (but I haven't compared them side-by-side recently)
- Phasing out the old ones can be done quite easily, we did this in v7 as well, Legacy da

[2019-08-23 09:24] vishalno opened #6183 "Media Slide Save Issue on 8.1.2 after upgrading from 7.15.1"
Hi,

I have created a folder in Media and added a slide to the folder. And after i select a Picture and a Picture Mobile and click save i get an error.

Received an error from the server
An error occured
Cannot assign value "umb://media/b469b98186204780add063cdce49efbb" of type "System.String" to property "picture" expecting type "System.Int32".

Exception Details
System.InvalidOperationException:

[2019-08-23 09:27] vishalno opened #6184 "Multi Url Picker causes deserialization issue when Maximum is set in Multi Url Picker"
Hi,

I have a multi url picker and when i set a maximum of 1 to it, i am not able to read the value. For now i have removed the maximum (set it to 0)

Error:
Newtonsoft.Json.JsonSerializationException: 'Cannot deserialize the current JSON object (e.g. {"name":"value"}) into type 'System.Collections.Generic.IEnumerable`1[Umbraco.Web.PropertyEditors.MultiUrlPickerValueEditor+LinkDto]' because the ty

[2019-08-23 09:36] vishalno commented on #6183
As i see slide is a media type, i had to select the media picker property again in the media type and save. Now it works.

[2019-08-23 09:36] #6183 closed

[2019-08-23 09:40] nul800sebastiaan commented on #6184
Hey there @vishalno - many people use the Multi URL Picker successfully in this way, so I'm assuming there's something going wrong in your setup.

Make sure to follow the code samples in the documentation: https://our.umbraco.com/documentation/getting-started/backoffice/property-editors/built-in-property-editors/Multi-Url-Picker/ and note there is a specific code snippet for when you configure a m

[2019-08-23 09:40] #6184 closed

[2019-08-23 09:40] Matthew-Wise commented on #6181
Have to say I cant recall the last time  I used a Content Picker. Like this idea of one picker to rule them all!

[2019-08-23 09:45] mzajkowski commented on #6181
The only reason why I sometimes used a single one, was a need for strongly casting it into a single object rather than collection of objects. Of course it might be sorted using the value converter, but might be also worth to adjust the MNTP "global" converter to return single object when settings assumes to select only 1 item. Just an idea.

+1 for the unification!

[2019-08-23 10:34] facingdigital opened #6185 "Search an element from its GUID with the backoffice"
When an error occurs during the restore caused by a mismatch structure, or the status of a document, the message indicates always the GUID et not always the ID.
Therefore, we must use the database to find quickly the item causing the problem...

It could be very cool to use the main search engine to find a document, a media, a content type, a form etc... from the GUID... (with or without "-")

Tha

[2019-08-23 10:37] ronaldbarendse commented on #6181
Just like the `Umbraco.MultiUrlPicker`, this should be added as new data editor with a new value converter (the other editors can then optionally be marked as depreciated). The same features could also be added to the Multi URL Picker: https://github.com/umbraco/Umbraco-CMS/pull/2323#pullrequestreview-194926635 and https://github.com/umbraco/Umbraco-CMS/pull/5449 (this PR got closed as v7 won't in

[2019-08-23 10:49] nul800sebastiaan commented on #6185
Thanks, I think this duplicates this issue, and agreed that is a good idea! https://github.com/umbraco/Umbraco-CMS/issues/4019

[2019-08-23 11:13] alikazai commented on #6181
Its a cool idea but would like to have a switch in the new multi node tree picker to be able to select media only, so editors don't try and put links where and image is suppose to go. 😄

[2019-08-23 11:15] nawrockijakub opened #6186 "Markdown editor - list items include additional spacing"
When filling in multiple list items in markdown editor and separating them, the item just below the line break also has spacing on the bottom as if another line break was inserted below it.

### Reproduction

Create a new document type, add any property with the input being the markdown editor (default datatype/editor), then fill in said property in the backoffice Content tab with any number of li

[2019-08-23 11:54] nul800sebastiaan commented on #6133
😂

Thanks for the update mate!

[2019-08-23 12:08] nul800sebastiaan commented on #6186
Hey @nawrockijakub - that's weird. Not sure how that preview is generated, might be some bug in the javascript there. If you have any idea where the problem comes from or how to fix it then some help would be much appreciated!

[2019-08-23 12:26] stevemegson commented on #6158
`cmsMedia` has (sort of) become `umbracoMediaVersion` in v8. If your database had missing rows in `cmsMedia` that would cause #5848 in 7.15, then the migration to v8 will leave missing rows in `umbracoMediaVersion` which cause the same problem. As with the fix for 7.15, changing `EntityRepository` to use a left join should do the trick.

As a workaround, this fixed the missing folders for me in v8

[2019-08-23 14:13] Zweben opened #6187 "Clicking any <button> element triggers 'save' action in 8.1.3"
Clicking any `<button>` element on a backoffice page with a 'save' button triggers that save button in Umbraco 8.1.3.

Reproduction
------------

### Bug summary

Clicking any `<button>` element on a content, media, document type, data type, template, page, or any other backoffice page with a 'save' button, triggers a 'save' action.

### Steps to reproduce

Option A: Add a `<button>` element to a

[2019-08-24 04:38] kjac commented on #6181
From a maintenance perspective this makes a lot of sense.

However, from a developer perspective (and specially a newcomer's perspective) it would probably be much better to get rid of MNTP and implement all MNTP features in Content Picker, Media Picker and a new Member Picker. It is just a lot more intuitive to create properties designated to picking specific types than it is creating MNTP proper

[2019-08-24 06:23] Dannisgaard opened #6188 "HealthChecks problem after Umbraco upgrade umbraco from v7.5.8 to v7.14"
Hi
I have a problem after Umbraco upgrade umbraco from v7.5.8 to v7.14

After IIS is restarted i get this error page:
"Could not load the Umbraco.Core.Configuration.HealthChecks.IHealthChecks from config file, ensure the web.config and healthchecks.config files are formatted correctly"

healthchecks.config looks fine
and there is no erros in web.config.

Any sugestitons?

Reproduction
------------

[2019-08-24 10:40] abjerner commented on #6188
Hi @Dannisgaard,

How did you upgrade your Umbraco site? Did you do this manually, or via NuGet?

Umbraco 7.5.8 didn't have have a separate config file for health checks. Starting from line 11 in the main `Web.config`, a fresh install via NuGet has the following block:

[code]

The separate config file was introduced some time before 7.14. If I do a fresh NuGet install of 7.14 looks like this (now

[2019-08-24 12:17] drbldgtl commented on #5857
Also seeing this in 7.15.2

[2019-08-24 17:56] Dannisgaard commented on #6188
Hi abjerner
Thanks for your input.
I have upgraded  manually, and there was something a have missed in web.config.
Now it is working :-)

Thanks

[2019-08-24 18:36] kjac commented on #6176
PR in #6189

[2019-08-24 18:36] kjac commented on #6175
PR in #6189

[2019-08-24 20:03] abjerner commented on #6188
Great to hear it works 👍

[2019-08-24 20:03] #6188 closed

[2019-08-25 15:15] John-Blair commented on #5802
Odd that so many people are having trouble getting a Url for a node especially in v8. You would think it would be one of the simplest things to get...in Umbraco they have made it unbelievably difficult...e.g. even in the publishing event they give you an IContent with no url property -  instead of a IPublishContent...unbelievable.

[2019-08-25 18:21] riteshravlani commented on #5053
I am also getting the same error while publishing content. I am using SQL Server 2016 Release candidate.
I have tried using with Nuget Installation as well with downloading the zip but not working with both.

[2019-08-25 18:42] stevemegson commented on #5803
I've submitted a number of improvements in PR #6191.

My testing on a SQL Server database with 1.6 million rows of cmsPropertyData now completes in around 20 minutes (I don't have a complete 'before' test to compare to, but I abandoned one after leaving it overnight).

### Possible further changes
The remaining bottlenecks are mainly transferring large amounts of data to and from the database, whi

[2019-08-25 20:59] nathanwoulfe commented on #6181
I agree with @kjac on this one - mntp isn't the most intuitive. There's a tipping point too where while it might make sense to combine everything, we'd end up with one monolith picker responsible for everything and harder to maintain, update and modify.

Do agree though that multiple content pickers is a bit messy and could be cleaned up.

[2019-08-25 21:30] stevemegson commented on #6187
This seems to be the correct result, albeit a bit surprising. A `<button>` with no `type` attribute specified acts as a submit button, and the custom property editor is inside a form that triggers Save when submitted. A `<button type="button">` gives a button that does nothing when clicked.

[2019-08-25 22:46] stevemegson commented on #5831
I can see a couple of ways to trigger this. The obvious one is to start with two versions of the same content in `cmsDocument` with `newest`=1.

[code]

The more subtle issue is `cmsContentVersion` containing document versions with no matching row in `cmsDocument`.

[code]

The migration to v8 will assume that the orphaned version is media, and set `current`=1 on it. The current test for "non-docu

[2019-08-26 04:42] viksohal opened #6193 "Core Multi Url Picker doesn't work inside Macro"
Hi @nul800sebastiaan  , There is still an issue with the link picker when used in a macro, "ignoreUserStatusNodes" comes as null, I did a null check for this and that has fixed it but that js file will get overwritten with a clean build. This is the error we are getting.

TypeError: Cannot read property 'ignoreUserStartNodes' of null
at Object.$scope.openLinkPicker (umbraco.controllers.js?cdv=2019

[2019-08-26 07:34] umbracowulser commented on #5802
I don't know if there are any indications that:

In fact I find it easy to find the URL once a node is published. What I am requesting here is simply an indication of what the URL would be, when I do publish the node.

Right now, the place where I would find the URL is not really providing any information on an unpublished node, and I simply thought that space could be utilized to provide some hel

[2019-08-26 08:27] John-Blair commented on #5802
As an example of how difficult it is to find the url of a published node.

I create a component and subscribe to the ContentService.Published event. I now have to inject IUmbracoContextFactory umbracoContextFactory into the component in order to get the published content - I don't consider that easy. Code fragment below.:

`using (UmbracoContextReference contextReference = _umbracoContextFactory.E

[2019-08-26 08:29] umbracowulser commented on #5802
Ah, then we are talking about two different issues.

I am looking at this from a content editor perspective.

[2019-08-26 08:41] nul800sebastiaan commented on #5802
@John-Blair `IContent` deals with content from the database which is not necessarily published. `IPublishedContent` has a `Url` property you can use.

What Martin is proposing would probably become a extension method on `IContent` to "calculate" a future URL once the item will be published. Note that this is an expensive operation and should not execute for each `IContent` item automatically.

[2019-08-26 08:49] John-Blair commented on #5802
@nul800sebastiaan what I don't understand is why ContentPublishedEventArgs.PublishedEntities returns IContent instead of IPublishedContent as the latter would make the Url readily available. Thanks.

[2019-08-26 09:07] nul800sebastiaan commented on #5802
It has never done this, also not on v7. We're dealing with events that require live data from the database, which is what the events system is made for. :)

To be fair, `PublishedEntities` is the one event could return an `IPublishedContent` as well but that would mean overhauling all of the events to include this information, which is not possible without some breaking changes.

[2019-08-26 09:10] nul800sebastiaan commented on #5053
Unfortunately I am unable to reproduce the problem in SQL Server 2016, works great here. I would advice you [to head to the forums and ask for some help there](https://our.umbraco.com), I am assuming there's something not quite right with your setup.

[2019-08-26 09:12] nul800sebastiaan commented on #6187
Indeed! I will re-open #6157 instead so we can that the tree can have a `type="button"` on each `<button>` element. That should help with your custom property editor.

[2019-08-26 09:13] #6187 closed

[2019-08-26 09:15] nul800sebastiaan commented on #6157
The issue, as found in #6187 is that the `type="button"` attribute is missing from the buttons in the tree. I do not know the implications of adding that attribute for accessibility though, this will need to be tested. As far as I remember, the tree elements were changed from an unordered list to a list of buttons to make it more useful for people who use software related to impaired vision.

[2019-08-26 09:17] nul800sebastiaan commented on #6193
Sure, sounds great to add a null check there, we'd be happy to look at a fix if you could send us one? :)

[2019-08-26 10:01] stevemegson commented on #6186
This is a "feature" of Markdown. The original description says "If list items are separated by blank lines, Markdown will wrap the items in \<p\> tags in the HTML output." This leaves it unclear what should happen if only some items are separated by blank lines. [This tool](https://babelmark.github.io/?text=-+List+item+1%0A-+List+item+2%0A%0A-+List+item+3%0A-+List+item+4) reveals two popular imple

[2019-08-26 10:18] nul800sebastiaan commented on #6186
I think the problem here is mostly the difference between the editor and the preview of the editor (and I don't know what the published version looks like in this case). I think the "fix" here is to make sure what is in the editor is also in the preview and also what is displayed on the frontend in the published version.

I agree, we should not change behavior and change resulting markup as people

[2019-08-26 10:22] balintbako opened #6194 "The configuration for data type xxxx: Umbraco.MarkdownEditor is invalid after v8 migration"
Editor JSON configuration created incorrectly when upgrading from 7.15.1 to 8.1.3.
I get the following exception when opening a page with a Markdown Editor on one of its properties after the upgrade:
[code]

Reproduction
------------

The database changes are the following:
Pre-upgrade data:
pk	nodeId	propertyEditorAlias	dbType
91	1118	Umbraco.MarkdownEditor	Ntext

id	datatypeNodeId	value	sortorde

[2019-08-26 10:43] balintbako opened #6196 "Root media folder "Images" not visible after v8 migration"
After migrating from v7.15.1 to v8.1.3 the root Media folder, called "Images" is not visible in the Media tree but it is visible in the Media list.
I have added a 2nd root folder called "Test" and that is visible in the tree and the list, but Images is still only visible in the list.
This is not consistent and both should be visible in the tree and the list as well.

Node Data:
id	trashed	parentID

[2019-08-26 10:54] stevemegson commented on #6196
Have a look at #6158. Media folders created before 7.8.0 didn't show up in the tree in 7.15.0. This was fixed in 7.15.1, but v8 needs a similar fix.

[2019-08-26 10:58] balintbako commented on #6196
Seems to be duplicate of #6192

[2019-08-26 11:14] stevemegson commented on #6186
I'm getting the same markup in the preview and the template:

[code]

is converted to

[code]

[2019-08-26 12:08] bourpie opened #6198 "Tabs disappearing act!"
A collegue of mine sent me this screen capture. I have not been able to reproduce it. Has this happened to anyone?

![tabs-are-missing](https://user-images.githubusercontent.com/4865432/63689703-b086d300-c7d8-11e9-81cb-d8d42b42184b.gif)

[2019-08-26 12:09] Zweben commented on #6157
@nul800sebastiaan Thanks Sebastiaan, appreciate the attention to this.

[2019-08-26 12:10] Zweben commented on #6187
Ah, wow, I would've never thought of that, but it makes sense. Thanks for pointing it out.

[2019-08-26 12:15] abjerner commented on #6198
Hi @bourpie,

What version of Umbraco 8 is this?

And do you by any chance have a screenshot of the full page (that would help with debugging)? The screenshot doesn't show the right part the the screen/monitor, which should be where the tabs are located.

[2019-08-26 12:41] filefontaine opened #6199 "V8.1 bug on url generation with invariant page"
URLs to invariant pages should be generated like this:
 - FR: `/fr/someNameInFrench/pageNameInFrench`
 - DE: `/de/someNameInGerman/pageNameInGerman`.

But when you generate this URL with `IpublishedContent.url` and `IpublishedContent.getUrl()` or through the `RTE Link`, the URL is not right. It generates a mix between the FR and DE URLs.
For example a DE URL is like this: `/de/someNameInFrench/pag

[2019-08-26 13:13] stevemegson commented on #6194
The migration of data type configuration knows which prevalues should be parsed as bool or int, but MarkdownEditor was missing. I've added it in #6200.

[2019-08-26 14:44] codyb11989 opened #6202 "MediaFactory - MediaPathPattern hardcoded to media"
I changed the umbracoMediaPath config variable and the mediaPath column in cmsMedia table is always NULL.

Reproduction
------------

I changed the default media folder. Adding new media gives me NULL value in cmsMedia table column mediaPath

### Bug summary
#### MediaFactory.cs - Regex MediaPathPattern
 - Doesn't take the config variable into account for the Regex

### Specifics

v.7.15.1

`priva

[2019-08-26 16:28] tompipe opened #6206 "Migrations: Running a SQL script within a migration to create a parameterized stored procedure throws an error"
When attempting to execute a SQL script within a migration to create a stored procedure, the regular expression within `Umbraco.Core.Persistence.Database.rxParams` is too greedy, and is wrongly matching parameters within comments and within CREATE PROCEDURE statements.

The specific error thrown is:

`at Umbraco.Core.Persistence.Database.<>c__DisplayClass32_0.<ProcessParams>b__0(Match m)
   at Sys

[2019-08-26 22:58] viksohal commented on #6193
Hi @nul800sebastiaan ,

I am attaching the umbraco.controllers.js file with the fix on line 16192
[umbraco.controllers.txt](https://github.com/umbraco/Umbraco-CMS/files/3543433/umbraco.controllers.txt)

Thanks

[2019-08-26 23:10] bourpie commented on #6198
Unfortunately that's what I got from my friend. Sorry. I asked her to come
get me next time it happens. Apparently, it happened a few times when she
came back after some time of no activity.

Le lun. 26 août 2019 8:15 a.m., Anders Bjerner <notifications@github.com> a
écrit :

[2019-08-27 06:41] abjerner commented on #6198
@bourpie Ok - no worries. I'll close the issue for now as I can't reproduce it.

If your colleague comes back with more information, we can re-open the issue and have another look at it 😉

[2019-08-27 06:41] #6198 closed

[2019-08-27 07:17] nul800sebastiaan commented on #6158
Oh yes, that's a great fix! Thanks @stevemegson - I know you love this stuff, if you want to whip up a PR to help out? 👍

[2019-08-27 07:18] nul800sebastiaan commented on #6196
Yep, that's the same issue. I'll close as a duplicate of #6158. 👍

[2019-08-27 07:18] #6196 closed

[2019-08-27 07:25] nul800sebastiaan commented on #6206
I guess we never really considered people creating stored procedures.
It would probably need to be fixed by ignoring the parameters if the SQL starts with `CREATE PROCEDURE` or maybe you could escape the @ signs somehow, not sure.

This probably also only applies to SQL Server as MySQL and SQL CE don't support stored procs I think.

Happy to look at a contribution if you want to make one!

[2019-08-27 07:29] bourpie commented on #6198
I understand. Thank you.

Pierre

Le mar. 27 août 2019 2:42 a.m., Anders Bjerner <notifications@github.com> a
écrit :

[2019-08-27 07:52] tompipe commented on #6206
Hey Seb,

Thanks for the reply, I thought it would be the case, but raised it anyway, hoping I would get time to come back to it, or someone else could pick it up in the meantime.

I managed to sort a workaround which seems to work, and bypasses the regex parameter processing, so all's good for now, there's always multiple ways to get something done :)

[code]

[2019-08-27 08:07] tompipe commented on #6206
Looks like they do work, despite t'internet saying it's not supported! 😕🤷‍♂️

![image](https://user-images.githubusercontent.com/629719/63752875-e47df900-c8a9-11e9-81fd-6a22fa70d442.png)

[2019-08-27 10:22] dawoe commented on #6206
Hi Tom,

I see you are using a mdf file. That is probably SQL LocalDB which supports stored procedures.

SQL Ce has a .sdf extension.

I just looked in a project where we use migrations to create stored procedures. I think you need to use a double @ for your parameters

Like this

`Execute.Sql("CREATE PROCEDURE [dbo].[Test_Procedure] ( @@Application NVARCHAR(60), @@Id UNIQUEIDENTIFIER ) AS Select

[2019-08-27 10:51] stevemegson commented on #6206
Escaping as `@@` should do the trick. We could also assume that any command with no arguments provided shouldn't contain any parameter names, and automatically escape any unescaped `@`.

[2019-08-27 11:42] leekelleher commented on #6181
I'm with @kjac on this one too. In terms of simplicity, having a separate Content, Media and Member Pick would be much more intuitive.

_[insert some clever comment about "cognitive load" here]_ 😝

As much as I love and use MNTP _(and that I was its steward back in its uComponents days)_, I now feel that it does too much for a single property-editor. I can't recall ever using MNTP for picking Medi

[2019-08-27 11:49] nul800sebastiaan commented on #6166
I just realized.. you can get exactly what you want already! Just update createdPackages.config with your defaults and you're good to go, reload created packages in the backoffice after you do that and edit the parts that need updating!

I'll close this issue! :-)

[2019-08-27 11:49] #6166 closed

[2019-08-27 12:21] AlexandreLocas opened #6207 "Properties in nested contents are displayed as json in default listview layout"
The default listview layout does not display properties inside nested contents. Instead they are displayed as json wich is unusable for end users. If these properties are made available when customizing the listview they should render correctly.

![2019-08-26 13_52_02-GuichetUnique CMS - Microsoft Visual Studio  (Administrator)](https://user-images.githubusercontent.com/29312983/63770629-9b2aab00-

[2019-08-27 13:38] warrenbuckley commented on #5827
Umbraco Version: 7.15.2
SQL Server (not CE DB)

![image](https://user-images.githubusercontent.com/1389894/63775551-7819ee80-c8d7-11e9-9f3c-6d901d111ed5.png)

[2019-08-27 13:54] warrenbuckley commented on #5827
@nul800sebastiaan & myself are unable to repro this. So closing this

[2019-08-27 13:54] #5827 closed

[2019-08-27 14:31] #6060 closed

[2019-08-27 14:48] Swimburger opened #6210 "IPublishedContent.Value() with defaultValue doesn't return defaultValue"
I upgraded my Umbraco instance from 7.15 to 8.1.3 which was successful.
Though, one particular section of the site started to malfunction due to a changed behavior in 7 vs 8.
The defaultValue isn't returned anymore as it was before. An empty string is returned in my case for a dropdown list. For a decimal field, 0 is returned instead of the defaultValue.

Reproduction
------------

If you're filin

[2019-08-27 14:57] #6207 closed, assigned to nobody

[2019-08-27 14:59] nul800sebastiaan commented on #6210
Interesting, this seems like an oversight somewhere. If you'd like to dive in then we're happy to look at a contribution!

[2019-08-27 15:25] nul800sebastiaan commented on #6207
True, but the solution needs to be similar to #5545, there probably needs to be some kind of conversion from custom datatypes to list views, if possible. Looks like it's not easy and I personally doubt it will happen any time soon. :)

[2019-08-27 16:39] stevemegson commented on #6210
The problem is the `fallback` parameter, which defaults to `Fallback.None` if not specified. To get the expected behaviour, you need
[code]

That's not immediately obvious, and even when you know what to do it's unnecessarily verbose. We should be able to infer from the presence of `defaultValue` that you want to use it.

Unfortunately this isn't entirely straightforward since we need to be able t

[2019-08-27 16:55] dotbenstar commented on #5601
I've just had version 7.15.2 deployed for testing and this issue is not fixed.

Using a Single URL Picker data type, you cannot link to an anchor.

#5295 fixes it so that when using the rich text editor, you can now link to anchors on the same page without having to fill out the internal link in full (traversing the site tree for the page you're already on.) That fix is lovely.

The issue i was ra

[2019-08-27 17:28] zpqrtbnk commented on #6210
The problem is with... what's a value and what's not a value. For a string, passing a non-null string as `defaultValue` _probably_ means that we should `Fallback.ToDefaultValue`. But for an integer... how do we make a difference between passing `0` explicitely as a default value, and `0` being `default(int)` as in, no default value was specified?

Remember that in C# we have no way to know whether

[2019-08-27 18:01] kjac commented on #6210
Actually this is by design in V8 😄 you must explicitly specify which fallback mechanism to use (you can use multiple in whichever order you want).

[The docs](https://our.umbraco.com/documentation/getting-started/design/Rendering-Content/#using-fall-back-methods) describe this very well 👍

[2019-08-27 18:02] kjac commented on #6210
For future reference, the [docs](https://our.umbraco.com/documentation/getting-started/design/Rendering-Content/#using-fall-back-methods) do describe this very well.

[2019-08-27 18:04] stevemegson commented on #6210
I was hoping to add an overload with no `defaultValue` parameter, so the compiler would tell us whether or not the parameter was passed. As I feared, overload resolution won't cooperate. If we define these two:

[code]

then simple calls like `.Value<T>(string)` become ambiguous between the two. Overload resolution won't make a decision based on how many default values it has to fill in.

[2019-08-27 18:29] #6210 closed, assigned to nobody

[2019-08-27 18:43] skttl commented on #6166
Awesome - but there is no createdPackages.config in a blank site, it doesn't show up until you create a package, and then it contains the package you created.

How do you do it?

[2019-08-27 18:48] stevemegson commented on #6210
If we can't have `content.Value<string>("category", defaultValue: "none")` quietly do the right thing, could we throw an explanatory exception? That would limit the unexpected behaviour to cases where you deliberately pass in `default(T)` and the property editor has some other default value like an empty IEnumerable.

[2019-08-27 19:05] BatJan commented on #6181
I agree with @kjac and @leekelleher on this one too - I don't ever recall having used MNTP for selecting anything but content nodes. Having specific pickers will allow for more specific user experiences when picking content, media or members as Lee also mentions.

[2019-08-27 19:41] abjerner commented on #6181
As already mentioned a few times now, individual pickers seems to be the right way to go. And for the reasons already mentioned 👍

However whatever the outcome is, I hope that the logic for this will be isolated into directives rather than live in a regular controller. For instance the content picker property editor could simply use the `<umb-content-picker />` directive. Using directives would al

[2019-08-27 20:01] stevemegson commented on #5827
I think this can only happen if you create a macro and never save it, leaving NULL in all four columns that the migration checks for a source.

While this should be an obscure edge case, I've included a fix in PR #6212 while making some other changes to the migration.

[2019-08-27 22:19] rasmuseeg opened #6215 "Replace Ace with Monaco Editor (VS Code)"
Hi i would like to suggest the change, to replace Ace with Monaco Editor instead.

I was able to get a sample running as a umbraco property in less than an hour.

Live running sample: https://microsoft.github.io/monaco-editor/

Samples: https://github.com/microsoft/monaco-editor-samples

Their api documentation is great: https://microsoft.github.io/monaco-editor/api/index.html

There is support fo

[2019-08-28 08:49] nul800sebastiaan commented on #6215
Could be lovely, especially with real C# support and possible future code completion.

Yes of course... now consider the whole project! 😉

Buttons
![image](https://user-images.githubusercontent.com/304656/63840123-cd5e0a80-c980-11e9-9306-0625ec37170a.png)

Keyboard shortcuts
![image](https://user-images.githubusercontent.com/304656/63840136-d51daf00-c980-11e9-9c66-a488e215a2ef.png)

Insert things

[2019-08-28 10:51] nul800sebastiaan commented on #5987
Attached I've added a dll with a workaround for this issue. It is a PropertyValueConvertor that overrides the default on in Core. I had to name it `Umbraco.Tests.dll` because I needed to access some internal methods in Umbraco.

If you need this, please make sure to drop this dll in the bin folder and do not forget to remove it when you upgrade to 8.1.4 (coming out soon!).

[Umbraco.Tests.dll.zip]

[2019-08-28 11:21] nul800sebastiaan commented on #6199
It looks like the problem here is that the RTE link picker doesn't know how to determine the language, we only store the UDI and not the actual culture we picked. When we construct the link we take the default language.

[2019-08-28 11:32] nul800sebastiaan commented on #6199
You can even see that the ALT text is correct, but the link is wrong. However, if I had a language switcher on the frontend and switched to the Dutch version of the site, I would get the links to the Dutch version.

So I guess the picker is confusing, but it might be the expected behavior? Not sure..

![6199](https://user-images.githubusercontent.com/304656/63852188-0786d680-c998-11e9-8a34-5e9205d

[2019-08-28 11:33] filefontaine commented on #6199
I spotted the error with `IpublishedContent.url` and `IpublishedContent.getUrl() ` too. But i can put the culture parameter on `IpublishedContent.getUrl(CurrentCulture) `.

[2019-08-28 11:36] nul800sebastiaan commented on #6199
Ah I see the problem now, when I set a hostname (http://localhost:6517/) and language to Dutch, the returned URL is still the English one, so that is definitely wrong on the frontend.

[2019-08-28 11:43] JannesMeyer commented on #5987
Thanks very much @nul800sebastiaan for fixing this!

I am looking forward to the 8.1.4 release.

[2019-08-28 11:44] nul800sebastiaan commented on #5987
All praise needs to go to @stevemegson for finding this and fixing the problem! 🎖 🏅 🥇 👍

[2019-08-28 13:45] jveer opened #6217 "Preview not working with remove trailing slash"
Preview not working when removing trailing slashes via web.config:
[code]

PR incoming

[2019-08-28 13:57] nul800sebastiaan commented on #6217
Thanks for the PR, I left a comment. Also, you do know about the `<addTrailingSlash>true</addTrailingSlash>` setting in umbracoSettings.config? If you change the default to false, Umbraco shouldn't add any trailing slashes by default.

[2019-08-28 14:34] enkelmedia commented on #6021
I have the same issue when I try to publish a parent based after a child has changed.

[code]

[2019-08-28 15:17] martinjgriffiths opened #6219 "isDirty appears to be unreliable for Umbraco.DropDown.Flexible"
Make a change in a Dropdown and save and publish.

Sometimes you can navigate away, sometimes you get the unsaved changes request.

Tested in latest 7.15.2.

[2019-08-28 15:25] nul800sebastiaan commented on #6219
Sure, if there's a problem it should be fixed! Can you reproduce, any steps to repro?

[2019-08-28 17:05] kjac commented on #6217
If this is V8 related, I beg to differ. If you remove trailing slashes by means of Umbraco config, preview works just fine. At least that's my experience 🙂

[2019-08-28 17:52] stevemegson commented on #5847
PR #6195 implements the 7.14 behaviour for 7.15, with a migration to fix up the cmsMedia table for existing media.

PR #6221 does the same for 8.1, and also provides a way for other property editors to supply the media path.

[2019-08-28 20:00] patrickdemooij9 opened #6223 "Duplicate group validation with inherited groups"
Currently there are some things that aren't really working as you would expect:

I'll use an example document type to better show what is going wrong:

Doctype:
Group1 (Name = "Data", Not inherited)
Group2 (Name = "Page Information", Inherited)
Group3 (Name = "Content", Inherited)
Group4 (Name = "Data", Not inherited)

So now the problems:
Problem 1:
Group 4 will cause a validation error meaning I

[2019-08-28 20:09] stevemegson commented on #6021
`ClearBranchLocked` includes this loop through the node's children:

[code]

Usually this works, but in some situations the recursive call to `ClearBranchLocked` will set `link.Value` to null rather than inserting a new link with a null value. Then we hit a null reference when we try to read `NextSiblingContentId`.

Instead, we can read `Value` once, so that we're not affected if it's changed late

[2019-08-29 09:44] martinjgriffiths commented on #6219
I'll send over a vid clip once the company I work for allows me to have a screen recorder on my PC!

[2019-08-29 09:59] nul800sebastiaan commented on #6193
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/6211
Cherry picked for 7.15.3 in 4ef55aa7d09be28f10758ffb289974b59387ec98 / 3c7580ff7bfc87755295ece629757ae6746956ef
Cherry picked for 8.1.4 in 979190796e503c446fb6cb17e37ad1a3eed183dd

[2019-08-29 09:59] #6193 closed

[2019-08-29 10:18] arknu opened #6224 "Error upgrading due to SecurityStamp being null"
I was upgrading a 7.2.8 site to 7.15.2 and had the usual problem of not being able to log in. So I started to investigate. It turns out the problem is this line:
[code]

On upgrading the SecurityStamp is null, which causes the Claim constructor to throw an exception. And in turn this causes the login to fail.

I fixed this by modifying the above code this this:
[code]

What this does is just use a

[2019-08-29 10:37] vaags commented on #3850
I could reproduce this in v8 as well.

[2019-08-29 10:38] nul800sebastiaan commented on #6202
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/6205
Cherry picked for 7.15.3 f5a445101d88c632965c17d1e8b0b68e181696ed

[2019-08-29 10:38] #6202 closed

[2019-08-29 10:45] zpqrtbnk commented on #3850
A "route" as used by `GetByRoute` is not 100% the url path.

If no hostname is configured, then the route would be `/path/to/page` - however if a hostname is configured, then the route becomes `1234/path/to/page` where `1234` is the ID of the node carrying the hostname.

Therefore, once a hostname is configured, you cannot really use `GetByRoute` the way you are trying to.

[2019-08-29 11:23] vaags commented on #3850
Thanks for the quick reply! I got it working :)

In my case I don't actually have a custom hostname, but a path for each language (```/english```, ```/norwegian``` etc). So, to get it working, I also had to remove the language from the path. Or else the path will be ```1234/english/path/to/page```, which does not work.

[2019-08-29 11:30] nul800sebastiaan commented on #5907
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/5938
Cherry picked for 7.15.3 e92631c623aac925ce3b4571ee7f964b6f6f5ace

[2019-08-29 11:30] #5907 closed

[2019-08-29 11:36] nul800sebastiaan commented on #5771
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/5794 and https://github.com/umbraco/Umbraco-CMS/pull/5795

Cherry picked for 7.15.3 d152cf076fa8138b706367a14f9dd58c9c33bea6
Cherry picked for 8.1.4 18c02987204f0d14c9a93029ef3a96e34369dbc4

[2019-08-29 11:36] #5771 closed

[2019-08-29 11:38] nul800sebastiaan commented on #5769
Fixed in #5777
Cherry picked for 7.15.3 4c5365de1c60178f44bf132872cd54d883fb8c50

[2019-08-29 11:39] #5769 closed

[2019-08-29 11:44] #5975 closed

[2019-08-29 11:45] nul800sebastiaan commented on #5975
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/6004 and https://github.com/umbraco/Umbraco-CMS/pull/6005

Cherry picked for 7.15.3: c6e32019c618df66b7760478f2977b913fbca383
Cherry picked for 8.1.4: c7cb3f81f4da891898cf009c6bf00ea08fedd562

[2019-08-29 11:59] nul800sebastiaan commented on #5827
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/6212
Cherry picked for 8.1.4 507c82f12237daa01f1c52ed04961e5f89673e76

[2019-08-29 12:07] #6164 closed

[2019-08-29 12:08] nul800sebastiaan commented on #6164
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/6201

Cherry picked for 8.1.4 742105594e274d913f9254a7d01daa946006e376

[2019-08-29 12:09] #6158 closed

[2019-08-29 12:11] nul800sebastiaan commented on #6158
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/6192

Cherry picked for 8.1.4 9413427797d2836ae9f4ea17cf4b6b7c926ff994

[2019-08-29 12:12] #6194 closed

[2019-08-29 12:13] nul800sebastiaan commented on #6194
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/6200

Cherry picked for 8.1.4 71aad30f8ea63662606b42bd5abb540fd3ffd559

[2019-08-29 12:20] #6033 closed

[2019-08-29 12:21] nul800sebastiaan commented on #6033
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/6034

Cherry picked for 8.1.4 27c8c7abf18202a5f97a0b39a63433ffad69d872

[2019-08-29 12:29] nul800sebastiaan commented on #6143
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/6151

[2019-08-29 12:29] #6143 closed

[2019-08-29 12:37] ronaldbarendse commented on #3635
I've just looked into this and it could be accomplished the following way:

1. Create a PowerShell module `tools\Umbraco.psm1` with `Install-Umbraco` and `Update-Umbraco` functions:
[code]
2. Import the module in `tools\Init.ps1` (the `-Force` makes sure it's re-imported on package updates):
[code]
3. Execute the `Install-Umbraco` or `Update-Umbraco` function in `tools\Install.ps1`, so the actions

[2019-08-29 12:43] nul800sebastiaan commented on #6223
Hi @patrickdemooij9 - I don't have answers for you at the moment and I believe the current state has been like this for a very long time. I will try to track down the reasons for all this but as a rule of thumb: naming things the same doesn't work in compositions (and I doubt it ever can, especially for properties.. we could probably try and merge groups.. maybe!).

I'll find some answers and get

[2019-08-29 12:45] nul800sebastiaan commented on #6224
Seems acceptable to me if you want to make a PR for it! 👍

[2019-08-29 12:52] arknu commented on #6224
@nul800sebastiaan Thanks, will do.

One other thing. After running the upgrade, I noticed that the SecurityStamp column in the umbracoUser table was blank. Isn't the upgrade supposed to fill these in? I was unable to log in until I manually added a GUID in this column. I don't know if these two issues are related somehow...

[2019-08-29 12:53] nul800sebastiaan commented on #6224
Unfortunately, I have absolutely no idea. 😅

I would love it if you could investigate and see why this could be happening.

[2019-08-29 12:55] nul800sebastiaan commented on #3850
Seems like we're all good here, I'll close this issue. :)

[2019-08-29 12:55] #3850 closed

[2019-08-29 13:09] ronaldbarendse opened #6226 "ReplaceLineBreaksForHtml does not HTML encode the text"
Both Umbraco 7 and 8 have methods to replace line breaks with `<br />`. This can come in handy when rendering `Umbraco.Textarea` properties, but the current implementations contain several awkward implementation details regarding naming and (not) correctly HTML encoding the input (causing a potential security issue).

### Umbraco 7
First off, the V7 version returns a `string`:
https://github.com/u

[2019-08-29 13:10] zpqrtbnk opened #6227 "Some published member properties are empty"
Some published member properties are empty, ie they are not populated with their correct value. For instance, `Email`.

Repro: fetch a member eg

    var member = umbracoContext.PublishedSnapshot.Members.GetByEmail("foo@bar.com");

And try to get its email with `member.Value("Email")` - it should return the `"foo@bar.com"` email, but the value is empty.

Cause by `PublishedContentType` which aroun

[2019-08-29 13:23] nul800sebastiaan commented on #6226
Sure thing, happy to look at a contribution following that suggestion.

[2019-08-29 13:51] torerikk opened #6229 "Upgrading to 8.1.3 adds an extra dependentAssembly to web.config"
When installing 8.1.3 on top of 8.1.2 an additional

      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.3.0" newVersion="1.2.3.0" />
      </dependentAssembly>

is added to web.config if one is already present.

https://github.com/umbraco/Umbraco-CMS/blob/v8/

[2019-08-29 14:05] vaags commented on #3850
It seems i spoke too soon. In v8 it seems that all language variants have the same id(?). At least that is what shows inside backOffice. So how to you query a specific language?

[2019-08-29 14:31] zpqrtbnk commented on #3850
This is by design, too. `GetByRoute`, as well as `GetById` etc, returns a *document* and a document does not have a specific language - it has all languages. So yes, those two routes will return the same *document* hence the same ID. Now once you have the document, you can get values from it for different cultures.

[2019-08-29 14:40] vaags commented on #3850
Thanks for the speedy reply! I guess it would be nice to have a version of ```GetByRoute()``` that simply accepts the full path and returns the specified language(?)

[2019-08-29 14:44] nul800sebastiaan commented on #6229
Thanks! Fixed for 8.1.5 https://github.com/umbraco/Umbraco-CMS/commit/303d709a7398014050824ea5c245d9a5fb796556

[2019-08-29 14:44] #6229 closed

[2019-08-29 15:06] nul800sebastiaan commented on #3850
Hmm, does the same go for `IPublishedContent.Url` / `IPublishedContent.GetUrl()` @zpqrtbnk ? https://github.com/umbraco/Umbraco-CMS/issues/6199

[2019-08-29 15:12] AlexandreLocas opened #6230 "V8 : TinyMCE language not correctly set with xx_xx format culture codes"
When setting backoffice UI in a language wich as a two part culture code (ex: 'Français (France)' : fr_fr), TinyMCE does not use right language.

For instance in culture 'Français (France)' the language assigned on TinyMCE init is 'fr' wich sould be 'fr_FR' (https://www.tiny.cloud/docs/configure/localization/) to work right.

[2019-08-29 15:13] jpinto3488 commented on #4400
issue still occurring on our website. running umbraco 7.12.4 on umbraco cloud pro plan. It is very problematic as it is actually filling our logs with something like 100 logs every 10 seconds.

[2019-08-29 15:27] stevemegson commented on #6224
The `securityStampToken` column was added in 7.3.0, and would be populated whenever a user logged in or was edited. From 7.8.0, login depended on the column being populated, hence the common advice to upgrade via 7.7.x. However, upgrading to 7.7.x would only fix the user who did the upgrade (since they had logged in). If you immediately upgrade to 7.15.x, all other users won't be able to log in.

[2019-08-29 15:28] nul800sebastiaan commented on #6135
I am not sure if the FileService should be responsible for that, but I can ask around.

For convenience it would be nice, but for now you could load the file contents yourself;

[code]

[2019-08-29 15:35] nul800sebastiaan commented on #6224
Ah yes, I remember that part now. Seems like a fine idea! Expecially the part where it is a `NEWID()` and not just 0000 :-)

We don't usually add migrations to patch releases but this seems like a simple harmless one we could allow.

[2019-08-29 15:42] nul800sebastiaan commented on #6230
Hmm, that's annoying! Care to help fix this? :-)

[2019-08-29 16:13] stevemegson commented on #4400
This appears to have been fixed in 7.15.0 (see #5019). The fix changes the logging level to Debug and adds the URL to the message in case you do want to see the problem URLs.

[2019-08-29 16:15] zpqrtbnk commented on #3850
unrelated, I believe - that other issue is weird

[2019-08-29 17:38] AlexandreLocas commented on #6230
I think the /Umbraco/lib/tinymce/langs files should be updated and the missing ones be added  to reflect tinyMCE files (https://www.tiny.cloud/docs-4x/configure/localization/#language).

[2019-08-29 18:54] stevemegson commented on #6230
Yep, it looks like we have an old version of some tinymce language files. Setting the language to 'fr' is correct for the files we currently have, but tinymce isn't using the file after loading it. Grabbing the latest language pack and updating the list of available languages in tinymce.service.js should do the job.

[2019-08-29 19:05] nul800sebastiaan commented on #4673
Currently, it shows a red notification at the bottom as well, I think that should suffice.

[2019-08-29 19:05] #4673 closed

[2019-08-29 19:11] nul800sebastiaan commented on #5072
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-08-29 19:11] #5072 closed

[2019-08-29 19:12] nul800sebastiaan commented on #5283
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-08-29 19:12] #5283 closed

[2019-08-29 19:12] nul800sebastiaan commented on #5265
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-08-29 19:12] #5265 closed

[2019-08-29 19:12] nul800sebastiaan commented on #5205
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-08-29 19:12] #5205 closed

[2019-08-29 19:14] nul800sebastiaan commented on #5081
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-08-29 19:14] #5081 closed

[2019-08-29 19:14] nul800sebastiaan commented on #5057
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-08-29 19:14] #5057 closed

[2019-08-29 19:15] nul800sebastiaan commented on #5046
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-08-29 19:15] #5046 closed

[2019-08-29 19:16] nul800sebastiaan commented on #5037
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-08-29 19:16] #5037 closed

[2019-08-29 19:16] nul800sebastiaan commented on #5018
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-08-29 19:16] #5018 closed

[2019-08-29 19:16] nul800sebastiaan commented on #4989
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-08-29 19:16] #4989 closed

[2019-08-29 19:17] nul800sebastiaan commented on #4953
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-08-29 19:17] #4953 closed

[2019-08-29 19:17] nul800sebastiaan commented on #4859
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-08-29 19:17] #4859 closed

[2019-08-29 19:17] nul800sebastiaan commented on #4826
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-08-29 19:17] #4826 closed

[2019-08-29 19:18] nul800sebastiaan commented on #4818
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-08-29 19:18] #4818 closed

[2019-08-29 19:19] nul800sebastiaan commented on #4745
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-08-29 19:19] #4745 closed

[2019-08-29 19:20] nul800sebastiaan commented on #4680
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-08-29 19:20] #4680 closed

[2019-08-29 19:20] nul800sebastiaan commented on #4678
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-08-29 19:20] #4678 closed

[2019-08-29 19:21] nul800sebastiaan commented on #4663
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-08-29 19:21] #4663 closed

[2019-08-29 19:21] nul800sebastiaan commented on #4660
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-08-29 19:21] #4660 closed

[2019-08-29 19:22] nul800sebastiaan commented on #4658
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-08-29 19:22] #4658 closed

[2019-08-29 19:22] nul800sebastiaan commented on #4656
Looks like this one was fixed along the way, I'll close this.

[2019-08-29 19:22] #4656 closed

[2019-08-29 19:23] nul800sebastiaan commented on #4636
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-08-29 19:23] #4636 closed

[2019-08-29 19:23] nul800sebastiaan commented on #4625
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-08-29 19:23] #4625 closed

[2019-08-29 19:24] nul800sebastiaan commented on #4618
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-08-29 19:24] #4618 closed

[2019-08-29 19:25] nul800sebastiaan commented on #4410
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-08-29 19:25] #4410 closed

[2019-08-29 19:26] nul800sebastiaan commented on #4381
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-08-29 19:26] #4381 closed

[2019-08-29 19:26] nul800sebastiaan commented on #4142
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-08-29 19:26] #4142 closed

[2019-08-29 19:27] nul800sebastiaan commented on #2945
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-08-29 19:27] #2945 closed

[2019-08-29 21:59] poornimanayar opened #6237 "Unable to create members in the members section using the create option in the overlay"
Unable to create members in the members section using the create option in the overlay. This can be reproduced in v8.1.3 as well as the latest dev branch.

### Steps to reproduce

- Go to members section
- Click Members
- On the Create a new member overlay, try to select a member type to create a member
- Nothing happens

### Expected result
When you click on a member type on the Create a new memb

[2019-08-30 01:38] christophnz opened #6240 "v8: IPublishedContent.Siblings<T>() should return IEnumerable<T>"
### Bug summary

The extension method `IPublishedContent.Siblings<T>()` (in `PublishedContentExtensions.cs`) returns IEnumerable\<IPublishedContent>, but should return IEnumerable\<T> like other similar extension methods (eg `SiblingsAndSelf<T>()`, `Children<T>()` etc).

I will submit a pull request. I'm aware that this will be a breaking change, so I'm guessing this would not be merged in until t

[2019-08-30 01:51] kiasyn opened #6241 "Validate data types earlier in upgrade process"
I have been working on upgrading a very large site to Umbraco 8.

The upgrade is taking a very long time to run (5+ hours). This is fine. However, then I get errors like this:

This is also fine, however it would be much nicer if these errors could be detected much sooner in the install process.

[2019-08-30 02:37] christophnz commented on #6240
Pull request: https://github.com/umbraco/Umbraco-CMS/pull/6242

[2019-08-30 06:50] #6237 closed

[2019-08-30 06:51] nul800sebastiaan commented on #6237
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/6238
Cherry picked for 8.1.5 f9319079c7fbb0f99cdc59c5cf670dd36a950922

[2019-08-30 06:59] nul800sebastiaan commented on #6241
That would be nice indeed. I personally have no idea if this can be done somehow as I am afraid that some of the long running processes before we get to this error might be required. But, since this specifically is quite a simple check, it might be possible to do a dry-run before doing any of the longer running tasks.

[2019-08-30 08:55] stevemegson commented on #6241
We could do the check earlier, but that leaves the question of how people should migrate the affected data types to the newer property editors.

I don't think there's anything to stop a migration making the change automatically, similar to the migrations for dropdowns, radio buttons and check box lists. Updating the property data is potentially slow, but it needs to be done at some point and it sh

[2019-08-30 09:15] madsoulswe opened #6243 "Custom visitors page when RuntimeLevel is RuntimeLevel.Upgrade"
Have searched for this but couldn't find anything about this in core.

Allow an easey way to define a custom splash screen/message (a path to a html-file, like app_offline.htm) for visitors when sites is in **RuntimeLevel.Upgrade**.
And only redirect to "_/AuthorizeUpgrade_" when the request is for _SystemDirectories.Umbraco_

Our standard solution is using a web.config rewrite, based on IP when r

[2019-08-30 09:21] skttl opened #6244 "Rollback doesn't refresh the editor"
When rolling back from the history pane in the info tab, the content in the editor stays at the version you rolled back from. You have to reload the page, in order to se the rolled back content. This can be confusing, as I would expect to be able to just rollback, save and publish and have my changes reverted.

But instead, I need to roll back, reload the page, then save and publish.

Reproduction