[2019-01-08 13:30] bergmania commented on #3656
Relates: #3988

[2019-01-08 13:30] bergmania commented on #3656
PR: https://github.com/umbraco/Umbraco-CMS/pull/3995

[2019-01-08 13:31] bergmania commented on #3988
Relates: https://github.com/umbraco/Umbraco-CMS/issues/3988

[2019-01-08 13:31] bergmania commented on #3988
PR: https://github.com/umbraco/Umbraco-CMS/pull/3995

[2019-01-08 14:11] warrenbuckley opened #3996 "V8 - Package Post Install Control. Remove ASCX and use Angular View"
Requires #4010

Currently the Umbraco packager has an option to set an .ascx usercontrol to load in once the package has finished installing.

Some packages in the community use this functionality to give users a way to configure the package they have just installed.

Instead of loading an .ASCX usercontrol after install - it should work with an Angular view

[2019-01-08 14:19] #3977 closed

[2019-01-08 14:23] drummerboy46 opened #3997 "upgraded 7.12.4 to 7.13 causes unsaved changes prompt on browsing tree"
After upgrading a project from 7.12.4 to 7.13 I'm now prompted to commit unsaved changes every time I click on an item in the content tree.

You need to wait a second or two to be sure all properties have loaded before selecting another item in the tree.

[2019-01-08 14:25] warrenbuckley opened #3998 "Feature Request V8: Installed Packages List - Allow Packages to have Config views"
A nice to have would be that the list of installed packages, that you could have a new button next to uninstall to take you back to the angular view to modify any user settings/configuration of the package if needed.

This would be separate/different from the post-install control. As maybe not all things would need to be reconfigured or changed.

This would help to remove the clutter of dashboards

[2019-01-08 14:46] madsoulswe commented on #3997
I can confirm that this is happening.  But it feels "random" and hard to replicate

[2019-01-08 14:52] madsoulswe commented on #3997
@drummerboy46 have you tried clearing the browser cache? I tried to replicate it with the developer console open (with "disable cache" enabled) in chrome and now I can't replicate it.

[2019-01-08 15:03] nul800sebastiaan commented on #3997
When you see this, can you please try to figure out which datatypes are on the document type of the content item you're moving away from @drummerboy46 ?

[2019-01-08 15:23] nul800sebastiaan commented on #3993
@drummerboy46 I hear the same on the forum but I can't reproduce, am I doing it wrong?

https://our.umbraco.com/forum/using-umbraco-and-getting-started/95232-713-issues

Also, if you go into web.config and set `debug="true"` do you get a better javascript error? In any case, can you send some of the lines of javascript at which things seem to break?

[2019-01-08 16:03] drummerboy46 commented on #3997
Yep, its the MNTP/MNTP2 with no entries.

[2019-01-08 16:47] Migaroez opened #3999 "Allowing 1 media type that has an imagecropper, breaks the pick a media type functionality in the media listview"
When you create extra mediatypes and allow multiple of them on another mediatype, you get the option of picking what type of file you are uploading when using the bulk upload functionality.

However, if you add exactly 1 mediatype that has an image cropper, this mediatype selector does not show and (a random) filetype is chosen for you.

### Specifics

- Version 7.12.4 (haven't tested on older ver

[2019-01-08 16:55] chudders22 opened #4000 "7.13.0 Creating new node causes "Umbraco.Web.Editors.ContentController - Unhandled controller exception occurred""
Have run into an issue on both an upgraded site and a fresh install on 7.13.0

Issue
------------
Editors get the following error when creating any content:

```2019-01-08` 16:39:09,788 [P15972/D4/T33] ERROR Umbraco.Web.Editors.ContentController - Unhandled controller exception occurred
System.NullReferenceException: Object reference not set to an instance of an object.
   at Umbraco.Web.Editors.C

[2019-01-08 17:50] Nicholas-Westby commented on #3990
Glad to see a fix for this is available so quickly. This would impact a great many sites I've worked on (I would guess the majority of them), especially the ones with responsive images.

For many cases, what we do is inspect the width/height of the original image, create a responsive URL based on that, then adjust that URL slightly to change the width (but other things like the height ratio remain

[2019-01-08 18:02] kjac commented on #3869
@dawoe yep. I've done some defensive coding that only works if the `<img />` tag has a `src` *and* a `data-udi` attribute.

PR in #4001

[2019-01-08 19:48] nul800sebastiaan commented on #3997
Workaround posted here: https://our.umbraco.com/forum/using-umbraco-and-getting-started/95232-713-issues#301100

[2019-01-08 19:50] nul800sebastiaan commented on #3990
We'll get an update out soon, if absolutely necessary you could work around this with an eventhandler that responds to the Saving event and read the width/height manually and set the values of `umbracoHeight` and `umbracoWidth` appropriately.

[2019-01-08 19:52] nul800sebastiaan commented on #3993
Workaround posted here: https://our.umbraco.com/forum/using-umbraco-and-getting-started/95232-713-issues#comment-301098

[2019-01-08 19:57] nul800sebastiaan commented on #3999
@Migaroez What does this mean?

As a container, how?

[2019-01-08 19:59] Migaroez commented on #3999
I mean a media type without any properties that is used as a container for other media nodes. Like a folder, sorry for the bad wording.

I have a demo repo if want to see it in action.

[2019-01-08 20:12] nul800sebastiaan commented on #3999
I would like to see it, I seem to be unable to make a new mediatype that would give me the dropzone.. :)

[2019-01-08 20:13] nul800sebastiaan commented on #3999
Ah thanks for the link.. any chance the login is not dangerous to share publicly? 😉

[2019-01-08 20:15] Migaroez commented on #3999
We never ever ever use a typed password for non public sites, so its ok and its a local test db.

[2019-01-08 20:16] Migaroez commented on #3999
The problem is an image picker on a mediatype, the dropzone gets its allowed media types from the listview it is present in, its the controller of the listview that calls the ?wrong? function.

[2019-01-08 20:33] #4000 closed

[2019-01-08 20:33] kjac commented on #4000
I can't reproduce this, neither on a fresh nuget install nor on the latest source...

[2019-01-08 20:35] nul800sebastiaan commented on #4000
Yikes. I can reproduce, it's because we're trying to translate a property on the info tab that doesn't exist for users who don't have access to the Settings section. I'm afraid for now the only workaround if you're really in need is to give the editor access to the Settings section.

The problem was introduced here: https://github.com/umbraco/Umbraco-CMS/pull/3696

I've updated for 7.13.1: https:/

[2019-01-08 20:36] kjac commented on #4000
So can I. I only just realized it had to be a limited access user.

[2019-01-08 20:37] nul800sebastiaan commented on #3999
Care to tell me the username / password for this one then, since.. I'd need to log in to see the problem 😛

[2019-01-08 20:38] Migaroez commented on #3999
Its in the description of the repo 😄  => team@umbrace.be (both username and pass)

[2019-01-08 21:07] skttl commented on #3998
#3911 has some discussion too.

[2019-01-08 21:22] skttl commented on #3560
Another con for icon fonts, is that if you want to add your own icons to the backoffice, you have to generate (and load) a whole new font face.

Or you could do it the hacky way, like I do in https://our.umbraco.com/packages/backoffice-extensions/custico-custom-icons-for-umbraco/, and add icons as background-images, for the `.icon-` placeholders. The downside of this, is that you can't manipulate

[2019-01-08 21:59] bjarnef commented on #3985
I gave it a try with `umb-range-slider` component used for this image cropper slider component and now I have something this. with some a basic configuration.

![image](https://user-images.githubusercontent.com/2919859/50861444-fea9ac00-1398-11e9-9bbd-8535631c8cd4.png)

[2019-01-08 22:15] Nicholas-Westby opened #4004 "Unable to View White SVG's in Media Section on Image Node"
I just installed Umbraco 7.13.0 with all the defaults.

I then updated the umbracoSettings.config to ensure SVG is recognized as an image file type. Search this page for "imageFileTypes" to find out how to do that: https://our.umbraco.com/documentation/reference/config/umbracosettings/

I then dragged an SVG image to the media section to upload it. Once it uploaded, I clicked the media item to vie

[2019-01-09 06:14] Shazwazza opened #4005 "v8 - Publishing or Unpublishing a content item does not update it's URLs"
Publishing or Unpublishing a content item does not update it's URLs in the editor. (navigating away and back again or refreshing does show the correct values)

Reproduction
------------

Create a node, go to the info tab, publish it, the URLs do not appear. Refresh the page, the URLs will be there on the info tab, now unpublish, the URLs remain.

[2019-01-09 06:18] #3708 closed

[2019-01-09 06:18] Shazwazza commented on #3709
Confirmed, this is now working

[2019-01-09 06:18] #3709 closed

[2019-01-09 06:20] Shazwazza commented on #3996
I thought this functionality was already built in 🤔

[2019-01-09 06:34] Shazwazza opened #4006 "v8 - Changing tag values don't track dirty changes on the form"
Reproduction
------------

Add a tag property type,  create some content with that property, remove some tags, don't save and navigate away, you will not be prompted that you have pending changes.

[2019-01-09 07:13] warrenbuckley commented on #3996
@shazwazza let me test this morning & triple check, it may just be some legacy code that may have given me a red herring

[2019-01-09 07:30] Shazwazza commented on #3996
Nah just checked the code, the code for that is in `PackageInstallController.CleanUp`, should be pretty easy to do, currently it still assumes an ascx in the 'Control` value

[2019-01-09 07:40] dawoe commented on #4004
Hi @Nicholas-Westby

Thanks for reporting this issue. Can you provide the SVG that you used so we can use it for reproducing and for testing ?

Dave [Community Pull Request team](https://umbraco.com/blog/introducing-the-new-cpr-team/)

[2019-01-09 08:22] Shazwazza commented on #3975
This will not work with v8 because there is no v8 package and it's not a package owned by us

So we'd want to either replicate all the functionality, update their package to v8 to work, or exclude maps from the starter kit.

[2019-01-09 08:33] nul800sebastiaan commented on #4004
[This one should work](https://upload.wikimedia.org/wikipedia/commons/d/da/White_dot.svg) (no that's not a blank page that opens, it's a white PNG 😉). We should have the checkered background behind it as well like we do in the list view overview, this is what it looks like in the list:

![image](https://user-images.githubusercontent.com/304656/50886690-62f85a00-13f1-11e9-85db-5c0558ab18ef.png)

Of

[2019-01-09 09:06] clausjensen commented on #3975
Agree - we'll exclude the functionality for now as it isn't a crucial feature or anything.

[2019-01-09 09:06] #3975 closed

[2019-01-09 09:42] bergmania opened #4011 "V8: Issue with inherited Grid in splitview"
When having a document type that is variant with a non-variant grid property, there is an issue with the splitview.
Then we open the splitview with the default language to the right, and try to add a RTE to the grid, it appear only on the left side (which is read only) - Due to programmatic focus its possible to add text.

![image](https://user-images.githubusercontent.com/1561480/50890522-a905eb8

[2019-01-09 09:43] nul800sebastiaan commented on #3986
Hey there @mehrdadab - Unfortunately you're using a pretty old version of Umbraco and your problem seems related to the specific server environment. If you have any way of reproducing this on the latest version of Umbraco we could have a look at it but hopefully this problem has been fixed along the way already.

I would recommend you try and get some help on the forum to see if anyone else experi

[2019-01-09 09:43] #3986 closed

[2019-01-09 09:44] nul800sebastiaan commented on #3994
If you have an example screenshot then that would be very helpful to reproduce the issue, which I'm sure exists.

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-01-09 09:51] nul800sebastiaan commented on #3993
Fixed in https://github.com/umbraco/Umbraco-CMS/issues/3993

[2019-01-09 09:51] #3993 closed

[2019-01-09 09:57] RobertCopilau opened #4012 "Tags validation issue"
Tags throw validation error even if is valid.

![Annotation 2019-01-09 105744.jpg](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5b151a952d7cd20011c4533d/125516c66e82c728ace21e0d46c99a942c9682bd86e6b103f60da1cd6416763e795de37a20d0b47ceb0037431f1d11f6140b1b56f6eb8c79f3b4687789595fbbd56e5a74c63c10a9bdd716eb57bf32975dc7e7e2de139db17770a599855d3f160f198cfb5a35a29e43c05cf44de95f18

[2019-01-09 10:01] drummerboy46 commented on #3994
Here's whats's happening:

![related links bust out](https://user-images.githubusercontent.com/6703035/50892061-8c1ae980-13f5-11e9-8ba5-f36edaa6824f.jpg)

[2019-01-09 10:05] nul800sebastiaan commented on #3961
Thanks @bjarnef ! As it turns out this is already fixed in a different branch that we're working on this week, I didn't know, sorry!

I'll close this one and the PR, thanks very much for the help!

We might get back to the part about the dragover if that doesn't work yet, not sure about that one at the moment.

[2019-01-09 10:05] #3961 closed

[2019-01-09 10:05] bariskrdrl opened #4013 "@ character error in attribute"
I'm using uk-parallax = "media: @l" in html.

Example:
<div uk-parallax="media: @l"></div>

However, when I run it, it has an error because of the character.
What should I do. Thanks

[2019-01-09 10:20] #3997 closed

[2019-01-09 10:23] nul800sebastiaan commented on #4013
Hey there @bariskrdrl - I would recommend you ask you question on the forum where our friendly community can try to help you out: https://our.umbraco.com/

[2019-01-09 10:23] #4013 closed

[2019-01-09 10:30] drummerboy46 commented on #3994
Its actually worse than this screenshot, if you scale the width of the browser, the table makes no accommodation for the narrowing container and starts to bust out again.

Some responsive CSS required for this table

[2019-01-09 10:32] RobertCopilau commented on #4012
PR:https://github.com/umbraco/Umbraco-CMS/pull/4014

The problem was that the viewModel was not yet synced.
I just added a new check that checks the vm.value as well.

[2019-01-09 11:07] kjac commented on #4006
I can reproduce - will figure out a fix :)

[2019-01-09 11:09] elit0451 commented on #3895
Changes added  👍

[2019-01-09 11:12] nul800sebastiaan commented on #3992
Sure, that seems like a good addition!

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-01-09 11:15] nul800sebastiaan commented on #3982
Seems like a nice improvement that could be made there yep!

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-01-09 11:15] nul800sebastiaan commented on #3983
This might also be a problem for v7.

[2019-01-09 11:32] bjarnef commented on #3961
@nul800sebastiaan can you check if the "dragover" class works in the other branch?

[2019-01-09 11:37] kjac commented on #4006
PR in #4015

[2019-01-09 11:50] stevemegson opened #4016 "ClientDependency breaks CSS added for issue #2910"
The fix for issue #2910 modified the styling of unpublished items in list view, but ClientDependency breaks the new CSS when minifying it, so that unpublished items are not dimmed as expected.

umb-table.less contains the selector
`.-content :not(.with-unpublished-version).-unpublished`

ClientDependency assumes that it is safe to remove a space before a colon, producing the selector
`.-content:no

[2019-01-09 12:00] warrenbuckley commented on #3988
After a quick chat with @Shazwazza this has already been code reviewed.
I have re-tested this and RTE in the grid now works again for V8 :)

[2019-01-09 12:00] #3988 closed

[2019-01-09 12:23] nul800sebastiaan commented on #4016
Interesting workaround! 👍

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-01-09 12:54] ssougnez opened #4018 "[Minor] canvasdesigner.panel.js not found in preview mode"
Hello,

I noticed that when I'm in preview mode, I have the following error in the Google developer console:

As I don't really know what this file is supposed to do, I don't know the severity of the issue but I guess it's minor as the preview mode seems to be working. I guess Umbraco should stop trying to load this file if it's not necessary or include it if it is.

[2019-01-09 12:54] jmayntzhusen opened #4019 "Add GUIDs to internal index for debugging"
When debugging deployment errors on Umbraco Cloud you sometimes get an error message with a content nodes GUID, this is currently not in the internal index, so you have to either search through all content nodes or search in the database. An error can look like this:

[code]

It would be great if we could simply take that guid and search either in the examine index through the developer section, o

[2019-01-09 13:21] nul800sebastiaan commented on #4018
Seems like an old left-over, should be able to simply delete it from `src\Umbraco.Web.UI.Client\src\canvasdesigner.loader.js`

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-01-09 13:56] marcemarc opened #4020 "Email incorrectly marked as Required when changing User's Group Access in Microsoft Edge"
Using the Microsoft Edge browser, edit an existing User's Access Groups, eg change or try to assign them to a different group, when you press Save after doing so, all is fine in Google Chrome, the user is updated as expected but in Microsoft Edge, the user isn't updated and the Email field is highlighted as being required, even though it clearly contains a valid email address!!

![image](https://u

[2019-01-09 14:01] nul800sebastiaan commented on #3989
I've reverted #3563 in commit https://github.com/umbraco/Umbraco-CMS/commit/ff085c97ce4f8c7d7abb0510401ad0ddb17f2ae7 as I didn't realize fully what this file was for, I thought it was only used when working on the Umbraco-CMS actual source code, didn't realize it was for meant to be for when you were actually building Umbraco websites.

As with a `.gitignore` file, we shouldn't prescribe what the

[2019-01-09 14:01] #3989 closed

[2019-01-09 14:34] kjac commented on #4020
Is this on 7.13? I recall having fixed something similar not too long ago.

[2019-01-09 15:03] nul800sebastiaan commented on #4020
Yep, that should be fixed in 7.13 (can't reproduce it there at least).

It was this PR: https://github.com/umbraco/Umbraco-CMS/pull/3456

[2019-01-09 15:03] #4020 closed

[2019-01-09 15:21] marcemarc commented on #4020
Thanks, yes it was 7.12.4, I had a hunt for a fix, but didn't try it in 7.13! I knew I'd forget if I didn't raise it.

[2019-01-09 15:50] nul800sebastiaan commented on #4020
Oh yes, better safe than sorry  👍

[2019-01-09 16:47] Nicholas-Westby commented on #4004
@nul800sebastiaan That is not correct. You are looking at the grid view rather than the actual media node itself. The media node itself, as you can see in my screenshot, is the place where this is an issue.

[2019-01-09 16:48] Nicholas-Westby commented on #4004
@nul800sebastiaan My mistake, I misread your comment, so I deleted my previous comment. Thank you for finding the white SVG sample.

[2019-01-09 22:53] bjarnef commented on #3958
@kjac alternatively it could push the entire page content to the left something like this example.
https://imperavi.com/kube/docs/modules/offcanvas/

[2019-01-09 23:40] bjarnef commented on #3982
@nul800sebastiaan it seems it has the correct markup in the redirects dashboard

[code]

For some reason the form with class `form-search` is removed from DOM at least in Chrome.

If I manipulate the DOM from the console the wrap the `inner-addon` with a div with the class `form-search` it loooks like the following. If I try use a form instead of a div (as in the view file) it seems Chrome ignore

[2019-01-10 06:51] bergmania commented on #3642
PR: https://github.com/umbraco/Umbraco-CMS/pull/4021

[2019-01-10 07:49] skttl commented on #4004
Maybe also add a subtle drop-shadow to the image preview, like in the list-view? This would help for completely solid white images too.

[2019-01-10 10:32] sebastian-claesson commented on #4018
I have created a PR for this now. I also checked that there are no other references to canvasdesigner.panel.js in the solution.

[2019-01-10 10:45] arknu opened #4023 "[7.13] "Failed to retrieve data for empty content item type" when creating content and the user does not have access to the Settings section"
If a user only has access to Content and Media (like the default Editors group) this user cannot create content. Granting access to the Settings section for the group resolves the issue.

This could be a regression from #3601, but I have not verified that yet.

### Steps to reproduce

- Log in as a user in the Editors group
- Attempt to create content (doesn't matter which type)

### Expected resu

[2019-01-10 10:55] nul800sebastiaan commented on #4023
Thanks @arknu - this is fixed and will be available in 7.13.1 : https://github.com/umbraco/Umbraco-CMS/issues/4000

[2019-01-10 10:55] #4023 closed

[2019-01-10 10:58] arknu commented on #4023
@nul800sebastiaan Sorry, apparently didn't use the correct search terms... Will try better next time.
Good to know it's fixed :) Any ETA on 7.13.1?

[2019-01-10 10:58] nul800sebastiaan commented on #4023
No worries, it can be hard to find. 7.13.1 is on track for release early next week.

[2019-01-10 11:20] zpqrtbnk opened #4025 "Install hook for Deploy"
When Umbraco starts and finds a connection string, we assume we should be able to connect to the database, else fail (BootFailed).

Deploy used to work around this with a pre-execute method that cannot really work anymore.

We need a hook in Core to take control of the situation.

[2019-01-10 13:09] zpqrtbnk commented on #3935
Currently testing a solution where ... instead of failing the boot, we would treat a missing (or empty) database as an install. So we set the runtime level to `Install` and run the full boot. Then, you can have a component run only on the `Install` state and take control of the install.

What I need to figure out is how to tell Umbraco to treat a missing database as an install (as I would like to

[2019-01-10 13:23] bjarnef commented on #3982
In v7 it seems it also has the parent form as child element in `Umbraco.DashboardController`

[code]

in v8 it has `name="dashboardForm"` added to the form, which cause this styling issue.

[code]

but added empty name attribute or name attribute with a random value also cause thie styling issue.

[2019-01-10 13:30] nul800sebastiaan commented on #3993
We could test if it's a hex value, really, but this works for now.

We know that all old values were stored as a hex, so this is okay for upgraders. All other values are stored as a json which looks a bit like `{ value: "e93f6f", label: "My fun color" }`

[2019-01-10 13:33] ronaldbarendse commented on #3990
Would be nice to have a fix that also corrects the wrongly set `umbracoHeight` and `umbracoWidth`. Is it possible to add a migration that only runs when upgrading from 7.13.0, searches for all media for `umbracoHeight=200` and `umbracoWidth=200` and then updates these values?

[2019-01-10 13:40] ronaldbarendse commented on #3993
Seems like a simple change that makes the code cleaner and makes the intent clearer (all strings should be converted to objects)... If (for some reason) the value isn't exactly 6 characters long, it would still throw the error.

[2019-01-10 13:42] nul800sebastiaan commented on #3999
Duh.. I was looking for a readme.md or something, didn't see the description under the repo name. 🤦‍♂️

I see the problem now, if you'd like to submit a PR for it then please do that makes it much easier than trying to describe in text which line to look at and why it's wrong. Looking at proposed changes is much easier.

Sidenote: I am ashamed to admit - I have absolutely no idea how to  create a

[2019-01-10 13:45] bjarnef opened #4027 "Doctype alias placeholder sometimes stays at Generating Alias..."
When creating a document type the default value of alias input placeholder text is "Enter alias...", but when the name of the document type is entered the placeholder text change to "Generating Alias...".

If you then go to the alias input and clear the generated alias, the placeholder text is still "Generating Alias...". It should only be "Generating Alias..." while entering a document type name

[2019-01-10 13:50] #3642 closed

[2019-01-10 14:05] drummerboy46 commented on #3997
The same problem exists when there's an MNTP inside a nested content. If it contains items and is expanded, but no modified it kicks off an unsaved changes prompt.

[2019-01-10 14:10] Migaroez commented on #3999
I don't know how to fix it, only where the offending code is present. And honestly i don't have the time to look into it further. I just wanted to check the code to see what I could do to have a workaround for the current project I'm working on and since i had the files open, i put them in the issue as a reference for anyone who would be willing to fix it.

For the dropdzone, that is a property (n

[2019-01-10 14:32] zpqrtbnk commented on #3901
tests green, site runs, merged

[2019-01-10 14:32] #3901 closed

[2019-01-10 14:37] nul800sebastiaan commented on #3993
Sure, while we know definitively that always produced 6 chars, this works fine too.. though it will still crash with the same error if it's not 6 chars ;-)

Anyway, it's updated now, had to move the fix to the correct function anyway.  https://github.com/umbraco/Umbraco-CMS/commit/d69f0fe9ddf8c8d37f4fe4d27b5974cddf4f88d3

[2019-01-10 14:56] nul800sebastiaan commented on #3997
@drummerboy46 Not in the upcoming 7.13.1 ☺

[2019-01-10 14:57] zpqrtbnk commented on #3920
Reviewing... working fine but having questions:
* I notice we treat fields that contain patterns such as "_de-DE" in a special way - what would happen if my site does not have variant, but has multiple cultures, and I *do* have such fields (as some ppl did in the past)?
* Can the "contextualized" search results be... confusing? When enumerating the results, things are contextualized, but if... I g

[2019-01-10 15:07] zpqrtbnk commented on #3935
Want to look at branch https://github.com/umbraco/Umbraco-CMS/tree/temp8-auto-install ?

Works with app settings for the moment:

    <add key="Umbraco.Core.RuntimeState.InstallMissingDatabase" value="true" />
    <add key="Umbraco.Core.RuntimeState.InstallEmptyDatabase" value="false" />

And then, using a composer/component similar to the code below, I have been able to create and populate the da

[2019-01-10 15:15] zpqrtbnk commented on #3544
Is PR https://github.com/umbraco/Umbraco-CMS/pull/3583

[2019-01-10 15:17] bergmania commented on #3544
@zpqrtbnk, Yes

[2019-01-10 16:08] zpqrtbnk commented on #3544
All tests green. Something weird in `ContentController` - reviewing.

[2019-01-10 17:38] zpqrtbnk commented on #3544
happy, merged

[2019-01-10 17:38] #3544 closed

[2019-01-10 17:42] zpqrtbnk opened #4028 "Cleanup Filesystems registrations"
Current filesystems registrations (via DI) in v8 is clumsy and not practical to be used by packages etc - to replace inner filesystems - need to clean it up

[2019-01-10 17:46] zpqrtbnk opened #4029 "Help Deploy migrate to v8"

[2019-01-10 18:20] nul800sebastiaan commented on #4027
Nice catch! Agreed.

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-01-10 18:33] nul800sebastiaan commented on #4018
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/4022

[2019-01-10 18:33] #4018 closed

[2019-01-10 19:08] kjac opened #4030 "V8: ModelsBuilder doesn't play nice with Nested Content"
If ModelsBuilder runs in *LiveAppData* mode, Nested Content breaks with this exception (see full stack trace in the end of the issue description):

![image](https://user-images.githubusercontent.com/7405322/50989016-8a911480-150e-11e9-82fa-fcaee2d3bcdf.png)

This happens when `NestedContentValueConverterBase` passes an `IPublishedElement` to `PublishedModelFactory.CreateModel(IPublishedElement ele

[2019-01-10 21:16] bjarnef opened #4031 "v8: Validation of required alias needs some style adjustments"
When leaving document type alias empty/blank and saving document type it looks like this.

![image](https://user-images.githubusercontent.com/2919859/50997609-4f4e1000-1525-11e9-85d8-857c1d3a99a2.png)

[2019-01-10 21:38] ronaldbarendse commented on #3993
Great, it's always good to be on the defensive side, even for these small changes!

[2019-01-10 21:44] ronaldbarendse commented on #3826
@nul800sebastiaan Can you reopen this issue? Please try this on a clean Umbraco Cloud solution (with debug on), as that does throw the exception from Umbraco code.

[2019-01-10 22:55] bjarnef commented on #4031
Note the same class is used on property alias errors.

![image](https://user-images.githubusercontent.com/2919859/51002308-2af93000-1533-11e9-83c1-e9f28a3a38a9.png)

[2019-01-10 23:14] Shazwazza commented on #3920
Some answers:

I don't really understand the question, if you don't have variants why would you have multiple cultures? Do you mean if a developer manually adds fields to the index with this pattern? If that happens, then it doesn't affect anything. These patterns are used specifically for searching for values for particular cultures. If the developer is manually adding fields like this then they

[2019-01-10 23:17] Shazwazza commented on #4005
@RobertCopilau ok cool, must be something kinda odd going on with the models - the whole variant models thing with split views is ultra confusing. I like your solution though! we'll go with that :)

[2019-01-10 23:17] #4005 closed

[2019-01-10 23:39] bjarnef commented on #4031
I think we need something like this added to `/src/less/forms/umb-validation-label.less` e.g. before the arrow styles in that less file.

[code]

Inside `/src/views/components/umb-locked-field.html` we then need to add the `-right` class at the locked field at content, media, member type alias and at template alias.

It should probably need either to set an attribute/property on the directive `umb

[2019-01-11 03:15] aaronpowell commented on #3935
That's kind of the approach I was going for with the commit I linked above, but using more enum flags to depict it, rather than a separate property to explain why you're back at install.

[2019-01-11 03:33] aaronpowell opened #4033 "[v8] Order of execution problem when creating the LogProfiler"
When creating a `Runtime` that inherits `CoreRuntime` but doesn't overload the `GetProfiler` method you end up with a `null` passed to `LogProfiler` for the `logger` which causes the `Step` method to explode.

PR incoming.

[2019-01-11 05:41] fengfuyun52 commented on #3934
It works on chrome, but not works on IE 11.
I also don't know why.

[2019-01-11 07:14] zpqrtbnk commented on #3935
I get it. Thought about it. Point is, we compare levels in some places, ie `Run` > `Upgrade`. So if we do it with only one value (which indeed feels nicer) it would be something along

[code]

or something equivalent. and all tests for `level == Level.Install` need to be changed for `level.HasFlag(Level.Install)` - which also can be done. Guess I was lazy. Guess... your approach is probably cleane

[2019-01-11 07:19] zpqrtbnk commented on #3920
First question: it's a common pattern on some v7 multi-lingual sites to use fields such as `title_fr-FR` and `title-da-DK` so ppl migrating these sites would end up having such fields. Just wanted to make sure... these non-variant sites would still work ok. Re-looked at the code and I think they would. Happy.

Yup we can always add the workaround I proposed later. So I think we just need to proper

[2019-01-11 07:19] bergmania commented on #3545
New PR with a class with more informaiton than just the Id.
PR: https://github.com/umbraco/Umbraco-CMS/pull/3945

[2019-01-11 07:21] zpqrtbnk commented on #4030
going to look into this today - pretty sure it worked

[2019-01-11 07:31] nul800sebastiaan commented on #3934
Hi @fengfuyun52 - the problem has been found and fixed for v7.13 - see the related PR for more info: https://github.com/umbraco/Umbraco-CMS/pull/3456

[2019-01-11 07:34] #3920 closed

[2019-01-11 07:51] zpqrtbnk commented on #4033
Of course. Good one. Thanks.

[2019-01-11 07:51] #4033 closed

[2019-01-11 08:06] bjarnef opened #4036 "Add contributors to package"
At the moment when creating a package from package UI in backoffice one can add a author and author url, but often packages have more contributors e.g. as listed on the Analytics package page.
https://our.umbraco.com/packages/backoffice-extensions/analytics/

For now package developers either just enter the package owner as author and add some credits the contributors in e.g. readme or add the con

[2019-01-11 08:07] RobertCopilau opened #4037 "MNTP - Could not convert string to integer + #4039, #4055"
![Annotation 2019-01-11 090809.jpg](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5b151a952d7cd20011c4533d/125516c66e82c728ace21e0d46c99a942c9682bd86e6b103f60da1cd6416763e7855e37b29d5bb78e60037431f1d11f6140b1b56f6eb8c79f3b4687789595fbbd56e5a74c63c10a9bdd716eb57bf32975dc7e7e2de139db17770a599855d3f190f198cfb5a34a99d4ac85df548e35f18.jpg)

[2019-01-11 08:13] zpqrtbnk commented on #4030
oh my - I know - hold on

[2019-01-11 08:17] kjac commented on #4030
Of course you know. If you didn't we'd be scr***d. 😆

[2019-01-11 08:49] nul800sebastiaan commented on #4036
It's a lovely idea but doesn't fit into our schedule right now, once the `packages-ui` branch is merged, feel free to help out and send us a PR! There's many more things we could probably do to that UI as well. :-)

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-01-11 08:49] zpqrtbnk opened #4038 "What is an element type?"
See https://github.com/umbraco/Umbraco-CMS/issues/4030 - currently, we detect "element" types (eg things that are not fully IPublishedContent and are used in NestedContent) because their name ends with "element" -- because the UI does not support "flagging" element types.

This is not really sustainable.

[2019-01-11 08:50] zpqrtbnk commented on #4030
So... the whole problem comes from... [this line](https://github.com/zpqrtbnk/Zbu.ModelsBuilder/blob/50525e2f47b8b5719daf05aade66950b54742d36/src/Umbraco.ModelsBuilder/Umbraco/UmbracoServices.cs#L125) in Models Builder source code.

When we generate a model for a content type, how shall we know whether to generate a published content model, or a published element model? Especially since the UI doe

[2019-01-11 09:44] aaronpowell commented on #3935
I see your point, Just wondering if using a `>` test is really the best way to achieve what you're after.

If it was F# I'd be suggesting a discriminated union, that'd work sweetly 😛.

Ultimately either approach works, so it comes down to what sees the most long-term understandable.

[2019-01-11 09:59] kjac commented on #4030
@zpqrtbnk ah cool. I'll give it a spin soon as I'm able (this afternoon).

[2019-01-11 10:40] RobertCopilau opened #4039 "MNTP- xPath $current or setting a start node, does not return its children if is list view enabled"
* Create a parent node with some children
* Parent node should have a MNTP and list view on
* Make sure MNTP has the "$current" xPath query in the Editor settings
Now try to add a node using the MNTP
![Current.jpg](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5b151a952d7cd20011c4533d/125516c66e82c728ace21e0d46cb818831878dbdcda5fd53b652fa912a5265296b51a12e2281b47bea467d555c5a

[2019-01-11 11:05] bergmania commented on #3668
PR: https://github.com/umbraco/Umbraco-CMS/pull/4040

[2019-01-11 12:11] madsoulswe opened #4042 "V8 Split view should open the content-tab/app or open the same app."
1. Open content
2. Go to info tab
3. Then open another language and in split-view

![content-app](https://user-images.githubusercontent.com/7071187/51032666-24a19d00-15a1-11e9-8534-5f7dac9c89e5.JPG)

[2019-01-11 12:11] skttl opened #4043 "Add 3 more icon colors"
My OCD is killing me on this.

I love the new colour picker, it is so intuitive and easy to use (and you can even recolor the existing icon 👌)

But, the colors isn't filling up the space completely.

So could we find 3 more colours to add?
![image](https://user-images.githubusercontent.com/3726467/51032821-ad203d80-15a1-11e9-9129-9d63207c3b19.png)

I would suggest the following colours:

![image](

[2019-01-11 12:32] smarshallsay commented on #4000
I'm actually getting an error when an editor clicks on any node which I think is related. The error disappears when you give settings permissions to Editors:

`2019-01-11 12:26:05,471 [P59608/D6/T116] ERROR Umbraco.Web.Editors.ContentController - Unhandled controller exception occurred
System.NullReferenceException: Object reference not set to an instance of an object.
   at Umbraco.Web.Editors.Co

[2019-01-11 12:33] kjac commented on #4030
@zpqrtbnk it works. But with an unintended side effect: The generated classes lack their "Element" postfix.

Consider this doctype:

![image](https://user-images.githubusercontent.com/7405322/51033828-edcd8600-15a4-11e9-9ce0-1eac044fe3da.png)

The alias is "textElement". But the generated class looks like this:

![image](https://user-images.githubusercontent.com/7405322/51033865-15245300-15a5-11e9

[2019-01-11 12:34] madsoulswe opened #4044 "V8 Editing document type from info tab and saving throws javascript error"
Goto info and edit document type and save document type

umbContentNodeInfo directive throws exception, activeApp is undefined

angular.js?cdv=1:15536 TypeError: Cannot read property 'alias' of undefined
    at onInit (umbraco.directives.js?cdv=1:3283)
    at Object.link (umbraco.directives.js?cdv=1:3482)
    at angular.js?cdv=1:1365
    at angular.js?cdv=1:11229
    at invokeLinkFn (angular.js?cd

[2019-01-11 12:37] kjac commented on #4038
Please note that a not too uncommon use case is to reuse the elements in Nested Content as stand-alone widgets (or maybe even pages) in the content tree. If the ModelsBuilder builds `IPublishedElement` classes, won't that limit the reusability of those models? Surely they won't be routable if they lack a Url...?

[2019-01-11 12:38] jannikanker commented on #4043
I suck at color theory, but am also slighty OCD prone so I agree that three more colors would fit VERY nicely :-) But where would your suggested colors fit in (orderwise)?

[2019-01-11 13:00] nul800sebastiaan commented on #4000
@smarshallsay Yep, same problem, it's fixed in 7.13.1. :)

[2019-01-11 14:18] kjac commented on #4044
Uh ouh. This could be something I did.. I'll investigate.

[2019-01-11 14:31] skttl commented on #4043
I don't know where they would fit, but I feel a real red color could be useful (I think the existing is more orange). Dark teal and pink is not available already, so they got the last places.

But I'm in know way attached to which colors are getting in. Mostly just having the last 3 spots filled :)

[2019-01-11 14:53] kjac commented on #4044
No. It wasn't something I did 😌 and I don't see that exact error but one closely related to it.

PR in #4048

[2019-01-11 15:33] jannikanker commented on #4043
Maybe the incredibly detail oriented brain of @bjarnef would like to pitch in? :-)

[2019-01-12 12:43] kjac commented on #4004
I've got a fix for this, will push later 👍

[2019-01-12 18:56] kjac commented on #4004
PR in #4050

[2019-01-12 23:58] clausjensen commented on #4044
I'm also not seeing this one @madsoulswe
Closing for now - but you're welcome to reopen with instructions to replicate .. please make sure you have built latest and have also built the clientside files 😃

[2019-01-12 23:58] #4044 closed

[2019-01-13 00:05] clausjensen commented on #4006
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/4015

[2019-01-13 00:05] #4006 closed

[2019-01-13 02:05] Nicholas-Westby commented on #4004
You rock, @kjac!

[2019-01-13 11:15] nul800sebastiaan commented on #4042
Yeah, you won't be editing the info in split-view, we should switch both back to the Content app when opening split view, good find! 👍

[2019-01-13 12:30] nul800sebastiaan commented on #4027
Cherry-picked to v7 - https://github.com/umbraco/Umbraco-CMS/commit/2ebd7a077cc5e71bd476f3f71d18d6ab16723e0c

[2019-01-13 12:30] #4027 closed

[2019-01-13 12:54] #4004 closed

[2019-01-13 13:43] #4016 closed

[2019-01-13 13:52] nul800sebastiaan commented on #3981
FIxed in https://github.com/umbraco/Umbraco-CMS/pull/3984

[2019-01-13 13:56] nul800sebastiaan commented on #3983
Fixed in: https://github.com/umbraco/Umbraco-CMS/pull/3984

And cherry-picked the file extension part to v7 https://github.com/umbraco/Umbraco-CMS/commit/1213551ca951db86acc0fda3f40b0a1d4efad4a5

[2019-01-13 13:56] #3983 closed

[2019-01-13 14:13] #3018 closed

[2019-01-13 14:17] nul800sebastiaan commented on #3875
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/3876

[2019-01-13 14:17] #3875 closed

[2019-01-13 14:49] nul800sebastiaan commented on #3919
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/3931

[2019-01-13 14:49] #3919 closed

[2019-01-13 15:17] #3068 closed

[2019-01-13 18:37] bjarnef opened #4052 "v8: Not possible to change color doctype icon without selecting icon"
In v8 it seems it is no longer possible to change color of an existing document type icon without having to re-select to icon too.

In v7 as a part of the changes to `umb-color-swatches` it was possible just selecting another icon color and hit submit. In v8 one have to select another icon color, but also select the icon again (which then submit the form).

![image](https://user-images.githubuserc

[2019-01-13 20:31] bjarnef commented on #4052
It have update this PR so it actually use the `on-select` callback is previously have added/prepared on `umb-color-swatches` so I can just update `$scope.model.color` here instead.

I had some issues with getting the callback working, where I got an console error: `TypeError: Cannot use 'in' operator to search for 'vm' in color-light-blue`

![image](https://user-images.githubusercontent.com/291985

[2019-01-14 02:36] mikeallen222 opened #4054 "v8 Create Template button shows"
### Bug summary

When adding a template to a doc type that doesn't have a template, the button text reads, "[settings_createMatchingTemplate]"

### Specifics

Urls:
/umbraco#/settings/documenttypes/edit/-1?create=true&notemplate=true
or
/umbraco#/settings/documenttypes/edit/1062 (obviously your ID will be different)

version of Umbraco: 8.0.0-alpha.58

Browsers: Chrome 71.0.3578.98 and FireFox 64.

[2019-01-14 06:13] nul800sebastiaan commented on #4054
Thanks @mikeallen222 - fixed in https://github.com/umbraco/Umbraco-CMS/commit/92c278c593353aaa4af3011f68242734cc4e66b4

![image](https://user-images.githubusercontent.com/304656/51098605-c99fbe00-17cb-11e9-861d-df5749d08e97.png)

[2019-01-14 06:13] #4054 closed

[2019-01-14 07:13] nul800sebastiaan commented on #3390
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/3392

[2019-01-14 07:21] #3522 closed

[2019-01-14 07:46] RobertCopilau opened #4055 "MNTP- Can't see picked media items"
After selecting a media item, it will not appear in the editor.
Work is being done on #4037 PR branch
Once #4037 is merged this issue can be closed

![{EDF6B4FB-B276-4C89-80E7-6B3B02747F06}.png.jpg](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5b151a952d7cd20011c4533d/125516c66e82c728ace21e0d46f3b1be05d4a1fda9cbf261f60aa6d97d657f2a645cf30e27c8b50aec602b53585b49da415e125abca7

[2019-01-14 07:52] #3017 closed

[2019-01-14 08:04] kjac commented on #3390
I'll close this then 😁

[2019-01-14 08:04] #3390 closed

[2019-01-14 08:09] zpqrtbnk commented on #4030
Obviously ;-( Well this is temp, going to deal with it properly.

[2019-01-14 08:10] RobertCopilau commented on #4037
PR:https://github.com/umbraco/Umbraco-CMS/pull/4057

This also fixes MNTP unable to change Node type in the Configuration.
Content was always set no matter the choice.
https://github.com/umbraco/Umbraco-CMS/pull/4057/commits/8f41fe8d3840cccb5235ba632a6d69a2f8efbcc4

[2019-01-14 08:40] nul800sebastiaan commented on #3390
Haha whoops, forgot, thanks!

[2019-01-14 12:31] RobertCopilau commented on #4037
Found some more issues with the MNTP so I decided to push the fixes on this branch since they depended on it.

Fix for #4055 https://github.com/umbraco/Umbraco-CMS/pull/4057/commits/2ce3249c5e99fc27656f2af84b014bec937ea412

[2019-01-14 12:32] nul800sebastiaan commented on #3958
I think the purpose of the help panel was that you could have it open while working in the backoffice, you will get contextual links as well. So whenever the help panel is open, the rest of the backoffice should react in a responsive way.

[2019-01-14 12:36] RobertCopilau commented on #4037
What to test:

*[] Create a doc type with three versions of MNTP - content, media and member type.
*[] Make sure that you can pick and remove selected items
*[] Make sure that you can save/publish nodes with selected items

[2019-01-14 12:40] RobertCopilau commented on #4039
Update:
This is also the case if you select a start node with a content/media picker.

[2019-01-14 13:17] Ron-Brouwer opened #4058 "relateParentDocumentOnDelete not working"
Hi Guys,

During restore from bin in content and media the following request is made:

/umbraco/backoffice/UmbracoApi/Relation/GetByChildId?childId=10580

The request to this API does not include the **alias** "relateParentDocumentOnDelete" of the relation requested. This results in a list of relations that most likely have nothing to do with the restore and results in errors or moves to a differe

[2019-01-14 13:47] zpqrtbnk commented on #4028
Review = code review for changes - notes in `FileSystemsComposer` re how to compose filesystems - one replaces the media fs with

[code]

and can get the inner fs by injecting `SupportingFileSystems` and then

[code]

Test = everything should still work, especially the filesystems

[2019-01-14 14:30] readingdancer opened #4060 "V8: Rename Seperator to Separator"
In the source code, probably forever, there have always been some reasonably obvious typos in the names of properties, this is one of the most obvious ones and I think it would be great if it was fixed in the V8 branch before the product is in its final release, or it would end up being a breaking change in the future, which I assume is one of the reasons it has never been fixed in the past.

Repr

[2019-01-14 14:57] warrenbuckley commented on #4028
I suggested a friendly extension method name that's now been added
`composition.SetMediaFileSystem(() => new PhysicalFileSystem("~/media"));`

As opposed to the more generic `RegisterUniqueFor` just o make it a bit more Umbraco friendly & discoverable

[2019-01-14 14:57] #4028 closed

[2019-01-14 17:32] mikeallen222 opened #4062 "v8 template wysiwyg editor created items as Umbraco.Field() instead of Model.Value()"
### Bug summary

When using the wysiwyg editor for templates, using the "insert..." drop down to add a value creates the code @Umbraco.Field() which no longer works in v8.

### Specifics

Pretty much the summary ^^

### Steps to reproduce

1) Create a template
2) Navigate to Settings > Templates > [name of tempalte]
![image](https://user-images.githubusercontent.com/3188003/51129251-95d68f80-17ef-

[2019-01-14 21:00] elit0451 opened #4064 "Value of a price field cannot be used in a view"
When you add a property for price (decimal), and we do SavePost() it reads the property value, but when we use the property into the view it equates the value to 0.

* Create a document type.
* Add property for price.
* Create a content item from this document type.
* Give value to the price field.
* Use the value of the price property in a view.
-> value is 0

[2019-01-14 21:06] elit0451 opened #4065 "Images added by a Media Picker editor cannot be used in a view"
When you add pictures by a Media Picker editor (i.e. for a photos property), if you attempt to reference them in the view, an error that they are null appears.

* Create a document type.
* Add property for photos (Media Picker editor).
* Create a content item from this document type.
* Select several images.
* Use the images in a view.
-> value is null

[2019-01-14 21:13] elit0451 opened #4066 "Cannot select a Start node for a Media Picker editor"
When you add a property and its editor is a Media Picker, if you go to the settings of the editor and select a Start node and then press Save, the Start node won't be saved.

* In the Media tab add a couple of folders with some images inside.
* Create a document type.
* Add property for photos (Media Picker editor).
* Go to the cogwheel and set a start node to be one of the folders previously adde

[2019-01-14 21:19] elit0451 opened #4067 "Mandatory fields with inserted information complain that there are errors or that the value of a property is empty"
When you insert information in the fight format into mandatory fields, validation messages that the value is empty or that the property has errors will occur.

* Create a document type.
* Add both mandatory and nor required fields.
* Create a content item from this document type.
* Insert information into the fields.
* Save.
-> validation errors occur

![Required fields.PNG](https://waffleio-direc

[2019-01-14 21:27] elit0451 opened #4068 "Headline doesn't save as headline but as normal text"
* Create a document type.
* Add a property Content with a Grid layout editor.
* Make sure Headline is enabled for a row configuration.
* Create a content item from this document type.
* Select a row configuration for the grid layout.
* Choose a Headline and insert some text.
* Save.
-> the styling will be defaulted to normal text

**Before**
![Headline before.PNG](https://waffleio-direct-uploads-p

[2019-01-14 21:36] kjac commented on #3991
PR in #4069

[2019-01-14 22:00] kjac commented on #3982
Blimey @bjarnef you've added a lot here since I saw the issue last. Looks like you came to the same conclusions as I did, though.

Changing `<form` to `<ng-form` makes Chrome happy, and Angular doesn't have a problem with nesting those.

PR in #4070

[2019-01-15 07:01] nul800sebastiaan commented on #4062
I'll close this one as we're working on it already at HQ, thanks for reporting! For PR, see: https://github.com/umbraco/Umbraco-CMS/pull/4040

[2019-01-15 07:01] #4062 closed

[2019-01-15 07:38] nul800sebastiaan opened #4071 "Error executing scheduled task - This instance has already started one or more requests."
See: https://our.umbraco.com/forum/umbraco-cloud/95305-error-executing-scheduled-task-this-instance-has-already-started-one-or-more-requests

Problem was introduced in PR #2861, specifically here: https://github.com/umbraco/Umbraco-CMS/pull/2861/files#diff-57618e7a6a2ef0377d321d2978fe3c3dR69

[2019-01-15 07:40] #4071 closed

[2019-01-15 07:48] dawoe commented on #4058
Hi @Ron-Brouwer

Thanks for reporting this. I will see if I can reproduce this.

On what Umbraco version is this happening ?

Dave

[2019-01-15 08:00] dawoe commented on #4058
I just tested this on 7.13 and I confirm this is a issue. When a media item has more than one relation restoring fails because the alias is not passed to the api call.

[2019-01-15 08:29] elit0451 opened #4072 "Link to an image is not being generated"
* Add a folder in the Media section
* Add some images -> give them a name and then Save
* Navigate to the Info tab of the Image
-> no link is generated
`This media item has no link`

![Image.PNG](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5b631124103d580013dcf6a4/125516c66e82c728ace21e0d46c1999b2487c1e5cdf9ad4cae58f3806b1c65262b01f12f27d6b62cb91628545f5f4fad445d0a4da8af8c3

[2019-01-15 08:57] kjac commented on #4042
Actually the code is already trying to... just not in the right order. I have tracked down the issue and will push a PR soon.

[2019-01-15 09:11] kjac commented on #4042
PR in #4074

[2019-01-15 09:37] christophnz commented on #3875
Great to see HQ liked this addition and it is making it into 7.14.
I will try to remember to submit a pull request for the documentation once 7.14 is released.

[2019-01-15 10:12] MartinDeHaan opened #4075 "Property umbracoBytes should be of datatype 'dataint' for sorting"
Currently the PropertyType with alias 'umbracoBytes' is of datatype 'Umbraco.NoEdit'.
The dbType of that datatype is Nvarchar.
When you want to sort on this PropertyType the string sort is used.

A new datatype should be introduced:  'Umbraco.NoEditNumeric' with dbType 'Integer' and be mapped to the PropertyType 'umbracoBytes'. In theory sorting by this property would result in a numeric sort inst

[2019-01-15 10:35] zpqrtbnk commented on #4038
See PR https://github.com/umbraco/Umbraco-CMS/pull/4076 which adds an `IsElement` flag on content types.

And then yes, the idea is that the flag would switch Models Builder from `IPublishedContent` to `IPublishedElement` - and then, those models cannot be used for tree items. Not sure how a model could be _both_ `IPublishedContent` and `IPublishedElement`. Now, nothing prevents you from creating

[2019-01-15 10:47] ronaldbarendse commented on #3796
Too bad both the 'work-around' (limiting the dependency upper-version) or @Shazwazza's fix didn't make Umbraco 7.13 (and 7.13.1) release...

Both have a PR and limiting the upper-version of `Microsoft.AspNet.WebApi.WebHost` is a quick-fix that doesn't require further code changes or extensive testing: so why is this not even applied as temporary solution? 😕

[2019-01-15 10:56] Shazwazza commented on #4075
Or NoEdit can have a pre-value option to tell it how the data should be stored instead of creating another property editor just for that.

[2019-01-15 10:59] Shazwazza commented on #3796
I think it was not merged because we weren't sure if we were waiting on a reply https://github.com/umbraco/Umbraco-CMS/pull/3851#issuecomment-447720821

If you are happy with that code then i think it's fine to merge if @nul800sebastiaan  is happy with it and it's tested.

[2019-01-15 11:10] bjarnef opened #4077 "Adjust media item name on fileupload"
In v7.13.0 a feature was introduced to make the media item name prettier, when uploading files.

However part of this might be related to the language, e.g. compare this sentence in Danish vs. English.
Danish: "Jeg taler dansk".
English: "I speak Danish".

In English it would use a capital letter for "Danish", but not in Danish.

E.g. when uploading these file names:
"Nye-patienter.jpg" -> "Nye Pa

[2019-01-15 11:39] #4012 closed

[2019-01-15 11:46] elit0451 opened #4078 "Going through previous course materials and testing against v8"

[2019-01-15 11:51] kjac commented on #4038
@zpqrtbnk while I haven't tested #4076, it looks really good 😄

As long as we can work around the "not in the tree" limitation for now by using inheritance, I think it's OK. Maybe sometime down the road, elements could be created somewhere else in a "reusable widgets repository" of sorts, which would likely solve most of the use cases where elements would otherwise co-exist with content?

I suppos

[2019-01-15 12:33] nul800sebastiaan opened #4079 "v8: Installing fails on some machines due to excessive assembly binding redirects"
On some machines, I haven't been able to identify which ones yet, the `web.config` will contain extraneous binding redirects after installing the v8 NuGet package. I've verified that on my machine and a different machine that we do the following:

New project, using .NET 4.7.2:

![image](https://user-images.githubusercontent.com/304656/51180758-95122c00-18c9-11e9-816e-b77fdbc2bf58.png)

Then a com

[2019-01-15 12:49] zpqrtbnk commented on #4025
PR: https://github.com/umbraco/Umbraco-CMS/pull/4080

what it does:
* add a `MaxLevel` property to `RuntimeLevelAttribute` so we can have composers that run *only* if installing (and won't run when just running)
* refator `RuntimeState` so that it give more details about the reason why it decided to run in a given state (run, install, etc)
* refactor `RuntimeState` so that, depending on some appSe

[2019-01-15 12:51] zpqrtbnk commented on #4025
Testing: take a running site (with a version + a connection string in web.config) and remove the database sdf file, and restart the site (touch web.config). You should get a boot failed exception.

Then add the following appsetting:

[code]

And restart the site - now you should be taken to the installer.

*no idea what the installer will do, though, haven't tested that*

[2019-01-15 13:15] zpqrtbnk commented on #4079
Which version of Visual Studio is used when it fails? That issue was caused by an old Visual Studio and 15.7 minimum is required, so maybe make sure it's not the same issue.

[2019-01-15 13:35] kjac commented on #4038
@zpqrtbnk I'll have a look at nested content 👍

[2019-01-15 13:35] nul800sebastiaan commented on #4079
The one that I know fails is @jmayntzhusen and that's v15.8.6, he's updating now to see if 15.9 might fix it. Doubt it. :-)

Forcibly removing these entries as I suggested above does NOT work for him, I gave him a custom build to try, but no luck.

[2019-01-15 13:42] Shazwazza commented on #4039
@RobertCopilau we really don't want to use the content service, it's WAY less performant. The IEntitySlim already contains IsContainer, so you should easily be able to map that over

[2019-01-15 13:43] Shazwazza commented on #4039
@RobertCopilau you could just map it in the AfterMap logic of the EntityMapperProfile

[2019-01-15 13:49] RobertCopilau commented on #4039
Great! Thanks will do that :)

[2019-01-15 14:01] jmayntzhusen commented on #4079
After upgrading from 15.8.6 to 15.9.5 it works and the assembly bindings are down to these:

[code]

[2019-01-15 14:03] nul800sebastiaan commented on #4079
Cool, we'll have to add this to the system requirements, a bit of a pain since it DOES work on older versions but only by manually tweaking the web.config. :/

[2019-01-15 14:03] #4079 closed

[2019-01-15 14:14] kjac opened #4083 "V8: Linkpicker misbehaves when editing a link"
If you edit a link e.g. from an RTE, the link lists as "[object Object]":

![linkpicker-from-rte-before](https://user-images.githubusercontent.com/7405322/51185424-5edba900-18d7-11e9-82aa-5d0fe80c26ba.gif)

This happens because the linkpicker isn't geared for variant content.

Upon further inspection I've also found that:

- The anchor links selector is broken.
- The tree doesn't adhere to the mai

[2019-01-15 14:45] #3895 closed

[2019-01-15 17:25] KevinJump opened #4088 "v8 allow thirdparty trees to be grouped"
Might depend a bit on how Trees are loaded in v8 (#3236)

At the moment if you add a new tree to a section it is put in a 'Third Party' group within the section, While this makes sense from an umbraco point of view (it's thirdparty code) it might not for an editor'.  e.g The functionality might just be part of the site they got delivered - it's not 3rd Party its' part of their site.

so for exampl

[2019-01-15 20:54] bjarnef opened #4089 "v8: Disable LastPass on page heading"
I think it is a bit annoying that LastPass wants to add the "autofill" icon on heading input in e.g. doctypes, which then cover the alias input.

![image](https://user-images.githubusercontent.com/2919859/51208746-c7924800-190e-11e9-8a47-8ad421dc5249.png)

To fix this we can add `data-lpignore="true"` to the input in `/views/components/editor/`

[code]

Apparently it also need to be added to "desc

[2019-01-15 21:42] bjarnef opened #4090 "v8: Adjust styles of property settings datatype"
I think the property settings datatype needs a bit styling, e.g. to remove text-decoration on icons.

[2019-01-15 22:00] hfloyd opened #4091 "Grid Control: Allow 1-many sections, creating 3 tiers of nested tags for rendering"
I love using the Grid control for flexible page content, but have been coming across designs which require three levels : section --> row --> col.

I know the current v7 Grid control allows for a "section" (aka "Layout") to be defined, but I never use it because it is really only useful for creating a single full-page design (such as a main body and sidebar), since the editor is only allowed to se

[2019-01-15 22:07] bjarnef opened #4093 "v8: Richtext editor is missing icons in settings"
In **v8** it seems that Richtext editor no longer list the icons next to the checkboxes in settings as it did in v7. Only a few of the icons are available.

![image](https://user-images.githubusercontent.com/2919859/51212884-e518df00-1919-11e9-8d60-564ee618049c.png)

![image](https://user-images.githubusercontent.com/2919859/51212903-f82baf00-1919-11e9-8037-4a3d58a64a43.png)

In **v7** it looks li

[2019-01-15 23:12] christophnz commented on #3042
We had an issue where the backoffice was showing placeholders in square brackets for all the translated labels and buttons when changing the targetFramework to 4.7. I can confirm that upgrading to 7.13 fixes that issue.

[2019-01-15 23:35] JimBobSquarePants commented on #3323
I'd like to vote to get this reopened. All IO operations should really be Async unless you have a really, really, really good reason not to.

[2019-01-16 06:18] Shazwazza opened #4095 "v8 Macro picker is broken because EntityController no longer supports dynamic post filtering"
Reproduction
------------

Try to use the Macro picker in v8

### Specifics

There is a couple of  //fixme in the EntityController which currently throws NotImplementedException because it was relying on dynamic linq which we no longer support. This is the only place where that logic is required, so instead, we should have the macro picker use a new endpoint for it's own needs, or similar.

[2019-01-16 07:03] kjac commented on #4067
I can't reproduce this error:

![save-document-with-validation](https://user-images.githubusercontent.com/7405322/51231823-1965bd00-1965-11e9-9de8-8464c4794d79.gif)

I've tried:
- variant content
- invariant content
- mandatory validations
- regex/pattern validations

[2019-01-16 07:12] kjac commented on #4066
Seems I've found the error; will submit a PR when I have tested it.

[2019-01-16 07:50] fengfuyun52 opened #4097 "V7 Error during installation"
Error during installation
已取消一个任务。

See the log for full details (logs can typically be found in the App_Data\Logs folder)

=========
 2019-01-16 15:46:04,124 [P23092/D4/T1] INFO  Umbraco.Core.CoreBootManager - Umbraco 7.13.1 application starting on DESKTOP-2TM8UMC
 2019-01-16 15:46:04,161 [P23092/D4/T1] INFO  Umbraco.Core.PluginManager - Determining hash of code files on disk
 2019-01-16 15:46:04

[2019-01-16 07:57] bergmania commented on #3305
PR: #4096

[2019-01-16 07:58] fengfuyun52 commented on #4097
Upgrading Umbraco
Welcome to the Umbraco installer. You see this screen because your Umbraco installation needs a quick upgrade of its database and files, which will ensure your website is kept as fast, secure and up to date as possible.

To read a report of changes between your current version 0.0.0 and this version you're upgrading to 7.13.1

View Report

Simply click continue below to be guided

[2019-01-16 08:41] kjac commented on #4066
PR in #4098

[2019-01-16 09:42] zpqrtbnk commented on #4030
Have pushed a commit to `temp8` which updates ModelsBuilder with a version that supports the "is an element" flag from Core - so in the content type editor you can flag a content type as an element type, and then ModelsBuilder generates it as an element model (and does *not* strip the trailing "Element" from the alias, if it's there).

Moving the task to review.

How to review: create an element c

[2019-01-16 09:47] prjseal opened #4099 "Media items have no link to media in v8"
When testing out the v8 nightly builds, there is no link to media on the info tab.
It always says "This media item has no link".

![No link to media](https://i.imgur.com/P1QvHSt.jpg "No link to media")

[2019-01-16 09:50] kjac commented on #4030
@zpqrtbnk oh cool. I will give it a spin.

[2019-01-16 09:55] kjac commented on #4030
Indeed it looks good and Nested Content is happy with the element models.

![image](https://user-images.githubusercontent.com/7405322/51240975-268ea600-197d-11e9-94db-c098113fcd8e.png)

[2019-01-16 11:44] bergmania commented on #4037
I can't remove selected item, when they are saved:
![4037-1](https://user-images.githubusercontent.com/1561480/51247116-70cb5380-198c-11e9-83d5-841b3138460a.gif)

[2019-01-16 12:03] Shazwazza commented on #3996
See PR https://github.com/umbraco/Umbraco-CMS/pull/4101

**Make sure that #4010 is reviewed and merged first!!**

[2019-01-16 12:04] bjarnef commented on #4099
@prjseal it seems to be a duplicate of https://github.com/umbraco/Umbraco-CMS/issues/4072

[2019-01-16 14:45] Shazwazza commented on #4025
tested and merged, i made some updates: new RuntimeStateOptions where you can set these flags via code on PreAppStartup or via appsettings, also had to fix a quirk with the installer and error.html which needs to be pre-loaded, else the call to the error.html file results in a ysod and you don't see the error in the ui.

[2019-01-16 14:45] #4025 closed

[2019-01-16 14:59] dalibor983 commented on #2951
@nul800sebastiaan I did what you said, I upgrade Newtonsoft.Json with `Update-Package Newtonsoft.Json -IgnoreDependencies` but now I cannot update any other package because I always got this error:
[code]

[2019-01-16 15:43] mclausen opened #4103 "v8 - Variant Content picker doesn't pick correct variant"
Reproduction
------------
1. Create a document type with a content picker and enable variants
2. Create Document and Add content to both variants

3. Selecting Danish variation
![1](https://user-images.githubusercontent.com/3600782/51259801-2c03e480-19ad-11e9-9925-cd02c68cbd37.PNG)

4. With English content
![2](https://user-images.githubusercontent.com/3600782/51259926-6c636280-19ad-11e9-907a-29aa

[2019-01-16 18:30] RobertCopilau commented on #4037
@bergmania, did you get any console errors by any change?
I can't seem to be able to replicate.
I will look more into it tomorrow.

[2019-01-16 20:47] bmargevicius opened #4104 "Backoffice listview displays everything as published in 7.13.1"
Upgrade Umbraco from 7.12.4 to 7.13.1

In the backoffice, on a (custom) listview. When we publish to azure using the "release" profile items that are unpublished appear to be published (black font). If in debug, everything looks correct: published items are black, unpublished are greyed out.

Flipping debug=true/false in web.config does the same thing.
Inspecting the listview table elements in the

[2019-01-16 21:33] kjac commented on #4099
PR in #4105

[2019-01-16 21:33] kjac commented on #4072
PR in #4105

[2019-01-17 01:22] vonbv opened #4110 "Editors cannot create any type of content (any docType)"
After upgrading to **v7.13.0** all our editors cannot create any content. Our editors only have access to sections "Content" and "Media". The only way they can edit content is if we grant them access to the Settings section.

We thought it could be a caching issue of some sort, so we grant them admin access (to all sections). Editors, as expected, were able to create content. We then removed the a

[2019-01-17 05:07] kjac commented on #4110
Hi 😊 this and a few other things were fixed in 7.13.1 - see https://our.umbraco.com/download/releases//7131

[2019-01-17 05:31] vonbv commented on #4110
Thank you @kjac

[2019-01-17 06:52] bergmania commented on #4037
@RobertCopilau , no there is no errors in the console. Are you sure the model.value is updated when remove is clicked.

[2019-01-17 07:00] coonmoo opened #4112 "V8 Can't create Macro / edit Macro"
When trying to create a Macro in the backend the following error is shown:
[code]

When I create a Partial View Macro File with Macro I can actually create a Macro, but when I try to edit this Macro then the following error is shown:

[code]

I'm on 8.0.0-alpha.58.1612 and .NET 4.7.2

[2019-01-17 07:03] elit0451 commented on #4067
Hi @kjac

The problem was the tags -> the PR in this [issue](https://github.com/umbraco/Umbraco-CMS/issues/4012) fixes it. You have probably tried when it was already merged 😊

Thank you for checking it up. I am closing this issue.

[2019-01-17 07:03] #4067 closed

[2019-01-17 07:35] dawoe commented on #4110
Hi @vonbv

As @kjac already mentioned this is already fixed in 7.13.1. So a upgrade will fix the issue.

So I will close this issue.

Dave [Community Pull Request team](https://umbraco.com/blog/introducing-the-new-cpr-team/)

[2019-01-17 07:35] #4110 closed

[2019-01-17 07:39] #3236 closed

[2019-01-17 07:39] Shazwazza commented on #3236
Closing this since #3315 supercedes it

[2019-01-17 07:40] dawoe commented on #4104
Hi @bmargevicius

As I think it works in debug mode. I think the problem is your client dependency cache.

Have you tried updating the version number of clientdepency in the config file and cleared your browser cache ?

Dave [Community Pull Request team](https://umbraco.com/blog/introducing-the-new-cpr-team/)

[2019-01-17 07:42] dawoe commented on #4112
Hi @coonmoo

The macro section does not work yet at the moment because it has not been converted to angular yet.

I'm working on PR for that as we speak.

This is issue is already know an on the tracker (#3417). So will close this one.

Dave [Community Pull Request team](https://umbraco.com/blog/introducing-the-new-cpr-team/)

[2019-01-17 07:42] Shazwazza commented on #3315
The PR is here https://github.com/umbraco/Umbraco-CMS/pull/4111/files

* No more trees.config or applications.config file
* A package.manifest can register a section (i.e. Forms could do this: `"sections":  { "forms":  "Forms" }` )
* OR a section can be registered in c# in a composer by doing this `composition.WithCollectionBuilder<BackOfficeSectionCollectionBuilder>().Append<ContentBackOfficeSect

[2019-01-17 07:43] #4112 closed

[2019-01-17 08:23] dawoe commented on #4093
Hi @bjarnef

Thanks for reporting this issue. Seems like a bug to me

Dave [Community Pull Request team](https://umbraco.com/blog/introducing-the-new-cpr-team/)

[2019-01-17 08:37] bjarnef commented on #4093
Hi @dawoe

Then font icons was added here.
https://github.com/umbraco/Umbraco-CMS/commit/0bfc5f1272edeef0a19b608823ac8c6f04a8312a#diff-6fd9275921c82d47dedaa5e34ebb1fbe

Maybe the image icons also should be removed in v8 (if these haven't been removed). It doesn't seems TinyMCE use image icons anymore only font icons in the skin file.

As I remember the icons are based on the value of `frontendComm

[2019-01-17 08:39] bjarnef commented on #4093
Ooh, the `tinyMceConfig.config` is a lot different in v8.
I guess there is some part of the javascript which might need to be changed then.
https://github.com/umbraco/Umbraco-CMS/blob/temp8/src/Umbraco.Web.UI/config/tinyMceConfig.config

[2019-01-17 08:49] bjarnef commented on #4093
Yes, it still use the same approach
https://github.com/umbraco/Umbraco-CMS/blob/temp8/src/Umbraco.Web.UI.Client/src/views/propertyeditors/rte/rte.prevalues.controller.js#L30-L36

It should probably just use value of `alias` attribute on `<command>` element instead.

[2019-01-17 09:36] ronaldbarendse commented on #3990
Seems all existing logic is within the internal class [`UploadAutoFillProperties`](https://github.com/umbraco/Umbraco-CMS/blob/dd6e764588d22ef2b7bce01fd504ece89834f181/src/Umbraco.Core/Media/UploadAutoFillProperties.cs), but just resaving all media should update the auto-populated properties!

[2019-01-17 09:40] ronaldbarendse commented on #3990
This re-saves all images with a dimension of 200x200:

[code]
It's not a nice migration that only runs once, so make sure you don't keep this in your project!

[2019-01-17 10:52] vonbv commented on #4110
This is to confirm that the issue is fixed on 7.13.1.

[2019-01-17 10:54] stevemegson commented on #4104
This should be fixed by issue #4016. It's really a bug in ClientDependency, which changes the meaning of some CSS rules when minifying umbraco.css, but the CSS can be rewritten to avoid triggering the bug.

[2019-01-17 11:00] bjarnef commented on #3968
@nul800sebastiaan PR is ready. Much better right?  :wink: :hand:

[2019-01-17 11:17] nul800sebastiaan commented on #4104
Yep, should be fixed in #4016 👍

[2019-01-17 11:17] #4104 closed

[2019-01-17 12:08] bielu opened #4118 "V7 Media Service Save method not updating with new value of properties"
I am hitting the same problem, which someone already describes on Umbraco forum:
https://our.umbraco.com/forum/extending-umbraco-and-using-the-api/86958-media-service-save-method-not-updating-with-new-image-cropper-sizes I can reproduce that on clean Umbraco 7.13. When  I am using the save button in backoffice, it is working fine.

Reproduction
------------
Example Code:

		public static void Rege

[2019-01-17 12:17] nul800sebastiaan commented on #4060
Fixed in https://github.com/umbraco/UmbracoDocs/pull/1304

[2019-01-17 12:17] #4060 closed

[2019-01-17 12:36] RobertCopilau opened #4119 "Saved content overridden by published content"
Replicate:
Create a node with some properties, fill them up and publish.
Update the node and save it
Refresh page, saved content will be replaced with the previous published content
https://www.useloom.com/share/a09793f0bcc5420b9e9c655ba9086cfd

[2019-01-17 13:07] RobertCopilau commented on #4037
This seems to be a separate issue, have been able to replicate on brand new site.
Created issue here -> https://waffle.io/umbraco/Umbraco-CMS/cards/5c4076b6db83d702e172c311

[2019-01-17 13:15] RobertCopilau opened #4121 "Variants - "This document is published but its url cannot be routed""
|── Home/
│   ├── Page Eng -> has link
│   ├── Page Dk -> This document is published but its url cannot be routed

[2019-01-17 13:15] JoseMarcenaro commented on #3973
Hi Stephan - thanks for the update.
I just tried it with your last commit to temp8, and it goes much farther.

But it fails in this code (KeyValueService.cs, method GetValue(string key)

            EnsureInitialized();

            using (var scope = _scopeProvider.CreateScope())
            {
                var sql = scope.SqlContext.Sql().Select<KeyValueDto>().From<KeyValueDto>().Where<KeyValu

[2019-01-17 13:23] kjac commented on #4065
@elit0451 I can't reproduce this.

Given a doctype with two media picker properties:

- `mediaPickerMultiple` configured with "Pick multiple items" enabled
- `mediaPickerSingle` configured with "Pick multiple items" disabled

On a page with images picked in both properties:

![image](https://user-images.githubusercontent.com/7405322/51321403-f6213780-1a62-11e9-99fc-532df428d0f9.png)

...rendered b

[2019-01-17 13:31] zpqrtbnk commented on #3545
reviewing PR #3945... tests all green, site works, code review... has issues.

v8 has a `ContentTypeService` and a `MediaTypeService` meaning that depending on whether an `IContentBase` is an `IContent` or an `IMedia` we should get `contentTypeService.Get(item.ContentTypeId)` or `mediaTypeService.Get(item.ContentTypeId)`.

And it's the same for members and member types.

And, for instance in `Publ

[2019-01-17 13:50] readingdancer commented on #4060
Your welcome, great to see it merged in, thanks 😃

[2019-01-17 13:57] bergmania commented on #3908
PR: #4040
Part of other task.

I use Expression trees to create the clauses to the where, most of the existing code can still be used then.
The new timing is fairly correct IMO, due to the fact that calls on children are yield returned.

[2019-01-17 14:00] nul800sebastiaan commented on #4042
Fixed in #4074

[2019-01-17 14:00] #4042 closed

[2019-01-17 14:03] nul800sebastiaan commented on #3991
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/4069

[2019-01-17 14:03] #3991 closed

[2019-01-17 14:25] nul800sebastiaan commented on #4031
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/4094

[2019-01-17 14:32] nul800sebastiaan commented on #4099
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/4105

[2019-01-17 14:32] #4099 closed

[2019-01-17 14:32] nul800sebastiaan commented on #4072
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/4105

[2019-01-17 14:32] #4072 closed

[2019-01-17 14:38] RobertCopilau commented on #4039
https://github.com/umbraco/Umbraco-CMS/pull/4057/commits/2e782a4f114c44184f5076a07fbe3c94b5104524

[2019-01-17 14:54] nul800sebastiaan commented on #4088
Thanks @KevinJump - needs some discussion at HQ, I'll get back to you!

[2019-01-17 14:58] nul800sebastiaan commented on #4089
I think this is fine, but I'm also a bit scared that we'll then have to start doing this dozens of other form-fill plugins..

Anyway, we'll see if it gets to that, let's start with LastPass! 👍

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-01-17 15:01] bjarnef commented on #4089
@nul800sebastiaan yes, there might be issues with other Password Managers as well. :)

[2019-01-17 15:01] nul800sebastiaan commented on #4091
I'll put this on the list of ideas to look at in the future. I bet you can work around it now by (for example) adding nested content as a grid editor for example (I don't know for sure if that works, but I'm assuming there's options available!).

[2019-01-17 15:10] nul800sebastiaan commented on #4097
Hey there @fengfuyun52 - Make sure to get some help on the forum at [https://our.umbraco.com](https://our.umbraco.com) 👍

[2019-01-17 15:10] #4097 closed

[2019-01-17 16:15] mattbrailsford opened #4122 "OfType should handle null values"
When using the `OfType<>` helper methods one often does this when fetching a value, which may or may not be null.  For example

    Model.Blocks.FirstOrDefault(x => x.DocumentTypeAlias == MastheadBlock.ModelTypeAlias).OfType<MastheadBlock>();

However if the `FirstOrDefault` call returns null, then `OfType` will throw an exception. Given that the T param of `OfType` requires T to be a class, I thi

[2019-01-17 16:18] #4122 closed

[2019-01-17 16:44] hfloyd commented on #4091
Thanks, @nul800sebastiaan :-)
Nested content would only work if it included it's own grid control... I guess (wow... that could get kinda "inception"y...) But I think it would be a bit awkward from an editor perspective...

What I have been doing so far is having a text box as a row option for "Section Class", and if something is added there, the row becomes the beginning of a section. All the mes

[2019-01-17 18:02] zpqrtbnk commented on #3305
tests green, looks good - have fixed/changed a few things and un-commented tons of tests that had been commented - still all green - liking it - merged

[2019-01-17 18:02] #3305 closed

[2019-01-17 18:46] readingdancer opened #4125 "v8 - Spelling mistakes in Umbraco.Core"
There are a lot of spelling mistakes throughout the Umbraco source code ( the majority are just mistakes in the code comments ) these can make the code harder to read and also means that Intelisense used in Visual Studio often returns help information with spelling mistakes which doesn't look great.

This ticket is purely related to the Umbraco.Core project, I intend to raise further tickets for t

[2019-01-17 18:51] nul800sebastiaan opened #4126 "Integrate RJP Multi URL Picker into backoffice"
<p>Issue imported from old issue tracker: <a href="https://issues.umbraco.org/issue/U4-8930">U4-8930</a>

[2019-01-17 18:52] nul800sebastiaan commented on #4126
PR: https://github.com/umbraco/Umbraco-CMS/pull/2323

[2019-01-17 19:38] nul800sebastiaan commented on #4066
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/4098

[2019-01-17 19:38] #4066 closed

[2019-01-17 19:45] rasmusjp commented on #4126
Duplicate of #2967 :-)

BTW. I also have a (rather old) branch where the package is upgraded to v8 https://github.com/rasmusjp/umbraco-multi-url-picker/tree/dev-v3, should make it easier to migrate it.

[2019-01-17 19:55] nul800sebastiaan commented on #4126
Ah cool, I'll update that one instead.

Sweet, I was trying to merge it to 8 but that was a bit harder than anticipated. I can have a look at that branch too, cool.

[2019-01-17 19:55] #4126 closed

[2019-01-17 19:57] nul800sebastiaan commented on #4126
The v8 branch definitely won't work, `PropertyEditor`s don't exists any more, it's all `DataEditor`s now :-)

[2019-01-17 20:03] rasmusjp commented on #4126
Yeah, should be updated to `DataEditor`s in my repo (see https://github.com/rasmusjp/umbraco-multi-url-picker/blob/dev-v3/src/RJP.MultiUrlPicker/PropertyEditors/MultiUrlPickerDataEditor.cs).

Let me know if I should have a look at it with the latest v8 code.

BTW. you've added the wrong release tag in #2967 :-)

[2019-01-17 20:23] nul800sebastiaan commented on #4126
Whoops, thanks!

Yes, if you have some time it would be great if you could give a v8 version a retry!

[2019-01-17 20:39] rasmusjp commented on #4126
np.

I'll give it a go with the latest v8

[2019-01-18 00:10] skartknet opened #4131 "TypedContent method doesn't support Udi[]"
The TypedContent(params object[] ids) doesn't work with Udi[] not there's an overload that supports Udi[];

Reproduction
------------

Pass an array of Uids to retrieve the PublishedContent:
`var selectedNodes =  helper.TypedContent(nodeIds.Select(id=> Udi.Parse(id)).ToArray());`

nodeIds is an array of Udi as strings.

### Expected result

Array of IPublishedContent

### Actual result

Empty Arra

[2019-01-18 08:19] nul800sebastiaan commented on #4131
If you call it Udi and not Uid then we'd be happy to have an overload accepting Udi[] 😁

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-01-18 10:01] zpqrtbnk commented on #3315
reviewed and tested and all was ok - tests, backoffice - looks way nicer!

could not resist tweaking things... have aligned the manifest to other declarations, so now its
[code]

thinking this format is more future-proof if we ever want to add stuff to sections

hopefully that's ok, else hate me and we'll revert

[2019-01-18 10:01] #3315 closed

[2019-01-18 10:31] madsoulswe commented on #4121
I asked @zpqrtbnk about this and you need to bind domains for it to work.
Will this be "fixed"/solved? =)

[2019-01-18 10:41] RobertCopilau commented on #4121
Hey Dennis, I also had a chat with Stephan and that's the intended behavior.
It was a mistake on my part so I will be closing this issue as there is nothing to fix.

[2019-01-18 10:41] #4121 closed

[2019-01-18 10:43] readingdancer commented on #4125
Please use look at this pull request: https://github.com/umbraco/Umbraco-CMS/pull/4130

[2019-01-18 11:43] bergmania commented on #4119
PR: https://github.com/umbraco/Umbraco-CMS/pull/4137

[2019-01-18 11:45] NurhakKaya opened #4138 "417 missing token problem - after Umbraco upgrade from v7.5.7 to v7.13.0"
This doesn't look like a new bug as it [has been reported before](https://our.umbraco.com/forum/using-umbraco-and-getting-started/85747-417-missing-token-suddenly-occurring-on-all-our-sites#comment-301285) for multiple Umbraco versions but as the problem still happens with one of the latest Umbraco version (v7.13.0), I am creating a new bug for this again;

As you can see my notes for Issue #2157

[2019-01-18 11:52] nul800sebastiaan commented on #4138
Thanks for reporting again, unfortunately, we're not able to reproduce on a clean install at the moment.

As soon as we can reproduce the problem somehow we can have a look at fixing it. Until then I'm going to close this until we get more information as to what might be causing this.

[2019-01-18 11:52] #4138 closed

[2019-01-18 12:03] zpqrtbnk commented on #3996
tests green, code review ok, site runs, merging

[2019-01-18 12:04] #3996 closed

[2019-01-18 12:49] #4037 closed

[2019-01-18 12:51] #4055 closed

[2019-01-18 12:51] #4039 closed

[2019-01-18 12:56] warrenbuckley commented on #3998
Closed fixed in this PR - https://github.com/umbraco/Umbraco-CMS/pull/4101

[2019-01-18 12:56] #3998 closed

[2019-01-18 13:12] marcinbigoraj opened #4140 "Richtext Editor never dirty again after saving"
### Bug summary

When content contains Richtext Editor, after clicking save, whole form becomes pristine, but any further changes in RTE won't make the form dirty anymore.

### Specifics

Umbraco version: 7.13.1
Browser:  Chrome 71.0.3578.98, but bug should occur on all browsers

### Steps to reproduce

1. Create _Document Type_ containing _Richtext Editor_
2. Create _Content_ of this _Document Ty

[2019-01-18 13:57] bjarnef opened #4142 "Only allow moving items from recycle bin to parents that allow children of this type"
Edit: note, this turned into a feature request with this comment: https://github.com/umbraco/Umbraco-CMS/issues/4142#issuecomment-455871431

In this PR https://github.com/umbraco/Umbraco-CMS/pull/2687 it added the "Restore" action to nodes in recycle bin.

However if I move a node to recycle bin in default starter kit, e.g. an blog post it wants to restore under "Blog" node, but if the blog node a

[2019-01-18 14:41] kjac commented on #4142
Pretty sure I did a lot of fixing in this area. What version are you running?

[2019-01-18 15:12] HalldorLyngmo opened #4144 "Changing member password in the backoffice not working as expected when allowManuallyChangingPassword is set to true"
It used to be possible to set the allowManuallyChangingPassword setting to true and be able to change a member password without needing their old password in the backoffice.

In Umbraco v7.13.0 this won't work and there is an error message complaining about the old password for the user even if the field is not there.

![image](https://user-images.githubusercontent.com/42831978/51393868-0efc1c80-1

[2019-01-18 15:39] drummerboy46 commented on #2967
Ha, I've actually moved away from the Related Links picker to the RJP one.

Can we ensure the RJP version remains compatible with the Umbraco version? I recall this was a problem with nested content when it came into the core.

The UI/UX for related Links is a really bad fit for the backoffice and it should be shelved in favour of the RJP one. You really notice the poor UI in RL when trying to emb

[2019-01-18 15:43] drummerboy46 commented on #2967
If I was to request one feature in the configuration, the ability to decide what pickers are enabled...

Internal content picker
External Urls with query
Media picker

[2019-01-18 15:51] drummerboy46 opened #4145 "Copy document type improvement"
This has been a particular annoyance to me...

When you select "copy" from the document type tree menu it only provides the options to copy the type to the root or a sub-folder.

Can this be changed for the copy to appear by default in the same place within a doctype parent/child relationship rather than just the root or a sub-folder?

My workaround for this so far has been to modify the subsequen

[2019-01-18 16:46] NurhakKaya commented on #4138
Thanks for the reply but as mentioned in the bug; the problem occurs after an Umbraco upgrade from v7.5.7 to v7.13.0 and this problem has been reported for multiple Umbraco versions and multiple times. I can see that you have spent some time to fix this problem but saying "we're not able to reproduce on a clean install" doesn't change the reality which is there is a bug from v7.5.7 to v7.13.0 whic

[2019-01-18 17:05] readingdancer opened #4147 "v8 - Spelling, typos and general cleanup in the Umbraco.Web project"
There are spelling mistakes, typos and ambiguous abbreviations throughout the solution, this ticket is just for the Umbraco.Web project.

This will improve:
- the code readability
- the intellisense used by all developers within Visual Studio
- Error messages
- Log messages
- Make the TODO comments consistent so they show up within the Visual Studio Task List. e.g.
`// TODO:`

[2019-01-18 20:12] mclausen commented on #4103
Good point @zpqrtbnk, though it can lead to some confusion for the uninitiated.

The confusion part lies in that is not the same document that you pick on the list that gets displayed on the content, and the list you get has a language selection dropbox in the top as well, thus making it perceived to be able to choose a variation :neutral_face:

I am obvious a bit out of my element here :innocent:

[2019-01-18 20:55] jfsaliba commented on #4144
Adding my voice here as well. Can't reset passwords without providing the "old" password ever since we upgraded to 7.13.0. Can't set a new password from the backoffice like described here, nor can we change a user's password in code without knowing the old password. The "reset password" option in the backoffice to generate a new password *does* still work however.

This is a huge problem since we

[2019-01-18 23:29] bjarnef opened #4149 "v8: Rich text editor styles preview should use normal line height"
In v8 when creating a rich text editor stylesheets, e.g. the following:

Name: Heading
Selector: h2
Styles: font-size: 40px;

Then it looks like this, because it inherits the line-height: 20px; from body.

![image](https://user-images.githubusercontent.com/2919859/51417748-cfa4ee80-1b7f-11e9-868c-b8529df7ae17.png)

It should probably have a default line-height here. E.g. add a class `umb-rte-style

[2019-01-18 23:42] bjarnef opened #4150 "v8: Create folder under stylesheets"
There changes made in v8 under stylesheets are really cool and I noticed it now also are able to show subfolders created on file system.

![image](https://user-images.githubusercontent.com/2919859/51418257-c8cbab00-1b82-11e9-86a8-20cf8bf5a1e2.png)

However one feature I think is missing is the option to create a folder under stylesheets from backoffice, just like you can under scripts folder.

![i

[2019-01-19 11:48] zpqrtbnk commented on #4103
the picker lets you browse the tree and as such, lets you see the tree in different languages

it can indeed lead to confusion - but generally speaking, ppl will have to understand the concept that there is only 1 unique document (with different cultures) and not a "thing" per culture - this impacts various other areas of the CMS.

[2019-01-19 12:16] kjac commented on #4142
@bjarnef for content it should be in 7.13:

![image](https://user-images.githubusercontent.com/7405322/51426486-dbc69580-1beb-11e9-99e1-c1ec8e77f61a.png)

See also #3772.

I'm pretty sure it was already there for media before 7.13, but 7.14 brings some improvements to it. See #3914.

[2019-01-19 15:07] callumbwhyte opened #4151 "Unused language file dictionary keys in V8"
While looking through the V8 codebase I found a handful of language file dictionary items that seemed to be unused / not references. I figured there may be more instances of this, including keys that exist in some files but not others, so set about find a way to identify all of them.

I have written a Powershell script that checks over the Umbraco source code for unused dictionary items. For refer

[2019-01-19 17:05] mclausen commented on #4103
Gotcha. I think that the issue can be closed, and the idea put in the drawer for now 😄

[2019-01-19 17:19] Matthew-Wise commented on #3235
The cause is because there is nothing else for the cursor to target as the the full RTE is the macro.

Interestingly if you use the arrow/enter/backspace/delete keys it creates a p tag and you can continue typing beneath the macro.

Only thing I can think of doing is adding an additional key press watch on the macro container, to repeat the action.

[2019-01-19 20:01] craigs100 opened #4154 "Can't save empty grid layout"
A brief description of the issue
------------
V7.13.1
When saving a page with an empty grid layout, the page is saved as if a layout has been selected.

Reproduction
------------

1. Create a grid DataType with a single layout and single row configuration, both single cell, full width.
2. Add to a DocType.
3. Create a page on that DocType.

### Expected result
When the page is opened for editing,

[2019-01-19 20:30] bjarnef commented on #4150
If I remember correct it is also possible from backoffice to rename folders in scripts folders, but I am not sure if it is possible to rename folders under stylesheets (I haven't checked).

[2019-01-20 01:51] mehrdadab opened #4155 "The database failed to upgrade. V8"
I tried to install Umbraco 8 for the first time. I downloaded the code and ran it by visual studio.
When I entered my connection string info to install I received this error: Object reference not set to an instance of an object. I tried again, this time I see:

Error during installation
The database failed to upgrade. ERROR: The database configuration failed with the following message: Object refe

[2019-01-20 09:55] zpqrtbnk commented on #4155
Have seen it happen on my machine once and assumed it was a glitch - but if it's been reproduced, then we might have an issue indeed. Some of the installer code changed recently. Looking into it.

[2019-01-20 11:18] kjac commented on #4150
@bjarnef gotcha. I guess I just figured the stylesheets tree was largely unused for anything but adding styles to the RTE.

V7 doesn't have folders in the stylesheets tree. I have no idea if there has ever been a request for them. @nul800sebastiaan might be able to answer that part. If not... then maybe we shouldn't do this until it's requested for a concrete need?

[2019-01-20 11:37] kjac commented on #4149
@bjarnef good catch! Are you creating a PR for it or shall I whip one up?

[2019-01-20 12:54] bjarnef commented on #4149
@kjac you are welcome to have a look at it.
I think this would be a great basic style to ensure it doesn`t inherit styles from body etc.

[code]

[2019-01-20 13:10] bjarnef commented on #4150
@kjac what I always have loved about Umbraco is its flexibility and it doesn't limit the developer. Furthermore it is great for both newbies and experts. When I learned about Umbraco ~10 years ago I liked I could create the website from backoffice without opening Visual Studio or other code editors.
One thing I was missing though was the ability to structure stylesheets into folders. Previously I

[2019-01-20 14:21] bjarnef commented on #3981
@nul800sebastiaan I guess we can close this one?

[2019-01-20 14:34] bjarnef commented on #4142
@kjac ahh sorry, I was checking new features and bug fixes in different minor version from v7.10 to v7.13 .. but was looking at v7.11 where the restore action was added and move action removed.
https://our.umbraco.com/download/releases//7110

I just checked in v7.13.1 and the move action is back! 😁

One thing that would be great for move action for a deleted node (or move in general) that you only

[2019-01-20 14:45] bjarnef opened #4156 "Issuu oembed doesn't work"
It seems the issuu oembed provider which was added in v7.11 doesn't work:
https://our.umbraco.com/download/releases//7110
https://github.com/umbraco/Umbraco-CMS/pull/2694

Maybe something has changed?
I have trieds in different Umbraco version incl. latest v7.13.1, e.g. the following publication:
https://issuu.com/gylupake/docs/1981521275-i_am_10_and_magical_by_w

![image](https://user-images.gith

[2019-01-20 14:52] bjarnef opened #4157 "v8: Remove text decoration on node icons in listview"
In v8 it seems the node icons in listview grid layout also has text decoration on hover.

![image](https://user-images.githubusercontent.com/2919859/51440830-469ace00-1ccb-11e9-92cc-da4485309cd3.png)

Maybe the heading (node name) should be wrapped inside a span, so only this element get the text decoration.

[2019-01-20 14:56] bjarnef opened #4158 "v8: Localization of packages section"
It seems a bit of the packages section needs to be localized, e.g. the section name and the sub navigation.

![image](https://user-images.githubusercontent.com/2919859/51440884-e6585c00-1ccb-11e9-86a0-5db8279fbc34.png)

[2019-01-20 16:32] kjac commented on #4064
I can reproduce this. PR in #4160

[2019-01-20 16:35] kjac commented on #4077
@bjarnef it's not quite feasible to make the feature content aware (i.e. recognizing "danish" as a language).

I suggest we change the feature so it only uppercases the first letter of the file name, not every single word in the file name. How does that sound?

[2019-01-20 16:40] kjac commented on #4149
👍

I agree, `normal` works just fine. I'll have a look at it.

[2019-01-20 16:45] bjarnef commented on #4077
@kjac yes and in that case I think it would be better the leave the casing as in the uploaded file name :)

[2019-01-20 19:32] bjarnef commented on #4156
The log file show this stacktrace: `Data from the transport connection could not be read: An existing connection was forcibly interrupted by an external host`.

[code]

[2019-01-20 19:47] #4058 closed

[2019-01-20 19:57] nul800sebastiaan commented on #4052
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/4053

[2019-01-20 19:57] #4052 closed

[2019-01-20 20:01] nul800sebastiaan commented on #4149
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/4161

[2019-01-20 20:01] #4149 closed

[2019-01-20 20:05] nul800sebastiaan commented on #4064
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/4160

[2019-01-20 20:05] #4064 closed

[2019-01-20 20:06] kjac commented on #4150
Well as you mention it's already there for scripts, so adding it for stylesheets shouldn't be too much of a hurdle really. I think it's something HQ should weigh in on before we start hacking though...

[2019-01-20 20:08] nul800sebastiaan commented on #4093
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/4152

[2019-01-20 20:08] #4093 closed

[2019-01-20 20:16] nul800sebastiaan commented on #2967
@drummerboy46 The plugin and the core versions have a different alias, they will remain separated on upgrades. RJP version is still compatible,

RelatedLinks has been obsoleted and won't show up any more unless you're upgrading with an existing RelatedLinks datatype added.

This has now [been merged](https://github.com/umbraco/Umbraco-CMS/pull/2323) for a 7.14 release! 🎉

[2019-01-20 20:16] #2967 closed

[2019-01-20 20:19] nul800sebastiaan commented on #3968
Very nice indeed, thanks @bjarnef  !

Fixed in  https://github.com/umbraco/Umbraco-CMS/pull/4108

[2019-01-20 20:19] #3968 closed

[2019-01-20 20:56] bjarnef opened #4162 "v8: Fix deleting created package"
In the new package in v8 it list created packages similar to language, so the created packages are not listed as tree nodes.

The delete confirm dialog is similar to the language confirm dialog, but unlike languages delete is doesn't set the delete button state https://github.com/umbraco/Umbraco-CMS/pull/4108.

Furthermore the legacy dialog on tree node action still exists.

[2019-01-21 02:44] readingdancer commented on #2907
Just a quick note to say I have a new Work in Progress Pull Request that will add RTL support to Umbraco v8, I am hoping to submit it as a proper pull request later this week.

[2019-01-21 06:49] zpqrtbnk commented on #4155
it would definitively, as the commit I mentioned fix this issue, precisely

[2019-01-21 07:03] nul800sebastiaan commented on #4155
Yep, that was when this issue was fixed, I'll close this issue for now.

Please note: if you're installing Umbraco just to play with it, it's much easier to use the nuget package as listed on [our download page](http://our.umbraco.org/download). The command to run in your package manager console is: `Install-Package UmbracoCms -Pre -Source https://www.myget.org/F/umbracocore/api/v3/index.json`

Yo

[2019-01-21 07:03] #4155 closed

[2019-01-21 07:19] nul800sebastiaan commented on #4154
I can reproduce, I can see the unused grid:

![image](https://user-images.githubusercontent.com/304656/51458230-c7ea7300-1d54-11e9-90d1-2fe20bbe2f42.png)

And what's saved is some json:

![image](https://user-images.githubusercontent.com/304656/51458246-d33d9e80-1d54-11e9-95be-f9950ef90f48.png)

Note that this has probably worked this way all along, I can also reproduce in v7.7 for example.

I've

[2019-01-21 08:49] nul800sebastiaan commented on #4089
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/4153

[2019-01-21 08:49] #4089 closed

[2019-01-21 08:57] #3417 closed

[2019-01-21 08:58] nul800sebastiaan commented on #4156
It's difficult to decipher the Danish error message, but I suspect it might be that Issuu is only allowing TLS 1.2 connections. There's a package that will help re-order the way your site tries to connect to other sites. It tried TLS 1.2 first, then 1.1, then 1.0. Can you try that?  https://our.umbraco.com/packages/developer-tools/codesharetls12umbraco/

[2019-01-21 09:08] dawoe commented on #3417
@bergmania why is this closed ? I'm almost done on the work

[2019-01-21 09:20] nul800sebastiaan commented on #4150
I think it's a great idea, however we don't want to add any more legacy code to v7 (the create dialog for stylesheets in v7 is still webforms) so it would have to go in v8 instead. 👍

[2019-01-21 09:21] nul800sebastiaan commented on #4156
Ps. I've tested this now, it works :-)

[2019-01-21 09:31] bjarnef commented on #4156
Sorry @nul800sebastiaan
Here it is in English 😀

[code]

[2019-01-21 09:31] nul800sebastiaan commented on #4156
Thanks.. too late now, the solution is above! :)

[2019-01-21 09:42] bjarnef commented on #4156
@nul800sebastiaan yes, I have tested this and it works when set `SecurityProtocol` (I always forget about this when requesting various API endpoints via https protocol.

Is it possible the `GetEmbed` can handle this or do we just have to remember to set this? 😬

[code]

[2019-01-21 09:50] nul800sebastiaan commented on #4157
Good point, thanks!

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-01-21 09:53] bjarnef commented on #4150
@nul800sebastiaan it's fine with me that it only is available in v8, where the stylesheets have got an UX overhaul anyway 😁

[2019-01-21 10:07] nul800sebastiaan opened #4166 "Outgoing connections sometimes fail because they require TLS 1.2"
.NET 4.5 did not include support for TLS 1.2 by default, so we need to tell it to also try TLS 1.2 connection (as well as fall back to 1.1 and 1.0 if available).

Currently this can be done with some code (see link below) in an event handler but we should include it in core by default.

https://github.com/prjseal/CodeShare.TLS1.2.Umbraco/blob/master/CodeShare.TLS1.2.Umbraco/EventHandlers/RegisterE

[2019-01-21 10:07] nul800sebastiaan commented on #4156
Yep, will be fixed in: https://github.com/umbraco/Umbraco-CMS/issues/4166

[2019-01-21 10:07] #4156 closed

[2019-01-21 10:09] bjarnef commented on #4156
@nul800sebastiaan can you tell if there is any of these approach which are preferred? The one I posted or this one:

[code]
https://github.com/prjseal/CodeShare.TLS1.2.Umbraco/blob/master/CodeShare.TLS1.2.Umbraco/EventHandlers/RegisterEvents.cs

In the latter one if only sets `Tls12` if `SecurityProtocolType` not already is `Tls12`.

In the example I posted is fallback to `Tls11` or `Tls`.

[2019-01-21 10:10] #4166 closed

[2019-01-21 10:13] nul800sebastiaan commented on #4156
Paul's code above is sufficient, there's automatic fallbacks to lower protocols.

[2019-01-21 10:59] #3974 closed

[2019-01-21 11:06] kjac commented on #4150
Cool. I can have a look at it one of these days 😄

[2019-01-21 11:36] kjac opened #4168 "V8: Element type content in the content tree or not?"
With the introduction of element content types we're faced with a choice: Do we allow element content types in the content tree or not?

A common use case is to have a folder of widget elements within the content tree for reuse across the content tree. Element content types are ideal for this use case. If we allow them in the content tree, that is.

Allowing element content types in the content tr

[2019-01-21 12:21] mortenbock opened #4169 "Replacing the ILogger implementation"
Is there a reason that the logger resolver does not allow replacing?

https://github.com/umbraco/Umbraco-CMS/blob/dev-v7/src/Umbraco.Core/Logging/LoggerResolver.cs#L17

The method is there, but it is internal.

I would like to make my own ILogger implementation.

[2019-01-21 14:35] drummerboy46 commented on #4145
Here's what i'm experiencing in pics...
![capture2](https://user-images.githubusercontent.com/6703035/51480641-6bee1180-1d89-11e9-8ce7-e35032a8827f.PNG)
![capture3](https://user-images.githubusercontent.com/6703035/51480643-6db7d500-1d89-11e9-8ad2-9119ba9c96b2.PNG)
![capture4](https://user-images.githubusercontent.com/6703035/51480644-6ee90200-1d89-11e9-8f71-4e37924741b3.PNG)

I have two choices c

[2019-01-21 15:13] kjac commented on #4145
Hi again. You can't copy a document type underneath another document type. Too many things can go wrong with that... Duplicate properties and tabs, circular references, ...

I can see it's a bit late to tell you this, but you should consider using compositions instead of inheritance. It's much more powerful and does not rely on structure.

[2019-01-21 16:41] zpqrtbnk commented on #3668
reviewed code changes, have fix how `IPublishedValueFallback` works and deals with missing properties in recurse fallback, have created a few tests around it, happy with it all, merged

[2019-01-21 17:04] zpqrtbnk commented on #3668
OTOH having issues when running the code in the backoffice - investigating

[2019-01-21 17:12] drummerboy46 commented on #4145
This is our main site, agency built originally. They used a mixture of inheritance and compositions.  I understand there's been a lot talk over dumping inheritance altogether, but it has remained.

I've not had any issues with re-importing the doctype into the same place in a hierarchy as long as the name is different and it has a new unique GUID. This is something I do manually using uSync.

Mayb

[2019-01-21 17:51] zpqrtbnk commented on #3668
query builder would crash on empty site, fixed + query builder was ... odd ... have refactored the code, hopefully cleaner now - closing this task

[2019-01-21 17:51] #3668 closed

[2019-01-21 17:52] zpqrtbnk commented on #3908
reviewed as part of the PR review - and it works fine, the expression thing is nice! closing

[2019-01-21 17:52] #3908 closed

[2019-01-21 18:03] zpqrtbnk commented on #4119
reviewing - i'd rather we understand why null is not properly handled as that may indicate other issues - looking into it

[2019-01-21 18:06] bergmania commented on #4119
@zpqrtbnk, I think it is because numbers etc. are saved in a textbox in html, and we can't handle "" as a int.

[2019-01-21 18:15] kjac commented on #4150
PR in #4170

[2019-01-21 20:13] kjac commented on #4145
@drummerboy46 so long as you keep on the straight and narrow path you can do what you're doing with little or no risk 👍 but soon as you move off said path, there are all kinds of things that can go horribly wrong.

If the document types you're copying aren't terribly complex you could also opt for creating them explicitly as children to save yourself the hassle of "uSync'ing" them into place.

[2019-01-21 21:53] kjac commented on #4154
Looks very much like it's by design. The rule seems to be: *If there is no current property value and only one row layout, add a row as default value".

That being said it's not particularly smart to add that default value. I've got the problem pinpointed in the code, will submit a PR soon as I can.

[2019-01-21 23:36] prjseal opened #4172 "Create a health check for TLS 1.2"
It would be good to have a health check for TLS 1.2 in Umbraco.Core like the one in the Our.Umbraco.HealthChecks package. @nul800sebastiaan asked me to submit it as a PR, so here is the issue for it first.

I have done the work already and will submit a PR and link it to this issue.

[2019-01-22 00:40] prjseal opened #4174 "Add some ids to the disabled health checks"
Now that we have our first health check which is being promoted from Our.Umbraco.HealthChecks to Umbraco core see #4173 , it would be good to add the id of the one in the community project to the disabled health checks list in the HealtChecks.config file that ships with core. This will prevent the check being duplicated.

Our.Umbraco.HealthChecks supports versions 7.5 to latest, but some checks do

[2019-01-22 02:06] robertjf opened #4176 "This type of page is not served. exception with MemberAuthorize attribute on SurfaceController"
I've come across the same issue that's described here:

https://our.umbraco.com/forum/using-umbraco-and-getting-started/93164-login-page-for-surfacecontroller

The problem is that when I attempt to access a POST method on a SurfaceController that has the `MemberAuthorize` attribute applied, if the Member login has timed out I get the folllowing error:

[code]

### Specifics

    * Umbraco Version

[2019-01-22 06:40] kjac commented on #4154
PR in #4177

[2019-01-22 07:10] #4119 closed

[2019-01-22 07:14] #4103 closed

[2019-01-22 07:48] zpqrtbnk commented on #4169
The `ILogger` implementation cannot be replaced through the `LoggerResolver` `SetLogger` method because the logger is created and registered early in the boot process. The logger is one of the few things that are registered and used so early, that even in v8 it cannot be replaced via the traditional "composition" process.

In order to replace the logger, one has to override the *boot manager* ie c

[2019-01-22 08:38] bjarnef opened #4178 "v8: Edit embed grid editor"
It would be great if it was possible to edit the embed grid editor. I the moment you have to remove it and insert it again. Often the embed preview is a video or something else interactive, e.g. YouTube and Issuu.
So it should probably have an overlay which is clickable similar to this implemented here:
https://github.com/umbraco/Umbraco-CMS/pull/1621

@madsrasmussen suggested in the original issu

[2019-01-22 08:42] bjarnef commented on #4031
@nul800sebastiaan I guess you can close this one 👍

[2019-01-22 09:14] mortenbock commented on #4169
Thanks for the feedback Stephan.

It does make sense. I just did an experiment, and I can set the `CanResolveBeforeFrozen ` via reflection, so by using the BootManager approach, I am no longer getting any log files on disk, and can log where I wish.

It solves my current usecase, but it would probably be great if the ILogger could be replaced without reflection in the future.

[2019-01-22 10:05] jamescoxhead opened #4180 "Folder icons in media picker contain file type indicator"
When browsing through the media picker in 7.13, the folder icons attempt to show the file type indicator:

![media picker](https://user-images.githubusercontent.com/6759305/51527224-f0916c00-1e2b-11e9-81e2-989faf496e3f.png)

Reproduction
------------

### Specifics
I've reproduced this in 7.13.0 and 7.13.1 (clean install and upgrade). The folders appear fine in versions prior to 7.13.

### Steps t

[2019-01-22 10:24] sofietoft opened #4181 "V8: Loosing context after editing DocType from content"
When editing a Document Type from the _Info_ tab on a content node, no tab i selected one I click 'Save and close' on the Document Type.
I'm still on the content node, but none of the tabs are selected, and I'm just seeing a "blank" page:

![loosing-context](https://user-images.githubusercontent.com/24529086/51528929-fdb45800-1e37-11e9-91fb-a994ee8b6624.png)

In order to move on, I need to re-sele

[2019-01-22 10:56] mclausen opened #4182 "V8 - Consistent naming accross property editors"
I ran across some inconsistent naming for property editors.

![capture](https://user-images.githubusercontent.com/3600782/51530968-6e5d7380-1e3c-11e9-8502-6abfa1ce4b1d.PNG)

**Expectation**
I expect all corresponding property editors to have the same name regardless whether they are under different sections.

[2019-01-22 11:45] nul800sebastiaan commented on #4169
Replacing the logger will be possible in v8, for v7 for your use cases it seems like just updating the log4net config with your own appenders should be enough. Maybe there's a really good usecase but for now we'll spend our efforts elsewhere instead! :-)

[2019-01-22 11:45] #4169 closed

[2019-01-22 11:59] bjarnef commented on #4180
I believe this was fixed in this commit https://github.com/umbraco/Umbraco-CMS/commit/1213551ca951db86acc0fda3f40b0a1d4efad4a5

[2019-01-22 12:02] mortenbock commented on #4169
By "future" I did mean v8 :) Good to hear that it is already solved there.

[2019-01-22 12:42] kjac commented on #4180
@bjarnef looks about right 👍

[2019-01-22 13:05] kjac commented on #4182
@mclausen you're seeing this because you have an existing Checkbox datatype named "True/false". It's probably the default Checkbox datatype that was created when you installed Umbraco.

In 7.12 the name was changed to "Checkbox", and thus it looks like this by default on new installs:

![image](https://user-images.githubusercontent.com/7405322/51537390-b1284700-1e4e-11e9-8fb5-656add4e0a5e.png)

[2019-01-22 13:08] nul800sebastiaan commented on #4180
It was :) Will be available in 7.14 (or 7.13.2, not sure yet).

[2019-01-22 13:08] #4180 closed

[2019-01-22 13:37] nielslyngsoe opened #4185 "V8 — Returning to node after saving a DocType in infinity editing turns the current content app into a blank"

[2019-01-22 14:08] kjac commented on #4181
Ah. I may possibly have had something to do with this. I'll have a look 👍

[2019-01-22 14:24] kjac commented on #4181
PR in #4186

[2019-01-22 14:42] nul800sebastiaan commented on #4182
Kenn is correct, it will be .. "eventually consistent" ;-)

[2019-01-22 14:42] #4182 closed

[2019-01-22 15:04] nul800sebastiaan opened #4187 "V8: Editing links from Multi URL Picker and Content Picker broken"
While testing https://github.com/umbraco/Umbraco-CMS/pull/4171 I noticed that the edit button doesn't work. This seems to be a problem in Core though since if I add `allow-edit="allowEditButton"` on line 16 of `src\Umbraco.Web.UI.Client\src\views\propertyeditors\contentpicker\contentpicker.html` I get the same problem.

~~Further, I noticed that when I edit a link in the RTE, it doesn't quite know

[2019-01-22 15:08] kjac commented on #4187
@nul800sebastiaan it's supposed to be highlighted, I think... but yes, the link picker is a bit broken.

Sort of duplicate of #4083

[2019-01-22 15:11] nul800sebastiaan commented on #4187
@kjac Ah cool, the RTE part is a total duplicate of yours then yep!!

Cool, then it seems unrelated to the Multi URL / Content picker not being able to edit a picked link.

[2019-01-22 15:12] nul800sebastiaan commented on #4083
@kjac Yep, that would need to be the Danish names since you're editing the danish variant! 👍

[2019-01-22 16:09] nul800sebastiaan commented on #4118
I've been able to sort-of reproduce, at first I couldn't reproduce it, I made a template:

[code]

And the result:

![4118](https://user-images.githubusercontent.com/304656/51548099-ebeaa900-1e67-11e9-947f-a15eca2fd855.gif)

However, when I put similar code in a `ApplicationEventHandler` it doesn't work, probably because not all the event handlers have been wired up yet. I would bet that you're fi

[2019-01-22 16:09] #4118 closed

[2019-01-22 16:32] nul800sebastiaan commented on #4176
Hey @robertjf - what did you expect to happen when the member login has expired? You're trying to perform an action that is no longer allowed. Maybe I'm missing something but this seems like expected behavior to me.

[2019-01-22 16:32] #4176 closed

[2019-01-22 16:34] nul800sebastiaan commented on #4178
Unfortunately we're in the wrap-up phase of v8 and we can't do any more changes to the Grid data model. We'll have to reconsider this feature request when working on the elusive "Grid v2" that's coming up for the future. I've put it on the list of ideas to consider for the future!

[2019-01-22 16:36] nul800sebastiaan commented on #4151
Hey @callumbwhyte - we're working on a (even more advanced) de-duplicator at the moment, our very own @elit0451 is working on this and we'll use that project once the time is right. Thanks for the suggestion!

[2019-01-22 16:36] #4151 closed

[2019-01-22 16:56] zpqrtbnk commented on #4168
I don't think we should allow elements in the tree.

Elements are meant to represent something that does not have a corresponding record in database, etc. I get the need for "widget things" that would be non-routable items, but still full tree items. But then, I *feel* it's something else, and I'm afraid mixing with elements is going to be confusing.

Which means... elements should not appear in t

[2019-01-22 17:18] vonbv commented on #3936
I saw where the problem was and part of it is because the database is in another region far from the web app server. However, I noticed something that can be improve. In the Commit method in ScopeUnitOfWork the _operation.Count is double of the "item count being sorted". There is always an _insert_ and an _update_ per sorted item. In our case, when we moved an item from the bottom to the top of a

[2019-01-22 18:25] kjac commented on #4168
@zpqrtbnk I'm inclined to agree with you. Although it would be convenient to have element types in the content tree, it really does feel wrong. I fear it's a quick fix that we'll regret down the road.

Also... we can always allow them later on if need be. It's harder to disallow them once people have started using them.

Maybe we should create an "element tree" where the editors could create reusa

[2019-01-22 18:42] uniquelau opened #4190 "🚀 Sorting nodes is slow"
Sorting nodes in Umbraco has been quite slow, for quite a while!
It is something that content editors often mention to me.

+ Sorting 10 nodes can take around 5 seconds
+ Sorting 100+ nodes often times out / or takes so long people give up

### Specifics

The issue is more apparent with slow SQL servers.
It seems to be an issue in more Azure SQL instances.
We experience issues with a Elastic insta

[2019-01-22 18:53] bjarnef opened #4191 "v8: LogViewer doesn't sync tree"
When selecting Log Viewer node it doesn't sync tree, e.g. when browsing to this node from "Languages" tree node, it doesn't update the hightlight of the active node.

![image](https://user-images.githubusercontent.com/2919859/51558271-50653280-1e7f-11e9-8e8f-af40c65175d3.png)

[2019-01-22 19:21] bjarnef opened #4194 "v8: Update log viewer box heading"
In log viewer overview the box headings are right aligned, but I don't think it match the v8 UI, e.g. accordions in content and media and box heading in panels in users section.

![image](https://user-images.githubusercontent.com/2919859/51560092-e13e0d00-1e83-11e9-8143-51194b6d5032.png)

![image](https://user-images.githubusercontent.com/2919859/51559833-4d6c4100-1e83-11e9-9e75-4d07e9e36316.png)

[2019-01-22 19:40] bjarnef opened #4196 "Plural localization of media and member types"
In both v7 and v8 the tree nodes "Media Types" and "Member Types" are in Danish translated to "Mediatype" and "Medlemstype". This should be in plural instead of singular.

[2019-01-22 19:48] nul800sebastiaan commented on #4190
Thanks @uniquelau this has been reported before and we really can't reproduce, 50 DTU is what we run on Cloud and sites there can sort just fine. I'd encourage you to investigate your implementation and setup.

[2019-01-22 19:48] #4190 closed

[2019-01-22 20:06] bjarnef opened #4198 "v8: Add missing Danish translations"
I noticed a few new keys added in v8 and some missing translations of these.

![image](https://user-images.githubusercontent.com/2919859/51562236-9f17ca00-1e89-11e9-9d96-eaf237396e0e.png)

[2019-01-22 20:32] bkclerke opened #4200 "v7.13.1 Color Picker Label Not Updating"
I upgraded from 7.12.4 to 7.13.1. In 7.13.1 using the an existing color picker, the value for the color is updated on save and publish but the label is not updated.

I've uploaded a screencast to show the issue: [https://screencast-o-matic.com/watch/cqV3Y13ZYH](https://screencast-o-matic.com/watch/cqV3Y13ZYH) In the example I am just printing the property value in the view to show what is there. T

[2019-01-22 20:51] bjarnef opened #4201 "v8: Localization of date picker"
It seems the date picker needs some localization in v8, e.g. for Danish backoffice language it looks like this.

![image](https://user-images.githubusercontent.com/2919859/51564529-d5f0de80-1e8f-11e9-8030-b56809e9123f.png)

[2019-01-22 20:57] #4198 closed

[2019-01-22 20:57] nul800sebastiaan commented on #4198
Updated in https://github.com/umbraco/Umbraco-CMS/pull/4199

[2019-01-22 20:58] #3776 closed

[2019-01-22 21:58] nul800sebastiaan commented on #4162
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/4163

[2019-01-22 21:58] #4162 closed

[2019-01-22 22:00] nul800sebastiaan commented on #4196
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/4197

[2019-01-22 22:00] #4196 closed

[2019-01-22 22:02] nul800sebastiaan commented on #4194
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/4195

[2019-01-22 22:02] #4194 closed

[2019-01-22 22:05] nul800sebastiaan commented on #4191
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/4192

[2019-01-22 22:05] #4191 closed

[2019-01-22 22:51] bjarnef commented on #4201
I am not sure the datepicker component/directive using flatpickr in v8 handle localization, but here it seems the config doesn't set the locale:
https://github.com/umbraco/Umbraco-CMS/blob/temp8/src/Umbraco.Web.UI.Client/src/views/content/overlays/schedule.controller.js#L85-L92

and here is an example for localization of flatpickr.
https://flatpickr.js.org/localization/

[2019-01-22 23:03] nul800sebastiaan commented on #4125
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/4130

[2019-01-22 23:03] #4125 closed

[2019-01-22 23:13] nul800sebastiaan commented on #4145
Hey @drummerboy46 - as Kenn noted this operation is dangerous and as such we have no plans to build in support for this at this time. :)

[2019-01-22 23:13] #4145 closed

[2019-01-23 06:58] kjac commented on #4168
OK. Pull requests for items 1, 2 and 3 are now ready.

I have managed to provoke a PANIC exception by picking a content item in a content picker and then turning the picked content item type into a an element type. It's got to do with URL resolving (which shouldn't be possible for elements), so we can code around it. Funny thing is I can't reproduce it after a restart, even with the exact same DB

[2019-01-23 06:59] bergmania opened #4204 "Fixme - Add IsPublished on IPublishedContent"
// fixme/task - consider having an IsPublished flag too
        // so that when IsDraft is true, we can check whether there is a published version?

[2019-01-23 07:00] bergmania commented on #4204
PR: https://github.com/umbraco/Umbraco-CMS/pull/4205

[2019-01-23 07:30] vonbv opened #4207 "Moving multiple content from a custom list view doesn't work"
I enabled list view and created a custom view for a node. The only thing I changed is increasing the page number to 100. I encountered two issues with this:

1. Selecting multiple items doesn't show the "Move" option. Only Publish, Unpublish, Copy and Delete are available.

2. Moving the select items via the Actions dropdown causes a "Failed to move" error.

When I removed the custom list view and

[2019-01-23 07:57] #4078 closed

[2019-01-23 08:30] elit0451 opened #4209 "Image link exceeding its space"
When uploading images in the Media section, if you check their `Info` tab you'd see that the link exceeded the box that is dedicated to it.

![imageURL.PNG](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5b631124103d580013dcf6a4/125516c66e82c728ace21e0d46e1999b2487b69ba3abf301b44fff9e2c4533317346f62975d7e77fec177f075b5c4bac41595e41f9ac807ff0b32e6c981e5ab38532022d8c6853beb2901e

[2019-01-23 09:23] nielslyngsoe commented on #3396
This issue is still present, at least in some format.

Way to replicate:
1. Create a docType that can are allowed to varying by culture.
2. Create a content node of this type.
3. Enter a name for the default language.
4. click Save & publish and choose the other language as well.

Then you will get this screen, not a visual validation error:
![image](https://user-images.githubusercontent.com/67916

[2019-01-23 10:14] drummerboy46 commented on #4200
Another thing i've noticed is a lack of $dirty check on change. There's no unsaved changes prompt.

I checked this in a nested content. Might be ok outside of one.

[2019-01-23 12:08] kjac commented on #4168
The errors above are fixed now in #4213

[2019-01-23 13:37] nielslyngsoe opened #4214 "V8: Issue with editor-footer when chaning to splitview from listview"
When navigating from a content-node with listview to splitview the editor-footer-buttons does not update, and therefor you cant see the save or publish button.

see this screenshot:

![image](https://user-images.githubusercontent.com/6791648/51610131-48a79b80-1f1c-11e9-8d22-829d6273acab.png)

[2019-01-23 14:00] kjac commented on #4168
Content picker, MNTP and multi URL picker are handled frontend wise in #4216

[2019-01-23 14:18] nielslyngsoe opened #4217 "changes of DataTypes are not reflected when edited in infinite editing"
When using infinite editing to change a data-type from a content item using this data-type, the content item in the background is not updated to reflect those changes.

[2019-01-23 14:43] readingdancer opened #4219 "Temp8 - Clean up TODO comments in Umbraco.Core"
This is not technically a Bug or a Feature, it's just trying to improve the readability of the code base.

In Visual Studio, the Task List automatically populates with various keywords, see: https://docs.microsoft.com/en-us/visualstudio/ide/using-the-task-list?view=vs-2017

For readability it makes sense for these all to be written in a consistent way, by using upper case letters they stand out wh

[2019-01-23 14:46] robeades commented on #3994
Just thought I'd add that it's actually even worse if you happen to be using this construct within a grid editor.  It becomes pretty unusable then as you can see from the screenshot below.

![related links issue](https://user-images.githubusercontent.com/32463611/51614382-73deba80-1f1d-11e9-8bec-3969d1aee7eb.png)

[2019-01-23 15:28] JoseMarcenaro opened #4221 "Random SQL connection error in umbraco.org service CheckForUpgrade.asmx"
### Bug summary
This service http://update.umbraco.org/checkforupgrade.asmx , which is periodically called from every Umbraco installation, is randomly failing and throwing the following error in the Umbraco backoffice:

	System.Web.Services.Protocols.SoapException: Server was unable to process request.
	---> System.Data.SqlClient.SqlException: Timeout expired. The timeout period elapsed prior to

[2019-01-23 15:34] nul800sebastiaan commented on #4221
Thanks for the report, we've found the problem on the server and it's been fixed now. Apologies for the inconvenience! We're working on making this site less server-dependent, so if there's errors it will just report that there's no updates. :)

[2019-01-23 15:34] #4221 closed

[2019-01-23 15:56] nul800sebastiaan commented on #4083
@nielslyngsoe that makes sense, but it would be good to first fix it to make the default first view actually link to the language you're currently editing.

It seems like a language switcher for pickers is going to be needed soon too, but let's make that a separate feature request.

[2019-01-23 16:03] nul800sebastiaan commented on #3994
Just FYI: I haven't tested this yet, but hopefully [RJP Multi URL Picker](https://our.umbraco.com/packages/backoffice-extensions/multi-url-picker/) should work a lot better in both scenarios.

This URL picker will be added to the upcoming 7.14 release as the default and RelatedLinks will be deprecated. Existing RelatedLinks datatypes will remain though. If you're currently building a site it might

[2019-01-23 16:03] #3994 closed

[2019-01-23 19:31] zpqrtbnk commented on #4219
there should be way less `// fixme` comments now - we had a cleaning session earlier this week and now, `// fixme` identifies critical problems that need to be fixed before 8 ships. and, we should have a corresponding issue in our tracker. everything else should be `// todo` now.

as for `// todo` vs `// TODO` - we have both, so we keep adding both - happy if you normalize

[2019-01-23 19:35] zpqrtbnk commented on #4083
you cannot link "to something in another language" - you link to another content item as a whole, not to a given culture. so, you cannot have a "danish article linking to an english article" - you have a danish article linking to another article, as a whole.

we'd need to store both the id of the picked item, and the selected culture, so that when creating the url, we create the proper url (to the

[2019-01-23 19:53] nul800sebastiaan commented on #4083
Fair enough! Yep it's a language variant, but obviously confusing for the editor when it's presented in "another" language. Interesting to store the culture though.. that would be quite the overhaul of all pickers I guess.

[2019-01-23 20:01] kjac commented on #4200
PR in #4222

[2019-01-23 21:47] ronaldbarendse commented on #4174
As commented on PR #4175, this can (and should) be handled in the community packages by conditionally removing health checks from the `HealthCheckResolver`.

The only downside would be that updating Umbraco (and introducing new checks copied from the community package) without updating the community package itself would still show duplicated checks.  I don't think this will be a big issue, as it's

[2019-01-23 22:00] kjac commented on #4201
Whoa... this wasn't as easy as I thought! But there's a PR in #4223 now.

[2019-01-24 02:10] readingdancer commented on #4219
@zpqrtbnk Thank you for the feedback, the other pull request that updates both spelling and TODO comments is here: https://github.com/umbraco/Umbraco-CMS/pull/4148 it normalizes all of the comments in the Umbraco.Web project.

[2019-01-24 04:38] soreng opened #4226 "v8 default datatypes - label (bigint) + label(time)"
In v8 (using the nighlty build) there are two default datatypes (label (bigint) + label(time)), that uses an unkown prevalue for the value type, resulting in the dropdown being empty instead of having the value type selected

![image](https://user-images.githubusercontent.com/359492/51654824-f4db9780-1f99-11e9-855b-2484cef8198f.png)

Should these label datatypes be present?

[2019-01-24 07:19] bergmania commented on #3396
PR: https://github.com/umbraco/Umbraco-CMS/pull/4228

[2019-01-24 07:37] ronaldbarendse commented on #2925
@nul800sebastiaan Can you give your input on this issue, so the PR (perferrably #2922) can be merged?

[2019-01-24 08:42] nielslyngsoe opened #4229 "V8: Validations from main-variant does not prevent publishing of a secondary language."
For this scenario you'll need:

A DocType that has a property that does **not allow to vary by culture**. But should be **mandatory**.

I have two languages, English and Danish. Danish inherits from English.

To replicate:

Change the main-language-selector to Danish.

Create a instance of the DocType, and do only enter the node-name. (leaving the mandatory field empty)

When publishing everything

[2019-01-24 10:19] camelofcode opened #4231 "Security - Sensitive Information Returned to Client - Doesn't seem possible to disable Template Rendering errors to be returned to the client"
For security it is desirable not to return any errors containing strack traces etc. to the client, as these can be used by attackers for information gathering.

We are running an Umbraco site and have proper error handling configured so all thrown errors are caught and logged, with the user only shown an error page with no sensitive information.

However, it seems that if an exception occurs durin

[2019-01-24 10:22] nul800sebastiaan commented on #4231
Hey there, @camelofcode - make sure to discuss this on the forum isntead: https://our.umbraco.com/

Thanks!

[2019-01-24 10:22] #4231 closed

[2019-01-24 10:56] kjac commented on #4209
PR in #4233

[2019-01-24 10:59] bergmania opened #4234 "Sort out IContent vs Content"
In almost all our repositories we are casting `IContent` to `Content`

We need to resolve this correct instead of casting!

[2019-01-24 11:10] bergmania opened #4236 "Introduce more primitive types"
We need to introduce more "primitive" types instead of using String, int, Guid everywere.

Eg. `string culture = null` should be `CultureID culture = null`
Same for stuff like:
- Alias
  - Content
  - ContentType
  - ...

This way we could clean up the usage of `PublishedContentExtensions` to not have methods with optional parameters hiding other methods.

[2019-01-24 11:13] bergmania opened #4237 "Get rid of Lazy injection and fix circular dependencies"
We use lazy parameters in lots of constructors to avoid the IOC container complaining about circular dependencies. We need to fix these circular dependencies!

[2019-01-24 11:15] bergmania opened #4238 "Stop having version in web.config appSettings"
Stop having version in web.config appSettings. This forces a recycle of the app pool, when there are changed.

[2019-01-24 11:16] bergmania opened #4239 "V8: Use IHttpContextAccessor NOT HttpContext.Current"
We need an architecture refactoring to avoid usage of HttpContext.Current. Instead we should use the use IHttpContextAccessor.

[2019-01-24 12:13] warrenbuckley commented on #4204
Merged in

[2019-01-24 12:13] #4204 closed

[2019-01-24 12:22] camelofcode commented on #4231
Not sure how, just hanging when trying to post it.

[2019-01-24 12:33] RobertCopilau opened #4241 "Can't add start node for MediaPicker through infinite editing"

[2019-01-24 12:34] RobertCopilau commented on #4241
Payload
![startNode.png.jpg](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5b151a952d7cd20011c4533d/125516c66e82c728ace21e0d46fb809b3196ada68becf153aa5ab2d86b56357c2301a03f32dfa17dbd472905585c4bf8175c5c41fcf9882aa3b36979de0a0effcd7f1d2598694ef1e1c84afd13b0328a488fb7b98e44c3eb3e27e4898a4f3a0c48.jpg)

[2019-01-24 12:42] kjac commented on #4226
That surely looks like an oversight when the new label types were added. PR in #4242

[2019-01-24 12:48] guruprasad83 commented on #4138
@NurhakKaya - (incase if you are still facing the issue)
Finally it worked for me now. I followed below approach and finally worked.
From this source - https://issues.umbraco.org/issue/U4-9873

Steve Edson 23 Jan 2018, 11:39:33
I had the same issue and none of the above would fix it.

I eventually solved it by deleting the umbraco and umbraco_client folders from my main project, and copying them b

[2019-01-24 14:30] elit0451 commented on #4065
@kjac you were right! Thanks 🙂
My problem was that I couldn't do `Model.MediaPickerMultipleValue.FirstOrDefault().Url`

[2019-01-24 14:41] #4065 closed

[2019-01-24 15:00] clausjensen commented on #4231
@camelofcode you're very welcome to submit a pull request adding the feature to disable this just as it is possible with the macros. I completely get your situation and think that it would be a great configuration options to have. It is however not on our list of prioritizations for the Core team right now.

You are of course also welcome to submit this as an issue for us to consider through your

[2019-01-24 17:17] NurhakKaya commented on #4138
@guruprasad83 thank you for the message, I have seen that solution but haven't tried it, yet. I will let you know about my result - hopefully a positive result.

[2019-01-24 19:08] protherj opened #4244 "[v8] Update Partial View Snippets to use the new v8 API"
Hello,

I'm testing out the latest Editor Preview version of v8 on Nuget and when I created a "New Partial View from snippet..." in the Settings > Templating area of the Back-Office, I see that some/many of them are using the old API for v7.

The specific issue is that the Model no longer has a Content property.  The fix on the Navigation snippet was to simple change:

Model.Content.*

to:

Model.

[2019-01-24 19:10] kjac commented on #4241
Works on my machine (tm) 😆

![media-picker-start-node](https://user-images.githubusercontent.com/7405322/51702410-082b4900-2014-11e9-8bb6-7f945b858a87.gif)

[2019-01-24 19:13] protherj opened #4245 "[v8] Cannot view/edit files in the "Files" section in Settings > Templating"
Hello,

I'm testing out the latest Editor Preview version of v8 on Nuget and when I navigate to the Files section of the Settings > Templating area, I get an error when I select a file to view.

The red alert bar appears on the bottom of the UI with the message:

I can confirm that I don't have that view in my /umbraco directory in the site, but the nuget doesn't appear to have it in it either.

#

[2019-01-24 22:17] kjac commented on #4157
Well if no-one else is fixing it, I am 😄 PR in #4247

[2019-01-25 03:12] hfloyd commented on #4091
After meditating on your response, @nul800sebastiaan, I ended up removing the single grid editor from the doctype, and replacing it with a "GridSections" NestedContent. The "Grid Section" NC doctype includes a Grid Control for section content as well as various properties for classes, background image, etc. So, the editor creates each section individually, containing it's own grid rows/columns.

F

[2019-01-25 07:56] kjac commented on #4245
I'm on it... the tree shouldn't be visible in the first place. It's intended for usage elsewhere.

[2019-01-25 10:09] clausjensen opened #4250 "Making V8 work on Cloud"

[2019-01-25 10:10] clausjensen opened #4251 "AppSetting causing YSOD on Cloud"
child of https://github.com/umbraco/Umbraco-CMS/issues/4250

Appsetting - setting `umbracoDisableElectionForSingleServer=true` gives a YSOD in default Umbraco v8 - we set this by default on Cloud sites - shouldn't this still work?

[2019-01-25 10:12] clausjensen opened #4252 "ExamineIndex configuration changed"
child of https://github.com/umbraco/Umbraco-CMS/issues/4250

`/Config/ExamineIndex.config` is gone:

- We used to ensure the `IndexPath` in the file, via a config transform - Is there a way of doing so now? Where are they stored now / how is it configured - and how can Cloud customize?

- We used to set `directoryFactory` on the providers to ensure they were using indexes in the fast local temp st

[2019-01-25 10:37] zpqrtbnk commented on #4251
Any chance we can get some details about the YSOD?

[2019-01-25 11:04] mikkelhm commented on #4251
[code]

[2019-01-25 11:05] mikkelhm commented on #4251
![YSOD.PNG](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5b1e538d2b6bcc0011dd14b0/125516c66e82c728ace21e0d46d1a7b507c0cfeb9ffbb049a15ee4d6730472712c56a77c23d0e72eeb112e515f5e4fa9440d5610aafc9b37b4f46d2ede0356b49b381d66cc2f13acb2831abb09be218f4c84b7bd824cd2a5.PNG)

[2019-01-25 11:05] zpqrtbnk commented on #4251
thnks

[2019-01-25 11:06] mikkelhm commented on #4251
I hope the above is enough - to reproduce, i grabbed the latest .zip from the build, then initialized umbraco(started and ran through the installer).

Then i added
`<add key="umbracoDisableElectionForSingleServer" value="true" />`

And then the error is there

[2019-01-25 11:07] zpqrtbnk commented on #4251
I can see why it happens, yes - now trying to figure it out

[2019-01-25 11:33] zpqrtbnk commented on #4251
Oh my, this is a hackish thing - so when that setting is set, we replace the `IServerRegistrar` with a dummy one that pretend there is only 1 `Single` server - makes sense, no need to do complex things if we *know* there's only 1 server.

(assuming of course that there can never be 2 instances of the same site, running at the same time, on different servers, on Cloud)

Problem is, we still try to

[2019-01-25 11:34] zpqrtbnk commented on #4251
Pushed commit https://github.com/umbraco/Umbraco-CMS/commit/e8cb30fbc4cb5ee71aec1ed5a6e29b7681aed8ab which should fix the issue - for review by Shan

[2019-01-25 14:07] warrenbuckley opened #4253 "V8: Dashboard Styling (Models Builder & PublishedContent)"
The following dashboards in the Settings section look a bit inconsistent next to the other dashboards in the Settings section.

* Models Builder `src\Umbraco.Web.UI\App_Plugins\ModelsBuilder\modelsbuilder.htm`
* Published Content `src\Umbraco.Web.UI.Client\src\views\dashboard\settings\publishedstatus.html`

Maybe you can pick this up please @nielslyngsoe

[2019-01-25 14:21] warrenbuckley commented on #4253
## Models Builder
![image](https://user-images.githubusercontent.com/1389894/51751263-5855ea00-20ac-11e9-8253-f03e5f2416e6.png)

## Published Status
![image](https://user-images.githubusercontent.com/1389894/51751311-79b6d600-20ac-11e9-9bdb-527cc37475db.png)

[2019-01-25 14:23] RobertCopilau opened #4254 "Can't insert macro through grid editor"
Inserting macro through grid is not implemented.
https://www.useloom.com/share/5fb9ee2104c644ee8b7b83df81a1d790

[2019-01-25 14:25] RobertCopilau opened #4255 "Can't insert macro if it has parameters"
https://www.useloom.com/share/466fff8dd2794afd81105368e417a06d

[2019-01-25 14:26] warrenbuckley opened #4256 "V8: Spike - UX Review of LogViewer"
The logviewer feature was built from a Cycle Hack project and has been merged into V8 core.

However, it needs a UX review to see if any improvements/features need to be added or improved.

@nielslyngsoe can you get to look into this please at some point, happy to take a call & talk you through anything if you have any questions

[2019-01-25 14:32] RobertCopilau opened #4257 "Infinite editor almost hides submit button"
How to replicate:
*See video
https://www.useloom.com/share/44bda41ef760429fad0b154634491d5e

Is really annoying as if you were to keep pressing the submit button, you would eventually reach the "broken" editor and instead of pressing submit, you press close which makes you lose all configs that you might have made on the editor.

[2019-01-25 14:38] zpqrtbnk commented on #4168
(have been busy with other stuff, will review all element-related work early next week)

[2019-01-25 14:50] warrenbuckley opened #4258 "V8: UmbracoSettings.config Cleanup & Review"
Need to take a call with a fellow Umbraco old timers and go through what settings we still use/need and what is legacy stuff that can be removed.

👴 👴👴
/cc @clausjensen @Shazwazza @zpqrtbnk @nul800sebastiaan

[2019-01-25 15:47] matthew-hair opened #4260 "incorrect permissions required for Notifications sign up"
To list and sign up for notifications on a node, a user must have the "Permissions" permission, which "Allow access to change permissions for a node". By default, this excludes members of the Writers and Editors groups. These groups should normally be able to receive notifications.

Reproduction
------------

In Umbraco 7.12.0 and higher:

1. Log in to the back office as a user who doesn't have "P

[2019-01-25 16:14] kjac commented on #4168
No rush 😊 enjoy the weekend!

[2019-01-25 16:20] zpqrtbnk commented on #4245
Yup - don't waste time on it, it's fixed in a branch. See https://github.com/umbraco/Umbraco-CMS/pull/4184

[2019-01-25 16:21] zpqrtbnk commented on #4245
(I see you said you were on it 8 hours ago, hopefully you haven't spent too much time on it)

[2019-01-26 01:32] mehrdadab opened #4261 "V8 Template folder to be refreshed after creating Document Type with a template"
If a user creates a new document type with a template, when the template has been created successfully, user cannot see it on the templating area under the templates folder. To see the template, user should reload the templates node and the template gets visible.
I do not consider that as a bug because it is working fine for expert Umbraco users but I believe for new users it might be challenging

[2019-01-26 10:46] nathanwoulfe opened #4262 "Link picker has JS error when RTE used outside a content type"
When the RTE data type is used outside a content type (ie in a custom view, dashboard or third-party plugin, essentially anywhere other than a normal content node), the link picker throws an error when attempting to gather anchor values from other properties, since they don't exist.

Current implementation tries to send editorState.current.properties to tinyMceService.getAnchorNames, but since we'

[2019-01-26 12:07] kjac commented on #4214
Nice catch @nielslyngsoe - PR in #4264

[2019-01-26 14:30] #4172 closed

[2019-01-26 14:33] nul800sebastiaan commented on #4174
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/4175

[2019-01-26 14:33] #4174 closed

[2019-01-26 16:32] nul800sebastiaan commented on #4187
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/4235

[2019-01-26 16:32] #4187 closed

[2019-01-26 16:33] #4262 closed

[2019-01-26 16:39] nul800sebastiaan commented on #4214
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/4264

[2019-01-26 16:39] #4214 closed

[2019-01-26 16:40] nul800sebastiaan commented on #4209
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/4233

[2019-01-26 16:40] #4209 closed

[2019-01-26 16:41] nul800sebastiaan commented on #4147
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/4148

[2019-01-26 16:41] #4147 closed

[2019-01-26 16:42] nul800sebastiaan commented on #4219
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/4220

[2019-01-26 16:42] #4219 closed

[2019-01-26 16:43] nul800sebastiaan commented on #4150
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/4170

[2019-01-26 16:43] #4150 closed

[2019-01-26 16:47] nul800sebastiaan commented on #4157
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/4247

[2019-01-26 16:47] #4157 closed

[2019-01-26 16:48] nul800sebastiaan commented on #4226
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/4242

[2019-01-26 16:48] #4226 closed

[2019-01-26 16:53] nul800sebastiaan commented on #4200
@bkclerke It looks like @kjac 's changes will fix this, but to be extra sure, could you let me know what code you're using on the frontend in your view? And I'd like to see what you updated to output "before backwards", "after backwards", "final backwards" too please so I can make sure our testing is the same.

[2019-01-27 06:15] readingdancer opened #4267 "Consolidate the remaining TODO comments and the FIXME comments."
I have already consolidated the TODO comments in the .Core & .Web projects, this issue is to do the same across the rest of the solution so they are all formatted:

`// TODO: `

It will also update all the FIXME & HACK comments to use the same format for consistency, i.e.:

`// FIXME:`
`// HACK: `

FYI there are current:
- 5 HACK comments
- 82 FIXME comments
- 685 TODO comments

Also for those who

[2019-01-27 08:42] kjac commented on #3318
Right... there's no reason why this issue needs to linger when it's so simple to solve. PR in #4269.

[2019-01-27 09:39] #3318 closed

[2019-01-27 10:16] nul800sebastiaan commented on #4267
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/4268

[2019-01-27 10:16] #4267 closed

[2019-01-27 12:08] nul800sebastiaan commented on #4244
Ah yes, they should definitely be updated! 👍

[2019-01-27 12:31] #4260 closed

[2019-01-27 13:56] bjarnef opened #4272 "v8: Validate invalid characters in folder name"
When trying to create a new folder under e.g. stylesheets or scripts with name `<` you get an ugly exception like the following. It could probably be handle better and show a  nicer error message to the editor/developer.

![image](https://user-images.githubusercontent.com/2919859/51801851-6a1dc580-2243-11e9-8bd3-dbadc3669747.png)

[2019-01-27 14:01] bjarnef opened #4273 "v8: Remove menuDialogTitle tooltip"
When hovering the right-click actions overlay, I have noticed it often has an tooltip `menuDialogTitle`. Maybe this is also and issue in latest `dev-v7` branch.

![image](https://user-images.githubusercontent.com/2919859/51801895-ed3f1b80-2243-11e9-8624-3684e76c672d.png)

Not sure what this is used for, but at least it should only show the tooltip if an value it set then.

References in `dev-v7` b

[2019-01-27 19:33] kjac commented on #4273
@bjarnef thank you for remembering to report this! It's been annoying me for so long but I never got around to digging into it.

PR in #4275.

[2019-01-27 22:20] nathanwoulfe commented on #4043
Would it make sense to include the Umbraco teal/purple/grey palette?

[2019-01-28 08:31] nul800sebastiaan commented on #3763
Hi @PeterBridgerZone - We've discussed this at HQ and for now we'll put it on the ideas list for when we overhaul how to work with media in Umbraco, it's a good idea, now to figure out how to implement it nicely, thanks!

[2019-01-28 09:10] RobertCopilau commented on #4241
Hey @KennethJakobsen, I just tried on the latest of temp8 and indeed it works!

However, I did found out that the start node is still empty in the configuration even if there is a start node set.

Can you confirm this?

[2019-01-28 09:35] nul800sebastiaan commented on #3864
Sorry for the late reply on this one, we've discussed this at HQ and it would be really good to have the synctree method available in a tour step so it can be added to the tour manifest.

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-01-28 09:46] ronaldbarendse commented on #4174
Just to give this issue some context: the duplicated health checks (moved from a community package to core) are now removed by Umbraco within the `WebBootManager` based on the full name of the type, e.g. `Our.Umbraco.HealthChecks.Checks.Security.HstsCheck`.

This way, only updating Umbraco to a newer version (including the new checks) automatically disables any duplicate (assuming the community pa

[2019-01-28 09:56] RobertCopilau commented on #4241
Sorry for the confusion @KennethJakobsen , I meant the `Editor Settings`.
Even tho there is a start node set and its working, it does not show  up in the `Editor Settings` of the `Media Picker`
![{9A1B4197-9885-4F60-9654-B5953229EC10}.png.jpg](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5b151a952d7cd20011c4533d/125516c66e82c728ace21e0d46f3cdbb72a0d7f8d6bef21afc05a5d97d60712

[2019-01-28 10:01] kjac commented on #4241
@RobertCopilau if you look at the GIF I posted earlier the editor settings do indeed show the start node.

It looks like you're doing some infinite editing there, maybe that's what's causing the issue - I haven't tested that. But... could it be that you're creating a new editor, not reusing the existing one?

[2019-01-28 11:00] warrenbuckley commented on #4244
Done some init research
https://github.com/umbraco/Umbraco-CMS/blob/temp8/src/Umbraco.Core/Services/Implement/FileService.cs#L998-L1033

We have a switch case that will update/replace the using/inherits of the MacroPartialView template to be used for PartialView.

However, we either need to update the logic in this switch case to deal with updating `Model.Content.` to be `Model.` when used as a Pa

[2019-01-28 11:48] warrenbuckley commented on #4254
Closing - as this will be fixed when this PR is merged in https://github.com/umbraco/Umbraco-CMS/pull/4210

[2019-01-28 11:48] #4254 closed

[2019-01-28 12:18] ddtdeveloper opened #4280 "Umbraco Member Section - Inherit Member Properties"
When creating Member types to have the ability to add more generic properties to the base Member type which a new Member type can inherit. Like Document Type compositions.

For example, If I added first name and last name to the base Member type, when I add a new member type called 'teacher', that new teacher member type would either automatically have the 'first name and last name' properties, or

[2019-01-28 14:02] matthew-hair commented on #4260
Awesome, thanks!

[2019-01-28 14:09] mclausen opened #4281 "V8 - ValueListConfigurationEditor.FromConfigurationEditor does not transform editorvalues correct"
Hi Core team,

We found an error in the `ValueListConfigurationEditor`, when transferring content from an artifact to a ConfigurationEditor.
In this case we are trying get the configuration for a checkbox list. The artifact is parsed to the appropriate ConfigurationConnector and is executing the following logic

[code]
The dictionary coming from the artifact contains a string key `"items"`, with t

[2019-01-28 14:15] zaplvlad opened #4282 "The preview functionality in Backoffice is extremely slow"
Preview page loading takes a lot of time. Sometimes it's even falls by timeout.

This request takes most of time: /umbraco/dialogs/Preview.aspx?id=####.

![image](https://user-images.githubusercontent.com/43339104/51840197-17600e80-2314-11e9-975a-562a63868adb.png)

![image](https://user-images.githubusercontent.com/43339104/51840240-3199ec80-2314-11e9-94a3-2b806338fc4a.png)

Azure server configura

[2019-01-28 14:35] warrenbuckley commented on #4257
OK I can reproduce

* Create Doctype
* Add property such as Date
* Property Editor Config opens
* Submit (Will close 2 editors - which causes this problem)
** views/common/infiniteeditors/datatypesettings/datatypesettings.html
** views/common/infiniteeditors/datatypepicker/datatypepicker.html

However if you use the close button or the `esc` key, then you will not run into this problem, as we only

[2019-01-28 14:36] warrenbuckley commented on #4257
Paging @nielslyngsoe for help on this please - once your done with some colours :smile:

[2019-01-28 16:26] bkclerke commented on #4200
Hey @nul800sebastiaan I edited the /umbraco/js/umbraco.controller.js file to place a console log on lines 11654, 11662 and 11669. It looks like this when I was testing:

`console.log('before backwards',$scope.model.value)
            // Backwards compatibility, the color used to be stored as a hex value only
            if (typeof $scope.model.value === 'string') {
                $scope.model.val

[2019-01-28 16:29] kjac opened #4284 "V8: Related links migration causes exception"
@nul800sebastiaan seems the migration introduced in #4259 is a bit faulty.

![image](https://user-images.githubusercontent.com/7405322/51850199-8f810100-2321-11e9-8548-36caef809f87.png)

I can't really pinpoint the config that breaks stuff, but there's something going on with `IX_cmsTags_LanguageId` ... which looks like a tags related thing?

I can install latest Umbraco from scratch (but only if

[2019-01-28 18:28] bjarnef opened #4285 "v8: Tree groups should not be sorted alphabetical"
In v8 it introduces new tree groups (or multiple root tree nodes) in e.g. settings sections.

I have localized these to Danish, which looks like this.

![image](https://user-images.githubusercontent.com/2919859/51807360-1d0f1300-2286-11e9-80f9-e46493201d00.png)

I think it is important the order is the same independent of the language. Furthermore maybe the core tree groups should (by default) be

[2019-01-28 19:12] nul800sebastiaan commented on #4088
Whoop! All good, fully support the fact that there should be "Settings", "Templating", "Third party" (for people who don't care about being in that area, but also "uSync" (random example.. 😉), "Translation manager", "My crazy plugin", etc.

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-01-28 19:17] nul800sebastiaan commented on #3751
Thanks for your patience on this one and apologies for the late reply! I've had a chance to discuss this at HQ today and the conclusion is:

- It's a great feature request and something we want to work on
- We're currently thinking about the implementation and pretty sure that the implementation should be either: "yes, I want to preserve all history" and "no, don't preserve history at all, it's no

[2019-01-28 19:30] nul800sebastiaan commented on #4261
Hi @mehrdadab - this is a really good point! We will need to investigate how complicated it is to sync the tree in situations like this. There's also other scenario's, for example: creating a new partial view macro could refresh the macros tree.

Note: in the doctype editor in v7.13+ we already have an "Open" link so you can go directly to the template, which makes this experience a little better

[2019-01-28 19:36] bjarnef opened #4287 "v8: Template is created on blur"
In v8 when creating a new template, entering a name and then either click outside input (or hit tab key). Now it has created the template, without hitting save button (or using the shortcut `ctrl+s`).

![2019-01-28_20-35-27](https://user-images.githubusercontent.com/2919859/51861502-b8fb5600-233c-11e9-8b90-dcbc44583641.gif)

[2019-01-28 19:44] bjarnef opened #4289 "v8: Creating template isn't using casing in name"
In v8 when creating a template, it doesn't seems to respect the casing as previously in Umbraco v7.

E.g. when creating an template with the name "Sample Template" the generated alias is "sampleTemplate", but the physical template name also becomes "sampleTemplate" (sampleTemplate.cshtml). In v7 it would be "SampleTemplate.cshtml".

![image](https://user-images.githubusercontent.com/2919859/518619

[2019-01-28 19:53] nul800sebastiaan commented on #3985
This one is a "go!" - good idea and we'd love to get that done.

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-01-28 20:00] nul800sebastiaan commented on #4043
I love the OCD comment 😂

We had a bit of a talk about this one and the feedback is: we never really wanted all these different colors. They're hard to distinguish form each other and making doctypes with all the colors in the rainbow is not great for the end users. In v8 we'll switch back to having only a few (about 5) colors available to use with good contrast (it's almost impossible to distingu

[2019-01-28 20:00] #4043 closed

[2019-01-28 20:11] abjerner commented on #4043
@nul800sebastiaan so customized colors are still something that is out of the picture? The colors from the Umbraco branding may not mean much to editors, so I'd prefer being able to use a color that actually means something to the editor. I can't really do this now - at least not through the UI.

[2019-01-28 20:47] bjarnef opened #4290 "v8: Macro partial view picker"
I noticed the new Angular + re-design of creating macros in v8 and that selecting the macro partial view is using a traditional dropdown.

![image](https://user-images.githubusercontent.com/2919859/51865309-2f508600-2346-11e9-9a19-4c5ade9976f8.png)

Maybe this should instead use the overlay as when selecting a template in document types or when selecting a master template from template editor.. or

[2019-01-28 22:28] bjarnef opened #4291 "v8: Add edit link on macro parameters"
On macro parameters it is not clear how to edit existing parameters. You can click the entire container to open "edit mode", but if you click a few pixels off the "Remove" link, it opens "edit mode".

I think it would be more clear to add an "edit" link next to "remove" link, which also would make it more consistent with pickers.

![image](https://user-images.githubusercontent.com/2919859/51870592

[2019-01-29 00:01] benjaminc opened #4292 "Enabling FIPS causes error on Users listing"
When you enable FIPS compliance on your server, and attempt to run Umbraco v7.13.1, you are unable to view the list of users in the back-office.  The error thrown relates to a call to generate an MD5 hash during the object mapping of the user objects.

Reproduction
------------

### Bug summary
When viewing the user listing it makes a call to /umbraco/backoffice/UmbracoApi/Users/GetPagedUsers.  On

[2019-01-29 00:03] benjaminc commented on #4292
Note that this is a follow-up to https://github.com/umbraco/Umbraco-CMS/issues/3727.  Once that issue was resolved, the clients with the FIPS requirement were able to more fully explore the back-office, and encountered this error.

[2019-01-29 05:49] nul800sebastiaan commented on #3960
Upon further reflection yesterday: let's just set a maximum number of characters instead. Sorry for the mixed messages 😊

[2019-01-29 06:57] nul800sebastiaan commented on #4043
No customizable colors either. From our discussion I understand that colors CAN be useful if used sparingly. Contrast becomes a concern easily and when the tree looks like a rainbow then it stops adding value. Initially in v7 we didn't use to have colored icons at all but after seeing some larger sites it became clear that some sparingly used colors could be useful.

Could make for a nice simple p

[2019-01-29 07:48] nul800sebastiaan commented on #4291
Indeed, that would be good, like we have on the content picker configuration, just an "edit" link.

![image](https://user-images.githubusercontent.com/304656/51892566-a3207c00-23a2-11e9-8f6a-41d1d5d48249.png)

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-01-29 07:52] nul800sebastiaan commented on #4285
Ha! Interesting.. ;-)

Yeah:

1. Settings
2. Templating
3. Third Party
4. Maybe more..

Not sure if we want people to be able to re-order "Third Party" to be below other groups at some point.

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-01-29 07:53] nul800sebastiaan commented on #4289
👍

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-01-29 08:01] nul800sebastiaan commented on #4290
It's not quite as "easy" as templates. I think it should be a tree picker that can pick files nested in the `~/views` folder. I think it's a great feature request though!

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-01-29 08:08] bjarnef commented on #4291
Also it would be great to show the editor type, e.g. "Textbox".
Maybe as the description text as in `umb-node-preview` component.

[2019-01-29 08:10] nul800sebastiaan opened #4294 "v8 Color picker is not styled correctly"
The color picker in v8 is not showing the swatches correctly, this is the default state:

![image](https://user-images.githubusercontent.com/304656/51893453-35c21a80-23a5-11e9-916f-52fd7650f4c8.png)

And this is the state when you select a color:

![image](https://user-images.githubusercontent.com/304656/51893469-3e1a5580-23a5-11e9-845a-c922486781be.png)

It should have looked like this, default s

[2019-01-29 08:12] bjarnef commented on #4290
The template picker also has a flat stucture of the nested template, but yes in might be better with a file picker in this case since there can be several nested folders and to visualize the folder structure when picking the file.

[2019-01-29 08:57] bergmania commented on #4255
PR: https://github.com/umbraco/Umbraco-CMS/pull/4295

[2019-01-29 09:32] warrenbuckley commented on #4255
All fixed & merged in

[2019-01-29 09:32] #4255 closed

[2019-01-29 10:34] kjac commented on #4287
Got this 👍 PR incoming.

[2019-01-29 10:34] kjac commented on #4289
Got this 👍 PR incoming.

[2019-01-29 10:42] Shazwazza opened #4297 "v8 Macro Editor needs to properly validate data"
Based on the PR/work submitted to update the macro editor, i have added some comments about some work that needs to be done with regards to properly validating data so that it's consistent with the way it's done throughout the back office.

Orig PR with notes: https://github.com/umbraco/Umbraco-CMS/pull/4165

We need to:

* Return 404 when something isn't found, not throw an exception
* Add val-se

[2019-01-29 10:53] kjac commented on #4287
This is apparently by design -  see #2742

The use case here is creating a new template with an alias that corresponds to an existing view on disk. Since the scaffold is loaded before the name is entered, the editor won't see the existing view contents. However, upon creation the existing view is *not* overwritten (also by design), so any changes to the scaffold are discarded and replaced by the e

[2019-01-29 10:57] #3396 closed

[2019-01-29 10:59] bjarnef commented on #4287
@kjac okay, but why doesn't it only try to create the template, when one actually hit save button (or use the shortcut `ctrl+s`)?

At the moment it is a bit confusing it created templates, when you loose focus on the input or just be mistake click outside the input.

[2019-01-29 11:00] warrenbuckley commented on #4241
@RobertCopilau I can't reproduce this, can you just triple check please mate

[2019-01-29 11:23] kjac commented on #4287
@bjarnef I agree it's confusing when you don't know the reason behind it. I tried to explain the reason in my previous comment... but here's another go at it.

Imagine you've got an existing view on disk called `test.cshtml`, but no corresponding template in the UI. Now if you create the template `Test` in the UI, you don't want Umbraco to overwrite the existing view. Thus the general rule is "no

[2019-01-29 11:32] bjarnef commented on #4287
@kjac yes, I get the issue with overwriting existing templates, but I still feel it is a bit inconsistent with the rest of the UI. And e.g. if creating a document type with a template, e.g. "Blog Post" the tree node is named "Blog Post" and the partial view becomes "BlogPost.csthml".

What happens if you have a physical file on disk names `test.cshtml` with some code and then create a document typ

[2019-01-29 11:34] kjac commented on #4287
I hope not 😄

[2019-01-29 11:48] nul800sebastiaan commented on #4282
Hey there @zaplvlad - how annoying that this is so slow for you! Most people don't have this experience however, so it could be something in your specific site. Make sure to get some help on this on the forum at https://our.umbraco.com/

I'll close this for now, if you have good steps to reproduce the problem on a clean install of Umbraco 7.13 then we're happy to have a look. Currently, I don't ha

[2019-01-29 11:48] #4282 closed

[2019-01-29 11:50] nul800sebastiaan commented on #4280
Thanks @ddtdeveloper - this is something we would love to look at in the future, in fact there's a few more things in the Members section we want to look at at some point.

I've put this on our ideas list for when we get around to looking into this in the future, thanks!

[2019-01-29 11:50] drummerboy46 opened #4301 "True/False doesn't trigger $dirty (unsaved changes dialog)"
**What did I do:**

Set True/False item then navigated away from page.

**What did I expect to happen:**

Unsaved changes prompt.

**What actually happened:**

No prompt to save changes.

**Tested in:**

7.11.1 & 7.13.1

[2019-01-29 11:57] #3679 closed

[2019-01-29 11:58] #4292 closed

[2019-01-29 12:00] #3663 closed

[2019-01-29 12:01] #3662 closed

[2019-01-29 12:23] nielslyngsoe opened #4302 "V8: Its not mandatory to upload a file when creating a media"
I would like it to be mandatory to upload a file when creating a media.

Reproduction
------------

Go to the media section, click create and select Media. Give it a name and click "Save"

[2019-01-29 13:10] nul800sebastiaan commented on #4200
Thanks @bkclerke that was helpful! The PR does what it needs then, I'll merge. 7.13.2 is due out next Wednesday but I'll post the updated `umbraco.controller.js` file here so you won't have to wait.

[2019-01-29 13:11] #4200 closed

[2019-01-29 13:19] #3425 closed

[2019-01-29 13:40] clausjensen commented on #4245
Closing this one as it will be fixed when the other branch is merged in :)

[2019-01-29 13:40] #4245 closed

[2019-01-29 13:43] clausjensen commented on #4284
@nul800sebastiaan did you guys fix this somewhere else?

[2019-01-29 13:47] nul800sebastiaan commented on #4301
Oh no!

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-01-29 13:53] zpqrtbnk commented on #4281
So... while working on all this I realized that configuration editors already had a mechanism to serialize to/from string in a nice way: the mechanism that we use to store them in database. So, no point using the convoluted serialization used by the UI editors, way better to use the other one. Have made changes to Core, will update Deploy and if it's OK, close this... stay tuned...

[2019-01-29 13:57] clausjensen commented on #4287
@bjarnef I agree it is inconsistent with the rest of the UI. We tried out various solutions and tried to come up with the various use case scenarios/workflows that this would affect.
We couldn't really come up with a better solution right now.

We figured the most important part of this was that we do not by accident end up overwriting - or put the user in a situation where they can end up overwri

[2019-01-29 13:57] #4287 closed

[2019-01-29 14:03] kjac commented on #4294
PR in #4303

[2019-01-29 14:05] kjac commented on #4284
I got the same error updating another DB this morning using the latest from last night. This time I managed to save the description:

*Detected current version 8.0.0-alpha.58 (8a027815), which needs to be upgraded to 8.0.0-alpha.58 (ed28b66a). To compare versions and read a report of changes between versions, use the View Report button below.*

Note: Both cases are on SQLCE

[2019-01-29 14:05] genckastrati commented on #3751
Thank you Sebastian! Sounds great.

[2019-01-29 14:18] clausjensen commented on #4294
fixed in https://github.com/umbraco/Umbraco-CMS/pull/4303

[2019-01-29 14:22] nul800sebastiaan commented on #4200
Here we go @bkclerke - this fixes specifically only this issue. Make sure to bump your ClientDependency.config as well for the changes to go into effect. Note that the previous label is still stored the first time, once you change the selection now the new and correct label will be stord.

[Fix4200.zip](https://github.com/umbraco/Umbraco-CMS/files/2808062/Fix4200.zip)

[2019-01-29 14:39] bergmania commented on #3645
PR: https://github.com/umbraco/Umbraco-CMS/pull/4304

[2019-01-29 15:08] zpqrtbnk commented on #4281
have pushed to temp-prevalues, moving this task to review, please kill if ok

[2019-01-29 15:17] bkclerke commented on #4200
Thank you so much @nul800sebastiaan & @kjac  !!!! You guys are AWESOME!

[2019-01-29 15:52] kjac commented on #4301
Nice one. PR in #4305

[2019-01-29 16:41] #4301 closed

[2019-01-29 17:20] bjarnef opened #4306 "v8: Switch between media listview layouts break image previews"
In the latest changes in `temp8` it seems the image previews in media listview layouts are broken, e.g. when switching from grid to list and back to grid layout.

![2019-01-29_18-18-36](https://user-images.githubusercontent.com/2919859/51926861-8a3fb700-23f2-11e9-9377-88094d6c7b9c.gif)

[2019-01-29 17:25] bjarnef opened #4307 "v8: Tooltip in media grid is jumping from top left to target position"
When hovering the info icon in media grid, it seems the tooltip is jumping from top left corner in browser window to the target position relative to the info icon.

![2019-01-29_18-24-05](https://user-images.githubusercontent.com/2919859/51927188-4f8a4e80-23f3-11e9-91f5-7ab03dd78468.gif)

[2019-01-29 17:35] bjarnef opened #4308 "v8: Property editor preview needs a dimmed overlay"
In v8 (maybe also in latest v7) I think the property editor preview needs andimmed overlay or similar to visualize that it is only a preview - not actually interactive inputs, sliders, pickers etc.

I think it is a bit messy at the moment and e.g. pickers looks like "real" pickers.
Furthermore often preview only show a part of the property editors.

![image](https://user-images.githubusercontent.c

[2019-01-29 17:38] bjarnef opened #4309 "v8: Log Viewer is broken"
In latest changes in `temp8` branch, it now seems Log Viewer is broken.

![image](https://user-images.githubusercontent.com/2919859/51927949-10f59380-23f5-11e9-8d99-8bb53190e8e0.png)

[2019-01-29 17:43] bjarnef opened #4310 "v8: Media listview grid no longer has checkmark on selection"
It seems the Mmdia listview grid no longer has checkmark on selection - only a box shadow.

![image](https://user-images.githubusercontent.com/2919859/51928160-895c5480-23f5-11e9-8fe0-dde5eae129e8.png)

It is inconsistent with selection on content listview grid layout.

![image](https://user-images.githubusercontent.com/2919859/51928209-a6912300-23f5-11e9-87fc-4acea0063423.png)

[2019-01-29 17:45] bjarnef opened #4311 "v8: Member listviews return error"
In latest changes in `temp8` branch, the member listview now returns an error.

![image](https://user-images.githubusercontent.com/2919859/51928338-01c31580-23f6-11e9-8006-380bd69376eb.png)

![image](https://user-images.githubusercontent.com/2919859/51928349-07206000-23f6-11e9-91cf-76330cca04c2.png)

[2019-01-29 17:51] bjarnef opened #4312 "v8: Replace confirm in redirects dashboard with overlay"
In redirects management dashboard, when disabling URL tracker, I think the traditional the new overlay as used several places in v8: media delete, language delete, schedule publishing etc.

![image](https://user-images.githubusercontent.com/2919859/51928677-bb21eb00-23f6-11e9-911b-4b24256f3370.png)

[2019-01-29 17:55] bjarnef opened #4313 "v8: Users layout switcher is empty"
In v8 the layout switcher seems to be empty. I have also noticed this in v7.

![image](https://user-images.githubusercontent.com/2919859/51928980-78144780-23f7-11e9-90b3-da67772d8b07.png)

It used to have a listview layout similar to members listview list layout.

[2019-01-29 19:14] bjarnef opened #4314 "v8: Subview querystring parameter"
The users section add a querystring parameter `subview=users` og `subview=groups` to url.
On the current section you can the refresh/reload page and it stays on current "page".

However it doesn't seem to be consistent troughout the UI, e.g. for subviews under document types, macros, relation types, style sheets etc. don't add querystring parameter, so when refreshing page, it just opens the first

[2019-01-29 19:37] kjac commented on #4241
I can reproduce it... and I think I know where the bug is. I'll dig a bit.

[2019-01-29 20:01] #4294 closed

[2019-01-29 20:05] kjac commented on #4241
PR in #4315

[2019-01-29 20:44] kjac commented on #4307
PR in #4316

[2019-01-29 21:12] nul800sebastiaan commented on #4272
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/4276

[2019-01-29 21:12] #4272 closed

[2019-01-29 21:20] nul800sebastiaan commented on #4273
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/4275

[2019-01-29 21:21] #4273 closed

[2019-01-29 21:44] bjarnef commented on #4312
@kjac yes it would. At the moment it use `overlayService` in several parts of the UI. It would be great to replace this with `overlayService` for now and then enhance it later. Just to make it "pretty" for v8 release 😁

[2019-01-29 21:54] bjarnef opened #4318 "v8: Macro editor property picker"
In macro parameters the editor is a traditional dropdown. It would be great to change this to a property picker similar to when selecting data type on document types or selecting field types in Umbraco Forms.

![image](https://user-images.githubusercontent.com/2919859/51942910-7c9d2800-2418-11e9-90ec-848f0243d623.png)

[2019-01-29 22:21] hfloyd opened #4319 "ColorPickerValueConverter.PickedColor: "Label" property returning JSON of Hex code"
**Umbraco v.7.13.1**

I added a new Color Picker data type, checked to use labels, and filled in several options:

![image](https://user-images.githubusercontent.com/1252593/51944199-6deb4c80-23e9-11e9-9344-fd85d3d96a5a.png)

I am using Models Builder, and was pleased to see on my next model generation that the ColorPicker property was converted to a strongly-typed object with two string propertie

[2019-01-30 03:17] Shazwazza commented on #4284
I fixed this directly in the temp8 branch, see revs: ee693b63bd0e172e45621a357c280af6cee0b3aa, fd80aecb2001e088a511c37256488668e34da519

[2019-01-30 05:43] Shazwazza commented on #4251
Not quite working since we are causing a circular loop with the RuntimeState.ApplicationUrl and the SingleServerRegistrar.GetCurrentServerUmbracoApplicationUrl since both are relying on each other. I'll investigate and fixup.

[2019-01-30 05:48] Shazwazza commented on #4251
It needed a null check, see rev 16b655fd6277572627861cd73d12514ea3563895

all works now

[2019-01-30 05:48] #4251 closed

[2019-01-30 06:49] kjac opened #4320 "V8: ClientDependency throws "Umbraco cannot run. Sad." exception"
Latest temp8 doesn't want to boot:

![image](https://user-images.githubusercontent.com/7405322/51963270-4cc74200-2463-11e9-909c-16c3938c7279.png)

Seems a bit strange since `CdfLogger` indeed does implement `ClientDependency.Core.Logging.ILogger`. Maybe @Shazwazza has an idea here?

#### Full stack trace

[BootFailedException: Boot failed: Umbraco cannot run. Sad. See Umbraco's log file for more d

[2019-01-30 06:56] Shazwazza commented on #4320
You'll need to manually update your config/clientdependency.config file (it's git ignored)

Update your /config/ClientDependency.config file to point to the correct class, should be the top line, the type is now `Umbraco.Web.CdfLogger` (no UI)

[2019-01-30 06:56] #4320 closed

[2019-01-30 07:03] kjac commented on #4320
Ah 👍 thanks!

[2019-01-30 07:10] kjac commented on #4284
I can confirm this works for me with an upgrade from *8.0.0-alpha.58 (8a027815)* to *8.0.0-alpha.58 (38c809d5)* 👍

[2019-01-30 07:18] #4284 closed

[2019-01-30 07:35] RobertCopilau commented on #4241
Awesome @KennethJakobsen, thanks a bunch :D

[2019-01-30 07:50] Shazwazza commented on #4236
out of curiosity which methods are hiding other methods? I don't see any squiggly lines about that :P

[2019-01-30 07:53] bergmania commented on #4236
We had 5 methods in `PublishedContentExtensions` where we had to rename them to avoid the hiding.

Also it is quite hard to figure out e.g. where we use cultures as long as we just use strings.

[2019-01-30 07:58] Shazwazza commented on #4236
Ah right, just discussed a bunch of this with @clausjensen and gave some ideas, he can chat to you when he's back. We used to use CultureInfo for culture but it was super annoying. We have some other possible options but there's pros/cons to it all.

[2019-01-30 08:23] jmayntzhusen opened #4322 "v8: Default Dropdown and Dropdown multiple data types are opposites"
"Dropdown" is set to be able to select multiple values while "Dropdown multiple" is not

In short in the current v8 nightly build there are these built-in property editors, but it seems that they have the opposite names of their configuration, see the images below:

![2019-01-30_0914](https://user-images.githubusercontent.com/36075913/51967728-64f18e00-2470-11e9-9308-e557c23c32b9.png)
![2019-01-30

[2019-01-30 08:53] Shazwazza commented on #4311
thanks for reporting it's a regression issue, fixed in temp8 branch rev: 6c0321ce72959877e611ced85a1cff8ca41dec33

[2019-01-30 08:53] #4311 closed

[2019-01-30 08:54] Shazwazza commented on #4309
thanks for reporting it's a regression issue, fixed in temp8 branch rev: 6ff787046b595c9b19e4d18fd588f039766173e9

[2019-01-30 08:54] #4309 closed

[2019-01-30 08:56] #4281 closed

[2019-01-30 08:59] Shazwazza commented on #4244
works!

[2019-01-30 08:59] #4244 closed

[2019-01-30 09:24] nul800sebastiaan commented on #4319
Hey @hfloyd, what mode are you running ModelsBuilder in? I get a perfectly fine label value when I do `@Model.Content.MyColors.Label` so I'm not sure how to reproduce.

[2019-01-30 09:37] Shazwazza opened #4323 "v8 content picker in dialog renders incorrectly"
The image shows the problem

![image](https://user-images.githubusercontent.com/1742685/51972127-d95b1a00-24ce-11e9-9e65-0899b9a5dee9.png)

[2019-01-30 09:42] #4289 closed

[2019-01-30 09:45] Shazwazza commented on #4323
already fixed in latest rev, closing

[2019-01-30 09:45] #4323 closed

[2019-01-30 10:05] bergmania commented on #4095
PR: https://github.com/umbraco/Umbraco-CMS/pull/4210

[2019-01-30 10:14] clausjensen opened #4324 "Need to update the IContentService api SavePublishing APIs"
Need to update the IContentService api SavePublishing APIs as they are confusing

The review and PR are all part of https://github.com/umbraco/Umbraco-CMS/issues/3640

[2019-01-30 10:49] kjac commented on #4319
Whoop! PR in #4325

[2019-01-30 12:58] bergmania commented on #4229
PR: https://github.com/umbraco/Umbraco-CMS/pull/4327

[2019-01-30 13:28] #4291 closed, assigned to nobody

[2019-01-30 13:41] #3982 closed

[2019-01-30 13:42] nul800sebastiaan commented on #4319
Yep, found out that this is exactly the problem, when you click a color for the very first time, it doesn't populate the label value, selecting another color and then the same color "fixes" it. Will review the PR very soon! 👍

[2019-01-30 13:42] jmayntzhusen opened #4328 "V8: Can't create templates from backoffice"
In the current V8 nightly (1958) you can't create templates in the backoffice.

Reproduction
------------

If you're filing a bug, please describe how to reproduce it. Include as much
relevant information as possible, such as:

### Bug summary

In the current V8 nightly (1958) you can't create templates in the backoffice.

### Specifics

URL: http://localhost:xxxx/umbraco#/settings
Version: 8.0.0-

[2019-01-30 13:57] bergmania commented on #4328
Are fixed in the next nightly, so I'm closing

[2019-01-30 13:57] #4328 closed

[2019-01-30 14:23] bjarnef commented on #4285
@nul800sebastiaan it seems it needs to order in these groups.
https://github.com/umbraco/Umbraco-CMS/blob/temp8/src/Umbraco.Core/Constants-Applications.cs#L150-L157

Not sure if it also will be possible to create tree groups in custom sections or re-use and existing tree group for another package, e.g. if you wanted to add an extension to Analytics package.

https://github.com/umbraco/Umbraco-CMS/

[2019-01-30 15:12] #4319 closed

[2019-01-30 15:15] nul800sebastiaan commented on #4319
Thanks @kjac for the wonderful help today! This has now been fixed and will be available in 7.13.2 due out Tuesday next week. Thanks for reporting @hfloyd !

[2019-01-30 15:47] nul800sebastiaan commented on #4241
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/4315

[2019-01-30 15:47] #4241 closed

[2019-01-30 15:52] warrenbuckley commented on #4258
Peer reviewed/tested & merged into nightly build/release on MyGet as build `1989`

[2019-01-30 15:52] #4258 closed

[2019-01-30 16:33] hfloyd commented on #4319
Thanks @nul800sebastiaan and @kjac for the fast response and detective work! <3

[2019-01-30 16:35] hfloyd commented on #4319
Ps. @nul800sebastiaan  - RE: ModelsBuilder Mode: I always use the VS Add-in and compile all models in a separate project from the website.

[code]

[2019-01-30 17:59] nul800sebastiaan commented on #4313
Ah, I am not sure what the intention is, might be that we just don't need the switcher any more. We'll discuss at our next regular meeting and let you know.

[2019-01-30 18:01] nul800sebastiaan commented on #4314
Ah yes, consistency, that would be lovely! But I guess we're not in a perfect world yet.

I've marked this as an idea to come back to in the future, thanks!

[2019-01-30 18:02] nul800sebastiaan commented on #4310
Thanks @bjarnef we're experimenting with this one at the moment, @nielslyngsoe can update on progress for this one!

[2019-01-30 18:03] nul800sebastiaan commented on #4318
To me it seems like a good idea, but let me get some feedback first. I'll let you know after our next regular meeting.

[2019-01-30 18:03] nul800sebastiaan commented on #4308
I think @nielslyngsoe is experimenting with this at the moment, otherwise we'll have a chat about it at our next regular meeting. We'll keep you posted.

[2019-01-30 18:04] nul800sebastiaan commented on #4306
Uh oh! That seems like a bug we should fix, I'll make sure it gets on the list.

[2019-01-30 18:05] zpqrtbnk commented on #4236
We had
[code]
Which was a conflict. That was solved with
[code]
But that was not really consistent, as we then had methods with optional culture and others with non-optional cultures. I refactored it a week ago (really though I'd commented here already?) into
[code]
So it's more explicit, and consistent.

...

So, about introducing primitive types, we need to be very careful with this. Although it

[2019-01-30 21:23] bergmania commented on #4236
I have never talked about `CultureInfo` as a "primitive" type. IMO thats way too big.

I talk about a custom `CultureId` implementation, where we could implement implicit conversion from e.g. string.  In that case it is still very simple for the developers to use, but  give us alot of benefits in the core of Umbraco.
It is also possible to implement custom json converters and model binders for MVC

[2019-01-30 23:40] Shazwazza commented on #4314
This routing for packages is on purpose and is explicitly done this way otherwise navigating the packages section yields very ugly URLs.

There is a reason for this madness
* The packages section consists of 4 different editors
* The users section should have it's routing fixed to be like packages - because each is a different editor
* The other places mentioned like doc types, stylesheets, conten

[2019-01-31 03:19] Myster opened #4331 "PostSaveUserGroup returns 401 Unauthorized"
Given I am a user in a group with permissions to the "Users" section
But without permissions to the "Administrators" section
When I Create a new group (and add myself to it) and press 'Save'
Then The user sees a browser dialog (![screenshot](https://user-images.githubusercontent.com/354777/52028330-7ec7c980-2573-11e9-8c00-2168139762a9.png)) requesting username/password, and I see in my Dev tools n

[2019-01-31 03:54] #4095 closed

[2019-01-31 07:21] bergmania commented on #4236
I think the ideas are cool.

I really support combining information that are related in one type. I wonder why we don't already do that for paging information. We have many methods injecting both `pageNumber` and `pageSize`, instead of a single type. Sometimes 0-indexed and sometimes 1-indexed. 😭

I also find it problematic that the validation of the types are not handled on initialization, but de

[2019-01-31 08:25] bjarnef opened #4333 "Icon size in modal overlay"
At this line it set font-size of all `<i>` elements to 20px, which affect existing layout, so you would have to overwrite it again.
https://github.com/umbraco/Umbraco-CMS/blob/dd6e764588d22ef2b7bce01fd504ece89834f181/src/Umbraco.Web.UI.Client/src/less/modals.less#L183-L185

E.g. in the search bar the icon size too large.

![image](https://user-images.githubusercontent.com/2919859/52041008-7783ca00

[2019-01-31 08:38] nielslyngsoe commented on #4310
Hi @bjarnef

I have corrected this, please have a look if you want — always open for feedback.

Thanks

[2019-01-31 08:38] #4310 closed

[2019-01-31 08:50] clausjensen commented on #4322
Need to make sure these are switched around. Please be aware not to switch them around incorrectly - check out which one (according to guid) is supposed to be the multiple one (based on what it was in v7)

[2019-01-31 08:52] #4181 closed

[2019-01-31 08:54] clausjensen commented on #4333
Thanks for reporting 😄
Marking as up for grabs - I think you're right about this needing to be fixed elsewhere

[2019-01-31 09:10] zpqrtbnk commented on #4236
Liking some of the ideas. It sure would make the APIs way cleaner (yea, the `pageNumber` and `pageSize` things...) and I've started to do something similar with the `Ordering` thing (look in services). Now it all comes down to making it super simple and elegant to use, for developers.

For reference, the `Ordering` thing is a class, which represents the field to order by, the direction, and the (o

[2019-01-31 09:11] clausjensen commented on #3821
Talked to @zpqrtbnk and we think tags are done. If there's any specific issues still remaining we should open up new issues for those.

[2019-01-31 09:11] #3821 closed

[2019-01-31 09:57] bergmania commented on #4253
My UI eyes can only see that the ModelBuilders dashboard looks inconsistent to the rest.

@warrenbuckley , What do you think is inconsistent in the Published Content ?

[2019-01-31 09:57] nielslyngsoe opened #4334 "V8: Opening a list-view item should open as an infinity editor"
I want content-nodes from a listview to open as infinity editors

[2019-01-31 10:18] bergmania commented on #3648
PR: https://github.com/umbraco/Umbraco-CMS/pull/4335

[2019-01-31 10:22] bergmania commented on #3659
Can we consider this done, if we just remove the two unused using statements?

[code]

[2019-01-31 10:41] kjac commented on #4306
I've found the issue... PR incoming.

[2019-01-31 10:50] kjac commented on #4306
PR in #4336

[2019-01-31 13:06] mclausen opened #4338 "v8 - No membergroups are available"
Hi Core team

Given i have created two member groups
Test 1, Test 2

When I create a new Content
And I select "Add"

Then i expect to see a list of my member groups

The following screenshot appears
![no-member-group-available](https://user-images.githubusercontent.com/3600782/52055988-428b6d80-2561-11e9-8c34-75dccd6b2e38.PNG)

[2019-01-31 13:17] zpqrtbnk commented on #3640
Update: for `Publishing`/`Published` (which covers both publishing *and* unpublishing a culture) I have a POC that works and does not add too much overhead.

For `Saving`/`Saved`... still in progress.

[2019-01-31 13:18] mclausen opened #4339 "v8 - Unable to find all-members.html and Members.html"
In the Members sections.

When clicking on "All Members" and "Members" the following image appears.

![cant-find-list-all-members](https://user-images.githubusercontent.com/3600782/52056639-107b0b00-2563-11e9-9bda-26b42ba15156.PNG)

[2019-01-31 14:08] zpqrtbnk commented on #3640
PR is #4341 for code review, there are some unit tests... need you guys opinion

For `Saving`/`Saved` it works with names + there's a method to "touch" a culture ie bump its date and make it detected... All in all it works and could be a good MVP. Thoughts?

[2019-01-31 15:01] warrenbuckley opened #4342 "V8: Logging pipeline - not respecting Info level set"
The logging pipeline is not respecting and reading the Info value set in the Serilog.config file.

Regardless of the value being set, the logs continue to write very chatty Verbose log messages

[2019-01-31 19:11] kjac commented on #4339
@mclausen looks like it works in the latest `temp8` source:

![image](https://user-images.githubusercontent.com/7405322/52078775-556b6580-2594-11e9-9768-4569beb1eb2a.png)

[2019-01-31 19:14] kjac commented on #4338
Hi @mclausen 😄

Whatever the issue was, it looks like it's fixed in the latest `temp8` source:

![member-group-picker](https://user-images.githubusercontent.com/7405322/52078932-c0b53780-2594-11e9-91d6-b84c12f79028.gif)

[2019-01-31 19:47] bjarnef commented on #4339
@mclausen the issue is already fixed here :)
https://github.com/umbraco/Umbraco-CMS/issues/4311

[2019-01-31 22:08] bjarnef opened #4343 "v8: Example searches doubled in Log Viewer"
In Log Viewer it seems to examples searches with scroll are doubled, when scrolling the page and an issue when the examples searches are open and the search bar is sticky.

![2019-01-31_23-05-23](https://user-images.githubusercontent.com/2919859/52088769-23b2c880-25ad-11e9-9dd8-0f409f67c20b.gif)

[2019-02-01 06:46] readingdancer commented on #4257
I just came across the same issue, here's a screen shot with the new colour scheme :)

![infinite editing button issue](https://user-images.githubusercontent.com/4398217/52107103-199bc480-25c3-11e9-87df-7b176536ac87.jpg)

[2019-02-01 07:19] mclausen commented on #4339
Awesome Thank you 👍

[2019-02-01 07:19] #4339 closed

[2019-02-01 07:20] mclausen commented on #4338
Awesome Thank you 👍

[2019-02-01 07:20] #4338 closed

[2019-02-01 07:43] bergmania commented on #4068
PR: https://github.com/umbraco/Umbraco-CMS/pull/4347

[2019-02-01 08:01] JeffreyPerplex opened #4348 "v8 - Database consistency => Rename umbracoDomains to umbracoDomain"
If you look at the current tables in the database you'll see that only the table umbracoDomains is in plural form. All other tables have singular name.

We once got audited by an external party and one of their checks for code quality was consistency, and we failed because of this table :)

Stupid, but true, and maybe v8 is a good time to remove this inconsistency. Rename umbracoDomains to umbraco

[2019-02-01 08:05] JeffreyPerplex opened #4349 "v8 - A description on the default mediaType"
When testing v8 with some editors who were new to Umbraco we got the comment about what "size", "width" and "height" were. Especially with the size they were wondering if it were megabytes or kilobytes.

Of course, from a developer perspective totally clear, but a little description would help these editors for sure.

- Add description to "Media type" => Property "width" => "in pixels"
- Add descr

[2019-02-01 08:12] JeffreyPerplex opened #4350 "v8 - Remove "Password answer" and "Password question" from Member type"
When introducing Umbraco v8 to some new editors they all came with some questions about the Member-section in Umbraco. They all asked what was the functionality of "Password answer" and "Password question" on a member profile.

The only answer I had was that I had no idea, and I've never used it before. I know it's probably part of the standard .NET Membershipprovider, but I would love to see thes

[2019-02-01 08:18] JeffreyPerplex opened #4351 "v8 - Umbraco.MediaPicker datatype - Upload button doesn't work"
If you add an Umbraco.Mediapicker datatype to your doctype the "Upload"-button (top-right, the purple one) doesn't work. The only way to add files / images is by drag-and-dropping them in the pane.

Tested it in Firefox &
![upload button](https://user-images.githubusercontent.com/12457148/52110893-5c30c180-2602-11e9-9c46-e669eb00b1bc.png)
 Chrome

[2019-02-01 09:53] nielslyngsoe commented on #4257
PR https://github.com/umbraco/Umbraco-CMS/pull/4352

[2019-02-01 10:11] mclausen opened #4353 "v8 - Member group user listing not updating"
Hi Core team

After adding my bro Jim Carrey to member group Test 1, Test 2 he is not appearing when selecting the member groups.

This is me adding the the member group to the member.
![jimmy-boy](https://user-images.githubusercontent.com/3600782/52116549-b422f480-2611-11e9-83dc-aeeb8f858eaf.PNG)

Clicking on the member group, I cant see my friend Jim
![jimmy-is-not-among-us](https://user-images.

[2019-02-01 10:40] warrenbuckley commented on #3648
All tested & merged

[2019-02-01 10:40] #3648 closed

[2019-02-01 10:49] bjarnef commented on #4353
@mclausen the member group doesn't list members who belong to this member group. The text is show is because member groups doesn't have additional properties. Just basic properties as id and guid.

[2019-02-01 10:56] nielslyngsoe opened #4354 "V8: Cant save & publish changes from another language than the selected language when clicking "publish...""
Create a DocType that allows for variants, write some content for English, change to another language. Click "Publish..." then you are not able to select English.

[2019-02-01 11:36] bergmania commented on #4354
PR: https://github.com/umbraco/Umbraco-CMS/pull/4355

[2019-02-01 11:54] warrenbuckley commented on #4229
@bergmania 3 failing tests that need fixing up please before I can merge this in

[2019-02-01 11:57] nielslyngsoe opened #4356 "V8: Upload button in media-picker does nothing"
The upload button top right corner of the media-picker dialog does nothing.

[2019-02-01 12:04] kjac commented on #4351
Good catch! This is particularly annoying on folders that aren't empty, because the dropzone is hidden in those folders...!

PR in #4357

[2019-02-01 12:05] kjac commented on #4356
Duplicate of #4351, PR in #4357

[2019-02-01 12:11] nielslyngsoe opened #4358 "V8: Multiple actions relies on $scope.currentNode, but its not always set."
Multiple of the actions in the top-right corner dropdown uses the $scope.currentNode. But currentNode is not set if the user haven't interacted with the tree. Like if the user have opened a link to a content-node.

[2019-02-01 12:16] pedroadaodev commented on #4200
Thank you so mucj @kjac  and @nul800sebastiaan . I hade the same error and the ZIP worked for me. :)

[2019-02-01 12:44] warrenbuckley commented on #4257
All tested & reviewed. Merged in

[2019-02-01 12:44] #4257 closed

[2019-02-01 12:47] warrenbuckley commented on #4354
Already been merged in by @nielslyngsoe

[2019-02-01 12:47] #4354 closed

[2019-02-01 13:08] kjac commented on #4349
Yes! A thousand times yes! 🥇

I'll toss a PR at this shortly.

I think we only need to apply this to new installs. It seems pretty much like overkill to add a migration that applies these labels to upgraded installs, no?

[2019-02-01 13:10] clausjensen commented on #4343
Thanks for reporting :)

[2019-02-01 13:11] bergmania commented on #3545
@zpqrtbnk I have created a new `IContentTypeBaseServiceFactory` to create the correct `IContentTypeBaseService` based on the type of `IContentBase`. Such that `Content` gets the `IContentTypeService`, `IMediaType` gets a `IMediaTypeService`, etc.

Hopefully everything works now.

[2019-02-01 13:12] clausjensen commented on #4348
Thanks for reporting @JeffreyPerplex  :)
Yep .. might as well get it done now.

Note: would need a migration added for this

[2019-02-01 13:12] hartvig opened #4359 "V8: Disable collapse/expand of property groups"
In v8 the organization of property groups changed from being divided into tabs, to be on the same page. However, in the transition, the ability to collapse/expand the groups was accidentally introduced and should be removed as it doesn't serve any useful purpose.

[2019-02-01 13:21] bernardmoes commented on #3186
@nul800sebastiaan Can you please look at my pull request? It's been open for almost 2 months. Would be nice to get it fixed.

[2019-02-01 13:22] clausjensen commented on #4349
Yes please! 😃
And yep - No migration needed. If anyone has had this as an issue, they have most likely just added the description and fixed it up themselves. This is just a nice to have addition moving ahead.

[2019-02-01 13:22] mclausen commented on #4353
Thanks for clarifying @bjarnef 😄.

[2019-02-01 13:26] hartvig opened #4360 "V8: The ability to navigate between property groups"
As an editor, I should quickly be able to navigate between property groups so that I don't have to resort to scrolling but also so that I can always get an overview of the available groups on the page.

For Property Editors that support this, the first editor from the group should get focus, so that the editor can immediately start working without any further navigation.

See attached mockup.
![na

[2019-02-01 13:34] kjac commented on #4349
PR in #4361

[2019-02-01 13:37] JeffreyPerplex commented on #4349
Wow, that is amazingly quick! Thanks!

And good to see in the PR where these things happen. Next time I will create the PR myself :)

[2019-02-01 13:42] clausjensen commented on #4349
@JeffreyPerplex if you're quick you can make one for V7 as well .. it would be fine to have this in new V7 sites as well ;)

[2019-02-01 13:54] KevinJump opened #4363 "Umbraco 8 Package install, picks the Default Package not the v8 one"
Hi,
_This might be a mixture of Umbraco 8 or our.umbraco.com Issue - so Just throwing this in, as it will be more of an issue as more packages are added._

You can't as a package developer mark two packages as current (one for v7, one for v8) -
and in Umbraco 8 - when installing a package from the package section it picks the current one (not the v8.0 one) from the list of packages.

**Either**
Ou