[2019-03-14 17:25] zpqrtbnk commented on #4992
Please comment here, yes, now that it is a confirmed issue.

FWIW, I have been able to reproduce the panic in a unit test - now to fix it...

[2019-03-14 17:51] zpqrtbnk commented on #4992
Assuming I can push a candidate fix for this issue in a branch, would you be up to build your own Umbraco and test? Are you running these tests with the stock 8.0.0 version, or something you have built?

[2019-03-14 17:51] Stick97 commented on #4975
I'm seeing the same issue. I'm having trouble with the GetCulture() method on IPublishedContent returning null as well. I'm assuming it's also a side effect.

[2019-03-14 17:57] crick3t commented on #4992
I have downloaded it from NuGet, nothing custom built.
I can try to figure it out and upgrade it, but I am from the UK, so I can only test it tomorrow earliest.

[2019-03-14 18:10] zpqrtbnk commented on #4992
No problem, will ping you tomorrow.

[2019-03-14 18:14] nul800sebastiaan commented on #4830
What if the initial value is the value you wanted to set? Then you'd need to change to a different value first and then change it back to the initial value.

[2019-03-14 18:18] nul800sebastiaan commented on #4860
@nathanwoulfe Aha! That sounds correct.. and so easy! Might just be it. :-)

Care to create a PR for it?

[2019-03-14 18:22] nul800sebastiaan commented on #4869
I'll merge this issue with #4846 as they both need to be fixed at the same time.

[2019-03-14 18:22] #4869 closed

[2019-03-14 18:23] nul800sebastiaan commented on #4846
Thanks so far @PeteDuncanson - are you making any progress on the gulp update yet?

As for docs, they don't work at the moment anyway and we'll need to find an alternative, so don't worry about that one.

[2019-03-14 18:26] nul800sebastiaan commented on #4872
CDF might not be able to handle it but when debug=true, does it make sense to do this still?

Note: I have absolutely no idea what I'm talking about so please forgive the naive question.

[2019-03-14 18:44] nul800sebastiaan commented on #4886
At the moment I can't reproduce in the latest code, this might have been fixed already, so I'm going to close this for now!

[2019-03-14 18:44] #4886 closed

[2019-03-14 18:58] nul800sebastiaan commented on #4910
Hmm, looks like a bug indeed!

[2019-03-14 19:19] nul800sebastiaan commented on #4917
Yikes! We never merged the PR for that: https://github.com/umbraco/Umbraco-CMS/pull/1943

Seems to work. :-)

[2019-03-14 19:32] nul800sebastiaan commented on #4932
Thanks, it looks like that's a bug (also in v7).

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-03-14 19:35] nul800sebastiaan commented on #4936
It was indeed @skttl - I'll close this as it shouldn't be a problem in the future any more. Thanks @JeffreyPerplex ! :)

[2019-03-14 19:37] nul800sebastiaan commented on #4947
Oh no.. Seems like a bug! :-)

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-03-14 19:44] NaMonitoru commented on #4932
I'm not sure but in V7 there was no possibility in the backoffice to create sub folders for css and skripts.
The discrepancy is that in RTE parameters, CSS is offered correctly from sub folders, but when using RTE in context filling, they are not shown because the paths are invalid.

[2019-03-14 19:46] nul800sebastiaan commented on #4951
Hi @jaandrews - I understand what you're trying to do but unfortunately this isn't and won't be supported, we wouldn't want to republish all the nodes you already have after updating a document type, that is a big performance hit on most sites.

If you need this functionality, you're advised to hook into the `ContentTypeService.SavingContentType` event and update your content from there. Be warned

[2019-03-14 19:46] #4951 closed

[2019-03-14 19:48] jaandrews commented on #4951
That makes sense. Thanks for clarifying the reason.

[2019-03-14 19:49] nul800sebastiaan commented on #4959
Hi @tranphuongyd - at this time we don't have plans to fix this, sorry.

[2019-03-14 19:49] #4959 closed

[2019-03-14 19:54] nul800sebastiaan commented on #4972
Yeah that looks like a bug, not sure what's going on there.

[2019-03-14 20:02] nul800sebastiaan commented on #4975
That looks like a bug and we should also fix https://github.com/umbraco/Umbraco-CMS/issues/4699 where the dialog doesn't close after saving.

[2019-03-14 20:03] nul800sebastiaan commented on #4699
@kjac While that's true, it does close in v7 and I see no reason for it not to close here :-)

[2019-03-14 20:10] nul800sebastiaan commented on #4993
Preview ONLY works if you have an active session in the backoffice. Previews can not be viewed by anonymous users, this is why it doesn't work.

This is how previewing works and we don't have plans to allow anonymous users to preview a page.

[2019-03-14 20:10] #4993 closed

[2019-03-14 20:34] nul800sebastiaan commented on #2945
It's a great suggestion, would be great to have.

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-03-14 21:26] nul800sebastiaan commented on #4992
@zpqrtbnk Note: the build server will build it for you so you can link to the build output there, that way nobody needs to make a custom build.

[2019-03-14 21:41] nul800sebastiaan commented on #4949
A real button to save and a close link to dismiss changes would be good yes!

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-03-14 23:21] nathanwoulfe commented on #4860
Yup, will do - I've put a fix in on our site, will verify that works correctly before creating a PR.

[2019-03-15 01:05] Shazwazza commented on #4872
It would be cool if we can do it, it would require an update on CDFs part to not minify already minified files (which makes perfectly good sense anyways), then it would be a POC to figure out if we can generate the source maps with gulp and have them appended as part of the CDF bundle. I'm sure it's possible but first need to update CDF to ignore `.min.js` files and then could start a POC (or @Pet

[2019-03-15 02:10] chrno1209 commented on #4830
@nul800sebastiaan that's just a workaround and I am doing it to pass validation, but when you have initial value, that means the slider has value even when you haven't done anything yet.

[2019-03-15 04:19] Shazwazza commented on #4988
The issue with disabling the Save/Publish button if there is a validation error is that if you have 2 or more languages, you've only selected one language to save/publish, a validation error occurs for that language, the user should still be able to select a different language to save/publish from that point so I'm not sure if disabling the full ability to do that is a perfect solution.

Here's a

[2019-03-15 04:21] Shazwazza commented on #4884
Thanks @RobertCopilau , one thing to check is that i think this error mentioned above:

I think is a problem even before this PR, so if you could check that would be good since if it's not caused by this PR we can treat it as a separate problem and solve it separately.

[2019-03-15 04:22] Shazwazza commented on #4884
I didn't get much time on this today but will be working on more updates to it so please make sure nothing is merged yet. I need to fix up some styling that i removed and will check what happened to the checkboxes

[2019-03-15 05:05] Shazwazza commented on #4884
Have added back in the umb-list-item--error and have applied it to all publish dialogs for consistency. Have also put back in the umb-checkbox in the publish dialog, there was a merge problem from the previous PR of the PR.

Here's some examples of what should happen when creating and save/publish a variant document, this is using 2 mandatory languages, a variant doc type with 2 properties: one in

[2019-03-15 06:55] nul800sebastiaan commented on #4830
Yes, I understand but what I'm saying is:

- If you set an initial value then.. surely this could be the CORRECT value that the editor wants to set
- So the editor naively goes: thanks, I don't need to do anything, I can just publish this straight away
- Then Umbraco will go: not so fast buddy, your slider is at the initial value, but you're required to change it
- Which then is impossible for the

[2019-03-15 08:06] JeffreyPerplex commented on #4936
Hi both,

this was a fresh v8 installation!

[2019-03-15 08:25] RobertCopilau commented on #4884
I am unable to test the Publish Dialog as the old validations would not allow me to have the same result as with the new validations, i.e trying to publish two valid languages and one invalid would throw validation errors for all languages.

I can, however, confirm that the unpublish dialog issue is a separate one.
https://www.useloom.com/share/aa1f7be8fd75402da0eff185b161b0c9

More testing in pro

[2019-03-15 08:29] kjac commented on #4699
@nul800sebastiaan fair point. Fortunately it's super simple to fix... PR in #4996 😄

[2019-03-15 08:42] zpqrtbnk commented on #4992
A version with the fix is available [here](https://umbraco.visualstudio.com/Umbraco%20Cms/_build/results?buildId=19009) on our build server. Click on the top-right *Artifacts* link and download the NuGet packages from *nupkg*. If you can test, that would be super cool.

Note that the version is going to be 8.1.0-alpha.2673 - this is a temp build, use it for testing and for testing only.

[2019-03-15 08:47] nul800sebastiaan commented on #4936
Duh.. Of course it was, I can see it from the color scheme :-)

And after a bit of looking around: the Checkbox datatype turned into a big toggle, and we renamed it in v8 to True/False. So yep, still an issue, probably something with some regex.

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-03-15 09:17] HistoricEnglandDigitalTeam commented on #4993
Hi - ok thanks Sebastian.

Do you know what happened to the fix mentioned in: https://github.com/umbraco/Umbraco-CMS/pull/2532?

Release 7.10.0 https://issues.umbraco.org/issue/U4-11134

The process was to:
•	log out (of the back office)
•	Go to /umbraco/preview, you will get redirected to the login page
•	log in, go and preview something and it should work

When you do this in 7.13.2, there is no

[2019-03-15 09:53] bsowa commented on #2967
Hi,

Not sure if this is only me, but when upgrading via nuget from 7.13.2 to 7.14.0 and trying to use the new Multi Url Picker data type I get following error:

[code]

[2019-03-15 09:54] uSkinned commented on #4781
Hi Seb,

Just tested again and its not doing it now. Sorry to waste your time on this one.

Cheers,

Marc

[2019-03-15 10:15] JeffreyPerplex commented on #4915
Hi all,

when adding new languages it can quite complex indeed. What we tried to achieve for one our clients (proof-of-concept with v8) is to create a website with seperate trees for four countries:

- Denmark (only Danish language)
- Netherlands (Dutch (mandatory language in the Netherlands), and English for any foreign visitors)
- Belgium (Dutch (mandatory) + French (mandatory))
- Switzerland (G

[2019-03-15 10:39] bsowa commented on #2943
Hi @nul800sebastiaan ,

This is a nice feature, but unfortunately it is causing inconsistency in the existing builds. Imagine people already have some naming conventions in place and by introducing this feature you are breaking their naming conventions. Wouldn't it be better to make this available as an option in config file?

[2019-03-15 10:39] kjac commented on #4915
@JeffreyPerplex I understand your position perfectly clear. I'm not at all against some kind of handling for this in Umbraco (although the mandatory language part can be a lot harder to solve than simply hiding some languages in the UI).

One could also argue that this is one of the "Make Umbraco simple to use and easy to customize" scenarios - meaning it shouldn't be handled out of the box but ra

[2019-03-15 10:44] nul800sebastiaan commented on #4993
Hi Fiona, that scenario works fine for me in a 7.13.2 install, so I suspect there's something somewhere in you setup preventing it to work. Unfortunately I have no clue as to what exactly that could be :(

Maybe try to ask for input on the forum: https://our.umbraco.com

[2019-03-15 10:48] KevinJump commented on #4915
I would say this is more core then extra - I am with @JeffreyPerplex the editor shouldn't see language options for languages that are not relevant for that content, and you should be able to mix the 1-1 and tree-based approach to languages.

I have seen many multilingual sites and lots of them have this mix of single node 1-1 languages (for things like products) and then have separate sites for ea

[2019-03-15 10:49] nul800sebastiaan commented on #2943
@bsowa If you want it to behave like it did before, you can drop in a small eventhandler like this, then you can customize the media name to your heart's content: https://gist.github.com/nul800sebastiaan/b9656341c19d254e68aabd3f0692b394

[2019-03-15 11:07] HistoricEnglandDigitalTeam commented on #4917
Lol - so does that mean that the PR will be merged into a subsequent release,
.... or that it works for you now anyway? ('cos it's still a problem for us!)
Fiona

[2019-03-15 11:55] nul800sebastiaan commented on #4917
Yeah, we'll get it in for 7.15 :)

[2019-03-15 12:11] bsowa commented on #2943
@nul800sebastiaan thank you. Works as before 👍

[2019-03-15 12:32] bsowa commented on #2943
@nul800sebastiaan actually there is another issue with this. Upload works fine, but when you sort the media folder content to which the file has been uploaded, then the file name automagically changes to something like:
banner-belize-mob.jpg", "crops": []}

[2019-03-15 12:38] crick3t commented on #4992
That's great, thanks.

I have updated it and rerun our import.

It was running fine for more than an hour and the contents were created correclty, so the fix seems to be working.
But then we got one error and that stopped the replication as it seems like Umbraco never returned with an error.
Weird, maybe that issue is on our side or the error is just not bulbing up and stuck on SaveAndPublish. I h

[2019-03-15 12:57] kjac commented on #4947
Found it... PR imminent.

[2019-03-15 13:07] kjac commented on #4947
PR in #4997

[2019-03-15 13:53] zpqrtbnk opened #4998 "Exception in BPlusTree"
See #4992, one that issue was fixed, the following happened:

[code]

[2019-03-15 13:54] HistoricEnglandDigitalTeam commented on #4917
Look forward to it, thanks.
Fiona

[2019-03-15 13:56] zpqrtbnk commented on #4992
Thanks for the feedback. It seems that the original issue has been fixed, so I am moving this issue to review, so the fix can be merged and part of a next release.

Now about that new exception... I have created #4998 to track it. Let's discuss it there.

[2019-03-15 13:57] zpqrtbnk commented on #4998
Infos:

But then we got one error and that stopped the replication as it seems like Umbraco never returned with an error.
Weird, maybe that issue is on our side or the error is just not bulbing up and stuck on SaveAndPublish. I have to check that one.

It is a new one.

[2019-03-15 14:11] facingdigital commented on #4947
Yeah ! Thank you for your reactivity ! 👍
________________________________
From: Kenn Jacobsen <notifications@github.com>
Sent: Friday, 15 March 2019 14:08
To: umbraco/Umbraco-CMS
Cc: Raphaël Libert; Author
Subject: Re: [umbraco/Umbraco-CMS] Skype link ("sip:name@domain") is automatically converted to "mailto" (#4947)

PR in #4997<https://github.com/umbraco/Umbraco-CMS/pull/4997>

—
You are receivi

[2019-03-16 13:00] bjarnef commented on #4953
@Shazwazza yes, but none if these support Umbraco v8 and I am unuse if they will. At least for Fanoe Starterkit, where we now have the newer default Starter Kit, so does it make sense to keep this in v8 branch?

[2019-03-16 14:38] madsrasmussen opened #4999 "Automatic bidirectional relations with pickers"
Using pickers is a great way to create relations between nodes, but they have one big problem - the relations are one way.

It would be an awesome feature if the core supported bidirectional relations for pickers.

I know packages are trying to solve some of the problems I mention underneath, but I think this should be core functionality.

**Why is this important?**

### Improves overview of the c

[2019-03-17 20:00] kjac commented on #4975
PR in #5001

[2019-03-18 07:33] #4699 closed

[2019-03-18 07:39] #4975 closed

[2019-03-18 09:24] crick3t commented on #4998
Morning,
Just a quick update. We are still trying to find out what is happening.
Seems like our replication hangs on the same content each time. We have identified that content and now trying to replicate it and find out what is so special about it.
I will let you know the outcome.

The other information that can be useful is that, after this error happens Umbraco fails to boot, see the error mess

[2019-03-18 10:09] zpqrtbnk commented on #4998
Thanks for the update. Nice debbuging infos. If you can narrow it down to 1 content item that would be of course super precious!

[2019-03-18 10:18] NikRimington opened #5003 "V7 - Umbraco Installer doesn't honour ConfigSource for Connection strings"
I believe this issue got fixed in the past but it has resurfaced (or at least a very similar issue).

If you change the connection strings section of web.config to use configSource setup before running the Umbraco Installer it results in the external source file getting broken.

It appears that the external source file becomes a full copy of web.config.

Reproduction
------------
(This occurred on

[2019-03-18 11:23] kjac commented on #4936
As it turns out, the current solution searches through the entire datatype object. This leads to some rather unpredictable search results.

PR to fix it in #5004

[2019-03-18 11:57] marcemarc opened #5005 "V8 - Mapping a route to a backoffice Mvc Controller"
I'm not saying 'I want' to do this, and support for this may have been dropped in V8 - however I'm updating the documentation to use composition and components where previously applicationstarting event examples exist - (prioritisation driven by forum questions)

I'm looking at this page:

https://our.umbraco.com/documentation/reference/routing/Authorized/

which outlines advice for running an MVC

[2019-03-18 12:30] bergmania commented on #4967
The issue seems to be the calculation of whether the item is published, used in the ordering.

[code]
https://github.com/umbraco/Umbraco-CMS/blob/dev-v8/src/Umbraco.Core/Persistence/Repositories/Implement/DocumentRepository.cs#L994-L996

I have these:
![image](https://user-images.githubusercontent.com/1561480/54529863-66740880-4981-11e9-9a4b-c673f9353d9f.png)

But the ordering in SQL are comparing

[2019-03-18 12:59] kgiszewski opened #5007 "Putting in a content title > 255 characters causes "String or binary data would be truncated. The statement has been terminated." exception."
## The Issue
Whilst not a "bug" per se, editors were alarmed when they copy\pasted a long name for a node into the content name field (see images).

## To Replicate
To replicate, type something greater than 255 characters into any node field title. Save\Publish.

## Version
v7.14.0

## Proposed Solution
Proposed solution is to limit the title via the UI to 255 so that the user cannot type any furt

[2019-03-18 13:10] zpqrtbnk commented on #4967
So... when it's a variant content type ie `(ctype.variations & 1) = 0` we determine (line 996) the "published" status with `(CASE WHEN ccv.id IS NULL THEN 0 ELSE 1 END)`.... and here, `pcv` is `ContentVersionDto` for the published document version (line129), and `ccv` is `ContentVersionCultureVariationDto` for the culture (line 157) *and for the current version* (line 158).

When checking for `ccv

[2019-03-18 13:41] nielslyngsoe opened #5008 "V8: minor usability corrections for users section"
I have a few small correction to the user section that I would like:

1. Users that cannot be selected(like current user), should not display a hand-cursor when hovering the selectable-part of item in grid or list view.

2. The username should contain a href-link so you can open in a new tab, see latest correction for list-views where a solution for this have been implemented.

[2019-03-18 13:56] #4967 closed

[2019-03-18 14:49] crick3t commented on #4998
No luck... :(

The import dies at the same spot every time.
It is not a multi threading issue as currently I am running it on only one thread and the same happens.

After importing more than 21k contents, dies with that length error.

I have checked the logs and what happens is:
- Adds a new content with a huge body text (a bit more than 1M characters), published, saved all fine
- Adds another con

[2019-03-18 14:59] drbldgtl opened #5010 "Preview becomes unusable with ~2000 nodes when under load of just 30 visitors"
I've been advised by Umbraco Support that this is a known issue. I'm creating this bug here at their request. In Zendesk these are tickets 34299 and 40555.

We are seeing preview times of over a minute in some circumstances with a site under load. This does not seem to happen when running locally but once hosted in Azure (this particular project doesn't use Umbraco Cloud). The issue only occurs th

[2019-03-18 16:49] zpqrtbnk opened #5012 "Enable changing server messenger options easily"
Although `Composition` exposes `SetServerMessenger` creating the proper messenger (just to change options) require access to various internal things = not possible/easy.

[2019-03-18 17:45] crick3t commented on #4998
I have tried to import only those three articles but it is working, so I think it is not about a special content.

Can be there some sort of limitation for number of content or the the length of all the contents combined?

Tomorrow, I will try to run the import by skipping the first 10 and see if it dies 10 contents latter.
Otherwise I have run out of ideas... :-/

[2019-03-18 21:14] kjac commented on #5008
PR in #5015

[2019-03-19 06:54] OAOVLD opened #5016 "v8: Bug/Error. NuCache sometimes does not display images or files"
Hello (Здравствуйте)

v8: Bug/Error. NuCache sometimes does not display images or files.

v8: Bug/Error. NuCache иногда не отображаются файлы или изображения.

We found a workaround, when the bug #4879 repeated -
https://github.com/umbraco/Umbraco-CMS/issues/4879.

Мы нашли временное решение, когда ошибка  #4879  повторяется - https://github.com/umbraco/Umbraco-CMS/issues/4879.

NoCache causes err

[2019-03-19 07:01] OAOVLD commented on #5016
Most likely, after you restart IIS, you must run Published Status Reload automatically (4. Published Status > Reload)

[2019-03-19 07:20] #4936 closed

[2019-03-19 07:24] zpqrtbnk commented on #5016
A bit of infos: restarting IIS (or, more simply, restarting the app domain by touching `web.config`) does indeed cause a cache *reload*. Which simply reloads the cache from its pre-cache in database. If a reload can fix the problem, it would indicate that cache refreshing went wrong at some point.

The *rebuild* option in the dashboard, entirely rebuilds the pre-cache in database. If that action i

[2019-03-19 07:26] zpqrtbnk commented on #5016
More infos: if the problem lies in how the property value converters cache the conversion result, then a plain site restart (touching `web.config`) would fix the issue without having to do anything in NuCache's dashboard.

[2019-03-19 07:29] zpqrtbnk commented on #4998
Sorry I haven't been able to investigate deeper yet. There is definitively something wrong. Will definitively investigate.

Note: the stacktrace you posted above is the boot failed exception. It seems to indicate that the NuCache local file is corrupt. Now... when you say that importing "hangs" can you give me more details? What is happening? Do you have more details, a stacktrace, etc? Can you lo

[2019-03-19 07:45] AndersBrohus commented on #4910
If nobody takes this before i have time, then i will try debug this and see what's happening and if i can fix it 😄

[2019-03-19 09:13] peracine opened #5017 "UmbracoHelper and search"
It seems the documentation regarding Searching (https://our.umbraco.com/documentation/Reference/Searching/Examine/quick-start) is obsolete. TypedSearch was deleted in this commit https://github.com/umbraco/Umbraco-CMS/commit/b48a7fa4a967f32dc9c11fc42336343eec666fa1#diff-9bf4e570832ca36f5d6f698ec365be4f
and everything concerning searching too: https://github.com/umbraco/Umbraco-CMS/commit/497678224

[2019-03-19 09:39] bjarnef opened #5018 "v8: Toggle more tab opens both apps + dropdown"
When you toggle the more tab, which is shown when having several tabs/apps or on narrow screens, it seems to also open the tab dropdown.

![image](https://user-images.githubusercontent.com/2919859/54595557-2705f480-4a33-11e9-87c3-6eff82adc728.png)

Furthermore consider to remove the breadcrumb menu on narrow screen sizes or re-design how breadcrumbs are show on narrow screen sizes.

Besides that I

[2019-03-19 09:46] ronaldbarendse opened #5019 "UriExtensions.IsClientSideRequest() throws unnecessary exception"
The `UriExtensions.IsClientSideRequest()` method is hit on every request and throws unnecessary exceptions when the URL contains invalid path characters:

[code]

These exceptions are also logged as errors, which can flood the log. As the comments of the method also indicate this is done for performance reasons, throwing/catching exceptions should be avoided.

The fix should be quite easy to imple

[2019-03-19 09:48] nul800sebastiaan commented on #5017
Hi @peracine - v8 is a big change from v7 and we're working on getting the documentation updated, make sure to follow the Documentation status page: https://our.umbraco.com/documentation/v8documentation

`TypedSearch` hasn't been deleted but renamed to `Search`. If you need more help, make sure to post on the forum: https://our.umbraco.com 👍

[2019-03-19 09:48] #5017 closed

[2019-03-19 09:51] bjarnef opened #5020 "v8: Sections are collapsed too early"
At some responsive breakspoints it seems the sections are collapsed too early, e.g. here the "Media" section could have been visible.

![image](https://user-images.githubusercontent.com/2919859/54596002-16a24980-4a34-11e9-9e51-ed8a57b02aa9.png)

Does the sections need to collapse at 820px here?
![image](https://user-images.githubusercontent.com/2919859/54596199-726cd280-4a34-11e9-926d-49f00a0bbddd

[2019-03-19 11:13] peracine commented on #5017
Hi Sebastiaan,
AFAIK all search functionalities have been removed by @Shazwazza in this commit https://github.com/umbraco/Umbraco-CMS/commit/4976782247f613dea5a769dbc4073644996a3088 last year.
I Cannot see any search methods in this class. Did you mean ContentQuery?

[2019-03-19 11:25] bsowa commented on #2943
OK, I have found the solution for anyone that can came across similar problem.
Please replace the SetMediaNameToFilename method (from https://gist.github.com/nul800sebastiaan/b9656341c19d254e68aabd3f0692b394) with the following one:

[code]

[2019-03-19 11:29] nul800sebastiaan commented on #5017
Yeah, it's on ContentQuery, more info here: https://our.umbraco.com/forum/umbraco-8/96004-simple-search-in-v8

[2019-03-19 12:36] bergmania commented on #5008
Fixed as part of https://github.com/umbraco/Umbraco-CMS/pull/4948

[2019-03-19 12:36] #5008 closed

[2019-03-19 12:36] nielslyngsoe commented on #4597
linking with PR #4822

[2019-03-19 12:53] bergmania commented on #4839
I have updated the PR to reflect the naming `ParentChildren()`.

@bjarnef, do you have any thoughts? Otherwise we will not implement the Siblings methods, but only the `ParentChildren()` equivalent to `Siblings()` in V7.

Due to the misleading name in V7, we change the name in V8.

[2019-03-19 13:02] PerplexDaniel commented on #4839
Alternatively, a `Siblings()` + `SiblingsAndSelf()` would be a fairly descriptive API as well, or just a `Siblings(bool includeSelf)`. With `ParentChildren` I would be confused as to what it would do for content at the root level as they don't have a parent, yet the `ParentChildren()` then does return a list of stuff as it just does `Content.GetAtRoot()`.

[2019-03-19 13:05] bergmania commented on #4839
@PerplexDaniel, what are the use case of `Siblings` without the current node?

[2019-03-19 13:09] OAOVLD commented on #5016
Yes, using operation # 4 (Published Status > Reload) the images appear. Thank

[2019-03-19 13:11] nielslyngsoe opened #5021 "UX: List view configuration should open as an infinite editor."
I would like the List View-configuration (in DocType-configuration) to open as an infinite editor.

Today it looks like:
![image](https://user-images.githubusercontent.com/6791648/54744586-b0e6c680-4bc7-11e9-9d8a-a8b2fd1c57d1.png)

The reason for this is to ensure a better scope for the current editing phase. Today the "Save & publish"-button is placed in a way where it invites the user to confirm

[2019-03-19 13:11] bjarnef commented on #4839
@bergmania can't the method be named `Siblings()` and `SiblingsAndSelf()` as @PerplexDaniel suggest.
In v7 when we was using `Siblings()` we often excluded the current node (the parameter name `content`).

e.g. you could have some category nodes and on a category page, you want to list other categories (maybe under a parent/master caegory), but I don't want to list the category it self. In v7 you

[2019-03-19 13:11] PerplexDaniel commented on #4839
@bergmania
As you mention earlier, the node itself usually gets rendered differently and we already have it anyway (otherwise we cannot call `.Siblings()` or `.ParentChildren()` on it), so I do not see why it should be returned again.

Off the top of my head I can imagine a scenario where the node itself gets rendered as the main thing, and then there is a list of siblings() for further navigating

[2019-03-19 13:12] OAOVLD commented on #5016
Reproduce the problem:
1. Stop site (or delete web.config)
2. F5 (Refresh Page)
3. Start site (or recovery web.config)
4. F5 (Refresh Page)
5. No images
6. Published Status > Reload
7. F5 (Refresh Page)
8. Images appeared

[2019-03-19 13:14] OAOVLD commented on #5016
Which images/files are disappearing, where an image is displayed. The problem is partially spreading to some pages/files/images

[2019-03-19 13:17] bergmania commented on #4839
The reason to return it again, should be to indicate the position between the other nodes.

The only thing I don't like about the name `Siblings` is that it looks to be same functionality as in V7, but is not.

[2019-03-19 13:17] OAOVLD commented on #5016
How do I temporarily disable caching before this issue is resolved?

[2019-03-19 13:18] bjarnef commented on #4839
Maybe it is just me, but isn't `ParentChildren` a silly name - isn't this just siblings, when thinking on a family (but in this case `ParentChildren` include yourself).

Compare with building an app for a Family Tree and you would like to list your siblings.
Here is an example: https://www.familyecho.com

[2019-03-19 13:22] bjarnef commented on #4839
@bergmania it guess there are other parts of the code base, where there are differences.
Maybe it is more about it is being documented on Our 😃

[2019-03-19 13:22] PerplexDaniel commented on #4839
@bergmania I agree there are certainly situations where you just want all siblings including yourself but likewise I can imagine there are situations where you want to exclude the current node. Since most of the extension methods are for convenience anyway (we can all write our own) it makes sense to include it, in my opinion. This is obviously not a hugely important issue but I'll just add my 2 c

[2019-03-19 13:50] #4756 closed

[2019-03-19 14:01] bergmania commented on #4839
I have updated the PR to contain both `Siblings` and `SiblingsAndSelf`. I added remark to the `Siblings` _XMLDoc_ about the difference compared to V7.

[2019-03-19 14:48] crick3t commented on #4998
When I say hangs, I mean it does nothing any more.
After the error the next content creation request comes in, it adds it to the database and then nothing.

I have attached the log file from today.
[Umbraco.txt](https://github.com/umbraco/Umbraco-CMS/files/2983956/Umbraco.txt)

I changed the log level to Debug, so we may get more information about what is happening:
- 13:52:23, content was added s

[2019-03-19 15:09] vonbarnekowa commented on #4999
Would be great, we also need something like that for multiple projects.

[2019-03-19 15:12] vonbarnekowa opened #5022 "V8: Bring ping.aspx back"
In the new version of Umbraco, there is no way (I didn't found in the doc) to simply verify that the site is alive. It was possible on Umbraco 7, we only had to request `/umbraco/ping.aspx`.

[2019-03-19 15:38] scottleslie opened #5024 "V8 : Query Builder code error returning child items of type"
When using Query Builder in backoffice, I wish to return ( in example below) only blog posts, however all child items are returned.

Reproduction
------------

CONTENT TREE:

-BlogHome (bloghome)
-----Blog1 (blogpost)
-----Blog2 (blogpost)
-----Blog3 (blogpost)
-----Page1 (page)

@{
var selection = Umbraco.Content(Guid.Parse("1d770f10-d1ca-4a26-9d68-071e2c9f7ac1"))
    .Children("blogpost")
    .W

[2019-03-19 16:19] zpqrtbnk commented on #5016
You cannot disable caching - it's more than caching, its the source of everything.

Glad to hear we can narrow it down to having to reload the cache.

Now, what you describe... we just cannot reproduce it. So, we cannot fix anything ;-(

I assume that images are somewhere in the media library... but then, we have zero details about... how are you rendering your page? Where are the images coming fr

[2019-03-19 16:53] zpqrtbnk commented on #4998
So, the log contains:
[code]
And that would be the original error. It happens when *writing* stuff out to the local cache. And then, because we crash, the local cache is corrupt, hence the other exception your reported above (when *reading* stuff from the local cache).

So... we're making progress (kinda) - something breaks the local cache tool we are using, when writing changes. I am going to loo

[2019-03-19 17:06] HistoricEnglandDigitalTeam opened #5025 "Notify when (or prevent) multiple users editing a page at the same time"
We have 20+ editors - and run into problems where more than one editor is editing a page at the same time ( they will have a batch of pages to change between them; they are situated across different locations, and if there is a tight deadline everyone pitches in to help). They often accidentally overwrite each other's changes, and therefore work is lost (which then makes the time pressures worse).

[2019-03-19 17:09] crick3t commented on #4998
Yes, it always fails on the same spot
And the good news is, I also got closer to the issue. (kinda)

What I think the issue is that we have a few contents with really-really long content.
Basically contents where you have an html table with 10 columns and hundreds of rows. The cells contain links, texts, etc. Top of that someone copied it from MS word, so each td has inline css to make it more fun

[2019-03-19 17:10] crick3t commented on #4998
Github killed my example...

`< td style="background: rgb(178, 206, 220) none repeat scroll 0% 0%; padding: 0.75pt;">< p align="center" style="text-align: center;" class="MsoNormal">< strong>< span style="font-size: 8pt; font-family: &quot;Arial&quot;,sans-serif;">ISIN Code< /span>< /strong></p>
< /td>`

[2019-03-19 17:20] zpqrtbnk commented on #4998
Oh uh... dunno how exactly you are importing things, but if each document is imported individually (ie you don't manage scopes) then each *should* be saved by the underlying cache, independently - that being said, that underlying cache may be optimizing things or ... I need to check.

A few millions chars is a *lot* ;-) I am going to try and reproduce.

*BTW, really love the work you're doing, it'

[2019-03-19 17:25] crick3t commented on #4998
Yes, no magic there. No scopes or anything like that. I was just thinking about it as I can see the same content twice in the `NuCache.Content.tlog` file after it crashes. Although only one content.

Trying my best. Thank you.

[2019-03-19 18:39] OAOVLD commented on #5016
1. Question: I assume that images are somewhere in the media library
1. Answer: Yes

2. Question: but then, we have zero details about... how are you rendering your page?
2. Answer:

@* 1 полоса *@
@if (el_Content_Page_Main != null && el_Content_Page_Main.Count() > 0)
{
    IEnumerable<IPublishedContent> elem_list = el_Content_Page_Main.First().Children.Where(p => p.ContentType != null && p.Conten

[2019-03-19 18:40] OAOVLD commented on #5016
Question: I assume that images are somewhere in the media library?
Answer: Yes

[2019-03-19 18:42] OAOVLD commented on #5016
Question: but then, we have zero details about... how are you rendering your page?
Answer:
<div class="wis-test">
      @{

        string ContentType_Doc_News_Child = "Doc_News_Child";

        //Тип документа - Видео
        string ContentType_Doc_Video_Child = "Doc_Video_Child";

        //События недели
        IEnumerable<IPublishedContent> el_Content_Page_Main = Model.Value<IEnumerable<IPubl

[2019-03-19 18:44] OAOVLD commented on #5016
Question: Where are the images coming from, in the page?
Answer: From page (Image picker)

[2019-03-19 18:44] OAOVLD commented on #5016
Question: What's special about your site?
Answer: The usual news highload website

[2019-03-19 18:47] OAOVLD commented on #5016
Question:Your content types?
Answer: The usual content type - Umbraco.MediaPicker and Umbaco.MultiUrlPicker (for select files and images)

[2019-03-19 18:47] OAOVLD commented on #5016
Is there enough information now?

[2019-03-19 20:45] nielslyngsoe commented on #4988
Hi @shazwazza, I agree, the error should be fixed.

For UX, it should only be disabled when the selected languages has validation errors. Meaning if the user deselects a language that had a validation error(and the selection now only has valid languages) the “save & publish” button should be enabled again. So it should be evaluated on that. As well the validation error should determine wether the

[2019-03-19 21:59] sleslie321 commented on #5025
+1

[2019-03-20 08:13] OAOVLD commented on #5016
Importantly: this error occurs on about 3 out of 100 pages (1 out of 10) with the same template.
Example:
1. News of the week - errors. Template : news, Data type: Doc_News
2. Topical news - no errors. Template : news, Data type: Doc_News
3. Important news - no errors. Template : news, Data type: Doc_News
4. Green news - no errors. Template : news, Data type: Doc_News
5. Red news - no errors. Temp

[2019-03-20 09:49] mkyukov commented on #2998
I'm experiencing the same issue. I've had that happen on a few projects so far.

You can see a few more people having the same issue in this thread (Created on Apr 29, 2014), so I believe this is still an issue. May be hard to reproduce, but it is there.

[2019-03-20 09:51] bergmania commented on #4683
Notes:
This is how it works:

| Domain                          | Language | Match Hostnames | Match Path prefix | Notes |
|-------------------------------- |----------|------------------    |     ----   |--------------------------------------|
| http://localhost:8100/en        | en-US    | `http://localhost:8100`  |`/en`   | Match the specific host and path prefix |
| http://localhost:8100/da

[2019-03-20 09:59] SoerenDeger commented on #4787
@nul800sebastiaan I have updated to v8.0.1, but I don't see the badge in my content App. In the class is an "ng-hide":

![image](https://user-images.githubusercontent.com/7769446/54675521-0d31e380-4aff-11e9-8fb7-5a2abb7bddff.png)

And this is my code:

![image](https://user-images.githubusercontent.com/7769446/54675577-1f138680-4aff-11e9-8d8d-e22c100f4adf.png)

Is there another issue with this?

[2019-03-20 10:14] nul800sebastiaan commented on #4787
Not sure @SoerenDeger - works on the attached sample in issue #4791

![4787](https://user-images.githubusercontent.com/304656/54676578-423f3580-4b01-11e9-9cf4-117a157bef64.gif)

[2019-03-20 10:26] crick3t commented on #4998
I was wrong, when I said it goes in individually.
We have managed to replicate it, one content with a huge content body is enough to kill it.
No need for multiple content.
I just thought it was successful as the website is still responsive, but it does not mean anything, it fails to reboot and the next content cannot be published.

We will try to figure out where the limit is by decreasing the siz

[2019-03-20 10:36] nul800sebastiaan commented on #5022
Hi @vonbarnekowa - we encourage you to add your own way of checking this, for example here's a little bit of code you can drop into App_Code:

[code]

The route will be `/umbraco/api/alive/getresponse`

[2019-03-20 10:36] #5022 closed

[2019-03-20 10:48] bergmania commented on #4683
Suggestion:

[2019-03-20 11:02] SoerenDeger commented on #4787
@nul800sebastiaan Ok, thank you. The badge from the attached sample doesn't work by me if I upgrade umbraco with nuget from 8.0.0 to 8.0.1. But, if install umbraco 8.0.1 in a new solution, it works like expected :-) I think it was a locally problem by me or trough the update process.

[2019-03-20 11:24] bsowa commented on #2967
Hi @nul800sebastiaan, is there any update on this issue?

[2019-03-20 11:28] TheBeardedLlama opened #5027 "Display focal point coordinates"
AFAIK there is no way to view the focal point coordinates for an image in the back office.

This feature could also be augmented so that the focal point coordinates could be manually entered in the GUI

I'd be happy to work on a PR for this if people think it's a valuable feature.

[2019-03-20 11:31] #4992 closed

[2019-03-20 11:54] crick3t commented on #4998
So, I have created a loop where I create content and simply gradually expand size of the body content and create them one by one.
When the content length reaches something like 541 000 characters, the error happens.
To replicate just create a document type with a richtext editor and then create a content where the text is generated something like this:

    StringBuilder content = new StringBuilde

[2019-03-20 12:05] nul800sebastiaan commented on #2967
@bsowa Sounds like an upgrade problem to me, make sure to get some help on the forum at https://our.umbraco.com/

[2019-03-20 12:06] nul800sebastiaan commented on #5027
Can you explain what that would do and who it would help, a usecase would be handy.

[2019-03-20 12:22] bergmania commented on #5024
Bug confirmed.

Workaround, change:
[code]
to
[code]

[2019-03-20 12:30] bergmania commented on #5024
Fixed in https://github.com/umbraco/Umbraco-CMS/commit/c589ef199517803796bd26095ed0ed8fad4385ea

[2019-03-20 12:31] #5024 closed

[2019-03-20 12:46] deMD opened #5028 "BootFailedException when using custom MediaFileSystem or when using multiple custom components"
When trying to get a number of components running in Umbraco 8 I have been running into a BootFailedException multiple times. So far it seems to occur totally at random, as if Composers get called in a random order, and thus sometimes composers are run before dependant (core) components. F.e. I use a custom MediaFileSystem to save all media in an Azure Blob and it has been working fine, but whenev

[2019-03-20 12:59] nul800sebastiaan commented on #5028
That's annoying! It's really difficult to respond to "I've ran into problem x multiple times", we would need specific examples for each of those times. 😄

In this case it seems like you're trying to use `AzureBlobFileSystem`, which is not compatible with v8, so that's probably why it's failing.

Every time you see this error you've added something that is not working, you'll need to retrace your s

[2019-03-20 12:59] #5028 closed

[2019-03-20 13:13] bsowa commented on #2967
@nul800sebastiaan I just figured it out! You guys forgot to include the file multiurlpicker.controller.js under /umbraco/views/propertyeditors/multiurlpicker/

The file is not part of nuget or the zip installation!
It is only available in the github repo... (https://github.com/umbraco/Umbraco-CMS/tree/release-7.14.0/src/Umbraco.Web.UI.Client/src/views/propertyeditors/multiurlpicker)

So I guess yo

[2019-03-20 13:39] olafur164 opened #5030 "Bug: Folder media type, compositions not showing up."
I'm trying to add a membergrouppicker on a folder media type and can't see the picker.

![mediatype folder](https://user-images.githubusercontent.com/8494320/54688414-7ae90a00-4b15-11e9-84c8-9aacc366995b.PNG)

![folder](https://user-images.githubusercontent.com/8494320/54688415-7c1a3700-4b15-11e9-8bc4-b6233895bc45.PNG)

### Specifics

Media type

### Steps to reproduce

Add any datatype on folder

[2019-03-20 13:49] HistoricEnglandDigitalTeam opened #5031 "'Delete' Function of Media items wrongly ascribed to the item creator"
When a Media Item is deleted, the Audit Log reports the initial delete as "Move Media to Recycle Bin performed by user", correctly ie the audit log records the user who pressed 'delete'.

**But** the actual delete action is ascribed to the original creator of the Media Item , not to the User who who pressed 'delete'. "Trashed media with Id: 39369 related to original parent media item with Id: 3880

[2019-03-20 13:50] olafur164 commented on #5030
This seems to have been fixed in 8.0.1 with #4764 so I'm gonna check that out.

[2019-03-20 14:05] #5030 closed

[2019-03-20 14:17] #4706 closed

[2019-03-20 14:43] #4597 closed

[2019-03-20 15:01] nul800sebastiaan commented on #2967
@bsowa - all those files get combined into `umbraco.controllers.js`, the code is all there :)

![image](https://user-images.githubusercontent.com/304656/54694944-6151bd80-4b29-11e9-911b-12f321ecd002.png)

Maybe try all of this: https://cultiv.nl/blog/how-to-diagnose-umbraco-upgrade-problems/ and if you still have problems make sure to post on the forum. :)

[2019-03-20 15:08] nul800sebastiaan commented on #5031
I can see in umbracoLog table that it's logging user 0 indeed, so that seems to be a bug. Tested on 7.14.0.

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-03-20 15:33] zpqrtbnk commented on #4998
OK, I am just amazed by your detective work ;-) I have been hijacked on other topics and am somewhat ashamed I cannot answer to you faster. Anyways: going to try to repro later tonight with a content body of size > 541K chars - if I can repro, well then, will try to figure out what's going on.

[2019-03-20 16:01] bsowa commented on #2967
@nul800sebastiaan oh right - the .js file shouldn't be there as this is the views folder. Duh.
I think this was just a weird caching issue - I have followed the instructions from your website and it is working now. Increasing the clientDependency version number did the trick.
Thanks :)

[2019-03-20 17:19] ksingercoffey opened #5032 "V8 VariantsMigration.cs ADD COLUMN error"
The SQL syntax to add the versionId2 column is invalid.

Reproduction
------------

Upgrading from a 7.11.0 database seems to do the trick.

### Bug summary

When upgrading from 7.11.0 the Umbraco.Core/Migrations/Upgrade/V_8_0_0/VariantsMigration.cs code tries to add a column using this syntax on line 85:

    $"ALTER TABLE {PreTables.PropertyData} ADD COLUMN versionId2 INT NULL;"

SQL Server comp

[2019-03-20 19:27] AndersBrohus commented on #4910
Okay, so i have debugged a little to find the problem..

In the this file, "Umbraco.Web.UI.Client\src\views\propertyeditors\grid\editors\media.controller.js", the scope sets an variable called "focalPoint" if the selected image has it, but even trough the images should have an focalPoint since it has a "cropSize", then it's something deeper then the grid editor file..

So it must be inside the "Um

[2019-03-20 20:50] nul800sebastiaan commented on #5032
Sorry about that, we're not yet ready with the upgrade path to v8, it's coming in 8.1.0. I'll see what we can do to disable the upgrade installer for now in 8.0.x.

[2019-03-20 20:50] #5032 closed

[2019-03-20 21:47] nul800sebastiaan commented on #3869
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/4001

[2019-03-20 21:47] #3869 closed

[2019-03-20 22:11] nul800sebastiaan commented on #4131
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/4135

[2019-03-20 22:11] #4131 closed

[2019-03-20 22:30] nul800sebastiaan commented on #4140
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/4141 and then a little differently in
https://github.com/umbraco/Umbraco-CMS/pull/4492

[2019-03-20 22:30] #4140 closed

[2019-03-20 22:44] #4371 closed

[2019-03-20 22:45] nul800sebastiaan commented on #4371
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/4454

[2019-03-21 00:13] robertjf opened #5035 "The process cannot access the file NuCache.Content.db because it is being used by another process"
PR: https://github.com/umbraco/Umbraco-CMS/pull/5924

Something is happening in Azure WebApps where the NuCache.Content.db file is locked causing the site to hang.  I've attached the log file for reference.

The exception is as follows:
[code]

This is on Umbraco 8.0.1 which was upgraded from Umbraco 8.0.0. (attachment will need to be changed from .txt to.json)

[UmbracoTraceLog.RD2818786B7D96.201

[2019-03-21 06:46] zpqrtbnk commented on #5035
Is this on Umbraco Cloud, or on pure Azure? Where is `D:\home\site\wwwroot\App_Data\TEMP` - is it on a shared drive, or on a local drive? Is it possible that another instance of the site, running on another server, is trying to access these files? These files can only be accessed by 1 instance at a time - we have mechanism in place to ensure this *on one server* but not accross servers.

[2019-03-21 06:51] robertjf commented on #5035
This is in standard Azure on a basic plan with single instance only, there’s no special configuration at all, pretty vanilla Umbraco 8 with hacked up starter kit

[2019-03-21 07:51] PullensDennis commented on #3869
Hi there @kjac and @nul800sebastiaan,

Thanks for your efforts! I'm looking forward to the update :)

[2019-03-21 08:06] nul800sebastiaan commented on #3842
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/3969

[2019-03-21 08:17] ArnoldV commented on #4972
Also when there is sourcecode and you change someting in the source view, that is also not saved.
When using the formats dropdown everything works, it's purely the source view that causes the issue.

[2019-03-21 08:24] madsoulswe opened #5037 "v8 - Request/Bug - Remove unnecessary AngularJs locale/i18n-files. (801 files)"
Backoffice uses the angular-i18n package, and that contains 801 language files and they are all included.
The default 20 languages should be fine =)

[2019-03-21 08:38] OAOVLD commented on #5016
Hello,
EN: Now You have enough information to solve the problem?
RUS: Теперь у вас достаточно информации, чтобы решить проблему?

[2019-03-21 08:48] OAOVLD commented on #5016
EN: Can be to call a method (Published Status > Reload) every 10-20 minutes? How to do this? (Temporary solution)
Rus: Может быть вызывать метод (Published Status > Reload) каждые 10-20 минут? Как это сделать? (Временное решение)

[2019-03-21 09:18] nul800sebastiaan commented on #5037
What are the default 20 languages and why do you think it's enough?

Do you know if these languages are used anywhere in the backoffice anyway, I am asking out of ignorance, because I honestly have no idea :-)

[2019-03-21 10:13] nielslyngsoe opened #5038 "Radio button list is wrongly positioned in narrow viewports"
The radio button list items jumps to the right side of the page in a narrow viewport.

![image](https://user-images.githubusercontent.com/6791648/54745586-2784c380-4bca-11e9-8d61-96eb9244e2a3.png)

[2019-03-21 10:16] bjarnef opened #5039 "v8: Add IsVisible extension method on IPublishedElement"
Previously in Umbraco 7 Nested elements used in Nested Content was `IEnumerable<IPublishedContent>` and now in v8 we have `IEnumerable<IPublishedElement>`

In v7 it you added a property with alias `umbracoNaviHide` to Nested Content document type, you were able to use the `.IsVisible()` extension method.

It seems we can't use this in v8, e.g.
[code]

instead you should use one of the following, w

[2019-03-21 10:42] PerplexDaniel commented on #4442
Also for future readers: the code in the referenced issue works more reliably and is as follows:

[code]

[2019-03-21 11:02] bjarnef commented on #5039
`.IsVisible()` extension method:
https://github.com/umbraco/Umbraco-CMS/blob/735d7592089838d546717f1191536412109dc895/src/Umbraco.Web/PublishedContentExtensions.cs#L305-L313

I guess it also should exists in `PublishedElementExtensions.cs` similar to `.IsComposedOf()` extension.
https://github.com/umbraco/Umbraco-CMS/blob/91c52cffc8b7c70dc956f6c6610460be2d1adc51/src/Umbraco.Web/PublishedElementExt

[2019-03-21 11:48] madsoulswe commented on #5037
The "default 20" that I think off are these:
https://github.com/umbraco/Umbraco-CMS/tree/dev-v8/src/Umbraco.Web.UI/Umbraco/config/lang

And I only think they are used for standard date/number-formating/filters all over Angular?

But there could be people using them with custom translations. =)

[2019-03-21 13:37] PaulCrowdy opened #5040 "8.0.1 - Examine.dll & Umbraco.Examine.dll detected as Trojan:Win32/Skeeyah.I"
Since yesterday evening, Windows Defender has detected Trojan:Win32/Skeeyah.I in Examine.dll & Umbraco.Examine.dll.

This caused the following message:

Boot failed: Umbraco cannot run. See Umbraco's log file for more details.

-> Umbraco.Core.Exceptions.BootFailedException: Boot failed.

-> System.Reflection.ReflectionTypeLoadException: Could not load all types from "Umbraco.Examine, Version=8.0.

[2019-03-21 14:05] kjac commented on #5039
PR in #5041

[2019-03-21 14:37] nul800sebastiaan commented on #5040
That's the only thing you can do I guess. There's no trojans in Examine. :-)

[2019-03-21 14:37] #5040 closed

[2019-03-21 15:41] ksingercoffey commented on #5032
No worries! Is there anything we can do to help out? I pulled down the latest code to fix the syntax, but noticed things were still a bit broken after that.

[2019-03-21 15:52] ReVoid commented on #4788
Yep, same bug with v7 and v8 .udt on clean installed solution

@coderpros Thank you!

[2019-03-21 17:06] NathalieLarsson opened #5042 "Windows Defender removes dlls"
Microsoft Defender removes Examine.dll, Umbraco.Web.UI.dll, Umbraco.Web.dll files both when I unzip the Umbraco source code downloaded from Github and/or when I try to install UmbracoCms via Nuget.

Problem occurred after threat definition update.

- Windows 10 (build 17134)
- Umbraco 8.0.1
- Visual Studio 2017

![image](https://user-images.githubusercontent.com/475458/54769647-e6100a80-4c01-11e9-

[2019-03-21 17:27] dawoe commented on #5042
Hi @NathalieLarsson

Thanks for reporting this. It seems the second report of this today : https://github.com/umbraco/Umbraco-CMS/issues/5040

Not sure what is going on. Needs investigation.

Dave
Dave [Community Pull Request team](https://umbraco.com/blog/introducing-the-new-cpr-team/)

[2019-03-21 21:21] coderpros commented on #4788
@Revoid my pleasure!

[2019-03-21 22:37] Shazwazza commented on #5040
This is very weird, someone opened an issue on the Examine repo https://github.com/Shazwazza/Examine/issues/117

[2019-03-22 00:09] Shazwazza commented on #5042
This can be tracked via the examine repo https://github.com/Shazwazza/Examine/issues/117 ... though the screenshot seems to indicate that Umbraco.Web DLLs are affected too 🤔

[2019-03-22 00:09] #5042 closed

[2019-03-22 09:01] nul800sebastiaan commented on #4381
Took a little bit longer than expected but we've discussed this and it sounds like a good idea to us! 👍

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-03-22 09:10] nul800sebastiaan commented on #4419
Sorry for the delay, this sounds good! Not sure how this can be implemented yet but maybe PVCEs could look at an editor's valueType (in the package.manifest file)?.

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-03-22 09:15] nul800sebastiaan commented on #4999
Thanks for this feature request Mads, I'm sure you know it's been on many people's wishlist for a long time, probably including yours!

Currently it is not something HQ is working on but it's a much wanted feature. It will require quite a bit of core support to make this function consistently and reliably.

I've put this on the "ideas" list for once we start working in on relations again, thanks f

[2019-03-22 09:18] nul800sebastiaan commented on #4318
We had a chat about this recently and @nielslyngsoe indicated he would get back at you with some feedback! 👍

[2019-03-22 09:20] nul800sebastiaan commented on #4417
We had a chat about it and the conclusion was: where is says "Select view" now should be "Select partial view macro file". So instead of adding yet another heading, let's make the generic heading be actually useful.

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-03-22 09:25] nul800sebastiaan commented on #4682
YES to consistency. We had a good chat about making this more consistent and more intuitive. @nielslyngsoe will pick it up from here, and we talked about starting a "style guide" for this to adhere to for lists. Which then could expand to other elements in the backoffice.

[2019-03-22 09:26] abjerner commented on #4381
If someone were to make a PR for this, what would be the best way to set the configuration of a tree group?

Right now a tree group only exists as long as at least one tree controller has specified the group.

[2019-03-22 09:28] nul800sebastiaan commented on #4746
Thanks @skttl - this is something we didn't really think about. We discussed it at HQ and came to the conclusion that we need an additional toggle on the list view: "Show content app first". That would cause the content app to be the first app instead of the list view.

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-03-22 09:29] nul800sebastiaan commented on #4745
Whoops! Yeah that's is a bit of an oversight. We talked about it and the conclusion was: when the actions menu is open, the content app dropdown should not open (and vice versa).

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-03-22 09:30] nul800sebastiaan commented on #4747
Great idea!

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-03-22 09:33] nul800sebastiaan commented on #4789
We had some fun looking at this one at HQ recently, well done on both the discussion and the implementation! Looks super impressive, we love it!

We need to review the code etc, but the functionality looks spot on! 🎉

[2019-03-22 10:42] #4695 closed

[2019-03-22 10:57] ReVoid opened #5044 "V8: Wrong info about publish status of root node"
Wrong info about publish status of root node, when there are more then one language variant in it.

### Specifics
Umbraco V 8.0.1 clean install

### Steps to reproduce

1. Set at least 2 languages on website
2. Set **non**-english as default language
3. Create rooted DocType with _"Allow varying by culture"_ permission
4. Publish both variants in the same time, or one then another
![my](https://us

[2019-03-22 11:12] bjarnef opened #5046 "v8: TinyMCE image tools"
At the moment in seems Umbraco v8 is using TinyMCE v4.9.2
https://github.com/umbraco/Umbraco-CMS/blob/91c52cffc8b7c70dc956f6c6610460be2d1adc51/src/Umbraco.Web.UI.Client/package.json#L42

However when selecting or right-clicking an image, it doesn't seem to have the image tools as in this demo https://www.tiny.cloud/docs/demo/basic-example/ (TinyMCE v5).

Umbraco is using a custom toolbar action to

[2019-03-22 11:40] nul800sebastiaan commented on #5046
I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-03-22 11:41] PeteDuncanson opened #5047 "V8: Add the AngularJS directive template url pathname into the template itself for easier finding"
I had this as an issue on the old tracker. Currently if you are hacking around in the UI and need to find where a template lives so you can edit it its very difficult to work out where to go find it. I'd like it if in the HTML itself we could write out the filename/path to the template file in the source. That way you can very quickly find where the template lives and you can shorten the developme

[2019-03-22 11:42] PeteDuncanson commented on #4846
Had a play with it and will be working on it more so you know.

[2019-03-22 11:53] bergmania commented on #4683
PR: https://github.com/umbraco/Umbraco-CMS/pull/5045

[2019-03-22 12:00] nul800sebastiaan commented on #5047
Not sure I understand:

1. Why is it hard to find the template? In both v7 / v8 you can click open the template from the content item if you're an admin
2. What happens if you move around template files on disk, rename them, etc? The data in the template is going to out of sync
3. Gulp? So people will need to run both a VS build and a Gulp build while implementing their sites?

Mostly I'm struggli

[2019-03-22 12:56] bergmania commented on #4990
PR: https://github.com/umbraco/Umbraco-CMS/pull/5049

[2019-03-22 12:56] RobertCopilau commented on #4559
PR:https://github.com/umbraco/Umbraco-CMS/pull/5048

**Test Notes**
* Create a doc type with a grid
* Create a node based on that doc type
* Create a few RTE's and move them around and make sure the editable part of the RTE does not disappear.

[2019-03-22 12:58] dzordzs opened #5050 "Moving node doesn't create redirect."
When you move the node to another level, URL redirect is not created.
How to reproduce?

1. Install standard Starter Kit
2. Move About Us under People
3. Check Redirects and you will see they haven't been created.

Tested this on latest CMS - 8.0.1

[2019-03-22 13:03] #4935 closed

[2019-03-22 13:08] RobertCopilau commented on #4217
@nielslyngsoe, I can't replicate, can you confirm that this is still an issue?

[2019-03-22 13:29] bergmania commented on #5019
Hi @ronaldbarendse..

I'm a bit afraid of just inserting this. This leads to better performance when there are illegal characters, but worse performance if not.

I executed the method before and after this fix. Timings are for 100.000 iterations

|Request|Result|Time with the fix| Time before|
|---|--|---|---|
| / | False |00:00:00.0315486|00:00:00.0119914|
|/base/somebasehandler|False|00:00:00.04

[2019-03-22 13:32] #4990 closed

[2019-03-22 13:37] #4683 closed

[2019-03-22 13:42] bergmania commented on #5019
Ohh, as far as I can see the we only hit this catch block if there is illegal characters.  Either we do have to not log that, otherwise do we have to use another log level.

[2019-03-22 23:08] yaplex opened #5052 "V8: TinyMCE does not respec validElements configuration in tinyMCEConfig.config"
I want to use my own HTML code inside of Rich text editor, but when inserting a text inside of **div** tag and saving it, the data actually not updated and after reloading I have the same text as it was before

Documentation suggests than editing
\config\tinyMceConfig.config
and updating it to the following should solve the issue, but it does not work
[code]
This was working in version 7, but in v

[2019-03-23 00:33] frieagle94 opened #5053 "v8: Error while publishing content"
I keep getting the same error when publishing content or deleting content:

'concat' is not a recognized built-in function name. Incorrect syntax near 'umbracoNode'.

Here is the full stack trace:

Exception
System.Data.SqlClient.SqlException (0x80131904): 'concat' is not a recognized built-in function name.
Incorrect syntax near 'umbracoNode'.
   at System.Data.SqlClient.SqlConnection.OnError(Sql

[2019-03-23 08:42] nul800sebastiaan commented on #5052
Works for me, before saving, after saving and after resfreshing the page I get:

![image](https://user-images.githubusercontent.com/304656/54863967-bf5fea00-4d4f-11e9-9dc0-b1d39aa2e957.png)

What I did after changing the config:
- Update the version in ClientDependency.config
- Touched the Web.config so a restart of the site would happen
- Hard refresh of the browser cache

Maybe that will help fo

[2019-03-23 08:42] #5052 closed

[2019-03-23 08:44] nul800sebastiaan commented on #5053
Unfortunately you're using a version of SQL server that we don't support, you will need SQL Server 2012 or higher, the requirements for running Umbraco are here: https://our.umbraco.com/documentation/Getting-Started/Setup/Requirements/

[2019-03-23 08:44] #5053 closed

[2019-03-23 08:59] #4788 closed

[2019-03-23 09:30] nul800sebastiaan commented on #4860
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/5036

[2019-03-23 09:30] #4860 closed

[2019-03-24 03:10] yaplex commented on #5052
@nul800sebastiaan thanks for verifying this, but I did the same steps as you mentioned, it still does not work for me (updated tinymceconfig file, changed the version in ClientDependence, updated web.config and resaved, do iisreset, and tried new incognito chrome window). What would be the best way to debug this? where should I look to find why it does not work? It is clearly a client-side issue a

[2019-03-24 03:16] yaplex commented on #5052
trying a different browser (Mozilla Firefox) also did not help

[2019-03-24 12:26] kjac commented on #5031
I can reproduce this... and a few other related things. I'll push a fix soon 👍

[2019-03-24 12:58] kjac commented on #5031
Ooookay... so. This is no bug 😆

The log entry *Trashed media with Id: [node id] related to original parent media item with Id: [parent id]* originates from the relation builder. It's pretty badly worded, but it means: *I added a relation between the trashed media and the original parent media*.

The log entry is logged as originating from the original creator of the content, because it's not an a

[2019-03-24 14:13] OAOVLD commented on #5016
Hello
Have you made any progress?

[2019-03-24 20:11] abjerner opened #5057 "dashboard.umbraco.org shouldn't be able to crash the backoffice"
As `dashboard.umbraco.org` is currently down, it causes the backoffice to be unresponsive, without the user being able to continue. From what I can tell, it seems to be when the following criteria are met:

- Running 7.14 and V8 (or latest code from GitHub). It may also affect older versions.
- Default *Get Started* dashboard hasn't been removed under *Content*
- User hasn't dismissed the default

[2019-03-25 01:01] javafun commented on #5057
I am on 7.12.4, the same issue here.

[2019-03-25 01:44] groogiam opened #5058 "BackOffice won't load when installing from UmbracoCms 8.01 Nuget Package"
I am attempting to setup Umbraco using the 8.0.1 Nuget Package using these instructions.
https://our.umbraco.com/documentation/getting-started/setup/install/install-umbraco-with-nuget

Reproduction
------------
Using Visual Studio 15.9.9 I followed the procedure in the guide above exactly. After using the default installation parameters I attempted to login to the BackOffice but the application ju

[2019-03-25 05:17] groogiam commented on #5058
Looks like this is the same as https://github.com/umbraco/Umbraco-CMS/issues/5057

[2019-03-25 07:40] abjerner commented on #5057
@javafun You can disable the dashboard by going to `/Config/Dashboard.config` and then remove or outcomment the following lines:

[code]

[2019-03-25 08:09] maarten-kieft commented on #3986
@nul800sebastiaan , is it possible to reopen the issue? As @mehrdadab says he still has the issue and I'm experiencing the same issue with the latest version of Umbraco. To give you a bit more details: It happens from time to time, randomly. It happens on azure, but also locally on windows machine with iis.

[2019-03-25 08:21] nul800sebastiaan commented on #5058
Closing in favor of #5057  - thanks!

[2019-03-25 08:21] #5058 closed

[2019-03-25 08:21] javafun commented on #5057
Thanks for your tips. If I changed this file, will future upgrade override it?

[2019-03-25 08:42] zpqrtbnk commented on #5012
Has been reviewed OK by Jeavon - ready for review

[2019-03-25 08:44] abjerner commented on #5057
@javafun It depends a bit on how you update your Umbraco. If you have installed via NuGet and try to update, Visual Studio will ask you whether you wish to overwrite the file.

I'm using Git, so my own approach for updating is normally just to let the updater overwrite config files, but then use a Git diff tool to check what has changed, and discard changes that I don't wish to keep - for instance

[2019-03-25 08:46] zpqrtbnk opened #5059 "Alternate Preview Engine for v7"

[2019-03-25 08:46] zpqrtbnk opened #5060 "Alternate Media Cache for v7"
depends on https://github.com/umbraco/Umbraco.Private/issues/290

which is determining pros/cons/viability of moving media cache out of lucene and what options are available to us.

[2019-03-25 08:47] zpqrtbnk commented on #5060
Move the Media Cache out of Examine / Lucene, as it's one of the biggest (?) problem with startup times (??)

[2019-03-25 08:50] zpqrtbnk commented on #5059
Preview is slow with large sites in v7, has been the case forever, but we have a Gold Partner issue for it. Need to fix (?). Also...

So yea, that might be an idea.

[2019-03-25 08:56] HistoricEnglandDigitalTeam commented on #5031
Ok thanks for looking into this Kenn.

[2019-03-25 08:56] #5031 closed

[2019-03-25 09:23] 1sha1 commented on #3986
Last week we had the same issue as well.  We're on UK Azure webapp running umbraco 7.13.2.

We found the following solution on stackoverflow, Hope this might do the trick.

https://stackoverflow.com/questions/43629446/umbraco-an-unexpected-network-error-on-azure-web-apps

[2019-03-25 09:25] zpqrtbnk opened #5061 "Merge v7 to v8"

[2019-03-25 09:25] zpqrtbnk commented on #5061
Beware of #2441

[2019-03-25 09:29] bergmania opened #5062 "SPIKE - Improve macro initialization time"

[2019-03-25 09:58] nielslyngsoe commented on #4217
@RobertCopilau yes, its still a problem. See the PR for better test notes.

[2019-03-25 10:07] #4559 closed

[2019-03-25 10:22] OAOVLD commented on #5016
EN: We found a temporary solution to the problem. Now we are waiting for your answer.
RU: Мы нашли временное решение проблемы. Теперь мы ждем ответа от вас.

[2019-03-25 10:39] kjac commented on #4417
PR in #5064

[2019-03-25 11:02] bergmania commented on #5019
PR to change the log level: https://github.com/umbraco/Umbraco-CMS/pull/5066

[2019-03-25 11:59] maarten-kieft commented on #3986
@1sha1 Thanks for pointing it out! I applied the change. Lets hope indeed :)

[2019-03-25 11:59] PeteDuncanson commented on #5047
Hi Seb, sorry I should have been clearer. This is for the AngularJS templates for directives etc. I've updated the issue title to reflect this. Enjoy Japan!

[2019-03-25 12:39] nul800sebastiaan commented on #5047
Ahaaaaa! 👍 Clear. :)

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-03-25 12:50] kjac commented on #4932
Yeah this shouldn't be a problem in V7. PR in #5068

[2019-03-25 13:04] nul800sebastiaan commented on #5003
Note: this has never been supported and due to the way we update the querystring (by reading the web.config file, not by using the .NET provider for that) it probably will not be supported. I can't remember the technical reason behind this but for now, upgrading would be a manual process (as you've discovered).

I'll put this into the list to discuss at HQ as to why exactly it works like it does n

[2019-03-25 13:07] nul800sebastiaan commented on #5005
Interesting, I thought they were auto-routed too. I'll have to discuss at HQ and figure out what is going on.

[2019-03-25 13:43] nul800sebastiaan commented on #5037
Ah cool, I see what you mean now. The problem here is that more languages CAN be added so if I create `es_mx.xml` with the opening node of `<language alias="en_us" intName="Spanish (Mexico)" localName="Spanish (Mexico)" lcid="" culture="es-MX">` it will show up as an option in the backoffice.

It would, however, be great to ONLY load the languages that are available to backoffice users (so those d

[2019-03-25 14:04] deMD opened #5069 "Umbraco 8.0.1 PluginController attribute does not work on Rootnode"
When creating a plugin with the PluginController attribute no path is generated for the root node when overriding CreateRootNode. Setting root.RoutePath will results in an Url in the umbraco/views folder instead of the expected App_Plugins/[pluginalias]/... and without setting root.RoutePath a path is not generated at all.

### Steps to reproduce:
- Create a new Umbraco application
- Create a Cust

[2019-03-25 14:37] marcemarc commented on #5005
They aren't auto-routed, as you have to supply the route for them to work.... but what I think is they aren't auto registered with the LightInject container... it seems like 'PluginControllers, UmbracoAuthorizedApiControllers etc are but not UmbracoAuthorizedControllers (the comments seem to indicate that scanning by type is really expensive, so wonder if it's a conscious decision not to scan for

[2019-03-25 14:58] PeteDuncanson commented on #4913
While thinking about this I've been looking into setting up Prettier for the whole project (https://prettier.io/) it makes formatting delightful and consistent across js files and angularjs template files too which could be a good win. I'm going to add it to the build so it just automatically happens.

Plan would be to get it installed on a branch. Run it over ALL the javascript and angularJS temp

[2019-03-25 15:02] mathewknott opened #5070 "Change a Document Type Missing in Umbraco 8"
I've posted the following on the forum

https://our.umbraco.com/forum/umbraco-8//96476-change-document-type-in-umbraco-8

--
I've noticed in Umbraco 8 there is no option to "Change Document Type" when editing a page in the tree (Under the menu Do Something Else).

Does anyone know if this feature will come back or if it's gone for good or if kind of work is recommended now to be handled in a diffe

[2019-03-25 15:02] Lars-OJ commented on #4977
update: still broken in 8.0.1

[2019-03-25 15:35] ronaldbarendse commented on #5019
@bergmania Performance for valid request shouldn't suffer indeed! As `Path.GetExtension()` also does the invalid characters check (and throws the `ArgumentException` if it contains any), that would be checked twice now and result in lower performance...

Is there any reason why this should be logged at all? It's not something you can fix or result in weird errors down line, right?

[2019-03-25 16:21] mattbrailsford opened #5071 "IAction CanBePermissionsAssigned should have a flag to say the permission is content related"
Currently, if you want to define your own permissions you can do so by implementing `IAction` and setting the `CanBePermissionAssigned` flag to true. By doing so this allows you to add toggle switched in the user groups editor which is what I want.

However, by setting `CanBePermissionAssigned` to true, it also makes the permission available via the content nodes `Permission` action menu item. The

[2019-03-25 16:21] mattbrailsford commented on #5071
Some what related to #4655

[2019-03-25 16:56] bjarnef commented on #5070
@mathewknott you should probably update the title to "Change a Document Type" instead of "Create a Document Type".

[2019-03-25 17:01] mathewknott commented on #5070
Thanks. Done.

[2019-03-25 17:20] bjarnef commented on #5070
@kjac maybe this is something you want to have a look at? 😁😎🤓

[2019-03-25 17:56] jmwebed opened #5072 "Rollback details are missing on pages converted using ‘Change Document Type’"
We’re using Umbraco version 7.6.13 assembly: 1.0.6582.36857. We have two types of landing page, and we’re retiring one of them. To make the process of switching the old pages into the new version quicker we used the ‘Change Document Type’ option. Unfortunately this lost the Rollback history. We don't know how to get the Rollback history back.

Reproduction
------------

### Bug summary

After we c

[2019-03-25 18:12] mirkomaty opened #5073 "Umbraco.Content throws an ObjectDisposedException"
A call to Umbraco.Content leads to an exception:

[code]

Reproduction
------------
Unfortunately, I can't create a simple System that helps reproducing the Bug. The Code in my System comes down to the following Steps:

In my master layout Master.cshmtl I call a Method in a helper class like that:
`<meta name="description" content=@MyHelperClass.GetDescription()>
`

The GetDescription() Method in

[2019-03-25 18:39] kjac commented on #5070
Geez Louise that's no small feat. I will ponder it for a few days 👍

[2019-03-25 20:18] NaMonitoru commented on #4932
I have this problem in Umbraco version 8.0.1
Base of the problem is on picture-1.
I modified this issue for better understand.

[2019-03-25 20:27] kjac commented on #4932
@NaMonitoru thanks.. PR #5068 should fix the issue.

[2019-03-25 20:43] NaMonitoru commented on #4932
Ah sorry I didn't understand that PR contains a fix. I've already found it. Will this fix be applied in a future release?

[2019-03-25 20:57] NaMonitoru commented on #4932
Thank you very much

[2019-03-25 20:59] kjac commented on #4747
Absolutely love this idea! PR in #5074

[2019-03-25 21:34] yaplex opened #5075 "V8: Text modified in HTML editor not saving to Umbraco"
This is an addition to defect #5052 which was closed, but defect still exists. I just providing more information on how to reproduce.
I recorded a video with my steps.
https://youtu.be/fQoBoHLYpmY
CC: @nul800sebastiaan

[2019-03-26 05:10] Shazwazza commented on #5035
The same config principles apply to v8 as v7 for running on Azure. We defo need to get the docs updated (PRs are welcome!) The current azure docs are here https://our.umbraco.com/Documentation/Getting-Started/Setup/Server-Setup/azure-web-apps

for v8 you will need:

* `<add key="Umbraco.Core.LocalTempStorage" value="EnvironmentTemp" />`
* `<add key="Umbraco.Examine.LuceneDirectoryFactory" value="E

[2019-03-26 05:22] robertjf commented on #5035
interestingly enough, there is no examine config files in this website - I hadn't noticed that before... is that normal?  Out of the box shouldn't this just work?  Do I need to add the files?

[2019-03-26 05:29] Shazwazza commented on #5005
We can't auto register every controller in every assembly. It would grind startup down startup time. We auto-scan some Mvc and Webapi controllers, so based on the ones we auto scan for, we also auto register those ones too. For controllers we don't auto scan for, these will have to be manually registered in DI in the composer.

Part of the reason the above description is a little confusing is the

[2019-03-26 05:31] Shazwazza commented on #5035
There is no examine config files in v8. OOTB, just like v7, you need to adjust some config to make umbraco work with azure. So the above 2 config values are needed. These are equivalent to the v7 appSetting `umbracoLocalTempStorage` and the examine config `directoryFactory` switch.

[2019-03-26 05:31] Shazwazza commented on #5035
The 2 config values are just in your web.config, these are just `appSetting` key values in v8

[2019-03-26 05:32] robertjf commented on #5035
ah, right - good to know :)

[2019-03-26 05:39] robertjf commented on #5035
so is it right to assume these are going to be automatically added in future, or are they only in certain situations?

[2019-03-26 05:47] Shazwazza commented on #4953
These "references" are just strings in xml package manifests which are used for unit tests. So sure, you can change these to be what v8 is like `UmbracoViewPage` but you'll need to make sure all tests continue to pass. These xml package manifests are purely just used for testing against.

[2019-03-26 05:49] Shazwazza commented on #5035
No you cannot assume that, Just like deploying v7 to Azure you need to setup specific config for that, it's no different in v8.

If however, you create an Umbraco website from the Azure portal, then yes these should be pre-configured for you but I don't think we have a v8 build on the Azure portal yet.

[2019-03-26 05:54] bjarnef commented on #4953
But why do we need the xml package manifest for e.g. Fanoe starter kit when it is not supported in Umbraco v8 and we have the new default starter kit?

[2019-03-26 05:54] Shazwazza commented on #4918
Only thing is if we start mangling things we absolutely must have source maps - which is of course part of a different discussion.

I think regardless, CDF needs to be setup so that it doesn't attempt to minify files like .min.js

[2019-03-26 06:04] Shazwazza commented on #4875
Sorry for the delay. Would be happy to do a zoom call, perhaps next week or something (this week is no good) but would like to make sure we have some clear questions to answer since we'll need to keep this less than an hour. Thur apr 4 or thur apr 11 between 9am and noon DK time would work for me.

[2019-03-26 06:05] Shazwazza commented on #3986
You must configure Umbraco correctly to work on Azure, the docs for this are here https://our.umbraco.com/Documentation/Getting-Started/Setup/Server-Setup/azure-web-apps

[2019-03-26 06:06] bjarnef commented on #4953
The repository is also archieved https://github.com/umbraco/Starterkits so I guess there are no plans to use or test this in v8, since we have the new starter kit.

Maybe I am missing something, but when do we need er need to run the unit test on Fanoe starter kit package in v8 branch?

[2019-03-26 06:07] Shazwazza commented on #5069
Is this because your folder name is `scheduledjobsAlias` with a suffixed `Alias` string whereas your actual route path is just `scheduledjobs` ?

[2019-03-26 06:10] Shazwazza commented on #5071
This is sort of a fundamental change of permissions. IAction + Permissions is currently only for content and nothing else within Umbraco since that is the only place where permissions can be assigned.

To do this, we need to really update the whole permissions model and we'd need to design that ... so yup, related to #4655 :)

[2019-03-26 06:11] Shazwazza commented on #5073
What is `MyHelperClass` doing? This normally will happen if you are referencing a stale scope which normally happens when developers assign static references to things that are scoped to web requests.

[2019-03-26 06:24] Shazwazza commented on #4953
This has nothing to do with the actual fanoe starter kit, this has everything to do with simply testing package manifest files.

[2019-03-26 06:25] bergmania commented on #5019
@ronaldbarendse , I think it is nice to log such that we know what happens, when some requests are slow. As long as the level is as low as debug, it will never be a real problem in production environments under normal usage.

[2019-03-26 07:19] mirkomaty commented on #5073
MyHelperClass.GetDescription() checks, if certain elements are in the HttpContext.Items cache (we plan to replace that with the Umbraco RequestCache in the future) and if an Element "CurrentPage" exists, it executes the line, which throws the exception:
`pc = Umbraco.Content( (int) HttpContext.Current.Items["CurrentPage"] );`
the 'CurrentPage' item is an integer id of a published page.
I replaced

[2019-03-26 07:24] bergmania commented on #5062
After more investigation. 90% of the time used to initialize the macros are on view compilation.  Therefore I suggest to not look more into this, before we have a solution to the view compilation times.

[2019-03-26 07:25] #5062 closed

[2019-03-26 07:26] bjarnef commented on #4953
Okay, so it is just "dummy" data from package manifest xml based on Fanoe Starter kit?
But won't it make sense to replace this and replace it with a package manifest xml based on the default starter kit instead?

[2019-03-26 07:32] mirkomaty commented on #5073
Aaaahhh, thanks a lot for your answer. It made me think about, what "Umbraco" means in the given context. It was a static copy of Current.UmbracoHelper:
[code]
Changing it to
`static UmbracoHelper Umbraco => Current.UmbracoHelper;`
helped…
Thanks again for your fast response!

[2019-03-26 07:32] #5073 closed

[2019-03-26 07:41] zpqrtbnk commented on #5059
Idea: maintain a permanent (opt-in) secondary Xml document containing the preview content, and update it, same as the master one. Not loaded by default but loaded from cmsPreviewXml on the first preview. Then maintained (on save etc) in memory for some amount of time (sliding after preview).

[2019-03-26 07:51] marcemarc commented on #5005
Hi @Shazwazza, thanks! yes, not 'for' type scanning - I'm just trying to understand why,  so I can reply to forum question and update docs! It's a niche scenario to run an MvcController in the backoffice - so having an extra step to register the controller is fine, as long as it's possible and we document it. I'll double check that 'register' works as I did try this...

I did find (from reading th

[2019-03-26 08:06] Shazwazza commented on #4953
It's really not what data is in this xml file that's important, it's the tests that run against it to verify the packaging tools work. If you or someone wants to spend time to change these to be xml data that is based on v8 style packages then by all means please do but you'll most likely have to update unit tests that use these files to test against.

I've updated the title and added the up for g

[2019-03-26 08:10] Shazwazza commented on #5073
I very highly recommend reading this document https://our.umbraco.com/documentation/Reference/Common-Pitfalls/. You are not the first person to do this and this circumstance also exists in v7 but doesn't error out but instead will cause your app to behave in odd ways or throw null ref exceptions.

[2019-03-26 08:11] deMD commented on #5069
No, if I enable the RoutePath it resolves the url to the Umbraco/Views/scheduledjobs/overview.html while I would expect it to resolve to /App_Plugins/scheduledjobs/backoffice/scheduledjobs/overview.html with RoutePath enabled, even if the view or folder would not exist.

But just to make sure I tested it and removed the Suffix Alias from the tree alias, and sadly I still get an error with the wron

[2019-03-26 08:12] Shazwazza commented on #5073
I also highly recommend to stop using statics and stop using singletons. These are the cause for so many issues and also for spaghetti code. If you require a custom helper in your views, best to create a new helper with it's dependencies specified in the constructor when you need it. Or, If you require your custom helper in your controllers, then it's best to register your helper in dependency inj

[2019-03-26 08:28] mirkomaty commented on #5073
Thanks for your useful hints. Actually it was a moment of not thinking, which caused this code example. I should have known, that this will cause trouble.

I agree 100% with your recommendation to avoid statics. But we are about porting an existing solution to V8. And we can't change every piece of code at once. Unfortunately there are quite some extension classes in the project. In my opinion ext

[2019-03-26 08:28] Shazwazza commented on #5005
`PluginController` is not auto-routed, the *only* controllers that are auto-routed are: SurfaceControllers (which does inherit from PluginController) and UmbracoApiController. The IsBackOffice attribute is just for these auto-routed controllers.

PluginController is really just a nice-to-have thing if you want to create MVC controllers since these will be auto-registered. So yes, if you want to ha

[2019-03-26 08:37] Shazwazza commented on #5073
Indeed, and we need to find time to get all the v8 bits and pieces documented. It's in the works but it's slow going currently but we'll get there.

Yup extension methods generally are good culprits for using singletons because people don't want to bother with passing in all of the dependencies the method needs. That said, in some cases maybe this is warranted and in some cases we might even do th

[2019-03-26 08:48] SoerenDeger commented on #4678
It seems there is already fixed in dev-v8 branch?

![image](https://user-images.githubusercontent.com/7769446/54983044-52955b80-4fac-11e9-99d0-14bb08582943.png)

[2019-03-26 08:54] #4627 closed

[2019-03-26 08:54] #4976 closed

[2019-03-26 09:21] nielslyngsoe commented on #4648
fixed in https://github.com/umbraco/Umbraco-CMS/pull/4961

[2019-03-26 09:21] #4648 closed

[2019-03-26 09:23] ronaldbarendse commented on #5019
Agreed: if it logs anything, it should be as low as DEBUG. Just curious why it's logged at all 😉

Also the performance difference is negligible at best, as 100.000 iterations differ 25ms at most (at a quick glance), so thats 0.0002ms per call: not something I would consider [slow](https://blog.codinghorror.com/the-sad-tragedy-of-micro-optimization-theater/).

[2019-03-26 09:43] mattbrailsford commented on #5071
Fair points. So you suggestions would be not to use the current permssions system for anything other than content related permissions and use a custom solution until #4655 is looked at?

[2019-03-26 09:48] marcemarc commented on #5005
Yep, (you still supply the route!) ... right have tested, manually registering the UmbracoAuthorizedController works (as of course it should) - I think I tried to register it with an interface in my experiment, didn't realise it was as simple as that!

so I'll update the docs to still suggest to use UmbracoAuthorizedController for this kind of thing + manual composing, I can see dev's thinking tha

[2019-03-26 09:56] Shazwazza commented on #4678
@bjarnef can you confirm?

[2019-03-26 09:59] Shazwazza commented on #5071
Indeed, we can't really start just making IAction do things without looking at the entire picture.

[2019-03-26 10:02] PeteDuncanson commented on #4918
Started on the ignore min thing for CDF here https://github.com/PeteDuncanson/ClientDependency/tree/temp-ignore-min-files/ClientDependency.Core

Need to read up some more on how you reference source maps in minified files. I get it in a 1-to-1 relation but not sure about concatenating multiple files together which each have a single source map, something to research.

[2019-03-26 10:08] Shazwazza commented on #5005
what you had will work just fine:

[code]

During composition, nothing is resolved, you are just telling the container 'hey, when something asks you to make a `ISuperNewsArticleFetchingService`, use the concrete implementation of `MySuperNewsArticleFetchingService` and make sure it's scoped to a request. And you'd definitely want it scoped to a request because the dependency `IPublishedContentQuer

[2019-03-26 10:34] Shazwazza commented on #4884
@RobertCopilau the scenarios you mention above is expected. We don't want to validate invariant against all languages.

In your scenarios above, you have already published both languages, so there is already a published version of the default language with the invariant property data. So now if you make that invariant property data invalid and also modify another language, then yes exactly like yo

[2019-03-26 10:55] marcemarc commented on #5005
Yes, which is where I started via intuition....

      composition.Register<ISuperNewsArticleFetchingService, MySuperNewsArticleFetchingService>(Lifetime.Request);

but as soon as I have IPublishedContentQuery in the constructor

`public MySuperNewsArticleFetchingService(IPublishedContentQuery contentQuery){`

and start up the site, I get a 'Boot Fail', and I assumed I was doing it wrong:

So I su

[2019-03-26 11:00] drbldgtl commented on #5010
Is there any information you need from me to progress this issue?

[2019-03-26 11:12] mattbrailsford opened #5077 "v8: Make Permission angular component more generic"
In the user groups editor, there is a list of toggle switches for toggling on and off permissions. In the angular js code, this has been coded as a Permission component for this exact purpose. Given it's just a list of toggle switches with text next to them, I think this should be made more generic so that it can be reused elswhere.

Case in point, if you look in the languages editor view, this al

[2019-03-26 11:16] Shazwazza commented on #5077
makes sense, I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-03-26 11:23] Shazwazza commented on #5005
Where are you consuming your `ISuperNewsArticleFetchingService` ? Like where are you injecting this into? IPublishedContentQuery is registered in DI, but its registered with a factory. I have a feeling it's throwing a null ref because it's trying to be resolved in a non-request thread and the IUmbracoContextAccessor.UmbracoContext is null at that point.

(closing this issue)

[2019-03-26 11:23] #5005 closed

[2019-03-26 11:37] marcemarc commented on #5005
A Hijacked RenderMvcController

   public class BlogPostController : Umbraco.Web.Mvc.RenderMvcController
    {        // GET: BlogPost
        private readonly ISuperNewsArticleFetchingService _superNewsArticleFetchingService;
        private readonly ILogger _logger;
        public BlogPostController(ISuperNewsArticleFetchingService superNewsArticleFetchingService, ILogger logger)
        {

[2019-03-26 12:08] Shazwazza commented on #5005
Ah, if you are injecting things into controllers, you **must** call the controller's non-empty constructor! non-empty constructors on controllers are only there for people that just refuse to to DI.

You can easily generate this constructor on your controller in VS by pressing ctrl + . next at the end of the ` : RenderMvcController` statement, see

![image](https://user-images.githubusercontent.co

[2019-03-26 12:21] nielslyngsoe opened #5078 "V8: Member-group member-listviews are not available"
Member-Groups member-overviews does not appear next to 'Members' and 'All Members'.

I think they are suppose to do, at least when you have added members to them.

See this example:

I expected 'another member group' to appear together with 'Members' and 'All Members'.

![image](https://user-images.githubusercontent.com/6791648/54996486-bb3f0100-4fc9-11e9-974c-90709a983e06.png)

[2019-03-26 12:23] Shazwazza commented on #5078
@nielslyngsoe those are not the same thing. Member Groups are **not** Member Types.

Member Types are like Content Types and Media Types. They are 'schema' and should not be edited by people who are just editing members (i.e. content).

Member Groups are just groups that members can be added to.

[2019-03-26 12:23] #5078 closed

[2019-03-26 12:24] Shazwazza commented on #5078
You can find Member Types in the Settings section, along with Content Types and Media Types.

[2019-03-26 12:49] PeteDuncanson commented on #4918
Some possible helpers for stitching together the source maps include:

https://github.com/Microsoft/sourcemap-toolkit#chaining-source-maps (which has a section in the docs on exactly that)

https://github.com/benmccallum/AspNetBundling (which works with the AspNet Bundler, not sure if thats something we could use?)

Gulp v4 can generate out multiple source maps for us allowing for multiple transfo

[2019-03-26 12:52] bjarnef commented on #4678
@Shazwazza yes, it seems this has been fixed in latest changes in `dev-v8` branch.

![image](https://user-images.githubusercontent.com/2919859/54998411-5b972480-4fce-11e9-92aa-17b415438ef5.png)

It is also fixes in Umbraco v8.0.1 release.

[2019-03-26 12:55] bjarnef commented on #4678
However entering a value in "old password" doesn't remove the error validation on the label, but it is removed from the field.

![image](https://user-images.githubusercontent.com/2919859/54998566-bfb9e880-4fce-11e9-88f0-1ab9b4884f57.png)

[2019-03-26 13:03] bjarnef commented on #4678
Oh, if I open the user dialog and hit "change password" with empty fields it show the validation error.

![image](https://user-images.githubusercontent.com/2919859/54998940-99e11380-4fcf-11e9-8c85-7140c509452f.png)

if I then close the dialog using the link "close" or using esc key and open the user dialog again, the validation of the form has been reset, but when now hitting "change password", it

[2019-03-26 13:06] PeteDuncanson commented on #4913
Wow, the amount of malformed HTML in the templates that prettier is finding is eye opening! Having to correct them one at a time. One lovely gotcha is you can't use self closing tags for custom angular directives etc.

See here for some details: https://stackoverflow.com/a/25012451

Having to correct a few of those (luckily not too many). But by having this in the build chain we can stop any new o

[2019-03-26 13:16] bjarnef commented on #4678
I guess it has something to do for `formValid()` function which doesn't set the error class on subsequent validations of the form.

[code]

[2019-03-26 13:21] nielslyngsoe commented on #4828
PR https://github.com/umbraco/Umbraco-CMS/pull/5079

[2019-03-26 13:25] nielslyngsoe commented on #5078
Whoops, second time misunderstanding something about Members. But good to get that clarified. This just underlines that we need to visually rearrange something for this to become logic. So this then became a task for my self then.
Thanks

[2019-03-26 13:31] nielslyngsoe opened #5080 "V8: Member UX should be revisited"
We need to look into how we can make Members become more intuitive.
We have Members, Member Types and Member Groups.
The overview lists shown in the tree are showing Member Types.
There is no way to get the overview of members of a specific group, or the combination of those two, though that would make sense.

This definitely means that we need to change some UX for this to make sense for everyone

[2019-03-26 14:18] marcemarc commented on #5005
Yes, so I can't decide if it's a bug or I'm being monumentally stupid... :-) there is often a thin line between the two:

if I have this:

[code]
Then it blows up when my superNewsArticleFetchingService tries to inject IPublishedContentQuery as a dependency

[code]

but if instead I inject 'other' dependencies'

[code]
it's all fine, as you and I would expect...

... so the issue appears to be wit

[2019-03-26 14:58] NikRimington opened #5081 "Data Integrity Health Check - Possible issue"
I'm not sure if this is an Umbraco Core issue or a conflict issue with the following Package: https://github.com/prjseal/Our.Umbraco.HealthChecks

I have a site that has been upgraded to 7.13.2. I've then installed the package mentioned above and now running the Data Integrity Health Checks is failing when trying to validate the XML Data Integrity Health Check.

The error is thrown in the method:

[2019-03-26 15:57] nielslyngsoe opened #5082 "V8: Cannot set unpublish-date for published language variants"
To reproduce this error you need to create a doctype that allows for varying.
Publish one of the languages and refresh, try to set a schedule for unpublish the document that is already published.

See the screenshot for an example.

In this example the Document type can vary in three languages, english, german and danish.

In the following scenario german is already published, but not an option in

[2019-03-26 17:11] homemdasneves opened #5083 "Content Service - Updating a culture varying property throws SqlException (Cannot insert duplicate key row)"
I'm developing a method to create or update some content in my project. I got stuck in a situation where the creation runs fine but the updates always fail with the following SqlException:
`Cannot insert duplicate key row in object 'dbo.umbracoPropertyData' with unique index 'IX_umbracoPropertyData_VersionId'. The duplicate key value is (2437, 145, 2, <NULL>).\r\nThe statement has been terminated.

[2019-03-26 17:36] yaplex opened #5084 "v8: Make templates based on file structure instead of database"
Currently, when you want to create a new template you have to create it in Umbraco Settings first.
If you try to create a template using Visual studio Umbraco does not know about this template.

Partial views work correct, if I create a new partial view in Visual Studio and refresh Umbraco, I see my new view there, but this is not working with regular pages.
Could you please make a config setting

[2019-03-26 20:36] patriciabobes commented on #4780
Absolutely true. Solved by doing Install-Package UmbracoCms.Web.

[2019-03-26 23:33] Shazwazza commented on #4918
So the AspNetBundling really just uses the ajaxmin stuff underneath and ajaxmin's source maps supports is quite limited, plus we defo don't want to be shipping with all of those extra DLLs required for all of that.

And yes I agree! We should just have gulp do all of the bundling for the Core JS and CSS assets, CDF for those is then exactly like you say for cache busting. We then continue to use C

[2019-03-26 23:47] PeteDuncanson commented on #4918
So if I play around with that sort of set up are we hopeful it will get pulled in?

I’m really conscious that I don’t want to be complicating things for the sake of it. But I think with a clean build process (ie letting gulp or whatever do all the heavy loft and be setup nice to do so) we make make most of it just “disappear”.

Any pointers off the top of your head let me know otherwise I might ha

[2019-03-27 00:19] Shazwazza commented on #4918
I think its a good idea, there's no reason why CDF needs to be used to combine and minify the core back office assets.

[2019-03-27 00:26] Shazwazza commented on #5069
It's a casing issue. This should be taken care of by the core but that's not currently the case.

for all references of `scheduledJobs`, make sure the casing is the same including in your `root.RoutePath = $"{Constants.Applications.Settings}/scheduledJobs/overview";`

The fix should be in the JS `treeService.getTreePackageFolder` where it compares `return item.alias === treeAlias;`, instead this s

[2019-03-27 00:34] Shazwazza commented on #5084
Hi thanks for getting in touch. Templates are required to be in the database for a couple of reasons - templates can have a name, not just a file name and then templates are associated in the database to many different entities by their IDs. Partial views are simply files, whereas templates are not.

You can create template views in VS and then if you create a corresponding template in the back of

[2019-03-27 00:34] #5084 closed

[2019-03-27 00:36] Shazwazza commented on #5080
Before going down the route of being able to filter members by both their Types and Groups we need to figure out if being able to filter by Groups makes sense and if people need this.

Filtering on member types is definitely needed because these will be totally different types of members - based on their schema. Member Groups are generally used for security purposes. It may be important to some us

[2019-03-27 00:50] yaplex commented on #5084
Ok, thanks for explanation @shazwazza

[2019-03-27 06:57] Shazwazza commented on #4988
while continuing to fix aspects of this https://github.com/umbraco/Umbraco-CMS/issues/4884 I've found some other issues with this redirect with variants that we haven't taken into account. I'm working on a bunch of this together with the #4884 so no need to do anything at this stage but just needed to write this here :)
... the problem is that currently we are relying on this `notifications` array

[2019-03-27 06:58] Shazwazza commented on #4884
Known issues still:

* https://github.com/umbraco/Umbraco-CMS/issues/4988 is causing issues with variant notifications when creating content because the dialog is still referencing old stale content
* When creating new variants content, any server notifications per variant are lost during the redirect (see comment https://github.com/umbraco/Umbraco-CMS/issues/4988#issuecomment-477005074)
* Server

[2019-03-27 07:43] kjac commented on #5075
Must be an issue specific to using RTE in the grid; it works perfectly fine when the RTE is used as a stand-alone property.

[2019-03-27 08:12] deMD commented on #5069
I'll look into it :)

[2019-03-27 08:39] nielslyngsoe commented on #5082
Just learned that the german language is there, you "just" need to scroll to see it (damn it hidden OSX scroll). But you still CANT select it to set a unpublishing date...

![image](https://user-images.githubusercontent.com/6791648/55061453-17f6f600-5074-11e9-827b-2d256c831375.png)

[2019-03-27 08:58] nielslyngsoe opened #5088 "V8: Improve UX of schedule publishing"
Lets change the UX of schedule publishing for the better.

Currently the checkmarks doesn't provide any immediate feature, maybe they can still have a part but lets try to make the solution simpler.

What if:

Unpublished items only has the option to set a publishing date, if one is chosen a unpublishing date can be chosen.
For published items you can only set a unpublishing date.

Current look:
!

[2019-03-27 09:20] nielslyngsoe opened #5089 "V8: Make validation feedback appear inside Nested Content"
Validation feedback regarding properties in a nested content property editor should appear inside nested content to make it visually clear where the error is located.

An example of current situation.
![image](https://user-images.githubusercontent.com/6791648/55064086-a8840500-5079-11e9-8397-941212f62afd.png)

[2019-03-27 09:21] zpqrtbnk commented on #4839
merged

[2019-03-27 09:21] #4839 closed

[2019-03-27 09:30] #5019 closed

[2019-03-27 09:49] PeteDuncanson commented on #4918
Ok. Great to hear.

We can do this work now even before we start moving the directives around and converting to components.

If we go the route of just having one mega bundle for now (no different to what CDF) is currently doing that would be quick and easy.

Ideally we want to get to a place where we can split the bundles and then only pull in what’s needed but small steps.

I’ll play around with

[2019-03-27 12:36] jmayntzhusen opened #5092 "8.0.1: logResource.getPagedUserLog throws error on pageSize 0"
A brief description of the issue goes here.

When trying to call logResource.getPagedUserLog with pageSize: 0 it gives an error.

Reproduction
------------

If you're filing a bug, please describe how to reproduce it. Include as much
relevant information as possible, such as:

### Bug summary

In a custom dashboard I set this:
[code]
As the auto generated api docs are not up to date I based this o

[2019-03-27 13:06] hannakfoo commented on #4761
@nul800sebastiaan Its seems this issue is back with the latest version(s) of Visual Studio 2017 15.9.10 and for UmbracoV8 and 8.0.1 ... same steps to reproduce.

[2019-03-27 13:48] nielslyngsoe opened #5093 "V8: Close infinity editing layer by clicking outside the layer"
I want to be able to click outside an infinity editing layer to close it.

[2019-03-27 14:37] mattbrailsford opened #5094 "v8: Inconsistant spacing between umb-box and umb-group-panel elements"
Currently in v8, in the content section, the page is broken up into groups using elements with a css class of `umb-group-panel`. These groups are spaced with 20px margin between them.

However, in other areas of the system, the editor is broken up into groups using an element with a css class of `umb-box` which for the most part is the same, but these groups are spaced out with 8px between them.

[2019-03-27 14:40] mattbrailsford commented on #5093
I think there is more than you think to think about here as what happens if you are like 6 levels deep? Do you close everything and loose all changes? Or does clicking outside send you back 1 level so you would need 6 clicks to get back to the core editor. Also, you might want to track dirty properties (if it's not already) to ensure a dialog isn't closed if it has unconfirmed changes.

[2019-03-27 19:49] kjac commented on #5077
Super great idea! I'll throw something together 👍

[2019-03-27 20:28] kjac commented on #5077
PR in #5096

[2019-03-28 03:02] Shazwazza commented on #5092
Hi, unfortunately in this case the docs are incorrect since it isn't possible to disable paging. Of course a YSOD isn't friendly either so the server side should deal with this accordingly and just return no results. Log results can be huge, returning all of them would be a strain on both the server side and the client side so you must get the data in paged results. You can of course request a ver

[2019-03-28 03:24] Shazwazza commented on #5094
thanks for reporting, will mark up-for-grabs and see if someone can come along to help out on this one.

[2019-03-28 03:26] Shazwazza commented on #5093
I would have to agree, in some cases a user might accidentally do that and lose a lot of work

[2019-03-28 03:35] Shazwazza commented on #5089
I believe this is going to be quite complicated ;) I'm not familiar with how nested content is coded but it will require some changes in it's c# code to be able to track and wire up sub "ModelState" (which is how validation is tracked). It will then need to bubble this up to the actual ModelState of the controller. This isn't going to just be UI/Front-end work, it will require a bunch of back end

[2019-03-28 03:35] Shazwazza commented on #5089
This task will need to be split into several sub tasks, so potentially can become an epic.

[2019-03-28 04:10] Shazwazza commented on #5005
@marcemarc it is odd! I mean it should work and `IPublishedContentQuery` is already being injected into things like UmbracoHelper, TagQuery, etc...  Do you get an issue if you inject UmbracoHelper into your service and access `helper.ContentQuery`?

[2019-03-28 07:40] abjerner commented on #5093
Everything Matt said 👍

In V7 the overlays could also be closed by pressing the escape key. I think this would be useful to have in V8 as well 😄

[2019-03-28 08:26] bjarnef commented on #5080
I think it would be great to make to member section a bit more consistent with users section (maybe also consider if content apps should be available in this section - I guess there could be some details relevant to  show under a specific user or member. Maybe in a webshop or with integration to third party api's).

I can imagine some scenarios where you want to filter on member types and member g

[2019-03-28 09:31] ReVoid opened #5098 "V8: Charlimit of textstring (textbox) DataType appears when swithing on listview"
Swithing to splitview forcing charlimit appearing in textstring property editor, even if there is no limitation

### Specifics

Umbraco v8.0.1

### Steps to reproduce

1. Make a textstring property in a page with no char limitation
2. Switch to splitview several times
![my2](https://user-images.githubusercontent.com/12345710/55146172-1e10d380-5155-11e9-959a-9ef48b67badf.gif)

### Expected result

[2019-03-28 09:33] Shazwazza commented on #5080
I think there's certainly confusion as to what member groups are - traditionally these were called "Roles", they are typically in most cases used for security. They are like tags and that's it. They have nothing to do with schema - which is a Member Type.

Member Type, Content Type and Media Type are all schema.

[2019-03-28 09:45] bjarnef commented on #5080
@Shazwazza yes, you could have a member type "Employee" and member groups for different departments in the organization. Members in one or more departments could then have access to contents, which other employees don't have access to.
In this case it might make sense to be able to filter members by employee and specific member groups (departments).

[2019-03-28 09:54] bjarnef commented on #5080
Comparing members with users I guess we only have a single user type and then different user groups, where we can filter users by group.

![image](https://user-images.githubusercontent.com/2919859/55147750-42fe4a00-5147-11e9-96dc-df10de5688d3.png)

Maybe each member type view (or just "All Members") could have a similar filter to filter by member group. Additional it could have a filter for "Is ap

[2019-03-28 10:01] bjarnef commented on #5080
A crazy idea: now we don't have many tree root nodes in "Users" and "Members" section. Would it make sense to create a section "Security" or similar, where "Users" and "Members" root nodes are listed as "Settings" and "Templating" in "Settings" section?
But it would probably require a lot of refactoring and allow users to have permissions to tree root nodes.

[2019-03-28 10:16] Shazwazza commented on #5080
The reason why Member Types is not in the members section is because of permissions. We cannot assign permissions to trees currently which would be a pretty large change.

[2019-03-28 10:39] bjarnef commented on #5080
Yep, I know, but worth considering for future improvements. Does it make sense to create add a section with a single tree node (as users section) unless you have Umbraco Forms installed, which add an additional root node. At the moment it is mostly because of permissions. Maybe it will be possible sometime in the future.

[2019-03-28 12:13] hannakfoo opened #5100 "VS.2017 New UmbracoV8 - Error: Type 'Umbraco.Web.UmbracoApplication' Parser Error"
Visual Studio 2017.

New Project - Blank C# Webproject
Nuget PackageManager: "Install-Package UmbracoCms" V 8.0.1
Nuget update: "Microsoft.CodeDom.Providers.DotNetCompilerPlatform v.2.0.1"
Build project.
Run
This produces the error:
Line 1: <%@ Application Inherits="Umbraco.Web.UmbracoApplication" Language="C#" %>

![image](https://user-images.githubusercontent.com/3263156/55156774-194f1e00-515b-1

[2019-03-28 12:47] kjac commented on #5092
PR #5101 fixes this and a few related issues.

[2019-03-28 12:53] dampee commented on #5100
Have you selected framework 4.7.2 during creation of the new project?
(as described in the [documentation](https://our.umbraco.com/documentation/Getting-Started/Setup/Install/install-umbraco-with-nuget))

[2019-03-28 13:24] zpqrtbnk opened #5102 "Some SetValue methods are missing for files"
From mhl:

also see

https://github.com/umbraco/Training.MvcCourse/blob/master/src/complete/MvcCourse/Controllers/DocumentationFormController.cs#L61
https://github.com/umbraco/Training.MvcCourse/blob/master/src/complete/MvcCourse/Models/DocumenationFormModel.cs#L21

This worked just fine as V7 allowed for `HttpPostedFileBase` on `SetValue`

What is the right way to do it on 8? see `MediaController

[2019-03-28 13:28] Shazwazza commented on #5102
FYI HttpPostedFileBase is an old System.Web thing, prob used in MVC too maybe, the media controller is WebApi and doesn't know about this type. Should be reasonably easy to convert HttpPostedFileBase into a stream to use in the IMedia.SetValue. It exposes an `InputStream` so can probably just use that.

[2019-03-28 13:28] hannakfoo commented on #5100
@dampee thank you for your response. My bad ... i hadnt selected 4.7.2.

[2019-03-28 13:28] #5100 closed

[2019-03-28 14:24] Questo opened #5103 "V8: Can't use dialogService in backoffice angular controller"
So I'm building a custom grid editor to be able to select a node in the content tree and have it be displayed as a clickable button that will redirect to user to the selected node.

However, I've barely gotten started, and it's already crashing. It doesn't seem like I can inject the "dialogService" into my angular-controller. At first I didn't think I could inject any service, but I tried the "ass

[2019-03-28 14:44] kjac commented on #5094
Additionally a few places are using multiple `umb-expansion-panel` containers which are spaced by 16px bottom margin.

I'm compiling a list of affected UI parts, then I'll push a PR.

[2019-03-28 14:57] kjac commented on #5094
PR in #5104

[2019-03-28 17:47] abjerner commented on #5103
Hi @Questo,

The `dialogService` was deprecated in Umbraco 7.4, and has been removed completely from V8. You should instead use the `editorService`, which is a new thing in V8.

Unfortunately the Umbraco Angular documentation hasn't yet been updated for V8, but you should be able to pull down the Umbraco source code, and follow the instructions on the page below to generate the documentation local

[2019-03-28 23:25] Shazwazza commented on #5103
Thanks for responding @abjerner. Yes much has changed in v8, we are still working towards getting documentation updated and rolled out. There's also the overlayService in v8 which is probably what you want, i think editorService is more to manage infinite editors (IIRC). I might suggest having a look at the code in the v8 source code to see how we are doing certain things, that's probably the easi

[2019-03-28 23:25] #5103 closed

[2019-03-28 23:27] Shazwazza commented on #5103
For further information, please reach out to the community on https://our.umbraco.com/ for assistance

[2019-03-29 00:06] marcemarc commented on #5005
Yes it is the same error with injecting UmbracoHelper

[2019-03-29 00:17] Shazwazza commented on #5005
That seems very odd. I haven't had time to replicate just yet, must be something I'm not seeing by just looking at your code. Maybe best to raise another issue with reproduction steps.

[2019-03-29 00:19] #4837 closed

[2019-03-29 00:34] Shazwazza commented on #5102
The extension method `SetValue` that accepts a stream that is used in the MediaController is in the namespaces `Umbraco.Core` so having `using Umbraco.Core;` is important.

The extension method signature is this:

[code]

So the tricky part here is that it needs this special `IContentTypeBaseServiceProvider`, but that is available on the `ServiceContext. So here's an example on a `SurfaceControlle

[2019-03-29 07:27] zpqrtbnk commented on #5102
FWIW I have created the overload and pushed to `dev-v8` - will be in an upcoming release.

[2019-03-29 07:29] #5102 closed

[2019-03-29 07:37] #4669 closed

[2019-03-29 07:37] #5082 closed

[2019-03-29 12:37] runegronkjaer opened #5108 "Redirect URL management with manual CRUD in Umbraco 8"
We would like to make CRUD to the native Redirect URL management in Umbraco 8. It should be possible to manually create, update as well as delete entries.

We will supply the man hours for the feature. Only thing is, we don't wan't to put in the hours if it cannot become a part of the core afterwards.

How does that sound?

[2019-03-29 12:57] kjac commented on #5108
Sounds like an absolutely amazing idea if you ask me. Unfortunately I don't speak for HQ 😆

Suggestion: When creating and updating redirects it should be impossible to:
1. Create circular redirects.
2. Create redirects *from* an existing route.

[2019-03-29 13:00] Questo commented on #5103
Thanks for the help @Shazwazza and @abjerner . I had already made posts about this at our.umbraco but got nothing.

I'll use the overlayservice instead, I downloaded the source code and will look at that for the time being.
If you ask me, this should get a bump in prio, it's annoying having to scour the internet only to find out you have to download the source code to check.

To clarify, I don't m

[2019-03-29 13:25] runegronkjaer commented on #5108
@KennethJakobsen Great that you agree. We need this feature bad!
How would those two suggestions work? It sounds like that would be an entirely new feature? This feature should only do CRUD on the existing features in my mind.

[2019-03-29 13:46] kjac commented on #5108
@runegronkjaer well... you're talking about manually creating new redirects and updating existing ones. So you to make sure the users can't setup redirects (either by creating or updating) that cause cyclic redirects in combination with the rest of the redirects.

**Example:** Umbraco has created a redirect from */mypage/* to */my-page/*. The users should not be allowed to create a redirect from *

[2019-03-29 16:12] alanmac opened #5110 "Healthchecks that allow you to provide a value to fix the issue only allow values in the form of email addresses"
Bringing this across from the [old issue tracker](https://issues.umbraco.org/issue/U4-10004) where a PR was already logged against it: https://github.com/umbraco/Umbraco-CMS/pull/1994

If you look [here](https://github.com/umbraco/Umbraco-CMS/blob/91c52cffc8b7c70dc956f6c6610460be2d1adc51/src/Umbraco.Web.UI.Client/src/views/dashboard/settings/healthcheck.html#L119) you can see the field where you e

[2019-03-29 17:42] zpqrtbnk commented on #4998
I am a bit slow here but haven't forgotten the issue. Managed to reproduce today, investigating.

[2019-03-29 18:23] zpqrtbnk commented on #4998
Turns out the file storage we are using has a block size that can be configured. I have created PR #5111 which adds a new app setting:

[code]

The default value is 4096 but you can use greater values - you have to use powers of two, lower than or equal to 65536 - so 8192, 16384, 32768 or 65536.

Don't know if you are comfortable building from a PR and testing? Want to try with differerent values

[2019-03-29 19:43] marcemarc commented on #5005
Yep, will do, I'll pull the source and step through as well, maybe it's something obvious - and thanks for help on the backoffice route - code examples now updated in the docs: https://our.umbraco.com/documentation/Reference/Routing/Authorized/

[2019-03-29 20:01] yaplex opened #5112 "V8: Moving image into different folder resulted in Null reference exception"
Steps to reproduce:
Add image picker on the page.
select image from media library
Go to Media, create a different folder and move the image into that folder.
The image URL stays the same and when refreshing page containing that image it should just work, but it gives Null Reference exception.

The interesting part, it gives an exception for a completely different piece of code but removing that im

[2019-03-31 08:16] marcemarc commented on #5108
@runegronkjaer @kjac is it worth having a look at this PR? https://github.com/umbraco/Umbraco-CMS/pull/4265 and combining efforts with @Matthew-Wise ? Adding manual redirects to the core Redirect Url Management dashboard has been a thing for quite a while... http://tooorangey.co.uk/posts/301-redirection-in-umbraco-it-s-a-rum-do/

[2019-03-31 12:12] kjac commented on #5108
By the looks of it, #4265 is onto something good. If I'm reading that PR correctly one can ever only create redirects to existing content pages, thus eliminating the risk of circular redirects (since the target exists).

[2019-03-31 20:07] marcemarc commented on #5108
@kjac yes that was the key for HQ to consider it, eg they don't want the ability to be able create a redirect from 'any url' to 'any url' - but the idea to pick the content item, or to make the redirect from the context of the content item being edited, avoids the risks of crazy circular redirects, mainly due to the position of the RedirectUrlManagement ContentFinder in the ContentFinder queue. An

[2019-04-01 00:06] Shazwazza commented on #5112
Sounds like an annoying issue! I've marked up-for-grabs and help-wanted to see if any community members might be able to assist with having a look and replicating and potentially fixing with a PR. Thanks for reporting

[2019-04-01 00:12] Shazwazza commented on #5103
I totally understand, we are working on it! There's a very large amount of documentation that needs writing/updating/etc... we will be rolling out new api docs hopefully within the next few weeks.

[2019-04-01 00:18] Shazwazza commented on #5110
PR https://github.com/umbraco/Umbraco-CMS/pull/1994

[2019-04-01 05:29] #5012 closed

[2019-04-01 06:04] #4828 closed

[2019-04-01 07:03] runegronkjaer commented on #5108
@kjac @marcemarc I can see you guys are talking about Umbraco 7. I should have been more specific that I/we need this feature for Umbraco 8 but it looks like the core of #4265 could be translated to U8.

I will update my original comment to Umb8.

[2019-04-01 07:39] Matthew-Wise commented on #5108
Thanks @marcemarc  for pointing it my PR and all the pre work you did for it :)

@runegronkjaer the idea of any PR in v7 would get transferred to v8 especially if its a feature. As you say most of the code is transferable. So lets focus on getting the feature(s) correct in that PR before we move on to v8.

Matt

[2019-04-01 08:30] zpqrtbnk commented on #4998
Had to re-do the PR due to stupid branch name, now is #5114

[2019-04-01 09:05] crick3t commented on #4998
Hi Stephan,

It's great that you managed to replicate the issue.
I am busy with other things too at the moment, but I am happy to give it a try, when I will have a bit of a time.

After finding out what is causing the issue, I have added a filter to the import to skip those contents where the content body is too long (longer than 1 million char). With this work around and getting rid off the threa

[2019-04-01 10:07] zpqrtbnk commented on #4427
tested ok, merged

[2019-04-01 10:07] #4427 closed

[2019-04-01 10:19] #4217 closed

[2019-04-01 10:25] zpqrtbnk opened #5115 "Implement an alt. media cache for v7"
See conclusions of spike 290:
* Create a new media cache that utilizes cmsContentXml table which means for media items, a DB hit will be incurred, but we can cache this single hit which means that media is cached only for what is requested. We could also have a sliding expiration for it too as to try to keep mem consumption down.
* We should make this the default implementation but have a config s

[2019-04-01 11:13] clausjensen commented on #5070
The feature was chosen not to be ported to v8 initially, as it was basically creating more issues for people than it actually fixed.

The short explanation is that when you change a document type of an item, you basically also get to decide what happens with the data stored in each property (what new property does this data get mapped into). Since this is a one-way-one-shot operation that happens

[2019-04-01 11:17] kjac commented on #5070
I did a brief investigation of this and it really is a hornet's nest once you open it up. Specifically language variance makes it a really troublesome feature to implement in a way that makes complete sense to editors.

[2019-04-01 12:00] clausjensen commented on #5072
Due to the way this feature is implemented, changing a document type of an item currently makes any sort of rollback history unusable.

When changing a document type of an item, you basically change the schema of how this particular item stores its data. As an _item_ can only have *one* document type (this field is not kept as a part of the version as it was never the intention that this should be

[2019-04-01 12:26] clausjensen commented on #5070
@kjac oooh yes... I hadn't even considered that part. So.. yep.. my recommendation here is that noone should spend time working on this, as there will likely be a lot of unconsidered scenarios causing this to end up as a feature that will not get prioritized and merged for a very long time - which is just a bad experience for everyone 😢

It will hopefully some time in the future, be picked up by C

[2019-04-01 12:30] mathewknott commented on #5070
Hi

I build a lot of sites (small and large) for the agency and they choose to
self host rather than the cloud. I understand your issues with the cloud
but may I suggest this could be a configurable feature? Maybe disable it by
default for the Cloud?

In designing doc types and fields, we have clients changing their minds all
the time, and very often in the build stage of the project the way I
ini

[2019-04-01 13:05] kjac commented on #5070
As is the code from V7 is by no means sufficient for V8, taking into account the complexity of culture variance.

Until a solution can be thought up that doesn't cause irrevocable data loss in conversion between content of different culture variance in both content and property level, personally I'd rather be without.

[2019-04-01 14:36] kjac commented on #5112
Looks like this only happens for images uploaded before the image URL was shortened.

I can reproduce this with images that have URLs like this: */media/0e8fbdcf75e84a20bbb8aea1f707f21f/00000006000000000000000000000000/99-pull-request.png*, but not when the image URL is like this: */media/orsnteob/105-compromise.png*.

@yaplex any chance your image was uploaded in a pre-release of V8? And... could

[2019-04-01 15:01] RaminMT commented on #4788
Hi,
I downloaded recent version (8.0.1) and after installation still I can't import document type.

[2019-04-01 16:30] yaplex commented on #5112
@kjac, I using 8.0.1
I never seen that long url you mentioned, my url looks like
/media/orsnteob/105-compromise.png

[2019-04-02 06:16] kjac commented on #4920
Oops looks like I let this one slip. PR in #5118

[2019-04-02 07:47] #4011 closed

[2019-04-02 08:02] clausjensen commented on #5070
@mathewknott the feature has so far been disabled on Cloud projects (in v7) so yes - that would be a perfectly viable solution for v8 as well.

However as @kjac mentions - the code is not there. It is a completely different scenario when we have to factor in variants, so the feature will have to be completely rethought and redone to actually support this in v8.

As the feature is something we woul

[2019-04-02 09:08] nielslyngsoe commented on #4682
Working on a PR: https://github.com/umbraco/Umbraco-CMS/pull/5120

[2019-04-02 09:45] bjarnef opened #5121 "v8: NuCache needs to be rebuild after uploading files to FTP"
On a small project based on Umbraco version 8.0.1 on FrontPage node I have a slider (using Nested Content) which have the following properties: Image (Media Picker), Heading (textbox) and Text (textarea).

Furthermore on subpages the pages have a Top Image property (Media Picker). When I upload files, e.g. entire /Views/Partials folder these images are not shown on site, but still visible in media

[2019-04-02 10:09] AndyButland commented on #5070
Do I have to hand my [certificate](https://24days.in/umbraco-cms/2014/your-first-pull-request/) back then (scroll to bottom)? :-)

[2019-04-02 10:24] zpqrtbnk commented on #5121
If I understand correctly you'd add a header before each paragraph + button group? Makes sense.

Now I don't get the original issue - so the *only* thing you do is upload new views, and then these views do not render some media from media pickers, until you reload the cache? I'd like to narrow it down to understand what's going on, because I am not sure I understand how editing a view would cause

[2019-04-02 11:14] bjarnef commented on #5121
Yes, on frontpage it has a slider configuration, which just render a default Bootstap 4 carousel inkl. caption: https://getbootstrap.com/docs/4.0/components/carousel/

![image](https://user-images.githubusercontent.com/2919859/55398100-ff8d4c80-5547-11e9-927d-2aa3dd39868d.png)

On sub pages it has a top image property (media picker), which render a picture/image.

![image](https://user-images.gith

[2019-04-02 11:22] warrenbuckley opened #5123 "Update RTE to use data-UDI attribute for images"
On load RTE should replace src tag based on the value of the data-udi attribute & should be done in C# as opposed to dealing with JS replacement

It also should take into account the image width/height attributes and append the ImageProcessor querystrings to the image source.

On save it should remove the src attribute of image elements so that we always continue to use the data-UDI attribute as t

[2019-04-02 11:41] bjarnef commented on #5121
Okay, I actually think it is more an issue, because I edit data from local and if I then saves a node on development site with a temporary url (using same db). When saving from local I guess the cache of the images somehow gets out of sync (or not rebuilt correct) even when no changes have been made to these images.

[2019-04-02 13:05] bergmania opened #5124 "V8: Bulk move members don't make sense"
Right now, it seems to be possible to move members in the list view of members.

![image](https://user-images.githubusercontent.com/1561480/55404611-93ffab00-5558-11e9-925d-1e01fa8de94e.png)

The functionality doesn't work, but the reel issue is that the move functionality is visible in the list view selection.

[2019-04-02 13:21] DanielToft commented on #5016
Hi @zpqrtbnk

I think we are having the exact same problem. The media cache gets invalidated. It says it only have 3 entries. It helps to press Reload on the Published Status Page, but when the application restarts it's gets invalidated again.

The database table "cmsContentNu" seems to have the right content. I have tried to investigate the nuCache content, with the NuCache explore, but it's givi

[2019-04-02 13:21] genckastrati commented on #2943
Thank you @bsowa for the solution. We do rely on the file name nomenclature and this feature isn't helping :) glad there is a solution

[2019-04-02 13:42] kjac commented on #5124
@bergmania true! The obvious workaround of course is to disable bulk move on the list view datatype, but... it shouldn't be possible in the first place!

PR incoming 😄

[2019-04-02 13:47] kjac commented on #5124
PR in #5125

[2019-04-02 13:52] nielslyngsoe opened #5126 "UX: Its not clear why you cant assign or unassign user-groups from admin user-page"
I would like it to be stated clearly why I cant change the assignments of user-groups on a user-detail-page where its not allowed to be changed. (happens for Admins and current user)

Today:
![image](https://user-images.githubusercontent.com/6791648/55407910-4175bd00-555f-11e9-9ee3-7338fc4a78bb.png)

[2019-04-02 14:12] DanielToft opened #5127 "V8: Value is null when using a Single Media Picker"
When having a content type with a Single Media Picker, the value is null when trying to receive it from the cache.

Reproduction
------------

Having a Umbraco.MediaPicker with the configuration:
"Pick multiple items": false
"Pick only images": true
"Disable folder select": true

### Expected result
Returning Image/IPublishedContent from the cache

### Actual result
Null is returned

[2019-04-02 15:18] homemdasneves commented on #5083
Got it: I should be using the culture ISO code _pt_ and not _pt-PT_

[2019-04-02 15:18] #5083 closed

[2019-04-02 16:32] zpqrtbnk commented on #4884
Code review done, I have pushed minor renamings and stuff, and I *think* I can make sense of it now.

Now about testing...

I reproduced Robert's situation with 2 langs and it is ok with the PR - though some things are odd - when saving'n publishing the non-default lang, getting an error for the non-selected default lang is odd - I mean, I did *not* check this lang, it feels weird to get an error,

[2019-04-02 17:23] zpqrtbnk commented on #4998
I get your points, very valid. Yes, I'd love if you can give it a try - increasing the block size should let the cache support the large content items - but, as you mention, you'd have to experiment to find which block size is "enough" and nothing prevents ppl from creating an even larger content item later on and breaking things again.

So... this "workaround" is not an ideal situation - but the

[2019-04-02 17:44] zpqrtbnk commented on #5016
Have not been able to make any progress on this. The code of your view looks quite normal, and we have not been able to reproduce this situation, and we have other sites that do quite similar things and do not have this problem.

Which means... we cannot really investigate. As Sebastiaan wrote in his comments to #4879, maybe discussing the situation with the community on the https://our.umbraco.co

[2019-04-02 17:44] #5016 closed

[2019-04-02 18:17] maarten-kieft commented on #3986
Thanks @Shazwazza, much appreciated!

[2019-04-02 18:42] MMasey opened #5129 "V8: Improve visibility of focus states for the main section header"
At the moment the current focus state when tabbing through the main section header is quite hard to see unless you are really looking for it.

![image](https://user-images.githubusercontent.com/6573613/55427366-c2907c80-557e-11e9-8a5e-693f81ab9e4d.png)

I suggest that the focus state is update to look something like so to help give a stronger visual representation from an accessibility point of vi

[2019-04-02 19:57] MMasey opened #5131 "V8: Return to starting focus when closing the search using the ESC key"
At the moment, when the toggle search button (found in the top navigation bar) is clicked the search overlay appears, but when it is then closed using the `ESC` key, the persons focus state is sent back to the top of the DOM, meaning they have to tab back through the initial navigation to get back to the point of opening the search.

![image](https://user-images.githubusercontent.com/6573613/55432

[2019-04-02 21:30] shearer3000 opened #5132 "UmbracoMultiUrlPicker: dialog closes abruptly"
A pre-existing bug with RJP.UmbracoMultiUrlPicker (version 2.2.1, umbraco 7.13.2) :

Action: Open RJP dialog window, then right-click and drag the mouse (from right to left) to select text within field.

Result: entire dialog window closes.

Expected result: dialog stays open and the text within a field highlights for selection.

NB Multi Url Picker is available as a built-in property editor in Um

[2019-04-02 21:54] Flaeng commented on #4949
I think I've solved this, but Github wont let me create a pull request atm. I'll try again tomorrow.
https://github.com/Flaeng/Umbraco-CMS/commit/162547e6b0daf1489c4f7d9276520166c7ff6dd7

[2019-04-02 22:04] shearer3000 opened #5133 "NestedContent UI to show doctype description to content editors"
Could the picker for the Umbraco.NestedContent editor please display the doctype “Description” alongside the available doctypes? This will aid/educate content editors on which control to select.

The UI would possibly be better if it was a stacked list with the description next to it.

[2019-04-02 23:32] Shazwazza commented on #5127
I'm assuming you have picked an image ? Or is it just returning null since there's nothing picked? (sorry for the naive question but just want to make sure)

[2019-04-02 23:36] Shazwazza commented on #5132
Thanks for reporting, for now I've marked up for grabs to see if anyone from the community can assist

[2019-04-02 23:41] Shazwazza commented on #5126
You can already do this, maybe I'm not fully understanding?

[2019-04-03 02:53] Myster commented on #5132
I have noticed this too, it is not limited to RJP picker.
It appears the determining factor is where the mouse-up occurs.
If it is within the pane then it is ok, if it's outside the pane it closes.

My suggestion is mousedown (or mouse click) outside the pane should close it, not mouse up.

[2019-04-03 05:21] #5124 closed

[2019-04-03 06:02] zpqrtbnk commented on #5083
Hey - can you confirm that the mistake "you" made was setting a value for culture *pt* instead of *pt-PT*, and *pt* is not a valid culture (not a configured language) but *pt-PT* is? It annoys me that all you get in that case is a Sql exception, and not something more meaningful.

[2019-04-03 06:22] zpqrtbnk commented on #5121
Linking to #5016 because although I could not make sense of that issue... they may be related.

[2019-04-03 06:28] zpqrtbnk commented on #5121
Can you elaborate on your setup, ie local vs development on same DB? Are you essentially load-balancing local and development on one unique DB? I am starting to think we *do* have a problem, probably with distributed cache events, but then I need to narrow it down / repro.

[2019-04-03 07:27] bjarnef commented on #5121
@zpqrtbnk the site is based on hosting at UnoEuro, where it on local is connected to the remote database on UnoEuro. I also think the issue might happen when uploading config files or assemblies.

[2019-04-03 07:34] kjac commented on #5133
Not a bad idea. But please keep in mind that there can be a lot of element types in the picker, so it might end up a very long list. On the flip side the description would help pick the right one of the lot.

[2019-04-03 09:47] RicCareyBrace opened #5137 "V7.14 - MNTP filter by document type not working"
Hi,

I have added two document type alias' into the multi-node tree picker data-type on Umbraco 7.14.0, and from the content section, an editor can still select nodes which are not of the specified type. The editor can then save and publish the document without issue.

Please see below config:

![image](https://user-images.githubusercontent.com/48764967/55469571-ac75d100-55fd-11e9-942f-325faaeef82

[2019-04-03 09:48] FransdeJong commented on #5121
I think the problem is a little more complicated.
If I restart a environment all images in nested content are gone until I reload the cache.
I also have this problem with a footermenu that is defined on a composition and rendered in a partial like this:

` Footer footer = new Footer(Model.Root());
    IPublishedContent[] pages = footer.Children.Where(x => x.IsVisible()).ToArray();

 @foreach (IPub

[2019-04-03 09:58] zpqrtbnk commented on #5121
Quick win, I have cleaned up the dashboard with nice titles + reordered buttons etc.

Now on to the real issue.

[2019-04-03 09:59] RicCareyBrace commented on #5137
Further to this - I have noticed the actual issue.

When the MNTP is opened and it sometimes expands to the current page, the validation does not kick in. However, if you then close all expanded nodes within the fly out menu, and then rexpand them - the validation kicks in.

[2019-04-03 09:59] FransdeJong commented on #5121
Let me know if you want me to test something

[2019-04-03 10:05] RicCareyBrace commented on #5137
Sorry, further again - if you select a node as the "start node" say the homepage - then the validation will kick in as expected.

[2019-04-03 10:13] zpqrtbnk commented on #5121
Before reloading the cache, when images are missing, can you tell me what the dashboard says (status, at the top?)

Also... anything that can lead us to a minimum repro would help - I have just done this: create a content type with a nested content - which has items which have: a text string, a media picker picking images. I can restart the site, and my image is still there.

[2019-04-03 10:21] zpqrtbnk commented on #5121
For your footer example... no images are involved, right? It's simply... listing children? And children are gone?

[2019-04-03 10:31] bjarnef commented on #5121
If you have an UnoEuro site or another hosting (maybe it works on Umbraco Cloud as well), then on local connect to remote database and edit content from local, I had some issues where the image sometimes was gone on remote site (same database).

- Upload a image from local and select it in a media picker on a content node + save and publish
- Upload the media file i `/media` to remote site via FTP

[2019-04-03 10:44] zpqrtbnk commented on #5121
What I have done: run two sites, in IIS on my machine, on top of the same SqlServer database. Upload image in site 1 and pick it in a picker in a nested content item. Publish. Refresh the view on site 2 - it may not *immediately* show (time for the cache to update) but after 1-2 sec, the image is there. Well, not the *file* but the cache knows about the image.

We need to try harder at reproducing

[2019-04-03 11:13] bjarnef commented on #5121
I can't find anything specific to this in the log, but I have these (not sure if it is related to this issue).

[code]

[code]

[2019-04-03 11:42] zpqrtbnk commented on #5121
These two exceptions are not related, I think, but are nasty. Did they happen once, or repeatably?

[2019-04-03 11:47] CodeartIT opened #5143 "A problem with deleting and renaming images"
When I upload image in media section via Umbraco backoffice and If i rename or delete it there, changes dosent apply on my project in visual studio.

So for example i have image in backoffice with name cats and if I decide to rename it in backoffice from cats to cat1, this changes wont apply on visual studio and if i delte it i can still see the image with old title in visual studio.

[2019-04-03 11:55] CodeartIT commented on #5143
Now i noticed that images will be deleted from visual studio if i clean recycle bin but rename is still the problem if it is the problem.

[2019-04-03 11:58] bjarnef commented on #5121
I just noticed these once in log file, but not sure when these happened.

[2019-04-03 12:17] nielslyngsoe opened #5144 "V8: Member picker "All members" is empty"
Member picker can only find members in "Members", where no members appear under "All members".

![member_picker](https://user-images.githubusercontent.com/6791648/55478201-5e6fc600-561b-11e9-8e34-62abd0f873f4.gif)

[2019-04-03 12:24] nielslyngsoe opened #5145 "V8: Member picker cant pick member"
When picking a member with Member-picker, I get this error:

"Failed to retrieve entity data for id 1174"

![image](https://user-images.githubusercontent.com/6791648/55478338-c32b2080-561b-11e9-828e-c867a34106b1.png)

[2019-04-03 12:37] crick3t commented on #4998
OK, I will give it a go, but just to double check.
Should I use this one https://umbraco.visualstudio.com/Umbraco%20Cms/_build/results?buildId=19666
or I can use the latest one in the "Cms 8 Continuous"?

[2019-04-03 12:53] ronaldbarendse commented on #4144
Would be nice if this gets property fixed!

For now, setting `allowManuallyChangingPassword` back to `false`, resetting the password and then use that generated password as 'Old password' seems the easiest word-around...

This work-around only works if `enablePasswordReset` is left enabled and also shows how flawed this logic is: if you can reset a password, it's also possible to manually reset it

[2019-04-03 13:31] #4681 closed

[2019-04-03 13:43] DanielToft commented on #5127
Hi @Shazwazza

Yes, I had picked an image.

I found out, I was doing it wrong. I was trying to get a single image with  Model.Value<IEnumerable<IPublishedContent>>("image") and not  Model.Value<IPublishedContent>("image").

Sorry for the inconvenience!

[2019-04-03 13:43] #5127 closed

[2019-04-03 13:47] nielslyngsoe commented on #4811
PR https://github.com/umbraco/Umbraco-CMS/pull/5146

[2019-04-03 13:49] Migaroez commented on #4934
Same issue in V8 a good place where you can see this is in the culture and hostnames dialog

[2019-04-03 14:11] zpqrtbnk commented on #4998
the one your are linking to - the continous one does not contain the fix yet

[2019-04-03 14:47] FransdeJong commented on #5121
NuCache says: I'm feeling good, really. Database cache is ok. ContentStore has 1 generation, 1 snapshot and 23 entries. MediaStore has 1 generation, 1 snapshot and 20 entries.

The message is the same after reloading

No images just the links. As soon as I click reload it all works perfect until I force a app recycle.

I can add you to the cloud project where the issue presents itself. As long as

[2019-04-03 15:03] crick3t commented on #4998
No, what I meant is the latest in that branch (or what ever it is called :) ).
Anyway, I released that version and tested it. See my findings below.

First released it and tried to import the big ones and it failed as expected.

Then I have increased the block size to 8192 and restarted the website.

I got an error:

    Exception Details: Umbraco.Core.Exceptions.BootFailedException: Boot failed:

[2019-04-03 15:50] homemdasneves commented on #5083
That's exactly what happened.

[2019-04-03 16:58] zpqrtbnk commented on #4998
Many thanks for testing! Next steps:
* this solution is going to be merged into the next release, with a comment to indicate that the cache must be rebuilt whenever the block size is changed
* I'll create a longer-term issue to deal with it in a friendlier way - as you wrote, this should be automatic

[2019-04-03 17:09] zpqrtbnk commented on #5121
This means that the stores are not empty. They probably _do_ contain what you want. Which might indicate a property value converter issue more than a cache issue.

Happy to discuss accessing your project - stephane@umbraco.dk

[2019-04-03 21:07] bjarnef opened #5147 "Hide grid reorder when scrolling to end of grid content"
By default the grid reorder is positioned static, but get sticky (fixed) when its position reach the bottom of the header. However you can have several properties after the grid content and when scrolling futher down the page the reorder bar remain sticky. Instead it should be hidden when the bottom of the grid content reach the bottom of header.

![image](https://user-images.githubusercontent.com

[2019-04-04 02:28] Shazwazza commented on #5137
Sound like an an annoying issue! For now have marked up for grabs to see if any community members might be able to assist with this one. Thanks for reporting!

[2019-04-04 02:41] Shazwazza commented on #4682
@nielslyngsoe why is this closed when the PR is not merged? What release is this going to be in? Where is the release tag? etc...

[2019-04-04 03:02] #4920 closed

[2019-04-04 03:06] Shazwazza commented on #5143
Renaming a media item doesn't rename the media file. Also, what version are you using?
I think this issue is related with regards to the recycle bin https://github.com/umbraco/Umbraco-CMS/issues/2931

[2019-04-04 05:54] #4811 closed

[2019-04-04 06:17] zpqrtbnk opened #5148 "Support for Segments, Segment providers, Request Tagging, Segment Routing and View updates"
Much of Segments is now supported in v8, at least as far as the data layer and front-end caches go. There is quite a lot missing from the end result though:

* Examine + segment support
* Segment providers - these are how a request is tagged, for example there could be a configurable 'query string provider' which tags the request with some string based on if query string(s) exist or match a partic

[2019-04-04 06:55] zpqrtbnk commented on #5124
note: code merged into `v8/dev` and picked into `v8/8.0`

[2019-04-04 07:22] FransdeJong commented on #5121
Hi Stephan,

I've added you to the project.
There is a small description in the email.

If you have any questions I've put my email and phonennumber in the email to.

Frans

[2019-04-04 07:33] zpqrtbnk opened #5150 "NuCache large volume issue"
See #4998 - NuCache can dies on very large volumes due to BPlusTree needing some configuration - and we cannot automate this - so we need another solution, maybe a full replacement.

[2019-04-04 07:35] zpqrtbnk commented on #4998
New issue is #5150, now moving this issue to review.

Reviewers: please note that if you change the block size, you *have* to rebuild the NuCache else you'll get exceptions. But basically, it's been reviewed already and works - just do a code review and ensure  a normal site still works.

[2019-04-04 07:48] zpqrtbnk opened #5151 "Nasty Exception with Scope/Provider"
As reported in #5121 some nasty exceptions were found in logs:

[code]

[code]

?

[2019-04-04 07:55] zpqrtbnk commented on #5121
Note for self: nasty scope exceptions moved to issue #5151

[2019-04-04 08:00] RicCareyBrace commented on #5137
Cheers @Shazwazza

[2019-04-04 09:18] nielslyngsoe opened #5152 "V8: templates created through "Create matching template" does not use ModelsBuilder"
Reproduce:
Create a documentType without a template and then choose to "Create matching template" in the template tab.

The template generated will not be using models builder.

DocumentTypes created with a template does get ModelBuilder.

Screenshot of "Create matching template"-button.
![image](https://user-images.githubusercontent.com/6791648/55544323-1dcf8580-56cb-11e9-8589-412364660a4d.png)

[2019-04-04 10:05] zpqrtbnk commented on #5151
Both exception happen from `LuceneIndex.ForceProcessQueueItems` which seems to only happens when the index is disposed - and is that when the site shuts down?

[2019-04-04 10:37] medarke commented on #3015
Is this issue solved in Umbraco 8?

[2019-04-04 10:47] nielslyngsoe opened #5154 "V8: Editing a DataType in infinity editing does not layout correctly"
Editing a DataType in infinity editing does not layout the same way as editing directly under settings.

I would like the Label and Description to stay in a left column, making the inputs top align with the label.

Infinity editing:
![image](https://user-images.githubusercontent.com/6791648/55550001-760c8480-56d7-11e9-9f5c-b6a47c906768.png)

How it should look and how it looks when editing a DataT

[2019-04-04 10:50] CodeartIT commented on #5143
I am using Umbraco 8.0.1
Here is the image of same image in backoffice and in visual studio
![Screenshot_11](https://user-images.githubusercontent.com/47372432/55550279-224e6b00-56d8-11e9-981c-3d0566b409a9.jpg)

[2019-04-04 11:07] nielslyngsoe commented on #4623
Already fixed

[2019-04-04 11:07] #4623 closed

[2019-04-04 11:10] nielslyngsoe commented on #5126
@Shazwazza you are right, you just cant do it on your own account. Sorry, I will change description to become a UX problem.

[2019-04-04 11:15] #4884 closed

[2019-04-04 11:23] Shazwazza commented on #5143
Yes renaming a media item doesn't rename files. There is nothing stopping a media item from having multiple files, similarly a content item can contain files directly too and those files do not get renamed based on the content name.

This is the expected behaviour.

It would probably be possible to hook into the media saving event and manually achieve this if that's what you want to do, though med

[2019-04-04 11:23] #5143 closed

[2019-04-04 11:24] JoseMarcenaro commented on #5035
Thanks for explaining the required config settings.

But in v8, *even with the above settings*, the exact error happens when you enable Slot Swap in the Azure App Service: before the swap both slots are working ok, but after the Swap the new "Production" slot throws the error every time. A full App Service restart is needed to make things working again.

If you work with a single slot everything i

[2019-04-04 11:27] Shazwazza commented on #3015
@medarke would assume so, it's fixed in v7 and we merge to v8, why not give it a try?

[2019-04-04 11:30] Shazwazza commented on #5126
@nielslyngsoe that's the intended behaviour, as a user you cannot change your own permission structures. That would mean you could just make yourself an admin or just give yourself permission to do stuff you aren't currently allowed to do.

[2019-04-04 11:32] bergmania commented on #4944
I suggest to move the part of `DatabaseServerMessenger` that actual makes the file sync into it's own class behind an interface. e.g.
[code]

Then we could implement multiple versions of this interface.
One with the current implementation using a file in the local temp folder and another which uses the `KeyValue`-table in the database.

This will require to change the constructor of `DatabaseServe

[2019-04-04 11:33] Shazwazza commented on #5126
unless you mean that we need to display something to the user explaining what i just mentioned?

[2019-04-04 11:35] Shazwazza commented on #5035
That's interesting, will assume the same problem exists in v7 too since it's the same paradigm.

I think the only way around such behavior is to have an option to not have a persisted cache file, or name the cache file based on the AppDomainAppId + MachineName (should be unique among processes).

@zpqrtbnk what do you think here?

[2019-04-04 11:38] Shazwazza commented on #4944
Side note - Currently we recommend doing this on replica servers which affects how server info gets into that table: https://our.umbraco.com/documentation/Getting-Started/Setup/Server-Setup/Load-Balancing/flexible-advanced#explicit-master-scheduling-server

however, if/when we make this change i'd like to modify this best practice for v8 to make sure that replica servers still ping to the database

[2019-04-04 11:41] #4943 closed

[2019-04-04 11:53] OAOVLD commented on #5016
This problem occurs on all sites. (8.0.0 and 8.0.1).

[2019-04-04 11:57] VilladsClaes opened #5155 "Model.Content should be Model"
When inserting a partial view from snippet and choosing Navigation, the Model.Content should be edited to Model

@*Menuen*@
<ul>

    <li class='@Model.Id == root.Id ? "active" : null'>
        <a  href="@root.Url">Link til @root.Name</a>
    </li>
    @foreach(var side in root.Children.Where(x => x.IsVisible()).ToArray())
    {
        <li class='@(side.IsAncestorOrSelf(Model) ? "active" : null)'

[2019-04-04 12:02] Shazwazza opened #5156 "v8 - content editor server side notifications are not transmitted on redirect of creating new content"
Tough one to explain, but there are notes here https://github.com/umbraco/Umbraco-CMS/issues/4988#issuecomment-477005074

When creating a new content variant (or any content), we do an angular redirect which re-loads the content based on it's new ID from the server. However when dealing with content variants, we use both server side validation (ModelState) and the `notification` blocks to populate

[2019-04-04 12:07] Shazwazza commented on #5155
That should be an easy fix! I'll mark up for grabs and see if anyone picks it up

[2019-04-04 12:08] Shazwazza commented on #5155
I assume we're talking about v8 here :)

[2019-04-04 12:17] nielslyngsoe commented on #5129
PR https://github.com/umbraco/Umbraco-CMS/pull/5157

[2019-04-04 12:27] nielslyngsoe commented on #5126
@Shazwazza exactly, thats why i changed the description of the issue.

[2019-04-04 12:48] MMasey commented on #5129
Nice one @nielslyngsoe. Shall I close this PR in preference to yours? #5139 🙂

[2019-04-04 14:00] #5059 closed

[2019-04-04 14:37] JoseMarcenaro commented on #5035
Note: We have a site on Umbraco 7.13.2 running on Azure with slot swapping (and the "LocalTempStorage" ="EnvironmentTemp" app setting) and we never run into this problem with the XML cache file.
Maybe because it's not open all the time?

[2019-04-04 14:50] mattbrailsford opened #5160 "v8: DoNotCloneAttribute should be public"
With Umbraco there is an interface `IDeepCloneable` to handle deep cloning objects. In addition, there is a useful helper `DeepCloneHelper` which can help deep clone all reference properties of an object without having to handle each one explicitly.

In order to have finer control of what actually gets deep cloned, within the `DeepCloneHelper` it does a few checks and one of those is to look for a

[2019-04-04 15:17] binraider opened #5161 "ApplicationEventHandler Seems to have stopped working after Version 7.12.2"
I am trying to use ApplicationEventHandler > protected override void ApplicationStarted on two projects with versions 7.13.2 and 7.14, yet they are not firing. The 7.14 project is a clean Umbraco install. On another project 7.12.2 ApplicationStarted  is firing perfectly. On the 7.13.2 project I switched out to IApplicationEventHandler, but it did not make any difference.

[2019-04-04 15:21] zpqrtbnk commented on #5035
NuCache stores its file in `Path.Combine(_globalSettings.LocalTempPath, "NuCache")` and therefore respects the `<add key="Umbraco.Core.LocalTempStorage" value="EnvironmentTemp" />` setting. The temp path combines the application id and the site name, but not the machine name, as the local temp is supposed to be local, ie per-server.

I don't know much about "slot swaps" in Azure. But, if they are

[2019-04-04 15:24] JoseMarcenaro commented on #5035
@zpqrtbnk  thanks for looking into this.  I will post today the requested information about the Slot Swaps and those values.

[2019-04-04 15:25] zpqrtbnk commented on #5121
Update (for anyone tracking this issue) - Frans has been kind enough to let me access his site, and after a good deal of troubleshooting, I now have an idea of what *may* be the cause of all this. I have shared a patched Umbraco.Core.dll with Frans and I am waiting for feedback. Fingers crossed.

[2019-04-04 15:29] binraider commented on #5161
doh - did not reference other project

[2019-04-04 15:29] #5161 closed

[2019-04-04 15:55] zpqrtbnk commented on #5121
Feedback is positive, seems we've fixed it. Massive **THANK YOU** to Frans, been super precious help. Going to prepare a PR for 8.0.2 asap.

[2019-04-04 16:00] zpqrtbnk commented on #5121
PR is #5162

Review: site should just work as usual - the problem is hard to reproduce but the fix has been confirmed.

**_Note: this is an 8.0.2 fix so please merge the PR and then cherry-pick the commit into v8/8.0_**

[2019-04-04 16:00] kjac commented on #5144
How odd... this worked back when I was mucking about with the various pickers.

I'll take a look.

[2019-04-04 16:01] kjac commented on #5145
Well that ain't good. I'll have a look.

[2019-04-04 16:03] zpqrtbnk commented on #5016
Note: it may very well be that this issue is a duplicate of #5121 - more or less the same weird symptoms - and then, a fix is in PR at the moment!

[2019-04-04 17:15] kjac opened #5163 "V8: Can't show list views for variant content on latest"
There's something funky going on. I have a culture variant content type with list view enabled. On latest source (d0b9fb7d) this results in:

![image](https://user-images.githubusercontent.com/7405322/55574640-25b01980-570d-11e9-92d5-cc6a0d2b1ed2.png)

Removing the list view fixes the problem.

The error originates from the call to `ContentController.GetChildren` (http://localhost:8100/umbraco/bac

[2019-04-04 17:20] kjac commented on #5145
@nielslyngsoe I can't reproduce on latest. Could you try again? This is what I see:

![pick-member](https://user-images.githubusercontent.com/7405322/55575171-90158980-570e-11e9-8c35-da67c405eddf.gif)

[2019-04-04 17:20] kjac commented on #5144
@nielslyngsoe I can't reproduce this on latest; see https://github.com/umbraco/Umbraco-CMS/issues/5145#issuecomment-479987519

[2019-04-04 17:22] kjac commented on #5132
Isn't this a duplicate of #4934?

[2019-04-04 17:48] kjac commented on #5155
Nice one... PR in #5164

[2019-04-04 19:28] Rann1 commented on #4666
@kjac ,I think I'm having the same issue as the @sofietoft .

When adding a new mediatype for example 'CustomFolder', you have a blank view when selecting the folder. There is no "Create Custom Image", drag /drop functionality, also the "Child Items" options is missing.

The default "Folder" has the Child Items feature, but still expands.

Original "Folder" Mediatype
![image](https://user-images.g

[2019-04-04 20:18] shearer3000 commented on #5132
hi - yes it reads very much that way.

[2019-04-04 21:51] JoseMarcenaro commented on #5035
This is what I got on each slot, before and after the swap:
[code]

And this time the error was not thrown.
In a previous execution (with different slots) I got the following:
[code]
I am positively sure that this setting was in effect when the error was thrown:
[code]
but this one was not (may this be the issue?)
[code]
In my latest test (no error) both settings were in effect.

[2019-04-04 21:56] Shazwazza commented on #5160
have marked up for grabs if you or anyone else wants to create a PR

[2019-04-04 22:02] Shazwazza commented on #5163
Thanks for reporting (vlatest) has done a lot of changes with how things are mapped so there must be a regression issue there. Will get this looked at!

[2019-04-04 22:03] Shazwazza commented on #5163
Relates to #5087

@zpqrtbnk we'll need to look at this this sprint.

[2019-04-04 22:14] Shazwazza commented on #5132
So shall i close this one then? (just want to be sure!)

[2019-04-04 22:44] Shazwazza commented on #4410
added to up for grabs

[2019-04-04 23:43] #4998 closed

[2019-04-04 23:48] #5121 closed

[2019-04-05 00:57] shearer3000 commented on #5132
yes please (sorry for dup)
I'll add this as a test case on the existing ticket.

[2019-04-05 00:59] shearer3000 commented on #4934
suggested test case on Umbraco 7.14+ and 8.0+: please check this issue is resolved for the UmbracoMultiUrlPicker dialog

[2019-04-05 01:04] Myster commented on #4934
I notice on many dialogs, that if the mouse-up is outside the right hand side pane then it closes, but if the mouse-up is inside the right hand side pane it doesn’t.

[2019-04-05 06:16] clausjensen commented on #5093
Closing *all layers* when clicking outside is an absolute no-go IMO.

I also think the UX experience of closing one layer at a time by clicking outside would be fairly confusing. No matter what, a dirty check would also be absolutely required here to avoid having people lose their work.

I could go with the "close one layer at a time by escape key" approach, as long as dirty checking is in place a

[2019-04-05 06:41] zpqrtbnk commented on #5010
See #5059

[2019-04-05 07:45] zpqrtbnk commented on #5035
The Lucene setting has no impact on NuCache. The fact that you are seeing an error such as `The process cannot access the file 'D:\local\Temp\UmbracoData\854...136\NuCache\NuCache.Content.db'` indicates that you are indeed using the proper local temp storage setting.

NuCache uses the built-in MainDom mechanism to ensure that only one app domain at a time can own the cache (and the associated file

[2019-04-05 07:48] nielslyngsoe commented on #5145
Hi @kjac thanks.
I do still get the error in my test-setup. I guess I need to investigate further to figure out why I'm having this issue. 🤔

[2019-04-05 08:21] bergmania commented on #4944
I have added a draft PR, on how I see this could be done.

- We need a new task for updating the Load Balancing documentation for V8, including new recommendation to how to use explicit master scheduling.

[2019-04-05 09:21] FransdeJong opened #5170 "Refurbish IPublishedContent (was: not created nodes are returned by children property)"
If you add a language to a site with childnodes the childnodes are visible as "not created" nodes.
If you add content to the rootnode and publish it and do `@Model.Children` in a template you get all the childnodes including the "not created" children. If you do `@Model.Children()` you only get the published children.

Reproduction
------------

Create a documenttype and create a rootnode with 4 c

[2019-04-05 10:01] clausjensen opened #5171 "Trying to access Permissions on a node throws an exception"
When trying to access the permissions dialog on a node, an exception is thrown.

[2019-04-05 12:09] thomasknielsen commented on #4667
We are experiencing the same on a v. 7.13.2 with a user that has never even logged in.
That means that they could not have created any content.

The root of the issue is actually that the original invite expired and we wanted to resendt - but the resend button was missing so we had to delete to invite again - but then there was this error.

[2019-04-05 12:56] nielslyngsoe opened #5172 "V8: open media-item in media-picker by clicking its name"
I would like to be able to open a media-item in media-picker by clicking its name.
And thereby remove the "edit"-icon appearing when hovering a media-item.

Current look:
![image](https://user-images.githubusercontent.com/6791648/55629218-f653e800-57b2-11e9-82b3-a0319c7b84e3.png)

[2019-04-05 13:44] JoseMarcenaro commented on #5035
Just tested it. The `ApplicationPhysicalPath` value is always `D:\home\site\wwwroot\` in both slots, before and after the swap.

Regarding the physical server... it is not fully documented, but many posts assume it is the same because all slots share the same App Service Plan = the same set of resources (i.e. 3.75 Gb RAM).

[2019-04-05 17:00] zpqrtbnk opened #5174 "Bad Composers Ordering"
In some conditions, composers are not ordered correctly and `WebFinalComposer` does not run last (for instance if there is no `IUserComposer` instance)

[2019-04-05 17:01] zpqrtbnk commented on #5174
PR #5175

_**This is an 8.0.2 PR, merge into v8/dev then cherry-pick into v8/v8.0**_

[2019-04-05 18:34] mathewknott commented on #5075
I'm having the same issue. The way I reproduce is..

1. I open the page.
2. Swtich to code view.
3. Make the change.
4. Close the code view and press "save and publish".
5. Result: No change gets saved.

If I make the change directly in the RTE view, it will detect the change and save correctly.

[2019-04-05 19:52] kjac commented on #5075
@mathewknott are you using an RTE in the grid or directly on the content as a stand-alone editor?

[2019-04-05 20:07] kjac commented on #4666
@Rann1 I'm pretty sure you need to enable list view for your media type. Edit the media type, pick the "List view" app in the upper right corner and enable it?

[2019-04-05 20:09] kjac commented on #4666
Also I'm pretty sure this isn't a bug. Specially with #4785 that lets other folders add the list view data type on the content tab, thus "cheating" the default list view handling but still achieving list view functionality.

[2019-04-05 21:39] mathewknott commented on #5075
Its the RTE in the grid.

[2019-04-06 05:33] kjac commented on #5152
I've done a bit of digging on this one. Seems doable with a bit of a rewrite... I'll push a PR later today, if all goes according to plan.

[2019-04-06 06:15] kjac commented on #5171
Nice one 👍 it's a mapping issue; I'll push a fix momentarily.

[2019-04-06 06:23] kjac commented on #5171
PR in #5176

[2019-04-06 07:46] Rann1 commented on #4666
@kjac  when adding the "List View" option, you do not get the same functionality though. **Folder** has the listview AND a dropdown on the left side.

![image](https://user-images.githubusercontent.com/13347420/55666527-7d0ad280-5850-11e9-8dc0-03a0410ffd04.png)

Also when copying a item, shouldn't it be exactly the same? (Expectations vs Result)

For my own use, it's good when enabling list view,

[2019-04-06 10:38] kjac commented on #5152
PR in #5178

[2019-04-06 10:48] kjac commented on #5172
@nielslyngsoe folders need all three options in the media picker:

1. The "selected" state for selecting a folder (if not disabled on the data type).
2. The "open" link (the folder name) to browse the folder.
3. The "edit" button (the pen) for opening the folder in infinite editing.

![image](https://user-images.githubusercontent.com/7405322/55668354-7b99d400-5869-11e9-8560-bb823f0df851.png)

Sinc

[2019-04-06 13:02] Repulp opened #5179 "V8 .Registerfor<TService,TTarget>(); Registers Service as target"
Description:
composition.RegisterFor<TService, TTarget>(); registers the service as target.
Seems to be a bug in .Core.LightinjectContainer.cs on line 182. where typeof(TService) is sent in as implementationType.

https://github.com/umbraco/Umbraco-CMS/blob/853087a75044b814df458457dc9a1f778cc89749/src/Umbraco.Core/Composing/LightInject/LightInjectContainer.cs

Resulting in TService is trying to re

[2019-04-06 16:34] zpqrtbnk commented on #5171
I have merged the PR in `v8/dev` but need to change a comment (see comment in the PR) + merge it into `v8/8.0` as it targets 8.0.2. Hence, have reopened the issue.

[2019-04-06 16:37] zpqrtbnk commented on #5171
Silly me, this cannot target 8.0.2 since mappings are 8.1.0 ;-) closing.

[2019-04-06 16:37] #5171 closed

[2019-04-06 16:47] zpqrtbnk commented on #5179
`RegisterFor` is meant to be used with `GetInstanceFor`. So if I `RegisterFor<TService, TTarget>(type)`, then `GetInstanceFor<TService, TTarget>()` will get me an instance of `type`. The idea is that I could
[code]
and each target class could get an implementation of `TService`, and one would get a `type1` instance while the other would get a `type2` instance. This is somehow explained in the comm

[2019-04-06 17:14] Repulp commented on #5179
Oh.. yes, it seems ive made a fool out of myself.
Sorry for the trouble and thanks for the help :).

[2019-04-06 17:14] #5179 closed

[2019-04-06 17:16] zpqrtbnk commented on #5179
You haven't made a fool out of yourself, you've identified a point where we should be clearer + have more documentation. Many thanks!

[2019-04-06 18:10] kjac commented on #4666
@Rann1 it's been a while since I installed 8.x from scratch, but if I'm not entirely mistaken, the default media folder has the list view assigned as a property to its design instead of the usual way (using the dedicated list view option). This is a workaround that lets you have a list view for the folder contents on the "Content" content app, while still maintaining the expandable folder structur

[2019-04-06 20:06] kjac commented on #5163
I found it while doing #5180 ... it's a fine mix of a missing mapping context and a LINQ evaluation of `IEnumerable` being performed when required (when writing the response) - the latter had me thrown off the trail. Anyway - PR in #5181

[2019-04-07 08:34] zpqrtbnk commented on #5163
Have merged the PR but not entirely happy (see my note on the PR) about the context situation. It is way too error-prone.

So, re-opening the issue to try to find a better way.

[2019-04-07 08:39] kjac commented on #5163
Agreed. It works for now but let's see if there's a way to work around the potential context issue.

[2019-04-07 09:28] zpqrtbnk commented on #5163
Want to have a look at PR #5182?

I *think* it's way safer this way: the context does just not expose the mapper at all, and *is* a mapper in itself, so if you need to nest mappings, you *have* to use the context.

[2019-04-07 09:30] kjac commented on #5163
Will give it a look in an hour or so when I can get to a computer 👍 but it sounds like the right approach.

[2019-04-07 11:01] zpqrtbnk commented on #5163
PR merged, keeping the issue open for a bit of testing, and then will close.

[2019-04-07 11:10] kjac commented on #5163
Looks good with the changes in #5182

[2019-04-07 11:10] zpqrtbnk commented on #5163
thanks!

[2019-04-07 11:10] #5163 closed

[2019-04-07 11:15] zpqrtbnk commented on #5035
So... assuming that all sites run on the same physical server (for now), that leaves us with app.path.

`D:\home\site\wwwroot\` is a kinda virtual path that Azure uses, so basically *all* apps are always under that path, and that can be annoying in some cases... but in our case, it should indeed make things even more safer.

Did not realize you posted a log file with the original issue - now looki

[2019-04-07 11:20] kjac opened #5183 "V8: Content doesn't save"
Likely connected to the mapper redo... on vLatest content simply doesn't save. This affects both variant and invariant content:

![nothing-is-saving](https://user-images.githubusercontent.com/7405322/55682745-d7329300-5937-11e9-8136-0836a0a9c763.gif)

I'll dig into it later and report my findings here.

[2019-04-07 11:29] JoseMarcenaro commented on #5035
@zpqrtbnk  - the log file is not mine, so it does not applies to the slot issue. Thanks.

[2019-04-07 11:32] JoseMarcenaro commented on #5035
In any case, for some mysterious reason the "process cannot access the file NuCache.Content.db" error has not appeared lately - in all slots swaps during the last three days.
I will post more information - including a log - if it does happen again.  Thanks for your help!

[2019-04-07 11:33] BatJan opened #5184 "v8: Suggestion - Remove the CSV storage option in the "Tags" property editor"
It's currently possible to save tags as CSV, which seems a bit overkill since the default JSON format should be enough for what people will need to store, since JSON supports comma separated values, which CSV does not.

The aim is to simplify the developer experience of using the tags property editor and reduce the codebase 😃

![csv-option](https://user-images.githubusercontent.com/1932158/5568289

[2019-04-07 13:22] kjac commented on #5183
I have identified the problem... will test some more tonight and hopefully push a fix.

[2019-04-07 14:31] zpqrtbnk commented on #5035
Thanks for the update.

Even though it's not your log... the significant lines are:
[code]

Where we see that a new process (9472) starts while the previous one (9488) is running, and acquires the MainDom lock before the previous process releases it, thus hitting an exception when trying to read the cache. That should not be possible...

If anything happens again, thanks for reporting. Meanwhile,

[2019-04-07 14:49] BatJan opened #5185 "v7: Replace the old checkbox markup with the new umb-checkbox directive"
There are multiple places where the old default browser checkbox is being used - To align the UI and make the checkboxes appear nicer looking I suggest to replace the old checkboxes using the new and shiny umb-checkbox directive.

I'll create a PR for this shortly.

[2019-04-07 17:30] kjac commented on #5183
PR in #5186

[2019-04-07 17:34] kjac opened #5187 "V8: Mapping YSOD appears randomly"
Every so often I'm seeing this:

![image](https://user-images.githubusercontent.com/7405322/55687334-f77c4500-596b-11e9-88ff-ca7ad03b05af.png)

It not terribly deterministic (at least I haven't found a pattern yet), but it happens when clicking around the various parts of the Settings section.

If I figure out how to reproduce it I'll update this issue 😄

### Inner exception

Inner Exception
Syste

[2019-04-08 01:36] Shazwazza commented on #5010
Should be fixed with #5059

[2019-04-08 01:36] #5010 closed

[2019-04-08 01:51] Shazwazza commented on #5184
It does seem like a good idea - just this means it's a breaking change. It would indeed cleanup the code a bunch too and just simplify everything with tags a little. I would think that if we have a migration for moving everything to json, then the only breaking change would be API changes dealing specifically with tag types - just not sure how many people use those, probably not a lot but could be

[2019-04-08 01:52] Shazwazza commented on #5185
Sounds good!

[2019-04-08 02:00] Shazwazza commented on #5170
That does sound odd indeed but will need to check with @zpqrtbnk to see if this is a design decision or not?

[2019-04-08 02:06] #5132 closed

[2019-04-08 02:15] Shazwazza commented on #5057
Thanks for reporting, have marked up for grabs to see if we can get some help from the community. I suspect we prob just need a try/catch when making the request to get the dashboard to make sure the request doesn't fail, or by checking the response correctly.

[2019-04-08 02:31] Shazwazza opened #5190 "v8 - Server side validation is not cleared on invariant properties on non default lang"
Server side validation is not cleared on invariant properties on non-default languages even when the invariant property is changed on the default language which means that the user won't be able to submit the non-default language again

relates to #4884 (see comment Server side validation is not cleared on invariant properties on non-default languages even when the invariant property is changed on

[2019-04-08 06:53] zpqrtbnk commented on #5170
So...
* `model.Children` returns every child which is published (ie published for at least one culture)
* `model.Children()` is defined as `Children(string culture = null)` and returns `model.Children.WhereIsInvariantOrHasCulture(culture)`

What this means is that... if you have a root node which is published for L1 and L2, and has 4 children published for L1, and only 1 of these children is publi

[2019-04-08 07:27] zpqrtbnk commented on #5183
My feeling is... mapping with `source.Properties.Select(context.Map<T>(...))` is to error-prone if you forget to `.ToArray()` - should be `context.Map<IEnumerable<T>>(source.Properties)` - which our mapper already supports - working on it now

[2019-04-08 07:35] pralthom opened #5191 "v8: Multinode Treepicker with filter - Angular error "Cannot read property 'toLowerCase'""
Hi,

When using the mutlinode Treepicker, I'm getting an error in the browser console

[code]

Reproduction
------------

Add a multinode treepicker to a document type with the following options:
 - Node type: Content
 - Allow item of type: AliasOfADocumentType
 - Minimum number of items: 0
 - Maximum number of items: 0
 - Show open button: false

Then go to a node with this document type, click o

[2019-04-08 07:52] kjac commented on #5183
Oh awesome 👍

[2019-04-08 07:55] zpqrtbnk commented on #5183
OK, should be even more explicit with
[code]

Now considering whether the mapper should keep infering `IEnumerable<T>` mapping, or just require that one uses `MapEnumerable`...

[2019-04-08 08:00] kjac commented on #5183
I think people will look to existing mapping profiles for inspiration/examples on how to do a new one. So if the existing profiles all use `MapEnumerable`, chances are new ones will too.

[2019-04-08 08:07] zpqrtbnk commented on #5183
Want to have a look at #5192 and tell me what you think? I think it is more explicit, less risk of confusion.

Now I am wondering whether I should unplug magic-enumerable support from the mapper (ie, if your define a map from A to B, it knows how to map from IEnumerable<A> to IEnumerable<B>) - it's just... I need to figure out whether we depend on it ;-)

[2019-04-08 08:12] kjac commented on #5183
I like the stuff in #5192 😄

I think it's a sweet touch that the mapper can figure out how to map IEnumerables on its own. As long as it evaluates the result immediately with `ToList()` or similiar I see no reason to remove it... As long as it stays there in future versions, of course - we definitively don't want backwards compatibility issues in the mapping layer.

[2019-04-08 08:33] kjac commented on #5191
I can reproduce this.. I'll have a look at it.

[2019-04-08 08:35] kjac commented on #5191
Oh shoot... I thought it felt familiar 😄 it's already fixed in #4960

[2019-04-08 08:42] kjac commented on #5160
Right... might as well strike this one off the issue list 😄 PR in #5193

[2019-04-08 08:47] pralthom commented on #5191
Great, thanks for the quick answer.
Do you know when the fix will be released in production?

[2019-04-08 08:56] kjac commented on #5191
@pralthom it may be in 8.0.1 already, not really sure about that.

[2019-04-08 09:00] kjac commented on #5154
PR in #5194

[2019-04-08 09:04] pralthom commented on #5191
I'm running 8.0.1 and the bug it still there. I guess I'll have to wait for 8.0.2

[2019-04-08 09:56] Luksor opened #5195 "Uploaded image height / width is incorrectly set to 200 px"
When uploading certain images the width and height is incorrectly set to 200px.

Reproduction
------------

### Bug summary

The resolution of certain images is incorrectly set after the image is uploaded. Related issue: #3990

### Specifics

Tested using Umbraco 7.14.0.
I'm using this image to reproduce the issue:
https://user-images.githubusercontent.com/5837521/52138261-915e0380-2644-11e9-927e-

[2019-04-08 10:52] BatJan commented on #5184
@Shazwazza Yeah I know - I wish I had the time to help out with this before v8 was released. That was my original intention when we changed the default option from CSV to JSON in v7.

But since JSON is the default option now I suspect very few if any choose CSV when setting up at tags datatype. But we can never know.... :-/

I tried having a look at it yesterday but it appeared to me that somethin

[2019-04-08 11:11] KraftwerkWedl opened #5196 "Umbraco Forms modify submitted entry > KeyNotFoundException"
If you add fields to a multipage form in the backoffice (to the second page), after you have already submitted the form once, and want to show/modify that submitted entry, it crashes on the second page.

Reproduction
------------

1) Create a form with 2 pages on each page add a simple short answer question
2) Place form on a template and go through the steps and submit it
3) Now add another short

[2019-04-08 11:59] bergmania commented on #5196
PR:
- V7: https://github.com/umbraco/Forms/pull/273
- V8: https://github.com/umbraco/Forms/pull/272

[2019-04-08 12:30] zpqrtbnk commented on #5183
Yes when mapping enumerables, the mapper already did the equivalent of `ToList`  ...  so ok, going to leave the feature there. Will review again and merged later on today. Meaning I'm not going to merge #5186 - but thanks anyways !!

[2019-04-08 12:57] kjac commented on #5183
Of course 😀 anytime!

[2019-04-08 14:51] zpqrtbnk commented on #5170
Well, that's annoying. `model.Children(string culture = null)` accepts a culture... and `model.Children` cannot, so it would do the same as `model.Children()` ie `model.Children(null)`. But then we don't have a way to retrieve all published children, regardless of the culture.

Ideally, I would love to rename `model.Children` into `model.AllChildren` and force people to use `model.Children()` to g

[2019-04-08 15:00] alicia123456 commented on #4494
I'm seeing the same issue with files ... In Media Picker, I can't see the file name until I hover over the icon. I'm working in the 8.0.1 Sample Site on a local PC.
![Filenames_not_Visible](https://user-images.githubusercontent.com/49405580/55734374-6f3e8400-59ed-11e9-9b64-cdb0bf03f0aa.png)

[2019-04-08 15:23] zpqrtbnk commented on #5170
Oh my... I want...
* `model.Name(string culture = null)` and kill `model.Name` property (which, at the moment, returns the name for the current culture)
* `model.Url(string culture = null)` and kill `model.Url` property (which, at the moment, returns the url for the current culture)
* `model.Children(string culture = null)` and kill `model.Children` property (which, at the moment returns all publi

[2019-04-08 15:31] zpqrtbnk commented on #5183
review: everything should work

[2019-04-08 15:35] alicia123456 opened #5198 "V8: Media picker does not show file names"
A brief description of the issue goes here.

When adding a document with the Media picker, only the file icons show ... not the filenames. I have to hover over each icon to see the filename to find the one I want.

Reproduction
------------

If you're filing a bug, please describe how to reproduce it. Include as much
relevant information as possible, such as:

### Bug summary
 Media file names do

[2019-04-08 15:50] kjac commented on #5183
If it's merged I'll test it tonight 👍

[2019-04-08 17:57] kjac commented on #5137
I've tracked this one down to the changes made in 66b0d4e3 ... will submit a fix.

[2019-04-08 18:16] kjac commented on #5137
PR in #5199

[2019-04-08 19:07] kjac commented on #5195
PR in #5200

[2019-04-08 19:24] kjac commented on #5198
This is making so much sense. I did the fix for #4504, I'll have a look at this one as well.

[2019-04-08 22:17] yaplex opened #5202 "V8: Import Document Type does not work"
I tried to import document type but after I select *.udt file nothing happens

Steps to reproduce:
1. export document type from one website
2. on a different website use "Import Document Type" option on Document types menu
3. select *.udt file from local drive
4. Nothing happens, no new button appears, the import is not starting

[2019-04-08 22:27] alicia123456 commented on #4972
I'm seeing the same issue. See attached file for detailed description ... if it helps. We really need to be able to edit in source code view.
[Source code editing.docx](https://github.com/umbraco/Umbraco-CMS/files/3056453/Source.code.editing.docx)

[2019-04-08 23:11] marcemarc commented on #5005
@Shazwazza It all works as expected (in case you wanted closure on this :-)) - in addition to the controller I was testing the custom service and the injection of IPublishedContentQuery in, I had also previously injected it into an IContentLastChanceFinder! - so it was this which was blowing up, not the injection into a service used in a controller. So all new solution, wired up as above, all 'jus

[2019-04-09 00:25] #5160 closed

[2019-04-09 00:31] Shazwazza commented on #5191
#4960 hasn't been merged or marked as fixed so there's no release for it yet. We are hoping to release 8.0.2 next week, there might be a chance that #4960 makes it into the build as I've moved it into the current sprint, else it may need to wait until 8.0.3

[2019-04-09 00:31] #5191 closed

[2019-04-09 00:45] Shazwazza commented on #5202
Thanks for reporting, have marked up for grabs to see if the community might be able to lend a hand

[2019-04-09 00:48] Shazwazza commented on #4972
Does anyone know if this exact problem exists in the RTE when used on it's own? (i.e. not within the grid)

[2019-04-09 00:50] Shazwazza commented on #5184
We can help you out with a migration, that's reasonably easy to do. IMO i think this would be a welcome change, it will both simplify code and simplify the user journey. @zpqrtbnk what do you think? I feel like any CSV API is usage is going to be ultra rare (probably used by articulate only :P )

[2019-04-09 00:57] Shazwazza commented on #5170
Is it 'bad' that the current `model.Name` and `model.Url` return the values for the current culture? I think that is an expected behaviour isn't it?

I agree with the naming of the property `.Children` and in order for the `.Children()` method to work, the `IPublishedContent` instance must have access to "All" Children so that will still have to be part of the interface one way or another.

If onl

[2019-04-09 00:59] alicia123456 commented on #4972
I just confirmed that it is NOT an issue when the RTE editor is on it's own (not within a grid).

[2019-04-09 01:16] Shazwazza commented on #5005
@marcemarc thanks for letting me know :)

[2019-04-09 01:18] Shazwazza commented on #4972
Thanks! That is a bit odd since the underlying tinymce configuration is all the same so there's probably something odd perhaps going on with the html id targeting or something along those lines. We'll have to investigate. Have marked up for grabs in the meantime in case the community might be able to assist.

[2019-04-09 05:45] kjac commented on #5198
The issue also applied to the folder view in the media library... PR in #5203

[2019-04-09 05:45] kjac commented on #5198
Oh and thanks for reporting, @alicia123456 👍

[2019-04-09 05:46] pralthom commented on #5191
Thank you @Shazwazza for your detailed answer.
I hope it's going to make it into the build for the 8.0.2 as I use the Multinode Treepicker in a property editor I developed and it's crashing when the code is build for release.

Have a great day!

[2019-04-09 06:10] zpqrtbnk commented on #5170
It is 'bad' that the "current culture" name is `model.Name` but "another culture" name is `model.GetCulture(culture).Name` - already seeing questions and "what were you thinking" about this. One unique `model.Name(culture)` would be simpler.

[2019-04-09 06:10] zpqrtbnk commented on #5170
And don't mention the `.Url`, `.GetUrl` etc situation

[2019-04-09 06:12] zpqrtbnk commented on #5184
would love to get rid of CSV, don't see the value of it and it makes everything more complex

happy to help write a migration

as for #5183 it's in review now!

[2019-04-09 06:39] BatJan commented on #5184
Sounds good - I'll give it a go once my schedule allows for it 👍

[2019-04-09 06:55] FransdeJong commented on #5170
If the properties give me weird results I would rather not have them at all. It confused my colleague who is starting with Umbraco and it also took me a while to find out there suddenly is a difference between the property and the method.

In V7 it was a logical choice to get the default set ready because if I get the IPublishedContent for a node I was for shure going to work with that "variant".

[2019-04-09 07:27] Rann1 commented on #4666
That worked, luckily, thanks! ;-)
Hoping that will remain in future versions, as it's a great option to have both functionality in the media.. You want dropdowns, **and** the view on the right where you can upload the files..

Still odd though, when you **Copy** the original **Folder Mediatype**, it doesn't get the same functionality.

[2019-04-09 08:25] mattbrailsford opened #5204 "v8: Add varchar(max) support"
We need to be able to support NvarcharMax for SQL server in Umbraco. Currently there isn't any support for this in the code, only NText which is deprecated.

We need to somehow support NvarcharMax but also keeping in mind that however this works would need to fallback to NText for SqlCe.

The migration syntax would need to support NvarcharMax along with DTO attributes.

## Original post:

In v8 th

[2019-04-09 08:35] mattbrailsford commented on #5204
If I'm understanding the code right, I think there is a workaround for now and that is to use the `.AsCustom` method with a value of `.AsCustom("nvarchar(max)")`

[2019-04-09 08:37] zpqrtbnk commented on #5170
Exactly - but then the required changes are breaking changes, breaking the *very* exposed `IPublishedContent` interface - don't think we have a choice really, and I *do* want them done, but it leads us to... what breaking changes are acceptable in 8.1, when, how should we communicate about them, etc.

[2019-04-09 08:56] FransdeJong commented on #5170
If I look back at V7.6, V7.6.3 and specifically V7.0.0 to 7.0.1 it's not a problem to add a breaking change if you document the solution in the version specific update guide.

[2019-04-09 09:51] #5183 closed

[2019-04-09 10:01] GarriHov opened #5205 "Getting runtime error when calling GetGridHtml outside view"
Hi,

In order to access grid html content outside razor view have tried following workaround to create fake view based HttpHelper:

[code]
Now, I'm getting this error "The RouteData must contain an item named 'controller' with a non-empty string value".

I've also tried to add controller routedata in view context, but still getting same error.

Basically, this issue is related to the following top

[2019-04-09 10:41] ronaldbarendse opened #5206 "Umbraco exposes all tags publicly by default"
Umbraco provides a `TagsController` (an `UmbracoApiController`) by default that allows to publicly query all tags within the site with a simple GET-request, e.g. `https://umbraco.com/umbraco/api/tags/GetAllTags`.

The controller is available in both Umbraco 7 & 8, although it is moved in V8:
- https://github.com/umbraco/Umbraco-CMS/blob/v7/dev/src/Umbraco.Web/WebServices/TagsController.cs
- https:

[2019-04-09 12:32] tta-appstract opened #5207 "V8: Umbraco support for AzureAD"
UmbracoCms.IdentityExtensions.AzureActiveDirectory is currently not supported by Umbraco v8.

`Severity	Code	Description	Project	File	Line	Suppression State
Error		Unable to resolve dependencies. 'UmbracoCms.Core 8.0.1' is not compatible with 'UmbracoCms.IdentityExtensions 1.0.1 constraint: UmbracoCms.Core (>= 7.3.0 && < 8.0.0)'.
`

Will this be supported soon?

Thank you

[2019-04-09 13:18] nielslyngsoe commented on #5190
Hi @Shazwazza

My immediate solution is to make sure that we only validate fields that are enabled or in other words and in the scenario that would be: "if a field is invariant then only validate it on the default language".

Seems like the way to go for me, but the server does validate all fields on server-side. Which seems wrong to me, maybe there is something I'm not seeing?

I hoped you could

[2019-04-09 14:20] rasmusjp commented on #4940
PR https://github.com/umbraco/Umbraco-CMS/pull/5209

[2019-04-09 15:40] PeteDuncanson opened #5211 "V8: Add prettier to the javascript gulp task"
As part of #4913 I've added Prettier formatter to the javascript tool chain.

Found my original issue for adding Prettier nearly a year to the day I opened it! Here for reference: https://issues.umbraco.org/issue/U4-11247

I've got prettier added in to the gulp file for the javascript task. It will prettify all the javascript files AND angularjs templates too. While doing so it validates the synta

[2019-04-09 17:46] yaplex commented on #5112
I got the latest dev version from Github and I can't reproduce this issue there, looks like somebody already fixed it.

[2019-04-09 17:54] kjac commented on #5112
Matches my observations as well 👍

[2019-04-09 19:20] #5039 closed

[2019-04-09 19:23] zpqrtbnk opened #5212 "v8 - Remove IsVisible from IPublishedContent"
We can remove it from `IPublishedContent` now that we have it on `IPublishedElement` but that is breaking = 8.1 only

[2019-04-09 19:23] JoseMarcenaro commented on #5035
Hi @zpqrtbnk
Some more info (the exception is being thrown again in my Azure environment).
A log is attached, the same behavior you described happens in the last lines of the log.

Note that in this case:
* This is not some kind of "race condition": *twelve minutes* passed between the first lock acquire and the following attempt.
* There is no lock release in the entire log file.

[UmbracoTraceLog

[2019-04-09 19:25] zpqrtbnk commented on #5212
Done with commit e540a4ac2309bfb669ca5982f2ac0ce0e0d19423.

[2019-04-09 19:26] #5212 closed

[2019-04-09 20:14] JoseMarcenaro commented on #5035
@zpqrtbnk  - I could further isolate the problem.

I performed the following steps:
* at 19:33 GMT stopped the "stage" slot and deleted the log file
* then I started the app and got into Umbraco - that is the start of the attached log file, at 19:35
* then I "went to play outside" and did nothing with the app for twenty minutes (I am the only user, for now). I checked the log, and nothing had happ

[2019-04-09 20:56] reillydom opened #5214 "V8: Multi content picker as Macro parameter is not allowing multiple items to be selected"
When you select a Multi content picker as Macro parameter and then attempt to use this within a macro, it only allows you to select one item.
Checking the model output, you can see that the 'multiPicker' property within the model is false.

Reproduction
------------

### Specifics

Version 8.0.1

### Steps to reproduce

1) Create a new macro(or edit an existing one)
2) Add a parameter and set the

[2019-04-09 20:57] PeteDuncanson commented on #4804
Ok so I've been having a chat with @base33 and we are both keen to get the code base using TypeScript which would allow us to very easily use enums (string ones) for the event names and we can pull those in. That would give us type safety and ease of documentation. Think this would be the way to go with this one.

[2019-04-09 21:05] PeteDuncanson opened #5215 "V8: Get TypeScript support into the build chain so we can start porting over to it"
As part of #4875 and #4913 I'd love us to start using TypeScript (https://www.typescriptlang.org/) in the back office javascript. With a code base this large and complex I think we need to start moving to a way of getting as much automated help as we can to write good stuff.

Originally raised by @base33 on the old tracker (https://issues.umbraco.org/issue/U4-11411) I think now is a great time to

[2019-04-09 21:06] PeteDuncanson commented on #4804
See also #5215

[2019-04-09 22:04] PeteDuncanson commented on #4913
@Shazwazza any chance you could scan through that spreadsheet and if you see anything we shouldn't be touching make a note. That way we can narrow our focus as I've had a few false starts.

In other news @base33 has started on some TypeScript goodness (https://github.com/base33/Umbraco-CMS/commit/eafe988642b8e988ff72f8b1ceba35f415d2c98e#diff-c62b2043de4bd80d1b2b7ca7313f38a6R99) which I'm super kee

[2019-04-09 23:23] FyinInc opened #5217 "Migrate data from Umbraco 7 to Umbraco 8."
Migrate data from Umbraco 7 to Umbraco 8.

Reproduction
------------

### Bug summary

### Specifics

* Umbraco 7.14.0
* Umbraco 8.0.1
* Base install

### Steps to reproduce

- Install latest Umbraco 7
- Point latest Umbraco 8 to Umbraco 7 database

### Expected result

Database is migrate to Umbraco 8

### Actual result

Installer fails to upgrade the database
[UmbracoTraceLog.DESKTOP-KBCNE0R.201

[2019-04-09 23:38] JoseMarcenaro commented on #5035
One last comment about the slot swap process:
the "swapped" Web app remains the same, in the same machine .. but the URLs that hit it change (i.e. from contoso-stage.azurewebsites.net to contoso.azurewebsites.net). I don't know if immediately after the switch the Azure infrastructure sends some kind of wakeup call.

[2019-04-09 23:48] Shazwazza commented on #5204
In v8, seeing as though we've dropped support for MySql it means we only need to have some hacks in place for SqlCe. SqlCe does not support NVarchar max and NText is deprecated on SQL server.

Ideally we would use nvarchar max columns in Sqlserver and only use ntext columns in sqlce

https://stackoverflow.com/questions/2133946/nvarcharmax-vs-ntext

ntext will actually be removed from sql server at

[2019-04-09 23:48] Shazwazza commented on #5204
So keep in mind if you are using nvarchar max - you will need to support ntext as well if you are doing this from a package perspective else it won't work with sqlce