[2019-05-09 14:43] zpqrtbnk commented on #5362
I see what you are doing on the PR. Unfortunately... there is a reason why we refresh the whole branch. Re-publishing a document may change its url segment, hence its url, and the url of all children - that being said it should not impact the content of the contentNu table - maybe we are too agressive.

So I cannot merge the PR "as is" but I do understand the intent and the possible issue (refresh

[2019-05-09 14:58] zpqrtbnk commented on #5431
Some details from the Our thread:

If one captures a property value in a variable... what is captured is the value of the property *for the current culture*. So...

    var label = content.Label;

captures the value of the "label" property for the current culture. Because that property value is contextual. Read the Our thread for more details. To make it short: do *not* capture contextual stuff.

[2019-05-09 15:02] kjac commented on #5436
I'm quite unable to reproduce this on 7.14 or 8.x ... I'm guessing it's been fixed since 7.13. @martinjgriffiths can you verify?

[2019-05-09 16:10] Shazwazza commented on #4144
## User membership provider

These are the default settings that we ship:

[code]

It is highly recommended to leave this as the default setting, we are transitioning away from membership providers which has been done for Users for many versions now. However due to all sorts of backwards compatibility scenarios, we still have to have this hybrid system.

When `allowManuallyChangingPassword` or `us

[2019-05-09 16:25] jfsaliba commented on #4144
@Shazwazza thanks for the detailed write-up! I was mincing terms earlier, I've only been referring to Members (not Users) so your section on Members membership providers is exactly right.

I agree for Members, if an admin user has permission to view and alter the member's information, they should be able to change/set their password straightaway. I always enabled allowManuallyChangingPassword by d

[2019-05-09 19:46] Newnab commented on #4144
Regarding the following:

"Optionally... we can always hide the reset password checkbox for members (just like we do for users), since i would assume that admins wouldn't use this checkbox ever if they can just change a members password. Thoughts?"

My two cents: I feel like your assumption is wrong, and the reset checkbox is a better (and certainly more natural to me) action for admins to take -

[2019-05-10 01:02] Shazwazza commented on #4144
@Newnab thanks for the input! I knew assuming was going to bite me back ;) I agree with you since that is how i personally would want to work but I just assumed that admins might not. It's easier to leave the reset checkbox anyways and provide that option so I won't make any changes there.

@jfsaliba thanks for the feedback too, for now I'm going to leave the default member provider config as-is b

[2019-05-10 01:05] Shazwazza opened #5440 "The default members membership provider config should have allowManuallyChangingPassword=true by default"
There's a bit writeup about the default behaviour of the members membership provider here https://github.com/umbraco/Umbraco-CMS/issues/4144#issuecomment-490968019

It would seem to make a lot of sense to ship the default configuration for the members membership provider with the allowManuallyChangingPassword set to true (NOTE: this is **not** for the users membership provider, just the members me

[2019-05-10 03:53] #3611 closed

[2019-05-10 07:00] mattbrailsford opened #5441 "V8: Dictionary intro paragraph needs updating"
In v8 the dictionary tree has moved to the translations section, however on the edit view for a dictionary item it has an intro paragraph of:

You can add additional languages under the 'languages' in the menu on the left

The bit about adding additional languages is incorrect as I think this is left over from when dictionary was in settings and shared the same tree as the languages tree.

Anywho,

[2019-05-10 07:13] rasmusfjord commented on #5425
Hey Seb

We actually have quite a few big multisite solutions where each site is closed off to each other, but they still share some common content. They use the same doctypes for pages etc, because they are grid pages, so we don't need to seperate them. But when they use blueprints they can see each others.

**Site1**
--- Frontpage (frontpage)
--- Content A (contentpage)
--- Content B (contentpag

[2019-05-10 07:30] kjac commented on #5438
The way I see it, the problem really is you're that not getting the basics down first - i.e. you don't see "Allow varying by culture" before you start adding properties. Everything that comes after that seems to be consequences of that. Maybe I'm over simplifying the issue... but if that's really the case, wouldn't it be an idea to simply add these things to the options when creating something new

[2019-05-10 08:20] Baracuda011 opened #5442 "Update the template after changing the document type model in U8"
Dear all,

Is it possible to update the template allocated to a document type after changing the name and the alias of the document type? To put it simply:

From this:
@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.OldDocumentTypeModelName>

To this:
@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.NewDocumentTypeModelName>

Thanks.

Cheers,
Nemanja.

[2019-05-10 09:10] nielslyngsoe commented on #5438
Hi everyone, thanks for bringing in ideas on the matter. Getting everyones brain working on options, lovely!

My thoughts on the matter (sorry for making such a long description):

Why do we even present the Builder for 'Allow varying by culture' on a Document Type. I dont think it makes sense to provide that option, instead we could just make it determined on wether the DocType has properties tha

[2019-05-10 09:27] nielslyngsoe opened #5443 "V8: Make the save-options available by keyboard"
These options are not available by keyboard, I would love them to be.

![image](https://user-images.githubusercontent.com/6791648/57517104-63a8ea80-7316-11e9-8845-e2c0821006da.png)

[2019-05-10 12:08] marcemarc commented on #5425
Yes; We have the same issue on multi-territory sites - editors login and are restricted by User Groups so they only see their territory/language combination in the content tree.... The site's all have same structure and function ality .. so use the same doc types and templates . Editors are oblivious to other territory content trees... But can see their 'blueprints' which is confusing them when th

[2019-05-10 12:30] nielslyngsoe commented on #4870
I'm giving this a try, testing out some different things in this draft PR: https://github.com/umbraco/Umbraco-CMS/pull/5444

[2019-05-10 16:35] AsmusAB opened #5445 "SavedEntities is identical for ContentService.Saving and ContentService.Saved"
In 7.x it was possible to access the IPublishedContent's properties prior to them being changed and saved, using ContentService.Saving's SaveEventArg's SavedEntities. However now this simply returns the same data as ContentService.Saved's.

I suspect this is a bug since ContentService.Saving is supposed to 'occur before save'

[2019-05-10 18:17] ronaldbarendse commented on #5215
@base33 @PeteDuncanson You might be able to use https://github.com/urish/typewiz to get the initial typings automatically... And probably also import typings for AngularJS, Underscore and jQuery from http://definitelytyped.org.

Regarding the other discussions: I think using TypeScript might actually make it easier to do contributions. As IDEs can give suggestions/auto completion, inline documenta

[2019-05-11 04:59] kjac commented on #5445
If you ask me it sounds more like 7.x had a bug then. Of course it's a matter of perspective, but I would expect the saving event to tell me what's about to be saved - i.e. the property data that _will_ be saved if the event isn't cancelled.

Question then is if ContentService will let you fetch the old entity for comparison?

[2019-05-11 05:24] sitereactor commented on #5445
Is this a question about being able to look up the Published content (IPublishedContent) before the updated content is saved?
The content passed to the Saving and Saved event was the same in v7, but in Saving you could update it and have that change saved as part of 'Saving'. The Saved event is as Kenn mentioned what was actually saved.
But you mentioned IPublishedContent, so maybe its more what t

[2019-05-11 16:34] Matthew-Wise commented on #5277
PR for 27 #5450

[2019-05-11 18:34] paradosb commented on #5445
The general problem was that I have some published content with a media picker attached to it. This content holds a PDF file, which gets updated once in a while. I implemented a system such that I you access an older media item you would be redirected to the newest. In order to do this I added some labels to the media type in order to track if a given media item was the newest.

I was using the Co

[2019-05-12 11:08] kjac commented on #5428
@nielslyngsoe the first part is fairly straightforward within the bounds of the current implementation:

![property-editing-v1](https://user-images.githubusercontent.com/7405322/57581348-7bb77000-74b6-11e9-956e-90f27eec0a71.gif)

Adding the confirm dialog on "Close" however means adding a whole lot of hard coded property/data validation, which is likely to be an annoyance down the road as property

[2019-05-12 14:14] mattbrailsford opened #5451 "V8: Issue with registering auto mapper profile with same name as a core mapper profile class"
In TC for v8, I have my own entity base classes and so, when it comes to mapping these to view models, I created a mapper profile class called `EntityMapperProfile` and registered this with the DI container. Everything worked, but then I noticed things like the media pickers started to break.

After looking into this, I noticed that the core also had an `EntityMapperProfile` class and so I wondere

[2019-05-12 14:14] alanmac opened #5452 "Add ability to resolve Health Checks with property types other than a text input"
Currently Health Checks only allow using one property type in the form of a text input to resolve an issue.

I would like Health Checks to allow for using a property type other than a text input to resolve a Health Check issue.

How can you help?
-------------------------------

I am working on a PR to extend resolving Health Checks to other property types, starting with a Content Picker.

This wi

[2019-05-13 05:18] kjac commented on #5451
Hey! AutoMapper will be gone in 8.1 so that's one worry less for you 😊

[2019-05-13 06:46] simonproctor commented on #4138
I've posted this to Umbraco, but in case someone comes here and doesn't see my comment I'll post my own symptoms and diagnosis of the issue.

When I see the white screen of death (WSOD) I've found its because the ASP.NET session ID cookie is missing. This happens when I go straight to /umbraco. Because that cookie isn't set, anything relating to XSRF doesn't seem to work.

Logging in only sets the

[2019-05-13 07:56] nul800sebastiaan commented on #5413
Sounds like a good idea! 👍

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-05-13 08:17] mattbrailsford commented on #5451
@kjac will it? How come? What's replacing it?

[2019-05-13 08:22] kjac commented on #5451
In an effort to boost startup time it's being replaced with UmbracoMapper

[2019-05-13 08:23] mattbrailsford commented on #5451
@kjac hmm, I'm not familiar with it that much. Is it usable outside of en Umbraco context?

[2019-05-13 08:38] kjac commented on #5451
@mattbrailsford it's publicly available (`Umbraco.Core.Mapping.UmbracoMapper`). As for bootstrapping and usage I'd advise you to have a look at the source for vLatest and maybe also poke @zpqrtbnk for details.

Or you could simply choose to bundle AutoMapper with TC, that's entirely feasible too.

[2019-05-13 08:40] leekelleher commented on #5451
Cross-linking with #5087 for reference.

[2019-05-13 08:49] mattbrailsford commented on #5451
@kjac is this based on Andy Butlands UmbracoMapper? or is it a HQ developed thing?

[2019-05-13 09:06] kjac commented on #5451
@mattbrailsford it's homegrown from HQ 😄

[2019-05-13 10:30] nul800sebastiaan commented on #5436
I also can't repro on 7.14. I'll close this for now but feel free to re-open if you have reproduction steps on 7.14.

[2019-05-13 10:30] #5436 closed

[2019-05-13 10:35] nul800sebastiaan commented on #5441
👍
I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-05-13 11:56] nul800sebastiaan commented on #5452
Hey @alanmac - it's cool that you want to work on something, but can you first explain why it is you want this, what will this solve? Then we can provide some HQ feedback on your proposal to see if it's something we also want in core.

[2019-05-13 11:57] nul800sebastiaan commented on #5452
It's mostly this part I don't understand, examples would be very helpful:

[2019-05-13 14:23] alanmac commented on #5452
Hi @nul800sebastiaan,

Giving some context would help for sure :smile:

I want to create a health check that prompts the user to verify that a piece of content exists for the website (e.g. a Privacy Policy). This needs a content picker to give a good experience of resolving the health check.

At the moment there is a 'Notification Email Settings' Health Check that accepts user input into a texbox.

[2019-05-13 19:19] soreng commented on #5442
well... the template assigned, could be something shared (think of an "article" template, used by "NewsStory" and "BlogPost"). There would definetly need to be some checks in place for this to make sense.

It's a nice idea, but maybe it could be "handled" by building the views of your website?

[2019-05-13 20:57] ashx1 opened #5453 "Saving Members with custom properties to a different database."
At the moment I can implement a Custom Membership Provider which can cater for saving Members to a separate database than that of the Umbraco database.

Only the default properties can be saved to a separate database using the Custom Membership Provider.

Is it possible to also save extra added properties to a separate database using the custom membership provider?

Thanks.

[2019-05-14 05:01] Baracuda011 commented on #5442
@soreng in my case it was a home page document type/template combo which I had to change when the client decided to introduce another language. And the request was specific so it was better for me to split this to two than to introduce a lot of conditions.

[2019-05-14 07:02] kjac commented on #5403
Nice one! I found the issue. Good news is the fix includes saving an xhr 😊 I'll push a PR soon as I'm near some decent network connection.

[2019-05-14 07:49] kjac commented on #5403
My bad. It didn't solve the problem... it was just another, less noticeable bug (see #5454). I'll see if I can track this one down later.

[2019-05-14 08:34] electricsheep commented on #5403
The flicker seems to be caused by the `display:none;` that is set for `.ng-animate`. I found a fix for this by adding
[code]
to `animations.less`.

However, it doesn't quite work perfectly - when you switch from a child node to a parent (e.g. Todo list -> About Us), both nodes are visibly highlighted at the same time for a brief moment. Whereas if you switch between sibling nodes, only one node is

[2019-05-14 09:17] deMD opened #5455 "Exception running build/ps1 on v8/dev branch"
When trying to build the source on my local machine I get an exception running the build.ps1 script refering to compile belle:
[code]

### Steps to reproduce

- Fork the repository,
- check out the v8/dev branch
- run build.ps1 from the source folder as described in build,md

I also added the belle.log but I can't find anything specific in it.
[belle.log](https://github.com/umbraco/Umbraco-CMS/fil

[2019-05-14 09:20] nul800sebastiaan commented on #4977
@Lars-OJ Can you provide the grid config file which contains that piece of javascript? I'm not sure how you're making that dialog appear (hint: I'm not very familiar with all the ways that the grid can be customized). We'll need to be able to reproduce this somehow.

[2019-05-14 09:25] nul800sebastiaan commented on #4800
We've restructured and updated everything since then, I'll close this one.

[2019-05-14 09:25] #4800 closed

[2019-05-14 09:29] nul800sebastiaan commented on #4972
As Niklas mentioned, this should be fixed in 8.1.0

[2019-05-14 09:29] #4972 closed

[2019-05-14 09:29] nul800sebastiaan commented on #4972
I'll mark as duplicate of https://github.com/umbraco/Umbraco-CMS/issues/5075

[2019-05-14 10:08] zpqrtbnk commented on #5451
"UmbracoMapper" is a very basic mapping system where mappings have to be explicitely coded. In fact, "UmbracoMapper" is just the plumbing giving access to the custom mapping functions that people need to write. It is convenient and fast for some use cases, but in other cases people may want to use AutoMapper. This is still totally possible - only, AutoMapper does not come with Umbraco, so you woul

[2019-05-14 10:43] kjsguld commented on #5237
Details as described by EmbraceSBS above, 7.14.0.

[2019-05-14 10:50] nul800sebastiaan commented on #5453
Hey there @ashx1 - we don't have plans to support storing custom properties in a separate database through custom membership providers. We do support the properties that are default for membership providers, as you have noticed.
You'll need to build your own membership provider and editing UI for it.

[2019-05-14 10:50] #5453 closed

[2019-05-14 11:32] #5455 closed

[2019-05-14 11:33] electricsheep commented on #5443
@nielslyngsoe I've created a PR with hotkeys for "Schedule" and "Publish with descendants" (there was an existing shortcut for "Unpublish".

Any preference on the exact shortcuts to use? I've gone with alt+shift+s for "Schedule" and alt+shift+p for "Publish with descendants"

[2019-05-14 11:33] nul800sebastiaan commented on #5455
Weird stuff.. I've put a new `devDependency` in there now, see the related commit. Can you try again please @deMD ?

[2019-05-14 11:36] nul800sebastiaan commented on #5442
I understand and appreciate the feature request @Baracuda011 but as @soreng already mentions, there's not a well-controlled link between templates and doctypes. We'll run into issues having to do regex replacing, not knowing for sure if the template inherits something, maybe you're using an alternative template, and so on. There's too many variables in play which we don't control.

So yep, you'll

[2019-05-14 11:36] #5442 closed

[2019-05-14 11:41] deMD commented on #5455
Perfect. script ran fine now. I even got more output ;)

[2019-05-14 11:53] zpqrtbnk commented on #5431
As per our discussions - this is not an issue anymore really. Closing.
(Blame me and reopen if needed ;-)

[2019-05-14 11:53] #5431 closed

[2019-05-14 15:01] CodeCheetah opened #5459 "ContentService.Saving event redirects when saving is cancelled."
Hi,

When trying to limit a number of children allowed per parent during ContentService.Saving cancel event Umbraco v7.14 tries to redirect to a non existent node with Id: 0

To reproduce I have added a delegate to ContentService.Saving event in my custom ApplicationEventHandler.

`protected override void ApplicationStarted(UmbracoApplicationBase umbracoApplication, ApplicationContext applicationC

[2019-05-14 16:42] electricsheep commented on #5437
@Shazwazza I've just been investigating this - as far as I can see, it's not the Query Builder that is outputting incorrect markup, it's the Insert -> Value modal.

It should be a fairly simple fix to output e.g. `@Model.Name` for standard fields, however there is an extra challenge. Should you still be able add a default value or set a standard field to recursive? These settings rely on `@Model.V

[2019-05-14 19:39] mattbrailsford opened #5462 "v8: dropdownFlexible property editor should not store single value mode value as array"
In the dropdownFlexible property editor, if you configure the editor as `multiple = false` the dropdown only allows selecting a single value, however the single value is stored back on the model as a single item array:

https://github.com/umbraco/Umbraco-CMS/blob/v8/dev/src/Umbraco.Web.UI.Client/src/views/propertyeditors/dropdownFlexible/dropdownFlexible.controller.js#L45

If in single mode, it sh

[2019-05-14 22:06] bjarnef commented on #4867
@nul800sebastiaan I think you can close this one.

[2019-05-14 22:12] bjarnef opened #5464 "v8: Use overlay as confirm when deleting user"
When deleting a user from backoffice it shows a traditional javascript confirm, but it would be great to replace this with an overlay to keep it consistent with rest of the UI.

![image](https://user-images.githubusercontent.com/2919859/57735811-2772e280-76a6-11e9-9d52-ec7d71697dde.png)

similar to when deleting a member from listview.

![image](https://user-images.githubusercontent.com/2919859/57

[2019-05-15 06:57] bjarnef commented on #5464
I think it is fine to use `overlayService`, but instead of we need to define a custom view each time for the simple overlays with a title, description and button text (maybe also button style), can we then instead pass these in as parameter similar to view re-using infinite editors, e.g. "mediapicker".

e.g.
[code]

or

[code]

@nielslyngsoe maybe you have any thoughts on this?

[2019-05-15 08:36] #5190 closed

[2019-05-15 12:52] kjac commented on #5462
This is a pretty good idea 👍 only be mindful it'll break backwards compatibility for concrete implementations that are using drop-downs configured as single select (which I reckon will be the most common use if drop-downs).

[2019-05-15 12:57] nielslyngsoe commented on #5443
@electricsheep My issue was meant to say that the menu cant be opened by using the keyboard, and thereby the options cant be accessed by keyboard. But having keyboard shortcuts for the options is also super great

But my though was that you should be able to tab the little arrow next to "Save and publish", and when its in focus you can press the Enter-key to open the menu and tab through the optio

[2019-05-15 23:04] ashx1 opened #5468 "V8: Specific members protection and custom membership provider"
At the moment I am not able to use custom membership provider with Specific members protection.

With the custom membership provider implemented and when going to select which members have access to a page it doesn't call the custom membership provider.

Thanks.

[2019-05-15 23:07] ashx1 opened #5469 "V8: Group based protection and custom role provider"
At the moment I am not able to use custom role provider with Group based protection.

With the custom role provider implemented and when going to select which members groups have access to a page it doesn't call the custom role provider.

Thanks.

[2019-05-16 07:12] zpqrtbnk opened #5470 "v8: Log Viewer can Break"
As reported in [this blog post](http://tooorangey.co.uk/posts/go-figure-8/),

In some (unspecified) situations the logs can get corrupted, and then the log viewer will not display the log overview, but instead some error messages (see image). Need to understand how logs can get corrupted + in any case, should they get corrupted, return better error messages.

![image](https://user-images.githubuse

[2019-05-16 07:16] zpqrtbnk opened #5471 "v8: Configuration, Code vs Config Files"
As reported in [this blog post](http://tooorangey.co.uk/posts/go-figure-8/),

Configuration of various aspects of Core has moved from config files to code. While this can be a Good Thing (config is compiled and thus verified, can have Intellisense in config, etc) it has some drawbacks:
* cannot easily see how a running site is configured (requires access to code)
* cannot change configuration with

[2019-05-16 07:30] zpqrtbnk opened #5473 "v8: Document Published Status can be wrong"
As reported in [this blog post](http://tooorangey.co.uk/posts/go-figure-8/),

Several things here:
* Unpublishing a tree branch only unpublishes the root document of the branch, and the descendants become "not visible due to a parent" but individually still are published.
* A document under an unpublished document should be greyed out in the tree, but is not

As for the second item: this has been

[2019-05-16 07:39] zpqrtbnk opened #5474 "v8: Content Branch Changes are Expensive"
As reported in [this blog post](http://tooorangey.co.uk/posts/go-figure-8/),

Changing the name changes the url, and the url of all descendants, meaning that the 301-redirect mechanism is going to insert database rows for all descendants. **It can be that we do this in a very unefficient way**.

In addition, it may be that we are triggering too many, too large, unnecessary refreshes - see for inst

[2019-05-16 07:54] zpqrtbnk opened #5475 "v8: BackOffice Freezes on Large Operations"
As reported in [this blog post](http://tooorangey.co.uk/posts/go-figure-8/),

Need to focus on the symptoms here: triggering a large amount of changes freezes the backoffice, because the content tree does not load anymore.

I believe the mention of "NuCache.db" here is misleading.
* The ".db" files are low-level files that are managed by a library that supports shared accesses and should not be a

[2019-05-16 08:04] zpqrtbnk opened #5476 "v8: Unexpected ContentService Behavior on Imports"
As reported in [this blog post](http://tooorangey.co.uk/posts/go-figure-8/),

Some questions regarding the report:
* Is the whole import running in a scope / transaction, or are each documents imported individually?
* What happens when Save and Publish fails (what type of error?)

Some questions for us:
* Why would NuCache (the presentation layer) breaks Save and Publish?
* The presentation layer

[2019-05-16 08:14] Shazwazza commented on #5471
Removing config files was a requirement for several reasons for different scenarios:

* some configuration files required you to write c# code anyways and then reference a c# type, so there's not much benefit in having both c# and config when you need to write c# anyways
* some configuration files were convoluted, broken and didn't support the necessary features of the implementation - Examine is

[2019-05-16 08:51] dawoe commented on #5471
I don't think we ever build a project without some custom examine indexes. I think underestimate the usage of custom examine indexes.

And with V8 you need to create your custom indexes through code. And not everybody building websites with Umbraco uses Visual Studio. You take the whole custom index functionality away from them.

Think dashboard configuration would be nice to have back.

Or have a

[2019-05-16 08:56] nul800sebastiaan commented on #5470
This has been fixed already in v8.1.

This should make sure logs don't get corrupt any more: https://github.com/umbraco/Umbraco-CMS/pull/5375
And this one ignores lines it can't read: https://github.com/umbraco/Umbraco-CMS/pull/4858/

[2019-05-16 08:56] #5470 closed

[2019-05-16 09:05] nul800sebastiaan commented on #5452
Ah that is super cool! Go forth and PR! 👍

[2019-05-16 09:06] nul800sebastiaan commented on #5452
By the way, I see you're already doing this for now, but it would be best to target the PR at v8 instead of v7.

[2019-05-16 10:08] electricsheep opened #5478 "v8: Using keyboard to cancel in modal triggers primary action"
### Bug summary

If you have a one of the _Save and publish_ option modals open (i.e. Schedule/Publish with descendants/Unpublish) and tab so that the _Close_ button is focused, hitting Enter will trigger the primary action rather than closing the modal.

### Specifics
- Umbraco v8.1.0
- Chrome 74

![umbraco4](https://user-images.githubusercontent.com/686835/57845723-79ad2400-77ca-11e9-8661-8e3a61

[2019-05-16 10:09] electricsheep commented on #5443
@nielslyngsoe Whoops ok, that makes sense. I have created a new PR so the menu can be tabbed to and triggered.

By the way, I noticed another bug while testing this fix - https://github.com/umbraco/Umbraco-CMS/issues/5478

[2019-05-16 10:24] dawoe commented on #5471
Probably filesystem configuration as well.

We often have a setup where local dev environment uses local file system. And our test, staging and live environment use blob storage. Each with it's own container.

Dave

[2019-05-16 10:24] alanmac commented on #5452
Awesome, with regards to v8 - if I target it at v8 will it also get merged into a v7 release? It should merge into both fine (I've tested it with v8 also) but I need it in v7 as I plan to release a healthcheck into the Community Health Checks package that is only compatable with v7 at the moment. So I need v7 to have this Core change.

[2019-05-16 10:31] marcemarc commented on #5471
Yep big +1 for sorting out the splendid array of different config files, agree lots of things not really making sense, trees.config + applications.config really need you to write code anyway, so much better to all be code!, but in others, as @dawoe says can exclude simple config that implementors could previously make, in the short term - docs can probably rescue that, people not being able to do

[2019-05-16 11:21] nul800sebastiaan commented on #5451
Thanks for the responses everyone, I saw a tweet from Matt reworking his stuff (thank you for your patience!) to not include automapper any more. I'll close this one as I don't think we'll need to spend any more time on it.

[2019-05-16 11:21] #5451 closed

[2019-05-16 11:35] ThatWebCo opened #5479 "Media > Sort dialog: Add an image thumbnail to the sort nodes dialog when sorting media items"
Add an image thumbnail to the sort nodes dialog when sorting media items.

As per Ivan's post here: [https://our.umbraco.com/forum/extending-umbraco-and-using-the-api/78276-icons-for-the-sort-dialog](https://our.umbraco.com/forum/extending-umbraco-and-using-the-api/78276-icons-for-the-sort-dialog).

[2019-05-16 12:17] Lars-OJ commented on #4977
Hi @nul800sebastiaan, We tried to reproduce the issue with version version 8.0.2 but did not succeed. however the problem still exist when opening the related-links dialog instead of the media-picker.
I've attached a .zip file, if you follow the following steps you will be able to reproduce the issue:

- extract the zip in App_plugins folder in a clean Umbraco 8.0.2 project
- create doctype with G

[2019-05-16 12:19] nul800sebastiaan commented on #5459
It just doesn't look like U4-8147 was never fixed. We're happy to see a PR if you would like to work on this though!

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-05-16 12:20] nul800sebastiaan commented on #5462
I'll echo that. Plus I believe it was a deliberate choice so you could easily flip the multiple switch and carry on. Possibly a propertyvalueeditor already "fixes" this for querying, not sure.

[2019-05-16 12:21] nul800sebastiaan commented on #5464
Sound like a good idea!

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-05-16 12:26] nul800sebastiaan commented on #5468
Thanks! This is not a scenario we plan to support unfortunately. You'll have to build your own protection into the pages that require a login.

[2019-05-16 12:28] kjac commented on #5478
Yeah... this is annoying. PR #5463 aims to solve it.

[2019-05-16 12:29] nul800sebastiaan commented on #5468
Ah, I misread this one, I'll need to ask at Umbraco HQ.

This relates directly to #5469

[2019-05-16 12:33] marcemarc commented on #5470
this was the error in the log file on disk that I think was causing the issue with the logs not loading:

{"@t":"2019-05-14T10:03:52.3403572Z","@mt":"Unhandled controller exception occurred for request '{RequestUrl}'","@l":"Error","@x":"Newtonsoft.Json.JsonReaderException: Unexpected character encountered while parsing value: W. Path '', line 0, position 0.\r\n   at Newtonsoft.Json.JsonTextReader.

[2019-05-16 12:34] kjac commented on #5478
And also #5461 which fixes the unintentional triggering of the secondary action in "Unsaved changes"

[2019-05-16 12:36] marcemarc commented on #5473
I think it is a V7 thing, but in combination with not being greyed out, the message says it's published but not visible - so I think if it's greyed out - then you never check the message!

[2019-05-16 12:37] kjac commented on #5479
This might be a good extension to #5465

[2019-05-16 12:38] mattbrailsford commented on #5451
@nul800sebastiaan that's correct. I've completely stripped out the use of a mapper now and am doing everything manually so it's no longer an issue for me now. There is an interesting question about what this does for package devs though, given then now all either need to go manual or import they own mapper framework so could result in more issue, but I guess that's a different issue to discuss 😁

[2019-05-16 12:40] mattbrailsford commented on #5462
@nul800sebastiaan there is a bunch of code in that property editor though that seems to be capable of switching between a single value and an array though so I do think it's been built to be able to be switched, but for some reason, even though it can handle switching, for single item mode it still stores it in an array.

[2019-05-16 12:47] Vaishnavi6121995 commented on #4700
Hi,
I want to do filter on data comes from the query builder . Please help me out. The query builder drop down only gives 4 options but I want to compare with other field then how can I applied it.

` var selection = Umbraco.Content(Guid.Parse("3758071d-10c8-4890-b680-64f43a7b4149"))
    .Children("vehicles")
    .Where(x => x.IsVisible())
    .OrderByDescending(x => x.Id);`

[2019-05-16 13:18] VyasPrachi commented on #4700
Hi,
I want to do filter on data comes from the query builder . Please help me out. The query builder drop down only gives 4 options but I want to compare with other field then how can I applied it.

` var selection = Umbraco.Content(Guid.Parse("3758071d-10c8-4890-b680-64f43a7b4149"))
    .Children("vehicles")
    .Where(x => x.IsVisible())
    .OrderByDescending(x => x.Id);`

[2019-05-16 13:44] nul800sebastiaan commented on #5479
I'm not sure if you can sort yet in the media listview, thought that was possible would be good if someone could try that out.

Other than that, I'll have a chat at HQ about this and see how we would like this one to progress.

[2019-05-16 13:50] kjac commented on #5479
@nul800sebastiaan you can sort items in media using the sort dialog from the tree 😄

[2019-05-16 14:17] kgiszewski commented on #5471
In DI world you can do both each with pros and cons.

Via compiled code gives a higher degree of accuracy (intellisense, static compiler checking, etc) whilst obvs requiring code access.

Via a config you can make fast changes risking quality (typos, incorrect namespacing, renamed things that don't get caught). Config also means you can "late bind" and make quick changes without a recompile.

In t

[2019-05-16 14:26] Shazwazza commented on #5471
All great feedback and there's many options and much to discuss, pros/cons, etc... as there is such a variety of things that are different in v8 from v7 and documentation is certainly still missing. When we start thinking of transitioning beyond .NET Framework, where config transforms don't exist, etc... we will have to think of current ways that achieve these things such as environment variables,

[2019-05-16 14:57] mattbrailsford opened #5481 "v8: Should the Current service locator be in the root namespace?"
Just a thought, if the `Current` service locator is meant to be a simple entry point to access services, would it make more sense for it to exist at the root namespace? rather than inside composing? I'm thinking it would make it easier to find, or "locate" if you will 😂

*Ensue the comments that we shouldn't be using a service locator at all so stop trying to make it easier for people to use*

[2019-05-17 10:19] kjac commented on #5464
I'll have a look at it 👍

[2019-05-17 11:07] kjac commented on #5464
PR in #5482

[2019-05-17 19:09] Dallas-msc opened #5483 "Pasting from Word into RTE deletes text"
Pasting from Word into the Rich Text Editor will remove italicized text preceding a period when it is in a bullet.

Reproduction
------------

Copying text from Word into the Rich Text Editor will remove text when:

- The text is in a bullet
- The text is italicized
- The text is preceding a period

When these criteria are met the italicized text will not be in the RTE after pasting. For example t

[2019-05-17 19:41] stherm opened #5484 "V8 : Back office freeze when opening multiple content nodes"
When opening multiple node in a tree view in the backOffice At some point the back office stop.

Reproduction
I have Contents that are kind of a tree, so multiples root,multiple childs and the child have multiple childs and so on.

If I start to open all childs, at some point the back office will just stop rendering and freeze. The only way to resolve it is by refreshing the page.

I've teste with

[2019-05-17 20:34] brreisner commented on #5035
Any update on this issue? Does 8.0.2 seem to have resolved the issues for people?

[2019-05-17 20:47] Baracuda011 opened #5485 "U8 Macros alphabetical order"
Dear all,

Can you please update the list of macros in the dashboard to be displayed alphabetically? It would also be very useful and would improve overall UX if you can group macros into folders.

Thank you.

Regards,
Nemanja.

[2019-05-18 02:06] Swimburger commented on #4512
@nul800sebastiaan I just ran into the same issue with 'key', can we have the Umbraco interface prevent us from using those alias's?
I currently have a conflicting alias but I'm afraid to change it since we already have content using the field.

[2019-05-18 09:47] bjarnef opened #5486 "v8: Drawer in overlay is no longer fixed at bottom"
After some of the latest changes the drawer in overlays is no longer fixed at bottom.

![image](https://user-images.githubusercontent.com/2919859/57967738-bf045980-7962-11e9-9643-c9b886c3bc5b.png)

[2019-05-18 10:47] bjarnef commented on #5464
I have submitted a PR https://github.com/umbraco/Umbraco-CMS/pull/5487 which use a different approach to solve this and which I think is a bit simpler and doesn't introduce a new service. It is also possible just the omit  view or specify `view: "default"` which use default overlay, which basically just output `model.content` in the overlay.

[2019-05-18 11:13] bjarnef commented on #5486
It seems someone has removed `height:100%` from overlay style.

Before
[code]
![image](https://user-images.githubusercontent.com/2919859/57968749-be71c000-796e-11e9-9f05-7dbba2b06c72.png)

Now

[code]

![image](https://user-images.githubusercontent.com/2919859/57968750-bf0a5680-796e-11e9-8b79-3b36bbcffa08.png)

[2019-05-18 11:45] bjarnef opened #5489 "v8: Gap left to actions button"
After some of the latest changed the actions menu button now have a gap left to button, which one will notice when the button and pushed (active state).

![image](https://user-images.githubusercontent.com/2919859/57969095-262a0a00-7973-11e9-8bda-818c6047f660.png)

[2019-05-18 11:48] bjarnef commented on #5489
Not sure if `.umb-button` be default should have margin-left.

Maybe it is enough adding `.umb-editor-footer .umb-button { margin-left: 5px; }`

[2019-05-19 06:00] kjac commented on #5462
@mattbrailsford I think I misunderstood your initial description... I thought you meant that the property editor value converter didn't convert to `string` for single value mode. But clearly it does that already 😄

![image](https://user-images.githubusercontent.com/7405322/57978335-d77c7e80-7a0b-11e9-9bc3-c44a69a72a6a.png)

Could you please elaborate on why it's important how the internal data rep

[2019-05-19 10:46] emmaburstow commented on #2919
hello world

[2019-05-19 13:10] poornimanayar commented on #2919
hello world

[2019-05-19 13:30] emmaburstow commented on #2919
Hi there,

We’re writing to let you know that we’ve added the help wanted label to your issue. What this means is a bunch of things. If there are any changes to this status, we’ll be sure to let you know.

Thanks,

Your friendly PR team bot

[2019-05-19 13:33] poornimanayar commented on #2919
Hi there,

We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll be sure to let you know.

Thank you from your friendly PR team bot :-)

[2019-05-19 13:36] mattbrailsford commented on #5462
@kjac because prop editor views can be reused elsewhere but they don't necessarily run the value converters. I'm my use case, I have payment providers with custom properties that can be edited. Obviously, it would make a lot of sense if these could reuse the property editor views, but as it stands, I can't use the dropdown because my model expects a single value, but the dropdown prop editor retur

[2019-05-19 14:52] poornimanayar opened #5493 "Retreat : Test issue"
Test issue for retreat

Reproduction
------------

If you're filing a bug, please describe how to reproduce it. Include as much
relevant information as possible, such as:

### Bug summary

### Specifics

### Steps to reproduce

### Expected result

### Actual result

[2019-05-19 14:54] poornimanayar commented on #5493
<p>Hi there,</p>

<p>We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll be sure to let you know. </p>

<p>Thank you from your friendly PR team bot :-)</p>

[2019-05-19 14:57] stodolos commented on #5035
I still came across this issue in 8.0.2.  The folder naming is better (b/c it uses the process ID), but the same process must be trying to access that file more than once.  I wonder if something like an epoch date value or a GUID would be possible as to avoid file name collision.

[2019-05-19 15:29] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:29] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:29] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:29] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:29] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:29] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:29] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:29] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:29] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:29] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:29] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:29] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:29] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:29] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:29] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:29] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:30] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:31] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:32] poornimanayar commented on #5493
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:33] poornimanayar commented on #5184
<p>Hi @OurUmbraco.Our.Models.GitHub.User,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll b

[2019-05-19 15:35] poornimanayar commented on #5184
<p>Hi @BatJan,</p>

<p>We’re writing to let you know that we’ve added the Up For Grabs label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll be sure to let you know. </p

[2019-05-19 15:42] poornimanayar commented on #5184
Hi @BatJan,

We’re writing to let you know that we’ve added the `Up For Grabs` label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll be sure to let you know.

Thank you

[2019-05-19 16:32] poornimanayar commented on #5184
Hi @BatJan,

We’re writing to let you know that we’ve added the `Up For Grabs` label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll be sure to let you know.

Thank you

[2019-05-19 16:33] poornimanayar commented on #5184
Hi @BatJan,

We’re writing to let you know that we’ve added the `Up For Grabs` label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll be sure to let you know.

Thank you

[2019-05-19 16:35] emmaburstow commented on #5184
Hi @BatJan,

We’re writing to let you know that we’ve added the `Up For Grabs` label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll be sure to let you know. test.

Than

[2019-05-19 17:13] emmaburstow commented on #5184
Hi @BatJan,

We’re writing to let you know that we’ve added the `Awaiting Feedback` label to your issue.  Of course, please feel free work on this yourself ;-).  We have requested more information on this issue but have not heard back from you. We’ll give you a while longer but if the issue still has this status in 2 weeks, it will automatically be closed.If there are any changes to this status, w

[2019-05-19 17:13] emmaburstow commented on #5184
Hi @BatJan,

We’re writing to let you know that we’ve added the `Awaiting Feedback` label to your issue.  Of course, please feel free work on this yourself ;-).  We have requested more information on this issue but have not heard back from you. We’ll give you a while longer but if the issue still has this status in 2 weeks, it will automatically be closed.If there are any changes to this status, w

[2019-05-19 17:15] emmaburstow commented on #5184
Hi @BatJan,

We’re writing to let you know that we’ve added the `Up For Grabs` label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll be sure to let you know.

Thank you

[2019-05-19 17:18] emmaburstow commented on #5184
Hi @BatJan,

We’re writing to let you know that we’ve added the `Up For Grabs` label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll be sure to let you know.

Thank you

[2019-05-20 01:22] poornimanayar commented on #5184
Hi @BatJan,

We’re writing to let you know that we’ve added the `Up For Grabs` label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll be sure to let you know.

Thank you

[2019-05-20 07:31] emmaburstow commented on #5184
Hi @BatJan,

We’re writing to let you know that we’ve added the `Up For Grabs` label to your issue. We feel that this issue is ideal to flag for a community member to work on it. Once flagged here, folk looking for issues to work on will know to look at yours. Of course, please feel free work on this yourself ;-).  If there are any changes to this status, we’ll be sure to let you know.

Thank you

[2019-05-20 07:31] emmaburstow commented on #5184
Hi @BatJan,

We’re writing to let you know that we’ve added the `Awaiting Feedback` label to your issue.  Of course, please feel free work on this yourself ;-).  We have requested more information on this issue but have not heard back from you. We’ll give you a while longer but if the issue still has this status in 2 weeks, it will automatically be closed.If there are any changes to this status, w

[2019-05-20 10:08] emmaburstow commented on #5184
Hiya @BatJan,

Just wanted to let you know that we looked at this issue and decided to apply the 'Up For Grabs' label. It's ideal for a community member to work on and so categorizing it as such means that others will see it when they're looking to contribute to the repo. Unless, of course, you fancy doing the work yourself. If so, enjoy! If the status changes for any reason, you'll get another co

[2019-05-20 15:35] emmaburstow commented on #4655
Hey Matt - I'm just testing something out and need an issue to use as a place to do that so please don't be alarmed if some notifications pop up over here. :)

See you soon!

Em

[2019-05-20 16:13] emmaburstow opened #5495 "Retreat: Test HQ Discussion label issue"
Test issue for automation of comments PR label bot

[2019-05-20 16:13] emmaburstow opened #5496 "Retreat: Hot topic slack integration test"
Test for hot topic slack integration

[2019-05-20 16:15] lssweatherhead commented on #5496
This is going to be a hot topic

[2019-05-20 16:15] lssweatherhead commented on #5496
Everyone will be talking about it

[2019-05-20 16:15] LottePitcher commented on #5496
I have some pretty strong views about this topic

[2019-05-20 16:15] lssweatherhead commented on #5496
I don't know... I think mine and stronger

[2019-05-20 16:15] LottePitcher commented on #5496
You're probably right

[2019-05-20 16:16] LottePitcher commented on #5496
@lssweatherhead you know, the more I think about it, I think we both have a valid view point

[2019-05-20 16:16] lssweatherhead commented on #5496
I'm glad that we agree. Very hot!

[2019-05-20 16:16] LottePitcher commented on #5496
Agreed!  Hot all round

[2019-05-20 16:17] LottePitcher commented on #5496
#cgrumours this is going to make the keynote

[2019-05-20 16:17] LottePitcher commented on #5496
we should really ask the rabbit for its feedback

[2019-05-20 16:18] emmaburstow opened #5497 "Retreat: Test Awaiting Feedback issue"
Test issue for awaiting feedback label

[2019-05-20 16:21] emmaburstow opened #5498 "Retreat: Test issue for release label"
Test issue for release comment automation

[2019-05-20 16:22] LottePitcher commented on #5496
one more for good measure ;-)

[2019-05-20 16:23] poornimanayar commented on #5496
may be we should get cgtrump to talk about it

[2019-05-21 07:40] mzajkowski opened #5499 "Make it possible to do sorting on a mobile device (touch)"
Sorting of the content nodes is not possible on the mobile devices.

It's currently tested only on 7.7.13.

Reproduction
------------

Open Umbraco backoffice on a mobile device (Android Smartphone tested so far) and try to sort content nodes for the specific parent page.

Touch events are not handled? Sorting is not possible.

[2019-05-21 08:40] #5363 closed

[2019-05-21 08:40] nul800sebastiaan commented on #5363
Fixed in #5398

[2019-05-21 08:41] nul800sebastiaan commented on #5220
Fixed in #5398

[2019-05-21 10:43] kjac commented on #5462
@mattbrailsford I get your point, I really do... but I believe this will only leads us to having more code dealing with property data conversion and management.

You can't move it entirely from the value converter to the client code; at the very least the value converter needs to be conscious about what type to return based on property config or property data, whichever is the case for the concret

[2019-05-21 13:30] stherm commented on #5484
For more information, here is the javascript profiler
![image](https://user-images.githubusercontent.com/1386693/58100130-08df8080-7bab-11e9-80d2-83b994d9000a.png)

I've check and the problem doesn't weems to be DB related

[2019-05-21 14:18] croban opened #5501 "Content/Media Tree is refreshing if user does not have group with explicitly defined start node"
Umbraco: 7.11.0
Content/Media tree is reloaded (closed) every time user select a node, if user have defined start node on second level and his group does not explicitly defined start node.

Reproduction
------------
Create root node and some structure live below
- root-1
--root-1-1
---root-1-1-1
---root-1-1-2
---root-1-1-3

Create usergroup just with update/save/publish rights and set content area

[2019-05-21 14:43] ragivi opened #5504 "Manual sorting of the images in Multiple Media Picker doesn't work in Umbraco 8"
I want to sort the images in a Multiple Media Picker but it doesn't work.

The version of the application is Umbraco 8.0.2

[2019-05-21 15:09] nul800sebastiaan commented on #5483
Hey @Dallas-msc - thanks for the report.

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-05-21 15:11] nul800sebastiaan commented on #5484
@stherm I am not sure what you mean with the nodes being "open"? Do you mean that when you expand 26+ tree items the backoffice stops responding in your browser?

[2019-05-21 15:16] nul800sebastiaan commented on #5485
Hey there @Baracuda011 - can you be a bit more specific where you see this list of macros? And where in the interface do you want them to be grouped in folders? Screenshots would help.

FYI: macros are a bit old-fashioned these days and are mostly only useful when putting blocks of functionality in  rich text editors. I'd recommend you think about why you need many macros and if there's not a bett

[2019-05-21 15:19] stherm commented on #5484
Basically yes. I'm just expanding the tree and at some points, the browser freeze. It's not always at the same number of node/document. but I eventually get it to completely freeze in under 50 nodes

[2019-05-21 15:21] nul800sebastiaan commented on #5489
Oh no! Maybe @nielslyngsoe can give some guidance, but it would be great if you could create a quick PR when you have a moment? :-D

[2019-05-21 15:25] nul800sebastiaan commented on #5499
This has never been a feature to be honest. We won't be fixing this in v7 since that code is pretty old webforms stuff. In v8 this is nicely Angularized so we could have it fixed there.

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-05-21 15:27] #5501 closed

[2019-05-21 15:38] nul800sebastiaan commented on #5504
This seems to work on the latest code, so should work in the upcoming 8.1.0.

I also just tested it in 8.0.2 and it seems to work for me, might be something in your install. Let us know if you have detailed steps to reproduce the problem on a clean version of 8.0.2.

![image](https://user-images.githubusercontent.com/304656/58110150-46fe9380-7bef-11e9-85bc-3ce0172bcc46.png)

[2019-05-21 18:07] AlexandreLocas opened #5505 "v8 : UmbracoApplication.OnApplicationError does not get triggered when a boot failed error happens"
When a "Boot failed: Umbraco cannot run." exception happens, UmbracoApplication.OnApplicationError does not get called. We need a way to deal gracefully with this type of exception so that end-users do not see the yellow screen of death.

[2019-05-22 08:33] ragivi commented on #5504
Hi @nul800sebastiaan

I think we're not in the same view or field, I'll give you an example of what I mean.

Thanks!

![image](https://user-images.githubusercontent.com/2657922/58159558-1107f080-7c7d-11e9-995c-ddb36fab4b54.png)

[2019-05-22 11:19] miackers commented on #4649
One quick thing to note to those that also land on this page - mine wasn't working (Umbraco v8.0.2), and the cause was that the page (content type) had language variants enabled, but the umbracoUrlName didn't (had a look at the source to figure this one out)

[2019-05-22 12:43] #5393 closed

[2019-05-22 13:09] Geckex opened #5507 "Member Edit - Member Groups - Ordered Alphabetically v7"
Editing a member - Properties tabs -
"Not a member of group(s)" and "Member of group(s)" - both lists are in order of node sort order.
More helpful for users to have in alphabetical order.
Saw related issue: U4-10027 - but appears not fixed (version 7.12.4)

[2019-05-22 15:33] simonproctor opened #5509 "Navigating directly to '<website>/umbraco' fails to set the ASP.NET session cookie"
When running the site locally or on Umbraco Cloud, editors will bookmark the back office and go there directly.

If they've not already visited the front end of the site, the ASP.NET session cookie isn't present. This causes the screens, post login, to fail cross site validation checks and 417 error codes are thrown ni the developer console.

This can be immediately remedied by going back to the f

[2019-05-22 19:46] brreisner commented on #5035
@zpqrtbnk any details from your side? Should this issue be resolved now or in an upcoming release.  Are we even certain on the cause?

[2019-05-22 20:00] jsmilovic opened #5510 "Content Cache stale after Publishing"
I'm hooking into the Published Event and having to publish content twice in order to get the data due to the content cache being stale.

Reproduction
------------

To reproduce this bug you should
1.  Create an ApplicationEventHandler
2.  Subscribe to the Published Event
3.  Add some code to pull the content from the content cache e.g.                  ```IPublishedContent content= umbHelper.Typed

[2019-05-22 20:13] mhamel commented on #4788
Hi,
I'm with 8.0.2 and same problem.  Anything on this?

[2019-05-22 20:15] mhamel commented on #4788
)]}',
{"Message":"An error has occurred.","ExceptionMessage":"Value cannot be null.\r\nParameter name: path2","ExceptionType":"System.ArgumentNullException","StackTrace":"   at System.IO.Path.Combine(String path1, String path2)\r\n   at Umbraco.Web.Editors.ContentTypeController.<Upload>d__24.MoveNext()\r\n--- End of stack trace from previous location where exception was thrown ---\r\n   at System.

[2019-05-22 20:16] mhamel commented on #4788
Value cannot be null.\r\nParameter name: path2","ExceptionType":"System.ArgumentNullException","StackTrace":"   at System.IO.Path.Combine(String path1, String path2)\r\n   at Umbraco.Web.Editors.ContentTypeController.<Upload>d__24.MoveNext()\r\n--- End of stack trace from previous location where exception was thrown ---\r\n   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()\r\n

[2019-05-22 20:16] mhamel commented on #4788
"ExceptionMessage":"Value cannot be null.\r\nParameter name: path2","ExceptionType":"System.ArgumentNullException","StackTrace":"
at System.IO.Path.Combine(String path1, String path2)\r\n
at Umbraco.Web.Editors.ContentTypeController.<Upload>d__24.MoveNext()\r\n---

[2019-05-22 21:02] #5486 closed

[2019-05-22 21:02] nul800sebastiaan commented on #5486
Fixed in #5488

[2019-05-23 14:37] mhamel commented on #5202
Why this bug is closed?  It's not working on 8.0.2

[2019-05-23 17:30] bmargevicius opened #5512 "SmtpClient is obsolete - replace with MailKit"
I am not sure if this is a feature request or a bug. Since nothing is broken I am leaning toward feature request.

Per documentation of Microsoft. SmtpClient is obsolete.
https://docs.microsoft.com/en-us/dotnet/api/system.net.mail.smtpclient?view=netframework-4.7.2

SmtpClient is used in two files:
https://github.com/umbraco/Umbraco-CMS/blob/v8/dev/src/Umbraco.Core/EmailSender.cs#L70
https://githu

[2019-05-23 18:07] tomwidel opened #5513 "Copy events modify properties of Copy/Original objects as if they were the same instance"
Using Umbraco **v8.0.2**

Copied/Copying events modify properties of Copy/Original objects as if they were the same instance.

The issue occurs during handling of **ContentService.Copied** and/or **ContentService.Copying** events.

Assigning a value to either **e.Copy** or **e.Original** object via **SetValue()** method updates values of both objects as if they were the same instance.

I believe t

[2019-05-23 20:39] brreisner commented on #5035
This issue occurred for us with a single node app service plan, no slots, with app insights and appinit enabled.  Running on 8.0.2 as well.

This course focuses on running Umbraco 8 load balanced in Azure Web apps and calls out using app insights:  https://umbraco.com/blog/introducing-a-brand-new-umbraco-training-course-load-balancing/

Seems like its something that should work.  Very concerning,

[2019-05-23 22:33] JoseMarcenaro opened #5514 "v8: misleading documentation of editorService.open"
v8 API documentation when describing the editorService.open() service incorrectly states:

`@param {String} editor.size Sets the size of the editor ("Small"). If nothing is set it will use full width.`

when actually "Small" does nothing, but "small" (lowercase) does.

This should be fixed in umbraco.services.js - near line 2207
Thanks!

[2019-05-24 07:27] ThomasSkyldahl commented on #5184
Could the tag suggestion be provider based, That would make it great for a lot of other purposes as well. 😃

[2019-05-24 16:31] JoseMarcenaro opened #5515 "Allow passing editorData (aka dialogData) to editorService.open"
The v8 editorService is a great replacement for dialogService, built from scratch to be used all over the backoffice and allowing infinite editing.

There is one feature, though, that seems to have been lost in the trade: the option to pass custom data (formerly 'dialogData') to the overlay controller.

Unless there is a way to do this (I didn't found it) and **if you find this feature useful** I

[2019-05-24 20:09] jerpenol opened #5516 "V8 - Configurable editorService width"
Hi,

I have a custom grid and my gridcontrols make use of infinite-editing. It works perfectly except for one thing: I can only open new overlays "full-width" or "small" and nothing in between.

I would expect to be able to configure the width of a new overlay myself. I see multiple ways to solve this problem (neither of which are currently possible):
1. Add a 'medium' CSS class (or even more vari

[2019-05-25 06:07] AndyButland commented on #5514
This should already be fixed I think - from [this PR](url).

[2019-05-25 06:46] AndyButland opened #5518 "v8 - can't create member in 8.1"
Working with the latest in `v8/dev` branch, so targeting 8.1, found I can't create a member record.  Looks to be because member properties are indicated as supporting variation by culture.

I.e. the `Variations` field in `cmsPropertyType` for all properties with alias starting with `umbracoMember...` is 1.

Looking at `PropertyTypeDto` this value is set to be the default - but the comment seems to

[2019-05-25 08:27] kjac commented on #5518
@AndyButland I can't reproduce 😕 how does the error manifest on your end?

This is me creating a member on the latest v8/dev:

![create-member](https://user-images.githubusercontent.com/7405322/58366770-94248300-7ed7-11e9-9b68-b842a7241943.gif)

[2019-05-25 08:28] FransdeJong commented on #5020
I've created a pull request: https://github.com/umbraco/Umbraco-CMS/pull/5519
I could't use more space than 50 extra pixels in the current format but it makes a difference. This makes the menuitems vissible a little sooner but still maintains sepperation with the search, help and profile buttons.

[2019-05-25 08:30] kjac commented on #5485
@nul800sebastiaan looks like it's the macros tree:

![image](https://user-images.githubusercontent.com/7405322/58366808-1e6ce700-7ed8-11e9-96bb-e3da73866549.png)

I'll get right on it.

[2019-05-25 08:40] AndyButland commented on #5518
Like this - immediately on clicking the "Create" link (I don't get the form come up at all).

![image](https://user-images.githubusercontent.com/1993459/58366955-6b04f200-7ed9-11e9-9795-a6cfefd7439b.png)

Maybe something up with my local installation though if it's OK for you.

[2019-05-25 08:44] kjac commented on #5518
Crikey! That looks bad 😞

Did you add custom properties to the member type?

[2019-05-25 08:45] kjac commented on #5485
PR in #5520

[2019-05-25 08:54] AndyButland commented on #5518
No, just using the default "Member" member type.

I think I'll try with a clean clone.  Been updating this installation for years and perhaps something has got out of sync.  Will report back if it still seems to be an issue.

[2019-05-25 09:57] kjac commented on #5428
As it turns out there's a really easy way around the whole thing 🤦‍♂️

Will submit a PR soon as I'm back at the keys!

[2019-05-25 09:57] AndyButland commented on #5518
Will close this.  It's fine with a new install and the `variations` fields is 0 as expected.  Not sure what happened with my local copy - _maybe_ there's an issue somewhere around migrations but probably just something specific to the changes I've made locally.

Sorry for disturbing your Saturday morning @kjac!

[2019-05-25 09:57] #5518 closed

[2019-05-25 09:59] kjac commented on #5518
Whoo 🎉

No worries I was bored on the train anyway 😀

[2019-05-25 20:22] FransdeJong commented on #5038
Fixed in PR https://github.com/umbraco/Umbraco-CMS/pull/5521

[2019-05-26 05:14] kjac commented on #5428
PR in #5522

[2019-05-26 11:41] kjac commented on #5403
I've been digging deep into the JS and fortunately there's no reloading of nodes going on. As @electricsheep points out this is purely a CSS animation issue.

The fix is fairly straight-forward, and does not introduce the double highlighting as mentioned above. I'll post it tonight if I have time, or tomorrow morning 😄

[2019-05-27 05:28] kjac commented on #5403
PR in #5523

[2019-05-27 09:13] clausjensen opened #5524 "V8 - Not possible to add a doctype property only using keyboard"
When adding a property to a document type, you can navigate through the dialog just fine using the keyboard (tabbing).
After adding a name for the property and then selecting the property editor (Textstring for example) - the dialog has lost its focus which means you cannot move on to the next field using the keyboard. This means you will not be able to add/save the property without using the mous

[2019-05-27 09:23] AndyButland commented on #5425
Have created a [PR](https://github.com/umbraco/Umbraco-CMS/pull/5525) that provides a solution to this.

[2019-05-27 09:33] clausjensen commented on #4671
test.

[2019-05-27 09:37] FransdeJong opened #5526 "Generate model for dictionary items"
At Codegarden I had a nice discussion with @clausjensen  and @zpqrtbnk about using modelsbuilder to generate a class with all the dictionary items. This gets rid of all the strings in the views.

Things we discussed are:
- The models should be generated with a special generate button and not on save (kinda forgot the reason @zpqrtbnk ?)
- The class should contain a method that could take culture a

[2019-05-27 09:38] FransdeJong commented on #5526
Linked issue as per Stephans request: https://github.com/umbraco/Umbraco-CMS/issues/5280

[2019-05-27 09:41] FransdeJong commented on #3361
What is the status of this issue? Is there a form of guidance already?

[2019-05-27 09:43] clausjensen commented on #5526
@FransdeJong The reason being that when you generate models, you app will restart (since it's generating code .. it's kinda like what you see happening with modelsbuilder) .. and it can be a pain to work with if you need to edit multiple things and don't really care about the generation to be done until you have done all of your batch of changes.

Thanks for adding the issue here so it can get som

[2019-05-27 10:36] Mivaweb opened #5527 "V8 - Add Culture as a param in the contentpicker"
A brief description of your feature request goes here.

I am using the editorservice => contentpicker in another section then the content ( eg Members section ) for a package. Now when I open the contentpicker, it is displayed in the current selected culture. Can we add a possibility to open the contentpicker in another culture then the selected one by passing it as a param? Or can we do this in a

[2019-05-27 13:49] nielslyngsoe commented on #5489
Hi @bjarnef

I would love to see your take on this one, if you have time to present a solution it would be nice. Cause as your issue states, there is definitely a problem with the usage of margin-left.

Thanks

[2019-05-27 18:15] Mivaweb opened #5528 "V8 - Install local package gives error: incorrect version"
When you create a package in V8 and set a version in the format: **v2.0.0** you will get an error when trying to install this package because of invalid version.

You need to use the format **2.0.0**.

In V7 this was valid, so no problem to change to the new way but maybe you can set a placeholder with an example of the correct format for the version field on the create package page?

[2019-05-27 18:49] cfelicio opened #5529 "Latest 7.x version on Azure Web App"
Hi There,

On https://github.com/umbraco/Umbraco-Azure-Gallery

The latest release available is 7.12. Are there any plans to release 7.14?

Thanks,
Carlos

[2019-05-27 21:24] nul800sebastiaan commented on #5529
Hi @cfelicio - no plans at the moment, we're planning to release version 8.1.0 there soon instead. :)

[2019-05-27 21:24] #5529 closed

[2019-05-28 00:32] brendan-rice opened #5530 "Nest content poor performance"
I have a nest content data type with over 20 associated document types. The idea is to use the nested content as a page builder.

When I add the nested content data type to a page document type, the performance is very slow when I try to add a new item.

On load of the page Chrome's network tab shows:

- 5.6 MB resources (total download file size)
- 19.92 seconds to download all the files
- 124 re

[2019-05-28 06:03] kjac commented on #5530
Hi @brendan-rice,

I actually tried making NC fetch all scaffolds (the calls to GetEmpty) in one go. It didn't help load time; if anything it made things worse, strangely enough. There must be some parallel fetching going on.

That being said... the site I'm currently working on has 14 (and counting) doctypes in NC, and it's by no means horribly slow. I mean you can see that it's loading, but it's

[2019-05-28 09:20] nielslyngsoe opened #5531 "UI: Display node state in editor main-view"
Update: On the main-view of the content editor I would like to apply a subtle hint that indicates the state of the content (Published/Unpublished).

Currently the only place in this view to visually get an indication of the state of the node, is in the tree.

I would like to improve that, a minor indication. Inputs are very welcome.

Screenshot of current situation, where the state of the node is

[2019-05-28 10:29] ragivi opened #5532 "Improvement on multilingual Nested Content in Umbraco 8"
There are some situations when you only have one multilingual property in a Nested Content with a lot of properties that they aren't. In this case you have to fill all properties (although the values are the same) because not exists an interface of multilingual properties inside a Nested Content.

[2019-05-28 10:30] Appstract-fjellvang opened #5533 "Cannot define own RoleProvider for public access"
In Umbraco 8 it doesnt seem to be possible to add your own RoleProvider any longer - therefor you cannot roll with an external data source for your member groups.

Reproduction
------------

Create a class that implements RoleProvider. Define "GetAllRoles" so that it returns an array of strings of test user groups.

Change the reference in the Web.config as done in umbraco 7.

### Bug summary

The

[2019-05-28 10:46] skttl commented on #5228
I think the ideas outlined by @JeffreyPerplex at Codegarden was great. A combination between Cropper / Media Picker, with the ability to move uploaded images to the media library.

And extensible, so you could add your own mediaproviders like Skyfish, Dropbox etc.

[2019-05-28 11:19] brendan-rice commented on #5530
Hi @kjac,

thanks for the quick reply. I understand that the 124 requests aren't all NC, there is 22 requests that I can see that are directly related to NC and are taking up half the load time.

Even when I enable caching I get the same issue.

The loading state is a good idea and would at least let the user know what is going on but it doesn't address the issue of slow load time.

How could we s

[2019-05-28 12:23] nul800sebastiaan commented on #5533
Hi @Appstract-fjellvang - the code you reference has been like this since v7.5.0, released in August 2016. I can't remember exactly why it changed but I am sure it was for good reason.

I'll assign this to @Shazwazza to see what he says when he comes back from his holidays, maybe @AndyButland can chime in here as well?

[2019-05-28 12:28] AndyButland commented on #5533
I did some of the early work on user groups back around then, but nothing on member groups as I recall.  So don't think I've got any insight here.

[2019-05-28 12:42] Appstract-fjellvang commented on #5533
@AndyButland So you're saying the MemberGroupController has been like that since 7.5 ? Because i didn't succeed in finding any equivalent in the umbraco 7.14 release, and custom member groups are working as expected in our umbraco 7 solutions

[2019-05-28 12:46] nul800sebastiaan commented on #5530
Thanks @brendan-rice - I've lined #5446 as a fix for the console error at least.

We'd appreciate any help in getting the performance up for very large nested content items, apparently bundling the calls didn't help according to @kjac so we'd be happy for other ideas and a pull request for the implementation of those ideas.

[2019-05-28 13:06] kjac commented on #5530
I think we need to take a deep dive into how the scaffolds are created on the server.

@brendan-rice do you have any latency issues, e.g. distance between the web server and the database? Is the backoffice generally feeling sluggish or is it only when using NC?

[2019-05-28 13:32] #5496 closed

[2019-05-28 13:56] AndyButland opened #5534 "v8: Saving a user with no groups fails validation, but no message is displayed"
When saving a user in the back-office, if all groups are removed, the save correctly fails validation, but no message is displayed (a 400 error is visible in dev tools with the appropriate error information).

[2019-05-28 13:59] AndyButland commented on #5534
PR [here](https://github.com/umbraco/Umbraco-CMS/pull/5535).

[2019-05-28 14:06] nielslyngsoe commented on #5531
@kjac I guess the shift description emerge from my expectation that no-one would be reading this issue, since it was mostly written for my own sake. But good to know that you are here, thanks :-D gives good reason to put a few more words onto it.

[2019-05-28 14:10] brendan-rice commented on #5530
@nul800sebastiaan thanks for looking into this and putting the fix in. Sorry I can't help with the pull request, unfortunately I'm under pressure with projects and won't be freed up for a while. I'd really like to get involved more when things calm down.

@kjac it's interesting that reducing the requests had a negative impact on performance, have you got any more details on what you tried. Maybe i

[2019-05-28 14:10] nielslyngsoe commented on #5345
PR https://github.com/umbraco/Umbraco-CMS/pull/5536

[2019-05-28 14:12] kjac commented on #5531
Haha. I'll see if I can come up with a suggestion for a subtle hint. First attempt was a miserable fail on my part 😋

[2019-05-28 14:18] Appstract-fjellvang commented on #5533
I figured it out.

Seems like you don't use the RoleProvider any longer.

I made it work by implementing my own MemberGroupService, then RegisterUnique in an IUserComposer
and finally made my membership provider implement UmbracoMembershipProviderBase instead of the old MembershipProvider

[2019-05-28 14:22] nielslyngsoe commented on #5531
You always welcome... :-) There is though no pressure or need for a solution on the matter right away. This just works as a reminder, so we don't forget to improve this in the future. But as always feel free to provide a solution or inputs :-D

[2019-05-28 14:22] jkimbrough commented on #5145
Hi @kjac,
Something I noticed that may be related to this issue.  When choosing a member like you did above (click member type --> select member) I have no problems with the picker.  However, if I try to search for the member with the initial search bar (not the bar that appears after clicking member type) and then select the member the member is not stored.

[2019-05-28 15:54] SaraFantinato opened #5537 "V 7.14.0 - MemberService is not saving any custom member properties"
It seems that only when you fill the additional custom fields of a member from the back-end (section Member), the changes are saved correctly.
Instead, when you try to fill the fields form the front-end (Partial View created from the snippet), and then click on the button to submit the form, the changes are not saved at all.

Reproduction
------------

### Specifics

* Using Umbraco 7.14.0
* Using

[2019-05-28 17:09] brendan-rice commented on #5530
@kjac @nul800sebastiaan I've been mulling this one over and have an idea, but no idea how to implement it.

How about on save of the doc types we cache a json file. Then we just reference/parse that 1 json file rather than making multiple requests?

The only issue that we may hit with this approach is that we'd need to allow .json as a mime type in the web.config.

How does that sound?

[2019-05-28 17:22] kjac commented on #5145
Hi @jkimbrough ... I can't repro that either 😲

![pick-member-search](https://user-images.githubusercontent.com/7405322/58498200-d66eee00-817d-11e9-83eb-744d00bdc85b.gif)

[2019-05-28 17:36] MickeyThomsen commented on #5504
I can confirm this is not working. I have tried in multiple V8 installations. When trying to drag around the images, the cursor changes to a "not allowed" cursor and the images are not moved. This functionallity is working in V7 installations.

[2019-05-28 19:34] kjac commented on #5530
@brendan-rice creative thinking is always much obliged.

There are plenty existing cache methods in the core. If this is indeed an issue that can be solved by means of caching, adding a new cache layer isn't the solution 😄

[2019-05-28 20:25] brendan-rice commented on #5530
@kjac you've got me interested. How can json be cached on the client currently in core?

[2019-05-28 20:47] c9mbundy opened #5539 "Add Umbraco support for TinyMCE wrapper styles"
There was a previous issue dealing with this: U4-6267 - Support advanced rule set styles for tinymce rte editor

However, it appears to have fallen by the wayside, and I can't see that there is a standard way to implement the wrapper styles that TinyMCE supports.

e.g. I have a client who wants to be able to mark a selection of paragraphs and then apply a 'style' to them which will wrap them in a

[2019-05-28 22:42] DontPanic345 commented on #5295
Hi @nul800sebastiaan

Has there been any progress on this bug?

[2019-05-29 04:18] skartknet commented on #5294
PR on https://github.com/umbraco/Umbraco-CMS/pull/5540

[2019-05-29 05:24] skartknet commented on #5537
Hi @SaraFantinato , I have followed your instructions and I couldn't replicate the issue. I get my company populated properly. Are you getting any error messages when you submit?

[2019-05-29 05:30] skartknet commented on #4654
PR in https://github.com/umbraco/Umbraco-CMS/pull/5540

[2019-05-29 05:51] kjac commented on #5530
@brendan-rice oh, you can't at this point. Nor should you, at least not this kind of data. You'd be in a world of cache busting pain.

I'm referring to the serverside. If there is a performance issue when creating scaffolds (e.g. if the database is hit several times during creation), there are plenty of caching mechanisms in the codebase to make it more performant.

@nul800sebastiaan perhaps some

[2019-05-29 06:36] kjac commented on #5531
@nielslyngsoe how about something like this?

![image](https://user-images.githubusercontent.com/7405322/58534892-bfb3b000-81ec-11e9-841c-302fb5f87466.png)

[2019-05-29 08:45] SaraFantinato commented on #5537
Hi @skartknet, thanks for responding so quickly.
Unfortunately I don't get any kind of error, therefore I don't know what's wrong.

I tried on a clean installation of Umbraco 7.14.0.

### Steps
- navigate to the registration page (just created like I explained on my previous post, but set as root page this time)
- delete all txt files in the /App_Data/Logs folder
- fill in all the fields on the re

[2019-05-29 10:22] croban opened #5541 "Can't access the recycle bin when user's Start Node isn't Content"
Umbraco users that has a Start Node other than the default Content Node, can no longer access the recycle bin. It becomes very obvious when you are working on multilingual websites, where Writers and Editors only has access to their own country node.

I have same Problem as that described here:
https://issues.umbraco.org/issue/U4-239

[2019-05-29 11:33] skartknet commented on #5537
This is the method that handles the submission:

[code]

You could try to create your own SurfaceController and include that method then submit to that and check if everything is correct.

I have copied your code so everything in the form is correct. You must be missing something.

[2019-05-29 12:55] SaraFantinato commented on #5537
This is very strange. I only used the snippet code provided by default.
I just changed the type of the registerModel, as suggested:
[code]
Thanks for the tip of creating my own SurfaceController, but I rather avoid doing that and I would like to use the standard features of Umbraco. So when I'll want to upgrade Umbraco to the latest version, I'll be able to do it, without losing any changes made o

[2019-05-29 13:29] PerplexDaniel opened #5542 "v8: IAuditService.GetLogs() throws SQL exception"
### Description
`IAuditService.GetLogs()` throws an SQL exception

### Steps to reproduce

1. Run this code:

[code]

### Expected result

Get list of Publish log items.

### Actual result

Throws exception:

### Umbraco version
Umbraco 8.0.2

[2019-05-29 15:57] soreng opened #5543 "Number of active installs"
Umbraco.com says that the number of active installs is 502,567, but the github says "used by more than 400.000 websites". While it is correct (502.567 is more than 400.000), couldn't we get is changed to "more than 500.000 websites" now?

[2019-05-29 19:33] MMasey commented on #5277
PR for 15, 16, 17 #5544

[2019-05-29 20:14] skartknet commented on #5537
The idea of creating the surface controller is only for testing to figure out what's wrong.  Once you find the problem you can go back to using the other controller.
I don't think the wrong in using your own controller though.
Anyways, I think you should close this ticket,  because it doesn't look an issue with Umbraco, and ask for the in the forum instead.

[2019-05-29 20:48] pcharb opened #5545 "Feature - UDIs in list views should be converted to something more logical"
When adding a custom property to a listview, In this case a node picker, the displayed text is the umbId - > umb://document/e853bf611ba243bfb23fa2105d119614.

The error occurs on line 17978 in Umbraco.Controller.js.

[code]

The function does its work, but that type of information (umbId) is errelevant for the user.

REndering example :
![image](https://user-images.githubusercontent.com/1386693/58

[2019-05-29 21:24] alexchrgr commented on #5504
Just as ragivi describes it is not working in both of my two installations since 8.00 for me. I thought upgrading to 8.01 and 8.02 would make it but it didn't.

[2019-05-29 21:34] skartknet commented on #5545
This might help: https://stackoverflow.com/questions/35683461/display-content-picker-property-in-listview-umbraco-v-7-4

[2019-05-29 21:37] c9mbundy commented on #5539
Just following this up with a further comment.

Previous issue U4-6267 was focused on devising a custom syntax for advanced rules to control how the members of the the style_format dropdown in TinyMCE implement the advanced options detailed here:
[https://www.tiny.cloud/docs/configure/content-formatting/](url)
[https://www.tiny.cloud/docs/configure/editor-appearance/#style_formats](url)

However,

[2019-05-30 01:33] skartknet commented on #5542
The `LogHeader` property has an incorrect value of `nvarchar` in the table, it should be int. Same for the property in the `LogDto`. I have created a PR but it will still need some job as the `umbracoLog` table needs to change. Some advise from HQ will be needed.

[2019-05-30 02:06] skartknet opened #5547 "Not possible to create a DocType without any properties"
Many times I have created DocTypes are just just a container for other doctypes. That way I can create something like Blog->Posts. In V8 that doesn't work. I can create the DocType but when I add a new page using it I get a black window without the possibility of adding the title of the page. If I click Save I get a 'Validation: Required' error.

Reproduction
------------

### Bug summary
I can't

[2019-05-30 04:42] kjac commented on #5547
Hmmm... I'm pretty sure I submitted a fix for this at some point. I'll dig into it later 👍

[2019-05-30 04:52] kjac commented on #5541
I get how that can be annoying. We should look into a fix for this.

One issue with allowing the bin for editors that aren't allowed in the whole tree is that they'd potentially see content they aren't supposed to see (content that was deleted from places they're not allowed).

Another (related to the one above) is that the "restore" action could end up moving deleted content to places where the e

[2019-05-30 07:31] SaraFantinato commented on #5537
Ok @skartknet, thanks for your replies. I'll try to figure it out with a new surface controller to see it I can find and fix the problem.
Since I was using only the standard snippets I thought it was some kind of Umbraco bug, so I opened this ticket. If you are able to correctly save the custom properties, the problem seems to be presenting only to me, unfortunately.
I already written a post on th

[2019-05-30 07:31] #5537 closed

[2019-05-30 09:46] tom-ingeniuus commented on #4687
Does this also validate against the maximum allowed items?

[2019-05-30 11:10] mitch-wilmington opened #5550 "Can't see duplicated field names in Examine Manager searcher"
If multiple fields with the same name have been added to your Lucene index, only one will show in the search results on the Examine Manager page in the backoffice.

Umbraco v7.14.0

You can reproduce by hooking into DocumentWriting event and adding multiple fields with the same name but different values using the Lucene API. Then go to ExamineManager page in backoffice and do a search.

The duplic

[2019-05-30 12:20] kjac opened #5551 "V8: Copy content between languages while editing side-by-side in split view"
Hi @nielslyngsoe,

I've got a PoC going for cloning content when working in split view, so the editors can quickly replicate the structure of one language in another:

![split-view-duplicate-wip](https://user-images.githubusercontent.com/7405322/58632386-99be0680-82e5-11e9-8970-54d09c94cc90.gif)

Is this meaningful? Obviously there are a few things that need sorting out still, like confirmation di

[2019-05-30 12:40] 0Neji opened #5552 "V8 Can't save member properties in API controller"
A brief description of the issue goes here.

Reproduction
------------

If you're filing a bug, please describe how to reproduce it. Include as much
relevant information as possible, such as:

### Bug summary

I've setup an UmbracoApiController which has a method which basically updates a property on a member. However, when I perform `.Save()` on the memberservice, the properties, despite being co

[2019-05-30 13:01] stherm commented on #5545
@skartknet I'm not sure that i unerstand the solution, i did not found the "GatheringNodeData" method in V8. Do you know if there is an angular method to get a node name from uid?

[2019-05-30 13:07] 0Neji commented on #5552
Seemingly an issue with that property only. I'm not sure what the issue was but I recreated a new property for the test and worked fine so will close this one.

[2019-05-30 13:07] #5552 closed

[2019-05-30 14:10] kjac commented on #5551
Hmmm... could also be placed between the two headers:

![image](https://user-images.githubusercontent.com/7405322/58638552-6edbae80-82f5-11e9-9c56-3e1d0cc88a33.png)

[2019-05-30 15:39] nul800sebastiaan commented on #5507
Fixed in #5508

[2019-05-30 15:39] #5507 closed

[2019-05-30 19:33] idseefeld commented on #5547
I have just done this in a fresh 8.0.2 version. It work as expected.

[2019-05-30 19:36] kjac commented on #5547
I was about to add the same finding 👍

[2019-05-31 00:08] skartknet commented on #5547
Yes it's working now. Sorry, I think I was using the `dev-v8` branch instead the `dev/v8`.

[2019-05-31 00:08] #5547 closed

[2019-05-31 01:18] skartknet commented on #5545
You're right, sorry, that link is not relevant to this. I have looked into the code and the property values are just the raw ones so that's what is stored, it would be good to return the name of the page or the media instead if the value is a UID.

[2019-05-31 03:09] nathanwoulfe commented on #5531
Could do something with a badge on the content content app?

[2019-05-31 10:05] PerplexDaniel opened #5554 "v8: Unpublished multilingual page has PublishedState of Published"
### Bug summary

A page that has "Allow varying by culture" set to true and is unpublished for all cultures has a `PublishedState` of Published on its IContent object.

Is this intended, and are we then supposed to check the `PublishedCultures` property instead in this case?

It is really confusing that this is different between document types based on the vary by culture checkmark. That is, if th

[2019-05-31 10:44] PerplexDaniel commented on #5542
Related to #5268

[2019-05-31 11:07] sussexrick opened #5555 "Audit Trail permission actually controls scheduled publishing"
There is a group permission called "Audit Trail" described as "Allow access to view a node's history log", but back office users can always see the "History" panel on the Info tab, regardless of this permission setting.

However, if you want a user to see the "Scheduled Publishing" panel on the Info tab, with the "Publish at" and "Unpublish at" dates, then they need the "Audit Trail" permission. W

[2019-05-31 11:52] nul800sebastiaan commented on #5505
Hi @AlexandreLocas - I think we'd be much more interested in why this error actually happens, do you have examples and possible causes?
This error happens before Umbraco can even wire up the OnApplicationError event and I think it would be quite impossible to "half" boot Umbraco just to wire it up.

Have you looked into actually hooking into the .NET error handling for this, which might kick in be

[2019-05-31 11:58] nul800sebastiaan commented on #5509
Hi there @simonproctor - that is a very interesting observation and might actually be closely linked to issue https://github.com/umbraco/Umbraco-CMS/issues/4138 which we could never reproduce.

I haven't reproduced this one yet but it would be interesting to try. I am not sure why that cookie is not being set but I would imagine the fix would then be easy enough.

I'll keep you posted!

[2019-05-31 12:01] nielslyngsoe commented on #5551
Hi @kjac

Interesting scenario, to help your feature request/contribution on its way, can I then ask you to describe a cases for this feature?

My concern is that the feature is too specific, or in other words too drastic or has too big of an impact and therefor only solves a few scenarios, by begin too specific. I would like to challenge this a little cause I see that we could end up having sever

[2019-05-31 12:18] AlexandreLocas commented on #5505
Hi @nul800sebastiaan, the error is already fixed (it was the file Umbraco.Web.PublishedModels.dll that was left in the bin folder after changing ModelsMode to LiveAppData).

The problem i'm trying to resolve is **to catch these types of boot errors** (if they ever come back) that do not seem to get handled by standard .NET exception handling (like OnApplicationError and such). Under no circomstanc

[2019-05-31 12:20] ronaldbarendse commented on #5206
@Shazwazza Looks like making `SurfaceControllerResolver` and `UmbracoApiControllerResolver` publicly won't make it into the last feature update (7.15) anymore and the ability to remove controllers from a composition in V8 is only possible if issue https://github.com/umbraco/Umbraco-CMS/pull/4874 is merged first.

So currently the best method would be as I described earlier (https://github.com/umbr

[2019-05-31 12:37] nul800sebastiaan commented on #5510
Please don't use `umbraco.content.Instance.RefreshContentFromDatabase();` 🙏  :-)

You can't get the content like that yet, instead make sure to get the new property values from the `item` object, for example to get the `bodyText` property:

`var body = item.Properties.Where(x => x.Alias == "bodyText");`

For more help with specific usecases, make sure to head on over to [the forum](https://our.umb

[2019-05-31 12:37] #5510 closed

[2019-05-31 12:42] nul800sebastiaan commented on #5512
Thanks @bmargevicius - I think that's probably a great idea. I'll need to discuss this at HQ in one of our regular meetings but there seems to be no other alternative, so using MailKit is probably fine.

The only problem I see is (as with any dependency we take) that people install MailKit themselves and there might be a version difference. Usually this can easily be fixed with a assembly redirect

[2019-05-31 12:46] nul800sebastiaan commented on #5513
Thanks for reporting @tomwidel - I'll need to discuss with some people at HQ to see what the expected behavior is and why, it sounds like a bug indeed but maybe I'm missing something. Have you looked into the sender object as well to see if that contains a usable copy instead? Note: I'm not familiar with the code, so I might be saying silly things now.. ;-)

I'll let you know when I get some answe

[2019-05-31 12:49] nul800sebastiaan commented on #5514
Your link is quite.. blank @AndyButland 😅

I think you meant to link here: https://github.com/umbraco/Umbraco-CMS/pull/4926

So yep, this is fixed in the upcoming 8.1.0 @JoseMarcenaro - thanks for reporting! 👍

[2019-05-31 12:49] #5514 closed

[2019-05-31 12:52] nul800sebastiaan commented on #5515
Sounds like it could be useful, do you have a simple example (without mentioning code, just a "when I click this wouldn't it be great if "X" happened)? I'm not personally very familiar with the editorService, so I am not sure how it's used, paint me a picture :-)

I'll put this on the list to discuss with the team at HQ soon to see if this a feature we indeed want, I'll let you know what came out

[2019-05-31 12:58] bmargevicius commented on #5512
Oh.. the life of being a dev... 🎆

[2019-05-31 13:08] JoseMarcenaro commented on #5515
The use case is the following:
When developing a backoffice plugin or custom property editor, you sometimes need to open a custom dialog to show some detail information or perform a selection.

In v7, the dialogService is very useful for doing that. It allows you to pass  to the target controller a **model** of what you need to show or select using the `.dialogData` property in the dialogService s

[2019-05-31 13:12] abjerner commented on #5509
Hi @simonproctor,

What version of Umbraco are you running? Also, to rule out a few things, could you try in another browser or in incognito mode?

I've tried reproducing your issue - both with a my site running in a full IIS server and also just through Visual Studio 2019 (IIS Express). I've used the following steps:

1. Go to `<website>/umbraco`
2. Clear all cookies via dev tools in Chrome
3. Tr

[2019-05-31 13:13] nul800sebastiaan commented on #5516
Hey @jerpenol - thanks for the feature request, I understand where it's coming from but I believe this was a conscious choice we made so as not to make things jump around too randomly. I've not personally been involved in those talks though but I expect the current behavior to stay the way it is.

However, I will have a chat with the team at HQ and see what they think and get you some more feedbac

[2019-05-31 13:18] nul800sebastiaan commented on #5527
It's an interesting feature request! I'll have to discuss it at HQ soon, I'll let you know when I have an update.

[2019-05-31 13:20] nul800sebastiaan commented on #5528
It would be awesome to have a restriction / validation on the version number you can type in that box.
Maybe a simple regex for the format `1.2.3` would be enough?

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-05-31 13:22] abjerner commented on #5515
@JoseMarcenaro the entire object you pass along to the `editorService.open` method is accessible through the controller via `$scope.model`.

Eg. with

[code]

you'll be able to call `$scope.model.example.test` to get my example boolean value.

Isn't this what you're looking for, or are you describing something else?

[2019-05-31 13:24] nul800sebastiaan commented on #5532
Hey @ragivi - I'm not sure what you mean here. Can you give an example? Maybe you can add some screenshots to visualize a little bit better to give us an idea what you're working with?

[2019-05-31 13:33] nul800sebastiaan commented on #5539
Hi @c9mbundy - I recognize your need for specialized markup for the content that you have. What you're basically proposing is to have a complete site build in the rich text editor. You've noticed that there's a lot of friction in accomplishing this as well, as you've seen from the TinyMCE docs, there's no real good ways to do this.

I would encourage you to look into the Grid and setting it up so

[2019-05-31 13:39] JoseMarcenaro commented on #5515
@abjerner - That is exactly what I was looking for!   Thanks a lot.

@nul800sebastiaan - please disregard this proposed feature. It makes no sense if the functionality is already there.

[2019-05-31 13:39] #5515 closed

[2019-05-31 13:41] nul800sebastiaan commented on #5541
All valid concerns. We'd love to have this fixed if we can make this very safe:

- Users should only be able to see deleted nodes in the recycle bin that they would have access to before deletion
- Users shouldn't be able to restore nodes to locations they don't have access to
- We need to somehow make sure this performs well, the suggestion in the other issue was to look at the path of the items,

[2019-05-31 13:42] jerpenol commented on #5516
Hi @nul800sebastiaan.
Supertak! I'll await their feedback.

[2019-05-31 13:46] ronaldbarendse commented on #5206
@Shazwazza @zpqrtbnk After removing the publicly available `TagsController`, the back-office throws the following exception:

[code]

This is because the `BackOfficeServerVariables` adds this API controller to the `umbracoUrls`: https://github.com/umbraco/Umbraco-CMS/blob/853087a75044b814df458457dc9a1f778cc89749/src/Umbraco.Web/Editors/BackOfficeServerVariables.cs#L240-L243

It also adds an URL to

[2019-05-31 13:47] nul800sebastiaan commented on #5542
Cool, thanks @skartknet !

I see we have this one on our backlog as well, but not sure what state it is in. I'll have a chat at HQ to see what we plan to do here and will let you know what came out of that.

[2019-05-31 13:48] nul800sebastiaan commented on #5543
Definitely!

Care to create a quick PR for that one to the readme? 👍

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-05-31 13:52] nul800sebastiaan commented on #5545
For now, you'd have to create a custom listview layout to show exactly what you need in the list.

It would be really good if `getCustomPropertyValue` would convert a UDI to at least the node name.

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-05-31 13:54] nul800sebastiaan commented on #5550
Hey @mitch-wilmington - thanks for reporting. I have no idea how this is supposed to work but I'll ask around at HQ and get back to you.

[2019-05-31 13:55] nul800sebastiaan commented on #5532
Ah, is this basically what you want to achieve @ragivi ? https://github.com/umbraco/Umbraco-CMS/issues/5551

[2019-05-31 13:56] nul800sebastiaan commented on #5554
I think it's intentional yeah and you'd need to add a check for `PublishedCultures` to get the full picture of what the state of the node is. I'll have a chat at HQ and get some more feedback on this.

[2019-05-31 14:00] nul800sebastiaan commented on #5555
Yeah, the Audit Trail should control whether a user is allowed to see the History panel, seems wrong that Scheduled Publishing is captured there.

Would be good to have  a look in the git history to see what happened to the Scheduled Publishing panel and the History panel, something might have been accidentally swapped out there.

I've marked this as "Up for grabs" so that you or someone else comi

[2019-05-31 14:11] #5404 closed

[2019-05-31 14:11] nul800sebastiaan commented on #5404
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/5553

[2019-05-31 14:14] #5441 closed

[2019-05-31 14:14] nul800sebastiaan commented on #5441
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/5457

[2019-05-31 14:15] #5380 closed

[2019-05-31 14:15] nul800sebastiaan commented on #5380
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/5405

[2019-05-31 14:19] #5534 closed

[2019-05-31 14:19] nul800sebastiaan commented on #5534
Fixed in: https://github.com/umbraco/Umbraco-CMS/pull/5535

[2019-05-31 14:21] #5485 closed

[2019-05-31 14:22] nul800sebastiaan commented on #5485
@Baracuda011 I think grouping them into folders is currently a step too far but getting them organized alphabetically is a good update. I am still quite curious for a good use-case where you have so many macros that you need folders for them though.

[2019-05-31 14:25] nul800sebastiaan commented on #5038
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/5521

[2019-05-31 14:25] #5038 closed

[2019-05-31 14:36] #4657 closed

[2019-05-31 14:36] nul800sebastiaan commented on #4657
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/5480

[2019-05-31 14:37] #5443 closed

[2019-05-31 14:42] #5403 closed

[2019-05-31 14:43] nul800sebastiaan commented on #5403
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/5523

[2019-05-31 15:30] soreng commented on #5543
I would love to Seb, but this is not part of the repo, but settings in github :-)

(There is an edit button next to the text for ppl with access)

[2019-05-31 15:36] stherm commented on #5545
Thank you. For now I've done it with a custom layout. Gonna try to fix it when I have some free time :).

[2019-05-31 17:25] #5420 closed

[2019-05-31 17:26] nul800sebastiaan commented on #5420
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/5435

[2019-05-31 17:31] #5292 closed

[2019-05-31 17:32] nul800sebastiaan commented on #5292
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/5424

[2019-05-31 18:04] nul800sebastiaan commented on #5360
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/5408

[2019-05-31 18:04] #5360 closed

[2019-05-31 18:07] #4654 closed

[2019-05-31 18:08] #5406 closed

[2019-05-31 18:27] #5297 closed

[2019-05-31 18:27] nul800sebastiaan commented on #5297
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/5379

[2019-05-31 18:36] #5230 closed

[2019-05-31 18:36] nul800sebastiaan commented on #5230
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/5274

[2019-05-31 18:39] #5428 closed

[2019-05-31 18:42] nul800sebastiaan commented on #5020
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/5519

[2019-05-31 19:53] kjac commented on #5551
Hi @nielslyngsoe,

The current use case is indeed creation of a new language variant, when one of the other ones have content.

As you point out there's a valid point in being able copy property values between language variants in general, or simply from content to content. That however is a daunting task to undertake, not least when you take permissions into account.

I guess a good option could

[2019-05-31 19:54] Mivaweb commented on #5528
Yes that will do. Setting a Regex for both **Version** and **UmbracoVersion** properties using regex: `^(\d+\.)?(\d+\.)?(\*|\d+)$`. PR will follow.

[2019-05-31 20:08] Mivaweb commented on #5527
Some info on this as documentation when looking into the source code. The editorservice has a **Contentpicker** which uses the **Treepicker** view.

Steps to do:

1. Create a new Param on the editorservice to pass to the treepicker
2. Create a new Param on the treepicker to set the passed in culture language
3. Inside the treepicker we need to check if we are on the **Content** section before we d

[2019-05-31 22:01] c9mbundy commented on #5539
Hi @nul800sebastiaan  - based on your comment, I can only assume that you've misread the issue and have thus missed the point.

This is **NOT** about adding layout functionality to the editor, but is about adding support for features in the 'formats' drop-down of TinyMCE, that are currently not supported by Umbraco, but which are supported by others such as WordPress.

TinyMCE supports a range of

[2019-06-01 09:29] AndyButland commented on #5110
Created a new PR for this targeting V8: #5557

[2019-06-01 12:40] Mivaweb commented on #5528
PR can be found here: https://github.com/umbraco/Umbraco-CMS/pull/5559

[2019-06-01 18:07] JoseMarcenaro commented on #5035
@brreisner - I had a similar situation in a fresh environment I set up this week, and I found a **workaround:** disabling app preload at the IIS level - yes, I know we are talking about Azure App Services.

The reasoning for trying this is that the conflict is somehow related to the early initialization of the app pool before the previous lock has been released. Then I found this attribute in IIS

[2019-06-02 04:38] kjac commented on #5499
@mzajkowski seems sorting works in V8 on a device - at least when emulating it:

![device-sort](https://user-images.githubusercontent.com/7405322/58756886-e92c4e80-8500-11e9-9bb3-52cf41e059d2.gif)

[2019-06-02 05:29] Baracuda011 commented on #5485
@nul800sebastiaan it might not be the case of having that many macros. I am currently working on an enterprise level eCommerce website and would like to organize my macros ie. related to users, products, content elements, etc. Just to have them grouped. I think this will improve overall UX from both development and content management perspective.

[2019-06-02 09:00] AndyButland opened #5561 "V8: Make more helpful message than "there are no allowed document types available""
_Porting over [issue U4-9734](https://issues.umbraco.org/issue/U4-9734) from old tracker in order to associate a PR resurrected for V8._

Fresh install, no starter kit, no doctypes
Attempt to create a new content page.
You'll get the message that there are no allowed document types available.
It would be helpful to change the message based on the capabilities of the person logged in.

A content ed

[2019-06-02 09:00] kjac commented on #5483
FYI: After a bit of googling on the subject I've found that bullets pasted from Word is a known pain for TinyMCE. It doesn't have to be related to italic text - see this:

![image](https://user-images.githubusercontent.com/7405322/58759050-73d27500-8524-11e9-8174-cb174abb9349.png)

The last bullet is omitted from the RTE after pasting.

The tests I've performed points to the RTE having issues with

[2019-06-02 09:03] kjac commented on #5561
Yeah! Pretty sure @OwainWilliams was working on this for #3947 ?

[2019-06-02 09:07] AndyButland commented on #5561
Ah, OK @OwainWilliams @kjac, hadn't realised someone else had tackled this.  I had done in a PR to V7 some time back, that was recently closed, but figured it was still a useful addition.

Have resurrected [here](https://github.com/umbraco/Umbraco-CMS/pull/5562) - but if there's a better alternative in progress, then all good...

[2019-06-02 09:24] kjac commented on #5561
Awesome 😀

[2019-06-02 10:18] OwainWilliams commented on #5561
Nice. I've not had a chance to finish my pr so if there is something else that's been done then that's great.

[2019-06-02 10:20] OwainWilliams commented on #3947
Just wondering if this is still helpful or has it been fixed but someone else. Happy to look at it again and get it done.

[2019-06-02 17:26] driekus77 opened #5564 "Using Umbraco v8.0.2 as IIS Virtual application is throwing an exception..."
Hello all,

I'm new to Umbraco and stumbled upon, what IMHO is a bug in version 8.0.2.
When using Umbraco as a Virtual folder application under IIS I get into throuble when trying to create a new stylesheet and/or script file.

### Bug summary

When using Umbraco under an IIS Virtual folder/application some actions are throwing errors. E.g. creating new scripts and/or stylesheets are not succeding

[2019-06-02 19:41] IainMartin-Ayr opened #5565 "V8: Rich Text Editor size"
The Rich Text Editor doesn't appear to be implementing the dimensions set in the config values for the DataType itself. These are being passed through in the preValues 'page' when these are retrieved for the RTE but not enacted.

`value: {,…}
**dimensions: {height: 200, width: 400}
height: 200
width: 400**
maxImageSize: 500
mode: "classic"`

Here I have deliberately set this to be very small, but

[2019-06-03 06:55] nul800sebastiaan commented on #5564
Thanks @driekus77 - unfortunately we don't really support running Umbraco in a vdir under another app. I seem to recall it can be done but it will probably require a bit more configuration somewhere else.

I would recommend you [ask around on the forum](https://our.umbraco.com) to see if anyone else has managed to do this and how.

[2019-06-03 06:55] #5564 closed

[2019-06-03 07:04] nul800sebastiaan commented on #5543
Gotcha! I was thinking about the readme. In that case.. all fixed now! ;-)

[2019-06-03 07:04] nul800sebastiaan commented on #5543
![image](https://user-images.githubusercontent.com/304656/58782336-945f0580-85de-11e9-91b7-30b28d897093.png)

[2019-06-03 07:04] #5543 closed

[2019-06-03 07:06] nul800sebastiaan commented on #5509
I've unfortunately also not been able to reproduce this one. Let us know if you have more info @simonproctor !

For now I'll close this but happy to re-open if we can actually find a good way to reproduce.

[2019-06-03 07:06] #5509 closed

[2019-06-03 07:17] nul800sebastiaan commented on #5565
Thanks @IainMartin-Ayr - we must have overlooked something in v8!

To confirm:
- When you set a width and a height for the RTE datatype, it should reflect on the content item, currently in v8 it does not
- When a height is set, a scrollbar should appear inside the RTE when you add content that is higher, currently the RTE just grows downwards.

[2019-06-03 08:29] IainMartin-Ayr commented on #5565
Thanks Seb, your confirmation is spot on. It wasn't until I had put in a large amount of text that I realised that the RTE was growing and pushing everything down with it. And as I'm prone to break things with my own CSS at times reckoned I should check that possibility first.

I am also using the U8Collapse plugin by Simon Campbell to show/hide the panes and I also managed to eliminate that optio

[2019-06-03 09:30] simonproctor commented on #5509
Hi,

This is in Firefox, Chrome and IE. Its in Umbraco 7 (cloud) with no back office customisations, http modules or redirects. I'm happy to share our account details and/or Github privately.

Without that, I can only think that a step to ensure the session is setup and cookies available is present. I could record our symptoms exactly in a video but as you say, if you can't then its hard to know w

[2019-06-03 09:41] #5007 closed

[2019-06-03 09:43] nul800sebastiaan commented on #5007
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/5374

[2019-06-03 09:55] ragivi commented on #5532
Hi @nul800sebastiaan

No exactly but it's a very interesting feature! :)

I mean that within a nested content we can have 10 properties and only one of them is multilanguage (for example, a property with the name of a room and other 9 properties like its capacity, whether or not it has wifi, etc.). )

I think that the interface is not implemented so that a Nested Content has multilanguage properti

[2019-06-03 10:00] #5326 closed

[2019-06-03 10:21] nathanwoulfe commented on #5147
I'm looking at this now - can't see any reason (yet) why this still needs to be implemented as a javascript solution, when browsers now happily support position:sticky...

[2019-06-03 10:26] bjarnef commented on #5147
@nathanwoulfe support for `position:sticky` is still a bit limited and only partial supported in some browsers. https://caniuse.com/#feat=css-sticky

[2019-06-03 10:33] nathanwoulfe commented on #5147
@bjarnef true, but v8 browser requirement is FF/Chrome/Safari/Edge latest, so should be fine to use position:sticky. Pinging @nielslyngsoe for his thoughts.

[2019-06-03 10:35] bjarnef commented on #5147
@nathanwoulfe yes, and I think Umbraco v8 has dropped support for IE11.

[2019-06-03 10:41] #5381 closed

[2019-06-03 10:54] nul800sebastiaan commented on #5505
@AlexandreLocas Yep, I understand you perfectly. I think you'd need to hook into the .NET handlers for that, the umbraco one you mentioned (`UmbracoApplication.OnApplicationError`) gets wired up too late. Have you tried hooking into the standard .NET one instead?

[2019-06-03 11:07] nul800sebastiaan commented on #5542
The update as proposed in https://github.com/umbraco/Umbraco-CMS/issues/5268 should fix this, so I'll close this issue as a duplicate. Thanks!

[2019-06-03 11:07] #5542 closed

[2019-06-03 11:25] martinjgriffiths opened #5569 "Application of User Groups to a user is buggy"
Scenario...

I needed to be able to create a "Super User" for our business development manager so that they can manage all content aspects view/save and publish etc. and be able to manage users & groups. But NOT have access to the developer & settings sections.

At first simply creating the Group "super user" seemed to work and after giving them access to the various sections all seemed good. Unti

[2019-06-03 11:56] nielslyngsoe commented on #5539
Hi @c9mbundy

There is a way in v7 which is still supported in v8.

What you can do is to setup these more advanced styles in the config/TinyMCEConfig.config

In the bottom of the file you have the <customConfig> definition, where you can add the style_formats configuration and specify styles a bit more in details. See this example:

[code]

In this way you'r able to make styles that wraps content

[2019-06-03 12:30] AlexandreLocas commented on #5505
@nul800sebastiaan Yes I did (HttpApplication Application_Error) and it also does not get triggered, maybe it has something to do with lightinject ? Thank you

[2019-06-03 14:07] Mivaweb commented on #5527
PR can be found here: https://github.com/umbraco/Umbraco-CMS/pull/5570

[2019-06-03 14:34] bardurc opened #5571 "Privacy-friendly statistics showing page visits"
I would like to be able to view simple statistics over page visits:

- Which page on my site has been visited

- When has a given page been visited

- How often has a given page been visited

No need to collect user-agent, referrer, IP-address or anything else.

Google Analytics collects way too much, and I would rather not collect any more data than necessary on my visitors.

[2019-06-03 14:44] nul800sebastiaan commented on #5505
I've had a bit of a chat about this and the conclusion is: make sure to configure custom error and you can set up a custom error page in your web.config.

The problem is that it is impossible to have an error handler in place before even asp.net can hook that up. This is not an Umbraco problem but a general asp.net problem. If the site can't boot for some reason, it can also not give you an error

[2019-06-03 14:44] #5505 closed

[2019-06-03 14:48] nul800sebastiaan commented on #5571
Hey there @bardurc - this is not functionality we plan to build into Umbraco. We'd encourage you to look for plugins that can do this or build you own tracker.

You can look for plugins (packages) or ask for advise on how to build your own at our community site: https://our.umbraco.com/

[2019-06-03 14:48] #5571 closed

[2019-06-03 14:55] nul800sebastiaan commented on #5356
Hey @uniquelau - good suggestion, this is already fixed in v8, but it would be nice to update in v7 too.

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

As for your second suggestion, I'll add it to the PR that updates the search already: https://github.com/umbraco/Umbraco-CMS/pull/4720

Storing the checkbox preference is a great id

[2019-06-03 15:16] nielslyngsoe commented on #5551
@kjac At first I was thinking something along those lines... But I do found it a bit too drastic as a dialog, cause it would add an extra click for editors that just want to create content from scratch.

So after thinking about several possibilities I realise that I need you to share a few more details around the case for this feature.

Cause I currently only see a few specific scenarios where it

[2019-06-03 15:33] TomDaria opened #5572 "System.TimeoutException: Failed to enter the lock within timeout"
We are on Umbraco 7.11.1 with ASP>NET 4.6.1.
We are seeing the subject error repeated in the logs and sometimes users call and say they can't login to Umbraco (login spins for 2 minutes then times out).  When they try logging in a few minutes later it works!

We are using IE Edge, Latest version of Chrome.

Full error
System.TimeoutException: Failed to enter the lock within timeout.
   at Umbraco.

[2019-06-03 15:52] stherm commented on #5484
I have some more details on the bug :
There's some tests I've done

All node where name 1,2,3,4, 1.1, 1.2 , 1.3 for test purpose

Not linked with tree depth - 27 levels ok (Although I can't create a 28th node due to sql error)

Test 2

Banch 1->27 node | Branch 2->27 node (pretty slow to render)

Banch 1->27 nodes | Branch 2->27 nodes  | branch 3-> 27 node (really slow to render)

Branche 4-> 27 n

[2019-06-03 16:34] kjac commented on #5551
@nielslyngsoe forget about the permissions, that was a brain fart from my side... not sure what I was thinking there 🤔

The scenario is pretty simple, really:

1. The editors create a page in Danish and spend a looot of time in NC, essentially using it as a page builder.
2. The editors then translates the page to English. It almost always has to be an exact structural copy, just in English... so t

[2019-06-03 16:43] nul800sebastiaan commented on #5572
Unfortunately there's not much I can tell you here... I'm aware that this a problem that some people have but nobody seems to have found a pattern as to why this occurs. I would recommend upgrading to 7.14.0 at least and monitoring the situation. If you can find any cause for this problem on 7.14 then we can have a look at it again, for now I'll close this issue until we have more information.

[2019-06-03 16:43] #5572 closed

[2019-06-03 17:13] kjac commented on #5356
Hep! I'll tackle this as part of #4720

[2019-06-03 21:37] ronaldbarendse commented on #5551
@kjac This would be a great feature and your example with NC (and with similar editors) makes a lot of sense. It might be a little specific, so I agree with @nielslyngsoe that the added logic/UI should be justified.

So I would like to make a case for creating a more generic feature, e.g. property actions. Just like with the `MenuRendering` event, you should be able to add actions based on the con

[2019-06-04 02:54] c9mbundy commented on #5539
Hi @nielslyngsoe

Thanks for that input, and yes you are quite correct - it can be done that way, and I have resorted to that method previously.

However, I'm not aware that there is a way to specify which data-type should use such a custom config, and so unless I'm mistaken, the trade-off there is that such a config defines the style_formats for every instance of TinyMCE used by Umbraco, whereas

[2019-06-04 05:59] Shazwazza commented on #5533
Replacing the MemberGroupService isn't what we want to do here, i'll re-open.

[2019-06-04 06:02] Shazwazza commented on #5533
In this case for role based public access it should be querying the role provider but will need to investigate if there's a reason this is not done.

[2019-06-04 06:55] Appstract-fjellvang commented on #5533
Yeah that does make more sense, but i didn't investigate further why this didnt happen

[2019-06-04 08:07] nielslyngsoe commented on #5539
@c9mbundy Good point, makes your case stronger.

I will ask @nul800sebastiaan to reconsider our options for this feature, I do not think we have the resources to implement this feature within reasonable time. But if anyone has the ability to make a PR for it we will accept it.

[2019-06-04 08:21] bergmania opened #5574 "Doc type as child of itself is not persisted on create"
When creating a new doctype, and choose itself under "Allowed child node types". The information is not persisted, when creating the doc type.

![Before](https://user-images.githubusercontent.com/1561480/58862994-2edc4900-86b2-11e9-807d-b8f0124d656f.gif)

Tested on v7.14 + v8.0.2

PR incoming for v7.

[2019-06-04 08:50] nul800sebastiaan commented on #5539
So I had a bit of a chat with @nielslyngsoe about this trying to understand the use case for this, we found out that all he could think of is possible already. Consider the following RTE content, all of these paragraphs used to be regular `<p>` tags, nothing special about them. With the added RTE stylesheet an applying different pieces of markup to it, it looks like this now:

![image](https://use

[2019-06-04 08:50] #5539 closed

[2019-06-04 08:54] nul800sebastiaan commented on #5574
That's weird! But only when you start with a new doctype, right? I can assign the allowed child node to be the same doctype after a refresh.

[2019-06-04 08:56] bergmania commented on #5574
It's only when we create the doc type. This is all handled as a special case where the frontend sends id `0` to the backend. But apparently this does not work.

It works when you update the doc type

[2019-06-04 08:57] emmaburstow commented on #5484
Hi everyone,

I can't recreate this on my latest install. I've created 5 parent nodes, each with 28 child nodes successfully, all open at the same time without freezing.

![issue5484](https://user-images.githubusercontent.com/37150989/58865806-22a2bc80-86af-11e9-850e-352b9253579c.gif)

Emma

[2019-06-04 09:00] nielslyngsoe commented on #5539
I think we should underline that by defining "div.MyClass" in your stylesheet, it will work as a wrapper that can wrap other styles, in this example the ".marked". Which I guess would be solving your case?

[2019-06-04 12:21] nielslyngsoe opened #5577 "V8: Trix Property Editor"
I'm doing a test implementation of the Trix RTE as a Property Editor in Umbraco v.8.?

This implementation is an investigation of the features of the Trix editor. Used to review if Trix supports the needs we have in Umbraco.

In relation to this RFC: https://github.com/umbraco/rfcs/pull/5

Draft PR: https://github.com/umbraco/Umbraco-CMS/pull/5578

Feel free to comment or make suggestions.

[2019-06-04 13:30] stherm commented on #5484
Hi I've take a screen shot of the two bug I've descibe before. The first one is an SQL error related to the length of the url. That one I get.
![téléchargement (1)](https://user-images.githubusercontent.com/1386693/58882885-5380f280-86ab-11e9-8aa3-2508726c7fe1.png)

The second one, it's the one where the back office freeze. Lie I've said, with a structure of parent - > child -> subchild this happe

[2019-06-04 14:19] kjac commented on #5577
Hi! While I applaud the initiative, shouldn't this wait until the RFC process is complete @ https://github.com/umbraco/rfcs/pull/5 ?

[2019-06-04 16:22] UnsungHeros opened #5579 "V8:Changing Data Type Loses Data"
Is there a way to safely change a Property Editor on a document type property without losing the data?

This is an issue that happened in V7 at a higher level[#2958](cannot change DocumentTypes in V8 currently[#5070]). When changing a datatype, the information is lost. In my case, I changed a textbox field which held a link, to a multinode URL picker so that the UX was better for our users. This i

[2019-06-04 17:08] UnsungHeros opened #5581 "V8: Package creation - can't package custom media types"
I checked every box when creating a package to create a backup package of our site. We were unable to select Views located in the Views/Partials/{subfoldername} subfolders. This is for version 8.02 and before

Reproduction
------------

Create a subfolder under /Views/Partials called TestFolder
Add a template to the created subfolder
Add a template to the partials subfolder itself
Go to the packag

[2019-06-04 18:31] UnsungHeros commented on #5581
It appears that the same hold true for any custom media types.

[2019-06-04 18:32] UnsungHeros opened #5582 "V8: Media Picker Image Only Broken"
When extending Image by composition and a media picker is configured to only allow images there is a conversion error when trying to iterate through a list of the custom image type.

Reproduction
------------

When creating a custom Media Type 'RotatingImage' and composing it so that all the Image Mediatype Properties are available, I am unable to strongly type my custom Media Type with Allow only

[2019-06-04 20:08] UnsungHeros opened #5583 "V8: GetPagedDescendants not working"
I've written a health check to check for content that is older than 1 day and it will give me a count of the content, but it will not give me any paged results.

Reproduction
------------

Use the attached code to set up a health check and put a breakpoint on the CheckForStaleContent() function.

### Specifics
When I expand the z,results it exapnds that the enumeration contains no results.
![Scree

[2019-06-04 20:34] nul800sebastiaan commented on #5583
Paging starts at 0 though, so make sure to set your pageIndex accordingly. :-)

![image](https://user-images.githubusercontent.com/304656/58911784-e73cd800-8718-11e9-8996-1333043f4029.png)

[2019-06-04 20:34] #5583 closed

[2019-06-04 20:43] nul800sebastiaan commented on #5581
Thanks, this is not a feature we currently support, you can manually update the package.xml file for now and include the files in the zip.

You might also get some inspiration from automating this process here: https://shazwazza.com/post/powershell-script-to-create-an-umbraco-package-in-umbraco-s-package-file-format/

I've marked this as "Up for grabs" so that you or someone else coming along coul

[2019-06-04 21:03] nul800sebastiaan commented on #5582
This looks like a misunderstanding as to how ModelsBuilder works, making a composition doesn't necessarily mean ModelsBuilder will turn this into an inherited class. I would recommend you try and get some help with this on our forums at https://our.umbraco.com

If you drop a link to a forum here then @zpqrtbnk could have a look at it too to explain better.

[2019-06-04 21:03] #5582 closed

[2019-06-04 21:04] nul800sebastiaan commented on #5579
This will indeed happen at the moment, make sure to keep track of https://github.com/umbraco/Umbraco-CMS/issues/5070 for updates on this.

[2019-06-04 21:04] #5579 closed

[2019-06-04 21:07] nul800sebastiaan commented on #5484
@stherm It looks like you have a test site already, with a SQL CE database, can you zip it up and upload it somewhere so we can have a look so we don't have to try and replicate the problems?

Make sure to change the admin username/password beforehand and send it along as well so we can log in easily.

[2019-06-04 21:07] bmargevicius opened #5584 "V8: Datepicker doesn't allow copy and paste"
The new datepicker (flatpickr) doesn't handle the blur event which doesn't allow for copy paste (even if the formatting is correct). Kicking the 🐴 you can't manually type in dates either.

Reproduction
------------

### Steps to reproduce
1) Create a doctype
2) Add a Date property type
3) Goto add content, paste in a date matching the format
4) Save and publish.
5) Navigate away from that content

[2019-06-04 21:10] nul800sebastiaan commented on #5584
That's a great feature request!

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-06-04 21:15] RachBreeze commented on #5277
PR for 43, 69, 75, 81 #5585

[2019-06-04 21:24] bmargevicius commented on #5584
Either this or the other way around. We should disable the ability to paste dates in.

[2019-06-04 21:27] bmargevicius commented on #5584
Looking at https://flatpickr.js.org/options/
allowInput option allows the user to enter a date directly input the input field. By default, direct entry is disabled.

[2019-06-04 21:29] bmargevicius commented on #5584
Given that the default is disabled. I think I would leave this up for discussion before doing anything. For some reason you can type in the textbox in the backoffice. In the flatpickr demos you can't do this... So something is awry with the implementation of flatpickr in umbraco..

[2019-06-04 22:45] greystate opened #5586 "The default Login template does not redirect to the requested URL after authentication"
Original issue here: [U4-9485](https://issues.umbraco.org/issue/U4-9485)

Re-submitting as is **still an issue in v8.**

### Steps to reproduce

1. Create a "Login.cshtml" partial in the Backoffice, using the "Login" template in the dropdown.
2. Insert the partial on a template that's used on a "Sign In" page.
3. Use the "Public Access" menuitem on a standard content page (e.g. `/secret-page/`), s

[2019-06-05 06:07] #5565 closed

[2019-06-05 06:48] Shazwazza commented on #5351
Have marked as breaking because the IUmbracoDatabaseFactory interface has changed, this will not affect users but perhaps their unit tests.

[2019-06-05 09:03] MvdDonk opened #5588 "Wrong location xml documentation files in NuGet packages"
After adding UmbracoCms.Core or UmbracoCms.Web (both version 8) to my project the xml documentation files aren't copied to the bin folder resulting in documentation not working in Visual Studio, as shown on this screenshot:
![Documentation not working](https://user-images.githubusercontent.com/2156402/58944065-53532680-8781-11e9-9e02-66f9ea7ed3a0.png)
This problem is happening because the xml file

[2019-06-05 09:10] nul800sebastiaan commented on #5588
Good find! Would you be able to make a PR to fix that?

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-06-05 09:39] MvdDonk commented on #5588
I've added a pull request with the fix.

[2019-06-05 11:03] Baracuda011 opened #5590 "U8: Property groups ordering"
Dear all,

Is it possible to enable reordering of property groups when a document type has a combination of its own properties and compositions? Currently, it's not possible to organize properties "logically".

It is not a showstopper in any way but would add to overall customer experience.

I am working on 8.0.2 cloud version.

Thanks.

[2019-06-05 11:27] skttl opened #5591 "Allow custom filters on columns in list view"
Similar to how you can modify the label of nested content items, it could be nice if you could make javascript filters for the display of property values in columns of the list view.

For non-simple editors the result today is like this:
![billede](https://user-images.githubusercontent.com/3726467/58952952-65d75b00-8795-11e9-9cc4-d92c54c62674.png)

Adding a simple filter like `{{ this[0].value }}`

[2019-06-05 14:17] #5588 closed

[2019-06-05 16:05] Baracuda011 opened #5593 "U8: umbracoUrlAlias inheritance"
Dear all,

Is it possible to introduce umbracoUrlAlias inheritance to child nodes? I have a parent page with defined umbracoUrlAlias, but all the child pages have their own default URLs and are not considering parent's custom URL.

I think this can be a very useful feature for both SEO and user experience.

I am working on 8.0.2 cloud version.

Thanks.

[2019-06-05 16:48] abjerner commented on #5593
Hi @Baracuda011,

It sounds like you're looking for `umbracoUrlName` instead?

https://our.umbraco.com/Documentation/Reference/Routing/routing-properties#umbracourlname

[2019-06-05 16:53] alanmac commented on #5452
@nul800sebastiaan do your [comments here](https://github.com/umbraco/Umbraco-CMS/pull/1994#issuecomment-497359327) also apply to this feature. Should I only target it for v8?

[2019-06-05 17:00] Baracuda011 commented on #5593
Hi @abjerner, not exactly.

Let me describe in bit more details. I am replicating a structure from the old version of a website and footer navigation contains a huge number of pages which are all under the home node. When I look at old Umbraco tree it is very "unpleasant" to look at and time-consuming to navigate and manage.

I created container nodes so I can organize my footer pages. And now eac

[2019-06-05 21:27] UnsungHeros opened #5595 "Starter Kit Caused Content Loss"
Uninstalling the starter kit caused site data loss.

Reproduction
------------

### Steps to reproduce
Create a Document Type called Contacts
Create content that utilizes that Document Type(the more the better)
Install the starter Kit
Uninstall the starter kit

### Expected result
The starter kit to be uninstalled

### Actual result
While the starter kit is indeed uninstalled, I have lost 30 of my

[2019-06-05 22:26] ronaldbarendse commented on #5170
Not completely sure why removing the properties (`Name`, `UrlSegment`, `Parent`, `Children` and `Url`) is needed, as it breaks more than the interface: it breaks knowledge/expectations and a convention used in a lot of examples, documentation, existing code and a lot more.

This also makes getting these values different than the properties generated by Models Builder (e.g. `public string Title =>

[2019-06-06 00:47] nathanwoulfe opened #5596 "V8 - Grid - allow editing image alt text"
Quick win - when adding an image control on the grid, editors can optionally provide alt text when selecting their image. What they can't do is edit that alt text without removing the image, reselecting, and providing new text.

Can be easily remedied by adding an additional input to the media grid view, below/above the existing one for the image caption.

Will have pull request shortly.

[2019-06-06 00:55] nathanwoulfe commented on #5596
Actually, not as quick a win on 8 as 7 - v8 stores the alt text value as the image caption, which doesn't make sense as they maybe two different values. Better approach would be to allow editing these separately, but render the caption as the alt text if no value is given for the latter.

Shouldn't assume that the alt text is appropriate for use as a caption, but should be ok to do the opposite.

[2019-06-06 01:25] #3913 closed

[2019-06-06 03:21] tormnator commented on #2997
I hope this bug will get fixed soon (both Umbraco 7 and 8). It bit me badly today. Until it's fixed, here's a work around:

[code]

[2019-06-06 07:19] nul800sebastiaan commented on #5581
It appears that you can pick and choose any view file you want though:

![image](https://user-images.githubusercontent.com/304656/59014117-1435db80-883c-11e9-92e3-fb7816e34bcf.png)

So the only thing that's missing is that you can't package up custom media types.

[2019-06-06 07:42] kjac commented on #5551
@ronaldbarendse I think you need to sketch that up to make it clearer 😄

I have created a PoC for copying all items from one NC to another here: #5599 - input would be very welcome.

[2019-06-06 08:47] simonbrunemark commented on #5202
Doesn't work for me in 8.0.2 (clean installation) either.
Are there any workarounds on this bug?

[2019-06-06 08:57] Frost117 opened #5600 "V8: Content tree blocks TinyMCE in fullscreen"
A brief description of the issue goes here.

If you want to run tinyMCE in a fullscreen to have focus on the content you are writing with no disturbing elements from the backoffice, then you will find that the content tree blocks the left side of your fullscreened TinyMCE.

Reproduction
------------

### Bug summary
When you go into fullscreen with the TinyMCE function you are met with this:
![ima

[2019-06-06 12:44] dotbenstar opened #5601 "'Anchor / querystring' drops value in Single URL Picker"
When using a Single URL Picker data type anything I put into 'Anchor / querystring' is discarded.

This is using Umbraco 7.13.2

In a rich text editor data types this functionality works correctly.

![umbraco-url-picker-anchor](https://user-images.githubusercontent.com/20684924/59033047-a9969700-885f-11e9-8f15-c6a123617965.jpg)

This screen recording shows the bug in action: https://youtu.be/GdgL7

[2019-06-06 12:46] #5351 closed

[2019-06-06 12:54] nul800sebastiaan commented on #5601
Thanks, I'll close this as a duplicate of #5295

It's on our list to fix this so please follow issue #5295 for updates.

[2019-06-06 12:54] #5601 closed

[2019-06-06 13:01] nul800sebastiaan commented on #5595
Thanks for reporting @UnsungHeros - this is expected behavior and we don't have plans to change this. When you uninstall any package you would expect the data that it installed to go away, so we remove document types and anything that was originally installed with the package. When a document type no longer exists, we can't preserve the content related to that document type any more either, so it

[2019-06-06 13:01] #5595 closed

[2019-06-06 13:02] UnsungHeros commented on #5581
Thank you, Sebastiaan.  I don't know why it didn't dawn on me to use files other than binaries that way.  I was to stone set on views being a superset of partial views..

[2019-06-06 15:08] UnsungHeros commented on #5600
This is also happening on 8.0.2.

[2019-06-06 15:43] nul800sebastiaan commented on #4702
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/4703

[2019-06-06 15:43] #4702 closed

[2019-06-06 17:41] stherm commented on #5484
Hi, I,ve make a test site which replicate the bug. Just try and open all node, it whatever order and it'll freeze at one point. Also, it's impossible to create a 29th node in the first structure (which I know is ridiculous, but it's a bug :) ). In my case, for this site, i've opened all node of root3 and root2 and it strarted to freeze opening nodes in root1.

The zip is too big to share here : [h

[2019-06-06 20:18] tom-ingeniuus commented on #4781
I had this when changing from a textstring to a checkbox in v8.0.2 as shown in the attached screenshot interestGC hasn't updated
![property type icon doesnt update until reloading the page](https://user-images.githubusercontent.com/49899682/59063739-a8398e80-88a0-11e9-8947-5a5eff087b4f.PNG)

[2019-06-06 21:19] tom-ingeniuus opened #5603 "Can't select Login page on small screens when setting public access on a page"
When setting up Public Access on a small screen (full screen on my laptop), you can't select the login page because the picker is displayed behind the public access modal, as shown in the attached screenshot. A workaround is to use the browser zoom function and zoom out.

Umbraco 8.0.2
Windows 10
Latest Chrome browser (not checked in other browsers)

I'm not sure whether the picker should be in fr

[2019-06-06 21:26] tom-ingeniuus opened #5604 "Don't allow a document type to be change to element type if there's already nodes made from that document type"
I know you shouldn't do this, however I think it would be better to either provide a better error message or prevent this (foolish) action in the first place.

STR:
Have a normal document type and create and publish a content node using this type
Change the document type to be an element type
Go back to the content node and click save
An exception is thrown, as per the attached screenshot.

Umbrac

[2019-06-06 21:31] tom-ingeniuus opened #5605 "V8 Emptying the Recycle bin with a protected page and associated login page throws a SQL error"
Umbraco 8.0.2

STR:
Assign Role based protection to a page/node and select login and error pages
Delete the protected page and the associated login and error pages
Empty the wastebasket
A SQL error is thrown as shown in the attached screenshot

Workaround
Move the pages out of the wastebasket, remove the protection, then delete the pages and empty the wastebasket without error.
![empty umb bin wit

[2019-06-06 21:33] tom-ingeniuus commented on #4771
I'd like to add that this would be very useful for adding variant descriptions to be used as alt attributes for images **for accessibility purposes**

[2019-06-06 22:56] MMasey commented on #3560
PR #5606 (finally)

[2019-06-07 02:25] Shazwazza commented on #4988
Here's what we'll need to do:

## ModelState updates

Right now, we are passing 'warnings' back for cultures in the form of 'notifications' which are part of the content model. This isn't ideal and is part of the problem because a 'warning' notification for these cultures was just a quick hack to make it work but in reality this is a validation error which we always use ModelState for. We also alr

[2019-06-07 03:07] nathanwoulfe commented on #4563
#5147 might be just what you're looking for...

[2019-06-07 03:09] nathanwoulfe commented on #4750
PR #5573 fixes this - swapped out the existing umb-sticky-bar directive to use css position:sticky and IntersectionObserver to track scroll/intersection.

[2019-06-07 04:05] nathanwoulfe commented on #4769
#5607 fixes this as part of the changes to allow editing the alt text from grid image

[2019-06-07 05:15] nathanwoulfe commented on #2945
#5607 resolves this as part of allowing editing alt text/caption on grid/rte images

[2019-06-07 05:28] kjac commented on #5295
@nul800sebastiaan PR for V8 is in #5608 - I'll backport to V7 soon as I can.

[2019-06-07 05:41] nathanwoulfe commented on #5590
I'll usually set sort orders manually on the composition - tabs might be increments of 10, properties increments of 5, then when they are composed into other types you can set the tab/property sort orders to sit in between.

[2019-06-07 05:44] nathanwoulfe commented on #5593
Better option here would be to use contentfinder and urlprovider to drop the container-n segment out of the URL.

Try https://our.umbraco.com/Documentation/Reference/Routing/Request-Pipeline/IContentFinder and https://our.umbraco.com/Documentation/Reference/Routing/Request-Pipeline/outbound-pipeline#urls for starting points

[2019-06-07 07:01] nul800sebastiaan commented on #5574
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/5575

[2019-06-07 07:01] #5574 closed

[2019-06-07 07:08] kjac commented on #5295
...and the V7 backport is in #5610

[2019-06-07 08:23] nul800sebastiaan commented on #5512
Hehe, I know right!

We'll have to replace this at some point, but it's not on our roadmap for now. However, we'd be happy if the community could give it a stab and help out with that!

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-06-07 09:06] Jeavon commented on #5512
I'll work on a PR for this as it can replace #2029

I propose adding the following AppSettings

Umbraco.Core.MailKit.Host
Umbraco.Core.MailKit.Username
Umbraco.Core.MailKit.Password
Umbraco.Core.MailKit.DefaultFromEmail
Umbraco.Core.MailKit.Port (optional)
Umbraco.Core.MailKit.SecureSocketOptions (optional)

I would also like to implement a ProcotolLogger using SeriLog so that Mailkit logs are add

[2019-06-07 09:44] zpqrtbnk commented on #5170
This is the type of feedback where you think... no! Or... the guy has a point? Oh my. He may be right ;-)

Your comments about properties + aligning with Models Builder do make sense indeed. The changes were *really breaking a lot*. And so... the PR has been updated:
* The methods are extension methods, such as `document.Name(string culture = null)` - and, when `culture` is `null`, they return the

[2019-06-07 09:46] zpqrtbnk commented on #5170
More: and then of course, it would totally make sense to add a feature to Models Builder, to also generate extension methods... so the model itself still contains a property:

    public string Title
      => this.Value<string>("title");

but we would also have an extension method:

    public string Title(this Foo model, string culture = null)
      => model.Value<string>("title", culture);

[2019-06-07 10:00] nul800sebastiaan commented on #5590
As Nathan mentions you can do this by updating the tab order and leave room for other tabs in between.

Make sure to ask further questions on the forums at https://our.umbraco.com where our friendly community can help you along!

[2019-06-07 10:00] #5590 closed

[2019-06-07 10:10] nul800sebastiaan commented on #5593
Hi there @Baracuda011 - this sounds like an excellent question for the forums where our friendly community can help you find the best solution for your requirements.
Make sure to head on over to https://our.umbraco.com and ask follow up questions there! 👍

[2019-06-07 10:10] #5593 closed

[2019-06-07 10:30] clausjensen commented on #3666
Closing this for now.

[2019-06-07 10:30] #3666 closed

[2019-06-07 10:30] clausjensen commented on #3665
Closing this as it has been handled in a different issue/PR.

[2019-06-07 10:30] #3665 closed

[2019-06-07 10:31] #3661 closed

[2019-06-07 13:28] zharonar opened #5611 "V7.12.4-7.14.0 Textstring Validation as number, no error info."
As the title states, when we set textstring to validate as a number, and when we press "Save and Publish", there is only "X" sign on button, server throws bad request (headers response "Validation error"), but texstring input doesn't get highlighted red, no floating error...

Also someone reported the same issue: https://our.umbraco.com/forum/umbraco-cloud/97429-doc-type-validation-no-error-messag

[2019-06-07 13:33] deMD commented on #5604
Question is what should the expected result be in your opinion?

I would think it either shouldn't be possible to change a doc type to on element when used, or it should delete all content using the doc type.

[2019-06-07 13:54] deMD opened #5612 "Innitial account can't add roles to own profile"
As the initial account you can't edit your own groups, content nodes or media nodes.

Umbraco V8.0.2

Reproduction
1. Create a new instance of Umbraco
2. Go to the user section
3. Open you profile
4. See you can't edit groups or nodes.

This is especially problematic when you need access to the Translation section, as the only option is to create a new account with those rights.

[2019-06-07 14:06] nul800sebastiaan commented on #5574
Fix has been merged up to 8.1.0 as well now.

[2019-06-07 14:17] deMD opened #5613 "Users with access to the user section can edit the Initial User account by typing it's ID in the url."
When logged in as a user with access to the Users section, I can edit the Initial Users account by changing the URL even though the account is hidden is the UI. Currently it seems I can only edit the avatar, disable the account and change groups and nodes, changing password or email address doesn't work

Reproduction
1. Create a new instance of Umbraco
2. Add a new user group with access to the Us

[2019-06-07 14:41] patrickdemooij9 opened #5614 "Spelling mistake IContentFinder function"
Don't know if this is supposed to be a Documentation issue or another sort of issue, but I couldn't find anything that I could use for this issue.

It's a really small issue. In the IContentFinder interface, the parameter is named frequest. I believe that this is wrong and that it should be changed to request. Sorry, just had to make an issue for it, will add the PR too.

[2019-06-07 14:49] deMD opened #5617 "Can't log in with user that only has access to the users section"
When creating a user with a group that only grants access to the Users Section, that user can log in into the CMS. in the browser console I see the following error:
![image](https://user-images.githubusercontent.com/22070292/59112815-0ff4e580-8944-11e9-8102-a0ca72592167.png)

Reproduction:
1. Create a group with only access the the Users Section
2. Add the group to a user with no other groups
3. T

[2019-06-07 15:26] tom-ingeniuus commented on #5604
I think it shouldn't be possible to change the doctype in the first place. That way it eliminates the possibility of deleting user data.

[2019-06-07 16:20] WillKong1004 opened #5619 "User 0 was reported as publishing a page in email notification, but another user did it"
Hi folks,
I upgraded our Umbraco CMS in Azure from 7.5.10 to 7.12.3. After that we found an issue. So User A did a scheduled publishing test, but email notification showed User B who is actually the user 0 did it. We checked the item history, it showed as User A did it which in correct (also double confirmed in DB). Just email notification reported wrong user.

Thanks!
Will

[2019-06-07 18:25] davidardoin opened #5621 "umb-button shows progress status forever after Save and Publish when creating a new content that is invalid"
umb-button shows progress status forever after Save and Publish when creating a new content that is invalid

Reproduction
------------

I have have a culture variant content type with a mandatory property.
When I enter a new content of this type (omitting the mandatory prop but still documenting names in both languages) and hit Save and Publish, the validation kicks in and shows the errors in the

[2019-06-07 19:48] jono-k opened #5622 "Problem with upgrade to 7.13 and above: Invalid column name 'controlId'"
Attempting to upgrade to 7.14 on a client's production server, and when upgrading I receive the error (on the installation page) "Invalid column name 'controlId'". I have tried incrementally upgrading by version numbers and the error occurs when upgrading from 7.12.4 to 7.13

### Bug summary

I haven't been able to reproduce this locally, so I'm not sure what is different on the production server.

[2019-06-09 09:00] AndyButland commented on #5605
PR [here](https://github.com/umbraco/Umbraco-CMS/pull/5625).

[2019-06-09 10:40] kjac commented on #2932
V8 PR in #5626

[2019-06-09 12:48] anthonydotnet opened #5627 "DotNetCore Preparation - Abstract Bundling"
As discussed at Codegarden 2019, to transition to dotnet core, Umbraco requires significant refactoring.

This task is to abstract the bundling functionality.

@Shazwazza

[2019-06-09 12:50] anthonydotnet opened #5628 "DotNetCore Preparation - Abstract Examine"
As discussed at Codegarden 2019, to transition to dotnet core, Umbraco requires significant refactoring.

This task is to abstract and decouple Examine.

@Shazwazza

[2019-06-09 12:51] anthonydotnet opened #5629 "DotNetCore Preparation - Abstract SMTP"
As discussed at Codegarden 2019, to transition to dotnet core, Umbraco requires significant refactoring.

This task is to abstract and decouple SMTP.

@Shazwazza

[2019-06-09 12:53] anthonydotnet opened #5630 "DotNetCore Preparation - Remove members membership provider"
As discussed at Codegarden 2019, to transition to dotnet core, Umbraco requires significant refactoring.

This task is to completely remove the members membership provider.

It was discussed that this will break backoffice due to reliance of the membership functionality. This breakage was deemed as acceptable for now as the new identity functionality will replace the membership provider.

@Shazwaz

[2019-06-09 12:54] anthonydotnet opened #5631 "DotNetCore Preparation - Remove Users Membership Provider"
As discussed at Codegarden 2019, to transition to dotnet core, Umbraco requires significant refactoring.

This task is to completely remove the users membership provider.

Note: There might be a dependency here on the new identity functionality.

@Shazwazza

[2019-06-09 21:18] BatJan opened #5632 "Swapping file in media section does not update links in rich text editor"
I'm not a 100% sure this issue can be characterized as a bug but in short - When an editor has uploaded a file and made a link to the file from within the rich text editor the link is not updated if the editor overwrites/swaps the file in the media section. For the update to happen the document type needs to be published again.

For single case scenarios this would be perhaps be good enough but in

[2019-06-09 21:31] BatJan commented on #5184
@ThomasSkyldahl I think that is a topic for another issue/feature suggestion. The purpose of this ticket is only to have the CSV option removed 😃

[2019-06-09 21:33] BatJan commented on #5184
@nul800sebastiaan Ok, sounds good - But I would like to keep things simple and use this issue/feature request to mark the original datatype as being obsolete and then create a new datatype where the CSV option is removed and then the datatype can evolve from that point - Meaning other issues/feature requests so we ensure we're taking baby steps to achieve the end goal imho 😃

[2019-06-10 08:47] Matthew-Wise commented on #4620
Will this get fixed for 7.15?

[2019-06-10 09:06] Baracuda011 commented on #5590
Thanks @nathanwoulfe and @nul800sebastiaan I will try with this approach.

[2019-06-10 09:14] Baracuda011 commented on #5590
Brilliant idea, thank you @nathanwoulfe. It works perfectly!

[2019-06-10 09:42] Baracuda011 commented on #5593
Hi @nul800sebastiaan the initial question was a feature/update suggestion and I see that this entire discussion went into a too complex direction, which wasn't my idea at all :)

I still stand by my initial observation that the inheritance of umbracoUrlAlias property to child nodes could be a very cool feature.

Thanks.

[2019-06-10 10:26] BatJan opened #5633 "v8: Extend the umb-checkbox component to handle localization"
I noticed a few changes to the component has been made since I last had a look at it on the v7 branch, which is great and it's been used many places in the UI ❤️

However it bothers me that those places now have multiple `<label>` elements since it's already a part of the component - What we need to do is to extend the component so it's able to handle localizations instead so we only need to use `

[2019-06-10 11:38] BatJan opened #5634 "v8: Replace the old checkbox markup with the umb-checkbox component"
This feature request relates to the newly closed one from the v7 branch, which was not finished before it was closed due to the upcoming final release of v7.15 so recreating the feature request for the v8 branch - For reference the old issue is here https://github.com/umbraco/Umbraco-CMS/issues/5185

In short we have a new umb-checkbox component, which I would like to implement other places where

[2019-06-10 12:59] BatJan opened #5637 "v8: Fix padding for the umb-checkbox component"
Depending on the usage the padding between the checkbox and the label text is to big like it can be seen in the "insert dialog" here.

![insert-link-dialog-checkbox-before](https://user-images.githubusercontent.com/1932158/59196921-432bb480-8b90-11e9-95c2-0cf594085d77.png)

The same happens in the rich text editor configuration under data types.

I'm going to create a PR to fix this in just a minu

[2019-06-11 04:28] Shazwazza commented on #5512
Ideally ... we have our own interface in core that deals with how Umbraco deals with sending emails. (i.e. `IEmailer`) or something. I think all email sending is done through `EmailSender` now, so perhaps that can be interfaced, or the internal engine that sends the email can be abstracted to an interface and injected into EmailSender.

Then the MailKit stuff is just an implementation ([forward th

[2019-06-11 04:34] Shazwazza commented on #5512
@Jeavon aha! i just saw the desc in your PR, seems you've already thought of this, love your work :)

[2019-06-11 04:40] Shazwazza commented on #5628
Hi @anthonydotnet , I think this task will prob need to exist under Examine itself and/or have another task here for updating the reference ... though to update the reference will require that Examine 2.0 (or whatever version it will be) will have something available on MyGet (or similar).

Just notes on what this task actually means:

As part of the [project split phase of project UniCore](https:

[2019-06-11 04:49] Shazwazza commented on #5628
related: #5631, #5630, #5629, #5627

[2019-06-11 05:16] nul800sebastiaan commented on #5612
Hi @deMD - there seems to be a small bug here, where the "Add" button is missing for the initial account.

![image](https://user-images.githubusercontent.com/304656/59245341-a82aed00-8c18-11e9-8cfd-03b2d204802a.png)

You can edit user groups though and from there you can add the initial user to any group you want or update the administrators group to have access to the Translation section.

I've m

[2019-06-11 05:16] nul800sebastiaan commented on #5612
By the way, please make sure to always note the version of Umbraco you're using. This was tested on 7.14.0.

[2019-06-11 05:20] nul800sebastiaan commented on #5613
Thanks, this has been fixed recently and the fix will be available in 7.15.0.

[2019-06-11 05:20] #5613 closed

[2019-06-11 05:20] nul800sebastiaan commented on #5617
Thanks, this has been fixed recently and the fix will be available in 7.15.0.

[2019-06-11 05:20] #5617 closed

[2019-06-11 05:34] nul800sebastiaan commented on #5628
Hey @anthonydotnet - cool that you're being very pro-active but unfortunately we're not ready to move on these items yet.

As explained in the roadmap overview that Jacob showed during the CG19 keynote, this is a future plan and we're not working on this right now, we have other priorities first. I'm sure you're eager to work on this but we have yet to flesh out the full plans.

I'm happy for a di

[2019-06-11 05:34] #5628 closed

[2019-06-11 05:35] nul800sebastiaan commented on #5631
For closing reason, please see: https://github.com/umbraco/Umbraco-CMS/issues/5628#issuecomment-500693504

[2019-06-11 05:35] #5631 closed

[2019-06-11 05:35] nul800sebastiaan commented on #5630
For closing reason, please see: https://github.com/umbraco/Umbraco-CMS/issues/5628#issuecomment-500693504

[2019-06-11 05:35] #5630 closed

[2019-06-11 05:35] nul800sebastiaan commented on #5629
For closing reason, please see: https://github.com/umbraco/Umbraco-CMS/issues/5628#issuecomment-500693504

[2019-06-11 05:35] #5629 closed

[2019-06-11 05:35] nul800sebastiaan commented on #5627
For closing reason, please see: https://github.com/umbraco/Umbraco-CMS/issues/5628#issuecomment-500693504

[2019-06-11 05:35] #5627 closed

[2019-06-11 06:05] Shazwazza commented on #5629
But interestingly, it's already being worked on for 8.x https://github.com/umbraco/Umbraco-CMS/issues/5512, https://github.com/umbraco/Umbraco-CMS/pull/2029

[2019-06-11 06:17] kjac commented on #5632
Oh this is definitively a bug 😢

The same thing is happening with images in RTE's, although this was fixed in #4001. It seems the V8 cache is preventing the update; restarting the site causes the image to update in frontend.

Not really sure how to handle this. Editing an image somehow needs to invalidate the cached properties where the image is used.

/cc @zpqrtbnk

[2019-06-11 06:44] Lars-OJ commented on #4977
@nul800sebastiaan Did you have any chance to look at this problem yet?

[2019-06-11 07:21] deMD commented on #5612
Ah sorry, I indeed forgot the Umbraco version, I will update this report and the other reports I did last week. All bugs were obeserved on Umbraco V8.0.2.

[2019-06-11 07:23] deMD commented on #5613
I forgot to add the Umbraco version, this issue also occurs in Umbraco V8.0.2

[2019-06-11 07:23] deMD commented on #5617
I forgot to add the Umbraco version, this issue also occurs in Umbraco V8.0.2

[2019-06-11 09:30] nielslyngsoe commented on #5596
@nathanwoulfe I completely agree with you. Its two different things so let's embrace that.

[2019-06-11 09:47] nul800sebastiaan commented on #5619
Hi @WillKong1004 I seem to recall we fixed this somewhere along the way. Let me know if you can still reproduce this problem in 7.14.0 so someone can have a look at it. 👍

[2019-06-11 09:57] nul800sebastiaan commented on #5611
I would recommend you use the `Numeric` datatype instead.

[2019-06-11 09:57] #5611 closed

[2019-06-11 10:02] nul800sebastiaan commented on #5622
Hey there @jono-k - it's unfortunate that this is happening to you. Unfortunately for you, most people don't actually have this problem and we've been unable to pinpoint where the problem might be.

Therefore, we have to assume it has something to do with your particular configuration. If you have any more clues as to what we can fix in Umbraco feel free to report back but at the moment, we wouldn

[2019-06-11 10:02] #5622 closed

[2019-06-11 10:09] nul800sebastiaan commented on #5185
I'll close this one in favor of the v8 issues linked above. 👍

[2019-06-11 10:09] #5185 closed

[2019-06-11 10:37] jono-k commented on #5622
All good mate - I know it's a bit of an edge case. I thought I'd submit it as an issue as I found a couple of others with the same problem. I'm quite sure it's schema/permissions related but can't seem to crack it. Anyway, if anything pops into your head in the next few months then let me know.

[2019-06-11 10:41] anthonydotnet commented on #5628
These issues were discussed with @Shazwazza at the open circle at CG. He said that these tasks could be worked on by the community, and that I should create issues on the issue tracker for them.

Is this no longer the case?

[2019-06-11 10:54] nul800sebastiaan commented on #5621
Thanks, this has been fixed in the upcoming version 8.1.0! 👍

![5611](https://user-images.githubusercontent.com/304656/59266518-120ebb00-8c48-11e9-9b3d-581474e926b0.gif)

[2019-06-11 10:54] #5621 closed

[2019-06-11 11:00] nul800sebastiaan commented on #5614
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/5616

[2019-06-11 11:00] #5614 closed

[2019-06-11 11:20] nul800sebastiaan commented on #5569
Hey @martinjgriffiths - I can't reproduce this on 7.14.0 so either this has been fixed since 7.13 or something else is going on, not sure since I don't remember this being a problem that we actively fixed.

FYI, these are my settings for the user group:

![image](https://user-images.githubusercontent.com/304656/59267784-59e31180-8c4b-11e9-97e2-ba5f15169bee.png)

[2019-06-11 11:20] #5569 closed

[2019-06-11 11:27] martinjgriffiths commented on #5569
Hi Sebastiaan

So when you're logged in as that user can you...

Apply other groups to other users (other than super user) and can you publish without the error mentioned?

I had to also apply, writer and editor to the users "groups" so that the "super user" could assign those groups to other users. It was at this point the publishing error mentioned started happening.

[2019-06-11 11:29] 0Neji opened #5641 "[U8] Can't User New User Groups"
I'm trying to set up a new user group which has restricted permissions and access content nodes, however when I try to login as this user I'm presented with the Umbraco Back Office but with no menu, no content tree. I do see my user icon but if I click it, I'm immediately returned back to the login screen.

Reproduction
------------

Tested on an existing Umbraco 8 project and a fresh install. To

[2019-06-11 11:38] Shazwazza commented on #5628
@anthonydotnet from what i recall you said you were going to host a global hackathon and wanted tasks to work on for that, so we came up with some items that could be done 'now' by the community outside of the HQ schedule. If you are going to do that hackathon or are going to actively work on these, then sure please have tasks here to commit/reference against as you work through a PR otherwise we