[2019-06-11 11:48] nul800sebastiaan commented on #5641
Looks like something is requiring a media start node to be set, even if you have no access to the media section. From your errors, it seems like it might have something to do with the tours.

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-06-11 12:03] nul800sebastiaan commented on #5569
Not a clue :-)

You'll probably need to dig into logs and server logs for that.

From your edited comment:

No and that will not be possible, we wouldn't want to give people the ability to do some kind of privilege escalation.

[2019-06-11 13:13] marcemarc commented on #5614
@nul800sebastiaan Just wondering when we make changes like this - should there be some kind of automatic trigger to update the documentation
eg:

Updated pages for V8 docs refer to frequest
https://our.umbraco.com/documentation/Getting-Started/Code/Debugging/Logging/

and the autogenerated documentation from the comments, refers to a frequest

https://our.umbraco.com/apidocs/v8/csharp/api/Umbraco.

[2019-06-11 13:20] lcichanowicz opened #5643 "V7 Media Picker's 'Select media' 'upload' button is useless"
Umbraco 7.14.0

I try to use the Media Picker on the property of node, in the backoffice.  I choose 'Upload' from 'Select media'.  I am not allowed to upload a PDF, a PNG, ….  Am I allowed to upload anything at all?  Why do I have to edit a config just to upload a PNG?

[2019-06-11 13:34] nul800sebastiaan commented on #5643
Hi there @lcichanowicz  - that should definitely work just fine.

This sounds like an excellent question for the forums where our friendly community can help you find the best solution for your requirements.
Make sure to head on over to https://our.umbraco.com and ask follow up questions there! 👍

[2019-06-11 13:34] #5643 closed

[2019-06-11 13:36] nul800sebastiaan commented on #5614
@marcemarc Yes.

As you might know Jesper is working on docs updates and they should be quite automated.

Also, I wouldn't want to update the docs now, nobody can use this new parameter yet, 8.1.0 is not yet released.

[2019-06-11 13:37] nul800sebastiaan commented on #5622
Sure thing! I'd definitely try to upgrade your database against a clean install as mentioned in the second blog post I listed, might just do the trick.

[2019-06-11 14:58] zharonar commented on #5611
So, how to validate phone number now? That is the case here. Number has limited amount of length, so it's not of any use. The case what I am talking about is that user should get a visual notification it entered wrong input.

I.E. +1 333 555 999 should be entered as 1333555999. By using validation as number, user can't get visual that first input is wrong...

[2019-06-11 15:55] harry-gordon opened #5644 "V8: assetsService.load doesn't load any assets missing an expected file extension so promise never returns"
`assetsService.load` doesn't load any assets missing an expected file extension (anything other than **js** or **css**) and the promise never returns.

I've marked the issue as V8 but it also exists in late V7.

Reproduction
------------

### Steps

Try to load any assets without a file extension, for example:
[code]

### Specifics

Looks like it was broken by this change to add support for loadin

[2019-06-11 16:03] WillKong1004 commented on #5619
Hi Sebastiaan,

Yes we're still having the same issue in 7.14.3. Please help!

Will

On Tue, Jun 11, 2019 at 2:47 AM Sebastiaan Janssen <notifications@github.com>
wrote:

[2019-06-11 17:04] abjerner commented on #5619
There isn't a 7.14.3 release, but I can confirm that this issue still exists in in 7.14.0. This goes for both the **Update** and **Publish** notifications.

[2019-06-11 17:44] nul800sebastiaan commented on #5611
That's exactly what the numeric input does, it let's you know when you don't enter a number that it's not a valid value :-)

[2019-06-11 17:48] nul800sebastiaan commented on #5644
Well.. you know what they say about assumptions! I would add an additional argument that (when used) forces loading an extensionless asset as "js" or "css", so to force loading as a javascript file: `.load(["https://www.bing.com/api/maps/mapcontrol?branch=release"], "js")`

Otherwise, if not specified (`.load(["https://test.com/test.js")`) we use the current behavior.

[2019-06-11 17:54] harry-gordon commented on #5644
Sounds good to me! I'm happy to put in a fix for this 👷, shall I take the "help wanted" label off?

[2019-06-11 17:56] lee-mccroskey commented on #5530
@brendan-rice Are you running into excessive time waiting for your content to save too?  Our setup has ~19 nested items in 1 data type.  We have created a test content page to that had ~14 different components on it.  When we attempt to Save and Publish, the call to PostSave take from 35-40 seconds on every attempt.

[2019-06-11 18:19] WillKong1004 commented on #5619
Sorry Anders, it was my type, I meant we're running 7.12.3. And it's good
to know that it's not caused by our configuration. Thanks! -Will

On Tue, Jun 11, 2019 at 10:05 AM Anders Bjerner <notifications@github.com>
wrote:

[2019-06-11 19:22] nul800sebastiaan opened #5645 "Add assembly redirect for `System.Web.Http.WebHost` in release web.config/nuget transforms"
Installing some packages results in an error in 7.15.0 since updating to all the latest versions of our dependencies. We need to add the following redirect to both the release zip and the nuget transforms:

            <dependentAssembly>
                <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersi

[2019-06-11 19:27] nul800sebastiaan commented on #5644
You can't! ;-)

I can change it when there's a PR available, look forward to seeing it!

[2019-06-11 19:57] nul800sebastiaan commented on #5619
Okidoki if it's a problem in 7.14. 0 still then it can be fixed.

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-06-11 21:54] brendan-rice commented on #5530
@lee-mccroskey I haven't really tried saving the content. 35-40 seconds is a long time.

I'm having second thoughts about Nested Content as the poor performance means a really bad editor experience.

I'm waiting for the V8 doctype grid editor to be released before I pick up on trying to build a pagebuilder type component. Either that or I'm going to switch back to v7.

You can follow the progress

[2019-06-12 00:26] Shazwazza commented on #5156
This is fixed based on this info: https://github.com/umbraco/Umbraco-CMS/issues/4988#issuecomment-499735437

[2019-06-12 00:26] #5156 closed

[2019-06-12 08:10] anthonydotnet commented on #5628
Yep. The plan is to arrange a hackathon to try to tackle these.

I would suggest keeping these open too, as there may be people out there who would like to help in their spare time.

[2019-06-12 08:36] nul800sebastiaan commented on #5628
The RFC is not finalized yet, so we haven't made these decisions yet. It's great that you want to work on something bigger but it needs to be done with the guidance of HQ, we wouldn't want to waste anybody's time of them working on these items and then coming to the conclusion it's not the way to go.

For anybody to be able to work on this feature, we would need to provide details so that people k

[2019-06-12 08:53] bjarnef commented on #3957
@nul800sebastiaan any chance we can update `nouislider` to version 13.0.0, which now comes with keyboard support build in,
https://github.com/umbraco/Umbraco-CMS/blob/1090d54763deb6ca69ca609476fa19b041fca388/src/Umbraco.Web.UI.Client/package.json#L38

https://github.com/leongersen/noUiSlider/issues/724#issuecomment-461009737

[2019-06-12 09:13] mirkomaty opened #5649 "Upgrade from 8.0.1 to 8.0.2 fails"
I did an upgrade from 8.0.1 to 8.0.2 using NuGet update-package UmbracoCms. Umbraco detects the old and the new version but stops upgrading with the message

_Error during installation
See the log for full details (logs can typically be found in the App_Data\Logs folder)._

But there is absolutely nothing in the log, which could help. The message appears without any delay after pressing the button

[2019-06-12 09:21] uSkinned opened #5650 "V8: Richtext Editor Dimensions no longer required"
The Data Type Richtext Editor has dimension settings. These settings are no longer applied due to the new styling of the editor in V8 where it expands in height to the amount of text being entered.

The Dimensions settings should be removed from this Data Type.

[2019-06-12 09:39] nul800sebastiaan commented on #5650
Thanks, they will be applied again in v8.1.0: https://github.com/umbraco/Umbraco-CMS/pull/5568

[2019-06-12 09:39] #5650 closed

[2019-06-12 09:40] nul800sebastiaan commented on #3957
@bjarnef Sure, go for it!

[2019-06-12 09:43] nul800sebastiaan commented on #5649
Hey there @mirkomaty - odd, most people's upgrades work just fine. Make sure to check out errors in the browser console as well.

Other than that, here's a few blog post to help guide you through upgrade problems:

https://cultiv.nl/blog/how-to-diagnose-umbraco-upgrade-problems/
https://cultiv.nl/blog/an-umbraco-database-upgrade-tip-from-the-trenches/

Make sure to get some help on the forums at h

[2019-06-12 09:43] #5649 closed

[2019-06-12 09:52] bjarnef commented on #3957
@nul800sebastiaan of course that would be version 13.1.5 at the time of writing.
https://github.com/leongersen/noUiSlider/releases

[2019-06-12 09:52] uSkinned commented on #5650
cool.

[2019-06-12 09:54] nul800sebastiaan commented on #3957
Yeah, all good, v13 does not have any breaking changes listed so should be fine.

[2019-06-12 09:57] bjarnef commented on #3957
I will have a look at it.

[2019-06-12 10:19] bjarnef commented on #3957
PR submitted: https://github.com/umbraco/Umbraco-CMS/pull/5651

[2019-06-12 10:21] FransdeJong commented on #5551
This feature would also be helpful for grid layout, would't it? Basically for every editor that involves time to setup.

[2019-06-12 10:23] marcemarc commented on #5614
@nul800sebastiaan will pick up on doc team chats, but my thinking was to have a branch of the docs mimicking the major release eg 8.1, so documentation changes for the release could be merged into 8.1 branch of docs, and the same time as them being merged into the core release branch, - and it'd be used as a bit of a reference, eg have we docc'ed all the changes for the release!, then merged into

[2019-06-12 10:42] kjac commented on #5551
Definitely. NC is simply the PoC because it already incorporates copy/paste on item level.

[2019-06-12 10:46] FransdeJong commented on #5551
This could also use the blueprinting engine. Something like copy from language or pick a blueprint?
In case you want a base layout?

[2019-06-12 14:18] alanmac commented on #5452
I've created a V8 PR for this [#5652](https://github.com/umbraco/Umbraco-CMS/pull/5652)

[2019-06-12 15:20] patrickdemooij9 commented on #5612
@nul800sebastiaan Is this really a bug though? Looking at the code there is a check to see if I am the same person as the one that I am currently editing. If so, the button won't be shown. If I create another account and log in (with administrator rights, so I can get to the users) then I am also not able to add my own groups.

Should the initial user have special permissions like being able to ed

[2019-06-12 17:57] croban commented on #5611
Same problem here, just i'm using custom validator and if the value is not valid, there is no notification or something similar for on empty required field.

[2019-06-13 07:18] nul800sebastiaan commented on #5612
I remember this having some kind of reason, but I can't see a good reason if you can perform the same actions through the user group editors anyway.

I can confirm this is still an issue on 8.0.2.

[2019-06-13 07:21] patrickdemooij9 commented on #5612
Oke, I will make a PR to fix it then.

[2019-06-13 07:48] clausjensen commented on #5577
@kjac Sorry for the delay 😃 You're absolutely right... and don't worry - we're not skipping the entire RFC process that we defined ourselves. We however need a bit of maturing on the Trix implementation in order to compare it to the alternatives we have (since that editor.js suggestion that is now in play, was not really considered at all initially).
So @nielslyngsoe is doing some work on this - b

[2019-06-13 07:51] clausjensen commented on #5577
@kjac can also add that we're still working on integrating that whole RFC process with our workflows and planning .. which has some challenges - especially now that we're basically starting from scratch and need some review/feedback period, while we're also eager to get started on the features.
The plan for the next cycle is mostly to get some of these RFCs to a state where we feel comfortable mov

[2019-06-13 07:54] warrenbuckley commented on #4144
All fixed in PR #5423

[2019-06-13 07:54] #4144 closed

[2019-06-13 08:06] nielslyngsoe commented on #5577
Hi @kjac as Claus just mentioned we are just digging into some of the specifics of implementing the Trix-editor, to see if the Trix editor is the right choice and test wether it can handle our needs.

[2019-06-13 08:25] kjac commented on #5577
Super cool 😀

[2019-06-13 12:09] nielslyngsoe opened #5656 "V8: User journey when creating properties"
I'm working on improving the user journey when creating properties on a DocumentType.

I want to investigate the effect of changing the flow into this:

- Begin in the DocumentType-editor pressing 'Add Property', I would like to see the property settings dialog as we know today.
- When clicking 'Add editor' I would like to see a screen showing the available DataTypes (not datatype configurations!)

[2019-06-13 12:44] marcemarc commented on #5577
I thought the same as you @kjac , but also consider, with the RFC process, it needed some good examples of what would go into an RFC to demonstrate the idea at CG, if some work was already in progress at HQ before the RFC approach was definitely decided upon.. then it would look weird if that work in progress was then later released without there being an RFC! - but also this work makes great exam

[2019-06-13 12:56] Shazwazza commented on #5577
... well, the RFC process was borrowed and iterated on based on a number of different OSS projects so we didn't just make it up ourselves ;) see: https://github.com/umbraco/rfcs#credits

[2019-06-13 13:26] kjac commented on #5584
I think work was at some point partially done in an attempt to support manual entry. However it doesn't seem to have been finished (or at least, tested).

I have created a PR in #5657 that allows manual entry (and copy/paste) of date/time properties.

[2019-06-13 14:04] john-mckillip opened #5659 "V8: Issues with linking to media in the Rich Text editor"
When editing content in the rich text editor, if you click insert/edit link then click Select media. If you search for a media item, then click on it and click the Select button, it does not add the url (the field stays empty and does not allow you to edit).

![rte-link-bug](https://user-images.githubusercontent.com/7633040/59438913-f5929000-8db9-11e9-8881-e16889bba06a.gif)

If you select a file w

[2019-06-13 14:32] john-mckillip opened #5660 "V8: No filenames are displaying in list of media items when adding a link through the Rich Text Editor"
When adding a link to a document in the rich text editor, there are no filenames shown on any of the items unless you hover over them. This makes scanning the list for the item you want very cumbersome, especially if you have a large list of files.

![No_filenames_in_media_picker](https://user-images.githubusercontent.com/7633040/59441181-cb42d180-8dbd-11e9-8720-f0227f410006.png)

To reproduce, cl

[2019-06-13 16:05] dalemccutcheon opened #5661 "Examine dashboard showing "Index cannot be read and will need to be rebuilt""
I have recently upgraded my Umbraco solution to 7.13.2 however have came across an issue with Examine indexes i have been unable to fix.

Currently the examine dashboard is showing "The index cannot be read and will need to rebuilt" for every indexer.

I am unable to manually rebuild the index because of this message, even if i delete the generated examine files in the App_data folder these get re

[2019-06-13 16:11] john-mckillip opened #5662 "V8: Cannot build links in Rich Text Editor in IE11"
Insert/Edit links in the rich text editor not displaying UI in IE11.

**Bug summary**

**Specifics**
Umbraco version: v8.0.2
Browser IE v11
FF, Chrome, and Edge work well

**Steps to reproduce**
Visit rich text editor in Umbraco back office on any page type and highlight text to hyperlink
Click Insert/Edit Link button in RT toolbar

**Expected result**
Right-side Select Link panel will open reveal

[2019-06-13 16:37] Zweben opened #5663 "Unable to cast object of type 'Umbraco.Core.Models.Template' to type 'Umbraco.Core.Models.TemplateOnDisk'"
This is a recreation of an old issue [here](https://issues.umbraco.org/issue/U4-10687), which I just ran into on Umbraco 8.0.2 and Deploy 3.0.1.

### Bug summary

Changing the capitalization of an existing Umbraco template's alias (and therefore its corresponding .cshtml file) and pushing this to Cloud causes extraction on the Cloud project to fail with the following error:

`{
  "Date": "2019-06-

[2019-06-13 18:18] bkclerke commented on #5582
I'm not sure about the install package listed above, but just a general trying to get a media picker to output an image on the site does seem to throw the error "_The value "Umbraco.Web.PublishedModels.Image" is not of type "Umbraco.Web.PublishedModels.Image" and cannot be used in this generic collection. Parameter name: value_".

I have a media picker on v8.0.2 that is only configured as a single

[2019-06-14 06:39] kjac commented on #5660
Hi @john-mckillip, thanks for reporting 👍

This issue has already been addressed in #5203 ... I'm guessing it'll be part of 8.1

[2019-06-14 06:52] kjac commented on #5659
I can reproduce; will have a look asap.

[2019-06-14 07:53] nul800sebastiaan commented on #5662
Please note: we don't officially support IE11 (https://our.umbraco.com/documentation/Getting-Started/Setup/Requirements/) but it would be good to have this one fixed.

[2019-06-14 07:56] nul800sebastiaan commented on #5659
@kjac Also in the latest code? I seem to recall this was recently fixed 🤔

[2019-06-14 07:56] nul800sebastiaan commented on #5660
It will be part of 8.1.0 yep. 👍

[2019-06-14 07:56] #5660 closed

[2019-06-14 07:59] kjac commented on #5659
Yeah. I'm on it now.

[2019-06-14 08:00] nul800sebastiaan commented on #5661
Hey there @dalemccutcheon - Sorry to hear you're having some problems. I would recommend you upgrade to 7.14.0 first of all. Then make sure you head out to the forum at https://our.umbraco.com so that our friendly community can help you get this problem fixed.

Thanks! 👍

[2019-06-14 08:00] #5661 closed

[2019-06-14 08:05] nul800sebastiaan commented on #5603
Yeah that doesn't really work does it haha! I tried to emulate it with an iPad view and it's even more impossible. 😅 I think the picker should definitely be on top in this case.

![image](https://user-images.githubusercontent.com/304656/59493724-cc423480-8e8b-11e9-814c-ac1bc2d1de91.png)

[2019-06-14 08:09] nul800sebastiaan commented on #5604
Switching between types shouldn't delete user data though, does it? 🤔

Anyway, I would indeed think it would be best if you can't switch a doctype to be an element type if there's nodes based on this doctype already.

It would require a bit more work on the server to send down the fact that there's 1 or more nodes created with that document type so that the "Is an element type" toggle can be disab

[2019-06-14 08:13] HalldorLyngmo opened #5665 "Non-administrator users can create but not edit User Groups"
When you have a non-admin User with access to the User section, he can create User Groups but not edit them. When trying to save the changes there will be an error.

Reproduction
------------

### Specifics
Umbraco version 7.14.0 assembly: 1.0.7009.26199

**Full Stacktrace:**
[code]
### Steps to reproduce

1. Log into the back office as an administrator
2. Either add the Users section to the exist

[2019-06-14 10:09] kjac commented on #5659
PR in #5666

[2019-06-14 13:34] john-mckillip commented on #5660
Awesome. Thanks everybody 👍

[2019-06-14 13:55] Appstract-fjellvang commented on #5533
@Shazwazza With workaround we use, replacing membergroupservice, we are also only able give a single group permission to access a restricted node. If we choose more than one, the input is simply ignored

[2019-06-15 07:01] rasmuseeg commented on #4935
This is not fixed yet. Just installed the lastest version of UmbracoCms v8.0.2 using nuget.

[2019-06-15 07:40] rasmuseeg opened #5667 "A Multinode Treepicker on a vary by culture content, cannot set root which does not vary by culture."
A Multinode Treepicker on a vary by culture content, cannot set root which does not vary by culture.

Reproduction
------------

I created the following structure:
 - Website
   - Articles
     - Article (Vary by culture)
   - Tags (Does not vary)
     - Tag (Does not vary)

On the article document, create a property of Multinode Tree Picker, and set root by query by xpath to: `$site/tags`

I know

[2019-06-15 07:42] AndyButland commented on #5641
Started to have a look at this.  The problem seems to be that the default claim types for a back-office user require a start media node - see [here](https://github.com/umbraco/Umbraco-CMS/blob/853087a75044b814df458457dc9a1f778cc89749/src/Umbraco.Core/Security/UmbracoBackOfficeIdentity.cs#L118) - which if absent, triggers an exception [here](https://github.com/umbraco/Umbraco-CMS/blob/853087a75044b

[2019-06-15 08:00] kjac commented on #4935
8.0.1 and 8.0.2 only contain cherry picked fixes. The fix for this is probably part of 8.1

[2019-06-15 17:52] AndyButland commented on #5604
PR [here](https://github.com/umbraco/Umbraco-CMS/pull/5668).

[2019-06-16 12:22] pgregorynz opened #5669 "Infinite editing editorService.contentEditor unable to create new content item"
I am currently working on a back office extension to allow users to create new content items without leaving the context of the current item using the infinite editing features.

The documentation for the contentEditor hints that this should be possible by setting the create flag on the editor options to true.  Although the docs mention Media and not Content?

create | Boolean | Create new content

[2019-06-16 12:28] AndyButland commented on #5665
PR [here](https://github.com/umbraco/Umbraco-CMS/pull/5670).

[2019-06-16 17:40] bkclerke opened #5671 "Both view and content models are PureLive, with different versions error when making change to doctype"
[Forum thread for reference](https://our.umbraco.com/forum/umbraco-8/97731-error-causing-the-application-to-restart-after-a-doctype-change).

_I've tried this on v8.0.1 and v8.0.2 and am able to replicate the issue. When making changes to a doctype and refreshing the front end of the website I am receiving the following error:_

Cannot bind source content type Umbraco.Web.PublishedModels.PcGridLay

[2019-06-17 06:46] bergmania commented on #5665
V7 PR: https://github.com/umbraco/Umbraco-CMS/pull/5673

[2019-06-17 06:48] #5665 closed

[2019-06-17 06:49] nul800sebastiaan commented on #5667
Seems fine to me?

Unfortunately, I've tried this scenario and can't reproduce it. Maybe there's something else wrong in your setup or in the xpath query?

I'll close this for now, let me know if you have more info.

![5667](https://user-images.githubusercontent.com/304656/59583813-b37c8d80-90dc-11e9-82ac-8b1eec8ed661.gif)

[2019-06-17 06:49] #5667 closed

[2019-06-17 06:54] nul800sebastiaan commented on #5671
Thanks @bkclerke ! We have done work in the past to make this error at least detailed and a bit more friendly and we thought it should not happen any more but apparently there's still a race condition where this gets triggered.
Is there a way you can easily reproduce this error?

[2019-06-17 06:57] rasmuseeg commented on #5667
Hi @nul800sebastiaan try it when, the blog is unpublished, or the article.

[2019-06-17 07:00] nul800sebastiaan commented on #5669
Seems like an oversight that we don't use those parameters. I'll discuss with @nielslyngsoe and see if this actually supposed to work.

As a bit of background, can you tell us a bit more about the use case? Why do you need to create content items from a content item in infinite editing mode? Seems a bit dangerous as well, you'd then be able to create content inside the infinite editor and then in

[2019-06-17 07:02] rasmuseeg opened #5674 "Can't edit content name"
This is more of a request to change the behavior when trying to edit the content name.
I created a collection type, parent child etc.
The parent by default shows the list view, which is fine.
But in order to edit the content name, i have to switch to content.

First time i opened Umbraco v8 and did the above. I was unaware that i had to switch to the content tab, before i was able to edit the name

[2019-06-17 07:07] nul800sebastiaan commented on #5674
There is a reason.. There's no save & publish button when you're not on the Content app, as any other apps are not meant for updating content.

It could probably be clearer but this is a deliberate choice. I'll discuss at HQ how we can make this a bit more clear.

[2019-06-17 09:07] simonbracedigital opened #5675 "Users get delete option on content they've created - even if they're don't have delete permission"
If a user group does not have delete permissions, users within the group can delete content that they created. They can not delete content that they did not create.

[2019-06-17 09:20] Sjoo90 opened #5676 "disallowedUploadFiles not working as expected"
A brief description of the issue goes here.
File extensions entered in disallowedUploadFiles tag in umbracoSettings.config gives some strange behaviour in Umbraco 8.0.2. Umbraco allowes me to upload a file (eg. xml) even if I have put xml in tag disallowedUploadFiles. But when  I go back in media, no file is uploaded.

Reproduction
------------

### Bug summary

In Umbraco backoffice -> Media.
Cli

[2019-06-17 09:29] pgregorynz commented on #5669
The use case is we are creating a custom grid editor that allows editors to pick from a repository of content items, but when an item doesn’t exist they can create new one without leaving the context of the page that they want to add it to.  Your fear of infinite editing is unfounded in our case because we only have our custom editor in the grid. You would need to have an inception event and we al

[2019-06-17 09:37] nul800sebastiaan commented on #5669
Sweet, @nielslyngsoe also seems to think it makes a lot of sense, so my fears have been removed.

Should be pretty easy to make sure those variables get passed along.

[2019-06-17 09:53] nul800sebastiaan commented on #5675
I'm not sure I understand the problem, the only thing I see is that when a user group has their delete permissions disabled:

![image](https://user-images.githubusercontent.com/304656/59595518-44ac2e00-90f6-11e9-9eb7-95f5ebc46e75.png)

Then they still get the delete button on items they have created, but they are not allowed to delete the item.

![5675](https://user-images.githubusercontent.com/30

[2019-06-17 09:58] nul800sebastiaan commented on #5676
I can reproduce, would be good to give a proper error message here and not to save the media item.

![5676](https://user-images.githubusercontent.com/304656/59596026-390d3700-90f7-11e9-9a49-6d3d65da7534.gif)

[2019-06-17 11:37] #3498 closed

[2019-06-17 12:15] #5345 closed

[2019-06-17 12:16] warrenbuckley commented on #5345
All tested & merged in the PR with the fix in #5536

[2019-06-17 13:07] idseefeld opened #5678 "Updating internal translations \Umbraco\Config\Lang\DE.xml"
I am currently working on an update of the Umbraco internal translations XML for German.
After finishing this I'll do a PR.
Just want to inform you, that someone is already working on this and this is not done twice.
If someone has almost finished this task please drop me a note at d.seefeld@synios.de.

Yours Dirk

[2019-06-17 13:28] brreisner commented on #5035
@JoseMarcenaro  thank you for the update.  Has this completely resolved your issues? no further crashes? Have you been provided any official guidance or followup from someone on the Umbraco team.  @zpqrtbnk  any update here? Will this be addressed in 8.1?

[2019-06-17 14:04] nielslyngsoe opened #5679 "UX: Make validation setting(Regex) part of DataType configuration"
I would like to investigate the possibilities and potential issues regards storing the property validation settings on DataType configurations.

In the long run this could result in removal of property validation setting from the DataType usage setting.

Wether a field is mandatory, would be kept as an option on the DataType usage, therefor kept as today.

This means would that validation would be

[2019-06-17 14:31] bkclerke commented on #5671
Yes! I just setup a local instance of v8.0.2. It has no starterkit and using SQL CE to just get it up quickly. I created a homepage doctype with a template. Put 2 test properties on it. No problems with the front end of the site loading when I make changes with only 1 doctype in there. When I created a second doctype and saved it (1 test property), i refreshed the front end of the site and I see t

[2019-06-17 14:44] UnsungHeros commented on #5595
Maybe I should ask this differently.  Should the package install process be checking for the existence of document types and property names BEFORE even attempting to install the package and warn the user?  I understand that the behavior is expected, but the actual process might be missing an initial step.

[2019-06-17 15:25] kjac commented on #5675
@nul800sebastiaan I think it's by design; users should be allowed to delete their own stuff: https://github.com/umbraco/Umbraco-CMS/blob/9a45bda430b30fa389229b444308039bd7d19f40/src/Umbraco.Web/Trees/ContentTreeControllerBase.cs#L421

I'll have a look at the delete execution instead and make sure that it doesn't fail when users delete their own stuff.

[2019-06-17 15:31] kjac commented on #5675
...come to think about it, that's pretty counter intuitive as the UI doesn't mention this exception anywhere.

I'll fix the issue as suggested instead 👍

[2019-06-17 19:09] Cavillac opened #5680 "Integration with Office 365 authentication"
I'm looking for a package that allow me to integrate umbraco 8 with office 365 authentication but haven't found any. Does anyone know where can I find one or how to do this?

[2019-06-17 19:34] abjerner commented on #5680
Hi @Cavillac - if such a package exists, the [package section](https://our.umbraco.com/packages/) of the community forum would be the place to look for it. If you're unable to find a package for this, it might help to ask in the forum instead 😉

The issues section here on GitHub is for reporting problems with Umbraco CMS as a product - hence I'm closing this issue.

[2019-06-17 19:34] #5680 closed

[2019-06-17 21:44] bjarnef opened #5681 "Move color picker prevalue editor to prevalues editors folder"
At the moment we have this prevalue editor inside property editors `/src/Umbraco.Web.UI.Client/src/views/propertyeditors/colorpicker/` folder:
https://github.com/umbraco/Umbraco-CMS/blob/v8/dev/src/Umbraco.Web.UI.Client/src/views/propertyeditors/colorpicker/colorpicker.prevalues.html

but it would make more sense to move it to the prevalueeditors folder here, so it would also be possible to re-use

[2019-06-17 23:34] Myster opened #5682 "When using IE11, in an Intranet Zone, Preview Fails"
Update:
A combination of factors seems to cause this issue:
* Use IE11
* The site must be in the 'zone' called 'Local intranet' in the 'internet options' of the user's PC
* I've tested another Umbraco site without AD integration and the same issue occurs, so that isn't a factor.

To reproduce:
- Use IE11,
- Ensure the site is in the intranet zone. (internet options)
- Login to the back office.
- P

[2019-06-18 00:59] Shazwazza commented on #5680
@Cavillac if you are referring to the back office login, then you can implement your own logic that would extend the identity extensions package - but you will need to wait for that to become compatible with v8 https://github.com/umbraco/UmbracoIdentityExtensions or if you are referering to front-end members then you can extend my UmbracoIdentity package https://github.com/Shazwazza/UmbracoIdentit

[2019-06-18 03:40] #5123 closed

[2019-06-18 03:41] Shazwazza commented on #5123
I have added the 'breaking' category to this since we are modifying how the html output was.

Here's an example of how the values are peristed to DB and how it is output with an rte value having both links and images in them:

RTE with image and links as saved in the DB:

[code]

how it is rendered

[code]

[2019-06-18 04:18] Shazwazza commented on #5295
Have merged in the v7 PR and merged up to v8, Thanks!

[2019-06-18 04:18] #5295 closed

[2019-06-18 06:04] Shazwazza commented on #5600
PR is here https://github.com/umbraco/Umbraco-CMS/pull/5683

Have added the full screen command/plugin by default so people can discover it. Side note however is that full screen plugin doesn't work in distraction free mode.

The fix simply ensures that mce-fullscreen class has position:absolute which is needed since the tree is that same position type (in v8 it's only zindex 100)

[2019-06-18 09:12] #5600 closed

[2019-06-18 09:12] warrenbuckley commented on #5600
All tested & merged in :)

[2019-06-18 11:18] JoseMarcenaro commented on #5035
@brreisner
* It has completely resolved my issues for now (fingers crossed).
* I received no followup about this.

[2019-06-18 14:25] OAOVLD opened #5685 "v8: (umbraco 8.0.2 with sql database) > Installing any package causes an error - bug"
Hello!

How to install the package For Umbraco 8.0.2 with SQL DataBase ?

**web.config:**

    <remove name="umbracoDbDSN" />
    <add name="umbracoDbDSN" connectionString="server=.\SQLEXPRESS;database=Umbraco_8_Test;user id=sa;password='pass'" providerName="System.Data.SqlClient" />

**umbraco 8.0.2 with sql database > Installing any package causes an error (example: Html Minifier):**

Received a

[2019-06-18 14:49] OAOVLD commented on #5685
And
umbraco 7.14.0 with sql database > Installing any package causes an error (example: Html Minifier):

[2019-06-18 15:03] nul800sebastiaan commented on #5685
Hey there @OAOVLD - I've seen multiple reports of this today but sadly I can't reproduce the problem it's working now. I'll keep monitoring this error and see if I can come up with something once we can reproduce it. It has to be a server problem on our end, but I haven't found what exactly yet.

Apologies for the inconvenience!

[2019-06-18 15:03] #5685 closed

[2019-06-18 16:23] tormnator commented on #5671
I've had similar issues in Umbraco 7 for quite some time. They're not easily reproducible, I haven't been able to create a sequence of steps. I'm using VS 2017, and ModelsBuilder in AppData mode. Sebastiaan, you're mentioning a race condition, do you have more details?

I have added some code to detect the error when it happens (no work around), and here is a screenshot:
![image](https://user-imag

[2019-06-18 16:29] osigas commented on #5596
Think this is a separate issue, but should the focal point also be treated similarly? That doesn't seem to be being pulled through on to the Media value object as far as I can see.

[2019-06-18 19:15] kjac commented on #5675
PR in #5686

[2019-06-18 19:30] OAOVLD commented on #5685
Thank

[2019-06-19 03:34] #5137 closed

[2019-06-19 03:35] Shazwazza commented on #5421
Can confirm this is a duplicate, fixed in #5137

[2019-06-19 03:35] #5421 closed

[2019-06-19 08:26] zpqrtbnk commented on #5035
We need  first, to reproduce and understand. Happy to see that there is a workaround, but we'd love to understand what is *really* going on. We do have locks in place to ensure that an app restart happens in smooth condition. But the App Preload feature seems to break our locks in *very odd* ways.

We are trying to prioritize this issue. Will update here.

[2019-06-19 10:07] pralthom opened #5689 "v8: LinkPicker does not work when using the search box"
Hi,

I cannot find if this issue has already been raised.
When I use the link picker, search for a note inside the picker, after selecting the node I get a JS error:
![image](https://user-images.githubusercontent.com/44721265/59756499-22e3b000-928a-11e9-9d19-b0e4e429398c.png)

Reproduction
------------

Insert some text in a RTE. Then select some text and click on the "insert link" button.
![image

[2019-06-19 10:34] #4988 closed

[2019-06-19 10:59] elit0451 opened #5691 "Saving a member causes page hanging"
When you add a member in the back-Office with the required information and save the changes, the second time the **Save** button is pressed the page will just start hanging.

Umbraco V7.14

### Steps to reproduce
1 - Go to the **Members** section
2 - Under the **Members** tree select **Member**
3 - Create a member by filling in all the required fields
4 - Click **Save**
5 - Clicking the **Save** b

[2019-06-19 11:47] nul800sebastiaan commented on #5682
I am not sure how to reproduce this issue, I've tried to force everything into the "Local Intranet" zone but it just works (both 7.14 and 8.0.2). If you're working with another version of Umbraco you might need to upgrade.

![image](https://user-images.githubusercontent.com/304656/59762916-9f7d8b00-9298-11e9-92a2-da0e03e2a301.png)

Maybe I'm doing something wrong  but I can't see a problem on this

[2019-06-19 11:47] #5682 closed

[2019-06-19 12:06] brreisner commented on #5035
Thank you for the follow up as this is concerning for many customers who have already made investments in web apps and have v8 projects moving forward. Are you unable to reproduce still? Seems to be a rather common issue. Jose were you/are you able to provide steps that cause the issue reliably? I would be playing catchup but would be willing to help push this forward.

[2019-06-19 12:37] pralthom commented on #5689
This problem is caused by a modification I've made few weeks ago:
https://github.com/umbraco/Umbraco-CMS/pull/5408

I found where the issue stands and I will make another PR to fix this.

[2019-06-19 13:11] nul800sebastiaan commented on #5689
Thanks! I was about to ask if it wasn't you that changed this! Thanks for looking into it. I don't know how I missed this during testing. :-)

[2019-06-19 14:03] pralthom commented on #5689
Hi, thank you for the quick answer.
I've just made a PR.
As you can see it's not perfect because the search box of the link picker is not displayed in the right language.

[2019-06-19 20:32] bjarnef opened #5696 "v8: Log viewer - close overlays on click outside"
In log viewer when clicking outside the overlay, it should close. Furthermore it should probably also close e.g. "log levels" when open "saved searches".

I think @kjac had fixed similar issues in other parts of backoffice in other PR's.
https://github.com/umbraco/Umbraco-CMS/pull/3956
https://github.com/umbraco/Umbraco-CMS/pull/5563

![image](https://user-images.githubusercontent.com/2919859/5979

[2019-06-20 08:02] nul800sebastiaan commented on #5696
Makes total sense, would love to see that!

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-06-20 08:05] nul800sebastiaan commented on #4181
Fixed in #4188

[2019-06-20 12:02] nul800sebastiaan commented on #5313
I know this is confusing.. but we don't have a default "editing language".

We have a backoffice language. Which is what it says in the user section as well.

What is missing is a feature we currently do NOT have: the ability to make sure a user can only edit one/some of the available languages.

[2019-06-20 12:27] nul800sebastiaan commented on #3028
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-06-20 12:27] #3028 closed

[2019-06-20 12:27] nul800sebastiaan commented on #3041
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-06-20 12:27] #3041 closed

[2019-06-20 12:28] nul800sebastiaan commented on #3043
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-06-20 12:28] #3043 closed

[2019-06-20 12:28] nul800sebastiaan commented on #3118
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-06-20 12:28] #3118 closed

[2019-06-20 12:29] nul800sebastiaan commented on #3105
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-06-20 12:29] #3105 closed

[2019-06-20 12:29] nul800sebastiaan commented on #3119
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-06-20 12:29] #3119 closed

[2019-06-20 12:30] nul800sebastiaan commented on #3209
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-06-20 12:30] #3209 closed

[2019-06-20 12:30] nul800sebastiaan commented on #3235
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-06-20 12:30] #3235 closed

[2019-06-20 12:31] nul800sebastiaan commented on #3253
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-06-20 12:31] #3253 closed

[2019-06-20 12:31] nul800sebastiaan commented on #3300
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-06-20 12:31] #3300 closed

[2019-06-20 12:31] nul800sebastiaan commented on #3361
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-06-20 12:32] nul800sebastiaan commented on #3418
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-06-20 12:32] #3418 closed

[2019-06-20 12:33] nul800sebastiaan commented on #3361
Oops, that was a bit too quick. We still want this but we need to provide more guidance first, which is not something we can give in the near future. I'll apply the "idea" label to indicate this is something we definitely want somehow but it still needs additional work on our end.

[2019-06-20 12:34] nul800sebastiaan commented on #3514
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-06-20 12:34] #3514 closed

[2019-06-20 12:34] nul800sebastiaan commented on #3524
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-06-20 12:34] #3524 closed

[2019-06-20 12:36] nul800sebastiaan commented on #3775
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-06-20 12:36] #3775 closed

[2019-06-20 12:37] nul800sebastiaan commented on #3817
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-06-20 12:37] #3817 closed

[2019-06-20 12:37] nul800sebastiaan commented on #3826
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-06-20 12:37] #3826 closed

[2019-06-20 12:37] nul800sebastiaan commented on #3864
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-06-20 12:37] #3864 closed

[2019-06-20 12:38] nul800sebastiaan commented on #3947
Go for it @OwainWilliams ! :-) 👍

[2019-06-20 12:38] nul800sebastiaan commented on #3960
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-06-20 12:38] #3960 closed

[2019-06-20 12:38] nul800sebastiaan commented on #3992
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-06-20 12:38] #3992 closed

[2019-06-20 12:39] nul800sebastiaan commented on #3999
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-06-20 12:39] #3999 closed

[2019-06-20 12:40] nul800sebastiaan commented on #4154
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-06-20 12:40] #4154 closed

[2019-06-20 12:41] nul800sebastiaan commented on #4333
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-06-20 12:41] #4333 closed

[2019-06-20 12:41] nul800sebastiaan commented on #4400
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-06-20 12:41] #4400 closed

[2019-06-20 12:41] nul800sebastiaan commented on #4529
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-06-20 12:41] #4529 closed

[2019-06-20 12:41] nul800sebastiaan commented on #4591
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-06-20 12:41] #4591 closed

[2019-06-20 12:42] nul800sebastiaan commented on #4644
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-06-20 12:42] #4644 closed

[2019-06-20 12:51] sniffdk commented on #3118
Closing an issue doesn't make the bug go away.. ? 🙈
I was kinda expecting HQ to fix it at some point ... 🤔

[2019-06-20 13:02] nul800sebastiaan commented on #3118
It doesn't make the bug go away, but leaving it open forever also doesn't.

This bug has not been found important enough for us to fix and nobody in the community has tried to fix it either. If it's a big enough problem then surely it will resurface again.

[2019-06-20 13:34] rasmusjp commented on #3118
I remember the datepicker being replaced at some point, was that only in v8?

[2019-06-20 14:24] zersiax commented on #5277
Hi there :-)
I am a blind developer and recently became interested in Umbraco. I tweeted about some accessibility-related issues I ran into, after which @MMasey  , @ArnoldV  as well as others pointed me to the work being done here to further Umbraco's back office accessibility.
I was asked to share my insights, both as a blind developer as well as an accessibility expert, to indicate what issues w

[2019-06-20 15:24] kjac commented on #5696
Hi @bjarnef and @nul800sebastiaan,

#5609 handles this as well; here's how the log viewer works when it's applied:

![log-viewer-on-click-outside](https://user-images.githubusercontent.com/7405322/59860983-3a9d6000-9380-11e9-82e3-45c49ebe38d9.gif)

[2019-06-20 17:24] Matthew-Wise commented on #5108
As #4265 is now closed lets get a clear feature list that both HQ and the community can agree on:

I have complied a list of questions and some answers below:

**Should this be part of the "info" content app or its own? Or something else?**

**What is a valid URL?**
 _Currently_  Anything that is a valid content url without a QueryString.

**What access level needs to be required?**

_Personally_

[2019-06-20 17:27] Matthew-Wise commented on #5108
cc: @abjerner @andersburla @nul800sebastiaan   as you commented on my PR and don't want to lose those minds :)

[2019-06-20 17:35] Nicholas-Westby commented on #5108
Not sure I understand this question. Is this with regard to the source URL (where you redirect away from) or the destination URL (where you redirect to)? Or both?

If the source URL, I think virtually any URL should be allowed. Sometimes you are redirecting away from weird URL's on old sites.

If the destination URL, I think any URL that corresponds to a page, with an optional query string. The qu

[2019-06-20 17:59] Matthew-Wise commented on #5108
Sorry to clarify I was referring to the source URL the destination would be a content picker :)

[2019-06-20 21:51] bkclerke opened #5700 "Macro Rendered in Richtext Editor when not configured to do so."
I have a blank v8.0.2 site that i setup locally with a sql ce database and created a test macro with a content picker parameter called page. The macro is configured to "use in rich text editor and the grid" but it is not configured to "render in rich text editor and the grid" however in my rich text editor in the content the macro is rendering the content in the editor instead of the default macro

[2019-06-20 23:40] linuselander commented on #5410
I agree with @natashadecanha that it is a bit confusing that the act of unpublishing a culture variant triggers the Published event. However, it would also be confusing (and possibly even worse) if an Unpublished event was triggered. The event is related to the IContent rather than the individual culture variants so the Unpublished event could be misleading.

With "Allow varying by culture" the Co

[2019-06-21 00:38] TFAstudio commented on #2909
For anyone coming in late to this game, using SVG images in Umbraco CMS v7 is now supported if you upgrade to 7.13.0 but there's some additional steps you'll need to take so you can actually use these fixes!

1. Edit /config/umbracoSettings.config and remove SVG from the <disallowedUploadFiles> settings.
2. Also add a new section inside this same config file inside <content> that specifies all the

[2019-06-21 06:13] natashadecanha commented on #5410
FIY

Met vriendelijke groet,

Natasha de Canha

===================================================
Perplex Digital B.V.
===================================================
=
= Ons blog: www.perplex.nl/blog/<http://www.perplex.nl/blog/?utm_source=outlook&utm_medium=email&utm_campaign=emailhandtekening>
= LinkedIn: www.linkedin.com/company/perplex-digital/<http://www.linkedin.com/company/perplex-di

[2019-06-21 09:05] kjac commented on #5634
Mind you there are a few open PRs already: https://github.com/umbraco/Umbraco-CMS/pulls?utf8=%E2%9C%93&q=is%3Apr+is%3Aopen+checkbox

[2019-06-21 09:18] nielslyngsoe opened #5702 "V8: Ability to add a custom validation feedback"
I would like to be able to write a custom validation feedback message. To help content creators move forward in this scenario:

![image](https://user-images.githubusercontent.com/6791648/59912366-33289600-9416-11e9-9f84-6b10e585f005.png)

I think it's fine to just provide one formulation of the feedback-message, written in the language the developer decides.

---
_This item has been added to our b

[2019-06-21 20:46] UnsungHeros commented on #2931
The file would still be available because it is physically there, so you might rename it to filename.ext.1.  As long as you have your web server set to serve a whitelist of extensions, that file will not be served by your webserver. The only code needing to be written would be the code to change the filename when it is 'deleted' and the code to un-delete it.

[2019-06-22 11:30] kjac commented on #5551
After a bunch of talks and whatnot, the conclusion is as follows: We need to provide a generic mechanism for handling copying on a property level, and implement that on Nested Content for starters. #5706 has been created for that.

[2019-06-22 20:44] andersbrohall opened #5707 "Umbraco 8 doesn't honour umbracoCssDirectory"
web.config/appsettings/add[key=umbracoCssDirectory] values aren't honoured in the Umbraco 8 Backoffice (When creating a Stylesheet, when trying to link Stylesheets to a RTE).

Reproduction
------------
Try create a Stylesheet in umb 8.02, below the input for Name the pats is printed out, /css/. Even though web.config/appsettings/add[key=umbracoCssDirectory] is set to "~/Styles"

[2019-06-23 07:11] nul800sebastiaan commented on #5707
It's `umbracoCssPath` you should be using. Looks like the documentation has a mistake in it, maybe (if this works for you) you can send a PR to get that fixed? https://our.umbraco.com/documentation/Reference/Config/webconfig/#umbracocssdirectory

[2019-06-23 07:11] #5707 closed

[2019-06-23 07:14] nul800sebastiaan commented on #5707
A few more things have changed in those docs actually, `umbracoUseSSL` is replaced with `Umbraco.Core.UseHttps` and maybe there's more.

Reference: https://github.com/umbraco/Umbraco-CMS/blob/v8/dev/src/Umbraco.Core/Constants-AppSettings.cs#L89

And: https://github.com/umbraco/Umbraco-CMS/blob/v8/dev/src/Umbraco.Core/IO/SystemDirectories.cs

[2019-06-23 11:03] nul800sebastiaan commented on #5561
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/5562

[2019-06-23 11:03] #5561 closed

[2019-06-23 11:03] nul800sebastiaan commented on #3947
@OwainWilliams whoops, looks like there's already a PR available, I missed that one!

https://github.com/umbraco/Umbraco-CMS/pull/5562

I'll close this as a duplicate of https://github.com/umbraco/Umbraco-CMS/issues/5561 (even though the other one was the dupe).

Sorry to get you all excited 🙈

[2019-06-23 11:04] #3947 closed

[2019-06-23 11:07] #5586 closed

[2019-06-23 13:39] AndyButland commented on #5702
I had [this PR](https://github.com/umbraco/Umbraco-CMS/pull/1479) open for a while that was intended for this same issue.  It's closed now, as was targeting V7, and haven't re-done as it didn't get much response previously - but could look to recreate if it looks to do what you are looking for here and it was felt it would get more traction now.

[2019-06-23 19:30] OwainWilliams commented on #3947
Doh! No worries - I'll just need to find a new PR to give a go 👍

[2019-06-24 00:10] Slipoch opened #5708 "Dashboards not obeying c# access rules"
When using multiple access rules, Umbraco allows access to a dashboard even when deny is logged against that group.

Reproduction
------------
[code]

relevant information as possible, such as:

### Specifics

Umbraco version: 8.0.2
browser etc. N/A

### Steps to reproduce

Create a dashboard, add more than one rule in C#.

### Expected result

I expected rules to be followed eg: aBRIManager does

[2019-06-24 07:53] nielslyngsoe commented on #5702
Hi @AndyButland, I'm sorry that you have been given the feeling of this feature not begin relevant. I personally think this feature is super important. Super important to help provide a friendly validation.

From my point of view it was though only important to enable the possibility to write a custom 'validationRegExpMessage'. But since you'r PR also was able to set a custom 'mandatoryMessage' I

[2019-06-24 08:42] nul800sebastiaan commented on #5300
I'll close this one as it indeed appears to be fixed in 7.14 already.

[2019-06-24 08:42] #5300 closed

[2019-06-24 08:44] nul800sebastiaan commented on #5299
It was intentional. The variable naming seems a bit weird but the point was to have a label for the toggle not a label for each state of the toggle.

See the discussion on this issue - https://github.com/umbraco/Umbraco-CMS/pull/3179#issuecomment-427751640

[2019-06-24 08:44] #5299 closed

[2019-06-24 08:45] nul800sebastiaan commented on #5298
I'll close this for now since we haven't gotten more feedback since. Feel free to report back if this is still and issue in 7.14!

[2019-06-24 08:45] #5298 closed

[2019-06-24 08:51] nul800sebastiaan commented on #5027
I'll close this one for now due to lack of activity. I would still love to hear more about the use case when you have a moment though!

[2019-06-24 08:51] #5027 closed

[2019-06-24 10:40] nul800sebastiaan commented on #5411
After some feedback: yep, it would be great to untangle the listview from it's current state into a proper re-usable directive.

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-06-24 10:42] nul800sebastiaan commented on #5591
Feedback from HQ: yep, that would sure be nice!

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-06-24 12:34] AndyButland commented on #5702
No problem, it was speculative at the time I believe, but when I saw you'd posted an issue that looked to be the same it was looking to solve, so seemed relevant to note.  I'll have a look at resurrecting for V8, or if anyone else wants to, there might be some work in there that can be reused.

[2019-06-24 15:35] kristianschneider commented on #5603
I'll try and see if can fix it

[2019-06-24 16:06] kjac commented on #5524
Oh my! Didn't know this issue existed... it's fixed in #5703

[2019-06-24 16:25] rolsendk commented on #4714
The issue appears to be fixed?

![Content - localhost](https://user-images.githubusercontent.com/38912242/60035566-689ae100-96ad-11e9-8700-830d777758ed.png)

[2019-06-24 16:27] kristianschneider commented on #5603
hm. Not much luck from me. I can confirm that the picker has the behaviour on a clean install. it seems to me that the Public access editor is expecting everything is living in the tree view component and the content picker is behaving as an infinite editor component

[2019-06-24 16:54] bjarnef commented on #5603
It seems `#leftcolumn` has an z-index on 1100, while the entire `contentwrapper` has a z-index on `10`, so left column with navigation + right-click action menu are on top of content/editing section.

![image](https://user-images.githubusercontent.com/2919859/60036864-8158c600-96b0-11e9-9262-566e7544ecc2.png)

Setting `#leftcolumn` to 10 or lower make in move behind the right overlay.

![image](ht

[2019-06-24 17:58] kimschurmann commented on #5676
I am working on it :-) PR coming up...

[2019-06-24 20:47] Matthew-Wise opened #5714 "Markdown editor link picker"
Umbraco v8.0.2:

The Markdown editor link picker throws a console error when clicked.

Reproduction
------------

### Steps to reproduce

- Create a new doc type
- Add a markdown editor property
- Edit the property value on a content node
- Click the link picker

### Expected result
- Link modal / dialogue will show, allowing the user to pick the link location

### Actual result
console error is t

[2019-06-24 21:43] tiffy74 commented on #5277
Just wow

All I can say is what an amazing and insightful post.  This is some of the most useful information and you've been so thorough and given loads of detail.

All I can say @zersiax is a heartfelt #h5yr and I really hope you can engage more with us as this project develops.  There's so much to do and without posts such as yours, would mean that we may either misunderstand certain accessibili

[2019-06-24 22:40] linuselander commented on #5218
I can reproduce the issue that @hartviglarsen describes. I located the problem to a predicate that determines which indexes should be affected when unpublishing a node. From my tests, it seems as if it selects the _InternalIndex_ and _MemberIndex_ as eligible candidates for the node removal. My interpretation of the logic is that it should rather be removing the node from the _ExternalIndex_.

I c

[2019-06-25 06:32] clausjensen commented on #5524
@kjac I was wondering when you'd pick this up 😃
Thanks for fixing!

[2019-06-25 06:40] kimschurmann commented on #5676
PR in: https://github.com/umbraco/Umbraco-CMS/pull/5716

[2019-06-25 06:45] kjac commented on #5524
😋

[2019-06-25 07:39] nul800sebastiaan commented on #5645
This has been fixed: https://github.com/umbraco/Umbraco-CMS/commit/17a4799b9715a08234e965573dce725ba08342a2.

[2019-06-25 07:39] #5645 closed

[2019-06-25 07:40] nul800sebastiaan commented on #3673
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/4507

[2019-06-25 07:40] #3673 closed

[2019-06-25 08:55] #5524 closed

[2019-06-25 09:14] nul800sebastiaan commented on #5714
I can reproduce, also still a problem in 8.1.0.

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-06-25 09:47] nul800sebastiaan commented on #5708
I can reproduce, this is a bug which should be fixed in https://github.com/umbraco/Umbraco-CMS/pull/5717

Thanks for reporting! 👍

[2019-06-25 10:07] rolsendk commented on #5489
PR https://github.com/umbraco/Umbraco-CMS/pull/5718

[2019-06-25 10:08] tom-ingeniuus commented on #4452
You realise, Shannon, that you used the old method in Articluate:
https://github.com/Shazwazza/Articulate/blob/v8/src/Articulate/Components/ArticulateComponent.cs#L227

I know it's not using variants, but some people might think it has some good example v8 code :(

[2019-06-25 10:34] #5708 closed

[2019-06-25 10:39] nul800sebastiaan commented on #5700
I can confirm this is a big, should be fixed in https://github.com/umbraco/Umbraco-CMS/pull/5719

[2019-06-25 11:26] koenvanras opened #5720 "v8: Richtext editor loading slow because of stylesheets that don't exist anymore"
The richtext editor property loads very slowly on nodes because it can't find a stylesheet.

Reproduction
------------

### Bug summary

When you add a stylesheet to the richtext editor data type and remove the physical file, the stylesheet will still remain in the stylesheet array in the database.

There should be some sort of null check or maybe even a way to remove the stylesheet from the datab

[2019-06-25 13:31] #5584 closed

[2019-06-25 16:21] #5676 closed

[2019-06-25 16:22] nul800sebastiaan commented on #5676
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/5716

[2019-06-25 16:38] #5489 closed

[2019-06-25 23:55] Shazwazza commented on #4452
@tom-ingeniuus CreateAndSave is not the same as what I'm referring to.

In v8, `CreateAndSave` is equivalent to v7's `CreateContentWithIdentity` ... both of these methods are fine because they actually "Save" the content item which means the `Saving`/`Saved` event is triggered.

The `IContentService.Create` methods are the ones I'm referring to - these should be deleted and not used.

[2019-06-26 04:38] Myster opened #5721 "Bulk Actions on a ListView are not available via Granular Permissions"
If you have Granular permissions to a ListView and it's children you do not see the actions you have access to.

If you have Default Permissions to those actions you do see them.

![image](https://user-images.githubusercontent.com/354777/60151395-aecc7d80-9830-11e9-8bf0-3eb08b98fbf7.png)
![image](https://user-images.githubusercontent.com/354777/60151422-ce63a600-9830-11e9-9fae-59076997c899.png)

U

[2019-06-26 04:45] Myster commented on #3235
Shouldn't the issue be open if it's not fixed?
I just came across this issue in a project.

[2019-06-26 06:39] nul800sebastiaan commented on #3235
We're happy to re-open when a PR comes in to fix it. :-)

[2019-06-26 07:57] skttl opened #5722 "Tree header and dashboard tabs not aligned"
![billede](https://user-images.githubusercontent.com/3726467/60161935-c25bf200-97f8-11e9-9637-a3c77b49ae2e.png)

[2019-06-26 08:30] tom-ingeniuus commented on #4452
Cool, thanks for clarifying that Shannon,
t

[2019-06-26 09:27] nul800sebastiaan commented on #5700
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/5719

[2019-06-26 09:27] #5700 closed

[2019-06-26 09:31] nul800sebastiaan commented on #5722
I can confirm, when there's a language dropdown it aligns well, when there isn't.. it doesn't :-)

[2019-06-26 09:48] robmaas opened #5723 "v8: Custom Listview embedded editor is not saved when saving DocType"
When editing a custom listview directly from a DocType it is unclear that the embedded listview editor has it's own Save button (it requires quite a bit of scrolling down to see it).
Users are very likely to use the DocType's Save button instead (since it is fixed to the bottom of the page).
However, when using the DocType Save button the custom listview's properties are not persisted, nor a Disca

[2019-06-26 10:09] bjarnef commented on #4419
@nul800sebastiaan are there any plans to look include this in core. At the moment there a number of packages which save a simple value from the property editor, here are a few examples to name a few.

**SVG Icon Picker**
https://our.umbraco.com/packages/backoffice-extensions/svg-icon-picker/
(return string instead of object).

**Switcher**
https://our.umbraco.com/packages/backoffice-extensions/swi

[2019-06-26 10:37] nul800sebastiaan commented on #5721
Definitely something weird going on there.. going into the individual items and using the actions dropdown menu does give you the correct actions.

Note: tested on 7.14 with default starter kit with this set of permissions:
![image](https://user-images.githubusercontent.com/304656/60170324-80d34300-9808-11e9-95e8-134bd79c8219.png)

Default permissions has Delete and Publish disabled, then the "Peo

[2019-06-26 10:43] nul800sebastiaan commented on #5723
You're absolutely right, we want to go a step further and open the configuration of a list view as an infinite editor, see this issue: https://github.com/umbraco/Umbraco-CMS/issues/5021

[2019-06-26 10:43] #5723 closed

[2019-06-26 10:44] nul800sebastiaan commented on #5721
I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-06-26 10:44] skttl opened #5724 "Unable to add multiple property groups in membertype/doctype editor"
I was building out a membertype, and had added all my needed properties to the first group I created. I then proceeded to add the needed groups, so I could sort the properties in the end.

But when you create a new group, the "Add new group" option disappears until you have added properties to that group. And only if you add new properties, the option will reappear. I tried moving existing propert

[2019-06-26 10:59] nul800sebastiaan commented on #5720
Hi @koenvanras, I don't really know how to reproduce this problem. I just get an immediate 404 error within milliseconds and the RTE loads quickly.

![image](https://user-images.githubusercontent.com/304656/60174726-f42d8280-9811-11e9-8ddc-9af09eac2ed0.png)

Maybe you're working on an older version of Umbraco? Not sure.

I'll close this for now, as I can't reproduce with the steps above, if you ha

[2019-06-26 10:59] #5720 closed

[2019-06-26 11:05] nul800sebastiaan commented on #5724
Yeah, it's a deliberate choice to not save empty groups as they don't "do" anything.

I'll need to discuss this way of working at HQ though, I understand what you're trying to do and how we're slowing down your productivity this way.

Will get back to you.

[2019-06-26 11:24] skttl opened #5725 "Group picker dialog is showing beneath public access dialog"
I resized my window to document some other issue, and noticed that the group picker dialog opened in the public access dialog is showing beneath the public access dialog, making it harder to select the right group to protect.

![billede](https://user-images.githubusercontent.com/3726467/60176109-a9156e80-9815-11e9-9ada-6576254549bc.png)

[2019-06-26 11:24] nul800sebastiaan commented on #4419
We'd be happy to, the current state is that we're looking for contributions to make this happen! 👍

[2019-06-26 11:30] nul800sebastiaan commented on #5725
Thanks! This is a duplicate of: https://github.com/umbraco/Umbraco-CMS/issues/5603

[2019-06-26 11:30] #5725 closed

[2019-06-26 11:32] skttl opened #5726 "📮 Being able to set public access settings on multiple nodes"
I would like to be able to select multiple nodes to be protected at a time. This would make it easier and less error prone, when dealing with multiple protected pages.

Currently I have to right click every node, select Public Access, select group based protection, click next, open the member group dialog, click the desired group, click submit, open the node picker for the login page, click the de

[2019-06-26 11:37] skttl opened #5727 "Accidental click outside of a dialog closes the dialog, and changes are lost"
When you are deep into a dialog (like the public access dialog), and by accident, clicks outside of it, it just closes and forgets all about what you where doing.

A warning or a confirm dialog would be really nice here :)

https://i.imgur.com/8DO3gZ8.gifv

[2019-06-26 11:39] nul800sebastiaan commented on #5726
Interesting, this is the first time I hear of a requirement for multiple different areas of a site needing the same member-based protections. Can you elaborate on why you need 15 areas to be protected and why they can't be under a single root node? I'm asking because I have no imagination of course haha! 😉

My gut feeling says: this would probably be a great idea for a package, to have a dashboard

[2019-06-26 11:41] nul800sebastiaan commented on #5727
Absolutely!

[2019-06-26 11:43] PerplexDaniel commented on #5410
@linuselander Makes a valid point about the whole `IContent` not being unpublished when only unpublishing a subset of cultures. However, I do not agree it is therefore confusing to trigger an Unpublish event. It literally is an unpublish action, it just happens to unpublish only part of the content.

Like @linuselander says, I think Umbraco should just expand the `PublishEventArgs` to include info

[2019-06-26 11:45] skttl commented on #5726
My use case is kind of a public facing extranet, where only specific pages need to be protected.

![billede](https://user-images.githubusercontent.com/3726467/60177057-39ed4980-9818-11e9-8b75-91bc4fadd463.png)

As you see from the tree, some pages are not protected and are meant to be open for all users, while the protected ones are only for known users.

I could (as you wrote) have put them all i

[2019-06-26 11:48] nul800sebastiaan commented on #5726
Sure, the URL part should be easy to fix though with a `UrlSegmentProvider`.

Wouldn't they be in different member groups and therefore you'd need to apply different things per node anyway?

[2019-06-26 11:48] bjarnef commented on #4419
Maybe HQ can add some thoughts or ideas to get started with, e.g,

- Should we have a new property for this in package.manifest or should we get the type based on the existing `valueType`? https://our.umbraco.com/documentation/extending/property-editors/package-manifest#editor
- Does it need some changes in the database to make this work?
- I can find a property value converter for Textstring (tex

[2019-06-26 11:56] skttl commented on #5726
Yeah, but then you would need (for easy updating) a folder for marketing, a folder for sales etc. And what to do with overlapping pages? Like if you had some kind of "sales material page", that should be available for both marketing and sales?

It's probably not going to be easy to figure out the UI. Should it be defined from membergroups in, content in or something else?

You could have a set of

[2019-06-26 11:58] nul800sebastiaan commented on #4419
Sure:

- I would say yes, that seems like a good idea, since we then keep it fully backwards compatible, not breaking people's existing stuff. It might be that people already made custom PVCEs so we don't want to interfere there when they upgrade to a newer version.
- I would hope not, why would that be?
- The core ones live in: https://github.com/umbraco/Umbraco-CMS/tree/v8/dev/src/Umbraco.Core/P

[2019-06-26 12:06] nul800sebastiaan commented on #5726
I think we're talking in hypothetical scenarios now, I would really like to stick to real life usage scenarios. As I said earlier, we haven't seen this request before. I recognize that updating 15 nodes right now is a bit painful but also.. how often is this going to happen?

We're all for making things much easier but only if it makes sense for a lot of people, if it only impacts a few users who

[2019-06-26 12:42] brreisner commented on #5035
Zpqrtbnk please let me know if any of us can help expedite this if you do not yet have the information to properly troubleshoot and isolate the issue. We have several v8 projects in the works scheduled to go live end of October. Do you have any concept of when this might be resolved or when you will be able to accurately describe what is occuring? We just passed 3months since the bug was opened. N

[2019-06-26 12:51] bjarnef commented on #4419
Yes, it should not break existing custom PVCEs used in packages. Not sure if there is a specific way to check this?
Regarding database changes it would only be if it needed to store something specific for this, but I guess it is it possible without database changes (just thinking out loud).
Ahh, I was looking in `src/Umbraco.Web/PropertyEditors/ValueConverters` not `src/Umbraco.Core/PropertyEditor

[2019-06-26 13:04] nul800sebastiaan commented on #4419
I'm guessing one of them is in use and the other one is not used anywhere. 🙈

[2019-06-26 14:05] kjac commented on #5727
I did something similar to another dialog not so long ago. I will have a look at applying that to public access as well. A generic solution across all dialogs is probably going to clash miserably with the current solution for content.

[2019-06-26 14:08] nul800sebastiaan commented on #5277
Sorry for the close/reopen/close/reopen.. unfortunately when I merge a PR this auto-closes. Wonderful functionality... MOST of the time! 😉😂

[2019-06-26 18:43] skttl commented on #5726
Just one more thing that could fail at some point :)

I get that this issue probably is quite hypothetical - let's just keep things as they are, until theres a bigger demand for it. As I wrote in the previous comment, it's probably not a small task to do :)

[2019-06-26 18:43] #5726 closed

[2019-06-26 20:23] bjarnef commented on #4419
Okay, maybe @Shazwazza or @zpqrtbnk know, which one is in use or if both are required?

A thought about the package.manifest, where we e.g. have a `INT`. But only from this how should we know, if the return value should be e.g. `int` or `bool`?

For my property editor Switcher I have value type `INT`, but I would like it to return a boolean (similar to true/false property editor when using e.g. `u

[2019-06-26 20:23] MMasey commented on #5277
PR for 6, 7 and maybe a few other at #5729

[2019-06-26 21:08] bjarnef commented on #4419
For Switcher for `valueType: "INT"` it reach this part and `Type` is `long?` or nullable System.Int64
https://github.com/umbraco/Umbraco-CMS/blob/853087a75044b814df458457dc9a1f778cc89749/src/Umbraco.Core/PropertyEditors/DataValueEditor.cs#L163-L176

but it seems ModelsBuilder generate the property value of type `object` (Dll mode).

![image](https://user-images.githubusercontent.com/2919859/602151

[2019-06-27 04:49] #5170 closed

[2019-06-27 08:59] nul800sebastiaan commented on #3624
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/5390

[2019-06-27 08:59] #3624 closed

[2019-06-27 09:27] kjac commented on #5727
In the latest codebase I can't reproduce click-outside-to-close:

![public-access-click-outside](https://user-images.githubusercontent.com/7405322/60254543-72e7f580-98ce-11e9-9a9b-0165d7f065e9.gif)

However the point of this issue is still valid if you accidentally hit "close" after spending time setting it all up. PR #5733 addresses this.

[2019-06-27 09:46] nul800sebastiaan commented on #5528
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/5559

[2019-06-27 09:46] #5528 closed

[2019-06-27 10:48] kjac commented on #5727
Disregard my last comment. It seems to be a bug in the latest codebase... I'm on it.

[2019-06-27 11:05] trollsudd opened #5735 "V8 can't "search and pick" media in 'Multi url picker'"
When using the search function inside "select media" and pick a search result, the "Link title" is updated- but not the url = no media is picked.

Reproduction
------------

When using a "Multiple Url picker" property
1. Click on "Select media" (under heading "Link to media")
2. Search for some image/file
3. Select it with the cursor and click "Select"

If you manually navigate to the file the sle

[2019-06-27 11:28] #5675 closed

[2019-06-27 11:49] kjac commented on #5735
Pretty sure this was already fixed..?

[2019-06-27 11:52] #5659 closed

[2019-06-27 11:52] nul800sebastiaan commented on #5659
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/5666

[2019-06-27 11:54] kjac commented on #5735
See https://github.com/umbraco/Umbraco-CMS/pull/5666 ... Isn't that the same issue?

[2019-06-27 12:09] nul800sebastiaan commented on #5277
PR #5729 merged, super nice to be able to use the keyboard in the tree! 🎉

[2019-06-27 12:38] TheBeardedLlama commented on #5027
Hey @nul800sebastiaan
apologies for the delay in replying, life's been interesting...

I'm not on that contract anymore. However, the requirement was to verify that the coordinates matched the requirement without having to go into the db.

Displaying information that is already on the client side should be straightforward, so I'm not sure why a case has to be made?

[2019-06-27 12:39] TheBeardedLlama commented on #5027
context: I was migrating a site from Sitecore and needed to make sure things were the same

[2019-06-27 12:41] trollsudd commented on #5735
Yes its like #5659 but I still have the issue.

![urlpicker](https://user-images.githubusercontent.com/15833271/60267046-94a2a600-98e9-11e9-8601-0569113d6a41.gif)

[2019-06-27 12:42] nul800sebastiaan commented on #5735
Thanks @trollsudd this will be fixed in the upcoming v8.1.0.

[2019-06-27 12:42] #5735 closed

[2019-06-27 12:46] nul800sebastiaan commented on #5689
Closing this one, see comment in the PR :-) https://github.com/umbraco/Umbraco-CMS/pull/5693

[2019-06-27 12:46] #5689 closed

[2019-06-27 13:31] cleversolutions opened #5737 "GetCropUrl returns null with valid cropAlias param V8"
### Bug summary
ImageCropperTemplateExtensions.GetCropUrl returns null when provided a valid cropAlias parameter unless you save each image in your media library after adding a new crop.

### Specifics
This occurs in 8.0.2 and v8/dev using Chrome (but should affect all browsers)

### Steps to reproduce
- V8 with SK installed
- Update Image Media Type -> Update umbracoFile Image Cropper DataType se

[2019-06-27 14:06] AndyButland commented on #5702
New PR targetting V8 is [here](https://github.com/umbraco/Umbraco-CMS/pull/5738/).

[2019-06-27 19:26] nul800sebastiaan commented on #5737
Yes, unfortunately this will be true for any updates you will do for datatypes. We do not update existing data when a datatype updates simply because it is an expensive operation that could take a very long time and much processing power.

It's up to you to do some defensive querying for this or possibly provide a migration tool for when you know things will need to change. Just be aware that you'

[2019-06-27 19:29] kjac commented on #5727
New PR in #5740

[2019-06-27 19:34] #5327 closed

[2019-06-27 19:37] nul800sebastiaan commented on #5737
Hmm, I just saw your related PR, and it's not what I thought you wanted to get solved. ;-)

I'll have a look at it soon, this might be an okay solution, not sure yet.

[2019-06-27 19:39] nul800sebastiaan commented on #5702
Thanks @AndyButland - as @nielslyngsoe already mentioned, I'm also trying to figure out the use-case for adding a custom `mandatoryMessage`, can you elaborate on that one please? 🙂

[2019-06-27 19:59] #4759 closed

[2019-06-27 20:00] nul800sebastiaan commented on #4759
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/5712

I've marked as breaking because there's a small possibility that a package might be relying on a removed property, I doubt it but.. just to be sure.

[2019-06-27 20:06] nul800sebastiaan commented on #5612
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/5655

[2019-06-27 20:06] #5612 closed

[2019-06-27 20:17] #3957 closed

[2019-06-27 20:19] #5637 closed

[2019-06-27 20:20] nul800sebastiaan commented on #5605
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/5625

[2019-06-27 20:20] #5605 closed

[2019-06-27 20:27] #5727 closed

[2019-06-27 21:22] AndyButland commented on #5702
Just seemed "friendlier" I thought - so rather than just saying "Required" under a field, you could have "Please enter a title for the article" or similar.

In the same way that with an MVC application you'd likely use the attributes with a custom message: `[Required(ErrorMessage = "Title is required.")]`.

[2019-06-28 05:26] nathanwoulfe commented on #5722
I thought I'd fix this ages ago - it triggered my OCD big time... Things must have changed since then and re-borked it.

[2019-06-28 07:19] #4234 closed

[2019-06-28 07:48] coderpros commented on #4788
@RaminMT, @mhamel This will be added to the 8.1.0 release.

[2019-06-28 08:31] #5020 closed

[2019-06-28 08:31] #5220 closed

[2019-06-28 08:54] nul800sebastiaan commented on #5268
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/5270

[2019-06-28 08:54] #5268 closed

[2019-06-28 09:20] skttl commented on #5722
@nathanwoulfe this is in 8.0.2, if you fixed it afterwards it should be ok :)

[2019-06-28 09:32] nul800sebastiaan commented on #5722
Unfortunately still a problem on the latest 8.1.0 commits :-)

[2019-06-28 09:50] nathanwoulfe commented on #5722
Nah, I looked at this before 8 was released, spent a chunk of time on the CSS for the content tree => https://github.com/umbraco/Umbraco-CMS/pull/2777. Almost a year ago!

I'm happy to look into this again, it won't take much to fix.

[2019-06-28 14:09] spudstuff opened #5744 "MNTP (v8) is not filtering child nodes where list view is enabled"
The MNTP isn't filtering out child nodes of doctypes that are enabled for list view. The doctype filter is only working on non-listview nodes.

![MNTP in v8.0.2](https://user-images.githubusercontent.com/675943/60345495-872a1080-99fc-11e9-8526-3d7e869fa0d7.gif)

Reproduction
------------
* Install Starter Kit in 8.0.2.
* Create a MNTP datatype with allow items of type set to "content page".
* Add

[2019-06-28 23:44] spudstuff commented on #5744
Nevermind :) I see @Shazwazza has already fixed 10 days ago in https://github.com/umbraco/Umbraco-CMS/commit/5c2b0647f3feaf23311bc26876a183bbb348bad5. #h5yr!

I do see that `umbminilistview.directive.js` has the incorrect case on `hasChildren` here on line 74 though.
[code]

But it's OK in the full `umbraco.directives.js`. Are those files maintained separately?

[2019-06-28 23:44] #5744 closed

[2019-06-29 15:28] kjac commented on #5714
I've got this; might as well make use of the built-in link picker while we're at it.

[2019-06-29 18:37] kjac commented on #5714
PR in #5745

[2019-06-30 14:34] spudstuff commented on #5744
Fixed .hasChildren and noticed another problem with filtering on mini list view. PR at https://github.com/umbraco/Umbraco-CMS/pull/5746. Cheers.

[2019-06-30 18:40] kjac commented on #5619
Pretty sure this is rather by design. When doing scheduled publishing we have no way of knowing who did the actual scheduling.

The audit trail seems to log the last content editor as the one who performed the scheduled publishing. That's... arguable at best.

[2019-07-01 05:56] nul800sebastiaan commented on #5674
Hi @rasmuseeg - although this was for some reason done on purpose (nobody remembers why), it would make sense to enable the content name for editing and put the Save / Save & Publish buttons at the bottom.

[2019-07-01 06:07] nul800sebastiaan commented on #5296
Thanks for the feature request @ksolberg and the additional feedback @skttl !

While we certainly understand this functionality, it is not something we think is suitable to support in the core list viewer. As mentioned above, we'd encourage you to create custom list view layouts where you could create this type of filtering.

[2019-07-01 06:07] #5296 closed

[2019-07-01 06:10] nul800sebastiaan commented on #5516
Hi again @jerpenol - we had a little chat about this and we need some extra detail on what the problem is that this would solve for you. There's a few solutions in your feature request but we're not sure what problems they are solving?

[2019-07-01 06:22] nul800sebastiaan commented on #5554
We had a chat about this at HQ and it turns out I misunderstood what was going on, this seems like a bug that we need to fix.

[2019-07-01 06:48] nul800sebastiaan commented on #5259
Hey @marcemarc - thanks for the illuminating video illustration here!

We had a look at this at HQ and think this is a really cool and handy feature and if you're still up for it, this would make a great core feature.

Minor detail: the icon for switching between details and thumbnails should probably be to the right of the path instead.

[2019-07-01 07:05] zpqrtbnk opened #5749 "Need to prepare MB future"
As discussed with Claus and Shan - this issue created for PR #5748.

[2019-07-01 07:45] dawoe opened #5750 "V8.1 - create folder not working in several places"
A brief description of the issue goes here.

In several places in the settings section several actions from the create dialogue are not working anymore. If you click on the action the dialogoue will be close.

This is on the latest v8.1 source.

![folder create](https://user-images.githubusercontent.com/1193822/60418809-29f0b380-9be4-11e9-9606-b28928abb430.gif)

I discovered following actions that

[2019-07-01 07:55] jerpenol commented on #5516
Hi @nul800sebastiaan ,

My problem is that I want to have overlays for my custom gridcontrol, but they don't need to be full-width all the time.

When I know that I am not going to have more than 2 overlays stacked unto eachother, I do not want them to be full-width or both small. In this case I would like an option to open a medium overlay and a small one, so the user still has the "infinite edit

[2019-07-01 07:58] dawoe commented on #5750
It seems to work again if I revert the changes from PR #5609

@kjac any idea how to fix ?

Dave

[2019-07-01 08:16] kjac commented on #5750
Geez. I'll have a look later today. Something to do with preventing default I reckon.

[2019-07-01 08:25] dawoe commented on #5750
PR is incoming

Maybe you could check it to see everything you fixed still works

[2019-07-01 08:29] dawoe commented on #5750
PR is created

[2019-07-01 08:43] kjac commented on #5750
Cool I'll have a look at it later 😀

[2019-07-01 11:46] mastrup opened #5755 "Using rollback on nodes with a medium/large grid, makes the browser tab unresponsive"
When trying to use the rollback feature on a node, the browser tab can become unresponsive and make the browser crash.

Reproduction
------------

### Bug summary
When trying to rollback to an earlier version of a node, the browser tab can crash if the JSON that is returned from `/umbraco/backoffice/UmbracoApi/Content/GetRollbackVersion` is too big.

In my test, my browser struggled if the grid ha

[2019-07-01 16:31] MrJackWilson opened #5759 "v8.0.2: IncompleteMigrationExpressionException thrown when table already exists in migration"
IncompleteMigrationExpressionException thrown when running migrations.

Reproduction
------------

### Bug summary

The exception is being thrown when running a simple migration which checks if a table exists and if it doesn't, creates it. The table already exists in SQL so it shouldn't actually create the table.

### Specifics

Umbraco version is 8.0.2 on the cloud. Setup is a clean install.

###

[2019-07-01 17:37] zpqrtbnk commented on #5759
The code in your Gist should deliver the expected result. As in, I am not seeing any obvious mistake that you would be making ;-) Have tried adding a dummy migration to the end of the main migration plan, doing:

[code]

With upcoming version 8.1 the migration runs without problems. Would need to test again on 8.0. Any chance you can post the full exception stack trace?

[2019-07-01 19:00] rasmuseeg commented on #5674
@nul800sebastiaan Sure, but i still think the save button should not be visible on content apps, since they are then related to the content app.
I would suggest, that a click on the name/input would change "tab" to the content and focus the input/field for editing. That way the save button is only on the content "tab"

[2019-07-01 22:50] brreisner commented on #5035
@Shazwazza Seems as though the backlog is not publicly visible and I'm not sure what that means in terms of priority or timing. Any further insights you can provide?

[2019-07-01 23:56] Shazwazza commented on #5035
@brreisner we use a separate proj mgmt tool to help us manage public and internal issues - this is not public. Investigating this has been set to start at the end of this sprint so probably later next week. We'll report back on findings but can't give you an answer because this has never been seen before. Whatever this Azure setting is doing is changing how normal locking at the OS level works.

[2019-07-02 00:03] Shazwazza commented on #5674
@nul800sebastiaan you mentioned above the reason for this

And I do remember why ;) - it's exactly like you mention. The built in List View however, could/should probably still show the buttons and allow editing the title. However, for any custom content app this should not be the case because a content app can have it's own form and it's not possible currently to integrate the standard "Save" but

[2019-07-02 06:17] AndyButland opened #5761 "V8: Mandatory colour picker can't be saved"
To replicate:

- Create a data type based on the "Color Picker"
- Add a few colours
- Create a property on a document type using the new data type
- Make it mandatory
- Try entering content based on the document type
- Even if a colour value is selected, the property is marked as invalid

![image](https://user-images.githubusercontent.com/1993459/60488195-a1d0e380-9ca1-11e9-927f-441284a6a1ab.png)

[2019-07-02 06:23] AndyButland opened #5762 "V8: Mandatory check-box list isn't validated"
To replicate:

- Create a data type based on the "Checkbox list"
- Add a few options
- Create a property on a document type using the new data type
- Make it mandatory
- Try entering content based on the document type
- Whether or not a check box is checked, the property isn't marked as invalid.  I'd expect it should be if no value is checked.

![image](https://user-images.githubusercontent.com/19

[2019-07-02 08:30] MrJackWilson commented on #5759
Sure, here you go.

<img width="1413" alt="Screenshot 2019-07-02 at 09 29 37" src="https://user-images.githubusercontent.com/25818813/60497057-fc6f3d00-9cab-11e9-9ce1-9b1bba25d0a2.png">

[2019-07-02 08:49] #3355 closed

[2019-07-02 09:11] #5750 closed

[2019-07-02 09:27] bjarnef commented on #5755
The nested `ng-repeat` might have many items to loop, if there are many changes in the grid data (json).
https://github.com/umbraco/Umbraco-CMS/blob/853087a75044b814df458457dc9a1f778cc89749/src/Umbraco.Web.UI.Client/src/views/common/infiniteeditors/rollback/rollback.html#L67

- It would probably help to add `track by`, e.g.`track by $id(part)`.
- Not sure if it need the two-way binding, so one-way

[2019-07-02 10:51] PeteDuncanson commented on #3910
@nathanwoulfe has had this exact problem and had to find a work around with it. Its not perfect as its a work around to his previous work around (using interceptors). I think this is just flaky and prone to breaking which gives Umbraco a bad name by association when you upgrade and then "features" which are actually packages stop working. Clients don't know what is a package and what isn't, its ju

[2019-07-02 11:10] MrJackWilson commented on #5759
After some testing, I can see that the problem is caused by Context.BuildingExpression being set to true by the TableExists() method and because the table does exist, nothing else runs so it doesn't get set back to false. This makes Umbraco think that something didn't happen that was supposed to.

A temporary fix is to set Context.BuildingExpression to false at the end of the Migrate() method.

[2019-07-02 11:13] kjac commented on #5761
By the looks of it the color picker needs a bit of cleaning and redo. I can replicate and I _think_ I have a solution.

[2019-07-02 11:57] kjac commented on #5761
PR in #5765

[2019-07-02 12:20] martinjgriffiths opened #5766 "validElements issue causing RTE to incorrectly retain attributes"
This ones been really frustrating!

I honed my valid tags to this snippet...
`<![CDATA[-div[id|class],+a[id|name|href|target|title|class],-strong/-b[class],-em/-i[class],-ol,-ul,-li,-p[id|align|class],br,img[id|class|src|alt|title|width|height|data-udi],-sub,-sup,-table[cellspacing=0|cellpadding=0|class|id],-tr[id|class|rowspan|align|valign|width|height],tbody[id|class],thead[id|class],tfoot[id|cl

[2019-07-02 19:36] bmargevicius opened #5768 "U8: Log Viewer pie chart has the wrong verbiage."
Not a big deal but ...
Settings -> Log Viewer -> Right side shows Number of errors and a pie chart of error counts.
There is a label called "Critical" this is incorrect. It should be labeled "Fatal".

You can see this when you click "All Logs". Also ILogger doesn't have the ability to log "critical"

![UmbracoMislabel](https://user-images.githubusercontent.com/24920023/60541205-0b231780-9cdf-11e9-

[2019-07-02 19:36] dnwhte opened #5769 "Nested content dialog does not follow specified sort order"
### Bug summary

Nested content dialog does not follow specified sort order.

### Specifics

Umbraco 7.14

### Steps to reproduce

Create a nested content data type with at least two doc types selected. Order them in a non-alphanumeric order. Create some content with the new data type. Selected doc types will not follow specified order.

### Expected result

Nested content dialog will order doc ty

[2019-07-02 19:50] dnwhte opened #5770 "MNTP "Allow items of type" doesn't work at root"
### Bug summary

Editors can select an item of any type, at the root, regardless of data type configuration.

### Specifics

Umbraco 7.14

### Steps to reproduce

Create a MNTP data type and specify a type in "Allow items of type". Test the data type to see which node types are selectable.

### Expected result

Only types specified in "Allow items of type" should be selectable at all levels of the

[2019-07-02 19:55] dnwhte opened #5771 "MNTP: Icons change when searching"
### Bug summary

Doc type icons are changed when searching in MNTP.

### Specifics

Umbraco 7.14

### Steps to reproduce

Use the search feature in a MNTP data type. Icons will change.

### Expected result

Doc types icons should remain the same when searching.

### Actual result

When searching doc types icons are changed to an image type.

---
![6](https://user-images.githubusercontent.com/63647

[2019-07-02 20:03] #5206 closed

[2019-07-02 20:05] nul800sebastiaan commented on #5206
Fixed in https://github.com/umbraco/Umbraco-CMS/commit/5bf29a907a3c422994be284ce84d26955669d5ab for v7 and merged up to v8 too.

I've marked it as a breaking change since we're removing a public endpoint. As far as we can tell nobody is actually using this endpoint, at least no packages seem to be using it. We can't be sure individuals aren't using it. Therefore this change is not backwards compat

[2019-07-03 04:40] nathanwoulfe commented on #3910
I did and I did. I like the idea - these safe areas could be exposed via a service which would also look after assigning scope and compiling the injected HTML. I'd take @PeteDuncanson's initial idea a step further and include options to prepend, append or replace the existing content in the safe zone - dev could then, for example, add a button to either end of an existing set, or replace them enti

[2019-07-03 05:09] kjac commented on #5769
I fixed this for V8, will be part of V8.1 ... I can look into a fix for V7 as well, if it's not too late to submit fixes?

[2019-07-03 07:34] deMD commented on #5170
Removing them in a future release is imo better as this way you still get polution with mutliple functions that have the same result. I would suggest adding the [Obsolete Attribute](https://docs.microsoft.com/en-us/dotnet/api/system.obsoleteattribute?view=netframework-4.8) to the properties so people will be informed that there is a new (better) option

[2019-07-03 08:21] ronaldbarendse commented on #5170
Let me re-iterate: not all content/properties are culture variant! And most of the time, you just need the value in the current culture, so properties make a lot of sense (and saves you some keystrokes) :wink:

And `IPublishedContent` just has the `Value([culture])` (extension) method, the properties are generated by ModelsBuilder (as that's the entire feature of this package)... Adding (extension

[2019-07-03 08:44] PullensDennis opened #5773 "GetCurrentMember has empty email and username"
When retrieving the current member using the Umbraco.Web.Security.MembershipHelper.GetCurrentMember() I get empty values for Email and Username.

Reproduction
------------

### Steps to reproduce

- Make sure you have a member stored in Umbraco with an email address and a username
- Make sure that user is logged in
- In your code (in our case our BaseSurfaceController) call Members.GetCurrentMembe

[2019-07-03 08:55] deMD commented on #5170
Sure for now I understand keeping them for backwards compatibility, but for a future release removing them makes sense, especially if you flag them with the obsolete attribute now so that people that create new project can get used to the new way. And with future release it might as well be v9.

And as far as keystrokes go, the difference between `model.Name` and `model.Name()` is so small, and mo

[2019-07-03 08:55] nul800sebastiaan commented on #5674
Yep, I was referring to nobody remembering why the List View in particular didn't have a buttons bar. It seems fine to add it back as we're dealing with content still.

Indeed custom content apps should not get content-related buttons.

[2019-07-03 09:05] ronaldbarendse commented on #5170
Removing the properties doesn't make sense for non culture variant content and auto-complete in Visual Studio doesn't add the parentheses at the end by default (see https://stackoverflow.com/questions/21466150/autocomplete-method-brackets).

Anyway, this is more related to Models Builder than Umbraco, as that package generates the classes and properties 👍

[2019-07-03 09:05] clausjensen commented on #5671
The reason for this happening is the use of the models generated by modelsbuilder, to populate the object-based cache in V8. Whenever a document type is saved - all models are regenerated (recompiles everything - also classes that haven't actually changed).

What we do is to then tell the cache that it should regenerate the cached data for the document type being saved - which causes the data in t

[2019-07-03 09:28] tristolliday opened #5775 "V8 Client Dependency - Automated Incrementing"
A simple way to increment client dependency version number automatically on deployment to a production server.

Problem:
Front end developers update CSS & JS, commit and are happy with the changes. Back end developers deploy, but forget to increment client dependencies, front end of solution breaks on live.

[2019-07-03 09:37] zpqrtbnk commented on #5759
Ouch - looking into code, don't undesrtand why (1) TableExists would set BuildingExpression and (2) why I cannot repro - hold on

[2019-07-03 09:55] nul800sebastiaan commented on #5769
@kjac We're still doing patch releases for 7.15. This is a bug and not a new feature, so it's fine to fix for v7 :)

[2019-07-03 10:36] kjac commented on #5769
@nul800sebastiaan roger that! PR in #5777

[2019-07-03 11:06] kjac commented on #5762
I believe this is a simple view error; I'll submit a fix shortly.

Rather unfortunate that the property editor isn't validated server side, though... 😨

[2019-07-03 11:19] idseefeld opened #5778 "Not possible to translate Member with /Umbraco/config/lang xml files"
There is no translation key for the term "Member" in the language config xml files.

[2019-07-03 11:26] idseefeld opened #5779 "In language file en_us.xml & en.xml "content type" is used instead of "document type" in several places."
Especially section `<area alias="contentTypeEditor">` needs to be reviewed.
The current usage of content, document, content type and document type is somehow confusing or misleading.

I'll start working on this and submit a PR when done!

Yours
Dirk

[2019-07-03 11:40] kjac commented on #5762
PR in #5780

[2019-07-03 11:43] #5671 closed

[2019-07-03 12:41] nul800sebastiaan commented on #5206
Note: I've tested the workaround in both 7.14 and 8.0.2 by using `RouteTable.Routes.Remove(RouteTable.Routes["umbraco-api-Tags"]);` and that doesn't break anything since we're not actually removing the controller from being registered, just making sure it's not routable.

[2019-07-03 13:22] nul800sebastiaan commented on #5671
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/5767

[2019-07-03 13:28] zpqrtbnk commented on #5759
Well, have looked into code, and I (1) cannot reproduce and (2) totally don't understand why TableExists would set Context.BuildingException. I'll need more infos.

[2019-07-03 13:32] MrJackWilson commented on #5759
You're unable to reproduce the error using the gist I provided?

[2019-07-03 15:20] Derds opened #5781 "Padding for nested content in split view (multiple languages) unusable"
When adding nested content in split language view the layout becomes almost unusable - just wanted to add this as a bug.

I know that custom CSS can be added to the back-office but not sure where to start with this so that the styling is still usable on this page but doesn't negatively affect every other content page.

![image](https://user-images.githubusercontent.com/22679551/60602885-96b6aa00-9

[2019-07-03 16:06] bkclerke commented on #5671
Thank you so much for being awesome and fixing this issue. You guys are amazing! :)

[2019-07-03 17:07] zpqrtbnk commented on #5759
To be fair: no, I've just added a migration to the 8.1 plan with the code I posted above, which is identical to yours, and have no problem - and nothing important has changed there since 8.0.2. Not sure I'll have time to run the gist soon, will raise the issue at HQ.

[2019-07-03 17:30] nul800sebastiaan commented on #5770
Thanks @dnwhte, this was fixed for 7.15 already! 👍

https://github.com/umbraco/Umbraco-CMS/issues/5137

I can only pick Files

![image](https://user-images.githubusercontent.com/304656/60612484-00dd4800-9dc9-11e9-8479-c15a86243a74.png)

[2019-07-03 17:30] #5770 closed

[2019-07-03 17:31] nul800sebastiaan commented on #5771
Yep, I can reproduce this one, even on the latest v7.15 commits.

[2019-07-03 17:32] nul800sebastiaan commented on #5768
Sure thing, should be fixed up! 👍

[2019-07-03 17:49] nul800sebastiaan commented on #5773
The recommended way to get the email and username is to use `Members.GetCurrentMemberProfileModel()` which should give you the results you're looking for:

![image](https://user-images.githubusercontent.com/304656/60613681-abef0100-9dcb-11e9-8303-ed5f9fa4322e.png)

[2019-07-03 17:49] #5773 closed

[2019-07-03 18:37] nul800sebastiaan commented on #5766
Argh, yeah these rules are painfully difficult to set up. Usually when it can be done with a standard tinyMce, it should work in Umbraco as well but.. not sure. :-)

In general if you have super specific requirements with this kind of HTML manipulation, it might be better to write a PropertyValueConvertor and use HtmlAgilityPack to do what you need.

I know this is not what you're hoping to hear,

[2019-07-03 18:40] nul800sebastiaan commented on #5775
Hey there, this is up to you on deploy, make sure to commit the increment to your source control or trigger it on the build server. For example on our build server for Our Umbraco we execute the following powershell script:

[code]

[2019-07-03 18:40] #5775 closed

[2019-07-03 18:45] #5749 closed

[2019-07-03 19:02] bmargevicius opened #5782 "U8: umbracoUrlName hypenates forward slashes."
Trying to set the umbracoUrlName on a custom route. I don't know if this is the key or not. But setting the umbracoUrlName text string property with '/' gets changed into hyphens. Googling around makes it seem that you can set / in the umbracoUrlName property.
![UmbracoUrlNameHypheningWeirdness](https://user-images.githubusercontent.com/24920023/60618189-85b56b00-9da3-11e9-9db1-5d0bebda0251.gif)

[2019-07-03 19:24] nul800sebastiaan commented on #4845
I've marked this as breaking since it will catch some people out who were using html interceptors before, as Nathan so well explained in his blog post: https://nathanw.com.au/post/replacing-interceptors-with-directive-injection/

[2019-07-03 19:52] nul800sebastiaan commented on #5781
Thanks for the report @Derds!

The good news is that it looks like this issue is already fixed for the upcoming version 8.1.0 (coming next week).

This is what it looks like on 8.1.0, much better :-)

![image](https://user-images.githubusercontent.com/304656/60620977-dac1a300-9ddc-11e9-8f45-625ee8c11d2f.png)

[2019-07-03 19:52] #5781 closed

[2019-07-03 21:00] kjac commented on #5722
I just gave this a spin. There are a few more misalignments going on:

![image](https://user-images.githubusercontent.com/7405322/60624615-06955680-9de6-11e9-989d-b6ffa1f369e9.png)

And:

![image](https://user-images.githubusercontent.com/7405322/60624641-1b71ea00-9de6-11e9-803d-fa8f3c5f83af.png)

Are you still on this, @nathanwoulfe? Otherwise I have a fix for 'em.

[2019-07-03 21:28] nathanwoulfe commented on #5722
It's all your @kjac. Nice to see you finding the time to contribute 😁

Was interested to hear why the borders were added, there doesn't seem to be any modifiers to change/color them, so they're always transparent...

[2019-07-03 22:40] nathanwoulfe commented on #5768
Will fix this shortly.

[2019-07-03 23:42] nathanwoulfe commented on #5768
Will make the colours consistent too, between the chart and the dropdown

[2019-07-04 06:59] zpqrtbnk commented on #5782
The umbracoUrlName property can be used to change the _url segment_ of a document, ie the part that goes _between_ slashes. If your document is named "Foo", its url segment is going to be "foo" and the url... "/path/to/foo" - you may use the umbracoUrlName to indicate that the segment should be "bar", and the url would become "/path/to/bar" - but a _segment_ cannot contain slashes - hence, slashes

[2019-07-04 07:06] Shazwazza commented on #5782
IIRC I think `umbracoUrlAlias` is what you might want where you can specify any full URL (i.e. 'slug')

[2019-07-04 10:25] kjac commented on #5722
@nathanwoulfe I reckon it's got to do with adding some space for the pink-ish "active state" box shadow:

![image](https://user-images.githubusercontent.com/7405322/60659927-ddf97500-9e56-11e9-95b5-c877e2de8883.png)

[2019-07-04 10:35] kjac commented on #5722
PR in #5787

[2019-07-04 10:44] nathanwoulfe commented on #5722
@kjac I think you would be spot on correct.

[2019-07-04 12:38] bjarnef commented on #5779
Content type is a more general term for both document types, media types and member types.
So many of these keys are also using for media types and member types.
https://github.com/umbraco/Umbraco-CMS/blob/b98812b119aafa54d33edbace62bd5e387f0e6a0/src/Umbraco.Web.UI/Umbraco/config/lang/en.xml#L1548-L1604

But some of it are specific to document, media or member types.
https://github.com/umbraco/Umb

[2019-07-04 12:40] AndyButland commented on #5768
@nathanwoulfe and I have overlapped here, but now I've prepared the changes before seeing what he has done, figured may as well PR too and HQ can decide whether to pull in the one I've done after his.  I've also fixed the issue noted here, as well as made a few other minor improvements to the log viewer, as described in the [PR](https://github.com/umbraco/Umbraco-CMS/pull/5788).

[2019-07-04 13:52] cleversolutions opened #5789 "V8 Umbraco.ContentQuery.Search returns no results"
### Bug summary
Using SK, executing Umbraco.ContentQuery.Search("Products", "ExternalIndex") returns no results, while using the ExaminManagement search in the backoffice returns 4 results. The simple ContentQuery.Search should return the same results as the backoffice search.

### Specifics
- Starter Kit (or any site, but the SK is consistent for everybody)
- V8/dev (also 8.0.2)
- Chrome (but thi

[2019-07-04 20:18] bjarnef opened #5791 "v8: Rollback clear image cropper and grid"
In Umbraco v8 with latest changes in `v8/dev` branch, when I select rollback and select an older version, but without clicking submit button (rollback), but just close the dialog and go back to the content tab the image cropper and grid no longer shows any values.

But when I refresh the page the values image cropper image and grid data are shown.

![2019-07-04_22-18-07](https://user-images.github

[2019-07-04 21:20] nathanwoulfe commented on #5768
@AndyButland I see no reason why both shouldn't be merged - where we overlap, so be it, but we both addressed additional bits as well so between us add more value than either individually 😁

Would be helpful if contributors could self-assign issues, or mark them as in progress to avoid collisions... @nul800sebastiaan could make that a reality I'm sure...

[2019-07-05 07:03] nul800sebastiaan commented on #5768
Wish I could, GitHub won't allow it though. I'd actually love it if one of you could send a PR with their changes to the other one so that any merge conflicts are resolved between you too. Wishful thinking? :-D

[2019-07-05 08:16] nathanwoulfe commented on #5768
I should be able to merge @AndyButland's branch into mine, resolve conflicts and away we go...

[2019-07-05 08:18] Bunkerbuster opened #5793 "V8 filter function custom properties using GetPagedChilderen"
The current filter function in the GetPagedChilderen method, I believe has only supports for strongly types ,
Id, Name, Key, VersionId, Trashed, Path, SortOrder, ParentId, CreateDate, UpdateDate, Level, ContentTypeId, CreatorId, Published

I would like to filter on custom properties, that would be a nice feauture.

    var filter = SqlContext.Query<IContent>().Where(x => x.Property("Tag").Contains

[2019-07-05 09:09] dawoe commented on #5212
Hi @ReVoid

You can still use it from IPublishedContent. The IPublishedContent interface implements the IPublishedElement interface.

Dave [Community Pull Request team](https://umbraco.com/blog/introducing-the-new-cpr-team/)

[2019-07-05 11:01] tristolliday commented on #5775
@nul800sebastiaan how does this apply to users of the Umbraco SaaS platform, as we do not have access to the build script as we flow between dev/staging/live?

[2019-07-05 11:18] kjac commented on #5771
Yeah... I can reproduce this as well. Found the bug, will post PR soon.

[2019-07-06 06:46] kjac commented on #5771
PR in #5794 (and V8 PR in #5795)

@dnwhte you can work around this by re-assigning the media type icon (or another icon).

[2019-07-07 09:43] kjac commented on #5691
Turns out this is a bit more critical than initially reported; you can't save a member at all without resetting the member password! This applies to both V7 and V8.

PRs for fixing it in #5798 (V8) and #5799 (V7).

[2019-07-08 07:29] #5691 closed

[2019-07-08 08:17] nul800sebastiaan commented on #5691
Thanks very much once again for all the help @kjac !

[2019-07-08 09:34] #5218 closed

[2019-07-08 11:17] umbracowulser opened #5802 "Get URL of unpublished content node"
As an editor I would like to be able to get the URL of a node, as it would look once I hit the "Publish" button. This would be useful for preparing links to nodes that are not yet published in cases where timing is critical and links should be posted as soon as the node is published.

**Pro's**
- It would save editors a lot of time, as content linking to unpublished nodes could be prepared fully i

[2019-07-08 11:19] nul800sebastiaan opened #5803 "Migrating databases from v7 to v8 can take a long time with larger databases"
During testing of migrations, we noticed that larger databases take a long time (up to 2 hours).

Specifically, updating the `cmsPropertyData` table will take quite a while depending on the amount of rows in there.

We're seeing significant slowdowns on sites we've tested, for example some of them had 100.000, 600.000 and 900.000 rows of property data.

In order to be able to complete the migratio

[2019-07-08 11:44] nul800sebastiaan opened #5804 "v8.1 migration from v7 results in an error due to a unique index on cmsContent"
We've seen a database migration from v7 to v8.1 fail due to the presence of an index named `IX_cmsContent`. This index might be linked to other tables that make it fail.

Need to investigate (this was reported by @marcemarc ).

---
_This item has been added to our backlog [AB#2134](https://umbraco.visualstudio.com/243e7927-03b2-44e2-908f-d4ac7ea5daaa/_workitems/edit/2134)_

[2019-07-08 13:53] marcemarc commented on #5804
What appears to be the problem here, is that the script is dropping the foreign key constraints by 'name' before trying to drop the index on the cmsContent table...

... but these foreign keys, (this is a site that has been upgraded over the years from v4->v6->v7) appear not to always be named consistently!

eg

in the problem site we have FK indexes in the format
FK_cmsPreviewXml_cmsContent
when

[2019-07-08 13:55] bmargevicius commented on #5782
How does this happen then and how to I make it happen programatically?

![image](https://user-images.githubusercontent.com/24920023/60815846-78fb9300-a166-11e9-8f73-16b6f18c1cda.png)

[2019-07-08 13:59] abjerner commented on #5782
@bmargevicius given the information provided in your last screenshot, the `food-and-drink` most likely comes from the parent page. That's how Umbraco determines the URL out of the box.

[2019-07-08 14:14] bmargevicius commented on #5782
I figured 🤷‍♂. So my workaround is to use the urlAlias and determine the route from there. =

🎆 🎆 🎆 Thanks @all for taking the time to look into this. 🎆 🎆 🎆

[2019-07-08 14:16] Newnab opened #5805 "CMS user with only "content" permissions is given a session time out screen when interacting with a media datatype"
When logged in as a CMS user who only has permission for the "Content" section, interacting with a datatype that uses the media library (such as clicking [+] on the media picker datatype to attempt to add an image) boots the user to an Umbraco login page with the message "Session timed out".

At this point the user will find themselves unable to login from this page, repeatedly getting the session

[2019-07-08 16:47] readingdancer commented on #4846
I've just submitted a PULL request that updates Gulp to V4 and removes most of the vulnerabilities, let me know what you think?

As the Docs are not working, for now I think we might as well remove that section, what do you think @nul800sebastiaan & @PeteDuncanson  ?

[2019-07-08 18:09] #5782 closed

[2019-07-08 20:14] hfloyd commented on #5108
So, just to clarify, you are suggesting that an editor should NOT be able to do something like:
`/some-page/` --> `http://www.someothersite.com`

I have seen clients who have moved a portion of their site to a third-party service (a jobs board, for instance) and they might have a valid use-case for something like that.

[2019-07-08 22:12] marcemarc commented on #5108
Hi @hfloyd yes, I think the idea is the core Redirect Url Management wouldn't cater for that particular use case - or at least not 'yet' ... the first baby step we're trying to get into the core, is for the ability for editors to create redirects to existing pages... which they have the ability to do at the moment, just by renaming the page to the redirect url and renaming it back again, this acti

[2019-07-08 22:18] hfloyd commented on #5108
Thanks, @marcemarc for the detailed exposition.

I think that what I was suggesting is a smaller use-case, for sure, and your "workarounds" are totally valid. I just figured I'd put the suggestion out there explicitly so that everyone is on the same page about what the "v1" WILL and WILL NOT handle :-)

[2019-07-09 00:40] Shazwazza commented on #5804
Yeah these old names, they are still an issue in some v7 upgrades too. We have a migration check to get a list of FK/index names already so should be able to sort something out.

Any chance we could borrow a copy of your DB, or 'Extract a data tier application' to output a DACPAC file which is just the schema of your DB.

[2019-07-09 00:41] Shazwazza commented on #5805
It's because unfortunately the media picker uses the mediaResource and not the entityResource - however i think this is fixed in 715 if you can test?

[2019-07-09 01:03] #5147 closed

[2019-07-09 08:41] ReVoid commented on #5212
@dawoe Oh, it is clear now, thanks 😎

[2019-07-09 09:02] Shazwazza commented on #5035
Hi all, here's a recap - (there's a boat load of information in this thread...)

### The problem

When hosting in Azure web apps the locking mechanism in Umbraco that manages overlapping appdomains (called `MainDom`) is being bypassed in some scenarios which causes file(s) to be accessed by multiple appdomains at one time causing file locking exceptions. In theory this should not be possible becau

[2019-07-09 09:18] bjarnef opened #5808 "v8: Change password from user dialog doesn't work"
I just tried the latest release Umbraco v8.1.0 and it seems the "change password" from user dialog doesn't work.

Reproduction
------------

### Bug summary
Open the user dialog/overlay via the avatar and click the "change password" button.
The dialog close and the change password form as previous is not shown.

### Specifics

Umbraco v8.1.0
Google Chrome Version 75.0.3770.100

### Expected result

[2019-07-09 09:21] bjarnef opened #5809 "v8: Overlays have horizontal scrollbar"
In Umbraco v8.1.0 it seems the overlays have some horizontal scrollbar, e.g. right-click document types -> create.

Furthermore the "footer" of the overlay cover the bottom part of the "body" of the overlay, so the scrollbar isn't selectable.

![image](https://user-images.githubusercontent.com/2919859/60876169-a8300400-a23b-11e9-8396-ab71970d665a.png)

[2019-07-09 09:37] bjarnef opened #5810 "v8: Log viewer refresh when no change in time period"
Recently a time period datepicker was added to log viewer.

I have tested this with latest v8.1.0 and when clicking the time period and afterwards clicking outside to close the datepicker it refresh the log overview although there is no change in datetime period.
I think it only some refresh when actually the (date)time period change.

![image](https://user-images.githubusercontent.com/2919859/608

[2019-07-09 09:55] filefontaine opened #5811 "V8.1.0 database update Error from 8.0.2"
Problem when updating the datebase with the installer

![image](https://user-images.githubusercontent.com/22192319/60878487-1971b600-a240-11e9-8df6-121bf26a0df3.png)

Reproduction
------------

* i try to update my site in 8.0.2 to 8.1.0.
* I have make all change needed for the project build (obviously ^^)
* click on update database

### Bug summary

full log info error :
[code]

[2019-07-09 09:56] pralthom opened #5812 "v8.1: Custom routes - content cache"
Hi,

I've just upgraded to V 8.1 and I've a problem with my code.
I have a custom route composer file which looks like this:

[code]

Umbraco crashes because of the following line:
`var cache = cref.UmbracoContext.Content;`

After debugging I can see the UmbracoContext has no Content
![image](https://user-images.githubusercontent.com/44721265/60878575-42924680-a240-11e9-9213-404c1e1b517e.png)

The

[2019-07-09 10:31] bjarnef opened #5813 "v8: Add space between label and value in grid layout"
In listview grid layout, e.g. with in default starterkit and Umbraco v8.1.0

There should be a bit space between the label and value.

![image](https://user-images.githubusercontent.com/2919859/60881145-57bda400-a245-11e9-86af-843e9989b820.png)

![image](https://user-images.githubusercontent.com/2919859/60881227-876cac00-a245-11e9-81df-663a8832bed5.png)

[2019-07-09 11:06] ReVoid opened #5814 "V7: MNTP XPath allowing disabled DocTypes when nodes are missing or unpublished"
Hello, Umbraco.

Multi-Node Treepicker allow disabled DocTypes nodes (some of them) when it can't find target nodes of allowed types

Reproduction
------------

### Specifics

Umbraco 7.14

### Steps to reproduce

1. Create a property editor of Multi-node Treepicker
2. Set some XPath query, like in my case: `$current/ancestor-or-self::homePage//catalogPage`, where `homePage` is your root node alia

[2019-07-09 11:18] kjac commented on #5809
This has already been fixed, see https://github.com/umbraco/Umbraco-CMS/pull/5754

[2019-07-09 11:43] nul800sebastiaan commented on #5814
We fixed something similar in 7.15.0, can you reproduce this on a 7.15.0 install?

FYI: 7.15 was released today: https://umbraco.com/blog/umbraco-715-release/

[2019-07-09 11:43] mzajkowski opened #5815 "Impossible to remove assigned hostname"
Version 8.1.0.

When editing content nodes and after the hostname is assigned to the node, it's not possible to remove it. When recycle bin icon is clicked -> modal window dissapear and selection / assignement stay as it is.

Reproduction
------------

### Steps to reproduce

1. Create content node (e.g. on the root level).
2. Assign domain / hostname to it.
3. Save.
4. Try to remove any of the as

[2019-07-09 11:45] nul800sebastiaan commented on #5815
Uh oh! This looks familiar to something else @kjac has worked on before, can't remember exactly what it was though? 🤔

[2019-07-09 12:11] mzajkowski opened #5816 "Missing spaces in allowed templates picker labels"
Version 8.1.0.

The sentences:
- "Default template"
- "extra template" (maybe here also a little rewording into "alternative template"? 🤔)

are not having spaces between the word "template". See attached screenshot.

![fb7df1c30734464dff7ff1f197c57745 _Image%202019-07-09%20at%202 08 09%20PM](https://user-images.githubusercontent.com/11617260/60886831-382d7800-a253-11e9-806e-4d8da9a4521a.png)

[2019-07-09 12:11] kjac commented on #5815
Uh ouh! Sounds vaguely familiar, although I'm sure that goes for just about anything by now.

I can give it a look when I'm home from holiday on Friday.

[2019-07-09 12:18] nul800sebastiaan commented on #5816
Ah, nice one! Yeah, we forgot to add an extra space between the translation and the text. Could be a super easy PR if you want it! ;-)

[2019-07-09 12:49] marcemarc commented on #5804
@Shazwazza hopefully attached as a zip, need to rename as .dacpac to import
[example-for-v8.1-upgrade-issue.zip](https://github.com/umbraco/Umbraco-CMS/files/3373002/example-for-v8.1-upgrade-issue.zip)

[2019-07-09 12:57] thomashdk opened #5817 "v8.1 Avoid data loss when using culture variant elements in Nested Content"
I just updated to version **Umbraco 8.1** on cloud.

I have notest that Nested Content inside Nested Content are not saved.

![image](https://user-images.githubusercontent.com/6445636/60889431-48e0ec80-a259-11e9-9356-331f30f88985.png)

![image](https://user-images.githubusercontent.com/6445636/60889458-54341800-a259-11e9-907f-d39fba0a79fb.png)

When publishing every thing looks fine, but if you re

[2019-07-09 13:08] brreisner commented on #5035
I will review these options with my Dev team. I'm a little confused here as I've never (not once) had this issue with v7. This would lead me to believe the logic in v7 is being respected, is something different being done in v8?

Do you have any contacts within Microsoft on the App Service team? I have a few who may be interested in assisting with this.

[2019-07-09 13:23] ReVoid commented on #5814
@nul800sebastiaan Great, the fastest bugfix I've ever seen =)
Yep, I can not reproduce it in 7.15!

For now, I checked only with `$$current/ancestor-or-self::homePage` axis, I'll check other cases today, don't close issue right now, please.

Thanks! Now we can count on MNTP in compicated cases =)

[2019-07-09 13:24] RachBreeze opened #5818 "V8: Document type creation, adding properties: Validation and mandatory options"
In Umbraco v8.1 when adding a properties to a document some the user is asked if the field should be mandatory.  This doesn't make sense for the checkbox property type

The user is also asked if they want to configure the property to validate as an email address, number or url which doesn't make sense, on properties that are not free text, including the following property types
- checkbox
- DateTi

[2019-07-09 13:28] nul800sebastiaan commented on #5814
I'll be mean and close it for now, else I'll forget. Just let me know if an upgrade doesn't fix it! ;-)

[2019-07-09 13:28] #5814 closed

[2019-07-09 13:30] nul800sebastiaan commented on #5818
👍

Two issues here: no, doesn't make sense to make a checkbox mandatory, and the other issue is covered in https://github.com/umbraco/Umbraco-CMS/issues/5679

[2019-07-09 13:33] RachBreeze commented on #5818
Hi @nul800sebastiaan
I missed that thank you

[2019-07-09 13:48] mattycare commented on #3575
Looks like this has just been fixed as part of [this pull request](https://github.com/umbraco/Umbraco-CMS/pull/4948). Tested on 8.1, and all seems good. Closing the issue.

[2019-07-09 13:48] #3575 closed

[2019-07-09 14:54] Zwaai commented on #5789
I'm having the same problem with multiple Umbraco websites without configured cultures.
Websites which **do** have cultures configured don't seem to be having this problem. Just as you describe.

Currently working with version 8.0.2

[2019-07-09 15:05] ReVoid commented on #5814
@nul800sebastiaan No problem :)

[2019-07-09 15:08] tom-ingeniuus opened #5819 "Some property type names don't sync the split view when editing content"
When editing in split view, clicking the property name for the following property type doesn't sync the 2 sides of the split view:

- Checkbox
- Image
- Rich Text Editor

This happens in v8.1, using Chrome on Windows 10

Other property types (textbox and textstring) do sync the 2 sides of a split view

[2019-07-09 15:47] PeteDuncanson commented on #4846
Great work @readingdancer! It was discussed at one of the open spaces that docs are meant to now be "fixed". Not tried them myself since, are they broken again/still?

Either way the plan is to keep docs going and fix/improve them so I'd recommend leaving those in.

[2019-07-09 16:47] KevinJump opened #5822 "Change to Entity Service GetByKey isn't breaking in 7.15"
In Umbraco 7.15 there has been a change to the IEntityService interface,

in change 966b07ba1c969934b322b0266a6a9e0e1abda015

[code]
Has been changed to
[code]
and this isn't marked as a breaking change in Umbraco 7.15 release notes.

Also, I think because this is a change removing an optional parameter, it changes the references even if you don't pass the parameter

so :
If you have code compiled

[2019-07-09 17:55] kjac commented on #5822
Yep true that 👍😀

[2019-07-09 18:23] RachBreeze commented on #5679
It would be great if this could be developed.  I think removing the extra settings from the property type would really help improve the UX and aid A11Y, as new users wouldn't be confused by unused settings.

[2019-07-09 18:28] bmargevicius opened #5823 "U8.x: umbracoUrlAlias comma separated list is taken literally."
Not sure if this is a bug. Feels like a display bug.
When having a property umbracoUrlAlias as a textstring. Having comma separated routes are displayed and clicked through as literal and not as individual routes. This happens in v8.02 and v8.1.

![UmbracoUrlAlias](https://user-images.githubusercontent.com/24920023/60913263-01f0f800-a255-11e9-9b16-39de0cdc5465.gif)

I expect it not to 404 and to c

[2019-07-09 18:55] RachBreeze opened #5825 "Bug report on a bug report ;-)"
The instructions for a bug report say:

This is returning a 404 for me

[2019-07-09 19:17] KevinJump commented on #5822
yeah, this is unravelling pretty quickly for me :(

any package that calls entityService.GetByKey (or entityService.Get?) will no require a version compiled against 7.15, as other versions will YSOD - equally the version compiled against 7.15 with YSOD if installed on earlier versions of Umbraco.

this means having to maintain two support streams for code, and making sure people are clear about wh

[2019-07-09 20:15] kjac commented on #5822
I have no idea when and why the param was removed. But all the same it's definitely a breaking change. If indeed the param is without meaning as of 7.15, creating an overload + obsoleting the original method seems like an excellent approach.

Question then is how does that leave package devs for 7.15, given that it's out there in the wild? Simply "unsupported"?

[2019-07-10 00:36] Shazwazza commented on #5819
I'm not quite sure what you mean 'clicking on the property name' ? Do you mean if I click on a property name on the right or left side that it will align the vertical scroll together? (... that would be a great feature!) If that's what you mean, that doesn't seem to work at all for me for any property type and isn't a feature I even knew about.

[2019-07-10 00:44] Shazwazza commented on #5035
@brreisner yes this is described above: https://github.com/umbraco/Umbraco-CMS/issues/5035#issuecomment-479942871 . V7 would have it's own issues with this too but they would be hidden from you so you wouldn't know that 2x app domains are writing/reading to the same xml file at the same time until you data is either corrupted or some other exception would cause the site to fail. v7 and v8 are very

[2019-07-10 03:54] Shazwazza commented on #5035
@brreisner I am trying to replicate the problem you had/have

I have configured exactly this with the settings `<add key="Umbraco.Core.LocalTempStorage" value="EnvironmentTemp" />`, `<add key="Umbraco.Examine.LuceneDirectoryFactory" value="Examine.LuceneEngine.Directories.SyncTempEnvDirectoryFactory, Examine" />` and cannot reproduce.

Can you elaborate on how you reproduce this file lock error wi

[2019-07-10 04:59] Shazwazza commented on #5035
Aha! ok well i can replicate the issue once in a while by turning on/off Application Insights (no slot swap involved) though i cannot get this error to happen with a single web app by doing anything else.

I'll test site swapping next to see what I can/can't replicate replicate with/without App Insights.

And locally i cannot replicate with the preloadEnabled, applicationInitialization combos enab

[2019-07-10 06:22] bjarnef commented on #5825
Yes, it should be changed to this:
https://github.com/umbraco/Umbraco-CMS/blob/v7/dev/.github/CONTRIBUTING.md

or for v8:
https://github.com/umbraco/Umbraco-CMS/blob/v8/dev/.github/CONTRIBUTING.md

[2019-07-10 06:31] nul800sebastiaan commented on #5822
Hey @KevinJump - sorry about this, we definitely should have been more careful when removing this parameter and introduced an overload instead. We can add it back but that means you'll have to wait until 7.15.1 for backwards compatibility support. Unfortunately, I'm afraid it will also take a while to get 7.15.1 out so I'm not sure if some kind of hack would be possible?

As background info: the p

[2019-07-10 06:58] KevinJump commented on #5822
yeah :(

for me, I am just wondering if replacing calls to `Get/GetByKey` with ones to `GetAll`, passing a single ID might work because that method hasn't been overloaded?

need to do some testing, see if that's possible where I am using it, etc..

[2019-07-10 07:33] tom-ingeniuus commented on #5819
Yes, that's exactly what I mean, and it works for me as mentioned above on certain property types.

I've just double checked this and what it actually does is place the focus in the field in the other language, so I guess that's why it only works with text boxes and text areas. It works for me whether you click the field label or description.

regards
t

[2019-07-10 07:40] thomashdk commented on #5817
After deleting the datatype and create a new one it worked.

[2019-07-10 08:05] nul800sebastiaan opened #5827 "v7 to 8.1 content migration fails due to missing data on a macro"
The error is:

[code]

The cause seems to be that the partial view field for this macro was blank, deleting the macro helped to move the migration on.

---
_This item has been added to our backlog [AB#2236](https://umbraco.visualstudio.com/243e7927-03b2-44e2-908f-d4ac7ea5daaa/_workitems/edit/2236)_

[2019-07-10 08:11] nul800sebastiaan opened #5828 "v7 to 8.1 fails due to duplicate(?) macro renderUmbracoForm"
See this forum thread: https://our.umbraco.com/forum/umbraco-forms/98059-migration-error-cannot-insert-duplicate-key-row-in-object-dbocmsmacro

It's likely due to the way Umbraco Forms tries to create a macro for itself when it doesn't exist yet.

[2019-07-10 08:18] RachBreeze commented on #5825
Hi
It looks like it is something that HQ have to change as it's on the bug reporting template.

[2019-07-10 08:34] Shazwazza commented on #5035
What is different in my tests is that instead of getting this file lock issue, i consistently get the error `502 - Web server received an invalid response while acting as a gateway or proxy server.` when toggling Application Insights and when doing a site swap. I've only seen the file lock issue a handful of times and thats mostly in the logs, not as a YSOD. I've seen the YSOD a couple of times du

[2019-07-10 08:50] bjarnef commented on #5825
Ahh yes, it is the bug report templates on GitHub under settings, not in the source code.
@nul800sebastiaan

[2019-07-10 09:22] skttl opened #5830 "[8.1] selecting a dropdown value, closes the dialog"
![gif](https://i.imgur.com/qhPm9NH.gif)

This is maybe a dupe of #4934 or #3391 (the dropdownitems is `<a>`s with a ng-click directive attached. They should probably be `<button>`s instead.

[2019-07-10 09:31] bjarnef commented on #5830
It mi

[2019-07-10 09:31] nul800sebastiaan opened #5831 "v7 to v8.1 migration results in error: missing or duplicate 'current' content versions"
The error in the upgrade screen:

[code]

Error in the logs:

[code]

This is likely caused by the fact that I've used a few script to remove old versions on this database in the past. I don't know how to pin down the content item(s) that have a duplicate or a missing content version though 🤔

[2019-07-10 10:48] thomashdk commented on #5817
I opened this again because i'm still getting a similar error.

Sometimes the content are not saved to database... ex. here I have en content picker en selectes a local node and after I have save and published and reload the page, the contetn are gone.

![image](https://user-images.githubusercontent.com/6445636/60963310-b865e300-a310-11e9-88a5-fde9ba70991c.png)

The same happens with the form comp

[2019-07-10 11:03] thomashdk commented on #5817
After some debug I notes that some of my other components worked.

If the fields did'nt had the "Allow varying by culture" active, it wouldn't save the content.
The doctype with the fields were set to allow carying by culture"
![image](https://user-images.githubusercontent.com/6445636/60964126-d3d1ed80-a312-11e9-8f6b-f88ff0834663.png)

[2019-07-10 11:09] cmwalolo opened #5832 "umbDateTimePickerDirective doesn't have a dependency on moment.js"
umbDateTimePickerDirective doesn't have a dependency on moment.js. The scheduled publication and unpublication does not work if no datepicker has been loaded in front

The assetService should ensure that the moment.js is loaded. For now only the datetimepicker.css and .js are loaded.

Version of umbraco 7.12.3

[2019-07-10 11:10] richarth opened #5833 "v7.15 Media picker 404s"
After upgrading our sites to Umbraco 7.15 we are having issues with the media picker.  If you click on a media picker field to select an image you receive the following error:

[code]

The panel to select the file appears but there is either nothing in it or it gets stuck trying to load the files to show.

An example request URL:

`/umbraco/backoffice/UmbracoApi/Entity/GetById?id=umb%3A%2F%2Fmedia

[2019-07-10 11:18] nul800sebastiaan commented on #5832
Hey @cmwalolo - I'm going to ask you to try and reproduce this in the latest version. If it's still a problem in 7.15.0 then we can have it looked at and fix it!

Let me know if you can reproduce in 7.15.0 :-)

[2019-07-10 11:18] #5832 closed

[2019-07-10 11:32] nul800sebastiaan commented on #5833
We don't seem to have any problems with media pickers, so maybe there's some kind of configuration difference? I tried a few combinations of these but it all seems to work:

![image](https://user-images.githubusercontent.com/304656/60965774-f108bb00-a316-11e9-8798-48963bdeaace.png)

It could be that you're having some upgrade problems, we did add the `Ignore user start nodes` option, might be what

[2019-07-10 11:32] #5833 closed

[2019-07-10 11:56] richarth commented on #5833
It is working on one of our sites.  I've compared the config of the site that works to the site that doesn't but they are identical so I don't think it's that.

I'll keep digging to see if I can identify a cause.

[2019-07-10 12:38] JoseMarcenaro commented on #5035
@Shazwazza ,
Workaround # 1 works for us ... most of the times (!?). It fails from time to time (same exception)

Workaround # 2 ... couldn't test it, I don't now how to get past this:

![image](https://user-images.githubusercontent.com/923289/60969522-133e1100-a2f6-11e9-9084-352755a3d8de.png)

Is there a way to access a class that is not public in Umbraco.Web ?
Or do I need to upgrade to 8.1.0 fi

[2019-07-10 12:55] pauldequant opened #5835 "Issue with dialogService.linkpicker after 7.15 upgrade"
Hello,

After upgrading Umbraco from 7.14 to 7.15, we have encountered an issue where by anything that uses a **dialogService.linkpicker** doesn't work i.e the content tree doesn't load (shows as {{tree.name}}).

The browser console shows the following error:-

_Cannot read property 'dataTypeId' of undefined_

Which we've tracked down it down to this file:-

/umbraco/js/umbraco.controller.js

The

[2019-07-10 13:05] ronaldbarendse commented on #5822
This is indeed a binary breaking change: https://docs.microsoft.com/en-us/dotnet/standard/library-guidance/breaking-changes#binary-breaking-change. As Umbraco 7.15.0 is already released, there's nothing you can do now besides re-compiling your own code/package (or release a new version with a work-around).

Releasing betas or using additional build tooling (e.g. NDepend or SonarQube) could have av

[2019-07-10 13:07] gopkumr commented on #5816
Added a fix for this issue via PR #5836. Please review the code changes.

[2019-07-10 13:16] nul800sebastiaan commented on #5822
Yep, we are always aware that we should not change method signatures even if the parameter has a default and is optional.

Again, apologies for that, we're contemplating what to do.

[2019-07-10 13:37] nul800sebastiaan commented on #5835
I need some more context here, how the error `Cannot read property 'dataTypeId' of undefined` indicates that `$scope.model` is undefined, can you explain how that might have happened?

How are you using `dialogService.linkpicker`, do you have example code for us to try out?

[2019-07-10 13:44] KraftwerkWedl commented on #5035
We are also experiencing the same error: "The process cannot access the file 'D:\local\Temp\..."

Running currently Umbraco 8.0.1 on Azure. After deploying to a deployment slot (staging) the application can not start on staging because it runs into that problem, no swap included. After swap, the production runs into same problem. Restart helps to release the lock of course.

I can not add much mor

[2019-07-10 13:45] pauldequant commented on #5835
We're using it in a $scope.overlay, so when you click the browse button to pick the URL (and the side panel comes in from the right) you get the error.

Here's a snippet of the code:-

`                    setLinkSrc: function () {

                        dialogService.linkPicker({
                            callback: function (data) {
                                $scope.control.value.linkObj

[2019-07-10 14:44] FransdeJong commented on #5816
I understand your solution as a nbsp will be there but what I don't understand is why the normal space that was there is removed in the first place. As soon as you put a - in between the translation and the item it returns 2 " - ". So something actively removes the spaces?

[2019-07-10 14:47] ronaldbarendse commented on #5816
Looks more like a problem with the `localize` directive, as the space _is_ there.

[2019-07-10 15:20] deanmarcussen opened #5837 "Error reading MIME multipart body part when Publishing"
We are experiencing an aggregate exception randomly, but regularly on one of our Umbraco sites running v7.7.4

It occurs when publishing content when the content item is large , e.g. content-length: 75840, but does not happen if I reduce the content size.

The exception is aggregated but looks to be thrown from inside the `ContentItemBaseBinder` during the `GetModelAsync` call.

I can replicate ac

[2019-07-10 18:18] hfloyd opened #5838 "[U8] Unable to set Permissions on Content Nodes"
Observed in Umbraco 8.1.0 (local environment for Cloud site)

When I attempt to set permissions via group on a Content node, the initial dialog displays, but nothing happens when I choose the group I'd like to set the permissions for.

See video demo:
[https://screencast-o-matic.com/watch/cqi6FDO2kZ](https://screencast-o-matic.com/watch/cqi6FDO2kZ)

[2019-07-10 18:48] hfloyd opened #5839 "[U8] Grid v.2"
Now that v8.1 has been released, I just thought it would be useful to create a central spot for Grid v2 links/discussion in the Issue tracker. Feel free to comment with additional links/thoughts.

Here is a Forum post about this:
https://our.umbraco.com/forum/umbraco-8/94082-grid-v2

As per the previous post, the CG2018 Retreat POC  branch is here:
https://github.com/umbraco/Umbraco-CMS/tree/temp8

[2019-07-10 19:08] hfloyd commented on #5839
My personal thoughts:

I have used the Grid v1 heavily since it was added to the Core. I found that clients (and front-end designers) really liked the ability to customize page designs with multiple-column layouts. I generally used LeBlender to create customized grid editors (it seems that DocType Grid Editor provided some similar functionality).

My biggest challenge with the grid was that "layou

[2019-07-10 19:34] skttl commented on #5816
Have you checked the markup returned to the browser? Maybe the spaces are minified away?

[2019-07-10 19:37] FransdeJong commented on #5816
Yep it's indeed removed. But that means something is changed in the minification process? I could't find where this is configured. It seems the current pull request solves the symptom and not the issue.

[2019-07-10 20:02] patriciabobes commented on #4911
Hi everyone! Any examples of the workaround? Is not working for me.

[2019-07-11 04:09] dinc5150 opened #5840 "V8: RelatedLinks error - migration from V7.15 - V8.1"
When I upgraded from V7.15.0 to V8.1.0 I got a null reference exception error during the migration process.

Reproduction
------------

If you're filing a bug, please describe how to reproduce it. Include as much
relevant information as possible, such as:

### Bug summary

I upgraded a website from V7.15.0 to V8.1.0 with existing content. Some of the pages had no related links picked in the Relate

[2019-07-11 06:06] Shazwazza commented on #5035
Sorry folks, i didn't notice the internal bits, will have to update in 8.1.1. In the meantime, you can use this ugly reflection to disable persisted cache files inside your `Compose` method:

[code]

[2019-07-11 06:10] Shazwazza commented on #5812
It's because you are using `IComposer` and not `IUserComposer` so you are executing code before Umbraco is ready, see https://our.umbraco.com/Documentation/Implementation/Composing/

[2019-07-11 06:10] #5812 closed

[2019-07-11 06:53] bjarnef commented on #4911
@patriciabobes you can add the following json object to the grid settings or styles config.
It has been fixed in v8.1.0 (not sure if it only has been fixed in v8.0.2)

[code]

Alternative you can use `mediapicker` although it is not ideal since it allow selecting folder and files as well.
[code]

[2019-07-11 06:56] pralthom commented on #5812
Thank you for the explanation!
I'll try with the IUserComposer

[2019-07-11 07:00] bjarnef commented on #4911
An option if also to create your own prevalue editor and just copying these two files and put them in a folder e.g. `/App_Plugins/PrevalueEditors/ImagePicker/`:
https://github.com/umbraco/Umbraco-CMS/blob/v8/dev/src/Umbraco.Web.UI.Client/src/views/prevalueeditors/imagepicker.html
https://github.com/umbraco/Umbraco-CMS/blob/v8/dev/src/Umbraco.Web.UI.Client/src/views/prevalueeditors/imagepicker.cont

[2019-07-11 07:09] bjarnef opened #5842 "v8: Change mediapicker prevalue editor to use mediapicker for Grid / property editor configuration"
The mediapicker prevalue editor is currently using `treePicker`.
https://github.com/umbraco/Umbraco-CMS/blob/v8/dev/src/Umbraco.Web.UI.Client/src/views/prevalueeditors/mediapicker.controller.js#L48

It would be more ideal to use `mediaPicker` in editorService and also allow the configurate it from the grid settings/styles via the config.

[code]

The mediapicker prevalue editors seems to be only a

[2019-07-11 07:26] nul800sebastiaan commented on #5108
Correct, when this is going to be used by content editors to set up redirects for incoming URLs we want it to be easy and safe. Redirects need to go to a content item  in the tree, that can be picked by a content picker so we're sure it's linking to an existing node.

Additionally, adding query strings for tracking purposes does make sense. Could be an optional thing where the interface asks for a

[2019-07-11 07:33] ArnoldV commented on #5839
@hfloyd take a look at the RFC's about this: https://github.com/umbraco/rfcs/pulls

https://github.com/umbraco/rfcs/pull/11
and
https://github.com/umbraco/rfcs/pull/12

[2019-07-11 08:15] Mantus667 opened #5843 "V8: ListViewContentAppFactory should not throw exception"
I'm currently working on a custom section/tree. For editing my custom entities I'm trying to reuse some build in functionality from Umbraco. I'm using ContentItemDisplay and the default content edit view for editing. When I now want to scaffold ContentApps for my custom entity be reusing the ContentAppFactoryCollection the ListViewContentAppFactory throws an error as my entity does not inherit ICo

[2019-07-11 08:28] nul800sebastiaan commented on #5755
Thanks @bjarnef for the suggestions, we'll happily look at a PR in case this alleviates the problem.

[2019-07-11 08:30] nul800sebastiaan commented on #5778
We'd be happy to look at a PR to make that possible! 👍

[2019-07-11 08:32] nul800sebastiaan commented on #5779
As Bjarne mentions, this is on purpose so we can easily share things between Member Types, Media Types and Document Types. We should not need to change this though. I'll close this issue as we're happy with the current translation keys.

[2019-07-11 08:32] #5779 closed

[2019-07-11 09:00] krgy opened #5844 "upgrade from 8.0.2 to 8.1.0 in public access the dialog you have unsaved changes is showing with every click"
I get with every click in "public access" the popup "you have unsaved changes"

Reproduction
------------
When you want to add "public access" to a page and select "group based protection"
You need to select the group , login page and error page.
After i select a member group i get the popup " you have unsaved changes" i click "stay"
Then i want to select my login page and every time i click on a

[2019-07-11 09:05] bjarnef commented on #5755
@nul800sebastiaan this PR https://github.com/umbraco/Umbraco-CMS/pull/5792 might fix some of the performance issue.

[2019-07-11 09:45] tom-ingeniuus opened #5845 "Unpublish menu option doesn't get added or removed without a page refresh"
When you publish an unpublished content node, the Publish menu button doesn't have the Unpublish option added until you refresh the page. Conversely, when you Unpublish a content node, the Unpublish option does not get removed from the Publish menu button until you refresh the page.

This was checked in version 8.1 in latest Chrome browser on Windows 10

[2019-07-11 09:46] nul800sebastiaan opened #5846 "Error in ConvertTinyMceAndGridMediaUrlsToLocalLink when upgrading from v8.0.x to 8.1.0"
For reference, see this forum thread: https://our.umbraco.com/forum/using-umbraco-and-getting-started/98108-error-while-upgrading-umbraco-802-to-81

The cause of the issue is that we're trying to read the JSON data from all of the grid items in the content. If the property on the document type at some point was switched from a Rich Text Editor to a Grid datatype you might have old data that is jus

[2019-07-11 09:48] nul800sebastiaan commented on #5846
Note: as a workaround, you could go in the database and clear all datatypes that should contain grid data but don't right now. **Please make database backups if you go down this road!**

[2019-07-11 09:53] nul800sebastiaan commented on #5823
Hey @bmargevicius - `umbracoUrlAlias` supports a single alias only, so this is expected behavior. I would look into IIS rewrite rules if you need to redirect multiple URLs to a single content item.

[2019-07-11 09:55] nul800sebastiaan commented on #5825
Thanks 👍 fixed in : https://github.com/umbraco/Umbraco-CMS/commit/943b54dcf7713617c529c10edd115d65e0078f1b

[2019-07-11 09:55] #5825 closed

[2019-07-11 09:57] nul800sebastiaan commented on #5839
Hey @hfloyd ! As @ArnoldV points out, the discussions on this are happening on the RFCs at the moment, please add your thoughts there! 👍

[2019-07-11 09:57] #5839 closed

[2019-07-11 09:58] tom-ingeniuus commented on #5554
Just to add that, (tested in v8.1) the resulting node is in the ExternalIndex until that index is rebuilt, then it is removed from the index.

[2019-07-11 10:38] simonhawes opened #5847 "Media thumbnails not shown after 7.14.0 -> 7.15.0 upgrade"
It appears in v7.15.0 the ImageProcessor now uses cmsMedia.mediaPath to display thumbnails.  In many cases this field is NULL when images have been imported into Umbraco in a previous version.

This is characterized by angular reporting "Cannot resolve the file url from the mediaEntity, it does not contain the required metaData" in the developer tools console window.

In order to make the thumbnai

[2019-07-11 11:43] nul800sebastiaan commented on #5847
Can you show what you had to update? And where do you see errors/problems? Not sure why cmsMedia has nulls unless it's a media item without a filled in `umbracoFile` property.

[2019-07-11 11:51] nul800sebastiaan opened #5848 "Media tree doesn't show folders in 7.15.0 any more for folders created before 7.8.0"
See for original report: https://our.umbraco.com/forum/using-umbraco-and-getting-started/98092-umbraco-715-media-folders-not-appearing-in-the-tree

In 7.8.0 we introduced a new table `cmsMedia` in which all media items get populated when they have a `mediaPath` - sadly, media items of type `Folder` do not have a path so they never got into the `cmsMedia` table during the upgrade.

This was no prob

[2019-07-11 11:58] Shazwazza commented on #5847
I think the key to understanding this is this:

Which sounds like potentially very old versions of umbraco before there was a cmsMedia table that tracked media paths?

[2019-07-11 12:02] nul800sebastiaan commented on #5845
That's very annoying, I can reproduce!

[2019-07-11 12:05] nul800sebastiaan commented on #5844
I can reproduce, that's annoying, sorry about that! :)

[2019-07-11 12:06] nul800sebastiaan commented on #5838
Thanks @hfloyd, that's not quite the user experience we were going for. We'll fix!

[2019-07-11 12:09] nul800sebastiaan commented on #5837
Hey there @deanmarcussen - sorry to hear you've been having problems. Unfortunately you're using a pretty old version of Umbraco. I would recommend you update to the latest version and try again. If you can still reproduce this on v7.15.0 we can re-open this issue.

Thanks!

[2019-07-11 12:09] #5837 closed

[2019-07-11 12:09] nul800sebastiaan commented on #5830
Oh that is annoying, we'll need to fix this in Deploy.

[2019-07-11 12:20] simonhawes commented on #5847
Here is the SQL I used (I had to code it up in C# in order to process the json variants, but this is effectively what I did)

UPDATE [cmsMedia] SET mediaPath = cmsPropertyData.dataNvarchar
FROM
(
              select contentNodeId, dataNvarchar from cmsPropertyData
)cmsPropertyData

WHERE mediaPath IS NULL AND cmsMedia.nodeId = cmsPropertyData.contentNodeId

The site was new at 7.14.0 so it is not

[2019-07-11 12:53] bmargevicius commented on #5823
Not according to documentation...
**umbracoUrlAlias**
This property when created as a text string lets you provide a comma separated list of alternate full URL paths for the node. For example, if your URL was /some-category/some-page/content-node, by adding an umbracoUrlAlias of "flowers", a user can navigate to the node by simply going to /flowers. The URL alias remains in the browser address bar

[2019-07-11 12:55] simonhawes commented on #5847
Just looking into this further, I think I can see why the mediaPath was NULL.  My predecessor on this project was bsowa who asked a question relating to issue

  https://github.com/umbraco/Umbraco-CMS/issues/2943

@nul800sebastiaan replied with a code snippet to replace the SetMediaNameToFilename

This code snippet is being used by our solution but is missing setting the media.Path property at the

[2019-07-11 13:05] nul800sebastiaan commented on #5823
You'll note that this documentation requires an update for v8 though. 😅

[2019-07-11 13:07] nul800sebastiaan commented on #5823
Ah, we're for some reason not showing the banner on this page that this is not up-to-date documentation. That's unfortunate.

[2019-07-11 13:12] bjarnef opened #5849 "RTE link picker throw error after upgrade to 7.15.0"
After upgrading af site on Umbraco Cloud from 7.12.4 to 7.15.0 to RTE link picker seems to throw an `417 (Missing token)` error.

- Select some text in RTE
- Select a node in content tree, e.g. `My Page`. Previously the link picker then showed `/my-page` under `Link`, but now it shows something like this `/{localLink:umb://document/afcc3d4df40d4d1eb8f2c43fdc592b58}`
- Submit with the selected node

[2019-07-11 13:12] bmargevicius commented on #5823
So it's not supported anymore? This is weird. Because the comma separated routes actually work.

[2019-07-11 13:18] simonhawes opened #5850 "Behaviour of anti-forgery token has changed 7.14.0 -> 7.15.0"
Previously working code when submitting forms via ajax...

            if (httpContext.Request.IsAjaxRequest() == true)
            {
                // check if the RequestVerificationToken header exists
                additionalToken = httpContext.Request.Headers["RequestVerificationToken"];
            }
            else
            {
                additionalToken = httpContext.Request.Form[

[2019-07-11 13:24] Shazwazza commented on #5850
Can you provide some more context and steps to replicate please?

[2019-07-11 13:29] TomDaria opened #5851 "When Deleting a file from Media Gallery and Emptying Recycle Bin, the source file remains"
We are on Umbraco 7.11.1.
If we delete a file from the Media Gallery and then empty the recycle bin, the file on the file system remains.

Request in next minor release that if recycle bin is emptied, Umbraco should also delete the source file on the file system (as defined in IIS media share).

Thanks

Tom

[2019-07-11 13:29] bjarnef commented on #5849
I guess this method should have an overload for `Udi` and maybe `Guid` as well?
https://github.com/umbraco/Umbraco-CMS/blob/v7/dev/src/Umbraco.Web/Editors/EntityController.cs#L286-L291

or in Angular it need to convert it to an `int` id?

[2019-07-11 13:38] kjsguld commented on #5817
I've just seen the same behavior on 8.1 as reported.
Triggered the same behavior and resolution on a node on a list view, that had nested content (where the content ie. images and drop-downs can't be saved).
Thanks for spreading the word on this one @thomashdk 🐛

[2019-07-11 13:39] ReVoid commented on #5823
@nul800sebastiaan Really? It was a pretty useful feature to add many aliases to one page. Is it really necessary to delete the feature.

I hoped alias would be improved in v8, like make it repeatable textstrings to be more obvious to user.

:(

[2019-07-11 14:05] stevemegson opened #5852 "TablesForScheduledPublishing fails when migrating from 7.15.0 to 8.1.0"
The migration fails with the message

from the following line:

It looks like a simple fix would be retrieving the release and expiry dates in two separate queries.

[2019-07-11 14:36] nul800sebastiaan commented on #5823
Well, I'll go be ashamed in a corner. I would've sworn this feature was removed. But nope, all good! It's just the URLs that are displayed wrong on the info tab. My bad, forget I said anything! 🙈

We'd love some help getting the URLs to display correctly if you can.

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-07-11 14:40] limpa123 opened #5853 "Text alignment in the create node dialog 8.1.0"
If the node has a description the name is centered above

![Screenshot 2019-07-11 at 16 33 36](https://user-images.githubusercontent.com/2033070/61059798-eb37d600-a3f9-11e9-9ad2-cf3a7472819f.png)

[2019-07-11 14:40] bmargevicius commented on #5823
Get the cone of shame.
https://media.giphy.com/media/l2JhMGnhyJGlFfSzS/giphy.gif

No worries. Now that we're open for discussion. @ReVoid asked for more of an `IEnumerable<string>` experience. I don't like parsing strings either.

[2019-07-11 14:44] nul800sebastiaan commented on #5823
😂

Sounds alright, but then it suddenly needs to be a custom property editor. It was nice that it was just a text string..

Also, let me challenge you on why you would want to use this at all as I don't understand. You know that Google / search engines punish you for having duplicate content on your site. Why do you actually needto be able to do this? I'm asking out of ignorance, not because I'm t

[2019-07-11 14:46] nul800sebastiaan commented on #5853
Oh yeah that seems like a bit of a bug!

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-07-11 15:09] hfloyd commented on #5839
Okay, thanks for clarifying. I did attend the CG19 open space session about the "Block-based data structure", but wasn't sure if it was actually equivalent to what has been (in the past) called "Grid v2" or a separate conversation.

[2019-07-11 15:15] bmargevicius commented on #5823
I guess a shopping/eCommerce site could be another example of where you want the same content to lie under different urls.
/products/super-cone = canonical, and where data entry happens in the backoffice
/medical/cone/of/shame/super-cone
/veterinary/cone/of/shame/super-cone

I guess the general case is: You want content to live in two spots, and you have a canonical url that's not desirable(?).

[2019-07-11 15:32] Shazwazza commented on #5035
Good news - the latest changes I've made have resolved the issue. The issue i mentioned here https://github.com/umbraco/Umbraco-CMS/issues/5035#issuecomment-509966706 is the reason why the files get locked, it is a race condition when booting the nucache system when there's multiple appdomains starting up at once. The other good news is that i can confirm the above work around does work so you can

[2019-07-11 15:40] simonhawes commented on #5850
Code was using an anti-forgery token generated in the _layout.cshtml when submitting forms via ajax.  We had multiple forms on a single page so the same token was used for all forms.  This was incorrect but worked in 7.14.0.    When we upgraded to 7.15.0 this no longer worked.  I have updated our code to use the specific token from within each form and the code is now implemented correctly and wor

[2019-07-11 15:40] #5850 closed

[2019-07-11 15:42] argentini opened #5855 "V8/8.1: Tags erased when you "save and publish" an existing page"
### Bug summary

I have a composition with a tags field. When I unpublish a page that uses the composition, the tags remain intact. When I "Save and Publish" the page the tags field is not saved. Re-entering the tags and re-saving the page works as expected.

### Specifics

* Happens in Umbraco 8.1
* Testing in Brave and Google Chrome on macOS Mojave
* Rebuilding the page cache does not help
* Edi

[2019-07-11 16:18] nickh364 commented on #5852
I am having the same problem with one of our sites.

[2019-07-11 16:24] ReVoid commented on #5823
@bmargevicius

As everybody does. Everybody like cakes, not a string parsing, right? 😋

@nul800sebastiaan

I am not a SEO-guy at all, but I guess, using canonnical urls solves the problem, it is like to tell Google "Hey, Goo, here is my real page here at cannonical url, it is the same as that url, do not index it again, please". [Here ](https://support.google.com/webmasters/answer/139066?hl=en)mor

[2019-07-11 16:40] JoseMarcenaro commented on #5035
@Shazwazza  - great news!
Just to be sure: the workaround we should test is the IPublishedSnapshotService / ignoreLocalDb code?
Thx

[2019-07-11 17:07] kjac commented on #5853
This was already fixed. See https://github.com/umbraco/Umbraco-CMS/pull/5752

[2019-07-11 17:16] schrepel opened #5856 "Upgrade from 8.0.2 to 8.1.0 results in this error in MyOwinStartup.cs"
Had been using this MyOwinStartup.cs class successfully in 8.0.2:  https://our.umbraco.com/documentation/Reference/Security/authenticate-with-AD

Did a NuGet upgrade to 8.1.0, now that class generates this error on build, at the line "var userManager = BackOfficeUserManager.Create(, I get the following error:

Severity	Code	Description	Project	File	Line	Suppression State
Error	CS7036	There is no a

[2019-07-11 18:54] Emetico commented on #5170
What is the proper way to the current `GetCulture()` when you need a `PublishedCultureInfo` and not a `DateTime`?

[2019-07-11 19:14] bjarnef opened #5857 "v8: Media picker doesn't show preview of svg"
It seems media picker no longer show preview of selected svg as it did previous. Tested on Umbraco v8.1.0

![image](https://user-images.githubusercontent.com/2919859/61078391-cdca3280-a420-11e9-95c5-b5b814839ca1.png)

![image](https://user-images.githubusercontent.com/2919859/61078402-d4f14080-a420-11e9-8035-82ca63743f3b.png)

![image](https://user-images.githubusercontent.com/2919859/61078442-e93

[2019-07-11 19:16] bjarnef commented on #5857
For some reason the media url is rendered in the alt attribute for SVG files.

![image](https://user-images.githubusercontent.com/2919859/61078555-2994bb80-a421-11e9-8611-4695713ab8ec.png)

[2019-07-11 19:46] cerdts opened #5858 "v7.15 to v8.1 database error: insufficient disk space"
v7.15 to v8.1 INSTALLATION ERROR
The database failed to upgrade. ERROR: The database configuration failed with the following message: There is insufficient disk space to complete operation. Please check log file for additional information (can be found in '/App_Data/Logs/')

I have 296 GB free on the disk, the 7.15 CE database is 184,576 KB in size

[2019-07-11 19:49] cerdts commented on #5858
Here is my connection string:
   <add name="umbracoDbDSN" connectionString="Data Source=|DataDirectory|\Umbraco.sdf;Flush Interval=1;" providerName="System.Data.SqlServerCe.4.0" />

[2019-07-11 21:44] bjarnef commented on #5857
On the media edit page, where it show the media properties incl. the fileupload, it has the following json for the `vm.files`:
[code]

However it doesn't render the image because `fileSrc` is `null`.
https://github.com/umbraco/Umbraco-CMS/blob/d328a53590ec4ad4f532ce056795e16be132a86f/src/Umbraco.Web.UI.Client/src/views/components/upload/umb-property-file-upload.html#L21

[2019-07-11 22:19] bjarnef commented on #5857
It seems `media` from this part in media picker property editor no longer returns meta data for extension as previous.

https://github.com/umbraco/Umbraco-CMS/blob/853087a75044b814df458457dc9a1f778cc89749/src/Umbraco.Web.UI.Client/src/views/propertyeditors/mediapicker/mediapicker.controller.js#L29

![image](https://user-images.githubusercontent.com/2919859/61089096-5d300f80-a43a-11e9-8e44-97745d8a

[2019-07-12 00:00] schrepel opened #5860 "Upgraded 8.0.2 to 8.1.0, menu items now all have brackets instead of normal labels"
See my question in https://our.umbraco.com/packages/backoffice-extensions/analytics/help-issues/67686-property-names-enclosed-in-hardbrackets#309448

Basically, all BackOffice menu items are square-bracketed fieldnames instead of the normal labels, which suggest a language issue but we haven't changed anything language-wise (single-language site, all /lang/*.xml files present, web.config correctly

[2019-07-12 00:04] Shazwazza commented on #5035
@JoseMarcenaro indeed, that would be great.

[2019-07-12 00:07] schrepel commented on #5856
Note: It appears the BackOfficeUserManager property count increased by one to include an Umbraco.Core.Mapping.UmbracoMapper property after the membershipProvider property. Altered our previous code from that article to include Mapper property, which does allow the Build to complete, but not sure if that's the right code change to make:

[code]

[2019-07-12 00:08] Shazwazza commented on #5860
I've seen this before and in those cases its because the incorrect files were being used in the installation. I'm unsure how you upgraded but you should double check that all of the files for the 8.1 install have been applied correctly, namely all of the files in the /Umbraco folder.

You can also test a vanilla install of 8.1 to verify that the problem doesn't exist in 8.1.

[2019-07-12 00:18] schrepel commented on #5860
Had just upgraded it via NuGet in VS, then Build, Publish. We don't usually check "delete all files before publishing", don't know if that would matter. Lastly, the folders we include in our publish profile: App_Plugins, App_Start, config, Umbraco, and of course web.config. This has been our normal process for all other upgrades thus far, but maybe we're missing something.

[2019-07-12 00:53] Shazwazza commented on #5860
Sounds correct, possibly to verify - download the 8.1 zip and unzip the /umbraco folder over yours, ensure that you browser cache is cleared and you bump the CDF version. If that works, it means something is odd with the upgrade. If it doesn't then ... well something else is odd ;)

[2019-07-12 01:07] Shazwazza commented on #5860
It also might be that CDF isn't cleared, there is a known issue that these files don't clear on upgrade but the version should still be bumped so that should clear the server cache https://github.com/umbraco/Umbraco-CMS/pull/5861

[2019-07-12 01:30] Shazwazza commented on #5808
The problem with several all of these types of bugs was with this PR https://github.com/umbraco/Umbraco-CMS/pull/5609

I have reverted these changes https://github.com/umbraco/Umbraco-CMS/pull/5609#issuecomment-510709482

So all of these things work again.

[2019-07-12 01:30] #5808 closed

[2019-07-12 01:30] Shazwazza commented on #5830
The problem with several all of these types of bugs was with this PR https://github.com/umbraco/Umbraco-CMS/pull/5609

I have reverted these changes https://github.com/umbraco/Umbraco-CMS/pull/5609#issuecomment-510709482

So all of these things work again.

[2019-07-12 01:30] #5830 closed

[2019-07-12 01:30] Shazwazza commented on #5815
The problem with several all of these types of bugs was with this PR https://github.com/umbraco/Umbraco-CMS/pull/5609

I have reverted these changes https://github.com/umbraco/Umbraco-CMS/pull/5609#issuecomment-510709482

So all of these things work again.

[2019-07-12 01:30] #5815 closed

[2019-07-12 01:30] Shazwazza commented on #5838
The problem with several all of these types of bugs was with this PR https://github.com/umbraco/Umbraco-CMS/pull/5609

I have reverted these changes https://github.com/umbraco/Umbraco-CMS/pull/5609#issuecomment-510709482

So all of these things work again.

[2019-07-12 01:30] #5838 closed

[2019-07-12 02:28] Shazwazza commented on #5789
The problem seems that you are calling the methods with incorrect parameters. The method signatures for IPublishedQuery.Search in v8 are:

[code]

The syntax you are using is

[code]

Which means you are passing in the string "ExternalIndex" to the `culture` parameter.

Your options are to change your method call to one of these:

* `var easySearch = Umbraco.ContentQuery.Search("Products");` - whi

[2019-07-12 02:32] Shazwazza commented on #5789
aha, but i see that's not the only issue... working on it.

[2019-07-12 03:19] Shazwazza commented on #5789
PR https://github.com/umbraco/Umbraco-CMS/pull/5862

[2019-07-12 04:36] infoyoyocms opened #5864 "V8.1 dB Upgrade not mapping Prevalues for Umbraco.DropDown.Flexible"
No prevalues are migrated in the dB migration script with V8.1.

Reproduction
------------

### Bug summary
No dropdown prevalues are migrated when running the V8.1 upgrade against a V7 database.

### Specifics
See attached image - the top 3 queries show the site prior to V8.1, the bottom part of the screenshot shows it after upgrade.

### Steps to reproduce
I had a V7.15 website installed.
I crea

[2019-07-12 05:24] YodasMyDad commented on #5848
Any idea when this will make it into 7.15.1 and when it will be released? Currently have a live site that no one can add new content on because cannot pick images for the content.

[2019-07-12 05:42] nul800sebastiaan commented on #5848
A 7.15.1 release will have to wait a little longer.

If you need to fix it now, make sure to roll back to either 7.14.0, use the build output from the related PR.

[2019-07-12 06:00] nul800sebastiaan commented on #5858
Can you post your log file please?

[2019-07-12 06:13] Shazwazza opened #5866 "A user should be able to change their own password if they have no password configured"
This will occur if someone is using an OAuth provider for logins and auto-linking accounts. In this case the first time they login with an OAuth provider (like azure ad), a local account will be created and linked with AD and they can login using the OAuth provider button. They will however not be able to login locally (in case they are offline) because they don't have a password - in fact in this

[2019-07-12 06:43] sitereactor commented on #5858
Keep in mind that the maximum size of a sql ce database is by default 128 MB (some docs mention 128MB for devices and 256MB for desktop). Override this by using the following connection string.

`Data Source=MyData.sdf;Max Database Size=256;Persist Security Info=False;`
(from: http://www.connectionstrings.com/sql-server-2005-ce) and (from:
http://msdn.microsoft.com/en-us/library/system.data.sqlser

[2019-07-12 07:16] bjarnef commented on #5857
@Shazwazza @nul800sebastiaan do you know if there is a difference in the `metaData`. returned if the media item is file vs image?

It would also be great if these meta data properties was returned as camel case for consistency (but it would require where used in angular to be updated and probably a breaking change if people already use these properties in their own code.

[2019-07-12 07:17] nul800sebastiaan commented on #5856
Looks about right to me :-)

[2019-07-12 07:17] #5856 closed

[2019-07-12 07:24] skttl opened #5867 "8.1 Can't tab to property alias when defining properties in a doctype"
When defining a property in a doctype you used to be able to tab from the property label field to the alias field. Now it skips the alias field and goes to the description.

To reproduce:
Add a property to a doctype, set the label, then tab to the next field.

Expected result:
I expected the alias field to gain focus, as it did before.

Actual result:
The description field got focus, and I had to

[2019-07-12 07:32] ronaldbarendse commented on #5822
I just noticed this breaks Umbraco Deploy (version 2.0.16) on Umbraco 7.15.0 with the following exception: `Method not found: 'Umbraco.Core.Models.EntityBase.IUmbracoEntity Umbraco.Core.Services.IEntityService.GetByKey(System.Guid, Umbraco.Core.Models.UmbracoObjectTypes, Boolean)'`.

[2019-07-12 07:44] MichaelNielsenDK commented on #5848
I feel that this is a serious issue that needs to be fixed in a patch update or hotfix as soon as possible.

[2019-07-12 07:46] benjimedia commented on #5848
This is a reasonably large problem for users. Perhaps HQ needs to highlight this issue on the 7.15.0 release page on Our ?

[2019-07-12 08:01] nul800sebastiaan commented on #5848
Sure,  there you go: 😊

![image](https://user-images.githubusercontent.com/304656/61112332-e459a380-a48b-11e9-85d5-6396748760eb.png)

[2019-07-12 08:01] nul800sebastiaan commented on #5848
@MichaelNielsenDK Obviously this is being fixed ASAP.

[2019-07-12 08:03] MichaelNielsenDK commented on #5848
@nul800sebastiaan Awesome... 🤘🏻

[2019-07-12 08:32] #5822 closed

[2019-07-12 08:34] nul800sebastiaan commented on #5848
As a workaround, we can populate the `cmsMedia` table with some SQL. Note, this is mostly untested, make backups and copy the output of this script to make sure you can revert the INSERT statement if needed later

[code]

What does it do? It finds all nodes of type `'B796F64C-1F99-4FFB-B886-4BF4BC011A9C'` (media types) that are in the root (parent = -1) and not yet in the `cmsMedia` table.

It the

[2019-07-12 08:39] ronaldbarendse commented on #5858
@cerdts It's probably also a good idea to convert you SQL CE database to a SQL Express LocalDb, as described by @zpqrtbnk: https://www.zpqrtbnk.net/posts/a-database-for-umbraco/.

[2019-07-12 08:43] nul800sebastiaan commented on #5822
@ronaldbarendse You'll need Deploy 2.1.0, which is what the Cloud upgrader should give you.

[2019-07-12 08:44] nul800sebastiaan commented on #5867
Uh oh, that seems like an oversight!

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-07-12 09:16] YodasMyDad commented on #5848
Ok so I didn't make any backups... 😬😉

This half works. It gets back the top level folders, but still doesn't show the folders under the top level ones. I.e.

**Media**
 - Folder (Was missing, but now shows after running your SQL)
   - Sub Folder (Still missing in tree but shows in list view if I click folder above)

[2019-07-12 09:18] YodasMyDad commented on #5848
So, I thought screw it. I'm going to remove the 'parentId = -1' in the first select query... And it fixes all my problems with the folders. Now all are showing 👍

[2019-07-12 10:44] TomDaria opened #5870 "Search Application Restarting"
Hello:

We are on Umbraco 7.11.1.
We have set up a search schedule in umbracoSettings.config to fire off our custom search in the SearchEventHandlers() class every 24 hours.  However, in the logs we see the following two errors all the time and our search index is now corrupt and not building the right number of search entries.

System.TimeoutException: Failed to enter the lock within timeout.

[2019-07-12 10:44] bergmania commented on #5846
@nul800sebastiaan, what do we expect as outcome of this task?

1.  Just a better error message telling the user to clean up the corrupt data manually?
1.  Skip the corrupt data in this migration?

The underlying problem is, that you is allowed to change the underlying property editor on a data type to another property editor with a incompatible storage format.

[2019-07-12 10:48] TomDaria opened #5871 "Searech Write-lock"
Good morning.
We are on Umbraco version 7.11.1.
When our application starts up from a reboot or if we exclusively initiate a full search every 24 hours, why do we see write.lock files in our ExamineIndexes folder?

As such, in our opinion, the index never completes.

Eventually, we see an error recorded in the Umbraco logs about the
System.TimeoutException: Failed to enter the lock within timeout.

[2019-07-12 11:46] kjac commented on #5844
Yeah this was caused by #5740 ... PR to fix in #5872

Just to clarify, this issue can be reproduced by:

1. Make a change to either member, group or login/error page.
2. Open any of the pickers (member, group or login/error page)
3. Click outside the picker, e.g. on the overlay.

[2019-07-12 12:01] kjac commented on #5845
That is indeed annoying. I'm testing a fix now, will submit it later 👍

[2019-07-12 12:11] bjarnef commented on #5849
It seems in only hit this method first time where it send a request like this: `/umbraco/backoffice/UmbracoApi/Entity/GetUrlAndAnchors?id=1129`

When your afterwards edit the link it send this request:
`/umbraco/backoffice/UmbracoApi/Entity/GetUrlAndAnchors?id=umb://document/afcc3d4df40d4d1eb8f2c43fdc592b58` which return the 417 (Missing token) error.

https://github.com/umbraco/Umbraco-CMS/blob/v

[2019-07-12 12:24] bjarnef commented on #5849
In media picker there is something similar to use `udi` or `id`.
https://github.com/umbraco/Umbraco-CMS/blob/4733256ca1bfb49d4fe946110e734db1351f81d9/src/Umbraco.Web.UI.Client/src/views/common/infiniteeditors/mediapicker/mediapicker.controller.js#L97

The `GetById` overload methods doesn't have the attribute `[HttpGet]` and the parameter attribute `[FromUri]`:
https://github.com/umbraco/Umbraco-CM

[2019-07-12 12:28] brreisner commented on #5035
Will work with our dev team to put this fix in today and test. This is great news, really appreciate the work here @shazwazza. I know you mentioned the below:

 "Don't use a persisted local cache file. The content cache is always in memory, the purpose of these persisted files is purely to for startup time performance. That said, the performance of loading in the content cache directly from the DB

[2019-07-12 12:41] gavinfaux commented on #5848
We had 2 environments with the issue (live and development) and 2 without (staging and localhost); the 2 without were cloned sometime after 7.8 had been deployed.

An alternative we have used successfully on Cloud is to compile [7.15 from source](https://github.com/umbraco/Umbraco-CMS/releases/tag/release-7.15.0) with the `LeftJoin` change from the [first comment](https://github.com/umbraco/Umbrac

[2019-07-12 14:28] vaskinhu commented on #5822
Same problem for courier,

https://github.com/umbraco/Umbraco.Courier.Issues/issues/11

[2019-07-12 14:39] Sibren opened #5873 "8.1 Cannot delete Hostnames after setting them"
I tried the variants-thing, created an extra language, set some variants.
Then set the hostnames on a node. Then tried to remove (one of) them. The overlay disappears, but nothing happens.
No error comes up.

### Bug summary
As above

### Specifics
Tried on various nodes. Using Umbraco 8.1.0

### Steps to reproduce
Create second language (Dutch), set some Hostnames (Node -> RMB ->Culture and Hostn

[2019-07-12 14:51] cerdts commented on #5858
I will also try to post this on GitHub

- Dan, KI7DAN

From: Sebastiaan Janssen
Sent: Friday, July 12, 2019 12:01 AM
To: umbraco/Umbraco-CMS
Cc: cerdts; Author
Subject: Re: [umbraco/Umbraco-CMS] v7.15 to v8.1 database error: insufficientdisk space (#5858)

Can you post your log file please?
—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, o

[2019-07-12 14:53] cerdts commented on #5858
[UmbracoTraceLog.HC2220.20190711.json.txt](https://github.com/umbraco/Umbraco-CMS/files/3386854/UmbracoTraceLog.HC2220.20190711.json.txt)
Here is my Log file

[2019-07-12 15:05] cerdts commented on #5858
I changed the connection string to include "Max Database Size=256" and still get the insufficient disk space error.
![image](https://user-images.githubusercontent.com/38465705/61138100-094a1880-a484-11e9-9349-d283cc2653f8.png)
connection string currently:
<add name="umbracoDbDSN" connectionString="Data Source=|DataDirectory|\Umbraco.sdf;Max Database Size=256;Flush Interval=1;" providerName="System

[2019-07-12 15:07] cerdts commented on #5858
[UmbracoTraceLog.HC2220.20190712.json.txt](https://github.com/umbraco/Umbraco-CMS/files/3386911/UmbracoTraceLog.HC2220.20190712.json.txt)
Log file after making connection string change to add "Max Database Size=256"

[2019-07-12 16:43] protherj commented on #5848
We ran the patch SQL (with the additional notes from Lee) and that fixed the issue for us on Umbraco Cloud.

Thanks @nul800sebastiaan and @YodasMyDad

[2019-07-12 17:26] kjac commented on #5845
PR in #5874

[2019-07-12 18:20] kjac commented on #5823
Ain't that funky. PR in #5875 fixes the issue at hand; supporting `IEnumerable<string>` should be considered and handled in a separate issue.

[2019-07-12 18:30] schrepel commented on #5860
Those steps worked great: 1) copied /umbraco from newest 8.1 release ZIP, 2) updated version in clientdependency.config, 3) cleared site-specific cache in Chrome. Thanks very much.

[2019-07-12 19:39] kjac commented on #5817
For the life of me I can't reproduce this. I have a doctype with both variant and invariant properties; this is how it works when creating a new item of that doctype:

![variant-invariant-content](https://user-images.githubusercontent.com/7405322/61154062-67f7ac80-a4ed-11e9-8ede-ceeaa064540d.gif)

[2019-07-12 19:47] kjac commented on #5873
Duplicate of #5815 ?

[2019-07-12 19:57] JoseMarcenaro commented on #5035
@Shazwazza I tested your reflection code to ignoreLocalDb, with total success

I'm running Umbraco v8.0.2

This is the secuence I followed.
1) Re-enabled the IIS `preloadEnabled` setting, which I had previously set to false (Workaround #1 above) in both slots (production / stage)

2) Performed a swap - with the old code, before applying workaround #2 ==> site broke with the same error "NuCache.Con

[2019-07-12 20:33] kjac commented on #5778
@idseefeld did you spot places in the UI where "Member" is hardcoded as label/text, or is this a matter of not being able to translate "Member" in custom extensions?

[2019-07-12 22:04] robertjf opened #5877 "Upgrade from 4.11 via 7.15 fails with DROP INDEX is not allowed on index 'cmsContent.IX_cmsContent'"
I'm evaluating upgrading an Umbraco site from 4.11 to 8.1 via 7.7.13 and 7.15.0 - all went smoothly until the 7.15.0 -> 8.1 step when I got this error:

[code]
The corresponding log entry is as follows:

[code]

[2019-07-12 23:21] marcemarc commented on #5877
@robertjf did you see this related issue? https://github.com/umbraco/Umbraco-CMS/issues/5804#issuecomment-509628838

I think in earlier versions of Umbraco the Foreign keys that reference the Content.IX index were named differently, and the migration script tries to 'drop' them by name, before removing the Content index and so misses the older named ones... and then can't drop the index.

run the

[2019-07-12 23:31] robertjf commented on #5804
yep, looks like the same issue... @Shazwazza need a dacpac of mine too?

[2019-07-12 23:32] robertjf commented on #5877
Yep, got the same list of indexes as you on the other issue - will close this one for now and track the other one.

[2019-07-12 23:32] #5877 closed

[2019-07-13 12:14] kjac opened #5878 "Sticky header shows in "scrolled down" state before scrolling"
A lot of the time I see the sticky header in its "scrolled down" state even if I haven't started scrolling yet:

![image](https://user-images.githubusercontent.com/7405322/61171481-5f988380-a578-11e9-8a69-b82b937501e8.png)

It happens on load. If I scroll down and up again, the "scrolled down" state disappears.

[2019-07-13 12:17] kjac opened #5879 "Sticky header doesn't stick to the top in the media section"
The sticky header usually slides up and sticks to the top of the view when scrolling begins. This doesn't seem to be the case in the media section no more:

![image](https://user-images.githubusercontent.com/7405322/61171512-cddd4600-a578-11e9-97d7-75c8395796d3.png)

The result is that the scrolled content is visible behind the sticky header, as shown above.

[2019-07-13 12:19] kjac opened #5880 "Sticky header throws a JS console error"
The following error logs to the JS console pretty often when browsing through folders in the media section:

![image](https://user-images.githubusercontent.com/7405322/61171541-21e82a80-a579-11e9-8a8d-38a838663396.png)

Might be related to #5879

[2019-07-13 18:43] bjarnef commented on #5880
Yes, it seem `rootBounds` in some cases is null and it affected the media section a little.
https://github.com/umbraco/Umbraco-CMS/pull/5732#issuecomment-509607334

I think this PR might fix this issue https://github.com/umbraco/Umbraco-CMS/pull/5834

[2019-07-13 18:55] BatJan commented on #5277
@MMasey Can you update the table with a reference to PR #4526 for items 10,11 and 12 since this, if accepted, will be reusable for these scenarios (If I remember correctly, it's been a while since I made it 😁 ) - But just so people are aware that there is work being done in this area? :)

[2019-07-13 21:39] BatJan opened #5882 "Improve accessibility of the "Save and publish" dialog"
A brief description of the issue goes here.

This issue is related to issue no. 5 in the list of accessibility issues here https://github.com/umbraco/Umbraco-CMS/issues/5277

While it appears that the dropdown is now keyboard accessible there still are a few other concerns that needs to be addressed in order to improve screen reader accessibility.

1. For semantics the `<a>` tags should be changed

[2019-07-14 09:31] bjarnef commented on #5857
I also noticed when selecting e.g. a `txt` file the media picker preview was blank.

[2019-07-14 12:43] idseefeld commented on #5778
@kjac I went through the whole /Umbraco/config/lang/en.xml & en_us.xml files as I completed the de.xml and did not find Member key. But it is used in the back office e.g. the Members tree below all Members.
I have attached a screenshot.
![umbraco_v8_de_Member_section](https://user-images.githubusercontent.com/866917/61183782-c0da5880-a645-11e9-8193-49cfea2539f2.png)

[2019-07-14 14:33] JoseMarcenaro opened #5886 "Variant Children of non-variant node are not listed"
Testing and PR notes: https://github.com/umbraco/Umbraco-CMS/issues/5886#issuecomment-513100527

---

Release 8.1.0 includes some breaking changes regarding `IPublishedContent.Children()` - gone - and its replacement properties `.Children` and `.ChildrenForAllCultures` (see [this discussion](https://github.com/umbraco/Umbraco-CMS/issues/5170#issuecomment-499824646)).
But it looks like the implemen

[2019-07-14 15:55] bjarnef commented on #5810
It seems the value of the variable is not compiled correct, when used here:
https://github.com/umbraco/Umbraco-CMS/blob/a1722f268cb7b7f5b42eb3263ae28dda5924e570/src/Umbraco.Web.UI.Client/src/less/variables.less#L148

https://github.com/umbraco/Umbraco-CMS/blob/853087a75044b814df458457dc9a1f778cc89749/src/Umbraco.Web.UI.Client/src/less/components/umb-flatpickr.less#L20

The output in the browser, w

[2019-07-14 17:29] stevemegson opened #5889 "Migration of nested content 7.15.0 to 8.1.0"
The property values within nested content don't receive the same conversions as normal properties during the migration. Therefore dropdowns, checkbox lists and radio button lists are left with their integer values, which the editors can't handle. Trying to edit the page gives an exception. (e.g. Newtonsoft.Json.JsonSerializationException: Error converting value 96 to type 'System.String[])

Also,

[2019-07-14 18:18] opr commented on #5860
The clientdependency.config bump is important to do - I omitted this step and the styling got messed up. Follow @schrepel 's steps exactly and it works fine :)

Cheers both!

[2019-07-14 20:38] BatJan commented on #5277
I have just had a short play with Umbraco 8.1 and it appears that the keyboard navigation issue mentioned for **issue 5** has been fixed - However I'm currently working on a related PR for this issue that should ensure screen reader accessibility and improve semantics too in - It's currently a draft that can be found here https://github.com/umbraco/Umbraco-CMS/pull/5884

Danny Lancaster and I have

[2019-07-15 02:10] Shazwazza commented on #5873
yep, closing this one

[2019-07-15 02:10] #5873 closed

[2019-07-15 02:55] Shazwazza commented on #5035
@brreisner regarding

If you are using slot swapping with applicationInitialization like @JoseMarcenaro mentions then i don't see unintended consequences of not having a persisted cache file. The *only* consequence outside of slot swapping is potentially slower startup but this depends largely on how much content you have. For a site with a couple thousand nodes the startup time would be probably

[2019-07-15 03:01] Shazwazza commented on #5860
CDF should auto bump the version number when the installer runs, it seems strange that this wasn't done automatically for you. Regarding the upgrade though, not sure what might have happened to not have all of the correct files in place for you. We'll run more tests with the nuget upgrade from 8.0.2 -> 8.1 for this. I did this a few times before release and things seemed to work but will try again

[2019-07-15 03:01] #5860 closed

[2019-07-15 03:03] #5849 closed

[2019-07-15 04:28] kjac commented on #5778
@idseefeld that's not a translation, that's the name of the member type "Member" 😀

[2019-07-15 05:31] Shazwazza commented on #5848
Yep a Left join is what is needed, the PR looks good #5865, we'll test.

[2019-07-15 05:45] kjac commented on #5886
Whoa. That sounds like an oversight ☹️

[2019-07-15 06:18] bjarnef commented on #5849
The issue also exists in v8, but a bit different console error and status code. I will have a look at it.

![image](https://user-images.githubusercontent.com/2919859/61198196-114ec600-a6d9-11e9-93c7-d76824f6864d.png)

[2019-07-15 06:24] Shazwazza opened #5892 "v8 GetUrlAndAnchors doesn't seem to work for variant property values"
When using the link picker and using variant content, the anchor values don't get returned for variant properties.

The problem seems to be in the call to `ContentService.GetAnchorValuesFromRTEs(id, culture);` and within that a call is made to `var value = contentProperty.GetValue(culture)?.ToString();` which by default the culture will be `"*"`, however no value will get returned for this because

[2019-07-15 06:27] zpqrtbnk commented on #5886
Not by design. Bug.

[2019-07-15 06:29] bjarnef commented on #5849
Ahh, it seems you also have applied the changes in v8. Great, thanks @Shazwazza 👍

[2019-07-15 06:41] Baracuda011 opened #5893 "U8 (8.1.0 Cloud) Backoffice throws an error when macro is selected to be rendered in the grid"
Dear all,

I have created a plain macro, without parameters and checked to be rendered in the grid. My macro partial view calls another partial view. No models transferred the most basic logic.

Here is the code of my macro partial view:

[code]

Here is the code of my partial view:

[code]

When I add my macro to the grid, backoffice throws the following error:

Received an error from the server

[2019-07-15 06:41] bjarnef commented on #5892
I guess it also should have a null check here https://github.com/umbraco/Umbraco-CMS/blob/ade9bb73246caf25a7073f2b9e5262641a201863/src/Umbraco.Core/Services/ContentServiceExtensions.cs#L22 before accessing properties from `content` although it probably wouldn't happen since it pass in the node id from the selected node in linkpicker.

[2019-07-15 07:11] Shazwazza commented on #5886
That is an interesting one and potentially depends on where these invariant children exist.

The Children property should return children that are contextual to the current request. In this case the Children that are variant which exist underneath an invariant document should correspond to the culture in the `IVariationContextAccessor`.

I'd have to look to see what is going on but would have thou

[2019-07-15 07:18] Shazwazza commented on #5892
For v8, we'll need to pass up the explicit culture for this i think, passing in * for a property value doesn't really work, plus we need to consider what variant we are on, splitview, etc....