[2019-02-22 11:32] nielslyngsoe opened #4714 "V8: Variants does not take care of situation where more languages are available than the screen allows"
Variants, as in Language picker (local and global), Publishing-dialog and possible other places. Does not handle if the there is more languages available than the screen height allows.

[2019-02-22 12:41] zpqrtbnk commented on #4675
oh well, that was because... we never made sure that MB PureLive supported NuCache and ... ah

[2019-02-22 12:41] zpqrtbnk commented on #4675
have fixed

[2019-02-22 12:41] #4675 closed

[2019-02-22 12:43] zpqrtbnk commented on #4676
still no repro

[2019-02-23 14:57] MMasey opened #4715 "V8 - IE11: section name underline not in correct position"
This is a pretty minor bug that effect IE11. The alignment of the section name underline isn't positioned correctly.

![image](https://user-images.githubusercontent.com/6573613/53287991-15eefe00-377b-11e9-8be1-f7a24b1d4c77.png)

I'll be submitting a PR to fix soon

Reproduction
------------

To reproduce, log into the backoffice on IE11 and you'll see the problem.

### Bug summary

The issue is be

[2019-02-23 17:30] liranp1 opened #4717 "Add reCatptcha to login page"
hi,
i would like to ask to add reCaptcha to the login page /UMBRACO/.
this will improve security.

i new to this so if i will find how to add this to the code i will commit it.

thanks

[2019-02-23 19:39] robertjf opened #4719 "Cannot insert duplicate key row in object 'dbo.umbracoPropertyData' when sorting Media"
I just tried sorting the media items in a folder in the new Site Starter package for Umbraco 8.  First I tried moving the Biker Jacket to the middle of the list and it worked, sorting succesfully.  Then I tried moving it to the top of the list and received the following error:

[code]

The Sorting dialog also updated with "Failed to sort media" underneath the error dialog.

Reproduction
----------

[2019-02-24 09:03] soreng commented on #4717
Hi,

I don't think that is a very good idea, or would add anything security-wise.

If you want to improve the security, you should use two factor authentication instead, or use an external login provider, that you trust (Azure AD for instance).

[2019-02-24 11:38] liranp1 commented on #4717
ok, thank you.

[2019-02-24 11:38] #4717 closed

[2019-02-24 13:51] kjac commented on #4707
PR in #4720

[2019-02-24 14:15] kjac commented on #4628
PR in #4721

[2019-02-24 14:34] kjac commented on #4709
PR in #4722

[2019-02-24 17:03] clausjensen opened #4723 "Image cropper breaking when doing duplicated uploads"
If you select an image in the image cropper it gets added and you can select crops. If you then click _remove file_ and then add the same file - the cropper is broken and looks like no file was selected. Selecting a different file will make it work fine again. Haven't tested what happens when you actually save.

[2019-02-24 22:17] vitalynaumenko opened #4725 "Content synchronization stop working"
Hi all,

Our web site is running on Umbraco 7.12.3, in Azure. We are following https://our.umbraco.com/documentation/Getting-Started/Setup/Server-Setup/load-balancing/flexible setup and have one Web App for master instance, and one Web App for front instances with scale-out to 3 instances.
Sometimes, we face a situation when one of front instances stop receiving content updates from master/DB. We

[2019-02-25 03:02] aaronpowell opened #4726 "[v8] Container registration allows you to create invalid registrations"
The way the type restrains are in the container (well, `IRegister`) in v8 allows you to create registrations for type resolution that is invalid and you'll only find out at runtime when the container tries to set everything up.

Given types like this:

[code]

You can do this:

[code]

The 1st is fine, the 2nd isn't, but you don't find out until the container tries to run.

We can configure this w

[2019-02-25 03:49] aaronpowell commented on #3935
After dealing with a bunch of other runtime issues I can now confirm that using the properties on `RuntimeOptions` does allow you to boot Umbraco without a DB or a browser! 🎉

[2019-02-25 03:49] #3935 closed

[2019-02-25 06:14] aaronpowell commented on #3866
Dumb question on using `IUmbracoDatabase`, I found that that isn't in the container, so how do you get an instance of it?

[2019-02-25 07:59] zpqrtbnk commented on #3866
The normal way, which we use everywhere, is via a scope:
[code]

where `scopeProvider` is an `IScopeProvider` that can be injected.

Then, there is an `IUmbracoDatabaseFactory` which can be injected too and can be used to create an `IUmbracoDatabase` directly - but without scoping, transaction, anything *and* it really really must be disposed after being used.

[2019-02-25 08:12] zpqrtbnk commented on #4726
Mmm... it goes like this:

* `register.RegisterFor<TService, TImplement, TTarget>()` registers `TImplement` as an implementation of `TService` to be used by `TTarget`
* `factory.GetInstanceFor<TService, TTarget>()` gets a `TService` that has been registered to be used by `TTarget`

So the idea is that, if I want to register two implementations of `TService`, one to be used by `Target1` and one to

[2019-02-25 08:20] zpqrtbnk commented on #4719
Should not happy = issue ;-) Now if it cannot be repro, it's not a major issue - but an issue, still.

[2019-02-25 08:28] kjac commented on #4692
I'm not seeing this on the latest build:

![image](https://user-images.githubusercontent.com/7405322/53323871-a2b2cc80-38df-11e9-8753-c850741c07fc.png)

[2019-02-25 08:28] peterkeating commented on #4713
Wasn't able to reproduce the issue with a vanilla install of Umbraco using the example template.

[2019-02-25 08:55] nielslyngsoe opened #4728 "Confusing state when trying to publish content where a mandatory language haven't been created."
You will need a site with two or more mandatory languages, and a doc-type that allows for varying, and with at least one mandatory fields that allows for varying.

Create a node and fill out the required fields for one of the mandatory languages.

Click "Save & publish..." and then you will see this screen:

<img width="620" alt="screenshot 2019-02-25 at 09 53 44" src="https://user-images.githubus

[2019-02-25 09:28] aaronpowell commented on #4726
Oh right, that's rather confusing from the way it's implemented and why I made this change. I was trying to work out how to register a type as the base interfaces and that was the only method I could find on `IRegister` to do it.

If that's not what it's meant to be used for then sure - doesn't make sense!

[2019-02-25 09:44] #4499 closed

[2019-02-25 09:52] aaronpowell commented on #3866
Ah cool, didn't know that that was the best way to get it, was thinking I'd have to use the `IUmbracoDatabaseFactory` or something.

All sorted now!

[2019-02-25 09:53] #3866 closed

[2019-02-25 10:00] aaronpowell commented on #3707
Through the work on #3935, #3866, the DI rewrite and compontent/composition updates it is now possible to start the `CoreRuntime` on its own!

[2019-02-25 10:00] #3707 closed

[2019-02-25 10:49] bergmania opened #4729 "V8: Mediapicker properties not loaded correct into cache after recycle"
After recycle the media is not in the cache

Steps to reproduce:
- Set `<add key="Umbraco.ModelsBuilder.ModelsMode" value="LiveDll" />` in `web-config`
- Have a page with `MediaPicker` types and show the page correct in the website
- Save a doc type.  (Wait for the recycle)
- Reload the website (The media is not correct in cache)
- Reload the cache from the dashbord
- Reload the website (The media

[2019-02-25 10:56] nielslyngsoe commented on #4698
Thanks for the clarification, and interesting thoughts.

I think it makes sense that the Members and Users sections align, since feature wise they are very alike.

But I think the core of the problem lies within the naming of things.

The "Members" section, contains members, which can be grouped in member-groups, and the default member-group is just called "Members" <-- this is the problem, cause

[2019-02-25 12:23] PerplexDaniel commented on #4726
@aaronpowell Isn't it the case you just want to use `composition.Register<IA, A>()`? That is, use `Register` rather than `RegisterFor`? Perhaps I am wrong about your exact use case, but assuming your `IA` is actually an interface that you want the DI framework to resolve for you as an instance of `A` when you request it in a constructor or so, then `Register<TService, TImplementing>` is probably w

[2019-02-25 13:04] madsoulswe opened #4730 "V8: Name-field is disabled but not in splitview."
The name filed is disabled but not in splitview.

![image](https://user-images.githubusercontent.com/7071187/53338927-3054e300-3905-11e9-8444-451d638a3a5a.png)

![image](https://user-images.githubusercontent.com/7071187/53338953-406cc280-3905-11e9-8909-a8fa4298a1ba.png)

Reproduction
------------

Install umbraco with the default starterkit.
Add secondary language
Change doctypes to "Variant/Multi

[2019-02-25 13:19] madsoulswe commented on #4730
Ah it's when "umbListView" is active. I'm not sure if it is a "bug", but it was confusing at first =)

https://github.com/umbraco/Umbraco-CMS/blob/dev-v8/src/Umbraco.Web.UI.Client/src/common/directives/components/content/umbvariantcontent.directive.js#L49

[2019-02-25 13:38] clausjensen opened #4731 "Modelsbuilder failing to generate models due to SQL error"
Note - this only happened one out of 4 times while testing installs from zip, with both sqlce and sqlserver. It happened on the sqlserver install:

When the site was installed - modelsbuilder was not able to generate models and generated this error:

[code]

After triggering a generation of models (saving a document type) this error goes away but I then get a binding error trying to bind nucache c

[2019-02-25 14:24] kgiszewski opened #4734 "Editor roles are logged out when viewing pages that use a PE which calls GetPreValues"
If a doctype includes a dropdown PE or anything that uses the following path, the user will be logged out if they are not role == admin.

To replicate:

1) Create a dropdown data type.
2) Add to a doctype.
3) Create content based on the above doctype.
4) Create an 'editor' role user.
5) Login as an editor, visit the page in the backoffice.
6) The user will be logged out.
7) Adding the user to `adm

[2019-02-25 15:33] kjac commented on #4690
Looks like the inner button state misinterprets the `info` button style. I've got a fix, will push a PR soon as I can.

[2019-02-25 15:42] kjac commented on #4690
PR in #4736

[2019-02-25 15:57] nul800sebastiaan commented on #4734
I can't reproduce this problem with the provided steps in a clean 7.13.2 install so it's probably been fixed along the way.

There's no request to `GetPreValues` at all in 7.13.

![image](https://user-images.githubusercontent.com/304656/53349893-5b97fc00-391e-11e9-9d21-bc35e29e4eb6.png)

If you can still repro in a 7.13 install then feel free to re-open with updated steps. 👍

[2019-02-25 15:57] #4734 closed

[2019-02-25 17:19] kgiszewski commented on #4734
No worries thx. A client is unable to upgrade at this time and you are likely correct.

[2019-02-25 19:07] bjarnef commented on #4700
E.g. in a template when using the following `nodes1` and `nodes2` return the same when have only a single root node, but in a multi-site solution `nodes1` always return nodes for `Site1`.

`var nodes1 = Umbraco.ContentAtRoot().FirstOrDefault().Children().Where(x => x.IsVisible());`
`var nodes2 = Model.Root().Children().Where(x => x.IsVisible());`

[2019-02-25 21:51] bjarnef opened #4739 "Return IEnumerable<T> in Nested Content with single document type"
At the moment when using Nested Content in core and with ModelsBuilder, you can use the following to get a collection as `IEnumerable<IPublishedContent>`.

[code]

or the following to cast `IPublishedContent` when you only use a single document type in Nested Content.

[code]

However when Nested Content only is configurated to use a single document type it would be great if the converter generate

[2019-02-25 22:16] bjarnef opened #4740 "v8: Accordion collapse still available in media and member section"
The collapsing on accordions in content section was removed, but it seems the accordions in media section still is collapsible. Shouldn't this also be removed/disabled in media and member section, to make this consitent?

[2019-02-26 02:09] aaronpowell commented on #4726
I wasn't aware there was a `Register<TService, TImplementing>` until I dug into the code again last night, it appears to not be on the `IRegister` interface but on an extension method... Why wouldn't it be on the interface?!

[2019-02-26 04:31] Shazwazza opened #4742 "v8 dashboards should not be found by assembly scanning"
There's a couple of reasons for this:

* Consistency - currently sections built in c# need to be manually registered in the container so to be consistent, so should dashboards
* Performance - currently dashboards built in c# are assembly scanned which has an overhead on startup performance even though dashboards are not critical to the website operation

Both sections and dashboards can easily be

[2019-02-26 06:31] nul800sebastiaan commented on #4077
Hi guys, we've chosen to go with upper-casing each letter for now in the knowledge that this is imperfect and will never be perfect for every scenario, it works well for most scenario's though.

I would encourage your to write your own eventhandlers that, during the saving of the node makes the node name look any way you want it to.

[2019-02-26 06:31] #4077 closed

[2019-02-26 07:29] bergmania opened #4743 "V8: Can't pick items in Multinode Tree Picker after filtering"
Can't pick items in Multinode Tree Picker after filtering

There is no errors in the javascript console.

Steps to reproduce:
![mntp-issue](https://user-images.githubusercontent.com/1561480/53394776-8aef4d00-39a0-11e9-93ca-b6aa044483e4.gif)

[2019-02-26 07:42] bjarnef commented on #4077
@nul800sebastiaan I totally understand this can't be perfect, but I think the upper casing makes more sense in English, while it cause issues in other languages/cultures.

Wouldn't it be better to leave the casing as in the original file name (it is okay to make the first character uppercase) and then add documentation on how to extend this?

[2019-02-26 07:55] PerplexDaniel commented on #4726
Fair question, though though be fair to Umbraco as well there is a `void Register(Type serviceType, Type implementingType, Lifetime lifetime = Lifetime.Transient)` on the `IRegister` interface. The extension just makes it more convenient to use. The extension method just [calls the other one](https://github.com/umbraco/Umbraco-CMS/blob/dev-v8/src/Umbraco.Core/RegisterExtensions.cs#L14):

[code]

I

[2019-02-26 08:36] kjac commented on #4730
@madsoulswe It's by design; the name is always disabled on list views. Opening split view forces the active view over to content, where name is of course enabled 😄

[2019-02-26 08:46] madsoulswe commented on #4730
@kjac I noticed that, it's very logical. =D

[2019-02-26 08:50] kjac commented on #4743
As it turns out it actually does select the items - the CSS just doesn't really show it 😄

I'll push a fix shortly.

[2019-02-26 08:59] kjac commented on #4743
PR in #4744

[2019-02-26 09:24] skttl opened #4745 "v8: Content fly-out nav is behind Actions nav"
If you have the actions nav open, the content fly-out nav is semi-hidden behind the actions.

Should the actions close when hovering content? Or should the actions dropdown be activated (and deactivated) on hover in stead?

![billede](https://user-images.githubusercontent.com/3726467/53401712-a1050980-39b0-11e9-9833-dacfb6085207.png)

[2019-02-26 09:36] #4743 closed

[2019-02-26 09:37] skttl opened #4746 "v8: "Display at tab number" setting for list view missing"
In 7, you can define the tab index for the list view tabs, on document types with list views.

In 8, the list view is a content app, which seemingly always gets placed first.

I don't know if Content Apps have an index you can fiddle with, but I think we should be able to have Content (or other content apps) before the list view.

V7:
![billede](https://user-images.githubusercontent.com/3726467/53

[2019-02-26 09:38] skttl opened #4747 "V8: Ability to set icon for list view content app"
It would be nice, if we could set the icon of the list view content app (just like we can set the name).

[2019-02-26 09:59] prjseal opened #4748 "Get logged out after installing"
I installed v8 using NuGet
I built the site
I ran the site using Ctrl + F5 in VS
I went through the installer
Entered user details
Installed a website
Got to the backoffice
Clicked on 'Do not show this tour again' and it took me to the login screen
I expected to stay logged in

[2019-02-26 10:00] nul800sebastiaan commented on #4748
Seen this a few times, you probably have another v7 website running in the same browser for which you still have a cookie.

[2019-02-26 10:00] #4748 closed

[2019-02-26 10:02] nul800sebastiaan commented on #4747
I've put this one on the list for our periodic meetings at HQ and will let you know what the outcome is.

[2019-02-26 10:02] nul800sebastiaan commented on #4746
I've put this one on the list for our periodic meetings at HQ and will let you know what the outcome is.

[2019-02-26 10:03] nul800sebastiaan commented on #4745
I've put this one on the list for our periodic meetings at HQ and will let you know what the outcome is.

[2019-02-26 10:03] nul800sebastiaan commented on #4730
Thanks, it's functioning as intended right now! 👍

[2019-02-26 10:03] #4730 closed

[2019-02-26 10:05] nul800sebastiaan commented on #4077
@bjarnef Right now we've chosen to go with the scenario that makes sense for the majority.

[2019-02-26 10:07] tom-d8 opened #4749 "Wording of HTTPS configuration message in Health Check is misleading (and doesn't offer to fix it)"
I ran a Health Check with the site running under HTTPS, but the error message was
"You are currently not viewing the site using the HTTPS scheme"

I solved the issue by setting Umbraco.Core.UseHttps to true

I think this message should be removed. The warning below it states:
"The appSetting 'umbracoUseSSL' is set to false etc."

This setting is now called "Umbraco.Core.UseHttps"
I think it would

[2019-02-26 10:08] clausjensen commented on #4652
Turns out the _actual_ issue was actually a corrupt TinyMce config file causing the image to not be inserted at all.

This fix is however still the "right" way to insert things into tiny (overwriting what is in the current selection) so when tested to work as expected this should still be merged in.

[2019-02-26 10:11] MMasey opened #4750 "v8: Reorder bar for grid get's stuck to top when no longer required"
If you have a doctype that has multiple sections, and one of them makes use of the `<umb-sticky-bar>`, if you scroll past that section, the sticky bar remains.

Reproduction
------------

1. Install Umbraco 8.0
2. Install the starter kit package
3. Go to the home page
4. Scroll past the "Content" sections

### Expected result

When you scroll past the content section containing the grid, the "reor

[2019-02-26 10:14] MMasey commented on #4715
PR #4716 fixes this issue.

[2019-02-26 10:17] nul800sebastiaan commented on #4428
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/4738

[2019-02-26 10:17] #4428 closed

[2019-02-26 10:23] mikkelhm commented on #4676
Closing - wasnt able to reproduce

[2019-02-26 10:23] #4676 closed

[2019-02-26 10:36] clausjensen opened #4751 "Media cache issue when having a freshly cloned site from Cloud"
What we've been seeing is that when cloning a site from Cloud, the media caches have not been populated. This results in all media items returning null in the frontend.

This can be fixed by using the Published Status dashboard (last orange button).

Not really sure if this belongs on the Deploy tracker or here, but creating on Core for now as we can look into both to locate the problem.

Could be

[2019-02-26 10:40] clausjensen commented on #4729
Could be related to https://github.com/umbraco/Umbraco-CMS/issues/4751

[2019-02-26 10:40] RobinHoody opened #4752 "V8 Reorder grid row content won't reorder - cannot read property area of undefined"
When I reorder content (in a grid full width row) I get the following Javascript error - "Uncaught TypeError: Cannot read property 'area' of undefined" and the item won't reorder.

In the picture below, I have tried to drag headline above macro but it ends up in the state below:
![image](https://user-images.githubusercontent.com/4989076/53405028-d7418980-39ae-11e9-8baa-d95b8d61a715.png)

Reproduct

[2019-02-26 10:45] clausjensen commented on #4719
I'm going to close this issue for now. If anyone is able to reproduce we will be happy to open up again and look into it! :)

[2019-02-26 10:45] #4719 closed

[2019-02-26 11:02] nul800sebastiaan commented on #4698
FYI the default member type (not group) is there to make member types more discoverable and to allow you to "just" start creating members without you needing to know that you need to make a member type for it first. Member types are like doctypes and media types.

[2019-02-26 11:02] clausjensen commented on #4371
connects to https://github.com/umbraco/Umbraco-CMS/pull/4454

[2019-02-26 11:45] mvanhelmont commented on #4580
@nul800sebastiaan On todays release the issue still exists. But having a look at the commits on file https://github.com/umbraco/Umbraco-CMS/blob/7b55d2f1b2fce1a3bb8eadbd32028598785658e3/src/Umbraco.Web/Models/Mapping/RedirectUrlMapperProfile.cs

you can see that there was a small mistake by using Id instead of ContentId.

[2019-02-26 12:01] nielslyngsoe commented on #4515
I guess i never created one 🥺, here you go

[2019-02-26 12:26] kjac commented on #4723
PR in #4755

[2019-02-26 12:56] nielslyngsoe opened #4756 "V8: Users section should remember choice of layout"
I would like the User section layout-picker choice to be remembered.

![image](https://user-images.githubusercontent.com/6791648/53414116-4084c500-39ce-11e9-8519-6625721e3ac8.png)

[2019-02-26 13:05] nielslyngsoe opened #4757 "V8: Selecting a proposed option when creating a user takes you away."
When creating a user, and selecting a Email from the proposed options. The system tried to navigate away.

Seen on OSX, Chrome.

![image](https://user-images.githubusercontent.com/6791648/53414777-c6edd680-39cf-11e9-8f41-76e44e213836.png)

![image](https://user-images.githubusercontent.com/6791648/53414721-a160cd00-39cf-11e9-8815-644a563a54c6.png)

[2019-02-26 14:20] bjarnef commented on #4698
It would be great (maybe in v8.1) to move member groups to a sub view just like user groups in user section.
Furthermore I there is only a single member type, maybe it should just show "All members" tree.
Although we by using the member type tree nodes can filter the members by type, it could also be useful to add some additional filter like in users section, e.g. to filter members who belong to a

[2019-02-26 14:41] PeteDuncanson opened #4758 "Allow creating a language key alias via the UI"
When a language key is used in a template but a translation can't be found it renders out the alias/key in square brackets. This isn't all that friendly to the user. Why don't have a "why am I seeing this" link to explain what is missing and/or why don't we allow the user to create a new translation there and then?

What if we added a link at the end that you could click to create/add a translatio

[2019-02-26 15:16] PeteDuncanson opened #4759 "Change format of LocalizedText file to reduce page weight"
The back office gets a JSON object of all the translations a user needs for the labels etc. The format of this works but could be compressed somewhat to same some bytes.

Currently its all done like this:

[code]

However if we nested translations by area in a JSON object then I think we would save quite a bit, something like this:

[code]

Doing a quick bit of cut and paste testing in a text edit

[2019-02-26 15:20] kjac commented on #4694
PR in #4760

[2019-02-26 15:20] kjac commented on #4694
Note that this applies to a bunch of dialogs, see #4760 for details.

[2019-02-26 15:55] janborup opened #4761 "VS.2017 New UmbracoV8 - Error: Typen 'Umbraco.Web.UmbracoApplication' kunne ikke indlæses."
Greeting on the new Umbraco V8 release.

I have tried made a new clean Umbraco V8 from scratch.

Reproduction
------------
Visual Studio 2017.
- New Project - Blank C# Webproject
- Nuget PackageManager: "Install-Package UmbracoCms"
- Nuget update: "Microsoft.CodeDom.Providers.DotNetCompilerPlatform v.2.0.1"
Build project.
Run

This produces the error:
----------------

Linje 1:  <%@ Application In

[2019-02-26 16:01] kjac commented on #4752
@RobinHoody does this happen on newly created content as well or only on the content that was part of your template site? I can't reproduce it locally (on content created from scratch).

[2019-02-26 16:24] nul800sebastiaan commented on #4752
Same, I can't reproduce it with the starter kit, but I'm not sure what kind of starter kit is on Cloud, I would assume it's the default starter kit?

Ah, shoot.. Just found it, ClientDependency. When you set `debug="false"` in web.config I can also reproduce!

[2019-02-26 16:31] nul800sebastiaan commented on #4761
We've typically seen this error when VS2017 is not up-to-date. Can you check your exact version, from test results it seems like 15.9.7 is required:

![image](https://user-images.githubusercontent.com/304656/53429077-3376ce80-39ec-11e9-8a3a-de58970e1d7e.png)

Also make sure to double-check that you're creating a new project on .NET 4.7.2.

I'll close this for now but make sure to update this if yo

[2019-02-26 16:31] #4761 closed

[2019-02-26 20:25] Myster opened #4763 "umbracoHideTopLevelNodeFromPath = "false" returns "/" not "/en/""
Given this query to get multilingual homepages:

`UmbracoContext.Current.ContentCache.GetAtRoot().Where(x => x.DocumentTypeAlias == "homepage")`

The "Url" property of my english homepage = "/" and the URL of my chinese homepage = "/cn/"
Both are at the root level.

I have `<add key="umbracoHideTopLevelNodeFromPath" value="false" />`

I expect the first node url to be "/en/" not "/"

Umbraco versi

[2019-02-26 20:36] skttl opened #4764 "v8: Adding properties on the Folder media type, doesn't update the folder view"
I tried adding some properties to the default Folder type, but they don't show when I go to a folder in the media section.

![billede](https://user-images.githubusercontent.com/3726467/53444434-70ec5380-3a0e-11e9-9ff5-c13fa869f044.png)

I was expecting either a content app for editing, or having the property shown on the list view. But nothing shows.

![billede](https://user-images.githubuserconte

[2019-02-26 21:04] CasperTDK commented on #3796
Any news? 👍

[2019-02-26 21:27] janborup commented on #4761
Weee... It's alive, @nul800sebastiaan Sebastian,

I got at VS.2017 ver. 15.8.8 so a VS update fix the problem.  H5YR 👍

![vs_version_15 8 8](https://user-images.githubusercontent.com/6866443/53447347-36d28000-3a15-11e9-96ce-0d45c485f7c5.png)

[2019-02-26 22:08] JimBobSquarePants commented on #4751
Shouldn't a cache by design fetch the content from the source if none exists in the cache?

[2019-02-26 22:08] janborup opened #4765 "V8: DocType ReOrder - Error master.cshtml"
Hi

I was trying to ReOrder the document type (Blogpost), to get "Content" first, "Navigation & SEO" second.

When looking in the DocumentType the order is correct, but even reorder, "Content" to bottom, and return, thows an exeption in the Master.cshtml line 5 :
`    var home = (Home)Model.Root();
`

![doctype_reorder_ 1](https://user-images.githubusercontent.com/6866443/53449735-d1818d80-3a1a-11

[2019-02-26 23:02] #4726 closed

[2019-02-26 23:04] aaronpowell commented on #4726
I'll close this issue, as the issue I posted about isn't valid.

I still think it's weird that the generic-based reigster method isn't part of the interface, I know it's just a proxy to the non-generic but the generics one can be used to enforce type safety (which it doesn't anyway), and really, it's a lot cleaner to write using generics than to write your own `typeof` calls.

[2019-02-26 23:43] robertjf opened #4766 "Cannot set property 'selected' of undefined when moving items in a listview"
I've installed the new Umbraco 8 Starter Kit, then created a new document type called `Product Category` and made it a child of the Products node (setting relevant permissions so that Products can be placed under it as well).  I can create a new content node "Apparel" with the new Content Type, but when I select one or more products in the ListView and try to move them, I get the following error w

[2019-02-27 08:26] nielslyngsoe commented on #4740
Makes total sense to me. Lets get them away. :-D

[2019-02-27 08:31] bergmania commented on #4711
PR: https://github.com/umbraco/Umbraco-CMS/pull/4767

[2019-02-27 08:47] #4711 closed

[2019-02-27 08:51] #4723 closed

[2019-02-27 09:21] nielslyngsoe opened #4768 "Changing Focus Point in TinyMCE does not work"
When setting a new focus point in the TinyMCE, it does not get saved.

![2019-02-27 10 20 23](https://user-images.githubusercontent.com/6791648/53479531-8cd90f00-3a79-11e9-85a4-7b7c3ba74951.gif)

[2019-02-27 09:26] nielslyngsoe opened #4769 "V8: TinyMCE closing image details, takes you to the image-picker, but it does not make sense."
When editing an image in TinyMCE, but you choose to just close it. Then you get to the Image-Picker. This does not make sense, it should just return to the RTE.

![2019-02-27 10 25 00](https://user-images.githubusercontent.com/6791648/53479749-ffe28580-3a79-11e9-9d78-386157c73f8a.gif)

[2019-02-27 09:33] vonbarnekowa opened #4771 "V8: Allow varying culture for media types"
The new feature for varying the culture for document types is great! Would it be possible to add this feature for media types?

My use case:

We added a text box to the image document type for the copyright. The thing is that the copyright can vary from one language to another.

[2019-02-27 09:53] glombek opened #4772 "Umbraco installer double-encodes connection string password"
When entering database connection details in the Umbraco installer, the connection string that ends up in web.config is double-encoded and therefore doesn't work.

Reproduction
------------

Found in 7.11.1

### Steps to reproduce

Set up a Azure SQL database with a user with an ampersand (`&`) in the password.
On a fresh Umbraco install, run the `/install` installer
Enter details on the first scr

[2019-02-27 09:55] peterkeating commented on #4713
Scratch my last comment, this is an issue within a vanilla install of Umbraco. The reason I thought it was working fine on a vanilla install was because if a notification is triggered and matches the first notification associated to the user then it'll action the notification. When the notification for the user isn't the first one associated to them then that notification won't be checked against

[2019-02-27 10:13] nul800sebastiaan commented on #4772
That is unfortunate, in the past we actually fixed the installer to ENCODE ampersands, otherwise there were errors. I can't imagine there's an actual good solution to this, we could first decode the password and then encode it again, possibly, but that might lead to other problems along the way. What do you think? It might work..

[2019-02-27 10:14] nul800sebastiaan commented on #4772
I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-02-27 10:31] teeto opened #4773 "V8 - variant does not fallback"
Variant language does not do fallback to main language.

Reproduce de issue:
1 - Install Umbraco 8.0
2- Create a document type with a description rich text editor and enable permissions create as root and set children this same document.
3- Create a content node with description and some children.
4 - Set a template to navigate through the content and show description. Everything is ok.
5- Create

[2019-02-27 10:49] NikRimington opened #4774 "V8: Creating a content template appears to fail"
When attempting to create a content template a server side error is thrown:

    Exception Details
    System.InvalidOperationException: Cannot run a repository without an ambient scope.

Reproduction
------------

- Opened Visual Studio 2017 - version 15.9.7
- Installed Umbraco v8.0 via nuget
- Ran the installer - going "Custom" and installing the starter kit (using chrome at this point)

- Creat

[2019-02-27 11:15] Padbury opened #4775 "WebApi MapHttpAttributeRoutes causes error in IComponent"
This is similar to issue #4464 but slightly different hence the new issue.

So, in v7 to register my own WebApi routes I'd create a class that implements IApplicationEventHandler and register my routes via the OnApplicationStarted method like this:

`GlobalConfiguration.Configuration.MapHttpAttributeRoutes();`

In v8, it's suggested to use a class that implements IUserComposer then append a compon

[2019-02-27 11:19] kjac commented on #4685
Shouldn't be possible to create that config in the first place due to validation; but clearly the validation doesn't kick in when using infinite editing. PR for that in #4776

[2019-02-27 11:45] RobinHoody commented on #4752
I think it could be just the starter kit, I just used the default starter kit with cloud. @nul800sebastiaan did you reproduce with the starter kit or from scratch?

[2019-02-27 11:46] nul800sebastiaan commented on #4758
Correct, we don't track where exactly they came from, so we just read everything and produce the output, user generated files take preference over the system-provided ones IIRC.

So I guess this would then involve a picker as well saying: put this translation in `/Umbraco/lang`, `Config/lang`, `App_Plugins/plugin1/lang`, `App_Plugins/plugin2/lang`, , `App_Plugins/plugin3/lang`, etc.

This might be

[2019-02-27 11:52] kjac commented on #4685
And there's a PR for being able to remove the default NC blueprint in #4777

[2019-02-27 12:21] uSkinned opened #4778 "V8: Property Editor Slider Step Increments"
The Property Editor "Slider" in Umbraco V8 no longer allows step increments of point values. Only whole numbers are permitted.

[2019-02-27 12:25] kjac commented on #4756
@nielslyngsoe good catch! PR in #4779

[2019-02-27 13:11] nul800sebastiaan commented on #4759
Seems fine to me, not sure how many people would be relying on the `BackOfficeController.LocalizedText` method directly but they really shouldn't. At the same time, flattening it seems unnecessary - people should be using the `localizationService` for this anyway, I can't see a good reason to take the raw data and use it when we have a nice service for it.

Flattening would impact browser performa

[2019-02-27 13:11] nul800sebastiaan commented on #4759
I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-02-27 13:18] nul800sebastiaan commented on #4752
Yeah this was using the default starter kit. Setting `debug="false"` is making it fail, so it's something to do with CDF that's making it fail.

[2019-02-27 14:38] steadygo opened #4780 "V8: models builder generated models - this.Value<type>"
Fresh install of Umbraco 8.0.0 configured to utilise separate models project fails to find property of `this.Value<type>` in generated models.

Reproduction
------------

Fresh Install from UaaS.cmd

Add Umbraco.Web.PublishedContentModels project and configure web.config

Add Nuget for UmbracoCMS.Core and Umbraco.ModelsBuilder and reference System.Web in new project

Add references as appropriate

[2019-02-27 14:39] pralthom commented on #4771
Hi,

We have the same requirement as we need to have different cultures for the medias.
It would be great if you can add this in a future release.

Thanks

[2019-02-27 15:05] jveer commented on #4473
This bug is still occurring with Umbraco 8.0.0, you are also unable to inherited the properties manually through compositions.

### Expected Result
![image](https://user-images.githubusercontent.com/23453777/53499304-5c5c9980-3aa8-11e9-9925-8bc08b0f7522.png)

---

### Actual Result
![image](https://user-images.githubusercontent.com/23453777/53499247-4058f800-3aa8-11e9-9451-0990e563f0f8.png)

[2019-02-27 16:02] PeteDuncanson commented on #4759
@nul800sebastiaan thanks for flagging it as up for grabs. Its a small change but I fancied having a go at it.

BTW the localizationService gets its value from the LocalizedText file, see:
https://github.com/umbraco/Umbraco-CMS/blob/dev-v8/src/Umbraco.Web.UI.Client/src/common/services/localization.service.js#L28

and

https://github.com/umbraco/Umbraco-CMS/blob/dev-v8/src/Umbraco.Web.UI.Client/src/

[2019-02-27 16:08] uSkinned opened #4781 "V8: Change Property settings on Document Type"
On an existing document type I changed the property editor of an existing property from one data type to another. Although the data type being used is updated. You do not see this change until you save the update and then refresh the page manually so it looks as if you havent made an update.

[2019-02-27 17:59] kjac commented on #4774
PR in #4782 (see remarks on the PR)

[2019-02-27 18:59] kjac commented on #4764
Nice catch! PR in #4785

[2019-02-27 21:34] mcl-sz opened #4786 "V8: Mediapicker errors"
In umbraco 8.0 when i choose an image using the Mediapicker, I'll get errors:
 Request error: The URL returned a 404 (not found):
/umbraco/backoffice/UmbracoApi/Entity/GetById

and
 Request error: The URL returned a 404 (not found):
/umbraco/backoffice/UmbracoApi/MediaType/GetAllowedChildren

For example this occures in the startkit in the "Products"-node selecting an image for the field "Photos".

[2019-02-28 00:32] robertjf opened #4787 "V8 UDUF - Content App Badges not being displayed"
Content App Badges are no longer being displayed even though they are present in the HTML when triggered.

[2019-02-28 00:33] iofsauron commented on #4766
Myself and Sam are looking into this for UDUF 19 hack day

[2019-02-28 00:37] riteshcypha opened #4788 "Importing Document type does not work"
When Importing document type (filename.udt) it fails with following error:

[code]

Reproduction
------------

### Steps to reproduce

1 Create a new document type and add at least one property of any datatype.
2 Export document type. It will generate a file with .udt extension
3 Delete the document type from umbraco.
4 Import document type (Settings > Docuemnt type > click on three dots and click

[2019-02-28 00:38] emmanueltissera commented on #4757
Issue replicated on Windows 10 - Google Chorme - Version 72.0.3626.109 (Official Build) (64-bit)

[2019-02-28 00:38] callumbwhyte opened #4789 "V8: Hide "Content" app if no properties"
In V7 when I create a doctype with no properties I would see the "Info" tab by default.

Now in V8 that the editor has been moved to a content app, the "Content" tab still shows regardless of if there are any properties defined or not. This seems a little pointless and could be pretty confusing for users. I think the "Info" tab is all that's necessary here.

This is particularly prevalent when usi

[2019-02-28 01:01] pc-pdx commented on #4780
fwiw: i was able to resolve this by updating my projects TargetFramework to .net v4.7.2 as that is what the umbraco8 dlls are compiled against  :thumbsup:

[2019-02-28 01:06] skartknet opened #4790 "V8 - UDUF: Implement Content and Media Udi[] overloads"
UmbracoHelper is missing the following overloads:

- Content(IEnumerable<Udi> ids)
- Content(params Udi[] ids)
- Media(IEnumerable<Udi> ids)
- Media(params Udi[] ids)

I'll work on it, so no up-for-grabs ;)

[2019-02-28 01:57] iofsauron commented on #4766
This can be reproduced with any product, not just the newly created Apparel item

[2019-02-28 02:04] Shazwazza opened #4792 "v8 - uduf - altTemplate should be limited to only be allowed by the templates assigned to the doc type"
Currently there is no limit to what altTemplate  can be used on any document. This has been an issue for Umbraco since the beginning and can pose a security problem because it means that in some cases a user might be able to have the website show information that they normally shouldn't be able to see.

It would be reasonable to only allow templates that have been allowed by the document type to b

[2019-02-28 02:05] #4787 closed

[2019-02-28 02:39] Shazwazza commented on #4742
PR https://github.com/umbraco/Umbraco-CMS/pull/4794

For testing:

* Make sure dashboards all work in the back office

We will need to update Forms and probably deploy if they are using c# dashboards to make sure they are manually registered.

[2019-02-28 04:38] callumbwhyte commented on #4789
After a bit of investigation I've found the list of "apps" when editing a content item come from a web API call, so we can filter the "content" app out in there if there are no properties.

This change might have some implications on the "Infinite Editing" features in future though. Adding a property to a doctype via the infinite editing workflow should make the "Content" app re-appear, but there

[2019-02-28 04:38] dallascharter opened #4795 "v8 - uduf - Keyboard Shortcuts are not working"
Keyboard shortcuts are not working in the backoffice.

Alt+Shift+K does not bring up the keyboard shortcuts help dialog. It only opens when you only have the Settings section active.

~Cycling through the content apps with "1 - 4" also does not work.~

I think this is linked to this issue:
https://github.com/umbraco/Umbraco-CMS/issues/4642

We have also identified that it is linked to this issue:

[2019-02-28 04:47] iofsauron commented on #4766
Upon further investigation, it has been discovered that the function `function nodeSelectHandler(args)` was recently refactored and used to be `function nodeSelectHandler(ev, args)`. When this was refactored, the calls to this function were not also refactored to include just one parameter. We have discussed this issue with @Shazwazza and we will update this issue to include the refactoring of all

[2019-02-28 05:31] #4766 closed

[2019-02-28 06:33] #4790 closed

[2019-02-28 06:45] #4757 closed

[2019-02-28 06:52] robertjf commented on #4749
@Shazwazza could you please review this? :)

[2019-02-28 06:52] robertjf commented on #4749
I believe the reason the "Fix" button isn't present is because the site is running in HTTP unsecured.  It should show the fix button if the site is in Secure HTTPS.

[2019-02-28 07:14] simonech opened #4800 "v8 - uduf - Some of the files in .github folder of dev-v8 still refer to dev-7"
Not a real bug per se, but some files still have leftovers from the merge from dev-v7.

- CONTRIBUTING.md - has on the top the link to dev-8 (implying you are on dev-7 branch)
- CONTRIBUTING_DETAILED.md - refers to dev-7 as default branch and as branch to use to keep one's fork up to date
 - V8_GETTING_STARTED.md - links still to the zip release from CG18 and links to list of tasks for v8.0.0 (sho

[2019-02-28 07:16] #4489 closed

[2019-02-28 07:20] #4749 closed

[2019-02-28 07:32] iofsauron commented on #4772
Line 56 in DatabaseConfigureStep.cs appears to be the culprit. When we remove the encoding the database connection string is no longer doubled encoded however we have run out of time here at the Uduf hackathon to fix and test what that change breaks, then submit a PR

[2019-02-28 08:37] mattbirch commented on #4780
Same issue. Seems like the .Value and .Value<T> extension methods used by ModelsBuilder are in the Umbraco.Web dll and so installing UmbracoCms.Core in the models project isn't sufficient.

Solved for now by manually copying the Umbraco.Web dll over to the other project and referencing it, but that's not ideal.

[2019-02-28 09:16] steadygo commented on #4780
I

I think that is a solution to a problem I'm not having.

I suspect that is because your model builder is targeted to the same project as the main project so once you made the target the correct framework then all was well and of the Umbraco.Web.dll (as referred to by mattbirch) was already present?

[2019-02-28 09:24] steadygo commented on #4780
I can confirm this worked for me! I downloaded via nuget. There is a nuget package for it. UmbracoCms.Web

[2019-02-28 09:28] nul800sebastiaan commented on #4780
How about `Install-Package UmbracoCms.Web`?

For you @steadygo - it's the same problem, you are missing the assembly reference to Umbraco.Web. It sounds like the problem for everyone is missing references / framework versions. With a new version things are done a bit differently than on v7 and one of the differences is the NEW NuGet package `UmbracoCms.Web`.

Give it a go, adding it worked for me

[2019-02-28 09:28] #4780 closed

[2019-02-28 10:09] AndersBrohus commented on #4800
I saw the getting started so i made a PR here ... :)

https://github.com/umbraco/Umbraco-CMS/pull/4762

[2019-02-28 11:30] simonech commented on #4800
Yeah, still at CG18 it was 😄
I fixes some other leftovers too

[2019-02-28 11:34] kjac commented on #4789
I have just implemented something like this for media. It should be easily redone for content. Maybe HQ should have a say first though?

[2019-02-28 11:39] mattbirch commented on #4780
Ah perfect, I should have searched Nuget! Thanks @nul800sebastiaan

[2019-02-28 11:45] clausjensen commented on #4580
fixed in: https://github.com/umbraco/Umbraco-CMS/pull/4753

[2019-02-28 13:53] AndersBrohus commented on #4800
But what about the readme?
It's still says V8 is under development? :)

[2019-02-28 14:23] PeteDuncanson opened #4802 "V8: Improve AngularJS performance by swapping out ng-show for ng-if"
ng-show and ng-hide can be quite wasteful ways to show/hide content as they still render the elements in the DOM but just add in a display:none style on them. It can make the app much quicker if we instead swap out to using ng-if as this will remove the DOM elements (or not even generate them) if the condition isn't met.

Excellent little blog post on it here:

https://www.codelord.net/2015/07/28/

[2019-02-28 14:38] PeteDuncanson opened #4804 "V8: Move AngluarJS event names into a constants file to DRY it up."
The eventsService can emit a lot of different events but I can't seem to find a definitive list of the events it can fire. I've logged this as an issue on the docs site here (https://github.com/umbraco/UmbracoDocs/issues/1595).

However it got me thinking that we probably shouldn't be using magic strings for these events. Without a definitive list its easy to mistype an event or select the wrong o

[2019-02-28 16:56] kjac commented on #4802
It's not all black and white though. When the condition for ng-if changes, your controller code is potentially rerun from scratch, which may or may not be entirely cheap either. Also, ng-if creates a child scope where ng-show does not.

[2019-02-28 16:57] JHHessels opened #4805 "V8: IE11 Image \ link picker doesn't work"
The image picker and link picker doesn't work in Internet Explorer 11.

Javascript error:  TypeError: Object doesn't support property or method 'entries'.
(It needs a  a polyfill.)

[2019-02-28 21:01] nul800sebastiaan commented on #4802
Yep. From a previous conversation I had with @Shazwazza about this:

Absolutely not, and each of these changes needs to be tested manually to make sure the intended functionality still works. I have naively cycled between if/show/switch and broke things a few time without it being obvious beforehand why it would break.

[2019-02-28 21:14] simonech commented on #4800
Yeah, I had noticed, but I leave it to people in HQ to update it. No real idea of the status. Editors track might be done indeed, definitely not the other 2

Sent from my iPhone

[2019-03-01 07:59] allyen commented on #3058
Unfortunately, we've forgotten to fix this issue for the grid RTE as well – see https://github.com/umbraco/Umbraco-CMS/blob/dev-v8/src/Umbraco.Web.UI.Client/src/common/directives/components/grid/grid.rte.directive.js#L138. Will put up a PR soon.

[2019-03-01 10:52] drummerboy46 opened #4808 "Files in the Content folder from nuget package not copied/transformed on rebuild"
I've noticed that a number of folders and files do not get copied back to the working project directories when you pull a project back from TFS and kick off a rebuild in Visual Studio 2017.

Looking through the package folder it looks like the "Content" folder which contains...

Config/*
Media/*
Views/*
default.aspx
global.asax

Isn't being copied back and as necessary transforms performed.

Every

[2019-03-01 10:55] nul800sebastiaan commented on #4808
Sounds very annoying indeed, make sure to commit those files to source control though.

Make sure to read up on how the `.targets` file works as well, there's a mention in the docs at the end here: https://our.umbraco.com/documentation/Getting-Started/Setup/Install/install-umbraco-with-nuget#post-installation

Other than that, please head on over to the forum to get more help with this. :)

[2019-03-01 10:55] #4808 closed

[2019-03-01 12:03] nielslyngsoe commented on #3958
PR https://github.com/umbraco/Umbraco-CMS/pull/4809

I will though create another issue regarding the language picker situation that @bjarnef describes in his comment.

[2019-03-01 12:18] nielslyngsoe opened #4811 "V8: local language-selector should be fixed to work in narrow screens"
The language selector for variant content does not get presented well on narrow screens, especially with the help-panel open.

![image](https://user-images.githubusercontent.com/6791648/53637296-0eb86c00-3c23-11e9-9e29-459a06156069.png)

[2019-03-01 13:39] vonbarnekowa opened #4812 "V8: Switch only return false in nested content"
When you have a switch in a nested content, it only returns false. We tested it on several installations and also in the nightly from last week and it doesn't work.

## how to reproduce
1. create a document type that contains a true/false field and tick the "is an Element type" box in the permissions.
2. create another document type that contains a nested content of the first document you created.

[2019-03-01 13:52] nul800sebastiaan commented on #4812
Hi @vonbarnekowa - Unfortunately, this is not enough information for us to understand your problem. Can you please describe in detail:

* What are you trying to do (please describe all steps to reproduce the issue)
* What did you expect to happen?
* What actually happened?

[2019-03-01 13:55] nielslyngsoe opened #4813 "V8: Map property-editor - copyright goes on top of dialogs"
The open-street-maps copyright goes on top of umbraco dialogs.

<img width="910" alt="screenshot 2019-03-01 at 14 49 42" src="https://user-images.githubusercontent.com/6791648/53642148-6067f300-3c31-11e9-9aca-f696643c9f32.png">

[2019-03-01 13:55] kjac commented on #4691
PR in #4814

[2019-03-01 14:02] UnsungHeros commented on #4788
I'm seeing this as well.

[2019-03-01 14:03] vonbarnekowa commented on #4812
Better?

[2019-03-01 14:13] kjac commented on #4699
@rhealefever it's pretty common for dialogs to remain open after the primary action button is clicked. See for example the permissions and the sort dialogs. Or for that matter the move and copy dialogs.

The issue you've found in the members section is a whole other matter 😄 PR #4815 fixes it.

[2019-03-01 14:21] #4694 closed

[2019-03-01 14:56] OAOVLD opened #4816 "Bug/Error. Ошибка. Нельзя получить значение из checkbox"
Здравствуйте,

Bug/Error Нельзя получить значение из checkbox, когда он находится в Nested Content. Всегда получает false.

[2019-03-01 15:00] OAOVLD opened #4817 "Bug/Error. Ошибка. Нельзя установить высоту для Rich Text Box"
Здравствуйте,
Bug/Error. Ошибка. Нельзя установить высоту для Rich Text Box (очень сильно раздражает контент-менеджеров, т.к. приходится прокручивать постоянно вверх если контента много). И новый тип Rich Text Box тоже работает с багами, при выделении текста невозможно выбрать формат (заголовок это или параграф), только на новой строке можно выбирать формат - это не удобно.
Решили это ошибку време

[2019-03-01 15:03] dawoe commented on #4817
Hi @OAOVLD

Unfortunatly most of us can't read or speak Russian. Could you create your bug report in English ?

Dave

[2019-03-01 15:04] nul800sebastiaan commented on #4817
Hi there @OAOVLD - unfortunately we can not accept issues in Russian since none of us speak Russian, could you try it in English please?

[2019-03-01 15:04] dawoe commented on #4816
Hi @OAOVLD

Unfortunatly most of us can't read or speak Russian. Could you create your bug report in English ?

Dave

[2019-03-01 15:09] OAOVLD commented on #4816
V8.0.0. Bug/Error.

Hello,

You cannot get the value from a checkbox (True/False) when it is in Nested Content. Always returns false

[2019-03-01 15:13] OAOVLD commented on #4817
V8.0.0. Bug/Error.

Hello,

You can not set the height for RichTextBox (very annoying content managers, because you have to scroll constantly up if there is a lot of content).

And the new type Rich Text Box (Distraction Free) also works with bugs, when you select the text you can not choose the format (h1 or p), only on a new line you can choose the format - it is not convenient.

We Solved this

[2019-03-01 15:48] PerplexDaniel commented on #4816
Seems to be a duplicate of #4812, probably better to close this one and continue in the other.

[2019-03-01 15:55] nul800sebastiaan commented on #4812
👍

[2019-03-01 16:04] PerplexDaniel commented on #4802
Just to add a bit, I have found that in various experiments with lazy loading tab content in Umbraco `ng-if` greatly improves UI speed as everything in the `ng-if` is simply not initialized at all yet by Angular when false. Obviously, the initial state for lazy-loading stuff should be `false` and only turns to `true` once when actually needed (for example, when the user opens a tab containing the

[2019-03-01 16:19] nul800sebastiaan commented on #4816
👍

[2019-03-01 16:19] #4816 closed

[2019-03-01 16:19] nul800sebastiaan commented on #4812
Whoops, closed the wrong issue, sorry!

[2019-03-01 17:09] jesperordrup opened #4818 "Bug: Cant install Umbraco 8 using nuget on website projects"
Installing using nuget on regular web application works fine but when installing using project type "ASP.NET Empty Website" the installer fails. Initially it looks great. It runs until you enter email and password. Then install stops with an error.

Reproduction
------------

### Steps to reproduce

In visual studio, create a "ASP.NET Empty Website"
Open package manager
Run Install-Package umbraco

[2019-03-01 17:13] nul800sebastiaan commented on #4818
Does it work from a ZIP install?

Does your bin folder contain the x86 / amd64 folders?

![image](https://user-images.githubusercontent.com/304656/53654239-869b8c00-3c4d-11e9-9279-075ca7c16dc4.png)

[2019-03-01 17:15] nul800sebastiaan commented on #4818
Aha, so empty website project doesn't work.. pdd. It's not really supported but it probably should work. I'll run some tests. Still would be good to know if the two folders are in your bin.

[2019-03-01 17:18] nul800sebastiaan commented on #4818
How do you start a new website project? This option no longer exists in VS2017 (and you'll need VS2017) to use v8.

[2019-03-01 17:25] jesperordrup commented on #4818
Yes it does. Unzipping, open as website, run. It works.
Unexpected bonus info: Also completing using a Web application project then open as website works.

Both folders are missing

[2019-03-01 17:26] jesperordrup commented on #4818
![image](https://user-images.githubusercontent.com/3120151/53655020-6a98ea00-3c4f-11e9-9e0f-6c0551168ae3.png)

Im using the lastest and greatest VS17 - 15.9.7 and im selecting .net framework 4.7.2

[2019-03-01 17:57] nul800sebastiaan commented on #4818
Cool, you must have an older install that included that template and it carried over while upgrading. I don't have this template and it seems unsupported now: https://stackoverflow.com/a/47782728

In any case, looks like you have found alternatives. I remember that we tried to make this work in v7 for the longest time and it involved getting the paths in the install scripts "just right" to work wi

[2019-03-01 20:07] OAOVLD commented on #4816
yes, thank

[2019-03-02 07:02] kjac commented on #4812
PR in #4819

[2019-03-02 07:35] EwneoN commented on #4772
PR: https://github.com/umbraco/Umbraco-CMS/pull/4820

Ok so after continuing on from the work Bec and I did at Uduf, I can confirm that removing the manual encoding of ampersands and other values in the password does not affect the DB connection string creation for any of the offered database types. I have left the escaping of single quotes though as this is actually required.

I have struggled to

[2019-03-02 10:23] kjac commented on #4778
@uSkinned the new slider in V8 does not support point value step increments.

Docs reference: https://refreshless.com/nouislider/

[2019-03-02 10:42] kjac commented on #4789
@callumbwhyte OK so a bit more investigation and PoC's later... removing the content app has too many implications:

1. Split view expects the content app as split view will always display the content app and *only* the content app.
2. Content templates also expects the content app when editing.

Your infinite editing worries however can easily be handled (they're pretty much handled out of the bo

[2019-03-02 10:52] kjac commented on #4739
@bjarnef Nested Content already does that.

You can see it if you set `Umbraco.ModelsBuilder.ModelsMode` to `LiveAppData` and inspect the generated models.

Here's how the generated model looks with a single element type (of type `NC1`) configured in the Nested Content property called `list`:

![image](https://user-images.githubusercontent.com/7405322/53680850-2fdf9200-3ce1-11e9-8e22-816af31af1b5.

[2019-03-02 11:08] kjac commented on #4706
PR in #4822

[2019-03-02 13:36] bjarnef commented on #4739
@kjac okay, then it might be a bug when using `Dll` mode as we used Nested Content. When Nested Content is configurated only with a single document type it always return `IEnumerable<IPublishedContent>>` and we then need to cast this to the specific model type.

[2019-03-02 15:26] kjac commented on #4813
@nielslyngsoe Isn't this an issue for the maps property editor rather than a core issue?

[2019-03-02 15:31] kjac commented on #4786
@mcl-sz I don't see this on a fresh install. Which browser are you using? And could you maybe post a screencast to show how the issue unfolds?

[2019-03-02 16:01] jesperordrup commented on #4818
@nul800webastiaan
Yep - it works in 7.

From the link it seems they've moved it around, not sure it's unsupported.

I could have a look at it. Any pointers?

(Or we could move to web apps - but I don't feel for them)

[2019-03-03 11:03] kjac commented on #4597
Pretty sure this is a the same as #4706 which has a PR in #4822

[2019-03-03 11:10] kjac commented on #4666
I'm a bit confused by the issue description 😲 but I *think* this is fixed in #4785 (original issue: #4764)

[2019-03-03 11:19] kjac commented on #4623
PR in #4824

[2019-03-03 11:26] kjac commented on #4658
@bjarnef the configuration property editors (previously known as prevalues) are rendered isolated from each other; it's all handled generically based on the list of configuration properties (in this case from [`SliderConfiguration`](https://github.com/umbraco/Umbraco-CMS/blob/dev-v8/src/Umbraco.Core/PropertyEditors/SliderConfiguration.cs)).

When it's all generically handled we can't create any co

[2019-03-03 12:58] kjac commented on #4645
PR in #4825

[2019-03-03 13:52] bjarnef commented on #4739
@kjac I had a look at the default startkerkit and how the Features (which use Nested Content) on Product nodes are generated.

Using PureLive mode:

[2019-03-03 14:00] bjarnef commented on #4739
Switching this to Dll mode an generate the models.

[code]

Maybe it has been updated in v8, since I get this in latest v7.
![image](https://user-images.githubusercontent.com/2919859/53696201-14e64e00-3dc5-11e9-8e3b-785273cc1fa5.png)

[2019-03-03 14:19] bjarnef commented on #4739
Okay, it seems to be some differences in Nested Content value converter from v7 to v8.

In v7

https://github.com/umbraco/Umbraco-CMS/blob/dev-v7/src/Umbraco.Web/PropertyEditors/ValueConverters/NestedContentSingleValueConverter.cs

https://github.com/umbraco/Umbraco-CMS/blob/dev-v7/src/Umbraco.Web/PropertyEditors/ValueConverters/NestedContentPublishedPropertyTypeExtensions.cs

In v8

https://githu

[2019-03-03 14:26] callumbwhyte commented on #4789
@kjac Great job with the investigation! 👍

I may be overlooking something, and I don't know the full technical restrictions, but your points have got me thinking...

1. I don't think this "UX issue" applies much to the split view as the various "content apps" aren't visible. Here it still makes sense to load the "content" app even when there are no properties as the "no content" message will show.

[2019-03-03 15:07] kjac commented on #4789
@callumbwhyte thing is... the way to remove the "content" app is to remove it from the server response. So in other words it wouldn't be available at all for the split view, nor the content templates. And that'd cause them to explode.

I do agree that it makes no sense to open split view or create content templates for content types with no properties, but we can't prevent people from doing it as

[2019-03-03 15:12] bjarnef opened #4826 "v8: Selection in copy and move dialog doesn't look right"
In the copy dialog on a content node the selection doesn't look right.

On init the current node is selected/highlighted, but when selecting other nodes, it set checkmark icon on these tree node, while the current node keep its highlight.
Furthermore this doesn't seem to be consistent with how selection looks like in e.g. content listview and other tree pickers.

This same seems to be an issue in

[2019-03-03 15:17] chrno1209 opened #4827 "v8: Multiple media picker always return null"
### Steps to reproduce
Having a document type with a property of media picker with configuration:
Pick multiple items: true
Pick only images: true
Disable folder select: true or false

By using models builder, model property returns IEnumerable<Image>

### Expected result
On view, property returns `IEnumerable<Image>`

### Actual result
Always return null

### Workaround
The model tries to cast pr

[2019-03-03 15:27] bjarnef opened #4828 "v8: Public access doesn't show overlay behind backdrop"
When opening public access and using either specific members protection or group based protection and then opening the pickers, it doesn't hide this left overlay behind to backdrop, when the picker overlay (right) is opening and it is possible to open several overlays.

![image](https://user-images.githubusercontent.com/2919859/53697423-2cc3cf00-3dd1-11e9-844d-419678773ca5.png)

So the editor can

[2019-03-03 15:35] callumbwhyte commented on #4789
Hm, yes... Perhaps there's a better way than filtering server-side...

One way could be simply removing the "content" app from the array client side? I believe there's an event that fires when the editor loads and calls the server to get the content / settings...

Or against each app have a visibility flag? This way an app could be loaded but simply hidden, then toggled if it's needed (such as whe

[2019-03-03 17:14] chrno1209 opened #4830 "v8: Slider with mandatory checked and initial value fails validation"
### Steps to reproduce
Slider with:
- Mandatory checked
- Initial value

### Expected result
Passes validation when save/publish as it already had a value

### Actual result
Fails validation

[2019-03-04 03:50] Shazwazza commented on #4802
Sure, like mentioned above, this is definitely not black and white.

Everytime you use ng-if it creates a new scope and new watchers. If you over use ng-if just to hide simple html elements you will end up with the angular error `Error: 10 $digest() iterations reached. Aborting!`. We've seen this many times after the upgrade to angular 1.7.x because older versions didn't throw when this was occurr

[2019-03-04 06:34] Shazwazza commented on #4236
I think we should change this to a SPIKE to see what can be done in a day, it would be interesting but it might prove to be irrelevant if the implicit casting is in place which causes the overloads to be shadowed anyways.

[2019-03-04 06:35] Shazwazza commented on #3915
@bergmania do you know if this can still be replicated somehow?

[2019-03-04 06:38] Shazwazza commented on #4238
@zpqrtbnk has wanted this for some time (I thought we already had an issue for it) but he actually wanted to remove having the Umbraco version in a file entirely, but there's quite a few challenges with that.

Is this more to just move it outside of the web.config into some standalone file? If so, what is the use case? We also want to do this for the CDF version at some stage but at the end of the

[2019-03-04 06:38] bergmania commented on #3915
@Shazwazza, can't replicate anymore, so just closing

[2019-03-04 06:38] #3915 closed

[2019-03-04 06:38] Shazwazza commented on #4239
This is for v8 correct?

[2019-03-04 06:40] Shazwazza commented on #3620
@zpqrtbnk I'm pretty sure we can close this right?

[2019-03-04 06:43] Shazwazza commented on #3635
Closing this one - since - well the build server is running :)

[2019-03-04 06:44] bergmania commented on #4236
I agree this could be a SPIKE, but even if the we still have to cast explicitly, I think this is important. The codebase is full of methods with multiple parameters of the same type:

E.g. `IContentService`:
- ` void DeleteBlueprintsOfType(int contentTypeId, int userId = Constants.Security.SuperUserId);`
- `IEnumerable<IContent> GetVersionsSlim(int id, int skip, int take)`
- `IEnumerable<int> GetV

[2019-03-04 06:45] Shazwazza commented on #3635
Ah... this is the ps1 file as part of the actual nuget package, ok will re-open and see what @nul800sebastiaan  says

[2019-03-04 06:46] Shazwazza commented on #4480
Pretty sure this is not an issue - will just need to double check

[2019-03-04 06:48] bergmania commented on #4239
@Shazwazza, Yes. This is also one of the tasks created based on the a FIXME in the codebase. I created tasks for a couple of those FIXMEs that did not get into V8.0.0, but was considered more important than just a fixme in the codebase

[2019-03-04 06:51] rasmusfjord opened #4833 "In doctype editor number navigation is not working"
In doctype editor number navigation is not working with the numbers to shift the panels.

Tested in latest Chrome, on umbraco 8.

[2019-03-04 06:55] Shazwazza commented on #4833
yup this is a duplicate, will be in an upcoming 8.x release

https://github.com/umbraco/Umbraco-CMS/pull/4798
https://github.com/umbraco/Umbraco-CMS/issues/4757

[2019-03-04 06:55] #4833 closed

[2019-03-04 06:55] rasmusfjord commented on #4833
#speedyGonsales ;)

[2019-03-04 07:04] Shazwazza commented on #3476
I don't think this task needs to be done because once we implement User Group permissions with Content Apps, then this would not need to be done at all, i don't think adding custom .user files is a good option.

[2019-03-04 07:05] kjac commented on #4789
@callumbwhyte for content you'll get the same end result whether you remove it on the serverside or in the client. If it's missing, split view will explode because it expects the app to be present in the array.

Hmmmm.... but thinking about it, perhaps split view should simply be disabled if the content app is not present. Let me dig into this a bit more.

[2019-03-04 07:11] callumbwhyte commented on #4789
👍 Or have a check to see if it's currently loading in split view on the client side and don't remove the "content" app in that scenario?

[2019-03-04 07:12] zpqrtbnk commented on #3620
Yes

[2019-03-04 07:12] #3620 closed

[2019-03-04 07:13] zpqrtbnk commented on #3476
no need to implement if we think we won't need it eventually - happy to close

[2019-03-04 07:18] nielslyngsoe commented on #4752
PR: https://github.com/umbraco/Umbraco-CMS/pull/4803

[2019-03-04 07:27] zpqrtbnk commented on #3635
yup - basically, `install.ps1` is deprecated - but we still rely on it

[2019-03-04 07:28] #3476 closed

[2019-03-04 07:37] zpqrtbnk commented on #4238
Use case is: `web.config` is in Git and deployed - but if I upgrade from `8.2.2` to `8.2.3` I have to make sure the version in `web.config` still says `8.2.2` so it triggers the upgrader - and then the file has changes on the live environment which need to be merged - awkward.

So, on my site: I upgrade to `8.2.3` on my machine, it works, I'm happy, I want to push the changes, *but* I need to reme

[2019-03-04 07:49] Shazwazza commented on #4238
Yup so this is the same issue, all good.

We currently don't and IMO shouldn't have migrations running on individual servers - if that needs to be done the Cache Refreshers should be used ... and is basically how that would work today anyways. I think this would add quite a big layer of complexity we'd need to support.

Upgrading in LB now is yes, sort of a PITA because you need to know what you a

[2019-03-04 07:51] zpqrtbnk commented on #4238
yup - which is why... maybe at that point we need to start listing "higher level" tasks such as, "re-learn and re-thing how to maintain versions & do upgrades"

[2019-03-04 08:06] nul800sebastiaan commented on #3635
@zpqrtbnk @Shazwazza I love the idea but there's a few things we do in install.ps1 that can't just be covered with targets files I think. Some stuff we can probably let go of by now but one thing would be a bit of a struggle: making a proper web.config transform instead of overwriting the default one when installing Umbraco. This means we'll need to create a full transform for each and every eleme

[2019-03-04 08:12] nul800sebastiaan commented on #3635
Remember, we're "special" on NuGet since we don't just distribute a class library. So we're definitely abusing the system a little bit.. 🙃

[2019-03-04 08:22] zpqrtbnk commented on #4739
Catching up on this issue.

Models Builder in v8 has been enhanced to do precisely what you want. If you pick only 1 possible element type, say `Thing`, you'd get an `IEnumerable<Thing>` out of Nested Content.

Running Dll mode or another mode should not make a difference, the mode only changes what we do with the generated code and how we compile it - not how it's generated.

Backporting the chan

[2019-03-04 08:29] #4609 closed

[2019-03-04 08:29] kjac commented on #4739
@zpqrtbnk I couldn't agree more. The backwards compatibility issue is potentially too big to justify implementing this in V7.

[2019-03-04 08:33] chrno1209 commented on #4786
Been using media-picker for a while on v8 with no issue like this.

[2019-03-04 08:41] zpqrtbnk commented on #4731
Fixed with https://github.com/umbraco/Umbraco-CMS/commit/aa86dfa9560fce3d77c73c78065beb114304d0c2

Which is *not* part of 8.0.0 but will be part of 8.0.1

[2019-03-04 08:41] #4731 closed

[2019-03-04 08:43] nul800sebastiaan commented on #4786
This was a problem with the starter kit which is now fixed for fresh installs. The problem was that we set the wrong startnode on some of the media pickers.

Sorry for the inconvenience!

[2019-03-04 08:43] #4786 closed

[2019-03-04 09:00] zpqrtbnk commented on #4775
Notes for self: odd that it works in the constructor and not in `Initialize` as `Initialize` runs *after* the constructor. Going to look into it.

[2019-03-04 09:04] zpqrtbnk commented on #4763
Just to be sure: this is without any hostname registered, right? so you have 2 nodes at the root, One being "English" the other being "Chineese", `umbracoHideTopLevelNodeFromPath` being `false`?

Strange indeed.

[2019-03-04 09:10] zpqrtbnk commented on #4751
If the cache is read-through, yes - but the content and media front-end caches are not

[2019-03-04 09:14] nul800sebastiaan commented on #3476
Remember to remove the release if something is not going to be in that release.

[2019-03-04 09:15] bjarnef commented on #4739
@zpqrtbnk yes, it makes sense and great it now has been added to v8. It makes it much easier and in v7 I already cast the collection to the specific type, when Nested Content only use a single document type.
It also make it easier from code to discover if Nested Content use single or multiple document types.

[2019-03-04 09:21] zpqrtbnk commented on #4739
cool - closing this issue then, feel free to open another one if you have any further question

[2019-03-04 09:21] #4739 closed

[2019-03-04 09:26] zpqrtbnk opened #4835 "Support getting members by type in IPublishedMemberType"
See [discussion](https://github.com/zpqrtbnk/Zbu.ModelsBuilder/issues/187) on Models Builder tracker, there is no easy way to get members (ie not only one member), either all of them or by type or whatnot, from `IPublishedMemberCache` - which means that ppl have to use the `IMemberService` then re-create models by themselves. Maybe `IPublishedMemberCache` could be extended.

[2019-03-04 09:40] #4774 closed

[2019-03-04 09:48] JimBobSquarePants commented on #4751
I’m curious. Is there an advantage I’m missing to not doing this?

[2019-03-04 10:19] bergmania commented on #4729
Debug log on first startup after clone, where the images are missing
[UmbracoTraceLog.DESKTOP-B5FI4JU.20190304.json](https://github.com/umbraco/Umbraco-CMS/files/2925899/UmbracoTraceLog.DESKTOP-B5FI4JU.20190304.json.txt)

[2019-03-04 10:31] Aaen opened #4836 "V8: Uaas.cmd tool gives error on Umbraco 8"
When you are using the UaaS.cmd tool from https://our.umbraco.com/documentation/Umbraco-Cloud/Set-Up/Working-With-Visual-Studio/ with an Umbraco 8 project you are getting an error in the tool.

Reproduction
------------

Download the tool from https://our.umbraco.com/documentation/Umbraco-Cloud/Set-Up/Working-With-Visual-Studio/ and start the tool. Add in the URL for the project and then you will

[2019-03-04 10:32] Aaen commented on #4836
![image](https://user-images.githubusercontent.com/2038482/53727719-29802000-3e71-11e9-99d7-1f183a2756ff.png)

[2019-03-04 10:33] Matthew-Wise commented on #4805
Looking at the documentation IE11 is no longer supported:

https://our.umbraco.com/Documentation/Getting-Started/Setup/Requirements/

Hope this helps

Matt

[2019-03-04 10:48] kjac commented on #4789
@callumbwhyte ok... your persistence pays off 😆

How does this look?

![content-without-properties](https://user-images.githubusercontent.com/7405322/53728564-56cdcd80-3e73-11e9-9c14-8925c4c11e43.gif)

[2019-03-04 10:54] callumbwhyte commented on #4789
😲🤯 Amazing! That is perfect!

How did you achieve this?

Did you look into the split view? I guess this still works as before?

The GIF doesn't show it, but I guess nodes without properties or list view simply shows the "Info" app?

I also assume a "save" button appears on content templates with properties still?

Beers on me at Codegarden, great work mate! 🍻#h5yr

[2019-03-04 10:54] callumbwhyte commented on #4789
@kjac  😲🤯 Amazing! That is perfect!

How did you achieve this?

Did you look into the split view? I guess this still works as before?

The GIF doesn't show it, but I guess nodes without properties or list view simply shows the "Info" app?

I also assume a "save" button appears on content templates with properties still?

Beers on me at Codegarden, great work mate! 🍻#h5yr

[2019-03-04 10:56] bjarnef commented on #4835
@zpqrtbnk it would also be great to fetch multiple members by id, guid etc. just like in `Umbraco.Content()` and `Umbraco.Media()`.

`Umbraco.Member()` has 5 overloads, but only to fetch a single member by int id, object id, string id, Guid id or Udi id.

[2019-03-04 10:58] kjac commented on #4789
@callumbwhyte you assume correct :) or, as it happens... without listview there's only one "app" remaining, in which case no apps are shown:

![image](https://user-images.githubusercontent.com/7405322/53729089-921ccc00-3e74-11e9-9806-2bbc9b82777c.png)

And as for content templates with properties:

![image](https://user-images.githubusercontent.com/7405322/53729134-b7a9d580-3e74-11e9-9452-bc9f3654

[2019-03-04 10:58] bjarnef opened #4837 "Support getting multiple members by id"
Umbraco.Member() has 5 overloads, but only to fetch a single member by int id, object id, string id, Guid id or Udi id.

There are no methods to fetch multiple member like `Umbraco.Content` and `Umbraco.Media` have overload methods to fetch multiple `IPublishedContent` nodes.

There is another issue to fetch members by type. https://github.com/umbraco/Umbraco-CMS/issues/4835

[2019-03-04 10:59] bergmania commented on #4836
I'm using it with my v8 cloud project without issues. Maybe this is project specific?

[2019-03-04 11:01] callumbwhyte commented on #4789
This is beautiful!

[2019-03-04 11:14] bjarnef opened #4839 "v8: Missing extension methods to get siblings"
In v8 it seems `IPublishedContent` is missing extension methods to get sibling node, e.g. sibling of type or siblings of any type.

You can use e.g. `node.Parent.Children()` or  `node.Parent.ChildrenOfType()` of do some querying on this, but it won't work if the node is under root level, so it hasn't any parent node.

In v7 there are many extension methods for these.
[code]

In v8 we should probab

[2019-03-04 11:21] kjac commented on #4789
Awesome. PR in #4840

[2019-03-04 11:55] richarth opened #4841 "V7 Node has no ID error when editing a page"
When editing a small number of pages in the back office I receive an error that the node doesn't have an ID attribute.  I've uploaded the full stack trace [here](https://gist.github.com/richarth/bdaebe383c1e4a99f2af9def838701c2).

The site is using Umbraco 7.13.1 and the content has been imported from an Umbraco 6 site using the CMS Import package.

I've checked the XML cache file and the entries

[2019-03-04 12:04] nul800sebastiaan commented on #4805
Thanks @Matthew-Wise - indeed, we currently have no plans to support IE11 and put polyfills in for it. V8 will focus on modern browsers instead. Thanks for the report though @JHHessels !

[2019-03-04 12:04] #4805 closed

[2019-03-04 12:07] nul800sebastiaan commented on #4715
Note: while we don't actively support IE for v8 any more, this seems like a fine fix that should work for all browsers. We won't be taking any "extreme measures" to support IE11 in other ways though (for example: #4805).

[2019-03-04 12:08] MMasey commented on #4715
Yeah that makes sense. I created the issue & PR before i found out about the drop of IE11 support 😜

[2019-03-04 13:03] Dave-Mosquito commented on #4839
+1

[2019-03-04 13:14] Aaen commented on #4836
@bergmania I have two customers and myself as well that are seen this. I will send you the project that I have tested with.

[2019-03-04 13:23] hartviglarsen commented on #4836
This worked fine for me.. I did have to manually change the .gitignore and change the target framework for my .Core project.

[2019-03-04 13:33] bergmania commented on #4827
PR: https://github.com/umbraco/Umbraco-CMS/pull/4844

[2019-03-04 13:34] PeteDuncanson opened #4845 "V8: Inline AngularJS templates into directives and controllers"
Currently all the templates for the various directives in the back office are pulled in via a templateUrl property. This causes angularjs to have to make a network request per template and load them all up to render the back office. There are a number of ways we can reduce that network traffic. I think we can do it purely via the existing build tools (Gulp) as well.

We can make some sizable perfo

[2019-03-04 13:36] PeteDuncanson commented on #4845
A rather excellent blog post on the speed benefits of doing the above is here https://medium.com/@frosty/angularjs-template-vs-templateurl-cdde055b7907

He uses Webpack to achieve the same as the above but I'm keen to keep the existing tool chain hence finding Gulp alternatives.

[2019-03-04 13:39] nul800sebastiaan commented on #4845
Forgive me Pete, for I have sinned (I didn't read and try to understand this yet).

Can this be done in small bits, start with one of them, send a PR, we can look at it and encourage you, other people can take the model and help out, etc?

My AngularJS knowledge is tiny, so tell me if I'm saying something weird! :-)

[2019-03-04 13:57] PeteDuncanson commented on #4845
Hehe, don't worry, I am taking it steady. This one "should" be a small step, its an additional Gulp command and should give some instant quick wins for all the files with minimum issues and then should "just work" for all.

Then I'll move on to another small step in another issue, I've got a few lined up but wanted to earn some rep with AngularJs in the core first and prove my worth...its been a w

[2019-03-04 13:59] nul800sebastiaan commented on #4845
Sounds lovely! 👍

[2019-03-04 14:05] PeteDuncanson opened #4846 "V8: Update NPM packages used to remove reported vulnerabilities"
Just tried to get V8 up and running and a "npm install" reported 60+ vulnerabilities that could be fixed.

[2019-03-04 14:07] PeteDuncanson commented on #4846
![image](https://user-images.githubusercontent.com/1674590/53738317-cbf6ce00-3e86-11e9-8268-59c6581b2ae3.png)

[2019-03-04 14:09] PeteDuncanson commented on #4846
I've got most of these fixed. The remaining ones are in gulp-ngdocs which is no longer maintained (see https://github.com/nikhilmodak/gulp-ngdocs/issues/120) and only used for dev I think (something to look into) but they shouldn't be bundled in the back office at all.

Now down to 17 issues.

![image](https://user-images.githubusercontent.com/1674590/53738416-0eb8a600-3e87-11e9-9133-8545d225d445.

[2019-03-04 14:10] PeteDuncanson commented on #4846
If we wanted to fix it any more I'd suggest a PR to gulp-ngdocs but can't say I'm sure there would be anyone around to merge it in and do another release...could probably live with it.

[2019-03-04 14:28] KennethJakobsen commented on #4836
Workaround for v8:
This however means that you need to manage your dependencies manually.

1. Copy git-url from portal.
2. Open UaaS.cmd
3. Change *.Core project framework from 4.5 to 4.7.2
4. Install-Package UmbracoCms.Core in core project
5. Git init in root project folder
6. Add *.Web project folder to root folder .gitignore

This works pretty well for me - albeit a workaround.
I'm probably mis

[2019-03-04 14:57] zpqrtbnk commented on #4729
Have done:
* Configure models to `LiveDll`
* Create a document type with a media picker
* Create a document of that type, pick a media
* Create a template that renders `@Umbraco.Media(1055).Url`

And it does render the url.

Then:
* Edit a random document type, add a property type and save
* Refresh the page

And it does render the url, again.

So... cannot repro. Can you check my steps? Give me m

[2019-03-04 15:20] zpqrtbnk commented on #4751
Reproduced.

[2019-03-04 15:40] zpqrtbnk commented on #4751
Fixed in referenced commit.

[2019-03-04 15:53] nul800sebastiaan commented on #4751
I guess this hasn't been reviewed / tested. But I've cherry-picked for 8.0.1 so if changes are needed we'll need to update that one too.

[2019-03-04 15:54] zpqrtbnk commented on #4773
Problem 1 - that is intentional - the name is what defines whether a document exists at all, for a given language - if you don't set an english name, we consider that your document is not published for english - ie, we consider that only the spanish version exists - therefore, no fallback

Problem 2 - fallback is not automatic - if you render `@Model.Description` you will get the description for t

[2019-03-04 16:01] nul800sebastiaan commented on #4841
Hey theree @richarth - This is not something other people experience and I would suspect the import to have done something improper.

I would recommend you head on over to the forum at https://our.umbraco.com to get some help with this 👍

[2019-03-04 16:01] #4841 closed

[2019-03-04 16:05] zpqrtbnk commented on #4775
Reproduced. Putting `MapHttpAttributeRoutes` in the `Initialize` method does trigger the exception.

[2019-03-04 16:13] zpqrtbnk commented on #4775
The problem is caused by `WebRuntimeComponent` doing:
[code]

in its own `Initialize` method - and we do need to do this for everything to run.

But because your component runs after the `WebRuntimeComponent`, it invokes `MapHttpAttributeRoutes` after `EnsureInitialized` has been invoked, hence the exception.

Short term, registering your component as follows would work:
[code]

because it would i

[2019-03-04 17:32] teeto commented on #4773
Thanks @zpqrtbnk , then what is the purpose of the fallback configuration at the language settings? i supposed that once i configured the fallback language that would occure automatically

[2019-03-04 17:33] kammalanda opened #4849 "Both view and content models are PureLive"
A brief description of the issue goes here.

Reproduction
------------

If you're filing a bug, please describe how to reproduce it. Include as much
relevant information as possible, such as:

### Bug summary

### Specifics

### Steps to reproduce

### Expected result

### Actual result

[2019-03-04 17:33] #4849 closed

[2019-03-04 18:03] zpqrtbnk commented on #4775
Going to fix it properly - in progress.

[2019-03-04 18:05] zpqrtbnk commented on #4773
when you do `@Model.Value(x => x.Description, Fallback.ToLanguage)` you ask for fallback to the fallback language, which has been defined in the UI - so that is the purpose of the configuration: to indicate on *which* language to fall back to. But fall back-ing (is that a word?) is not automatic.

[2019-03-04 22:35] mehrdadab commented on #3986
FYI, I upgraded the website to Umbraco 7.13.1 and I have still the same issue. I cannot reproduce it though, as it happens randomly on Microsoft Azure. I am still working on it and let you know if I found any clue.

[2019-03-04 22:42] mehrdadab commented on #3986
I also found out unlike umbraco 7.5.7 on umbraco 7.13.1 I have access to Examine Management and if I rebuild index, the problem disappears.

[2019-03-05 01:02] coderpros commented on #4788
Hey guys. I was having the same issue. The above pull request will fix your issue. Also, make sure that you've given write permissions on App_Data\TEMP\FileUploads (although you shouldn't have to do that).

[2019-03-05 03:40] Shazwazza commented on #3796
Have merged, so should be in 7.14

[2019-03-05 03:40] #3796 closed

[2019-03-05 03:49] Shazwazza commented on #4751
I think the `TODO` in this code should really be fixed but we can make a separate task for that, it says:

`// TODO: should this be fatal (ie, an exception)?`

and the answer is YES, this would be fatal, if it were the case we would have discovered the bug much earlier ;)

[2019-03-05 04:49] Shazwazza commented on #4751
I can confirm that this code fixes it and I've tested with a cloud site and the updated DLLs before and after.

[2019-03-05 04:49] #4751 closed

[2019-03-05 05:04] #4580 closed

[2019-03-05 05:06] Shazwazza commented on #4580
Have merged and tested, all good now

[2019-03-05 05:12] #4652 closed

[2019-03-05 05:14] Shazwazza commented on #4580
(and cherry picked to 8.0.1)

[2019-03-05 05:44] Shazwazza opened #4854 "v8 - cannot send invariant content for approval (404)"
If you go to an invariant content item and use the send for approval option, it will work the first time, but if you then choose it again, you'll get a 404 with the response:

[code]

You'll also get this error if you: click on an invariant content item, click schedule to launch that dialog, close the dialog then try to send for approval. Pretty much if you open any of the dialogs: send for approv

[2019-03-05 05:49] Shazwazza opened #4855 "v8 - if you publish an unpublished content item with the "Content" content app visible the new URL will not display"
This video should show the problem https://www.screencast.com/t/cHvCXfFD

But basically, if you publish an unpublished item (in this case invariant) when you have the "Content" app visible, and then move to the "Info" app, the URL will not be shown, but if you refresh the item, the URL is there so it's some angular wiring problem.

If however, you publish the item when the Info app is visible, the

[2019-03-05 05:52] #4752 closed

[2019-03-05 06:59] bergmania commented on #4729
Solved together with: https://github.com/umbraco/Umbraco-CMS/issues/4751

[2019-03-05 07:56] zpqrtbnk commented on #4775
PR: https://github.com/umbraco/Umbraco-CMS/pull/4856

Test: with this in place, a user component should be able to `MapHttpAttributeRoutes` because `EnsureInitialized` will run last (after every other components).

Note: renaming some composers etc = breaking.

[2019-03-05 08:40] Myster commented on #4763
Yes, there is no hostname.
There is a culture en-US and zh-CN which is managed in the same pane, but no hostname.

[2019-03-05 08:45] zpqrtbnk commented on #4649
Confirmed. Due to NuCache basically ... ignoring `IUrlSegmentProvider` entirely ;-(

[2019-03-05 10:17] zpqrtbnk commented on #4649
Turns out NuCache was indeed not handling `IUrlSegmentProvider`... at all.

PR: https://github.com/umbraco/Umbraco-CMS/pull/4857

Note: Since we change the NuCache JSON structure, we need to trigger a full rebuild (via a migration).

Test: Simply upgrade, and all should work.

[2019-03-05 10:43] jerpenol opened #4859 "V7 - BulkInsert does not work with the decimal type"
As this issue (https://issues.umbraco.org/issue/U4-9399) states:

"When doing an ApplicationContext.DatabaseContext.Database.BulkInsertRecords(dayPaytypes); where my DayPayTypeDto contains a Decimal field it fails in

BulkDataReader.cs line 369

if (!numericPrecision.HasValue || !numericScale.HasValue) { throw new ArgumentException("numericPrecision and numericScale must be specified for "decimal"

[2019-03-05 10:47] zpqrtbnk commented on #4763
This what I have done, on a fresh new v7 site:
* Create two nodes of type "home", named "home1" and "home2", at root
* Configure `<add key="umbracoHideTopLevelNodeFromPath" value="false" />`
* Create a third node of another type, named "test", at root, with a template that renders the `Url` property for each item of `UmbracoContext.Current.ContentCache.GetAtRoot().Where(x => x.DocumentTypeAlias ==

[2019-03-05 10:59] teeto commented on #4773
OK now i get it. I thought that should be automatic. Thanks!

[2019-03-05 10:59] #4773 closed

[2019-03-05 11:02] JKoppenol commented on #4859
I have experienced the same problems with Float and Double typing

[2019-03-05 11:34] NikRimington opened #4860 "V7 - Umbraco automatic redirects don't always get generated"
When renaming a node in Umbraco, the common behaviour is that a redirect gets put into the redirect table mean visitors are automatically redirected to the updated URL. However, it is possible for this redirect not to be generated.

## Steps to reproduce

1. Install a clean version of Umbraco (at time of writing only tested on v7 but will update with v8 test results)
2. Run through the installer a

[2019-03-05 11:42] PeteDuncanson opened #4861 "V8: Build is failing with Gulp issue"
I've been trying to get V8 up and running locally now for the best part of a day. As its been nearly a year since I did it I'm hitting a lot of issues as my machine is just not setup/installed with whats needed it seems.

I've posted some of my finding here:

https://our.umbraco.com/forum/umbraco-8//96052-error-with-microsoftcodedomproviders-when-trying-to-run-compiled-v8-source

But this is more

[2019-03-05 11:47] zpqrtbnk opened #4863 "Element types should not inherit from non-element types"
Apart from making no sense, an element type inheriting from a non-element type breaks Models Builder. See Models Builder [issue 188](https://github.com/zpqrtbnk/Zbu.ModelsBuilder/issues/188).

It should not be possible for an element type to inherit from a non-element type. Which means that, when picking compositions for an element type, it should only be possible to pick element types - and then,

[2019-03-05 11:56] NikRimington commented on #4860
V8 update - My initial tests indicate that this issue has been resolved for v8

[2019-03-05 11:57] nul800sebastiaan commented on #4861
That sucks. We try to install all the correct versions of everything for you locally. We'll delete setupgulp.bat soon, build.ps1 needs to be the only one. So what is the problem with build.ps1? Error messages?

Also, this is not significantly different from v7, I assume that also doesn't work on your machine?

[2019-03-05 11:59] NikRimington commented on #4855
I'm assuming directly relate (or even the same issue) but the URL on info doesn't update if you change the name of the page and publish when "content" app is visible.

[2019-03-05 12:00] PeteDuncanson commented on #4861
Error message:

`PS C:\work\Umbraco-CMS-V8\Umbraco-CMS\build> .\build.ps1
Umbraco Cms Build
Umbraco.Build v0.2.2
Found already existing web.config.temp-build
(will be restored after build)
Create clean web.config
Set environment
Restore NuGet
Logging to C:\work\Umbraco-CMS-V8\Umbraco-CMS\build.tmp\nuget.restore.log
Compile Belle
Logging to C:\work\Umbraco-CMS-V8\Umbraco-CMS\build.tmp\belle.log
Exc

[2019-03-05 12:06] NikRimington commented on #4861
Having just compiled the v8 source I had to go through the following steps to get it to work:

1. Clone the v8 branch
2. Open the VS project
3. Get the Nuget Packages to all restore (this was tricky and I ended up having to completely clear my Nuget Cache else it said they were restored by they weren't) - See comment below which I believe could be part related to it.
4. Build the project in Visual

[2019-03-05 12:08] zpqrtbnk commented on #4839
PR https://github.com/umbraco/Umbraco-CMS/pull/4864

Implements siblings because, thought siblings are just parent's children, it gets complicated indeed when there is no parent.

Does not implement previous/next - that's ... more complicated, because content items don't "where" they are in the list of siblings. Plus, I'm not sure they were really useful. I'd need use cases.

See also: `ToIndexedA

[2019-03-05 12:11] nielslyngsoe opened #4865 "Service side mandatory-validation for checkbox-list is missing or does not handle empty array."
Service side mandatory-validation for checkbox-list is missing or does not handle empty array.

Will very soon be solved in Front-End, but shouldn't we as well handle this server side?

[2019-03-05 12:19] bjarnef commented on #4839
Thanks for the PR @zpqrtbnk
Would it also make sense to have a `.Sibling()` extension method as in v7, when you are only looking to a single node?

We have in v7 projects used `.Previous()` and `.Next()` in an paged flow e.g. for some kind of Booking/Ordering/Checkout, but I am not sure what the difference is on e.g. `.Previous()` / `.Previous<T>()` vs `.FollowingSibling()`/ `.FollowingSibling<T>(

[2019-03-05 12:20] zpqrtbnk commented on #4861
Quick note: the build script is supposed to install node, gulp, whatever - and do everything by itself - if that's not the case then something has been broken - there should be no bat file to run - dunno where this is coming from - will look into it

[2019-03-05 12:52] bjarnef opened #4867 "v8: Grid settings/styles dialog doesn't animate"
When opening settings/styles from grid, it doesn't animate in from right and doesn't have the dark backdrop as most other dialog/overlays in v8, e.g. in infinite editing.

![image](https://user-images.githubusercontent.com/2919859/53806654-cb753a80-3f4d-11e9-8641-6c1ddceae273.png)

![image](https://user-images.githubusercontent.com/2919859/53806663-d203b200-3f4d-11e9-989f-bc8701dab630.png)

![imag

[2019-03-05 12:55] bjarnef commented on #4867
It also seems the media picker overlay doesn't have the title as it used to have?

[2019-03-05 13:33] nul800sebastiaan commented on #4282
@zaplvlad The `umbracoPreviewPath` is used to store and retrieve any required files for previews so that should not be a problem. It's unlikely that you'll have a really great experience with a 425 meg XML file, but it's great that it's much faster for you already.

Currently we are concentrating most efforts into v8, where previewing is completely rewritten. I understand that is not super helpful

[2019-03-05 14:03] zpqrtbnk commented on #4861
just for info - I freshly cloned from GitHub and fired Powershell, making sure I had no node, npm, nothing in my path - then launched `build/build.ps1` - and it builds without errors

I'm still reviewing the errors reported above to understand what's going on - we might be too sensitive to the environment or something

[2019-03-05 14:10] PeteDuncanson commented on #4861
Had a good play around withe Seb on a screen share (happy to do the same with you if it would help) and found that I had Gulp v4 installed and not v3 which Seb had installed. Seems they changed the format of the gulp files in v4 which is blowing up somewhere. I'm going to revert back to v3 and see if that works. If it does I'm going to look into a PR to upgrade the gulp file to be in v4 format if

[2019-03-05 14:11] zpqrtbnk commented on #4861
nice - what I don't get is ... it's `build.ps1` that should download and install node and npm and gulp and everything - how did you end up having the wrong gulp? did you manually upgrade it?

[2019-03-05 14:17] bjarnef commented on #4419
Hi @nul800sebastiaan

Any update on the outcome of the internal discussion? 😁
Maybe @Shazwazza @zpqrtbnk or @clausjensen have some ideas on this?

[2019-03-05 14:20] PeteDuncanson opened #4868 "Update the version for media when a new file is uploaded"
Seems that media never gets "versioned" like content does yet it has a version Guid in the database. Wonder if there is a way to automatically update the version Guid when a new copy of a file is uploaded.

Starts off as a "quick fix" this one but then grows somewhat.

The original file you are replacing would need to be saved/moved as well so you could restore to it. We would also need a UI to al

[2019-03-05 14:36] nul800sebastiaan commented on #4861
The failure was a result of this commit still being present in Pete's clone: https://github.com/umbraco/Umbraco-CMS/pull/4847

I expect rolling that back would work so I'll close this for now.

[2019-03-05 14:36] #4861 closed

[2019-03-05 14:39] PeteDuncanson commented on #4861
Ahhh that makes sense!

[2019-03-05 14:43] PeteDuncanson opened #4869 "Upgrade Gulp file to support Gulp v4 file format"
Gulp v4 is out and the current gulp file fails if run with it. Would be nice if possible to upgrade to the newer versions file format which should make for some performance improvements in the build times and remove the need for "run-sequence" module.

It also means this fix can be merged in #4847 too as that needs Gulp v4.

Should be aware of the comment about the docs task here #3816 from Mads.

[2019-03-05 14:44] PeteDuncanson commented on #4869
Good explainer of the issue I think we are having with the format changes here: https://fettblog.eu/gulp-4-parallel-and-series/

[2019-03-05 15:08] nielslyngsoe opened #4870 "UI: Improve appearance of property content inheritance in editor view."
Lets come up with a better solution for property content inheritance in editor.

Currently when a property inherits its content from another variant, its shown like this:

![image](https://user-images.githubusercontent.com/6791648/53814729-7c84d080-3f60-11e9-964d-94d52d35bf88.png)

I would like to change that into something more elegant, ideas are welcome.

[2019-03-05 15:13] NikRimington commented on #4870
My initial thought on this is that the "inherited" note should appear beneath the property label. That would immediately improve it's appearance. However, then it could easily be lost with a property description if that was included.

Maybe the text should be in a different colour for differential purposes?

[2019-03-05 16:52] PeteDuncanson commented on #4845
Had a play with this one today. Some very promising results!

I've installed npmjs.com/package/gulp-angular-embed-templates and wired it into the processJS gulp task. That has embedded all the templates into the umbraco.directive.js bundle as part of the build. This means we don't need to pull down every template separately. As a bonus it minifies the templates too so even less bytes.

Download st

[2019-03-05 17:56] PeteDuncanson opened #4872 "V8: Can we add javascript source maps to the back office?"
Source maps are a wonderful aid to helping debug issues in minified javascript files. I wondered if it was possible/worth while to add them to the back office js build process so that they would be available in browsers during use.

I worry that with debug=false set everything would be compressed via Client Dependency which I don't think is source map aware. The issue here is that the source maps

[2019-03-05 18:03] PeteDuncanson commented on #4872
Would probably add something like this if we went this route https://github.com/gulp-sourcemaps/gulp-sourcemaps

[2019-03-05 18:22] zpqrtbnk opened #4873 "Cannot register api controllers explicitly"
Api controllers are discovered once and it's not possible to add a controller that would not have been discovered (something MB needs)

[2019-03-05 18:25] zpqrtbnk commented on #4873
PR https://github.com/umbraco/Umbraco-CMS/pull/4874

Adds collection builders for controllers so one can explicitly add a controller

[2019-03-05 18:26] PeteDuncanson opened #4875 "V8: Convert standalone AngularJS controllers to components/directives"
Quick search through the source code found over 277 instances of stand alone controllers being referenced. Ideally as part of making the most of the recent AngularJS upgrade we should move these into their own directives to make their usage clearer, ensure they have an isolated scope and that we only pass into them what they need. It should end up with a nicer work place too.

The plan here is to

[2019-03-05 19:26] OAOVLD commented on #4649
Hello
Please fix this bug in version 8.0.1 on March 12.  we cannot use umbraco 8 in production because of this error

[2019-03-05 20:00] kjac commented on #4855
PR in #4876

[2019-03-05 20:40] kjac commented on #4837
PR in #4877

[2019-03-06 00:22] mistyn8 opened #4878 "UserService.SavedUser... e.Messages.Add() doesn't result in a notification, and e.CanceledOperation() shows the error dialogue pane???"
Is there something simple that I'm missing??
I do have notifications from ContentService.Saving and ContentService.Publishing working fine, but when it comes to the UserService events hooks but nothing going on e.Messages.add() or e.CancelOperation()

[code]
Just not getting a message other than the usual User Saved.. and e.CancelOperation() results in the same as the throw new NotImplementedExcep

[2019-03-06 07:59] #4649 closed

[2019-03-06 08:03] nul800sebastiaan commented on #4878
Probably related to https://github.com/umbraco/Umbraco-CMS/pull/2584 - it's probably not implemented at the moment.

[2019-03-06 08:09] OAOVLD commented on #4649
thank!

EN: Will you enable this fix in version 8.0.1 on March 12?

(Rus: Вы включите это исправление в версии 8.0.1 12 марта?)

[2019-03-06 08:26] bjarnef commented on #4835
@zpqrtbnk if we add a `Umbraco.MemberOfType` or `Umbraco.MembersOfType`, should we then also have `Umbraco.ContentOfType` and `Umbraco.MediaOfType`?

Furthermore I noticed these extension methods exists:
[code]
Does we still need these now Umbraco doesn't have `umbraco.config` file and the XML cache?

[2019-03-06 08:34] OAOVLD commented on #4649
thank!

[2019-03-06 08:44] OAOVLD opened #4879 "v8: Bug/Error. Nested Content + Multiple Link (new Conrol) + Folder 3 level and more level"
Hello
v8: Bug/Error. Nested Content + Multiple Link (new Conrol) + Folder 3 level and more level.

EN: Control (Multiple Link) does not get a value when a link to the third or higher level of the folder is specified

Rus: Контрол (Multiple Link) не получает значение когда указывается ссылка на третий и выше уровень папки

EN: Example: the file is located in the home> Users > 1 folder.png (link wil

[2019-03-06 08:44] OAOVLD commented on #4879
Please fix this bug in version 8.0.1 on March 12. we cannot use umbraco 8 in production because of this error.

[2019-03-06 08:55] zpqrtbnk opened #4880 "ModelsBuilder CustomTool for v8"
Fix CustomTool so it supports v8

Requires #4873
(so that the API controller is properly registered)

[2019-03-06 08:59] zpqrtbnk commented on #4880
PR: #4881

[2019-03-06 09:02] zpqrtbnk commented on #4873
Review: code review, + test that nothing at all changes for Umbraco, + test that #4880 works

[2019-03-06 09:02] zpqrtbnk commented on #4880
Review: it should be possible to install the custom tool and run it

[2019-03-06 09:11] mistyn8 commented on #4878
AAhhh... thanks for the info.. another reason to move to v8... where all these v7 consistency of implementation are obv addressed ;-)

[2019-03-06 09:45] nul800sebastiaan commented on #4878
Maaaaaaybe... 🙈

Haven't tested the Events and sending info back to the browser in v8 yet!

[2019-03-06 09:54] pralthom opened #4883 "Umbraco 8 - ContentService - SetValue DropdownList"
Hi,

I think I may have found a bug when adding a node programmatically, but maybe I am not using the right function.
The bug happens when I set in a new node a dropdown list value.

I use the following code to set the value in my new node:

[code]

There is no error after the SaveAndPublish.

But when I log into umbraco and go to the newly created node I get the following error:

[code]

Stacktra

[2019-03-06 09:59] nielslyngsoe opened #4884 "When publishing content with no Name, I want to see serverside validation, not an error"
I would like to have server-side validation feedback, if name is missing when publishing a content-node.

Similar to how server-side validation works for properties, seen in this screenshot (please investigate how the data is send, since i didn't want to paste a response in  here)

![image](https://user-images.githubusercontent.com/6791648/53872516-bad0cd00-3ffe-11e9-9fb7-fbaeff1401f3.png)

The er

[2019-03-06 10:01] karltynan commented on #4870
Rather than just being in the "left" label column, could it span both columns before both items?

[2019-03-06 10:07] nul800sebastiaan commented on #4879
Hi @OAOVLD - thanks for reporting bugs. We can not promise you all of them will be fixed at a specific date. Remember, you can still use v7 instead of v8 for now.

[2019-03-06 10:20] hartviglarsen opened #4885 "Unable to change relation type alias"
I am currently updating the MVC training material to V8 and I need to create a relation type, as we are going to use the RelationService to relate a documentation node to a product node.

I created a **Relate documentation to product** relation type that gets the alias **relateDocumentationToProduct**. In the V7 course the relation alias is **product**. I want to use that one to avoid unnecessary

[2019-03-06 10:23] nul800sebastiaan commented on #4883
Hey there @pralthom - This is very simple functionality that works for everyone else, so it sounds like something in your specific project.

Make sure to get some advice on the forums at https://our.umbraco.com ! 👍

[2019-03-06 10:23] #4883 closed

[2019-03-06 10:27] madsoulswe opened #4886 "V8 Grid "reorder" gets stuck after splitview"
1. Open split-vew.
2. Scroll down to a grid-view property.
3. Close split-view

[2019-03-06 10:40] pralthom commented on #4883
Hi @nul800sebastiaan,

Thank you for the quick answer.
The Umbraco 8 documentation is not finished and I am struggling to find any information about how to do this.

If you say it simple, I guess you know how to set the value of a dropdown list? Could you please tell me how?

Thank you,

[2019-03-06 12:29] bjarnef opened #4887 "v8: Adjust new styles of checkboxes/radiobuttons"
In noticed the updated/custom styles of checkboxes/radiobuttons in latest v8.

I think the `umb-form-check` should use `display: inline-flex` or similar fix, so the checkbox/radiobutton labels isn't stretched to full width.

[code]

Furthermore it seems to top position can just be set to 0 and add `margin-top: 1px;` for `umb-form-check__state`.

[code]

**Chrome**
![image](https://user-images.gith

[2019-03-06 12:34] nul800sebastiaan commented on #4887
Note: we don't support IE on v8 :)

[2019-03-06 12:35] bjarnef commented on #4887
Maybe also consider if the color in checkboxes should be reverted like this.

![image](https://user-images.githubusercontent.com/2919859/53881685-91bb3700-4014-11e9-883d-05fbfdc395e0.png)

In this example the icon font is changed to:

[code]

[2019-03-06 12:38] bjarnef commented on #4887
@nul800sebastiaan I know, but also in Chrome the labels are not aligned with the checkbox/radiobutton.
Also in Edge the checkmark icon is not exactly in center, which the mentioned css change fix :)

![image](https://user-images.githubusercontent.com/2919859/53881851-fd9d9f80-4014-11e9-870f-8d9f9429115d.png)

[2019-03-06 12:40] nul800sebastiaan commented on #4887
Sure, @nielslyngsoe says it's all good but he  doesn't think the colors should be inverted. We're happy to look at a PR!

[2019-03-06 12:44] bjarnef commented on #4887
In it current styling it is a bit hard to see when checkboxes are focused using tab key,
Here "Citrus" is focused.

![image](https://user-images.githubusercontent.com/2919859/53882091-a3510e80-4015-11e9-98df-de31b6351466.png)

![image](https://user-images.githubusercontent.com/2919859/53882165-d98e8e00-4015-11e9-80a1-3a2c94061aeb.png)

[2019-03-06 12:59] bjarnef commented on #4887
Maybe the checkbox/radiobutton should also have a background color, so they don't seem to be disabled in e.g. Nested Content.

![image](https://user-images.githubusercontent.com/2919859/53882835-a9e08580-4017-11e9-9331-81e1bbb0598d.png)

Maybe also consider how the disable style look. At the moment it doesn't seem to directives support this, but they probably should using `ng-disabled`.

[2019-03-06 13:00] tonyhtp commented on #4812
Having the same issue in 8.0.0 - was just about to start issue when I found this!

[2019-03-06 13:17] nielslyngsoe opened #4888 "V8: Checkboxlist, radiobuttonlist and dropdown should store a defined data-value not its names"
I would like Checkbox-list, Radiobutton-list and Dropdown to have the ability to define a data-value, which ´if defined´ will be the stored value instead of the name-value.

Today these data-types only takes one value pr. entry. (which is both the display-label and the data-value)

I would like each entry to have a display-name/label and the option for a data/value.

I have multiple reasons for th

[2019-03-06 13:28] bjarnef commented on #4888
@nielslyngsoe it would be great if the e.g. the checkboxlist and radiobuttonlist are using "label" and "value" similar to when adding prevalues to e.g. settings/styles in Grid using radiobuttonlist and colorpicker (unfortunately there isn't an checkboxlist prevalue editor), but I think it should be added, see this this old PR https://github.com/umbraco/Umbraco-CMS/pull/1496 where it add a checkbox

[2019-03-06 13:48] bjarnef commented on #4887
I guess @nielslyngsoe also can use to `disabled` state here https://github.com/umbraco/Umbraco-CMS/pull/4891 where mandatory languages are auto selected (I guess these could just be selected and disabled?).

[2019-03-06 13:53] OAOVLD opened #4893 "v8: Bug speed for "public interface IContentService : IContentServiceBase, IService". saving 500 items lasts 10 minutes!"
Hello!
v8: Bug speed for "public interface IContentService : IContentServiceBase, IService". saving 500 items lasts 10 minutes!

RUS: Не хватает следующих методов (т.к. удаление/добавление по одному занимает очень долгое время):
EN: The following methods are missing (because deleting / adding one by one takes a very long time):

OperationResult Delete(IEnumerable<IContent> contents, int userId = -

[2019-03-06 13:54] OAOVLD commented on #4879
thank (

[2019-03-06 13:57] zpqrtbnk commented on #4888
A bit of history: in the past, we had some data editors that would support storing the ID in the value, while displaying the labels in the lists (dropdown, etc). But, this meant that rendering the labels on a page was expensive, because one had to fetch the labels corresponding to the IDs, and accessing datatype configuration (formerly known as "prevalues") was cumbersome and slow.

Ah, and we had

[2019-03-06 14:01] OAOVLD commented on #4879
https://umbraco.com/blog/umbraco-7-to-umbraco-8-a-developer-s-perspective/

:)

Is it ready to use?
With the initial release of Umbraco 8 coming up very soon, a common question is: "Is it really ready for production or should I wait to use it?"

The answer: It is ready - you don’t have to wait!

[2019-03-06 14:11] #3463 closed

[2019-03-06 14:12] nielslyngsoe commented on #4728
PR: https://github.com/umbraco/Umbraco-CMS/pull/4891

[2019-03-06 14:31] #4645 closed

[2019-03-06 14:40] nul800sebastiaan commented on #4715
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/4716

[2019-03-06 15:19] PeteDuncanson opened #4894 "V8: Strengthen Babel's browser targets to only include supported browsers"
Short version: Setup Babel via a small config change to only support the browsers that Umbraco offically supports.

Long version: In the current tool chain we have Babel included for transpiling our javascript from ES6 down to ES5 syntax. Currently I can't see where we are using any ES6 but I suspect its in there to make us future proof and its something that we should be looking to move towards.

[2019-03-06 15:22] nielslyngsoe commented on #4887
Defenetly, would be useful with disabled state. And I as well have a error-state in mind. But let’s take them individually as separate tasks :-D

[2019-03-06 15:24] nul800sebastiaan commented on #4894
Note: ClientDependency is not yet ES6 aware, which is why we need ES5 syntax.

[2019-03-06 15:26] nul800sebastiaan commented on #4729
Fixed in
https://github.com/umbraco/Umbraco-CMS/issues/4751

[2019-03-06 15:26] #4729 closed

[2019-03-06 15:28] PeteDuncanson commented on #4894
Issue regarding Client Dependancy ES6 support (or lack of it) is here: https://github.com/Shazwazza/ClientDependency/issues/160

Docs on browser targeting for Babel are here: https://babeljs.io/docs/en/babel-preset-env

[2019-03-06 15:42] nul800sebastiaan commented on #4893
If you have concrete suggestions as to how to make these operations faster then we look forward to seeing a pull request with code updates.

For now I'll close this issue. SaveAndPublish is an expensive operation and we're happy with the current performance which works well for publishing a small to medium amount of content.

On a sidenote: this operation (creating and publishing 500 nodes) took a

[2019-03-06 15:42] #4893 closed

[2019-03-06 16:01] richarth commented on #4841
Just in case anybody has this issue in future I managed to identify the cause.

The problem was with a MNTP property that we had added to the document type.  We're migrating an Umbraco 6 site to 7 and the Umbraco 6 site was using . (a dot) as an XPath expression.  We'd therefore set the xpath query as . on the property in Umbraco 7.

It was the dot as the xpath query that was causing Umbraco to er

[2019-03-06 16:02] #4855 closed

[2019-03-06 17:04] Geckex opened #4896 "Schema health check returns SQLException error - Invalid object name 'dbo.umbracoUserType'"
Running Schema health check returns SQLException error - Invalid object name 'dbo.umbracoUserType'
Would it be possible to rename this database table

[2019-03-06 17:05] Geckex commented on #4896
Running Schema health check returns SQLException error - Invalid object name 'dbo.umbracoUserType'
Would it be possible to rename this database table

[2019-03-06 17:11] Geckex opened #4897 "VeraCode scan - ICSharpCode.SharpZipLib.dll vulnerability"
ICSharpCode.SharpZipLib.dll has the following:
CVE-2018-1002208| CWE-22
Directory Traversal: sharplibzip before 1.0 RC1 is vulnerable to directory traversal, allowing attackers to write to arbitrary files via a ../ (dot dot slash) in a Zip archive entry that is mishandled during extraction. This vulnerability is also known as 'Zip-Slip'.

Would you be able to advise on how you are mitigating this

[2019-03-06 17:14] Geckex opened #4898 "TidyNet.dll has vulnerabilities that does not affect newer versions - might need updating"
VeraCode security scan flags problems with older versions of TidyNet - would it be possible to upgrade to the latest version of this package?

[2019-03-06 17:19] nul800sebastiaan commented on #4896
@Geckex Which Umbraco version are we talking about please? And why would we rename that table?

[2019-03-06 17:29] bjarnef commented on #4887
@nielslyngsoe I can send a PR for the disable state.
The checkbox and radiobutton should probably also have some kind of hover style, e.g. like these https://www.w3schools.com/howto/howto_css_custom_checkbox.asp

[2019-03-06 17:30] nul800sebastiaan commented on #4897
Thanks, this is not a concern as long as you don't use the library in your custom code. The code that uses this library in Umbraco does not accept file uploads.

In the future [PLEASE please please follow the instructions in our issue reporting templates](https://github.com/umbraco/Umbraco-CMS/issues/new?template=5_Security_issue.md) and report security concerns privately. That way we get a chance

[2019-03-06 17:30] #4897 closed

[2019-03-06 17:33] nul800sebastiaan commented on #4898
This is an old dependency for code that is hardly ever used any more. This is not a concern as long as you don't use the library in your custom code. The code that uses this library in Umbraco is only accessible to authenticated users in Umbraco and is appropriately sanitized before sending it to Tidy.

In the future PLEASE please please follow the instructions in our issue reporting templates and

[2019-03-06 17:33] #4898 closed

[2019-03-06 17:33] nul800sebastiaan commented on #4898
FYI: we don't have this dependency in v8 any more.

[2019-03-06 17:34] nul800sebastiaan commented on #4897
FYI: we don't have this dependency in v8 any more.

[2019-03-06 20:08] bjarnef commented on #4887
Furtermore I don't think it is valid to have `<div>` nested inside `<label>` and should therefore be changed to `<span>` instead.

[code]

[2019-03-06 20:23] PeteDuncanson opened #4900 "V8: Clean up the login AngularJS flow"
As part of #4875 I picked the first controller in the search list to try to convert which was login.html but when I looked into it I went down a bit of a rabbit hole!

Seems login.controller (or its template login.html) is only referenced in the routes file (https://github.com/umbraco/Umbraco-CMS/blob/91c52cffc8b7c70dc956f6c6610460be2d1adc51/src/Umbraco.Web.UI.Client/src/routes.js#L99 and a few li

[2019-03-06 21:20] PeteDuncanson opened #4901 "V8: Ensure angularjs is easier to minify in the future by adding ng-annotations"
From the reading I've done if we want to compress the JS for the back office anymore than we do with CD (which is something we "could" do as CD compression is pretty simplistic) then we need to make it safe to do so.

Luckily there is a simple additional step we can add into the build process to do this for us called ng-annotate which will make our DI chain minify friendly. They describe the reaso

[2019-03-06 21:28] bjarnef commented on #4887
PR here https://github.com/umbraco/Umbraco-CMS/pull/4902

[2019-03-06 21:28] PeteDuncanson commented on #4901
Turns out https://github.com/schmod/babel-plugin-angularjs-annotate seems to be the more modern one to go for as it supports ES6 modules so I'll try that one out. In theory it should "just work" but I'll double check all the functionality in the back office as usual.

[2019-03-06 21:53] abjerner commented on #4879
@OAOVLD I've tried testing this, and I haven't been able to reproduce the problem so far. Would it by any chance be possible for you to share the code that fails? I've tested both with and without Models Builder.

[2019-03-06 22:03] PeteDuncanson commented on #4804
Had a thought about this. Actions in Redux work really well as you get intellisense in VSCode as they are "required" at the top of any file you want to use them in so it just works. As AngularJS uses it custom DI implementation I'm not sure if VSCode et al can do its magic with that. I've found this article for getting intellisense working but I think its only the built in AngularJS stuff and not

[2019-03-07 01:32] nathanwoulfe commented on #4875
Why not just straight to components? It's an easier conversion (IMO) and if that's where things should eventually be headed (and it is, again in IMO), just do it once now. Minimizes two-way binding which is potentially a great perf gain.

I just really like components.

[2019-03-07 03:26] Shazwazza commented on #4875
agree components are much nicer

[2019-03-07 03:49] nathanwoulfe commented on #4875
I'm happy to do a couple as an example

[2019-03-07 04:26] Shazwazza commented on #4835
You can still use XPath in v8, it is supported and might be necessary for certain operations (i.e. it's the only way to have a string query format to select a node currently) but should be used in limited fashion since it's not great for perf in v8.

I've added comments about MembersByType here: https://github.com/umbraco/Umbraco-CMS/pull/4877#issuecomment-470379672

[2019-03-07 06:39] OAOVLD commented on #4879
View:

@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{

 //Nested Content - Docs
IEnumerable<PublishedElementModel> el_Docs_Elems = Model.Value<IEnumerable<PublishedElementModel>>("Docs_Elems");

 if (el_Docs_Elems != null && el_Docs_Elems.Count() > 0)
    {
        foreach (var elem in el_Docs_Elems)
        {
	    Link elem_Content_Link = elem.Value<Link>("Content_Link"); // if the level is greater

[2019-03-07 06:42] OAOVLD commented on #4879
EN: Surprisingly, if you move the folder from level 4 to the first, then everything starts to work. Maybe this is a problem because now folders instead of numbers are called symbols ?

RUS: Удивительно, если переместить папку с 4 уровня на первый, то все начинает работать. Может быть это проблема из-за того что сейчас папки вместо цифр стали именоваться символами ?

[2019-03-07 06:47] OAOVLD commented on #4893
thank

[2019-03-07 07:04] Shazwazza commented on #4775
I can confirm this works. The breaking names are not going to affect anyone ... well except for @aaronpowell ;)

[2019-03-07 07:04] #4775 closed

[2019-03-07 07:24] nul800sebastiaan commented on #4879
It seems like there's something wrong on your site, both Anders and I can't reproduce the problem with the code you've given us. I would recommend you try to get some help from our community on the forum at https://our.umbraco.com

[2019-03-07 07:24] #4879 closed

[2019-03-07 07:33] #4873 closed

[2019-03-07 08:01] ronaldbarendse commented on #4739
@bjarnef It's possible to override the default `NestedContentSingleValueConverter` with a custom one that includes the changes from the V8 implementation. Issue https://github.com/umbraco/Umbraco-CMS/issues/2925 shows how and when the PR gets merged, it would be even easier (please include your comments/thoughts there to speed it up 😉).

[2019-03-07 08:17] PeteDuncanson commented on #4875
Suits me, kind of wanted to do it in steps but yeah, while there we just convert directly to components if you like. Get isolated scopes too WTF! But I worry it might all be a bit of a scope soup mess when you get to the bigger stuff.

I've looked into two so far and ran into issues with both!

#4900 - Login controller...

and the boolean property editor, can't see for the life of me where it is a

[2019-03-07 08:33] Shazwazza commented on #4875
We should also start converting most directives to components (not all directives can be made components, like ones that are attributes, but most can move). We've done quite a few of those during the v8 build.

Property editors aren't referenced in angular, they are referenced from ... property editors :P It's from the `TrueFalsePropertyEditor` in c#. Property editors are the worst - and unfortuna

[2019-03-07 08:39] Shazwazza commented on #4900
Time is the problem, unfortunately not enough time to clean out all the cobwebs, there's still plenty to clean up ;) and yes it should be split up, feel free to give it a crack.

I assume you are referring to the v7 docs since I don't see this comment in the v8, there was no plan to remove it, just move it, refactor it, split it up, etc.. there was quite a shuffle of where files exist, etc..

The

[2019-03-07 08:47] nathanwoulfe commented on #4875
Maybe the best approach is to find a section of the backoffice that can be done top-to-bottom, as a best-practice example? The content tree, for example.

[2019-03-07 08:55] #4715 closed

[2019-03-07 08:56] PeteDuncanson commented on #4875
Yep. I’m all over that idea of an example section. Thanks for the info on prop editors. Had me pulling my hair out last night.

When we did a big upgrade in React last year we had this spreadsheet that listed every file, where it came from, where it should go, yes/no fields for stuff that should be done or checked. Sounds old school but it Made for a really good way to manage 250+ components getti

[2019-03-07 08:56] bjarnef opened #4905 "Update picker in Multi Node TreePicker to match other pickers"
In MNTP config the styling should match the "add" and "preview" in other pickers, e.g. in content picker.

![image](https://user-images.githubusercontent.com/2919859/53944138-0d71be00-40bf-11e9-801c-9b06f6b05a69.png)

[2019-03-07 08:57] #3958 closed

[2019-03-07 09:32] nul800sebastiaan commented on #4142
That's a rather large feature request, but it could be cool if the move would show you faded tree items and a "stop sign" icon when you're not allowed to move things to that parent. I don't know how much work that would be and if it's worth it. It's a good one to investigate the feasibility of though.

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull

[2019-03-07 09:33] madsoulswe commented on #4812
I hope this will be included in 8.0.1 =)

And maybe create a test site/page with all datatypes/valueconverters and test them =)

[2019-03-07 09:44] nul800sebastiaan commented on #4614
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/4615

[2019-03-07 09:44] #4614 closed

[2019-03-07 09:57] nul800sebastiaan commented on #4616
Hey @gib65 - that's annoying! Unfortunately it's a problem in your website and not what most people experience. If you've recently upgraded your website maybe something went wrong, I'd advice you to check out this blog post: https://cultiv.nl/blog/how-to-diagnose-umbraco-upgrade-problems/

Make sure to post back on the forum again if the problem persists so you can get some help with it.

Ps, I ju

[2019-03-07 09:57] #4616 closed

[2019-03-07 10:05] nul800sebastiaan commented on #4618
It's a nice idea and the experiment looks good to me.

You've posted a lot of links and if you think any of them give a better experience then make sure to write your recommendation and why it is the best so we can give you some feedback on whether we agree. Otherwise, let's go with the prototype you've got.

I've marked this as "Up for grabs" so that you or someone else coming along could create

[2019-03-07 10:17] nul800sebastiaan commented on #4656
Oops, that does look like it's off!

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-03-07 10:19] nul800sebastiaan commented on #4657
Ah sure.. not sure what's going on there 🤔

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-03-07 10:21] PerplexDaniel commented on #4839
@zpqrtbnk Wouldn't your `Siblings()` implementation also yield the content itself? Is that intended? I'm not sure about the semantics, but I don't think an IPublishedContent item is technically its own sibling, is it?

That is, if we have IPublishedContent items `Parent`, `ChildA`, `ChildB`, `ChildC`, I would expect `ChildB.Siblings()` to only yield `ChildA` and `ChildC`, not itself as well. Not s

[2019-03-07 10:24] #4887 closed

[2019-03-07 10:31] bjarnef commented on #4839
@PerplexDaniel I agree with that. `Siblings()` shouldn't return the node itself, which it didn't in v7 as far I remember. I haven't tested the PR, but from the code it seems it doesn't exclude the node itself.

[2019-03-07 10:31] nul800sebastiaan commented on #4658
While I agree with @kjac that we should go nuts and change the configuration I would imagine that a good-old `getElementById` could help here. Then the specific range fields can be wrapped in a div to hide when ranges are disabled?

Might be a bit of a hack, but it's pretty friendly.

I'll put this in up for grabs, but if my hack won't work then I think we'll close it and move on. :)

[2019-03-07 10:33] nul800sebastiaan commented on #4660
Ha, nice catch!

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-03-07 10:36] nul800sebastiaan commented on #4663
I've added `<config key="charmap_append"><![CDATA[[[0x2600, 'sun'],[0x2601, 'cloud']]]]></config>` in tinyMceConfig.config.

The problem is that it returns as `"charmap_append":"[[0x2600, 'sun'],[0x2601, 'cloud']]"` instead of `"charmap_append":[[0x2600, 'sun'],[0x2601, 'cloud']]`

I am not sure we can actually fix this somehow, I believe the config options are being read here: https://github.com/

[2019-03-07 10:40] nul800sebastiaan commented on #4679
I can't find it any more but I saw Shannon replying to this somewhere else too. His conclusion basically was: it is what it is (for good reasons) and we don't intend to make changes to the routing at this time.

[2019-03-07 10:40] #4679 closed

[2019-03-07 10:43] nul800sebastiaan commented on #4681
Oh no! :)

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-03-07 10:45] nul800sebastiaan commented on #4680
Sounds good!

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-03-07 10:51] bjarnef commented on #4839
I did a quick test in v7 and both of these methods actually returns the current node as well. I would say that is a bug that it include the node itself.

[code]

[2019-03-07 10:53] nul800sebastiaan commented on #4692
I also can't reproduce, must have been fixed in the mean time.

[2019-03-07 10:53] #4692 closed

[2019-03-07 10:58] bjarnef commented on #4681
Yeah I know, a very annoying bug! 😁

[2019-03-07 11:02] uSkinned commented on #4778
This is surely an issue, we use the slider for sitemap priority which should be in point values from 0.1 - 1

[2019-03-07 11:12] nul800sebastiaan commented on #4725
Sounds like a weird problem, unfortunately we haven't seen this one before. It sounds like it could be related to your specific setup.

I would recommend you post a question on the forum for some help with this. https://our.umbraco.com

[2019-03-07 11:12] #4725 closed

[2019-03-07 12:15] nul800sebastiaan commented on #4905
👍

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-03-07 12:39] nul800sebastiaan commented on #4826
Good one!

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-03-07 12:41] nul800sebastiaan commented on #4828
Wow, that's a lot of layers! 😂

[2019-03-07 12:43] nul800sebastiaan commented on #4859
Interesting. :-)

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-03-07 13:09] bjarnef commented on #4828
I guess that's inifinite editing 😂

[2019-03-07 13:24] bjarnef commented on #4618
@nul800sebastiaan the links were mostly to give some inspiration on how we can change this and make it possible to crop the avatar.

I am thinking of two approaches:
- Upload and auto crop like now and the option to crop the avatar afterwards like this example:
https://pqina.nl/slim/#form-post

- Upload image and show the image cropper in an overlay (like shown in the screenshots on this issue), w

[2019-03-07 14:11] nul800sebastiaan opened #4907 "Doctype Editor: add indicators for doctypes and properties whether they vary by culture"
Right now it's not quite clear that when you set a document type to be variable by culture that it is variant. It would be good if both the document type and the properties that vary by culture have an indicator that this is enabled.

Furthermore, it might be good to give people a hint when they enable "Vary by culture" on the document type that they then need to go and enable varying for each pro

[2019-03-07 14:14] nul800sebastiaan commented on #4618
If you can make this work then that would be awesome:

https://user-images.githubusercontent.com/2919859/52915703-827b8000-32d7-11e9-9047-566c1e607055.png

Otherwise the second option is a good start.

I know the links are for inspiration but it would be really nice to not introduce any new dependencies on jQuery if we can avoid it.

[2019-03-07 14:19] nielslyngsoe commented on #4907
A lose idea is to make an overlay appear when enabling "varying".
The overlay should ask you which properties you want to enable for varying.

[2019-03-07 14:32] bjarnef commented on #4867
It seems to be related to `umbOverlay`, when using this with e.g. `position="right"`, the dialog is by default `show="false"` and then change `show="true"` e.g. after clicking a button, then it looks like this, which doesn't have same backdrop color and doesn't animate from right.

![image](https://user-images.githubusercontent.com/2919859/53963495-ba632f80-40ed-11e9-802d-2c1ac7dc7531.png)

Note t

[2019-03-07 14:58] bjarnef opened #4909 "v8: umbOverlay doesn't open mediapicker view"
When using `umbOverlay` component and set "mediapicker" as view, it returns an error.

E.g. the following works with `itempicker` but not `mediapicker`.

[code]

[code]

![image](https://user-images.githubusercontent.com/2919859/53965559-bf29e280-40f1-11e9-93c0-8ec60447d460.png)

It seems to be this logic used here:
https://github.com/umbraco/Umbraco-CMS/blob/91c52cffc8b7c70dc956f6c6610460be2d1adc

[2019-03-07 15:02] bjarnef commented on #4909
It seems `mediapicker` no longer exists in this folder anymore:
https://github.com/umbraco/Umbraco-CMS/tree/91c52cffc8b7c70dc956f6c6610460be2d1adc51/src/Umbraco.Web.UI.Client/src/views/common/overlays

Not sure if this part in core then is broken?
https://github.com/umbraco/Umbraco-CMS/blob/91c52cffc8b7c70dc956f6c6610460be2d1adc51/src/Umbraco.Web.UI.Client/src/views/prevalueeditors/imagepicker.con

[2019-03-07 18:36] abjerner commented on #4909
@bjarnef I haven't seen any official information on this yet, but I think we're supposed to use the new `editorService` instead of the the `umb-overlay` directive.

I think this was done do support infinite editing, and it kinda works like with the `dialogService` from before 7.4.

With `editorService`, the UI also seems to match the rest of the V8 backoffice better - eg. as shown here:

![image](

[2019-03-07 18:53] PeteDuncanson commented on #4875
Finding more and more bits that are "quirky". Up front, I'm not judging here with my choice of words, its a huge code base grown over many years with not enough time, I get it and all these issues are from someone wanting to give it some time and try to get it a little closer to "oooh thats nice" territory. Right with that said...

I found this one today:

https://github.com/umbraco/Umbraco-CMS/bl

[2019-03-07 18:55] PeteDuncanson commented on #4875
Query, is there an AngularJS code standard at HQ somewhere that we could follow?

[2019-03-07 19:20] nathanwoulfe commented on #4875
Style is a big issue and needs to be consistent. I think we'll agree on that.

Personally, I prefer to avoid `vm = this`. Use ES6 fat arrows and get lexical `this`, which cleans things up a bit more. Similarly I prefer to simply use $ctrl rather than redefining it, it's one less boilerplate step to remember.

I tend to define the controller as a separate function and reference it in the component

[2019-03-07 20:09] AndersBrohus commented on #4751
I'm currently had a very mysterious problem with my image field was null, then i tried pressing the last orange button on the Published Status dashboard and then it worked :)

Guess this fixes it aswell?
Because this happened on a freshly installed NuGet version of V8 still running local :)

[2019-03-07 20:53] AndersBrohus opened #4910 "V8: Media crop inside Grid"
I'm in the middle of migrating an Umbraco 7 blog to Umbraco 8, and in V7 project i have created an new grid editor of the media editor which has a size set, like this :)

    {
        "name": "Image",
        "alias": "croppedMedia",
        "view": "media",
        "icon": "icon-picture",
        "config": {
            "size": {
                "width": 700,
                "height": 468

[2019-03-07 21:10] bjarnef commented on #4909
@abjerner yes, the `editorService` is used for infinite editing in v8, but `umbOverlay` is still used in the core in v8, e.g. https://github.com/umbraco/Umbraco-CMS/blob/91c52cffc8b7c70dc956f6c6610460be2d1adc51/src/Umbraco.Web.UI.Client/src/views/prevalueeditors/imagepicker.controller.js

It is also documented here https://github.com/umbraco/Umbraco-CMS/blob/91c52cffc8b7c70dc956f6c6610460be2d1adc5

[2019-03-07 21:15] bjarnef commented on #4909
Okay, the "imagepicker" prevalue editor, which was possible to use in v7, is actually broken in v8.
https://our.umbraco.com/documentation/getting-started/backoffice/property-editors/built-in-property-editors/Grid-Layout/Settings-and-styles#sample-settings

[2019-03-07 21:18] bjarnef opened #4911 "v8: Imagepicker prevalue editor is broken"
It seems in v8 it is no longer possible to use "imagepicker" prevalue editor in grid settings/styles as in v7.

https://our.umbraco.com/documentation/getting-started/backoffice/property-editors/built-in-property-editors/Grid-Layout/Settings-and-styles#sample-settings

Insert this json in a grid styles in the config.

[code]

![image](https://user-images.githubusercontent.com/2919859/53989689-d2a37

[2019-03-07 21:46] bjarnef commented on #4911
We should probably review if the changes in overlays from v7 to v8 breaks other prevalue editors using these views in `umb-overlay` or other parts of the UI reference to overlays that no longer exists.

**Overlays**
https://github.com/umbraco/Umbraco-CMS/tree/dev-v7/src/Umbraco.Web.UI.Client/src/views/common/overlays

https://github.com/umbraco/Umbraco-CMS/tree/dev-v8/src/Umbraco.Web.UI.Client/src

[2019-03-07 21:50] bjarnef commented on #4911
It might also be worth to group prevalue editors in folders just like property editors are grouped in folders.

[2019-03-07 22:07] bjarnef commented on #4911
The `imagepicker` should either use `editorService` to open `mediapicker` infinite editor or there should be added a `mediapicker` overlay.

[2019-03-07 23:15] Shazwazza commented on #4875
Oh my this is a bit of an overwhelming amount of info :P ... and perhaps a style discussion needs to happen elsewhere, or we can change the title of this task.

Consistency is important, style is important, etc... and we all have our likes/dislikes. `vm` was a standard adopted by mads, we didn't have es6 before so yes probably made things easier and it's throughout the codebase now. I personally t

[2019-03-08 00:10] rcasimiro commented on #4812
Yes please! Include this in 8.01 👍

[2019-03-08 00:44] aaronpowell commented on #4775
Haha I think I'm good for this one 😛

[2019-03-08 00:52] nathanwoulfe commented on #4875
FWIW, the current gulp task does some transpiling magic - arrow functions are converted to es5 functions, and lexical this is converted to _this. Is gulp the best tool for the job?

Maybe it is a mixed approach - existing style remains, but new work follows current best practice.

I guess too there needs to be consideration for future major versions. Will the backoffice always be AngularJs 1.7.5?

[2019-03-08 02:45] Shazwazza commented on #4875
This can be fine by me so long as we document this somewhere and make it clear how we want to work and maybe over time can port things over to how they should be.

IMO I wouldn't worry too much about aligning our coding style with other frameworks. I think we stick with what works for us with this solution. If we ever move to something beyond angularjs, it will be a mammoth project - like enormous

[2019-03-08 09:29] miketaylorco commented on #4870
Might be an idea to associate the inheritance with the field value itself rather than the label? Something like this? Works OK with these specific property editors, but I guess might not work quite so well with more editors with more complex UI though.
![image](https://user-images.githubusercontent.com/7547847/54020030-b2a29a00-4184-11e9-92b8-d949f6c99237.png)

[2019-03-08 09:45] karltynan commented on #4870
I like that @miketaylorco - smaller and less in your face helps too

[2019-03-08 09:50] cheeseytoastie commented on #4138
I'm seeing this on a client site. Worked fine on v7.11.1 now we've upgraded to v7.13.2 **and installed all outstanding server updates** we're now seeing this.

Backoffice works fine on first load - after a few clicks and publishes the save and publish stops working with this 417 error.

I've cleared the app_data folder, rebuilt indexes etc and cleared all session cookies (also changed useUmbracoSS

[2019-03-08 09:57] rickread opened #4912 "Content Templates (Blueprints) - Macro rendering in backoffice results in 404"
Umbraco version 7.13.2 assembly: 1.0.6974.19955

We've noticed after creating a content template (blueprint) in Umbraco that uses either a Form or Macro in the grid - we get a notification to say that content has saved successfully, but we also get a 404 error that appears multiple times depending upon how many macro's are in use in the template. Adding a form counts as one of these errors as it's

[2019-03-08 09:59] nul800sebastiaan commented on #4912
Looks like a bug, which Umbraco version are we talking about?

[2019-03-08 10:04] rickread commented on #4912
Apologies, this is Umbraco version 7.13.2 assembly: 1.0.6974.19955 (I'll update the issue with this as well)

[2019-03-08 12:04] NurhakKaya commented on #4138
@cheeseytoastie The server is hosted on Azure and [KUDU](https://blogs.msdn.microsoft.com/benjaminperkins/2017/12/07/how-to-check-if-azure-app-service-is-on-2016-what-version-of-iis/) tells me that OS version is Microsoft Windows NT 10.0.14393.0.

And here is my structure;
- One App Service Plan for all live Apps and Slots
- One App Service for the Umbraco backoffice
- One App Service for the Fron

[2019-03-08 12:14] PeteDuncanson opened #4913 "V8: Agree on AngularJS coding style and standards moving forward"
There is lots of talk of tidying up the AngularJS code base some more, upgrading the source to use components more (now they are available), clean up the name spaces and trying to move over to more ES6 features. All of which mean we could very quickly get ourselves in a mess if we don't agree on a style for doing this and how to format the code.

Good converation started over here https://github.c

[2019-03-08 12:21] cheeseytoastie commented on #4138
I've isolated the issue to this.

If you load the backoffice everything works.
If you load the backoffice and then, in another tab, open the front end then in your other tab the save and publish now fails with a 417.

So it seems to be something in the front end code killing the session and/or cookies that Umbraco relies on.

Do you see the same behaviour? I think this is not an Umbraco thing for

[2019-03-08 12:24] PeteDuncanson commented on #4875
I've moved the "style guide" conversation over to another issue (https://github.com/umbraco/Umbraco-CMS/issues/4875#issuecomment-470649145).

I think there is a lot to be said for getting everything "componentised" up as best we can as it should make swapping over to another framework int he future easier to rationalise about. With some work the components can end up looking pretty much like stand

[2019-03-08 12:39] cheeseytoastie commented on #4138
As an update - I can see that the UMB-XSRF-TOKEN cookie is being killed by the frontend.

In our instance there is some javascript (possibly an AJAX call) that is killing this just after the page load. If i disable JS and load the frontend everything continues as normal. I'm still looking at it and will do further digging. My struggle is I can't recreate this locally.

[2019-03-08 12:46] nielslyngsoe opened #4914 "Multilingual scheduled publishing issue"
Today you cant schedule publishing unless all mandatory language got a schedule publishing date. But un-checking a variant after you have set a date.

[2019-03-08 12:55] cheeseytoastie commented on #4138
OK - It's due to a third party cookie control tool that someone installed on our website. Despite accepting the cookies the javascript that it calls is killing the UMB-XSRF-TOKEN token.

I wonder if the Umbraco backend should be checking for the existence of this cookie and bouncing users to the login splash screen as a protection though clearly this issue is *not* Umbraco's fault in our case.

I

[2019-03-08 13:31] PerplexDaniel commented on #4888
Agree that it would be a great change to let the developers specify label/value for checkbox / radio / dropdown lists rather than just the label which then gets some random pre-value. Thanks Stephan for the background on why that is.

We actually never use these built-in types for exactly this reason and are using custom versions with label/value for years now. The ModelsBuilder class then has the

[2019-03-08 13:35] jveer opened #4915 "V8: Language Variants editable when language is not set in cultures & hostnames"
It's currently possible to configure the language variants of a page even though the page is not available in that language.

Reproduction
------------
### Specifics

- Umbraco 8.0.0

### Steps to reproduce

1. Clean install Umbraco 8
2. Settings > Language > Add new. For example: _German (Germany)_
3. Create a new document type, allow varying by culture. For example: _Homepage_
4. Create a homepa

[2019-03-08 14:07] #4812 closed

[2019-03-08 14:14] StefanoChiodino opened #4916 "Umbraco v7.0.6 breaking change"
Hello, I've upgraded Forms from v7.0.5 to v7.0.6.

I've found that some changes were introduced in how scripts and styles are loaded: where in the `DatePicker.cshtml` file pikaday was previously loaded like this
[code]

It's now
[code]

This broke our forms because it's handled in the `Form.cshtml` that we override with our own implementation in our theme.

Not sure if I misunderstood how to use t

[2019-03-08 14:32] HistoricEnglandDigitalTeam opened #4917 "Site Tree shows the green bar on page preview, even though nothing has changed"
This is a long standing issue which is still present in Umbraco v7.13.2. (U4-9912 in pre-GitHub threads). Thought it had been fixed, but does not look as though it has.

If you preview a page, without having made any changes, then the green + bar displays on the item in the Content site tree.
![image](https://user-images.githubusercontent.com/22772250/54034380-9ae00b80-41ae-11e9-8698-96a5183b860f.

[2019-03-08 16:36] PeteDuncanson opened #4918 "V8: Revisit javascript compression for core code"
The compression we use via ClientDependancy is "good enough" up until now but javascript compression has moved on quite a bit and we should at least experiment with what we might be able to do. Along side that this could be a good place/time to discus how best to get any gains into the build process without messing up the flow too much or making it any harder to develop with.

As much as possible

[2019-03-08 20:17] kjac commented on #4778
Looks like I'm wrong on this one. I'll update the PR.

[2019-03-08 21:24] madsrasmussen opened #4919 "Content Picker/MNTP - show custom properties in node preview."
When selecting a node with a content picker/MNTP, you get all small preview of the node with an icon, name and the URL. I many cases it would be useful to get a customized preview instead. A “simple” solution that doesn’t require any custom markup would be to select which custom fields from a document type that should be allowed to be shown on the small preview. The selected properties would then

[2019-03-08 21:32] madsrasmussen opened #4920 "Show document type alias when you hover the document type name on info tab."
When developing you often need to use the document type alias. A quick way to get this is to go to the info tab and click on the document type. An even faster way would be to reuse the convention from the properties and show the alias when the hovering over the document type on the info tab.

[2019-03-08 21:39] madsrasmussen opened #4921 "Media Picker - restrict on file type (.svg, .mp4 etc)"
Sometimes you need to restrict a specific media picker to a particular type of file. It could be cases where you only want to allow SVG upload, video uploads, etc. A pre value field to specify which file types are allowed in the data type would be amazing.

I imagine the functionality could work very much like the "Allow items of type" in the Multinode tree picker.

---
_This item has been added t

[2019-03-08 21:46] madsrasmussen opened #4922 "Media picker should support a minimum and a maximum number of items."
Today it is only possible to select whether a media picker is allowed to choose one item or multiple items. I would love to see the same settings as in the Multinode tree picker where you can specify the minimum and a maximum number of allowed items.

[2019-03-08 22:03] madsrasmussen opened #4923 "Reordering of “allowed child nodes” in doc type editor. Reflect when creating a new node."
When adding allowed child nodes to a document type, they are listed in alphabetical order. It would be a great feature if it were possible to set the order of the doctypes. Many times you have doctypes that are more used than others, and it would be great if it were possible to be able to have these first when creating new content.

I imagine it should be possible to drag and drop the allowed doct

[2019-03-08 22:18] madsrasmussen opened #4924 "MNTP - when using "Allow items of type" show a tooltip on hover which types are allowed to be selected."
When using "Allow items of type" in the MNTP, all types that are not allowed are dimmed with a not allowed cursor on them. From an editors point of view, it is not always obvious why a node can't be selected. A tooltip with a text like "Nodes with the type Blog Post can only be selected" would make it more clear why some nodes can't be selected and where to go look for the right ones.

[2019-03-08 22:33] madsrasmussen opened #4925 "Data types/doc types “Health Check” - Clean up Dashboard"
At some point a project reaches a certain size or a number of involved participant where the overview of where all data types/document types are used, whether they are in use or whether there might be duplicate data types with the exact same settings (I look at you text string) and some clean up is needed.

It would be a killer feature with a developer-focused dashboard where you could get an over

[2019-03-08 22:43] nathanwoulfe commented on #4917
I'm speculating, but it's probably because preview saves the page first

[2019-03-08 22:59] PeteDuncanson commented on #4918
I've had a play around with Terser so far (its the recommended replacement for uglify these days) https://github.com/terser-js/terser and had some good results in my tests.

There is a gulp task (https://www.npmjs.com/package/gulp-terser) to include this the build nice and easy which I'm happy to add if we think this is a goer.

Terser can do a number of things (and has many options that we can tu

[2019-03-09 00:52] NurhakKaya commented on #4138
I've had a quick look @cheeseytoastie , I think you are right, I could login to Umbraco backoffice and then I rendered the FE website and I have started to see this problem. When I disable the javascript in the browser and then refresh the Umbraco backoffice, then I don't see this problem in Umbraco website any longer. I will investigate this further and update you here, thanks and stay in touch @

[2019-03-09 13:19] kjac commented on #4923
Great idea! I'll see if I can cook up a fix for this 👍

[2019-03-09 18:10] marcemarc commented on #4925
@madsrasmussen have you had a look at @DanDiplo's God Mode? https://our.umbraco.com/packages/developer-tools/diplo-god-mode/ it's what I use for some of the issues you describe above, and could be a good inspiration for something in the core...

[2019-03-09 18:36] kjac commented on #4923
Whoa... that was a bit more cumbersome than expected. But totally worth it. PR in #4927

[2019-03-09 18:40] kjac commented on #4920
Pretty sure it's already shown 😄

![image](https://user-images.githubusercontent.com/7405322/54075735-fee3fc00-42a2-11e9-8d09-41aa80386766.png)

One could argue that these hover titles shouldn't be shown for non-admins, as they really make little sense for editors?

[2019-03-09 19:22] kjac commented on #4922
There's a migration challenge here. Having "Minimum number of items" and "Maximum number of items" there's no longer any need for "Pick multiple items". Which means... how to migrate?

A suggested approach could be:

- If "Pick multiple items" is set to true, both "Minimum number of items" and "Maximum number of items" should be set to 0 (no limits).
- If "Pick multiple items" is set to false, "Mi

[2019-03-09 19:34] DanDiplo commented on #4925
One difficulty (that I've never been able to get around) is that the Umbraco APIs don't "recognise" data types that are "nested" within other data types (eg. Nested Content etc). So God Mode can show you which datatypes are being directly used within a document type, but it can't "see" data types that might be nested as JSON within other types, as the APIs doesn't expose that information.

It woul

[2019-03-09 21:19] kjac commented on #4740
PRs in #4928 and #4929

[2019-03-09 22:04] kjac commented on #4905
Yes! This has annoyed me too... PR in #4930

[2019-03-09 23:00] DavidDigitul commented on #4911
I am experiencing this same issue, has anyone found a work around?

[2019-03-09 23:10] bjarnef commented on #4911
@DavidDigitul the `imagepicker` property editor should probabaly use `editorService` instead and use the infinite media picker.

[2019-03-10 01:19] nathanwoulfe commented on #4913
Been thinking about this a bit more - maybe the easiest starting point, and quickest wins, would be to tidy up the project structure. It's pretty confusing at the moment, which slows down development and raises the barrier to entry, two things we want to avoid.

Get stuff namespaced appropriately, located appropriately, and then start chipping away at code improvements.

[2019-03-10 09:17] kjac commented on #4915
First of all: Sounds like you should not be using culture variant document types to begin with, if you're going to create a separate content tree per language?

Anyway...

In a culture variant site it's very handy to be able to add content in all languages, even if the (final) domains aren't yet assigned to the root. I don't think we should be limiting the available languages in the editor based o

[2019-03-10 09:49] jveer commented on #4915
Thanks for your reply @kjac.

The reason we have separate culture variants is that we have region-specific sites with multiple languages. For the German website we would like to have all content available in German and English. In the end this setup will be used for about 20 countries with all different content and languages. We wouldn't want to have the content editor have a list of 20 languages

[2019-03-10 11:10] kjac commented on #4915
My immediate thought is that the cultures assigned to the host names are exactly what would be needed for this case. A pretty perfect fit.

Maybe the core team can advise on an extension point that lets you filter out the available variant languages based on the root level domains?

[2019-03-10 11:40] kjac commented on #4915
After a bit more reflection... have a look at the `SendingContentModel` event on `Umbraco.Web.Editors.EditorModelEventManager`. If I'm not mistaken you can tweak the outgoing content using this event - e.g. filter out available variants.

If you succeed in your endeavour, by all means post the resulting code here for future reference. I have a feeling this isn't going to be an entirely uncommon ca

[2019-03-10 13:23] NaMonitoru opened #4932 "V8 Backoffice RTE has bad paths to style files in nesteed folders"
In back office RTE does not offer defined styles in the drop down element.

Reproduction
------------
Insert the style file for RTE into the subfolder "css".
Example: <strong>/css/namo/rte.css</strong>
rte.css contains blocks / ** umb_name: * /
RTE element drop down in backoffice does not offer choices.

&lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; id=&quot;u1&quot; href=&quot;htt

[2019-03-10 13:30] NaMonitoru commented on #4932
In the Chrome Context Menu - Explore tag IFRAME of rte elements tag head and links

[2019-03-10 13:49] madsrasmussen commented on #4920
That looks very much like V8. The same functionality in V7 would be awesome 😄

[2019-03-10 13:59] madsrasmussen commented on #4925
Yeah, I have seen God Mode, but never tried it. What I can tell from the screenshots it still looks like a very manual process to go through everything (correct me if i'm wrong). I am looking more for a solution that can help you with best practices in Umbraco and help prevent making mistakes.

I can see the challenge with nested data types :/ Maybe the first iteration could be to detect data type

[2019-03-10 13:59] madsrasmussen commented on #4923
Awesome! It would have been a wonderful feature in V7 too ;)

[2019-03-10 15:23] madsrasmussen opened #4933 "Add an indicator to a list view item if it has child nodes."
When you have a list view item with child nodes there is no indicator that there are items underneath.

[2019-03-10 15:30] madsrasmussen opened #4934 "Selecting text in context menu closes the dialog"
When you select text in the context menu (do a swipe left with your mouse) the dialog closes. It is especially annoying when using Umbraco Cloud, and you get a deploy error and want to copy the error message. The dialog then closes, and the error message is gone, and you have to wait for another deploy/restore.

The "functionality" is caused by the ng-swipe-left directive on the dialog. I think th

[2019-03-10 15:57] JeffreyPerplex opened #4935 "v8 - The language <language>-<culture> already exists when added the <language> already"
Using Umbraco v8.0.0 and setting up a multilingual website.

As my first language I've added "Dutch" to use on my Dutch website:

![before](https://user-images.githubusercontent.com/12457148/54087653-36ab7c00-4355-11e9-804f-4aee685efc11.png)

As a second language I want to added "Dutch (Belgium)" (Flemish) to use on my Belgian website.

But as soon as I want to add that one I get the error message

[2019-03-10 16:10] JeffreyPerplex opened #4936 "v8 - Selecting "true/false" editor during document type generation"
I am creating a new property on a doctype and want to select the checkbox which is called "True/false" by default.

![truefalse - 1](https://user-images.githubusercontent.com/12457148/54087807-3a400280-4357-11e9-8ae7-1af5cae97e7f.png)

Normally if you start typing it looks for the filterstring within the names of the doctype. So if you type "text" you only get a textstring and textarea:

![truefal

[2019-03-10 18:04] kjac commented on #4923
Pretty sure I could be persuaded to backport the PR to V7 😆

[2019-03-10 18:14] kjac commented on #4923
V7 PR in #4937

[2019-03-10 18:46] madsrasmussen commented on #4923
You are a champion. Fingers crossed it gets merged 😃

[2019-03-10 19:42] skttl commented on #4936
Wasn't that one renamed to checkbox in 7.13?

[2019-03-10 20:10] matthew-darby commented on #4656
PR: https://github.com/umbraco/Umbraco-CMS/pull/4938

[2019-03-10 20:29] matthew-darby commented on #4681
PR: https://github.com/umbraco/Umbraco-CMS/pull/4939

[2019-03-10 20:44] Myster commented on #4663
Thanks for looking into that, it's not my area of expertise.
To solve my immediate problem I have just edited the core JS file :-\
So now I've been given another task to keep me busy.

[2019-03-11 02:00] Shazwazza opened #4940 "Save a media reference in RTE instead of media URL in property editors"
We need to do a similar thing as we do with links in the RTE as we do with media. For example, when picking a link in the RTE we store an UDI so it's resolved dynamically via property value converters, however for media we currently store the media path which means when the media is updated the RTE image is not, we need to change the local media link to store an entity identifier instead.

There a

[2019-03-11 02:03] Shazwazza opened #4941 "Create property value converters for property editors that will store media references"
Depends on #4940

Once #4940 is completed we will need to create property value converters to deal with the stored media references to output the media URLs. The URLs returned will eventually require using a new media url provider (part of a diff task)

[2019-03-11 02:06] Shazwazza opened #4942 "Create media Url provider"
Relates to #4941
Relates to #4940

Just like we have for content, we need to have a media URL provider which can be replaces (just like content url providers). This is an important step towards being able to properly support CDNs and things like Blob media providers.

If media is stored in blob storage and is pushed to a CDN, we need to be able to return the CDN media URL from a media URL provider

[2019-03-11 02:16] Shazwazza opened #4943 "SPIKE - Determine how we deal with Media URL providers and the media path stored with Property editors"
For RTE/Grid/etc... we'll store a media reference instead of a media path (i.e. #4940) , however we need to figure exactly how to do this. For example we store "local links" for links but we need to store "local media" for media. Then we need to figure out which property editors we need to do this for and how to do it. For example, the rte currently stores a `data-udi` attribute on it's img tag, d

[2019-03-11 03:55] Shazwazza opened #4944 "SPIKE - determine how to utilize the umbracoServer table to store lastsynced.txt info"
Currently we store a text file locally: `App_Data/DistCache/lastsycned.txt` which stores an INT id of the last cache instruction read from the database which allows for flexible load balancing to work along with ensuring the in-memory cache is robust even between appdomain restarts and overlapping appdomains during restarts.

It would however be better if we stored this value in the database direc

[2019-03-11 05:50] kjac commented on #4943
Storing the relative path is definitely flexible. In a CDN setup, all you need to do is prefix with your CDN host and presto!

Also consider scenarios where a seeded DB is moved/promoted to production. The production CDN is likely to differ from the previous environment - much like your "what if the host changes" scenario.

[2019-03-11 07:45] zpqrtbnk commented on #4915
Quick summary of what I understand:
* Although you may have 20 langs configured, on a specific branch of the content tree you'd like editors to only see 3 of them, because the other langs are not relevant for that branch
* You thought that langs that are not configured in the hostnames dialog would not show
* This is not the case, all langs show

Filtering the langs does not feel too uncommon inde

[2019-03-11 08:18] kjac commented on #4915
@zpqrtbnk I don't think the publishing dialog would show the languages if they were filtered out in `SendingContentModel` - I'm *almost* sure all the save/publish/schedule/... dialogs simply iterate the available variants on the JS model on the client.

@jveer I don't suppose you had a chance to look at this yet?

[2019-03-11 08:26] jveer commented on #4915
@zpqrtbnk @kjac I'm currently having a look at this, the filtering on variants is possible on the `SendingContentModel` event. Just need a little more checks to make sure it also works when creating new content items. Will update you once finished!

[2019-03-11 09:28] jveer commented on #4915
Thanks both! Ended up using the following code, which seems to be working correctly. Any feedback is appreciated :)

	private void EditorModelEventManager_SendingContentModel(HttpActionExecutedContext sender, EditorModelEventArgs<ContentItemDisplay> e)
	{
		var contentId = e.Model.Id == 0 ? e.Model.ParentId : e.Model.Id;
		var contentDomains = new List<IDomain>();
		while (!contentDomains.Any() &&

[2019-03-11 09:59] kjac commented on #4915
@jveer nicely done, thanks for sharing!

Instead of fetching the parents one by one in the while loop you could probably use `ContentService.GetAncestors(int id)`... provided you also include an initial check for `ParentId` in case you're editing the current root (in which case `ContentService.GetAncestors(int id)` should return an empty list).

[2019-03-11 10:03] Jeavon commented on #4944
You would need to consider scenarios where the DatabaseServerRegistrar has been replaced and so the umbracoServer table isn't in use. Slave servers also may have readonly access to the database.

[2019-03-11 11:43] #4515 closed

[2019-03-11 12:14] #4880 closed

[2019-03-11 12:16] matthew-darby commented on #4686
PR: https://github.com/umbraco/Umbraco-CMS/pull/4946/

[2019-03-11 12:28] DanDiplo commented on #4925
God Mode is more a swiss-army knife; it's designed to provide you with information to make decisions with. So it can show you what data types are not associated with a document type, but it won't delete them for you - I didn't really want that level of responsibility! But it provides a fairly wide range of diagnostic information - you can get an overview of some of this from a blog post I wrote, w

[2019-03-11 12:52] zpqrtbnk commented on #4839
Current `Siblings` implementation does indeed return the current node, because I totally forgot to exclude it - and yes, that's something we should / can fix (should be simple).

I guess the `PreviousSibling<T>` was a way to get the previous sibling of a given type. Yet... I'd rather not have previous / next at all if that's not too bad. To keep things simple a content currently only knows about i

[2019-03-11 13:36] zpqrtbnk commented on #4839
Looks like I was too quick to reply: even in v7, `Siblings` does in fact return all parent's children, including this one. So it's not *really* siblings. We've discussed it with Bjarke and it looks like the bare minimum which we'd like to implement is:

`ParentChildren()` returns the children of this document's parent - including this document

Not sure we'd implement `Siblings()` but if someone n

[2019-03-11 13:39] bergmania commented on #4839
I agree with @zpqrtbnk.  I don't see any good use case for returning all siblings without the current one, as long as I don't know the current node's position between these children.
In all use cases I can think of, I would like to special case handling the current node (e.g. marking active in a list).

[2019-03-11 13:46] facingdigital opened #4947 "Skype link ("sip:name@domain") is automatically converted to "mailto""
When we insert a skype link inside the RichText editor with the syntax : "sip:name@domain", the URL is automatically transformed to "mailto:sip:name@domain" causing a bad link.

More details about Skype link :
http://skype4businessinsider.com/voip/3-ways-start-conversations-skype-business-auto-contact-links/

Reproduction
------------

Insert a link from the RichText editor and enter a skype link

[2019-03-11 13:57] #4764 closed

[2019-03-11 15:58] marcoteodoro opened #4949 "Grid Settings Row configuration missing Save button"
While adding or editing an Grid row i can't see the option to save changes.

1) To replicate the issue just create a new doctype property of type grid.
2) Edit the grid layout
3) click on add row configuration or edit an existing one
4) look at the bottom of the dialog and you can't see the save or submit button. Just the close button is available.

![image](https://user-images.githubusercontent.c

[2019-03-11 16:15] zpqrtbnk commented on #4590
PR #4950

[2019-03-11 18:07] abjerner commented on #4949
Hi @marcoteodoro and thanks for reporting 👍

While it is not entirely obvious, it appears the close button actually does what you would expect the submit button to do.

But for consistency, I believe there should be a submit button to continue with the changes, while the close button would discard the changes. That's also how it works in Umbraco 7.

[2019-03-11 20:12] jaandrews opened #4951 "Removing default template from doc type doesn't set template of existing nodes to 0"
I was getting an error about UmbracoContext.Current being null. I eventually determined that the error occurred because the problem nodes were still connected to a template after I had removed the default template from their doc type (see [here](https://our.umbraco.com/forum/extending-umbraco-and-using-the-api/96139-why-is-umbracocontextcurrent-becoming-null-when-calling-static-helper-from-inside-

[2019-03-11 21:07] RobinHoody opened #4952 "Umbraco Forms - V8. Workflow - Save as Umbraco content node Content Picker, 404"
If I add a create umbraco node on form submission workflow step, under - Save as Umbraco content node, where to save, if I click on choose (the content picker), I get a 404 with /views/common/overlays/treepicker/treepicker.html not found.

![image](https://user-images.githubusercontent.com/4989076/54157891-2ec90600-4441-11e9-980b-a9f49d2fb4af.png)

Reproduction
------------

### Bug summary
Looks

[2019-03-11 21:11] RobinHoody commented on #4752
Thanks for looking at this so quickly guys!

[2019-03-11 22:46] PeteDuncanson commented on #4913
[directives.xlsx](https://github.com/umbraco/Umbraco-CMS/files/2954470/directives.xlsx)
I've created the attached spreadsheet with all the directives I could find and the modules they are saved under. I've started with some ideas (and they are only ideas feel free to rip it all up and start again) on possible module re-names.

There are a lot of directives that don't have any "umb" prefix, would l

[2019-03-11 22:57] bjarnef opened #4953 "v8: Remove references to UmbracoTemplatePage in packaging unit tests"
UmbracoTemplatePage has been removed in v8, but there are still 3 references to this in the Tests project.
https://github.com/umbraco/Umbraco-CMS/search?utf8=✓&q=UmbracoTemplatePage&type=

I guess these three XML files can be removed since it is for legacy packages, which doesn't work on v8.

[2019-03-12 00:40] Shazwazza commented on #4913
Nice! I'd be good with Google Docs, it has a history too so that's kinda built in.

So yes i think we can agree that this project is need of a cleanup. This project over the past many years, even when angularjs was in it's infancy has just organically evolved. Way back when, there wasn't really any angularjs 'experts' since it was so new, so we've all learned a thing or two since then. There was a

[2019-03-12 01:35] nathanwoulfe commented on #4913
I think the non-umb-prefixed directives are attribute-only, while umb-prefixed are elements. I think, haven't checked to confirm.

[2019-03-12 05:15] Shazwazza commented on #4884
Have started a PR to fix a few things regarding this: https://github.com/umbraco/Umbraco-CMS/pull/4955 (not done yet though)

This PR has a JS hack to allow you to select a variant for publishing without it's name filled in, this is not how it normally works though but allows testing this scenario for now.

As an example if you were to clear out the French name, go to the English variant and publi

[2019-03-12 06:40] kjac commented on #4951
@jaandrews pretty sure this is by design. What happens if you explicitly delete the old template? (might want to backup the DB first).

[2019-03-12 07:30] kjac commented on #4935
PR in #4957

[2019-03-12 07:40] PeteDuncanson commented on #4913
Shannon, quit apologising for this code base. We get it. Remember it works on 100,000’s of sites 😉

When I was grumbling that V8 was our “to soon” this is why. We now can’t break anything (or can we) and the major version bump would have been the perfect time to do it. I wanted to get all this stuff done as part of ingredient angulsrjs but the race was one even back then (right after Code Garden).

[2019-03-12 08:01] bjarnef opened #4958 "Move umb-loader to separate component"
In most places in backoffice UI, it now use `umb-load-indicator` directive, but a few places, mainly at trees it use `umb-loader` + `umb-loader-wrapper` https://github.com/umbraco/Umbraco-CMS/search?q=umb-loader&unscoped_q=umb-loader

I think is would make sense to put this in another component e.g. umb-loader so the markup is only maintained from a single file. Furthermore it is wrapper umb-loade

[2019-03-12 08:15] nathanwoulfe commented on #4913
Seconding the no more apologies - big codebases get messy. That's life.

Should be able to tidy up without breaking stuff - if it's a like for like refactoring, we could get a lot tidied up and optimized, then save any breaking stuff for minor releases, but there really doesn't need to be anything breaking if it's approached sensibly and with enough planning...

[2019-03-12 08:29] tranphuongyd opened #4959 "Local link in rich text editor doesn't render correctly"
Hi everyone,

Currently, I'm using the Umbraco CMS 7.13.1 . So I'm still get error when display the local link that included in the Rich text editor. For now, just work around by using the `ParseInternalLinks` function.
`Umbraco.Web.Templates.TemplateUtilities.ParseInternalLinks(strValue)`

Can someone tell me this issue can be fixed in the latest version or not?

Thanks,
Phuong Tran

[2019-03-12 09:18] RobinHoody commented on #4952
Looking at other working tree pickers, it looks like this url should be: /views/common/infiniteeditors/treepicker/treepicker.html

Is that correct?

[2019-03-12 09:22] RobinHoody commented on #4952
@nul800sebastiaan Also, is this the right project for this bug report? I can't find forms to do a pull request (but I don't think forms is open source).

[2019-03-12 09:23] nielslyngsoe commented on #4884
@Shazwazza Cool, I´m looking forward to this fix. Lets talk tomorrow.

[2019-03-12 09:23] kjac commented on #4659
This is a general issue with the tree picker in dialogs. I'm on it.

[2019-03-12 09:31] bergmania commented on #4952
The right project for this bug is: https://github.com/umbraco/Umbraco.Forms.Issues

I can confirm the bug.

[2019-03-12 09:35] kjac commented on #4659
PR in #4960

[2019-03-12 09:52] bergmania commented on #4952
After more investigation, this is duplicate of https://github.com/umbraco/Umbraco.Forms.Issues/issues/105

[2019-03-12 09:54] #4952 closed

[2019-03-12 09:54] RobinHoody commented on #4952
Ok thanks.

[2019-03-12 09:56] RobinHoody commented on #4952
If you don't mind me asking, do you know when this fix will be released?

[2019-03-12 09:56] nielslyngsoe opened #4962 "V8: Use umb-checkbox instead of input-checkbox for invariant dialogs"
I would like us to use umb-checkbox instead of input-checkbox for invariant-language dialogs. Like Schedule publishing and Publish with descendants

[2019-03-12 10:18] bergmania commented on #4952
Not today but probably one of the upcoming Tuesdays

[2019-03-12 10:22] Frost117 commented on #4836
@Aaen Could you allow the Waasp to have access to your network?

I had a customer who had the same issue and when he ran it as a administrator it worked for him

[2019-03-12 10:23] RobinHoody commented on #4952
Ok thanks!

On Tue, 12 Mar 2019, 10:18 Bjarke Berg, <notifications@github.com> wrote:

[2019-03-12 10:59] #4827 closed

[2019-03-12 11:05] mclausen opened #4963 "V8: MemberTypeService.Save throws exception"
Hi Core team
I was tasked to solve [Umbraco-Deploy](https://github.com/umbraco/Umbraco-Deploy/issues/355),
which was fixed in [PR](https://github.com/umbraco/Umbraco-Deploy/pull/357).

It revealed a potential error in core cms when saving a MemberType.

Reproduction
------------
To reproduce this bug you need to work from deploy, branch 'tasks/355-Variations-are-not-supported-on-members'

- Create

[2019-03-12 11:42] kjac commented on #4924
V8 PR in #4964 - if it passes approval I'll backport it to V7.

[2019-03-12 13:37] nielslyngsoe commented on #4627
@Shazwazza plus, in Nested Content validation errors are not re-evaluated at first. So if you had an error, corrected it, click Save & Publish again. You will see a warning, though clicking Save & Publish an extra time will make it succeed.

![ScreenRecording20190312at1](https://user-images.githubusercontent.com/6791648/54204314-4b624e00-44d4-11e9-8e59-6032e314e62a.gif)

[2019-03-12 14:19] CharLUON commented on #3235
Have the same issue in IE11 (version: 11.523.17134.0)

[2019-03-12 14:59] bjarnef opened #4965 "v8: Package download doesn't handle special characters"
In v8 when using e.g. danish characters `æøå` or `ÆØÅ` in package name and clicking "download" at the saved package, it doesn't seem to use correct UTF-8 encoding of the `.zip` file.

E.g. we have a package called "Ørskov Opstartspakke". In v7 the generated zip file was named `Ørskov_Opstartspakke_1.0.0.zip`, in v8 this is generated as `Ã_rskov_Opstartspakke_1.0.0.zip`.

[2019-03-12 15:02] bjarnef commented on #4965
It seems it need to handle the encoding correct here: https://github.com/umbraco/Umbraco-CMS/blob/91c52cffc8b7c70dc956f6c6610460be2d1adc51/src/Umbraco.Web/Editors/PackageController.cs#L97-L110

[2019-03-12 15:22] wipcore-jonasboman opened #4966 "Field is truncated on ContentService.SaveAndPublishWithStatus"
A brief description of the issue goes here.

When saving and publishing content object a string field on the object (not related to the change) is  truncated from 4characters length originally having the string value of _7000_.

Reproduction
------------

### Bug summary
Using ContentService to fetch IContent.
When saving and publishing another field on the object is being truncated. Cannot see wh

[2019-03-12 15:56] abjerner commented on #4966
@wipcore-jonasboman thanks for reporting this 👍

7.5.14 was released almost two years ago. Would it be possible for you to test this in the most recent version of Umbraco? Chances are this could already be fixed - either directly on indirectly from som other change 😉

If it hasn't been fixed, describing a bit more about the property that is being truncated would help - eg. what is the data/value t

[2019-03-12 16:05] DanDiplo commented on #2967
@nul800sebastiaan Just be aware that this can break peoples' builds when upgrading from a site that already uses RJP MulitUrlPicker. I just upgraded a site and had build errors because:

`'Link' is an ambiguous reference between 'RJP.MultiUrlPicker.Models.Link' and 'Umbraco.Web.Models.Link'`

This will happen to any projects that have the `RJP.MultiUrlPicker.Models` namespace and the `Umbraco.Core

[2019-03-12 17:16] jaandrews commented on #4951
Deleting it isn't an option, as the template is used by other doc types. I can test, but I doubt doing so would update the template settings if the update to the doc type didn't. I know I can check this via the contentTypeService, but I want to avoid the database call, which an updated template id would do. If this is by design, it would be helpful to a property/method on IPublishedContent to chec

[2019-03-12 17:50] DanielToft opened #4967 "V8: List View - Unable to sort on "Is Published", when language variants is used"
Hi

In a List View with Language Variants, the sorting functionality on the built In "Is Published" property, does not sort correctly.

It seems that sorting functionality is disabled on the "Status" field. Why is that the case? The best option will definitely be to allow sorting on the Status field, since nodes with languages variants can have 3 states. Published, Draft and Not Created.

Reproduc

[2019-03-12 18:32] kjac commented on #4962
@nielslyngsoe you mean culture *variant* dialogs, right? Like this one:

![image](https://user-images.githubusercontent.com/7405322/54226170-862cac00-44fd-11e9-8849-553cf9557ca5.png)

[2019-03-12 19:02] kjac commented on #4962
...and turn them into this:

![image](https://user-images.githubusercontent.com/7405322/54228098-ba09d080-4501-11e9-8d65-96a0f2572371.png)

![image](https://user-images.githubusercontent.com/7405322/54228120-c857ec80-4501-11e9-9455-f256ca75a4bc.png)

...etc.

[2019-03-12 21:22] bjarnef commented on #4965
It seems the headers `x-filename` isn't url encoded and it is shown like this in the header.

![image](https://user-images.githubusercontent.com/2919859/54236947-24783c00-4515-11e9-99be-915c36082efc.png)

and the value is directly used as filename in `umbRequestHelper.downloadFile`:

[code]

[2019-03-12 21:31] bjarnef commented on #4965
When using one of the following:

[code]

[code]

![image](https://user-images.githubusercontent.com/2919859/54237573-93a26000-4516-11e9-9830-c551778d9e5c.png)

[2019-03-12 21:47] jonathantwite opened #4969 "'concat' is not a recognized built-in function name"
Updating content causes the error `'concat' is not a recognized built-in function name.` when running on SQL Server 2008.  This may be a fixable issue, or the documentation relating to minimum requirements will need changing

Reproduction
------------

### Bug summary
The documentation states that the minimum version of SQL required is SQL Server 2008 ([here](https://our.umbraco.com/documentation/

[2019-03-12 23:56] PeteDuncanson commented on #4913
Spreadsheet can be found here:

https://docs.google.com/spreadsheets/d/1sEH0Cz59MDsMT8Fv-sDhli8I1KK79iyMFNCKhgBqVog/edit?usp=sharing

So far I've got controllers and directives in there. Not yet copied over my "suggestions" yet for the renames. Feel free to start commenting/editing.

[2019-03-13 03:31] Shazwazza commented on #4728
I'm re-opening this as i was in the middle of reviewing this, there is another issue that needs to be resolved first.

[2019-03-13 03:46] Shazwazza commented on #4913
Cool, I'm away next week but will see if i can get some time time add comments, etc...

Re: apologising ... really i'm just trying to answer all the questions like "would love to know the history of those (I suspect they just never got a clean up).",  "Its raises a lot of questions on style...", and all of the other questions of "why this?"? etc... (see #4875) . many of these answers are because o

[2019-03-13 03:49] #4590 closed

[2019-03-13 07:25] wipcore-jonasboman commented on #4966
Added in the last paragraph in the description,  _from 4 characters "7000"_, truncated being empty string field.

[2019-03-13 07:30] nielslyngsoe commented on #4962
Hi @kjac

Not exactly, the idea is to turn them into umb-checkbox, not the toggle.

A toggle can be used for things which can be turn on or off. Where checkboxes are for things that can be selected/picked/chosen which makes most sense in those screens.

For the language variant dialogs I already made a PR. So just need to check and make sure that we also make it for invariant-language dialogs

[2019-03-13 07:54] kjac commented on #4962
Ah! Right! Guess I read that thing all wrong to begin with 😊

Which dialogs are you wanting updated? Invariant content doesn't spawn dialogs on save or publish.

[2019-03-13 09:03] UPtamang opened #4972 "Umbraco 8 Grid Layout Issue When Adding Content in Source View"
I faced and issue while copying html content to grid layout RTE source view. I copied HTML content from existing site and paste it in source view (view source code button) of the

 RTE. After clicking submit button in source view I see RTE is not showing there. Instead of RTE I see my content (same situation when we are not focused within the RTE). Then I pressed save and publish button, now I see

[2019-03-13 09:08] jonathantwite commented on #4969
I have started a Fork trying a fix in

    src/Umbraco.Core/Persistence/SqlSyntax/SqlServerSyntaxProvider.cs

which looks at the SQL Server Version to determine what code to use.  If this works, I'll create a pull request and so if anyone confirms that this is a real issue and not just my installation, they can add it to the main codebase

[2019-03-13 10:13] nul800sebastiaan commented on #4969
@jonathantwite This code has been there for 3 years now, in v7 as well. I find it hard to believe that it is now suddenly causing errors.

How can we reproduce the error exactly?

[2019-03-13 10:17] hartviglarsen opened #4973 "V8: Unable to get all content of a certain type using GetPagedOfType()"
I was playing around with getting all content of a certain type. In V7 the ContentService had **GetContentOfContentType()**, however that does not exist in V8. Therefore I decided to try and be creative with **GetPagedOfType()**. Unfortunately the collection returned does not contain any items.

Reproduction
------------
[code]

### Expected result

I expect that `products` contains a collection o

[2019-03-13 10:23] nul800sebastiaan commented on #4969
Aha, I see you're referring to SQL Server 2008, I get it now. I think we'll need to update our documentation. Server 2008 fell out of mainstream support in 2014 and is falling out of extended support in September this year. https://blogs.msdn.microsoft.com/sqlreleaseservices/end-of-mainstream-support-for-sql-server-2008-and-sql-server-2008-r2/

As such, we won't be making any efforts to support it

[2019-03-13 10:25] #4969 closed

[2019-03-13 11:57] Malthebp opened #4975 "V8: Bug while selecting Culture and Hostname"
Reproduction
------------

### Bug summary

When selecting a Culture and Hostname in Umbraco v8.0.0 it doesn't get selected. I can attach domains with the culture, but I cannot select an overall language for the node.

It seems like the language is being selected, but once closed and opened again, it is default: "Inherit".

I am not sure whether this changes anything, but in the "Links" section fo

[2019-03-13 12:29] Shazwazza commented on #4973
It's because you are passing in `1` for the `pageIndex` parameter. Being an `index` it is zero based. So you are asking for page #2 by passing in `1` and you only have 2 records.

pass in `0` for the page index and it should work

[2019-03-13 12:29] #4973 closed

[2019-03-13 12:37] bergmania commented on #4973
Could have been nice to just request using something like
`var products = _contentService.GetPagedOfType(productTypeId, PagingInfo.AllItems, out var size, null);`

[2019-03-13 13:12] nielslyngsoe opened #4976 "V8: valPropertyMsg should hide when the error is corrected"
connects #4627

This issue is regarding Front-end validation, and for language variants and invariant content types.

The <val-property-msg> message on <umb-property> does not go away when error is fixed, but stays until all front-end validations have been fixed.

I would like the <val-property-msg> to go away as soon as the property is valid.

See this screen capture:
![2019-03-13 14 09 14](https

[2019-03-13 13:15] nielslyngsoe commented on #4976
same as this issue: connect #4627

[2019-03-13 13:42] warrenbuckley commented on #4943
# Spike Research Notes 📝🔬

## Current Editors storing media references
The following property editors in Umbraco use media paths as the data that they store

### Umbraco.Web.PropertyEditors
* ⚠️**RichTextPropertyEditor.cs**
This stores a raw HTML string which contains an `<img>` element which has a reference to a physical media path. See LocalLink & Rich Text Editor for further notes.

* ❓ **FileU

[2019-03-13 14:01] Lars-OJ opened #4977 "V8: Grid layout editorService dialogs close row settings dialog"
Hi,
When you try to open any editorService-editor (i.e. contentPicker, mediaPicker) from the row-settings dialog it will show a blur over the opened dialog. You can click this blur away but as soon as you close the mediaPicker (with editorService.close()), it will also close the row-settings dialog. This causes the image to never be saved.
Please look at this gif for a visual representation (note

[2019-03-13 14:24] nielslyngsoe commented on #4627
PR https://github.com/umbraco/Umbraco-CMS/pull/4978

[2019-03-13 14:41] bjarnef opened #4979 "v8: Dropup is behind grid hover overlay"
In grid it seems the grid overlay overlap the dropup button in footer.

I seems to be because this overlay has `z-index: 5;` while `.umb-editor-footer` only has `z-index: 1;`

When changing `.umb-editor-footer` to e.g. `z-index: 10;` it seems to fix it in this scenario.

![2019-03-13_15-36-19](https://user-images.githubusercontent.com/2919859/54287724-8339c600-45a6-11e9-8107-97dc2077f887.gif)

![i

[2019-03-13 14:44] bjarnef commented on #4979
When using ModelsBuilder and having the "Save and generate models" action, it can also be reproduced on document types.

![image](https://user-images.githubusercontent.com/2919859/54287897-d14ec980-45a6-11e9-91a2-c3ca93621627.png)

[2019-03-13 15:03] nielslyngsoe commented on #4962
Then this issue is fixed.
I just created this to make sure that there is none missing.

But I would love to switch all input checkbox to Umb-checkbox

[2019-03-13 15:43] nul800sebastiaan commented on #4836
This error is caused by the fact that Forms no longer has a version file on disk in v8.

Work has started on a newer version of this tool, which is in testing now. Save the text below as `UaaS.cmd` and give it a go.

Note: this new version ONLY works with VS2017 and higher.

[code]

[2019-03-13 15:43] #4836 closed

[2019-03-13 19:27] bjarnef commented on #4953
@nul800sebastiaan @Shazwazza can we remove these XML files?

[2019-03-13 19:28] bjarnef commented on #4867
This issue is fixed in https://github.com/umbraco/Umbraco-CMS/pull/4971 where it change grid settings/styles to infinite editing.

[2019-03-13 20:53] kjac commented on #4962
@nielslyngsoe couldn't agree more... I've started chipping away at 'em; PRs in #4982 #4983 #4984 #4985

[2019-03-13 22:54] Shazwazza commented on #4953
I don't think you can just remove these xml files, they look like they are being used in tests. If you want to modify the XML files to have the correct base page type in v8 then go for it, but you'll have to check for any failing tests and fixup accordingly.

[2019-03-13 23:58] Shazwazza opened #4988 "v8 - overlays after creating new content (redirect) reference a stale controller"
This is an interesting issue and i'm not sure how we work around this.

Here's the situation:

* Create a variant doc type with a text field property called 'title' that has validation enabled to be a Number (this causes server validation to occur)
* Create a new content item of this doc type, fill in the 'title' on language 1 to be correct like '1234' and fill in the 'title' on language 2 to be i

[2019-03-14 03:21] #4728 closed

[2019-03-14 03:22] Shazwazza commented on #4884
https://github.com/umbraco/Umbraco-CMS/pull/4955 PR is ready for review, there's tons of notes in there and turns out there was quite a few issues

[2019-03-14 07:52] bjarnef commented on #4934
@madsrasmussen I have noticed this as well. I think `ng-swipe` only simulate swipe event, so I doesn't distinguish between touch swipe and cursor selecting text (with a tolerance at some specified pixels).

It has previous been suggested to use Hammer.js https://hammerjs.github.io/

https://github.com/umbraco/Umbraco-CMS/pull/2819

Not sure how many places in the backoffice swipe events are used.

[2019-03-14 09:09] bjarnef commented on #4618
@nul800sebastiaan yes, I shouldn't use jQuery, just Angular and traditional javascript.

Opening an overlay like this would be great.
https://shareurcodes.com/demos/jquery-image-upload

But I also like these examples, where it upload and crop on upload (like we have today) and then the option to remove image or edit the crop, but not necessarily in fullscreen mode - it could just be an overlay (us

[2019-03-14 09:22] nul800sebastiaan commented on #4618
Alright, pick one, try it out, show us that it works and we can evaluate.

[2019-03-14 09:24] bjarnef commented on #4618
I will, but I would like to make this work first 😁
https://github.com/umbraco/Umbraco-CMS/pull/4487

[2019-03-14 10:05] nielslyngsoe commented on #4988
Hi @Shazwazza

I just tested this scenario, and I dont experience the issue you describe, I tested both with mandatory and not mandatory languages.

I do though experience an UX-issue, which also could be the solution to what you describe, (though it's not happening here).

As you suggest, I propose that we disable the "Save & Publish"-button in the dialog, when there is an error. For each languag

[2019-03-14 10:41] claushingebjerg opened #4989 "Custom listview datepicker shows time 00:00"
When making a custom listview and adding a Date picker datatype - (not date picker with time) - time is shown in the listview as 00:00 anyway

### Expected result
2019-03-17

### Actual result
2019-03-17 00:00

![Skærmbillede 2019-03-14 kl  11 41 54](https://user-images.githubusercontent.com/1854789/54350724-3a3d4c80-464e-11e9-88fe-09fd0208d466.png)

[2019-03-14 10:51] nul800sebastiaan commented on #4989
I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-03-14 12:38] nul800sebastiaan commented on #3722
Hi @jacklawry - It's difficult to come up with a great experience out of the box for everything, especially custom properties. The defaults list views are fairly simple but you can make your own layouts as well with a bit of code.

For getting a better view on custom properties, we would recommend looking into building a custom list view, a good blog post of this can be found here: https://24days.

[2019-03-14 12:38] #3722 closed

[2019-03-14 13:29] hartviglarsen opened #4990 "V8: Unable to use paging with ContentService's GetVersionsSlim"
While the method does allow you to provide a skip and take, they are not being used in the document repository:

[code]

https://github.com/umbraco/Umbraco-CMS/blob/dev-v8/src/Umbraco.Core/Persistence/Repositories/Implement/DocumentRepository.cs#L228-L236

[2019-03-14 13:29] nul800sebastiaan commented on #4512
Yep. Reserved keywords are: `id`, ` isPublished`, ` key`, ` level`, ` nodeName`, ` nodeType`, ` nodeTypeAlias`, ` pageTitle`, ` parentID`, ` path`, ` sortOrder`, ` template`, ` updateDate`, ` urlName`, ` writerID`, ` writerName`

[2019-03-14 13:29] #4512 closed

[2019-03-14 13:44] senneclaeskens opened #4991 "V8: .gitignore issue?"
I've cloned Umbraco-CMS from the dev-v8 branch. Running this project works correctly.
When I add this project (no modifications) to a different git service and I do a clean checkout (to a different folder), I receive errors when building:

**Invalid Resx file. Could not find file '\src\umbraco.web.ui\views\web.config'. Line 123, position 5.	Umbraco.Web	\Umbraco.Web\Mvc\Strings.resx**

**Invalid Re

[2019-03-14 14:44] nul800sebastiaan commented on #4991
I am not sure what you're trying to do, but I'm pretty sure you shouldn't need to do it.

Please use the downloads / nuget packages of Umbraco to use Umbraco.

You will only need to deal with the Umbraco source code if you wish to contribute to the Umbraco codebase.

[2019-03-14 14:44] #4991 closed

[2019-03-14 14:49] nul800sebastiaan commented on #4678
I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-03-14 14:55] RobertCopilau commented on #4884
Only had the chance to test for a little while but here is what I have found so far.
* Unpublish dialog has some issues with the checkboxes - https://www.useloom.com/share/aa1f7be8fd75402da0eff185b161b0c9
* The Save and  Publish dialog has the old checkboxes, regression somewhere?
* After Publishing all three languages of which two were mandatory and one had invalid name, this is how the dialog lo

[2019-03-14 15:25] nul800sebastiaan commented on #4636
Makes sense to me, would be great! 👍

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-03-14 15:38] karaokid commented on #4144
Same here, also an issue for our clients so we are interested in a solution, thank you.

[2019-03-14 15:41] nul800sebastiaan commented on #4654
This is a good point! At least you know how to work around it for now.

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-03-14 16:09] zpqrtbnk opened #4992 "NuCache "panic""
Under heavy multithreaded loads, or on some yet unknown situations, NuCache can panic in `ContentStore.CreateSnapshot()`. It has been reported once by Shannon in september, 2018 - then again by Bjarke a few months later - so it's quite rare but happens nevertheless.

And then there is [this Our thread](https://our.umbraco.com/forum/umbraco-8/96293-disabling-nucache-under-umbraco-8) so it definitiv

[2019-03-14 16:13] nul800sebastiaan commented on #4765
Hi @janborup - we currently don't support directly re-ordering compositions for the simple reason that it's impossible to tell where compositions are being used, re-ordering them on one document type might have the opposite effect on other document types.

You can manually set the sort order on the composition itself, so update the number on the top right:

![image](https://user-images.githubuserc

[2019-03-14 16:13] #4765 closed

[2019-03-14 16:16] nul800sebastiaan commented on #4771
Hi! We understand the feature request and have the same wish. This is a longer-term project which we can't work on immediately.

I've put this on the "idea" list for inspiration when we pick up work on the media library in the future.

[2019-03-14 16:18] nul800sebastiaan commented on #4781
Hi @uSkinned - I can't reproduce this at the moment, what did you change into what exactly? Changing from Textbox to  Textarea worked just fine.

[2019-03-14 16:18] #4781 closed

[2019-03-14 16:24] crick3t commented on #4992
For us it happens at every import, so we can replicate it.
Let me know if you need more information, code sample or something else.

(I am not sure how this issue tracing handled. Should I comment here or still on umbraco.com from now, or does not matter?)

Peter

[2019-03-14 17:04] HistoricEnglandDigitalTeam opened #4993 "Cannot view preview link url in IE or Firefox"
Hi - Can only preview a page using a preview link sent by email in Chrome browser

Does not work in IE11 or Firefox browsers.

Umbraco v7.13.2

Reproduction
------------
- Click on Preview in back office.
- Copy the preview url for that page preview
- paste the preview url into IE of Firefox browser
 - results >just bet a blank page
- if do the same in Chrome - preview of page displays

Expected r

[2019-03-14 17:24] crick3t commented on #4992
We have tried to replaced  `CreateAndSave` with `CreateContent`, but we have the same issue...

While the import is running I get the following error in a pop up screen when I click on something in the back office:

**For example - Settings - Log Viewer**

    An error occured

    An error occurred when trying to create a controller of type 'LogViewerController'. Make sure that the controller has