[2021-03-16 17:48] bergmania commented on #9843
@rasmusjp, Is this different from V8 or is this the expected behaviour if UnattendedInstalls are `false`?

[2021-03-16 17:50] #8264 closed

[2021-03-16 17:50] #7991 closed

[2021-03-16 17:50] #8836 closed

[2021-03-16 17:50] bergmania commented on #8836
Resolved in Alpha003

[2021-03-16 18:04] rasmusjp commented on #9843
@bergmania yeah, it shouldn't crash. Instead the installer should start normally, but the configure database step should be skipped

[2021-03-16 19:29] nathanwoulfe commented on #6053
@maartenmensink what did the clicking entail? Infinite editors? Content app switching? Pickers?

I have a feeling it's something in infinite editors, related to scope teardown...

[2021-03-16 20:38] nul800sebastiaan commented on #9982
As a workaround for now, you can update the `updateControlValue` method in `Umbraco\js\umbraco.controllers.js` to:

[code]

This method was added in @nathanwoulfe 's PR https://github.com/umbraco/Umbraco-CMS/pull/9681/files#diff-16bf5e50f31cc4c3ef3f2af6bf0a399b98e5e2e926e793184cffdc9d0f0ecbcdR105

I don't know how this was supposed to work, since `$scope.control.value` is null to begin with, so it

[2021-03-16 21:19] nathanwoulfe commented on #9982
@nul800sebastiaan  PR to fix is in #9987 - shouldn't have been attempting to access control values until they'd been set.

[2021-03-16 21:35] nul800sebastiaan commented on #9982
That was fast @nathanwoulfe! Thanks! Will have a look tomorrow!

[2021-03-17 07:34] Shazwazza commented on #8879
Marked as a breaking change due to changing a generic type, see https://github.com/umbraco/Umbraco-CMS/pull/9010#issuecomment-800724090

[2021-03-17 07:35] bjarnef opened #9991 "Copy member type"
I just had the need to create to new member types and would copy from the default member type, but I noticed this isn't an option.
However we can copy document types and media types.

It would be great if we could have this option for member types as well making it more consistent and easier to create new member types, where you want the default properties starting with `umbraco` in alias.

~~Curr

[2021-03-17 07:39] bjarnef commented on #4280
This would be a great addition, e.g. create two new member types, which inherit the default member type properties.
There are a few other things regarding members, which could be more consistent with content and media, e.g. option to copy: https://github.com/umbraco/Umbraco-CMS/issues/9991

[2021-03-17 07:45] maartenmensink commented on #6053
@nathanwoulfe I was just switching between two content nodes of the same type. To verify that the leak isn't in a specific control i created a document type without any properties and added two content nodes to the content tree. Switching between the two Empty nodes gives the same result.

![image](https://user-images.githubusercontent.com/339653/111432156-f11ca900-86fc-11eb-84da-40b08dd7498d.png)

[2021-03-17 08:05] nathanwoulfe commented on #6053
@maartenmensink that's interesting - I'd seen the memory spike after opening and closing infinite editors, but looks like that's not solely to blame...

Definitely feels like nodes not being destroyed and/or scopes not disposing properly...

[2021-03-17 08:15] bjarnef opened #9992 "Add extension method to get block list items as IEnumerable<T>"
Currently we still have Nested Content, but with the new Block List editor NC it is deprecated although it probably won't be removed in v8 (or v9 I guess).

However to benefit from the new features like custom views, etc. I usually avoid using NC in in favor of the new Block List editor.
Sometimes you just want to data models and we can extract these like the following:
https://our.umbraco.com/doc

[2021-03-17 08:17] mathew65 commented on #8033
I was running version 8.10.1 and problem was still present. After upgrading to 8.12.1 it seems it's still not solved.

[2021-03-17 08:51] bjarnef commented on #9615
@nul800sebastiaan it expected when updating Umbraco via NuGet, e.g. from v8.11.1 to v8.11.2 it also upgrades HtmlSanitizer to v5?

![image](https://user-images.githubusercontent.com/2919859/111438709-db12e680-8704-11eb-9db3-ea33471c994b.png)

For example when Umbraco Cloud has upgraded from v8.11.1 to v8.11.2, but the class library dependency is using Umbraco v8.11.1, which seems to be because Htm

[2021-03-17 09:04] nul800sebastiaan commented on #9993
Thanks again @ckoch1979silentservice - this is a bug in CMS in general and will be fixed for the next patch 8.12.2 soon, hopefully #9994 is enough.

[2021-03-17 09:35] nul800sebastiaan commented on #9615
Yes, as you can see, this dependency has been updated for all the patches of 8.8+

[2021-03-17 09:43] bjarnef commented on #9615
Ahh okay, normally there wouldn't be breaking changes in patches, but I guess this is an exception.

[2021-03-17 10:14] mboutebel opened #9997 "RTE client side validation failed when used in a Block List"
To reproduce the issue :

Create a document type called "item" as an element type with a RTE.
Create a document type called "page", allowed at root, with a Block List property with inline editing activated.
Add the document type "item" in the Block List data type.
Create a page in the Content section.
Add an item in the Block List and let the RTE empty.
Click to "Add Content".
The client validatio

[2021-03-17 10:39] patadata opened #9998 "Webhooks not working as supposed (in my oppinion)"
A brief description of the issue goes here.

## Umbraco version

I am seeing this issue on Umbraco version: Heartcore on the web

Reproduction
------------

If you're filing a bug, please describe how to reproduce it. Include as much
relevant information as possible, such as:

### Bug summary

### Specifics

### Steps to reproduce

### Expected result

### Actual result

[2021-03-17 11:54] #9982 closed

[2021-03-17 11:55] nul800sebastiaan commented on #9982
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/9987 for the upcoming 8.12.2.

[2021-03-17 18:00] lars-erik commented on #6638
@emma-hq Is copying in the grid a thing in v8, or did it just not make it in the related issues / PRs?
Just curious whether the task is porting @skttl's v7 tings, or whether this has grown into a completely other beast?
(If it's just about @nielslyngsoe's comment above it should be easy, no? Even HQ easy? ;) )

[2021-03-17 18:26] benjaminc commented on #9845
I have tested this with the latest code on the `netcore/dev` branch, and the changes made by @bergmania to the .csproj file in the template for #9811 seems to have resolved the issue.

[2021-03-17 18:26] #9845 closed

[2021-03-17 18:49] hfloyd commented on #9615
I just came up against a related issue - dealing with a Cloud site which was auto-updated to 8.11.2, but when I update my external code project (.Core) references to use the Umbraco 8.11.2 NuGet package, I am now seeing a "consolidate" discrepancy with "System.Text.Encoding.CodePages"...

![image](https://user-images.githubusercontent.com/1252593/111521586-ad8f6280-872f-11eb-8788-1bc36261b742.png)

[2021-03-17 19:04] benjaminc commented on #9843
With the #10001 (missed the first five digit PR by just a few hours!) PR, the behavior Rasmus lists is what happens.  It takes me to the installer, prompts for a username and password, and then skips the DB Config step.  Given that we have no starter kits or other steps right now, it immediately starts installing whether I use the Customize button or the Install button.

[2021-03-17 19:07] hfloyd commented on #9615
FYI - It seems I needed to update the .Web project to System.Text.Encoding.CodePages 4.5.0. I'm not sure why the Cloud-updated packages.config wasn't updated as well, but I have seen this sort of issue before...

[2021-03-17 21:06] christophborndigital commented on #9982
Thanks for the prompt fix, looking forward to 8.12.2

[2021-03-17 21:07] abjerner commented on #4419
I had a look at this as well. I think we'll need HQ guidance for the direction a PR for this should take.

As @bjarnef mentions, there currently isn't a value type for boolean, so I think adding `BOOL` or `BOOLEAN` as a value type makes good sense. Similar to how `JSON` is probably the same as `TEXT` at the database level, `BOOL` could still be saved the same way in the database as `INT`.

As leas

[2021-03-18 01:16] #9964 closed

[2021-03-18 08:28] #9993 closed

[2021-03-18 09:05] peterlacko opened #10003 "Resize table cell in umbTable"
Hello all!

Problem description: In some cases umbTable doesn't set width of column according to it's content, so that content of one cell is filled with empty space while content of other cells is sometimes unnecessary truncated with ellipses (please see image attached, where first column is way too wide).

It would be nice to allow user to click on column delimiter in table header and thus resiz

[2021-03-18 09:50] nul800sebastiaan commented on #9983
I've added a long description in https://github.com/umbraco/Umbraco-CMS/pull/10002 with a temporary fix. We'll need to figure out a better way to fix this so we can have paging but this is similar to what the old picker used to do so it will at least fix the regression for now.

[2021-03-18 10:20] stefankip commented on #9337
I'm having the same issue with v8.8.4. Just trying to add a property to a doctype and got this error.

[2021-03-18 10:25] christophborndigital opened #10004 "Improve nuCache generation performance on saving document type"
Sorry this is somewhere between a bug report and a feature request, but is causing us a bit of pain, so I am logging it as a bug.

Saving a document type that is used by a lot of documents (thousands) times out on Azure SQL.

## Umbraco version

8.12.0

### Specifics

Saving a document type appears to update the nuCache database cache for all content using that document type.

On a site with >6000

[2021-03-18 10:28] emma-hq commented on #6638
Nope - can't copy and paste in v8. And lol to 'hq-easy' 😂

So it might well be a new beast and that'll need considering if it is picked up and worked on, for sure.

Emma

[2021-03-18 10:30] lars-erik commented on #6638
I know we can't copy in the grid. By "A thing" I meant was considered as a feature.
If nothing imperative happened in the related PRs, I can't see what's left for this than @nielslyngsoe's suggestion?

[2021-03-18 10:34] emma-hq commented on #6638
Oh I see - yes yes yes. Thanks to Niels' PR, we don't have anything left to do here. 😌

[2021-03-18 12:01] #9983 closed

[2021-03-18 13:28] aso-pentia opened #10005 ""Authorization has been denied for this request." for all other user groups than 'Administrators'"
User assigned to groups: 'Editors', 'Sensitive data', 'Translators', 'Writers' logged out upon navigating to root node.
Upon subsequent logins, user is logged in and then immediately logged out.

## Umbraco version

I am seeing this issue on Umbraco version: 8.12.1

Reproduction
------------

1. Open browser developer tools and go to 'Network' tab
2. Log in from <site>/umbraco with a user assigned

[2021-03-18 14:11] bjarnef opened #10006 "Allow restricting public access without selecting login and error pages"
Currently it is only possible via backoffice UI to restrict public access (Specific members or Group based protection), when both login page and error page has been selected.

E.g. the following scenario:

- Home Page
  - Top Secret (Group A & B)
    - Page A (Group A)
    - Page B
    - Page C

However if an area of the site it protected to only allow member groups "Group A" and "Group B", but un

[2021-03-18 14:23] webtimisten commented on #9433
I sure hope someone will fix this soon. It's kinda annoying :-)

[2021-03-18 15:35] mattbrailsford commented on #9781
So, I've just hit some of the issues highlighted here, specifically my Vendr Variants Editor (which is based on a block editor) cannot inherit from the `BlockEditorPropertyEditor` as is documented to use because this is setup to use the `BlockEditorPropertyValueEditor` (which is internal) as it's value editor, and in that class it is hard coded to use the block list data converter so unless your e

[2021-03-18 16:07] bjarnef opened #10007 "MemberHasAccess not check for MemberAuthorize on controller"
Based on Umbraco v8.12.1 it is possible to restrict public access using member group like the following:

![image](https://user-images.githubusercontent.com/2919859/111657217-84440480-880b-11eb-9ff1-dd68e6a90884.png)

This works well when extracting menu items:

[code]

However it you instead of using restrict public access decorate the controller with `MemberAuthorize` attribute , then all menu i

[2021-03-18 16:08] KevinJump opened #10008 "Add Targets to Package Format"
This issue is to discuss the possibility of adding version specif elements to the package.xml file used by the Umbraco back-office for loading and parsing packages.

Currently there is no way to differentiate what files/doctypes/datatypes etc get installed by a package - so if a package is to work on Umbraco 8 and Umbraco 9 the same dlls and settings would have to work on both platforms.

it is un

[2021-03-18 16:13] nul800sebastiaan commented on #9991
Hey @bjarnef, thanks for the suggestion! I think copying member types would be fairly easy to do and a good idea.

However, compositions are complex and I think difficult to implement correctly. It doesn't seem worth the big effort since the audience for that feature would be very limited.

So I would encourage working on a copy feature, and not to focus on compositions.

[2021-03-18 16:14] nul800sebastiaan commented on #9991
Sidenote: we'll need to test with deploy if the copy feature gets implemented, I'm sure it will work but good to make sure anyway.

[2021-03-18 16:18] nul800sebastiaan commented on #9992
Hi @bjarnef! I think it's great to think about how to make querying easier. I think at this point we'd need to discuss this a bit more also in the community as to what the nicest way would be and what else we would wish for block list querying.

We'll have a chat at HQ first and open it up for some community discussion as well.

[2021-03-18 16:19] mattbrailsford commented on #9781
As a work around to the data converter I'm currently having to perform the following in my property editor class

[code]

[2021-03-18 16:27] nul800sebastiaan commented on #9997
Thanks for the report @mboutebel. In essence this is the same issue we have for nested content: https://github.com/umbraco/Umbraco-CMS/issues/8954

We're currently working to see how we can get this fixed, I will leave a note that a fix should also be tested in the block editor. I'll close this issue as a duplicate, make sure to follow along on #8954 for updates!

[2021-03-18 16:27] #9997 closed

[2021-03-18 16:28] nul800sebastiaan commented on #8954
Note: we have the same problem with block list editor as detailed here: https://github.com/umbraco/Umbraco-CMS/issues/9997
So for any fixes, we need to make sure to also test those for block list editors.

[2021-03-18 16:44] mboutebel commented on #9997
Indeed, it's the same issue as [#8954](https://github.com/umbraco/Umbraco-CMS/issues/8954)

[2021-03-18 16:47] nul800sebastiaan commented on #10003
Thanks @peterlacko for this feature request. I don't know much about `umbTable` so we'll need to discuss at HQ and get back at you.

[2021-03-18 16:48] mattbrailsford commented on #9781
Actually, I've had to update this to remove all the validators so it looks like both of them cause some kind of issue with custom block editors.

[2021-03-18 16:53] nul800sebastiaan commented on #10004
From what I can tell this would mostly come down to the sheer number of versions you have in your database for this content item, am I correct in reading that you have over 2000 version (I see in the second query) for this content item?

We have a strong wish to clean up versions automatically as well but that's not a feature built into core just yet. Until we do have something for that in Umbraco

[2021-03-18 16:54] mattbrailsford commented on #10008
Only thing I'd add to this is that the target specific config needs to fallback to non-targeted config so if there is any element missing in the target specific config, it should look for one in the non-targeted config. This way you only need to declare the differences.

[2021-03-18 16:56] nul800sebastiaan commented on #10005
Could it be that you recently upgraded from a version before 8.7 or lower to version 8.12.1? If so, is there a User Picker on the content item that is causing a logout for your users?

We've just fixed a bug with the user picker that was causing these symptoms, and we'll have a new release out by Tuesday to solve the problem: https://github.com/umbraco/Umbraco-CMS/issues/9983

Could that be it?

[2021-03-18 17:01] nul800sebastiaan commented on #10006
It's a good idea and a really dangerous area to update. We don't want to give anybody accidentally too much, or less access by changing how the current system works.

Unfortunately we can't at the moment give the community good guidance on how to update this feature while making sure that nothing breaks. We also don't have this on our list of priorities in the foreseeable future.

So while this is

[2021-03-18 17:09] nul800sebastiaan commented on #10007
As you might have noticed, the public access feature is quite clunky and not well maintained. So while not great behavior it's probably "normal". For more control, we'd recommend indeed using `MemberAuthorize` and some access controls with custom code. That's not a good story from our end but that's where we're at at the moment I'm afraid.

I don't understand something in your report though? I can

[2021-03-18 17:15] bjarnef commented on #10006
Not sure if the selected login and error page has any effect on the restricted access or it is purely just to handle redirecting.

[2021-03-18 17:44] bjarnef commented on #10007
@nul800sebastiaan yes, if adding "Brand" member group role using the restrict access protection from backoffice, the following won't return e.g. "Edit Training" for another member group "Staff".

[code]

However when not using restrict access protection from backoffice and only `[MemberAuthorize(AllowGroup = "Brand")]` on the `EditTrainingController` this won't filter the menu items further for "S

[2021-03-18 21:23] nathanwoulfe commented on #6053
I think the 10,000 detached HTMLDivElement objects might be part of the problem... I'm not really up with heap snapshot analysis, but jQuery, jQueryUI and tinyMCE references are plentiful.

Not surprising that jQuery would be causing issues, it shouldn't be used alongside AngularJs as it's DOM manipulation happens outside Angular's scopes, so leads to lots of unmanaged elements polluting the DOM.

[2021-03-18 21:38] nzdev opened #10010 "Content actions menu disappears on save"
A brief description of the issue goes here.

Actions menu disappears on save of content.

I am seeing this issue on Umbraco version: 8.12.1

Reproduction
------------

### Bug summary

Actions menu disappears on save of content.

### Specifics

In the content section, saving a document makes the actions menu disappear.

### Steps to reproduce

Create a new document in the content section. Click sa

[2021-03-18 22:05] OwainWilliams commented on #8539
#8266 fixes this

[2021-03-18 22:05] #8539 closed

[2021-03-19 00:01] #7808 closed

[2021-03-19 00:01] #7809 closed

[2021-03-19 06:14] qz2rg4 commented on #9124
Any news on the logout.The Account tab just shows "user.name". this I am running Umbraco 8.11.1

[2021-03-19 08:05] Shazwazza commented on #8954
The problem is:

With server side validation enabled on complex editors, property level validation needs to be able to clear based on user input for a property. The way this is all done is using angularjs ngModel since that is the only way that data and forms work with angularjs (properly). The problem with things like the media picker is that the media picker editor and form do not contain any ng

[2021-03-19 08:45] nul800sebastiaan commented on #10010
Hmm, no idea what's going on for you @nzdev - seems to work for me? Did I miss something in my repro steps?

https://user-images.githubusercontent.com/304656/111753992-c4e95f80-8897-11eb-9f4a-b83a8e99ba9d.mp4

[2021-03-19 09:01] stefankip commented on #5035
This night the same error occurred and the website went down again, although the Azure setting `WEBSITE_DISABLE_OVERLAPPED_RECYCLING` is set to `1`.
Is there really no fix for this besides the work-around of setting `IgnoreLocalDb = true` which impacts performance?

[2021-03-19 09:26] remkovb commented on #9963
@nul800sebastiaan for me it's just as easy as this:
Everything an editor has created/edited in different fields in Umbraco (could be culture- or nonculture property) for a certain node, should be available on the website and thus in External Index.

So, if a price (non culture property) value has been set for an English variant of a node, the price should be available. The Dutch variant won't be p

[2021-03-19 09:30] emma-hq commented on #9997
Hi there @mboutebel

Which version are you looking at when this happens? Let me know and I'll take a look and see if I can recreate the issue or if it's linked to any others.

Thanks,

Emma

[2021-03-19 09:33] emma-hq commented on #9913
Hey Em,

Thanks for raising this one. We've labelled net-core 👍

Em

[2021-03-19 09:33] emma-hq commented on #9912
Hola Em,

thanks for this one too - labelled 👍

Em

[2021-03-19 09:34] emma-hq commented on #9911
Hey Em - ta for this! 👍

[2021-03-19 09:43] rubenberendsen opened #10014 "Update Umbraco 8.9.1 to 8.10.0 (or higher) gives a error after starting the application"
Hi,

I have updated Umbraco van 8.9.1 to 8.10.0 (also to 8.12.1). After updating the nuget packages and starting the application i get an error:

[code]

I looks like something has changed in the database, but before updating the database Umbraco will throw this error. So the database is older than the code.

Has anyone a solution for this?

Best regards,
Ruben

[2021-03-19 10:24] bjarnef commented on #10007
@Shazwazza do you know if there is any way to adjust this to only show the menu items the current user actually have access to?
Could we someway check if the controller for the specific node has `MemberAuthorize`.
I can of course just exclude the nodes I know has `MemberAuthorize` attribute, but I wonder if there is a more dynamic way to solve this?

[2021-03-19 10:29] mboutebel commented on #9997
Hello Umbraco/Umbraco-Cms.

The issue has been closed because it's a duplicate of the bug
https://github.com/umbraco/Umbraco-CMS/issues/8954

Personally, I found the issue on Umbraco 8.10.

Le ven. 19 mars 2021 à 10:31, emma-hq ***@***.***> a écrit :

--
Mohammed BOUTEBEL
Développeur .Net / Intégrateur
NilObstat // agence web
+33 3 60 124 124
www.nilobstat.com
<http://www.facebook.com/Nilobstat>
<

[2021-03-19 10:40] nul800sebastiaan commented on #10014
Hi @rubenberendsen, something seems to have gone wrong with your upgrade, the `labelOnTop` setting is new in 8.10, it should have been added to your `cmsPropertyType` table.

It's quite common for people to either forget to build after a NuGet upgrade OR for other projects in the solution copying in the old dlls, leading to errors like this. So I suspect that's what's happened here, check that all

[2021-03-19 10:40] #10014 closed

[2021-03-19 10:48] nul800sebastiaan commented on #9963
The US market is ready to go with the launch of an exciting new product, everything is ready but the launch date is still a secret until corporate approves it.
All the pages are ready to go, filled in and saved to publish for the second the sign-off comes in.

The South America market notices some spelling errors on their version and publishes those.. inadvertently also revealing the launch date.

[2021-03-19 12:06] nul800sebastiaan commented on #9992
Just saw this one pop up from @skttl:  https://github.com/skttl/umbraco-blocklistmvc - might be helpful.

[2021-03-19 12:20] abjerner commented on #9992
As block items (opposed to Nested Content items) also specify a settings element, maybe we should consider:

- `.AsEnumerable<TContent>()` extension method returning `IEnumerable<BlockListItem<TContent>>`
- `.AsEnumerable<TContent, TSettings>()` extension method returning `IEnumerable<BlockListItem<TContent, TSettings>>`

Just some quick thoughts 😉

[2021-03-19 12:24] abjerner commented on #9992
Oh, as the .NET `Enumerable.AsEnumerable<T>` is located in the `System.Linq` namespace, it's very likely that we'll run into ambiguous references - so I think you're right about that @bjarnef 👍

[2021-03-19 12:31] bjarnef opened #10016 "Edit item doesn't work in custom listview layout using listViewHelper"
It seems current implementation of `listViewHelper.editItem(item);` doesn't work correct after upgrade to Umbraco v8.12.1
I seems it was affected by the changes in this PR: https://github.com/umbraco/Umbraco-CMS/pull/9026

In this case I upgraded a site from v8.8.4 to v.8.12.1 the "go to" link doesn't work in my custom listview layout. The "go to" links does work in the default list and grid layou

[2021-03-19 12:53] nul800sebastiaan commented on #10016
Thanks @bjarnef - we'll have to have a look.

[2021-03-19 13:09] bjarnef commented on #10016
I think the issue is here where it expect `scope` to be passed in, which wasn't an requirement previous :)
https://github.com/umbraco/Umbraco-CMS/pull/9026/files#diff-b25bc893abf8a667b5dfb384d7a8c103f74780a8ce1c2e8c8c33c89247cd7d24R581

[2021-03-19 13:47] #9843 closed

[2021-03-19 16:31] bjarnef commented on #10016
PR submitted: https://github.com/umbraco/Umbraco-CMS/pull/10018 🎉

[2021-03-19 17:33] NikRimington opened #10019 "Models Builder -- Models out of date."
I've just installed the latest Alpha (not the nightly), and set it up with models builder configured as follows:

[code]

In v7 / v8 when doc types are updated, Models Builder in the back office flags that it is out of date and creates an ood.flag file. This does not appear to be behaving in the same way on v9.

On the alpha it shows this:

![image](https://user-images.githubusercontent.com/133137

[2021-03-19 18:03] #9796 closed

[2021-03-19 18:31] bjarnef commented on #9991
PR submitte https://github.com/umbraco/Umbraco-CMS/pull/10020 🎉 🌮

[2021-03-19 20:22] snerpton opened #10021 "`umbTabsNav` directive documentation doesn't work as expected"
Provided documentation for `umbTabsNav` directive results in an error when you use the example markup.

## Umbraco version

- Umbraco version: 8.8.2
- Browser: Chrome 89.0.4389.90 (Official Build) (x86_64) on MacOS 11.2.3

Reproduction
------------

Create a back-office section and insert `umb-tabs-nav` directive using the example markup and controller code found at https://our.umbraco.com/apidocs

[2021-03-20 08:36] christophborndigital commented on #10004
Hi @nul800sebastiaan ,

Thank you for your response.

The problem is not the amount of versions for each node, but the amount of nodes. For the ~6000 nodes of the "article" document type, there are roughly 12,000 versions. Almost all of the content has so far only been imported and published, so there are only the minimum number of versions currently. If I understand correctly, there is always a c

[2021-03-21 02:09] #9991 closed

[2021-03-21 11:53] bjarnef commented on #7718
@emma-hq I couldn't find an open PR to replace `angular.extend()` so I have submitted a PR here: https://github.com/umbraco/Umbraco-CMS/pull/10023 😁 👍

[2021-03-21 13:50] RyanHelmn commented on #9929
Hey @thomashdk I've created a PR for this here: https://github.com/umbraco/Umbraco-CMS/pull/10025 will keep you posted how it goes.

[2021-03-21 14:02] RyanHelmn commented on #9936
Hey @nathanwoulfe just following on from your suggestion, would there be a use case of having the MNTP select items from the trash? I'm going to guess the MNTP includes trashed items in case you had selected X items and X of them are in the trash.

What are your thoughts on splitting the MNTP items up into two different lists like this
![items-trashed](https://user-images.githubusercontent.com/442

[2021-03-21 14:43] bjarnef commented on #5280
@umbrabot still relevant
I think this is relevant to get a dictionary value for a specific culture similar to what we can for property values.

[2021-03-21 23:36] nzdev opened #10027 "SQLMainDomLock throws exception on boot, causing boot to fail"
A brief description of the issue goes here.

SQLMainDomLock throws exception on boot, causing boot to fail

Can not get Current.Config during composition. Use composition.Config.

System.InvalidOperationException:
   at Umbraco.Core.Composing.Current.get_Configs (Umbraco.Core, Version=8.0.0.0, Culture=neutral, PublicKeyToken=nullUmbraco.Core, Version=8.0.0.0, Culture=neutral, PublicKeyToken=null:

[2021-03-22 00:20] #10016 closed

[2021-03-22 00:21] nathanwoulfe commented on #10016
This is fixed in #10018

[2021-03-22 00:30] Shazwazza commented on #10027
This should have been fixed here: https://github.com/umbraco/Umbraco-CMS/pull/9973

you are definitely on 8.12.1?

@bergmania  + @nul800sebastiaan  was that change definitely merged and released in 8.12.1 ?

[2021-03-22 00:57] nzdev commented on #10027
I may be on 12.0. I'll double check

[2021-03-22 01:41] nzdev commented on #10027
Yes. 8.12.0. I'll upgrade and try again. Thanks

[2021-03-22 04:16] nzdev commented on #10027
Looks to have fixed this. Thanks @Shazwazza

[2021-03-22 04:16] #10027 closed

[2021-03-22 08:51] nul800sebastiaan commented on #10021
I'm not sure what the correct thing to do is here, will ask around and get back to you.

[2021-03-22 08:54] aso-pentia commented on #10005
No this was on a newly installed version 8.12.1.
There's no User Picker on the item that is causing the logout.

[2021-03-22 08:57] emma-hq commented on #7718
Aw thank you @bjarnef - you're a ⭐

[2021-03-22 09:40] nul800sebastiaan commented on #10005
@aso-pentia alright, very strange, could you open up the dev tools in your browser on the network panel and see which request is causing a logout to occur please?

[2021-03-22 09:42] nul800sebastiaan commented on #10005
Oh sorry, I didn't see in your screenshots above it's `ContentTypeController.GetAll`.. hmm.. we'll have a look.

[2021-03-22 09:49] nul800sebastiaan commented on #10005
Hmmm, nothing has changed here that I can see, do you have any dashboards installed in the content section @aso-pentia?
The only thing that DID happen was a breaking change to remove one of the options of creating doctypes, but I fail to see how that would lead to an error on `GetAll`.

[2021-03-22 09:52] nul800sebastiaan commented on #10005
I really need to read better, you navigate to a content node where you get logged out. Any Content Apps installed? What datatypes does this content node use?

[2021-03-22 10:05] elit0451 opened #10029 "Cannot insert an image inside a grid"
## Seen in
Umbraco version 8.12.1 (haven't checked any previous versions)

## Description
When trying to add an image as a grid content, a js error is preventing the image selection. The error states that `TypeError: Cannot read property 'focalPoint' of null` at DependencyHandler.axd

## Steps to reproduce
- Create a folder in the Media section and add some images;
- Create Doc type with a Grid la

[2021-03-22 10:16] MMasey commented on #10029
I've also been able to replicate this issue. Here's an image of the error in the console, along with where it appears to be occurring in the code. I've noticed some odd behavior with the media picker in other parts of the backoffice too which I think may also be related.

![image](https://user-images.githubusercontent.com/6573613/111974693-98cc1980-8af7-11eb-96f2-3dce8c45424d.png)

[2021-03-22 10:23] FransdeJong commented on #8276
This is not limited to Media.
I'm running into this issue in multiple versions of Umbraco inclusing 8.12.1 and also in content.

I'm running in AppData mode.
When I add a bool to a blocklist editor settings doctype I run into the same error until I save the content node.
On large sites this is a impossible solution.

@nul800sebastiaan Can you please share a way where we do not have to save the ent

[2021-03-22 10:24] abjerner commented on #10029
Should be the same as https://github.com/umbraco/Umbraco-CMS/issues/9982 and thus fixed in https://github.com/umbraco/Umbraco-CMS/pull/9987 😄

(which means fixed in 8.12.2)

[2021-03-22 10:27] elit0451 commented on #10029
Great! Then will go ahead and close down this issue. Thanks for the info!

[2021-03-22 10:27] #10029 closed

[2021-03-22 10:45] kimschurmann commented on #9514
FYI:

We took the risk and upgraded to 8.11.1 and made extensive test and monitoring on our test environment. We did not find any issues at all and have now upgraded in our production environment too.

Although upgrading from 8.5.5 to 8.11.1 made content unavailable until we wiped the internal caches from the backoffice - this should probably be done automatically as a part of the upgrade?

[2021-03-22 10:57] vaags commented on #9514
I also exprerienced this. See #9378

[2021-03-22 11:00] kimschurmann commented on #9378
I also experienced this going from 8.5.5 to 8.11.1 - why not just wipe the caches as a part of the upgrade proces? Just to be sure...?

[2021-03-22 11:02] bjarnef commented on #4382
@nul800sebastiaan I was wondering if something has been discussed regarding UX in members section since this issue was raised?
The members section looks pretty much as in v7 except member types tree has been moved to Settings.

@Shazwazza suggested here to only show "All Members" if only a single member type is available, but it doesn't seem this has changed yet :)
https://github.com/umbraco/Umbra

[2021-03-22 11:19] abjerner commented on #4382
Personal opinion:

I prefer the member section with the tree over the user section with the content apps. I think the tree let's me click back and forth between different items a lot faster than with content apps.

Creating a custom dashboard for the users section also works a bit weird, as it takes over the default view of the users section, leaving the user no option to continue to the users lis

[2021-03-22 11:37] bjarnef commented on #4382
@abjerner I see your point, but I also think members could benefits from some of the improvements in users section.
Maybe we should still have nodes per member type (it could probably only show the additional nodes in case more than a single member type is available), while e.g. the All Members had filter options e.g. member group filtering, order by and filter by status (locked out, etc.).

Furth

[2021-03-22 13:13] elit0451 opened #10030 "NetCore: No authenticationScheme was specified"
### Bug summary
The same unhandled exception occurs while executing the following requests:
- http://localhost:5000/umbraco/backoffice/umbracoapi/content/PostSaveUserGroupPermissions
- http://localhost:5000/umbraco/backoffice/umbracoapi/media/PostSort

Setting permissions for a Content node or sorting media on **alpha04** fails.

Permissions for a Content node             |  Sorting media
:-------

[2021-03-22 13:20] FransdeJong opened #10031 "Adding a settings model to a blocklistblock throws unexpected errors"
I'm running into this issue in multiple versions of Umbraco inclusing 8.12.1 and also in content.
If you add settings to a existing block and add a property this will throw errors on existing content.

How to reproduce:
- Add a blocklist editor to a page without settings.
- Create content
- Render content (all is fine)
- Add a settings model with a property
- Access in the template by doing for ex

[2021-03-22 13:33] bjarnef opened #10032 "Make it easier to set a member group in EditorModel Event"
Currently based on Umbraco v8.12.1 we can use the EditorModel Event to set a default value before a content, media or member has been created.
There is an example in the documentation here to set a default publish date: https://our.umbraco.com/documentation/Reference/Events/EditorModel-Events/

We can also hook into `SendingMemberModel` to do something similar with member model. We could of course

[2021-03-22 16:00] TwoMoreThings commented on #9790
we're seeing an issue that seems to be related to this. For us we aren't touching the tab key, but after a modal is cancelled the first checkbox clicked is the only thing that can be actioned. Clicking anywhere in the dashboard or editor will only action the first checkbox clicked after the dialog is cancelled. We first noticed this in 8.8.0, and it still present in 8.11.2.
HTH
t
If there's a work

[2021-03-22 16:47] Nicholas-Westby opened #10034 "Unable to Save Content Template with Required Field Validations"
When I save a content template, required fields are validated as if a page is being saved/published. This is problematic, as it forces me into the situation where I need to create a content template that has data filled in that I prefer the content editor fill in.

## Umbraco version

I am seeing this issue on Umbraco version: 8.12.0

## Steps to Reproduce

* Create a document type that has a requ

[2021-03-22 16:50] bjarnef commented on #9910
Not sure where you are expecting the labels to be shown next to the toggle? Are we talking about the rendered toggle in the property editor, which in you example just use default configuration of `boolean` property editor

![image](https://user-images.githubusercontent.com/2919859/112026935-fdf32f80-8b36-11eb-8d4f-803a1d8bff88.png)

or are we talking about the two prevalue toggles which use the `b

[2021-03-22 16:57] nul800sebastiaan commented on #10034
Yeah.. currently the only way I can see this being done is to not make it a mandatory field on the document type, hook into the
content saving event and do some validation and return an error from there.

The other thing I could think of that could work is to use [`SendingContentModel`](https://our.umbraco.com/documentation/reference/events/EditorModel-Events/) to remove the value before the edito

[2021-03-22 16:58] bjarnef commented on #9910
Okay, I think the issue is the value is being changed from a boolean to a string when extending the default config:

![image](https://user-images.githubusercontent.com/2919859/112027915-f54f2900-8b37-11eb-8dac-ddb72df42d0a.png)

[2021-03-22 17:01] EneldoDev commented on #9910
Yes, exactly. I've just wanted to describe this, but you were faster :)
If this condition:
`show-labels="{{model.config.showLabels}}" `
would be changed to
`show-labels="{{model.config.showLabels ? 'true': 'false'}}"` then Label on/Label off would be visible no matter how boolean value for custom property editors is stored in the database.

[2021-03-22 17:06] aso-pentia commented on #10005
Thanks for taking the time @nul800sebastiaan.
No Content Apps installed.
Data types:
- Umbraco.NestedContent
- Umbraco.MediaPicker
- Umbraco.MultiUrlPicker
- Umbraco.TextBox
- Umbraco.TextArea
- Umbraco.Integer
- Umbraco.TinyMCE
- Umbraco.DropDown.Flexible
- Umbraco.TrueFalse

[2021-03-22 17:15] RyanHelmn commented on #8033
Happy to take a look at this, will update here of any progress ✌

[2021-03-22 17:25] bjarnef commented on #9910
This PR should fix the issue: https://github.com/umbraco/Umbraco-CMS/pull/10035

[2021-03-22 19:04] bjarnef commented on #9289
@nathanwoulfe another "funny" thing I noticed about custom listview is that Grid listview layout is "grid" and members listview configuration, but otherwise "Grid".
Not sure if is always has been like this, but a least I can reproduce back to v8.9.0

**Default listview configuration**

![image](https://user-images.githubusercontent.com/2919859/112044086-add19880-8b49-11eb-8a81-92f7e00d8ec7.png)

!

[2021-03-22 19:09] bjarnef opened #10037 "Grid listview layout name is sometimes in lowercase"
I noticed the default Grid listview layout sometimes is in lower case "grid" (e.g. for default members listview and custom listview configuration), while the name is title case "Grid" for default content and media listview).

Currently the name is only used in tooltip in listview layout switcher, but it seems strange this isn't consistent.

I can reproduce this in latest `v8/contrib`, v8.12 and al

[2021-03-22 19:33] bjarnef commented on #10037
Okay, it seems this was changed a long time ago here:
https://github.com/umbraco/Umbraco-CMS/commit/fb246de5fc27a911fe8381026218abc37fbf5a60

[2021-03-22 20:24] bjarnef commented on #9962
I wonder if this may be related to https://github.com/umbraco/Umbraco-CMS/issues/9825 which has PR https://github.com/umbraco/Umbraco-CMS/pull/9887

The previous `checklist-model` https://vitalets.github.io/checklist-model/ worked a bit different, which auto-populated an array using `checklist-value`.

Actually I could only find this reference of `checklist-model`, so maybe something to consider t

[2021-03-22 21:03] bjarnef commented on #9761
Not specific fixing this issue, but related to the integer/numeric datatype validation if a step size has been set: https://github.com/umbraco/Umbraco-CMS/pull/10039

[2021-03-23 06:20] bergmania commented on #10019
Hi @NikRimington.
Thanks for reporting.. As far as I can see in your config, it is not enabled explicitly.

Looks like this was default enabled in v8. That is an error that we will have to change

Can you confirm it works if you use the following config?
[code]

[2021-03-23 07:47] bergmania commented on #10019
I changed the default value to true (Same as v8) in this commit: https://github.com/umbraco/Umbraco-CMS/commit/fa37ebc1078685a0e5bf70017575b5ad9a95550b

I tested, and now when running AppData-mode my models are marked as out-of-date, when I change/create doc types.

[2021-03-23 07:47] #10019 closed

[2021-03-23 08:00] bergmania commented on #10030
Fixed in this PR: https://github.com/umbraco/Umbraco-CMS/pull/10042. Same issue as we have seen before. Because `IAuthorizationService.AuthorizeAsync` just accepts an `object` instead of some marker interface, we did not see these errors compile time.

[2021-03-23 08:29] bjarnef commented on #10037
Fixed in https://github.com/umbraco/Umbraco-CMS/issues/10037

[2021-03-23 08:29] #10037 closed

[2021-03-23 08:56] nikolajlauridsen commented on #10030
Just merged #10042 so I'm closing this issue 👍

[2021-03-23 08:56] #10030 closed

[2021-03-23 09:16] nikolajlauridsen opened #10043 "Unsaved changes warning is always shown when changing content node permissions."
Whenever I change permissions for a specific content node, it always shows the "You have unsaved changes" dialog if I close the editor by clicking away, even if I've clicked saved just before, and the changes are persisted even if I click "Discard changes". It's worth noting that this doesn't happen if I click the "close" button, see gif for more detail.

![discard-warning](https://user-images.git

[2021-03-23 10:15] AaronSadlerUK commented on #9962
The fix in 8.10.2 is slightly different to above:

The following line needs commenting out (L18923 of umbraco.controller.js):

[code]

[2021-03-23 13:37] bjarnef commented on #9761
@Shazwazza maybe you have an idea why an invalid value doesn't prevent the form from being submitted. In case the format is invalid the value isn't saved though, but I would expect an notification error and/or highlight of the invalid property.
Nore sure if the worked previous if the value was invalid and the property wasn't mandatory.

[2021-03-23 14:37] bjarnef commented on #8890
@nielslyngsoe as suggested in this linked issue it could help selecting a view inside `App_Plugins` folder and also speed up the process if you always pick views within the same folder: https://github.com/umbraco/Umbraco-CMS/issues/9898

By default the folder path could be `~/App_Plugins/` then you will at least save one click each time selecting a custom view since you don't need to open `App_Plu

[2021-03-23 15:30] nick-hoang opened #10046 "V8 GetPagedChildren supports filter by content type alias"
I would like to filter by content type alias in GetPagedChilderen method, for example:

[code]

[2021-03-23 16:16] nick-hoang commented on #10046
#10047

[2021-03-23 16:52] nick-hoang commented on #5793
@Emetico check this pull-request #10047

[2021-03-23 18:19] bjarnef commented on #9405
PR submitted: https://github.com/umbraco/Umbraco-CMS/pull/10048

[2021-03-23 18:53] bjarnef commented on #9917
I think the main issue here it that it use `$routeParams.id` which is the current node id (a bit misleading the variable is named `rootId`).
https://github.com/umbraco/Umbraco-CMS/blob/v8/contrib/src/Umbraco.Web.UI.Client/src/views/propertyeditors/contentpicker/contentpicker.controller.js#L243

I think when an XPath query is configurated we can assume it should always use content or media as XPath

[2021-03-23 19:10] bjarnef commented on #9917
I noticed `ent` in media and member section is `null`
https://github.com/umbraco/Umbraco-CMS/blob/v8/contrib/src/Umbraco.Web.UI.Client/src/views/propertyeditors/contentpicker/contentpicker.controller.js#L244

![image](https://user-images.githubusercontent.com/2919859/112204273-c27a6300-8c13-11eb-98e3-b4aa5e85cedc.png)

[2021-03-23 20:36] bjarnef commented on #9917
Not fixing all use-cases, but a enhancement when you only have a single node at root 👍
https://github.com/umbraco/Umbraco-CMS/pull/10049

[2021-03-23 22:10] bjarnef commented on #9816
I would also like to see some more unique ids as browsers are warning about this in console, e.g. in splitview of when opening a block list block which has a property with same alias as on the document type itself.

The id could contain e.g a guid like in `<umb-checkbox>` component but probably need something more to be unique enough.

[2021-03-24 00:00] #7818 closed

[2021-03-24 00:36] bmoore99 opened #10050 "Media Start Node Permissions Not Respected In Media Picker"
I am creating a multi-tenanted instance of Umbraco, so setting up users with permissions to only see and use their respective tenant content and media nodes. This is fine, they don't see the other tenants in the content or media node trees. When using a Media Picker however, the user is able to see and pick media from the other tenants.

## Umbraco version

I am seeing this issue on Umbraco versio

[2021-03-24 02:54] Myster opened #10051 "rel=nofollow on links"
There seems to be some small demand for the ability to 'easily' add rel=nofollow on a link by link basis: as evidenced here:
https://our.umbraco.com/forum/using-umbraco-and-getting-started/91058-umbraco-link-configurations
If this is a needed feature perhaps this issue will garner some likes.

**Thoughts**
1 ) Does this need to be on the link picker, the RTE, or both?
2 ) It may be useful to have

[2021-03-24 08:15] nul800sebastiaan commented on #10004
Alright, that doesn't sound too bad actually. I am only shallowly aware of the mechanics of how this all works, but a colleague suggests that it might be worth adding an index on `versionId` on the `umbracoPropertyData` table, might be something to try out first and see if that helps?

[2021-03-24 10:02] emma-hq commented on #10031
Hey Frans,

Thanks for reporting! I'll follow the steps to reproduce and let you know what I find.

Emma

[2021-03-24 12:49] bjarnef opened #10053 "Show content created under listview"
Based on Umbraco v8.12.1 it is possible to create content in a listview and under the listview content items.
However when listview is enabled there is no way to see the content for these deeper level although it is possible to select a listview item an create another node under this via the actions menu in top right corner.

Related to this issue https://github.com/umbraco/Umbraco-CMS/issues/9282

[2021-03-24 13:00] emma-hq commented on #10032
Thanks for raising this Bjarne. Some interesting ideas here too. We'll need to have a chat about approach at Hq so I'll label this one as discussion and raise it at the next issue tracker meeting.

Emma

[2021-03-24 13:26] emma-hq commented on #10046
Hi @nick-hoang

Thanks for raising this one and the PR too. Top marks for being proactive! We'll take a look at the approach and let you know after we've discussed the PR.

Emma

[2021-03-24 13:29] emma-hq commented on #10050
Hey @bmoore99

Thanks for raising the issue - and for the reproduction steps! I'll take a look and try to reproduce.

Emma

[2021-03-24 13:46] KevinJump opened #10054 "NetCore: MenuRenderingNotification should send TreeAlias, so you can tell what tree you are on."
The 'menuRenderingNotification' doesn't contain the tree alias, so when you subscribe to this notification event, you can't tell which tree you are on (e.g content, media, settings, etc.. so you can't write code to selectively add/remove items)

on v8 the 'TreeAlias' is part of the Sender object for Menu Rending events.,

this was added for Tree Node Rendering in pr PR #10024 - suspect very simila

[2021-03-24 14:40] emma-hq commented on #10050
This is a bug for sure. I've recreated it by following the steps exactly as they are above.
![image](https://user-images.githubusercontent.com/78740801/112328658-76303100-8cae-11eb-8a6d-dceaec91f390.png)

It doesn't show in the tree

![image](https://user-images.githubusercontent.com/78740801/112329001-b55e8200-8cae-11eb-84d2-f3991b6002bc.png)

It does show in the picker.

Before I label I'm going

[2021-03-24 15:01] emma-hq commented on #10050
Ok not a regression. I can recreate this all the way back to 8.7.2. I'll label this as a bug and up-for-grabs. Thanks again for reporting.

Emma

[2021-03-24 15:10] tteglas-usrc commented on #9758
@Shazwazza Sorry, I had to switch focus a while on something else.
My `UmbracoApiControllerBase` is serving as base class to custom BaseApiController which is further used as base class for a bunch of API controllers that expose different data to a client (consumer).

I will investigate this issue further on and come back any new information.

[2021-03-24 20:11] danielibanez commented on #5035
I just had this happen today again and have

`IgnoreLocalDb = true`

Am completely out of ideas. Any help would be appreciated. cc @Shazwazza

[2021-03-24 20:40] christophborndigital commented on #10004
Yeah, I was also thinking an index might help, I played around with that yesterday. Since all columns are included in the query, the index should be on the column `versionId` with all other columns as "included columns". Problem is the `textValue` column of type `ntext` can't be indexed - so the indexes I tried didn't get used in the query execution plan (ie didn't help with the execution time). A

[2021-03-24 22:38] Shazwazza commented on #10004
There are known problems with the properties query. I've put together some links below for further reading.

**Main problem** - doing an `IN` query on a PK results in an index scan not an index seek. Regardless of what indexes exist, there are too many individual numbers to query on. I can't recall the specific research I found on this but all tests show that you will end up with an index seek all

[2021-03-24 22:47] christophborndigital commented on #10004
@Shazwazza awesome, thanks so much for the detailed response.
Good to see this is on your radar anyway, I knew this wasn't going to be an easy fix.

[2021-03-24 23:17] Shazwazza commented on #8954
I have tried several different avenues to resolve this but none will ever work without modifying some property editors to support this correctly.

The underlying problem is that all input, value and validation logic in AngularJs is controlled by ngModel and we haven't made this a requirement for property editors. For all of this to work we need to know when a property editor value changes and the

[2021-03-25 02:31] reneemhaas-diagram commented on #9475
FYI, this was an issue in 8.9.3.

[2021-03-25 04:40] Myster opened #10058 "Tab/Focus order when creating doctypes is broken"
When I try and create a document type using the keyboard I have issues with tab and focus order.
**Steps to Reproduce:**
Edit a doctype.
Click Add Property
Type name > Tab ...  select datatype > enter > Tab
Now my address bar has focus, rather than the 'mandatory' checkbox 😢
I cannot press tab to focus on the ''Add property" button 😢

Umbraco is awesome 😁 ... this was working in earlier versions o

[2021-03-25 06:08] bergmania commented on #10054
Make sense.. I also added it to `RootNodeRenderingNotification`.

Thanks for reporting

[2021-03-25 06:28] AndyButland commented on #10004
One other thought for the mix is SQL temp tables (or table variables) that can be used alternatives to IN statements,  There may be SQL CE compatbility issues here, but if this did prove better on SQL Server, then it would be possible to use different syntax for each database type.  For reference there's some discussion [here ](https://stevenyue.com/blogs/build-sql-queries-with-temporary-table-vs-

[2021-03-25 07:31] Shazwazza commented on #5035
If IgnoreLocalDb == true, then there is no nucache db files in use. Perhaps verify that you have declared this code in the right place and that its executing.

If you your or @stefankip can post steps to replicate the problem with vanilla Umbraco (vLatest) then we might have something to go by. I cannot replicate the issue sorry. The standard azure config should work. Doesn't matter about `WEBSITE

[2021-03-25 08:05] nul800sebastiaan commented on #10051
Thanks @Myster - we recommend extension methods or PropertyValueConverters for this for now. Browser vendors are shifting to privacy by default (https://blog.mozilla.org/security/2021/03/22/firefox-87-trims-http-referrers-by-default-to-protect-user-privacy/)  and we expect the rel attribute to no longer be necessary not too long from now.

[2021-03-25 08:06] #10051 closed

[2021-03-25 08:12] rbottema commented on #10051
Small nitpick: the `rel=nofollow` is used for SEO purposes: telling the search index not to follow the link, saving crawl budget. Maybe you are confusing it with the `rel=noopener`, which is indeed used for privacy and security purposes. I don't think it changes the answer from Umbraco, just wanted to clarify.

[2021-03-25 08:13] Shazwazza commented on #8954
Ready for review https://github.com/umbraco/Umbraco-CMS/pull/10013

[2021-03-25 08:26] TwoMoreThings opened #10060 "NetCore: Can't enable AppData mode for models builder in Alpha4"
A brief description of the issue goes here.

Despite changing the ModelsMode to AppData in appsettings.json, the back office still show the mode as PureLive, leaving no way to generate models.

## Umbraco version

I am seeing this issue on Umbraco version: Alpha4 (9.0.0-alpha004+f59d36624d2767815768a571c801a870107042fa)

Reproduction
------------
Update the umbraco template to alpha4 and created a

[2021-03-25 08:42] nul800sebastiaan commented on #10058
This works great in 8.12.2! You'll think that version is even more awesome 😉

https://user-images.githubusercontent.com/304656/112444503-65cf9300-8d4e-11eb-945a-c44baf9f53fe.mp4

[2021-03-25 08:42] #10058 closed

[2021-03-25 08:45] nul800sebastiaan commented on #10060
Could it be this @TwoMoreThings ? https://twitter.com/BjarkeBerg/status/1374790572444094468

[2021-03-25 08:45] nul800sebastiaan commented on #10060
And following the thread: https://twitter.com/BjarkeBerg/status/1374790572444094468 might need to include models in project..

[2021-03-25 08:50] nul800sebastiaan commented on #10053
You can add the listview datatype on child types, I think that's what you're trying to do? Then your child item is not configured as a list view but it will have a list view property with all the children under it.

[2021-03-25 09:08] bjarnef commented on #10053
Yes, I could do that, but let's say I have a structure like the following, it would require to adding listview data type on the text page to be able to access to on lower levels, but it also mean I will get listview property at this level "Home Page > Text Page".

- Home Page
   - Text Page
   - Text Page
   - Brand Archive
     - Brand (list view)
      - Text Page
        - Text Page
        - T

[2021-03-25 09:17] nul800sebastiaan commented on #10053
Yeah.. I doubt we'll want to go there, it is not what list view was meant for really, it is mostly meant for very flat lists of items where there is too many items for them to make sense in a tree. It's not exactly meant for frequently editing in a site structure.

We'll have a chat about it at HQ though.

[2021-03-25 09:39] bjarnef commented on #10053
Sometimes it is however useful to have an archive of items while using another type in archive as well.
E.g. to use "category" as data in "category picker" on employee, while is it is own page (listing employees in that category).

/employees (archive - listview)
/employees/coma (category)
/employees/swat (category)
/employees/d-team (category)
/employees/employee-1 (employee)
/employees/employee-

[2021-03-25 09:58] TwoMoreThings commented on #10060
I'm not getting the option to generate models so there's nothing to include in the project :(
t

[2021-03-25 10:12] #10054 closed

[2021-03-25 12:05] nul800sebastiaan commented on #10010
I'll close this for now but let us know if you can still repro.

[2021-03-25 12:05] #10010 closed

[2021-03-25 12:06] mistyn8 opened #10062 "Would be nice if default urlReplacements merged with umbracoSettings.config specified ones."
https://github.com/umbraco/Umbraco-CMS/blob/9ac4eacdbd0b8858bd5a9e19f2d830a862bc61c6/src/Umbraco.Core/Configuration/UmbracoSettings/RequestHandlerElement.cs

Defaults are dropped if `<urlReplacing><char/></urlReplaceing>` exists..

So you have to remember to redefine all the defaults even if all you want to do is override a single entry.

[2021-03-25 12:09] nul800sebastiaan commented on #10062
Yes would be nice @mistyn8. Unfortunately that is an enormous breaking change (everybody's URLs would change), so we have to maintain the current behavior for now. For now and for v9 we have no changes planned for this feature.

[2021-03-25 12:09] #10062 closed

[2021-03-25 12:15] mistyn8 commented on #10062
just a documentation update then?
https://our.umbraco.com/Documentation/Reference/Config/umbracoSettings/index-vpost8_6_0 is a little sparse ;-)

[2021-03-25 13:19] nul800sebastiaan commented on #10060
Ah interesting, yeah I can reproduce it:

![image](https://user-images.githubusercontent.com/304656/112479233-210b2280-8d75-11eb-8f26-95a47385bf6c.png)

[2021-03-25 14:04] nul800sebastiaan commented on #10005
@aso-pentia I'm afraid you're going to have to dig in further yourself, the I haven't seen any other reports of this and I suspect this might just be an upgrade problem or something (have you updated your ClientDependency version and cleared browser cache?).

https://user-images.githubusercontent.com/304656/112485384-2bc8b600-8d7b-11eb-9fb5-92da40d90d4f.mp4

I'm going to close this for now but if

[2021-03-25 14:04] #10005 closed

[2021-03-25 15:15] bergmania commented on #10060
I can confirm the bug.

### Workaround:
Change the method `Startup.ConfigureServices` to:
[code]

[2021-03-25 15:18] #10060 closed

[2021-03-25 15:29] bergmania commented on #9789
@louisjrdev any updates? otherwise, I'll close this issue :)

[2021-03-25 15:43] OwainWilliams commented on #10060
If anyone else stumbles across this issue, you also need to add two usings to the top of the Startup File.

using Umbraco.Cms.Core;
using Umbraco.Cms.Core.Configuration.Models;

[2021-03-25 16:55] nul800sebastiaan commented on #10021
Thanks again @snerpton - we'll be having a look at this in our next upcoming sprint.

[2021-03-25 16:58] nul800sebastiaan commented on #10004
Alright, thanks for all the input here everyone, looks like this is on the todo list but not for the immediate future. We'll have to update when we start working on this and related issues, but I can't provide a timeline at the moment.

[2021-03-25 17:45] markadrake opened #10064 "umbImageCrop directive is not responsive (umb-image-crop)"
I'm having some trouble reusing the umbImageCrop directive (umb-image-crop) in a responsive manner. I'm wondering if anyone has used this in something they've done and could point me to what I'm doing wrong to ensure the resulting viewport maintains the aspect ratio of the crop.

## Umbraco version

I am seeing this issue on Umbraco version: 8.12.1+ (or latest)

Reproduction
------------

### Bug

[2021-03-25 17:47] markadrake commented on #10064
This is mostly copied from [the post I made on the official Umbraco Forums](https://our.umbraco.com/forum/using-umbraco-and-getting-started/105478-trouble-making-umbimagecrop-directive-responsive-umb-image-crop). I thought providing a bug report may bring it to the attention of other developers.

[2021-03-25 19:34] snerpton commented on #10021
@nul800sebastiaan Perfect result, thank you :-)

[2021-03-25 19:39] abjerner commented on #10021
The documentation for `umbEditorHeader` has an example on how to use tabs - it may be used for inspiration for updating the docs for `umbTabsNav` (I think):

https://our.umbraco.com/apidocs/v8/ui/#/api/umbraco.directives.directive:umbEditorHeader

[2021-03-25 21:16] faithbr1nger commented on #9164
Hi

For anyone experiencing issues with Hangfire and umbraco.
As a workaround we have created disposable class where we inject IServerMessenger.
After doing necessary work in Hangfire job you will need to call FlushBatch() on BatchedDatabaseServerMessenger which is inherited from IServerMessenger.
We resorted to make hangfire job disposable and on dispose we call FlushBatch()

Some code for contex

[2021-03-25 21:19] TwoMoreThings opened #10065 "Netcore: When you create a doctype or datatype the focus should be in the name textbox"
When creating a doctype or datatype, you have to click in the textbox before you can type the name, the focus should go to the textbox automatically

## Umbraco version

I am seeing this issue on Umbraco Netcore alpha4

Reproduction

Right click on the root document types or the data type folder and select Create

### Expected result

I expect to be able to start typing after I select Create from

[2021-03-26 06:59] bergmania commented on #10060
I added another workaround if anyone are interested

[2021-03-26 07:12] bergmania commented on #10065
Hi @TwoMoreThings, thanks for reporting..

I can't reproduce, what am I doing differently from you?

https://user-images.githubusercontent.com/1561480/112595642-fc618a00-8e0a-11eb-9e39-53cd85b9822a.mp4

[2021-03-26 08:33] Jacob87 opened #10066 "Redirects do not work after upgrade to 8.11"
I had to run a query in the database after upgrading my Umbraco Cloud project from 8.9 to 8.11 to fix all the existing redirects.

## Umbraco version

I am seeing this issue on Umbraco version: 8.11.2

### Specifics

Recently I upgraded an Umbraco Cloud project from 8.9 --> 8.10.1 --> 8.11.1. After finishing the upgrade, I noticed that all redirects stopped working and would simply return 404 on t

[2021-03-26 10:47] emma-hq commented on #4419
Hey folks,

Looks like you're on the right track 😁 We've chatted internally and essentially, you're good to proceed so long as any implementation doesn't break existing property editors.

I've included some info from @AndyButland below so that nothing is lost in translation, as it were:

"We already handle more "value types" than we do "types of field in the database" (of which there are 5 - int,

[2021-03-26 10:53] emma-hq commented on #10064
Hey Marc,

Thanks for submitting this issue - it's a good one. So much so that we're actually looking at this internally. I've spoken to the frontend-team and have been informed that Media picker v3 will have a responsive umbImageCrop directive.

The work that's happening is here #9461 so you can keep an eye on the progress here.

With that in mind, I'll close this issue but of course feel free to

[2021-03-26 10:53] #10064 closed

[2021-03-26 10:58] abjerner commented on #4419
@emma-hq great - I'll have a look at that 👍

I think there may be a small breaking change in the way that you'll currently get a string value in many case due to no value converter, so adding a default value converter may break the jumps and hoops people are doing to manually parse the string values. But if I understood @nul800sebastiaan correctly, this is a breaking change that we're willing to a

[2021-03-26 12:03] AndersBrohus opened #10068 "List view sorting property with {{ value | ncNodeName }} does not work"
When using {{ value  | ncNodeName }} as template inside a list view the sorting option does not work as intended.

## Umbraco version

I am seeing this issue on Umbraco version: 8.6.6 and just tested in a fresh new 8.12.2 with the same problem

Reproduction
------------

### Bug summary

When adding custom properties to an list view and add the following as template, `{{ value  | ncNodeName }}` th

[2021-03-26 12:24] abjerner commented on #10068
Hi @AndersBrohus,

I'm inclined to say that this is working as intended. The template is a visual thing, so it's applied when the items of the selected page is loaded. Regardless of the template, the sorting is based on the value stored in the database, which why you're seeing the  result as you're describing.

Say your list has lots of pages, looking up the node name across all pages, potentially

[2021-03-26 12:34] AndersBrohus commented on #10068
Hi @abjerner :)

It kinda does but then i got some new questions :)
If the sorting is based on the value stored in the database then the sorting would be happening on the GUID right?
Then the list should show them in pairs, but right now you can see "Morten E" is at the first and last entry, but the picked value is the same :)

[2021-03-26 12:50] Jeavon commented on #10060
I upgraded some docs samples from alpha3 to alpha4, I'm unsure if it's directly related to this issue but I had to move the models out of the umbraco folder with alpha4 in order to reference them in the views, might be related to the namespace changes, maybe I'm missing something else...

`"ModelsDirectory":  "~/models" `

[2021-03-26 13:23] bergmania commented on #10060
I think you should just explicitly add the folder to your solution, as the folder is ignored in the template (because that make sense If you use PureLive).

Another thing that make sense to change if not using Live modes, are this setting in the csproj:

[code]

[2021-03-26 13:26] abjerner commented on #10068
@AndersBrohus I'm not entirely sure of the inner workings for this. If the two "Morten E" are the same user, it does seem a bit weird. I may need someone from HQ to answer that.

I not sure whether the user picker saves a GUID or an INT, but either way, it should work the same = the two items should be shown together.

[2021-03-26 15:16] ronaldbarendse commented on #4419
Let me add one very big ⚠️ **WARNING** ⚠️ here: changing the returned object/type for existing properties will certainly cause issues after the upgrade!

Yes, when using Models Builder, you can see the updated return types in the generated models (well, at least when using AppData mode) and some usages might already cause compiler errors, but that's not always the case (mainly within Razor views).

[2021-03-26 17:51] markadrake commented on #10064
Thanks for the speedy update @emma-hq! I wasn't aware the team was updating this component, much less already addressing some of my primary concerns with it. I apologize for the oversight and additional issue/ticket here.

If you don't mind me asking this question here:

1. Would HQ consider exposing some of the ImageProcessor plugins as part of the UI?
[An example could be brightness](https://ima

[2021-03-26 18:18] paulwoodland commented on #8869
I'd like to see this too, with a number of blocks available it quickly becomes hard to see what's what, especially for new users etc.

I added something to our installation to split them up for the moment, but it's very hacky, it would be good to see something properly supported. I've attached a picture of ours to show the kind of thing I'd be thinking of, with the category names being the folders

[2021-03-27 11:53] bjarnef opened #10071 "Make it easier to add block list data"
Currently there is this example from documentation to add data programmatically to Block List:
https://our.umbraco.com/documentation/getting-started/backoffice/property-editors/built-in-property-editors/Block-List-Editor/#creating-blocklist-programmatically

However it seems like a lot of code to add data to the default Block List editor, and when working with ModelsBuilder, I think this can be do

[2021-03-28 00:01] #7835 closed

[2021-03-29 07:01] AndyButland opened #10073 "NetCore (alpha4): Problem with models builder and nested content"
I found a problem using a nested content data type related to model builder (using V9 alpha 4).

To replicate:

- Create an element type, called "Nested Item", with one tab "Content" and one text string property "Title".
- Create a document type with template, called "Home", with one tab "Content" and one nested content property "Nested Items".
- Configure the nested content property to use the el

[2021-03-29 13:47] nul800sebastiaan commented on #10066
Hmmm, that's not right, we'll definitely have to have a look, thanks for the detailed report! 👍

[2021-03-29 18:36] patrickdemooij9 commented on #10050
I decided to do a bit of checking in the code for this. What is currently happening is that the start node of the data type is overriding the user starting node. This is done on this line of code: https://github.com/umbraco/Umbraco-CMS/blob/v8/contrib/src/Umbraco.Web.UI.Client/src/views/propertyeditors/mediapicker/mediapicker.controller.js#L138

If there is no starting node set for the data type,

[2021-03-30 07:58] emma-hq commented on #10050
Hey @patrickdemooij9

Thanks for looking at this. I'll take it to the team and we can talk about best approaches for someone to work with when they pick it up. Best if it doesn't get worked on until then though so I'll label as hq-discussion until we have an answer.

Emma

[2021-03-30 09:00] emma-hq commented on #10064
Thanks for the input @markadrake  - I completely see what you mean here. Could I get you to log an issue for the above and I'll label it as a feature and we can discuss at hq? Might even be worth waiting for the v3 release and then raising it, in case there's something you'd like to add.

Emma

[2021-03-30 09:14] emma-hq commented on #9790
Hey @TwoMoreThings

Just an update for you, Mads is working on a solution to this one in #10074.

Emma

[2021-03-30 09:30] emma-hq commented on #5410
Thanks for all the chat on this issue, peeps. I think there's a good case for a docs update here but the issue itself can be closed.

Emma

[2021-03-30 09:30] #5410 closed

[2021-03-30 10:13] uSkinned commented on #5541
@umbrabot still relevant

I would say it is very common to have multiple start nodes in Umbraco. As well as multi-site environment setups it is common to have a Global Settings node that controls site wide content. You may want this hidden for some users hence the reason why you may restrict access to only the main site node.

[2021-03-30 12:46] BeardInASuit opened #10079 "No MediaTypeFormatter is available to read an object of type 'UpgradeResult' from content with media type 'text/html'."
An error occured when Our Umbraco is offline.

When `https://our.umbraco.com/umbraco/api/UpgradeCheck/CheckUpgrade` returns

[code]

The result of `Umbraco.Core\Persistence\Repositories\Implement\UpgradeCheckRepository` is

`System.Net.Http.UnsupportedMediaTypeException: No MediaTypeFormatter is available to read an object of type 'UpgradeResult' from content with media type 'text/html'.`

[2021-03-30 12:52] emma-hq commented on #10050
Hey peeps,

I've taken this to the CMS team and we've discussed how it could work. We've agreed on the below so for anyone wanting to pick this issue up to work on, please take a look at this:

The user should see:
- Just media under their start node if their start node is a descendent of the media picker's configured start node.
- Just media under the media picker's start node if their start node

[2021-03-30 13:18] stefankip opened #10082 "Memory leak in umbraco?"
I'm running 2 out of 2 umbraco website on Azure and both are showing symptoms of memory leak. One is on 8.7.2, the other one was on 8.8.3 and now on 8.12.1 to see if it helps (doesn't).
![image](https://user-images.githubusercontent.com/46313552/112993402-770f0a00-9169-11eb-8f09-0632b01872c7.png)
This is a graph of the last 7 days showing CPU usage (blue line) and memory usage (red line) of the Ap

[2021-03-30 13:40] nul800sebastiaan commented on #10082
As always: please add the version of Umbraco.

While I am not very familiar with analyzing memory leaks, I would expect a leak to show an ongoing increase in memory usage, not it going up and dipping again, looks "normal" to me. When CPU usage goes up, memory goes up, something is happening at those times. Sure the memory is very slowly climbing but it doesn't look super leaky to me.

Not sure if

[2021-03-30 13:44] stefankip commented on #10082
@nul800sebastiaan ofcourse, my bad, added the version info to the TS!
The dip is the process crashing AFAIK, it reaches ~100% RAM and then decides to crash or do some major GC? Good to know there haven't been any reports so far and I do understand it might be more forum material, but I just don't know if it's related to our Umbraco usage or Umbraco core stuff.

[2021-03-30 13:49] nul800sebastiaan commented on #10082
GC would be good, then it's not a mem leak ;-)
Doubt it's crashing if it's not reaching 100% usage. Mostly I would look at logs to see what's happening at the peaks and dips. Also remember that IIS usually recycles daily on it's own.

Additionally, do you have problems with the actual site?

Again, maybe add some details about the setup, if the serverregistrar is involved you are presumably load b

[2021-03-30 13:52] stefankip commented on #10082
GC would be good indeed, but more frequent with less impact I guess.
It's not really crashing, but the sites do become unresponsive multiple times per day, approx. 10 times which is a lot if you ask me.
The set-up is pretty simple; single App Service plan (P2v2) hosting 2 websites. No load balancing involved and the recommended Azure settings are in place.

[2021-03-30 14:01] riccardocorazza commented on #8033
I'm running version 8.12.1 and problem still present.
Any solutions?

[2021-03-30 14:49] nul800sebastiaan commented on #8033
This is still "up for grabs", happy to look at any pull requests for this.

[2021-03-30 14:53] riccardocorazza commented on #8033
Is this Pull Request not the solution?
[https://github.com/umbraco/Umbraco-CMS/pull/8158/files](https://github.com/umbraco/Umbraco-CMS/pull/8158/files)

[2021-03-30 15:05] nielslyngsoe commented on #9790
Fixed by https://github.com/umbraco/Umbraco-CMS/pull/10074

[2021-03-30 15:05] #9790 closed

[2021-03-30 15:09] madsrasmussen commented on #10021
I have had a look at this and you are right the umbTabsNav uses the valTab directive which depends on a form and the validation-manager.

I had to do a bit of testing because the error doesn't happen if you use it inside a dashboard or property editor because these are already wrapped.

I have added the extra part to the documentation with a note that the form and directive are required.

You can

[2021-03-30 15:41] Rizen-Kris opened #10085 "Adding BlockList To Member Type doesn'twork properly."
I am seeing this issue on Umbraco version: 8.12.2

Reproduction
------------

If you're filing a bug, please describe how to reproduce it. Include as much
relevant information as possible, such as:

### Bug summary

When you add a Blocklist to a member type it does not work properly.

### Expected result

you expect it to show the block list editor when you edit the member.

### Actual result

Blo

[2021-03-30 16:15] AaronSadlerUK commented on #9962
Just to update, this issue also happens when editors are manually selected

[2021-03-30 17:49] patrickdemooij9 commented on #9962
Took a look at this today. The issue seems to be that .allow does not take the option "Allow all editors" into account. It's better to be using $allowedEditors because it combines the results based on .allow & .allowAll.
PR: https://github.com/umbraco/Umbraco-CMS/pull/10086

[2021-03-31 08:39] nikolajlauridsen opened #10087 "Canceling EntityContainer saved event causes nullreference exception"
If you cancel the `DataTypeService.SavingContainer` event you will get a null reference exception that will show in the UI as well, the operation is successfully cancelled though. It's worth mentioning that I found this bug when migrating to the new notification pattern in netcore, and there it also occurs for the renaming notification, so I suspect that this is an issue in more places.

![cancele

[2021-03-31 08:50] nul800sebastiaan commented on #10082
That last one could be more of an issue of other things opening too many connections without closing them (not completing the scope).

I know it's not what you want to hear but.. which plugins do you have installed? 😄
We used to have a lot of problems with this error `System.InvalidOperationException: Timeout expired.  The timeout period elapsed prior to obtaining a connection from the pool.` in t

[2021-03-31 10:31] nul800sebastiaan commented on #10085
Ah, this is definitely not something we considered for block list indeed. It's not really meant for members, though it should work.

I am really curious as to what you're trying to do with a block list on Members though? Members are not exactly content items that need to render rich content, are they?

In any case, we'd love some help with this!

[2021-03-31 10:34] el-slowmo commented on #3800
@umbrabot still relevant
Had the exact same issue when trying to empty a 200+ item recycling bin.  This was on an Umbraco v8.6.1

[2021-03-31 12:18] nul800sebastiaan commented on #9790
Also cherry picked for patch releases on 8.11 and 8.12.

[2021-03-31 12:34] el-slowmo commented on #3800
When checking in the db with this query
[code]

I found all entries in the bin had the bit 'trashed' set to 1 - unlike what @zspasojevic encountered.

However, the exception did tell me that the FK constraint prevented the delete, so, there had to be a node that still points to a recycled item.

Indeed, when querying like this:
`select * from umbracoNode where parentid in (SELECT [id] FROM umbraco

[2021-03-31 12:52] ricbrady commented on #8033
Hi @nul800sebastiaan
I've fixed and tested the Bug.
How can I push it and create a pull request?

[2021-03-31 12:57] nul800sebastiaan commented on #8033
Awesome @ricbrady! There's some explanation in our contributing docs: https://github.com/umbraco/Umbraco-CMS/blob/v8/contrib/.github/CONTRIBUTING.md#how-do-i-begin

In short:

- Fork the Umbraco repository
- Clone your fork locally
- Make a branch for the fix
- Fix the problem
- Push the branch to your clone
- On GitHub you can now send us a pull request with that fix

[2021-03-31 13:27] ricbrady commented on #8033
I've done. #10091

[2021-03-31 13:39] emma-hq commented on #7142
Hey @rbottema,

We'll have a chat about this at Hq and take a look at the PR too - thanks for flagging that it's still relevant.

Emma

[2021-03-31 13:47] el-slowmo commented on #3800
Could the orphans be caused because Umbraco.Core.Services.Implement.ContentService.DeleteLocked is deleting the items in order of "Path" descending instead of "Level" descending?  It would make a lot more sense to me that the deepest items be deleted first, and this is way more sure if we use the numeric Level instead of alfanumerical string sorting.

[2021-03-31 13:50] nul800sebastiaan commented on #7383
Unfortunately, the fix provided for this issue turns out to be not exactly what we would want it to be, I've posted a longer explanation about this on the PR: https://github.com/umbraco/Umbraco-CMS/pull/9939#issuecomment-811082535

So for anyone wanting to pick this up, the fix we would like to see implemented is in the comment:

[2021-03-31 14:02] nul800sebastiaan commented on #3800
@el-slowmo I don't know, but you're a very rare person at the moment.. haven't seen this error in years! Let's chalk this up to a fluke or some kind of accident for now. If other people encounter it again, they now have some queries to run and we can reconsider opening the issue. If you can reproduce the issue now by sending stuff to the recycle bin that would be good too of course, then we can re

[2021-03-31 14:02] #3800 closed

[2021-03-31 14:05] WizX20 commented on #7112
I am currently facing this issue on an HeartCore project running Umbraco 8.6.8.

This issue mostly surfaces when publishing when publishing an items and it's descendants. Rebuilding the internal index seems to mitigate the issue for a while, but it has come back on multiple occasions.

[Umbraco HeartCore Exceptions.txt](https://github.com/umbraco/Umbraco-CMS/files/6237142/Umbraco.HeartCore.Excepti

[2021-04-01 05:36] BreathingFlesh commented on #9967
I can definitely help with the translation. No problem. I don't know however, how any of this works with contributing and all. I could send you the edited language file? Or I could just write the lines that need to be adjusted.

[2021-04-01 07:52] idseefeld commented on #9817
I confirm for version 8.12.2.

[2021-04-01 07:57] bjarnef commented on #9817
I would say it should never create templates om blur, but require an active save like everything else in backoffice UI. Not sure the reason behind thr save on blur was implemented as it previous only saved in button click or via shortcut key.

[2021-04-01 08:12] stefankip commented on #10082
Is it possible to disable the `DatabaseServerRegistrarAndMessenger` as we're not using a LB set-up at all to check if that is causing the issues for us?

[2021-04-01 08:57] emma-hq commented on #10032
Good morning @bjarnef! 🌞

Thanks again for this idea. We've had a talk and have decided that while there's a good use case for this change, it would be much better fitted to an extension method. You've added a particular example of each member having one type and one group, but in core we'd need to be more flexible as members can have more than one type. There are other things to consider too: sho

[2021-04-01 10:52] bjarnef commented on #10032
I think you may have misunderstood this.
This is purely about member groups, nothing would effect member types.

Whether the member group(s) should be assigned only on new entities is totally up to the developer. It is just and easier way to ansign a value in member group property instead of the dictionary approach.

A `MemberGroups` property could also be useful to populate this if we need this i

[2021-04-01 11:24] emma-hq commented on #10032
Ok @bjarnef - thanks for clarifying. We'll have a chat and get back to you

[2021-04-01 11:27] bjarnef commented on #10032
The example can easily assign more than one member group like this, where "Group1" and "Group2" will be assigned but not "Group3" (it could be `false` or omitted).

[code]

[2021-04-01 11:50] bjarnef commented on #10032
We use the `MemberDisplay` model on member edit page as well:
https://github.com/umbraco/Umbraco-CMS/blob/v8/contrib/src/Umbraco.Web/Editors/MemberController.cs#L166

The `IMember` has a property `Groups` which is `IEnumerable<string>` not sure why this is `null` though.

![image](https://user-images.githubusercontent.com/2919859/113288706-9637a400-92ef-11eb-8733-2f4c8aec18ef.png)

And in the `Pro

[2021-04-01 11:55] mbentancour commented on #9967
If you are interested in opening a pull request, there are a couple of good articles on how to get started ([this one from Seb back in 2014](https://24days.in/umbraco-cms/2014/your-first-pull-request/), and [this more recent one from Dennis Adolfi](https://24days.in/umbraco-cms/2020/your-first-pull-request/).

Otherwise, I'm more than happy to do it. If you paste the German translation here I will

[2021-04-01 12:00] bjarnef commented on #10032
From what I can find it seems the `Groups` property is inherited from here, but currently commented.
https://github.com/umbraco/Umbraco-CMS/blob/v8/contrib/src/Umbraco.Core/Models/Membership/IMembershipUser.cs#L45

[2021-04-01 12:21] bjarnef commented on #10032
Alternatively some extension methods / utilties to handle this could be useful.
Maybe something which could be used in e.g. `SendingContentModel` if using Member Group Picker as I think this is the same picker. Could it also be useful for other property editors as well?

[2021-04-01 12:53] bjarnef commented on #10032
Although we mostly only use the default member group picker it is possible to add another property to Member Type using Member Group Picker (maybe this would be used for some other stuff), so I think it would be fine to assign member groups for a specific property like the example above.

[2021-04-01 13:25] SRUC commented on #3800
We are currently experiencing this same issue on Umbraco Cloud (Umbraco 8.6.8). We have hundreds of nodes, many with children going down 2-3 levels, in the recycle bin and cannot delete them.

[2021-04-01 13:50] bjarnef commented on #10032
Okay, while looking at this PR https://github.com/umbraco/Umbraco-CMS/pull/10094 it seems we have to Member Group Pickers, which is a bit confusing.
The default member group picker on a member store a dictionary of key/value, where key is member group name and value (boolean) is whether the member group is selected.

The new member group picker stores and array of udi.

[2021-04-02 00:00] #7867 closed

[2021-04-02 08:00] robertjf opened #10095 "[NETCORE] Alpha 4 - Saving a nested block list with item limits (min/max) results in NullReferenceException"
I created a block list schema including nested items - when I went to save a content node with the properties I received the following error:

[code]

## Umbraco version

I am seeing this issue on Umbraco version: nightly build 9.0.0-beta001.20210222.10

Reproduction
------------

If you're filing a bug, please describe how to reproduce it. Include as much
relevant information as possible, such as

[2021-04-02 11:18] bjarnef commented on #9817
It was implemented as part of https://github.com/umbraco/Umbraco-CMS/commit/f9761ad2f848c6ab421814b09fe3fb1916c043aa

@nathanwoulfe do you recall why we need to bind the on blur event on name input field and save the template on blur?
It seems to be related to avoid overwrite existing template on disk, but e.g. when clicking save button it trigger a double-save: A save on blur and a second save on

[2021-04-02 11:27] bjarnef commented on #9817
Maybe we should instead implement an optional `onNameBlur` instead similar to `onBack`?
https://github.com/umbraco/Umbraco-CMS/blob/5e4d326ec2927d9895154afdbb38c493059211c9/src/Umbraco.Web.UI.Client/src/common/directives/components/editor/umbeditorheader.directive.js#L391

[2021-04-02 17:39] robertjf commented on #10095
some further notes on this - when I cleared out all the nested blocklist content, saved the document and then added them back, I was unable to replicate the issue...

[2021-04-02 21:50] nathanwoulfe commented on #9817
The save on blur was added to avoid overwriting when a template file exists on disk but not in the backoffice.

Without the blur event, the existing file would be overwritten with whatever the editor adds in the backoffice.

Rather than a save on blur, should really just check for the existing file, and offer to load it. There may have been a requirement for saving, was a while ago so my memory is

[2021-04-02 21:52] nathanwoulfe commented on #9817
Alternatively we could debounce the save, I think the blur would still fire before the save click, so could suppress the button click if the blur has fired and not yet had a response

[2021-04-03 07:04] bjarnef commented on #9817
@nathanwoulfe I still wonder if we should handle this another way than save in blur, since we don't do that elsewhere in backoffice UI.

Maybe tur save should instead check for existing template instead before creating a new.

[2021-04-03 07:14] nathanwoulfe commented on #9817
I don't remember if there was a reason we did the save this way, but it doesn't really make sense, especially since it's not done elsewhere...

[2021-04-03 08:35] bjarnef commented on #9817
I think it comes down to `SaveFile` which create the view on the disk.
https://github.com/umbraco/Umbraco-CMS/blob/v8/contrib/src/Umbraco.Core/Persistence/Repositories/Implement/TemplateRepository.cs#L237-L258

[2021-04-03 08:51] bjarnef commented on #9817
Actually it seems `CreateView` does check if the file exists:
https://github.com/umbraco/Umbraco-CMS/blob/v8/contrib/src/Umbraco.Core/IO/ViewHelper.cs#L46

But the second parameter overwrite any existing file on disk, so it seems it works as expected.
I wonder if it should just use `_viewHelper.CreateView(template, false)` or `_viewHelper.CreateView(template)` instead?

[2021-04-03 09:11] bjarnef commented on #9817
I have submitted a PR https://github.com/umbraco/Umbraco-CMS/pull/10098
It seems to be more reliable how the template is saved 👍

[2021-04-04 00:16] #9962 closed

[2021-04-05 07:32] nul800sebastiaan commented on #10095
Thanks @robertjf! Don't know if you still have the db at the time of the problem? If not, could you try to create a new node with a nested content item and see if it returns? I have a feeling it's a problem with the validation that we're still working on, also for v8. Usually the problem only occurs the first time you save a node where validation doesn't pass the first time.

[2021-04-05 08:32] motocombotag commented on #8625
@ault @Shazwazza I'm having the same issue on my Umbraco site based on v8.6.1. Thanks for the issue and the fix. Can you guys explain how I can upgrade to 8.6.4? I checked Umbraco docs but there's no detailed guide on upgrading a minor version. Thanks for your help in advance!

[2021-04-05 21:42] #10021 closed

[2021-04-06 07:35] #9918 closed

[2021-04-06 07:52] ault commented on #8625
If you are using Visual Studio, Nuget Package Manager will let you do this easily. If you are not using VS, I have no idea.

[2021-04-06 08:02] mcsagittarius commented on #6159
Uhh... except some data types take a very long time to set up. Doing a block list with thumbnails and then having to do a slightly different version for a new page type is really painful. It just seems like such a simple thing to be able to do. You can copy document types... why not data types?

[2021-04-06 08:06] bjarnef opened #10102 "Configurate listview per member type"
Based on Umbraco v8.12.2 it is currently not possible to create a listview configuration per member type similar to document types.
When having multiple member types some of these might have properties which is useful to display in listview, but not available on other member types.

[2021-04-06 08:11] bjarnef commented on #9145
I am seeing a similar issue in v8.12.2 when adding a MNTP to a member type and using the following template:

[code]

![image](https://user-images.githubusercontent.com/2919859/113679801-74a83500-96c0-11eb-8d29-278cfaeabb51.png)

[2021-04-06 08:26] bjarnef opened #10103 "Support Upload in Block List"
Based on Umbraco v8.12.2 it seems the `Umbraco.Upload` is currently not supported in block list.
Is there a specific reason this isn't supported?

It could be useful in a list of files, where a "Block File" is used.

![image](https://user-images.githubusercontent.com/2919859/113680850-98b84600-96c1-11eb-9042-9003ea0f7b56.png)

A media picker could be used, but we don't always want to create upload

[2021-04-06 09:05] rustybox opened #10104 "Umbraco 7 - Weird PublishedMediaCache issue : ContentTypeService failed to find a media type with alias"
I don't really expect anyone to look into this issue, but it might be handy if the search engines index it so folk can see my workaround.

A while back a coworker of mine mentioned that they couldn't run a project locally as they got a 500 page with the message

[code]

I thought this odd as the alias made no sense in the context of the project but did fit another Umbraco 7 project we both work on

[2021-04-06 09:42] emmagarland commented on #9913
I believe this can now be closed @Shazwazza based on #9946 being merged?

[2021-04-06 12:48] OwainWilliams commented on #8033
Fixes #10091

[2021-04-06 20:25] mbrooksNPDC opened #10105 "Integrate with ArcGIS Webmaps or web feature layers including options for filtering."
A brief description of your feature request goes here.

Integrate with ArcGIS Webmaps or web feature layers including options for filtering.

In the terratype documentation there is talk of potential future work integrating ArcGIS products similar to the way Google, Bing and Leaflet is currently used.

Please consider ArcGIS webmaps or Web Feature layers  including filtering and exposing related (

[2021-04-06 20:57] lars-erik commented on #9088
I wonder if `ServerRole.Backoffice` and `ServerRole.FrontEnd` would do. They are concepts we're already familiar with... (Casing's debatable)

[2021-04-06 22:31] lars-erik opened #10106 "Build better API's for testing (and more)"
I've just logged off an awesome Leeds meetup where @Adolfi showed off his V8 tests. We had some good chats afterwards about what's good and not about Umbraco and testing in V8. Amongst others @mattbrailsford challenging how we can claim "unit testing should be easy". Which lead me to this post.

I have a dream for testing in V9 that I couldn't get fulfilled for V8.
Recently I read this [twitter th

[2021-04-06 23:46] nzdev commented on #10106
https://github.com/umbraco/Umbraco-CMS/pull/9857

[2021-04-07 02:32] nzdev commented on #10106
This too for routing https://github.com/umbraco/Umbraco-CMS/pull/8927

[2021-04-07 04:45] Shazwazza commented on #9088
I don't think BackOffice will work because eventually (could actually almost work now) the BackOffice can be load balanced. Even if we get to the point where that is perfectly reasonable, there will probably still be some need or terminology used for a Main/Primary.

I've seen others start using Leader and Follower or Primary and Secondary. I guess in our domain though, it's more like: Main/Primar

[2021-04-07 07:22] nul800sebastiaan commented on #10105
Thanks @mbrooksNPDC, we have no such plans for integration. We recommend developing a package (plugin) for that. We have some documentation around making packages here: https://our.umbraco.com/documentation/Extending/Packages/

[2021-04-07 07:22] #10105 closed

[2021-04-07 08:06] emma-hq commented on #10106
Good morning Lars 😁

Just to say, I hear you - we'll talk over here and send over a response. Thank you for taking the time to put all your views into an issue. This is what drives improvements 💪

Emma

[2021-04-07 08:15] lars-erik commented on #10106
Thanks @emma-hq!

Looks like @nzdev has gone a long way towards fulfilling my dreams! 😁 #H5YR
Must see about time to look more at the current codebase, but excited to see if we can get a discussion going for a full score.

[2021-04-07 08:42] nul800sebastiaan commented on #10050
FYI I've tested this in v8.1 and v7.15 as well and the same problem exists, video from 8.1:

https://user-images.githubusercontent.com/304656/113837020-b94dd200-978d-11eb-9e1a-d45912601d74.mp4

I think the guidance above might be a bit misleading.

When I start picking media here, I end up in the `People` folder, makes sense, that's configured on the media picker.

![image](https://user-images.git

[2021-04-07 10:39] bergmania commented on #10073
Thanks for reporting.. I'm not sure why it needs to have the `global::`. Maybe we should just remove it...

[2021-04-07 11:56] nul800sebastiaan commented on #9948
As noted in https://github.com/umbraco/Umbraco-CMS/pull/9957 - turns out we were already working on an alternative version of this feature in PR https://github.com/umbraco/Umbraco-CMS/pull/9461

So that one will fix this issue, we couldn't get it ready for 8.13 yet, but it will go into 8.14 - we'll keep this open for a bit longer until the PR is merged.

[2021-04-07 12:24] stefankip commented on #10082
So I think I've pinpointed the issue to Vendr, and specifically fetching the Stock. I've done some dotMemory tests with ab.exe and it might be located in this class:
https://github.com/umbraco/Umbraco-CMS/blob/v8/contrib/src/Umbraco.Core/Cache/ObjectCacheAppCache.cs#L16
![image](https://user-images.githubusercontent.com/46313552/113865882-ec538e00-97ac-11eb-983a-748b01874282.png)

[2021-04-07 13:17] mattbrailsford commented on #10082
Just to add some context to this, as I've been working with Stefan to resolve this, whilst we think we have a solution by adding a caching layer, neither of us have managed to resolve the ultimate course.

Essentially, Vendr is currently built assuming that people wouldn't be fetching the stock level from every item in a list, however Stefan has pointed out a legit use case where this is needed. I

[2021-04-07 15:16] nul800sebastiaan commented on #10082
Wow, great investigations there so far!

I do see that we have quite a few fixes around scopes and memory usages in the upcoming 8.13 so it would be interesting to see if the problem still occurs in 8.13 (without the additional cache), not sure if that's going to be easy to test but it could point out if any of that helped, things that look like they could be related in 8.13 are:

* [Change scope

[2021-04-07 15:45] soreng opened #10108 "Select icon when creating a composition"
When using the new create doctype dialog in v8.12, the the icons in the dialog should be selected in the new type being created.

Right now we have to select the same icon every time we create a composition.

Also, it would be nice to have some colours pre-selected too. Maybe based on how @prjseal does in his awesome tutorials.

[2021-04-07 16:25] Jeavon opened #10109 "KeepAlive Ping could be used for external health probes"
The ping method of KeepAliveController has OnlyLocalRequests attribute which checks the request for IsLocal, this in effect means only requests from 127.0.0.1 will get a valid response. (is this used much/ever?)

See -
https://github.com/umbraco/Umbraco-CMS/blob/d428a4543f33bb7094cf7db5f6b6fdc2d1de3063/src/Umbraco.Web/Editors/KeepAliveController.cs#L11

I would like to either see this local attrib

[2021-04-07 17:16] Swimburger commented on #10109
I share your opinion, but it was not critical for me personally.
I think security was the reason behind this, tho I don't really see a security issue with removing the attribute.

Or making it configurable as you suggest, maybe you can specify an IP range or disable it.

[2021-04-07 18:26] matthew-houser opened #10110 "Cancelling MemberService.Saving event does not display message from e.CancelOperation() but instead displays "member saved""
A brief description of the issue goes here.

Trying to cancel the operation due to invalid data works, operation does get cancelled and invalid data is not saved, but the message passed does not show up on the backend page. It just shows a green "member saved" bar instead of the message passed to e.CancelOperation().

I've also tried e.Message.Add() and e.Cancel = true;

## Umbraco version

I am s

[2021-04-07 20:05] craigs100 opened #10111 "The Generic Media File Extension Label is Illegible"
## Brief description of the issue ##

When uploading a file type that doesn't generate and thumbnail the file extension is laid over a generic icon. The extension text's background colour is pale pink (#fee4e1) and the text is white (#ffffff). This makes it very difficult to read the file type.

## Umbraco version ##

I am seeing this issue on Umbraco version: 8.12.2

### Steps to reproduce

From

[2021-04-07 21:58] bjarnef commented on #10111
Originally it looked like this https://github.com/umbraco/Umbraco-CMS/pull/6293

But the color of `@ui-active` has changed since then, so we should either update the text color or choose a different background color for the label. @nielslyngsoe

[2021-04-07 22:02] craigs100 commented on #10111
Probably simpler, and more brand compliant to change the text to black? Didn't realise the significance of ui-active till later.

[2021-04-08 00:00] #7899 closed

[2021-04-08 03:55] Shazwazza commented on #10082
What is ObjectCacheFactory in Vendr and is it constructing a new `ObjectCacheAppCache` for each `UnitOfWorkTransaction`? (That's what it looks like in that image above)

There's not really a reason to create a custom `ObjectCacheAppCache`, all caches are managed directly by the Singleton in Umbraco: `Umbraco.Cms.Core.Cache.AppCaches`. This should just be injected where required and has access to a

[2021-04-08 06:49] stefankip commented on #10082
@Shazwazza I've had a quick glance at the source (sorry @mattbrailsford ;-) ):

[code]

[2021-04-08 07:32] nielslyngsoe commented on #10111
I´m sad that we didn't spot this earlier, but it did come to my awareness recently and therefore its begin fixed in the next release, as part of Media Picker 3.
https://github.com/umbraco/Umbraco-CMS/pull/9461

[2021-04-08 07:32] #10111 closed

[2021-04-08 08:03] DanielToft opened #10112 "ContentCacheRefresherNotification is dispatching every 10 seconds"
It seems that the ContentCacheRefresherNotification is dispatching 1 time every 10 seconds, after umbraco is started.

I have include the log below. The "ContentRefresherHandler" entry is my custom ContentCacheRefresherNotification handler where I log the ChangeType for all MessageObjects in the notification.

[code]

Reproduction
------------

### Specifics
Umbraco Core nighly build version: 9.0.

[2021-04-08 08:10] mattbrailsford commented on #10082
Yup, this was intentional due to how our caching mechanism works. Because all our API's fetch from the cache first, when a transaction is started and changes are made to the cache, we create a temporary cache within the transaction to hold those changes. Thus anything that happens in the transaction that accesses the cache gets those updated values, but if the transaction fails, we can simply ditc

[2021-04-08 12:25] stefankip commented on #7905
@umbrabot still relevant
Still waiting for the "I'll have to ask around and get back to you." part :-)

[2021-04-08 14:32] FransdeJong opened #10113 "Conditional fields seem to be broken"
Reproduction steps:

- create new solution
- install forms nuget
- run and install umbraco with starterkit.
- add a form with a radiobuttonlist with 2 options
- add a field with a condition set:
![image](https://user-images.githubusercontent.com/29602162/114043806-ea5dfd80-9886-11eb-868f-26f1c8c14168.png)

Add the form in the grid on home:
![image](https://user-images.githubusercontent.com/2960216

[2021-04-08 15:24] AndyButland commented on #10113
Thanks @FransdeJong - have replicated now and confirm your fix resolves the issue (and also doesn't break conditionals across multi-page forms which is what I was looking to resolve previously).  Appreciate your help here, I'll get this in for 8.7.1 due on Tuesday next week.

[2021-04-08 15:48] f33n3y opened #10114 "ContentService Published event not firing for scheduled publish"
## Umbraco version

8.6.3

Reproduction
------------
Create a component to listen for ContentService.Saving events by following the Umbraco Docs example:
https://our.umbraco.com/documentation/Implementation/Composing/#example---creating-a-component-to-listen-for-contentservicesaving-events

Add some dummy logic in the event handler
Set a breakpoint and debug
Publish a test page and check your brea

[2021-04-08 15:50] nul800sebastiaan commented on #10102
That's correct, members are a little special and I believe there's a technical limitation to turning a member type into a custom list view, I'll have to check.

In the mean time I you could any listview datatype you want to member types and the might be the way to go.

[2021-04-08 16:00] nul800sebastiaan commented on #10103
I can't remember exactly why this isn't possible, but unfortunately we've tried multiple times and have not been able to make this work. Therefore you will get this error instead.

[2021-04-08 16:00] #10103 closed

[2021-04-08 16:01] nul800sebastiaan commented on #10104
Thanks, I have absolutely no advise either, but might be good for Google one day! 😅

[2021-04-08 16:01] #10104 closed

[2021-04-08 16:09] nul800sebastiaan commented on #10108
I am a little lost here @soreng - would you be able to illustrate with a couple of screenshots/gif please?

[2021-04-08 16:13] nul800sebastiaan commented on #10109
I have no objection to just removing the attribute again, all good with me! 👍

[2021-04-08 16:16] nul800sebastiaan commented on #10110
Interesting, I don't know why I ended up closing my own PR for this back in the day: https://github.com/umbraco/Umbraco-CMS/pull/2584

Maybe it can be used as inspiration to getting this fixed!

[2021-04-08 16:17] bjarnef commented on #10103
Yes, it could be useful though, but not sure if some if there is something technically preventing this from working. For the specific use-case I have used media picker instead, where I however don't really need to re-use the media picker thus a file upload would have been great.

[2021-04-08 17:37] bjarnef commented on #10103
I just tried comment out this line with `Umbraco.UploadField`:

https://github.com/umbraco/Umbraco-CMS/blob/d428a4543f33bb7094cf7db5f6b6fdc2d1de3063/src/Umbraco.Web.UI.Client/src/common/services/blockeditormodelobject.service.js#L232

The UI part seems to be working:

![image](https://user-images.githubusercontent.com/2919859/114071749-c52ab880-98a1-11eb-8172-5c7f058c99db.png)

But it breaks here

[2021-04-08 18:46] bjarnef commented on #10103
I had a look at it here https://github.com/umbraco/Umbraco-CMS/pull/10115 but it seems something is missing. However I am able to render to file name 😅

[2021-04-09 03:31] Slipoch opened #10116 "Allow error messages in the backoffice to be displayed for longer"
Allow errors and warnings that are displayed in the backoffice to be displayed for longer.

[2021-04-09 06:37] nul800sebastiaan commented on #10116
Hi there @Slipoch, what is the reason behind this request please?

[2021-04-09 07:12] nielslyngsoe commented on #10103
Hi @bjarnef, If I recall correctly the problem of uploading files within Bl or NC, is that the input field might be gone when submitting the document. I think the HTML-input holding the file still needs to be represented when submitting.

There might be other details to why its not working of today, which i cant remember right now.

It would though be possible if we handled files differently. Exam

[2021-04-09 07:21] bjarnef commented on #10103
@nielslyngsoe the Upload looks almost like we know it, but it has some strange issues with loading the correct image with more blocks in the list.

On a content node it seems there is easy access to content item and the `UploadedFiles` property, but it seems to be different for the BL. Anyway I played a bit with it here 😁
https://github.com/umbraco/Umbraco-CMS/pull/10115

[2021-04-09 07:56] Slipoch commented on #10116
The client cannot see he missed a mandatory field. He saw a eed box appear and couldnt see the field outline.Sent from my Galaxy
-------- Original message --------From: Sebastiaan Janssen ***@***.***> Date: 09/04/2021  4:38 pm  (GMT+10:00) To: umbraco/Umbraco-CMS ***@***.***> Cc: Slipoch ***@***.***>, Mention ***@***.***> Subject: Re: [umbraco/Umbraco-CMS] Allow error messages in the backoffice to

[2021-04-09 07:57] nul800sebastiaan commented on #10116
Thanks @Slipoch - I really need a little bit more information than this, could you show a screenshot of where this went wrong, or a screen recording would be even better?

[2021-04-09 10:24] bergmania commented on #10112
Thanks for reporting.. We will investigate :)

[2021-04-09 20:49] stefankip commented on #10082
Just a heads up; the latest version of Vendr that @mattbrailsford shared with me fixes all my trouble!
But I'm still wondering why the memory is growing and growing in the old situation. Maybe there's still an issue inside Umbraco then?

[2021-04-10 00:00] #7904 closed

[2021-04-10 00:00] #7906 closed

[2021-04-11 13:01] nul800sebastiaan commented on #10114
Thanks @f33n3y - we'll have a look and see what's up.

[2021-04-11 16:57] soreng commented on #10108
When you click the type of type (?) you want to create, there is no icon set.
![image](https://user-images.githubusercontent.com/359492/114313617-6eb6b780-9af7-11eb-8b13-1ddeee2ef090.png)

It would be nice if, instead of nothing, the icon from the type, ie the "defrag" icon for compositions, was set on the new type you are creating.

[2021-04-12 05:32] Shazwazza commented on #9913
yep!

[2021-04-12 05:32] #9913 closed

[2021-04-12 08:17] lars-erik commented on #9904
My two cents is that the unit tests have long been sub par and both new and old things have been hard to test. A lot of stubbing is done to avoid integration, often long before the actual integration takes place. To me it's a definite symptom of architecture blocking proper GUTs. (Good unit testst)

As far as I've seen there's been quite a push against more testable architecture in V9. @nzdev' and

[2021-04-12 09:38] elit0451 commented on #10073
I don't think it is related to the `global::` prefix - that is the way we have it in v8 and there it works.
I've also compared the auto-generated code with segments from the files generated through `AppData` mode and they are identical, so it is something else, not related to the generated code 🤔

P.S. No errors from generating the models with `AppData` mode.

[2021-04-12 10:19] nul800sebastiaan commented on #10082
I'm wondering exactly the same. From talking to Matt, I am doing some tests with many small queries to the database to see if I can repro this one.

[2021-04-12 10:32] nielslyngsoe opened #10122 "RadioButton property editor does not reset vaidation message on first selection."
In relation to reviewing https://github.com/umbraco/Umbraco-CMS/pull/10013 I found that RadioButtons property Editor does not update ng-model correctly. This means in the scenario describes by the above issue, the radio buttons validation message first disappears after making a choice and changing it (double clicks) A problem in a scenario where it wasn't set initially.

This should be fixed :-)

[2021-04-12 15:08] nul800sebastiaan commented on #10082
I ran the following code with 1 million iterations, the memory fluctuates with a few hundred kilobytes, no sweat.
Then Matt suggested to try many concurrent connections. Trying to call this endpoint with the `i` value set to `100` and then simulating a thousand concurrent requests was really good to get my CPU working but the memory still didn't fluctuate.

[code]

So I am sure it's some kind of c

[2021-04-12 15:23] nul800sebastiaan commented on #10114
Hey @f33n3y, I've given it a spin (on version 8.12) and this work as I expect it to. When you schedule a node then it saves it without publishing. As soon as the scheduler sees it's time to publish the node, it will do so an trigger the `Publishing` event, which is what you should be hooking into, this is my sample code I used to verify this:

[code]

I can't imagine that this doesn't work in 8.6,

[2021-04-12 15:23] #10114 closed

[2021-04-13 00:02] #7816 closed

[2021-04-13 00:43] nzdev opened #10127 "Block list very slow to / fails to render labels when using {{ propertyName | ncNodeName}}"
Block list very slow to / fails to render labels when using  `{{ propertyName | ncNodeName}}`

## Umbraco version

I am seeing this issue on Umbraco version: 8.12.2

Reproduction
------------

### Bug summary

When using the block list with a block that contains a multinode tree picker, I want to display the name of the selected node on the block, similar to if I had used the multinode treepicker

[2021-04-13 08:35] MortenL opened #10128 "sectionMandatoryDesc is missing CDATA"
https://github.com/umbraco/Umbraco-CMS/blob/9d5a5d886e6b58c4aeda6917ce49ff25d815fe0e/src/Umbraco.Web.UI/Umbraco/config/lang/en.xml#L1573

this entry seems to be missing CDATA

Umbraco version
I am seeing this issue on Umbraco version: 8.12.2

[2021-04-13 10:51] bjarnef opened #10129 "ModelsBuilder GetModelPropertyType doesn't work with Id or Name properties"
Based on Umbraco v8.12.2 and ModelsBuilder (embedded) and AppData mode we can used the following to get the alias via a strongly typed syntax.

[code]

Example:
https://our.umbraco.com/forum/using-umbraco-and-getting-started/105633-create-content-programmatically-using-strong-types-from-modelsbuilder#comment-329567

However using `Id` property it seems to break.

[code]

For this specific use-case

[2021-04-13 11:46] nielslyngsoe opened #10130 "Invalid Property alias cannot become validate again"
It's not possible to correct an invalid property alias to a valid one.

Replicate:

- Create a new document type.
- Add a new property
- Give the property the name "b", alias will then become the same.
- Pick a property Editor, doesn't matter which.
- Click "Save"
- Now the validation will let you know that your aias isn't valid.
- Try to correct the alias, but no matter what you do it stays inval

[2021-04-13 12:30] nul800sebastiaan commented on #10130
FYI the workaround is to change the name of the property and some revalidation will happen, as can be seen in the following video, so it only doesn't work if you try to update the alias directly, by unlocking it.

https://user-images.githubusercontent.com/304656/114552301-beff5800-9c64-11eb-9aa9-7417e75cc6ce.mp4

[2021-04-13 12:44] nul800sebastiaan commented on #10128
Definitely! We'd appreciate some help with that, might be good to check the other language file for this key as well! 👍

[2021-04-13 16:34] JasonElkin commented on #8893
I was about to start a new issue, but I wonder if this is a manifestation of the problem I'm having [here](https://github.com/umbraco/UmbracoDocs/issues/3115).

[2021-04-13 21:11] shearer3000 opened #10131 "Umbraco "rollback to" doesn't include saved revisions"
Hi – The “Rollback to” list of previous versions only includes “Saved + Published” content and not revisions that were only “Saved”.
Our content editor wishes to rollback to a specific “Saved” content revision. Is this possible?
Thanks

[2021-04-13 21:21] shearer3000 commented on #3830
I feel like the community disappointment here is that this really should've been consider MVP (minimum viable product) for the original Variants RFC/spec, not an enhancement/after-thought.

[2021-04-14 01:53] Shazwazza commented on #8893
There's a couple issues/questions here.

SupportProtectedContent for the external index is true by default. There's no customization needed to make this correct.

As mentioned the #9137, #9010 also has an effect on some reports above.

And yes possibly parts of the above are due to something resolving the underlying value types too early, as per https://github.com/umbraco/UmbracoDocs/issues/3115#i

[2021-04-14 07:44] nul800sebastiaan commented on #10131
Hi @shearer3000, this is not possible any more, we had this in v4(6?) but it caused problem with the amount of data for saving all those versions in the database for each little change that editors saved.
That said, I think it would be really cool to have a package that could try to do something similar maybe using the local storage api in browsers.
We have no plans to include this as a feature in

[2021-04-14 07:44] #10131 closed

[2021-04-14 08:14] netaddicts commented on #7902
@umbrabot Still relevant
This issue can be reproduced in 8.11.1

[2021-04-14 08:14] bjarnef commented on #10102
@nul800sebastiaan yes, I could create a listview and add this to the member type, but it really doesn't make sense since when viewing it doesn't have any children.

So it would look like this:

![image](https://user-images.githubusercontent.com/2919859/114676713-dc3a3200-9d09-11eb-96ea-dd0ce72f8c90.png)

If adding a property using listview datatype to Content and Media, you would add this to the p

[2021-04-14 08:46] bjarnef opened #10132 "Cache not updated after setting property using member picker"
Using Umbraco v8.12.2 on a project where I using ContentService to create an edit some content nodes/entities.

One if the properties being set is an "Author" property, which is also updated in backoffice:

![image](https://user-images.githubusercontent.com/2919859/114681316-4fde3e00-9d0e-11eb-98a4-799e337919a9.png)

![image](https://user-images.githubusercontent.com/2919859/114679892-e4e03780-9d0

[2021-04-14 08:50] bjarnef commented on #10132
Not sure if it is correct the value converter use `PropertyCacheLevel.Snapshot`:
https://github.com/umbraco/Umbraco-CMS/blob/v8/contrib/src/Umbraco.Web/PropertyEditors/ValueConverters/MemberPickerValueConverter.cs#L27

Most other property editors use `PropertyCacheLevel.Element`:
https://github.com/umbraco/Umbraco-CMS/blob/d428a4543f33bb7094cf7db5f6b6fdc2d1de3063/src/Umbraco.Core/PropertyEditors/V

[2021-04-14 09:35] Jeavon commented on #10109
Fixed in #10126

[2021-04-14 09:35] #10109 closed

[2021-04-14 10:10] drpeck opened #10133 "Nuget restore not updating files"
If a colleague upgrades umbraco, when I pull and restore nuget packages, updated `/umbraco/*` files are not overwritten. This must be new, as I'm sure I would have run in to this issue previously otherwise.

This issue became apparent as a result of the Default.cshtml change causing a runtime error after upgrades.
See: https://our.umbraco.com/forum/using-umbraco-and-getting-started/105442-upgraded

[2021-04-14 10:30] drpeck commented on #10133
I suppose there is a question about if the Umbraco folder should or should not be included in Git or not. Many people don't.

If including it is a requirement then this isn't a bug. Is there an official view?

[2021-04-14 10:50] Emetico commented on #6638
This is marked as closed. Does that mean its not implementet and not planned to be?

[2021-04-14 11:32] nul800sebastiaan commented on #3830
Sure thing @shearer3000 - and it is for that reason we've started creating RFCs before we implement large new features like these so that we can consider all perspectives before implementation.

[2021-04-14 11:38] nul800sebastiaan commented on #10133
None of this has changed in years.

Indeed! We recommend you store the umbraco folder in git so new changes get distributed to the rest of your team.

We know many people disagree with this view but that's what we have for now, NuGet isn't particularly good at helping distribute content files like this, it's much more suitable for shipping "libraries".

As such, I'll close this as "works as intend

[2021-04-14 11:38] #10133 closed

[2021-04-14 11:57] JasonElkin commented on #8893
@Shazwazza the plot thickens...

In my case it looks like it's due to race conditions with the `ContentTypeCacheRefresher`.

In my logs I can see that the refresher is getting fired in between the ExamineComponent and my custom component being composed. The refresher is [initialising the index](https://github.com/umbraco/Umbraco-CMS/blob/d428a4543f33bb7094cf7db5f6b6fdc2d1de3063/src/Umbraco.Web/Sea

[2021-04-14 12:30] Shazwazza commented on #8893
Thanks for more investigation. I'll have a look tomorrow if how that can happen. The problem isn't the approach documented, it's this odd behavior of premature index init that shouldn't happen. Sounds like you've found the culprit or at least part of it which is great! Gives me something to analyze. Will report back tomorrow. Cheers!

[2021-04-14 12:36] dawoe commented on #10133
@nul800sebastiaan  are you sure about that ?

Because the documentation has been recommending us for years not to store the umbraco folders in source control.

https://our.umbraco.com/Documentation/Getting-Started/Code/Source-Control/index-v7#the-umbraco-folders
https://our.umbraco.com/Documentation/Getting-Started/Code/Source-Control/#the-umbraco-folder

This  how we have been source controlling

[2021-04-14 13:13] drpeck commented on #10133
I guess this old nuget issue is pertinent.
https://github.com/NuGet/Home/issues/3787

[2021-04-14 14:37] nul800sebastiaan commented on #10133
@dawoe interesting! Well I guess when I say "we" I meant "I" then. How do you deal with @drpeck's problem?

[2021-04-14 14:52] dawoe commented on #10133
Have not encountered such a issue yet. Only sites I have on 8.12 are on Cloud.

Dave

[2021-04-14 14:54] nul800sebastiaan commented on #10133
On previous sites? On Cloud.. we commit the umbraco folder 😅

[2021-04-14 14:55] dawoe commented on #10133
Yep..that's why I did not encounter the issue yet :-D

[2021-04-14 14:57] nul800sebastiaan commented on #10133
Understood, but I was drawing on your experience since you said:

So.. you must have encountered this scenario before? 🤔

[2021-04-14 15:03] dawoe commented on #10133
@nul800sebastiaan

Probably the issue happened to us as well. But did not have the impact like it does now. But it explains now why we sometimes saw small backend issues appearing after upgrades (and not for all users)

[2021-04-14 15:06] drpeck commented on #10133
I think an interesting point is that this hasn't been raised as an issue before. I can only conclude that most people are committing the folder or working around the issue with a reinstall if the issue causes a critical error.

Could there be an Umbraco version number stored in the Umbraco folder. If that doesn't match the DLL version then an alert is shown?

[2021-04-14 18:12] skttl commented on #10108
I think it makes perfect sense for the default icon to match the ones in the dialog 👍

[2021-04-14 23:07] alexroode commented on #9433
Also running into this issue, debating reversing the order of my blocks until there is a solution :)

[2021-04-14 23:08] alexroode commented on #9145
I'm running into this issue trying to use ncNodeName to get a better label for a block in the block editor.

[2021-04-15 07:55] nul800sebastiaan commented on #10133
@drpeck - I don't see a feasible solution like that, maybe the hack with a version marker file could work, but it's no guarantee that all the files are actually the correct version and it's just one more thing that can get out of sync. The only good way of doing it would be to hash all the files and do a check on each of them, but there's too many files to do that as well. Plus: that's exactly wha

[2021-04-15 08:55] nielslyngsoe commented on #10108
I think it's a good idea. :-)

The only one of these icons I'm concerned about is the "Document Type" (without template).

I´m not sure what the icon symbolizes, plus I would think many use this choice as a default initial step, which ends up begin used as any of the other choices. Then the icon ends up giving a messy look.
I myself always pick "Document Type" and then I later use it for a composi

[2021-04-15 09:20] Sven883 commented on #8335
Hello,

I'm also experiencing this issue on Umbraco version 8.11.2. Refreshing loads the page correctly without problems.

[2021-04-15 09:49] dawoe commented on #10133
Hi @drpeck

I would be careful with git clean ? I just ran this command on one of my repositories :  `git clean -n -d -x`
And that shows that folders like Media and App_Data will be deleted as well. I needed to use -d -x otherwise nothing would be cleaned.

I asked around a bit in my network and it seems 90% of them is excluding the umbraco folder from source control.

Maybe including the Umbraco

[2021-04-15 14:47] rndfm commented on #9971
Should i proceed with the suggested changes?

[2021-04-15 16:49] gmanrodt commented on #8090
Can you explain a bit more about this "workaround"? I understand calling memberService.Save (I am using that elsewhere to create new members), but how do I add the member to the group first, without calling "AssignRole", which throws the NullReferenceException you referenced above?

[2021-04-15 17:35] bjarnef commented on #10132
@nul800sebastiaan @Shazwazza do you know if it is expected these property editors use `PropertyCacheLevel.Snapshot`?

[2021-04-15 20:04] Rockerby commented on #8090
Hey @gmanrodt

Using the overload and passing in `false` stops the subsequent events from being fired when the member is saved. The specific issue related to the audit service (it's attached in the component https://github.com/umbraco/Umbraco-CMS/blob/d428a4543f33bb7094cf7db5f6b6fdc2d1de3063/src/Umbraco.Core/Compose/AuditEventsComponent.cs#L37).

Do you have the stack trace of the error you're get

[2021-04-15 21:02] gmanrodt commented on #8090
I ended up just injecting an IScopeProvider and the IMemberGroupRepository, and going that route. That bypassed the audit events as well, and my members are now in their roles. :)

[2021-04-15 21:52] Shazwazza commented on #8090
The underlying issue is fixed in 8.7 according to this ticket's labels

[2021-04-16 04:11] chris-evansnz commented on #10073
@elit0451  in regards to AppData mode; how do we properly enable this using v9 alpha 004?

We have the following in our appsettings.json file:

[code]

But despite this, the backoffice still claims to be in PureLive mode, and we can't see any .cs files turn up for our doctypes.

![image](https://user-images.githubusercontent.com/58791033/114970347-5d422680-9ece-11eb-8ec0-dbdfd3bcf5a0.png)

[2021-04-16 05:57] AndyButland commented on #10073
Hi @chris-evansnz - I noticed this was already reported as an issue with alpha 4.  There's a workaround suggestion and the possibility of upgrading to a nightly discussed [here](https://github.com/umbraco/Umbraco-CMS/issues/10060).

[2021-04-16 07:35] patrickdemooij9 opened #10139 "Restrict access on culture"
For one of our multilanguage projects, we are running into an issue with the restricted public access action.
Currently, it isn't possible to only restrict a culture. I suggest that we add a language selector on the restricted public access screen that also has the option "all" for if you want to put a restriction on all the languages (the behavior right now)

If this is something that might get a

[2021-04-16 07:40] nul800sebastiaan commented on #10127
Thanks @nzdev, not sure where this is coming from. I am assuming you have a large amount of content?

[2021-04-16 07:54] nzdev commented on #10127
@nul800sebastiaan I do have a large amount of content, however the multinodetreepicker loads multiple items quickly. I think the blocklist is loading one item per request.

[2021-04-16 08:04] nul800sebastiaan commented on #10127
Sorry, I meant of course to ask if you have many blocks! But yes I suspect the number of requests are not very optimized,

[2021-04-16 08:14] rbottema commented on #10133
@dawoe We do it exactly the other way around: excluded in the solution, but included in source control.

[2021-04-16 08:24] drpeck commented on #10133
@nul800sebastiaan I don't think we can or should make it impossible for the /umbraco folder to be different to that shipped with the release. My thought was that perhaps we should try to make this issue more visible. It's not unreasonable to classify this as a user issue IMO, but I suspect it is a pretty common one that has flown under the radar.

@dawoe 's anecdotal suggestion of 90% roughly refl

[2021-04-16 08:27] drpeck commented on #10133
The problem I've experienced with including the folder in VS is that unless you remember to remove and then re-include the folder, then new files (deep within the folder structure) might get excluded.

[2021-04-16 08:29] drpeck commented on #10133
@dawoe you're correct of course that a `git clean` might be too aggressive. It would make sense to identify the simplest approach to achieving this and include it in the upgrade instructions.

[2021-04-16 08:35] drpeck commented on #10139
It would be an invaluable inclusion IMO. I'm working with a multinational currently; they have different offices that should only have access to the languages in their market. That there is no ACL for this is a real bummer.

[2021-04-16 08:41] nul800sebastiaan commented on #10139
@drpeck you're talking about backoffice access right? Patrick is talking about restricting access on the frontend.

We have no current plans on working on the Public Access feature and introducing new features to it. It is a convenience built into the backoffice at the moment for simpler scenarios. It was never built for more complex scenarios and we indeed did not consider it for.

The advise at

[2021-04-16 08:43] drpeck commented on #10139
@nul800sebastiaan Sorry. Should have read that properly.

[2021-04-16 08:45] nzdev commented on #10127
About 10 blocks

[2021-04-16 08:46] nul800sebastiaan commented on #10139
@drpeck Subscribe to https://github.com/umbraco/Umbraco-CMS/issues/3830 instead. We also really want to make that happen, but it requires more prep and we're not ready to commit to anything around this at the moment.

[2021-04-16 09:40] nul800sebastiaan commented on #10133
From experience: we've tried version markers for Forms in the past and it led to just as many problems as it solved in the end.

I am all for finding a solution for this, but as it stands, these workarounds are unfortunately not great. The reason really is that we're abusing NuGet for things we shouldn't. Copying in the new files is a powershell operation, which even at the best of times sometimes

[2021-04-16 10:06] dawoe commented on #10133
@drpeck you can included the umbraco folder and it's contents using a wildcard in your csproj file

`<Content Include="umbraco\**\*.*" />`

I have just tested this on a project, and when I delete the contents of the umbraco folder it will get restored on build.

@nul800sebastiaan personally I don't like the idea of source controlling more that 2800 files I am not going to change. I don't want to r

[2021-04-16 11:19] nul800sebastiaan commented on #10129
Sure, these are not properties on the doctype and were never made to work. We'd be happy to look at a PR! 👍

[2021-04-16 11:42] nul800sebastiaan commented on #10132
Not sure what's going on here, I'll ask around and get back to you.

Are you publishing the node in your contentservice code?

[2021-04-16 11:44] nul800sebastiaan commented on #10132
I'm assuming author is a UserPicker?

[2021-04-16 12:14] nul800sebastiaan commented on #10132
I can't reproduce this, can you add the code you use? I have this simple attempt:

[code]

All good here, value immediately updates on the page.

[2021-04-16 12:22] bjarnef commented on #10132
@nul800sebastiaan does it make a difference if the value is set as `Guid` instead of `StringUdi`.

[code]

Maybe it should just be set as `Udi` instead. I guess it might work in backoffice, because the lookup works with `Udi`, `Guid` and `int` and the save and publish may resolve the value.

[2021-04-16 12:26] nul800sebastiaan commented on #10132
What type is `Model.Author`?

[2021-04-16 12:35] nul800sebastiaan commented on #10116
Thanks again for the report, I'll close this for now until we get some more information.

[2021-04-16 12:35] #10116 closed

[2021-04-16 13:25] gmanrodt commented on #8090
Yes, I saw that, Shannon, thanks. Unfortunately, we are in a position where we cannot upgrade. I appreciate you pointing that out, however.

[2021-04-16 13:37] bjarnef commented on #10132
It's a `Guid` :)

[2021-04-16 14:35] nul800sebastiaan commented on #10132
Alright, I don't understand how that would work, a regular member picker stores a UDI, so that's probably why it doesn't work for you.

I'll close this issue and encourage you to set it as a UDI, if it's already a Guid anyway you can do: `new GuidUdi("member", new Guid(model.Author));`.
If setting that and doing a Publish doesn't update your cache then we can look again.

[2021-04-16 14:35] #10132 closed

[2021-04-16 16:39] bjarnef commented on #10132
@nul800sebastiaan you are right. Not sure why I originally store a `Guid` when member picker expect an `Udi`.
However it did show the member entity in backoffice, because it use `entityResource.getByIds()`
https://github.com/umbraco/Umbraco-CMS/blob/v8/contrib/src/Umbraco.Web.UI.Client/src/views/propertyeditors/memberpicker/memberpicker.controller.js#L106

and which has three overloads to fetch me

[2021-04-18 23:25] Myster opened #10143 "Logs written to physical Log folder but read from virtual Log folder"
## Summary
Given Umbraco 8.12.2 with a virtual directory for App_Data.
Log files are written to the physical App_data folder.
However, the log viewer reads logs from the virtual App_Data folder.
I expect the logs to be read from the same folder as they were written to.

## Details
For us, Umbraco is hosted in IIS with virtual directories like this: (this allows new releases using octopus deploy to

[2021-04-19 00:26] Myster commented on #10143
Because we were using Octoup Deploy I could work-around this issue by having the deployment tool write the virtual path into the serilog.config like so:
[code]

[2021-04-19 01:01] Shazwazza commented on #7968
@umbrabot still relevant

we still need to look into db indexes

[2021-04-19 01:02] Shazwazza commented on #7570
@umbrabot still relevant

we still need to look into db indexes

[2021-04-19 01:49] Shazwazza commented on #10133
As seb says, the main issue is using (abusing) the powershell copy logic to copy out all of the static asset files. This powershell execution isn't supported by nuget.exe which is a super annoying problem because trying to automate nuget installation for Umbraco becomes near impossible since only VisualStudio itself knows how to execute these custom powershell scripts.

The previous option is to i

[2021-04-19 05:36] bergmania commented on #10133
I haven't tested using the new target files in nuget, but I can imaging this should be due to .NET (Core). Instead, it could very likely be related to the SDK format for the *.csproj files.. So maybe it is required to update the SDK format, for allow this to work

[2021-04-19 12:05] patrickdemooij9 commented on #10110
I'll have to try it, but I think this PR of mine that I made some time ago should fix this: https://github.com/umbraco/Umbraco-CMS/pull/9173

[2021-04-19 13:22] nul800sebastiaan commented on #10143
Okay, good workaround for now! We'd love some help getting this fixed! 👍

[2021-04-19 15:12] leekelleher opened #10144 "DataType infinite editing, prevalue alias not set"
Hiya Team Umbraco!

I'd noticed in the infinite editing for the DataType, e.g. when adding a new property to a ContentType, that the alias for the prevalue isn't correct, (it's auto-generated).

![doctype-datatype-infinityediting-wrong-alias](https://user-images.githubusercontent.com/209066/115256369-100cc180-a127-11eb-8a45-f1304552923f.png)

The reason I spotted this is that with an editor my Umb

[2021-04-19 16:26] matthew-houser commented on #10110
I would agree that should fix it @patrickdemooij9.

[2021-04-19 17:27] patrickdemooij9 commented on #10110
Just checked my PR and it mostly fixed the issue. It was showing the red bar, but also still the green bar. So I have updated the PR so that this scenario now works correctly.

[2021-04-19 18:54] patrickdemooij9 commented on #10144
Decided to check it too and I feel like we should just be able to make an equivalent of https://github.com/umbraco/Umbraco-CMS/blob/v8/contrib/src/Umbraco.Web.UI.Client/src/views/datatypes/datatype.edit.controller.js#L39 in the datatypesettings.controller.js (the infiniteeditors one).

I decided to add this:
![image](https://user-images.githubusercontent.com/11466511/115288105-5840d980-a151-11eb-8

[2021-04-20 02:57] timeverts commented on #6441
I believe I might be encountering a similar issue having just upgraded an Umbraco 7.6.0 site to Umbraco 7.15.7. I am also using Azure Blob storage for media items and both the media picker in the RTE field ('Link to Media') and the standalone media picker seem to have the problem where the custom media type is being treated as a folder rather than a file by the pickers.

@nul800sebastiaan, I see a

[2021-04-20 05:00] nzdev opened #10145 "Unable to unlock locked out backoffice users"
A brief description of the issue goes here.

Unable to unlock locked out backoffice users. Appears to work then when refreshing their user profile they are still showing as locked out, and are unable to log in.

## Umbraco version

I am seeing this issue on Umbraco version: 8.12.2

Reproduction
------------

### Bug summary

An umbraco backoffice user locks out their account, unlocking via the bac

[2021-04-20 06:30] SimonHilo opened #10147 "Opt out of Google's FLoC user profiling"
Based on the arguments given by EFF, I believe we should make opting out of Google's FLoC initiative the default setting in Umbraco:

https://www.eff.org/deeplinks/2021/03/googles-floc-terrible-idea

### The problem in short
FLoC is a new technology built in to Chrome that enables targeted advertising. It's supposed to be more private way of targeting ads. It skips the whole sharing of people's br

[2021-04-20 07:55] timmather commented on #8459
This is still a problem we are experiencing with a site of similar size. We are on a single server setup and still receiving timeouts.

[2021-04-20 08:07] timmather commented on #9594
We are having a similar problem with a 8.6+ build (now on 8.12). Single server setup iis and sql on the same box. After 6/7 saves we get this error, worse with multiple editors, nothing special running at all, tried increasing timeout using writelock setting, content started to disappear across the site. It’s a big problem we have two sites waiting to go live this week with 20 editors and they can

[2021-04-20 08:07] emma-hq commented on #10145
Hey Chad,

Thanks for reporting this. I'll see when the last time this worked was and tag as a regression accordingly.

Emma

[2021-04-20 08:38] emma-hq commented on #10145
Well that was easy 😂 It's working in 12.2.1 so we'll need to look at why that is.

Emma

[2021-04-20 09:01] jemayn opened #10153 "Memberindex has unsearchable fields after restart"
The memberindex has unsearchable fields after a restart, if you then rebuild the index or search not using a lucene query it works again.

## Umbraco version

I am seeing this issue on Umbraco version: Tested on 8.12.2

Reproduction
------------

If you're filing a bug, please describe how to reproduce it. Include as much
relevant information as possible, such as:

### Steps to reproduce

1. Spin

[2021-04-20 09:03] smlsvnssn opened #10176 "Preview times out without error message when server responds slowly"
Trying to use "save and preview" when cloud server is in a bad mood results in empty preview view with no error massage.

Reproduction
------------

### Bug summary

When the server is slow, which has been the case more often than not, the preview view is rendered without content.
Presumably the Angular call to the backend times out, without letting the user know this has happened, leaving the use

[2021-04-20 09:17] emma-hq commented on #10144
Morning folks!

Lovely bit of collaboration here 😁 Thanks Lee for posting and thanks Partick for looking at this. I'll take a look at both the issue and Patrick's approach and see what I can add.

Have a fab day,

Emma

[2021-04-20 11:26] Emetico commented on #6638
I have converted the package Copy Paste Grid Editors that Søren Kottal made, to work with Umbraco 8 and modified it so you choose your copied editors from the itempicker. You are also able to copypaste rows with settings to.

I am willing to implement it into the core i am just not sure how that work or if its needed :)

[2021-04-20 11:40] emma-hq commented on #6638
Hey @Emetico

Thank you for your hard work! #h5yr Really glad to have it working for v8 😄 We're not looking to implement in the core at the moment so will direct folk to your package if any similar issues arrive.

Emma

[2021-04-20 12:14] lars-erik commented on #6638
@emma-hq Any good reason this is not considered for core? Every time a grid feature is turned down, I jump into the evil spiral of "Umbraco's gonna ditch the grid" thinking.

[2021-04-20 12:40] emma-hq commented on #6638
Hey @lars-erik - we're not going to ditch the grid any time soon! It's in v9. Rest assured.

Let me chat to @nielslyngsoe about this being considered for the core - last time we spoke about it was a couple weeks back. We'll look into how it would need to work, whether it would be possible and if we're going to proceed, how we would like the PR structured and feedback here.

Em

[2021-04-20 12:42] lars-erik commented on #6638
Awesome, @emma-hq! Looking forward to hear the conclusion. :)

[2021-04-20 13:04] davit20 opened #10173 "Upload file/Replacement with the same name"
If you have uploaded a file in the media section and you want to change something inside it doesn't take new changes after file upload with the same name

Reproduction
------------

For example,
1. I have uploaded UmbracoTest.css file. (inside btn backgroud-color: #e30613)
2. I want to change backgroud-color in the file, I changed it with #228B22 color and uploaded a file with the same name(Umbrac

[2021-04-20 13:29] emma-hq commented on #6638
So we have reopened and we are indeed happy to see this go into core as a PR. We have copy/paste working in nested content, media picker and block list editor so it would be great to see it in Grid too. if someone is happy to develop and implement, we'll be happy to accept and merge the work.

One thing Niels has said is that it would be nice if they make their own Clipboard Type for Grid items -

[2021-04-20 13:51] lars-erik commented on #6638
Does @nielslyngsoe also have a couple of pointers to existing services / code that should be used/replicated?
I'm placing my bets on @Emetico for now given I'm short on time, but I'm sure some existing code to compare the "old" package to would help lots. 😇

// @emma-hq

[2021-04-20 19:27] beltofte commented on #10147
Looked at the pull request. Removing the Permissions-Policy could be dangerous - it has other purposes too. See [w3c's documentation](https://github.com/w3c/webappsec-permissions-policy/blob/main/permissions-policy-explainer.md).

The best solution, even though that it is more complex to implement, would be to check if the Permissions-Policy header exist, and in this case add interest-cohort=() to

[2021-04-20 23:22] nzdev commented on #10145
It also appears to work on 8.12.2 if you keep clicking unlock 4+ times.

[2021-04-21 09:09] SimonHilo commented on #10147
I see. It wasn't as simple as I expected. I'll give it another shot.

[2021-04-21 09:19] emma-hq commented on #10147
Hey @SimonHilo

Just to let you know we see this and we're talking about it internally. Will shout when we have decided on anything!

Emma

[2021-04-21 09:29] emma-hq commented on #10144
Trying to reproduce this one in 8.12.2 on a few different data types but on hover I'm not getting an alias preview in Editor Settings at all. Should I look at a specific property editor? Or is there another way you'd suggest that I can check that alias's value? I'm worried that even if we can't see it, it might be an issue in previous releases.

Emma

[2021-04-21 09:30] leekelleher commented on #10144
@emma-hq I _think_ that the aliases only show up in debug mode (e.g. `debug=true` in Web.config).

[2021-04-21 10:40] sebastiandammark opened #10160 "When adding toggle to existing doctypes with an initial state of `True`, the value is `False` on the frontend until manually updated"
If I create a checkbox datatype and configures it to be true(checked) as default.  It will be false(unchecked) until saved with another value.  The backend UI will show it as true(checked), but it's not.

It's not enough to publish the document.
You have to uncheck the property and then publish. Then check the property and publish again to set it to true(checked).

## Umbraco version

I am seeing

[2021-04-21 10:45] SimonHilo commented on #10147
Thanks, Emma. I'm aware that it's a political suggestion.

There's lots of discussion about this in the wordpress community:
https://make.wordpress.org/core/2021/04/18/proposal-treat-floc-as-a-security-concern/

I hope we can have the same discussion here.

My position is that FLoC is bad, and we should take a stand while the spec is still in its infancy. Should it turn into something mature that

[2021-04-21 10:52] emma-hq commented on #10144
Cool, thanks for that heads up @leekelleher - I learn something new every day.

It's still an issue as far back as 8.8.0 so no use in tagging as regression. This is a bug for sure. I'll label as such and @patrickdemooij9  you'd be welcome to submit the PR you've suggested above.

Thanks peeps!

Emma

[2021-04-21 11:01] leekelleher commented on #10144
Thank you for verifying @emma-hq. 🙌

For my Contentment package, I'd pretty much focused on v8.6.x (for my v1.x), and now I've bumped up my v2.x to Umbraco v8.13-rc (until tomorrow's official release), which is probably why I hadn't spotted it previously.

[2021-04-21 11:03] emma-hq commented on #10144
You're very welcome @leekelleher 😄 Makes sense! 8.6.x is too old for us to cherry pick from sadly. Handy to know that it was working there though so thanks for that.

[2021-04-21 11:48] thomashdk opened #10161 "Umbraco scheduled publish issue with trashed nodes"
There is an issue with the scheduled publish/unpublished.
If there is an node where an unpublished date ex. is set. and then the node is manuel unpublished before the scheduled.
Then trash the node.
The scheduled task will still be in the database and break/stop all other scheduled tasks.

## Umbraco version
I am seeing this issue on Umbraco version: 8.12.2

Reproduction
------------
- Set an unpu

[2021-04-21 12:41] emma-hq commented on #10153
Hey Jesper. First issue! 🥳

Thanks for this one. I'll take a look and see if I can recreate.

Emma

[2021-04-21 15:02] AndyButland opened #10162 "FileUploadCleanupFilterAttribute with no incoming model doesn't work"
`FileUploadCleanupFilterAttribute` is used to clean up uploaded files from the `~/App_Data/TEMP/FileUploads` folder once they have been moved into the correct location.

It has two modes - indicated by the boolean parameter - and in Core seems we're only using the form where `incomingModel == true`.  In Forms though, we have a use case where `incomingModel == false`, in `PreValueFileController.Pos

[2021-04-21 15:10] patrickdemooij9 commented on #10144
Added the PR here: https://github.com/umbraco/Umbraco-CMS/pull/10163
Bit different implementation as I found a helper method that was doing the thing we want it to do. Also aligned datatype.edit.controller.js with that same code to avoid duplicate code.

[2021-04-21 16:46] JohnBergman opened #10165 "SQL Index contains NTEXT column"
Our DBA reported this to use today and I wanted to raise it here.

Umbraco 8.12.1

The table umbracoPropertyData has a clustered primary key that appears to include all columns, where textValue is NTEXT in the table.

Below is the message from the DBA

-=-
An online operation cannot be performed for index 'PK_umbracoPropertyData' because the index contains column 'textValue' of data type text, nte

[2021-04-22 05:09] Shazwazza commented on #10153
I wonder if this is the same or related to some similar issues with custom examine config during startup:

I have a task to look at this but wont be done until next sprint. Let me know if this sounds like what you are experiencing.

[2021-04-22 05:36] Shazwazza commented on #9514
@Zweben

Thanks for responding.

It's not. It could be done with static code analysis tools but not at runtime by the CMS.

---

I'm closing this issue now as there's been no further responses for my questions and some folks here have had this issue resolved by one or more of the solutions proposed in the above discussion.

[2021-04-22 05:36] #9514 closed

[2021-04-22 09:07] jemayn commented on #10153
Could definitely be related - except in this case it is completely out of the box, haven't written any code.

Tried looking a bit into why this happened but got a bit stuck - seems when it hits this line:
https://github.com/umbraco/Umbraco-CMS/blob/v8/contrib/src/Umbraco.Web/Editors/ExamineManagementController.cs#L69

and gets to `.NativeQuery(query)` that is the one returning 2 different results

[2021-04-22 10:16] bjarnef opened #10169 "Deleting/moving content to recycle bin doesn't trigger unpublish event"
Based on Umbraco v8.12.2 I noticed the deleted event not is trigger before a node it actually deleted completely.
https://our.umbraco.com/forum/umbraco-7/using-umbraco-7/49594-ContentService-Deleting-Event-not-firing#comment-177237

However if deleting a content node, which is moved to recycle bin and therefor removed from content cache, but this doesn't seem to trigger the Unpublished event - onl

[2021-04-22 11:19] Shazwazza commented on #10169
exactly.

I suppose it could trigger the unpublish event but at the same time, you cannot rely on only the unpublished event for everything. If a whole tree is moved to the bin, we're not going to lookup all descendants just to raise events for it. Umbraco itself relies quite heavily on TreeChanged event for things like this. If something changes in the tree that affects large parts of the tree, w

[2021-04-22 11:26] bjarnef commented on #10169
@Shazwazza yeah, I ended up with hooking into `ContentService.Trashed` event as well for a specific training node type and do some re-indexing of the ancestor brand page.

[2021-04-22 11:35] Shazwazza commented on #10169
Examine doesn't respond to service level events for index, only to cache refresher events. If you are reindexing based on service level events know that this will not work in load balancing because those events are not executed on each node. You can see how UmbracoExamine works here: https://github.com/umbraco/Umbraco-CMS/blob/v8/contrib/src/Umbraco.Web/Search/ExamineComponent.cs#L116

[2021-04-22 11:55] bjarnef commented on #10169
Thanks, it might need to look at the `ContentCacheRefresherUpdated` event instead. Currently this project isn't load balancing, but good to know 👍

[2021-04-22 12:53] nul800sebastiaan commented on #10165
Thanks @JohnBergman, a default Umbraco install does not add keys or indexes to the ntext field (`textvalue`). You can see the indexes and primary keys we create for it here: https://github.com/umbraco/Umbraco-CMS/blob/v8/contrib/src/Umbraco.Core/Persistence/Dtos/PropertyDataDto.cs - the primary key only includes the `Id` column.

We know this is a deprecated type, but for backwards compatibility w

[2021-04-22 12:53] #10165 closed

[2021-04-22 12:58] bjarnef commented on #10169
@Shazwazza I tried with this instead which work well with publish/unpublish of node. However content node is directly deleted from published status the `originalAncestorId` here will be `-1`.

In `ContentService.Trashed` event you know the `OriginalPath`, but in this case it seems we don't know the original parent/ancestor under which it existed?

[code]

[2021-04-22 14:01] spideywebdesign commented on #8347
I am currently running Umbraco 8.12.2 and am finding that I always need to refresh the node containing the properties in order for changes to elements to appear, regardless of any caching level (even none) that I set on custom property value converters.

I too am going to be resorting to @abjerner's snippet above to reload the cache on publishing any element, which is far from ideal.
#makeproperty

[2021-04-22 14:12] #9152 closed

[2021-04-22 14:16] nul800sebastiaan commented on #9152
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/9326

[2021-04-22 14:58] Emetico commented on #6638
Yes i will implement it, in the coming days. I am just not sure how this commit/PR works.

[2021-04-22 15:02] nul800sebastiaan commented on #9152
Bad news/good news: too bad, that didn't work.

But! Good: The way to make it work is if we build the docs from a tag, it looks like we just can not have a / in the branch name, that messes up the docs. But now it works beautifully when using the tag `release-8.13.0` to build from. So all good now and we know what to do in the future.

[2021-04-22 15:04] lars-erik opened #10174 "Culture invariant properties should not require default language to be published"
A brief description of the issue goes here.

When publishing content _only_ in a non-standard language, culture invariant values are not cached.

Given this document type:

![image](https://user-images.githubusercontent.com/350918/115736942-fd46f680-a38b-11eb-8efe-ff3f44591369.png)

I would expect (before 8.13) to be able to create content in a non-standard language only:

![image](https://user-im

[2021-04-22 15:07] lars-erik commented on #6638
Awesome, @Emetico. Feel free to ping me on twitter (@bleedo) or the community slack (@lars-erik) if you're stuck, I'll see about helping you along.

[2021-04-22 15:14] Emetico commented on #6638
Thanks, i will do that if needed :)

[2021-04-22 16:20] nul800sebastiaan commented on #10160
I'm afraid I can't reproduce this on 8.12.2 @sebastiandammark, but maybe I'm doing something wrong/different than you?

![2021-04-22_120339](https://user-images.githubusercontent.com/304656/115748959-ee197600-a396-11eb-8d46-018fc2132ebe.png)

Gave it a go in 8.10.2 as well, but it "just" works for me. I would suggest you check what is saved for that property in the database, maybe that will give a

[2021-04-22 16:53] davit20 commented on #10173
Hi @nul800sebastiaan
There are some situations that back-office users want to add some CSS for some pages/page contents.
We have many pages so we decided to give an opportunity to back-office users to apply some custom CSS for page content and as a developer, I'm not defining the new CSS script for example for one page.

![image](https://user-images.githubusercontent.com/20552762/115752563-4529460

[2021-04-22 17:24] sebastiandammark commented on #10160
Hi @nul800sebastiaan

Take a look at this screenshot:
![image](https://user-images.githubusercontent.com/1575483/115759075-22ddfb00-a3a0-11eb-8662-a720b3ec93a8.png)

The last line gives an empty output, where it should be true.

[2021-04-22 19:45] marcemarc commented on #10160
Is this why we changed it so it was no longer called the 'default value' because it doesn't behave like a 'default value' but because it was called 'default value' people believed what you describing above would be how it 'should work'

Now it's called 'Initial State' - The initial state for the toggle, when it is displayed for the first time in the backoffice. eg for a new content item

There is

[2021-04-22 22:02] abjerner commented on #10160
@marcemarc sounds like the reason why. Thanks for sharing the history 👍

I think by changing the value converter a bit, we can get very closed to what most people are expecting.

Once you create a new content item with a Toggl property, the value configured as the **Initial state** will be saved in the database. I think this behavior hard to change, and I'd reckon its okay in most cases.

But via

[2021-04-23 00:00] #7796 closed

[2021-04-23 05:44] nzdev commented on #10066
Also doesn't work going from 7.14.0 -> 8.11.0 -> 8.12.2. I can confirm the workaround worked.

[2021-04-23 07:27] nul800sebastiaan commented on #10173
Alright, thanks for the additional info. This sounds like an excellent question for the forums where our friendly community can help you find the best solution for your requirements.
Make sure to head on over to https://our.umbraco.com and ask follow up questions there! 👍

[2021-04-23 07:27] #10173 closed

[2021-04-23 07:49] abjerner commented on #10160
As mentioned before, the fallback is handled at line 47 in **YesNoValueConverter.cs**:

https://github.com/umbraco/Umbraco-CMS/blob/v8/contrib/src/Umbraco.Core/PropertyEditors/ValueConverters/YesNoValueConverter.cs#L47

Changing `return false;` to `return propertyType.DataType.Configuration is TrueFalseConfiguration config && config.Default;` should make it behave like what I think we'd want.

In

[2021-04-23 07:54] rasmusjp opened #10179 "Disabling a tree controller using UmbracoFeatures does not remove the tree from backoffice"
In Heartcore we use `UmbracoFeatures` to disable different controllers we don't support. We do that both for editor controllers and tree controllers.

In Umbraco 8, when disabling a tree controller, the tree was also removed from the backoffice, this does not happend in Umbraco 9, here it's still visible but interacting with it gives a 403 (so the controller is disabled).

## Umbraco version

I am

[2021-04-23 08:02] nul800sebastiaan commented on #10160
I see, I thought this was for new documents. As with everything else, when you add a property to a doctype, we never ever update values for all of the existing content nodes as that is a big performance hit.

It gets a bit complicated here, since: yes, you could update the valueconverter to see if there's a null value and then return the "initial state" for that datatype, but this will require a l

[2021-04-23 08:22] abjerner commented on #10160
@nul800sebastiaan isn't the point with the `PublishedDataType` instances that they *are* in fact cached?

If I play around, I'm getting the same hash code for data type and the configuration respectively for repeated requests. So unless Umbraco is overwriting the hash code, I think that should mean I'm getting the same instance back each time for the data type.

Updating the data type via the back

[2021-04-23 08:42] abjerner commented on #10160
Oh snap - `TrueFalseConfiguration` is located in the `Umbraco.Web` project, so we can't see it from the `YesNoValueConverter` class, as that one is located in the `Umbraco.Core` project. This makes things a bit more complicated.

Any suggestions? Reflection? 🙃

Or should we introduced a new interface in `Umbraco.Core` that `TrueFalseConfiguration` could implement? Seems like a bit of extra work 🤷

[2021-04-23 09:35] nul800sebastiaan commented on #10147
Thanks @SimonHilo for sharing your concerns! We feel it's not our place or task to enforce this kind of blocking, we believe site implementers should be free to use whatever services they think make sense for their sites (as well as block them when they want).

I'll therefore close this issue and your pull request, while letting you know that we do appreciate the effort and it's  good that people

[2021-04-23 09:35] #10147 closed

[2021-04-23 11:28] truunk commented on #9667
I can confirm this is still happening with 8.12.2, 3 levels deep.  It only seems to happen when the Link Picker is set to mandatory, other mandatory fields seem fine.

[2021-04-23 12:54] Eric-Engle commented on #2914
Has there been any movement or updates on this bug? I'm still experiencing this in 8.12.2.

[2021-04-25 00:00] #7986 closed

[2021-04-25 00:00] #7987 closed

[2021-04-25 00:00] #7988 closed

[2021-04-26 12:11] mpd-dawn opened #10183 "LTR text in Rich Text editor is shown as RTL text when revisting node"
I am seeing this issue on Umbraco version: 8.12.2

### Bug summary
Using the RTL option in Rich Text editor formats our text correct. However, after saving and revisiting the node the ordered list shifts to LTR formatting however the RTL button in the toolbar is still enabled.
When saving it looks like this:
![billede](https://user-images.githubusercontent.com/75363330/116077590-efe48180-a695-11eb

[2021-04-26 12:47] amitch17 commented on #9873
I _hope_ this is relevant.  We've had an end-user report the same situation, but with content (text) rather than a macro:

https://user-images.githubusercontent.com/18399155/116084150-5fa63c80-a695-11eb-9185-c77da7a76ce4.mp4
This was recorded on Umbraco 8.11.2 using Safari on a Macbook pro (Mojave OS)

The key part fro reproducing is to hit Save straight away.  Click outside the editor (to lose fo

[2021-04-26 14:28] BrionyMcKenz opened #10184 "Performance issues with nested block list editors"
Nested block list editors are very slow to load when editing content, particularly when there are lots of blocks.

## Umbraco version

I am seeing this issue on Umbraco version: 8.13.0

Reproduction
------------

### Bug summary

I have a block list with 8 available blocks. 3 of these blocks contain multiple block list editor properties as I'm using them to create a grid structure (based on this a

[2021-04-26 14:58] emmagarland commented on #9912
@Shazwazza just going through some previous issues - can we close this one do you think?

[2021-04-26 14:58] patrickdemooij9 commented on #10184
I agree with you. Nested Content has the same issue here. I wonder if we should just merge all getEmpty requests together, but I don't know if there was a reason to keep them separate

[2021-04-26 14:59] emmagarland commented on #9911
@Shazwazza same as before. just going through some previous issues from the TODO list - another one that I think has moved on now?

[2021-04-26 15:00] emmagarland commented on #9471
@Shazwazza this is the big one that was a hold-all for members functionality. I'm wondering whether it is better now to have smaller specific tasks and close this one (based on how much we have left on the bullet point list)?

[2021-04-26 15:03] emmagarland commented on #9904
@lars-erik thanks, so I guess it sounds like the most logical action next is to progress with increasing and maintaining the unit test coverage on v9?

Would it be a good start if I looked at creating tasks for the **lowest areas of coverage** in v9, and starting smaller tasks from there, based on the test framework that has been built up?

cc @bergmania @AndyButland

[2021-04-26 15:09] rustybox commented on #9904
Coverage is an odd metric like loc counts (lines of code).

Important areas need thorough testing, unimportant areas less so.

I’m pretty out of the loop these days, have the namespace cleanups taken place to make #9396 less painful?

[2021-04-26 15:52] lars-erik commented on #9904
I wholeheartedly agree to @rustybox' comment about using it as a metric.
I'm a huge fan of "use-case" based tests.
Looking at coverage to find untested "use-cases" is awesome.
Looking at coverage to make tests called:
public void Test6() { // Tests the case when parameter x.Y.Z is null
is more wasteful. :P

So yes, look at coverage, but find untested _use-cases_. :)
I think that will automatically

[2021-04-26 16:53] emmagarland commented on #9904
Sounds like a great place to start - and I totally agree re not just adding use cases just for the sake of it @rustybox .

I will have to check but I believe work has been done to update the namespaces and containing folders for the unit tests in v9.

OK, so like you say @lars-erik the actual next step is to find some key **untested use cases** and increase the coverage from there.

It would be go

[2021-04-27 00:58] Shazwazza commented on #9912
yep this is done will close 👍

[2021-04-27 00:58] #9912 closed

[2021-04-27 00:59] Shazwazza commented on #9911
yep this is done too 👍

[2021-04-27 00:59] #9911 closed

[2021-04-27 01:01] Shazwazza commented on #9471
The only thing left is external logins. We have another task for that but that will happen after Examine work is done.

[2021-04-27 01:01] #9471 closed

[2021-04-27 09:39] emma-hq commented on #10184
Hey folks,

Thanks for reporting this @BrionyMcKenz and for chipping in @patrickdemooij9 - we'll have a chat internally and see what we can suggest.

Emma

[2021-04-27 09:40] emma-hq commented on #10161
Hi @thomashdk

I'm going to have a go at recreating this and if it's all as described I'll tag as a bug. Thanks so much for all the info here. Plenty to work with.

Emma

[2021-04-27 09:41] emma-hq commented on #10174
Heyyyy @lars-erik

Thanks for reporting this and all the deets too. I'll take a look and see if your hunch about the default is right and get back to you.

Emma

[2021-04-27 09:42] emma-hq commented on #10183
Hi @mpd-dawn

This is a strange bit of behaviour! I'll see if I can reproduce and then label accordingly. Thanks for the report and all the info here. Gives me plenty to work with.

Emma

[2021-04-27 10:35] #10179 closed

[2021-04-27 10:35] #10112 closed

[2021-04-27 11:50] emma-hq commented on #10161
Hey @thomashdk

I'm not able to recreate this on 8.12.2. Here are the steps I've followed:

1. I schedule an unpublish date and time on the Contact node - this is 2 **minutes** in the future
2. I then manually unpublish (before this time is reached)
3. I delete the Contact node
4. I check my log viewer for errors.

I also tried

1. I schedule an unpublish date and time on the Contact node - this i

[2021-04-27 11:57] emma-hq commented on #10183
Hey @mpd-dawn,

I was able to recreate. This bug only happens when using bullets. Otherwise, the format stays in the state you have requested. I've labelled up for grabs because this one is ideal for a community member to pick up and submit a pull request to fix. Open to you too, of course 😉

Emma

[2021-04-27 12:11] #10073 closed

[2021-04-27 12:54] mistyn8 opened #10186 "Typo in "Umbraco.ModelsBuider" 8.13.0 release of IsExternalModelsBuilderInstalled"
Reverting to Umbraco.ModelsBuilder rather than embedded fails in 8.13.0 due to a typo

https://github.com/umbraco/Umbraco-CMS/blob/d428a4543f33bb7094cf7db5f6b6fdc2d1de3063/src/Umbraco.ModelsBuilder.Embedded/Compose/ModelsBuilderComposer.cs#L50

[2021-04-27 12:58] nul800sebastiaan commented on #8033
Unfortunately we had to revert the fix in PR #10091 for now.

[2021-04-27 12:59] arknu opened #10188 "[8.13] "ModelsMode "Dll" is not a valid mode" after upgrading from 8.12.2"
I upgraded a site from 8.12.2 to 8.13.0. After the upgrade, Umbraco fails to boot with the message "ModelsMode "Dll" is not a valid mode.":

[code]
I'm using the Umbraco.ModelsBuilder package to get the full ModelsBuilder, not the scaled-back one in Core that doesn't support dll mode.

In 8.12.2 this package correctly replaces the embedded ModelsBuilder, but that no longer seems to be the case in

[2021-04-27 13:18] mistyn8 commented on #10186
Knowing that I'm using Umbraco.ModelsBuilder.. quickly fixed this with a composer replacement.

[code]

[2021-04-27 13:29] arknu commented on #10188
PR too fix this here: #10189

[2021-04-27 14:07] emma-hq commented on #10032
Hey @bjarnef

Just to let you know, I've not forgotten this is here. It's on my to-do list for this week. Thank you so much for all the info you've put in. I'll be in touch soon.

Emma

[2021-04-27 14:08] lucasmichaelsengorm opened #10191 "Feature for section of Translations"
A brief description of your feature request goes here.
Under the section Translation. When you have a huge site whit a lot of dictionaries, i can be quite a hell to get a overview over.
If you screw up and create a diconary on the root, there is no way to move around, you need to delete it and recreate it, or if you need to move diconaries around again you need to delete them and create them agian

[2021-04-27 15:42] nul800sebastiaan commented on #10186
Ah good catch 🤦‍♂️ - we'll get this fixed for 8.13.1! 👍

[2021-04-27 15:44] nul800sebastiaan commented on #10188
Haha, thanks @arknu, you were 5 minutes slower than this one, so I'll close this and your PR in favor of the first one! 👍
The race is on for the next easy fix 😉🏁

[2021-04-27 15:44] #10188 closed

[2021-04-27 15:46] AaronSadlerUK opened #10192 "Umbraco backoffice icon"
I'm surprised it's not there!

An Umbraco icon for use within the backoffice icon picker would be useful, typically I add the routing properties as a composition called "Umbraco Specific", however I'm sure there are other use cases.

Any reason it's missing?

Font Awesome have a SVG available so presumably that could be ported?

[2021-04-27 22:37] Emetico commented on #6638
Hi all.

I have added copy paste here https://github.com/Emetico/Umbraco-CMS/tree/temp-6638, but it has to be reviewed before i make a pull request.

1. I am using localStorageService instead of the clipboardService, because i do not know enough about the clipboardService.
2. The localStorageService alias needs to be set as a const, but i dunno how Umbraco prefer it.
3. Need localizationService fo

[2021-04-28 04:04] spudstuff opened #10193 "The listview search within a dialog (eg. minilistview) shows the loading indicator forever for zero results"
When you search for something that does not exist inside a listview search in a dialog (eg. the minilistview on a link picker), you'll get a loading indicator forever, and no indication that the search has failed to find anything.

I am seeing this issue on Umbraco version: 8.13

Reproduction
------------

1. Start with a fresh install with the starter kit
2. Navigate to Home and edit the page
3.

[2021-04-28 07:42] nul800sebastiaan commented on #6638
Thanks @Emetico - it would make it a ton easier if you can start a PR, if it's not done yet then you can mark it as a Draft. When there's a draft PR we can use all the github review tooling to help finish off this feature! 👍

1. Not sure, we can have a look when we can see it in context
2. Same as the point above, not sure 😅
3. Yes, only do the languages you know, other people can fill in the rest

[2021-04-28 09:12] Emetico commented on #6638
I will add the translations and then do a PR :)

[2021-04-28 09:41] emma-hq commented on #10193
Hey @spudstuff

Thank you for all the detail here! I have plenty to work with :)

I'll take a look at previous releases and see if this is a regression issue and then label accordingly so that it can be addressed appropriately. I'll report back here with my findings.

Emma

[2021-04-28 10:40] emmagarland commented on #9471
Thanks @Shazwazza

[2021-04-28 10:41] emmagarland commented on #9912
Awesome!

[2021-04-28 10:41] emmagarland commented on #9911
Cool stuff

[2021-04-28 10:42] bjarnef opened #10194 "Treepicker prevalue editor doesn't initialize values correct"
While working on Umbraco v8.12.2 and Contentment v1.4.1 adding a custom data source, which used `treepicker` prevalue editor, I noticed multiple values are stored as comma delimited string of udi's:
https://github.com/umbraco/Umbraco-CMS/blob/v8/contrib/src/Umbraco.Web.UI.Client/src/views/prevalueeditors/treepicker.controller.js#L107

However on init the part is wrong, where it split by comma if `

[2021-04-28 10:54] leekelleher commented on #10192
+1 from me.

There is an SVG of the logo that ships with Umbraco, here: <https://github.com/umbraco/Umbraco-CMS/blob/v8/contrib/src/Umbraco.Web.UI/Umbraco/assets/img/application/umbraco_logo_white.svg>

I suspect it'd need the `fill` attribute removing, then copied into the "/Umbraco/assets/icons" folder, named as "icon-umbraco.svg". 🤔

[2021-04-28 11:42] nul800sebastiaan commented on #10192
Sounds good! We'd love a little help with that. 👍

[2021-04-28 12:13] nul800sebastiaan commented on #10191
Thanks for the suggestions, just to summarize, you're looking for:

- Folder support for dictionary items
  - This can currently be achieved by nesting dictionary items under each other, each dictionary items can have subitems
- Ability to move dictionary items to a different parent (or folder)
- Using a dictionary item as a "folder" is confusing because it will be marked as not translated
  - Agr

[2021-04-28 12:21] lucasmichaelsengorm commented on #10191
@nul800sebastiaan thanks for the awnser
The reason for a folder strucktur instead of nested dictonaries, is relatede to an issue with the database.

Create
* Header (parent) id 1
*** Search (child) id 2
this will work with Umbraco deploy.

Create a new diconary in root called "Website" id 3
and move header - id 1, with its children - id 2, in "Website",
Umbraco deploy will now fail becouse a relat

[2021-04-28 12:51] emma-hq commented on #10184
Hey peeps,

After a bit of discussion, I've been pointed in the direction of these performance changes that are currently in the works. Would you like to take a look and decide if this will address your issue? It looks promising to me. If so, I'll link the issue to that PR and it will close this automatically once the PR is merged.

See here: https://github.com/umbraco/Umbraco-CMS/pull/10134

Emma

[2021-04-28 13:14] emma-hq commented on #10174
Hey Lars,

I'm just trying to recreate what you've shown me here before I chat to the team about how to proceed but can you clarify some things for me?

I think this issue is only in 8.13 but works as you'd expect in 8.12.x. Is that right?
The main issue is - On a field that varies by culture, you're not able to enter any data unless the default has already been saved and published. Is that correc

[2021-04-28 13:16] lars-erik commented on #10174
@emma-hq I didn't test on 8.10-8.12, but on 8.9.1 the fields are editable. However you still have to jump through the "publish default, then localized, then unpublish default" which is the main issue here.

[2021-04-28 13:21] emma-hq commented on #10174
Thanks Lars!

Ok so on earlier versions (8.9.1 for example)- the fields are editable and on 8.13 they are not.

BUT! The main issue is that you can't publish non-default without the default being published and that has been the case in all releases, not just 8.13.

[2021-04-28 13:47] BrionyMcKenz commented on #10184
Thanks for looking into it! I've tried running my solution with the update from that PR and unfortunately it hasn't helped. I have tried removing the custom views as well but it hasn't had any effect except that you don't see the issue until you open up one of the blocks. Here's a screenshot of my block that has 4 block list editor props in it - there are 52 GetEmptyByKey requests. Let me know if

[2021-04-28 15:01] nielslyngsoe commented on #9663
That was a tuff one, we had issues with old scope references. Here is a fix https://github.com/umbraco/Umbraco-CMS/pull/10195

[2021-04-28 15:48] nul800sebastiaan commented on #10193
Just tested this in 8.10 since I had it open, it's been like this for a while. We'd love some help getting that fixed, if you are so inclined @spudstuff - seems like it might need a javascript fix on counting the number of results returned.

[2021-04-28 16:01] nul800sebastiaan commented on #10191
Good point if this gets implemented we'd need to update Deploy as well.

I am not sure if you're describing the current situation with Deploy? If so, then make sure to leave a bug report on the Deploy issue tracker. https://github.com/umbraco/Umbraco.Deploy.Issues/issues/new?assignees=&labels=&template=1_Bug.md

[2021-04-28 16:04] nul800sebastiaan commented on #10194
Sounds like something that needs to be fixed, we'd appreciate a helping hand! 👍

[2021-04-28 16:05] #10186 closed

[2021-04-28 16:06] nul800sebastiaan commented on #10186
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/10187

[2021-04-28 17:06] benjaminc opened #10196 "Provide a Microsoft.Extensions.Logging.ILogger implementation in v8 to ease transition to v9"
@KevinJump posted a great question on Our at https://our.umbraco.com/forum/umbraco-9/105840-logging-in-umbraco-9-anyway-to-share-the-calls-with-umbraco-8 asking about how to maintain a common code base between his package for v8 and v9.  One of the hardest parts sounds like trying to do logging at both versions since the v8 version typically only has an Umbraco.Core.Logging.ILogger implementation

[2021-04-28 17:40] nul800sebastiaan commented on #10066
Hmm, I can't reproduce this problem at all. It would be helpful to have the before and after upgrade situation in order to see if this is still a problem in 8.13, but it doesn't look like it.

I tried with both a page that is not culture variant and a page that is culture variant. If you have a before database that doesn't work after upgrade then that would be great.

I will close this one for now

[2021-04-28 17:40] #10066 closed

[2021-04-28 18:14] timlaughlin commented on #9594
This has become a problem issue for us as well. We are creating nodes while importing content from a legacy system. Everything goes well for many new nodes and out of no where it will throw this exception and doesn't seem to recover quickly.

[2021-04-28 19:10] Jacob87 commented on #10066
Hi @nul800sebastiaan

You are saying you cannot reproduce it, so does that mean that your redirects migrated just fine following the upgrade path?

What kind of before and after upgrade situation would you be interested in? Just redirects or nodes as well?

I realise perhaps I wasn't too clear on the situation on 8.11 and going forward, but here goes: Redirects created _before_ the upgrade did not

[2021-04-28 19:17] nul800sebastiaan commented on #10066
Not exactly, I'm saying that I had redirects (both culture specific and not culture specific) and they worked just fine after upgrading to 8.13.0. I did look in the `culture` column as well, and `null` values worked for me.

[2021-04-28 19:33] lucasmichaelsengorm commented on #10191
@nul800sebastiaan it is current situation, i haven seen, i´ll create a bug

[2021-04-29 03:37] shearer3000 commented on #3361
any plans for 2FA in the core of umbraco 8 or 9? it really is becoming a minimum viable product (MVP) security requirement these days, well at least the option to use it or not.
thanks :)

[2021-04-29 04:28] timlaughlin opened #10198 "Lock request time out period exceeded after adding content nodes with ContentService"
A brief description of the issue goes here.

After creating many nodes with the ContentService. Something is causing a long lock period without explanation. Even after recycling the app pool and restarting the MS SQL service. While creating over 100 nodes during a content import, there are several exceptions being thrown as follows.

System.InvalidOperationException: Collection was modified; enume

[2021-04-29 10:01] nul800sebastiaan commented on #10198
That sounds annoying, unfortunately there's not much we can say here...

I created a 1000 nodes twice and it's all good, no errors:

[code]

I see you've also found the other issue already https://github.com/umbraco/Umbraco-CMS/issues/9594 - if you have more info on how to reproduce the problem (code samples help) in a clean install of Umbraco we might be able to identify the problem.

Additionall

[2021-04-29 10:02] crjc opened #10200 "Nested BlockLists do not work on Umbraco 9"
Attempting to load the editor for a block list that has a nested block list does not work with Umbraco 9. It just loads forever and silently spits out an error in the console.

This works fine on Umbraco 8.

Console error: `angular.js:15635 Could not find umbVariantContent in the $scope chain`

![loadforever](https://user-images.githubusercontent.com/57661759/116533486-573e4380-a8d9-11eb-906a-00e5

[2021-04-29 10:05] jonat123 opened #10201 "NetCore: Umbraco Install failing with error: 'language' start tag on line 2 position 2 does not match the end tag of 'area'"
A brief description of the issue goes here.
Installing the Umbraco 9 beta fails in the installation wizard due to a duplicate tag in the da.xml file

## Umbraco version

I am seeing this issue on the Umbraco version: Umbraco 9 Beta

Reproduction
------------

If you're filing a bug, please describe how to reproduce it. Include as much
relevant information as possible, such as:

### Bug summary
Whe

[2021-04-29 12:09] spudstuff commented on #10193
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/10202 @nul800sebastiaan & @emma-hq . Cheers!

[2021-04-29 13:44] thomashdk commented on #10161
Hi Emma

Don't know why I don't get notifications. Now well..

Hmm agree can't reproduce it now.. :P Typically

[2021-04-29 13:44] #10161 closed

[2021-04-29 13:45] emma-hq commented on #10161
Hey @thomashdk - never a bad thing when a problem fixes itself! 😂 Thanks for closing.

Emma

[2021-04-29 15:27] bergmania commented on #10201
Thanks for reporting, sounds like you need to change the browser/OS to danish.  Works fine on English

[2021-04-29 15:31] bergmania commented on #10201
I fixed the duplicate end tag here: https://github.com/umbraco/Umbraco-CMS/commit/743f4a6610b4d2984fa2055641f81da3956a6e3b

[2021-04-29 15:31] #10201 closed

[2021-04-29 16:48] benjaminc commented on #10196
I've looked into trying to implement this, but I'm running into two problems.  First, LightInject can't natively compile open generics (see https://www.lightinject.net/#open-generics) like the Microsoft DI seems to be able to do (see https://docs.microsoft.com/en-us/dotnet/core/extensions/dependency-injection and search for "The container resolves").

Second, even if we work around that using the

[2021-04-29 18:49] Shazwazza commented on #8893
FYI, see PR https://github.com/umbraco/Umbraco-CMS/pull/10182

[2021-04-29 22:52] timlaughlin commented on #10198
Thanks for the attempt!!

So yes I missed mentioning that inside the loop I'm querying the children of the parent folder to see if it has already been added or not looking at the node name.

I'm also doing Save and Publish and not just save.

Also this is running in production so there are events happening at the same time. Specifically membership additions potentially if new users are coming on b

[2021-04-30 01:53] iishnz opened #10206 "Adding image via RTE shows a property that isn't used."
Within the Rich Text editor, when adding a media image, there is a property called "Caption", filling in this property has no effect
when rendering, further more the value does not get saved.

## Umbraco version

The version of Umbraco I am using is 8.13.0

### Reproduction

On a fresh install of Umbraco

1. Create a doc type
2. Add a property of type Rich Text Editor
3. Add an image into the Medi

[2021-04-30 05:25] kjac commented on #10200
Strange... I'll give it a look 🙂 thanks for reporting and for being so thorough in your steps to replicate 👍

[2021-04-30 08:48] emma-hq commented on #10184
Thanks @BrionyMcKenz - I'm going to pass this on to the front end team

Emma

[2021-04-30 22:37] mistyn8 opened #10210 "NotificationsService places notification under the infiniteEditor?"
![image](https://user-images.githubusercontent.com/12418214/116760253-6540b100-aa0c-11eb-9002-4435f177b4e5.png)

Hopefully, the picture says it all... (Umbraco 8.13.0, UForms 8.7.1) (maybe infinitemode overlay has a different notification?)
In this instance it's when `umbRequestHelper.resourcePromise` returns a 500 error

(Which also was a little undocumented that 500 errors get a umbYSOD if debug

[2021-05-01 05:02] anantjaiswal339 opened #10211 "NetCore: ContentModel.<ModelName>not working in Umbraco Beta 9"
ℹ️ If this bug **also** appears on the current version 8 of Umbraco then please [report it as a regular bug](https://github.com/umbraco/Umbraco-CMS/issues/new?template=1_Bug.md), fixes in version 8 will be merged to the .NET Core version.

A brief description of the issue goes here.

Reproduction
------------
Add any document type and try to add the content of that document.
Lets assume I'm adding

[2021-05-01 05:12] kjac commented on #10200
@crjc I can't seem to replicate this.

![10200](https://user-images.githubusercontent.com/7405322/116771517-6691ce00-aa4c-11eb-85fb-4fd410b692ee.gif)

I am testing on the latest `netcore/dev` branch, but I can't imagine it's any different than the beta in this regard. Do you have anything custom running in your solution, that could be triggering this upon editing - maybe a custom label template?

[2021-05-01 08:00] skartknet opened #10213 "Models Builder generated classes cannot be used straight away."
I have configured Models Builder as LiveAppData and generated the models correctly, but the classes cannot be used in code because they are created in the project with a Build Action of 'None', they should be as 'C# Compiler'

Reproduction
------------

### Bug summary

I cannot use the generated Models Bulder classes straight away. Changing their Build Action from None to 'C# compiler' fixes the

[2021-05-01 23:14] spudstuff opened #10214 "Scheduled publishing overlay uses wrong time when enter pressed in time fields"
When scheduling content to publish or unpublish, use of the enter key on the keyboard can scheduled content with the wrong time to publish. If the mouse is used only, the time is set correctly.

The bug is due to the fact that the overlay dialog by default submits itself when Enter is pressed. However the time fields in flatpickr do not update the main textbox in time before that submit happens. I

[2021-05-01 23:21] spudstuff commented on #10214
Fixed by https://github.com/umbraco/Umbraco-CMS/pull/10215, thanks.

[2021-05-02 00:05] crjc commented on #10200
Nothing custom, it's a brand new installation.

I've just tried again on another new installation of the beta and I can reproduce the bug on a different machine as well.

maybe it's already fixed on `netcore/dev`?

[2021-05-02 06:42] kjac commented on #10200
@crjc turns out this only happens in production build. The JS minification borks up things.

@nielslyngsoe I need your input here. The JS minification changes the constructor name, so [this line](https://github.com/umbraco/Umbraco-CMS/blob/netcore/dev/src/Umbraco.Web.UI.Client/src/views/propertyeditors/blocklist/umbBlockListPropertyEditor.component.js#L72) no longer finds the `umbVariantContentCon

[2021-05-03 06:37] mpd-dawn commented on #10183
It looks like the ordered list element is losings its 'dir="rtl"' attribute after reload

[2021-05-03 06:40] bergmania commented on #10211
Not sure I understand this correct..

What you describe is expected behaviour when using ModelsBuilder in PureLive mode. But you should still be able to compile your codebase, as razor views are not compiled by default.

Your "Code snap" and "Result Error" seems to be from two different examples? From the little knowledge, I have currently my guess would be that the error in "Result Error" is beca

[2021-05-03 07:02] bergmania commented on #10213
It's a good. The reason the folder is by default set as None, is because this is required when using PureLive mode.

I guess it is possible to avoid this if the `PureLive` models are generated to another folder than the folder used for the other modes.

Then the `PureLive` models folder needs to continue being set as `None`, but the other folder can be `Content` (default).

[2021-05-03 07:57] MrenGit opened #10217 "Security Scan reports vulnerable TinyMCE version lib."
A automated security scan reports TinyMCE 4.9.11 as a vulnerable version, and recommends upgrade to 5.4.0
The lib seems to be detected on the Umbraco Login page.

Are there any plans of upgrading the library?

## Umbraco version

Umbraco 8.11.1, but also seems to be the case in 8.13.0

[2021-05-03 09:24] lars-erik commented on #10174
@emma-hq You got it. Not sure how far back the issue goes or if it's always been like that. In any case it's super confusing when you want to publish only the non-default variant.

[2021-05-03 15:11] olibos opened #10218 "NetCore: Only "en-US" pages are reachable."
### Bug summary

For an unknown reason, this release routes only pages in "en-US".
If I change the default language to any other language than "en-US" the page will not be reachable anymore.
Video sample: http://www.youtube.com/watch?v=pCmTfT4Mu30

### Specifics

Umbraco: 9.0.0-beta001
Tested on Chrome, Edge & Firefox

### Steps to reproduce

* Setup a simple website
* Add an empty document type w

[2021-05-03 17:19] bergmania commented on #10218
Hi @olibos ..

Thanks for reporting.. The description and video have nice details, so we will need to investigate..

[2021-05-03 19:57] nul800sebastiaan commented on #10206
Thanks for the report @iishnz, did you check if you the caption is output as the alt text instead? I believe that's where it might end up..

[2021-05-03 20:07] nul800sebastiaan commented on #10210
Thanks, yeah, it is a UX problem that we would love some help with, it happens in more places. I'll close this as a duplicate of https://github.com/umbraco/Umbraco-CMS/issues/9614

[2021-05-03 20:07] #10210 closed

[2021-05-03 23:17] iishnz commented on #10206
Hi @nul800sebastiaan There is a separate Alternative Text property which correctly updates/sets the alt attribute of the image.
If the Alternative Text property is left blank and the Caption property is populated the alt attribute on the image tag is blank, so the caption does not seem to interact with the alt attribute - However if it did, that would still be confusing.

[2021-05-04 01:20] KVXYMatt opened #10219 "Inconsistency in Treepicker xpath when creating a new node"
When creating a new node with a property that uses a MNTP, the xpath's start node will be resolved as the parent node.

## Umbraco version

I am seeing this issue on Umbraco version: 8.13.0

Reproduction
------------

### Bug summary

This is caused by the `entityResource.getByQuery(...)` method call being passed in the `$routeParams.id` value retrieved on [this line](https://github.com/umbraco/Um

[2021-05-04 02:39] dinc5150 commented on #10066
I just had the same issue when migrating a site from V7.15 to V8.13.0

I've got a copy of the before / after of the database if you need some context of the data.

Also found this forum post before I found this github issue, which seems to be due to the same issue - https://our.umbraco.com/forum/using-umbraco-and-getting-started/104868-umbraco-redirect-umbraco-url-management-not-working#comment-33

[2021-05-04 05:49] skartknet opened #10220 "Models not generated on PureLive"
While I was testing #10213 I installed a brand new V9 site and found out that the models are not being generated at all.

On the Models Builder dashboard I can see that the mode is PureLive, but there's nothing being generated on the '~/umbraco/models' folder. The file ood.flag is in the folder and the dashboard says the models are out-of-date.

If I create a new doctype or I re-run the site nothi

[2021-05-04 05:56] bergmania commented on #10220
Hi @skartknet

Do you have any interesting entries in the log? Normally `PureLive` works fine, so I guess it has something with your models to do.

[2021-05-04 06:09] skartknet commented on #10220
No, nothing on the logs :(

When I make some changes to a doctype I just get this:
![image](https://user-images.githubusercontent.com/1685262/116966287-27d17180-acf3-11eb-93fa-e7bdcf507b3a.png)

[2021-05-04 08:07] olibos commented on #10218
Hello @bergmania ,

Thank you for your response.
In the meantime I've found the reason!
In https://github.com/umbraco/Umbraco-CMS/blob/v9/dev/src/Umbraco.Core/Routing/PublishedRouter.cs#L323 , the router set the request culture to a default culture which breaks the ContentFinderByUrl because it will try to find the page "/fr" in "en-US" which is of course not available. I've added a pull request #

[2021-05-04 09:30] olibos commented on #10218
Hello @bergmania ,

My test was not correct.
So I've made a new one with the latest v8/contrib and the issue is in v8. So it's not specific to Umbraco 9!

I'll make a new issue for V8

Note: Iv'e checked with the latest nuget package and the issue is already in production 😭

[2021-05-04 09:30] #10218 closed

[2021-05-04 10:11] kjac commented on #10200
OK I did some digging into this, and we can fix it in the minifier. I will submit a PR shortly.

[2021-05-04 10:14] nielslyngsoe commented on #10200
Hi @kjac thanks for looking into this, I haven't spent any time at v9 jet, so I have no knowledge about whether we tread the JS code differently, but it's intended for us to do exactly the same, so let's aim for that. Thanks

[2021-05-04 10:19] kjac commented on #10200
PR in #10223

[2021-05-04 11:10] olibos commented on #10218
Nevermind, I've forgot to set "Culture and Hostnames" which is required for the routing.

[2021-05-04 11:33] bergmania commented on #10220
Interesting.. How is your doctypes setup? Maybe you can export them and add to this issue, then I can see if I can reproduce the issue..

[2021-05-04 11:52] emma-hq commented on #10219
Hey @KVXYMatt

Thanks for reporting this! I'll take a look in previous versions and see if I can recreate. If so, I'll tag as an up for grabs bug but if it is a new bug I'll tag as regression.

Emma

[2021-05-04 12:11] emma-hq commented on #10217
Hi @MrenGit

Thanks for bringing this to our attention. We'll take a look and let you know what we decide.

Emma

[2021-05-04 12:24] patelarpi commented on #9976
Hello,
I am experiencing same issue on Umbraco version 8.13.0.

Thank you,

[2021-05-04 12:28] #10200 closed

[2021-05-04 14:44] dmce commented on #10133
Our experience is much like that of Shazwazza, however we cant use `Update-Package UmbracoCMS -r` commands on our build server. So we either just include the `config` and `Umbraco` folder files in source code or use some `<Copy...>` commands in the .csproj file.

We tried to only include the `config` folder in source control as that is one that has files that might change? It was nice that when re

[2021-05-04 15:10] Shadyn commented on #10220
Just going to throw this out there as I've been having the same issue for a week.  If there are doctypes that inherit other doctypes, the parent doctype needs to have a constructor without the publishedValueFallback.  This does not get generated currently by modelsbuilder, so it will fail to generate the models (or fail to compile in appdata mode)

![image](https://user-images.githubusercontent.co

[2021-05-05 04:59] skartknet commented on #10220
@bergmania false alarm. I thought the models were created when the doctypes are but I have found out that they are generated when a new page using the doctypes is created.

[2021-05-05 04:59] #10220 closed

[2021-05-05 05:07] skartknet commented on #10213
What's the best approach to this? Are we giving the option to configure the default Live Models Directory as it currently does with the Models Directory or should we hardcode that path?

[2021-05-05 05:24] bergmania commented on #10213
I think it makes sense to put it as a subfolder under `ModelsBuilderSettings.ModelsDirectory`.

E.g. `Path.Combine(ModelsBuilderSettings.ModelsDirectory, "PureLive`).

Then we can ensure the folder `/umbraco/models/PureLive/**` is excluded from the *.csproj  (Both `/src/Umbraco.Web.UI.NetCore/Umbraco.Web.UI.NetCore.csproj` and `/build/templates/UmbracoProject/UmbracoProject.csproj`)
And the folder

[2021-05-05 06:24] skartknet commented on #10213
How do you tell VS the Build Action of each generated file? On V8, when you include the models folder in the project all the *.cs are included as Compile but this doesn't happen on V9.

[2021-05-05 06:26] bergmania commented on #10213
By default all *.cs files are picked up and compiled.. In the SDK format of csproj files. So if they are not mentioned in the csproj, all should be good ..

[2021-05-05 06:31] skartknet commented on #10213
That's what I was thinking, but that doesn't happen with V9. If I include the models folder in the project, the cs are included as None. Maybe it's not an Umbraco thing, it's something to do with the VS configuration.

[2021-05-05 06:35] bergmania commented on #10213
Sorry, I'm not a VS expert, as I'm not using it on daily (or even monthly) basis anymore.

I guess if you start by using VS to include the `/umbraco/models/` folder, it will remove several lines from the csproj.
Then you can create a `/umbraco/models/PureLive` folder and exclude that, and the a couple of lines are added again, but now everything in `/umbraco/models/` except the Purelive folder is

[2021-05-05 08:31] crazymnr opened #10226 "System.IO.FileNotFoundException"
ℹ️ If this bug **also** appears on the current version 8 of Umbraco then please [report it as a regular bug](https://github.com/umbraco/Umbraco-CMS/issues/new?template=1_Bug.md), fixes in version 8 will be merged to the .NET Core version.

A brief description of the issue goes here.

Reproduction
------------

If you're filing a bug, please describe how to reproduce it. Include as much
relevant in

[2021-05-05 08:46] crazymnr opened #10228 "NetCore: {Issue Title}"
ℹ️ If this bug **also** appears on the current version 8 of Umbraco then please [report it as a regular bug](https://github.com/umbraco/Umbraco-CMS/issues/new?template=1_Bug.md), fixes in version 8 will be merged to the .NET Core version.

A brief description of the issue goes here.

Reproduction
------------

If you're filing a bug, please describe how to reproduce it. Include as much
relevant in

[2021-05-05 08:46] crazymnr opened #10229 "System.IO.FileNotFoundException: "Could not load file or assembly 'ModelsGeneratedAssembly, Version=0.0.0.1, Culture=neutral, PublicKeyToken=null, processorArchitecture=MSIL'. Не удается найти указанный файл.""
ℹ️ If this bug **also** appears on the current version 8 of Umbraco then please [report it as a regular bug](https://github.com/umbraco/Umbraco-CMS/issues/new?template=1_Bug.md), fixes in version 8 will be merged to the .NET Core version.

A brief description of the issue goes here.

Reproduction
------------

If you're filing a bug, please describe how to reproduce it. Include as much
relevant in

[2021-05-05 08:47] #10228 closed

[2021-05-05 14:49] Shadyn opened #10232 "Doctypes with parent doctypes won't compile in modelsbuilder"
When a doctype inherits from another doctype, modelsbuilder fails on compile (using appdata for mode) by saying the parent doctype does not have a publishedValueFallback

Reproduction
------------

### Bug summary

When a doctype inherits from another doctype, modelsbuilder fails on compile (using appdata for mode) by saying the parent doctype does not have a publishedValueFallback.  Only by addin

[2021-05-05 18:29] bergmania commented on #10201
# Workaround

Change the file in your nuget cache:
The file is located here: %userfolder%\.nuget\packages\umbraco.cms.staticassets\9.0.0-beta001\content\umbraco\config\lang\da.xml

Then clean your solution and build again, then the new file from the cache should appear in your project

[2021-05-06 06:45] #10162 closed

[2021-05-06 08:56] bergmania commented on #10232
Hi @Shadyn

Thanks for reporting. I can confirm I can reproduce

[2021-05-06 09:32] nul800sebastiaan commented on #10226
Please don't just file bugs with a title, describe what your doing, how can we reproduce the bug, etc.

[2021-05-06 09:32] #10226 closed

[2021-05-06 09:32] #10229 closed

[2021-05-06 09:33] nul800sebastiaan commented on #10211
I'll close this for now until it's more clear if this is a bug or not.

[2021-05-06 09:33] #10211 closed

[2021-05-06 15:57] janborup opened #10239 "NetCore: Setup installation error"
Doing a clean installation from scratch... on af Danish Windows 10.

When installation setup appears, and finishing the setup credentials this error appears:

`System.Xml.XmlException: The 'language' start tag on line 2 position 2 does not match the end tag of 'area'. Line 1899, position 5
`
**c:\Work\UmbracoV9\MyCustomUmbracoSolution\umbraco\config\lang\da.xml**
I found the error is in this file,

[2021-05-06 15:59] MylesB93 opened #10240 "CMS changes not showing on front end on a load balanced site"
Occassionally, when making changes in the CMS on a load balanced site, the changes don't appear on the front end. Restarting the app service in Azure causes the changes to appear. I can confirm that the steps in here were followed: https://our.umbraco.com/documentation/getting-started/setup/server-setup/load-balancing/

## Umbraco version

I am seeing this issue on Umbraco version: 8.6.4

Reproduc

[2021-05-06 21:31] igorssadm2 commented on #10239
Hi!

You could shared you repository to me to understend more?

[2021-05-07 07:21] #10232 closed

[2021-05-07 07:52] jesperweber commented on #8963
@DanDiplo and @stewartzollinger do you know if there is a fix for this? If not then I will open a new issue.