[2018-10-10 20:07] zpqrtbnk commented on #3243
Someone took care of it, it's their first commit to v8! Merged, closing.

[2018-10-10 20:07] #3243 closed

[2018-10-10 21:21] KimHolzmann commented on #3219
Fix pulled

[2018-10-10 21:45] bjarnef opened #3246 "Update buttons on macro page to ensure consistency"
On the macro page and a few other of the legacy pages left  in backoffice, some of the styles are not consistent with the rest of the backoffice.

It will be replaced at some point, but not sure if they will be removed/replaced before v8, so for now we can make it a bit more consistent with the rest of the backoffice UI.

Fixed in https://github.com/umbraco/Umbraco-CMS/pull/3247

[2018-10-10 21:46] bernardmoes commented on #3186
Thanks you! That would be awesome

[2018-10-10 22:51] bjarnef opened #3249 "Button tooltip title is not correct when using css classes"
When using css classes for colors in `umb-color-swatches` component, the tooltip are showing a tooltip title like `#color-blue`. Instead it should use label and fallback to value.

PR:

[2018-10-11 03:06] skartknet commented on #3043
It looks like neither of both libraries support adding attributes...?

[2018-10-11 06:09] kjac commented on #3241
Also found in:

- Data types move

[2018-10-11 06:45] kjac opened #3251 "Make all confirmations and alerts look alike"
The confirmation and alert appearance differ across sections within Umbraco. Generally it looks like they were updated at some point in the content section but not in the developer and settings sections.

I'm a sucker for consistency... so I'll submit a PR to fix this 😄

## Here's what it looks like today:

![move before](https://user-images.githubusercontent.com/7405322/46785348-c52dba00-cd31-11e

[2018-10-11 08:09] aslafy-z commented on #3043
Sorry, I said I just opened a PR to the said repo to add this feature

[2018-10-11 08:59] pragneshmpatel opened #3253 "ContentService Copying e.CancelOperation returns an error in back end"
When we try to cancel copying event it throws error

Reproduction
------------

Extend contentservice.copying and try to cancel operation in the copying event.

Sample code:
[code]
### Bug summary

    * If we cancel the copying operation it should cancel & show error message

### Specifics

    * More info: https://our.umbraco.com/forum/extending-umbraco-and-using-the-api/92722-contentservice-cop

[2018-10-11 09:11] mistyn8 opened #3254 "add $scope.model.onValueChanged to datepickerController so that dates changed via events are propagated to the view post save"
### Bug summary
Datetimepicker properties set in saving/saved events do not propagate to the view
eg MemberService.Saving, ContentService.Saving

### Specifics
umb 7.12.3, Chrome Version 69.0.3497.100 (Official Build) (64-bit), checked in all modern browsers

### Steps to reproduce
Add a DateTimePicker Property to Member or Content DataType, add a saving/saved event handler and add code to set the

[2018-10-11 09:47] kjac commented on #3228
Same problem in the developers section.

Looks like [this commit](https://github.com/umbraco/Umbraco-CMS/commit/23fda3a0edd12e33ea8e24098077db8a5fe4a2df) added the www subdomain to the feed loaded in the members section (which breaks the default feedproxy.config rules), while [this commit](https://github.com/umbraco/Umbraco-CMS/commit/a1224da5e16f948962600c975a90ff98f386da67) doesn't let the feedp

[2018-10-11 10:44] moriyamathomas opened #3257 "Reinstate Login Screen Autocomplete Off"
Several different security scans have complained that autocomplete=off should be set on the Umbraco backoffice login screen. Despite this no longer being supported by Chrome (see https://issues.umbraco.org/issue/U4-11321) - removing this attribute still causes problems with passing security scans.

[2018-10-11 12:20] Dariatj opened #3259 "Umbraco Examine NuGet Wrapper for MS Office Documents"
In my site, we have lots of MS Office documents that are stored in the media gallery.  However, NONE of them are available to us for search as there is no Umbraco Examine NuGet package for MS Office Documents.
There is an Umbraco Examine NuGet package for PDF which works great!
Can you please create on for MS Office documents?

Thanks
Tom

[2018-10-11 12:31] dawoe commented on #3259
Hi @Dariatj

This already exists as a seperate Umbraco package : https://our.umbraco.com/packages/backoffice-extensions/examinefileindexer/

Because it exists as package I will close this issue.

[2018-10-11 12:31] #3259 closed

[2018-10-11 12:35] Dariatj commented on #3259
dawoe:

Thank you very much.
Just to be sure.  Will this package support .doc, .docx, .xls and .xlsx?

Tom

[2018-10-11 17:54] SteveVaneeckhout commented on #3257
What's the reason for adding `autocomplete="off"` to a login form?

[2018-10-11 18:07] rasmusjp opened #3262 "Duplicate "Move" action when disabling inherited document types"
When disabling inherited document types by adding `<EnableInheritedDocumentTypes>false</EnableInheritedDocumentTypes>` to the `<content>` section in `umbracoSettings.config` you end up with two move actions in the document type context menu

<img width="383" alt="screenshot_20181011_190328" src="https://user-images.githubusercontent.com/379886/46823471-9134b200-cd8e-11e8-9aa4-0156a85f16e1.png">

[2018-10-11 18:30] Dariatj commented on #3259
dawoe:

Many thanks for the tip.
I installed the NuGet Package and configured it to work with .xls, docx and xlsx files.

Many thanks

Tom

PS Is there another package or documentation/instructions on how to include PDF meta data in the search index?
And is there another package or documentation/instructions on how to control the outcome of the search results?

[2018-10-11 18:33] rasmusjp opened #3263 "Show/hide toggle icons doesn't work as expected"
According to the [documentation](/umbraco/Umbraco-CMS/blob/dev-v7/src/Umbraco.Web.UI.Client/src/common/directives/components/buttons/umbtoggle.directive.js#L60) you should be able to set `hideIcons` to either `true` or `false` on the `<umb-toggle>` directive to show or hide the icons. That doesn't work as the icons are always hidden no matter what the value of `hideIcons` is.

It can be reproduced

[2018-10-12 07:20] Shazwazza commented on #3087
Next thing to do is to fix up tree syncing with the new structure, we'll save that for sprint 96

[2018-10-12 09:04] ZNS opened #3267 "When only unpublish date is set default button should be "Save and publish""
If a user sets unpublish date for a node but does not set a publish date, the default save button should be "Save and publish" and not "Save and schedule".  The scheduled action in this case is to "remove" the node at a certain date, but until that date all changes should be published by default, and not just scheduled to be removed.

How can you help?
-------------------------------
I'm not sure

[2018-10-12 11:27] Raskens opened #3268 "Member group picker - char limit"
Hi,

I have an issue concerning MemberGroups.
In cmsPropertyData.dataNvarchar(500) it's quite easy to hit the character limit if you pick multiple groups, since we store the full name of the membergroup.

My suggestion would be to change the storage of the string to happen in the dataNtext. This must be possible to change in something that's equivalent to the package manifest.

[2018-10-12 12:59] Dariatj opened #3270 "Index/Search PDF Meta Data NuGet Package"
Hello:

I am on Umbraco 7.11.1 and I have set up search indexer for PDF documents.
All is well.   All of the PDF content is being indexed and search results are fine.
But my users want me to extract the metadata from the PDF documents and add those artifacts to search index.  On the Description tab of any PDF document there are placeholders for Title, Author, Subject, Keywords, Created, modified a

[2018-10-13 06:22] KimHolzmann opened #3272 "Set media start node in usergroup or on user results in logging out."
As a non administrator, it's not possible to set media start node.
On click Add in Media start node section, the mediapicker overlay shows and the going to login screen.

Reproduction
------------

If you're filing a bug, please describe how to reproduce it. Include as much
relevant information as possible, such as:

### Bug summary

Set media start node in usergroup or on user results in logging

[2018-10-13 22:38] bjarnef opened #3275 "Id/guid no longer visible on members"
I have noticed that id/guid no longer is visible on members in e.g. v7.12.3, which it previously was.

In v7.7.13 we had these properties in backoffice.

![image](https://user-images.githubusercontent.com/2919859/46910684-ab19f480-cf48-11e8-8131-c8c78e012efd.png)

But from v7.8.0 it seems these properties have been removed/hidden.

![image](https://user-images.githubusercontent.com/2919859/4691069

[2018-10-13 22:42] bjarnef opened #3276 "Get multiple members via TypedMember"
Imported from old issue tracker: https://issues.umbraco.org/issue/U4-8806

With Umbraco.TypedContent and Umbraco.TypedMedia you can pass in an single or multiple ids, e.g. Umbraco.TypedContent(1234, 5678) which returns an IEnumerable.

However Umbraco.TypedMember doesn't have an overload for this, only three overloads to get a member by id (string, int or object).

Is there a reason why not having

[2018-10-13 23:00] bjarnef commented on #3276
Update:

In lastest v7 codebase UmbracoHelper has 5 overload methods for TypedMember.

[code]

[2018-10-14 09:52] tcmorris opened #3277 "Link in v8 getting started 404s"
### Steps to reproduce

Go here: https://github.com/umbraco/Umbraco-CMS/blob/temp8/.github/V8_GETTING_STARTED.md
Link 'a list of tasks for v8 that haven't been completed.' gives a 404.

### Expected result

Link to correct place.

### Actual result

Get a 404.

[2018-10-14 11:34] #3069 closed

[2018-10-14 11:40] tcmorris commented on #3277
PR merged, closing this issue.

[2018-10-14 11:40] #3277 closed

[2018-10-14 13:23] #3219 closed, assigned to nobody

[2018-10-14 14:13] Matthew-Wise opened #3281 "Scoped service worker"
Add a service worker to take control of the back office scope ("/umbraco/"). Would allow developers working with service workers to not handle back office requests, when looking at caching.

For example if you have a media item with the path "media/1001/image.png" on my site I load this from the cache if available and update the cache in the background (stale while re-validate). If I then upload a

[2018-10-14 14:17] UnitStack opened #3282 "Change password button not hidden V8"
When clicking the change password button on the backoffice users area, the button does not hide.

![user1](https://user-images.githubusercontent.com/5080289/46917917-f45b5a00-cfc3-11e8-99e8-a1e345e06f30.PNG)
![user2](https://user-images.githubusercontent.com/5080289/46917918-f4f3f080-cfc3-11e8-80b9-3111d8c83df1.PNG)

[2018-10-14 14:17] Diginari commented on #3282
PR incoming

[2018-10-14 15:02] pbres commented on #3186
@bernardmoes @abjerner

PR submitted #3286

[2018-10-14 16:50] fresh-caffeine opened #3292 "IE 11 - Grid-editor options layout"
There is a layout in IE11 in the grid editor, add dialogue where there should be three grid editor options in a row. IE doesn;t respect the flex with property with padding and box-sizing.

Its fixed by setting a max-width to 33.33%

![image](https://user-images.githubusercontent.com/1866663/46919607-8cb00980-cfd9-11e8-8ceb-20a3cca0e5a2.png)

[2018-10-14 20:44] kjac commented on #3253
It looks like this is an issue for all copy and move operations throughout Umbraco. I'm working on a fix.

[2018-10-15 05:25] WarwickBuz opened #3296 "Large paged Listview sorted by custom property has blank custom properties"
When you have a listview in the backend that has custom properties, and you sort it by a custom property, then on some pages the custom property can be blank.

![umbraco_orderingbycustompropval_bug01](https://user-images.githubusercontent.com/1418130/46930312-a06a7700-d090-11e8-8981-b99f484e52b4.png)

Reproduction
------------

This bug occurs when you have a list view that has multiple pages and

[2018-10-15 07:33] kjac commented on #3253
OK. Fixing this is going to require a fair bit of refactoring and extension in parts, that are tagged for removal in V8 (`IContentServiceOperations` among other things).

I believe this issue is best solved by applying a temporary fix until V8 - namely one that doesn't cause an error in the back office (basically some extra null checks), but unfortunately also one that won't propagate the error me

[2018-10-15 09:31] madsrasmussen opened #3298 "Move rollback to Info app"
We want to move rollback from the context menu so we at some point end up with menu items only related to the tree structure.

This will be a simple MVP for this functionality. In this version, we will add the rollback as a link to the audit trail. They won't be "merged". The functionality will be the same as the current dialog.

[2018-10-15 10:28] warrenbuckley commented on #3087
@Shazwazza what was the status of this - I totally forgotten where we left this

[2018-10-15 12:47] mattbrailsford opened #3300 "When registering a default controller via DefaultRenderMvcControllerResolver allow it to run if the doctype has no template"
Sometimes you want to create a hijack controller for all page types that returns non HTML content. Because of this, it makes no sense to give a doctype a template. When using individual hijack controllers, this is fine and these are allowed to successfully run without needing the doctype to have a template. However, if you want to use a custom controller for all routes, and so register it via `Def

[2018-10-15 12:51] readingdancer commented on #2907
Yes exactly, sorry for the delay in replying to you @ismailmayat I didn't get notifications of comments on this issue. "All" you need to do is create the new XML file will all the translations and then it will automatically show RTL when the language is selected in the back office.

[2018-10-15 13:08] dawoe commented on #3300
Hi @mattbrailsford

Good catch.  I think the problem is not your default controller. I think it happens earlier in the pipeline : https://github.com/umbraco/Umbraco-CMS/blob/9e564d70eff246b7a4570d2cfcc86231e130e058/src/Umbraco.Web/Routing/PublishedContentRequestEngine.cs#L637

I think if this method doesn't find a template it doesn't even get to your controller.

Will need to some diving in to thi

[2018-10-15 13:11] readingdancer commented on #2907
@mrafea-sa It looks like you might not have not built the frontend framework before trying to run the solution, you can find more information about it here:

https://our.umbraco.com/documentation/development-guidelines/building-angular-project

If you are interested in helping translate Umbraco into another language, you can find the directory of language files here:

https://github.com/umbraco/Um

[2018-10-15 13:46] pbres commented on #3300
Hi @mattbrailsford and @dawoe

I've also found this one

https://github.com/umbraco/Umbraco-CMS/blob/1bb593d264a085f94a3ce3bd710392b350561430/src/Umbraco.Web/Mvc/RenderRouteHandler.cs#L400

According to this line if either `FeaturesResolver.Current.Features.Disabled.DisableTemplates` or `routeDef.HasHijackedRoute` would be set to true, it will skip the `publishedContentRequest.UpdateOnMissingTempl

[2018-10-15 14:00] dawoe commented on #3300
`FeaturesResolver.Current.Features.Disabled.DisableTemplates` is still internal. But at first glance this will disable templates entirely. eg...not even possible to set a template on doctype in the backoffice

[2018-10-15 14:05] dawoe commented on #3300
My guess this was added for Umbraco Headless...because you don't have templates there

[2018-10-15 14:30] dawoe commented on #3300
I think the issue happens here :  https://github.com/umbraco/Umbraco-CMS/blob/1bb593d264a085f94a3ce3bd710392b350561430/src/Umbraco.Web/Mvc/RenderRouteHandler.cs#L281

There the default controller is retreived.

And then here there is a check if the assigned controller is different from the default one and then route hijacking is set

https://github.com/umbraco/Umbraco-CMS/blob/1bb593d264a085f94a3c

[2018-10-15 19:32] pbres commented on #3300
Hi @dawoe

maye=be we could add a `HandleByDefaultController` flag to the `RouteDefinition` object, similar to 'HasHijackedRoute`?

This way we could add a condition to this if statement I've pointed out above to skip it when the flag is set to false. It also won't introduce any breaking changes as the value of this flag will be `true` by default.

Pawel

[2018-10-15 23:19] Shazwazza commented on #3087
We need to make tree syncing work it's broken. As noted above - we will get this done this sprint, i'll have a look

[2018-10-16 05:13] kjac commented on #3203
While @StefanoChiodino makes a good point, this change will break *a lot* of sites.

If this is to be changed I suggest renaming the property to `PropertyAlias` in V8 and leave it be 'till then. Mind you it will still be a breaking change for a lot of upgrades to V8.

[2018-10-16 05:43] Shazwazza commented on #3203
There is some confusion here about naming conventions.

`propertyTypeAlias` is *not* the alias of a "Property Editor" a "Property Type Alias" is the alias of the "Property Type" so in the example above like `title`, that is correct.  The value of `Umbraco.Textbox` is the alias of the "Property Editor" assigned to the "Data Type" that the "Property Type" is using.

[2018-10-16 05:56] dawoe commented on #3300
Maybe @Shazwazza or @zpqrtbnk can give some input if there is a specific reason why a default controller is not seen as route hijacking.

Dave

[2018-10-16 06:51] kjac commented on #3203
Even better.

[2018-10-16 07:33] pbres commented on #3300
hi @Shazwazza

the last option is looking promising and seems to be less problematic in implementation

It would be also pretty easy to explain in docs how it works. So if there are no additional reasons to modify `TemplateModel`, I would go for that.

What do you think @dawoe and @mattbrailsford?

Pawel

[2018-10-16 07:35] kjac opened #3302 "Remove the default SMTP configuration"
A default Umbraco installation includes a sample SMTP configuration:

[code]

This is all fine if you remember to change it to the correct SMTP configuration or remove it altogether. If you don't, Umbraco will assume it's able to send system mails, and so will the editors. Only... those system mails are never really sent.

The application can run fine without the SMTP configuration, so I suggest i

[2018-10-16 07:48] Shazwazza commented on #3087
@warrenbuckley for re-review:

* Have a peek at the code changes, there's quite a bit but the underlying logic isn't so different, i added lots of code comments to the TreeRootNode class to try to describe the different types there. The tree.html now checks if there are groups rendering, if not it continues like it did before, else it renders the groups.
* Tree syncing should work for all nodes no

[2018-10-16 08:43] zpqrtbnk opened #3304 "V8 Preview on multiple domains"
child of https://github.com/umbraco/Umbraco-CMS/issues/3643

Currently, preview opens the preview panel on the current domain. On a multi-lingual, multi-domains site, we need to open preview on the content/culture domain.
Ie, backoffice can be on site.com, but need to preview on site.dk.
Requires that we find a way to pass some sort of auth to the other domain (but not full auth, we don't want to

[2018-10-16 08:49] zpqrtbnk opened #3305 "IPublishedContent Linq & HasCulture"
child of https://github.com/umbraco/Umbraco-CMS/issues/3661

When getting a document from the content cache with eg `cache.GetById(1234)`, we get the document "for all cultures" _but_ that document may actually not be available for the current culture.
We have an `HasCulture` method for this, which checks whether the content is avail for the current (or explicitely specified) culture.
That method

[2018-10-16 08:55] zpqrtbnk opened #3306 "V8 ContentFinderByIdPath, cultures and preview"
Some questions re. `ContentFinderByIdPath`...
Users may want to disable it, but then it breaks preview, so we should have a way to enable it only for preview -- in fact, that is already available (`DisableFindContentByIdPath` config) but we need to document that ppl should not remove the finder.
The finder is finding a document regardless of the culture, but if a culture is specified, we should te

[2018-10-16 09:17] warrenbuckley commented on #3087
All good and tested & merged.
Added a small note about the tree hiding to perhaps use `appState.setGlobalState("showNavigation", false)`

[2018-10-16 09:17] #3087 closed

[2018-10-16 11:28] warrenbuckley commented on #3092
The UI all good for now until the serverside stuff is implemented

[2018-10-16 11:28] #3092 closed

[2018-10-16 11:29] kjac opened #3307 ""Forgotten password?" should be hidden when Umbraco can't send system emails"
If Umbraco deems itself unable to send system emails, the "Forgotten password?" feature on the login screen should not be available.

![image](https://user-images.githubusercontent.com/7405322/47013429-67410e00-d147-11e8-8e1f-7b81eb255301.png)

PR incoming 😄

[2018-10-16 11:58] skttl opened #3309 "Add XML comments for ImageCropMode values"
When using the ImageCropMode enum in the GetCropUrl method, I would love to have a short description of each mode available in intellisense.

This is a quick fix with XML comments. PR coming :)

![image](https://user-images.githubusercontent.com/3726467/47014686-4b3f6b80-d14b-11e8-8dc4-0ffdc1fbea91.png)

[2018-10-16 12:52] RomanNalapko opened #3311 "LinkPicker overlay opens too slow from RTE"
### Bug summary

User needs to wait 10-15 seconds to see link picker overlay opened from RTE inserted to custom dialog.

### Specifics

Umbraco version: 7.12.3
Affected browsers: Google Chrome (69.0.3497.100), Firefox (62.0.3)

### Steps to reproduce

1. Create custom control which contains RTE inserted via umb-editor (see example below)
2. Open custom control, add some text into RTE, highlight te

[2018-10-16 12:59] dawoe commented on #3311
Hi @RomanNalapko

Are you using the dialogService to open the dialog or the umb-overlay directive ?

If it is the first maybe you can have a look at this similar issue for doctype grid editor : https://github.com/umco/umbraco-doc-type-grid-editor/issues/80

Which was fixed in this PR : https://github.com/umco/umbraco-doc-type-grid-editor/pull/86

Dave [Community Pull Request team](https://umbraco.

[2018-10-16 13:16] RomanNalapko commented on #3311
Hi @dawoe,

Yes, I'm using dialogService, issue is the same.

[2018-10-16 13:45] madsrasmussen commented on #3298
PR: https://github.com/umbraco/Umbraco-CMS/pull/3312

This PR moves the rollback dialog from the context menu to a button on the audit trail on the info app. The server side still needs to be wired up for this dialog.

How to test:
* Make sure you can open the rollback dialog from the audit trail
* Make sure you see a language selector in the dialog for nodes with variants. The active language sho

[2018-10-16 15:01] warrenbuckley commented on #3298
@madsrasmussen so we have a related task for the serverside - or does this need to be added into this PR directly as well?!

[2018-10-17 07:29] nul800sebastiaan commented on #3203
👍 Closing this since it works as intended.

[2018-10-17 07:29] #3203 closed

[2018-10-17 07:52] dawoe commented on #3311
It's advised to use the umb-overlay directive for dialogs.

Dave

[2018-10-17 07:54] rasmuseeg opened #3314 "Description for Umbraco.Concatenate is wrong"
**Concatenate** method on the UmbracoHelper uses the description for method Coalesce.
The description for Concatenate should be changed to something like:
"Join two or more string together, by appending to the end."

[2018-10-17 08:25] warrenbuckley opened #3315 "V8 - Remove trees.config & load types only"
The /config/trees.config XML file feels very legacy and uneeded.

It was mainly allowing users to reorder the trees or change some icons via this XML file.

Currently, this is not so well supported and I personally do not think it makes sense to give this level of control.

Trees have to be registered as C# classes, so it makes sense to remove the trees.config file and just retrieve the trees via

[2018-10-17 09:18] warrenbuckley commented on #3298
UI all looks fine and is now just waiting the serverside intergration

[2018-10-17 10:19] enkelmedia opened #3317 "301 redirects don't keep the QueryString"
I had a client that uses Google Ads and creates text ads, they started to notice that the "Paid Search" traffic in Google Analytics was not in line with the reports from Google Ads and after some investigation we came to the consultation that this is because a 301 redirect with the built in 301 redirects does not keep the query strings that Google Ads uses, ie

mysite.com/landing-old-page/?gclid=y

[2018-10-17 10:30] enkelmedia opened #3318 "Internal properties on PublishedContentRequest prevents custom ContentFinderByRedirectUrl"
Connected to this issue: https://github.com/umbraco/Umbraco-CMS/issues/3317

I was trying to implement my own version of the ContentFinderByRedirectUrl but during this I could not set these properties on the PublishedContentRequest:

contentRequest.Cacheability
contentRequest.CacheExtensions
contentRequest.Headers

Since they are internal, I guess that the access to these properties would also be

[2018-10-17 13:19] dawoe opened #3319 "SQL syntax for creating unique index does not create a unique index"
I'm using migrations in a project to create custom database tables. I wanted to create a unique index using the sql syntax builder. But it doesn't create a unique index.

### Steps to reproduce

Create a migration that creates a table with a unique index using this syntax

[code]

The table is not created with a unique index. But a normal (nonclustered) index.

When I look in the logs (loglevel ne

[2018-10-17 16:12] mariojsnunes opened #3320 "MemberService Saved event fired 3 times v7.12.3"
Summary
------------
Saving a member on the backoffice will fire Saved and Saving events 3 times (I haven't tried other events).
MemberService.Saved += (sender, e) => SavedMember(sender, e, helper);

I believe this is happening in older versions as well, found forum posts back from 2015 with no solution, like this one:
https://our.umbraco.com/forum/developers/api-questions/71297-memberservice-save

[2018-10-17 16:18] mariojsnunes opened #3321 "Roles.GetRolesForUser(username) return null on Saved event."
Created a new member with groups set.
If I run `Roles.GetRolesForUser(username)` on the Saved event, it returns null

Reproduction
------------

- Create a new member with groups set.
- Catch the Created event.
- Run `Roles.GetRolesForUser(username)`
- The groups are not returned.

### Bug summary

`Roles.GetRolesForUser(username)` is returning empty for newly created members.

### Specifics

Umbr

[2018-10-17 17:21] klutes opened #3322 "Headless Tour is broken"
The backoffice tour of Headless breaks after a few short steps.

Reproduction
------------

If you're filing a bug, please describe how to reproduce it. Include as much
relevant information as possible, such as:

### Bug summary

### Specifics

[2018-10-17 18:26] idseefeld opened #3323 "What about async methods in IFileSystem?"
Currently I am working on a new version of the AzureBlobStorageProvider for version 8. So far I have realised the new media path segments, but still going through each method.
I read some articles about asynchronous methods in general and as far as I got it, the phsyical file systems should benefit from asynchronism - especially _remote_ systems like Azure Blob Storage.

Today I realised that the

[2018-10-17 18:47] BatJan opened #3324 "Suggestion: Align image cropper property editor UI with color picker and checkbox lists"
I noticed that the UI for defining crops on the image cropper property editor is a bit out of sync with the general look and feel of the backoffice.

Therefore I suggest to align it a little more with what the rest of the experience looks like. For instance when setting up a color picker or checkbox list.

This is what it currently looks like

![crop-prop-editor-before](https://user-images.githubu

[2018-10-17 20:30] ssougnez opened #3326 "Update font awesome to 4.7"
Hello,

I'm currently creating a plugin to add font awesome icon in the RTE and I noticed that Umbraco 7.x is using Font Awesome 4.2. However, this version does not contain a lot of icons, unlike the version 4.7 that contains a lot more and is retro compatible.

Therefore, I think it would be interesting to update Umbraco to use the version 4.7 of Font Awesome. This version only adds icons and doe

[2018-10-17 23:07] readingdancer commented on #3326
@ssougnez It sounds like a good idea, as long as it doesn't create any breaking changes, I suggest you just make a pull request if you have time to do it :)

[2018-10-17 23:10] readingdancer commented on #3322
@klutes It would be good if you could edit your original comment and describe the steps taken to re-produce the issue, your current description is a little vague ;) It's a good idea when creating issues for any product to be as descriptive as possible to help whoever looks at the issue pinpoint it quickly.

Also, it's good to know things like the browser you are using, if you tested it in another

[2018-10-18 03:00] Shazwazza commented on #3323
Umbraco internally doesn't use async unless it's within a controller. To do this would require us to create a different IFileSystem interface like IFileSystemAsync which would mean a whole lot of underlying plumbing ... but the async methods will still probably not be used in most cases since in many of the cases where IFileSystem is used, its in a non-async context.

Indeed Umbraco would benefit

[2018-10-18 03:04] Shazwazza commented on #3320
Creating a member is done in various phases (probably 3 ;) . There is no way to have the event fire once because that's not what is happening. The member is created, a password is then assigned (another phase) and the membership provider updates it (another phase).

On the following event triggers, the property is null again (I deduce this is because the property is null on the backoffice).
Since

[2018-10-18 03:07] Shazwazza commented on #3321
The `Created` event isn't what you think it is, here are the notes: https://github.com/umbraco/Umbraco-CMS/blob/dev-v7/src/Umbraco.Core/Services/MemberService.cs#L1364

Pretty sure this is removed in v8 (and should be deprecated in v7). It's kind of a silly event since it's only raised if the MemberService.CreateMember or MemberService.CreateMemberWithIdentity is used even though those methods are

[2018-10-18 03:07] #3321 closed

[2018-10-18 03:12] Shazwazza commented on #3315
If we do this, then we won't need to do this one: https://github.com/umbraco/Umbraco-CMS/issues/3236

[2018-10-18 05:12] readingdancer opened #3327 "Data type property editor controls disappeared on mobile"
On v8 if you try and edit a data type some of the editor controls disappear when viewed on a narrow screen.

Reproduction
------------

### Bug summary

As mentioned above, if you try and edit a data type it is impossible to change some of the settings on mobile.

### Specifics

Umbraco version 8.0.0-alpha.52 assembly: 8.0.0.0

### Steps to reproduce

This is one example, but you will find a simil

[2018-10-18 06:11] dawoe commented on #3319
Hi @Shazwazza

As far as I can see the core doesn't use this method. But the database has unique indexes. These are probably created in the initial database setup which uses the schemahelper to create tables from POCO's

I see in another project the devs scripted the unique index in a migration by using Exexute.Sql() method.
Probably because of the same issue.

Will have a stab it this week. I als

[2018-10-18 06:47] clausjensen opened #3329 "List views bulk actions with variants"

[2018-10-18 06:53] clausjensen opened #3330 "Editing invariant properties on Variant content"
child of https://github.com/umbraco/Umbraco.Private/issues/14

[2018-10-18 07:04] clausjensen opened #3331 "Data updates when switching a content type/property type between variant/invariant"
child of https://github.com/umbraco/Umbraco.Private/issues/14

[2018-10-18 07:06] Shazwazza commented on #3319
yup so if we don't use it in core then it's probably one of those methods that isn't completed. normally they are easy to fix 🤞

[2018-10-18 07:08] dawoe commented on #3319
Yep..expect a PR coming in.

[2018-10-18 07:44] clausjensen opened #3332 "Audit trail needs to log the culture(s) being edited"

[2018-10-18 07:47] Shazwazza opened #3333 "Update content models to support change tracking for variants"
When updating variant/culture names and published names, we need to be able to track changes for these so we know what has changed in order to add audit/log history

child of #3332

[2018-10-18 07:50] #3281 closed

[2018-10-18 07:51] Shazwazza opened #3334 "Show changed culture names in the audit trail UI"
child of #3332

The audit trail shown in the UI is based on localization keys (so that it's translatable) but this means that anything logged in the log table isn't actually shown so it's irrelevant what is there.

We need to be able to pass in parameters to new localization keys in the UI which requires:

New Audit log types:

* PublishCulture
* SaveCulture
* UnpublishCulture

(don't think there

[2018-10-18 07:55] clausjensen opened #3335 "Bulk publishing"

[2018-10-18 08:04] Shazwazza opened #3336 "Ensure ContentService.SaveAndPublishBranch follows the correct bulk publishing rules"
child of #3335

It is possible that this method already does what is intended but we need to verify that and change it if not:

* If the item being published is Invariant and it has Variant descendants and we are NOT forcing publishing of anything not published - the result will be that the Variant cultures that are already published (but may contain a draft) are published. Any cultures that don't

[2018-10-18 08:30] richarth opened #3337 "Problems when using load balancing with SSL behind a proxy/Load balancer"
I'm adding an issue ([U4-9229](https://issues.umbraco.org/issue/U4-9229)) from the old tracker so that it doesn't get missed.

Is there any update on progress at all?

[2018-10-18 08:32] Shazwazza opened #3527 "Internal indexes to be code based not config based"
child of https://github.com/umbraco/Umbraco-CMS/issues/3530

Internal indexes by Umbraco need to be code based and not config based, this is to make sure people cannot muck around with them and delete them which will cause problems.

devs will need to be able to modify the indexes at startup if they wish to (just like any index created by code)

[2018-10-18 10:02] mariojsnunes commented on #3321
**Sorry, I meant the Saved event.**

I am creating a new member on the backoffice with groups set.

Then I catch the Saved event.

`MemberService.Saved += (sender, e) => SavedMember(sender, e, helper);`

[code]
The groups are not returned when I run `Roles.GetRolesForUser(member.Username).`

[2018-10-18 10:14] mariojsnunes commented on #3320
I agree.

I am trying to set a property when a new member is created.

[code]
Since I only want to set the property when the member is created I validate the `member.IsNewEntity()`.
But since it returns true only on the first event trigger, the property is then overriden with null on the following 2 saved events.

Any ideas on how should I solve this or what am I doing wrong?

Thanks for the help!

[2018-10-18 11:30] ssougnez commented on #3326
@readingdancer I'm doing it right now but out of curiosity, I made a research. It seems that font-awesome is actually not used by Umbraco, icomoon is.

Therefore, I was wondering if it would not be better to remove font-awesome from Umbraco ? Indeed, upgrading it to 4.7 would only allow plugin such the one I'm creating to use the new version but it could be the responsibility of the plugin to inje

[2018-10-18 12:29] abjerner commented on #3326
@ssougnez I'm not sure why it is part of Umbraco. But since it is there, there may be third party packages and solutions depending on it, in which case it would be a breaking change to remove it.

I think it's totally fine to update it to the newest version 😉

[2018-10-18 12:34] clausjensen opened #3340 "Cleaning up webforms and related files for rollback"
child of https://github.com/umbraco/Umbraco.Private/issues/70

This task includes removing all old code relating to the old webforms rollback functionality, there are a few aspx, aspx.cs, probably js and css files lying around that need to be removed in various projects.

[2018-10-18 12:34] ssougnez commented on #3326
If you see that the other way, it also forces packages and plugins to use the version of font awesome referenced by Umbraco even though it does not use it.

For example, I'm writing a plugin that allow the user to insert a FA icon in the RTE. So at some point in time, he sees a list of FA icons. A developer would probably like to be able to define the version of FA to use as at the end, the icon m

[2018-10-18 12:42] clausjensen opened #3341 "Unpublishing"

[2018-10-18 12:43] clausjensen opened #3342 "Unpublishing button is gone"
child of #3341

It disappeared - it was there before. We need to figure out where it went and how to get it back.

[2018-10-18 12:46] clausjensen opened #3343 "Performance testing of new Cache"

[2018-10-18 15:06] warrenbuckley commented on #3298
OK so I have worked on the following:
* C# WebApi Controller
* C# ContentService Rollback method implementation
* Remove legacy .aspx WebForms Rollback Dialog

Big thanks to Stephan for the help & pointers :)

@zpqrtbnk can you take a look at this when your free/have time to do a review & thorough test on this for me, please

[2018-10-18 16:14] abjerner commented on #3326
@madsrasmussen do you remember why Font Awesome was included with Umbraco? So far I've only been able to find this commit:

https://github.com/umbraco/Umbraco-CMS/commit/631a9f92eaa1281a96942bca960cde481d1817bd#diff-dba37d0ebb23dde29dae14021962d1efR33

[2018-10-18 17:42] madsrasmussen commented on #3326
I think the only reason we have font-awesome in the back-office is that the package bootstrap-social is depending on them. The social buttons are used for the custom buttons you can extend the login screen with.

[2018-10-18 19:27] TimGeyssens opened #3346 "FileSystemTree doesn't render files in subfolders"
This seems to be pretty old code but still used by packages like ConfigTree and maybe other third party stuff..
So the tree renders but it fails to render the children of the folders found under the root, to check install config tree and you'll see it won't output any files under the main config root...

[2018-10-18 21:03] jamescoxhead opened #3348 "Old dropdown property editors pre-configured on new installations."
### Bug summary

When setting up a new Umbraco installation, the legacy Umbraco.Dropdown and Umbraco.DropdownMultiple property editors are pre-configured in the Data Types tree. Since the new Umbraco.Dropdown.Flexible property editor was introduced in 7.10 I would expect that to be used instead.

### Steps to reproduce

1. Set up a new, clean Umbraco installation (version 7.10 onwards)
2. In the d

[2018-10-18 22:13] prjseal opened #3350 "Add an Edit Link helper method"
As we have a clean slate with Umbraco v8, I feel it could be a good time to add this.

It would be great to have a helper method in UmbracoHelper.cs which you could call like this in your view

[code]

And as a result it would render an edit link on the front end, if you are logged into the backoffice.
If you are not logged into the backoffice, then the link will not render.

It would not be added

[2018-10-19 04:57] Shazwazza commented on #3334
PR is here https://github.com/umbraco/Umbraco-CMS/pull/3352 for #3334, #3333, umbraco/Umbraco.Private#237

[2018-10-19 04:57] Shazwazza commented on #3333
PR is here https://github.com/umbraco/Umbraco-CMS/pull/3352 for #3334, #3333, umbraco/Umbraco.Private#237

[2018-10-19 06:45] kjac commented on #3073
@JayCoady34 did you ever figure out that caused this? Or in other words - is this issue still relevant?

[2018-10-19 06:57] nul800sebastiaan commented on #3073
I'll close this since it seems to have something to do with custom code, feel free to discuss this further on the forum if necessary!

[2018-10-19 06:57] #3073 closed

[2018-10-19 07:37] arknu commented on #3326
If Umbraco is shipping with Font-Awesome already, why not make the icons available for use as doctype icons? If they are being loaded anyway, we might as well use them...

[2018-10-19 07:49] ssougnez commented on #3326
It appears that the "official" library used by Umbraco (if I'm not wrong) is icomoon. It would be weird to mix both libraries. However, as apparently FA is required by bootstrap social, there are two solutions (in my opinion):

- Use something else than bootstrap social to get rid of the FA dependency and remove it rom Umbraco
- Switch from icomoon to FA but I don't think it's possible. Indeed, it

[2018-10-19 07:55] RobertCopilau opened #3537 "The template saves when I click outside the name field"
When creating a new template, if the user were to click in the editor before saving the template the intended way (save button or shortcut), a save call will be triggered.

How to reproduce:
* Create a new template
* Click anywhere the template editor

Affected versions 7.11.x -> latest

[2018-10-19 08:28] skttl opened #3353 "Better UI for configuring settings and styles in a grid data type"
When adding settings and styles options to a grid data type, you need to maintain a JSON object in a textarea. This is cumbersome and errorprone.

What I would suggest, is to use the UI from Nested Content to handle these things.

Then you could have an "add option" button, and a simple UI for setting label, description, key etc.

You could even have different types for the builtin views (textstri

[2018-10-19 08:40] skttl opened #3354 "Ability to assign grid editors to columns from the editor in."
When you assign grid editors to columns today, you need to open up the row configuration, click the desired column, and toggle the checkbox for the editor.

If you need to assign an editor to multiple columns in multiple rows, this gets cumbersome and errorprone.

What I would suggest, is a way of assigning editors from the editor in, in stead of from they layout in.

So you could have a matrix of

[2018-10-19 08:55] abjerner commented on #3326
In theory, you can actually use Font Awesome for document types already - you are just not able to choose the icons via the UI. Font Awesome icons have a few issues though, as they are not perfectly centered etc.

Anyways, as Font Awesome 4.x is no longer in active development, I think it's fine to update it to version 4.7 for Umbraco 7, but perhaps remove it from Umbraco 8.

[2018-10-19 08:59] ssougnez commented on #3326
Okay then. I made this [PR](https://github.com/umbraco/Umbraco-CMS/pull/3344).

About your comment for centered icon, by default they are not, but you can add the class "fa-fw" to set a fixed width for the icon and therefore center it in the fixed width container. As I don't know icomoon, I can't suggest which one Umbraco should use but what's for sure is that it shouldn't use two different icon l

[2018-10-19 09:17] tcmorris opened #3355 "Add SourceLink metadata"
SourceLink allows for source code debugging of .NET assemblies from NuGet. Developers who download the package and have SourceLink enabled in Visual Studio can step into its source code.

More info:
https://docs.microsoft.com/en-us/dotnet/standard/library-guidance/sourcelink

Happy to pick this up, but thought I'd raise it as an idea first and see if there are any potential issues.

[2018-10-19 09:17] kjac opened #3356 "API controllers don't respect specified domain culture"
In a multilingual setup with different cultures specified for different domains, the routable requests are executed in the correct culture.

This isn't the case for requests to API controllers, even if they're based on `UmbracoApiController`.

Consider this example:

- There are three cultures defined in Umbraco: "en-US" (the default one), "en-GB" and "da-DK".
- The content tree has three sites (t

[2018-10-19 09:20] nul800sebastiaan commented on #3355
Wow, that looks super cool! Go for it!

Not sure how to test it but.. we'll get to that ;-)

[2018-10-19 09:29] nul800sebastiaan commented on #3309
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/3310

[2018-10-19 09:29] #3309 closed

[2018-10-19 09:30] nul800sebastiaan commented on #3233
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/3234

[2018-10-19 09:30] #3233 closed

[2018-10-19 09:32] nul800sebastiaan commented on #3229
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/3230

[2018-10-19 09:32] #3229 closed

[2018-10-19 09:42] madsrasmussen opened #3358 "V8 Angular doesn't filter out ($)-properties when send to the server"
In v7 angular filters out all properties prefixed with a $ when send to the server. It doesn't happen in v8 anymore.

We need to figure out why.

How to reproduce.
Create a node with a grid property editor. Fill in some content and save the node. You can see in the request sent to the server that a lot of grid config data it send and saved in the database.

[2018-10-19 10:04] madsrasmussen commented on #3298
See PR for test notes: https://github.com/umbraco/Umbraco-CMS/pull/3312

[2018-10-19 10:10] nul800sebastiaan commented on #3257
See comment on the PR: https://github.com/umbraco/Umbraco-CMS/pull/3258#issuecomment-431314612

[2018-10-19 10:10] #3257 closed

[2018-10-19 11:08] madsrasmussen opened #3359 "Sorting variant nodes gives YSOD"
´´´How to reproduce:´´´´

1.  Create a node with variants and create some subnodes.

2. Open the sort context menu item.

Error:
Error mapping types.

 Mapping types:
 IContent -> ContentItemBasic`1
 Umbraco.Core.Models.IContent -> Umbraco.Web.Models.ContentEditing.ContentItemBasic`1[[Umbraco.Web.Models.ContentEditing.ContentPropertyBasic, Umbraco.Web, Version=8.0.0.0, Culture=neutral, PublicKeyTo

[2018-10-19 11:12] madsrasmussen commented on #3334
When rollback done we can also add rollback to the list

[2018-10-19 11:12] madsrasmussen commented on #3334
I have tested this and it works as described

[2018-10-19 11:47] clausjensen opened #3360 "Send to publish needs to include culture and not data when used with variant content"
child of https://github.com/umbraco/Umbraco.Private/issues/243

When sending a variant item to publish with a specific culture, we need to include the culture name in the notification email.

We should remove the "changes" table when sending a variant to publishing since it will currently just show the invariant data of the item.

If possible we should add a link directly to viewing the variant fr

[2018-10-19 11:54] PeteDuncanson opened #3361 "Add 2FA into Core"
We have the changes in V7 to allow us to get 2 Factor Authentication (aka 2FA) up and running via our package (https://github.com/Offroadcode/Umbraco-2FA). Ideally I'd like this to go into Core so everyone can have the 2FA security out of the box.

Business wise this would be a great "tick box" feature when clients and suppliers are validating the CMS against other options and remove yet another "

[2018-10-19 11:58] nul800sebastiaan commented on #3361
+1

Also in v7 please.

[2018-10-19 11:59] PeteDuncanson opened #3362 "Allow safe way to have multiple OWIN startup classes or tasks in V8"
Resurrecting this issue https://issues.umbraco.org/issue/U4-11169 due to a conversation with Stephan at USA Festival.

I'm still not sure there is a safe way to allow for multiple OWIN setups/start ups. If there is can we know how best to do it so it can be documented and if not can we have something thought about to allow for this.

Use case is someone has some custom startup that requires messin

[2018-10-19 12:00] PeteDuncanson commented on #3361
How best to do this, get it in V7 first and then let Core port to v8?

[2018-10-19 12:00] nul800sebastiaan commented on #3361
We still merge everything up to v8 from v7, so always good to start with v7 unless it's absolutely impossible to do something in v7 for some reason.

[2018-10-19 12:03] dawoe commented on #3362
I think in order to make it work OwinStartup2_DavesMethod should fire first.

But all kidding aside

In the original case @rasmusjp mentions the UmbracoDefaultOwinStartup.MiddlewareConfigured event. But I don't know that is fired for custom OWIN startups. Maybe only if they inherited from UmbracoDefaultOwinStartup.

If it does fire maybe this should be documented. So people know they don't need to

[2018-10-19 12:14] rasmusjp commented on #3362
Looking at the code it seems that the event is fired by https://github.com/umbraco/Umbraco-CMS/blob/1bb593d264a085f94a3ce3bd710392b350561430/src/Umbraco.Web/Security/Identity/AppBuilderExtensions.cs#L41-L44

which the default startup class calls in the `ConfigureMiddleware` method https://github.com/umbraco/Umbraco-CMS/blob/1bb593d264a085f94a3ce3bd710392b350561430/src/Umbraco.Web/UmbracoDefaultOwi

[2018-10-19 12:51] #3292 closed

[2018-10-19 13:07] #3254 closed

[2018-10-19 13:13] #3275 closed

[2018-10-19 13:13] nul800sebastiaan commented on #3275
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/3279

[2018-10-19 13:16] #3302 closed

[2018-10-19 14:37] dawoe commented on #3319
Created a PR that fixes the issue

[2018-10-19 17:53] kjac commented on #3361
@PeteDuncanson +1 from me too. If you need any help let me know.

[2018-10-19 20:26] BatJan opened #3364 "Suggestion: Make use of confirm action directive on repeatable textstring when deleting"
So I played around with some of the built-in property editors and I noticed that when using the "Repeatable textstrings" property editor a minus sign icon is being used for visualize the delete option + it does not give the user a warning before deletion.

Therefore I suggest to impement the "umb-confirm-action" directive instead making use of a trashcan icon as it's done many other places in the

[2018-10-20 10:31] skttl opened #3368 "There is no dirty check on the allowed templates selector"
Working with #3366 I noticed that if you have unsaved changes in allowed templates on the doc type editor, you don't get the usual "You have unsaved changes" popup.

Screen recording is from an installation of 7.12.3

https://i.imgur.com/g4CfMLe.gifv

[2018-10-20 17:12] readingdancer opened #3370 "Adding CleanCSS to the Belle build process"
We have been using CleanCSS as part of our build processes and it has always reduced the final size of the CSS, it does a lot of cleaver things, merging styles, removing duplications etc.

I have already implemented this and it seems to be working fine, I will submit a pull request shortly, as long as my battery doesn't die ;)

[2018-10-21 08:35] nul800sebastiaan commented on #3262
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/3261

[2018-10-21 08:35] #3262 closed

[2018-10-21 08:40] nul800sebastiaan commented on #3314
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/3316

[2018-10-21 08:40] #3314 closed

[2018-10-21 08:52] nul800sebastiaan commented on #3263
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/3264

[2018-10-21 08:52] #3263 closed

[2018-10-21 09:02] nul800sebastiaan commented on #2991
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/3265

[2018-10-21 09:03] #2991 closed

[2018-10-21 10:41] kjac commented on #3368
Apparently this also applies to "Enable list view", "Allow at root" and "Allowed child node types"; in other words everything on these buttons, except the actual list view configuration:

![image](https://user-images.githubusercontent.com/7405322/47265858-9d5b0500-d52e-11e8-9589-1a97fcda08ef.png)

I'm going to submit a PR for it shortly.

[2018-10-21 10:50] #3326 closed

[2018-10-21 11:15] kjac opened #3373 "Forms tree reports error when Forms is not installed"
On a blank install (7.13.0), the Forms tree reports a 404 in the UI if Forms is not installed.

To reproduce, simply open the Forms section of Umbraco:

![forms tree error](https://user-images.githubusercontent.com/7405322/47266130-78689100-d532-11e8-8d20-87dcc77193fe.gif)

The obvious workaround is to remove Forms from `applications.config` - or to install Forms (I'm going to assume that it works

[2018-10-21 11:57] kjac commented on #3276
@bjarnef it looks like there is no application level cache for members.

The `TypedMember()` methods on `UmbracoHelper` all end up accessing the database via `MembershipHelper` (e.g. [GetById](https://github.com/umbraco/Umbraco-CMS/blob/fb6079d4e2af45b151d466441ee6f63ff677d185/src/Umbraco.Web/Security/MembershipHelper.cs#L317)). The results are cached per request but not shared between requests.

[2018-10-21 12:15] TimGeyssens opened #3375 "Content Apps Could use config settings (settable in the UI) - V8"
Just did a test of Content Apps and they make great sense but I also feel like they could use config (like the datatypes) since in some cases you would probably reuse an app with different settings accross the site.

[2018-10-21 12:19] TimGeyssens opened #3376 "Content Apps doesnt' make sense to set permissions in manifest"
I assume if a package dev release a content app he doesn't know abou the doc type aliases available on the end users system, so why not make it a UI configurable setting instead of shipping that in the manifest...

[2018-10-21 12:52] #2985 closed

[2018-10-21 14:28] nul800sebastiaan commented on #3370
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/3371

[2018-10-21 14:28] #3370 closed

[2018-10-21 14:46] skttl commented on #3368
Thanks @kjac!

[2018-10-21 16:06] nul800sebastiaan commented on #3356
Closing this, see comment on the PR. 🙂

[2018-10-21 16:06] #3356 closed

[2018-10-21 16:28] #3368 closed

[2018-10-21 16:28] nul800sebastiaan commented on #3368
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/3372

[2018-10-21 17:00] #3346 closed, assigned to nobody

[2018-10-21 17:19] #3348 closed

[2018-10-21 17:36] nul800sebastiaan commented on #3251
Fixed in: https://github.com/umbraco/Umbraco-CMS/pull/3252

[2018-10-21 17:36] #3251 closed

[2018-10-21 17:48] bjarnef commented on #3276
@kjac I think members and been a bit different from content and media, but the API is now more consistent than in the past.

For members I think it can be improved futher, e.g. when you want to fetch multiple members.
It might be tempting to use `MemberService` in the view to fetch multiple members since the `MembershipHelper` haven't have had methods to fetch multiple members. I guess a Umbraco.M

[2018-10-21 19:32] nul800sebastiaan commented on #3361
FYI: Before anyone starts on this we're going to have to give a bit of guidance on what to add where. This is a pretty big update and we wouldn't want anyone spending a lot of time on coming up with an incorrect solution.

[2018-10-21 19:55] suhailsinghbains commented on #3361
Ohh, okay, no problem :)

[2018-10-22 02:21] Shazwazza commented on #3360
@clausjensen  this is a duplicate of https://github.com/umbraco/Umbraco.Private/issues/231

[2018-10-22 05:14] Shazwazza commented on #3360
@clausjensen  this is a duplicate of https://github.com/umbraco/Umbraco.Private/issues/231

[2018-10-22 05:28] Shazwazza commented on #3360
@clausjensen  this is a duplicate of https://github.com/umbraco/Umbraco.Private/issues/231

[2018-10-22 10:51] DavidSigemo opened #3380 "Incorrect swedish translation"
When using the swedish translation the "selected" word is incorrectly translated (to danish, I think?)

Reproduction
------------

### Specifics

Change this line to "valda"

https://github.com/umbraco/Umbraco-CMS/blob/4cefd355ecd47104937555a2a9d01e9fc55267c7/src/Umbraco.Web.UI/umbraco/config/lang/sv.xml#L440

### Steps to reproduce

To reproduce, set Umbraco to Swedish and select an item in a lis

[2018-10-22 11:23] #3360 closed

[2018-10-22 12:44] BatJan opened #3381 "Media picker: Trashed media warning looks weird"
So by coincidence I noticed that a warning is actually displayed when deleted/trashed media items are selected in a media picker, which is quite nice.

However it looks a little odd - It looks a little random and can be hard to notice. This is what it currently looks like.

![trashed-warning-before](https://user-images.githubusercontent.com/1932158/47292902-c18b1480-d608-11e8-854c-0d780607f7b8.png

[2018-10-22 14:22] TimGeyssens commented on #3375
Great, good to know it's coming at some point

[2018-10-22 15:39] emmaburstow opened #3385 "dictionary item for member group save message"
Ok so when you save the member group, rather than getting a nice 'Member group saved' message, you get [editGroupMemberSave] instead.

We need to add a dictionary item for the corresponding key so we get a real message.

[2018-10-22 15:40] emmaburstow commented on #3385
I've done this here...

https://github.com/umbraco/Umbraco-CMS/pull/3379

[2018-10-22 15:42] emmaburstow opened #3386 "Video heading shows when no videos are on the page"
When you're on the Member section of the back office, the video dashboard for Umbraco tv shows a heading 'To get started:' even when no videos are actually there to view.

[2018-10-22 15:43] emmaburstow commented on #3386
I've created a PR for this issue [here](https://github.com/umbraco/Umbraco-CMS/pull/3384)

[2018-10-22 15:48] bharanijayasuri opened #3387 "MoveEventArgs.CancelOperation not showing notification in backoffice while cancelling MediaService.Trashing event"
While cancelling a MediaService.Trashing event, the notification message passed to the EventMessage constructor is not shown in the backoffice to the user even though the event is cancelled. Seen this behaviour on Umbraco 7.6.1 which was later upgraded to Umbraco 7.11.1 but the issue still remains.

Reproduction
------------

Create a MediaService.Trashing event handler and cancel the event using

[2018-10-22 16:47] akshatnitd opened #3388 "LICENSE info missing from the README file"
A brief description of the issue goes here.

* LICENSE info missing from the README file

Reproduction
------------

If you're filing a bug, please describe how to reproduce it. Include as much
relevant information as possible, such as:

### Bug summary

* LICENSE info missing from the README file

### Specifics

### Steps to reproduce
NA

### Expected result
LICENSE info should be present in the

[2018-10-22 16:50] nul800sebastiaan commented on #3387
Can confirm neither `MediaService.Trashing` nor `MediaService.Moving` work with adding a message to the event.

I've marked as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2018-10-22 16:52] nul800sebastiaan commented on #3388
Thanks, we have a LICENSE.md file in the root of the repo though, which is what GItHub recommends :-)

[2018-10-22 16:52] #3388 closed

[2018-10-22 17:00] abjerner commented on #3387
@nul800sebastiaan I'm pretty sure we had a long discussion about this on the old issue tracker somewhere, but I can't find it now. Last time I checked the content service is affected as well.

While not being the issue I was thinking of, these appear to be the same issue:

https://issues.umbraco.org/issue/U4-9627
https://issues.umbraco.org/issue/U4-7958
https://issues.umbraco.org/issue/U4-5962

[2018-10-22 17:02] nul800sebastiaan commented on #3222
Hey @JohnLHGeary - Unfortunately I'm going to have to close this as "can't reproduce" for now. We're not aware of other people having this problem and in order to be able to say something sensible about this we really need clearer steps to reproduce I'm afraid.

Please make absolutely sure that you've followed all of the recommendations in the documentation to the letter: https://our.umbraco.com/D

[2018-10-22 17:02] #3222 closed

[2018-10-22 17:03] nul800sebastiaan commented on #3380
I've marked as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2018-10-22 17:04] abjerner commented on #3388
GitHub also automatically detects the LICENSE.md file and shows the type of license in the UI. Clicking **MIT** will lead to the license file.

![image](https://user-images.githubusercontent.com/3634580/47306522-f27d4080-d62c-11e8-9b85-2ff5b062bb92.png)

[2018-10-22 17:11] nul800sebastiaan commented on #3373
Seems like an oversight, it's because the forms section has no tree until it is installed. We obviously would love for the forms dashboard to pop up and have no errors, but prompting people to install Forms. :-)

[2018-10-22 17:14] nul800sebastiaan commented on #3364
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/3365

[2018-10-22 17:14] #3364 closed

[2018-10-22 17:19] nul800sebastiaan commented on #3323
I will close this but I've added the "idea" label to indicate that while we think it's a great idea, we don't have the capacity to execute on this in the near future. The "idea" label allows us and future contributors to find the great ideas at a later time when there is time.

[2018-10-22 17:19] #3323 closed

[2018-10-22 17:28] #3242 closed

[2018-10-22 17:28] nul800sebastiaan commented on #3307
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/3308

[2018-10-22 17:28] #3307 closed

[2018-10-22 17:30] nul800sebastiaan commented on #3270
We don't have any plans to unclude a PDF analyzer at this point, you can try using the following package: https://github.com/umbraco/UmbracoExamine.PDF

[2018-10-22 17:30] #3270 closed

[2018-10-22 17:31] nul800sebastiaan commented on #3228
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/3256

[2018-10-22 17:31] #3228 closed

[2018-10-22 17:34] nul800sebastiaan commented on #3249
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/3248

[2018-10-22 17:40] nul800sebastiaan commented on #3217
Ah yes, seems like an oversight!

I've marked as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2018-10-22 17:41] #3176 closed

[2018-10-22 17:41] #3163 closed

[2018-10-22 18:21] soreng commented on #3380
@skttl I was just about to do that ...

[2018-10-22 18:32] kjac opened #3390 "Hide "Notifications" option in menu if Umbraco can't send system mails"
Continuing along the lines of #3307 here... seems to me the "Notifications" option makes little sense if Umbraco can't send system mails.

It should probably be removed if SMTP is not configured.

![notifications](https://user-images.githubusercontent.com/7405322/47311283-979e1600-d639-11e8-88e7-bc287933cd93.png)

[2018-10-22 18:35] skttl opened #3391 "Grid editor in overlay: selecting a row layout closes the overlay"
If you are editing a grid property in an overlay (eg. using Doc Type Grid Editor, Stacked Content or similar), the overlay closes when you select a row configuration. It would also happen in multinode treepicker (the open to edit in a dialog function), if it used overlays in stead of dialogs.

This is originally an issue reported on Doc Type Grid Editor, but I believe it's a bug in Umbraco.
https:

[2018-10-22 18:53] kjac opened #3393 "Field labels are unaligned in the change document type dialog"
Just noticed that the field labels are all raised above the field values and inputs in the "change document type" dialog.

![change doctype before](https://user-images.githubusercontent.com/7405322/47312292-3c215780-d63c-11e8-94f5-7a7a950fde76.png)

Looks like some local styling, I'll submit a PR to correct it momentarily.

[2018-10-22 19:09] madsrasmussen opened #3395 "Unpublish last variant for a node gives wrong notification"
child of https://github.com/umbraco/Umbraco-CMS/issues/3695

When unpublishing the last variant of a node you get a notification which says a mandatory language has been unpublished so all variants have been unpublished. It is a bit misleading and it should just show the regular "variant has been unpublished" notification.

[2018-10-22 19:11] madsrasmussen opened #3396 "Publish a variant without a name gives YSOD"
child of https://github.com/umbraco/Umbraco-CMS/issues/3695

If you try to publish a variant without a name you get a YSOD. You should see a validation message instead.

[2018-10-22 19:43] kjac commented on #3387
I had a look at something similar when I dug into #3253. It wasn't terribly trivial to fix it properly right now. And from what I saw it involved refactoring some stuff marked for removal in V8.

[2018-10-23 00:09] jaandrews commented on #2927
@KimHolzmann You can avoid the need for styling changes by tweaking how the content blueprints are selected. Instead of showing the blueprints in the dropdown, you can show them in a panel like the other creation buttons do when the create button is clicked. The potentially tricky part is skipping the doc type selection, as the doc type has already been set by the list view. The two pieces are bot

[2018-10-23 07:11] JohnLHGeary commented on #3222
Hi,
It is a bit difficult to put down re-creation steps as it doesn’t happen every time and it is a general content synchronisation problem across our three web server set-up.  I have been through the flexible load balancing document and as far as I can see the environment is set-up as per the guidance and our indexes are written to the individual local drives.  We do have a sync running but it av

[2018-10-23 07:51] #3380 closed

[2018-10-23 08:29] #3298 closed

[2018-10-23 08:29] #3340 closed

[2018-10-23 08:37] clausjensen opened #3399 "Stylesheet editing needs to be added"
Stylesheets should be editable via the stylesheet tree in the backoffice.

This is where you were able to create styles such as H1, H2, H3, .whatever which were then added to a .css file with some indication markers to support editing this via the backoffice.

We want to change the way this works at some point, but for a MVP we need to just support the old syntax and the old way this worked.

Thes

[2018-10-23 08:37] enkelmedia commented on #3317
I do understand the idea with the automatic redirects and that's a great feature. The current implementation works great but the only thing that I'm proposing is to pass the query strings to the redirected page.

It's a simple one line fix to ContentFinderByRedirectUrl.cs that checks if the current request has any query strings and then append them to the new redirect.

`url = string.IsNullOrEmpty

[2018-10-23 08:54] nul800sebastiaan commented on #3393
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/3394

[2018-10-23 08:54] #3393 closed

[2018-10-23 11:27] skttl opened #3401 "Needs a decimal number property editor"
Just like we have a default numeric (integer field), we need a decimal field. I thought you could set the step value to 0,1 as usual with a `<input type="number">` in order to make it decimal, but it saves as integers, and Models Builder (of course) makes it an int.

I could make a regular textstring, and do some Regex magic in order to enforce a decimal number. But Models Builder would make it a

[2018-10-23 11:33] nul800sebastiaan commented on #3401
What would decimal fields be used for and how are they different from a text field with a regex validator?

If this is needed then we should think about: maybe it's better to configure the text box datatype as:
- Email
- Numeric
- Decimal
- Plain text
- ??

[2018-10-23 12:40] skttl commented on #3401
Decimal fields would be used for inputting decimals. The specific use case I have right now is a speed input, where the value needs to be decimal. I know a regex validator can help, but that doesn't make it a decimal, when models builder does it's magic. I am then required to convert it myself.

I like your suggestion of a more dynamic textbox editor. Eg. you could be able to get <input type="emai

[2018-10-23 12:43] dawoe commented on #3401
There is already a numeric data type in core. Maybe that can be extended to support floats ?

Dave

[2018-10-23 13:12] bjarnef commented on #3401
@skttl can't you create an datatype instance of `Umbraco.Decimal`?

![image](https://user-images.githubusercontent.com/2919859/47358255-8ac90300-d6c9-11e8-988d-20669462faa1.png)

ModelsBuilder generate it as `decimal`.

[2018-10-23 13:17] dawoe commented on #3401
@bjarnef

I didn't even know it existed 🤦‍♂️

Dave

[2018-10-23 13:53] kjac opened #3403 "V8: dirty check doesn't span all edited variants when saving"
If I edit content in two variants and hit save, I'm only prompted to save one of them (the currently active one). The dirty check simply doesn't work for the variants.

Example:
![unsaved changes before 1](https://user-images.githubusercontent.com/7405322/47365069-0c755c80-d6db-11e8-9391-4e780f48f44c.gif)

...and for split view editing:
![unsaved changes before 2](https://user-images.githubusercon

[2018-10-23 14:06] nul800sebastiaan commented on #3381
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/3383

[2018-10-23 14:32] nul800sebastiaan commented on #3324
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/3325

[2018-10-23 14:32] #3324 closed

[2018-10-23 14:41] BatJan commented on #3381
@nul800sebastiaan Ok - I'm curious about what the culprit is though. Let me know if you figure out what's going on at some point and I'll be happy to take a look into making whatever changes are neccessary in the view 👍

[2018-10-23 14:48] #3231 closed

[2018-10-23 14:53] nul800sebastiaan commented on #3211
Fixed in: https://github.com/umbraco/Umbraco-CMS/pull/3212

[2018-10-23 14:53] #3211 closed

[2018-10-23 15:06] nul800sebastiaan commented on #3225
Fixed in: https://github.com/umbraco/Umbraco-CMS/pull/3226

[2018-10-23 15:06] #3225 closed

[2018-10-23 16:16] #2927 closed

[2018-10-23 16:58] hyzx86 opened #3406 "There are many coding errors in the project."
Like this:

https://github.com/umbraco/Umbraco-CMS/blob/3e14da5e9db70b9fdf7c61209f71c94194874671/src/Umbraco.Tests/Routing/ContentFinderByNiceUrlTests.cs#L128

I don't know why.
I cann't build this version in my vs 2017

[2018-10-23 17:06] nul800sebastiaan commented on #3406
Hi @hyzx86 - I am not sure what you mean, this has worked well for years on all our machines and build servers. It seems to be something on your computer (sorry).

I would recommend heading to the forum at https://our.umbraco.com and starting a topic with specific error messages etc.

Please note that you should ONLY build Umbraco if you're planning to contribute to it, you don't need to build Umb

[2018-10-23 17:06] #3406 closed

[2018-10-23 17:16] hyzx86 commented on #3406
Thank you for your  reply!
I'm going to learn the framework of Umbraco, so I hope can start learning it with source code.

On my computer out cloning code can not be run directly. maybe is charset or file coding problem,
But I get code from other project is no problem.

[2018-10-23 17:53] bjarnef commented on #3401
@dawoe many doesn't know about these because there by default is no instances of these. For example we also have an `Umbraco.EmailAddress`.

[2018-10-23 18:21] skttl commented on #3401
@bjarnef d'oh, why didn't I know that one? 🤦‍♂️ exactly what I needed!

[2018-10-23 18:21] #3401 closed

[2018-10-23 19:49] BatJan opened #3408 "Improve accessibility of notifications"
I'm currently working on an internal presentation on the subject of accessibility and during my research I was reminded about the use of aria-live regions that let's a screen reader know about changes on a page like when a notification is being displayed upon publishing a node.

Therefore I suggest to add the aria-live region attribute to the ul, which will make the screen reader read the error me

[2018-10-23 20:37] abjerner opened #3411 "Content type service doesn't support getting the content type containers at the root level"
**Disclaimer:** I'm not 100% certain that it's not currently possible - I just haven't found a proper way to do it. Incidentally I was trying to write some documentation for the content type service, as there isn't any.

The content type service has the `GetContentTypeContainers` method for either getting *all* containers or child containers of one or more specified parents.

Technically I could d

[2018-10-23 20:44] nul800sebastiaan commented on #3215
Fixed in: https://github.com/umbraco/Umbraco-CMS/pull/3366

[2018-10-23 20:44] #3215 closed

[2018-10-23 20:49] nul800sebastiaan commented on #3241
Fixed in: https://github.com/umbraco/Umbraco-CMS/pull/3250

[2018-10-23 20:49] #3241 closed

[2018-10-23 20:55] bjarnef commented on #3401
Maybe there should by default exists an instance of `Umbraco.EmailAddress` and `Umbraco.Decimal`?
Furthemore I always create an "Image Picker" using `Umbraco.MediaPicker2` which doesn't allow selecting multiple media and disable folder select - just for a single image picker (and a Mutt

I also configurate a "Single Url Picker" and "Multi Url Picker" using Multi Url Picker package which not is in

[2018-10-23 21:35] hartvig commented on #3401
@bjarnef I like it (all of it)

[2018-10-23 22:03] bjarnef commented on #2986
I noticed there wasn't a GetCount() method, but just a Count() for member type: https://github.com/umbraco/Umbraco-CMS/blob/dev-v7/src/Umbraco.Core/Services/MemberService.cs#L721-L734

[code]

[2018-10-24 02:10] jaandrews opened #3413 "Rich Text Editor in grid sometimes fails to expand to display all of its text."
### Bug summary

Sometimes the rich text editor fails to display its content on the initial load in the back office. Clicking inside it to start editing causes the content to show, but the content can't be seen until doing so.

### Specifics

**Umbraco:** 7.12.3
**Browser:** Chrome 70

I'm not 100% sure of the cause, as the issue is erratic, but I did notice the following warning with a potential

[2018-10-24 08:04] clausjensen opened #3417 "Macros - create/edit/delete needs to be angularized"
As part of the task to get rid of webforms and legacy stuff was to simply delete things and then discover what was missing - the legacy views for macros are gone.

We need to reimplement the functionality in angular so you can create, edit and delete macros in v8.

[2018-10-24 08:37] #3341 closed

[2018-10-24 08:38] dawoe commented on #3417
Can we rebuild this from the webforms still present in V7 ?

Than I would like to have a stab at it.

Dave

[2018-10-24 08:46] rickardliljeberg opened #3418 "Problems with reverse proxy after upgrading to 7.12.3"
### Previously working solution

I have a project set up with a reverse proxy in front of it and this used to work fine. I was running 7.8 until I recently upgraded to 7.12.3

The solution I had in place looked like this (owin middleware)
As you can see in the watch at the bottom it has correctly gotten the x-forwarded-host from the reverse proxy. And this used to work fine in 7.7.8
Note: ec-web.s

[2018-10-24 08:46] zpqrtbnk commented on #3129
Having issues w/compositions, looking into it

[2018-10-24 08:51] clausjensen commented on #3417
Hi @dawoe !

Yes - we are not looking to change any of this functionality currently, so basically it is a matter of making it work in angular instead - similar to how the functionality was in v7.

It would be awesome if you are willing to take a look at it!

[2018-10-24 08:52] dawoe commented on #3417
What is the timeframe this needs to be finished ?

[2018-10-24 09:15] Shazwazza commented on #3403
See notes in PR: https://github.com/umbraco/Umbraco-CMS/pull/3404#issuecomment-432579259

[2018-10-24 09:51] nul800sebastiaan commented on #3319
Fixed in: https://github.com/umbraco/Umbraco-CMS/pull/3363

[2018-10-24 09:51] #3319 closed

[2018-10-24 09:54] nul800sebastiaan commented on #3413
I think that was just fixed in https://github.com/umbraco/Umbraco-CMS/issues/3231 🙂

[2018-10-24 09:54] #3413 closed

[2018-10-24 09:57] nul800sebastiaan commented on #3411
It would be easy to write a convenience method for it `GetContentTypeContainersAtRoot` but I'm not entirely sure what the use case is, why would I only want the ones at root?

[2018-10-24 10:00] abjerner commented on #3411
Not sure. It just seems wrong that it isn't possible. I haven't had a use case for it though, as I was just writing documentation for the content type service ... but writing *getting content type containers at the root level is not possible* doesn't sound like the right solution.

[2018-10-24 10:07] nul800sebastiaan commented on #3411
Just writing nothing is easier then! ;-)

But in all seriousness, if there's anything that has a good usecase, I'd love to hear. Can't think of any either though. 🙂

Let's start with not adding it, see if people read the documentation and then request the need for a method like this!

Closing for now, we can always re-open it if needed.

[2018-10-24 10:07] #3411 closed

[2018-10-24 12:48] dawoe opened #3419 "V8 - Can not create dictionairy items"
Reproduction
------------

### Bug summary

In V8 it is not possible anymore to create dictionary items.
First of all I see that the dictionary tree is moved to the translation section. But the admin role doesn't have this section assigned by default.

So I need to give the admin role access to the translation section first before I would be able to create new dictionary items

I suspect this will

[2018-10-24 12:53] dawoe commented on #3373
I just saw this in V8 as well

[2018-10-24 12:56] dawoe commented on #3373
And justed test this on 7.12.2. There the issue does not exist

[2018-10-24 13:06] dawoe commented on #3373
Did some digging. Could be this PR that caused it : https://github.com/umbraco/Umbraco-CMS/pull/2315

I see this code in V8 as well

[2018-10-24 13:11] Shazwazza commented on #3373
I don't think that PR was applied? There was already a fix for it in the core 🤔

[2018-10-24 13:20] dawoe commented on #3373
@Shazwazza

I have been playing just now with that code in V8 to see if I can fix : #3419

And changing the check in the first if statement fixes #3419

Will need to do some testing to see if there are any side affects. otherwise expect my first V8 PR coming.

Dave

[2018-10-24 14:12] #3333 closed

[2018-10-24 14:12] #3334 closed

[2018-10-24 14:13] #3332 closed

[2018-10-24 14:13] #3090 closed

[2018-10-24 14:36] BatJan opened #3421 "Document type collection labels are not placed correctly"
So I noticed that the labels for the toggle buttons when creating a document type collection are placed a little weird. So I'll create a PR to fix this in a minute 😃

This is what it currently looks like
![labels-before](https://user-images.githubusercontent.com/1932158/47438567-0484ed80-d7ab-11e8-84d4-fd85c61e9c84.jpg)

[2018-10-24 14:38] dawoe commented on #3373
I created a PR that fixes this one

[2018-10-24 16:09] zpqrtbnk commented on #3129
Oh my this is painful...

[2018-10-24 16:57] GSingha opened #3424 "does umbraco support openid connect hybrid flow"
Hi,
I am implanting SSO for my Umbraco application by ForgeRock OpenId Connect(hybrid flow). I am using UmbracoDefaultOwinStartup. Already I had implement the SSO for the front-end with global custom authentication filter(I am note sure its the right way or not).  I was trying to implement the SSO for the back office by removing the from authentication, unfortunately after a long struggle I am not

[2018-10-24 17:10] jaandrews commented on #3413
Yeah looks like it. Thanks for letting me know.

[2018-10-24 18:14] kjac opened #3425 "V8: Add notification badges to content apps"
Content apps are pretty cool!

It'd be really awesome if the content app could have a notification badge to let the content editors know if the content app requires/desires some editor action.

Use cases (off the top of my head):

- The good old TODO list: Could put the number of incomplete TODOs in an info badge.
- Forms: Could put the number of new submissions (however that'd be defined) in an i

[2018-10-24 18:54] kjac opened #3427 "V8: You accidentally open split view editing when changing variant language"
Let me just start by saying: Split view editing is so frikkin' awesome!

However. When you want to change variant language, you way too often click the "Open in split view" link by accident - simply because the link appears *right there* under the language dropdown. You explicitly have to move the cursor to the left, clear of the link, to change variant language.

Amazing feature or not, "Open in

[2018-10-24 19:21] kjac commented on #3217
@nul800sebastiaan I think you can close this one 😉

[2018-10-24 23:36] Shazwazza commented on #3424
I have replied on the forum

[2018-10-24 23:36] #3424 closed

[2018-10-24 23:37] Shazwazza commented on #3373
@dawoe Your PRs say WIP, so are they still WIP or no?

[2018-10-25 06:14] dawoe commented on #3373
PR #3422 for this issue is ready for review and testing.

[2018-10-25 06:34] BatJan commented on #3114
Hey @kjac thanks for chiming in :)

The upsite on how it currently works is that it's fast to setup users who can easily be assigned a user group, which is great. And playing a bit around with this I have also been having second thoughts about whether making it possible to override the default start nodes makes sense in other use cases.

I like how quick and simple the current UI is and adding the

[2018-10-25 06:39] nul800sebastiaan commented on #3114
Hey @BatJan - I totally get why this would be a requirement in your specific case and I feel your pain 😅

However, this is also a very unique requirement you have for this site and I don't see this as a problem most users of Umbraco will encounter. 🙂

Ps. Yay, 24 days in Umbraco is coming! 😍

[2018-10-25 06:39] #3114 closed

[2018-10-25 06:58] BatJan commented on #3114
@nul800sebastiaan - Well, as I mentioned in my previous comment I can think of some webmasters in local governments and probably bigger corporations who would have this issue too. Not just me. But doing 24 days invites meant I got to do some dogfooding - So now I know what it can potentially feel like to manage this at a larger scale.

So even though it might not have been communicated clearly in

[2018-10-25 07:14] dawoe commented on #3419
The PR for this one is ready for review #3420

[2018-10-25 07:15] dawoe commented on #3373
For V8 I fixed this issue as part PR #3420

[2018-10-25 07:38] janvanhelvoort opened #3430 "Unable to find suitable version for font-awesome"
After update font-awsome to 4.7, bower can't complete. #3326
bootstrap-social#~4.8.0 has a dependency on version 4.2 of font-awsome.

I want to update  bootstrap-social to version 5, other depencies collide.

for now, rollback to font-awsome will solve the problem.

Reproduction
------------

Latest version of the dev7 branch, run the build.bat, run the site, the installer screen can't find multip

[2018-10-25 08:07] ssougnez commented on #2914
@Shazwazza Is it what you're looking for? https://github.com/umbraco/Umbraco-CMS/commit/0fb2b06adc889fdbcf38304050629dc868dd204b (coming from https://issues.umbraco.org/issue/U4-6206)

[2018-10-25 08:20] madsrasmussen opened #3433 "Change "Allow varying by Culture” from checkbox to toggle on doc type permissions"

[2018-10-25 08:21] madsrasmussen opened #3434 "Change "Allow varying by Culture” checkbox to toggle in doc type property settings"

[2018-10-25 08:28] madsrasmussen opened #3436 "Move relation types editor from webforms to Angular"
Functionality should stay the same.

[2018-10-25 08:29] dawoe commented on #3430
I can confirm this issue with the bower install.

However I am able to go through the installer when I run the build script on the latests source and use the generated zip file to install Umbraco.

It seems bootstrap-social needs font-awesome 4.5 and umbraco wants 4.7.

But instead of rolling back. Maybe the bower json can be extended with this.  So font-awesome 4.7 will be used :
[code]

Dave

[2018-10-25 08:31] madsrasmussen opened #3437 "Add option to show ellipsis (…) for context menu items that opens a dialog"
In v8 we are introducing a concept where we add an ellipsis (...) to all buttons that open a dialog or prompt which asks for more information before doing the action.

Ex. A delete button which opens a confirm dialog before the delete action is performed should have the ellipsis added to the button label.

We want to make it possible to add this to the context menu items so we need a generic setti

[2018-10-25 08:32] madsrasmussen opened #3438 "Move stylesheet editor from webforms to Angular."
Functionality should stay the same.

[2018-10-25 08:33] NiklasWebnuts commented on #3387
For me (using Umbraco version 7.12.3 assembly: 1.0.6837.12334), the `ContentService.Moving` also does not show messages correctly. However, `ContentService.Saving` work as expected. Not sure if these have anything to do with each other.

Does anyone have a workaround for this?

[2018-10-25 08:34] madsrasmussen opened #3439 "Change date picker property editor to use flatpickr instead of bootstrap-datetimepicker"
child of https://github.com/umbraco/Umbraco-CMS/issues/3694

In v8 we want to remove as many dependencies on bootstrap and jquery as possible. We have chosen flatpickr as the alternative for the bootstrap-datetimepicker library. We have already used flatpickr in the new scheduling dialog so you can look there for inspiration.

The task should also include clean up of all bootstrap-datetimepicker f

[2018-10-25 08:41] janvanhelvoort commented on #3430
Hi Dave,

I will look at it, and will update the pull-request.

Jan

[2018-10-25 08:44] zpqrtbnk commented on #3129
Have added tests for the most common cases, including compositions, and fixed issues. So this is now PR [#3435](https://github.com/umbraco/Umbraco-CMS/pull/3435) ready for discussion & review.

[2018-10-25 08:58] janvanhelvoort commented on #3430
Hi dave,

It works, i have updated the pull request.

[2018-10-25 09:02] kjac commented on #3437
@madsrasmussen feels like the majority of context menu items spawn a dialog. Doesn't it make sense to let the ellipsis option be default true then?

[2018-10-25 10:17] nul800sebastiaan commented on #3430
Fixed in: https://github.com/umbraco/Umbraco-CMS/pull/3431

[2018-10-25 10:17] #3430 closed

[2018-10-25 10:34] mariojsnunes commented on #3071
Hello,

This is also happening on Edge and IE 11.345.17134.0

When I save an existing User, the email field always fails the validation.

This might help:
If I remove a letter and type it again on the email field, the validation is then successful and the user is saved.

Any updates on this?

[2018-10-25 10:36] raulribeiro opened #3440 "Cannot change password of user in backoffice using Edge"
Cannot change password of user in backoffice using Edge, email required
Umbraco version 7.12.3 assembly: 1.0.6837.12334

https://user-images.githubusercontent.com/6097393/47494686-2aad9a80-d84a-11e8-8933-20a030cda3ee.png

[2018-10-25 10:48] madsrasmussen commented on #3437
@kjac  Yeah... I am not 100% sure how we can make this config so I am open to suggestions on how to make it as easy to use as possible.

[2018-10-25 11:05] dawoe commented on #3433
I have created a PR for this one : #3441

[2018-10-25 11:12] dawoe commented on #3434
I will pick this up once #3441 is merged in

[2018-10-25 11:45] ArnoldV opened #3442 "When resetting member password the web.config setting 'passwordStrengthRegularExpression' is not used."
When setting a passwordStrengthRegularExpression on the 'UmbracoMembershipProvider' key in web.config the MembershipProviderBase.ResetPassword function does not use this to generate a password for the member, therefore the user is unable to reset a members password in the backend.

Reproduction
------------
### Specifics

- Umbraco 7.12.3

When setting a passwordStrengthRegularExpression on the 'U

[2018-10-25 12:03] kjac commented on #3437
@madsrasmussen there's really no way around it - it needs to go into the `IAction` interface (thus a breaking change).

I thought it would be clever with an abstract `ActionBase` base class, but that turns out to be even more work and even more breaking than the `IAction` expansion alone. So I think it's gotta be the hard way 😄

`IAction` is part of the `_Legacy` namespace so I take it that whole

[2018-10-25 12:27] Dariatj opened #3443 "Umbraco Does not include RTE content from Macros in Search Results"
We are on Umbraco 7.11.1 and discovered that content inside Macros (RTE) is not included in the standard search results.  As such, can you look at fixing this please.

Thanks

Tom

[2018-10-25 12:48] nul800sebastiaan commented on #3442
I haven't looked into this yet, but are you sure it's because of the regex? We also have this problem: https://github.com/umbraco/Umbraco-CMS/issues/3015

Personally, I'd recommend not setting complexity rules at all but make the password requirement to be 12+ character passwords. That prevents people from coming up with ways around the regex that are too easy: `PasswordAugust2018`.

Regexes also

[2018-10-25 12:52] ArnoldV commented on #3442
That problem is Users, this is Members, but yes it's the regex: See my lines I reference in the issue, you can easily figure out why this breaks from them.

Agree on length instead of complexity, but then we should remove the regex check from the validation ;)

[2018-10-25 13:07] HistoricEnglandDigitalTeam commented on #3216
That is a good idea - I am also coming up with that issue. Is anyone working in this?

Would also be useful to set the ability to create a new page / document type use by parent content node (in the site tree) as well as by parent document type.

[2018-10-25 13:16] nul800sebastiaan commented on #3442
I'm a little pre-occupied (https://twitter.com/cultiv/status/1055438929162313734), so I'm sorry I didn't see it was members! ;-)

Cool, I'll have a proper look at this next week!

[2018-10-25 13:31] nul800sebastiaan commented on #3217
Thanks @kjac - seems like I forgot ;)

[2018-10-25 13:38] nul800sebastiaan commented on #3440
Seems related to this one? https://github.com/umbraco/Umbraco-CMS/issues/3071

[2018-10-25 13:39] nul800sebastiaan commented on #3350
Ah, forgot to close this one :-)

[2018-10-25 13:39] #3350 closed

[2018-10-25 13:47] renetruelsen commented on #2907
@mrafea-sa  - Had the same issue. Try running the Powershell script: build.ps1 in Umbraco-CMS\build\build.ps1
Note that the build will take near 10 or 15 minutes before it's done.

Afterwards running the project again.

[2018-10-25 14:55] renetruelsen commented on #3013
I was able to reproduce this issue.
It seems that there are some conflicts between different levels of validations on the Umbraco.Email field vs RegEx. I'll try and dig into it

[2018-10-25 17:02] kjac commented on #3437
@madsrasmussen see #3448

[2018-10-25 17:14] kjac commented on #3237
@Shazwazza something must have fixed this in the meantime... I can't reproduce it on the latest codebase - look here:

![sections dropdown](https://user-images.githubusercontent.com/7405322/47518000-14273380-d88a-11e8-9bbd-b0bcc393a06f.gif)

[2018-10-25 17:19] dawoe commented on #3437
I just had a look at the image in the PR. Is it me or is it just weird having the ellipsis after the name. I don't think this will indicate editors that a dialog will be opened.

What is the reason why this is added ? And also to the buttons ?

Dave

[2018-10-25 17:50] kjac commented on #3437
I'm not sure what you mean by "the buttons"... But I tend to agree with you. It looks weird. At least if you're used to the UI.

Question is if it looks weird to the unbiased eye. The ellipsis is a standard way to hint that a dialog will show after clicking a menu item. I'm thinking it'll make perfect sense for newcomers. And I really do believe that's a perfectly valid measure for good ux.

That

[2018-10-25 18:04] dawoe commented on #3437
Mads  stated that this will be added to all buttons that open a dialog

You are probably right. Now that I paid attention I see them in windows application also being used everywhere....never noticed this before.

If this is the new standard, we need to make clear sure that package devs should use this as well in buttons, etc...

[2018-10-25 18:42] kjac commented on #3437
Hmm I haven't consciously added ellipsis to buttons. Might need to have a look at that if it should be so.

[2018-10-25 22:56] jaandrews opened #3450 "Create package zip generator doesn't use file system provider"
I created a local package and published it, but when I attempted to download it, I received a 404 error. This happens because the site is connected to an azure storage account and so doesn't look for files in the local media folder.

### Specifics
**Umbraco:** 7.12.3
**Browser:** Chrome 70

This issue occurs because the package creator does not use the defined file system provider and just creates

[2018-10-26 00:11] Shazwazza commented on #3237
I'll have a look today :)

[2018-10-26 00:34] Shazwazza commented on #2914
Yes pretty sure that was it :)

[2018-10-26 02:20] Shazwazza commented on #3129
I can verify that all tests pass ... and there's a lot of things being tested here. It's difficult to review every ounce of the code changes and why but there's nothing that looks incorrect. I guess the only concern is that we're relying on internal properties that are not part of interfaces which is forcing us to Cast. There's a few of these things happening still in the codebase, would be good t

[2018-10-26 02:30] Shazwazza commented on #3237
Yup that does seem to be magically fixed :) i'll close this, thanks!

[2018-10-26 02:30] #3237 closed

[2018-10-26 02:40] Shazwazza commented on #3419
Have merged the PR, thanks!

[2018-10-26 02:40] #3419 closed

[2018-10-26 04:09] #3403 closed

[2018-10-26 06:05] Shazwazza commented on #3093
What needs to happen is the ContentController.PostPublishById needs to accept a model containing: Id, bool for descendants, bool for drafts and a string list for variants. This endpoint can then be used for the publish endpoint for both variant and invariant.

[2018-10-26 06:38] kjac commented on #3440
I think I've found the cause of this... will submit a PR sometime later or this weekend.

Curious note: It works fine in V8. Maybe it's an angular version issue. But the fix I've found should work fine in V8 as well.

[2018-10-26 06:52] ssougnez commented on #2914
I'm probably wrong but as I couldn't wait for this fix to be applied, I replicated it in my solution using reflection and it does not entirely works. Indeed, the result after calling these methods was that the macro was correctly replace by the expected value but the comment tag containing the macro in the RTE was displayed on the page, a bit as a substring didn't behave as expected.

[2018-10-26 08:13] madsrasmussen commented on #3437
I think it looks absolutely amazing 🎉

It feels different because we are used to how the context menu looks, but now there is an indication of how a context menu item reacts when you click on it. It means fewer surprises for the end user.

As @kjac says, this is not our invention. It is a known UX pattern in many systems. It is subtle but in my opinion, works very well. I hope you will start to li

[2018-10-26 08:19] #3437 closed

[2018-10-26 08:58] jamescoxhead commented on #3436
@madsrasmussen I'd like to pick this one up

[2018-10-26 09:29] #3433 closed

[2018-10-26 10:37] madsrasmussen commented on #3436
@jamescoxhead  🎉 🎉 🎉 Thanks, and have fun :)

[2018-10-26 11:30] madsrasmussen commented on #3421
Hi @BatJan,

In my opinion, we should swap these toggles to be checkboxes. I think that toggles should only be used for settings and for something that will "stay the same" when you return to it again. I think checkboxes should be used for selection and confirmations.

[2018-10-26 12:37] warrenbuckley commented on #3093
Question @Shazwazza - currently `PostPublishById()` is only used for ListView when doing a bulk publish of a collection of nodes.

Is the goal to update this POST method as you described to replace `PostSave` which is what is currently used to do a publish for invariant & variant content.

So is the goal then to have one POST endpoint to rule them all, which will deal with the following

* Save (o

[2018-10-26 14:30] Shazwazza commented on #3093
I believe you have misunderstood my comment 😛 that said, I didn't think about this in context of editing a content item. That sort of changes things. So partially you are right and partially we need the functionality I described. Let's chat next week!

[2018-10-27 05:42] shyamjalan opened #3455 "Missing hyphenation at some places in README.md"
The Umbraco documentation has its own dedicated repository. Please open your
documentation-related issue at https://github.com/umbraco/UmbracoDocs/issues

Thanks!

[2018-10-27 06:19] kjac commented on #3440
Fix in #3456

[2018-10-27 07:11] renetruelsen commented on #3013
Ok. Here is what I got so far. The problem with the Email PropertyEditor is that it by default undergoes two different checks for correct email syntax.
1) It uses a client side angular regex: /^[a-z0-9!#$%&'*+\/=?^_`{|}~.-]+@[a-z0-9]([a-z0-9-]*[a-z0-9])?(\.[a-z0-9]([a-z0-9-]*[a-z0-9])?)*$/i  (this specific validation rule has been changed a bit forth and back in 2016 and again in september 2017).

[2018-10-27 10:17] kjac commented on #2961
I can't reproduce this on the latest codebase. Maybe I'm doing it wrong.

With this template:

[code]

This is the result:

![isinpreviewmode](https://user-images.githubusercontent.com/7405322/47602655-2caa6180-d9e2-11e8-9cef-a46b5579f7d1.gif)

[2018-10-27 10:37] clausjensen opened #3457 "EntityRepository is fetching all property data for media"
`EntityRepository` is fetching all property data for media items since this commit (https://github.com/umbraco/Umbraco-CMS/commit/34cebe989f093065fa03c45754a647ae1f7782ac#diff-2528351576cfa71144920691d767da0bR126).

Not really sure why... `EntityRepository` should really only be fetching really slim versions of entities, but I guess there was a reason why this was done this way back then.

The pro

[2018-10-27 10:50] kjac opened #3458 "Add an option to keep the mini profiler active"
The mini profiler is an excellent tool for catching performance issues during early development.

Unfortunately you need to invoke it explicitly for each request you make (by adding `umbDebug=true` in the query string). Personally I'm guilty at not doing that often enough, and I'm guessing I'm not the only one with a bad conscience here 😄

Therefore I think it'd be awesome to have an option to kee

[2018-10-27 11:15] kjac commented on #3438
I'll give this a shot.

[2018-10-28 11:54] kjac commented on #3359
@madsrasmussen the UpdateDate error is no more. But another error has replaced it: "No culture found in mapping operation when one is required for the culture variant property type [variant property alias]". This happens because no culture is sent to the `GetChildren` lookup if none is provided in the `options` argument for `getChildren` it content.resource.js.

I'll push a PR momentarily to fix i

[2018-10-28 15:07] BatJan commented on #3421
Hi @madsrasmussen

I actually think that you're right - I have been meaning to start a small discussion about when to use toggles and when to use checkboxes. Only created this issue because @nul800sebastiaan kindly asked if I would have a look at the labels looking a bit awkward currently.

So I would like to suggest that we make a checkbox that looks a bit prettier than the default browser checkb

[2018-10-28 15:12] BatJan opened #3463 "Suggestion: Make checkboxes look prettier in checkbox lists"
So I have been thinking about making the default browser styled checkboxes look a bit prettier like we did with the default radio buttons so improve the look and feel of the backoffice UI 😃

I will create a PR for this shortly and if it's being well received I will be happy to implement the checkbox in other areas where checkboxes are being used as well.

[2018-10-28 15:42] BatJan commented on #3421
@madsrasmussen - If you take a look at the "before" gif I inserted in this PR https://github.com/umbraco/Umbraco-CMS/pull/3464 you can see what I have in mind. Do you agree on this or should I tweak it a bit? 😃

If you like what you see then I'll update this PR to reflect this change instead and then later on do a PR, which makes it easier to reuse the styled checkbox in the future by making a dir

[2018-10-28 19:42] kjac opened #3465 "Notifications dialog footer doesn't stick to the bottom"
I was poking around another issue when I came across this funny little one: The footer in the notifications dialog doesn't stick to the bottom of the dialog.

A gif to illustrate the problem:

![notifications scroll before](https://user-images.githubusercontent.com/7405322/47621019-d3315800-daf1-11e8-96ea-eb7f23838c70.gif)

Incidentally I was trying to toggle one of the options behind the footer,

[2018-10-28 20:17] kjac commented on #3204
Heads up! This is a symptom of a general bug in the notifications. This can happen to any notification in case someone only signs up for one specific notification and others have signed up for the same notification (not necessarily exclusively).

It's caused by the `i++` in [this line](https://github.com/umbraco/Umbraco-CMS/blob/1bb593d264a085f94a3ce3bd710392b350561430/src/Umbraco.Core/Services/No

[2018-10-29 02:02] Shazwazza commented on #2914
So both the macro and the macro comments were displayed? That seems odd since that is the same code being used for the normal RTE.

Can you elaborate more on what raw string was previously output before applying your fix and what raw string was output after applying this fix?

The actual resulting fix shouldn't just use https://github.com/umbraco/Umbraco-CMS/commit/0fb2b06adc889fdbcf38304050629dc8

[2018-10-29 02:47] Shazwazza opened #3469 "List views bulk actions - confirmation dialog"
child of #3329

When selecting multiple items in the list view and choosing publish or unpublish:

* Launch a dialog
* If only invariant selected then no culture selection
* If only variant is selected then there will be a culture selection
* If both variant/invariant is selected then there will be a culture selection and any invariant items are just published

This also means that this dialog is

[2018-10-29 02:58] Shazwazza opened #3470 "List views bulk actions - angular/controller updates"
_From @Shazwazza on October 29, 2018 2:56_

child of #3329
requires #3469
requires #3093

Right now the list view bulk actions call a controller endpoint one at a time. We will continue to do this in v8.

This means that for unpublish, angular will call the ContentController.PostUnpublish which currently supports passing in cultures. However angular will need to be updated to call this endpoint di

[2018-10-29 06:45] clausjensen opened #3473 "Relation types editors and context menus rebuilt in angular"

[2018-10-29 07:01] clausjensen opened #3474 "Public access protection dialog rebuilt in angular"

[2018-10-29 08:00] bjarnef commented on #3439
@madsrasmussen maybe we could also consider some of the options to be configurable as in this old PR for the bootstrap datepicker: https://github.com/umbraco/Umbraco-CMS/pull/984

I think flatpickr has many of the same options and also allow selecting a date range and multiple dates.

[2018-10-29 08:16] clausjensen opened #3475 "Merge from v7 to v8"

[2018-10-29 08:21] madsrasmussen commented on #3439
@bjarnef Yes, but I would like to keep the task as simple as possible for a v1. Then we can always improve with some better configuration in a later version.

[2018-10-29 08:32] bjarnef commented on #3439
@madsrasmussen sounds great!
When talking about simplicity, is there any reason why we both need a `Umbraco.Date` and `Umbraco.DateTime`? I guess these have been there since v4/v6, but isn't both storing a DateTime in database? :)
https://github.com/umbraco/Umbraco-CMS/blob/temp8/src/Umbraco.Core/Constants-PropertyEditors.cs#L37-L45

[2018-10-29 08:34] zpqrtbnk opened #3476 "v8 ContentApp config beyond manifest"
At the moment content types & roles for content apps are configured via the package manifest - but these manifests are distributed with packages and should not change (else upgrading is a pain) - so we need to support another file (package.manifest.user?) which can override the original package manifest.

[2018-10-29 09:23] dawoe commented on #3434
I see there also some old checkbox still being used when editing a member
- showOnMemberProfile
- MemberCanEdit
- IsSensitveData

Will convert them as well in the PR for this

[2018-10-29 09:41] warrenbuckley commented on #3093
@Shazwazza ping me when your free next to talk about this please then :)

[2018-10-29 09:47] zpqrtbnk commented on #3417
Support for these legacy macros has been deprecated. The XSLT engine, or the legacy Razor engine, have been entirely removed from the codebase. As in, they just cannot run anymore. So - to answer your question: no.

[2018-10-29 10:39] poornimanayar commented on #3463
Hi @BatJan ,

Can you add some screenshots of the suggested change?

Poornima

[2018-10-29 11:07] #3175 closed

[2018-10-29 11:17] zpqrtbnk commented on #3476
(maybe duplicate of [#3376](https://github.com/umbraco/Umbraco-CMS/issues/3376))

[2018-10-29 11:35] #3455 closed

[2018-10-29 14:37] zpqrtbnk opened #3482 "Cleanup & simplify migrations"
Someone (ahem zpqrtbnk) has refactored migrations so they are way more stable, clean and deterministic. Problem is, they seem to be quite hard for anyone to understand, so either we simplify or refactor or document or something.

[2018-10-29 15:17] dawoe commented on #3482
Add first glance it looks very complicated, but after spending some time in there I think i got.

This is my "reading" of the code :
- Migration attribute is gone
- Order and which migrations need to run is now determined by migration plan
- Chain adds a migration to the plan. The guid is to keep track of which migrations have been run
- Add will allow you to run a migration only if another one ha

[2018-10-29 15:23] dawoe commented on #3482
I think how it is now the UmbracoPlan can become quite messy when we have next versions of V8. Or should we just worry about the first V8 version for now 😸

[2018-10-29 20:42] kjac commented on #3438
@madsrasmussen so I've been thinking. Is the current functionality with the RTE styles as sub nodes to the stylesheet really the best, "don't-make-me-think" UX?

I don't think it is 😄 you really have to know the feature is there to use it.

The way I see it, the CSS editor and the property mapping for the RTE should be in the same editor in a tabbed UI - sort of like what we have for doctypes:

![

[2018-10-30 08:57] dawoe commented on #3438
Maybe we should consider storing custom styles used in the editor dropdown another way.

I always use this way using tinyMce config https://www.justnik.me/blog/umbraco-rte-styles-another-way

This avoids unwanted span-tags being inserted etc...

Dave

[2018-10-30 08:59] frederikreher opened #3483 "Localized naming of doctypes is not working in nested content doctype selector overlay"
A doctype name prefixed with # should be translated using the corresponding dictionary item. This is also the case in general, except in the nested content overlay.

![Non translated doctype names](https://i.imgur.com/0RExXoK.jpg)

The error seems to be in this specific file: https://github.com/umbraco/Umbraco-CMS/blob/1bb593d264a085f94a3ce3bd710392b350561430/src/Umbraco.Web/PropertyEditors/Nested

[2018-10-30 09:01] frederikreher commented on #3483
I've submitted a [pull request](https://github.com/umco/umbraco-inner-content/pull/41) for the same issue on the [inner-content](https://github.com/umco/umbraco-inner-content) repo.  The approach to fix this in core should be similar.

[2018-10-30 09:48] kjac commented on #3438
@dawoe that'd definitively make the complexity of stylesheet editing even lower. But configuration approach aside, won't this way of setting up the RTE styles limit us to always use the same styles for all RTE's? As it is now you can pick a stylesheet for an RTE datatype and those styles will be available in the RTW.

[2018-10-30 10:17] nul800sebastiaan commented on #3204
Fixed in: https://github.com/umbraco/Umbraco-CMS/pull/3468

[2018-10-30 10:17] #3204 closed

[2018-10-30 10:19] #3465 closed

[2018-10-30 10:27] cmwalolo opened #3484 "UpdateSortOrder does not work and does not log any error."
We have a persisting issue on a node with +/- 100 children items. We can't sort any more those children.
I tested on a fresh copy of Umbraco 7.12.3 without any customization and the sorting is working.
But in our application it is not, there is no error message, and nothing in the logs that states an error.

[2018-10-30 12:31] kjac commented on #3438
We need some HQ decision makers here 😁

[2018-10-30 14:08] madsrasmussen commented on #3438
Hello gentlemen,

I agree with your points about the current stylesheet editor. It is too difficult to figure out how to configure styles for the RTE.

For v8 I think it makes sense to move the RTE subnodes to a "tab" but I can't tell from your picture how it is going to work. Is it possible to do a screenshot, video, or finish the PR (depending on how you work the best :) ) so we can see the full

[2018-10-30 14:32] dawoe commented on #3438
Just as a reference for the future. The custom style formats can also be set at runtime instead of through config
https://www.tiny.cloud/docs/demo/format-custom/

[2018-10-30 15:31] kjac commented on #3438
@madsrasmussen what I'm proposing is a "Styles"-tab where you edit metadata about the CSS - e.g. "When you select 'Heading' in the RTE style selector, apply the class '.heading'". But that metadata would be stored in the DB - as opposed to the current solution, where the style sheet sub nodes are actually extracted from (and written to) the CSS file by means of the "umb_name" magic.

But it won't

[2018-10-30 15:42] dawoe commented on #3438
Actually the style definitions were stored in a the database in Umbraco pre 7.3.0

If you look in the source code :
 https://github.com/umbraco/Umbraco-CMS/blob/dev-v7/src/Umbraco.Core/Persistence/Migrations/Upgrades/TargetVersionSevenThreeZero/MigrateStylesheetDataToFile.cs
and
https://github.com/umbraco/Umbraco-CMS/blob/dev-v7/src/Umbraco.Core/Persistence/Migrations/Upgrades/TargetVersionSevenTh

[2018-10-30 16:19] nul800sebastiaan commented on #3440
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/3456

[2018-10-30 16:19] #3440 closed

[2018-10-30 16:19] nul800sebastiaan commented on #3071
Fixed in  https://github.com/umbraco/Umbraco-CMS/pull/3456

[2018-10-30 16:19] #3071 closed

[2018-10-30 16:30] #3373 closed

[2018-10-31 04:35] Shazwazza commented on #3438
CSS hasn't been stored in the database for years and nor should it. The 'special' styles were achieved with the `umb_name` parsing magic which seems to work fine. IMO if we can 'just' move the sub-styles editor into a dialog/panel or whatever instead of having each style as sub-nodes in the tree that would be heaps better and we can just continue to use the same file formatting as v7 since it's no

[2018-10-31 06:44] renetruelsen commented on #3013
...submitted a PR for this issue

[2018-10-31 09:04] kjac commented on #3438
@Shazwazza I absolutely agree. If only it was so simple 🤔

Problem is the two views both edit the same data:

- The CSS editor obviously edits the entire CSS file.
- The property editor edits chunks of the same CSS file, which is then stitched together on the server side by means of `umb_name` magic.

If there is no page load between the two editors (e.g. in tabs on the same page as suggested earl

[2018-10-31 14:03] ZNS opened #3490 "Possibility to delete users with content"
We have a production site where we recently got exceptions when viewing media nodes and content nodes in umbraco. Turned out there were references to non existing users in the "cmsDocument" and "umbracoNode"-tables. Somehow a user was able to delete an old user to whom the content referenced. The umbraco installation was created some years ago when umbraco 7 was just released, and the deleted user

[2018-10-31 14:21] poornimanayar opened #3492 "Add a new property "tooltip" to the tabs"
Create a property called "Tooltip" for tabs. This property can be set in the  EditorModelEventManager.SendingContentModel

[2018-10-31 15:46] 0Neji opened #3494 "Existing Views Are Overwritten When Creating a New Template"
I'm looking to set up some content types programatically and have run into a problem. I'd like to initialize new templates within my code but also have them exist as a file in the project from the start.

### Bug summary

When creating a new template via code, if a view exists with the same name, it is overwritten. I believe there should be a check in place that if the view exists, it's left alone

[2018-10-31 18:13] #3387 closed

[2018-10-31 18:20] nul800sebastiaan commented on #3492
Fixed in: https://github.com/umbraco/Umbraco-CMS/pull/3493

[2018-10-31 18:20] #3492 closed

[2018-10-31 18:28] #3296 closed, assigned to nobody

[2018-10-31 18:43] nul800sebastiaan commented on #3246
Fixed in: https://github.com/umbraco/Umbraco-CMS/pull/3247

[2018-10-31 18:43] #3246 closed

[2018-10-31 20:51] BatJan commented on #3421
@madsrasmussen Any thoughts on this one? 😃

[2018-11-01 00:23] syoustra opened #3497 "Some grammar issues in README.md"
Per title, I fixed some grammar issues in the README.md. The pull request specified that I create an issue, so here it is -- some minor fixes to help with readability.

[2018-11-01 00:31] Shazwazza commented on #3457
PR: https://github.com/umbraco/Umbraco-CMS/pull/3460

[2018-11-01 02:31] Shazwazza opened #3498 "v8 EntityService changes"
The `EntityService` needs to be updated to facilitate adding a media item's URL to the data without having to load in all property data which it currently does and is not good for performance

This is based on feedback from this issue: https://github.com/umbraco/Umbraco-CMS/issues/3457 and this PR https://github.com/umbraco/Umbraco-CMS/pull/3460 and this comment here https://github.com/umbraco/Umb

[2018-11-01 04:00] Shazwazza commented on #3457
I've updated the PR and it's all merged in now. Unfortunately i forgot to do a squash merge, so it's just merged. If we need to put this into a path release then we can cherry pick the 3 or so commits.

[2018-11-01 04:01] #3457 closed

[2018-11-01 12:11] Frost117 opened #3500 "Using dropdown.flexible on a member saves empty string when set on mandatory."
### Bug summary

I was made aware that if you create a new member-type which uses the umbraco.dropdown.flexible, as a mandatory property, then you would be able to save this new member without selecting anything from the dropdown.

Here is what is happening: if anything hasn't been picked then it would save the member with an empty string in the dropdown property. This would satisfy the property,

[2018-11-01 12:54] #3130 closed

[2018-11-01 13:48] nul800sebastiaan commented on #3494
Thanks @0Neji This has been fixed for 7.13 already: https://github.com/umbraco/Umbraco-CMS/issues/3494

[2018-11-01 13:49] #3494 closed

[2018-11-01 13:52] nul800sebastiaan commented on #2993
Forgot to close this one, fixed in https://github.com/umbraco/Umbraco-CMS/pull/3000

[2018-11-01 13:52] #2993 closed

[2018-11-01 13:53] nul800sebastiaan commented on #3490
Hi @ZNS - this duplicates issue: https://github.com/umbraco/Umbraco-CMS/issues/2920

[2018-11-01 13:53] #3490 closed

[2018-11-01 13:54] nul800sebastiaan commented on #3484
Sorry @cmwalolo - I do this all the time on our.umbraco.com and it works (156 child nodes currently). So it seems there is something in your custom logic causing the failure.

If you have any steps to reproduce the problem on a fresh install of Umbraco then we'd be all ears!

[2018-11-01 13:54] #3484 closed

[2018-11-01 13:58] nul800sebastiaan commented on #3483
Thanks @frederikreher - I see you've introduced a new method there but I'm sure there's already methods in Umbraco for that somewhere, other things do this translation already. So if you can find those (sorry, I have no pointers at the moment) then we'd love to see a PR for this as well! 👍

[2018-11-01 14:00] nul800sebastiaan commented on #2961
Thanks! I'll close this until we have steps to reproduce in a clean install of 7.12.3.

[2018-11-01 14:00] #2961 closed

[2018-11-01 14:02] nul800sebastiaan commented on #3443
Sorry @Dariatj - we have no plans on fixing this at this time.

It should be possible to build this as custom functionality though. I would encourage you to head over to the forum and ask how you could do this using `GatheringNodeData`.

Tip: Make sure, when you post there, to also give a very clear description of why you want to do this, with an example. That will help people help you better.

[2018-11-01 14:02] #3443 closed

[2018-11-01 14:06] nul800sebastiaan commented on #3442
I agree, also, I would advise to not use all those `Require` ones, except for length. :-)

Thanks very much @Shazwazza for the explainer here (yay, legacy). I'll close this issue as the amount of work to be able to support this doesn't justify the benefits of using a regex for passwords at this point.

[2018-11-01 14:06] #3442 closed

[2018-11-01 14:30] cmwalolo commented on #3484
Hi @nul800sebastiaan ,

I'm sorry but if the sorting is failing, and doesn't give any error message, it doesn't log anything, it is an issue.  It even breaks after a few seconds of processing, so it has no time to do anything with the publishing as it could take much longer time, and even if the source could be in our publishing flow, It doesn't explain why it is working nicely when doing a publis

[2018-11-01 14:35] nul800sebastiaan commented on #3484
I'm also sorry @cmwalolo - if I can't reproduce it and you can't reproduce it then we really need to find a way to make it fail. I don't know what is going on in that one site of yours so I also have no idea where to add better logging.

Additionally, I haven't seen any reports like this, so it seems to be a very isolated incident.

I don't think I said anything about logging? I mentioned maybe re

[2018-11-01 14:39] Dariatj commented on #3443
OK I will next time.  Our Macros give our users structure for entering content.  We have several Macros that have RTE built in and we'd like to index this because it is site content.

I did post a question on the Umbraco forum.  Thought I was pretty descriptive in my question ("Does anyone know how to include macros in search" and got no response.

In any event, I figured it out.  Yes the Gatherin

[2018-11-01 16:39] cmwalolo commented on #3484
The sorting in the back end is not custom code. If I apply some ordering, and I receive a message that my content has been sorted, and that nothing happened. We can assume that the function didn't worked as expected, and it should have been logged and reported as failing ! So even if the issue is on our custom logic, the Failure happens when sorting content, and nowhere else.

[2018-11-01 18:53] nul800sebastiaan commented on #3484
I understand but it seems related to your custom code since this can not be replicated. Maybe it's not, no idea.

The point is: if it can't be reproduced, it can't be fixed. 🙂

I would encourage you to head on over to [the forum](https://our.umbraco.com) and see if someone can help you debug this further.

[2018-11-02 11:45] madsrasmussen commented on #3469
See #3470 for test notes

[2018-11-02 12:00] madsrasmussen commented on #3470
PR: https://github.com/umbraco/Umbraco-CMS/pull/3502

This PR adds functionality to show a publish/unpublish dialog based on the selected items in the list view. It also wires up the unpublish dialog to unpublish based on the selected languages. The publish dialog doesn't do any publishing because it is waiting for two tasks to be finished first.

How to test:
* Create a list view which contains b

[2018-11-02 12:42] kjac commented on #3483
@frederikreher I can fix this in the core if you're not up for it yourself.

[2018-11-02 12:45] kjac commented on #3474
@clausjensen when you do this, would you pretty please reconsider the "Single user protection" option? It really works weird (borderlining broking) in V7.

[2018-11-02 12:54] kjac commented on #3500
Bad news. This is a problem on documents as well. I'm looking into it now.

[2018-11-02 13:47] clausjensen commented on #3474
@kjac Yep I agree it is a bit weird (and not the best implementation either). I don't really know how many actually use it, as most sites I've seen had requirements that fit better with role based protection anyways. It is prolly more a legacy thing that we have just kept there.

I'll keep it in mind when we spec out the tasks for this first bit - whether we could possibly get rid of that option o

[2018-11-02 13:49] nul800sebastiaan commented on #3386
Just noticed we forgot to close this one :)

[2018-11-02 13:49] #3386 closed

[2018-11-02 14:48] madsrasmussen commented on #3470
@RobertCopilau  Great testing!

I have pushed two updates.
* The labels are now clickable
* Notifications + publishing status now shows messages.

Publishing isn't working. The endpoint needs to support cultures before we can do testing on that one. So right now we only need to test that the dialog opens correctly. Unpublishing should work though.

I also found another bug. The list view doesn't r

[2018-11-02 14:50] poornimanayar opened #3506 "Flickering on the datatype selection screen"
Steps to reproduce

1.  Go to any doc type
2.  Add a property and try to set a datatype
3.  Try to select a dataype towards the bottom of the dialog.
4.   A flicker can be noticed where the ribbon which denotes the datatype you are hovering on overlaps with a datatype beneath it.

I have tried to capture this in a gif.
![umbraco-datatypeselection-flicker](https://user-images.githubusercontent.com/

[2018-11-02 18:06] PeteDuncanson commented on #3362
I agreed it did sound like that but equally I think I'd personally need a bit more info to get this working myself (or even some docs!).

Are you saying that the developer of the site should have a single Owin startup class and if so they have to make sure that they call the base.ConfigureMiddleware method in that class?

What if as a package developer I need to fuzz with Owin (like in 2FA or Grap

[2018-11-03 08:53] #3497 closed

[2018-11-04 12:20] kjac commented on #2905
I'll have a look at this.

[2018-11-04 13:17] kjac commented on #2905
PR in #3507

[2018-11-04 13:17] kjac commented on #3267
PR in #3507

[2018-11-04 14:41] bjarnef commented on #3438
@kjac looks great so far. Maybe adding styles should be handled from a modal/dialog similar to when adding new properties on document types? Otherwise I think the sorting will be difficult the use (unless they are collapsed when in sorting mode like on document types).

It would also give a nicer overview of the styles, when these are collapsed.

[2018-11-05 07:47] #3331 closed

[2018-11-05 07:57] #3330 closed

[2018-11-05 08:02] kjac commented on #3438
@bjarnef excellent idea! See #3503 for at demo GIF 😄

[2018-11-05 09:58] kjac commented on #3506
@poornimanayar I've got at fix for this. I'll push a PR soon :)

[2018-11-05 10:02] warrenbuckley commented on #3093
Requires this task to be done first - https://github.com/umbraco/Umbraco-CMS/issues/3336

Before this can continue

[2018-11-05 11:00] thebhd opened #3510 "Health check false negative in X-XSS-Protection header check"
### Bug Description

If you carry out the health check on a site containing a `X-Xss-Protection: 1; mode=block`  header it fails the Cross-site scripting Protection check stating _"The header X-XSS-Protection was not found."_

After a brief investigation it turns out the health check is case sensitive and looking for the string `X-XSS-Protection: 1; mode=block` in the response header

*Umbraco ver

[2018-11-05 12:35] madsrasmussen commented on #3470
@RobertCopilau I have pushed some updates to the branch.

* The list view now updates after publish/unpublish.
* I have swapped the native browser prompt when deleting an item from the list to use an Umbraco overlay instead. It now also shows the same "info"-box as the tree delete dialog when it also deletes all languages.

[2018-11-05 16:59] bjarnef commented on #3506
I have noticed this happens as well in media  section when hover the info icon on a media item at bottom of the page in grid listview layout.

[2018-11-05 18:33] kjac commented on #3399
PR for this in #3503

[2018-11-06 09:28] nielslyngsoe opened #3512 "Slider Labels does not position correctly if not visible at init"
If you use a Umbraco.Slider in a tab, which is not the first tab. Labels will not be placed correctly until an interaction has been made.

![image](https://user-images.githubusercontent.com/6791648/48054888-94b13280-e1ae-11e8-8575-0513aed38595.png)

[2018-11-06 10:58] RobertCopilau commented on #3470
The code looks good and it works!
Merging...

[2018-11-06 10:58] #3470 closed

[2018-11-06 10:59] #3469 closed

[2018-11-06 13:03] #3329 closed

[2018-11-06 13:28] kjac commented on #3512
Seems to be a known issue with the slider component... see for example https://github.com/seiyria/bootstrap-slider/issues/396

[2018-11-06 13:48] DanDiplo opened #3514 "Upgrading via Nuget always changes preserveExifMetaData setting ImageProcessing.config"
When Upgrading Umbraco via Nuget then `/config/imageProcessor/processing.config` _always_ gets overwritten and changes the value of `preserveExifMetaData` to `true` when it was previously set to `false`.

This has happened for every Umbraco upgrade I can think of since this setting was added in Image Processor. It happens even if I tell Nuget to not overwrite changes for any files.

Reproduction
-

[2018-11-06 14:21] nul800sebastiaan commented on #3514
I've (tentatively) set this to `up-for-grabs`. It is definitely something we want to force upon installation, but it would be nice if we could leave it unchanged for an upgrade, though I'm not sure if that will be possible.

Note, this relates to:
- https://issues.umbraco.org/issue/U4-9333
- https://github.com/umbraco/Umbraco-CMS/pull/1667

[2018-11-06 14:23] nul800sebastiaan commented on #3510
The answers is yes! :-)

And yes, when the casing is wrong, we should give people the option to fix it properly. 👍

I've marked as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2018-11-06 14:50] DanDiplo commented on #3514
Probably also worth noting that the latest version of [ImageProcessor.Web.Config](https://www.nuget.org/packages/ImageProcessor.Web.Config/) now has an additional option called `metaDataMode` (added in https://www.nuget.org/packages/ImageProcessor.Web/4.9.2.19 )

This controls how Exif data is preserved. So it can be set to just preserve the copyright Exif metadata whilst stripping out the other b

[2018-11-06 15:11] Shazwazza commented on #3514
Yes but I believe that setting can't be directly used by umbraco until the PR for bumping the runtime to 4.5.2 is merged in. Of course other people running 4.5.2+ can upgrade to that version but we can't ship with it until we change. Essentially that change fixes the exif preservation so it keeps the bare minimum instead of copying potentially MBs of info.

[2018-11-06 15:22] Jeavon commented on #3514
It's possible that a xdt file is created that's shipped in the Nuget package instead of the config file, this would solve the issue with Nuget upgrades.

Once 4.5.2 is supported and the package updated although the number of people changing the defaults will be less, Umbraco upgrades will still revert changes in the config file.

@nul800sebastiaan are there already other xdt files in the Umbraco n

[2018-11-06 16:14] zpqrtbnk commented on #3336
PR #3519

[2018-11-06 19:45] SkullcrusherNZ opened #3520 "View member group results in error"
Have upgraded from 7.10.4 to 7.12.4 and when I go to view member groups I receive a Server Error.

Not sure when this started as i don't go into that page very often so could have been from a previous upgrade.

It's not just happening on my existing member groups but also if I create new ones.

The detailed error including stack trace is below.

![membergrouperror](https://user-images.githubuserco

[2018-11-06 22:47] ronaldbarendse commented on #2925
@poornimanayar Any progress on this issue?

Because the current `NestedContentSingleValueConverter` and `NestedContentManyValueConverter` classes can't be inherited right now (because of this issue) and are dynamically registered, nobody _should_ have direct references to these. But strictly speaking: changing public classes is a breaking change, so PR #2922 could be merged into the next minor ver

[2018-11-06 23:31] SergioMSCosta opened #3521 "Moving multiple media items not working"
When trying to move multiple selected media items into a folder, nothing happens.

Reproduction
------------

Select multiple media items, select Actions -> move and select a folder. Then try to move them. No message comes up and nothing happens.

[2018-11-07 06:28] WarwickBuz opened #3522 "User with no publish permissions can publish by setting Publish At date in the past"
A user that doesn't have publishing permissions can set a Publish At date in the past and the page will publish automatically.

Reproduction
------------
### Bug summary

When a user doesn't have publish permissions but can create/save a node, the user can create a new item and then set the Publish At date in the past.

They then save the node and the node will publish automatically without any in

[2018-11-07 07:30] kjac opened #3524 "V8: Import/export dictionary items for translation"
It would be really nice to have a built-in way of exporting and importing the dictionary for specified languages. This could be super useful for sending the dictionary to a translation agency or similar.

Something along these lines, maybe:

![dictionary import export poc](https://user-images.githubusercontent.com/7405322/48116714-3d22cd80-e267-11e8-986b-e518798a3e31.gif)

I'd be happy to implemen

[2018-11-07 07:33] kjac commented on #3522
Hmm... funky. I haven't tried reproducing this yet, but if users without publishing permissions can set a publish date (past, preset or future) that sounds like a bug.

@nul800sebastiaan perhaps you can weigh in here?

[2018-11-07 07:50] kjac commented on #3521
@SergioMSCosta the items in the "Actions" menu apply to the currently selected item - in your case probably the folder containing the images.

It does seem to work on the latest code base. But again, it isn't the selected media, that is being moved, it's the entire folder (the currently selected item):

![move media folder](https://user-images.githubusercontent.com/7405322/48117628-17e38e80-e26a-1

[2018-11-07 08:06] kjac commented on #3522
Ok... this is definitively an issue. I can reproduce it on the latest codebase.

I'll dig into it right away.

[2018-11-07 08:53] SergioMSCosta commented on #3521
Got it. There's no way to move selected media then, I guess?

[2018-11-07 09:28] clausjensen opened #3526 "Merge v7 to v8"

[2018-11-07 09:40] kjac commented on #3521
No, not as a bulk operation. You have to move them one by one in the tree, or from the "actions" menu on the individual media items.

[2018-11-07 09:42] SergioMSCosta commented on #3521
Thanks, man. I'll close this then.

[2018-11-07 09:42] #3521 closed

[2018-11-07 11:43] kjac commented on #3522
PR in #3529

[2018-11-07 11:59] Shazwazza opened #3531 "Allow for property editors to be able to determine what values are indexed by Examine"
child of https://github.com/umbraco/Umbraco-CMS/issues/3530

The original task was posted here https://issues.umbraco.org/issue/U4-8437

the PRs are way out of date and wont work but this is something we need to do since currently the way to get values into an index for custom property data is hacky

It shouldn't be too difficult to put this into the power of the Property Editor

[2018-11-07 12:09] clausjensen opened #3536 "Indexing all data for search"
Umbraco needs to be updated to index all variant and invariant data so it can be searched. Currently it only indexes variant data.

Each Lucene document will store all variant data. This means that there will need to be prefixed (or suffixed) field names with the culture (we'll need to determine which is best). For example, all names will need to be indexed so we'll have "en_US_Name" (keeping in m

[2018-11-07 14:16] clausjensen opened #3539 "Enable support for variant URL structure for 301 redirects"
This needs tasks defined and estimated before work can be started.

[2018-11-07 14:16] clausjensen opened #3540 "Database changes for redirects (if any)"
child of https://github.com/umbraco/Umbraco-CMS/issues/3539

[2018-11-08 03:03] Shazwazza opened #3543 "Reduce model graph size"
We would like to help reduce memory footprint by changing our persistence models to not have deep object graphs. This is a major version type of change and cannot be done in a minor version. The first thing we should do is remove this: `IContent.IContentType` and `IContent.ITemplate` reference. We cache a lot of content and for every bit of content we cache, we are caching the entire object graphs

[2018-11-08 03:06] Shazwazza opened #3544 "Remove ITemplate reference from IContent"
child of #3543

We have a direct reference on `IContent` to `ITemplate`, instead we should just have `int TemplateId`. This will help reduce the object graph size of `IContent`

This means that if a developer needs the `ITemplate` reference they will need to use the `IFileService` to lookup the `ITemplate`

[2018-11-08 03:08] Shazwazza opened #3545 "Remove IContentType reference from IContent (REOPENED)"
child of #3543

We have a direct reference on `IContent` to `IConentType`, instead we should just have `int ContentTypeId` (this already exists on IContentBase IIRC). This will help reduce the object graph size of `IContent`.

This means that if a developer needs the `IContentType` reference they will need to use the `IContentTypeService` to lookup the `IContentType`

This is going to be quite a h

[2018-11-08 06:46] kjac commented on #3543
@Shazwazza V8 is indeed an appropriate time to perform this kind of breaking changes. I'm certain there are a LOT of code bases out there that utilize the `IContentType` and `ITemplate` properties on `IContent`.

I'd be happy to help with the refactoring if you want it.

Also... #3544 and #3545 should probably *not* be done in parallel due to the obvious merging conflicts that'll arise.

[2018-11-08 07:06] Shazwazza commented on #3543
@kjac defo, one thing at a time :) This is only the tip of the iceberg though, there are other models with deep graphs that we shouldn't have but decoupling `IContent` is the best place to start since we have more of these than other models and they get cached along with their graph. I think this work might be scheduled for someone on the core team but we'll be in touch if that doesn't go ahead an

[2018-11-08 07:34] clausjensen commented on #3543
@Shazwazza yep 😄 we have it scheduled here in Core so for now there's no need for the community to pick up this particular task. (cc @kjac ).

[2018-11-08 07:42] kjac commented on #3543
Roger 😀

[2018-11-08 08:03] jmvivas opened #3546 "Examine corruption, Umbraco 7.12.3"
We have been experiencing Examine corruption issues on an Azure hosted Umb 7.12.3 site. This was ocurring initially on a 7.7.6 site upgraded from 6.1.1 a while ago.

Reproduction
------------

If you're filing a bug, please describe how to reproduce it. Include as much
relevant information as possible, such as:

### Bug summary

Umbraco 7.12.3 site hosted in Azure, originally upgraded from 6.1.1.

[2018-11-08 08:59] arknu commented on #3381
@nul800sebastiaan If this was fixed in #3383, shouldn't this issue be closed?

[2018-11-08 10:57] lssweatherhead commented on #3361
@PeteDuncanson +1 from me as well: the Offroadcode 2FA package is fantastic, and I recently extended it for a bespoke project requiring Authy as a provider and both front-end Members as well as back-office User multi-factor auth and just wanted to thank you guys for all the work you'd done in getting the package out - I would be happy to help with any work to try and integrate it into the core if

[2018-11-08 11:04] trt commented on #2929
I'm not able to reproduce this issue. If anyone is experiencing this behavior please add steps to reproduce, browser versions etc.

[2018-11-08 11:41] jachaines opened #3548 "Software requirements missing"
There doesn't appear to be any documented requirements on what is needed for installing and working with the source code version of Umbraco. I wasn't aware i needed gulp, node etc

Can we please have an idiots guide.

[2018-11-08 11:48] kristianschneider commented on #3355
I think it is only for dotnet core:
[https://github.com/dotnet/sourcelink#prerequisites](https://github.com/dotnet/sourcelink#prerequisites)

[2018-11-08 11:53] AndrewBater opened #3549 "Make the password field toggle between password and text on initial setup screen"
When you are on the initial setup screen the password is a plain text field. It would be better if this was a password field, and could could toggle it to plain text with a button like on the login form.

[2018-11-08 11:58] kristianschneider commented on #3548
There is [this](https://github.com/umbraco/Umbraco-CMS/blob/dev-v7/.github/BUILD.md) . It that sufficient or did you have something else in mind?

[2018-11-08 12:05] nul800sebastiaan commented on #3546
Hey there @jmvivas - that sounds like an annoying issue! Luckily that's not a problem for most people so I'm assuming it's something in your setup that's not quite right. Make sure to read the docs for Examine 0.1.80+ here: https://our.umbraco.com/Documentation/Getting-Started/Setup/Server-Setup/Load-Balancing/flexible#luceneexamine-configuration

If that doesn't help, head on over to the forum to

[2018-11-08 12:05] #3546 closed

[2018-11-08 12:07] cheeseytoastie commented on #3500
Doh! Wish I'd spotted that. I've just tested your changes and they work a treat for this issue.

[2018-11-08 12:21] andyneil opened #3550 "Cannot delete property from doc type in v8"
It is not possible to delete properties on doc types.

Reproduction
------------

### Steps to reproduce

- Fresh install
- Create a new doc type with a simple property
- Save the doc type
- Delete the new simple property
- You are shown the success message
- Reload the doc type and the property is still there.

### Expected result

The property should no longer be there

### Actual result

The pr

[2018-11-08 12:53] Harvzor opened #3552 "Wrong package version is listed in Developer -> Packages in Backoffice"
I have recently released a new version of my package and submitted it to Our Umbraco. However, when searching for my package in the backoffice Umbraco, it still lists the old version with no option to select the new version.

This issue may have been reported before, there's a note at the bottom of [U4-7391](https://issues.umbraco.org/issue/U4-7391):

However, I'm not sure what CON-928 is and I ca

[2018-11-08 13:00] jachaines commented on #3548
I had already looked at that document which included a lot of useful help, however some prerequisite would have been helpful i.e. gulp, node with minimum version

Sent from my iPhone

[2018-11-08 13:28] MMasey opened #3553 "package-lock.json can be updated by running npm install"
Due to a change in the way npm works, the package-lock.json file will be trumped by the package.json file. This means that any dependancies with a `^` before their verison will potentially get a newer version when `npm install` is run.

This can mean that each different packages may be installed for each person.

This can be fixed by removing the carats before the version. e.g.
[code]
becomes
[cod

[2018-11-08 13:30] karltynan opened #3554 "Remove duplicate "?" on emptying recycle bins"
When you empty the recycle bin (in any language) it will ask "Are you sure??" - we want to make sure it only has a single "?".

It turns out there is a "?" after the localized string element, and needs to be moved inside the string element. All languages have their own "?" in the appropriate place already, thus causing the duplicate.

**Before: (English example)**

![image](https://user-images.git

[2018-11-08 14:12] emmagarland opened #3558 "V8: Content picker returns to home page instead of picking content"
Content picker fails in v8 due to error in Angular error.

Error is thrown in console: "Validate is not a function". Content is not picked. User is returned to home-screen. This is due to the parameter variable being called "validate" as well as the function.

[2018-11-08 14:15] nul800sebastiaan commented on #3554
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/3556

[2018-11-08 14:15] #3554 closed

[2018-11-08 14:20] MMasey commented on #3548
If looks like the issue @jachaines was having was potentially due to already having an older version of node & npm installed on his computer. Although the build script for Umbraco installs these if they don't exist it will not update them, even if they are outdated, which could cause issues with the frontend build if npm can't install the modules correclt.y

It might be worth having a defined mini

[2018-11-08 14:30] MMasey opened #3560 "Update icon fonts to use svgs"
I'm not sure if this is a feature of a bug.

Icon fonts have a fundamental accessibility problem in that if a person using a tool to change all fonts on a site to be more readable, in the case of those with server dyslexia, all the icon fonts will be replaced with a missing glyph character. This can break the UI, especially if it's dependent on icons.

For example
![image](https://user-images.gith

[2018-11-08 14:30] nul800sebastiaan commented on #3558
Fixed in: https://github.com/umbraco/Umbraco-CMS/pull/3559

[2018-11-08 14:30] #3558 closed

[2018-11-08 14:47] JimBobSquarePants opened #3561 "Benchmark Tests Fail at Runtime"
A brief description of the issue goes here.

Building the project works fine but any attempt to run the benchmarks invokes a runtime exception specifying that the referenced System.Runtime version is unavailable.

Reproduction
------------

Build v8 solution. Set Benchmarks as startup project and run. Choosing any benchmark causes the exception.

[2018-11-08 14:53] Matthew-Wise opened #3562 "Visual studio ESLint errors"
Occasionally when building an Umbraco solution the errors list is populated with (ESLint) errors

![image](https://user-images.githubusercontent.com/6782865/48206160-a557d900-e365-11e8-9f91-37ac129fac87.png)

Is this is something, that should be fixed? As it would require add a `.eslintignore` in the root of the project excluding /umbraco/** and /umbraco_client/** directories.

The main issue with

[2018-11-08 15:04] jacklawry opened #3564 "Clarify "reuse" and "available editors" when picking property editors"
A brief description of your feature request goes here.

Update to swap the tabs when creating a property so Reuse is the default action.

The tabs have also been renamed to "Use existing" and "Create new" to make these options clearer.

How can you help?
-------------------------------

Pull request to be submitted shortly.

[2018-11-08 15:07] jmvivas opened #3565 "U 7.12.3 - Validation of Value type for Label Data Type"
When selecting a "Label" Data Type, if the value type is not selected it generates an exception

Reproduction
------------

### Specifics

- OSX - Chrome / Safari
- Umbraco 7.12.3

### Steps to reproduce

- Create a new "Label" data type
- Do not choose a value type
- Save

### Expected result

- A validation message should indicate the value type is required

### Actual result

Exception: Object

[2018-11-08 15:25] OwainWilliams opened #3569 "Turning off Autocomplete on initial install screen for password field"
Reproduction
------------

If you're filing a bug, please describe how to reproduce it. Include as much
relevant information as possible, such as:

### Bug summary

On the initial install screen screen, the password field keeps previous passwords in plain text.
This field should have autocomplete disabled

![image](https://user-images.githubusercontent.com/9438758/48208182-2913c480-e36a-11e8-9a0b-

[2018-11-08 15:42] andiih commented on #2920
We  (Aaron Drinkwater & I) have a partial solution to this created in the hackathon - it involves creating a new endpoint to check if the user has created any content (a query on CreatorId) however, it doesn't also check WriterId (because this is not in IContent) so its  an improvement, but will miss if the user has edited content.

Is a PR with just that change useful ?

[2018-11-08 15:55] emmagarland commented on #3396
@madsrasmussen not sure if this is the exact same issiue, but have just debugged and can replicate in temp8:

1. Create a content node (e.g. "general") with 1 language and no mandatory fields, save and publish
2. Setup a new language
3. Set the general doc type to be variable by language
4. Return to the node for that document type (e.g. "Page not found" of general doctype)
5. Click "Publish" in t

[2018-11-08 15:57] mattycare opened #3575 "🐛 Default click events in list views"
In list views, default click behaviour is not maintained.

![image](https://user-images.githubusercontent.com/1469061/48210072-8c9ff100-e36e-11e8-8b53-3580440355f2.png)

## Expected behaviour
Middle clicking / Ctrl+click should open the link in a new tab.

## Actual behaviour
Ctrl+click opens the link in the current page
Middle click opens a new page, but at the root

[2018-11-08 16:04] nul800sebastiaan commented on #3569
Fixed in: https://github.com/umbraco/Umbraco-CMS/pull/3573

[2018-11-08 16:04] #3569 closed

[2018-11-08 16:09] jobf commented on #3396
There is client side validation already happening to check for the node Name but it only checks the variant that is visible on screen.

For example if you have the variants in split-view
![image](https://user-images.githubusercontent.com/22012032/48211013-7d21a780-e370-11e8-87dd-33d4c87a3bd7.png)

[2018-11-08 16:09] prjseal opened #3577 "Add links to the relation items in the relations view"
I think it would be useful to add links to the relations in the relations tab so you can click through to see and edit the item in the relation.

I have built this already in the UK Festival Hackathon. PR to follow

[2018-11-08 16:30] #3561 closed

[2018-11-08 16:53] nul800sebastiaan commented on #2989
Fixed in: https://github.com/umbraco/Umbraco-CMS/pull/3578

[2018-11-08 16:53] #2989 closed

[2018-11-09 07:51] kjac commented on #3564
I'm glad I'm not the only one that's annoyed with the current default 👍

[2018-11-09 09:44] StefanoChiodino commented on #3544
I've worked on this during the UK fest hackathon, PR incoming.

[2018-11-09 16:22] Axendo opened #3584 "Make custom memberfields searchable in the internal member search"
In v7 the fields on which a lucene query is performed in the internal member search is hardcoded.

*branch: dev-v7*
MemberSearch.ascx line: 36
var fields = new[] {"id", "__nodeName", "email"};

It is prefered that those fields are configurable.

I could develop a solution for this and do a pull request.

[2018-11-09 16:26] AxendoEelco opened #3585 "Make custom memberfields searchable in the internal member search"
In v7 the fields on which a lucene query is performed in the internal member search is hardcoded.

branch: dev-v7
MemberSearch.ascx line: 36
var fields = new[] {"id", "__nodeName", "email"};

It is prefered that those fields are configurable.

I could develop a solution for this and do a pull request.

[2018-11-10 09:15] kjac commented on #3585
And here I thought it used the fields defined in `ExamineIndex.config`. But apparently it doesn't. However, the "Examine Management" dashboard in the Developer section does use that configuration.

I'm sure the content search uses the user fields from `ExamineIndex.config`, so you can probably find some inspiration in the content search?

[2018-11-10 15:40] kjac commented on #2911
@nul800sebastiaan try as I might, I can't reproduce this.

I have tried:

1. A partial view without a model (based on `UmbracoTemplatePage`), that reads data directly from `Model.Content`.
2. A partial view with `Model.Content` passed as model.
3. A partial view with a `string` model (being a value read from `Model.Content`).

No matter what I do, the partial view rendered by `@Html.CachedPartial(

[2018-11-10 19:38] kjac commented on #3017
I can reproduce this. I'm really surprised this hasn't been caught sooner 🤔

I've got a fix for test now... will submit a PR soon as it's done. Thanks for reporting, @vwa-software 👍

[2018-11-11 11:32] kjac commented on #3017
PR in #3588

[2018-11-11 13:18] marcemarc commented on #3585
This was raised in the old tracker: linking in here; https://issues.umbraco.org/issue/U4-8417 not sure if there is any info there that would be helpful...

[2018-11-11 22:19] stevetemple opened #3589 "On some releases a manual upgrade is not required, if so, skip the installer"
When deploying a site from source control via something like CI, there are occasions where Umbraco has been upgraded and all the files, versions numbers etc have already been done. Often there is no DB upgrade to be done so the installer runs, finds 0 migrations to be completed and essentially just completes immediately.

On these occasions it would be nicer if there was a check if any migrations

[2018-11-12 00:50] soreng commented on #2996
@abjerner isn't serialization done in all the property converters?

[2018-11-12 02:26] pgregorynz opened #3590 "When creating Document Type Collection no option to create templates at same time"
When creating a document type collection in the settings section, it creates the document types as expected, however there is no option to create the templates at the same time.

Reproduction
------------

1. Go to settings
2. Create document type collection
3. Set Parent and Child type names and click create
4. Types are created as expected however, no templates are created as per standard docume

[2018-11-12 07:20] kjac commented on #3585
@Shazwazza I think the issue here is that the internal member search for whatever odd reason doesn't search the field defined in `ExamineIndex.config`.

[2018-11-12 07:35] kjac commented on #3436
@jamescoxhead poke me if you need some help on this 😄

[2018-11-12 07:50] abjerner commented on #2996
@abjerner yes, you may be able to handle this individually for each property value converter, but a global solution would be preferred.

I do however suspect that handling this in the property value converter may also add some extra (unnecessary) serializing/deserializing, but I haven't tested this part yet.

[2018-11-12 07:50] dawoe commented on #3590
@pgregorynz  this is already fixed : https://github.com/umbraco/Umbraco-CMS/pull/2882

I can't find the issue from the old tracker mentioned in the pr in the release notes of 7.12.x so I think it will be in 7.13.0

@nul800sebastiaan can you check this ?

Dave [Community Pull Request team](https://umbraco.com/blog/introducing-the-new-cpr-team/)

[2018-11-12 07:52] kjac commented on #2959
@richarth which health check is this? I can't see any DB schema healthcheck in the core.

[2018-11-12 08:04] kjac commented on #3585
@Shazwazza thanks for clarifying. I could have sworn the content search uses all defined fields, but apparently not 👍

[2018-11-12 08:07] AxendoEelco commented on #3585
@Shazwazza Is making a custom ISearchableTree implementation the prefered method then? Or is it still feasable for me to explore the options for making it configurable in the default implementation?

[2018-11-12 08:09] kjac commented on #3010
I'll fix this.

[2018-11-12 08:48] AxendoEelco commented on #3585
Implementing a custom ISearchableTree works for me. However, there is one problem with it, It doesn't work for the "all member list" as far as I know.

![afbeelding](https://user-images.githubusercontent.com/12170191/48336136-e3077b00-e65f-11e8-8f72-67ba7d61aed1.png)

This results in a different behaviour for the user in using the tree search and the member dashboard.

[2018-11-12 08:51] kjac commented on #3010
PR in #3592

[2018-11-12 09:17] AxendoEelco commented on #3585
Implementing a custom ISearchableTree works for me. However there is a difference in how MemberSearch works and how searching in the tree works.

Searching the tree uses "MemberTreeController" which delegates the responsability for search to  UmbracoTreeSeacher.ExamineSeach.

The search for "all members" uses it's own implementation and has no benefit of a custom ISearchableTree as far is I know.

[2018-11-12 09:19] rsoeteman opened #3593 "Services.UserService returns null in UmbracoApiController"
I have a UmbracoApiController and in a controller action I want to do the following where userId = 0
Services.UserService.GetUserById(userId);

This results in a Null Reference exception on the UserService.

**Reproduction**
------------

1. Create a Controller that derives from UmbracoApiController
2. Create a Controller action and use Services.UserService.GetUserById(0);
3. You should see the ex

[2018-11-12 09:54] kjac commented on #3593
Interesting. Something is wrong with the DI.

The `Services` property on `UmbracoApiControllerBase` is null, despite being decorated with `[Inject]`. Same goes for `UmbracoContext` property.

[2018-11-12 10:17] kjac commented on #3593
A few more findings.

1. The DI doesn't work if the controller is dumped in `App_Code`.

2. The DI *does* work if the controller is part of the core assembly, e.g. hacked into Umbraco.Web:

[code]

3. User 0 seems to be user -1 in V8:

![image](https://user-images.githubusercontent.com/7405322/48341110-88285080-e66c-11e8-8637-b8ee68be0336.png)

[2018-11-12 10:23] JimBobSquarePants commented on #3593
Reads like a symptom of the temporal coupling I described here.

https://issues.umbraco.org/issue/U4-11427

Fixing the DI should be a priority imo.

[2018-11-12 10:34] dawoe commented on #3593
I know @lars-erik has spent an insame amout of time to make DI better. Maybe it's worth checking out his PR and see if the problem still exists : #2690

[2018-11-12 10:40] lars-erik commented on #3593
All temporal couplings like that should be gone, yes.

[2018-11-12 10:51] bergmania commented on #3545
@Shazwazza, what do you think we should do about (un)publishing content. Here the `Content `class itself uses the `ContentType` model.

We could refactoring all this into a `IContentPublishingService` and let that inject the `IContentTypeService `.
Otherwise we have to inject the IContentTypeService into `Content` in some way.

[2018-11-12 11:57] Shazwazza commented on #3545
@bergmania can you link to the line of code you are referring too? We defo don't want to inject any services into models. If we can try to keep logic out of models we should so this might be a case of refactoring what is happening within the model to be moved to the service

[2018-11-12 12:07] bergmania commented on #3545
https://github.com/umbraco/Umbraco-CMS/blob/temp8/src/Umbraco.Core/Models/Content.cs#L354-L425

[2018-11-12 12:09] jamescoxhead commented on #3436
Hey @kjac, I've got most of the way there, life got in the way over the last couple of weeks but I should be able to get this done in the next week. Thanks for the offer though!

[2018-11-12 12:12] Shazwazza commented on #3545
aha! Yup this is going to make for some interesting refactoring. One way to work around this for now - as a 1st step - is to pass in the IContentService to this method and use that to lookup the content type.

These APIs that work with culture/variants/publishing/unpublishing are part of a review that will be taking place with @zpqrtbnk, @clausjensen and myself (and you! since you're actively look

[2018-11-12 13:18] nul800sebastiaan commented on #3590
Thanks guys! I've marked #2882 to be included in the release notes for 7.13.0 indeed 👍

[2018-11-12 13:18] #3590 closed

[2018-11-12 13:20] Jack-RNM commented on #2949
@nul800sebastiaan we've had the same issue upgrading a site from 7.6.1 -> 7.12.3. I checked the database for the migration you mentioned and it looks like it hasn't run, as I believe there should be a value for dataTypeNodeId 1041:
![image](https://user-images.githubusercontent.com/12048193/48348727-0d663200-e67a-11e8-9221-9889d7e75469.png)

Changing the web.config version back does not appear to

[2018-11-12 13:58] clausjensen opened #3598 "Epic - Scheduled publishing quirks"
Epic for keeping track of various quirks found on scheduled publishing

[2018-11-12 15:14] tiffy74 commented on #3361
So where are we on this?  @nul800sebastiaan are you able to update on what guidance is needed and how to get it?

[2018-11-12 15:37] tiffy74 commented on #2923
You know...

This has such potential for completely re-imagining the layout for editing in Umbraco into a really lovely smooth editing experience more akin to desktop based software rather than just an editing interface.

However it does have the potential to make it more complex or confusing for those that require simplicity or need the easiest possible set of tools in order to edit.

The conflic

[2018-11-12 15:47] zpqrtbnk commented on #3593
Few things.

1. yes, the special user with ID 0 (zero) in version 7 becomes the special user with ID -1 in version 8. And it represents the "super" user. This is because, everywhere in our datalayer, we consider that an entity has an identity when its ID is not zero. For instance, when you instanciate a new `Content` object, its ID is zero - and when you save it, it becomes 1234. Having a _real_ u

[2018-11-12 15:54] rsoeteman commented on #3593
Hi Stephan and others,

Thanks for getting back. My code was compiled, not in app_code.

And agree with you about database Id, but think you should add it to the list of breaking changes since all samples since 2008 came with the id=0 user.

[2018-11-12 16:01] rsoeteman commented on #3593
In case you want to test, I have my V8 branch just comitted https://github.com/rsoeteman/umbraco-admin-reset/tree/V8

[2018-11-12 16:12] zpqrtbnk commented on #3593
Thanks. Currently reviewing some code written in 2015 ;-) It *may* be that we only register controllers that live in `Umbraco.Web` at the moment, which would be pretty silly. Will update soon.

[2018-11-12 16:47] lars-erik commented on #3593
LightInject might do some magic, but I had to register mine. Can do autodiscovery in a composition tho.

[2018-11-12 17:03] richarth commented on #2959
It's one of the data integrity checks

[2018-11-12 18:16] nul800sebastiaan commented on #2959
I've had to remove this health check for now since there was too many problems and confusion with it. I would love to add it back at some point but it needs quite a bit of work to make it work well:

1. Error messages need to either have a "Fix" button or at least a description of how to fix the error
2. Number 1 above needs to be done for every possible error that can come out of this check, this

[2018-11-12 18:16] #2959 closed

[2018-11-12 18:18] kjac commented on #2959
That explains my confusion 😀

[2018-11-12 23:21] nicklite opened #3601 "Users are still given create options when users have only browser option"
Summary:
Users are still given create doc type options when users have only browser option

Steps to reproduce:
1, Created a new user group with the following settings:
 - Set "Sections" to "Content" in "Assign Access" section
 - Content start node to the "content root" node in "Assign Access" section.
 - only enable "Browse Node" on default permission.
- save new group

2, Assign a user the group

[2018-11-12 23:22] Shazwazza commented on #3585
@AxendoEelco ahhh.... yes ok so we're in a territory of inconsistencies here.

The main back office search is powered by ISearchableTree (which for content, media, members is done with Examine)

The searching taking place in list views is done via database queries. There is a reason for this and it was to ensure that search in list views 100% always works and didn't rely on indexes that may be out

[2018-11-12 23:34] nicklite opened #3602 "Granular permissions are not inherited from tree view to list view children"
Summary:
Granular permissions are not inherited from top level tree view to list view children

Steps to reproduce:
1, Created a new user group with the following settings:
 - Set "Sections" to "Content" in "Assign Access" section
 - Content start node to the "content root" node in "Assign Access" section.
 - Select a parent node that has list view children in Granular Permissions and enable "Brow

[2018-11-13 04:52] Shazwazza opened #3603 "Scheduled publishing - Update status in lang drop down"
child of #3598

The node language drop down for a variant item should be extended to also show scheduled publishing information:

[2018-11-13 04:53] Shazwazza opened #3604 "Scheduled publishing - show the status on the Info app"
child of #3598

Need to extend the status being shown on the Info app to include sched publish information

[2018-11-13 04:54] Shazwazza opened #3605 "Scheduled publishing - show the status on the list view"
child of #3598

For variants in a list view we show the publish status, this should be extended to include the sched publish info

[2018-11-13 04:57] Shazwazza opened #3606 "Scheduled publishing - add warning on publish button"
child of #3598

If there is already a schedule for publishing and the user decides to press publish, we need to display a warning but allow the user to continue. If the user continues it will be published and the scheduled release dates will be cleared.

We need to cater for both variant and invariant nodes in this case.

[2018-11-13 04:58] Shazwazza opened #3607 "Scheduled publishing - Update "Schedule" button text dynamically"
child of #3598

When the scheduled publish overlay is open, the text of the "Schedule" button should change, or we might decide to make it say something more generic.

The reason is because in order to clear a schedule you need to press the "Schedule" button which doesn't make much sense. At the same time you can both clear one variant schedule and add another variant schedule at the same time so

[2018-11-13 05:03] Shazwazza opened #3608 "Scheduled publishing - how to notify user of when this fails?"
child of #3598

When scheduled publishing fails on the background scheduler, there is no way that a user will know about it. This is the same as we have today with v7, however we should try to see if we can bubble this information up to the UI somehow. Currently this just logs errors in the logs.

If we want to show this in the UI this will require some UX labs of some sort on how we want to updat

[2018-11-13 08:44] zpqrtbnk commented on #3593
Update: it's nothing fancy temporal coupling or LightInject magic.

We don't rely on LightInject to scan all assemblies and find controllers, we take control of controllers registration. This is because we want to run our own assembly scanning (via `TypeLoader`). Assembly scanning (discovering types) is super expensive, and `TypeLoader` has some caching and tricks that help reduce that cost.

Howe

[2018-11-13 08:51] rsoeteman commented on #3593
Hi Stephan,

I think it makes sense to scan for Assemblies that use Umbraco Controllers indeed. In other controllers you need to do the plumbing anyway.

Please let me know when you want me to test something.

Thanks!

[2018-11-13 09:00] kjac commented on #2994
PR in #3609

[2018-11-13 09:45] JimBobSquarePants commented on #3593
I would recommend making registration mandatory. Otherwise someone adds a large collection of binaries to the solution that are not on the ignore list and startup times go through the floor.

[2018-11-13 09:51] kjac commented on #3593
Possibly a bit late to the party here.

@zpqrtbnk you're right, the initial test was done with a controller in `App_Code` - which is dirty and whatnot, but also super handy for testing 😄 however - FWIW I just tested with a controller in its own assembly, and it doesn't work either.

[code]

Invoking `/umbraco/api/teststuff/getstuff` returns `UmbracoContext is not set, Services is not set`.

[2018-11-13 09:53] rsoeteman commented on #3593
That makes sense for the Non Umbraco Controllers Stephan mentioned, but if you inherit from Umbracobase controllers you expect functionality is there.  If you have an Umbraco controller in your solution it might be possible that you want to use Umbraco functionality out of the box.

[2018-11-13 11:10] ronaldbarendse commented on #2925
I just found a work-around for this issue: manually remove the existing value converters using (in an `ApplicationStarting` event):

[code]

So merging the converters should indeed be marked as a breaking change, as this code references the public classes. This breaking change is easily fixed by just removing these lines of code, as it won't be needed when the converter is marked as default...

Fi

[2018-11-13 11:21] ronaldbarendse commented on #2887
Using NestingContently and the work-around from https://github.com/umbraco/Umbraco-CMS/issues/2925#issuecomment-438228256, it's already possible to disable nested content using a toggle button 🎉

[2018-11-13 11:32] zpqrtbnk commented on #3593
Want to have a look at https://github.com/umbraco/Umbraco-CMS/commits/temp8-controllers ?

[2018-11-13 11:50] rsoeteman commented on #3593
Yay I can access those services again. So works, thanks #h5yr

[2018-11-13 11:58] kjac commented on #3593
I can confirm that as well, given the above mentioned controller. And it also works for controllers App_Code  😁

[2018-11-13 12:15] madsrasmussen opened #3612 "Remove custom event directives and use the Angular ones"
We have a couple of custom event directives:  onKeyUp, onFocus, onBlur etc. Angular now has its own build in ones which we should use instead.

Our code:
https://github.com/umbraco/Umbraco-CMS/blob/dev-v7/src/Umbraco.Web.UI.Client/src/common/directives/components/events/events.directive.js#L6

Their code:
https://github.com/angular/angular.js/blob/master/src/ng/directive/ngEventDirs.js#L49

[2018-11-13 12:31] #3399 closed

[2018-11-13 12:35] zpqrtbnk commented on #3593
k, will look into merging at some point.

[2018-11-13 12:41] rsoeteman commented on #3593
Cool would be great then package devs can start thinking about merging packages to v8 #h5yr

[2018-11-13 14:01] kjac commented on #3612
Want help with this one?

[2018-11-13 15:45] zpqrtbnk opened #3620 "Refactor "current" UmbracoContext & others"
The way UmbracoContext.Current is managed is super weird, there are tons of notes about it in UmbracoContext.Current - and see also SchedulePublishing, for more oddities regarding the batched messenger and, again, the concept of "current". Better clean this up.

[2018-11-13 15:55] zpqrtbnk commented on #3593
PR https://github.com/umbraco/Umbraco-CMS/pull/3621

test: a random `UmbracoApiController` in a non-Umbraco assembly, or in `App_Code`, should still have services etc injected properly

[2018-11-13 16:45] madsrasmussen commented on #3612
That would be amazing 👍

[2018-11-13 20:48] stevetemple commented on #3589
I've been having a look at this, so we could ask each installer step whether it has anything it actually needs to do before deciding to run the full installer. Certain steps like MajorVersion7UpgradeReport, Version73FileCleanup are always going to say they need to run if there is major version change or is an upgrade from prior to 7.3. Whilst SetUmbracoVersionStep will say if the web.config versio

[2018-11-13 21:10] kjac commented on #3612
Consider it done 😛

[2018-11-13 21:48] JimBobSquarePants commented on #3593
@rsoeteman Assembly scanning without constraint is a very bad idea. If you want any decent startup performance you should be explicitly declaring what assemblies to scan, not creating an ever-growing blacklist and scanning everything else in every possible location.

[2018-11-13 21:54] lars-erik commented on #3593
I think maybe a composition.RegisterContollersFromAssembly<MyControllerType>() might be in order.

[2018-11-14 05:29] Shazwazza commented on #3589
The `DatabaseUpgradeStep` also runs migrations, it will always need to run in order for necessary migrations to be executed and to update the DB to indicate it's upgraded. If this is pursued, then this step will need to check if there are migrations that should be running for the target version or not and avoiding the installer could only be done if there are no DB migrations to execute. A problem

[2018-11-14 06:34] kjac commented on #3612
PR in #3622

[2018-11-14 07:32] rsoeteman commented on #3593
Thanks @Shazwazza great to see optimizing is done and @JimBobSquarePants  currently this works for Umbraco V7 and have always worked. This is the power of Umbraco that it is easy to extend. I think loading Content Cache is more of a problem then Assembly scanning. For plugin developers and people that implement a simple site some of this low level plumbing must exists.

[2018-11-14 07:47] Shazwazza commented on #3336
The PR has been merged upstream in to the sched publishing branch, all tests are passing so will close this ticket. Further review and testing will be done when I do the angular integration of bulk publish.

[2018-11-14 07:47] #3336 closed

[2018-11-14 08:15] zpqrtbnk opened #3623 "Stop saving Language name in DB"
See comments in `Language.CultureName` property getter - saving the name is confusing because of translations, and useless, as the Framework can manage ISO code / name.

So, just stop saving the name in the DB - only the ISO code.

[2018-11-14 09:43] JimBobSquarePants commented on #3593
Still means slow start up time and “magic” behaviour.

[2018-11-14 10:12] stevetemple commented on #3589
Yeah I saw that, so I was checking in that step if there are any actual migrations to run, if not and all other steps are satisfied that there is nothing to do. We could do a quick silent install which is essentially adding a row to the umbracoMigrations table. If there is anything at all other than that to run it goes to standard install. That should eliminate issues with authentication and failu

[2018-11-14 10:33] nul800sebastiaan commented on #3548
FYI: all you need is the latest version of Node (v10) and which comes with a compatible version of npm.

As Mike already notes: if those don't exist on your machine already, the `build,ps1` script will download and use a local copy (won't be installed globally for your machine).

So really.. All we should specify is: Use Visual Studio 2017 v15.3+ (which is mentioned here, but could be clearer: htt

[2018-11-14 11:22] Shazwazza commented on #3589
You should look at https://aaronpowell.github.io/Chauffeur/ since it has command line utilities to install umbraco, it also bootstaps from the command line. The LinqPad provider also bootstraps from the command line: https://github.com/Shazwazza/UmbracoLinqPadDriver ... might be possible to just use LinqPad automation to do what you want :)

[2018-11-14 13:16] madsrasmussen opened #3624 "Add back support for 2-factor-auth on login screen"
The dialogService has been removed and we need to add back the ability to show the 2-factor-authentication screens.

[2018-11-14 15:08] emmagarland commented on #3282
I think this issue is fixed now by @Diginari merged PR?

Chrome browser it is hidden for me on latest release

![image](https://user-images.githubusercontent.com/1649855/48491279-1cd2b000-e81f-11e8-8174-275c048642bb.png)

[2018-11-14 17:03] ssougnez opened #3628 "Allow "dialogService.contentPicker" to display the "Content" node"
Hello,

when using "dialogService.contentPicker", it is possible to pass some options to leverage the appearance of the "umb-tree" directive. However, it is currently not possible to modify the variable "hideHeader" that defines whether the "Content" node is displayed or not.

This "issue" (it's not really an issue but it's not a feature request either) proposes to make this property configurable.

[2018-11-14 17:04] nul800sebastiaan commented on #3564
PR: https://github.com/umbraco/Umbraco-CMS/pull/3567

[2018-11-14 17:08] nul800sebastiaan commented on #3628
Sounds good to me!

[2018-11-14 17:08] jacklawry commented on #3564
Sorry @nul800sebastiaan I forgot to link to the PR!

[2018-11-14 17:08] nul800sebastiaan commented on #3548
I've marked as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2018-11-14 17:13] nul800sebastiaan commented on #3512
Looks like we'll need to wait for a fix in the dependency.

[2018-11-14 17:18] nul800sebastiaan commented on #3322
Thanks Keith! Unfortunately as Chris points out, it's unclear what the problem is here. If you have an update then let us know. I'll close this for now but we'll be happy to re-open this when we know more.

[2018-11-14 17:18] #3322 closed

[2018-11-14 17:21] nul800sebastiaan commented on #3320
@mariojsnunes I think you'll need to hook into the `Saving` event instead of the `Saved` event, that's where things seem to go wrong for you.

I'll close this for now as it doesn't look like we have an actual bug here, if you require more help, I'd encourage you to refer to this issue in a new post on the forum at https://our.umbraco.com

[2018-11-14 17:21] #3320 closed

[2018-11-14 17:24] nul800sebastiaan commented on #3300
I've marked as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2018-11-14 17:33] nul800sebastiaan commented on #3253
I know that we put in a fix for #3387 so I think any other affected events should have a similar fix.

I've marked as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2018-11-14 17:45] nul800sebastiaan commented on #3115
To me it would still be confusing: "upload an avatar - Get Started" - sounds like I can get started with uploading an avatar.

Maybe a "Done" button instead?

Would be really nice with the 404 handling Mark mentions, but sometimes you just want to set a different picture anyway, so give people the chance: "This is how you will look right now, is that okay? You can add or change this picture by cli

[2018-11-14 17:47] nul800sebastiaan commented on #3068
I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2018-11-14 17:48] nul800sebastiaan commented on #3047
Sorry forgot to close this with the closing of the PR.

[2018-11-14 17:48] #3047 closed

[2018-11-14 20:52] BatJan commented on #3115
Yup simply a "Done" button would actually be the nicest option I think.

Then maybe the avatar thingy can use the gravatar, if possible or use one of those random images like when new users sign up on Our and then the "Upload Photo" could be changed to "Change avatar?" instead?

[2018-11-14 21:01] kjac commented on #3601
I can confirm this. There may be a few more issues with this scenario as well.

I've got a fix for it - will submit a PR once I've had time to test it some more.

[2018-11-14 23:02] ThomasAdams2 opened #3631 "Invite another user form not clearing"
On the invite user page, fill out the form and send the invite, then clicking on the invite another user button takes you back to the invite user page and the form is already filled with the details of the user that was just invited.

This form should be cleared when inviting another user so that it can be filled in with another users details without having to clear the fields manually.

[2018-11-14 23:30] stevetemple commented on #3589
Thanks for the pointers, never seen Chauffeur before. Have contributed an upgrade step to that project instead: https://github.com/aaronpowell/Chauffeur/pull/85

Will close this ticket

[2018-11-14 23:30] #3589 closed

[2018-11-15 05:45] kjac commented on #3253
@nul800sebastiaan looks like #3599 is an attempt to fix this?

[2018-11-15 06:42] #3015 closed

[2018-11-15 08:47] skttl opened #3633 "Can't tab to Add-button in nested content"
When adding lots of Nested Content nodes, keyboard use is quite limited. A simple request is to enable tabbing to the add button.

To test:

- add a nested content property to a node
- try to fill it using only your keyboard.
- notice you can't tab to the add button.

PR coming

[2018-11-15 09:14] zpqrtbnk opened #3635 "v8 PackageReference NuGet style not supported"
Our NuGet packages don't support being used with the new PackageReference style - only package.config - because they rely on `install.ps1` which is deprecated with PackageReference.

Need to find a replacement for `install.ps1` or something...

[2018-11-15 09:46] bharanijayasuri commented on #3253
I have just added a simple null check to show the standard "Failed to copy content" error message in the back office when a content copy event is cancelled in code. I know it might not be that meaningful when the custom message entered by the user is not shown, but it is going to take a lot more refactoring which I am currently looking at to make sure any changes I make is not going to break exist

[2018-11-15 09:48] nul800sebastiaan commented on #2966
Hi there! While we do enjoy the idea and eventually it would be good to have, it is a major engineering effort to make it work in a safe way. The original issue already mentions the potential of making circular references etc.

At HQ we currently don't have the time to work on it, it would be great if community would but I just want to warn that it is a large effort that needs careful building and

[2018-11-15 09:48] #2966 closed

[2018-11-15 09:49] nul800sebastiaan commented on #2958
Indeed this seems to work now! :)

[2018-11-15 09:49] #2958 closed

[2018-11-15 10:20] dbsweng commented on #2958
Sorry lads, this one slipped of my radar. I can confirm as well.

[2018-11-15 10:23] madsrasmussen opened #3637 "Remove dialogService"
dialogService has been deprecated since 7.4 and it is now time to get it removed.

[2018-11-15 10:34] marcemarc commented on #2957
Have had this same issue on a site, when a content editor is 'picking from a listview' in most scenarios I find they most likely want to be picking something that has 'just been created' and therefore having the default sort order of the MiniListView picker being 'descending' by sort order, would I think be much more preferable for the 'default' experience than having the items in Ascending order.

[2018-11-15 10:54] dawoe commented on #3637
So does this mean all calls need to be replaced with umb-overlay ?

[2018-11-15 11:08] marcemarc commented on #2957
Actually I may be incorrect in saying this is a UI task... tracing through the OrderDirection parameter, it's passed all the way down through the services, and repositories, finally ending up calling this method in the EntityRepository

     public IEnumerable<IUmbracoEntity> GetPagedResultsByQuery(IQuery<IUmbracoEntity> query, Guid objectTypeId, long pageIndex, int pageSize, out long totalRecords

[2018-11-15 11:32] clausjensen opened #3639 "Service level events"
Service level event fixing to know about variants since currently that is broken

[2018-11-15 11:56] bergmania commented on #3543
Both child issues are part of the pull request.

[2018-11-15 11:57] clausjensen opened #3643 "Previewing"
Preview functionality needs to be updated for variants.

[2018-11-15 12:01] clausjensen opened #3645 "Dropdown for selecting culture in preview mode"
When in preview mode you need to be able to set the preview culture for the current node.

First implementation could be a simple dropdown to select between the available cultures.

child of https://github.com/umbraco/Umbraco-CMS/issues/3643

[2018-11-15 12:02] nul800sebastiaan commented on #3492
As discussed this change has been reverted after some HQ feedback, https://github.com/umbraco/Umbraco-CMS/commit/06db9d22237b35014c9b1c250e0634ad91314f12

[2018-11-15 12:04] madsrasmussen opened #3646 "Preview: Add a language toggle so you can quickly preview different variants."

[2018-11-15 12:04] #3646 closed

[2018-11-15 12:04] Dariatj opened #3647 "Beautify Text/Html when users click inside TinyMCE Source Code link"
As you know Umbraco 7.11.1 comes with TinyMCE.  I'm not sure of the version of TinyMCE.

When my users login to Umbraco and click inside any TinyMCE Rich Text Editor located inside our pages, they can type in text, add links, drop in pictures, etc.   Some use the "Source Code" link to review the html.
In all cases, when my users click the "Source Code" link all of the content shows in one big giga

[2018-11-15 12:07] madsrasmussen opened #3650 "Handle keyboard shortcuts in infinite editing"
child of https://github.com/umbraco/Umbraco-CMS/issues/3649

When a new infinite editor opens it overwrites the keyboard shortcuts from the current editor. When the editor closes again the underlying editor don’t reassign its shortcuts.

We need to find a way to reassign keyboard shortcuts when an infinite editor closes.

[2018-11-15 12:09] madsrasmussen opened #3653 "Animations"
child of https://github.com/umbraco/Umbraco-CMS/issues/3649

We need another round of animation fixes. We never found a solution to the bad performing animations. With the upgraded Angular we now have access to more ngAnimate classes and we might be able to do a full CSS-animated solution now instead of relaying on javascript animations and a 3rd-part library.

[2018-11-15 12:10] poornimanayar commented on #2925
Hi @ronaldbarendse ,

Apologies for the very delayed reply. I am going to refer this to @nul800sebastiaan . We have had an internal chat and he thinks it needs further input from his side.

Regards,
Poornima

[2018-11-15 12:16] zpqrtbnk opened #3656 "Partial-saving a document clears Dirty flag"
When saving a variant document, but only some cultures, the global dirty flag is cleared, meaning it's now possible to navigate away from the page without triggering the dirty warning... thus losing changes.

Expected: dirty flag is cleared only when there's nothing left dirty

[2018-11-15 12:23] clausjensen opened #3657 "Content Apps"

[2018-11-15 12:37] clausjensen opened #3669 "Log Filled With "Could not find persisted pre-value for field""
Reported by:  Nicholas Westby

Here's an extract from my Umbraco log file:

[code]

Not sure what's causing that, but those look like prevalues from a data type (not sure which one). Umbraco 7.7.2

I'm not aware of this causing any functional issues, but it doesn't seem normal that the log file should have a bunch of these entries.

See: http://issues.umbraco.org/issue/U4-10586

[2018-11-15 12:55] nul800sebastiaan commented on #3647
I would encourage you to use the Code Mirror button instead of the regular Code button:

![image](https://user-images.githubusercontent.com/304656/48554196-05a6c780-e8de-11e8-9f74-b6fc549c4743.png)

This looks much better:

![image](https://user-images.githubusercontent.com/304656/48554210-11928980-e8de-11e8-87ec-3572ac6305b8.png)

[2018-11-15 12:55] #3647 closed

[2018-11-15 13:05] nul800sebastiaan commented on #3631
Thanks Thomas, I can reproduce that.

![3631](https://user-images.githubusercontent.com/304656/48554747-89ad7f00-e8df-11e8-9a54-8175a5521752.gif)

I've marked as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2018-11-15 13:12] Shazwazza opened #3677 "Tags with variants - Type ahead updates"
Requires https://github.com/umbraco/Umbraco-CMS/issues/3675
Requires https://github.com/umbraco/Umbraco-CMS/issues/3676
child of https://github.com/umbraco/Umbraco-CMS/issues/3674

The "type ahead" facility for editing tags in the back office should be updated to be contextual to the current culture so that when a user is typing out a tag it doesn't pull in all tags from all cultures, it should on

[2018-11-15 13:12] Shazwazza opened #3678 "Tags with variants - Controller updates to persist tag data correctly"
Requires https://github.com/umbraco/Umbraco-CMS/issues/3675
child of https://github.com/umbraco/Umbraco-CMS/issues/3674

When persisting content, the controller layer needs to be updated to persist the tag data correctly with culture. There are a few `fixme` comments in the code today regarding getting this done.

[2018-11-15 13:42] jmoumbraco opened #3688 "Package System - V7 + V8 support"
This epic includes work related to ensuring we support both version 7 and 8 in our package system.

[2018-11-15 13:44] dawoe commented on #3417
Was hoping for that answer. Trying to finish up a package now and after that I will start on this one

[2018-11-15 14:06] ThomasAdams2 commented on #3631
Hi Sebastiaan,

I've opened a PR for it here https://github.com/umbraco/Umbraco-CMS/pull/3632

Cheers, Thomas

[2018-11-15 14:30] nul800sebastiaan commented on #3647
Fair enough. I don't think what you need currently exists and I would question your need for editor to do very precise HTML editing, a task for which a CMS comes in handy. :-)

[2018-11-15 14:34] dawoe commented on #3417
Just looking through to code I need to touch. I see there is already a MacroController in the Umbraco.Web.Editors namespace. https://github.com/umbraco/Umbraco-CMS/blob/temp8/src/Umbraco.Web/Editors/MacroController.cs

This is used for rendering macro's in the backend and requires session state. I would prefer to keep the api methods for editing macro's separate. Should I rename this controller ?

[2018-11-15 15:29] bharanijayasuri commented on #3253
Alright, I might have a fix for content copy event cancellation notification as well now which is part of the pull request.

[2018-11-15 15:35] Dariatj commented on #3647
Well, our editors are very savvy and have the need to insert tables, etc.  Sometimes, the rendered HTML is not quite as it seems in the editor when we preview it.  Not sure why and can't put our finger on it.  But the solution has always been to click the "Code Mirror" icon and then copy out to Notepad++ where we have installed XML tools.  From here we beautify the text (including indents, etc) an

[2018-11-15 16:08] ProNotion opened #3691 "Slave Server Fails to Process Cache Instructions following certain user actions"
We have a multi-site install of significant size and moderate activity, there are two servers in the setup one master and one slave however following certain editor events the two get out of sync on an increasingly regular basis and it seems to be somehow related to actions such as unpublish/delete.

### Summary

The slave server seems unable to process the next instruction and so never actually c

[2018-11-15 16:09] nul800sebastiaan commented on #3647
Hi Tom, we don't have plans to add anything for that but if you want to attempt it and send a PR we can have a look at it! 👍

But really we'd rather "put our finger" on what's actually wrong with the html, seems strange. Sounds like it's difficult to reproduce though.

[2018-11-15 16:14] nul800sebastiaan commented on #3691
Hey Simon, good seeing you at the UK festival last week.

I know you don't want to hear this, but .. have you tried upgrading?
Specifically this fix comes to mind that we made recently in 7.12.2: https://issues.umbraco.org/issue/U4-11599

[2018-11-15 16:18] ProNotion commented on #3691
Good to see you too, if only in passing.

You're right not something I want to hear right now but we did hit that issue as well a few days back and if it is fixed in a later version it kind of forces my hand on the upgrade. But, at the same time, I'm not convinced yet that they are one and the same issue (at least not due to lack of database connectivity but certainly could be due to the fact that

[2018-11-15 16:21] nul800sebastiaan commented on #3691
Yeah tough one, I'll ask @Shazwazza and @zpqrtbnk to have a look at this as well but it might be the same cause for some reason. If you have any logs (set log level to `DEBUG` possibly) then that might help identify the issue as well. If you've deviated in some way from the LB documentation that might point to a source of the problem as well.

[2018-11-15 16:43] ProNotion commented on #3691
:open_mouth: :hand: I don't think I've been devient at all

Before enabling debug logging on the production site I will see if I can in anyway reproduce this issue.

[2018-11-15 17:31] Dariatj commented on #3647
Can you send me the link where I can create a PR for this as that's what I thought I was doing.
Thanks

Tom

[2018-11-16 00:19] Shazwazza commented on #3684
Closing this issue since the unpublishing all works now.

[2018-11-16 00:19] #3684 closed

[2018-11-16 06:49] kjac commented on #3483
I'll give this a go 😄

[2018-11-16 07:02] clausjensen opened #3694 "Bootstrap removal"

[2018-11-16 07:04] clausjensen commented on #3610
duplicate of https://github.com/umbraco/Umbraco-CMS/issues/3439

[2018-11-16 07:04] #3610 closed

[2018-11-16 07:08] clausjensen opened #3695 "Content variants"
Remaining bugs for content variants

[2018-11-16 08:32] nul800sebastiaan commented on #3647
Ah! A PR in this case means that you have a look at fixing the issue in code and send us your solution so we can include it in a future version of Umbraco. A guide on contributing to Umbraco can be found here: https://github.com/umbraco/Umbraco-CMS/blob/dev-v7/.github/CONTRIBUTING.md

[2018-11-16 09:03] kjac commented on #3483
PR in #3696

[2018-11-16 09:38] frederikreher commented on #3483
@nul800sebastiaan Since its a method that libraries like [inner-content](https://github.com/umco/umbraco-inner-content)  could benefit from i think it would make sense to increase the visibility of the method. As now each plugin requiring doctype translation, should implement a similar method themselves.

[2018-11-16 11:39] Dariatj commented on #3647
Sebastiaan:
I don't have a solution, only a workaround.  I don't know how to modify TinyMCE's code.
However, do you want me to use the link to write up my workaround?
Also,I asked TinyMCE if they had a solution and they have a paid solution, which we can't afford.
Perhaps you could look into incorporating their paid solution into the next version of Umbraco?
See here
https://community.tiny.cloud/c

[2018-11-16 11:43] nul800sebastiaan commented on #3647
Umbraco can't ship with a paid plugin, then we'd have to pay them for each download of Umbraco.

For your information: In the upcoming v8 we have upgraded TinyMCE and are using the Ace editor which does do formatting nicely.

[2018-11-16 11:58] Dariatj commented on #3647
Thank You Sebasstiaan.  Can't wait for v8 so they have a better user experience editing the HTML using the "SOURCE CODE" link.

Tom

[2018-11-16 12:25] abjerner opened #3698 "Link picker overlay let's you submit before the URL has been fetched"
With some of the recent changes to the link picker overlay, it seems that a bug was introduced along the way.

For instance, if you select a content node and press *Submit*, the returned `model.target` object representing the link may not always contain the `url` property, as the URL is fetched via a request to the server. The `url` property of the object will be populated eventually when the requ

[2018-11-16 12:33] warrenbuckley commented on #3637
All good & merged

[2018-11-16 12:34] #3637 closed

[2018-11-16 15:07] Ric-Carey opened #3700 "Umbraco.DropDown.Flexible not saving within Nested Content"
Hi,

We have recently upgraded to Umbraco 7.12.4 what we have noticed is that dropdowns are now of type Umbraco.DropDown.Flexible - any dropdowns used within Nested Content, do not persist a value. I have looked at the IPublishedContent.Property.DataValue and the JSON contains the property with a blank value. The value has been populated in the Umbraco back office. Dropdowns that are of the origin

[2018-11-16 16:31] drummerboy46 opened #3701 "Additional bulk functions on media folders and content list-views"
The "multi select" functions from media folders are limited to delete only and in content list views you can only publish and un-publish. Can we have other bulk actions on multi-selected items?

Move needs to be added for media. For content could you add copy, move and delete.

It would be extra awesome if you could bulk change document type too , but I understand there are additional complexities

[2018-11-17 08:32] kjac commented on #3700
I can't reproduce this... this is what I see:

![dropdown flexible nested content](https://user-images.githubusercontent.com/7405322/48659019-846d4300-ea4b-11e8-8283-557bc4843c51.gif)

[2018-11-17 12:18] Ric-Carey commented on #3700
Apologies, I worded that wrongly. The value saves, however when you access it via the IEnumberable and then GetPropertyValue on the Ipublished content, there is no value.

[2018-11-17 12:39] enkelmedia opened #3704 "Dialogs should have better label for "Submit"-button"
No really a bug, more some kind of improvement for the UX.

In some dialogs (ie media picker and content picker) the label of the "Submit"-button could be improved. I'm thinking that ie when you've picked media or content the text "Select" (lang key: buttons_select) would probably make more sence?

I'm thinking that I could add some submitButtonLabelKey-settings for dialogs in places where it make

[2018-11-17 14:31] enkelmedia commented on #2915
I think that the image picker in the grid is "kind of broken" when it comes to this.

To set the stage for what I'm proposing. After adding new content in the grid and choosing an "Image" the user comes to the "Select media"-view after click on a image the user comes to the "Image details"-where they can set the crop focus and the alt-tag.

When the image is added and the user clicks on it again t

[2018-11-18 10:52] cryothic opened #3705 "Dictionary items sorted at random in 7.12.3"
I noticed the Dictionary isn't sorted alphabeticly anymore in 7.12.3 (maybe earlier?).
There also isn't a sorting-option.

Items are getting randomly placed. I've created the same list of items on 2 umbraco instances, and they are sorted (seemingly) random.

**Reproduction:**
I made a list of the following items like this:
create -> enter alias -> next, so I didn't enter a value at first
-option_1

[2018-11-18 11:17] kjac commented on #3700
@Ric-Carey hmm... I still can't reproduce it.

My doctype has a Nested Content property called `nestedContent`. The property contains one item, where the dropdown is of type `Umbraco.DropDown.Flexible`:

![image](https://user-images.githubusercontent.com/7405322/48671623-9cb48f00-eb2b-11e8-87b4-9ce0702de3e6.png)

Given this template:

[code]

...this is the output produced:

![image](https://user-

[2018-11-18 12:08] kjac commented on #3705
Oh... I fixed this for V8. I didn't notice it was a problem in V7, but clearly it is:

![image](https://user-images.githubusercontent.com/7405322/48672201-01271c80-eb33-11e8-966f-5ee30ee9fc88.png)

I'll see if I can apply the V8 fix to V7.

[2018-11-18 12:38] kjac commented on #3705
PR in #3706

[2018-11-18 13:07] kjac commented on #3268
I'll give this a go.

[2018-11-18 19:10] #3217 closed

[2018-11-18 19:17] nul800sebastiaan commented on #3272
This could be related to https://github.com/umbraco/Umbraco-CMS/pull/3111 as well.

[2018-11-18 19:37] nul800sebastiaan commented on #3520
Hey @SkullcrusherNZ, unfortunately for you this is not the experience most people have. I would suspect something in your upgrade didn't complete.

I'd recommend you drop a question on the forum about it to see if someone can help you out with this: https://our.umbraco.com

[2018-11-18 19:37] #3520 closed

[2018-11-18 19:49] nul800sebastiaan commented on #3565
PR: https://github.com/umbraco/Umbraco-CMS/pull/3572

[2018-11-18 19:58] nul800sebastiaan commented on #3700
Thanks for trying @kjac I'll close this for now pending new info to reproduce.

[2018-11-18 19:58] #3700 closed

[2018-11-18 22:19] aaronpowell opened #3707 "[v8] Can't start CoreRuntime on its own"
I'm starting to look into getting [Chauffeur](https://aaronpowell.github.io/chauffeur) working against v8 (related build **8.0.0-alpha.52**).

For this, I need to start Umbraco, and with the removal of the old `BootManager` concept I now need to use an `IRuntime`.

To represent as much of Umbraco's true nature as possible I decided to use the `CoreRuntime` class as the runtime I create, given that

[2018-11-19 01:40] Shazwazza opened #3708 "Fix publish/draft status for variant content when invariant properties are edited"
child of #3729

Currently if you edit an invariant property (which can only be done on the default language), this does not reflect the publishing state of the default language variant so the user will have no idea if there are actually pending edits.

This problem actually makes it's way into the bulk publishing logic because when invariant properties are edited, this means that the document does

[2018-11-19 01:42] Shazwazza opened #3709 "Fix publishing descendants for invariant property changes"
child of #3729
requires #3708

Because invariant property changes on variant content does not change the default language variant's publish status, changes to only invariant property data will not be published when publishing descendants because it doesn't show up as a change.

[2018-11-19 01:52] Shazwazza commented on #3093
Testing notes:

There are some known issues: #3708, #3709 so all testing should be done against variant properties only, if you only edit invariant properties this will not work.

* [ ] Make sure tests pass
* [ ] Create document type(s) with only variant properties and give one property a 'mandatory' requirement
* [ ] Create a content tree structure with this doc type, do not publish anything, lea

[2018-11-19 02:36] aaronpowell commented on #3707
I've done some more digging and it seems I was somewhat mistaken in my understanding of the exception, it's not the `IEnumerable<AutoMapper.Profile>` that explodes, it's the creation of one of the profiles that does, ultimately boiling down to a failure to resolve `IUmbracoContextAccessor`.

But I'm pretty sure that that has been registered (it's in [`WebRuntimeComponent`](https://github.com/umbra

[2018-11-19 03:30] aaronpowell opened #3710 "[v8] Some reliances on HostingEnvironment.MapPath"
I've found a few places where `HostingEnvironment.MapPath` are used rather than `IOHelper.MapPath`, in particular the `PublishedSnapshotService.ctor`.

This results in the type failing to construct and, genreally, DI explodes.

[2018-11-19 03:42] aaronpowell commented on #3707
Getting a bit closer, created #3710 to track a problem I've found (and added a PR to fix it).

[2018-11-19 07:44] zpqrtbnk commented on #3707
Quick notes (will need to think about it in more details):

`CoreRuntime` and `CoreRuntimeComponent` are indeed the way to go to run a "non-web" Umbraco and I had tools similar to Chauffeur in mind when creating them. But, I never tested that they worked outside of Web. Thanks for doing that part of the work ;-)

The runtime & components structure was a way to give some structure to what we had be

[2018-11-19 07:48] kjac commented on #3268
PR in #3712

[2018-11-19 09:34] aaronpowell commented on #3707
Ok, using the change I've proposed in the PR attached to #3710 (combined with a custom implementation of `IHttpContextAccessor`) it works.

_But_ it still tries to run the `WebRuntimeComponent`, which I wouldn't want to run if it's a web context would I? I **get** why it runs though, it uses the TypeFinder to find all `IUmbracoComponents`, which I'd assume is designed that way to handle plugins re

[2018-11-19 10:15] aaronpowell opened #3713 "[v8] Decoupling UmbracoApplicationBase from runtimes"
While digging around in the `CoreRuntime` I found a comment about removing [`UmbracoApplicationBase` from it](https://github.com/umbraco/Umbraco-CMS/blob/temp8/src/Umbraco.Core/Runtime/CoreRuntime.cs#L48-L51).

So I figured I could do that clean up.