[2018-11-19 10:38] aaronpowell commented on #3707
@zpqrtbnk Whoops, missed your comment 😜

The problem I see is that you can register items in the container in both locations but it's somewhat unclear which on you should do.

I'd suggest even removing the `BootLoader` and push the logic up into the `CoreRuntime`. Basically, you have the `CoreRuntime` doing that logic too because it really looks like the `BootLoader` is only used by `CoreRuntime`

[2018-11-19 11:19] cryothic commented on #3705
Nice job, thanks!

[2018-11-19 14:40] Migaroez opened #3716 "Upgrade path 7.7.6 ->7.12.4 ERROR Invalid column name 'isSensitive"
### Bug summary
Upgrade path 7.7.6 ->7.12.4 LOGS an error when trying to sign into the backoffice to start the upgrade
"Invalid column name 'isSensitive'."

### Specifics
Error from logs
[code]

sql being executed
[code]

### Steps to reproduce
Upgrade from 7.7.6 to 7.12.4

### Expected result
Being able to log in and start the upgrade

### Actual result
Generic can't login message and an error in

[2018-11-19 14:46] Migaroez commented on #3716
Workaround:
run SQL `ALTER TABLE cmsMemberType add isSensitive bit`
No errors during migration.

[2018-11-19 20:17] kjac commented on #3068
I can see a few other issues with the linkpicker overlay:

1. The selected node is only highlighted the first time the overlay opens. All subsequent displays of the overlay doesn't highlight the selected node:
![link-picker-overlay-1](https://user-images.githubusercontent.com/7405322/48732498-2bb2cb80-ec40-11e8-9bce-71a5e4d77fe2.gif)

2. The highlighted node remains highlighted when a media is sel

[2018-11-19 20:41] amirkhan81 opened #3717 "Documents created with Document Type Collection caplitalize the first letter of the alias"
### Bug summary
Clean install of Umbraco 7.12.0
When creating document types with the Document Type Collection method, the alias of the document types created will have a capitalized first letter in the alias where as creating a document type with the normal Document Type option creates an alias where the first letter is lowercase.

This might be confusing when trying to query document types by al

[2018-11-19 21:14] kjac commented on #3068
PR in #3718

[2018-11-19 21:43] kjac commented on #3717
@amirkhan81 how do you reproduce this?

I have a doc type collection on the latest codebase. The parent doctype is called "Collection Parent" and the item doctype is called "Collection Child".

Given this view snippet:

[code]
...where ID 1123 is a collection parent with one or more collection item children, this is the rendered result:

![image](https://user-images.githubusercontent.com/7405322/4

[2018-11-19 22:11] amirkhan81 commented on #3717
When I create  new doctypes with the names Categories and Category on a fresh install of 7.12.4 (sorry had the wrong version before)

I get this output:
Collection parent alias: Categories
Collection item alias: Category

![screen shot 2018-11-19 at 5 06 12 pm](https://user-images.githubusercontent.com/976383/48738175-25135c80-ec1e-11e8-90b8-cb85835c739b.png)
![screen shot 2018-11-19 at 5 06 16 pm

[2018-11-20 00:31] Shazwazza commented on #3710
Fixed in PR

[2018-11-20 00:31] #3710 closed

[2018-11-20 06:42] kjac commented on #3717
@amirkhan81 I guess this must have been fixed (explicitly or implicitly) in the latest codebase. This is what I see:

![doctype-collection-alias-casing](https://user-images.githubusercontent.com/7405322/48756010-c68ac480-ec97-11e8-8968-4c31a7dffa97.gif)

[2018-11-20 06:49] Shazwazza opened #3719 "Can't sort image cropper data type defined crops"
in v8  (maybe v7, not sure) the defined crops cannot be sorted. In the UI it's possible but on saving it doesn't persist the new sort.

[2018-11-20 07:19] kjac commented on #3701
@drummerboy46 it's already there - but you need to turn it on explicitly.

List view bulk actions are configured on the list view data types:

![image](https://user-images.githubusercontent.com/7405322/48757429-0011fe80-ec9d-11e8-9c48-2c6b13b04d28.png)

[2018-11-20 07:34] zpqrtbnk commented on #3713
Happy, merged the PR. Thanks!!

[2018-11-20 07:34] #3713 closed

[2018-11-20 07:40] kjac commented on #3719
@Shazwazza looks like a V7 issue:

![imagecropper-crop-sorting-before](https://user-images.githubusercontent.com/7405322/48758319-f0e08000-ec9f-11e8-9f16-31062ccc3dbc.gif)

I'll take a look at it if you want.

[2018-11-20 07:45] Shazwazza commented on #3719
If you have time, sure thing! ill update the title

[2018-11-20 08:11] kjac commented on #3719
Will do 😄

[2018-11-20 08:41] #3093 closed

[2018-11-20 08:42] #3475 closed

[2018-11-20 08:42] nielslyngsoe opened #3720 "NullReferenceException when accessing properties from IPublishedContent made by UmbracoHelper.TypedContent in Examine Events"
In a GatheringNodeData context, the GetPropertyValue on IPublishedContent created by umbracoHelper.TypedContent(Id) results in a NullReferenceException.

Reproduction
------------

### Bug summary

`        protected UmbracoHelper umbracoHelper;

        protected override void ApplicationStarted(UmbracoApplicationBase umbracoApplication, ApplicationContext applicationContext) {
            base.A

[2018-11-20 08:53] zpqrtbnk commented on #3707
Runtimes should register as little as possible and registration should be performed by components - probably, the existing runtimes are registering too much. To some extend, I even wonder if we should ditch the runtime's `Compose` method entirely. Happy to discuss that point.

The `BootLoader` class is indeed only used in `CoreRuntime` and exists only to separate concerns - it contains lots of cod

[2018-11-20 09:11] Shazwazza commented on #3720
There's a few issues here:

* UmbracoHelper is a Request based object, it absolutely should not be tied to a singleton or static reference because it requires an HttpContext to create it (which is of course a Request based object). If you do this you will have a memory leak
* All indexing runs on a background thread including GatheringNodeData, there is no HttpContext so there is not UmbracoContex

[2018-11-20 09:11] #3720 closed

[2018-11-20 09:30] nielslyngsoe commented on #3720
Hi @Shazwazza

Thanks for the fast feedback.

If someone finds this issue, the solution for me is:

`
                    string Country = fields["country"];
                    if (Country != null) {
                        var contentService = ApplicationContext.Current.Services.ContentService;

                        GuidUdi realUdi = GuidUdi.Parse(Country);
                        int country

[2018-11-20 10:21] jacklawry opened #3722 "Default Content in List View"
Why isn’t there the option to just show the actual image or dropdown value etc in a List view… What use is the ability to list the GUID to any editor? A small little thumbnail however would be very useful for them.

![image guid](https://user-images.githubusercontent.com/3786136/48767092-d01f2700-ecad-11e8-8451-ad620392a1e4.png)

Dropdown choices and pickers would also be much better if it showed

[2018-11-20 10:38] nul800sebastiaan commented on #3704
Thanks @enkelmedia ! Good suggestions.

1. Yes, "Select" for pickers makes sense 👍
2. It would be really nice to show either "Add" or "Update" based on if you're adding a new property or editing an existing one.

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2018-11-20 10:45] abjerner commented on #3704
@enkelmedia I've been meaning to look into this for a while now, but feel free to go ahead and create a PR for this 👍 I'd be happy to review and test it 😉

**Submit** is translated to the **Indsend** in Danish, which to me (or our clients) doesn't make any sense.

Perhaps rather than **Select**, the default label should just be **Continue**, and then it can be overwritten in the individual overlay

[2018-11-20 10:49] aaronpowell commented on #3707
I could get behind this, looking at the `Compose` function, it really does seem to be keyed around registering components, which you could also do in the `RuntimeComponent`.

Yeah I get that, but I think that by having the split codebases does mean that you have a bunch of code provisions that you don't actually need. And I noticed a few things walking the stack, like the fact that there's a few n

[2018-11-20 11:45] zpqrtbnk commented on #3707
That simplification looks interesting - would love to spend time on it but... time being a finite resource, I'm super interested in you having a crack at it. If you do, we can sync on a branch and do quick code reviews, that'd be ace.

Now I understand the idea that Chauffeur runs in `bin` where many dlls are present, yet does not run the _web_ part of Umbraco and therefore does not want _all_ com

[2018-11-20 11:51] nul800sebastiaan commented on #3602
Hi there @nicklite ! I'm not sure how to reproduce, if I don't have permissions to "Browse node" on the ancestors of "Artist", I do not even see "Artist" in the tree, because I'm not allowed to browse "Stories".

![3602](https://user-images.githubusercontent.com/304656/48771878-eb486180-ecc2-11e8-998c-3e483bb04bac.gif)

I am not sure what you're trying to do exactly, but I'd recommend you ask on t

[2018-11-20 11:51] #3602 closed

[2018-11-20 11:53] nul800sebastiaan commented on #3577
PR: https://github.com/umbraco/Umbraco-CMS/pull/3579

[2018-11-20 11:59] nul800sebastiaan commented on #3560
@MMasey Thanks Mike! Can you update this issue with the problems you've encountered when you were working on this at the UK hackathon. Might not be worth the trouble to convert it over for now, but I can't remember exactly what the stumbling blocks were?

[2018-11-20 12:01] nul800sebastiaan commented on #3552
That's annoying! I can confirm this a problem and we'll have to have a look at this soon, thanks for reporting.

[2018-11-20 12:03] FabianoAgosti opened #3725 "Pass on query string"
Hello,

Is it possible to pass on query string to the built-in URL tracking functionality in Umbraco? We have a client that has renamed some nodes and these nodes also have paramater string in the URL, especially when an user comes from an ad (gclid paramater passed in the URL). When a redirect happen from the old URL to the new URL, those paramaters are not passed across. Is there a solution for

[2018-11-20 12:31] madsrasmussen opened #3724 "Remove Bootstrap Datepicker"
Bootstrap datepicker needs to be changed to a datepicker with no dependecy on bootsrap or jquery. We have chosen Flatpickr (https://flatpickr.js.org/) as the new date picker for Umbraco.

We need to update the date picker property editor + anywhere else in the back office where the date picker is used.

[2018-11-20 12:49] enkelmedia commented on #3704
I did work on the PR for some time during the weekend, and in cases where there is an "update" possible the text is different.

@abjerner Might be a good idea to change the default in the overlay-directive as well. What do you say @nul800sebastiaan ?

[2018-11-20 12:53] madsrasmussen commented on #3724
PR: https://github.com/umbraco/Umbraco-CMS/pull/3723

The PR removes all files related to bootstrap date picker and changes the two places where it was used. The date picker property editor and in the query builder. Flatpickr is already included in v8 because we use it for scheduled publishing.

The PR also removes the last places where we use the bootstrap dropdown menu and implements our own dro

[2018-11-20 13:19] nul800sebastiaan commented on #3552
@HarveyWilliams You seem to have the same problem as Lee here, your latest package file no longer has a strict requirement: https://twitter.com/cultiv/status/1064870298720313350

[2018-11-20 13:52] nul800sebastiaan commented on #3725
Currently this is not possible, at the moment you would have to manually create redirect rules in your web.config I'm afraid. But it's a good feature request, I never thought of that before!

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2018-11-20 14:34] nul800sebastiaan commented on #3418
I'm sorry to hear that upgrading has caused this problem. I've asked Shannon and a quick reply was: this might be a change made in Owin, not exactly in Umbraco.

As for your second issue, this I believe is covered in depth over here: https://issues.umbraco.org/issue/U4-9229

If you've found a workaround by now it would be great if you could post it up. Unfortunately for you, we've not seen this is

[2018-11-20 14:37] nul800sebastiaan commented on #3376
Ah, I see that Stephane created the same issue, I'll leave that one open as it's on our sprint board and I'll close this as a duplicate, thanks Tim!

[2018-11-20 14:37] #3376 closed

[2018-11-20 14:41] nul800sebastiaan commented on #3704
As said: we agree that "Select" should be used for all pickers. Any language files can use what they think is appropriate.

[2018-11-20 14:54] nul800sebastiaan commented on #3354
Thanks Søren, this requires some more discussion at HQ, we'll get back to you!

[2018-11-20 14:55] nul800sebastiaan commented on #3353
Thanks for the feature request, we'll discuss it at HQ and get back to you!

[2018-11-20 15:31] nul800sebastiaan commented on #3717
Not yet, it will be released when 7.13.0 comes out soon, hopefully in the next few weeks. Thanks for the double-check @kjac !

[2018-11-20 15:31] #3717 closed

[2018-11-20 15:43] nul800sebastiaan commented on #3701
Yep indeed. Thanks for the help @kjac !

[2018-11-20 15:43] #3701 closed

[2018-11-20 15:52] nul800sebastiaan commented on #3337
We currently don't have any progress on this unfortunately.

There is a PR in work in progress but it needs to be updated to the latest version: https://github.com/umbraco/Umbraco-CMS/pull/2275

FYI: at the moment this is not a priority for us so progress on this will likely be slow.

This relates to: https://github.com/umbraco/Umbraco-CMS/issues/3418

[2018-11-20 15:55] nul800sebastiaan commented on #3317
🤦‍♂️

I seem to have completely misunderstood your request, yest this seems like a fine feature to add!

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2018-11-20 15:56] nul800sebastiaan commented on #3725
I just realized there's a previous issue created for this, I'll close this one in favor of the existing feature request, thanks!

[2018-11-20 15:56] #3725 closed

[2018-11-20 16:03] nul800sebastiaan commented on #3235
Oh no, that sounds annoying.

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2018-11-20 16:05] nul800sebastiaan commented on #3318
I am not sure if there's any need to keep these internal, let's see what @zpqrtbnk has to say about that though.

[2018-11-20 16:08] nul800sebastiaan commented on #3209
Ah, weird that it does that :-)

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2018-11-20 16:38] NikolayYeryomenko commented on #3189
I see this error on the demo website created using installation wizard. The stack trace shows error about MiniProfiler.

[2018-11-20 16:55] nul800sebastiaan commented on #3189
Very weird. Make sure to ask on the forum to see if someone can help debug it! This is not something we can reproduce with a standard Umbraco installation.

[2018-11-20 17:04] HarveyWilliams commented on #3552
I specifically chose my version number in Umbraco, and it's added the `type="strict"` param:

[code]

However, when I go to install the package, it's still listing version 1.1.1 as the installable version. Is this a caching issue?

You can download the latest version (1.1.3) here: https://our.umbraco.com/packages/backoffice-extensions/iconator/

[2018-11-20 21:33] Andrei- opened #3726 "UmbracoVirtualNodeRouteHandler - does not return configured 404 page"
Trying to use an instance of UmbracoVirtualNodeRouteHandler to handle some virtual urls, similar to a webshop scenario where you have url's like /products/id
So I inherit UmbracoVirtualNodeRouteHandler  and override the specific method "FindContent()" and it works fine when the product is found and I return a publishedcontent result.

But when I try with a wrong id, like /products/[non-existing-id

[2018-11-20 21:45] aaronpowell commented on #3707
To be honest I'm not _that_ bothered by loading the web stuff in Chauffeur, it kind of implies that it's loading Umbraco "truly". Chauffeur for v7 probably loads a bunch of web stuff as it uses the Umbraco Application and what not pretty well 😜. To be honest I'm actually surprised Client Dependency loads like it loads, but hey, it works!

Tonight I should have some time to have a tinker, so I'll c

[2018-11-20 22:22] benjaminc opened #3727 "Enabling FIPS prevents logging in to the back-office"
Reproduction
------------
### Bug summary

After enabling FIPS on the server where Umbraco is running, users are no longer able to log into the back-office.  Trace logging shows that it is trying to use an MD5 hash while getting user Avatar URLs.

### Specifics

Windows Server 2016 with all updates as of 20-Nov-2018

Umbraco 7.12.4 vanilla, downloaded straight from https://our.umbraco.com/contribu

[2018-11-21 04:30] Shazwazza commented on #3707
Been slowing chipping away at this when possible, there's still lots of refs but we're mindful of removing it where we can during development and refactoring. There's probably some very easy wins but probably some real annoying ones too :)

[2018-11-21 04:40] aaronpowell commented on #3707
@Shazwazza haha yeah I know, I decided to delete `System.Web` and wanted to see what went 💥.

It wasn't as bad as I expected, the hardest stuff to handle would be the caching stuff.

[2018-11-21 06:38] vonbarnekowa commented on #3195
Macro's aren't all that useful anymore? Why? Can you explain?

I have a ton of killer use cases. The first that comes in my mind, is to use link pickers in macro parameters.

[2018-11-21 07:55] kjac commented on #3524
@nul800sebastiaan I really don't think it's got any implications on Courier/Deploy. This isn't a deployment feature for developers - it's a translation feature for editors.

Besides, uSync already handles dictionary deployment pretty well 😉

[2018-11-21 08:04] zpqrtbnk commented on #3707
Makes sense - some property editors / converters / etc that you may rely on, only lives in web. But... then you should boot the web runtime, not the core one. Oh... I'm not sure, will try to think about it.

[2018-11-21 08:34] clausjensen opened #3729 "Bulk publishing - remaining issues"

[2018-11-21 08:36] #3335 closed

[2018-11-21 08:50] enkelmedia commented on #3317
I already have the code and it's been tested "in the wild" since I posted this so let me just get back with a PR for this =D

[2018-11-21 09:36] aaronpowell opened #3730 "[v8] Nightly doesn't bump version number on MyGet"
Starting a new issue on the back of https://github.com/umbraco/Umbraco-CMS/pull/3711#issuecomment-440579741

It seems that the MyGet feed for v8 keeps having the same version re-deployed.

I'm using the feed https://www.myget.org/F/umbracocore/api/v3/index.json and it seems that `alpha52` keeps getting updated.

Just makes it a bit of a pain to test against.

[2018-11-21 10:38] abjerner commented on #3704
@nul800sebastiaan The problem with **Submit** is that is correctly translates to **Indsend**, but it may still give an incorrect meaning depending on the context, which was why I thought **Continue** would be better suitable in more contexts.

But if most overlays are updated with a custom button text, the default term may not matter that much anyways.

[2018-11-21 10:55] Shazwazza commented on #3536
PR https://github.com/umbraco/Umbraco-CMS/pull/3732

Testing:

* Download Luke for Lucene 3.0.1 - find it here https://code.google.com/archive/p/luke/downloads (https://storage.googleapis.com/google-code-archive-downloads/v2/code.google.com/luke/lukeall-1.0.1.jar)
* Have both variant and invariant data
* Rebuild your indexes
* Open the index with Luke (will need to force unlock and in readonly mod

[2018-11-21 11:15] enkelmedia commented on #3704
I've inlcuded a change to the "defualt" text for umbOverlays and I would agree with @abjerner that "Continue" makes more sense over "Select" since the umbOverlay might be used in 3rd party packages or other senarios where "Select" as fallback would not make sense.

[2018-11-21 11:32] zpqrtbnk commented on #3730
Azure DevOps CI sets the version of Umbraco to `8.0.0-alpha.52.1234` where `1234` is Azure DevOps build number. Azure DevOps logs rightfully indicate _"Building: 8.0.0-alpha.52.1234"_ and the value shows in `Umbraco.Core` dll's attributes eg `ProductVersion`.

The idea was that ... that would be the NuGet package version too, hence you would get "updates" of `alpha.52.xxx`. And everything would be

[2018-11-21 11:36] zpqrtbnk commented on #3730
Point is, our build script explicitely pass a `-Version` arg to NuGet `pack` command. Whereas Azure DevOps use the build-in NuGet task, using environment variable `UMBRACO_VERSION` for the version. That variable is set in our _Prepare Build_ task. Which runs... aha! Before our _Set Umbraco Version_ task. So when the variable is set, version is still `alpha.52`.

Don't think anything prevents us fr

[2018-11-21 11:47] kjac commented on #3722
@jacklawry I'm not entirely sure how you managed that? My default (media) list view looks like this:

![image](https://user-images.githubusercontent.com/7405322/48839360-899ffa00-ed8b-11e8-8d01-084afa017db3.png)

[2018-11-21 12:05] jacklawry commented on #3722
Sorry this is a custom list for nodes (not media) but there is the option to show the image in the list (in addition to the name and sort order etc) but selecting the image just displays its GUID. I can’t think of a single use for displaying a GUID to any user?

The only way to display the actual image is to build a custom view. Surely it would be friendlier to have the ability to display the imag

[2018-11-21 12:58] kjac commented on #3722
@jacklawry ah... makes sense. Your "image" must be a custom property then.

![image](https://user-images.githubusercontent.com/7405322/48842767-6c702900-ed95-11e8-9415-8f757180f80d.png)

The list view simply displays the content of the properties you select. It doesn't interpret them. An image picker saves an Umbraco UID, so the list view displays just that.

The same goes for all other property t

[2018-11-21 12:59] MMasey commented on #3560
Sure, no problem. Most of the problems come around the fact that the use of icon fonts is so heavily embedded into the backoffice, although that's more of a time problem than a complexity one.

One on the other problems was that my approach is to use inline SVGs. There would be a folder, potential in the `umbraco` folder that could contain each of the individual SVG icon files. In order to get thi

[2018-11-21 14:02] dawoe commented on #3726
Hi @Andrei-

How did you configure your 404 page ? Can you give some details about that. So we have good steps when we try to reproduce this issue.

Dave

[2018-11-21 14:07] clausjensen opened #3735 "Merge v7 to v8"

[2018-11-21 15:06] zpqrtbnk commented on #3730
Tests seem conclusive: Visual Studio sees `alpha.52.124` as an update to `alpha.52.125` and our nightly builds should now have the proper version. Moving issue to review. Can you let me know if it looks good to you?

[2018-11-21 17:40] Andrei- commented on #3726
Hi Dave,
It's just standard 404 page configuration under /config/umbracoSettings.config with the guid of an umbraco node:
![image](https://user-images.githubusercontent.com/6005180/48858890-e10a8e00-edbc-11e8-9165-9e253af04872.png)

[2018-11-21 17:41] Andrei- commented on #3726
ups, closed by mistake

[2018-11-21 21:38] aaronpowell commented on #3730
Just saw that the MyGet feed now includes the bumped build number, so I'd expect it'll allow an upgrade (previously it wasn't including the build suffix).

Given you're using Azure DevOps, would it be possible to make the pipeline public (https://docs.microsoft.com/en-us/azure/devops/organizations/public/about-public-projects?view=vsts)?

I've just done this with Chauffeur (https://aaronpowell.vis

[2018-11-21 23:01] marcemarc commented on #3195
@vonbarnekowa it's a bit of a workaround, but there is a really good package https://our.umbraco.com/packages/developer-tools/parameter-editor-generator/ that can help you 'generate' the default config required to turn a property editor into a Macro Parameter, so you can have link pickers with a min and max, start node etc configured.... (but yes it would make perfect sense now if Data Types were

[2018-11-22 07:45] clausjensen commented on #3658
Currently the info tab on content is showing URLs for all variant, publish status for all variants.
It needs to be clear if data in this tab is related to a variant or if it is node related. Right now it is one big mess. It could also be context related - which means you will only see "one version of the data" which is the one of the current context of the UI.

[2018-11-22 07:58] clausjensen opened #3737 "C# controller endpoints for supporting public access via angular"
child of https://github.com/umbraco/Umbraco-CMS/issues/3474

In order to manage public access for a node via angular we need to make sure the required endpoints for this are available on the C# controllers.

[2018-11-22 08:00] clausjensen opened #3738 "Angular implementation of public access dialogs"
child of https://github.com/umbraco/Umbraco-CMS/issues/3474

We need to make sure public access can be assigned to a node, using updated views and dialogs with angular instead of the old webforms dialog.

It should be 1:1 based on the functionality of the old public access dialog, as rethinking this is not part of the scope for this task at the moment.

[2018-11-22 08:10] clausjensen commented on #3436
@jamescoxhead Hey there :) What's the status on this one? .. is it doable?

[2018-11-22 08:53] kjac commented on #3209
@MarbleDaemon I am utterly unable to reproduce this on the latest codebase.

I have tried:

1. Using an existing Tags datatype.
2. Using a newly created Tags datatype.
3. Reinstalling Umbraco and doing it all over again.
4. Scratching my head.
5. Wearing my lucky hat.

All I see is:

![tags-with-comma-1](https://user-images.githubusercontent.com/7405322/48891547-eb1fa180-ee3b-11e8-8672-5c95abbe122

[2018-11-22 10:14] Dafeg opened #3739 "Umbraco does not update created data type for preview in LeBlender item."
Reproduction
------------

1. Create custom data type in Umbraco.
2. Create LeBlender with created data type in grid editor.
3. Create page and put LeBlender into this page like a new tab.
4. Create this page in tab "Content" and put to LeBlender some data.
5. Save and Publish created page.
6. Delete data type which has been created in step 1.
7. Create same data type according data type which has

[2018-11-22 10:16] Dafeg commented on #3739
Umbraco version - 7.11.1
Thanks!

[2018-11-22 10:29] skttl opened #3740 "When Picking Compositions for a Document Type, show the folder groupings"
Originally from @marcemarc https://issues.umbraco.org/issue/U4-11274

Would love to see this.

[2018-11-22 11:01] warrenbuckley commented on #3730
Hi @aaronpowell
After speaking with @nul800sebastiaan he tells me this

Will close this now as we have the builds updating with a build version and Nuget is all hapy.

[2018-11-22 11:01] #3730 closed

[2018-11-22 11:30] clausjensen opened #3741 "Performance testing of invariant/variant switching"
Need to perform a "manual test" of switching between variant/invariant for a document type when there's a lot of content of that document type.

We do not need exact numbers for this test. It is more a matter of knowing whether we have anything to be concerned about.

Need to test in sites with 1000, 10,000, 20,000, 50,000 nodes of the type that we're switching from variant to invariant and the ot

[2018-11-22 11:45] kjac commented on #3740
This is a really good idea. But given the complexity of compositions (i.e. avoid circular references, can't choose existing compositions etc.), it's not a particular good fit with the existing tree components.

Maybe a means to mend this would be to add a path below the doctype name - along the lines of this?

![image](https://user-images.githubusercontent.com/7405322/48900995-4c536f00-ee54-11e8-8

[2018-11-22 11:47] skttl commented on #3740
Maybe have them divided into sections by folder, then :)

Right now, they are sorted alphabetically, which makes compositions (and other foldered types) scattered all over the list, depending on their names.

[2018-11-22 12:08] kjac commented on #3740
I understand what you're getting at. But I'm pretty sure that for the vast majority of the installs out there, it'd be much easier to find the applicable doctypes when they're sorted alphabetically instead of grouped by some folder structure. On a global scale I assume having so many doctypes is an edge case .

[2018-11-22 13:04] marcemarc commented on #3740
@kjac The idea follows from taking a more atomic approach to document type design, in the move away from inherited document types, towards compositions. To get the real benefits of compositions you break them down into smaller atoms and molecules to compose your document type organisms - but the backoffice 'curating' experience of compositions is very simplistic. (I use pink, and the fragment icon

[2018-11-22 13:46] jamescoxhead commented on #3436
@clausjensen Yes doable, just taking a little longer than I expected. Progress is [here](https://github.com/jamescoxhead/Umbraco-CMS/tree/3436-relations-editor), I've got to finish off the create action (half way done) and the delete action.

[2018-11-22 13:50] dawoe commented on #3726
Hi @Andrei-

Using the config for 404 is actually obsolete.
https://our.umbraco.com/Documentation/Reference/Config/404handlers/

Maybe you can try to implement a content finder for that like is recommended : https://our.umbraco.com/Documentation/Reference/routing/request-pipeline/IContentFinder

If it than still does not work we can dig deeper to see what the issue is

Dave [Community Pull Request

[2018-11-22 14:01] MMasey commented on #3548
PR submitted #3743

[2018-11-22 14:03] prjseal opened #3744 "Style of health check fix description"
The style of the health check fix description looks broken.

![healtch-check](https://i.imgur.com/2jtWpz0.jpg)

I think it should go to the right of the button. I have fixed this and a PR will follow.

[2018-11-22 14:08] kjac commented on #3740
@marcemarc I totally get both the approach and the idea and I'm not at all opposed either.

Just remember that there's also a UX downside to having a tree: When editing the compositions, how can I see which ones are currently selected, if they're hidden inside closed folders... Do we need a list of "currently selected compositions" on top of the tree?

If so, are we really making things simpler in

[2018-11-22 17:38] marcemarc commented on #3740
@kjac yes, tree may not be the best solution, as devs we often express a solution rather than the problem.

So problem is really:
a) distinguishing compositions from document types, when picking them to compose a document type
b) easily seeing which compositions have been selected for a document type, to enable you to remove
and it feels like the problem kicks in when you have to scroll the existi

[2018-11-22 17:56] Andrei- commented on #3726
Hi Dave,

Well, that's a bit of a surprise, I can't find any documentation about 404 config in umbracoSettings being obsolete. The link you pasted says that custom 404 handlers are obsolete, but I don't have any custom 404 handlers. Doesn't say anything about umbracoSettings for 404 page.

Anyway, this sounds like a step backwards, it felt pretty sweet to just provide an id in configs and have the

[2018-11-22 21:47] aaronpowell commented on #3730
@warrenbuckley sounds like I need to open another issue for that then 😜.

[2018-11-22 22:03] kjac commented on #3740
@marcemarc yes and yes. Provided we:

1. Somehow find a way to communicate the complications with existing compositions, circular dependencies and inheritance in the content type picker (i.e. why some content types are unselectable).

2. Find some place to display the currently active compositions. Unless we show them in the first dialog, and then spawn a second dialog to pick the additional compo

[2018-11-22 22:06] kjac commented on #3738
@clausjensen poke me if you want some help on this one. Even if it means I'll have to reimplement the "Single user protection" feature too 😉

[2018-11-23 02:42] MarbleDaemon commented on #3209
Hello @kjac,

Thank you for your help. Here's how this bug occurs in my Umbraco:

![tagerror](https://user-images.githubusercontent.com/4795076/48926804-a52e1080-ef03-11e8-9e91-5e3f2b52a24e.gif)

It doesn't happen all the time, only most of the time. The customer had to stop using comma in their tags and switch to space instead.

With the website already on Live, it might not be possible to change

[2018-11-23 06:05] KajalSawant07 opened #3748 "Login Issues 7.4.0"
Hello,
I faced an issues at time of login. I try my correct credentials and try also by forget Password but they both shows error. It might be bug.
Here is some screenshot.
![login](https://user-images.githubusercontent.com/45280192/48930020-9baca480-ef13-11e8-8455-5d143b789ea3.PNG)
![forgetpassword](https://user-images.githubusercontent.com/45280192/48930023-9e0efe80-ef13-11e8-80aa-b04154f86319.P

[2018-11-23 06:12] KajalSawant07 opened #3749 "Map AutoCorrection at time of Registration in Umbraco."
At time of Registration new User in Umbarco Site. Map AutoCorrection is not working may be you need to add google api which is paid api now.

![image](https://user-images.githubusercontent.com/45280192/48930180-ca774a80-ef14-11e8-886c-1a5bfbf6564b.png)

[2018-11-23 08:22] arknu opened #3750 "When defaultRenderingEngine is WebForms, template editor is broken"
On Umbraco 7.12.4 we have a site that still has WebForms templates (yes, I know, but it has some rather complex usercontrols that we can't get rid of yet). I believe this is still supported in v7.

However, it seems that when the template editor was moved over to Angular, this was only done for Mvc templates. Indeed, the template controller returns paths to the old, WebForms-based template editor

[2018-11-23 09:50] dawoe commented on #3726
You are correct...the documentation is about the handlers. They are obsolete.

Will try to reproduce and will get back to you on how to solve or see it as bug

[2018-11-23 10:47] dawoe commented on #3726
Hi @Andrei-

I did some investigation and I found a workaround for you. The issue is that when you use virtual or custom routes you entirely bypass the umbraco request pipeline. So it does not execute the code for getting the 404 page configured in the settings.

So you can use this code in your routehandler for when the id not matches. It will get the content page based on the id configured in se

[2018-11-23 11:02] genckastrati opened #3751 "Ability to remove old versions + clear logs"
Hi!

Recently while chatting to the awesome Umbraco Support we realized that the database sizes on DEV, Staging and Live differ by sometimes quite large amounts. Turns out that there are a few tables in the DB that contain extra stuff that could possibly be cleaned up to make the databases lighter (and probably the transfers/restores quicker).

So here is the feature request: Backoffice feature to

[2018-11-23 11:03] kjac commented on #3740
@marcemarc let me see if I understand you correctly. You're thinking:

1. List the currently picked compositions in the first dialog (slide-out-panel, call it what you want 😄) with a "Remove" option for each and an "Add" button to add more compositions.
2. The "Add" button triggers a new dialog with the list of applicable compositions and a filter option to narrow down the list of compositions.
3.

[2018-11-23 11:31] skttl commented on #3740
Yes, compositions is a folder. In this have a structure like

- Document Types (the tree)
  - Compositions
  - Grid editor items
    - Forside

Where I have my compositions in the `Compositions` folder, grid editors in `Grid editor items`, specific frontpage grid editor items in `Forside`, and then all the rest in the root of Document Types.

[2018-11-23 12:35] dawoe commented on #3751
Hi @genckastrati

Thanks for submitting this issue. I think this will need input from Umbraco HQ before work can be started on it.

In the mean time I can recommend some packages that you can use to help you do this :
For cleaning up content versions you can use Unversion : https://our.umbraco.com/packages/website-utilities/unversion/

It comes with several config options so be sure to read the do

[2018-11-23 12:40] dawoe commented on #3750
Hi @arknu

Thanks for reporting this issue.  Will try to see if I can reproduce and see if we can fix it for one of the next versions of Umbraco

Dave [Community Pull Request team](https://umbraco.com/blog/introducing-the-new-cpr-team/)

[2018-11-23 12:44] genckastrati commented on #3751
Thank you Dave! Glad to learn there is a package for this. Would be awesome if it were part of the core product too :)

[2018-11-23 12:46] dawoe commented on #3749
Hi @KajalSawant07

Thanks for reporting this issue. But I see it is a issue related to the our.umbraco.com site. There is a seperate repository where you can create issues specific for this site : https://github.com/umbraco/OurUmbraco/issues

So could you create the issue there ? This issue will be closed.

Dave [Community Pull Request team](https://umbraco.com/blog/introducing-the-new-cpr-team/)

[2018-11-23 12:46] #3749 closed

[2018-11-23 13:02] ssougnez opened #3752 "Update editorconfig to not add curly braces around one-liners automatically"
Hello,

people are using different coding styles. For example, some people prefer:

[code]

When others prefer

[code]

Meaning that when someone edit an Umbraco file for a PR, autoformatting the code could lead to overriding one style with another. The main issue with that is it makes merges complicated. Indeed, the comparison screen will spot way more modifications than there actually are when a

[2018-11-23 13:07] dawoe commented on #3752
Hi @ssougnez

Thanks for reporting this issue. There is already a editorconfig file present : https://github.com/umbraco/Umbraco-CMS/blob/dev-v7/.editorconfig

It's only configured for whitespaces and tabs as far as I can see.

I think this will need HQ input so I will label it like that.

Dave [Community Pull Request team](https://umbraco.com/blog/introducing-the-new-cpr-team/)

[2018-11-23 13:10] ssougnez commented on #3752
Wow, really sorry for that. Indeed, while I was editing a file, I auto-formatted it and a bunch of brackets got added making the GIT compare more difficult.

Anyway, the post stays valid, maybe this file should be a bit improved to avoid this because when I look at it, it looks like the bare minimum configuration.

[2018-11-23 13:18] dawoe commented on #3739
Hi @Dafeg

Thanks for the creating the issue. But I think it is not Umbraco cms related but to Leblender.
So it's better to create a post at their support forum on our : https://our.umbraco.com/packages/backoffice-extensions/leblender/bug-reports/

So I will close this issue. Feel free to re-open it if your discussion on our results in it being a Umbraco
bug.

Dave [Community Pull Request team](ht

[2018-11-23 13:18] #3739 closed

[2018-11-23 13:30] kjac commented on #3740
@marcemarc what's your take on @skttl's suggestion?

[2018-11-23 13:35] ssougnez opened #3753 "Reduce the dependencies on web.config for installation/upgrade"
Hello,

I did a lot of research on Google/SO/GitHub to see how to handle the situation this issue is aiming to fix and I didn't find anything else than "it's currently not possible/supported". When deploying a new Umbraco site (on-premise), the "web.config" needs to be carefully managed. Indeed, at the first installation, the "umbracoDbDSN" connection string and the "umbracoConfigurationStatus" ap

[2018-11-23 13:45] clausjensen commented on #3738
@kjac Help is always appreciated as it allows us to work on some of the many other things we have to do 😄

For 8.0 we want to go for a 1:1 conversion of what the current functionality is even though we know it is broken. We simply want something to work - without having to resort to webforms as it was before. Redoing the single user protection thing would be after the initial release .. I agree it

[2018-11-23 13:46] clausjensen commented on #3738
There's btw a task for the C# parts of this issue as it will require some endpoints to do this in angular instead of the old stuff that worked via webforms:
https://github.com/umbraco/Umbraco-CMS/issues/3737

[2018-11-23 13:57] kjac commented on #3738
@clausjensen I'll have a look at both - they kinda go together.

[2018-11-23 13:58] kjac commented on #3737
I'll pick this up along with #3738

[2018-11-23 14:59] marcemarc commented on #3740
@kjac it's definitely an improvement!

If we consider the two journeys and the problems...
a) we can find easily any 'compositions' folder that contains the compositions that someone might have to pick, if no folders exist the fallback is the same as what we have
b) At first it doesn't necessarily seem like an improvement on easily seeing which compositions are picked... however if someone is usin

[2018-11-25 10:16] kjac commented on #3738
@clausjensen OK I've got role based public access working 😄 and I've got an idea for user based access that might turn it into a really useful feature. I'll get back to you on that. In the mean time, here are some demos of the functionality so far:

### Add protection

![public-access-angular-1](https://user-images.githubusercontent.com/7405322/48977874-57e8a500-f0a3-11e8-8f83-30a6f50af6e3.gif)

#

[2018-11-25 21:12] kjac commented on #3740
It's definitively doable:

![compositions-grouping-demo-1](https://user-images.githubusercontent.com/7405322/48984661-e8080800-f0fe-11e8-8c07-dd801a0cc6b6.gif)

Before I start ironing out all the kinks, maybe @nul800sebastiaan should have a look at the proposed solution?

[2018-11-25 23:55] marcemarc opened #3758 "AuditRepository GetPagedResultsByQuery returns LogEntry Primary Key ID Instead of EntityId"
The AuditRepository's GetPagedResultsByQuery returns an IEnumerable of IAuditItems without referencing correctly the entity they are referencing.

Have a look at these lines from the method:

    // Get page of results and total count
            var pagedResult = Database.Page<LogDto>(pageIndex + 1, pageSize, translatedQuery);
            totalRecords = pagedResult.TotalItems;

            var pa

[2018-11-26 06:37] Shazwazza commented on #3531
This task is part of a larger PR for other Examine changes, but it could be reviewed based on what is already done.

https://github.com/umbraco/Umbraco-CMS/pull/3760

A property editor now exposes another object of type `IValueIndexer`. A default one is implemented which just returns the property alias and the property value but there are a couple special implementations: `GridValueIndexer` and `R

[2018-11-26 10:36] nul800sebastiaan commented on #3753
That was a veeeeeeerry long description to say:

If a connection string is set in the web.config, check if the Umbraco tables are installed, if they aren't installed then show the installer screen.

Did I get that correctly? :-)

[2018-11-26 10:50] ssougnez commented on #3753
That's a veeeeeeeeeery nice way to summarize it.

I wrote this very long description because I suspect that changing the way the Umbraco installation performs might be a bit touchy but I think that the proposal is valid and wanted to precisely explain why I think it is necessary :-D

[2018-11-26 11:08] nul800sebastiaan commented on #3753
The only touchy thing here is that you added curly braces for `if` statements with just one line of code under them.. 😉

Yes, changes to how the installer detects things are difficult since the way it works currently has been carefully... curated (_**cough** set up after numerous bad experiences and facepalms **cough**_). But this seems okay, even if I don't know the whole story then it seems fine

[2018-11-26 11:12] ssougnez commented on #3753
Ha ha ha, for your first comment, take a look in here : https://github.com/umbraco/Umbraco-CMS/issues/3752 :-) I also noticed this coding style change but it is because the way my Visual Studio is configured, which is why I proposed to improve the .editorconfig file to avoid this ;-)

Let me know the feedback from Umbraco Cloud :-)

Thanks

[2018-11-26 11:15] PeterBridgerZone opened #3763 "Media picker: Required fields not enforced when media is uploaded inline"
A brief description of the issue goes here.

Reproduction
------------

If you're filing a bug, please describe how to reproduce it. Include as much
relevant information as possible, such as:

### Bug summary

It is possible to setup a Media Type with a required field. This is correctly enforced when media is then uploaded within the media section.

However when media is uploaded inline using the

[2018-11-26 12:57] arknu commented on #3142
@nul800sebastiaan Shouldn't this issue be marked as closed?

[2018-11-26 13:20] RobertCopilau commented on #3724
Everything works just fine.

My only gripe is that the empty drop-down selection has a squashed button in the query builder overlay.
![squashed empty dropdown.jpg](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5b151a952d7cd20011c4533d/125516c66e82c728ace21e0d46fb858f22918bac8ba9ba4eb449e9d42d5428632d0bb42532c9a138ad4d71040c1b5ca6535d0d11fead8e28a3e26a7489590bedd06c5a71933445f

[2018-11-26 13:26] RobertCopilau opened #3765 "Squashed drop-down empty selection in template query builder"
It seems that when there is nothing selected on the dropdown, the empty selection is squashed, which looks out of place.
It would be nice to have the same height as other dropdowns that have an item selected :).
![squashed empty dropdown.jpg](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5b151a952d7cd20011c4533d/125516c66e82c728ace21e0d46fb858f22918bac8ba9ba4eb449e9d42d542863

[2018-11-26 13:37] RobertCopilau commented on #3758
Hey @marcemarc, thanks for the great issue report :D.
The issue has been fixed here -> https://github.com/umbraco/Umbraco-CMS/pull/3759, therefore, I will be closing this.

[2018-11-26 13:37] #3758 closed

[2018-11-26 13:59] #3724 closed

[2018-11-26 14:15] PeterBridgerZone commented on #3763
In this particular scenario, the client is requesting that we make the alt text a required field on images.

So it's a textstring property.

[2018-11-26 14:19] madsrasmussen opened #3767 "Remove bootstrap slider"
Bootstrap slider needs to be changed to a slider with no dependency on bootstrap or jquery. We have chosen nouislider (https://refreshless.com/nouislider/) as the new slider for Umbraco.

We need to update the slider property editor to use the new slider instead.

[2018-11-26 14:42] madsrasmussen commented on #3767
PR: https://github.com/umbraco/Umbraco-CMS/pull/3723

The PR removes all files related to bootstrap slider and updates the property editor to use the new slider plugin instead. The PR also cleans up the slider prevalues and tries to add some best practices for sliders so configuration isn't overwhelming when you open the configuration and so the UX is as good a possible for the build in slider. If

[2018-11-26 16:13] #3142 closed

[2018-11-26 18:46] BatJan commented on #3225
@nul800sebastiaan Thank you for the official update on this PR :-)

Please let me know if I can provide further assistant when a decision has been made. My initial thoughts about styling the radio and checkboxes was that I find the default browser ones a bit dull and boring but I understand HQ's reasoning for postponing the suggested change. I can see how it can seem a bit big all of the sudden an

[2018-11-26 19:40] kjac commented on #3765
@RobertCopilau must be some browser specific issue? It looks fine to me on both Chrome and Firefox:

![image](https://user-images.githubusercontent.com/7405322/49037805-835eb300-f1bb-11e8-92c8-6a584f87b87d.png)

[2018-11-26 20:27] madsrasmussen opened #3768 "List view is missing expand option in content pickers"

[2018-11-26 20:50] kjac opened #3769 "Add "Move" to trashed items"
When you move a child node to trash and then subsequently moves its parent to trash, the child can no longer be restored, because the original parent is in the trash. And if the parent has been deleted explicitly from the trash, the child can never be restored.

Since we rely on editors being able to move things around in the tree, wouldn't it be reasonable to rewrite the restore functionality to

[2018-11-27 04:35] Shazwazza commented on #3727
What's odd is that there was some work involved with making it all FIPS compliant including the gravatar stuff, i guess at some point a change was made to undo that :( good catch and thanks!

[2018-11-27 07:41] emanuelb opened #3775 "HTTP links/URIs in EmbeddedMedia.config files"
The _EmbeddedMedia.Release.config_ and _EmbeddedMedia.config_ files in: Umbraco-CMS/src/Umbraco.Web.UI/config/
https://github.com/umbraco/Umbraco-CMS/blob/master/src/Umbraco.Web.UI/config/EmbeddedMedia.Release.config
https://github.com/umbraco/Umbraco-CMS/blob/master/src/Umbraco.Web.UI/config/EmbeddedMedia.config

Contain the below HTTP links that are located on servers that support HTTPS as well:

[2018-11-27 08:27] dsbaiz opened #3776 "Extra configuration parameter for date property editor: UseCurrent"
Is it possible to add an extra configuration parameter to the Date Property editor: UseCurrent.
Currently the UseCurrent parameter of the bootstrap datepicker is always set to true in code.
It would be nice if the user had the choice to automatically fill the current date on click, or keep the date editor empty on click so they can start typing the current date manually.

[2018-11-27 08:36] RobertCopilau commented on #3767
It works!
Merging.

[2018-11-27 08:39] madsrasmussen opened #3777 "When a node is opened through content picker don't allow editing doc type and template"
To keep every simple and focused we want to prevent editing the doctype and template when a node is opened through a content picker.

The main actions, in this case, will often be to verify/update content.

[2018-11-27 08:49] nul800sebastiaan commented on #3740
Thanks, good discussion so far! I'll need to gather some feedback from HQ before you move on indeed. We'll get back to you!

[2018-11-27 08:51] #3767 closed

[2018-11-27 09:03] madsrasmussen commented on #3777
PR: https://github.com/umbraco/Umbraco-CMS/pull/3778

How to test:
- Create a node with a content picker. Make sure to enable the "Allow open" feature on the content picker. Go to the node and select a couple of other nodes.
- [ ]  Click on the open button on the selected node. Make sure you can't edit the doctype and template on the "info"-app.
- [ ] Make sure you can still edit the doctype and t

[2018-11-27 09:17] nul800sebastiaan commented on #3752
Hey @ssougnez - the reason we don't have an elaborate editorconfig file is that we don't want to "force" all that many things, to make it easier to contribute. I am more than happy to revert some changes people's Visual Studio makes.

However, if there's a rule that says: when auto-formatting, don't auto-add curlies everywhere then that would be great.

Is that possible? Can you create a PR for th

[2018-11-27 09:34] nul800sebastiaan commented on #3765
@RobertCopilau I think you mentioned our own Kenneth instead of @kjac there! 😉

[2018-11-27 09:37] nul800sebastiaan commented on #3775
I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2018-11-27 09:37] enkelmedia commented on #3704
@nul800sebastiaan Well your example is fixed by the PR that I've sent since it would change the label of the button to "Insert" or "Update" for a links and "Select" for a content/media-picker.

For me personally I don't have a super strong opinion reg. if the default should be "Submit", "Continue" or "Select". My only concern is that the umb-overlay might be used in packages and scenarios where th

[2018-11-27 09:37] RobertCopilau opened #3779 "Add dirty tracking for slider and dateTime picker"
Currently, the slider and DateTime properties do not mark the form as dirty when their values change.
That, however, should change.

<h4>How to reproduce</h4>

* Create a document type and add only sliders and date time editors
* Create a node based on that doc type and add some content to the properties
* Without saving, click away from the current editor, no "Discard change" pop-up will be prese

[2018-11-27 09:38] RobertCopilau commented on #3765
Oops :D

[2018-11-27 09:39] nul800sebastiaan commented on #3776
I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2018-11-27 09:41] nul800sebastiaan commented on #3704
I don't have a super strong opinion either, but as I don't have an example of where this might be a problem, I am unable to form an opinion.. ;-)

Hope @abjerner has a good usecase.

[2018-11-27 10:18] warrenbuckley commented on #3593
All good @zpqrtbnk merging this in :)

[2018-11-27 10:18] #3593 closed

[2018-11-27 10:25] stevetemple opened #3780 "Make Examine loosely coupled"
Currently both the Core and the Web projects reference Examine directly. Ideally these would reference something like a ISearchManager  and/or ISearchService. Then all functionality directly dealing with Examine would happen through these interfaces. Things like UmbracoTreeSearcher should then become something like IUmbracoTreeSearcher with an ExamineUmbracoTreeSearcher implementation.

This would

[2018-11-27 10:41] RobertCopilau commented on #3777
Code looks good and it works.
Merging.

[2018-11-27 10:41] #3777 closed

[2018-11-27 11:20] lars-erik commented on #3593
@JimBobSquarePants I'm sure auto-registering will be revisited. Ref. current probs with the ms.di adapter & scrutor. ;)

[2018-11-27 11:55] ssougnez commented on #3752
Yep, there is a setting for that. I'll make a PR in the upcoming days with that and I'll have a look at other settings to see if it makes sense to apply them. I agree with the fact of not being a stylecop, which is why I mainly took the curly brackets as an example ;-)

[2018-11-27 12:39] Shazwazza commented on #3780
Yes, i have my own fork that does much of this and i have a prototype with Examine and Umbraco running against Azure Search. That said it is quite a huge amount of work due to maintaining compatibility.

I am working on the v8 + Examine integration now and I plan on making this happen but this will probably not become a reality for v7 at this stage.

I'll close this now since it's part of the work

[2018-11-27 12:39] #3780 closed

[2018-11-27 12:41] Shazwazza commented on #3780
Also note - Examine IS an abstraction, it is extremely hard to make a search service that supports all of the aspects of search we need without a larger abstraction like Examine.

There is already ISearchableTree in v7 which you can plug and replace to change the back office search (this is not list view search since that is database driven at the moment).

[2018-11-27 13:44] Shazwazza commented on #3780
The LuceneIndexer is tightly coupled but it's based off of IIndexer, the problem with Umbraco is that it is coupled to the LuceneIndexer not the IIndexer or a similar abstraction.

Parts of Umbraco might still be coupled to Lucene Syntax (but maybe not, well see) but Examine providers for Azure Search and Elastic Search can 'just work' with that syntax which means people can still use Examine's Fl

[2018-11-27 13:50] madsrasmussen commented on #3110
PR: https://github.com/umbraco/Umbraco-CMS/pull/3783

The PR fixes the event when the doctype is saved so the content node now refreshes.

I have also added a prompt if there are any changes on the node before opening the doc type editor so you won't accidentally lose any content changes.

How to test:
- [ ] Make sure you can open the doc type editor from a node's "info"-app
- [ ] Make sure the no

[2018-11-27 13:55] madsrasmussen commented on #3738
Hi @kjac,

First of all, that looks amazing! A couple of smaller changes I would like to suggest.
- We shouldn't use toggles for selection. I think they should be swapped with regular checkboxes.
- I think we should put the label and add button on separate lines, so they aren't horizontally aligned.
- The tree picker still feels weird opening up on the other side of the screen, but I think that is

[2018-11-27 19:50] kjac commented on #3738
@madsrasmussen although I understand your point, I'm not entirely sure checkboxes are as visually pleasing in this case.

Also, moving the "Add" button to a separate line potentially introduces a pretty big distance between the node name and the "Remove" link when a page is chosen?

![image](https://user-images.githubusercontent.com/7405322/49107244-7b6b4580-f285-11e8-8844-85c8acfb112b.png)

[2018-11-27 19:56] madsrasmussen commented on #3738
I think the checkboxes work a lot better. I would position them on the left side of the label and make the label normal font weight though.

The problem with the remove button is a general problem throughout the back office. We will need to think of a solution that will work everywhere so I am not super duper concerned about that one right now (even though you are right).

[2018-11-27 20:23] #3317 closed

[2018-11-27 20:30] #3727 closed

[2018-11-27 20:38] kjac commented on #3738
@madsrasmussen 👍 I'll have a look at it. Once we're satisfied with the groups/roles dialog, we can address the single user dialog.

[2018-11-27 20:39] #3719 closed

[2018-11-27 20:39] nul800sebastiaan commented on #3719
Note: this will also be fixed in v8 once it's merged up.

[2018-11-27 21:20] #3705 closed

[2018-11-27 21:30] #3628 closed

[2018-11-27 21:35] #3601 closed

[2018-11-27 21:39] #3633 closed

[2018-11-27 21:42] nul800sebastiaan commented on #3017
We'll need to discuss the proposed solution at HQ as it seems a bit much to add 3 database queries to each request. We'll get back to you!

[2018-11-27 21:56] #2994 closed

[2018-11-27 22:04] #3577 closed

[2018-11-27 22:34] nul800sebastiaan commented on #3562
@madsrasmussen Maybe it's better to fix these errors though?

[2018-11-27 22:36] #3500 closed

[2018-11-27 22:40] #3506 closed

[2018-11-27 22:46] nul800sebastiaan commented on #3421
Closed as it is no longer relevant (see #3485).

[2018-11-27 22:46] #3421 closed

[2018-11-27 22:49] #3565 closed

[2018-11-27 22:51] nul800sebastiaan commented on #3765
Fixed in #3784

[2018-11-27 22:51] #3765 closed

[2018-11-28 03:33] Shazwazza commented on #3532
This task is part of a larger PR for other Examine changes, but it could be reviewed based on what is already done.

https://github.com/umbraco/Umbraco-CMS/pull/3760

Examine's `IIndexer` interface has been simplified (see: https://github.com/Shazwazza/Examine/blob/v1.0/src/Examine/IIndexer.cs) , it doesn't contain any logic for rebuilding or for data sources, etc... All it does is index what it i

[2018-11-28 06:55] kjac commented on #3017
@nul800sebastiaan one possible solution is to add something like `IsMemberValid(string username)` on `MemberService`. The backdraw of that solution (apart from the extra method) is that it'll explicitly perform an extra roundtrip to the DB, whereas the extra roundtrips in proposed solution are likely to happen anyway later on in the request.

[2018-11-28 07:00] Shazwazza commented on #3017
Important to note that this doesn't add 3 db queries to *every* request, only if the node is actually a protected node and only if the member is logged in and has access to it

[2018-11-28 07:06] kjac commented on #3017
@Shazwazza yep, good point.

[2018-11-28 07:07] nul800sebastiaan commented on #3017
Yeah, so imagine I run an intranet, with all pages being protected nodes.. 😉

[2018-11-28 07:41] Shazwazza commented on #3017
Perfect :) well then like you mentioned, it's generally not going to be extra overhead. I'd imagine the vast majority of protected pages that exist will lookup the current members info (i.e. to show logon info, avatar, profile, etc...)

[2018-11-28 07:51] kjac commented on #3779
I've got this working for the slider... will have a look at the datetime picker later.

![slider-set-dirty](https://user-images.githubusercontent.com/7405322/49136705-c4a1b080-f2ea-11e8-8988-5e3873d0aaa7.gif)

[2018-11-28 07:52] kjac commented on #3017
My thoughts exactly. But it's that very assumption you guys at HQ need to give the thumbs up on for the proposed solution to work 😄

[2018-11-28 08:01] nul800sebastiaan commented on #3017
Ah, I missed that little detail. So we need to make sure the cached member data is invalidated once you change the member's data/status, but I assume that's done anyway.

In which case, this seems like a fine solution we can test and eventually merge!

[2018-11-28 08:02] Shazwazza commented on #3017
This is only a request based cache, just so that we don't double up on SQL in the same request, so the cache invalidation isn't an issue - it's been like this all along :)

[2018-11-28 08:17] nul800sebastiaan commented on #3225
@BatJan Maybe you can get some inspiration from Microsoft, in Azure DevOps we have this for checkboxes:

![image](https://user-images.githubusercontent.com/304656/49137958-362f2e00-f2ee-11e8-9122-1e53be0ac674.png)

And for radio buttons:

![image](https://user-images.githubusercontent.com/304656/49137972-3e876900-f2ee-11e8-9de7-76368febca47.png)

I like that when radio buttons are not selected, th

[2018-11-28 08:36] nikola187erz opened #3785 "no Item added to the history on the first action on a content"
When doing an action e.g. a "save and publish" on the content for the first time, no item is added to the history under the info tab.

### Bug summary
When doing a action e.g a "save and publish" on a item for the first time on a content, no publish date is generated neither added to the "history" under the "info" tab. If you look at the audit of a post with the e.g.

`var auditItems = Application

[2018-11-28 08:45] madsrasmussen commented on #3738
I am pretty happy with that 👍 🎉 Keep on rolling!

[2018-11-28 09:17] madsrasmussen commented on #3651
PR: https://github.com/umbraco/Umbraco-CMS/pull/3786

I have added an overlay to the tree which dims it the same way as the rest of the editor. It gives more focus to dialog that just opened.

How to test:
- [ ] Test a functionality that opens an infinite editing window and make sure the tree is dimmed the same way as the editor. (add property to doc type, add media to media picker, change doc typ

[2018-11-28 09:36] nul800sebastiaan commented on #3785
Ah, strange.. I can reproduce this.

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2018-11-28 09:55] madsrasmussen opened #3787 "Macro partial snippets shouldn't rely on javascript libraries used for the back office"
Currently, we have Macro partial snippets that include jquery, jquery-validation, and jquery-validation-unobtrusive loaded from the Umbraco/Lib/ folder.

We shouldn't have any dependencies from MVC views on files from the back office. We should instead add code recommendations to include the validation libraries the developer wants.

With the current solution, we can't upgrade back office librarie

[2018-11-28 10:21] madsrasmussen commented on #3562
Do you have eslint installed globally? It looks like it is using a global config instead of the local one for Umbraco. I think our eslint config is very very tiny right now. I actually think we only have one rule for comma dangles :) We will add more rules as we move forward so we don't break the entire code base in one go.

[2018-11-28 11:40] kjac commented on #3779
PR in #3788

[2018-11-28 13:07] kjac commented on #3738
@madsrasmussen cool 😄 As for the "single user protection" dialog... wouldn't it be nicer to use a member picker instead of entering username/password of a new user?

It'd be much more transparent and in line with the rest of the UX. Not to mention preventing a myriad of bugs and less-than-optimal scenarios. And if/when infinite editing includes members, it'll be possible to create a new user that

[2018-11-28 15:10] nul800sebastiaan commented on #3785
Fixed in: https://github.com/umbraco/Umbraco-CMS/pull/3789

[2018-11-28 15:10] #3785 closed

[2018-11-28 15:19] #2952 closed

[2018-11-28 17:25] minorum opened #3790 "ctrl+c on rich text editor sets control dirty"
### Bug summary

Ctrl+C in Rich Text Editor sets the control dirty and when you want to leave the content item you get to see warning about unsaved changes.

### Specifics

Umbraco version: 7.12.2
Browser: Checked Chrome and IE11, but most likely happens on any

The bug occurs on content items with RTE property editor. The control is set dirty on the KeyUp event in RTEController:
https://github.co

[2018-11-28 19:13] nul800sebastiaan commented on #3225
Yep green is great! It's fine to update the original PR, we can just squash the changes. Note: I still have this open for discussion at HQ soon, so this is just me making up stuff, I haven't heard back if it's something wel actually want, but it helps to have examples and inspiration. :-)

[2018-11-28 20:24] madsrasmussen opened #3793 "Upgrade jquery to latest"

[2018-11-28 20:32] madsrasmussen commented on #3793
PR: https://github.com/umbraco/Umbraco-CMS/pull/3792

I have upgraded jquery to latest version. My approach was to install jquery migrate and check for any broken stuff. Everything seemed to still work fine after the upgrade but we got a bunch of depricated api's that they recommended moving away from. I have updated the code so we no longer use these in our own code. We still have plugins using t

[2018-11-28 21:01] kjac commented on #3776
PR in #3794

[2018-11-28 21:13] Andrei- commented on #3726
Hi Dave,

Great, thank you, your last comment helped nicely, I got it working. I guess the missing piece in my puzzle was how to serve the 404 page in my virtual node handler.
And I don't have a custom controller for this, I use the default umbraco controller, called RenderMvc (I think).
So in case I don't find a 'product', I return 404 page as content and change the route action to match 404 page

[2018-11-28 23:39] Shazwazza commented on #3752
Hi all,

please know that in v8 this config file contains far more settings so please be mindful of that since we'll need to merge any changes from v7 -> v8 , see https://github.com/umbraco/Umbraco-CMS/blob/temp8/.editorconfig

[2018-11-29 03:05] ssougnez commented on #3752
Hi,

Just had a look at it and the diff is just about one new line (not contained in the v8 one) so the merge should not be a problem ;-)

[2018-11-29 09:04] dawoe commented on #3793
Hi @madsrasmussen

Where is jQuery being used  in the backoffice ?. And the question is do we still need it ? Most things can be done with plain javascript nowadays.

Dave

[2018-11-29 09:45] dawoe commented on #3122
Hi @Swimburger

Sorry for the late reply on this one. It seems there is a similar issue being created since you created this one where a discussion is going on #3186

So I will close this one as it is a duplicate

Dave [Community Pull Request team](https://umbraco.com/blog/introducing-the-new-cpr-team/)

[2018-11-29 09:45] #3122 closed

[2018-11-29 11:14] ronaldbarendse opened #3796 "GetApplicationTrees throws exception after updating to MVC/Web API 5.2.7"
Microsoft just released a minor update for [MVC 5 and Web API](https://github.com/aspnet/AspNetWebStack), but after updating from (NuGet version) 5.2.6 to 5.2.7, the following exception occurs when requesting `GET /umbraco/backoffice/UmbracoTrees/ApplicationTree/GetApplicationTrees?application=content&tree=&isDialog=false`, making the back-office unusable:

[code]

The request itself returns a `41

[2018-11-29 11:20] danbramall opened #3797 "Add optional sender name in umbracoSettings.config email settings"
In umbracoSettings.config it's possible to add an email address which acts as the sending email for transactional notifications (password reminder etc).  I can't see a way currently to specify a sender name along with the email though.  It looks as if the sender name is just taken as the first part of the email address (e.g. everything before @).

It would be great to be able to specify both email

[2018-11-29 11:42] madsrasmussen opened #3799 "Upgrade client dependencies"
We need to get the last client side dependecies upgraded that has been yet.

[2018-11-29 13:24] PeteDuncanson opened #3800 "Can't empty recycle bin due to Foreign Key constraints"
This seems to be this old issue https://issues.umbraco.org/issue/U4-2165 rearing its ugly head again. This is happening on a V7 build (originally 7.4 but upgraded to 7.9 I believe).

I could remove the constraints and try to empty the recycle bin and then re-add them but I'm concerned as to why this might still be happening, clearly something is being allowed to get into an unknown state hence the

[2018-11-29 13:34] pa-sr opened #3801 "Umbraco forms and accessibility"
We are in the process of making sure that our site is WCAG2 compliant and one of the errors that we are seeing is in umbraco forms.
The errors being thrown are all the same across all umbraco forms
1. Input field has no description
2.Text area has no description
3. Label is not connected to a form control

Reproduction
------------

Create a new Form in the Umbraco backoffice, or open an existing

[2018-11-29 14:18] madsrasmussen commented on #3799
Review and merge PR for #3793 before this PR. This PR is build on top of that one.

PR: https://github.com/umbraco/Umbraco-CMS/pull/3798

I have upgraded the following packages to the latest version
* ace-builds
* angular-ui-sortable
* bootstrap-social
* clipboard
* diff
* moment
* signalr
* spectrum-colorpicker
* tinymce
* typeahead.js

The PR also removes the moment libraries which include local

[2018-11-29 14:20] madsrasmussen commented on #3793
We still use it quite a lot and we still use a couple of libraries that are dependant on jQuery. We are working towards getting it removed but it won't be today 😃Now it is the latest version at least.

[2018-11-29 14:22] dawoe commented on #3793
Would be nice to have some clean  up done.

Will keep an eye out if I work on something that uses jQuery and can be replaced by vanilla js I will update it

[2018-11-29 14:33] ronaldbarendse opened #3802 "Disabling URL tracker also disables redirects"
The built-in automatic redirects can be disabled (using the 'Disable URL tracker' button that updates `web.routing@disableRedirectUrlTracking` value in umbracoSettings.config). This can come in handly when you want to change some URLs without creating automatic redirects. But while the URL tracking is disabled, the existing redirects aren't redirected anymore (and will return 404s).

Also, the `Re

[2018-11-29 15:01] Swimburger commented on #3122
No problem, great to see it's being looked at!

[2018-11-29 15:34] jvtroyen commented on #3663
#3661 seems missing?

[2018-11-29 16:50] chrno1209 commented on #3796
I am having the same issue, had to rollback web-api to v5.2.6

[2018-11-29 19:32] kjac commented on #3797
Hey @danbramall. You can do that already with the current config. It works just like the `from` attribute on the `smtp` configuration in `web.config`; you just need to specify the sender name first, followed by the email in XML-encoded `<>` - like so:

[code]

This should give you an email looking something like this:

![image](https://user-images.githubusercontent.com/7405322/49246490-57d70500-f4

[2018-11-29 19:44] kjac commented on #3797
PR in #3804

[2018-11-29 23:12] Shazwazza commented on #3796
Thanks, we'll need to investigate. We have had to make fixes almost every time they release a new version due to some of the proxying we do between controllers.

[2018-11-30 01:06] Shazwazza opened #3805 "Fix ISearchableTree in v8"
Ensure ISearchableTree is working and used in the back office

(will be part of PR https://github.com/umbraco/Umbraco-CMS/pull/3852)

child of #3530

[2018-11-30 08:58] jvtroyen commented on #3663
@clausjensen, unless I'm missing something glaringly obvious, the link to #3661 yields an error (or I don't have access?). I was looking for existing issues/bugs/fixes in regards to Language Fallback in v8.

[2018-11-30 09:57] nul800sebastiaan commented on #3802
Yes, when you disable the URL Tracker it does exactly what it says: it disables all of it. But sure, the dashboard could do with a good UX update.

Only admins can use the Disable button so that is not a concern (this gets checked server-side in `ToggleUrlTracker`).

We're working towards a solution where admins and possibly editors can remove redirects on nodes themselves (make sure to chime in w

[2018-11-30 09:57] #3802 closed

[2018-11-30 10:22] danbramall commented on #3797
@kjac Awesome, thanks! :)

[2018-11-30 10:33] nul800sebastiaan commented on #3800
Yeah, that sounds super annoying.

Agreed. This IS an exception, in the true sense of the word. Most people don't have this problem. It would be absolutely great if you could send over at least the database schema so that we can see what is wrong with it.

You didn't specify, are you emptying the media recycle bin?

[2018-11-30 10:40] nul800sebastiaan commented on #3796
Sounds annoying!

For now, clearly, you won't be able to upgrade this dependency.

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2018-11-30 11:00] ronaldbarendse commented on #3796
@nul800sebastiaan Maybe the next `UmbracoCms` NuGet package/version can restrict the versions to 5.2.6, so they can't be updated untill the issue is fixed in a newer version (that removes the restriction again)?

As a workaround, the packages can be restricted by setting `allowedVersions` in the project `packages.config`, e.g.:
[code]

[2018-11-30 12:36] nul800sebastiaan commented on #3796
@ronaldbarendse That's not an option, then we'd be limiting people to an exact version forever (or at least for the lifetime of this install). That's a workaround, a true fix is needed for this at some point.

[2018-11-30 15:33] zpqrtbnk commented on #3675
PR https://github.com/umbraco/Umbraco-CMS/pull/3807

is also for all tasks that depend on that one

test:  all tests should be green, should be possible to create both invariant and variant tags, and have them work correctly including autocomplete etc

same tag group should be usable in variant and invariant scenario without collisions

[2018-11-30 15:44] zpqrtbnk commented on #3677
See #3675 for PR and review

[2018-11-30 15:44] zpqrtbnk commented on #3676
See #3675 for PR and review

[2018-11-30 15:44] zpqrtbnk commented on #3678
See #3675 for PR and review

[2018-11-30 15:46] zpqrtbnk opened #3808 "Tags with variants - changing variation"
When changing the variation of a content type or a property type, tags must follow (same as properties) - the property *values* already do but *not* the tags table & relations

child of #3674

[2018-11-30 16:36] mortenbock commented on #3780
@Shazwazza I posted some thoughts on Our before finding this issue.

https://our.umbraco.com/forum/contributing-to-umbraco-cms//94836-provider-model-for-search-and-indexing

Is there a way to help on this, or maybe to start implementing an early Elasticsearch provider in order to give feedback on the interface?

[2018-12-01 12:01] kjac commented on #3787
PR in #3810

[2018-12-01 15:06] janvanhelvoort opened #3811 "V8 - Event stream 3.3.6"
Event-stream 3.3.6 is removed from NPM, something due crypto mining. [Link](https://github.com/dominictarr/event-stream/issues/116)
But inside the package-lock.json from `Umbraco.Web.UI.Client` there is a reference to this package.

Reproduction
------------

inside the `Umbraco.Web.UI.Client` project folder: command: `npm install`

`404 Not Found: event-stream@https://registry.npmjs.org/event-str

[2018-12-01 15:10] janvanhelvoort commented on #3811
possible solutions:

- Temporary remove `package-lock.json` from repository and re-add it when v8 is ready?
- Remove `package-lock.json` local, run `npm install` and check in the new generates `package-lock.json`, but there are a lot more changed dependencies?

Workaround local for now, remove `package-lock.json` local for now and run `npm i`

[2018-12-02 12:58] kjac commented on #3115
PR in #3812

[2018-12-03 08:50] nul800sebastiaan commented on #3562
Since this fix only affects VS and not the gulp setup, this seems fine to add, I'll merge.

[2018-12-03 08:50] #3562 closed

[2018-12-03 09:01] madsrasmussen opened #3816 "Upgrade dev-dependencies"
Upgrade all dev-dependencies to the latest version.

I haven't upgraded gulp to v4. It broke our docs build so I have left it out for now.

PR: https://github.com/umbraco/Umbraco-CMS/pull/3815

[2018-12-03 09:16] warrenbuckley commented on #3110
All fixed & merged

[2018-12-03 09:16] #3110 closed

[2018-12-03 09:22] warrenbuckley commented on #3651
ALl looks good & tested with Mads on a call

[2018-12-03 09:22] #3651 closed

[2018-12-03 09:35] warrenbuckley commented on #3793
Tested & all happy. If we run into any problems then we will fix them along the way

[2018-12-03 09:35] #3793 closed

[2018-12-03 09:51] bjarnef opened #3817 "Include grid render template for Bootstrap 4"
In Umbraco v7 it has been shipped with a grid render template for Bootstrap v2 and v3. Since Boostrap 4 now is available, should we add a grid render for Boostrap 4?
https://github.com/umbraco/Umbraco-CMS/tree/temp8/src/Umbraco.Web.UI/Views/Partials/Grid

Also consider it we still need to ship Umbraco with Bootstrap v2 template.

[2018-12-03 10:00] nul800sebastiaan commented on #3801
Hi @pa-sr - while it is possible our current themes are not fully compliant, you are able to build your own themes and that's what we recommend for now.

Documentation about this lives here:
https://our.umbraco.com/documentation/Add-ons/UmbracoForms/Developer/Themes/

[2018-12-03 10:00] #3801 closed

[2018-12-03 10:07] warrenbuckley commented on #3799
All tested & happy :)

[2018-12-03 10:07] #3799 closed

[2018-12-03 11:19] warrenbuckley commented on #3816
`gulp build` `gulp dev` and gulp docserve` all work fine and the Powershell build script is still happy.

All good :)

[2018-12-03 11:20] #3816 closed

[2018-12-03 17:14] nul800sebastiaan commented on #3216
Hi @skttl - we have definitely heard this idea before and I had to check with the team why we never added this workflow. There's two main reasons:

1. In UX terms, this gets confusing very quickly - okay, you have link children and you also have linked parents, it gets difficult to see what exactly is linked to what. We think, however, that this is a great oppertunity for making a package to get a

[2018-12-03 17:14] #3216 closed

[2018-12-03 17:18] nul800sebastiaan commented on #3318
Thanks Stephan!

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2018-12-03 17:45] #2905 closed

[2018-12-03 17:46] nul800sebastiaan commented on #3267
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/3507

[2018-12-03 17:46] #3267 closed

[2018-12-03 17:49] nul800sebastiaan commented on #3353
Thanks for the idea @skttl - after a chat at HQ we concluded that yes, your concern is legitimate and the good news is that we've worked on easily providing any property editor as a grid editor. You can follow (or help) the progress in this branch for "The Grid v2".

https://github.com/umbraco/Umbraco-CMS/tree/temp8-grid2

[2018-12-03 17:49] #3353 closed

[2018-12-04 07:28] zpqrtbnk opened #3821 "Tags are Completely Broken (TM)"
child of #3674

Tags... have issues. The property value part is good, but the database (tags and relations) is not. When changing from/to in/variant, it's not always properly updated - and goes out of sync with the property value. Also, when un/publishing branches, or un/trashing branches, it's not properly updated.

We need to *not* delete tags when they are trashed/unpublished. This is expensive

[2018-12-04 07:46] Shazwazza commented on #3821
I have that various methods in Articulate for getting content by tags and vice versa, thought i had ported most to core by now but maybe not.

[2018-12-04 09:19] Okarlchen opened #3823 "Exception of type 'Lucene.Net.Index.MergePolicy+MergeException'"
in v7.10.4 , Exception of type 'Lucene.Net.Index.MergePolicy+MergeException' was thrown.
And it makes IIS 503 error

The error in the logs is:

` 2018-12-04 02:01:32,379 [P9492/D2/TLucene Merge Thread #0] ERROR Umbraco.Core.UmbracoApplicationBase - Unhandled exception in AppDomain (terminating)
Lucene.Net.Index.MergePolicy+MergeException: Exception of type 'Lucene.Net.Index.MergePolicy+MergeExcept

[2018-12-04 09:52] zpqrtbnk opened #3824 "Review dashboard in manifests"
need to review what's been done in `temp8` + https://github.com/umbraco/Umbraco-CMS/pull/3819

[2018-12-04 10:51] ronaldbarendse commented on #3796
@nul800sebastiaan Umbraco is already limiting the versions to be below 6.0.0:

https://github.com/umbraco/Umbraco-CMS/blob/9ad69c11cbc46b6557a6c9b5a63603cc3dcfda3b/build/NuSpecs/UmbracoCms.Core.nuspec#L20-L21

This is probably because a new major version (in all likeliness) won't work with that version of Umbraco...

Because `Microsoft.AspNet.WebApi.WebHost` 5.2.7 (a transitive dependency of `Micr

[2018-12-04 10:56] ronaldbarendse commented on #3796
For those that want to limit the `Microsoft.AspNet.WebApi.WebHost` version to be kept below 5.2.7, adding `allowedVersions="[5.2.3,5.2.7)"` to the package reference in `packages.config` should suffice (the other packages can be updated without errors, as far as I can tell). This should result in something like:

[code]

If you already updated to 5.2.7, make sure you downgrade first using `Update-P

[2018-12-04 11:13] zpqrtbnk commented on #3824
reviewed + refactored, now supporting access control in manifests too
merged the PR

[2018-12-04 11:13] #3824 closed

[2018-12-04 11:21] nul800sebastiaan commented on #3796
We ran some tests and this is not really a problem unless you manually update MVC, so few people will run into this. Let's fix the actual issue instead of this.

[2018-12-04 12:15] nul800sebastiaan commented on #3796
The real error behind this request is:

[code]

I copied the curl output for this request from Chrome and replayed the request in Postman and indeed, we don't send up the header `Content-Type: application/json; charset=utf-8`. Once I add that header, the request returns the appropriate data.

Any thoughts about this @Shazwazza ?

[2018-12-04 12:29] nul800sebastiaan commented on #3796
As far as I can tell it's only this request. The body is empty indeed, maybe that's what's tripping it up somehow.

[2018-12-04 12:39] dawoe commented on #3796
Really strange...because it's normal $http.get request from angular. Which is used in may places in the backend.

 And as far as I can see this API method is only called in one place from the angular part https://github.com/umbraco/Umbraco-CMS/blob/dd6e764588d22ef2b7bce01fd504ece89834f181/src/Umbraco.Web.UI.Client/src/common/resources/tree.resource.js#L72

[2018-12-04 13:10] karankrizz commented on #3811
[210](https://github.com/creativetimofficial/ct-material-dashboard-pro/issues/210) This resolved my issue

[2018-12-04 13:21] nul800sebastiaan commented on #3811
I'll need to re-run the trial and error stuff I did for v7.. it's a bit of a pain and I have no idea why it at some point finally worked..

![image](https://user-images.githubusercontent.com/304656/49444574-d1814100-f7cf-11e8-8699-ebdb4a80dd96.png)

[2018-12-05 04:08] Shazwazza commented on #3796
@nul800sebastiaan w00t! Good work on checking the problem and I'm glad my assumption was wrong about a problem with the proxy, this means the issue is much cleaner/easier to fix.

I don't have time to jump into the code right now but will star this and try to have a look by tomorrow

[2018-12-05 07:07] Shazwazza commented on #3527
### Notes:

Indexes are created in code via `UmbracoIndexesCreator`. Don't worry too much about the viability of extending these things as another developer since that is part of my next tasks. However, as it is now, if developers wanted to entirely replace `UmbracoIndexesCreator`, they could with their own and this class has some virtual members they could override if required.

[2018-12-05 07:09] Shazwazza commented on #3527
These are the review notes for all of these Examine tasks.

#3536, #3531, #3532, #3533, ##3527

__All of the code for all of these tasks is in a single PR__: https://github.com/umbraco/Umbraco-CMS/pull/3760

### Some setup

* You will need to add a Nuget package source of https://ci.appveyor.com/nuget/examine-f73l6qv0oqfh which currently contains the Examine version referenced.
* You will need to

[2018-12-05 07:09] Shazwazza commented on #3527
### Notes:

Indexes are created in code via `UmbracoIndexesCreator`. Don't worry too much about the viability of extending these things as another developer since that is part of my next tasks. However, as it is now, if developers wanted to entirely replace `UmbracoIndexesCreator`, they could with their own and this class has some virtual members they could override if required.

[2018-12-05 08:05] ronaldbarendse commented on #3318
@zpqrtbnk What's the reason for having these properties on the `PublishedContentRequest`, instead of setting them directly using `contentRequest.RoutingContext.UmbracoContext.HttpContext.Response`? So at least the new instance and singleton access (`new HttpContextWrapper(HttpContext.Current)`) is not needed to get to the response cache/headers...

The only reason I can come up with is allowing ca

[2018-12-05 08:31] ronaldbarendse opened #3826 "There is no current PublishedContentRequest, it must be initialized before the RenderRouteHandler executes"
We're getting the following exception multiple times a day on multiple sites:
[code]

Reproduction
------------

### Bug summary
Apparently the request URL does trigger the `UriRoutingModule`, but somewhere in the routing pipeline, there is an assumption the `PublishedContentRequest` is set before getting the HttpHandler...

### Specifics/steps to reproduce
The requested URLs all look like `/index

[2018-12-05 09:00] Shazwazza opened #3828 "IPublishedContentQuery.Search needs to support culture"
child of #3530
requires #3535

**Be sure to review #3535 first!**

IPublishedContentQuery.Search needs to support culture so that searching can be contextual to a language automatically

PR: https://github.com/umbraco/Umbraco-CMS/pull/3892

... see notes below

[2018-12-05 09:06] claudiomorandi opened #3829 "ExamineIndex configuration..."
I'd need to know the best configuration for ExamineIndex to avoid write locks.
It's a multiple websites (actually 8 websites) project hosted on a load balancing environment (Azure infrastructure but not as WebApp - just normal virtual servers with load balancer - 2 reverse proxies - 2 web servers).
It could be that many iis processes try to access the examineindex files at same time.
Can you help

[2018-12-05 09:12] nul800sebastiaan commented on #3829
Hey there @claudiomorandi - that would be a great question for the forums: https://our.umbraco.com/

Also make sure to review the documentation for your appropriate Examine version: https://our.umbraco.com/Documentation/Getting-Started/Setup/Server-Setup/Load-Balancing/flexible#luceneexamine-configuration

[2018-12-05 09:12] #3829 closed

[2018-12-05 12:04] prjseal commented on #3354
I love this @skttl
Great job of creating a way better UI to reduce clicks etc.

[2018-12-05 13:14] kjac opened #3830 "V8: Spec out - limiting editorial access by language"
<p>We need to create sub tasks for this feature which is what this task is.</p><p><br></p><p>Here's the gist:</p><p>Since languages are a first class citizen in V8, wouldn't it make sense to limit the editorial access to language specific content?</p><p>Specifically I'm thinking that the users should always be able to see content in all languages, but only edit the languages permitted by their use

[2018-12-06 01:41] #3676 closed

[2018-12-06 08:33] nul800sebastiaan commented on #3817
Thanks @bjarnef - makes sense! 👍

In v7 we don't want to remove anything, but adding a Bootstrap 4 template is great.

In v8 we can remove v2 and v3 of Bootstrap and make the default grid template Bootstrap 4.

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2018-12-06 09:07] rcnitesh opened #3833 "Incorrect Syntax near '=' issue while reading Typed Media | CMS Version 7.2.0"
2018-12-06 11:24:19,670 [17] WARN  umbraco.macro - [Thread 11] Error loading Partial View (file: ~/Views/MacroPartials/HomePromoBanners/HomePromoBannersMacro.cshtml). Exception: System.Data.SqlClient.SqlException (0x80131904): Incorrect syntax near '='.
   at System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   at System.Data.S

[2018-12-06 09:12] nul800sebastiaan commented on #3833
Hey there @rcnitesh - make sure to post your question on the forums at https://our.umbraco.com/ to see if someone can help you out there. 👍

[2018-12-06 09:12] #3833 closed

[2018-12-06 09:39] dawoe commented on #3830
Hi @kjac

Thanks for raising this issue. I think it would be a good addition personally. We now often have seperate trees for languages and give editors rights to only one tree...so we have editors per language.

I will label this as needing HQ input.

Dave [Community Pull Request team](https://umbraco.com/blog/introducing-the-new-cpr-team/)

[2018-12-06 09:40] dawoe commented on #3553
Hi Mike,

Thanks for raising the issue. I'm not a node and npm wizard myself. So I will try to get some input from HQ.

Dave [Community Pull Request team](https://umbraco.com/blog/introducing-the-new-cpr-team/)

[2018-12-06 09:47] kjac commented on #3830
@dawoe exactly!

I think it'd be a killer feature and also possibly a decisive factor when comparing Umbraco with other CMS'es for a new project.

Considering how little change is actually needed to get the PoC up and running, it's definitively worth chasing after in my opinion.

[2018-12-06 10:12] MMasey commented on #3553
Thanks Dave,

Since opening this issue, I've been doing some more research into how the package.lock actually works, and should be used. This article has a nice summary of how the `^` impacts the package being downloaded. https://bytearcher.com/articles/semver-explained-why-theres-a-caret-in-my-package-json/

Essentially, whenever someone does an `npm install`, if a version number includes a carat

[2018-12-06 11:44] nul800sebastiaan commented on #3796
Temporary fix: in `Umbraco\Js\umbraco.security.js` you can add a default header in the `.config`:"

`$httpProvider.defaults.headers.get = { "Content-Type": "application/json; charset=utf-8" };`

This seems to work and the backoffice seems fine for now. Not sure if this is the best idea though.

[2018-12-06 13:18] perplexErik opened #3835 "RTE editor in grid collapsed/disappears after reordering"
Hi,

Some of our customers are reporting the loss of RTE content in the grid.
What ( i think) they mean is that the RTE elements in the grid 'disappear'.

Reproduction
------------
If you're filing a bug, please describe how to reproduce it. Include as much
relevant information as possible, such as:

### Bug summary

RTE elements in the grid often get hidden after sorting the grid elements

### Sp

[2018-12-06 13:33] nul800sebastiaan commented on #3835
Hi @perplexErik ! I think we've already fixed this issue in the upcoming 7.13.0: https://github.com/umbraco/Umbraco-CMS/pull/2876

Additionally, we've got a few other fixes in for rich text editors:
https://github.com/umbraco/Umbraco-CMS/issues/3231
https://github.com/umbraco/Umbraco-CMS/issues/3058

If you can still reproduce the problem in a nightly build of v7.13 (just try out one of the latest

[2018-12-06 13:33] #3835 closed

[2018-12-06 13:46] ronaldbarendse commented on #3796
As the exception is thrown while binding the model and the error mentioning `FormDataCollection`, it probably impacts all controllers using this model... Looking through the code, this is used (almost exclusively) in all the tree controllers, but the `ApplicationTreeController` is the first one to be called from Angular:

https://github.com/umbraco/Umbraco-CMS/blob/dd6e764588d22ef2b7bce01fd504ece8

[2018-12-06 13:46] zpqrtbnk commented on #3531
Reviewed, `IPropertyIndexValues` renamed to `IPropertyIndexValueFactory`. Tried to modify the default one, to add some random text to all values, and rebuild the index = I can see the random text in the index. OTOH I have tried to make it return several values, since it apparently can, but it does not change a thing in the index... why would it return more than 1 value and how should they be used?

[2018-12-06 13:56] zpqrtbnk commented on #3536
reviewed and works as expected

[2018-12-06 13:58] zpqrtbnk commented on #3533
did the same thing as the demo and... hitting two issues:

First, the External Index has `PublishedValuesOnly` set to `false`, whereas the Internal Index has it to `true`. Shouldn't it be the other way round? As a consequence, a draft document only shows in the External Index at the moment.

Second, draft documents don't show in the index until I rebuild it. Then, I can get them all right. But unt

[2018-12-06 14:01] zpqrtbnk commented on #3527
have commented on the other tasks

as for that one - and that may explain an issue seen on another one - I can track the configuration in `UmbracoIndexesCreator` and I _think_ the internal vs published configuration are mixed at `IContentValueSetValidator` level?

[2018-12-06 15:18] nul800sebastiaan commented on #3427
Closed for now until we can figure out a really good solution for this, suggestions welcome but at the moment we can't think of anything better :-)

[2018-12-06 15:18] #3427 closed

[2018-12-06 16:11] nul800sebastiaan commented on #3564
Hi @jacklawry - I think we talked about this at the UK festival already and at the time I could not remember why this feature works the way it works.

I've discussed this with Mads now and got some new insights: we did some actual UX testing with people who were not super familiar with Umbraco and it turns out they got very confused when they kept reusing existing datatypes. They would add the sam

[2018-12-06 16:13] nul800sebastiaan commented on #3575
Thanks @mattycare - I had to ask at HQ if there was a specific reason this functionality didn't work as expected but it seems to be just an oversight.

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2018-12-06 16:46] jacklawry commented on #3564
Hi @nul800sebastiaan Here is the PR for the text only https://github.com/umbraco/Umbraco-CMS/pull/3836

I think that perhaps if this gets added then it would be worth user testing again as the labels were very confusing... Then this swap of the tabs could also be added?

[2018-12-06 16:53] mattycare commented on #3575
Hi @nul800sebastiaan I've actually already created a [pull request for this one](https://github.com/umbraco/Umbraco-CMS/pull/3580).
Sorry, I completely forgot to comment here to say I'd picked it up - was quite a rush at the end of the London meetup.

[2018-12-06 20:22] voltaek opened #3838 "MemberService saving twice from BackOffice - v7.12.4"
### Bug summary

When I update some properties for a Member via the BackOffice, the the record is saved twice. As a side effect, this results in the `Saving` and `Saved` events of the MemberService being fired twice, also. Both the `Email` and `Comments` properties cause multiple saves, while others like the `Username` field does not.

### Specifics

Using Umbraco v7.12.4, duplicate saves occur wh

[2018-12-06 22:01] voltaek commented on #3838
For anyone looking to work around this bug until it is fixed, I placed the changes to the record I wanted to perform during in the `Saved` event (which I calculated during the first `Saving` event occurrence) into an entry in `HttpContext.Current.Items`. These entries only persists for the current request, so I can apply the same change to the record inside my `Saved` event handler after each save

[2018-12-07 00:35] Shazwazza commented on #3838
You shouldn't ever save the same entity inside of it's own "Saved" event, that is what "Saving" is for. You can update the value in the model you want in "Saving" and it will be Saved, you shouldn't use any services, etc.. during "Saving"

Members get saved twice because 2 different things need to manipulate the data: the service and the membership provider since the membership provider is respons

[2018-12-07 02:14] #3735 closed

[2018-12-07 08:30] #3532 closed

[2018-12-07 08:30] zpqrtbnk commented on #3533
has been fixed, second issue linked to 1st

[2018-12-07 08:30] #3533 closed

[2018-12-07 11:36] nul800sebastiaan commented on #3838
Thank Shannon, for the explanation, I will close this issue as the implementation works as expected and you've found the correct way to work with it now! 👍

[2018-12-07 11:36] #3838 closed

[2018-12-07 11:37] nul800sebastiaan commented on #3811
Got this all fixed up in `temp8` now as well! 👍

[2018-12-07 11:37] #3811 closed

[2018-12-07 11:38] #3797 closed

[2018-12-07 11:48] nul800sebastiaan commented on #3750
Hi @arknu - Unfortunately, we don't plan to support editing WebForms templates from the backoffice any more. The amount of work to fix this doesn't weigh up to the few people still using Webforms. I posted a workaround in the issue here: https://issues.umbraco.org/issue/U4-9930

[2018-12-07 11:48] #3750 closed

[2018-12-07 12:46] zpqrtbnk commented on #3545
PR is https://github.com/umbraco/Umbraco-CMS/pull/3638

[2018-12-07 13:32] nul800sebastiaan commented on #3716
@Migaroez would it be possible for you to send us a backup of your database before you upgraded it? That's the only good way we would have to debug this problem, I couldn't reproduce this on a clean install of 7.7.6 upgraded to 7.12.4.

[2018-12-07 13:37] voltaek commented on #3838
@nul800sebastiaan Please don't close this issue, yet, it's not that cut and dry.

@Shazwazza
First, nowhere in documentation is it stated that Members need to be handled as a special case where - only sometimes - the same Member record can save multiple times, so this is at the very least undocumented behavior.

Second, how can anyone be expected to be able to make changes to a record in the proce

[2018-12-07 13:57] sniffdk opened #3841 "Deleting single items in recycle bin tries to load -20 instead of recyclebin resulting in a 404 error"
When deleting a node from the recycle bin, Umbraco will try to load the recycle bin root node by going to -20 -> /umbraco#/content/content/edit/-20
That returns a 404 though, as in newer versions the node id apparently needs to be recyclebin -> /umbraco/#/content/content/recyclebin

Tested on version 7.10.4 and 7.12.2

[2018-12-07 14:07] voltaek commented on #3838
@Shazwazza I've updated my code to not save with services during the save events. Here is what I have currently to work around the inconsistent duplicate saves occurring.

[code]

[2018-12-07 14:50] arknu commented on #3750
@nul800sebastiaan I understand. However, it should at least show some kind of meaningful error rather than a YSOD, which makes you think something is broken.

[2018-12-07 14:54] nul800sebastiaan commented on #3750
For us it makes no sense to spend any time on that though :)

[2018-12-07 16:15] tomvanenckevort opened #3842 "Custom UrlProvider blanks links shown in CMS for multi-domain site"
When registering a custom `UrlProvider` on a site that uses multiple domains (assigned using the Culture and Hostnames dialog) the Links section shown in the Info tab of a page shows up blank (no page URLs shown). This happens even for a custom `UrlProvider` that just inherits from the `DefaultUrlProvider` without any code changes.

Reproduction
------------

### Specifics

* Umbraco v7.12.4
* Def

[2018-12-07 18:38] Migaroez commented on #3716
I will check with the customer if this is allowed.

[2018-12-08 09:52] kjac commented on #3841
@sniffdk well spotted!

PR in #3843.

[2018-12-08 17:55] emmaburstow commented on #3841
Thanks Mads! And thanks Kenn for creating the PR to go with this. 👍

[2018-12-08 18:15] emmaburstow commented on #3842
Hi @tomvanenckevort

Thanks for reporting this and leaving such detailed notes on it too.

I've replicated this error so I'm tagging it as up-for-grabs

Emma, [Pull Request team](https://umbraco.com/blog/introducing-the-new-pr-team/)

[2018-12-09 08:55] dawoe commented on #3842
Hi @tomvanenckevort

Is this also the case with UrlProvider that actually creates a custom url ?

Because the example her is really a edge case. I think in cases you would inherit from the default url provider you would actually replace the default one instead of adding it

Dave

[2018-12-09 10:36] nul800sebastiaan commented on #3796
Unfortunately no, that doesn't fix it, it results in a `No parameterless constructor defined for this object` error.

[2018-12-09 11:19] tomvanenckevort commented on #3842
Hi @dawoe,

Yes, it does also happen when there is code to actually create custom URLs. That's what I initially did on the project where I first encountered this bug.

The reason why I used a simplified example here with no custom URLs is to rule out that my code was causing the issue.

[2018-12-09 11:43] nul800sebastiaan commented on #3817
Just noticed that in the Grid2 branch there is a Bootstrap4 template included: https://github.com/umbraco/Umbraco-CMS/tree/temp8-grid2

https://github.com/umbraco/Umbraco-CMS/tree/temp8-grid2/src/Umbraco.Web.UI/Views/Partials/Grid2

[2018-12-09 12:37] nul800sebastiaan commented on #3010
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/3592

[2018-12-09 12:37] #3010 closed

[2018-12-09 12:56] nul800sebastiaan commented on #3753
@ssougnez Sorry, not yet, forgot to put it on the list. 🙈  It's on the list now!

[2018-12-09 12:58] bjarnef commented on #3817
Cool 😊😎 Not sure if Grid2 will be part og v8 or v8.1? Otherwise this could be copied and included in latest `dev-v7` and `temp8`. I noticed it has the class `umb-grid2` - I think this should just be `umb-grid`.

[2018-12-09 13:32] nul800sebastiaan commented on #3550
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/3574

[2018-12-09 13:32] #3550 closed

[2018-12-09 13:50] bjarnef commented on #3817
I am not sure if we both need a Bootstrap4 and Bootstrap4-Fluid since the fluid layout can be controlled by a settings property.

[2018-12-09 16:20] nul800sebastiaan commented on #3779
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/3788

[2018-12-09 16:20] #3779 closed

[2018-12-09 16:44] #3752 closed

[2018-12-09 16:48] #3115 closed

[2018-12-09 17:15] #3483 closed

[2018-12-10 03:14] #3675 closed

[2018-12-10 06:17] dawoe commented on #3842
Hi @tomvanenckevort

I reproduce on the latest code base using the url provider in this PR #3837 (needs starter kit)

Dave

[2018-12-10 06:33] Shazwazza commented on #3808
Still getting a YSOD - i have 4x tags properties on a doc type, 4 of them vary, i add some tags for content items, then change 2 of the properties to invariant and I get

[code]

[2018-12-10 07:16] #3841 closed

[2018-12-10 07:36] nul800sebastiaan commented on #3564
@jacklawry The confusion was not so much the labels but people not knowing the implications of re-using existing ones. That said, there is some friction here and we'll need to look at removing that friction some other way, no idea how, but it will likely be a larger change than changing the order of tabs :-)

[2018-12-10 07:36] #3564 closed

[2018-12-10 07:55] skttl opened #3846 "Can't use .IsEven() on a Nested Content item (IPublishedContent)"
I was being clever, and wanted to do something different to every other item in my Nested Content list. So I reached out for `.IsEven()` which is a method on IPublishedContent. But when used on a nested content item it gives `System.IndexOutOfRangeException: Could not find content in the content set.`

It probably makes sense, because it relies on the index, which probably isn't available on Neste

[2018-12-10 08:03] nul800sebastiaan commented on #3353
Yep, that was part of the Grid2 work too!

[2018-12-10 08:16] dawoe commented on #3846
Hi @skttl

Is your collection for nested content items a content set. I think you need to call .ToContentSet first before these method work

[2018-12-10 09:39] RobertCopilau commented on #3741
Have an issue when switching after upgrading to latest Umbraco nightly.
If I switch the doc type from var to invar and back to var, the properties that were var, become invar in the second language in the editor but they are still var in the doc type.

This might be because when I upgraded to latest version of Umbraco, my whole setup kinda broke, can't delete nodes, getting timeouts when saving a

[2018-12-10 11:00] deepuprajapati opened #3848 "how to use Infinite scroll page in jquery ajax"
how to use Infinite scroll page in jquery ajax

[2018-12-10 13:05] nul800sebastiaan commented on #3848
Hey @deepuprajapati - this sounds like an excellent question for the forum at: https://our.umbraco.org

I'm sure our friendly community can help answer this. 🙂

[2018-12-10 13:05] #3848 closed

[2018-12-10 13:19] zpqrtbnk commented on #3663
I am pretty sure that one is done entirely, and all we need is verify and close.

[2018-12-10 13:21] zpqrtbnk commented on #3662
It *is* partially done already. I think each property value converter can implement `HasValue` so that... you can ask the converter whether a value is actually a value or not. So a converter may decide to report a null value as a valid value. Basically... now the burden is on the converters. If we're OK with this, then we prob only need to verify and close.

[2018-12-10 14:11] zpqrtbnk commented on #3664
I think it's done already and that is mostly, verifying that I'm not wrong.

[2018-12-10 17:29] skidmow opened #3850 "UmbracoContext.ContentCache.GetByRoute is null when using custom Hostname"
Accessing a page by route will return a null object if the requested content has a custom Hostname configured. This is a hierarchical issue, which means it also effects child pages and descendants of any page with a Hostname assigned.

Reproduction
------------
### Bug summary

### Specifics

Version: v7.12.4. This also affects the dev-v7 branch.

### Steps to reproduce

- Create some nested pages

[2018-12-10 22:42] #3741 closed

[2018-12-11 01:01] Shazwazza commented on #3796
So the error is thrown here https://github.com/aspnet/AspNetWebStack/blob/master/src/System.Net.Http.Formatting/HttpContentExtensions.cs#L261

What is odd is that the history/blame of this file doesn't show a change for a very long time (like 6 years) but I think it turns out that it took that long to get this change out. This is the commit that changes the behaviour: https://github.com/aspnet/Asp

[2018-12-11 06:01] Shazwazza commented on #3805
Confirmed this now works. An example of how this would work (this is prior to the DI branch being merged in, so this syntax may change)

In a `Compose` method of an `IUmbracoComponent` you could do this to replace the content search:

[code]

and then include your own class, for example:

[code]

[2018-12-11 06:53] Shazwazza commented on #3805
See #3534 for other testing notes

[2018-12-11 07:00] Shazwazza commented on #3534
PR: https://github.com/umbraco/Umbraco-CMS/pull/3852

Testing notes:

* This PR is for  #3805 too
* There is also an angular routing fix in here which ensures that the required query strings are always there (i.e. when clicking on a search result, it would clear the mculture query string but it will be retained now)
* Review code and notes in code and notes in commits
* Create both variant/invaria

[2018-12-11 07:08] Shazwazza opened #3854 "v8 Allow keyboard navigation to search results"
It would be nice to have a hotkey to launch the search dialog.

Once you enter search text and search results are shown, it would be nice to be able to arrow down/up to them and press enter to choose it

[2018-12-11 08:45] zpqrtbnk commented on #3808
just did (on latest code): create a new doctype with 4 props, all varying, default/csv, default/json, custom/csv, custom/json - create a document of that type and add values for tags - edit doctype and switch two props to invariant - works - switch 2 remaining props to invariant - works - edit document, all good.

can you test again? cannot repro at the moment

[2018-12-11 10:50] ronaldbarendse commented on #3796
@Shazwazza Nice to see these bugs eventually lead to more cleaner code 😄 I've added some comments to the PR, have a look!

[2018-12-11 12:03] #3652 closed

[2018-12-11 14:07] Deltids opened #3855 "Umbraco.slider initial value is always 0"
Reproduction
------------

### Bug summary

The initial value of the slider is 0 even though the UI shows a positive number and initial value setting is set to a positive number .

Orientation: Horizontal
Initial value: 15
Minimum value: 1
Maximum value: 30
Precision: 0
Tooltip: show

When I debug the application the property is initally set to 0.
If I go into the backoffice and change the slider

[2018-12-11 14:16] nul800sebastiaan commented on #3855
Hmm, unfortunately I can't reproduce in 7.12.3. Any javascript errors maybe?
If you have any more details then feel free to re-open the issue!

![3855](https://user-images.githubusercontent.com/304656/49806304-ac547b80-fd57-11e8-896c-2716899a8a90.gif)

[2018-12-11 14:16] #3855 closed

[2018-12-11 14:19] nul800sebastiaan commented on #3855
Ah, I just noticed the code you added above. Please note that the slider value will not be in the published content until you publish the document. So if you add a slider property the contact page of your site you need to go into the contact page and publish that page with the default value, otherwise the default value will just be the default value of `int`, which is 0.

[2018-12-11 15:31] skidmow commented on #3850
Having investigated a little deeper, I can see that the source of the issue is with the XML Cache itself  and the private method that iterates that cache document to find the route. `Umbraco.Web.PublishedCache.XmlPublishedCache.PublishedContentCache.NavigateElementRoute(XmlElement elt, string[] urlParts)`

This method iterates the ContentCache by each URL part. In the example above it would be loo

[2018-12-11 16:22] ssougnez opened #3857 "Implement document property bag"
Hi,

it would be cool to have some kind of property bag attached to a a document. Basically, the idea would be that every document would have a common property call "propertyBag" or something that could store arbitrary JSON data. The goal would be to be able to store data related to the document that a user can't edit/see.

For example, I'm working on a feature allowing content editors to create s

[2018-12-12 06:38] harsheet opened #3858 "postSave api call behave differently on different fields when there is mandatory field validation error"
The postSave api call is behaving differently on different fields in umbraco. For eg. if title, description is missing values and throw a mandatory validation error, it shows "Property has errors". And if we try to hit Save and Publish it won't trigger a postSave api call, which is fine. It works okay when we add the missing value, it fires the postSave api call.

But if there are validation error

[2018-12-12 08:21] nul800sebastiaan commented on #3858
Unfortunately I can't reproduce your problem (see my attempt below), make sure to describe it some more [on the forum](https://our.umbraco.com) to get some help there.

![3858](https://user-images.githubusercontent.com/304656/49856089-49162800-fdef-11e8-999c-b6b00b196286.gif)

[2018-12-12 10:19] clausjensen commented on #3417
Hi @dawoe

Sorry for the late response. As you mention yourself, I would also prefer we stick to the naming convention we have so the name should be `MacroController` for the controller actually allowing you to do CRUD for macros.

I also agree on separation of concerns, so having a separate controller for rendering as HTML, getting parameters and whatnot that isn't really part of the macro CRUD a

[2018-12-12 10:25] Luksor opened #3860 "Unable to delete a user if content/media start nodes are selected"
When attempting to delete a user with any content start nodes / media start nodes configured a database error is thrown.

![chrome_2018-12-12_10-21-34](https://user-images.githubusercontent.com/5837521/49863371-102e8100-fdf8-11e8-91e8-cd2d9670158b.png)

Reproduction
------------

### Specifics

- Umbraco version: 7.12.4

### Steps to reproduce

- Create a new user in the backoffice
- Do not log in

[2018-12-12 10:32] nul800sebastiaan commented on #3860
Ah that's annoying, I can reproduce the problem.

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2018-12-12 13:11] madsrasmussen commented on #3658
PR: https://github.com/umbraco/Umbraco-CMS/pull/3861

The PR makes the content app contextual so it shows create Date, Status and URLs based on the selected language. I have also added a label for the History so it tells that is shows updates for all variants.

**How to test:**
* Make a node with variants and an invariant node
* Make sure the URL, status and create date  is shown correctly for the

[2018-12-12 14:16] ssougnez opened #3863 "Silent publishing"
Hello,

it would be great to add a overload to the "save/publish" methods to specify that the action should not be audited. Indeed, it could happen that a schedule task updates a document property for whatever reason and in that case, it would be interesting not to audit it (it would be the choice of the developer). Indeed, if this task is executed often, the audit log could be polluted.

How can

[2018-12-12 14:23] nul800sebastiaan commented on #3863
We'll discuss it in our next regular meeting but my first reaction would be: that doesn't sound like something we want.
You'd mess with the rollback mechanism, with accountability ("oh, it wasn't me, it was the system that did it.. but we will never be able find out when or why") and it also makes debugging issues harder for you and for us at HQ.

The less convenient way right now is to delete the

[2018-12-12 15:46] uniquelau opened #3864 "Unreliable (content) tree behaviour when running tours"
Because content items are lazy loaded into the tree, you cannot rely on the referenced `eventElement` being present.

Reproduction
------------

### Bug summary

If the tour references something in the tree that has not yet been loaded, the tour is unreliable.

### Specifics

Umbraco 7.12.4
Chrome, Internet Explorer

### Steps to reproduce

Create a Tour that references nested nodes.

- Home
-- Le

[2018-12-12 17:07] dawoe commented on #3864
Hi Laurence,

Thanks for raising this.

Are you trying to create a tour for a specific node or doctype. Because I have a PR ready for doctype specific tours.

https://github.com/umbraco/Umbraco-CMS/pull/2635

Maybe that could solve your problem once it's merged in.

Dave

[2018-12-12 17:25] skidmow opened #3865 "Media - Sort by media type and name"
It would be a great feature if we could sort media items by media type (e.g. Folder, Image etc.) and node name, where media type takes priority. This is a logical structure that many are used to from applications like Windows Explorer.

From my experience policing the usage of the media folder for large websites is very difficult. When you have many editors, they will rarely use folder structures

[2018-12-12 17:44] uniquelau commented on #3864
Hi @dawoe,

Thank-you, I think it will resolve my issue, but if I go down that route, I'd need to create some kind of index of the tours, as otherwise the content editor might not find them.

In my current scenario, I have some tours, that take the content editor through a section, that include multiple doc types, such as a landing page, and child item.

To resolve my immediate need, I have writte

[2018-12-12 21:42] harsheet commented on #3858
Hello,

You are testing this on localhost where you wont be able to replicate this problem. We have two servers - backoffice and front end. But still it is a problem, when you are clicking save and publish and you ave some validation errors, you shouldn't be able to save this. But it was saved and not published.

[2018-12-13 00:22] aaronpowell opened #3866 "[v8] DatabaseBuilder has useful methods set to internal"
In v7 I was relying on the [`DatabaseSchemaHelper`](https://github.com/umbraco/Umbraco-CMS/blob/dev-v7/src/Umbraco.Core/Persistence/DatabaseSchemaHelper.cs) class to expose some functionality to create the database in Chauffeur, in particular, this method: https://github.com/umbraco/Umbraco-CMS/blob/dev-v7/src/Umbraco.Core/Persistence/DatabaseSchemaHelper.cs#L113

The `DatabaseSchemaHelper` has be

[2018-12-13 06:48] kjac commented on #3738
PR in #3868

[2018-12-13 06:48] kjac commented on #3737
PR in #3868

[2018-12-13 06:49] kjac commented on #3474
PR in #3868

[2018-12-13 07:15] Shazwazza commented on #3535
To extend a developer can do this:

_NOTE: The syntax for components may be changing shortly so this might not be exact at the time of release_

[code]

[2018-12-13 08:17] Deltids commented on #3855
So every time the site gets re-deployed, I have to manually go to the page and "Save and publish"? The page is in published state in the backoffice.

![image](https://user-images.githubusercontent.com/20363682/49924942-d7ee7780-feb7-11e8-835f-56dedf18cee8.png)

[2018-12-13 08:18] tomvanenckevort commented on #3842
So I did a bit further digging into this issue by stepping through the Umbraco code.

I noticed that the request that returns the node JSON for the CMS had three URLs in its response:
- http://test.com/about-us
- http://test.org/about-us
- http://test.com/about-us

Since there is a duplicate URL in there, the AngularJS `ng-repeat` that displays the links in the Info tab fails (since it can't deal

[2018-12-13 08:18] #3842 closed

[2018-12-13 08:54] nul800sebastiaan commented on #3855
I'm not sure what re-deploying has to do with it but I encourage you to try to get some [help on the forums](https://our.umbraco.com) as the functionality works as expected.

[2018-12-13 09:16] PullensDennis opened #3869 "Image not updated after changing it in Media"
When you use an image that is cropped (for instance in a RTE) and you re-upload it with changes in the image, it is not updated on the content pages. This is most likely due to the image processor that caches the cropped image. Because the source URL of the image is not changed after the update, the outdated image will still be returned from the Image Processor cache.

Reproduction
------------

I

[2018-12-13 09:19] dawoe commented on #3869
Hi @PullensDennis

Thanks for reporting the issue.

When you say "Update the image from the Media folder" do you mean directly on disk ? Or through the media section in umbraco and uploading a new image for the media item.

Dave [Community Pull Request team](https://umbraco.com/blog/introducing-the-new-cpr-team/)

[2018-12-13 09:22] zpqrtbnk commented on #3866
These methods could be public really... it's only the `CreateSchemaAndData` one?

Out of curiosity... so Chauffeur manages the complete install? Thus bypassing the Umbraco installer? Do you also manage upgrades (ie would you also need `UpgradeSchemaAndData`)?

[2018-12-13 09:24] zpqrtbnk commented on #3808
so, reproduced, pushed a fix

[2018-12-13 09:34] nul800sebastiaan commented on #3842
Thanks for the explanation @tomvanenckevort - glad it's resolved for you!

[2018-12-13 09:35] aaronpowell commented on #3866
Here's what the code _might_ look like: https://github.com/aaronpowell/Chauffeur/blob/umbraco-v8/src/Chauffeur/Deliverables/InstallDeliverable.fs

[2018-12-13 10:11] Shazwazza commented on #3535
Have added the ability to configure a DirectoryFactory for all Lucene based indexes created via code as an appSetting which will need to be used on Cloud, example:

[code]

[2018-12-13 11:19] Deltids commented on #3855
Ok, I'll try.

It will still be my understanding that it is not working as expected, as the page with the slider is published, but the value is not available in published content. I would understand if the page status was unpublished.

Thanks for the answers.

[2018-12-13 12:13] nul800sebastiaan commented on #3855
That's the part I can't reproduce though, if I publish the value then it's available in published content as expected.

[2018-12-13 14:09] nul800sebastiaan commented on #3817
Grid2 won't make it to v8.0.0 yet, so yes, it would be great to include just the BS4 templates at least!

[2018-12-13 16:15] zpqrtbnk opened #3870 "Create an upgrade log"
We should have an upgrade log table that lists plan name, initial version, initial state, final version, final state, and date - for every upgrades that run - so that we have visibility on upgrades in case of support

[2018-12-13 16:18] dawoe commented on #3869
I can confirm this issue. I also the old image still being in use in the RTE.

I think it will be also the case with file links. But haven't tested that.

So the issue is that the RTE doesn't update the image path on disk when the file is changed in the media item.

In the rendering this could be fixed in the Property Value Converter. The image tags have a data-udi attribute (or data-id from pre 7

[2018-12-13 18:32] kjac commented on #3768
I ran into this while working on another feature. I figured out what's happening, will submit a fix one of these days.

[2018-12-14 00:07] aaronpowell opened #3871 "[Discussion] Would Umbraco benefit from a RFC process?"
A **Request for Comments/Contribution** (RFC) process is something that's been popping up in more and more large Open Source projects.

Projects like [React](https://github.com/reactjs/rfcs), [F# Language](https://github.com/fsharp/fslang-design/blob/master/README.md) and [C# Language](https://github.com/dotnet/csharplang) are examples of where an RFC (or similar) are used. Generally, these are fo

[2018-12-14 00:14] harsheet opened #3872 "postSave api call behave differently on different fields when there is mandatory field validation error"
This issue was closed in https://github.com/umbraco/Umbraco-CMS/issues/3858

But I want to open it again.

The postSave api call is behaving differently on different fields in umbraco. For eg. if title, description have missing values and throw a mandatory validation error, it shows "Property has errors". And if we try to hit Save and Publish it won't trigger a postSave api call, which is fine. It

[2018-12-14 01:33] harsheet commented on #3872
Thanks for the explanation Shazwazza. But the thing is even if it is a server side validation, the content should never be saved. Even if this is the default behaviour, then why the action changes from publishNew to publish.

I tested this on one of our staging environments by hardcoding action to publishNew. And it was working fine, though it was creating a new content everytime, which should not

[2018-12-14 01:36] Shazwazza commented on #3872
If validation fails, saving can still happen because the content does not get published and go live. If your editor has spent an hour writing something and saves something and validation fails, they certainly don't want to lose their work in case they navigate away or don't have time to fix validation problems, so their changes are saved.

As i said there are different flags used "PublishedNew" an

[2018-12-14 01:38] #3808 closed

[2018-12-14 01:39] harsheet commented on #3872
Yes that is fine but it can also happen with the properties with client side validation. They just work fine. And in case of tags validation and in order to make it appear as the latest published content on site, I have to click save and publish twice or thrice. That is the actual problem.

[2018-12-14 01:43] Shazwazza commented on #3872
In order for the item to be published, all validation needs to be fixed up. I don't think i understand what you mean by this

[2018-12-14 01:47] #3674 closed

[2018-12-14 08:01] hartvig commented on #3871
Such as this: https://umbraco.com/blog/a-second-take-on-umbraco-issue-tracker-hello-github-issues/

[2018-12-14 08:15] ronaldbarendse commented on #3826
@nul800sebastiaan IIS Express doesn't have the same handlers configured as IIS (running on Azure or hosting providers), in this case probably regarding PHP support. This is also why I've added the example for umbraco.com, as that's also returning the error.

So please test it again on a real hosting scenario or install IIS using Web PIs 'Recommended Server Configuration for Web Hosting Providers'.

[2018-12-14 08:18] nul800sebastiaan commented on #3872
As noted above, all of this is expected behavior, so I'll close this issue.

[2018-12-14 08:18] #3872 closed

[2018-12-14 08:21] nul800sebastiaan commented on #3858
If you're running multiple servers you need to follow the load balancing documentation to the letter: https://our.umbraco.com/Documentation/Getting-Started/Setup/Server-Setup/Load-Balancing/

[2018-12-14 09:44] christophnz opened #3875 "RelatedLinks HtmlHelper extension"
I've always found the frontend for RelatedLinks a bit cumbersome (although it has gotten a lot better with value converters):
[code]
In most cases, I just want to render a simple anchor tag, maybe sometimes with a class added. So I have written an HtmlHelper extension that does just that:
[code]
and an override that accepts HtmlAttributes:
[code]
I'd like to contribute this back to the Core if you

[2018-12-14 09:55] christophnz commented on #3875
Pull request: https://github.com/umbraco/Umbraco-CMS/pull/3876

[2018-12-14 10:06] aaronpowell commented on #3871
@hartvig Thanks Niels, I hadn't seen that post (or maybe I had but had forgotten about it). I'll propose an update to contributing to refer to the information it clarifies in the post, since it's a bit opaque following the contributing info as it stands.

I still feel that it looks at one part of the equation, the community to HQ, do you see potential for something on the HQ to community direction

[2018-12-14 10:08] aaronpowell commented on #3871
@dawoe I don't want this thread to focus on any particular change. I'm aware of the post that @zpqrtbnk wrote, I just mentioned migrations because it was something that I'd seen discussed on twitter today.

[2018-12-14 10:11] dawoe commented on #3871
@aaronpowell

I just took this one, because it is a good example that could have benefited from what you are proposing.

Dave

[2018-12-14 12:45] tristanjthompson opened #3881 "v8 - When clicking preview, document gets published"
### Bug summary
Found in v8
When editing a document, if you click "Preview", the document gets published before the preview window launches.  It should only be saved.

### Steps to reproduce
Steps to recreate:
* In the content tree, open a document to begin editing.
* Change a value in one of the fields
* Click the "Preview" button at the bottom-right - this should only save the content before pre

[2018-12-14 13:01] karltynan commented on #3881
Agreed, I have seen this happening on the latest version of `temp8` (14/12/2018).

[2018-12-14 13:59] Vrijdagonline commented on #3826
@ronaldbarendse Did you find anything? I'm having the same issue. With lots of errors. You are probably right that it seems to be related to the PHP extension as I can see, that in my case, calls to for example "index.php/guestbook/entry/add" is the reason for lots of errors.

Interesting...

[2018-12-14 14:25] PSinke opened #3883 "Allow all editors - Not saving when selected"
The checkbox for 'Allow all editors' is not saving the state correctly. When trying to switch from a couple of selected editors to 'allow all editors', the check box is not saved correctly, and therefore doesn't function correctly in the grid layout.

This can be reproduced by creating a new grid layout datatype, then select one of the default rows. Click on a column. By default 'allow all editors

[2018-12-15 01:13] Nicholas-Westby commented on #2985
Was about to recreate this issue too (I am getting this on 7.12.4 on Umbraco Cloud). Since I'm here, I'll just note the old ticket for this issue: https://issues.umbraco.org/issue/U4-10508

Awesome to see that it appears this will be fixed in 7.13.0.

[2018-12-16 12:01] zpqrtbnk commented on #3881
reproduced

[2018-12-16 13:11] kjac commented on #3883
I have observed the same with layout configurations... and I have located the issue. I'll submit PRs soon as I can, hopefully tonight.

[2018-12-16 20:57] kjac commented on #3881
PR in #3891

[2018-12-16 21:02] zpqrtbnk commented on #3881
AWESOME - reviewing asap

[2018-12-17 02:43] Shazwazza commented on #3828
Have updated the first 2 methods to accept a culture:

[code]

When a culture is specified it will go find all culture specific names for the culture specified (i.e. `myField_en-us` if the culture was `en-us` or `en-US`), then it will perform a managed search across all of these culture fields for the term specified, it will also add a mandatory query argument for "varies by culture" since if the

[2018-12-17 06:06] harsheet opened #3893 "Front end server does not get the published content when there is server side validation error on backoffice server"
When we publish a content after fixing the server side mandatory validation errors (postSave api error), it shows up on backoffice server immediately, but not on the front end server.

We have to publish twice in order to display it on the front end server.

And we believe that this is caused by published content index not getting synced over to the front end server, the first time we publish it.

[2018-12-17 06:51] kjac commented on #3768
PR in #3894

[2018-12-17 07:10] nul800sebastiaan commented on #3893
Hi @harsheet - as advises before, make sure to ask your support questions on the forum so that our community can try to help you.

[2018-12-17 07:10] #3893 closed

[2018-12-17 08:30] madsrasmussen opened #3895 "Close infinite editors with the esc key"

[2018-12-17 09:10] hartvig commented on #3871
@aaronpowell Good point. The v8 process suffered from being architected before any processes was in place (2018 has been an implementation year as most groundwork has already been done). It would be interesting to find a way to run a more open process in the future with respect for our organization not being a match for those of Microsoft (c# and f#) or Facebook (react).

[2018-12-17 09:21] madsrasmussen commented on #3895
PR: https://github.com/umbraco/Umbraco-CMS/pull/3896

The PR implements a global way to close infinite editors with the ESC key so each infinite editor doesn't have to do the implementation themselves. This also means that it requires a "close" callback function on the infinite editor for this to work. We have to do it this way so we make sure that if any logic has to be run when an infinite edito

[2018-12-17 10:03] nul800sebastiaan commented on #3740
@kjac Reviewed, the proposed solution is good! 👍

[2018-12-17 10:54] kjac commented on #3740
@nul800sebastiaan awesome! I'll dig out my PoC branch and finish it ... that's one more PR for the Christmas calendar secured 😁

[2018-12-17 10:56] skttl commented on #3740
![alt text](https://media.giphy.com/media/l0MYt5jPR6QX5pnqM/giphy.gif "yay")

[2018-12-17 11:12] nul800sebastiaan commented on #3865
@skidmow  Maybe I'm misunderstanding your request but the grid view of the media list view does exactly that?

![image](https://user-images.githubusercontent.com/304656/50083651-bc0b0e80-01f4-11e9-844e-05a307b821c5.png)

However, I've just noticed that the default list view we create has the grid view as the second choice, the default is a list which is a little less organized. Could be good to ch

[2018-12-17 11:57] skidmow commented on #3865
@nul800sebastiaan This is interesting as I'd never actually used this grid view. It's definitely a good workaround if we can make it the default view, however I still don't think it sorts (pardon the pun) the actual sorting issue. The tree view is still visible on the left hand side and whether preferable or not, users will use it to look for media items. They could browse that list and struggle t

[2018-12-17 12:34] zpqrtbnk commented on #3866
Can you get something from DI there? Assuming you can inject the `IScopeProvider`, `ILogger` and `IUmbracoDatabaseFactory`, the following code should get your a database with schema and data:
[code]
We would then "just" make `DatabaseSchemaCreator` and its `InitializeDatabaseSchema` (maybe renamed to `CreateSchemaWithData` or something) public. Thoughts?

[2018-12-17 12:57] madsrasmussen commented on #3653
PR: https://github.com/umbraco/Umbraco-CMS/pull/3897

The PR reenables the infinite editing animations.

How to test:
* Open an infinite editing workflow (Ex. add a property to a doctype)
* Make sure the infinite editing panels slide in and out

[2018-12-17 13:21] nul800sebastiaan commented on #3865
Agreed, for now, we're not going to easily solve that issue. At the moment you could write your own saving handler that does an sort as soon as you add something new, then you can implement any sorting rules you want yourself.

In v8, we're anticipating a larger overhaul of the media section in which issues like this will also get focus.

[2018-12-17 16:45] g-dove opened #3898 "Adding compositions to doctypes from the composition."
When you create a new composition on a site and need to apply it to a lot of different document types it is quite a time-consuming process.

Therefore the idea is to have a doctypes button on the composition that shows a list of all the doctypes that you can add the compositions to. An exact mirror of the compositions button currently used on the doctypes editor to add compositions to the doctype.

[2018-12-17 23:41] aaronpowell commented on #3871
The reason I highlighted those three as they are examples of OSS projects where the bulk of the engineering effort is undertaken by a corporate entity but there is an active community behind them. In fact it was the [React Hooks](https://reactjs.org/docs/hooks-intro.html) ([rfc](https://github.com/reactjs/rfcs/pull/68)) that got me thinking about this.

Would it be possible for HQ to use the GitHu

[2018-12-17 23:46] aaronpowell commented on #3871
https://opensource.com/article/17/9/6-lessons-rfcs is a good look at the value an RFC process has in an engineering team.

[2018-12-18 03:46] aaronpowell commented on #3866
Looks like the `DatabaseSchemaCreator` would do the trick, so I've created an alternative PR that does that.

I'd expect you'd want to use _either_ #3867 or #3899, not both, but they are just a compare/contrast approach.

[2018-12-18 06:37] kjac commented on #3740
PR in #3900

[2018-12-18 06:38] Shazwazza opened #3901 "Remove configuration based index/searchers and index sets"
child of #3530
requires #3535

Examine no longer ships with configuration based indexes and searchers since configuration is not flexible, it's archaic/legacy and it's actually less simple than code.

Umbraco already creates and configures the indexes it ships with via code, however Umbraco still has it's own configuration based index features like IndexSet (which was moved from Examine to Umbraco

[2018-12-18 06:39] kjac commented on #3881
Whoo! 🎉

[2018-12-18 06:58] Shazwazza commented on #3901
PR https://github.com/umbraco/Umbraco-CMS/pull/3902

**Be sure to review #3535 first!**

[2018-12-18 08:08] zpqrtbnk commented on #3866
Reviewing now - trying to reduce the number of things we expose and might want to refactor at some point - do you need methods from the `#region Configure ConnectionString` to be public?

[2018-12-18 08:21] zpqrtbnk commented on #3866
Same question with `ValidateSchema()` - this method does weird things, and reports weird data structures, that I really would rather keep internal so we can refactor them. Let me know if we could keep them internal for now.

[2018-12-18 08:39] aaronpowell commented on #3866
From a Chauffeur stand point then I don't really need to be able to save the connection string, I don't expose the ability to edit that (it's a bit tricky due to the way Chauffeur hosts Umbraco).

`ValidateSchema` could be useful, I'd potentially use it from a test standpoint.

Being able to run the upgrade would also be good, Chauffeur supports [running migrations](https://github.com/aaronpowell/

[2018-12-18 09:19] zpqrtbnk commented on #3866
ok - going to merge + do a few changes, and then feel free to complain ;-)

[2018-12-18 09:46] zpqrtbnk commented on #3866
Have merged. Keeping this issue open while you review.

[2018-12-18 09:48] aaronpowell commented on #3866
Awesome, I'll pick up a build tomorrow with it and test

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Stephan <notifications@github.com>
Sent: Tuesday, December 18, 2018 8:46:49 PM
To: umbraco/Umbraco-CMS
Cc: Aaron Powell; Author
Subject: Re: [umbraco/Umbraco-CMS] [v8] DatabaseBuilder has useful methods set to internal (#3866)

Have merged. Keeping this is

[2018-12-18 11:16] janvanhelvoort opened #3903 "Hide properties for specific user groups"
Sometimes we misuse properties voor setting and / or config. It would be nice if we can specify per property if a property will be visible or be hidden for a specific group(s).

How can you help?
-------------------------------
I will make a discussion topic on Our, if we have a suitable solution, I want try it to make it possible.
Link: [Hide properties for specific user groups](https://our.umbra

[2018-12-18 11:48] nul800sebastiaan commented on #3898
Hi @g-dove - thanks for the suggestion!

We are currently not planning to support this, the reasons and workarounds are much the same as listed on https://github.com/umbraco/Umbraco-CMS/issues/3216

[2018-12-18 11:48] #3898 closed

[2018-12-18 11:52] nul800sebastiaan commented on #3903
Hi @janvanhelvoort - thanks for the suggestion1

We don't plan to support this in Umbraco. It is however already possible to remove properties using the `EditorModelEventManager.SendingContentModel` event and we encourage you to use that if you have  specific needs like this.

[2018-12-18 11:52] #3903 closed

[2018-12-18 12:17] nul800sebastiaan commented on #3119
Thanks for raising this, I've added this to the list of things to discuss at our next regular meeting about incoming issues.

[2018-12-18 12:18] nul800sebastiaan commented on #3118
Yikes, that looks.. interesting! 😅

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2018-12-18 12:20] nul800sebastiaan commented on #3098
Hmmm, it's some kind of cache, not sure which one. Maybe @Shazwazza / @zpqrtbnk can clarify?

[2018-12-18 12:37] nul800sebastiaan commented on #3095
Hi @JeroenRoos - It is not necessary for Ids to be a UDI, in fact as you can see on line 10432, if it's not a UDI, it picks the id. Deploy is respsonsible for translating that Id to the correct on on the next enviroment and in my tests this seems to works just fine.

I'll close this issue for now and if you have steps to reproduce this problem it would probably be best to get in touch with Cloud s

[2018-12-18 12:37] #3095 closed

[2018-12-18 12:38] nul800sebastiaan commented on #3075
Thanks @abjerner - I'll have to discuss this in our next regular meeting about incoming issues.

[2018-12-18 12:47] nul800sebastiaan commented on #3057
Thanks @vladox - this seems to work these days so I'll close this issue.

![image](https://user-images.githubusercontent.com/304656/50155066-681f2900-02cb-11e9-8741-5b77c8a0f9a6.png)

[2018-12-18 12:47] #3057 closed

[2018-12-18 13:05] nul800sebastiaan commented on #3041
Thanks for the report!

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2018-12-18 13:06] nul800sebastiaan commented on #3028
It should.. but.. it's not easy!

If you're feeling brave then we'd love to see an attempt!

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2018-12-18 13:08] nul800sebastiaan commented on #3027
Hi @a-witkowski and many apologies for the late reply 🙈

Luckily, this is not an error that most people run in to, it feels like it might be something on either your machine or in customizations you've made.

If this is still a problem, make sure to head over to [the forum](https://our.umbraco.com) to get some advise on how to debug this problem.

[2018-12-18 13:08] #3027 closed

[2018-12-18 13:33] nul800sebastiaan commented on #2997
Looks like I forgot to update this issue 🙈 but a lot of discussion has been going on here:
https://github.com/umbraco/Umbraco-CMS/pull/3299

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2018-12-18 13:43] sniffdk commented on #2997
That's a tad misleading when you closed the PR while waiting for @zpqrtbnk to investigate ? 😄

[2018-12-18 13:47] nul800sebastiaan commented on #2997
lol.. I missed my own last comment!

I'll discuss with @zpqrtbnk or @Shazwazza

[2018-12-18 13:49] sniffdk commented on #2997
thanks 😆

[2018-12-18 20:08] madsrasmussen commented on #3650
PR: https://github.com/umbraco/Umbraco-CMS/pull/3904

The PR lets the editor service keep track of all keyboard shortcuts registered for an editor. When a new infinite editor opens on top it unbinds all shortcuts for the underlying UI. We do this to prevent any interaction with anything else than the infinite editor that has just been opened. When the infinite editor closes we reassign all keyboar

[2018-12-18 22:38] aaronpowell commented on #3866
Bugger, looks like a build hasn't been published to MyGet for a week ☹.

[2018-12-19 01:03] aaronpowell opened #3905 "Build script dies when using npm prefix."
If you're using a tool to manage multiple versions of node.js on a machine (like [ps-nvm](https://github.com/aaronpowell/ps-nvm), [nodist](https://github.com/nullivex/nodist) or [nvm-windows](https://github.com/coreybutler/nvm-windows)) it's likely that the `build.ps1` script will blow up when trying to run `gulp`.

The problem is because while the script attempts to create a sandboxed environment

[2018-12-19 06:32] Shazwazza commented on #3653
I've merged it in but just want to know how it performs better or if we are just going to accept the performance (for me it's seemed ok)

[2018-12-19 07:10] SoerenDeger opened #3907 "Anchor for form with recaptcha on error required"
We have an issue with Umbraco Forms v7.0.5 in Umbraco v.7.12.4.

We fill the form, doesn't accept the checkbox in reCaptchaV2 and click on submit. Then the complete page reloads.
The problem is, that we have insert the form at the end of the page and not in the first visible area of the page. So we see the reCaptcha error message only, if we scroll down to the form.

This issue is related to this

[2018-12-19 10:33] nul800sebastiaan commented on #3753
Update, works with Cloud as well so can be tested and merged at some point.

[2018-12-19 10:38] nul800sebastiaan commented on #3524
@kjac When importing new translations we still need to trigger the events that Courier and Deploy use, otherwise the new translations will not be serialized and transferred to the next environment.

If you trigger a save event for each dictionary item being imported, then all will be good! 👍

[2018-12-19 10:43] nul800sebastiaan commented on #3830
Thanks @kjac - we recognize the need for this as well. Currently this is not on the roadmap while we wait for when people start using the variants feature and we get some more feedback on it.
Our permissions model is quite complex already and we're still thinking about the best way to implement this feature.

[2018-12-19 11:23] kjac commented on #3830
@nul800sebastiaan cool. Let me know if I can do anything to help.

If we're to fully leverage the power of language variants, I am certain a need for this feature will arise pretty quickly for larger international sites with multiple editors around the globe. I'd really hate to see the lack of this feature as the cause for choosing another CMS over Umbraco.

[2018-12-19 11:32] Shazwazza opened #3908 "Query-builder needs to be updated to support executing the query"
requires #3668
child of #3661

The Query Builder functionality does the following:

1. Based on user input it generates a razor query to be inserted into a view
2. It executes this query on the server side to inform the user of which nodes are in the result
3. It times the execution of this query

The 3rd point is sort of broken already in v7 since the timing of the execution is not actually timin

[2018-12-19 11:33] ssougnez commented on #3753
Woohoo \o/

Cool, thanks a lot

[2018-12-19 13:07] nul800sebastiaan commented on #2997
Sounds like @Shazwazza knows what to do with the CacheRefreshers - I've asked him to either do a fix or reply on how to fix!

[2018-12-19 13:11] nul800sebastiaan commented on #3075
Talked to Shannon and his feedback was:

- We can't really change this behavior now, this would change the behavior for existing property editors
- You can implement a bit of C# for your property editor overriding `ConvertDbToEditor` to use your own Json options
- You could hack it by wrapping the date in single quotes then our magic convertor doesn't kick in and will leave the value alone 🙈 - I w

[2018-12-19 13:12] nul800sebastiaan commented on #3119
Hi there @mderriey - had a chat with Shannon and this is unfortunately a known bug. In order to fix this, the `AuthorizeUpgrade` endpoint will need to borrow some code from the login endpoint to actually use the auth provider to get an auth ticket.

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2018-12-19 13:17] nul800sebastiaan commented on #3857
Hi @ssougnez - I've discussed this with Shannon and while the idea sounds interesting, this is not something we'd want to support in CMS.

He also questioned storing this type of data in the content cache, it might be necessary in this case but it seems like this could be "abused" to drop in loads of unrelated data that will never appear on the frontend.
Remember also that each publish will duplic

[2018-12-19 13:17] #3857 closed

[2018-12-19 13:18] nul800sebastiaan commented on #3863
@ssougnez - as I expected, Shannon agrees with the above and this is not something we'd want to implement in the CMS. Thanks for the suggestion! 👍

[2018-12-19 13:18] #3863 closed

[2018-12-19 13:18] ssougnez commented on #3857
I'll wait for v8 then :+1:

[2018-12-19 13:47] nul800sebastiaan commented on #3866
☹ Looks like the unit tests are failing:

[code]

[2018-12-19 14:03] #3097 closed

[2018-12-19 14:13] #3883 closed

[2018-12-19 14:27] StefanoChiodino opened #3909 "Umbraco user password regex validation validates the old password instead of the new one."
A brief description of the issue goes here.

I'm trying to change min chars and enforce a stronger policy for the Umbraco users.

https://our.umbraco.com/Documentation/Reference/Security/Security-settings/ seems to suggests that there are 2 providers: one for the website users and one for umbraco users.

In my web.config I have `UmbracoMembershipProvider` and `UsersMembershipProvider`, however cha

[2018-12-19 14:38] nul800sebastiaan commented on #3744
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/3747

[2018-12-19 14:38] #3744 closed

[2018-12-19 14:59] zpqrtbnk commented on #3534
code review = ok
tested ok, can create both variant and invariant and query (but response is default lang)
merging PR

[2018-12-19 15:03] #3534 closed

[2018-12-19 15:03] #3805 closed

[2018-12-19 15:04] #3535 closed

[2018-12-19 15:08] nul800sebastiaan commented on #3909
The actual bug is: one the regex doesn't match for the new password, it gives a validation error for the old password and then you can not continue and save the new password.

The backoffice exclusively uses `UsersMembershipProvider` and not `UmbracoMembershipProvider` (which is used for members in the Members section).

I tested with: ` minRequiredPasswordLength="12" passwordStrengthRegularExpres

[2018-12-19 15:09] nul800sebastiaan commented on #3909
I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2018-12-19 15:16] #3860 closed

[2018-12-19 15:51] StefanoChiodino commented on #3909
Uhm, that's not what I reported but yeah, there was also that :D

My confusion was on which provider works for the CMS users. I just supposed that the `UmbracoXxxxYyyy` was the one to do with the CMS login, I guess it's just down to documenting it!

[2018-12-19 16:01] nul800sebastiaan commented on #3909
I added some comments to the XML, hope that makes it clear.
https://our.umbraco.com/Documentation/Reference/Security/Security-settings/

[2018-12-19 16:06] StefanoChiodino commented on #3909
Would a quick "how to regex" for simple case be useful? I'm working on that now so it would be easy to write a couple of lines about it now.

P.S.: is there any way where I can explain what the requirements are to the users?

[2018-12-19 16:14] nul800sebastiaan commented on #3909
@StefanoChiodino I would refer to the microsoft documentation.

Note: we're moving away from membership providers in v8 and there will need to be alternatives for password complexity rules.

Currently it should be possible to use Identity instead and I believe that supports sending back a custom complexity message. It would require some C# code, but I wouldn't be able to tell you how to do it. :)

[2018-12-19 16:22] PeteDuncanson opened #3910 "Add safe placeholder areas that we can inject custom AngularJS UI into"
In this post on Our https://our.umbraco.com/forum/developing-packages/93952-suggested-changes-to-ease-the-creation-of-packages I discuss the pitfalls of injecting custom UI into the back office and how this is pretty fragile between releases of Umbraco. If you change the HTML you can break our UI code:

If we added in documented named divs into the core templates where you knew you could safely in

[2018-12-19 16:23] PeteDuncanson opened #3911 "Create a generic store for simple package config settings"
Most packages need some custom config to be sorted away somewhere. Currently everyone is having to roll their own which is adding to the burden of package development and means we don't seem to have a consistent best practise so its difficult to find settings between packages.

In this post https://our.umbraco.com/forum/developing-packages/93952-suggested-changes-to-ease-the-creation-of-packages I

[2018-12-19 16:59] #3740 closed

[2018-12-19 17:02] nul800sebastiaan commented on #3768
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/3894

[2018-12-19 17:02] #3768 closed

[2018-12-19 17:19] #3769 closed

[2018-12-19 21:38] aaronpowell commented on #3866
That's a bit of a bugger ☹️

[2018-12-20 03:14] nathanwoulfe opened #3913 "Audit entry is incorrect when scheduled publish is cancelled"
If publishing is cancelled in an event handler, the audit trail on the info tab still displays a 'Save and Publish performed by user' message, despite the publish not occurring.

Happening on version 7.12.1

Reproduction
------------
### Steps to reproduce

 - add an event handler for the ContentService.Publishing event
 - in that handler, cancel the publish:

[code]

- schedule a node to publish,

[2018-12-20 03:43] aaronpowell commented on #3905
Alright, pretty much sorted, but a few things:

* I've had to roll `gulp-imagemin` back, otherwise it raises an error (as described above)
* The version of node.js used in the build script is really quite old and will be going into [maintenance old mode 1st Jan 2019](https://github.com/nodejs/Release#release-schedule). This is a problem because the `npx` version shipped with it has a bug (https://

[2018-12-20 07:20] zpqrtbnk commented on #3866
On it now

[2018-12-20 08:06] zpqrtbnk commented on #3866
Fixed, should be good tonight.

[2018-12-20 10:22] kjac commented on #3913
I have been digging into this and I can reproduce it. Question is what to do about it.

It's ultimately the same code  (`ContentService.SaveAndPublishDo`) that publishes content both from the UI and the scheduler, and `ContentService` is not aware of the context it's being executed from (nor should it be).

Ideally the audit trail should contain context specific messages - *Save and Publish perfor

[2018-12-20 10:28] bergmania opened #3915 "V8: When a plugin adds a tree to the user section, there is a JS error"
When a plugin (e.g. Forms) adds a tree to the user section there is a "10 $digest() iterations reached. Aborting!" error in the console. This is probably due to the User section no more have a tree.

![image](https://user-images.githubusercontent.com/1561480/50279408-ddb10380-0449-11e9-90e0-19581c4d8b43.png)

`
Error: [$rootScope:infdig] 10 $digest() iterations reached. Aborting!
Watchers fired in

[2018-12-20 10:57] dawoe commented on #3911
Hi @PeteDuncanson

Thanks for raising this idea. Personally think all package developers would benefit from it. But I also see a lot of points for discussion.

Will come back to this when I have some more time to think about it.

Dave [Community Pull Request team](https://umbraco.com/blog/introducing-the-new-cpr-team/)

[2018-12-20 11:35] zpqrtbnk commented on #3828
code review is ok

Testing, having issues. I have a content item which is variant, has different names on two cultures. A `Search("Home")` or `Search("Maison")`, with `en-US` being the default lang, works. But a `Search("Home", "en-US")` does not. And `Search("Maison", "fr-FR")` does not either.

Checking the index, I can see that Name, Name_en-us, etc are all set correctly. Querying the External

[2018-12-20 11:38] zpqrtbnk commented on #3828
more details: I have physically deleted the indexes, and restarted the site - indexes are rebuilt, but it does not change a thing (search fails, cannot rebuild external index)

[2018-12-20 11:56] dawoe commented on #3905
Hi @aaronpowell

First of all thanks for raising this issue.

In V7 the node is downloaded by this powershell script : https://github.com/umbraco/Umbraco-CMS/blob/dev-v7/build/Modules/Umbraco.Build/Get-UmbracoBuildEnv.ps1#L97

Is that what you are after ?

Dave [Community Pull Request team](https://umbraco.com/blog/introducing-the-new-cpr-team/)

[2018-12-20 11:59] Shazwazza commented on #3915
That angular error is due to having too many watchers, or watchers that fire other watchers (like an infinite loop). They are hard to track down but essentially it means there's too many digest loops.

Theres an SO topic on it here https://stackoverflow.com/questions/17116114/how-to-troubleshoot-angular-10-digest-iterations-reached-error

There's actually quite a lot of blog posts out there with t

[2018-12-20 13:32] zpqrtbnk commented on #3658
merged

[2018-12-20 13:32] #3658 closed

[2018-12-20 13:41] dawoe opened #3916 "V7.13 - Audit History shows the same info for each item"
In V7.13 the audit history on the info tab shows the same information for each item in the list. The audit log that is available in the context menu shows the correct information

Audit log on info tab
![audit-log-info](https://user-images.githubusercontent.com/1193822/50288106-304be900-0465-11e9-90b7-6a9880602823.png)

Audit log in context menu
![audit-log-contextmenu](https://user-images.githubu

[2018-12-20 14:31] kjac commented on #3913
@dawoe in all fairness I also see it as *Save performed by user*. The issue still stands, though; the publishing was cancelled but all the the audit log says is "I saved your content and it went well".

[2018-12-20 14:52] bielu commented on #3775
@nul800sebastiaan as I didn't see any activity on that bug, I notice few things:
rdio.com and screenr.com are closed, it means only https://stream.umbraco.org should be fixed for https and we could clean and replace everything to https :)

[2018-12-20 14:55] sniffdk commented on #2997
Great, thanks a lot 👍 😃

[2018-12-20 15:04] kjac commented on #3909
It looks like the passwords are actually being handled correctly - but the error messages are badly placed. I'll dig some more into this one of the next days.

[2018-12-20 15:16] StefanoChiodino commented on #3909
@kjac I don't think that is the case. If you get an error for the password strenght it does indeed show under the old password, which is not very good position (probably it's a summary compared to a field error), but also if you then input a password strong enough it doesn't proceed.

[2018-12-20 15:19] StefanoChiodino commented on #3909
Nope, it's probably not a summary because the old password label becomes red

![image](https://user-images.githubusercontent.com/1428893/50293039-91c28680-046a-11e9-9b66-40d118d59b42.png)

[2018-12-20 18:14] aaronpowell commented on #3905
I haven't looked at v7, only V8 (which is where my branch is from).

Is that script published to the NuGet package V8 uses? If so I'll PR that too.

[2018-12-20 18:21] kjac commented on #3909
@StefanoChiodino it's how the validation works; the label, field and error message(s) are highlighted as one.

In this case an error is returned for the `oldPassword` field no matter which validation fails (wrong old password or bad new password).

I've got a fix for it and will push a PR shortly.

[2018-12-20 18:37] kjac commented on #3909
PR in #3918

[2018-12-20 19:07] nathanwoulfe commented on #3913
@dawoe @kjac I'll check against latest today.

For clarity - I'm seeing the save message in the audit after scheduling, then the save and publish after the scheduled attempt. I'd expect that if successful since the scheduler explicitly calls SaveAndPublishWithStatus, although it might be more appropriate for the scheduler to only publish, not save, as there may be pending changes made between sche

[2018-12-20 21:43] aaronpowell commented on #3905
Just had a look at that file @dawoe and no, it's not the same as is used in v8, v8 using the NuGet package `Umbraco.Build` which is on the MyGet feed (https://www.myget.org/F/umbracocore/api/v3/index.json), but I can't find the source code for it anywhere. @nul800sebastiaan @zpqrtbnk @Shazwazza do you know where the source of that package is?

[2018-12-20 21:51] Shazwazza commented on #3913
v8's audit trail messaging and some of the internals of how it works have already been changed in v8. Please have a look if you get some time. There are no more messages that end with 'performed by user'

[2018-12-20 22:18] Shazwazza commented on #3909
great PR, have added a comment on it

As for the other questions, here's some info ...

We are unfortunately stuck with old legacy membership providers and also using ASP.Net identity while trying to phase out membership providers entirely while also maintaining compatibility ... it's fun ;)

The password validation is done by `MembershipProviderPasswordValidator` which is an ASP.Net Identity impl

[2018-12-21 03:16] Shazwazza opened #3919 "v8 - Add "Move" option for deleted items in the content tree"
This PR https://github.com/umbraco/Umbraco-CMS/pull/3772 will need to be manually applied to v8

[2018-12-21 04:41] shearer3000 commented on #3796
hi - will this PR make 7.13 or 7.13.1?
thanks

[2018-12-21 05:07] Shazwazza opened #3920 "Need to have Examine's field definitions as dynamic"
child of #3530
requires #3901

Since field definitions change at runtime, these definitions need to be able to support being dynamic in Examine/Umbraco

Currently the IContentQuery.Search doesn't work because it doesn't know about all of the fields to search.

[2018-12-21 06:58] zpqrtbnk commented on #3905
Hint: don't look at v7, the build script is entirely different in v8.

The build tooling is at https://github.com/umbraco/Umbraco-Build but private at the moment - no idea why, looking at opening it today.

As for the versions of Node etc, I remember dealing with them when creating the script but I know little of Node so can totally have messed things up. Welcoming fixes.

[2018-12-21 07:04] zpqrtbnk commented on #3905
https://github.com/umbraco/Umbraco-Build is now public - happy hacking!

[2018-12-21 07:10] kjac commented on #3919
I'll get on this soon 👍

[2018-12-21 08:00] zpqrtbnk commented on #3828
Problem with search is now issue https://github.com/umbraco/Umbraco-CMS/issues/3920

Rest is OK, merging the PR now

[2018-12-21 08:01] #3828 closed

[2018-12-21 09:39] zpqrtbnk commented on #3901
Have merged latest `temp8`. Cannot merge the PR for now: tests failing in `PublishMediaCacheTests` and `PublishMediaTests` because "No index found by name InternalIndex" - assuming that's because the tests don't configure the indexes anymore? How should they do it?

[2018-12-21 09:48] aaronpowell commented on #3905
Thanks @zpqrtbnk I'll get on that when I'm sober 😂

[2018-12-21 10:43] madsrasmussen commented on #3895
I am closing this PR again as it is not the correct solution. We will have to control the shortcut from within each infinite editor so we are sure that all logic that needs to be run is run.

It can probably be solved the same way as with any other shortcut in infinite editors just to bind the keyboard shortcut to the close button by using the "shortcut" attribute and bind it to "esc".

[2018-12-21 16:45] pavelshibanov opened #3922 "Legacy custom sections crashes in v.7.12.4"
Legacy custom sections give Null Reference exception

Reproduction
------------

Use/define custom section using legacy method.
Open Umbraco admin. Section not loaded, Umbraco reports an error.
Null Reference exception in log.

### Bug summary
Error happens in
\src\Umbraco.Web\Trees\LegacyTreeDataConverter.cs
Method:
internal static TreeNode ConvertFromLegacy(string parentId, XmlTreeNode xmlTreeNo

[2018-12-21 22:02] callumbwhyte opened #3923 "Icon names spelling mistakes"
As reported by a user on Twitter (https://twitter.com/welshfruit/status/1076177728750137344), when browsing the icon picker the label for the "thief" icon has a spelling mistake "theif" in the CMS.

Reproduction
------------

### Steps to reproduce

1. Go to the Document Type editor and select a doctype.
2. Click on the icon picker (top left beside name) - the icon picker dialog will appear.
3. Se

[2018-12-22 10:55] abjerner commented on #3923
Just to link to the issue with your PR: https://github.com/umbraco/Umbraco-CMS/pull/3924 (and again, thanks a lot 👍)

[2018-12-22 11:54] janvanhelvoort commented on #3903
I have created a first package version. You can create and manage rules (not delete yet). This monday I will continue and build options to delete rules and toggle active state. Also to export and import rules between environments.

https://www.myget.org/feed/janvanhelvoort/package/nuget/Our.Umbraco.HideProperties

![hide-properties 1](https://user-images.githubusercontent.com/5024929/50374069-8ac1

[2018-12-24 08:03] kjac commented on #3919
PR in #3931

[2018-12-25 20:02] alamandra007 commented on #3796
I was facing the same issue and applied suggested fix to umbraco.resources.js file, what brought back to live all the top level nodes of my back-end trees.

[code]

However to resurrect all upper levels nodes of my back-end trees I had to perform additional sibling similar tweak.

[code]
Cheers!

[2018-12-26 13:34] janvanhelvoort commented on #3903
Version 0.2.0 is ready: https://github.com/janvanhelvoort/Umbraco-hide-properties/releases/tag/0.2.0

[2018-12-27 12:30] elit0451 commented on #3895
Shortcuts to the close buttons on infinite editors are being added. PR: https://github.com/umbraco/Umbraco-CMS/pull/3933

Remark!
After closing an editor that isn't the first one opened, the 'esc' shortcuts for the rest of the editors don't seem to work! Suggestions will be appreciated!

[2018-12-27 23:19] fengfuyun52 opened #3934 "User Profile Edit Issue"
A brief description of the issue goes here.

Reproduction
------------

If you're filing a bug, please describe how to reproduce it. Include as much
relevant information as possible, such as:

### Bug summary

V7.12.4
I want edit user's profile, but the system warning mandatory，please see below shot.Thanks!
### Specifics

### Steps to reproduce

### Expected result

### Actual result

![image](htt

[2018-12-28 00:16] aaronpowell opened #3935 "[v8] Presence of a connection string can cause boot failure"
In v8 if you have a connection string set but haven't configured the DB yet/haven't run the installer, a `BootFailure` will be reported and result in a crash.

The problem comes from here: https://github.com/umbraco/Umbraco-CMS/blob/temp8/src/Umbraco.Core/Runtime/CoreRuntime.cs#L345-L353 (https://github.com/umbraco/Umbraco-CMS/blob/84e0d0571fdbb9b8ddf354bd8e9f088806859345/src/Umbraco.Core/Runtime/

[2018-12-28 08:42] vonbv opened #3936 "Sorting a large number of content causes a time-out error"
We have almost 500 content. Creating a new one puts the new content as the last item under a parent node (sort order = max number in the list). When we sort the child nodes by dragging the item to the top it takes a very long time until the "UpdateSortOrder" results into a 500 error with no details of the error.

Reproduction
------------

Right-click a node, select "Sort", drag the last item to t

[2018-12-28 10:06] emmaburstow commented on #3936
Thanks for this report @vonbv - we'll try to reproduce and then set it as up for grabs if we can. Are you able to tell us which version you're running in the meantime?

Thanks,

Emma

[2018-12-28 10:08] emmaburstow commented on #3934
Hi there @fengfuyun52

Could you tell me a little more about what you are trying to achieve? The user email is mandatory but as long as there is a value in there, it should submit. Are you trying to save a user without having an email value?

Thanks,

Emma

[2018-12-28 10:45] emmaburstow commented on #3922
Hey @pavelshibanov

Thanks for posting this issue.

Just wanted to check what you meant by "Use/define custom section using legacy method." Are you able to explain in a little more detail?

Thanks,

Emma

[2018-12-28 13:51] dampee opened #3937 "Assigning a new file to an existing IMedia with extension SetValue causes exception 'Illegal characters in path' (U4-9904)"
Reproduction
------------

### Bug summary

This has been reported in the [old issue tracker (U4-9904)](https://issues.umbraco.org/issue/U4-9904).

An exception is thrown if you override an existing image using the `MediaService`.  This used to work in order versions (tested 7.4.3).

### Steps to reproduce

* Create an empty umbraco website (v7.12.4)
* Add [this gist](https://gist.github.com/dampe

[2018-12-28 20:03] zpqrtbnk commented on #3935
(sorry for slow response time, vacactions here)

So you have a connection string configured... do you also have a version configured? E.g. "8.0.0" in appSettings? Because then... if you have both a version and a connection string, this means that Umbraco *should* run and not being able to connect to DB is an error. Meaning that for some reason, the DB is not available (server down, or whatever). N

[2018-12-28 20:30] zpqrtbnk commented on #3905
Umbraco.Build 0.2.0 with latest Node (from your PR) has been pushed to MyGet. Happy to see a PR to `build.ps1` that fixes the Node path issue.

[2018-12-29 00:30] aaronpowell commented on #3905
Ace - I'll test it locally and then send through a PR.

[2018-12-29 00:38] aaronpowell commented on #3905
PR linked, tested locally using the new `Umbraco.Build` and it seems all good 😄;

[2018-12-29 00:43] aaronpowell commented on #3935
Thinking a bit more about it, there's a few different problems/scenarios you might want to try and cover.

I'm initially testing with SQL CE, so the error I'm finding is when the DB file doesn't exist on disk (the `install` delierable will create it).

Now if you're using a SQL Server (or MySQL) then it'd be a little different, not connecting to the server is a bit different a problem.

Maybe a fe

[2018-12-29 11:49] zpqrtbnk commented on #3935
So... the use case is,
* a site is "cloned" and its `web.config` already contains both a version and a connection string
* which indicates that Umbraco has already been installed
* but we cannot connect to the database
* which normally indicates a fatal error (ie, boot failed, nothing can run)
* but we have "something" in place, which will deal with the situation and create / populate a database

[2018-12-29 22:30] aaronpowell commented on #3935
Another scenario I thought of is for integration testing. Part of the Chauffeur tools is some [integration testing tools](https://aaronpowell.github.io/Chauffeur/testing-tools.html) and you can use those to bootstrap an Umbraco instance to then interact with the API as though Umbraco is completely running.

In fact, that's how I do all the tests for Chauffeur itself: https://github.com/aaronpowell

[2018-12-29 22:52] aaronpowell commented on #3935
Hmm good point on Umbraco Cloud restores, I'll admit that I don't have a lot of experience with Cloud.

Why not rather than throwing an exception it just sets the status appropriately and then leave the upstream pipeline to work out if Umbraco is "dead" or just limping along.

The main problem is that the method throws an exception which results in the `BootLoader` being skipped. It'd be better if

[2018-12-31 12:03] kjac commented on #3937
PR in #3940

[2018-12-31 12:43] #3937 closed

[2018-12-31 12:49] #3916 closed

[2018-12-31 14:03] #3909 closed

[2018-12-31 14:06] nul800sebastiaan commented on #3923
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/3924

[2018-12-31 14:12] nul800sebastiaan commented on #3905
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/3938

[2018-12-31 14:12] #3905 closed

[2019-01-02 12:46] clausjensen opened #3941 "Public access - single user protection throwing exceptions"
child of https://github.com/umbraco/Umbraco-CMS/issues/3474

When trying to use single user protection (member picker) in public access, I'm getting exceptions thrown in the backoffice.

It *can* actually select a member if you close the errors and then search for a member, so something is working. It however needs to be fixed up to work as expected without errors.

[2019-01-02 12:47] #3737 closed

[2019-01-02 12:47] #3738 closed

[2019-01-02 12:58] clausjensen commented on #3417
@dawoe Hope you had a great Christmas holiday! - did you get around to looking at this one during the holidays or should we consider it open still?

[2019-01-02 14:42] nul800sebastiaan commented on #3936
I'll close this for now as I've also not be able to reproduce in 7.12.4. If you have more information then we're all ears @vonbv. Also take into consideration that you might have custom code running that responds to sorting events?

[2019-01-02 14:42] #3936 closed

[2019-01-02 14:56] kjac commented on #3941
I'll take a look at this.

[2019-01-02 17:04] nul800sebastiaan commented on #3934
Hi @fengfuyun52 ! I've tried to reproduce but with that exact email address and setting my main language to Chinese, I do not see the same error.

If you can still reproduce then please explain in detail how to reproduce the error so we can try to figure it out. Thanks!

[2019-01-02 17:04] #3934 closed

[2019-01-02 20:07] kjac commented on #3941
Ok. This is not an error in public access. It's the member picker that's failing. I can reproduce it on a content type with a member picker property.

I'll submit a fix for it shortly.

[2019-01-02 20:16] kjac commented on #3941
PR in #3944

[2019-01-03 07:52] #3923 closed

[2019-01-03 07:53] nul800sebastiaan commented on #3941
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/3944

[2019-01-03 07:53] #3941 closed

[2019-01-03 08:45] zpqrtbnk commented on #3935
Found how Deploy / Cloud does it - There is a `PreApplicationStartMethod` method which scans the version and connection string, and creates and initializes the database, if required, before Umbraco tries to boot. But I am not sure I like it a lot. I'd much rather implement a way for you to tell Umbraco, before it boots, to *not* die on a failing connection string but assume it must install.

*Thin

[2019-01-03 09:16] aaronpowell commented on #3935
That's why I'd think about having a few more statuses and not throw exceptions, but leave the top-level Runtime to decide what to do.

[2019-01-03 09:53] #3474 closed

[2019-01-03 10:21] aaronpowell commented on #3935
This is how I'd be changing it: https://github.com/umbraco/Umbraco-CMS/compare/temp8...aaronpowell:temp8-3935?expand=1

Using the bitwise OR operator you can join the enum values together so it can represent a `BootFailure` and more specific type of problem at the same time.

[2019-01-03 14:22] #3787 closed

[2019-01-03 14:31] nul800sebastiaan commented on #3787
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/3810

[2019-01-03 14:34] kjac commented on #3865
PR in #3946

[2019-01-03 14:47] OwainWilliams opened #3947 "Add link to create an item under Content menu to 'Settings section'"
I was wondering if it would be helpful to create a link to the settings section within the 'noDocumentTypes' text - "There are no allowed document types available. You must enable these in the _settings section_ under "document types"."

### Currently

The text shows when you haven't setup a document type - usually on a fresh install. If the settings section was a link, a user could just click on

[2019-01-03 14:57] nul800sebastiaan commented on #3947
@OwainWilliams Yes, that would be cool, andddd.... the message "You must enable.. " should only been shown if you have access to the settings section. This is not actually useful to show to people who can't do anything about it! :-)

[2019-01-03 15:19] OwainWilliams commented on #3947
Cool - I'll have a look in to this. I might need some help with the translation files though to know where to put the link!

[2019-01-03 15:37] florisrobbemont opened #3948 "Sorting on non-system properties in media doesn't work"
It's not possible to sort on a property in Media that isn't a system property, We've tracked this down to a specific line in: https://github.com/umbraco/Umbraco-CMS/blob/dd6e764588d22ef2b7bce01fd504ece89834f181/src/Umbraco.Core/Services/MediaService.cs#L512

the `orderBySystemField` variable is not transfered to the next method. Instead the hardcoded value `true` is always used.

[2019-01-03 16:13] nul800sebastiaan commented on #3947
@OwainWilliams Have a look at this translation and note the `%0%` variable: https://github.com/umbraco/Umbraco-CMS/pull/3844/files#diff-afe2906899bcedd656e05bb0e6fb20c4R836

And it's usage here, passing in a value into the variable: https://github.com/umbraco/Umbraco-CMS/pull/3844/files#diff-7736c43054a1c5916c86566898ba3386R24

Not sure if you'd need a variable, but maybe there's a good way to dyn

[2019-01-04 09:30] vonbv commented on #3936
Sorry I was not notified of your replies. We are using 7.12.3. We do not have codes that are subscribed to any Umbraco events.

[2019-01-04 09:37] nul800sebastiaan commented on #3936
Thanks for the reply! Unfortunately I can't reproduce this at all with about 600 nodes in a tree, there may be some performance problems on your end that you could look into, maybe SQL lag or a server that's under high load? Make sure to create an post on the forum to get some more help with this!

[2019-01-04 10:32] vonbv commented on #3936
Okay thanks for looking @nul800sebastiaan

[2019-01-04 10:38] nul800sebastiaan commented on #3922
Hey @pavelshibanov if you have some example code we'd love to see it so we can repro, I'm also not sure what a "legacy custom section" is exactly. :-)

For now I'll close this until we get some steps to reproduce the issue.

[2019-01-04 10:38] #3922 closed

[2019-01-04 10:51] clausjensen opened #3951 "Clicking outside the actions dropdown does not close it"
When having the 'Actions' dropdown shown while browsing a content item, clicking outside the dropdown should cause it to close.

This doesn't work so currently the only way to get rid of it is to either click the 'Actions' button again or use one of the actions in the dropdown or simply navigate somewhere else in the backoffice.

[2019-01-04 11:30] #3540 closed

[2019-01-04 11:54] nul800sebastiaan commented on #3911
Thanks! I've added this to the list of things to discuss with some more people at HQ and will get back to you after that.

[2019-01-04 11:55] #3948 closed

[2019-01-04 12:08] zpqrtbnk commented on #3664
all good (enough) for me now

[2019-01-04 12:09] #3664 closed

[2019-01-04 12:13] nul800sebastiaan commented on #3865
@skidmow As noted in
https://github.com/umbraco/Umbraco-CMS/pull/3946 - the functionality I intended to have is already implemented that way so we won't change anything for now. As for the tree issue, that's on our list for a grand redesign in v8 @skidmow - thanks for the suggestions!

[2019-01-04 12:13] #3865 closed

[2019-01-04 12:20] clausjensen opened #3953 "Item is reported as unpublished while in a published state when having clashing urls"
When having a root node with no hostname assigned, using variant culture - the URL would be "/" for both cultures which causes issues in publishing/routing.

Assigning hostnames/cultures to the node mitigates the issue.

This causes variant child nodes to not be able to get an URL since the parent doesn't seem to be in a published state.

[2019-01-04 12:31] zpqrtbnk commented on #3953
Want to look into `UrlProviderExtensions.GetContentUrls` where we de-duplicate urls... meaning that if two cultures end up having the same url, one of them is removed, ie not returned, and the UI interprets it as "not published" - we should instead detect duplicate urls and return meaningful messages (ie "collides with another culture")

[2019-01-04 12:36] skttl commented on #3911
Could be nice if there was some kind of configurable UI for this, like Fluidity.

As a package dev, you could define which settings you need, and how they should be rendered in the backoffice. Like when you add settings to grid rows etc.

[2019-01-04 13:37] #3539 closed

[2019-01-04 13:43] RobertCopilau commented on #3895
@elit0451, it turns out that we have to rebind the keyboard shortcuts after the animation is done upon closing the editor with the esc key.
The reason is that the editor is not removed until the animation is done.

I found out that a  0 ms timeout around `rebindKeyboardShortcuts();` does the trick.

Also, found out that the esc shortcut does not work on media picker editor - a quick inspection on

[2019-01-04 14:06] #3657 closed

[2019-01-04 14:07] #3649 closed

[2019-01-04 14:07] #3343 closed

[2019-01-04 14:07] #3526 closed

[2019-01-04 14:13] nul800sebastiaan commented on #3937
Just FYI: this method moved to `ContentExtensions` in v8 and I've just applied the same fix there, I forgot during the merge.

[2019-01-04 17:00] bsubasic opened #3954 "Umbraco.Tags built-in property value converter throws null reference exception"
The tags property editor, added on existing document type, throws null reference exception on a published page reload after successfully running ModelsBuilder and building a project (as I do regulary without a problem).

![tagspropertyvalueconverter](https://user-images.githubusercontent.com/15268114/50698328-e5c19380-1044-11e9-8856-bcfd3a2cbe12.jpg)

Reproduction
------------

### Bug summary

Er

[2019-01-05 12:18] kjac commented on #3951
Found the bug... Will submit a PR soon as I have tested it a bit more.

[2019-01-05 18:01] kjac commented on #3951
PR in #3956

[2019-01-06 15:02] bjarnef opened #3957 "Add keyboard support for slider"
I think it would be great to add keyboard suppport when the handle has focus as in the example.
https://refreshless.com/nouislider/examples/#section-keyboard

There is also an discussion here about keyboard support with two handles:
https://github.com/leongersen/noUiSlider/issues/203

I also found this gist to improve the accessibility of noUiSlider.
https://gist.github.com/felixgirault/3fcb18ee02

[2019-01-06 15:32] bjarnef opened #3958 "Opening help panel on content info mess up layout of history"
When opening help panel from e.g. content info tab, the layout of history is a bit messed up.

![image](https://user-images.githubusercontent.com/2919859/50738109-d2dbca00-11d0-11e9-802a-1cadfa927306.png)

![image](https://user-images.githubusercontent.com/2919859/50738049-1255e680-11d0-11e9-9dc5-bc748a6db58d.png)

Adding `flex-flow: wrap;` on `.history-item` improves this a bit.

![image](https:/

[2019-01-06 15:51] bjarnef opened #3959 "Saving media from info tab highlight both tabs"
When saving an media item from the "Info" tab, it seems to jump the "Content" and highlight both after save.

![image](https://user-images.githubusercontent.com/2919859/50738348-30711600-11d3-11e9-9318-fcab9d30e7ce.png)

![image](https://user-images.githubusercontent.com/2919859/50738366-539bc580-11d3-11e9-8588-68e0a4109661.png)

In content section, when using save or publish button it seems to st

[2019-01-06 15:56] bjarnef commented on #3959
The same happens when saving a folder media type, when both tabs are highlighted.

![image](https://user-images.githubusercontent.com/2919859/50738426-feac7f00-11d3-11e9-871b-f0cead04a11b.png)

[2019-01-06 16:24] bjarnef opened #3960 "Set a maximum width of text in tabs"
In v7 a new feature was added the rename listview "child items" tab name to something else. If the text of this (or the name of a content app) is very long, should we limit this to a maximum? Eventually add a tooltip with the full name.

![image](https://user-images.githubusercontent.com/2919859/50738714-965f9c80-11d7-11e9-8ac4-b8bf239060bd.png)

![image](https://user-images.githubusercontent.com/

[2019-01-06 16:29] bjarnef opened #3961 "Layout for install local package needs some adjustments"
The layout of the "install local package" page needs some adjustments, when comparing to the layout in v7.

![image](https://user-images.githubusercontent.com/2919859/50738818-6664c900-11d8-11e9-9570-bcdfadccb1d4.png)

Furthermore I think it would be great to make the entire drag area clickable and not just the link inside this area. This is also valid for the media/image cropper upload.

[2019-01-06 17:47] bjarnef opened #3962 "Adjust disabled toggle"
In languages view in v8 the default language toggle looks disabled because of the following css:

[code]

![image](https://user-images.githubusercontent.com/2919859/50739602-4686d280-11e3-11e9-857f-7c6691f40e9c.png)

I think the `umb-toggle` (button element) should have a disabled state, where browsers doesn't focus on disabled elements (as with a diabled checkbox) when using keyboard tab key and

[2019-01-06 18:10] kjac commented on #3954
I can reproduce this. PR on its way.

[2019-01-06 18:19] kjac commented on #3954
PR in #3963

[2019-01-06 18:22] #3618 closed, assigned to nobody

[2019-01-06 18:24] #3681 closed, assigned to nobody

[2019-01-06 18:29] clausjensen opened #3964 "Starter Kit - updated to support v8"
child of https://github.com/umbraco/Umbraco-CMS/issues/3966

The starterkit needs to be updated to support V8.
No new functionality is to be added in this task.
requires #4254
requires #4255

[2019-01-06 18:30] clausjensen opened #3965 "Starter Kit - package updated to v8 and deployed"
child of https://github.com/umbraco/Umbraco-CMS/issues/3966

The package for the starterkit (updated v8 version) needs to be updated/created and deployed so it can be installed.
requires #4484

[2019-01-06 18:31] clausjensen opened #3966 "Starterkit for V8"

[2019-01-06 19:23] bjarnef opened #3968 "Add nicer confirm dialog when deleting language"
When deleting a language in v8 it use a traditional browser confirm, but it is a bit inconsistent with the rest of the backoffice UI.

![image](https://user-images.githubusercontent.com/2919859/50740597-f7479e80-11f0-11e9-8810-a5366db4df1b.png)

E.g. in media section is use `umb-confirm` directive/component.

![image](https://user-images.githubusercontent.com/2919859/50740605-1e05d500-11f1-11e9-8e

[2019-01-06 22:38] LennardF1989 opened #3970 "Umbraco Deploy tends to import UDA's automatically"
I have seen this particular issue a few times over the last year, but it pestered me three times in a row on a single day few weeks back. So I figured it's time to report it.

When we have a local Umbraco project running, multiple developers are usually working on it at the same time, both code and DB-wise (we have a shared Azure DB instance). It's not uncommon for me to regularly switch branches

[2019-01-07 05:16] Shazwazza commented on #3901
@zpqrtbnk tests are fixed, was a simple change, see e20e570dc86511591aa245123e510eb6239b49d8

[2019-01-07 07:06] kjac commented on #3958
This also applies to several other elements, e.g. the language selector for variant content and a lot of property editors:

![image](https://user-images.githubusercontent.com/7405322/50753663-e3348900-1252-11e9-88ad-17b16c44dbb9.png)

The quickest and probably also safest way to fix this is to turn the help panel into an overlay like the user profile:

![image](https://user-images.githubuserconten

[2019-01-07 07:08] kjac commented on #3959
Hmm... I fixed a similar issue for content at some point. I'll dig into this.

[2019-01-07 07:18] Shazwazza commented on #3901
@zpqrtbnk have also pushed fixes for the issue of rebuilding indexes seeming to timeout.

[2019-01-07 07:32] nul800sebastiaan commented on #3968
Yep, I think `umb-confirm` makes sense here to stick with the pattern of a delete button triggering it.

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-01-07 07:35] bjarnef commented on #3968
@nul800sebastiaan great! 👍 I am also thinking if it would make more sense the to make the button red for delete/critical actions?

[2019-01-07 07:37] bjarnef commented on #3962
@nul800sebastiaan I think the PR can be cherry picked to `dev-v7` except commit https://github.com/umbraco/Umbraco-CMS/pull/3967/commits/0d8450ef45aa74182c562564abf0f506b6bdf8f6

[2019-01-07 07:37] nul800sebastiaan commented on #3970
At the moment, our recommended setup is to use a single database per developer, that's the only way the Cloud workflow will work properly and avoids the issues you've encountered.

For more info, read this answer in the FAQ: https://our.umbraco.com/documentation/Umbraco-Cloud/Frequently-Asked-Questions/#umbraco-cloud-creates-a-sql-ce--localdb-database-for-me-can-i-use-a-shared-sql-server-for-my-de

[2019-01-07 07:37] #3970 closed

[2019-01-07 07:40] kjac commented on #3959
PR in #3972

[2019-01-07 07:45] nul800sebastiaan commented on #3951
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/3956

[2019-01-07 07:45] #3951 closed

[2019-01-07 09:36] #3954 closed

[2019-01-07 10:22] nul800sebastiaan commented on #3959
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/3972

[2019-01-07 10:22] #3959 closed

[2019-01-07 11:41] nul800sebastiaan commented on #3962
Fixed in https://github.com/umbraco/Umbraco-CMS/pull/3967

[2019-01-07 11:41] #3962 closed

[2019-01-07 11:54] nul800sebastiaan commented on #3962
Cherry picked for v7: https://github.com/umbraco/Umbraco-CMS/commit/d53d0b4271110d49dfc5bcaadff1c68ef6506385

[2019-01-07 12:59] nul800sebastiaan commented on #3968
Dunno, will ask around!

[2019-01-07 13:28] zpqrtbnk opened #3973 "Test v7-v8 Migrations"
Test that it is possible to migrate from 7.12 (or 7.13... latest released) to 8 without problems.

[2019-01-07 13:35] clausjensen opened #3974 "Starterkit fails to boot"
child of https://github.com/umbraco/Umbraco-CMS/issues/3966

Fails to boot - as no ApplicationEventHandler (covert to Composer & Component).

[2019-01-07 13:38] clausjensen opened #3975 "Fix Google maps integration in starterkit"
child of https://github.com/umbraco/Umbraco-CMS/issues/3966

Starterkit currently contains TerraType.GoogleMapsV3.dll. Will this work in V8 - if not - what can we do as an alternative?
If nothing - see if we can remove whatever functionality was supported by this 3rd party plugin.

[2019-01-07 13:38] clausjensen opened #3976 "Update views Model.Content. to Model. in starterkit"
child of https://github.com/umbraco/Umbraco-CMS/issues/3966

Update views Model.Content. to Model.

[2019-01-07 13:39] clausjensen opened #3977 "Remove dashboard registration via PackageAction in starterkit"
child of https://github.com/umbraco/Umbraco-CMS/issues/3966

Remove dashboard registration via PackageAction - move into package.manifest instead

[2019-01-07 14:53] clausjensen commented on #3396
I believe this has been fixed. I'm able to get a clientside validation error directly in the publish dialog if I haven't specified a name for a variant - even though the variant is not currently being shown in the UI.

[2019-01-07 15:34] drummerboy46 opened #3979 "Unlock user account doesn't work on 7.12.4"
1. Go to user section, select user (checkbox) that has been locked out. Unlock user - works ok.
2. Go to user section, click on user to go to the individual user screen/page. Unlock user - says user is unlocked but if you go back to the user list page, the user is immediately locked again. Also if you unlock and save user, it immediately re-locks the user on the same page.

[2019-01-07 15:59] kjac commented on #3979
@drummerboy46 I can't reproduce this. Here's what I see:

### Unlock user + reload edit user page

![unlock-user](https://user-images.githubusercontent.com/7405322/50777890-04ba6280-129d-11e9-9699-2e777ac9a3b0.gif)

### Unlock user + save user + reload edit user page

![unlock-user-2](https://user-images.githubusercontent.com/7405322/50777909-10a62480-129d-11e9-8f05-6d2be17d6fe9.gif)

### Unlock u

[2019-01-07 16:39] drummerboy46 commented on #3979
I had a feeling it wouldn't be the easiest to reproduce.

There has to be a scenario that is triggering the bug, because it's happening every time somebody gets locked out of our UAT build.

I'm not quite sure how to come up with something concrete though.

[2019-01-07 17:01] nul800sebastiaan commented on #3979
Unfortunately, same here @drummerboy46 - I can't reproduce the problem. Would be good to have a look in logs, check your browser for js errors and to check what values change in the database for each of these actions.

I recommend you start a thread on the forum to get some more help with this: https://our.umbraco.com

[2019-01-07 17:01] #3979 closed

[2019-01-07 18:03] kjac commented on #3979
Also next time you have an user to unlock, check if `/umbraco/backoffice/UmbracoApi/Users/PostUnlockUsers` is called with the correct user ID.

![image](https://user-images.githubusercontent.com/7405322/50784711-c332b300-12ae-11e9-9b1d-ee10df9bee42.png)

[2019-01-07 20:10] bjarnef opened #3981 "Image cropper needs some styling in v8"
In v8 it seems the image cropper needs some styling compared to how it looks in latest v7 release.

![image](https://user-images.githubusercontent.com/2919859/50790934-9ab3b480-12c0-11e9-98e5-d1b6272ccf6e.png)

[2019-01-07 20:18] bjarnef commented on #3981
When an existing image in media section is removed:

![image](https://user-images.githubusercontent.com/2919859/50791314-bec3c580-12c1-11e9-979c-77bbaf2241f2.png)

[2019-01-07 22:24] bjarnef opened #3982 "v8 - Search in Redirect URL Management is not consistent with rest of UI"
In v8 the search icon is not placed inside the search input as it is in v7.

![image](https://user-images.githubusercontent.com/2919859/50796767-0141ce00-12d3-11e9-9cf6-98733d4deb57.png)

Furthermore this is a bit inconsistent with listview search for content, media and member.

![image](https://user-images.githubusercontent.com/2919859/50796897-5da4ed80-12d3-11e9-85af-760756b66996.png)

![image](

[2019-01-07 22:31] bjarnef opened #3983 "v8 - Hide file extension when media item has file"
When you create a file media item and save this, it looks like this in the media section in grid listview layout in v8.

![image](https://user-images.githubusercontent.com/2919859/50797103-ee7bc900-12d3-11e9-9e00-47d80e794956.png)

When the media item doesn't have any file uploaded or it has been removed, there is no file extension. In this case we should probably hide the extension or something e

[2019-01-07 22:53] JoseMarcenaro commented on #3973
In my case it's not working - database upgrade from 7.12.4 (latest release) to 8.0.0-alpha.58 fails with message:

I'm using the currently latest commit in branch temp8 (436fa261f by Stephan today).
Logs are attached: [Logs.zip](https://github.com/umbraco/Umbraco-CMS/files/2734569/Logs.zip)

[2019-01-08 00:16] bjarnef opened #3985 "v8 - Update slider in image cropper"
In v8 we now have a new slider based on noUiSlider: https://refreshless.com/nouislider/

![image](https://user-images.githubusercontent.com/2919859/50800696-951a9680-12e1-11e9-84a0-263607daa154.png)

I think we can benefit from this and use it as a bit cleaner slider in image cropper instead of a regular HTML5 `input[type=range]` and make it a bit more consistent.

![image](https://user-images.git

[2019-01-08 05:25] mehrdadab opened #3986 "Umbraco.Media throws exception when the website is hosted on Microsoft Azure - An unexpected network error occurred."
We have multiple Umbraco websites hosted on Azure Web Apps. Occasionally we encounter an issue so that everywhere on the website, Umbraco.Media() function throws exception. If we restart the website, the issue disappears.

Reproduction
------------

We cannot reproduce it as it is happening occasionally and only happens on Azure.

### Bug summary
This issue happens randomly, When we have 6 website

[2019-01-08 05:49] Shazwazza commented on #3920
PR: https://github.com/umbraco/Umbraco-CMS/pull/3987

This basically fixes the issues mentioned here https://github.com/umbraco/Umbraco-CMS/issues/3828#issuecomment-448966635

When searching by culture we need to match the culture fields, before it was using the 'field definitions' to determine which fields were in the index which is not correct, instead we just need to ask the index what fields i

[2019-01-08 07:19] bergmania opened #3988 "When saving only one content variant, changes on other dirty variants are cleared"
Child of https://github.com/umbraco/Umbraco-CMS/issues/3695

[2019-01-08 08:58] RobertCopilau commented on #3617
This does not seem to be an issue anymore.

[2019-01-08 08:58] #3617 closed

[2019-01-08 10:00] uSkinned opened #3989 ".eslintignore present in zip package"
.eslintignore present in zip package 7.13.0

[2019-01-08 10:01] uSkinned commented on #3989
.eslintignore present in zip package

[2019-01-08 10:09] clausjensen commented on #3395
This seems to work as expected now.
Unpublishing the last variation shows a notification telling which variant was unpublished. Unpublishing a mandatory variant (and thereby also all other variants) shows the content item has been unpublished.

[2019-01-08 10:09] #3395 closed

[2019-01-08 10:54] uSkinned opened #3990 "All images uploaded to media section have umbracoHeight / umbracoWidth of 200x200px"
All images uploaded to media section have height of 200x200px

[2019-01-08 10:57] bjarnef commented on #3985
We could maybe also re-use the `umb-range-slider` component in this case: https://github.com/umbraco/Umbraco-CMS/blob/temp8/src/Umbraco.Web.UI.Client/src/common/directives/components/umbrangeslider.directive.js

[2019-01-08 11:01] nul800sebastiaan commented on #3990
They don't, but the meta data (`umbracoHeight` and `umbracoWidth` is indeed set to 200x200). I don't think many people use these in a responsive world, but yes should be fixed.

Must have something to do with SVG handling, where we set those to 200x200 by default to make sure we have some kind of height/width.

[2019-01-08 11:09] kjac commented on #3869
I'll give this a go 👍

[2019-01-08 11:32] dawoe commented on #3869
Hi @kjac ,

Keep in mind that sites upgraded from versions pre 7.6 don't have the data-udi attribute, but use the data-id attribute if the image hasn't been changed since the upgrade

Dave

[2019-01-08 11:51] #3990 closed

[2019-01-08 11:51] nul800sebastiaan commented on #3990
Alright, a few things:

- This [`FromStream` method](https://github.com/umbraco/Umbraco-CMS/blob/029eff1f8a611737623338424cd938480303c072/src/Umbraco.Web/Media/Exif/ImageFile.cs#L124) was refactored in 7.13, what got accidentally dropped was the `stream.Read` line
- This meant that the header never returned any information about JPG  or TIFF files, ending up [in returning an invalid file exception

[2019-01-08 12:59] bergmania commented on #3988
Turned out to be only on RTE properties

[2019-01-08 13:00] bergmania opened #3991 "Can't change variant after closing main view in split view"
After closing the main variant in a splitview, we cant change the variant in the dropdown anymore:

![image](https://user-images.githubusercontent.com/1561480/50832928-f8dba880-134f-11e9-816f-0e036b9aa6d6.png)

![image](https://user-images.githubusercontent.com/1561480/50832985-24f72980-1350-11e9-9661-3bb8e39a25f0.png)

**Prerequisites**
- Have two cultures
- Have a variant document type

[2019-01-08 13:09] Raskens opened #3992 "GetPreValuesCollectionByDataTypeGuid()?"
Hi,

Right now we only have access to ApplicationContext.Services.DataTypeService.GetPreValuesCollectionByDataTypeId() and the data types ID:s differs localhost vs Live site.
My suggestion is to use the guid instead of id because they stay the same regardless localhost/staging/live site --> Something like: ApplicationContext.Services.DataTypeService.**GetPreValuesCollectionByDataTypeGuid**()

[2019-01-08 13:12] uSkinned commented on #3990
One instance in particular for us where this is quite a serious issue is that we allow users to upload their own logo to our sites via the CMS. We dont know what size of image they will upload so we use the umbracoWidth and umbracoHeight properties to calculate what the width of an image should be based on a fixed height that we have defined for our design. We then use this to control the height a

[2019-01-08 13:25] drummerboy46 opened #3993 "Recent changes in color picker has caused incompatibility with existing picker"
1. Upgraded project to 7.13 from 7.12.4.
2. Cleared dependency cache (increased revision)
3. Tried to edit a color picker in the back office (currently embedded in nested content) and got following JS error....

TypeError: Cannot create property 'value' on string 'e93f6f'
    at Ub (DependencyHandler.axd

4. Tried creating a new nested content item, picker works as expected.

[2019-01-08 13:27] drummerboy46 opened #3994 "Related links table breaks out of nested content box when links are very long"
Can we add something along the lines of

.umb-nested-content__content .col-link {
    word-break: break-all;
}

To fix this?